[2015-12-18 22:56] nezihyigitbasi commented on #4182
[code]

Then I checked http request logs of `10.203.231.75` for that specific url

[code]

[2015-12-18 23:04] nezihyigitbasi commented on #4182
Looking at `ServerMainModule` I see that the request timeout for the http client of the exchange client is 10s, so all these requests timed out and in total 6 requests timeout summing up to 60s+.

[2015-12-18 23:08] nileema commented on #4182
Looks like there were 6 retries in 10 seconds so each request waited for 10 seconds before it timed out.
On the serverside the last but one column indicates the time to last byte in ms
https://github.com/airlift/airlift/blob/master/http-server/src/main/java/io/airlift/http/server/HttpLogLayout.java

The http log shows that it took more than 10s to process the request.  Which is probably why you go

[2015-12-18 23:09] nezihyigitbasi commented on #4182
Nope we use the default of 10s.

[2015-12-18 23:09] nileema commented on #4182
Ah, update your worker config to set exchange.http-client.request-timeout=20s that should help with the timeouts.

As a side note we need to investigate why it takes 10s to complete that call. This has been on our list of todos. Hopefully we will get to it soon.

[2015-12-18 23:32] nileema commented on #4182
I would also bump up the `scheduler.http-client.request-timeout` if you are seeing timeouts from the `HttpRemoteTask`

[2015-12-18 23:40] nileema opened #4211 "Add columnar processing optimizations for RLE blocks"
Currently the columnar processing optimizations are only applied to `DictionaryBlock`. All these optimizations are also applicable to RLE blocks.

[2015-12-21 07:26] soulmachine opened #4215 "Always return NULL for columns with uppercase letters"
I have a Hive external table based on Parquet files on S3, the table schema is:

[code]

My query is :

[code]

This query can get some rows if run in Hive CLI, but it returns zero rows if run in Presto CLI.

I've set `hive.parquet.use-column-names=true` in file `etc/catalog/hive.properties`.

I guess my problem is caused by this issue [Add support for case sensitive identifiers #2863](https://git

[2015-12-21 19:20] #3901 closed

[2015-12-21 20:18] electrum opened #4218 "Support INSERT for JDBC connectors (MySQL and PostgreSQL)"
This should create a "temporary" table with the same schema as the target table, then all the workers write into the temporary table, and the commit operation does a single atomic `INSERT SELECT`.

[2015-12-21 23:53] electrum opened #4219 "Hive INSERT creates files with the wrong data type"
Presto writes the data to the file as a `bigint` but the partition column type is `int`:

[code]

[2015-12-21 23:57] electrum commented on #4219
A related issue is handling of values that are outside of the Hive type range. For example, if we insert something larger than MAX_INT into a Hive integer column.

[2015-12-22 01:45] yuananf commented on #4218
I can take this one.

[2015-12-22 03:26] bundlking commented on #4014
Cheers for this - I ended up doing the same, definitely not an elegant solution, and documentation is woeful!

[2015-12-22 03:26] #4014 closed

[2015-12-22 09:07] RobinUS2 opened #4221 "Shutdown via REST seems to be ignored"
According to the docs of release 0.128 it is now possible to gracefully shutdown a node ( see https://prestodb.io/docs/current/release/release-0.128.html ). This however doesn't seem to work, see log below.

[code]

The requests do arrive in the http-request.log file
[code]

The server.log file shows no indication of this event happening.

[2015-12-22 09:12] RobinUS2 commented on #4221
The log on this line is nowhere to be found: https://github.com/facebook/presto/blob/fa763cf4fc8ab35824ee6a169a85833ad0adaba4/presto-main/src/main/java/com/facebook/presto/server/GracefulShutdownHandler.java#L75

[2015-12-22 13:20] kokosing commented on #3654
I am going to fix this.

FYI @haozhun
This is related to https://github.com/facebook/presto/commit/a243254462954b207fc85fd0940137e7e12e46a3

clientThread (in this case main) is interrupted when it is setting some stty properties.

[2015-12-22 13:57] kokosing commented on #3654
Here is a fix: https://github.com/facebook/presto/pull/4222

[2015-12-22 17:26] nezihyigitbasi commented on #4221
@RobinUS2 I don't know why you don't see the info log in `GracefulShutdownHandler` (may be a problem with your logging configuration), but the only reason that I can think of why the node is still `ACTIVE` is you may be trying to shutdown the coordinator.

[2015-12-22 19:07] maciejgrzybek opened #4224 "TimeZone should be customizable for connection"
The values for the `Timestamp` column are adjusted to your local time zone on retrieval.  If you retrieve the value of the timestamp while you are accessing it from a different timezone you will get unexpected results.
By default the timezone is set according to the JVM's settings from when your connection to Presto is established.
Presto does not currently allow the timezone setting to be overrid

[2015-12-22 19:19] maciejgrzybek commented on #4224
This would be very useful for external databases while fetching timestamps.
A good example of an issue caused by adjusting a timestamp is a following test case:
[code]

[2015-12-23 00:05] #4172 closed

[2015-12-23 05:11] cberner opened #4226 "Implement EXPLAIN ANALYZE"
This should work similarly to Postgresql (http://www.postgresql.org/docs/9.4/static/sql-explain.html), by executing the query, recording stats, and then rendering the stats along with the plan.
A first pass at implementing this could probably be to render similarly to `EXPLAIN (TYPE DISTRIBUTED)` with the stage & operator stats inserted

[2015-12-23 10:01] RobinUS2 commented on #4221
@nezihyigitbasi That sounds indeed like what is/was happening. Wasn't aware of this behaviour, although it kind of makes sense. I think we should do two things:
- add the behaviour to the documentation
- let the API throw an appropriate exception/error if you try to shutdown a coordinator

[2015-12-23 17:36] cawallin commented on #4224
It is possible to set the TimeZone via the connection: see https://prestodb.io/docs/current/release/release-0.66.html ("The time zone of the session can be set on a per-query basis using the X-Presto-Time-Zone HTTP header, or via the PrestoConnection.setTimeZoneId(String) method in the JDBC driver.")

[2015-12-23 18:50] nezihyigitbasi commented on #4221
@cberner what do you think? I think we should update the docs for sure. But regarding throwing an exception, I remember like that was the case for the initial implementation but then we removed that IIRC for the sake of idempotency.

[2015-12-23 19:35] cberner commented on #4221
I think it's fine to throw an exception if it's the coordinator. It just shouldn't throw an exception for workers. Even of it's already shutting down

[2015-12-23 20:19] cosinequanon opened #4228 "Implement element_at for maps"
It should have the signature `element_at(x<K,V>, K) -> V` and allow you to have queries like this:

[code]

[2015-12-23 21:06] electrum commented on #4228
I'm not sure I like duplicating an existing operator, though it does make it more consistent.

[2015-12-23 21:07] electrum commented on #4228
What is the rationale for not using the operator?

[2015-12-24 00:10] cosinequanon commented on #4228
My initial idea was to call this `map_get`, @cberner suggested to reuse the name. I honestly don't care too much what it is called.

Not sure I understand, are you asking why I can't do `m['foo']`?

[2015-12-24 08:33] zz22394 commented on #4026
I got the same error message with yuanxiang250, when I try to start my Presto server.
config.properties
jvm.config
log.properties
node.properties:
[code]

I got these error messages at a high frequency:
[code]

I can see the presto info by the following url:
http://presto-sso-3.dgov.x.x.x:8080/v1/service/presto/general
result JSON:
[code]

I tried to access /v1/memory API directly, and got 405 err

[2015-12-24 09:59] yuanxiang250 opened #4232 "View is stale immediately after creation"
Presto version is  presto-server-0.123  user
My config ：
connector.name=hive-cdh5
hive.metastore.uri=thrift://HADOOP1:9083
1. I  operated CREATE VIEW  view_nginx_log AS
2. CREATE OR REPLACE VIEW  view_nginx_log AS
   SELECT   ip,...  USER,
   TIME,...line_no
   FROM
   (SELECT  ip, ..  USER,
     TIME,..url_extract_parameter(url,'lineNo') AS line_no
   FROM
     txt_nginx
   WHERE DATE = '20151224

[2015-12-24 17:38] cberner commented on #4026
It only accepts POST requests. This issue is due to a bug in the Jetty HTTP client, which they're fixing. It's purely cosmetic though and shouldn't impact your Presto cluster.

[2015-12-25 02:02] yuanxiang250 commented on #3734
i have the same problem

[2015-12-25 02:15] zz22394 commented on #4026
Thanks for your reply!

[2015-12-25 05:11] zhuqunzhou opened #4234 "How to search the compression big data."
I use `flume hdfs sink hadoop lzo` to write data.But i find that the large data(which size more then 256Kb) can't be searched by presto.

I guess `lzo` is the problem ,but i change the codeC type to `snappy`,but the problem is still exists.then i see the `hadoop-lzo` source code,i find `lzo` split one data to many splits when the data size is more the  `MAX-INPUT-SIZE about 240kb`.

How `presto` c

[2015-12-25 07:35] #4234 closed

[2015-12-28 16:50] #4201 closed

[2015-12-28 16:51] #4209 closed

[2015-12-28 17:00] raghavsethi commented on #3568
Also related to #4075.

[2015-12-28 17:28] electrum commented on #4232
Views work by storing the query text along with the names and types of the result columns for the query. When querying the view, we re-analyze the stored query and throw the "is stale" error if the result columns don't match those stored for the view. Clearly, these should be the same immediately after creating the the view (assuming the underlying table definitions are not changing).

Are you abl

[2015-12-28 17:29] electrum commented on #4232
I notice that one of your columns is uppercase: `SELECT USER`. If you make that `SELECT user` (do that for all columns), does it fix the problem?

[2015-12-28 20:50] #4122 closed

[2015-12-28 20:50] #3860 closed

[2015-12-28 20:54] #4221 closed

[2015-12-28 22:14] nezihyigitbasi opened #4241 "Issue when pasting multiple statements to presto-cli"
When several statements are pasted to presto-cli

[code]

the cli ignores the first character of the pasted statements after the first one

[code]

The commit that introduces this issue is 818ea905bb6254a08c6ccb2a525d8c2d513421a0. In particular [this](https://github.com/facebook/presto/commit/818ea905bb6254a08c6ccb2a525d8c2d513421a0#diff-334041d72912e3d1d2f3d45753818f71R90) seems to be the cause.

[2015-12-29 00:20] haozhun commented on #4076
Fixed in #4112

[2015-12-29 00:20] #4076 closed

[2015-12-29 01:43] sweetfisheric opened #4246 "Question about BlackHoleConnector"
Hello,

I have been working on BlackHoleConnector in order to get familiar with Presto. I am currently trying to implement the insertion for the connector but I have encountered some issues. I rewrote BlackHoleinsertTableHandle into followings

[code]

and implemented beginInsert in BlackHoleMetadata

[code]

If I do 'select *' from a BlackHole table, it still returns zero row. I have looked at th

[2015-12-29 20:56] #4008 closed

[2015-12-29 21:29] #3203 closed

[2015-12-30 00:42] cberner opened #4250 "Join with multiple IN-subquery clauses fails"
I believe this is due to the fact that `analysis.addJoinInPredicates` is called in a loop in `StatementAnalyzer`. This is almost certainly wrong, as it does a `put` into an identity map, ignoring any previous value

[code]

Fails with:
[code]

[2015-12-30 14:36] gundun opened #4253 "testcases failures for presto-redis module on ppc64le"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.14:test (default-test) on project presto-redis: Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.14:test failed: There was an error in the forked process
[ERROR] org.testng.TestNGException:
[ERROR] Cannot instantiate class com.facebook.presto.redis.TestRedisIntegrationSmokeTest
[ERROR] at

[2015-12-30 20:19] electrum opened #4256 "Sporadic failure in TestSerDeUtils"
We see this error occasionally in the CI:

[code]

[2015-12-30 23:44] #2878 closed

[2015-12-31 12:01] HenryCook opened #4258 "Reducing verbosity of http-request.log"
The `http-request.log` is reaching in excess of 1GB in size, and has been unfortunately causing disk space issues.

Is it at all possible to reduce the verbosity of these logs?

I came across this [link] (https://groups.google.com/forum/#!searchin/presto-users/http-request$20log/presto-users/NovxmG9gjco/cE6uv0eS1KEJ) in the presto-users group however it's from 2014.

Any suggestions are welcome.

[2016-01-02 10:51] electrum opened #4259 "Remove identity casts in optimizer"
Redundant identity casts will prevent partition pruning. These need to be removed before the `AddExchanges` optimizer which is when `Metadata.getLayouts()` is called with the constraint (and thus passed to the connector). It also needs to happen before `PredicatePushDown`. `SimplifyExpressions` is probably a good place to put it.

[2016-01-02 18:34] electrum opened #4260 "Uncategorized Hive write error"
[code]

[2016-01-02 19:06] adamjshook commented on #4073
Is this issue for supporting creating ROW data types in the DDL?  Something like:

CREATE TABLE foo (
	id VARCHAR,
	address ROW (street VARCHAR, city VARCHAR, state VARCHAR, zipcode BIGINT)
);

[2016-01-02 19:18] #4260 closed

[2016-01-02 19:54] martint commented on #4073
It's for anywhere a data type can appear per the SQL spec (e.g., cast target, table schema definitions, etc).

Here are the relevant rules describing the syntax.

[code]

Be aware that there are some changes in progress that may affect any work in this area:
https://github.com/facebook/presto/pull/4005
https://github.com/Teradata/presto/pull/88

[2016-01-02 20:14] martint opened #4262 "Add "start" to non-reserved words"
The changes to add transaction support (https://github.com/facebook/presto/pull/4187) broke support for parsing the word `start`. It needs to be added to the non-reserved words.

[code]

fails with:

[code]

[2016-01-02 20:16] martint commented on #4262
We may need to add a few others, too: `transaction`, `commit`, `rollback`, `work`, `isolation`, `level`, `read`, `write`, `only`, `committed`, `repeatable`, `serializable`, etc.

[2016-01-03 08:52] #3654 closed

[2016-01-04 03:32] dengzhhu653 commented on #3380
Support for secured hdfs and hive metastore. https://github.com/dengzhhu653/presto-0.130/blob/master/kerberos-support.patch

[2016-01-04 17:22] cberner commented on #4258
You can disable the log using `http-server.log.enabled=false`, or reduce the max file size with `http-server.log.max-size`. Does that answer your question?

[2016-01-04 17:43] HenryCook commented on #4258
If I were to set it to 100MB for example, would I put `http-server.log.max-size=100MB` in `config.properties`?

Thanks for your help so far.

[2016-01-04 17:45] app-tarush opened #4266 "show tables with hive connector gives error"
On executing show tables command with hive connector configuration it shows the results but gives error also as

[ERROR] Failed to disable interrupt character
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Object.wait(Object.java:502)
	at java.lang.UNIXProcess.waitFor(UNIXProcess.java:396)
	at jline.internal.TerminalLineSettings.waitAndCapture(TerminalLineSet

[2016-01-04 17:47] martint commented on #4258
Yes. You may also want to set `log.max-history` to limit how many files to keep around.

[2016-01-04 17:49] martint commented on #4258
Yes. You may also want to set `http-server.log.max-history` to limit the number of files to keep around

[2016-01-04 17:52] HenryCook commented on #4258
That's great, thanks.

Really appreciate the help.

[2016-01-04 17:52] #4258 closed

[2016-01-04 17:58] app-tarush opened #4267 "Querying in presto gives error logs with results"
[ERROR] Failed to disable interrupt character
java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at java.lang.Object.wait(Object.java:502)
	at java.lang.UNIXProcess.waitFor(UNIXProcess.java:396)
	at jline.internal.TerminalLineSettings.waitAndCapture(TerminalLineSettings.java:339)
	at jline.internal.TerminalLineSettings.exec(TerminalLineSettings.java:311)
	at jline.internal.Te

[2016-01-04 18:29] electrum commented on #4266
Thanks for the report. This issue was recently fixed in bf6c4ef55185754dad4d555c8ccec39ba661e24e and will be in the next release (0.132).

[2016-01-04 18:29] #4266 closed

[2016-01-04 20:00] electrum commented on #4219
This might also be a problem for inserting into a non-partitioned table.

[2016-01-04 20:40] dain commented on #4228
Yes, why not use the array index operator.  This gives the results you expect:
[code]

[2016-01-04 21:07] dain opened #4269 "Document log file configuration in "Administration" section"
Specifically, document the http server log configuration properties:

[code]

Additionally, we should document any properties for the main Presto log files.

[2016-01-04 21:53] dain opened #4271 "Add transaction info to UI"
Specifically, transaction in, visibility level and readonly flag

[2016-01-04 23:12] #4262 closed

[2016-01-04 23:29] raghavsethi commented on #4194
Discussed this with @martint and found that pushing the table write through local union is unlikely to improve performance because of the way the query is scheduled. Any potential performance improvements are offset by the added complexity of changing the optimizer to run after AddExchanges.

[2016-01-04 23:29] #4194 closed

[2016-01-05 00:33] electrum opened #4275 "Raptor shards system table has bogus min/max timestamp for date column"
The table has a temporal column of type `date` with a range of `2015-12-31` to `2016-01-01` but the min/max timestamps are reported as `16:00:16.800` and `1969-12-31 16:00:16.801`.

[2016-01-05 01:34] spragues-trulia commented on #1195
lemme add my desire to see this implemented as well. I'm finding that Pentaho/PDI makes a call to prepareStatment() as well and boom that stops the show right there.

What is interesting though is that DBVisualizer (another 3rd party app) works fine without any problems. So i'm wondering what method it calls to run the query and get the meta-data back 'cuz we know it isn't prepareStatment().  :)

[2016-01-05 03:22] cosinequanon commented on #4228
It would be nice to not have to use syntax in certain scenarios. For example, if you are generating code it makes it easier if everything is can be expressed as a function. More specifically it came up via this https://github.com/prestodb/RPresto/pull/41

[2016-01-05 10:52] albertocsm commented on #1195
in my experience Pentaho does call prepareStatment only if you use queries with parameters @spragues-trulia.
I had that same scenario and what i ended up doing was [implementing](https://github.com/albertocsm/presto/commit/0bc628bd76844834c1ad33e417f9ae35a7829a9e) a very poor client side handling of parametric queries on the jbdc module.
i didnt even considered making a PR with it because AFAIK, t

[2016-01-05 12:32] haitaoyao opened #4279 "failed to write InterleavedBlock with more than 3 elements"
HI, I'm developing a connector, and encountered a strange error when I serialize a Map or Row type column with more than 3 elements inside. Can somebody tell me why this happens? thanks.

Here's the code
[code]
And here's the stacktrace:
[code]

[2016-01-05 12:37] haitaoyao commented on #4279
And if I query for the whole row type column, it just returns 3 elements only in the result. but the row type columns has 6 row fields. so strange.

[2016-01-05 15:34] cawallin commented on #1195
From the Teradata side, our recently released ODBC driver fakes prepared statement support. Namely, the driver wraps SELECT queries with LIMIT 0 to get the metadata, meaning that when prepared statements are used, the driver executes two queries, one with LIMIT 0 and then the actual query.  That means there's a performance penalty, and there also may be cases where the metadata isn't exactly the s

[2016-01-05 16:03] spragues-trulia commented on #1195
Thanks @albertocsm & @cawallin .  Wouldn't you have known it _after_ i updated this ticket i checked my email and that's where i saw Teradata's announcement of the new ODBC driver on the presto-user mail list.  Figures.  We'll give it the 'ol one-two today or tomorrow and report our findings back here.

This workaround might be enough to get things to play nice together!  That'd be a huge first st

[2016-01-05 16:30] pnowojski commented on #4246
Hi,

BlackHoleConnector at the moment doesn't store any data and it wasn't intended to do so. We have created it for performance tests of reading and writing from other connectors, like ```INSERT INTO blackhole.some_table SELECT * FROM hive.tpch100tb.orc.lineitem```, so it's not supposed to store any data.

Implementing real PageSink for Blackhole, that would store inserted data even in memory, wo

[2016-01-05 17:13] app-tarush commented on #4219
Can I take this issue for fixing.

[2016-01-05 17:52] haozhun commented on #4267
I believe this is a duplicate of #3654. And it has been recently fixed in #4222. It will go out in 0.132.

This is a bug in presto-cli (not presto server). Therefore, you need to upgrade you cli.

[2016-01-05 17:52] #4267 closed

[2016-01-05 18:06] app-tarush commented on #4267
Thanks Haozhun.

Regards,
Tarush

On Tuesday 5 January 2016, Haozhun Jin <notifications@github.com> wrote:

[2016-01-05 19:02] dain commented on #4246
Instead of putting this in the black hole connector, I suggest we just add a new `MemoryConnector`.

[2016-01-05 19:22] haozhun commented on #4279
I read both your email in the mailing list and the example you shown above. It doesn't look like there's anything wrong in the code you shared.

Can you please tell us what the declared type of the column is? For example, you can run `describe tableName`.

Additionally, it would also help if you can show more code (context of the example you shared).

[2016-01-05 20:37] sweetfisheric commented on #4246
Thank you for the explanation. I will have a look at Split and SourceProvider.

[2016-01-05 23:43] electrum commented on #4219
@app-tarush Yes. Ideally, we should support writing these types, but that is complicated and has some questions to resolve (such as out-of-range values). The immediate fix for this issue is to check the Hive types in `HiveMetadata.beginInsert()` and fail if the type does not directly map to a Presto type. So, these should not be supported: `BYTE`, `SHORT`, `INT`, `FLOAT`

[2016-01-05 23:54] electrum commented on #4219
This check also needs to be done in the `HiveRecordWriter` constructor since the partition might have a different schema.

[2016-01-05 23:55] electrum commented on #4219
Actually, a better alternative to explicitly checking in `HiveRecordWriter` is to pass in the input column types as a `HiveType` rather than a Presto `Type`.

[2016-01-06 01:45] haitaoyao commented on #4279
@haozhun Thank you .
Here's how I define my row type column:

[code]

And here's how the table looks like:

|Column|Type|Null|Partition Key|Comment|
|----|----|----|----|----|
|record_time|varchar|True|True|time when user recorded. Not null. client time using client timezone.  like: '23:59:10'|
|record_date|varchar|True|True|date when user recorded. Not null. client date using client timezone. lik

[2016-01-06 02:43] haitaoyao commented on #4279
@haozhun I'm using `0.125`, I found that there's some api changes in `0.131`, and I think I need sometime to merge into 0.131.

[2016-01-06 07:48] haitaoyao commented on #4279
@haozhun  I've merged to the lastest `0.131`, still the same error:

[code]

[2016-01-06 11:13] yuanxiang250 commented on #4232
yes fixed  when  i use “ SELECT user ”

At 2015-12-29 01:30:30, "David Phillips" <notifications@github.com> wrote:

I notice that one of your columns is uppercase: SELECT USER. If you make that SELECT user (do that for all columns), does it fix the problem?

—
Reply to this email directly or view it on GitHub.

[2016-01-06 18:16] haozhun commented on #4279
I don't think there's any material change between 0.125 and 0.131 related to `Block` and `BlockBuilder`.

The way you are using LazyBlock doesn't seem right. A lazy block usually represent a column (instead of one row in a column). These two concepts are different: a map, vs a column of only one item which is a map. Their difference is very similar to that between `1` and `ARRAY [1]`.

I had that

[2016-01-06 20:37] electrum commented on #4256
Happened again here: https://travis-ci.org/facebook/presto/jobs/100655796

[2016-01-06 20:39] martint opened #4289 "Create AST node to represent AT TIME ZONE expressions"
Currently, the parser translates them into function invocations of an internal `at_timezone` function. This makes it hard to roundtrip through the parser and formatter, or to synthesize a query that uses this feature by building its AST and running it via the formatter.

[2016-01-06 21:00] raghavsethi commented on #4256
Happens to me too.

[2016-01-07 00:27] #4185 closed

[2016-01-07 01:27] linehrr opened #4292 "performance scaling issue"
in the later release(0.125, 0.131 that we tested), we found that the performance for complex queries downgraded a lot.
looking at the CPU usage on the cloudera monitor, CPU is always low, almost 0 and the query just takes forever.

we used to have a good CPU utilization on the previous releases, like our production release: 0.112, 0.110 etc.

here is our configuration on the presto server when we

[2016-01-07 03:34] haitaoyao commented on #4279
@haozhun I see. It worked after I change the load strategy. Thank you very much.

[2016-01-07 03:34] #4279 closed

[2016-01-07 11:58] Liorba commented on #3994
I ran across the same issue exactly.
presto 0.125
hive 1.00
emr 4.2.0

any updates?

[2016-01-07 12:23] kyleburke commented on #3994
Unfortunately, I have no update. I had to move on from Presto. My hive service seemed to have been "corrupted" by Presto. Presto doesn't seem to play well with the version of Hive on  EMR.

[2016-01-07 12:45] mandusm commented on #3994
@kyleburke , can you give some more detail in to how your hive service was "corrupted" ?

[2016-01-07 15:25] spragues-trulia commented on #1195
hi guys we're still working on this.   we managed to get the iODBC command line test utility to communicate with presto in fine order but still struggling a little with Pentaho/PDI using it.

need to study this a bit more to make Pentaho aware of this new odbc.ini file as that's not quite clear at the moment where Pentaho presently picks up its odbc config information.  we'll get there just need s

[2016-01-07 15:32] spragues-trulia commented on #1195
and i just found this: http://wiki.pentaho.com/pages/viewpage.action?pageId=14850644 .  I think engaging Pentaho support might be the prudent next move (for us) before we spend more time going down the rabbit hole.

[2016-01-07 20:54] martint opened #4297 "Add session property for MetadataQueryOptimizer"
Currently, the optimizer can only the activated via a global configuration option. We should add a session property to be able to turn it on for specific queries.

[2016-01-07 21:35] linehrr commented on #4292
specifically when v0.125 and v0.131 query stuck for a long time, if we look at the threads status, 99% of the threads are been marked as BLOCKING.
so maybe there is a query planning issue in the coordinator.

[2016-01-07 21:41] cawallin commented on #4292
Can you give us some examples of queries that you're running?

[2016-01-07 21:50] linehrr commented on #4292
here is one of the queries that had slow run in new release but fast run in previous release.
table parsed_logs is partitioned by type and data is in RCFile.
parsed_logs is about 7TB of size.
and those join tables on the right side are about 1-10MB.

[code]

[2016-01-07 22:33] KBP-TDC commented on #4292
Could you please provide us with an output of EXPLAIN? Comparing the new one to the old one (before the upgrade) may reveal the issue.

[2016-01-07 22:59] linehrr commented on #4292
they do have difference.
especially at the join strategy..
new one seems to hash join and old one does not.

old explain:
[code]

new explain:
[code]

[2016-01-08 00:40] #2523 closed

[2016-01-08 00:40] nileema commented on #2523
This is fixed.

[2016-01-08 07:38] pnowojski commented on #4292
@linehrr from Presto 0.116 `distributed-joins-enabled` option is set by default to `true`. We had very similar (or maybe exactly the same) issue as you have described and it was solved by setting this option back to `false`.

Probably the problem is that this queries requires lots of RAM to run using distributed joins and Presto coordinator is not willing to assign all of the available memory to s

[2016-01-08 17:03] sopel39 commented on #4226
@cberner are you going to work on this? If this is not a priority task for you then we would be happy to to work on this.

[2016-01-08 17:19] cberner commented on #4226
Yep, I've got a working prototype (https://github.com/cberner/presto/tree/explain). This is the first step: https://github.com/facebook/presto/pull/4300

I'd love to collaborate on it, as there are tons of improvements that could be made which I probably won't have time for though.

A good one to start with (which shouldn't conflict too much with my commits) would be refactoring the way that the s

[2016-01-08 20:01] linehrr commented on #4292
thanks @pnowojski , your answer solved the problem.
the query speeds up to normal.
however we've noticed that presto crashes more in the newer release?
have you encountered the similar issues?

err msg said:
[code]

[2016-01-08 20:11] KBP-TDC commented on #4292
Not really. Any chance you have:
- more data than previously
- more concurrent queries
or anything else along these lines?

Are you observing very heavy CPU load on your nodes?
Is it possible for you to increase the amount of RAM allocated to Presto?

[2016-01-08 20:39] linehrr commented on #4292
hi @KBP-TDC ,
we are observing heavy load on the CPU which is a good thing meaning CPU utilization is high.
we have limited RAM config some servers only have 16GB RAM, some servers have 32GB.
increase the RAM won't be done easily because we have hundreds of machines.
so is there any way to let Presto run at the low RAM config without crashing?

[2016-01-08 20:47] KBP-TDC commented on #4292
One way to avoid overloading Presto is to limit the number of concurrent queries by configuring Presto Queues (https://prestodb.io/docs/current/admin/queue.html). Please let us know if this helps in any way.

[2016-01-08 21:06] miniway commented on #4292
We've also noticed much more PAGE_TRANSPORT_TIMEOUT and TOO_MANY_REQUEST_FAILED after upgrading 0.128 to 0.131. Once or twice in a week before, but one or twice in an hour now. We also feel like having more frequent and longer GC time. So we have to rollback to 0.128.

[2016-01-08 22:04] linehrr commented on #4292
exactly agreed with @miniway .
many more errors seem to happen only in the recent release.
old releases seem to be much more robust.

@KBP-TDC
we actually had the queue config, max allowed running jobs in parallel is only 2.
and also, whenever Presto crashed due to OOM.
kernel msg says:
[code]
so looks like the kernel killed the process.
and actually by looking at the dstat, I don't see mem was to

[2016-01-08 22:10] cberner commented on #4292
I'm investigating a possibly related issue, where the http server in the worker takes 30+ secs to send responses

[2016-01-09 00:03] cberner commented on #1055
Fixed by: https://github.com/facebook/presto/pull/3980

[2016-01-09 00:03] #1055 closed

[2016-01-09 00:05] #1609 closed

[2016-01-09 00:08] cberner commented on #1664
Looks like we have `from_utf8` now. Shall we close this?

[2016-01-09 00:10] #2263 closed

[2016-01-09 00:11] #2256 closed

[2016-01-09 00:12] cberner commented on #2032
Seems to be fixed

[2016-01-09 00:12] #2032 closed

[2016-01-09 00:14] #2475 closed

[2016-01-09 00:16] #2611 closed

[2016-01-09 00:16] #2604 closed

[2016-01-09 00:17] cberner commented on #3080
See: https://github.com/facebook/presto/issues/2421

[2016-01-09 00:17] #3080 closed

[2016-01-09 00:19] cberner commented on #2882
Done: https://github.com/facebook/presto/pull/3336

[2016-01-09 00:19] #2882 closed

[2016-01-09 00:21] #3145 closed

[2016-01-09 00:22] #3481 closed

[2016-01-10 00:26] martint opened #4310 "Add information about acquired/waiting-on permits to UI"
The query detail page should list all the permits the query has acquired or is waiting to acquire (if it's currently queued).

In the main page, queries that are in the queued page should show the permit they are waiting to acquire.

[2016-01-11 06:54] sopel39 commented on #4226
@cberner OK, I will look at this refactor

[2016-01-11 17:02] sopel39 commented on #4226
@cberner Do you think that merging `PlanNodes` nodes in `PlanOptimizer` is the natural place for it? At first it looks so, but wouldn't such `ScanFilterProjectNode` be artificial entity only for the sake of stats? I wonder if that change wont introduce additional complexity in other parts of code (e.g. rewrite rules). Maybe it's better to just account for it when formatting explain?

FYI: @kokosin

[2016-01-11 17:14] cberner commented on #4226
Ya, I think that's the right place for it. Discussed the design with @martint, and we'd like to move away from having optimizations like this in the `LocalExecutionPlanner`. Instead they should be done in optimizers and then `LocalExecutionPlanner` should just create the necessary factories.

[2016-01-11 17:22] martint commented on #4226
@cberner, however, I'm not sure I would do it within the current optimization framework. This is the direction we're going with the new optimizer, but making these kinds of changes to the current one would add a lot of unnecessary complexity, as @sopel39 pointed out.

[2016-01-11 17:45] cberner commented on #4226
@martint it could be run last, so that we don't need to add handling to predicate push down...etc. I'm fine waiting until the new framework too though

[2016-01-11 20:00] dain commented on #4292
I see a number of changes or problems in the explain plans:

1) As pointed out by others, the old plan uses distributed joins and the newer one use broadcast joins

2) The new plan contains many occurrences of "Filter[false]”, and since these are all inner joins, this query should return no results
There should be an optimizer to fold "Filter[false]” to an empty VALUES node, and another optimizer

[2016-01-11 20:59] linehrr commented on #4292
@dain:
thanks for the explanation.

what parameter was this exactly?
we have a bunch of timeouts right? so which one specifically?

[2016-01-11 22:17] cberner commented on #4226
@sopel39 something else you could work on is tracking peak memory usage for stages. We have this already at the query level (see `QueryStateMachine`), but I don't think we have it for stages. If we track it for stages we can then render it as part of the EXPLAIN ANALYZE to indicate which stage of the query took the most memory

[2016-01-11 22:30] cberner commented on #4150
Instance functions fix this: https://github.com/facebook/presto/pull/4199

[2016-01-11 22:30] #4150 closed

[2016-01-11 23:57] nileema opened #4314 "Columnar processing in PageProcessor should skip non-deterministic projections"

[2016-01-12 10:36] sopel39 commented on #4226
@cberner sure, I will look at it

[2016-01-12 11:57] sopel39 commented on #4226
@cberner so are you going to finish working on `explain analyze` without displaying stats for all `PlanNodes` (e.g. not for Filter and Scan nodes, but only for Project node since that can be deduced)? We will need `explain analyze` when working on subqueries to see which plan is selected and how it performs?

[2016-01-12 14:55] sopel39 opened #4317 "Connector properties are not propagated to Connectors in JdbcTable"
I have added support for decimal on `BigInteger` in TPCH connector. To do so, I have added additional schemas. Some of the schemas are `sf*_custom_decimal`. This schema contains TPCH tables with proper decimals that have precision and scale. Precision and scale can be specified by session properties (`custom_decimal_precision` and `custom_decimal_scale`). The problem is that those properties are n

[2016-01-12 16:19] electrum commented on #4317
Put the decimal precision and scale in the table names, just like the TPCH scale factor.

[2016-01-12 16:26] sopel39 commented on #4317
Yes, there are schemas with predefined precision and scale, but it is also very useful (e.g. when benchmarking) to be able to specify it at runtime. It's much easier than changing it in code, compiling and re-uploading Presto to cluster. I could make more predefined precision and scale pairs, but then the number of schemas in TPCH would be large. Maybe that's not a problem, but it would definitely

[2016-01-12 16:58] electrum commented on #4317
TPCH already has dynamic tables. You can query sf123 for example.

[2016-01-12 17:07] electrum commented on #4317
Sorry, I meant to say schema name, not table name.

[2016-01-12 17:25] cberner commented on #3171
Oh sorry, @zhenxiao didn't see that you were already working on this one. I think the right way to fix this is https://github.com/facebook/presto/pull/4320

[2016-01-12 18:12] cberner commented on #4226
Yes, I'm going to just skip the stats for any node where it's missing

[2016-01-12 18:20] zhenxiao commented on #3171
@cberner sure. I will close the PR.

[2016-01-12 20:19] oggy opened #4321 "Pre-Gregorian date strings parsed as Julian"
Or that is my best interpretation of what I'm seeing, which is that around certain dates, casting a string to a date, and selecting the result, gives unintuitive results.

[code]

The following day is fine:

[code]

Note the 14th parses as the 4th, and all preceding days have a similar offset until Feb 29 1500, when the gap shrinks by another day. Both these dates represent anomalous moments in mo

[2016-01-12 20:41] electrum opened #4322 "Improve certain types of insert query mismatched column type errors"
Some cases that could be improved with specialized errors:
- Insert query has additional columns
- Insert query is missing columns
- Column list lengths are identical but at least one position has mismatched types

The error message should include the column names of the target table and the positions that have a mismatch. If applicable, the error location could be set to the first mismatched colu

[2016-01-12 20:45] martint commented on #4322
Any fixes for this should probably go in after the parametric varchar pull request (https://github.com/facebook/presto/pull/4316) goes in, which has some changes to the type validation logic of inserts.

[2016-01-12 21:36] cosinequanon commented on #4322
For the last one it would be more helpful if the error message told you which positions had the incorrect types

[2016-01-13 03:02] electrum opened #4328 "Do not allow calling procedure in read-only mode"
`CallTask` should have an additional check to prevent running a procedure in read-only mode, since the expected use of procedures is to modify some system or connector state.

This probably requires another method `isReadOnly()` added to `QueryStateMachine` that delegates to some additional methods in `TransactionManager` and `TransactionMetadata`.

[2016-01-13 03:06] electrum opened #4329 "Add header to allow setting read-only mode for autocommit"
We should have a header named something like `X-Presto-Read-Only` that starts the autocommit transaction in read-only mode. Clients can use this to improve safety and performance if they will only be running selects. The request to `StatementResource` should fail if this is set during a transaction or is used with `START TRANSACTION`.

[2016-01-13 04:21] jxiang opened #4330 "airlift version change breaks build"
[ERROR] presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java:[174,187] incompatible types: com.facebook.presto.operator.MockExchangeRequestProcessor cannot be converted to io.airlift.http.client.testing.TestingHttpClient.Processor
[ERROR] presto-main/src/test/java/com/facebook/presto/operator/TestExchangeClient.java:[247,187] incompatible types: com.facebook.presto.operat

[2016-01-13 04:29] electrum commented on #4330
Do you have the latest Presto version that uses 0.123 (not snapshot)?

[2016-01-13 04:36] electrum commented on #4330
It builds in Travis: https://travis-ci.org/facebook/presto

Please reopen if you still see issues with the latest master.

[2016-01-13 04:36] #4330 closed

[2016-01-13 04:36] jxiang commented on #4330
No. I only have the latest snapshot version. By the way, after I moved back to commit 95883b0befb55d7, presto-main builds fine again.

[2016-01-13 04:40] martint commented on #4328
I don't think that's not generally true for sql procedures as described in the SQL standard, which allows for procedures that return values but don't allow modifying data.

[2016-01-13 04:43] martint commented on #4329
What's the use case? Can't those clients just use regular transactions in read-only mode if they want that advanced behavior?

[2016-01-13 06:01] electrum commented on #4330
Update to 8cd98206

[2016-01-13 06:03] electrum commented on #4328
When we implement that, we could allow procedures to specify if they should allow read only. But since they can't return values, it is best to assume they modify state.

[2016-01-13 06:12] electrum commented on #4329
We actually want to set this flag for most clients. In many environments it should be the default.

For example, reporting interfaces will always be reading, never writing. Read only mode can provide some safety if someone makes a report that does "drop table" or has a SQL injection vulnerability.

Having a header keeps it simple and avoids the two extra round trips to start and end the transactio

[2016-01-13 06:16] electrum commented on #4329
Another consideration is JDBC allows setting read only with autocommit.

[2016-01-13 12:25] sopel39 commented on #4317
OK, I did as you described

[2016-01-13 12:25] #4317 closed

[2016-01-13 14:39] jxiang commented on #4330
Cool. That works. Thanks.

[2016-01-13 17:48] electrum commented on #3961
Support for comments on columns: https://github.com/facebook/presto/pull/4296

[2016-01-13 18:43] martint opened #4333 "Make retry policy when reading/writing to HDFS adaptive"
Queries that have been running for longer (i.e., non-interactive) should do more retries when encountering errors reading and writing to HDFS.

[2016-01-13 18:45] martint opened #4334 "Need way to monitor progress for insert queries via JDBC"
The `execute` call in the JDBC driver blocks until the query completes. We need a way for the client to monitor progress.

[2016-01-13 21:24] rschlussel opened #4338 "Support for prepared statements"
# Overview

Prepared statements are a way to save query plans to reuse for other queries in the session.  They are a part of the sql standard and are used both through ODBC/JDBC drivers and in embedded sql for convenience and to save time in parsing and planning when a user wishes to run the same or similar queries many times in a row.

We'd like to add support for prepared statements in Presto.

[2016-01-13 21:33] rschlussel commented on #4338
FYI: @petroav @mattsfuller

[2016-01-14 09:40] sopel39 commented on #4226
@cberner Peek memory for stages in: https://github.com/facebook/presto/pull/4339/. Do you have some other features on your mind?

[2016-01-14 17:49] cberner commented on #4026
This should be fixed. Let me know if you continue to see it

[2016-01-14 17:49] #4026 closed

[2016-01-14 22:17] raghavsethi opened #4343 "Transient IndexOutOfBoundsException with columnar_processing_dictionary=true"
The first time I ran the following query, I received an INTERNAL_ERROR:

[code]

These session properties were set:
[code]

Stack trace:
[code]

[2016-01-14 22:51] cberner commented on #4343
This is probably the race I fixed in https://github.com/facebook/presto/pull/4342
Can you test it with master?

[2016-01-14 22:53] raghavsethi commented on #4343
I can try, but the error was transient anyway. We can close this, and reopen if we see it again.

[2016-01-15 00:36] electrum opened #4344 "Add Raptor system tables for table properties"
We need to expose temporal column, ordering columns and bucketing information. Need to think about the schema for this.

[2016-01-15 16:57] electrum opened #4347 "Pre-compile regex patterns in BinaryLiteral"

[2016-01-15 17:12] electrum commented on #4338
This proposal is great. Using SQL for prepared statements is much elegant than anything I had considered and the proposal itself is well written. Nice work.

I'm not sure that caching prepared plans is necessary or even feasible. Today, the time and resources used by planning are usually orders of magnitude smaller than execution. We also need to re-run all the optimizers after the bound values ar

[2016-01-15 17:55] rschlussel commented on #4338
That makes sense. So I'll save the AST of the prepared query instead.

[2016-01-15 19:30] harunurhan commented on #4328
@electrum
Isn't having a transaction the only way to set read-only true? If yes procedures can't already be called in a transaction.
Sorry If I am missing something so obvious.

[2016-01-15 19:31] nileema opened #4348 "Batch database updates for ShardCleaner"
Instead of doing a db operation for each deleted shard batch it up.

[2016-01-15 19:57] electrum commented on #4328
@harunurhan Thanks, you're right, this isn't needed until we support read-only for autocommit mode. I'll update #4329 to mention procedures.

[2016-01-15 19:57] #4328 closed

[2016-01-15 19:59] electrum commented on #4329
When this is implemented, we should not allow calling procedures in read-only mode, since the expected use of procedures is to modify some system or connector state.

`CallTask` needs a check for this, which probably requires another method isReadOnly() added to QueryStateMachine that delegates to some additional methods in TransactionManager and TransactionMetadata.

[2016-01-16 02:45] raghavsethi commented on #4091
Merged #4293.

[2016-01-16 02:45] #4091 closed

[2016-01-16 03:01] miniway commented on #4292
@linehrr
[code]
seems to be the related parameters.

For us, when timeout occurred, even 204 status response took more than 30secs. There's no full GC at all.

[code]

[2016-01-16 05:04] martint commented on #4338
I see some differences from what the SQL standard specifies. For instance, the syntax for DEALLOCATE is supposed to be:

[code]

What section of the spec defines PREPARE? In Part 2, the syntax for it is described as:
[code]

but that doesn't make much sense to me, so I imagine it's extended in another part of the spec.

[2016-01-16 05:56] electrum commented on #4338
The spec has this chain (with other rules elided):
[code]
These seem to be intended for use in routines or SQL embedded into other languages. For example, this chain:
[code]
They are also used as the executed action of triggers

So the question seems to be if they are intended to be used as "normal" SQL statements, or what the spec calls "Direct invocation" in *4.33.1 Classes of SQL-statements*, a

[2016-01-16 06:30] martint commented on #4338
But where does it say that the syntax is `PREPARE <name> FROM <query>`? If you look at the rule I copied above, you'll see it references `<SQL statement variable>`, which resolves to

[code]

[2016-01-17 18:25] cberner commented on #4226
Great! Not at the moment. What do you guys need displayed in the EXPLAIN ANALYZE plan?

[2016-01-18 04:12] electrum opened #4357 "Run all Raptor tests against H2 and MySQL"
If we're going to support multiple databases for metadata, we need to run the tests against all of them. We need a way to do this with TestNG that still works with IntelliJ IDEA's test runner.

[2016-01-18 04:19] electrum commented on #4333
This is difficult to do everywhere, especially for file formats that use the Hive readers. We actually already have retry logic in `HiveUtil.createRecordReader()`. I think these two places would cover most cases:

* File opens in `HivePageSourceProvider` on the call to `pageSourceFactory.createPageSource()` (no need to wrap `getHiveRecordCursor()` as the important implementations already have retr

[2016-01-18 10:19] sopel39 commented on #4226
I think displaying what is currently visible on Presto page would be great plus CPU usage, network tx/rx, disk ios.

FYI: @pnowojski @losipiuk

[2016-01-18 10:42] sopel39 commented on #4226
@cberner Would you like code review on your commit: https://github.com/cberner/presto/commit/4cba1380102c1da7c01f0c273a1d5b83577450fe?

[2016-01-18 12:39] harunurhan commented on #4347
I'd like to take this one but I have a question;
what you mean is that use Pattern.compile, then use compiled pattern to perform match and replace on the string, right?
If yes, I don't see how this makes difference here, since we are not able re-use compiled pattern (used only once)
@electrum

[2016-01-18 16:21] rschlussel commented on #4338
In my reading ``prepare <name> from <query>`` is a subset of the possibilities in <SQL statement variable>, where <name> is  a literal used to identify the query. In any case, for things that aren't embedded sql engines, none of the other possibilities for <SQL statement variable> make sense.

This syntax seems to make the most sense and aligns closely with standard syntax.  As noted by @electrum,

[2016-01-18 17:02] rschlussel commented on #4338
To clarify my reasoning for choosing this syntax-  It's true that the SQL syntax for prepared statements in the standard was developed to be used in embedded sql, and so it doesn't translate 100% cleanly, but mostly it does, and so I don't see a good reason to make up our own syntax beyond necessary adaptations to do the same thing.

[2016-01-18 19:21] martint commented on #4338
Oh, nothing wrong with using SQL for this, especially if it's contemplated in the standard (in some form). I was just curious about how what's in the standard works given my comment about the rule for `prepare statement` not having a reference to a subquery. I've seen similar stuff with sql invokables, where the rules in Part 2 are non-sensical without the extensions in other sections (e.g., accor

[2016-01-18 19:29] linehrr commented on #4292
@miniway thank you so much.
we are going to test to tweak this parameter to see if we get better success rate.
I will post my findings back to this thread.

[2016-01-18 19:52] electrum opened #4358 "Use same window operator for identical window specifications"
Consider a simple query like this:

[code]

It produces a plan like this:

[code]

These could be collapsed to use a single operator. In fact, this already supported on the execution side: `WindowNode` already takes a list of function calls.

[2016-01-18 20:07] nezihyigitbasi commented on #4292
@linehrr I think #4182 is related and in that issue there is a number of recommendations to get rid of this "Encountered too many errors ..." problem. Please give them a try too and let us know.

[2016-01-18 20:10] electrum opened #4359 "Use same window operator for same partitioning and ordering"
Consider a query like this:

[code]

It produces a plan like this:

[code]

These could be collapsed to use a single operator. This will require execution changes to `WindowNode`, `WindowOperator`, `WindowPartition`, etc., to combine the frame with the function call, rather than using a single frame for the entire node.

This should probably build on #4358.

[2016-01-18 20:12] soulmachine opened #4360 "Presto query sometimes returns 0 rows and sometimes returns some rows"
This is more like a beginner question.

I run the same query a few times, sometimes it returns 0 rows, and sometimes it returns some rows.

I'm using Presto 0.128.

My query is:

[code]

I checked the log and there are two exceptions, one is:

[code]

Another exception is:

[code]

Is this phenomenon normal or not ?

[2016-01-18 20:14] martint commented on #4360
That should never happen for deterministic queries. Can you paste your query?

[2016-01-18 21:42] electrum opened #4361 "Performance regression in map dereference"
Between 0.132 and 0.133, queries with a map dereference are over 10x slower. The map type is `map<varchar, varchar>`.

[2016-01-18 21:46] electrum commented on #4347
Yes, just introduce some constants for the `Pattern.compile(...)` calls. The patterns are constant and used in every constructor invocation.

[2016-01-18 22:01] linehrr commented on #4292
@nezihyigitbasi thank you, that's very helpful.
however, do you know any place that has a detailed explain on each of the presto config parameters?
especially for those ones in config.properties?

[2016-01-18 22:41] nezihyigitbasi commented on #4292
@linehrr I usually go back to the source code to understand what a parameter is doing (unless it's documented in presto docs)

[2016-01-18 22:47] linehrr commented on #4292
@nezihyigitbasi
I see, Presto doc about those parameters is pretty poor.
and lots of those are not even mentioned in the doc...
I think we need a better doc for Presto, so that ppl can fully take advantage of tuning.

[2016-01-19 15:09] KBP-TDC commented on #4292
@linehrr Good feedback! We do have plans to improve it. One challenge is to expose to much of implementation details and should not be user-visible. We will try to find the right balance (our Tuning section https://prestodb.io/docs/current/admin/tuning.html is definitely not enough).

[2016-01-19 16:18] reikje opened #4364 "Add support for cassandra 3.+"
To be able to work with Cassandra 3.+ the `cassandra-driver-core` dependency need to be upgraded in `presto-cassandra`. Currently there is only a release candidate (3.0.0-rc1). I tried building presto against it but there are some breaking changes.

`com.datastax.driver.core.ColumnMetadata` - removed `getIndex()` method
`com.datastax.driver.core.LocalDate` - removed `getTime()`
`com.datastax.drive

[2016-01-19 16:39] electrum commented on #4364
Does the new driver work with old clusters?

[2016-01-19 16:47] reikje commented on #4364
Yes.
Am 19.01.2016 5:39 nachm. schrieb "David Phillips" <notifications@github.com

[2016-01-19 17:02] electrum opened #4367 "Fix equals / hashCode / toString for ShowSchemas"
`catalog` should be used by all of these methods but is not

[2016-01-19 18:47] cberner commented on #4226
Not yet. It still has a bunch of bugs (doesn't work on CREATE TABLE AS SELECT or INSERT at the moment). I'll put up a PR when it's ready though, and then ya, that'd be great!

[2016-01-19 18:51] cberner commented on #4226
Network tx/rx would definitely be cool! We don't track that at all right now, so if you want to work on that the place to start would be to figure out how to track it in the Exchanges and SharedBuffers. Let me know if you need pointers on where to start

[2016-01-19 19:43] dain commented on #4226
It will be much easier to simply sum the page sizes moving thought the exchanges than to attempt to measure network traffic.

[2016-01-19 19:57] nezihyigitbasi opened #4370 "[StatementResource] Properly handle exceptions while handling blocks/types"
See #4369

[2016-01-19 20:04] sopel39 commented on #4226
OK, thanks for hint.

[2016-01-19 21:40] linehrr commented on #4292
adding parameter:

does help us on the query successful rate.
our cluster spec:

less crash is observed after setting change.

[2016-01-19 21:40] #4292 closed

[2016-01-19 21:44] linehrr opened #4374 "error msg print into STDOUT instead of STDERR"
this can be easily reproduced by killing the Presto coordinator while the query is running.
error msg then will be printed into the STDOUT and escape the check of the STDERR, which makes our custom controller thinks the query runs successfully and stores the results.
instead, it failed and the result data is just something like:

we tested this on v0.131 and v0.132
no clue if this was fixed in v0.

[2016-01-19 21:44] #2013 closed

[2016-01-20 03:29] electrum commented on #4374
Are you using --execute to run the query?

[2016-01-20 03:31] linehrr commented on #4374
@electrum
yes we always use --execute "<query>"
does this issue only happen on --execute ?

[2016-01-20 21:13] bradhannigandaley commented on #2452
This appears to work for `bigint` fields but not for `double`s. e.g. I have a `double` field called `height`, and the query `SELECT approx_percentile(height, ARRAY[0.25,0.5,0.75])` results in the following error:

```Unexpected parameters (double, array<double>) for function approx_percentile. Expected: approx_percentile(bigint, double) , approx_percentile(bigint, bigint, double, double) , approx_

[2016-01-21 00:04] udayabaski opened #4386 "Multiple entries with same key:"
Hi,

   I use presto oracle plugin.

I connect to the command line as below.

./presto --server localhost:8080 --catalog oracle --schema <schema_name>

presto:<schema>> select \* from <table>;
Query 20160120_234810_00002_mpatk failed: Multiple entries with same key: addr_type_cd=JdbcColumnHandle{connectorId=oracle, columnName=ADDR_TYPE_CD, columnType=varchar} and addr_type_cd=JdbcColumnHandle{conn

[2016-01-21 02:07] cberner opened #4389 "Planner generates poor plan for CROSS JOIN UNNEST on UNION ALL"
[code]

Results in the aggregation being processed in a single machine

[2016-01-21 02:12] martint commented on #4389
What aggregation? You mean the unnest operation?

[2016-01-21 02:33] cberner commented on #4389
No, I mean the GROUP BY. You get this plan:
[code]

[2016-01-21 02:37] cberner commented on #4389
I found the problem. In `AddExchanges` we have this line:
[code]
in `visitUnion`, and then the body of the `if` generates a SINGLE plan. This means that even if the preferred property is "distributed", but it's not a hash distribution then an undistributed plan is chosen.

[2016-01-21 06:48] cberner commented on #4256
For reference here's the test that failed for me:
[code]

[2016-01-21 08:49] pnowojski opened #4391 "Presto monitoring"
We are trying to figure out best way to track/monitor some performance metrics of our Teradata/Presto cluster. For simplicity we can now assume that we are talking only about presto cluster. On our testing environments we have setup collectd to capture jmx stats and store them into graphite, from where those stats are being read and displayed by grafana. It's a nice setup, gives great graphs, but

[2016-01-21 09:09] pnowojski commented on #4391
I allow myself to paste @martint 's answer from private message:

[2016-01-21 09:34] yuananf commented on #4391
I believe this will be helpful https://github.com/xerial/presto-metrics

[2016-01-21 13:14] mishadoff commented on #2253
Interested as well

[2016-01-21 15:37] pnowojski commented on #4391
@yuananf presto-metrics is just an overlay on presto API that allows to retrieve `momentary` jmx stats? If so that doesn't help us. We need historical data, like CPU/memory usage on cluster during query executed couple of hours ago.

[2016-01-21 17:25] nezihyigitbasi commented on #4391
At Netflix we have an open-source system called [Atlas](https://github.com/Netflix/atlas) that helps us push these monitoring data (similar to option 2) and let us slice/dice those data and also expose them with dashboards.

[2016-01-21 18:31] electrum commented on #4391
One problem with #4 is the in memory aspect: if the JVM or machine restarts, you lose the history, and that's often when you need it most (what happened before the crash).

Maybe use a local embedded database of some sort (H2, leveldb, text files, etc.)

[2016-01-21 19:43] haozhun commented on #4256
I think it's caused by HIVE-11586

[2016-01-21 20:19] ebd2 commented on #3380
Teradata is working on this and has a branch that's under development and testing.
https://github.com/Teradata/presto/tree/kerberos_hive_poc

[2016-01-21 20:38] raghavsethi opened #4395 "Fix approx_percentile for double input"

[2016-01-21 20:38] raghavsethi commented on #2452
Hmm I can repro this. Taking a look now. Tracking in #4395.

[2016-01-21 20:57] nileema commented on #4361
Fixed by #4387

[2016-01-21 20:57] #4361 closed

[2016-01-22 00:28] martint opened #4399 "Add support for row types for IN expressions"
These forms should be supported:

[code]

[code]

NULL semantics make this particularly tricky to implement. We may want to consider adding support in phases, where we first require that the subquery doesn't produce nulls.

[2016-01-22 13:56] losipiuk opened #4405 "Use assertj in TestSignature.java"
Using assertj in presto would improve tests readability. Good place for start is TestSignature.java.

[2016-01-22 14:57] sopel39 opened #4406 "Pull common predicates from filter expressions"
Given Tpch Q19:
[code]
the plan would compile to:
[code]
as you can see the plan uses inner join since it doesn't know that it is possible to use `p.partkey = l.partkey` as a join predicate. I would like to write a rule that extracts common predicates above and/or expression nodes (preferably to the top of expression).

FYI: @ilfrin

[2016-01-22 16:20] electrum opened #4408 "Rename Hive PartitionCommitter close method to flush"
The `close()` method should be named `flush()` and the class should not implement `Closeable`, since it doesn't follow the normal usage pattern: the `flush()` method should not be called if an exception occurs.

[2016-01-22 16:22] electrum commented on #4408
Fixed by #4410

[2016-01-22 16:22] #4408 closed

[2016-01-22 17:02] cberner commented on #2869
Fixed by https://github.com/facebook/presto/pull/4396

[2016-01-22 17:02] #2869 closed

[2016-01-22 20:26] martint opened #4413 "Leverage transaction support in Hive connector to model INSERT OVERWRITE"
A DELETE followed by an INSERT in a transaction should defer the call to the metastore to delete the table until after the temporary data for the insert has been generated. This helps reduce the time gap between the partitions being deleted and the new ones being registered and protect against issues where the delete executes successfully but the insert fails due to query execution errors.

[2016-01-22 21:35] miniway opened #4414 "Web UI query detail view doesn't show contents at Safari after 0.133"
Web UI doesn’t seems to work anymore at 0.133 in Safari (9.0.3) as it uses javascript lambda expression. It looks fine in Chrome(47.0.2526) and Firefox(43.0.4)

![screen shot 2016-01-22 at 1 31 08 pm](https://cloud.githubusercontent.com/assets/725129/12523555/71f13b34-c10c-11e5-945c-f05e97bb2a66.png)
![2179a69429124fbac0cf549003adf074](https://cloud.githubusercontent.com/assets/725129/12523560/79e

[2016-01-22 21:57] cberner commented on #4256
Fixed by https://github.com/facebook/presto/pull/4396

[2016-01-22 21:57] #4256 closed

[2016-01-22 22:10] cberner opened #4415 "Some queries with 2 FULL OUTER JOIN fail"
General shape is:

[code]

This is the stack trace they fail with:

[code]

[2016-01-22 22:49] raghavsethi commented on #4414
Merged #4416.

[2016-01-22 22:49] #4414 closed

[2016-01-22 23:50] electrum opened #4417 "Support aggregations for intervals"
Both interval types should support these aggregations:
- [ ] `sum`
- [ ] `avg`
- [ ] `approx_percentile`
- [ ] `corr`
- [ ] `covar_pop`
- [ ] `covar_samp`
- [ ] `regr_intercept`
- [ ] `regr_slope`
- [ ] `stddev_samp` (and `stddev`)
- [ ] `stddev_pop`
- [ ] `var_samp` (and `variance`)
- [ ] `var_pop`
- [ ] `geometric_mean`

[2016-01-22 23:55] electrum commented on #4417
Except for `sum` and `avg`, it should be possible to re-use the existing aggregation implementation by simply adding another `@InputFunction` method that converts the interval to a long or double.

[2016-01-23 08:01] martint commented on #4338
Ok, I was able to decipher what the spec is trying to say about PREPARE. The "SQL variable name" is supposed to be a variable of **string** type in the host language. The intended usage is something like:

[code]

Here is how some databases use/abuse it:
Informix: http://www-304.ibm.com/support/knowledgecenter/SSGU8G_11.50.0/com.ibm.esqlc.doc/sii-14-96943.htm
Sybase: http://infocenter.sybase.com/h

[2016-01-23 08:26] electrum commented on #4413
We could also write them in same format and then just update the table location, so there would never be a gap, then delete the old data (normally the metastore does that on drop).

Though no matter what the strategy, it is inherently racey since the metastore only has unconditional updates.

[2016-01-25 12:31] sopel39 commented on #4406
FYI: @martint

[2016-01-25 12:45] sopel39 commented on #4406
The plan for query with `p.partkey = l.partkey` deduplicated:

[code]

[2016-01-25 17:25] electrum opened #4421 "Validate column order when creating Hive tables"
Partition columns for Hive tables are always at the end because Hive works that way. When creating a table, the creation should fail if the columns are not in the final order (having `CREATE TABLE` silently rearrange columns is quite unexpected).

We should use a new error code for this: `HIVE_COLUMN_ORDER_MISMATCH`

This should fail because the partition column is listed first, but will be at the

[2016-01-25 18:53] kietly opened #4422 "dynamically load Guice modules at runtime"
Is there a way to load Guice Module at runtime in Presto? One way is using ServiceLoader as describe in the link. I saw Presto uses it for loading plugin.

https://thedet.wordpress.com/2011/01/23/guice-2-0-multibinder-java-serviceloader-plugin-mechanism/

[2016-01-25 21:30] damiencarol commented on #4421
It's a good feature.

[2016-01-25 21:33] haozhun commented on #4421
What about `CREATE TABLE AS SELECT`? Should they fail as well?

[2016-01-26 00:07] #4211 closed

[2016-01-26 04:15] ghost opened #4425 "Documentation: Hive connector page does not mention S3 properties"
https://prestodb.io/docs/current/release/release-0.57.html

mentions two properties for the Hive connector:
hive.s3.aws-access-key=AKIAIOSFODNN7EXAMPLE
hive.s3.aws-secret-key=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

These are not mentioned in the current (0.134) Hive connector page. In the unit tests for the Hive connector there is a third property mentioned:
hive.hadoop1.s3.writableBucket

I can

[2016-01-26 17:46] haozhun commented on #4425
The `writableBucket` property is defined in `TestHiveClientS3`. They are test only.

[2016-01-27 16:20] pnowojski commented on #4391
@nezihyigitbasi as I understand you have some custom made simple script/thing that pushes jmx data produced by presto to Atlas?

@electrum maybe we can limit ourselves at beginning with simple in memory solution, by providing optional implementation of such class:

[code]

This implementation keeps the data in memory. Later if there will be such need, we can add alternative version which would use

[2016-01-27 16:56] nezihyigitbasi commented on #4391
@pnowojski we have a separate jvm running on all presto nodes, and those jvms collect & publish various metrics to Atlas.

[2016-01-27 17:39] martint commented on #4391
@pnowojski yes, let's start with in-memory. It's a step up from what we have today, anyway.

[2016-01-27 19:31] ghost opened #4433 "Presto can't access Hive External Table"
Hi,

I have create Hive External table on top of Hbase table. When I try to run presto commands, like select count(*) from Hive_tables, I dont get any result.

Version -
HBase - 0.96
Persto - 0.134
CDH - 5.5.1

Output for select count(*)
##  _col0

[code]

(1 row)

Help Appreciated.

Thanks.

[2016-01-27 19:36] petroav commented on #4433
Presto has no native support for HBase and so cannot read tables stored in HBase.

[2016-01-27 19:38] haozhun opened #4434 "Optimization back-fire for NOT IN query"
```SELECT appid FROM t where appid NOT IN (... 800 random numbers ...)```

The optimizer turns it into `IN` (without `NOT`) 800 ranges.

[2016-01-27 19:45] cberner opened #4435 "Disallow window functions in HAVING clause"
[code]
Fails with `rank():bigint is not a scalar function`. However, it should instead fail during analysis with a message like "window functions are not allowed in HAVING", as this is explicitly forbidden by the SQL spec (see section 7.10.5).
This should be done in `StatementAnalyzer.analyzeHaving` by visiting the expression and throwing a `SemanticException` if there's a window function present.

[2016-01-27 19:58] martint commented on #4435
Isn't this the same as https://github.com/facebook/presto/issues/3979?

[2016-01-27 20:06] cberner commented on #4435
Yes

[2016-01-27 20:06] #4435 closed

[2016-01-27 20:45] mattsfuller commented on #1457
Also see #3380.

[2016-01-27 21:13] Downchuck commented on #1848
I hit this as well.. Refreshing that it's an issue.

[2016-01-28 08:27] yuananf commented on #1970
@dain We definitely need this one. Are you working on this?

[2016-01-29 15:19] bannmann-incub8 commented on #4364
For the record, as of today the final 3.0 release is available on Maven Central:
[code]

[2016-01-29 17:23] electrum opened #4448 "Categorize error for negative approx_percentile weight"
All the input methods in `ApproximateLongPercentileAggregations` that take a weight should validate that it is `> 0` with an error like `percentile weight must be > 0`. Use a shared helper method (so the error message isn't repeated) that calls `checkCondition`.

[code]

[2016-01-30 17:45] martint opened #4457 "Add retries for loadRoles and loadTablePrivileges in Hive connector"
Make these work like all other metastore calls

[2016-02-01 07:11] electrum opened #4459 "Fix Hive AlreadyExists exceptions"
This classes `TableAlreadyExistsException` and `ViewAlreadyExistsException` should extend `PrestoException` directly and use `ALREADY_EXISTS` as the error code.

[2016-02-01 10:06] guyco33 commented on #4081
thanks @martint for the tip

[2016-02-01 12:59] pnowojski opened #4460 "__HIVE_DEFAULT_PARTITION__ Partition location does not exist"
I was getting following error:

[code]

I have fixed it by manually creating empty directory:
`sudo -u hdfs hadoop fs -mkdir /orc_tables_1/books/year_published=__HIVE_DEFAULT_PARTITION__`

Is this a known issue? Or am I doing something wrong? It looks like a bug that should be pretty easy to fix - not handled non existing `NULL` partition?

Steps to reproduce:
1. http://docs.aws.amazon.com/Elastic

[2016-02-01 15:12] electrum commented on #4460
This error means there is a partition with a location that does not exist in HDFS. Unless I'm missing something, that's a bug in whatever created the partition (location should always exist).

What happens when you query it in Hive?

[2016-02-01 15:45] damiencarol commented on #4460
MSCK REPAIR TABLE <foo> ?????

[2016-02-01 20:36] cberner opened #4462 "Enabling parallel hash build increases reported memory usage"
`set session task_hash_build_concurrency=2;` increases the "user" memory that the query uses, and can cause queries to fail. Presumably this is a bug, since this is only suppose to parallelize the creation of the hash table

[2016-02-01 23:39] ernestrc opened #4464 "Support username passed as a parameter in URI"
I'm setting the user property in the URL: jdbc:presto://xxxxxx.us-west-2.compute.amazonaws.com:8889?user=sonicd, but driver still complains:

[code]

Not sure the check on `at com.facebook.presto.jdbc.PrestoDriver.connect(PrestoDriver.java:86)` is correct, given that username can be passed in the url:

[code]

[2016-02-02 13:42] pnowojski commented on #4460
I don't know the specification, if that's indeed incorrect situation (missing NULL partition directory, even if its empty). I have created this table using Hive 1.2.1 with quoted commands from the issue. And yes, this tables i readable from Hive:

[code]
and it still fails in Presto:
[code]

It still looks for me like a missing feature/bug in presto in handling dynamically created partitions in hi

[2016-02-02 14:13] damiencarol commented on #4460
I don't know. Presto use infos from metastore. If the partition is missing in HIVE (it is the case here). Presto just can't find it. That's all.
It could be a bug in HIVE.

[2016-02-02 14:30] pnowojski commented on #4460
Partition is missing, so is msck repair table reporting, but this seems to be consistent with this description:
https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DML#LanguageManualDML-DynamicPartitionInserts
of how inserting dynamic partition works. Partition is created once first value for this partition is found. Since in this aws books data set there are no NULL values, directory

[2016-02-02 15:17] electrum commented on #4460
What happens when you query it in Hive? Does Hive silently ignore the missing directory? Maybe it has special logic to skip it?

[2016-02-02 15:33] damiencarol commented on #4460
We have the same version of HIVE in prod (1.2.1). I made the same queries and we have no pb.
I think there are a pb with you data table loading
I can reproduce your bug when creating data in HIVE BUT removing the *__HIVE_DEFAULT_PARTITION__* dir manualy in HDFS.
For me there are no bug in HIVE or Presto.

[2016-02-02 15:34] damiencarol commented on #4460
@electrum Yes, HIVE silently ignore the pb :)

[2016-02-02 19:26] harunurhan commented on #4459
I know that issue is only for TableAldreadyExistsException but I think it might be better to fix ViewAlreadyExistsException too. What do you think? @electrum

[2016-02-02 20:24] electrum commented on #4464
This is not actually a bug. JDBC does have any requirements for the URL aside from the generic format `jdbc:<subprotocol>:<subname>`. The standard way to provide a username is the `getConnection` method on `DriverManager`, which then passes it to the `Driver` via `Properties` passed to the `connect` method.

That said, we could certainly add support for specifying the username as part of the URL (

[2016-02-02 21:10] #4275 closed

[2016-02-02 21:10] #4343 closed

[2016-02-02 21:10] #4127 closed

[2016-02-03 00:43] electrum opened #4468 "Exception creating bucketed table from sampled source"
[code]
[code]

[2016-02-03 17:36] #3958 closed

[2016-02-03 19:54] martint opened #4471 "NPE with IN (null, ...) predicate for varchar columns"
This query:

[code]

Fails with:

[code]

This is a regression in trunk.

[2016-02-03 21:31] #4421 closed

[2016-02-03 23:40] #4395 closed

[2016-02-04 01:50] #4471 closed

[2016-02-04 20:25] arhimondr commented on #4405
We are going to refactor this as part of the `DECIMAL` PR.

[2016-02-05 00:13] nezihyigitbasi opened #4482 "[PrestoS3FileSystem] Cannot do a CTAS in an empty database"
If I create a new database and then do a CTAS to create a new table under it, it fails with exception below. I believe the problem is [here](https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/PrestoS3FileSystem.java#L437-L440), because with a fresh database created through the Hive version we use (Emr Hive 0.14) the corresponding object created on S3

[2016-02-05 00:17] nezihyigitbasi commented on #4482
We cannot simply get rid of the appended `\` character to the key as it may result in lots of objects being returned in the worst case (objects with the same prefix). One possible (inefficient) solution is to make a second list call, but this time with `_$folder$` appended.

[2016-02-05 14:38] sopel39 commented on #4226
@cberner Could you give me an update on your status of `EXPLAIN ANALYZE` work? I would be happy to take over if it is still a lot of work since `EXPLAIN ANALYZE` support is one of the features for our Q1 roadmap.

We also have a plan to display additional statistics. Please review the list:
1. Partition/Split pruning stats for `TableScanOperator`. This might require additional methods/parameters i

[2016-02-05 17:01] cberner opened #4485 "IndexOutOfBounds in AddExchanges"
[code]

[2016-02-05 17:24] martint commented on #4485
There's a PR to fix this: https://github.com/facebook/presto/pull/4476

[2016-02-05 17:59] matthewwardrop commented on #4017
Greetings all! I note that the referenced issue was closed for 0.132... just wondering if any progress has been made on supporting *correlated* subqueries?

[2016-02-05 18:06] KBP-TDC commented on #4017
@matthewwardrop : yes, @kokosing is actively working on this. Expect PRs soon!

[2016-02-05 18:09] kokosing commented on #4017
see
- https://github.com/facebook/presto/pull/4403
- https://github.com/facebook/presto/pull/4404
- https://github.com/facebook/presto/pull/4407

[2016-02-05 18:21] matthewwardrop commented on #4017
Excellent news! Thanks kokosing :). Looking forward to it being deployed :).

[2016-02-05 21:26] raghavsethi commented on #3917
Closed for now, because the fix is pretty ugly. If this comes up more frequently we can re-open.

[2016-02-05 23:08] #4485 closed

[2016-02-06 01:20] cberner commented on #4226
I don't think it's too much more work. I haven't been working on it, as I was waiting for @dain's changes for distribution support to land. I'm going to rebase it now and finish it up, but I'm on vacation next week, so it probably won't happen 'til later in the month.

Could you elaborate on (1) a bit? Do you mean stats on how much data was skipped due to predicate push-down?
For (2), yes I would

[2016-02-06 17:39] electrum commented on #3917
We should keep this open even if there's not a simple fix.

[2016-02-06 18:38] #4468 closed

[2016-02-06 23:06] Downchuck commented on #2797
I'm having a hard time following these threads - it seems that this work has been implemented in the Teradata fork for some time: https://github.com/Teradata/presto/pull/89

[2016-02-06 23:49] petroav commented on #2797
@Downchuck Yes, Teradata has been working on decimal for a while and we're going through code review with the Facebook engineers at the moment. We use Teradata PRs (like the one you linked to) for internal code reviews before making a PR against facebook/presto.

I believe we're at the fourth iteration of decimal at moment and you can follow the review process here https://github.com/facebook/pres

[2016-02-08 08:27] corneversloot commented on #3057
Slightly off topic but still relevant for people looking into this topic; we have released a first version of a JDBC driver for Elasticsearch called [sql4es](https://github.com/Anchormen/sql4es). It supports most common SQL statements and can be use from any system supporting the JDBC interface.

[2016-02-08 18:50] electrum opened #4494 "Uncategorized error: Array creation from cast"
[code]

[2016-02-08 18:52] electrum opened #4495 "Uncategorized error: OrcRecordReader IndexOutOfBoundsException"
[code]

[2016-02-08 18:53] electrum opened #4496 "Uncategorized error: HivePageSink IndexOutOfBoundsException"
[code]

[2016-02-08 18:54] electrum opened #4497 "MultiChannelGroupByHash error: Expected NULL value for UnknownType"
[code]

[2016-02-08 18:56] electrum opened #4498 "Error: row_number():bigint is not a scalar function"
[code]

[2016-02-08 19:02] martint commented on #4498
Duplicate of https://github.com/facebook/presto/issues/3979

[2016-02-08 19:02] #4498 closed

[2016-02-08 19:03] electrum opened #4499 "Uncategorized error in DateTimeFunctions"
All of the methods in `DateTimeFunctions` that pass a user specified format string to Joda Time should transform `IllegalArgumentException` (see `dateParse()` in that class for an example).

[code]

[2016-02-08 19:10] electrum opened #4500 "Error: Scalar node can output only one symbol"
[code]

[2016-02-08 19:13] dain opened #4501 "VARCHAR with length breaks old view"
Previously create views that result in `VARCHAR` with length types can not be accessed in current code base:

For example, create this view in an old version of presto, and attempt to read a new version.
[code]

Additionally, views created in the new version can not be accessed in the old version since the old version can not parse the types.

[2016-02-08 19:21] martint opened #4502 "Should not allow creating views with unknown column types"
This should be disallowed since the type of column `foo` is unknown:

```create view xyz as select null as foo```

It currently succeeds. The schema resulting schema is:

[code]

[2016-02-08 19:21] electrum opened #4503 "Error in from_utf8: Invalid code point"
[code]

[2016-02-08 19:23] haozhun commented on #4503
[code]

The second query should not have failed.

[2016-02-08 19:23] electrum opened #4504 "Uncategorized error in InformationSchemaPageSourceProvider.buildPartitions()"
[code]

[2016-02-08 19:25] electrum opened #4505 "Uncategorized error in random"
The bound should be validated with `checkCondition()`

[code]

[2016-02-08 19:26] electrum opened #4506 "TimeZoneNotSupportedException should extend PrestoException"
`TimeZoneNotSupportedException` should extend `PrestoException` and use the `NOT_SUPPORTED` error code.

Also, we should change the error string so the zone is at the end:
[code]

[2016-02-08 20:09] haozhun commented on #4434
See `DomainTranslator.extractDisjuncts`

[2016-02-08 20:54] haozhun commented on #4219
Fixed by #4466

[2016-02-08 20:55] haozhun commented on #4334
Fixed by #4445

[2016-02-08 20:55] #4334 closed

[2016-02-09 00:32] haozhun commented on #4219
Reopen. Actually this issue is not fixed. Instead of writing corrupted data, we now have an explicit check that fails the query.

To close this issue, we should be able to write to such columns.

[2016-02-09 00:53] electrum commented on #4219
Writing broken files is fixed. We can open a new issue to track the feature (this title is incorrect for that).

[2016-02-09 00:53] #4219 closed

[2016-02-09 01:02] raghavsethi opened #4513 "Add SMALLINT, TINYINT, INT types to Presto"

[2016-02-09 01:15] #4501 closed

[2016-02-09 11:02] sopel39 commented on #4226
For (1) that's what we would ideally like to know. I understand that currently there is no way to get this information from connectors. Therefore some additional interface or methods are required. This could also be a good starting point for connector statistics. We would like to propose some design for this feature.

For (2) I don't exactly understand what do you mean by lost ordering. I imagine

[2016-02-09 18:17] cberner commented on #4495
Are you sure this just needs to be categorized and that it's not a bug in the reader?

[2016-02-09 18:19] cberner commented on #4496
Are you sure this just needs to be categorized and that it's not a bug in the writer?

[2016-02-09 18:21] cberner commented on #4494
There's a PR to fix this: https://github.com/facebook/presto/pull/4320

[2016-02-09 23:03] martint opened #4522 "CAST of varchar(x) -> varchar(y) should fail on truncation"
Per the spec (6.13 General Rules 11.c):

[code]

[2016-02-09 23:11] raghavsethi opened #4523 "Make queries that contain BIGINT overflows fail"

[2016-02-09 23:36] electrum commented on #4522
I'm not sure this is correct, since it seems to only apply to fixed-length strings:
[code]

[2016-02-09 23:44] electrum commented on #4522
More info in 4.21 Introduction to character strings
[code]

[2016-02-10 01:00] dain commented on #4522
I believe the critical phrase is `warning condition`.   This is defined in 4.30.2:

[2016-02-10 03:33] nemothekid commented on #4364
I've added support for Cassandra 3.x into Presto-136.

Rundown of the changes:
* Update `datastax.version` to 3.0.0
* Add new interface methods to `BackoffRetryPolicy`
* Rename `getTime()` -> `getMillisSinceEpoch()` (base class changed)
* Change method of finding if an index is indexed (Cassandra 3.0 changed the 2i API)
* Other test changes

The full changes can be found in here (https://github.co

[2016-02-10 03:36] nemothekid commented on #4364
Actually, I take that back, `com.datastax.driver.core.LocalDate` seems to have broken timestamp columns.

[2016-02-10 05:08] k-kawa commented on #3994
I got the same issue but it was resolved when I restarted hive-metastore running on the master instance.

[2016-02-10 19:47] nemothekid commented on #4014
I started seeing this error as well after upgrading from 0.107 to 0.136. The `cassandra.limit-for-partition-key-select` wasn't needed in 0.107 and would scan the whole table (we have millions of partition keys in some cases).

It looks like to me, along the line somewhere, presto stopped using the token range scanner.

[2016-02-10 19:52] raghavsethi opened #4528 "IllegalArgumentException with MapParametricType"
[code]

[2016-02-10 20:09] martint commented on #4528
This is probably the same as https://github.com/facebook/presto/issues/3171

[2016-02-10 21:29] nemothekid commented on #4014
This is a bug with presto.

It looks like Cassandra 2.2, with the release of aggregates, the result of `SELECT count(*) FROM a.b LIMIT 200` changes.

In Cassandra <= 2.1, `SELECT count(*) FROM a.b LIMIT 200`, returned 200 (and did so rather quickly). In Cassandra >= 2.2, `SELECT count(*) FROM a.b LIMIT 200` returns the entire number of rows in the set.

The logic breaks down here in [CassandraSess

[2016-02-11 00:05] haozhun opened #4531 "CTAS doesn't work when one partition is being written to by multiple workers"
Set up:
[code]

[code]

It appears to me that this is an incorrect sanity check.

[2016-02-11 00:33] electrum opened #4532 "Unbounded varchar should not be serialized with length"
The fact that `varchar` is internally represented as `varchar(MAX_INT)` is an implementation detail that should not leak out and be permanently stored in external systems. It also breaks backwards compatibility with older clients, causes issues in clients that try to allocate a buffer of that size, etc.

[2016-02-11 07:59] martint commented on #4532
FWIW, there are no known clients that rely on the name of the type (other than the Java client, which was fixed to support the length parameter) or that would allocate space based on the value, since it's a new feature. Those clients will have to deal with the length parameter, anyway, since constant strings have a type parameterized with their length (e.g., select 'foo' returns varchar(3) for tha

[2016-02-11 08:26] electrum commented on #4532
I think max int is a bad choice of "unlimited" and if we're going to leak it everywhere, let's pick something more reasonable that can actually be supported. There's no way a 2GB string will work today or in the foreseeable future.

It's BS to say we support X when in reality the limit is much lower.

[2016-02-11 08:31] electrum commented on #4532
Another idea for now: hack TypeSignature to know about "varchar" and it's magic length and have special serialization for it.

[2016-02-11 16:05] sopel39 commented on #4226
@cberner I understand there was still problem with how to map `ProjectFilterScanOperator` into `PlanNodes`. I believe it is quite simple really. `TableScanNode` would have input stats from `ProjectFilterScanOperator`. `ProjectNode` would have output stats and `FilterNode` would be difference. Do you consider it to be too hacky? :)

[2016-02-11 18:44] martint commented on #4532
I think we're going to have to hack something for this release, but the underlying problem is that varchar(n) and varchar are two different types with the same name. There are a number of things we could do in the long term, but the one that probably fits the best is to introduce a new type (text, string or something like that) to replace it.

[2016-02-11 21:05] #4532 closed

[2016-02-11 23:01] #4504 closed

[2016-02-11 23:02] #4506 closed

[2016-02-12 01:35] haozhun opened #4542 "Failure for insert after delete when metastore cache is on"
Set up

[code]

[code]

[code]

[2016-02-13 00:03] nezihyigitbasi commented on #4182
@nileema did you have a chance to investigate the root cause of this issue?

[2016-02-13 00:47] haozhun opened #4546 "Correctness issue in boolean expression simplification"
This query should produce one row. It produces two rows with #4431. #4431 was backed out in #4545.
[code]

[2016-02-13 00:47] haozhun commented on #4546
@sopel39 Please take a look.

[2016-02-13 01:34] miniway commented on #4182
For me, Full GC was main cause of the timeout and very high cpu usage was another occational cause.

[2016-02-13 04:28] saileshmittal commented on #4215
@soulmachine Yes. We saw the same problem and had to disable `hive.parquet.use-column-names` to make it work.

Another case-sensitive issue, which does not work irrespective of above flag is with nested structs. Consider
`abc STRUCT<withCaps:STRING, without_caps:STRING>`
as part of a table. Accessing `abc.withCaps` from Presto always generates SemanticException since it can not resolve `withcaps`

[2016-02-13 04:31] saileshmittal commented on #2863
Any progress on this?

[2016-02-14 23:06] dain opened #4549 "Correctness issue with Raptor timestamp predicate push down"
Count the rows with an exact timestamp, produces no results:
[code]

Widen the time range and perform the filter in a `count_if` shows there are rows with that exact value:
[code]

Explain the original query and see that the pushed down filter is correct:
[code]

[2016-02-14 23:13] dain commented on #4549
Actually, I think I made a mistake... I have a ds and a time column

[2016-02-14 23:14] #4549 closed

[2016-02-15 09:17] damiencarol commented on #4532
@martint maybe _string_ to be close to HIVE.

[2016-02-15 10:41] jakovm opened #4550 "enable to use partition data to use in query"
It would be very convenient to use partion data as a table and so be able to use SQL functions on them:
e.g. select max(ds) from (show partitions from table a);

[2016-02-15 12:30] sopel39 commented on #4546
Indeed there was a problem when one predicate was subset of another, e.g:
`(A AND B) OR (A AND B AND C)`
or
`(A OR B) AND (A OR B OR C)`

In such case the rewrite should proceed:
`(A AND B) OR (A AND B AND C) => (A AND B) AND ((TRUE) OR (C)) => (A AND B)`
and
`(A OR B) AND (A OR B OR C) => (A OR B) OR ((FALSE) AND (C)) => (A OR B)`
This was fixed in #4551.

Could you give us more information how d

[2016-02-15 14:03] the6campbells opened #4552 "JDBC driver to implement DatabaseMetadata.getTypeInfo"
The 0.137 JDBC driver currently does not implement DatabaseMetadata.getTypeInfo. A dynamic SQL application that attempts to harvest that information will not be able to do so. Is this on the roadmap of improvements for the JDBC driver?

[2016-02-15 15:24] the6campbells opened #4553 "duplication of column ordering specification"
A query which emits duplication of ordering terms will encounter an error.

select rank () over ( order by c1, c3, c3 ) from x.y.z

Error: Query failed (#20160215_152308_08739_tff7r): orderBy and orderings sizes don't match

[2016-02-15 15:29] the6campbells opened #4554 "add support for null treatment in LAG/LEAD"
ISO-SQL provides a null treatment clause to RESPECT NULLS or IGNORE NULLS while computing. Currently, Presto's implementation of those functions does not support this concept.

[2016-02-15 16:01] the6campbells opened #4555 "projecting MAX(time type) returns unexpected result"
Presto is sourcing data from Postgres where a table has a TIME data type.

The highest value in the set of rows in that table is 23:59:30

<null>
00:00:00
12:00:00
23:59:30

When Presto computes select max( C1 ) from T1 it returns 12:00:00

[2016-02-15 16:04] the6campbells commented on #4555
Min (C1) is wrong it returns 22:59:30.

[2016-02-15 16:23] the6campbells opened #4556 "cannot CAST("
If Presto is mapped to Postgres and attempts to CAST a character column to BIGINT it will fail.

create table T (RNUM integer   not null , C1 char (32))

select RNUM, cast(C1 as BIGINT) from T

java.sql.SQLException: Query failed (#20160215_162154_11434_tff7r): Can not cast '-1                         ' to BIGINT

cast(cast(C1 as varchar(32)) as BIGINT) will not work either.

[2016-02-15 18:55] petroav commented on #4552
@the6campbells Teradata is going to release a free enterprise ready JDBC driver at the end of March that will support `DatabaseMetadata#getTypeInfo()`.

[2016-02-15 19:29] dain opened #4557 "Raptor large INSERT times out committing to MySQL"
I attempted a large insert that resulted in ~140k shards.  This failed with:

[code]

[2016-02-15 21:46] maciejgrzybek commented on #4459
This should be closed, don't you think @electrum?

[2016-02-15 21:48] maciejgrzybek commented on #4347
Should be closed.
CC: @electrum

[2016-02-15 22:30] maciejgrzybek commented on #4190
It's already fixed in 12247d5 by @raghavsethi.

[2016-02-15 23:59] #4347 closed

[2016-02-16 00:00] #4190 closed

[2016-02-16 00:00] #4459 closed

[2016-02-16 06:03] harunurhan commented on #4555
I was just trying to reproduce this.
Here's my test table on MySQL:

[code]

max(c1) and min(c1) produces the **same and correct** results both from presto and directly mysql.

Here's results from presto:

[code]

[2016-02-16 06:49] electrum commented on #4555
Can you show the PostgreSQL CREATE TABLE and INSERT? It might be obvious but that will make it quicker to reproduce and fix.

[2016-02-16 06:59] electrum commented on #4553
This should be relatively easy to fix. Start by adding a test to AbstractTestQueries that reproduces it, then find out where it fails.

[2016-02-16 07:02] electrum commented on #4556
This is strange. Looks like the string value has trailing spaces? Can you show the PostgreSQL INSERT to reproduce?

Assuming that is the problem, a workaround is to trim() the value before casting.

[2016-02-16 07:07] electrum commented on #4546
We found this in the verifier.

[2016-02-16 08:59] kokosing opened #4558 "Json functions returns wrong value (null) when casting varchar to json is used."
Json functions returns null, while it is expected to return value. It happens only when casting from varchar to json is used. I noticed that for json_array_length and json_array_contains. See below example usage:

[code]

[2016-02-16 09:40] harunurhan commented on #4553
`orderings` is a hash map, whereas `orderBySymbols is a list and can contain duplicates.
[code]

I don't know how to handle this, first two things come to my mind are:

-  Ignore duplicate just perform the function (ImmutableSet can be used instead of ImmutableList for orderyBySymbols)
- Throw a specific exception for duplication with a message like "order by has duplicate columns"

@electrum

[2016-02-16 17:15] #3197 closed

[2016-02-16 17:33] haozhun commented on #4558
We removed the old behavior of cast between JSON and VARCHAR. And replaced it with a system of CAST between JSON and primitive/structural types. The old behavior can be found in function `JSON_PARSE` and `JSON_FORMAT`.

* `CAST (JSON '5' as BIGINT)`
* `CAST (JSON '1.23' as BIGINT)`
* `CAST (JSON '"a"' as VARCHAR)`
* `CAST (JSON '[1,2,3]' as ARRAY<BIGINT>)`
* `CAST (JSON '["a", "b", "c"]' as ARRAY<

[2016-02-16 17:39] cberner opened #4560 "Queries with "IN (NULL)" fail with NullPointerException"
This is a regression in the 0.137 release
[code]
fails with
[code]

[2016-02-16 17:47] dain commented on #4558
Instead of using a cast, use the [json_parse](https://prestodb.io/docs/current/functions/json.html#json_parse) function.  For example:
[code]

[2016-02-16 17:48] martint commented on #4560
This should have fixed it, but it appears the fix was incomplete: https://github.com/facebook/presto/commit/7f6cf1aeac7a6e1bea3be27682c82e1fe03891d9

[2016-02-16 17:50] cberner commented on #4560
@erichwang can you look at this?

[2016-02-16 17:58] martint commented on #4560
Here's the related issue: https://github.com/facebook/presto/issues/4471

[2016-02-16 22:11] #4560 closed

[2016-02-16 22:45] erichwang commented on #4557
Yup, I'm getting a lot of this too with large backfill inserts.

[2016-02-16 23:35] erichwang opened #4562 "Report max node memory reserved for each query"
There are currently two memory limits that can be configured per query:
1) Max memory consumed globally
2) Max memory consumed on a single node

We currently have a stat to report the max memory consumed by a query globally, but not one to track the memory consumed on a single node (across all nodes). This latter one is an important metric to track since queries will fail if the limit is ever hit.

[2016-02-16 23:56] the6campbells commented on #4555
create table TTM ( RNUM integer  not null , CTM time(3)) ;
insert into TTM(RNUM, CTM) values ( 0, NULL);
insert into TTM(RNUM, CTM) values ( 1, TIME '00:00:00.000');
insert into TTM(RNUM, CTM) values ( 2, TIME '12:00:00.000');
insert into TTM(RNUM, CTM) values ( 3, TIME '23:59:30.123');

[2016-02-17 00:13] the6campbells commented on #4556
create table TSDCHAR (RNUM integer   not null , C1 char (32));
insert into TSDCHAR (RNUM, C1) values ( 0, '-1');
insert into TSDCHAR (RNUM, C1) values ( 1, '0');
insert into TSDCHAR (RNUM, C1) values ( 2, '10');
insert into TSDCHAR (RNUM, C1) values ( 3, '-1.0');
insert into TSDCHAR (RNUM, C1) values ( 4, '0.0');
insert into TSDCHAR (RNUM, C1) values ( 5, '10.0');
...

Cast will work in ORACLE, DB

[2016-02-17 06:22] toyama0919 opened #4566 "Feature request: Explain format want 「JSON」"
Hello :blush:
I want fetch schema by sql.

Schema information can get Explain syntax.
But this format only 「TEXT」 AND 「GRAPHVIZ」.

https://github.com/facebook/presto/blob/efb49f119c568c05db9820430ea104e33d43718a/presto-docs/src/main/sphinx/sql/explain.rst

These format parse is very difficult.
I want format 「JSON」.
This means that can get schema from program.

※PS
PrestoPreparedStatement(JDBC) hav

[2016-02-17 11:06] pnowojski opened #4567 "Slow InMemoryHasJoin construction"
While optimizing settings for some query that involves joining two relatively and equally large tables we have noticed very poor broadcast join performance. It was painfully slow (around 5 minutes) and most of the time was spent with little to now CPU usage on worker nodes. I have tracked down performance issue to construction of `InMemoryJoinHash` and I was able to speed the query up (down to aro

[2016-02-17 12:34] stuxuhai opened #4568 "Argument of type boolean or double can't be handled by format specifier %d"
Argument of type boolean or double can't be handled by format specifier %d in class com.facebook.presto.operator.scalar.JsonOperators, this will throw a IllegalFormatConversionException

[code]

[2016-02-17 16:01] maciejgrzybek commented on #4523
I am working on this.

[2016-02-17 16:34] electrum commented on #4566
We are adding prepared statements which will provide this more directly (and will be supported by JDBC as you mention).

[2016-02-17 17:41] maciejgrzybek opened #4571 "Long.MIN_VALUE is not handled correctly by a parser"
Parser handles separately sign and non-negative part of the integer which for `Long.MIN_VALUE` does not work since `9223372036854775808` (which is the absolute value of `MIN_VALUE`) is not a valid `long` (it overflows by one) while together with sign `-9223372036854775808` is a valid `long` value.

Steps to reproduce:
[code]

Expected behavior:
[code]

Actual behavior:
[code]

[2016-02-17 21:30] cberner commented on #4226
Re "lost ordering": I forget the exact issue I ran into, but if you look at the `LocalExecutionPlanner` it adds a number of extra operators. For example, `enforceLayout` which made it difficult to figure out the input/output for the whole plan node. I would hope that this isn't too hard, but it wasn't easy which is why I skipped it. Let me know if you need more information to figure out how to imp

[2016-02-17 21:44] sopel39 commented on #4226
Hi. I have fixed a number of issues that I have commented in your WIP commit. Those include reporting for plan nodes that produce multiple operators and reporting ScanFilterProject. I am still working on how to make ExplainAnalyzeOperator wait for TaskInfos that have final numbers. I will make pull request out of those changes for you to see with further explanation.

I didn't know about `enforceL

[2016-02-17 22:26] maciejgrzybek commented on #4531
@haozhun I cannot reproduce this scenario on master with HEAD = bbbb151cbdf4457c2be1d656b78739d47a0d1e4e
Hadoop version: Hadoop 2.6.0-cdh5.4.2
Hive: 1.1.0-cdh5.4.2
HADOOP_USER_NAME=hdfs

Can you provide with more details about your environment? Any options for `Hive`/`Hadoop`?

[code]

[2016-02-18 04:40] aadim opened #4575 "Tableau connector feature request"
Presto web service connector can help creating Tableau extracts but the incremental update is not available. As fas as I understand we need to specify the list of fields that can be used to detect data change in order to make an incremental update before connecting to the web service data. In case of Presto connector we don't have this field list available before executing the query.

I suggest ad

[2016-02-18 13:32] sopel39 commented on #4226
I have published a pull required https://github.com/cberner/presto/pull/2 that fixes various issues that I have found in EXPLAIN ANALYZE path. The patch doesn't support INSERT, DELETE, CREATE, but I believe support for those can be added later.

If you have an example what was the problem with `enforceLayout` that would be great.

Issues fixed:
- reporting for `ScanFilterProject` operator: I have

[2016-02-18 14:01] maciejgrzybek commented on #4523
This relates to https://github.com/facebook/presto/issues/4571.

[2016-02-18 17:18] dain opened #4578 "Distinct limit optimizer should apply to GROUP BY with ARBITRARY aggregation"
The following query should be executed efficiently using the distinct limit operator;

[code]

The optimizer will need to be expanded to recognize this pattern and the operator will need to be expanded to support extra "non-distinct" columns.

[2016-02-18 18:02] electrum opened #4579 "Cast of MIN_LONG fails with JSON deserialization error"
[code]

[2016-02-18 18:09] maciejgrzybek commented on #1043
@martint, @electrum: Isn't it done as https://github.com/facebook/presto/pull/4420 is merged?

[2016-02-18 18:12] maciejgrzybek commented on #4579
This duplicates https://github.com/facebook/presto/issues/4571.

[2016-02-18 18:28] maciejgrzybek commented on #3133
@electrum: Since views are included in the `show tables` list, shouldn't this be closed or renamed to be in line with @vainfucker PR?

[2016-02-18 18:44] electrum commented on #4579
This isn't a duplicate. Even if we can't parse this, it shouldn't fail with a weird JSON error. It should fail with a proper error message. Or we should make the CAST work, even it can't be parsed.

[2016-02-18 19:18] electrum opened #4580 "AddColumnTask check for existing column should be case insensitive"
I think the `containsKey(element.getName())` needs to be `element.getName().toLowerCase(ENGLISH)`.

This needs a test like this:
[code]

[2016-02-18 19:29] electrum opened #4581 "Add convenience function date"
This function `date(x)` should be the same as `CAST(x AS date)`.

[2016-02-18 19:30] maciejgrzybek commented on #4580
I will take this.

[2016-02-18 20:13] electrum opened #4583 "Cumulative Memory in UI should be converted to appropriate unit"
Rather than always showing `GB`, it should be rounded to `TB`, `PB`, etc.

Example:

[code]

[2016-02-18 23:44] electrum opened #4585 "Uncategorized error for Raptor system table"
The catch block needs to be `catch (SQLException | DBIException e)`

[code]

[2016-02-19 00:25] cberner commented on #4226
I've fixed a bunch of this locally in my branch, will take a look at that PR too

Re: stats not being final. That fix isn't sufficient. A stage can transition to a finished state before all the stats are collected. For example, a LIMIT query, the top stage will finish early and cancel the underlying stage which moves it directly to a done state.

[2016-02-19 01:44] cberner commented on #4226
Re `operatorId` for ordering: I looked into this more to see why I didn't use `operatorId` and the problem is that ids are only unique in a pipeline, but a `PlanNode` can span multiple pipelines. For example:
[code]
This results in both `LookupJoinOperator` and `HashBuilderOperator` with `operatorId=2` and `planNodeId=17`

[2016-02-19 08:59] timshenkao opened #4587 "Presto + Hive Streaming + ORC: Malformed ORC file com.facebook.presto.orc.CachingOrcDataSource"
Hi!
We use Hive Streaming to ingest data and write it in ORC format directly without intermediate processing like Oozie + Hive scripts, etc. It's very convenient. Documentation: https://cwiki.apache.org/confluence/display/Hive/Hive+Transactions
But Hive creates temporary auxiliary files like bucket_00006_flush_length which are text files and not ORC files in directories delta_xxxxxxx.
So, when I m

[2016-02-19 09:28] sopel39 commented on #4226
Is the problem with finished stages is that stage states are stored on coordinator (so there is instant access), but `TaskStats` are fetched? So maybe and additional/only condition should be checking that all tasks from upstream stages are done.

Plain `operatorId` is not enough as you say. However, is is possible to determine that two operators come from different pipelines. Having `pipelineId, o

[2016-02-19 10:03] sopel39 commented on #4226
I have modified https://github.com/cberner/presto/pull/2 according to my comments (waiting for `TaskStats` to be done and bind `JoinNode` to single pipeline (there are other cases which have to be modified, e.g. Union, I haven't verified them)

[2016-02-19 14:17] sopel39 commented on #4226
Making `planNodes` to not span across pipelines is too native. Maybe we could store some operator topology information in stats?

[2016-02-19 16:47] sopel39 commented on #4226
@cberner What do you think about adding `planNodeInputOperator` and `planNodeOutputOperator` to `OperatorStats`? Those would be set in `LocalExecutionPlanner`. I think it's easier than storing operators topology and we don't have to write special rules for every plan node in `PlanPrinter` (which would be mimicking `LocalExecutionPlanner`)

[2016-02-19 17:04] cberner commented on #4226
Yes, stage stats are on the coordinator and are an aggregation of the task stats. It might be possible to wait for all the task stats to arrive, but I'm not sure. @nileema is working on a refactoring of how stats are collected, so I'll check with her today to see if that will provide a way to know when they're consistent.

Requiring PlanNodes to be in only a single pipeline doesn't sound like a go

[2016-02-19 17:05] cberner commented on #4226
What would the `inputOperator` and `outputOperator` be set to? I think you can already get this by looking at the order of the operator summaries in a pipeline

[2016-02-19 18:38] cberner commented on #4226
I discussed with @dain, and it looks like there's a straightforward way to do this. Local exchanges and joins are the only things that span pipelines, and both of them follow a simple rule: the "output" operator will not be the last operator in its pipeline. So we should be able to reconstruct the pipeline topology easily, by looking at all the operators for a plan node and then using that rule to

[2016-02-19 18:47] cberner commented on #4226
Also, noting another optimization we'll want to add:
We should add a "consume input" plan node which can run distributed. Otherwise, EXPLAIN ANALYZE could add a lot of cost to the query. For example, if you run it on a SELECT *, it will pull all the rows to the coordinator, and instead we should plan it as TableScan -> ConsumeInput -> ExplainAnalyze, with the first two running in one stage, and on

[2016-02-19 19:22] raghavsethi opened #4589 "Remove isOptimizedReaderEnabled from HiveClientConfig"

[2016-02-19 20:24] sopel39 commented on #4226
I could work on operators stats reporting. Do you want to work on `ConsumeInput` operator?

[2016-02-19 22:19] electrum opened #4590 "Add bucket_number to Raptor system.shards table"

[2016-02-19 22:22] electrum commented on #4556
Thanks for the reproduction. My guess is this has to do with the value being a fixed character type `char(32)` and thus it gets padded when we read it from PostgreSQL. Probably need to trim the value returned from `getString()`.

[2016-02-19 22:24] electrum commented on #4575
@nezihyigitbasi do you know anything about this?

[2016-02-19 22:40] nezihyigitbasi commented on #4575
Yep the current web connector doesn't support incremental updates and it seeme like the Tableau API supports it (there is a [sample connector] capable of doing that(https://community.tableau.com/thread/179272)).

[2016-02-19 23:11] ThatiK commented on #1285
What if i want recursive nature to be enabled. If at all i need to use `hive.recursive-directories=true` ,  in which file do I need to insert this.

[2016-02-19 23:22] zhenxiao commented on #1285
in call coordinator and workers'
etc/catalog/hive.properties

[2016-02-20 00:16] ThatiK commented on #1285
I am new to Presto. I need to set few hive properties at run time of presto query like in .hiverc or as part of query rather than setting it in etc/catalog/hive.properties file. Is there a way in presto in doing so? I am currently using emr-sandbox for presto.

[2016-02-20 00:20] zhenxiao commented on #1285
In Presto, I think only session properties could be set during runtime (per session), we do not have a session property for hive.recursive-directories yet. You need to config it in etc/catalog/hive.properties, and then restart the Presto cluster to deploy these configs.

Maybe we could think of adding a new session property for it? What do u think? @dain @electrum

[2016-02-20 02:20] ThatiK commented on #1285
Cool, thank you for the reply. Can you let me know how I can restart presto cluster alone in aws presto sandbox.

[2016-02-20 02:29] zhenxiao commented on #1285
oh, little knowledge about the aws sandbox. maybe ask aws guys?

[2016-02-20 13:46] marklit opened #4592 "Praquet-formatted columns using VARCHAR(n) won't appear in Presto 0.138"
According to the 0.137 release notes there is now support for the `VARCHAR(n)` data type. When I attempt to view a schema with this data type the `VARCHAR(n)` fields do not appear. Here are the steps I took to re-create this problem.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-02-20 13:48] marklit commented on #4592
For the record I tried to change each `VARCHAR(n)` column to a `STRING` column and they still wouldn't appear in Presto.

[2016-02-21 03:32] dain opened #4593 "PruneUnreferencedOutputs should prune unused columns from VALUES"
For example:

[code]

[2016-02-21 04:39] haozhun commented on #4531
When I filed the bug, I didn't realize special condition is required to trigger this bug. Your comment lead me to investigate a little more.

This bug only happens when temporary path is not used for creating table, which is the case when the file system is S3 (and potentially when a non-default implementation of LocationService is used).

[2016-02-21 14:50] the6campbells commented on #4552
Will this mean that the driver downloaded with Presto builds will include this driver or only if persons download from teradata.com?

[2016-02-22 04:43] prateek1306 commented on #4581
Working on it.

[2016-02-22 11:10] sopel39 opened #4600 "Fast decimal proposal"
We are planning to implement high performance decimals version so that decimals can be set as a default type for fixed point literals.
Here is our fast decimals proposal: https://github.com/facebook/presto/wiki/Fast-Decimal-Type. Please take a look.

FYI: @martint @dain @electrum @ilfrin @losipiuk @kokosing

[2016-02-22 15:54] cawallin commented on #4552
@the6campbells You will need to download it from www.teradata.com/presto

[2016-02-22 17:13] electrum opened #4604 "Raptor exception during rollback"
[code]

[2016-02-22 17:46] electrum commented on #4552
We will add this to the project JDBC driver as well. The Teradata driver is a fork/rewrite for Java 6, but the project one will always be for the version of Java used by Presto (and thus won't work with some legacy applications).

[2016-02-22 18:17] electrum commented on #4604
This might be a problem with `RecordWriter.close()` not being idempotent, and `OrcFileWriter.close()` should be idempotent and thus it could theoretically be called multiple times, but in practice it seems to only be called once.

[2016-02-22 18:19] cberner commented on #4226
I'm working on cleaning up the prototype that I have and getting it up for review. I can take a look at the ConsumeInput after that, if I have time though

[2016-02-22 18:27] electrum commented on #4604
The `OrcFileWriter` can be closed multiple times in `OrcStoragePageSink`: once in `flush()` then once again in `rollback()` (if something in `flush()` throws during/after closing but before setting `writer` to null).

[2016-02-22 18:33] #4604 closed

[2016-02-22 19:48] maciejgrzybek opened #4607 "substring function alias for substr"
Teradata has `substring` function. It would be convenient to have such an alias for existing `substr` function.

[2016-02-22 20:27] #4531 closed

[2016-02-22 20:55] dain opened #4610 "Hash JOINs with single worker on left are not redistributed"
There is a bug in the new AddExchanges code that causes JOINs to not redistribute in some cases:
[code]

[2016-02-22 21:07] #4590 closed

[2016-02-22 21:45] #4610 closed

[2016-02-22 22:38] electrum commented on #2923
This was merged a while ago.

[2016-02-22 22:38] #2923 closed

[2016-02-22 22:40] #3856 closed

[2016-02-22 22:42] electrum commented on #3553
This is done.

[2016-02-22 22:42] #3553 closed

[2016-02-22 22:56] cberner commented on #4226
First part of this is up for review here: https://github.com/facebook/presto/pull/4586

[2016-02-22 23:10] electrum commented on #4167
I believe this prevents using maps in Raptor because the insertion fails. It might require an ordering column to be set on the table.

[2016-02-22 23:27] electrum commented on #4167
This seems to be fixed in recent versions.

[2016-02-22 23:27] #4167 closed

[2016-02-22 23:31] electrum commented on #4344
Something like
[code]

[2016-02-22 23:35] electrum opened #4616 "Add SHOW CREATE TABLE"
This should display the SQL necessary to create a table. Example:
[code]

[2016-02-23 00:11] cberner commented on #4226
Second part is up for review here: https://github.com/facebook/presto/pull/4618

[2016-02-23 01:14] haozhun commented on #4583
@electrum  This is a decision @raghavsethi and I made deliberately because it makes more sense to think about this as

    a few thousand seconds (multiplied by) 10-100 gigabytes (multiplied by) 10-200 machines

not

    a few seconds (multiplied by) a few petabytes

Therefore, we believed it's most useful to always use `GB seconds` as the unit.

[2016-02-23 09:23] lushuai2013 commented on #3380
HI, my Hadoop cluster is Kerberized, Now I user Presto to compute data,  then the Presto server is immediately not permitted to even talk to the Thrift Metastore interface or the HDFS files.   will it work now? If so, how do I configure it? Thanks.

[2016-02-23 11:22] cerebrotecnologico commented on #4082
I'm interested in this fix. My database uses UUIDs as the keys, so without UUID support in Postgres I can't use Presto (unless I define a view with a CAST).
What is required to get this into the next release asap?

[2016-02-23 11:28] albertocsm commented on #4082
waiting for PR #4174 to be reviewed & merged...

[2016-02-23 14:23] KBP-TDC commented on #4592
@marklit : By "tried to change" do you mean data reloaded into a new table or just a new external table with modified data types pointing to the same Parquet files?

[2016-02-23 14:25] marklit commented on #4592
I created a new table and loaded the data from the CSV table into there.

[2016-02-23 14:33] KBP-TDC commented on #4592
It is our belief that this PR will fix it: https://github.com/facebook/presto/pull/3092

[2016-02-23 18:34] maciejgrzybek commented on #4616
It's related to https://github.com/facebook/presto/issues/3133.

[2016-02-23 21:03] nezihyigitbasi opened #4629 "[presto-cli] Update type shouldn't be printed to stdout in non-interactive mode"
For data definition tasks,which have non-null update types, presto cli shouldn't print their update types to stdout in non-interactive/batch mode as users usually process this output with other tools. For example, if there is a `set session` in my sql script and I execute it with `-f` I get `SET SESSION` as the first line in the output, which is supposed to only contain the result set.

@electrum

[2016-02-23 21:13] haozhun opened #4630 "OrcRecordReader.createStreamReader should validate type against streamDescriptor"
Supersedes #4495

[2016-02-23 21:14] #4495 closed

[2016-02-23 21:14] haozhun commented on #4495
Superseded by #4630

[2016-02-23 21:17] haozhun commented on #4579
@martint How soon are we going to revamp the way we send optimized queries to workers? If that's going to happen soon enough, do we still want to fix this?

[2016-02-24 03:37] dain opened #4637 "Add custom PageSink for ORC"
The ORC writer from Hive is inefficient for Presto to use since it is row oriented and requires Java objects.

[2016-02-24 16:02] harunurhan commented on #4555
@the6campbells I tried it also on PostgreSQL but still same.
After create and insert:
[code]

Results are correct, see below.
[code]

[2016-02-24 21:14] dain opened #4639 "MergeProjections duplicates non-deterministic expressions"
For example:
[code]

[2016-02-24 22:41] #4639 closed

[2016-02-25 00:07] electrum opened #4643 "Convert LIKE without pattern to equality for TupleDomain"
The Presto JDBC driver creates metadata queries like this:

[code]

The `LIKE` filters don't have a pattern:

[code]

These should be converted to equality filters before generating the `TupleDomain` so that they can be pushed down to the connector.

[2016-02-25 01:35] dain opened #4645 "TranslationMap should not be adding coercions"
TranslationMap should not be changing the type of symbols and instead the coercions should be added outside of the map.

[2016-02-25 02:18] haozhun opened #4646 "Bug in InCodeGenerator"
[code]

The first query always produces `NULL`. The second query always produces `true`. Both should always produce `true`. This bug is found by community in this pull request: #4623

However, instead of merging the said pull request, it might be worthwhile to rewrite that byte code generator with the newer BytecodeExpression.

Additionally, it would also be great to simplify the logic. Currently,

[2016-02-25 03:37] spragues-trulia commented on #4643
i would rate this one pretty big as it effectively breaks the jdbc connector.  thanks david for identifying it.

[2016-02-25 05:12] martint commented on #4643
This should be done in the expression optimizer. It should apply to all cases, not just for the purpose of generating `TupleDomain`.

[2016-02-25 10:51] pnowojski commented on #4567
After spending some time optimizing `InMemoryJoinHash` I see at least two more changes that could further improve join performance. One is to create specialized version of `InMemoryJoinHash` for single column joins using `long` java type just like it is done for aggregation - we could skip hashing this single column.

Secondly, we could think about avoiding double/triple hashing rows. Currently ha

[2016-02-25 19:53] #3951 closed

[2016-02-25 20:08] spragues-trulia commented on #3992
Christina alluded to this link in the presto-users google group today so figured i'd have look.  Yeah, I think there's  interest but hard to say who's got the time to actually do it.  Damien Carol as well commented on the mail thread perhaps he has a vested interest too.
Sadly, i'm not a java/scala guy so there's not much i can physically do to help with coding but i can sure as heck help with tes

[2016-02-26 06:14] knowledgehacker opened #4650 "Presto nodes crashed when we run some complicated sqls"
Some Presto nodes crashed when we run some complicated sqls, and the crash causes the server to reboot.
I switched CMS gc collector to g1 collector, but it did not solve the problem.
And I tuned survivor/eden ratio, it mitigated the problem, but I am not sure it solved the problem.

--- Here is the information
a. Environment
Presto 0.83 and running on HDP 2.2.4, JDK1.7.0_75-b13, on Linux 2.6.32-50

[2016-02-26 06:36] nezihyigitbasi commented on #4650
Did you try upgrading to Java 8? As a side note you should also consider
upgrading to a more recent presto version.
On Thu, Feb 25, 2016 at 10:14 PM ming lin <notifications@github.com> wrote:

[2016-02-26 11:46] pratikasarda commented on #3828
Hi Guys,

We are working with Apache Hive and Avro and we're interested in to take PrestoDB included in our Production stack but current problem is that it doesn't support Avro Format.

Can anyone let me know how can I support Avro Format in PrestoDB?

We are looking on Presto 0.130 and Apache Hive 1.x on Amazon EMR 4.

Thanks

[2016-02-26 15:33] knowledgehacker commented on #4650
Thanks for your comment.
We are planning to upgrade Presto, but current version will run for a short time, we need to fix it during this period.
I can't tell exactly it is an internal bug in JVM or some native method in Presto causes the crash.
I plan to try new Java if we can't solve the problem.

[2016-02-26 15:55] zhenxiao commented on #4643
@electrum @martint do u mean rewriting like filter without a pattern into equality filters in expression optimizer? If I am understanding correctly, willing to take a try

[2016-02-26 16:24] martint commented on #4643
@zhenxiao, yes, exactly

[2016-02-26 16:46] nezihyigitbasi commented on #4650
There are similar jvm bug reports that's why I recommended you to upgrade
your Java version first.
On Fri, Feb 26, 2016 at 7:33 AM ming lin <notifications@github.com> wrote:

[2016-02-26 17:03] electrum commented on #4650
We saw JVM crashes before 8u40.

[2016-02-26 18:46] JeffSaxe commented on #4643
I am definitely not an expert, just sitting here in the peanut gallery admiring the discussion. It seems to me that rewriting LIKE a constant with no pattern into an equality is a no-brainer, all upside with no downside.

But I'm curious about one of the other parts of that JDBC-generated string... `LIKE '%'`. This seems as if it's robotically generated by some code that snaps together all the `AN

[2016-02-26 18:53] nileema opened #4653 "Planner error in UnaliasSynbolReferences"
https://gist.github.com/nileema/c3be8d03a2ddeda58f23

[2016-02-26 19:21] haozhun commented on #4630
@geraint0923

[2016-02-26 19:28] haozhun commented on #4289
@geraint0923

[2016-02-26 19:29] petroav commented on #3828
This should answer your question https://groups.google.com/d/topic/presto-users/U13qRlUyWX4/discussion

And if you search the group for Avro you'll get even more info and discussion on the topic.

[2016-02-26 21:06] dain opened #4655 "Add nondeterministic identity UDF for testing"
It would be helpful for testing and diagnosing problems to have an identity function that is marked as nondeterministic.  This function would need to be a parametric nullable function.  There is documentation on how to write a parametric function here:

https://github.com/facebook/presto/blob/master/presto-docs/src/main/sphinx/develop/functions.rst#parametric-scalar-functions

Also, the `element_a

[2016-02-26 21:44] jxiang commented on #4553
@electrum @harunurhan I created a pull request. Could you please take a look?

[2016-02-27 02:27] dain commented on #4653
@martint haven't we seen this before?

[2016-02-27 02:36] martint commented on #4653
Yes, there was a similar (if not the same) issue that happens if the field is used twice in an order by clause. I think there's a GitHub issue filed for it

[2016-02-27 16:28] darionyaphet commented on #3992
Apache Phoenix could execute SQL by it's JDBC implement . Maybe can use JDBC connect to access HBase . But sometimes Phoenix is very slow and join operation will make some trouble .

[2016-02-28 15:44] knowledgehacker commented on #4650
Thanks @nezihyigitbasi. I will try it.
@electrum, is there possible some native methods in Presto causes the issue?
It's strange that when the crash happened, it always stop at PageProcessor or CursorProcessor.

[2016-02-29 01:14] martint commented on #4650
No, that crash is inside a GC thread, so it's unlikely to be native code in Presto.

@knowledgehacker, can you paste the crash logs when you switch to G1? BTW, there have been a lot of fixes to GC since Java 7, so I suggest you try with a newer version of Java.

[2016-02-29 04:25] knowledgehacker commented on #4650
@martint I tried jdk1.8.0 u65, and it still crashes, and we get the following error from server.log, maybe there is something wrong with the memory(a hardware issue). Any thoughts?

2016-02-25T10:16:55.002+0000     WARN   http-worker-991 com.facebook.presto.server.ThrowableMapper      Request failed for /v1/task/20160225_101652_00046_q93jg.1.4
java.lang.NullPointerException: null
        at com.fa

[2016-02-29 04:40] toyama0919 commented on #4566
Thank you for reply :blush:
I expect it.

[2016-02-29 04:43] knowledgehacker commented on #4650
This is probably a bug in Presto. The symptom is somewhat different when Presto crashes.
For this time's crash, it is probably caused by a bug in Presto(NullPointerException).
I didn't get a crash log since the time I got the one pasted.

[2016-02-29 05:03] knowledgehacker commented on #4650
**I see when a SqlTaskExecution is constructed:**

            if (!taskStateMachine.getState().isDone()) {
                taskHandle = taskExecutor.addTask(taskId);
                taskStateMachine.addStateChangeListener(new RemoveTaskHandleWhenDone(taskExecutor, taskHandle));
            }
            else {
                taskHandle = null;
            }

**Then when enqueueing a split:**

[2016-02-29 10:08] pratikasarda commented on #3828
Thanks for your answer. We were referring same but it wasn't working. Is there any other solution for this.

[2016-02-29 10:35] grepwood opened #4661 "Can't jstat gcutil prestodb"
I'm trying to get GC stats for debug purposes. However, this is not possible.
[code]
PID is obviously correct, but jstat fails. Why is this happening? How can I get GC stats when PrestoDB is running?

[2016-02-29 12:43] grepwood commented on #4661
Found it I needed to run the command as the user who started PrestoDB (presto).

[2016-02-29 12:43] #4661 closed

[2016-02-29 13:13] kokosing commented on #4558
@haozhun, @dain Thanks, I am closing this issue.

[2016-02-29 13:13] #4558 closed

[2016-02-29 13:29] kokosing opened #4662 "Hive table is not visible for first query after rename"
[code]

[2016-02-29 14:47] cawallin commented on #4662
This is probably because the Hive metastore cache has not refreshed yet; do you have `hive.metastore-cache-ttl` set in `hive.properties`?

[2016-02-29 19:17] cberner opened #4664 "Migrate cardinality() to new framework"
See https://github.com/cberner/presto/commit/b0f94c381f61465779f909ed6592dfcd8fdbd01a for an example of how this is done. The code is in `ArrayCardinalityFunction.java`

[2016-02-29 19:19] cberner opened #4665 "Migrate contains() to new framework"
See https://github.com/cberner/presto/commit/88d3aa6ed02f6775e88e1e2376517f6c6aa49289 for an example of how this is done. The code is in `ArrayContains.java`

[2016-02-29 19:20] cberner opened #4666 "Migrate map_keys() to new framework"
See https://github.com/cberner/presto/commit/b0f94c381f61465779f909ed6592dfcd8fdbd01a for an example of how this is done. The code is in `MapKeys.java`

[2016-02-29 19:23] cberner opened #4667 "Migrate array_position() to new framework"
See https://github.com/cberner/presto/commit/b0f94c381f61465779f909ed6592dfcd8fdbd01a for an example of how this is done. The code is in `ArrayPositionFunction.java`

[2016-02-29 19:47] raghavsethi opened #4668 "Break down the HIVE_WRITER_ERROR category into datanode and namenode errors"

[2016-02-29 19:53] zhenxiao commented on #4643
@electrum @martint seems like rewriting filter without a pattern into equality filters is already done:

presto:sf1> explain select partkey, name from part where name like 'hot chiffon';
                                                           Query Plan
--------------------------------------------------------------------------------------------------------------------------------
 - Output[part

[2016-02-29 20:24] electrum opened #4669 "A context already exists for operatorId 0"
[code]

[2016-02-29 20:51] #4669 closed

[2016-02-29 23:40] #4434 closed

[2016-03-01 01:40] knowledgehacker commented on #4650
Any comment on it?

[2016-03-01 02:16] cberner opened #4674 "Migrate array less_than operator to new framework"
See https://github.com/cberner/presto/commit/b0f94c381f61465779f909ed6592dfcd8fdbd01a for an example of how this is done. The code is in `ArrayLessThanOperator.java`

[2016-03-01 02:16] cberner commented on #4674
Pallavi is going to work on this

[2016-03-01 02:17] cberner opened #4675 "Migrate array less_than_or_equal operator to new framework"
See https://github.com/cberner/presto/commit/b0f94c381f61465779f909ed6592dfcd8fdbd01a for an example of how this is done. The code is in `ArrayLessThanOrEqualOperator.java`

[2016-03-01 02:17] cberner commented on #4675
Slavik is going to work on this

[2016-03-01 07:27] nika11 opened #4678 "launcher.py not compatible with python 3 and above"
When running launcher, the launcher.py raised a couple of errors. It seems like the launcher was written with python 2, which is not compatible with python 3. Is there a new version for the launcher?
- error
  ./launcher start
  File "/usr/local/presto/presto-server-0.139/bin/launcher.py", line 150
    except OSError, e:

  ./launcher start
  File "/usr/local/presto/presto-server-0.139/bin/launche

[2016-03-01 07:51] electrum commented on #4678
The launcher was written to be compatible with Python 2.4, since (I believe) that's the version shipped in CentOS 5 and maybe other Linux distributions. Is there a way to make it compatible with ancient 2.4 and 3.0+?

[2016-03-01 08:31] barbarosyildiz commented on #3763
presto-server-0.139 still have this problem .

Create database in mysql:
CREATE DATABASE TUTORIAL_1;
USE TUTORIAL_1;
 CREATE TABLE USERS (userid VARCHAR(15), gender CHAR(1), Age SMALLINT,country VARCHAR(50), SIGN_UP VARCHAR(50));

presto> SHOW TABLES FROM mysql.TUTORIAL_1;
 Table
-------
(0 rows)

Query 20160301_082814_00005_fjdbm, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:00 [0 rows,

[2016-03-01 09:23] xiaoao opened #4679 "how to escape the my mysql table 'order' in jdbc query"
I can use mydb.`order` in sql,  but how to in presto syntax ?  thx in advance.

[2016-03-01 09:59] #4679 closed

[2016-03-01 10:49] kokosing commented on #4662
Yes, setting ```hive.metastore-cache-ttl=0s``` fixes the problem. According to my understanding it is just a workaround. I think better solution would be if presto could invalidate metastore cache when it does write to it?

[2016-03-01 16:43] electrum opened #4681 "Improve error messages for invalid casts"
For example, timestamp has this: `Invalid format: "xxx"`

It should at least have timestamp in the error message.

[2016-03-01 20:27] haozhun commented on #4646
Merged #4623 after

[2016-03-01 20:27] #4646 closed

[2016-03-01 22:48] #4668 closed

[2016-03-01 23:50] #4585 closed

[2016-03-02 03:52] zhenxiao commented on #4578
Is anyone working on it? may I take a try?

[2016-03-02 04:43] dain commented on #4578
I don't think so.  Go for it!

[2016-03-02 07:47] nika11 commented on #4678
By following the link http://python-future.org/automatic_conversion.html, I can convert the launcher.py to be compatible with Python 2 and 3 both. However, there still has one issue after used the 'futurize' utility described in the link:
Traceback (most recent call last):
  File "./launcher.py", line 451, in <module>
    main()
  File "./launcher.py", line 421, in main
    node_properties = load_

[2016-03-02 08:11] harunurhan commented on #4678
@nika11  I have this port which I am able to run with  both Python 3.4.4 and 2.6.6
https://gist.github.com/harunurhan/fdd54613ee1f27b49135

But I am not sure if it works with 2.4

[2016-03-02 16:14] nika11 commented on #4678
I haven't tried with 2.4. However, it seems like the converter just did a syntax conversion not functional change. I assume it should be ok.

[2016-03-02 19:57] electrum opened #4694 "Provide more context for error messages"
Suppose one of the casts in this query fails:

[code]

It would be helpful if the error message could indicate which expression failed, similar to what we do for syntax errors.

[2016-03-02 22:51] nezihyigitbasi commented on #3893
@electrum, do we still want this behaviour? Hive supports inserting/deleting to/from external tables, so they are not totally read-only in that sense. If we still want this I will be happy to work on it.

[2016-03-03 01:17] dain opened #4697 "Add support for DATE in ParquetRecordReader"
`ParquetRecordReader` does not support `DATE` but `ParquetPageSource` does?  This can cause a lot of confusion for end users, so we should figure how to add support for `ParquetRecordReader` until `ParquetPageSource` replaces it entirely.

[2016-03-03 01:18] dain commented on #4697
@zhenxiao or @nezihyigitbasi  can one of you handle this?

[2016-03-03 01:28] martint opened #4698 "Invalid plan for ORDER BY expression that refers to output column"
The following query produces an incorrect plan. It resolves `a` in the ORDER BY clause with respect to the FROM clause, but it should be using the output column from the SELECT clause, instead.

[code]

This is the resulting plan:

[code]

From the SQL spec, section "6.6 <identifier chain>":

[2016-03-03 01:28] dain commented on #4650
The version you are using 0.83 was released on Nov 12, 2014.  We have fixed tons of bugs in the last year and half, so I am not surprised that you seeing problems.

Please, upgrade to the latest release and try again.  If you still have problems, please open a new issue.

[2016-03-03 01:28] #4650 closed

[2016-03-03 01:33] zhenxiao commented on #4697
I could take a look

[2016-03-03 02:34] electrum opened #4701 "500 error on bad query"
[code]

[2016-03-03 04:00] martint commented on #3653
This also applies to the case when possibly non-deterministic subqueries are present:

[code]

[code]

Some additional cases:

[code]

[code]

[code]

[2016-03-03 04:01] martint commented on #4176
This is probably related to https://github.com/facebook/presto/issues/3779

[2016-03-03 04:13] martint commented on #4701
The outputStage from the queryInfo appears to be null

[2016-03-03 04:47] #4701 closed

[2016-03-03 05:09] Downchuck opened #4703 "Aggregate functions on Hive partitioned columns should run without reading underlying data"
When tbl is partitioned by col, aggregates should not need to read the underlying data.
[code]

Note that using explain will show min and max simply through the planner. The current behavior reads all of the underlying data even though the field is virtual and only specified as metadata partitions.

[2016-03-03 05:33] electrum opened #4706 "Make outputStage in QueryInfo use Optional"
The method `getOutputStage()` should be `@Nullable` at minimum, but converting to `Optional` would be better.

[2016-03-03 15:28] KBP-TDC commented on #4698
Btw. this is not directly related but we ran into this several time when porting SQL from other DB engines to Presto:
[code]
It looks like you expect ORDER BY to handle aliases defined in SELECT but WHERE does not even see them.

[2016-03-03 15:36] electrum commented on #4703
We have this. Add the following to your coordinator config.properties:

  optimizer.optimize-metadata-queries=true

Note that this will return wrong answers if you have empty partitions (a normal aggregation would skip them because there are no rows to aggregate).

[2016-03-03 15:36] #4703 closed

[2016-03-03 19:40] martint commented on #4698
Yes, that's per the ANSI spec. The scope of the ORDER BY clause is the columns defined in the SELECT clause, but the scope of the WHERE clause is the columns derived from the FROM clause.

If the WHERE clause could refer to columns in the SELECT clause, the behavior of the following query would be undefined:

[code]

[2016-03-03 20:30] KBP-TDC commented on #4698
That's fair. Obviously you can use a subquery to rename columns and use them later in WHERE. We just observed so many SQL engines (including commercial ones) leaning towards user convenience. I bet they just throw a parsing error when it is unclear/undefined as in your example.

[2016-03-03 20:42] dain opened #4712 "Assumption violation in PredicatePushDown: join predicate to be a valid join equality"
[code]

[2016-03-04 01:25] martint opened #4715 "Implicit coercions not added for expressions involving scalar subquery"
[code]

fails with

[code]

[2016-03-04 02:54] erichwang opened #4717 "Add optimizations for JOIN criteria that evaluates to FALSE"
There are a number of optimizations that can be applied if the JOIN criteria optimizes to the FALSE expression. For example: an INNER JOIN can be replaced with a VALUES node. An OUTER JOIN can be replaced with a PROJECT node, etc.

[2016-03-04 04:06] #3796 closed

[2016-03-04 04:45] martint commented on #4553
Fixed.

[2016-03-04 04:45] #4553 closed

[2016-03-04 06:39] #4589 closed

[2016-03-04 09:29] kokosing commented on #4698
@martint I would like to fix this as it is related to correlated subqueries work (see https://docs.google.com/document/d/18HN7peS2eR8lZsErqcmnoWyMEPb6p4OQeidH1JP_EkA/edit#heading=h.sjurgitot2kp).

[2016-03-04 17:17] sopel39 commented on #4600
@martint @dain Could you take a look at the document? Basically in order to implement fast decimal we have to pass output `Slice` argument to scalar functions. Our benchmarks show that this is the only way to achieve `Slice` based decimal performance comparable with `BIGINT` (for smaller numbers).

To give you an idea take a look at an example `fastDecimalSum` operator. It would have signature: `v

[2016-03-04 22:37] #4712 closed

[2016-03-04 22:44] #1851 closed

[2016-03-05 01:24] cberner commented on #4600
@sopel39 can you take a look at the way I optimized `ArrayConcatFunction`? It would allow you to have scratch space for a `Slice` which might work just as well as an out variable, and is already integrated into all the compilers.
I considered going with the out variable route you're proposing, but decided against it because it introduces a lot of complexity around how to invoke a function with an

[2016-03-05 21:42] #4662 closed

[2016-03-06 05:25] jxiang commented on #4706
@electrum, can you take a look this request?

[2016-03-06 07:28] shezarkhani opened #4725 "COUNT(*) query is not smart when used with LIMIT"
Having a catalog on top of Kafka, I tried these two scenarios:

Doing a pure select with a where clause returns in about 2 seconds.
`presto:default> select * from requests where country = 'US' limit 10;`

However, changing that to a `count` takes a very long time to complete.
`presto:default> select count(*) from requests where country= 'US' limit 10;`

It makes sense for presto to try and do a "f

[2016-03-06 09:52] raghavsethi commented on #4725
Actually, Presto's behavior makes sense. The `LIMIT` operator simply controls the number of rows returned. As count returns only one row, it is logically consistent that Presto would do the entire computation.

[2016-03-06 11:06] kokosing commented on #4662
@dain Thanks!

sob., 5.03.2016, 22:42 użytkownik Dain Sundstrom <notifications@github.com>
napisał:

[2016-03-06 11:45] harunurhan commented on #4725
@shezarkhani
`select count(*) from (select id from requests where country= 'US' limit 10)` should behave like you want.

[2016-03-06 17:48] martint commented on #4725
As explained by @raghavsethi, this is expected SQL behavior. Closing.

[2016-03-06 17:48] #4725 closed

[2016-03-06 17:52] martint commented on #4600
@cberner, that might not be sufficient if we want to optimize across function invocations.

[2016-03-06 19:32] cberner commented on #4600
It certainly might not, but I think it's worth benchmarking first

[2016-03-07 12:56] tsvivek opened #4727 "Presto query to read from postgres and load to hive fails for large table"
Presto version - 0.118
Query - "create table hive.db.test1 as select \* from pg.public.test1"

I have presto installed on 4 nodes, 1 of them being the coordinator node and the others are worker nodes.
The source table has approx 60 million rows. The query works when table has upto 100,000 rows.
When the query is executing (with no progress) i notice no spikes in CPU/Mem utilisation

Is there anyth

[2016-03-07 12:59] tsvivek commented on #4727
everytime i see the following error message in one of the nodes (actual node varies everytime):

com.facebook.presto.operator.PageTransportTimeoutException: Encountered too many errors talking to a worker node. The node may have crashed or be under too much load.

[2016-03-07 13:10] sopel39 commented on #4600
@cberner. Yes, we want to optimize across function invocations. An example expression:
`(dec_col_a + dec_col_b) * (dec_col_c + dec_col_d)`.
Expression compiler would need to allocate two `Slice` accumulators for intermediate results: `acc_1`, `acc_2`.
Then the expression can be compiled into:
[code]
We want to introduce such feature into Presto.

[2016-03-07 18:33] Downchuck commented on #4703
@electrum That makes sense, as a non-default flag. Could we get a default optimization which simply attempts to read one record in the underlying data -- that'd work without returning answers.

[2016-03-07 22:26] nezihyigitbasi opened #4732 "Incorrect results with corrupt binary statistics with the new Parquet reader"
Corrupt statistics for the Parquet Binary type ([PARQUET-251](https://issues.apache.org/jira/browse/PARQUET-251)) affects the experimental Parquet reader when predicate pushdown is enabled. Apparently [the existing](https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/parquet/predicate/TupleDomainParquetPredicate.java#L183) change for handling incorrect

[2016-03-08 01:16] zhenxiao commented on #4732
yes, exactly. We need to upgrade to a newer parquet version, which is using the org.apache namespace, not the old com.twitter namespace. presto-hive-apache needs to be updated to 1.8.1 first, then we could upgrade presto side. What do you think? @dain @electrum

[2016-03-09 02:42] cberner opened #4742 "Queueing System v2"
Goals:
* More control over resources used by a queue
* Better QoS guarantees
* More easily extensible

Key Concepts:
* Resource Group: a resource group "owns" queries, accrues resource usage from those queries, and is roughly analogous to a "queue" in the current system. Limits are placed on groups, but do not cause query failure, instead new queries become queued (or are rejected if too many are

[2016-03-09 18:27] nezihyigitbasi commented on #4742
@cberner this is awesome. Here are some features that I think may be nice to have, what do you think?
* Support modifying queue configuration during runtime (without coordinator restart).
* Show in the web ui the resource group that a query belongs to.
* It sounds useful to me to also have hard limits on memory/runtime/datasize (?) per resource group that causes queries in that group to fail if th

[2016-03-09 20:15] nezihyigitbasi commented on #4629
Closed via #4683

[2016-03-09 20:15] #4629 closed

[2016-03-09 21:20] haozhun commented on #4579
In case the context get lost, @electrum suggested fixing this by doing something similar to magic literal, or using a specially crafted expression.

[2016-03-09 21:54] martint opened #4745 "Improve error messages for ArraySliceFunction"
Passing 0 as the index produces a cryptic "Invalid start index" error. Passing a negative value for length produces "Invalid array length".

Suggestions:
* "SQL array indices start at 1" (to be consistent with the error that occurs when trying to dereference array index 0)
* "length must be greater than or equal to 0"

[2016-03-10 00:31] cberner commented on #4742
Definitely yes to the first two!

I think we do need a way to change hard limits on resource usage, but to avoid scope creep I don't plan to address that in this iteration. See the "Explicit non-goals" section :)
Same for the last point, definitely a good feature, but it's probably big enough to be a whole project to implement priorities to differentiate background vs latency sensitive workloads

[2016-03-10 03:21] javainthinking opened #4748 "java.lang.IllegalThreadStateException occurred occasionally when querying."
Version: 0.138, not sure about 0.141

com.facebook.presto.spi.PrestoException: Expected response code from http://x.x.x.x:xxxx/v1/task/20160310_031408_00004_7ekvh.0.0?summarize to be 200, but was 500: Internal Server Error
java.lang.IllegalThreadStateException
    at java.lang.ThreadGroup.addUnstarted(ThreadGroup.java:867)
    at java.lang.Thread.init(Thread.java:408)
    at java.lang.Thread.init(

[2016-03-10 03:39] javainthinking commented on #4748
when reviewing worker's log, some other exception stack trace can be seen as:

[2016-03-10 11:27:43.381] ERROR System.err 2016-03-10T11:27:43.381+0800 WARN    http-worker-650 com.facebook.presto.execution.SqlTaskManager    Switching coordinator affinity from 7ekvh to m9cfu
[2016-03-10 11:27:44.434] ERROR System.err 2016-03-10T11:27:44.433+0800 ERROR   20160310_032744_00007_7ekvh.0.0-0-343   com.go

[2016-03-10 04:20] prateek1306 commented on #4581
@electrum This is done https://github.com/facebook/presto/commit/189f97856a3d5f86bd48f49461ca67921b7fcaf0

[2016-03-10 05:29] #4581 closed

[2016-03-10 16:08] vitillo commented on #3994
I am experiencing the same issue on EMR 4.3.0.

[2016-03-10 17:45] joy-yao opened #4751 "Invalid weekYear"
select format_datetime(timestamp '2016-01-01 00:00:00.000 UTC', 'YYYYww Z');
    _col0
--------------
 201653 +0000
(1 row)

This should be 201553.

[2016-03-10 18:44] jomach opened #4752 "Table has no supported column types: public.datasets"
Hi Guys,

I 'm starting with Presto. I  Have connected it with postgres and I can run the command : show tables and I get the results back. Wenn I try to select something I get an error similiar to #4082 :

select * from public.datasets;
Table has no supported column types:  public.datasets
Command used to start cli : ./presto_cli --server 192.168.99.100:8080 --catalog postgresql --schema public

[2016-03-10 19:07] joy-yao commented on #4751
This format is wrong. To get the weekyear, use x instead of YYYY.

[2016-03-10 19:07] #4751 closed

[2016-03-10 20:07] #4752 closed

[2016-03-11 09:29] 3h-william opened #4756 "Presto Schema not correct when we use "avro.schema.url" properties to create table in hive ."
HiveMetaStore provide "client.get_schema" to get correct table schema from hive.
Presto only use "client.get_table" to get the "org.apache.hadoop.hive.metastore.api.Table" and then get  the MColumnDescriptor from this "Table" instance.

In our cases, we  use "avro.schema.url"  to create table , and update the schema file in hdfs.
Then this problems happened.
When we run  "describe table" command i

[2016-03-11 15:01] sopel39 commented on #4600
@cberner @martint: ping, are you OK with such feature in Presto?

[2016-03-11 18:48] cberner opened #4757 "Migrate array_slice to new framework"
See https://github.com/cberner/presto/commit/b0f94c381f61465779f909ed6592dfcd8fdbd01a for an example of how this is done. The code is in `ArraySliceFunction.java`

[2016-03-11 18:51] cberner commented on #4757
There should be tests in `TestArrayOperators`, if not add some

[2016-03-11 18:52] cberner commented on #4757
You can also do `RowToJsonCast.java` as a second one

[2016-03-11 18:57] cberner commented on #4757
As a more advanced task you can do `ArrayIntersectFunction.java` also, and then do performance optimizations for it. Take a look at `ArrayConcatFunction.java` which uses an instance variable to reduce memory allocations. The Presto engine will guarantee that your function is called in a single threaded fashion, so you should be able to cache the `leftPositions` and `rightPositions` arrays and reus

[2016-03-11 18:59] cberner commented on #4757
@geraint0923 is going to work on this

[2016-03-13 03:36] LanceNorskog commented on #4505
Is this bug finished?

[2016-03-13 04:06] electrum commented on #4505
Yes, this is fixed, thanks.

[2016-03-13 04:06] #4505 closed

[2016-03-13 04:33] LanceNorskog opened #4767 "Customized INSERT support for Amazon Redshift"
Amazon Redshift is a parallelized OLAP-oriented version of Postgres 8.0 operated as a service by Amazon Web Services. Redshift uses the Postgres syntaxes and JDBC protocol, but behaves very much like Hive.

Using Hadoop infrastructure to prepare data for Redshift is a not-totally-obscure use case for Presto, especially Presto on EMR (Amazon's hosted Hadoop). The problem is that Redshift does not s

[2016-03-13 04:39] LanceNorskog commented on #4767
Is this an utterly terrible idea? What are the gotchas?

[2016-03-13 07:21] electrum commented on #4767
Do they have a JDBC driver that does this?

[2016-03-13 07:24] electrum commented on #4767
It probably wouldn't be difficult to make a Redshift connector using presto-base-jdbc (the base of the MySQL and PostgreSQL connectors) that works like this.

[2016-03-14 08:12] javainthinking commented on #4748
@nezihyigitbasi , thanks for a look. Our presto were integrated within an OSGI container (not sure if this cause some side effect..) Today I replaced all "newCachedThreadPool" with "newFixedThreadPool" with 1000 fixed thread number (just an experiment), then this issue disappeared..

the code change example:
this.executor = newCachedThreadPool(threadsNamed("task-processor-%s"));
-->
this.executor

[2016-03-14 15:25] arhimondr opened #4769 "BIGINT literal to DECIMAL implicit coercion"
In the current decimal implementation we have 2 different binary representation for the `DECIMAL` type. One of them is fast `short_decimal` for the decimals with the precision `<=18` which in implemented on top of long. And the second one is the `long_decimal` which is stored in 16 bits `Slices` and all the arithmetic operations for `long_decimal` are implemented with using "slow" `BigInteger`. In

[2016-03-14 15:36] arhimondr commented on #4769
@dain @martint @electrum
Any suggestions are highly appreciated.

[2016-03-14 15:43] martint commented on #4769
We're currently working on adding other integer types (SMALLINT, integer, etc). Our plan is to derive the tightest type from those for numeric literals, and to introduce the appropriate widening coercions between them. This is, essentially, the last option you mentioned above.

[2016-03-14 16:48] cberner opened #4771 "Failure in phased scheduler"
[code]

[2016-03-14 17:44] electrum opened #4773 "Uncategorized error for OrcInputStream"
[code]

[2016-03-14 17:47] electrum commented on #4773
I think the `OrcInputStream.advance()` method should validate `chunkLength` and throw `OrcCorruptionException`.

[2016-03-14 19:34] lance-edmodo commented on #4767
AWS has a special JDBC driver for Redshift but it does not give any support for this.

[2016-03-14 20:42] dain opened #4775 "Join using does not work with a self join"
[code]

[2016-03-15 00:41] rdblue opened #4778 "Parquet dictionary-based filters can cause incorrect results"
The Parquet read path will push predicates to the file format level and will avoid reading row groups based on column dictionaries. In some cases, Parquet will decide that dictionary encoding isn't optimal and will fall back to non-dictionary encoding for later pages. The current filter detects this case and doesn't filter the row group based on the dictionary, but the detection logic is flawed. T

[2016-03-15 01:06] martint commented on #4698
@kokosing go for it!

[2016-03-15 13:00] harunurhan commented on #4775
`select * from orders o1 join orders o2 using (orderkey);` actually works.

It fails because of the check: [StatementAnalyzer.java#L1117](https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java#L1117).

I think current behaviour is correct, since both MySQL and PostgreSQL don't allow it as well.

[2016-03-15 15:42] #3888 closed

[2016-03-15 15:42] losipiuk commented on #3888
fixed

[2016-03-15 15:49] losipiuk commented on #3889
Starting working on this one

[2016-03-15 15:55] KBP-TDC commented on #4775
Is this SQL statement just another way to express NATURAL JOIN?

[2016-03-15 15:57] ilfrin commented on #4775
we could at least have a better error message in this case

[2016-03-15 20:13] harunurhan commented on #4775
@ilfrin
Although we could have a better one, the current one is actually really similar to what MySQL (` Not unique table/alias: 'table_name'`) and PostgreSQL (`table name "table_name" specified more than once`) have.

[2016-03-15 20:18] martint commented on #4775
We should look into what the SQL spec says about this case.

[2016-03-15 22:03] mattsfuller commented on #4775
@KBP-TDC -- yes. NATURAL is shorthand for USING with the list of all common columns.

This error is more about specifying the same relation twice. It doesn't seem like it would be related to using. The same error would appear if you did select * from orders join orders on .... or select * from orders, orders where ...

The behavior is correct as far as my understanding of the SQL spec.

[2016-03-15 22:13] martint commented on #4775
I looked briefly and I couldn't find anything that says that's not allowed. I can't think of a reason why it shouldn't be allowed, either. Ambiguities would only matter if columns are referenced directly.

[2016-03-15 22:55] martint commented on #4775
Also,

[2016-03-16 06:50] cberner commented on #4771
Opened by mistake, this bug only exists in a branch

[2016-03-16 06:50] #4771 closed

[2016-03-16 14:50] brian-rickman opened #4797 "JDBC driver connection.getMetaData().getColumns(...) returns unexpected values"
I ran across this while comparing the output from Simba's implementation of a JDBC driver for Presto to that of the open source driver.  Having consulted the JDBC documentation and Simba, I believe the open source driver is returning the wrong value for the following output columns: `type number`, `size`, `buffer length`, `decimal digits`, `nullable`, `is nullable`.

The Java code executed was: `c

[2016-03-16 15:05] brian-rickman opened #4798 "information_schema.tables.table_type has BASE TABLE instead of expected value TABLE"
This is also seen in JDBC `connection.getMetaData().getTableTypes()`.

    presto:default> select * from hive.information_schema.tables;
     table_catalog |    table_schema    |          table_name                         | table_type
    ---------------+--------------------+---------------------------------------------+------------
     hive          | information_schema | columns

[2016-03-16 16:29] RobinUS2 opened #4799 "LIKE statements case sensitive all of a sudden?"
Hi there,

It seems that presto suddenly became case sensitive for LIKE statements, which seems to be new.

Is this meant to be? Sounds like a breaking change because queries all of a sudden generate other results. See simple example below.

Thanks!

[code]

[2016-03-16 16:32] KBP-TDC commented on #4799
@RobinUS2 : which version of Presto are you running now? and which version was it previously?

[2016-03-16 16:33] electrum commented on #4799
LIKE has always been case sensitive in Presto (per the SQL standard).

Is it possible you are thinking of MySQL, which uses case insensitive collation a by default?

[2016-03-16 16:38] RobinUS2 commented on #4799
0.142 is the version, so for MySQL it's true indeed, but I thought presto had the same behavior before (we came from 0.141).

Weird thing is that people all of sudden since today complain that their "old queries" return different results.

Is there a way to make like statements case insensitive? Or should we wrap both sides of the statement in a lower() ?

[2016-03-16 18:00] martint commented on #4148
This is already implemented

[2016-03-16 18:00] #4148 closed

[2016-03-16 18:01] martint commented on #3201
This is already fixed

[2016-03-16 18:01] #3201 closed

[2016-03-16 18:02] martint commented on #2711
This is done

[2016-03-16 18:02] #2711 closed

[2016-03-16 18:02] martint commented on #2710
This is done

[2016-03-16 18:02] #2710 closed

[2016-03-16 18:02] martint commented on #2708
This is done

[2016-03-16 18:02] #2708 closed

[2016-03-16 18:02] martint commented on #2707
This is done

[2016-03-16 18:02] #2707 closed

[2016-03-16 18:03] damiencarol commented on #4798
Your assumption is wrong. JDBC doesn't fix values.
This method exists only to discover auto-magicaly tables types.

[2016-03-16 18:04] martint commented on #1043
Yup, closing.

[2016-03-16 18:04] #1043 closed

[2016-03-16 18:04] electrum commented on #4799
You'll need to wrap both sides in `lower()`. I just ran this on 0.141:
[code]

[2016-03-16 18:05] martint commented on #3938
This is done

[2016-03-16 18:05] #3938 closed

[2016-03-16 18:08] electrum opened #4800 "Raptor system.shards table needs to ignore missing index tables"
The distributed tests can fail due to this race condition:

[code]

[2016-03-16 18:16] electrum commented on #4800
There's probably not a good way to check for this exact "table not found" exception for multiple databases. Instead, we can check if the table exists when catching any exception in `getNextResultSet()`. I think this will work:
[code]
This will need a new method on `MetadataDao`.

[2016-03-16 18:49] electrum commented on #4798
This is correct for `information_schema`. See part 11 of the specification for "TABLES base table":
[code]

[2016-03-16 18:55] electrum commented on #4798
JDBC does expect `TABLE`:

https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html#getTables-java.lang.String-java.lang.String-java.lang.String-java.lang.String:A-

And Presto returns the correctly for `system.jdbc.tables` which is used for the JDBC driver:

https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/connector/system/jdbc/TableJdbc

[2016-03-16 18:55] #4798 closed

[2016-03-16 18:57] electrum commented on #4798
`system.jdbc.table_types` is also correct:
https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/connector/system/jdbc/TableTypeJdbcTable.java

[2016-03-16 19:06] electrum commented on #4797
Thanks for looking at this! Some of these values were difficult to figure out and involved a lot of research including looking at what other drivers return, so it's good to have a second opinion.

[2016-03-16 19:06] electrum commented on #4797
Presto currently has no knowledge of nullability anywhere and certainly no way of communicating that to the driver. This doesn't mean that everything allows nulls, however, since you might have a connector that disallows nulls for a specific column, and thus attempting to insert into that table could fail. Thus, we return unknown:

NULLABLE: columnNullableUnknown - nullability unknown
IS_NULLABLE:

[2016-03-16 19:10] electrum commented on #4797
The Javadoc for `getColumns()` says "BUFFER_LENGTH is not used", so 0 seems reasonable. Do you have other documentation or references for this field?

[2016-03-16 19:14] electrum commented on #4797
Where does 2048 come from for "COLUMN_SIZE"? Given those fields are unbounded-varchar values, they could definitely be larger than 2048.

I believe that we interpreted "COLUMN_SIZE" to only be valid for non-numeric types with a length (like varchar) and the JDBC code wasn't updated after the recent varchar changes, so it always returns 0.

[2016-03-16 19:21] electrum commented on #4797
Looking at this again, I do think we are handling numerics incorrectly. For example a `decimal(19,2)` should be
  COLUMN_SIZE = 19
  DECIMAL_DIGITS = 2

[2016-03-16 19:25] electrum commented on #4797
Regarding the data type of varchar, we return `LONGNVARCHAR` since that our varchar can hold international characters and be of any length. However, I'm open to changing it to `VARCHAR` since that is likely better from a compatibility standpoint.

[2016-03-16 19:33] brian-rickman commented on #4798
OK.  Thanks for looking into it.

[2016-03-16 20:05] brian-rickman commented on #4797
For `VARCHAR` columns, Simba uses 2048 for `BUFFER_LENGTH` and `COLUMN_SIZE`.  I will ask why they use this specific value.

I agree 0 is OK for `BUFFER_LENGTH` since the doc says it is unused.

If Presto doesn't know about the nullability of columns, then returning `UNKNOWN` is correct.

I understand your reason for using `LONGNVARCHAR`.  I would not want to break applications that store internat

[2016-03-16 20:26] brian-rickman commented on #4797
Simba is getting the value for `NULLABLE` by querying information_schema.columns:

    presto:default> describe hive.information_schema.columns;
          Column      |  Type   | Comment
    ------------------+---------+---------
     table_catalog    | varchar |
     table_schema     | varchar |
     table_name       | varchar |
     column_name      | varchar |
     ordinal_position | bigint  |

[2016-03-16 20:49] AlkisPlas commented on #4800
I will take this

[2016-03-16 21:11] martint opened #4801 "Support for column aliases in WITH clause"
[code]

[code]

[2016-03-16 21:32] electrum commented on #4797
I think "type_name" is the name of the database type, as the database calls it, so it's correct since it is the "varchar" type in Presto.

[2016-03-16 21:51] electrum commented on #4797
The Javadoc for `TYPE_NAME` says "Data source dependent type name", so "varchar" seems correct, as that is what the type is called in Presto.

As far as using `VARCHAR` (12) vs `LONGNVARCHAR` (-16), I picked the latter because it seems to be the most technically correct type. However, from a compatibility standpoint, especially for existing JDBC applications, using the former could be better, so I

[2016-03-16 21:54] electrum commented on #4797
The `is_nullable` column in `information_schema.columns` is as correct-as-possible given the SQL standard only allows "YES" or "NO" for that column.

I recommend using the `system.jdbc` tables for the JDBC driver. These were added relatively recently (sometime last year) to remove all the complexity and decision making from the driver.

[2016-03-16 22:03] electrum commented on #4797
I also agree that we should have both drivers return the same metadata. We should also document why specific values are returned, given all the confusion around exactly what the various fields mean.

[2016-03-16 22:04] electrum commented on #4799
I'm closing this given the above verification on 0.141. If you have counter-examples, please reopen.

[2016-03-16 22:04] #4799 closed

[2016-03-16 22:04] brian-rickman commented on #4797
I have not yet tried getColumns() in other systems with Unicode character sets, but I will add that to my to-do list.

Using the tables in `system.jdbc` will greatly simplify this task.  Thank you.

[2016-03-16 23:16] raghavsethi opened #4805 "Add GROUPING support to Presto"

[2016-03-16 23:25] cpcloud commented on #4805
FWIW, the standard specifies a `GROUPING(<column reference>)` that looks like it's supposed to do this. It's a bit vague.

Postgres implements this as `GROUPING(<col1>, <col2>, ..., <colN>)` (0 if the `<colN>` is contained and 1 if it is not contained in the aggregation level, which is the inverse of what Hive does)

http://www.postgresql.org/docs/9.5/static/functions-aggregate.html

[2016-03-16 23:25] cpcloud commented on #4805
The standard section is 4.16 in Part 2 of SQL:2011

[2016-03-16 23:40] raghavsethi commented on #4805
@cpcloud We will almost certainly implement this as per the spec.

[2016-03-17 03:14] martint commented on #4805
It's specified in more detail in section 4.9:

[2016-03-17 03:17] martint commented on #4805
For completeness, from section 4.16.2:

[2016-03-17 04:29] cpcloud commented on #4805
Nice, thanks for posting that.

[2016-03-17 12:22] harunurhan commented on #4801
I have done something that seems to work but not for VALUES, currently it is a draft not the final code. It re-writes the WITH query with alias.

I am not sure if my approach is correct. Can you have a look at it? @martint  https://github.com/harunurhan/presto/commit/d233f656ccb243fa8dcf431e3a0340efd5963c5b

[2016-03-17 16:23] arhimondr opened #4813 "Comprehensive VARCHAR(x) implementation roadmap"
We did some invistigation of what have to be done in order to support the parametrized VARCHAR type system-wide.

In order to support the bounded VARCHAR we need to get done the next things

**Support VARCHAR(x) in Presto connectors**
1. JDBC connectors (MySQL, Postgree)
   - Return correct type for the VARCHAR(x) columns
   - Truncate values longer that the type in Metadata
   - Use the `Varchar.

[2016-03-17 16:35] arhimondr commented on #4813
@dain @martint @electrum
This is going to be a very big change. Only the `VarcharType.VARCHAR` is used in over thatn 1200 places. Is it better to separate this change in a several PR, or it is better to put all the changes into single consistent PR?

[2016-03-17 16:45] electrum commented on #4813
This type of change almost always needs to be done in small parts. Otherwise it's too hard to review, and you have to keep rebasing as things change.

[2016-03-17 16:48] arhimondr commented on #4813
@electrum Does this plan looks good to you?
If it does, from what do you think it is better to start?

[2016-03-17 21:38] billonahill opened #4816 "Selecting only partition column causes table scan in parquet-hive"
```select min(datehour) from foo;``` will cause a full table scan on a table ```foo``` partitioned by ```datehour```. Instead the query should only scan the hive table metadata.

[2016-03-17 21:45] martint commented on #4816
Try setting the `optimize_metadata_queries` session property to true or enabling the `optimizer.optimize-metadata-queries` configuration option (in config.properties).

This optimization is disabled by default because it's invalid if there are empty partitions (which is, unfortunately, allowed by Hive).

[2016-03-17 22:24] martint opened #4817 "format_datetime/parse_datetime docs incorrectly reference Java's SimpleDateTimeFormat"
The documentation for format_datetime indicate the functions use Java's SimpleDateTimeFormat syntax. In reality, the implementation uses JodaTime's DateTimeFormat, which supports a different syntax.

Java: http://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html
JodaTime: http://joda-time.sourceforge.net/apidocs/org/joda/time/format/DateTimeFormat.html

[2016-03-17 22:27] electrum opened #4818 "ConcurrentModificationException in HttpRemoteTask"
[code]

[2016-03-17 22:53] #4818 closed

[2016-03-18 13:03] gmrodrigues opened #4820 "Connector tpch is already registered"
Im trying to run presto in IntelliJ with the following run configurations:

[code]

When I run, I get the following error:

[code]

It seems presto is trying to load the same plugin multiple times.

Here is the full log:

[code]

[2016-03-18 13:40] buremba opened #4821 "Error when coercing VARCHAR in MAP<VARCHAR, T>"
`select * from (values (map(array['test'],array[1])), (map(ARRAY['test2'], array[1])));`
throws an exception:
`Cannot cast map(varchar(4),bigint) to map(varchar(5),bigint)`

I think we need to implement CAST operator for MAP<T, T> to MAP<T, T> in order to make it work. ARRAY type works as expected because there is ArrayToArrayCast that takes care of coercing inline types.

[2016-03-18 16:50] ilfrin commented on #4600
@martint @dain per our conversation yesterday, please let us know if this path is acceptable. thank you.
cc @cberner

[2016-03-18 17:04] billonahill commented on #4816
Thanks @martint. ```optimize_metadata_queries``` doesn't seem to be a session property, but I'll try setting the other on the connector, if possible. We can't set it globally since we do have empty partitions in some cases.

[2016-03-18 17:05] martint commented on #4816
The session property was added in the last version or the one before it

[2016-03-18 17:11] billonahill commented on #4816
Thanks I see it now. It's in 142.

[2016-03-18 17:11] zhenxiao commented on #4816
@billonahill the session property is in 142 release:
https://prestodb.io/docs/current/release/release-0.142.html

[2016-03-18 23:11] erichwang opened #4828 "Don't use AnsiOutputStream in CLI when using the -f flag"
In the current version of the Presto Java CLI, if the data is being output at a high rate, the CLI can spend more than 20% of its CPU time doing the ANSI coloring. If the CLI is being run with a -f flag to read the query from a file, then the coloring is pointless. We should disable the AnsiOutputStream in the non-interactive case.

Here is the perf output:
-   22.53%  java     perf-4139744.map

[2016-03-18 23:21] erichwang opened #4829 "Java CLI parses type signature from string for each value"
The Java CLI parses the type signature over and over again for each value in the output. Perf shows that under high output rate, the CLI spends more than 8% of the CPU on this operation. Since the output schema is fixed, we should only need to parse each type exactly once.

Here is the perf output:

-    8.30%  java     perf-4139744.map     [.] com.facebook.presto.spi.type.TypeSignature.parseTypeS

[2016-03-19 02:17] klaussfreire opened #4831 "Intermediate aggregation not being applied with union all"
This is as simplified as I've been able to get it.

We've got two HDFS-backed tables, in parquet, hive catalog:

[code]

(removed irrelevant columns)

This query ought to be performing preaggregation, but it isn't, it's transmitting the raw rows (which is far less efficient) to an aggregation remote step:

[code]

This is Presto 0.136 running in AWS (EMR), it used to perform the preaggregation at

[2016-03-19 11:04] harunurhan commented on #4829
I am working on this one.

[2016-03-20 05:24] yuanxiang250 opened #4835 "why not support delete operation ？"
https://prestodb.io/docs/current/sql/delete.html

presto version ==presto-server-0.142

execute ：：：

 delete from aa  where url_action like '%baseservice%' and date='20160301';

 ”date“  is my partition  。。。。
presto  error：：：
Query 20160320_051502_00027_e3mbd failed: This connector only supports delete where one or more partitions are deleted entirely

[2016-03-20 08:19] harunurhan commented on #4775
Thanks @martint.

In addition, according to this SQL spec, we should allow this:
`SELECT * FROM t1 x JOIN t2 x USING (a)`

also this
`SELECT x.some-unique-name FROM t1 x JOIN t2 x USING (a)`
the column `some-unique-name` can belong to t1 or t2

[2016-03-20 09:11] rtijoriwala opened #4836 "Show comments in describe view"
Issuing a "descrive my_view_name" shows column name, type and comment information but comment information is always empty. Is there a way to add comments to columns of a view and display them?

[2016-03-20 17:10] electrum commented on #4775
Yes, JOIN USING needs to be fixed: #2311

[2016-03-20 17:18] electrum commented on #4836
We could add this. PostgreSQL supports this: http://www.postgresql.org/docs/9.5/static/sql-comment.html
[code]

[2016-03-20 17:38] buremba opened #4838 "Error when GROUPING SETS is used with UNION"
The following query
`select * from (select 'a' col1, 'b' col2 union all select 'a', 'b' col2) group by grouping sets (col1,col2);`
throws this exception:

[code]

[2016-03-20 19:30] dain commented on #4835
Hive only supports dropping an entire partition at a time (under the covers it uses the Hive Metastore to drop the partition).  It is possible to rewrite a whole partition removing specific rows, but we have not implemented that since most people only manage whole partitions in Hive (and it is very expensive).

[2016-03-20 20:07] buremba opened #4839 "Support for aggregate pushdown"
Currently, Presto uses predicate pushdown technique which can dramatically affect the query performance by skipping segments. I think aggregate pushdown also would be a great feature for Presto since it's an interactive analytic query engine and AFAIK people usually execute aggregation queries on Presto.

Raptor connector already pre-calculates row count of shards, maximum and minimum of each colu

[2016-03-20 20:07] rtijoriwala commented on #4836
I am using Presto with Hive connector. Comments for table columns show up fine but when I describe a view created via presto on the same table, comments column show empty.

presto:default> describe dummy;
 Column |  Type   |    Comment
--------+---------+---------------
 value  | varchar | ADDED COMMENT
(1 row)

Query 20160320_105648_00038_zq3by, FINISHED, 1 node
Splits: 2 total, 2 done (100.00%)

[2016-03-20 21:12] dain commented on #4839
There are two distinct approaches that can be taken here:

1. Materialized query rewrites: there are known queries that have been precomputed and stored.  The engine detects a queries that can be rewritten in terms of a materialized result.  This is what you have described with Raptor, and what Presto already can do for Hive partition keys (all be it in a very limited way).

2. Push aggregation fu

[2016-03-20 21:53] buremba commented on #4839
Materialized views are useful but you need to re-write full table every time you want to update the result AFAIK.

In practice, we usually need incremental computation so this makes pre-aggregation much more complex. Therefore I think it's best for aggregate pushdown to work in a way similar to predicate pushdown so 2 seems to be better choice for me since the connectors can have their own pre-agg

[2016-03-20 22:43] dain commented on #4839
Um, I don't think I'm getting my point across.

In the case of Raptor it is calculating the min/max/count/is_nullable for every column per shard when writing a shard.  You can think of this as materializing the query:
[code]
This is what I mean by case 1.  The connector would say "BTW, I have the following queries precomputed and always up to date".  This same design would work for Druid since it

[2016-03-21 04:49] stagraqubole commented on #2678
Hi @cberner, is this closed because it will be taken care of as part of some other work or is it off the radar for now?

[2016-03-21 15:23] buremba commented on #4839
OK, now I get it. It seems like a clever solution which doesn't require much work compared to second option but still powerful as it is. Practically, it's similar to aggregate pushdown but it seems that connectors that use jdbc-connector can't take advantage of this feature in this case. Anyway, I didn't actually think of the consistency problem that you mentioned so that's fair.

I think the pre-

[2016-03-21 16:03] viatk commented on #4675
Implemented in https://github.com/prestodb/presto/pull/4827

[2016-03-21 17:44] cberner commented on #4129
Take a look at how `QueryManagerConfig.getQueueConfigFile` is used. You'll probably need to add something similar to `HiveClientConfig`.

[2016-03-21 17:47] cberner commented on #4129
@geraint0923 is going to work on this

[2016-03-21 18:21] martint commented on #4289
This is done

[2016-03-21 18:21] #4289 closed

[2016-03-21 19:29] sopel39 commented on #4226
We are planning to add skewness metrics for `EXPLAIN ANALYZE`. This would be useful for developers and analysts to figure potential query performance problems.

There are two skewness metrics that we were thinking on:

**Operators input skewness: concurrent operators for the same plan node might receive different number of rows.**

Assume that there are 3 machines. Assume that 1 machine processes

[2016-03-21 19:51] martint commented on #4226
Reporting percentiles is a very good idea. It's one of the things I want add to the web-based visualization of query execution, too.

We may also want to show mean and standard deviation of those metrics. It can make it easier to spot problems at a glance.

[2016-03-22 00:16] electrum commented on #4322
@cosinequanon good idea, I updated the description

[2016-03-22 00:24] dbj8 commented on #4322
If possible, a line break in between Table and Query data might make scanning the differences easier on the eye.

for example now we have Table has blah blah blah. Query has blah blah blah.

This sucks when I make really big tables and even only 1 or two mistakes.

Changing it to the following could make it bit easier.
Table has blah blah blah.
Query has blah blah blah.

[2016-03-22 01:14] cberner commented on #2678
It was already fixed in https://github.com/prestodb/presto/pull/2085

[2016-03-22 04:15] stagraqubole commented on #2678
It did not cover the case this issue talks about ie splitting aggregations accompanying count distinct into two stage aggregations. I dont see that in code too, @zhenxiao please correct me if I am wrong

[2016-03-22 14:18] pnowojski commented on #4226
@sopel39 think also about `ParallelHashBuilder` which also can suffer from data skew.

[2016-03-22 18:10] zhenxiao commented on #2678
@stagraqubole @cberner Seems this case is not covered. Shall we continue with it?

[2016-03-22 19:43] nezihyigitbasi opened #4848 "Presto allows modification of the metadata of other users' tables"
When I drop a table that is created by another user Presto fails with `Unable to drop ... owner of the table is different from session user`.  However, it's possible to do add/rename column and rename table on those tables.  What does the sql standard say about that, should those ops be denied too? If we should not allow these ops, I will be happy to provide a fix.

[2016-03-22 19:53] dain commented on #4848
That check in `com.facebook.presto.hive.HiveMetadata#dropTable` is legacy from when we didn't have security.  It should be removed or moved to `NoAccessControl`.  To move it we would have to add `HiveMetastore` to `NoAccessControl` so it could access the table metadata.

@electrum what approach do you want to take?

[2016-03-22 20:12] electrum commented on #4848
I agree, we should remove the check now that we have security.

[2016-03-22 20:14] nezihyigitbasi commented on #4848
How about the `allowRenameColumn` and `allowRenameTable` checks in `HiveMetadata`? `allowRenameTable` is already in `NoAccessControl` so we can remove it, and I think we can move the other one to `NoAccessControl` too.

[2016-03-22 20:23] nezihyigitbasi commented on #4848
Just to confirm, do we want to remove the check below or move it to `NoAccessControl`?

[code]

[2016-03-22 21:45] #4835 closed

[2016-03-22 21:48] electrum commented on #4848
@nezihyigitbasi yes, we should move the check there. That whole module is legacy now that we have real security.

[2016-03-22 21:52] nezihyigitbasi commented on #4848
regarding the other part of my question, should we support the same check (whether the table belongs to the session user) for add/rename column and rename table operations?

[2016-03-23 06:13] litao-buptsse opened #4850 "Failed when query hive table with custom InputFormat"
I have a hive table with a custom InputFormat. When I query the hive table using presto, It throws the following exception:

[code]

Here is my SymlinkLzoTextInputFormat:

[code]

I found that com.facebook.presto.hive.HiveUtil.createRecordReader() will new a FileSplit() object, instead of get InputSplit from SymlinkLzoTextInputFormat.getSplits() which will return a SymlinkTextInputSplit array. So

[2016-03-23 19:39] ebd2 opened #4858 "Create a default SystemAccessControl implementation"
Per comment on #4852, there should be a default implementation that requires the username to match the Kerberos principal name.

[2016-03-24 01:24] tomz commented on #4482
This has to do with the following lines in HiveWriteUtils.java:

[code]
The following fixes the issue, but I'd like to know if there's a better way because submitting a PR:

[code]

[2016-03-24 18:12] billonahill opened #4868 "Provide query size upper bound via max number of splits"
Our users have no idea how large the data is they're trying to query and they submit massive queries and wonder why they take a long time or fail. There have been discussions about how to support an upper bound based on data size, but that's hard to accurately measure.

I suggest adding a session property for the max number of splits (a proxy of data input size). The default could be `Long.MAX_VAL

[2016-03-24 18:15] nezihyigitbasi commented on #4868
Related #3733.

[2016-03-24 18:55] martint opened #4869 "Potential deadlock when using phased scheduler with broadcast joins"
[code]

[code]

The scheduling dependency graph is missing an edge (2->1), which can cause the join stage to be scheduled independently (and before) the build stage.

[2016-03-24 23:11] #4869 closed

[2016-03-25 01:13] #4675 closed

[2016-03-25 09:29] mtrbean opened #4874 "Predicate Pushdown for JDBC connector is too limited"
From reading `com.facebook.presto.plugin.jdbc.QueryBuilder` it appears that predicate pushdown only works for BIGINT, DOUBLE and BOOLEAN column types. Is there any reason why other types e.g. varchar (string) are not supported?

[2016-03-25 15:19] dain commented on #4874
IIRC, MySQL doesn't support proper character encodings so you get different results depending on if Presto or MySQL executes the filter.  I don't know if the same is true for Postgres, so it is might be possible to enable it for just that.  Also, there may be some work around for the MySQL issues.

[2016-03-25 16:38] brian-rickman opened #4876 "CLI displays misleading error if CLI and server versions are not compatible"
If the CLI and server versions are not compatible, the CLI reports:

when a query using new datatypes is executed.

It would be much better if the CLI checked the server version when first establishing communications and reported "Version XXX of CLI is not compatible with version YYY of Presto server."

[2016-03-25 17:53] mtrbean commented on #4874
Not sure exactly what it means, but MySQL does support unicode character encoding for one thing so it will be a very big win for people who have set their database up with sane / correct encoding. We have several big tables in MySQL and it's very painful that presto has to to table scan in most queries.

How about filtering on date / timestamp column?

[2016-03-25 20:56] electrum commented on #4874
We're adding support for those columns in #4842.

[2016-03-25 21:07] electrum commented on #4874
We will need to test the character encoding stuff to see how it works. For example, if MySQL is using a non-Unicode charset like latin1, and you compare against a Unicode character, what does the MySQL JDBC driver when calling `setString()` with that Unicode value? As long as the predicate returns false, that's correct behavior, since it would be impossible for the MySQL column to hold that value.

[2016-03-25 22:37] mtrbean commented on #4874
Thanks! Good to know that this is coming soon. You are right that trailing space is ignored when doing comparisons with `char` columns.

Does #4842 support other column types as well?

[2016-03-26 00:18] electrum commented on #4876
The protocol should be backwards compatible and thus the CLI should be forwards compatible. Unfortunately, there was a bug in the CLI Java code (it didn't affect clients in other languages).

We don't want the CLI to reject new server versions because it should be compatible.

An option here that we didn't think about previously (but could still implement) is to have the server return a fake error

[2016-03-28 03:00] pallavia7 commented on #4674
Created pull request https://github.com/prestodb/presto/pull/4883

[2016-03-28 09:26] litao-buptsse opened #4884 "Presto support "lateral view explode"?"
I have a hive table with field type array<struct<f1:int,f2:string>>, I will use "lateral view explode" to process it in hive. But I found presto doesn't support "lateral view explode".
Does presto will support it in the future and how do I process the complex field right now?

[2016-03-28 09:27] litao-buptsse commented on #4850
any response?

[2016-03-28 10:15] youngwookim commented on #4884
https://prestodb.io/docs/current/migration/from-hive.html

HTH

[2016-03-28 13:59] litao-buptsse commented on #4884
@youngwookim Thank you

[2016-03-28 15:05] stagraqubole commented on #2678
We have seen a requirement of this, we can pick this up.

[2016-03-28 15:56] brian-rickman commented on #4876
That seems like a good solution for times when the protocol is not actually backwards compatible.

[2016-03-28 16:40] #4884 closed

[2016-03-28 17:20] electrum commented on #4876
Feel free to send a PR for this example you found.

[2016-03-28 17:37] haozhun commented on #4503
Abandoned previous attempt: https://github.com/airlift/slice/pull/51

[2016-03-29 14:50] ChrisFeldmeier opened #4894 "Is Cassandra Thrift required?"
Does Prestodb require Cassandra with Thrift to connect or is this optional?

[2016-03-30 00:35] #3251 closed

[2016-03-30 01:19] #3988 closed

[2016-03-30 13:58] ilfrin commented on #4813
+@martint @dain what's your opinion on this plan?

[2016-03-30 15:49] martint commented on #4813
This looks like a good plan. Let's try to do it in small steps as much as possible to make it easier to review and integrate.

I would probably focus on 6, 5, 1, 2, 4 and the functions first.

[2016-03-30 16:33] jakovm commented on #1848
This is still an issue...

[2016-03-30 17:16] cpcloud opened #4901 "try(cast(...)) fails with multiple predicates in a where clause"
When I run the following query:

[code]

It produces the error message: `Compiler failed and interpreter is disabled`

When I remove the `id = 1` in the final query, the query works as expected.

[2016-03-30 18:42] martint opened #4904 "Error during analysis in GROUP BY query with AT TIMEZONE"
[code]

[code]

[2016-03-30 20:19] martint opened #4908 "Support EXCEPT"
[code]

[code]

[2016-03-31 01:01] martint opened #4909 "Cannot insert null into table without explicit cast"
[code]

[code]

[2016-03-31 02:20] geraint0923 commented on #4904
Fixed by #4905

[2016-03-31 02:20] #4904 closed

[2016-03-31 08:49] ilfrin commented on #4813
cool, thanks, we'll plan this out.

[2016-03-31 08:51] ilfrin commented on #4600
bump :)

[2016-03-31 16:53] cberner opened #4911 "Add skip CPU check regex to verifier"
This should work similarly to `skipCorrectnessRegex` in `VerifierConfig`, but skip the CPU comparison between control and test. It should probably default to `(?i)(?s).*LIMIT.*`

[2016-03-31 17:01] maciejgrzybek commented on #4909
@martint is simple check for null in type matching fine (if type match OR inserted type = `null`) or you expected something more clever here?

[2016-03-31 18:52] martint commented on #4909
Yes, I think that would be sufficient for now. Once we revamp the type system/coercions/inference, we can fix it the right way.

[2016-03-31 18:55] martint opened #4913 "Print server version before verifier run"
Having the server version (from system.runtime.nodes) readily available can help troubleshoot errors during verifier runs.

[2016-03-31 18:56] maciejgrzybek commented on #4909
Okay, so I will make it.

[2016-03-31 19:10] geraint0923 commented on #4745
Fixed by #4762

[2016-03-31 19:10] #4745 closed

[2016-03-31 19:43] nezihyigitbasi opened #4914 "Support a pluggable authentication mechanism"
To support authenticating users against different systems it would be nice if Presto could support a pluggable authentication mechanism. A use case where this can be useful is to have IAM role support for S3 accesses (see #2640). A custom S3 authentication module will then authenticate the user using his/her IAM role and pass the principal back to Presto, which should be passed all the way down to

[2016-03-31 20:00] dain commented on #4914
Views in SQL execute as the owner if the view.  How would this work in this scenario where you do not have credentials for the view owner?

[2016-03-31 20:43] nezihyigitbasi commented on #4914
I think it should fail. If a user creates a view using an IAM role, another user shouldn't be able to access that view without providing the _same_ role. Otherwise every user will be able to access all the views that are created using different roles. What do you think?

[2016-04-01 00:12] cberner opened #4915 "Non-deterministic test failure in TestRaptorDistributedQueries.testCreateBucketedTable()"
This test seems to fail about 1 in 5000 runs

[code]

[2016-04-01 05:50] kokosing commented on #4908
This is on Teradata's roadmap, as it is required to run TPC-DS benchmark. If you (FB) don't need in a near future then hopefully we (TD) will be able to handle this within this year.

[2016-04-01 05:52] kokosing opened #4918 "Support INTERSECT"
[code]

[2016-04-01 21:22] #4909 closed

[2016-04-01 22:13] dain opened #4925 "Discovery service should not replicate to itself"
In the logs on the coordinator I see POSTs to `/v1/store/dynamic` from the coordinator itself.  This comes from `io.airlift.discovery.store.HttpRemoteStore#updateProcessors`. This method has code to filter out the current node, but it doesn't seem to be working.

[2016-04-01 22:59] klaussfreire commented on #4831
Let me know if there is a way in which I can help.

[2016-04-01 23:09] martint commented on #4831
This could be related to b128446e1c03b0233322f7716e2534936858ff75.

[2016-04-01 23:33] klaussfreire commented on #4831
Doesn't seem to. We have `push_table_write_through_union` defaulted to true in our cluster:

[code]

[2016-04-01 23:35] martint commented on #4831
Looking at the code, I'm not sure this ever worked. Can you post the plan you got in older versions?

[2016-04-01 23:45] klaussfreire commented on #4831
We don't have 0.110 running any more, but let me see if I can launch an older version, and check the simple query. If I have to import real data to get the old plan (does Presto use estimates about table sizes?) it may take a while.

[2016-04-02 01:17] klaussfreire commented on #4831
I cannot reproduce the old plan on 0.125 with empty schemas (not sure whether emptiness is a factor).

If memory serves, 0.110 managed to do it, but maybe my memory doesn't serve. Even if it never worked, it should be perfectly safe to do, and would be a big efficiency improvement - although it would go from regression to feature request ;)

I'm trying to test with 0.119 now, if that doesn't repro

[2016-04-04 17:33] akshatnair opened #4931 "Delete for hive connector does not work for expressions on partitioning column"
If the WHERE clause is based on a function of partitioning key then DELETE does not work even if it matches the entire partitions.

[code]

Currently it works only when  the partitioning column is directly compared in the predicate.

[2016-04-04 17:35] raghavsethi opened #4932 "DELETE FROM doesn't deal with projections properly"
This statement should work properly, but fails with a misleading error message.

[code]

@akshatnair discussed this in #4544 and I've run into it as well.

[2016-04-04 20:08] akshatnair commented on #4931
Duplicate of #4932, closing this

[2016-04-04 20:08] #4931 closed

[2016-04-04 22:35] klaussfreire commented on #4831
Well, I finally launched 0.110 and it exhibits the same behavior, so maybe you were right and it never worked. But without the UNION ALL it does work (as per the explain in the OP). It may have been a coincidence that we started using UNION ALL at the same time we upgraded the cluster.

So, this isn't a regression itself, but there's certainly an oportunity for a substantial speedup here if it can

[2016-04-04 22:41] martint commented on #4831
Yes, definitely. We've done this for CREATE TABLE / INSERT, but we're still missing some other operations.

[2016-04-05 15:42] maciejgrzybek opened #4942 "Add FLOAT type"
Similar to https://github.com/prestodb/presto/pull/4711 and https://github.com/prestodb/presto/pull/4910 there should be native support for float as well.

[2016-04-05 15:42] maciejgrzybek commented on #4942
@martint can you assign me to this issue?

[2016-04-06 09:48] fiedukow commented on #4133
I'm currently working on that.

[2016-04-06 14:47] anusudarsan commented on #4918
I will be looking into this.

[2016-04-06 17:40] martint opened #4952 "Need a way to produce empty approx sets"
`approx_set` currently produces NULL if there are no input values. Arguably, this is wrong, but it's consistent with the behavior of `sum`, `avg`, etc. (although not with `count`)

We need a way to represent empty approx sets. A couple of alternatives:
- Change approx_set to return an empty set if there's no input
- Introduce an approx_empty_set() function that can be used to substitute NULLs via

[2016-04-06 19:07] #4829 closed

[2016-04-06 19:39] damiencarol commented on #3074
@electrum I really need this feature. Do you know how to take down this one?

[2016-04-07 04:48] #4523 closed

[2016-04-07 15:41] fiedukow opened #4962 "Random fail in travis build (tests)"
There was a single time problem with test running in this build:
https://travis-ci.org/prestodb/presto/jobs/121422112

I'm not sure if reporting such issues is required, but this doesn't seems like crash caused only by external environment (like network failure). Any ideas?

[2016-04-07 16:11] #4828 closed

[2016-04-07 16:41] #2241 closed

[2016-04-07 16:41] electrum commented on #2241
Fixed in #4477

[2016-04-07 18:17] nileema opened #4964 "Remove usages of query stats for verifying input rows in tests"
Currently `QueryStats` are not guaranteed to be correct (updated) on query completion. We use query stats in `HivePartitioningTest.getProcessedLinesCount`  to get the input positions.

Right now we do not have a reliable way to get this information, so we should possibly remove these tests.

[2016-04-07 19:48] cberner opened #4965 "Cleanup row field reference implementation"
We should remove the special case for field reference from `FunctionRegistry.getScalarFunctionImplementation()` and then change `BytecodeExpressionVisitor.visitCall()` to use a new `BytecodeGenerator` instead of `FunctionCallCodeGenerator` to handle the field reference. Take a look at `RowFieldReference` to see how the implementation needs to work.

[2016-04-07 20:58] anusudarsan commented on #4918
We are planning to implement a first version of this as query rewrite, by rewriting the `INTERSECT` query as an `UNION ALL..GROUP BY..WHERE`.

Say we have a query:
`SELECT a FROM foo INTERSECT SELECT x FROM bar;`

This query can be rewritten in the following ways -
**Approach 1:**
[code]

**Approach 2:**
[code]
**Approach 3:**
`SELECT DISTINCT a FROM foo INNER JOIN bar WHERE a <=> x; `(provided we

[2016-04-07 21:18] mattsfuller commented on #4908
We'll probably be working in this sooner than we initially thought.

[2016-04-07 21:55] martint commented on #4918
That sounds reasonable.

A slightly different rewrite could be:

[code]

[2016-04-08 06:02] knowledgehacker opened #4966 "In memory hash join causing OOM"
I am using Presto 0.110. One of our query causes out of memory error when doing in memory hash join.
From the heap dump, I see the compiled PagesHashStrategy occupies most retained memory.
From the code, I see channels(one channel per column), a join channel, and a  hash channel are setup. In my understanding the channels are used to get column data from the hashed splits, while the join channel i

[2016-04-08 07:58] zhuqunzhou opened #4967 "Why presto become slower?"
When i merge the small `hdfs` files into one `hdfs` file,I find `presto` become slower.

I search the `presto` task detail on `presto` `8080` web page,i find the `Bytes/s` and `Rows/s` become very slow.

I use `lzo` to compress my data.

Why?And if i change the compression format is useful?

[2016-04-08 12:06] RobinUS2 commented on #4967
It sounds like there's fewer splits (~ files) than hosts, meaning that the query is too small to use the full concurrency of the cluster you have.

[2016-04-08 14:37] anusudarsan commented on #4918
ok. Thanks for the suggestion. This way there is no CASE statement to evaluate.

[2016-04-08 14:40] gruberjuliannama commented on #4918
Approach 1 we can condense everything into a singlegroup by. Also, Approach 3 would involve figuring out the appropriate join ordering for optimal performance. In addition for Approach 1's query rewrite, T1 and T2 rewrite remains the same, only the expression after GROUP BY(WHERE clause) changes.

Approach 2 and 3 will not work well and the rewriting logic wont be extensible when we want to implem

[2016-04-08 18:31] haozhun opened #4973 "Fix scheduling so that bucketing on Hive tables can be re-enabled"
#4970 needs to be rolled back. Tests are available in #4972.

[2016-04-08 19:03] haozhun commented on #4973
It would also be worth double-checking that insertion into list bucketed and sort bucketed table is rejected

[2016-04-09 05:58] kokosing commented on #4964
I will fix this.

[2016-04-11 05:51] kokosing opened #4982 "Use QueryStats in HivePartitioningTest"
Currently `QueryStats` are not reliable and are not guaranteed to be correct (updated) on query completion. They used to be used in `HivePartitioningTest` to check how much data was read by a given query. It was removed to avoid intermittent failures caused by unreliable `QueryStats`.

This issue aim is to revert usage of `QueryStats` in `HivePartitioningTest` once they got fixed.

CC: @nileema

S

[2016-04-11 08:01] zhuqunzhou commented on #4967
@RobinUS2 ,Thank you.
I guess,Once i merge the small files,the number of splits is fileSize/min(max-split-size).But,if there are a lot of small files,each file will has one split at least,right?

So,when i set smaller max-split-size,i will have more splits? And is there any problem of more splits?

Thanks!

[2016-04-11 08:01] darkrwe opened #4983 "Mysql connector cannot retrieve tables which includes underscore in table name"
presto-server-0.139 still have mysql connector problem .

Create database in mysql:

CREATE DATABASE TUTORIAL_1;
USE TUTORIAL_1;
 CREATE TABLE USERS (userid VARCHAR(15), gender CHAR(1), Age SMALLINT,country VARCHAR(50), SIGN_UP VARCHAR(50));

presto> SHOW TABLES FROM mysql.TUTORIAL_1;
 Table
-------
(0 rows)

Query 20160301_082814_00005_fjdbm, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:

[2016-04-11 11:50] mango77881 opened #4984 "lost modifed function isAcceptedType and buildSql in file QueryBuilder.java for issue #4711"
It seems lost modifed function isAcceptedType and buildSql in file QueryBuilder.java for issue #4711. JDBC connector could push down where condition while use integer type.

[2016-04-11 14:23] electrum commented on #4967
I don't think that lzo files are splittable.

[2016-04-11 15:07] #4580 closed

[2016-04-11 17:58] haozhun commented on #4973
Also add tests and verify correctness when empty bucket should exist

[2016-04-11 19:30] petroav commented on #4964
@nileema I've played around with `QueryStats` and observed that intermittently it doesn't get updated correctly for a query. When I run into such a scenario it doesn't matter how long I wait, the stats never get updated. I was about to start investigating this. Is this a known bug? Or rather, do you know what the solution is and just haven't gotten around to implementing it?

[2016-04-11 19:53] electrum opened #4991 "Handle hive.orc.use-column-names for empty files"
The Hive ORC writer creates the output file lazily. If there are no rows, the `close()` method creates a file without any columns (newer Hive versions create a zero byte file). This causes issues for `hive.orc.use-column-names`.

We should fix the column handling code to account for these "empty" files.

Additionally, for non-bucketed tables, the writer code could delete the file if no rows writte