[2017-06-26 22:19] dereksabryfb opened #8370 "QueryStats has useful statistics that could be exposed to /v1/query API"
Currently, queuedTime, rawInputDataSize, processedInputDataSize,  rawInputPositions,
and processedInputPositions are valuable counters which are collected in QueryStats but are not exposed to the /v1/query API.

[2017-06-26 22:39] martint commented on #8348
[code]

which is used in double to decimal saturated floor cast outputs `12345.55`. It should be `12345.56`.

[2017-06-26 22:42] martint commented on #8348
And the problem is that `new BigDecimal(12345.56)` doesn't produce a BigDecimal that represents that value exactly. It's `12345.559999999999490682967007160186767578125`.

[2017-06-26 23:11] amrutagokhale commented on #8368
It's not the case that these methods are not implemented. The current implementation of these methods in SqlStandardAccessControl in Hive connector is a no-op. I think the reason behind this is that Presto doesn't yet support defining privileges on schemas or catalogs in `sql-standard` mode. So in this mode, anyone can see what is inside a schema or a catalog.

Can you please elaborate on what wer

[2017-06-26 23:44] martint commented on #8348
Inside DomainTranslator.rewriteComparisonExpression, it turns the original NOT_EQUAL expression into `ids != 12345.55 or ids= 12345.55` (using the value returned from saturated floor cast operator). This is probably later eliminated or turned into the equivalent expression `ids IS NOT NULL`.

[code]

[2017-06-27 00:16] martint commented on #8348
Ultimately, the problem is that 12345.56 doesn't have an exact representation in binary (the fact that it's displayed that way is because the formatter for double is making decisions about where to cut off and round). So any conversions between a binary and a decimal representation will introduce errors. I can think of three options:
1. Try to fix the saturated floor cast operator for double->deci

[2017-06-27 05:04] flakycov opened #8374 "TestHiveSplitSource::testReaderWaitsForSplits is flaky"
`TestHiveSplitSource::testReaderWaitsForSplits` failed for us on commit `cdd2cfd` but did not fail in the [corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/241367902):

[code]
Our tool confirms that this test is flaky. We set up our build environment to be as close to your Travis environment as possible, using Ubuntu 14.04.5 LTS, Java HotSpot 1.8.0_111-b14 and Maven 3.3.9.

[2017-06-27 06:41] #7165 closed

[2017-06-27 11:13] losipiuk commented on #8348
While looking at this with @sopel39 we spotted yet another issue with saturated floor cast.

If you look at `SFC(DOUBLE -> BIGINT)` it may look ok, as integer values have exact representation in `DOUBLE` domain.
Yet there is a problem with large values when multiple `BIGINT` values are merged into single `DOUBLE` value.
Example:
[code]

With `TupleDomain` built using SFT `DOUBLE`->`BIGINT` we will

[2017-06-27 13:41] egalych commented on #8368
While there is no support for schema level privileges, table level privileges could be used to return only those tables that are available to user. Simple implementation of filterTables could filter tables that do not have select permission for a user.

[2017-06-27 15:54] amrutagokhale commented on #8180
https://github.com/prestodb/presto/pull/8355 should fix this. Please re-open if the issue persists.

[2017-06-27 15:54] #8180 closed

[2017-06-27 17:29] #8316 closed

[2017-06-27 18:42] martint commented on #8348
Hmm. Maybe saturated floor cast and the current logic for pushing down these kinds of predicates are not the right abstractions.

All we need is to find a suitable lower and upper bound on `a` such that the value that makes that filter evaluate to true after coercions is in that range. The predicate doesn't need to be absorbed by the connector, it just needs to be able to access that information f

[2017-06-27 19:37] tomerstar opened #8380 "MetaException: Column $path doesn't exist in table"
This issue happens when using hive catalog (CDH 5.11) and selecting from a non partitioned table. (If table is partitioned the select succeeds). also it is doesnt important if table was created using hive of presto, as long as its using the hive metastore, the error happens.
the select fails with this error:

[code]

[2017-06-27 19:50] losipiuk commented on #8348
I agree. It would be much easier to reason about what is happening, if we left original predicate, coming from filters in query intact. And pass to connector something weaker. But still allowing connector to filter out most of the data on its end.
Then original predicate would be used to do the rest of the filtering on execution engine side.

Part of the problem we have right now is because we are

[2017-06-27 20:23] tomerstar commented on #8380
one more: the error is on latest version 0.179
I also tested on earlier version 0.171 - work fine without an error

[2017-06-27 20:34] dain commented on #8380
What query are you running?

[2017-06-27 20:36] tomerstar commented on #8380
Select * from <table_name>.
Even "show stats for <table_name>" gets the same error

From: Dain Sundstrom [mailto:notifications@github.com]
Sent: Tuesday, June 27, 2017 11:35 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: Tomer Pinchasi <Tomer.Pinchasi@Starhomemach.com>; Author <author@noreply.github.com>
Subject: Re: [prestodb/presto] MetaException: Column $path doesn't exist in table (#83

[2017-06-27 20:37] tomerstar commented on #8380
As I wrote in my comment.
After running the query in 0.179, I downgraded to 0.171 an reran the query and it was fine

From: Dain Sundstrom [mailto:notifications@github.com]
Sent: Tuesday, June 27, 2017 11:35 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: Tomer Pinchasi <Tomer.Pinchasi@Starhomemach.com>; Author <author@noreply.github.com>
Subject: Re: [prestodb/presto] MetaException: Column

[2017-06-27 20:50] madelinebriere commented on #8357
Finally was able to resolve this issue. It was in fact a problem regarding resolution.
In order to get this working, I had to add the following to my `/etc/hosts` file:
[code]
I also had to add these lines to my `node.properties` file:
[code]
I am now able to run Presto on a coordinator and worker node! Thanks for the help.

[2017-06-27 20:50] #8357 closed

[2017-06-27 22:41] haozhun opened #8384 "Remove partial flush for TopN"
Partial flush for TopN has both benefits and downsides:
* reducing global memory usage
* reducing parallelism

Note that partial TopN doesn't reduce the data size at all (unlike partial group by). Therefore, if partial flush happens, the local TopN is completely useless. (Exception exists when the size of a row is correlated with the relative order of its ORDER BY column)

As a result, if partial

[2017-06-28 01:41] #8006 closed

[2017-06-28 03:11] wenleix commented on #8358
General

- Add support for VARBINARY concatenation

[2017-06-28 08:04] sopel39 commented on #8360
Isn't it the case that `LATERAL` join has natural left side "bias" because of correlations and scope semantics.
Given your sentence, I think it's intuitive to think that when there is no row to be joined then table for that particular row cannot be produced. This also implies that there is no single right table, but rather different instances of the table for each row. Therefore one cannot simply

[2017-06-28 08:25] sopel39 commented on #8360
@martint by your description this will produce no rows, right? This is a bit confusing (this behaves exactly like normal `LATERAL`). It it worth having such syntax?

[2017-06-28 09:02] kokosing commented on #8360
@sopel39
According to the way I understand `RIGHT LATERAL` does not have much sense if you do not have a join condition in `ON` clause.

Think about:
[code]
Output of this will be
[code]

For each row from left table the right table is calculated, then these tables (row and table) are joined when the join conditions is meet, when condition is not satisfied only RIGHT rows are returned (completed w

[2017-06-28 13:43] majk-p opened #8386 "Query ends with error when referencing non-existing key with subscript operator"
Query ends with error when referencing non-existing key with subscript operator, e.g. the following query fails in Presto 0.178

    select
      m['foo'], -- 'bar'
      m['na'] -- NULL
    from (
      values
        (map(array['foo'], array['bar']))
    ) as t(m)

This worked well at least in Presto 0.158.

According to https://github.com/prestodb/presto/issues/4228 the subscript operator shoul

[2017-06-28 13:54] electrum commented on #8386
This is the expected behavior. It was changed to match the SQL standard. We got the behavior wrong when we first implemented it. Sorry for the inconvenience.

[2017-06-28 13:54] #8386 closed

[2017-06-28 14:44] martint commented on #8360
Yeah, as I said above, "left/right/inner lateral" don't exist as a concept in SQL. What's being computed is a derived table (lateral) that gets joined using regular join syntax: left join lateral (...) on ...

From a logical standpoint, first, the the lateral relation is resolved using whatever correlations exist. Then, the join is resolved using regular semantics.

[2017-06-28 17:51] breckinridge22 opened #8389 "UpperCase Column Names"
I am writing a custom plugin to presto to query a remote database using a query language that is case sensitive. But Presto automatically makes all column names lower case. Is there any way to work around this in presto so that I can use column names with their correct case?

[2017-06-28 19:54] dain opened #8390 "Major performance regression in PartitionedOutputOperator between 0.173 and 0.174"
Our benchmarking shows a regression in performance between 0.173 and 0.174, and after much analysis the regression seems to be solely in the PartitionedOutputOperator.  For example, in TPCH q5 we see stage  6 we see                     `addInputWall` increase from 1.17 seconds to 1.21 minutes.

[2017-06-28 21:18] amrutagokhale commented on #8368
I see your point. Yeah, `filterTables` and `checkCanShowTables` can be implemented to return/show only those tables for which user has `SELECT` privilege.

[2017-06-28 23:37] martint commented on #8358
[code]

[2017-06-28 23:54] electrum commented on #8389
Unfortunately not. This was done incorrectly in the beginning and is unlikely to be fixed anytime soon given how big of a change it is.

What you'll want to do is to keep track of the column name mapping in the connector.

[2017-06-29 10:20] DongJianzhi0223 opened #8396 "presto query failed after change Hive table column type"
when i change hive table column type string to decimal

ALTER table bam.bam_mesh_real_time_sma_bigdata change sheet_cnt sheet_cnt decimal;

i run sql in presto cli.
presto:bam> select distinct sheet_cnt from bam_mesh_real_time_sma_bigdata;
Query 20170629_093858_00011_p4q5q failed: There is a mismatch between the table and partition schemas. The types are incompatible and cannot be coerced. The col

[2017-06-29 17:22] smith-m commented on #7765
Hey, I think I am running into a similar issue running standalone presto (.177) in a single container on a 112GB VM with the jvm set to -Xmx108G. After being up for ~3 weeks in a docker container, some relatively simple queries reading only a few million rows started returning "PrestoException: No free space available for spill" as an error.

I've checked, and the presto container has no query run

[2017-06-29 22:46] buremba opened #8401 "MinHash type and functions"
As @martint mentioned in [DataWorks Summit](https://youtu.be/QcLJvSxa_OA?t=2080), Facebook has internal types and functions in order to estimate the cardinality of intersection of two sets. It would be great if you can merge them into the main repository.

[2017-06-30 03:37] fennylv opened #8404 "How does Presto query data to achieve paging?"
I use Presto online query engine, the results should return to the web page. The question now is, I use presto-client to connect to the presto-server, but the results do not know how to return, the amount of data is too large a total return to the browser crashed. Do you know what this page?

[2017-06-30 10:58] losipiuk opened #8409 "Improve support for TupleDomain creation when cast are present"
Current mechanism for creating `TupleDomain` from filtering condition of shape:
[code]
where `column` is of type `CT` and `literal` is of type `LT`, needs improvement.

1.  Current mechanism does not support case when many values from `CT` map to single value in `LT` (like with cast from `TIMESTAMP` to `DATE`, or from `DOUBLE` to `BIGINT` for large values)
2. It requires that CT to be strict subse

[2017-06-30 10:59] losipiuk commented on #8348
@martint I captured the proposed improvement in https://github.com/prestodb/presto/issues/8409

[2017-06-30 15:50] electrum commented on #8409
Can you give a few concrete examples?

[2017-06-30 15:59] martint commented on #8409
This is great. It's exactly what I was thinking.

[2017-06-30 18:45] nezihyigitbasi opened #8413 "TestTaskExecutor.testLevelMultipliers is broken"
See https://travis-ci.org/prestodb/presto/jobs/248881508

[code]

[2017-06-30 18:47] nezihyigitbasi commented on #8413
/cc @raghavsethi

[2017-06-30 22:13] #8268 closed

[2017-06-30 22:38] #8413 closed

[2017-07-02 03:13] g-r-u commented on #4874
I'm not sure where the fix for this issue is on the roadmap, but I can say that this is the one deal-breaker feature missing from Presto for my company.  I think it might be useful to allow the user to designate full query pushdown to a JDBC connector like the following:

"SELECT a.customer_id, a.customer_name, b.sales_count, b.sales_total
 FROM hive.web.customers a
 INNER JOIN (SELECT customer_id

[2017-07-02 06:48] electrum commented on #4874
Have you tried creating a view and selecting from it? That should allow a complex query to be executed in the remote database (assuming a view satisfies your requirements).

[2017-07-02 21:30] #8358 closed

[2017-07-03 04:37] georgewfraser opened #8421 "Unexpected node: com.facebook.presto.sql.planner.plan.LateralJoinNode"
Presto fails with the message `Unexpected node: com.facebook.presto.sql.planner.plan.LateralJoinNode` on a query based on TPCDS query 1:

[code]

It seems that this subquery is the problem:

[code]
You should be able to create an appropriate schema by running this in Hive:

[code]

[2017-07-03 08:19] #8250 closed

[2017-07-03 08:29] kokosing commented on #8421
I will take care of this.

[2017-07-03 12:08] kokosing commented on #8421
This kind of correlated subquery is not yet supported, but if you change this subquery to (what was originally in TPCDS):

[code]

it will start to work. Instead of `avg` you could use `arbitrary`.

Anyway, it would be still nice to have this query passing without any change, I will try work on this, but since correlated subqueries is not at the highest priority at the moment it is hard to tell wh

[2017-07-03 14:22] fiedukow commented on #8084
This test now causes pretty consistent failures when run together with other tests.
I suppose there is some kind of memory leak in DWRF test?

When I run this test with many others (eg. this call):
`./presto-product-tests/bin/run_on_docker.sh singlenode -x quarantine,big_query,profile_specific_tests,tpcds,hive_coercion`
it fails pretty consistently

If I run those test by themselves:
`./presto-pro

[2017-07-03 17:06] georgewfraser commented on #8421
Ironically I was refactoring this query so that bigquery would run it---I'm trying to create a version of tpcds that will run unmodified on 4 warehouses.

Presto wasn't the only one that rejected this subquery, and it can be easily fixed by converting to a join. It would just be nice if it produced a better error message that indicated "this is an evil subquery and I can't figure out how to conver

[2017-07-03 17:27] martint commented on #8421
This is related to https://github.com/prestodb/presto/issues/6580.

[2017-07-04 04:07] #5855 closed

[2017-07-04 11:02] szymonm commented on #8028
Let me try that.

[2017-07-04 12:20] #7628 closed

[2017-07-04 14:29] szymonm commented on #8028
@electrum I found 2 other wrong lambda related error messages:
`java.lang.NullPointerException: type cannot be null`
on `reduce(ARRAY [1, 2, 3], 0, (s, x) -> s+x, s -> z)`

and
`com.facebook.presto.sql.analyzer.SemanticException: Expected a lambda that takes 0 argument(s) but got 2`
on `reduce(ARRAY [1, 2, 3], 0, (s, x) -> s+x, s -> s, x -> x, y -> y)`.

However, I couldn't reproduce yours. Can yo

[2017-07-05 07:08] ideal-hp commented on #5298
I have encountered this problem, but I temporarily use the rank to replace row_number to circumvent this problem

[2017-07-05 14:23] electrum commented on #5298
Late reply, but you should be able to work around by defeating the `TopN` optimizer like this:
[code]
This works because `rand()` will always return something `>= 0` so this evaluates to false, but the optimizer doesn't know that and thus can't eliminate it.

[2017-07-05 16:32] MohamedBassem opened #8427 "Add IPv6 normalization UDF"
It would be nice to have UDFs for normalizing IPs and specially IPv6. By normalization I mean, padding with zeros, removing the zero padding and handling consecutive blocks of zeros (`::`).
I'd be happy to work on it.

[2017-07-05 17:09] nezihyigitbasi commented on #7186
Yep, please use the workaround mentioned above.

[2017-07-05 17:36] haozhun commented on #8427
Standards track [RFC 5952 A Recommendation for IPv6 Address Text Representation](https://tools.ietf.org/html/rfc5952) basically determined what a "normalized" IPv6 representation should look like:

* remove all leading zeros
* use lower case letters
* Use `::`

If we are going to provide a ipv6 normalization udf, it's likely not going to be what you described.

For your use case, a parse function

[2017-07-05 17:47] MohamedBassem commented on #8427
@haozhun
I'm suggesting two UDFS:
1- One that takes an IP and normalize it in exactly the way you mentioned.
Example: `0000:0000:0000:0000:0000:0000:0000:001A => ::1a`

2- One that takes an IP and pads it with zeros. It's useful to support range queries.
Example: `::1A => 0000:0000:0000:0000:0000:0000:0000:001a`

Sorry if the description wasn't clear enough.

[2017-07-05 18:40] haozhun opened #8428 "Test that functions using PageBuilder in instanceFactory use bounded memory"
This is necessary because the PageBuilder API is quite error prone. And there had been multiple cases where bugs leads to query failures and GC pressures.

[2017-07-05 19:57] hellium01 opened #8432 "Null pointer exception throw when explain analyze query contains index join"
If the join type is index join, explain analyze fails with NPE even though query will run fine:

[code]

[2017-07-05 20:44] kokosing commented on #8421
Here is a fix for this #8435

[2017-07-05 20:47] kokosing commented on #8432
Can you please post a query? What version of presto are you using?

[2017-07-05 23:35] hellium01 commented on #8432
I observed this in version 0.177. But in latest version of AbstractTestIndexedQueries, if I modify one of the test case to use explain analyze instead, the query will fail with same error message.

[2017-07-06 06:44] dabansal opened #8438 "Throttle queries per user/role basis"
Hi All,

Is there a provision to throttle queries on the basis of user so one user is not hogging entire system and one query is not consuming all the resources of the cluster.

It is like allocating quota of hardware resources so that user can use what they are paying for.

Thanks,
Dheeraj

[2017-07-06 09:58] #7173 closed

[2017-07-06 09:59] #7159 closed

[2017-07-06 10:01] #7172 closed

[2017-07-06 10:07] szymonm commented on #7146
Let me take it.

[2017-07-06 17:08] nezihyigitbasi commented on #8438
Please take a look at Presto's resource groups support ([here](https://prestodb.io/docs/current/admin/resource-groups.html)), it should help you do what you want.

[2017-07-06 17:08] #8438 closed

[2017-07-06 17:26] nezihyigitbasi commented on #8331
Fixed through #8335.

[2017-07-06 17:26] #8331 closed

[2017-07-06 20:43] madelinebriere opened #8441 "How does Presto delegate inner joins?"
Hi guys!

I am trying to understand exactly how Presto delegates inner joins. I am working with the following query:
[code]
where these tables hold ~1,000,000 rows (randomly generated, md5).

I have been using the `EXPLAIN ANALYZE` and `EXPLAIN` commands to explore the execution plan for this query, but am not seeing what I was expecting.

I was hoping to see Presto delegate two joins to MySQL and

[2017-07-06 20:53] KBP-TDC commented on #8441
Not possible today I am afraid.

[2017-07-07 18:12] hellium01 opened #8445 "Add StageId and PlanId to generated class name"
For generated byte code, we currently only show class name like 'PageFilter'. It will be extremely helpful to add additional information into the class name so that we can debug which stage/plan node it belongs to.

[2017-07-08 14:25] alandpost opened #8451 "InlineProjections can fail in subqueries"
InlineProjections assumed that all input symbols to the parent
ProjectNode came from the child, but that's not always the case in
subqueries, where symbols are available even when not defined by the
child.  This resulted in a loop where the rule fired, but emitted an
unchanged plan fragment.

[2017-07-08 19:27] #8451 closed

[2017-07-08 20:12] findepi commented on #8441
@madelinebriere, hopefully @KBP-TDC's answer clears all concerns. Please comment, if it does not.

[2017-07-08 20:12] #8441 closed

[2017-07-09 01:28] Downchuck commented on #8094
Postgresql valid values for input of cast(str as binary(16)):
https://www.postgresql.org/docs/9.1/static/datatype-uuid.html

Mac address parsing might extend a few more inputs, such as an ipv6 host address:
https://www.postgresql.org/docs/9.1/static/datatype-net-types.html

Some uuid conversion cases:
[code]

Some other casts:
[code]

[2017-07-09 14:22] kokosing opened #8456 "Unable to use correlated symbol in HAVING clause"
[code]

[2017-07-09 14:23] kokosing commented on #8456
cc: @sopel39 @findepi

[2017-07-09 21:21] satybald opened #8457 "JsonMappingException No serializer found for class java.util.concurrent.TimeoutException"
REST /v1/node endpoint returns internal server error due to Jakson serialization problem.

[code]

[2017-07-10 08:42] kokosing opened #8459 "Do not keep correlated symbols as SymbolReferences"
Take a look at the below query:

`SELECT a, (SELECT a WHERE false) FROM (VALUES 1) t(a)`

Output of it should be: `1, null`.

Currently all the correlated symbols are stored in subquery plan as `SymbolReference`, this causes:
 - difficulties in understanding of subquery plan as most symbols are produced by children nodes or assignment expressions, but some come from the correlation and require spe

[2017-07-10 09:05] findepi commented on #8384
True as long as memory limit for partial TopN is fixed number. If partial flush has no benefits at all, let's remove it. If it, however, does have benefits, it could be reworked to use revokable memory.

[2017-07-10 17:29] nezihyigitbasi commented on #8457
I confirm that `/v1/node` is broken in `0.180`.

[2017-07-10 18:42] haozhun commented on #8323
I found another issue that root causes to the thing, but with a different query shape.

When columnar processing is turned on, for `DictionaryBlock`s, evaluation for filtered-out positions could happen. Filtered-out positions could trigger exceptions. This may leave functions in a bad state (for example, `MapConstructor`). cc @dain

With this new case, the original proposal of throwing an GENERIC_

[2017-07-10 18:45] nezihyigitbasi commented on #8323
actually @electrum raised the 4th alternative solution in #8440. I will update the PR shortly to do that.

[2017-07-10 22:02] premal commented on #6562
Yes, when the partition is dropped in hive, the directory for the partition is deleted. Dropping the partition from presto just deletes the partition from the hive metastore. The data still exists in s3. And since presto does not support overwrite, you have to delete the data manually before running the query again.

[2017-07-10 23:01] sdpatil commented on #8258
I am new at open source contribution and not sure how this process works but I would love to contribute to presto. For this particular task if I add an implementation of GET method like below would that be satisfactory?

[code]

[2017-07-10 23:03] jessesleeping opened #8463 "RetryingPrestoThriftServiceProvider does not retry on async failures"
Current `RetryingPrestoThriftServiceProvider` only retry on sync failures. If a future is handed out and run into async failures later, the retry logic will not work.

[2017-07-10 23:08] smith-m opened #8465 "Parquet reader returns wrong value for DecimalType of specified scale."
from presto .177

the column decimal(18,2), msrp

select msrp from product where id =1;

The product table is written from spark with parquet.

This returns a value of 5,149,500.00 instead of the expected value of 51,495.00. Reading the same record in PySpark shows the expected value of 51,495.00. Rewriting the table as ORC resolves this issue.

[2017-07-10 23:18] wenleix opened #8466 "Improve exception message when worker get restarted"
[code]

Looks like when the worker get restarted, sometimes coordinator might receive some exception information as the `TaskUpdateRequest`, and it tries to decode it as a JSON.

[2017-07-10 23:31] nezihyigitbasi commented on #8465
- Do you use the new reader? (is `hive.parquet-optimized-reader.enabled` true?)
- Do you have test data to repro it so that someone can take a look at it and fix?

[2017-07-10 23:37] nezihyigitbasi commented on #8465
I guess to debug you need to put a breakpoint in `ParquetShortDecimalColumnReader::readValue()`, something may be messed up in that method.

[2017-07-11 00:05] smith-m commented on #8465
Both of these parquet flags are enabled on presto:

hive.parquet-optimized-reader.enabled=true
hive.parquet-predicate-pushdown.enabled=true

This PySpark code creates a table that illustrates the issue

`from pyspark.sql.types import *
from decimal import *
example = [
    (0,Decimal("1234.00")),
    (1,Decimal("52000.00")),
    (2,Decimal("300000.12"))
]

schema = StructType([
    StructField("id

[2017-07-11 00:07] smith-m commented on #8465
Example table

[part-00000-0058f5f6-c60a-4d1d-b405-09f8b30e9f79.snappy.parquet.zip](https://github.com/prestodb/presto/files/1137376/part-00000-0058f5f6-c60a-4d1d-b405-09f8b30e9f79.snappy.parquet.zip)

[2017-07-11 00:31] buremba commented on #8401
@martint Is there any update on this? I can also help if the source code of this connector is open-source.

[2017-07-11 05:10] satybald commented on #8457
how to simulate the issue:
* start a coordinator with multiple workers.
* terminate one of the worker
* make HTTP request to the endpoint /v1/node

[2017-07-11 05:19] satybald commented on #8457
would it make sense to set to SerializationFeature.FAIL_ON_EMPTY_BEANS in the JsonObjectMapper as specified in the message? @nezihyigitbasi [JsonMapper.java in airlift](https://github.com/airlift/airlift/blob/be20a24b5bba2c5d674a4a7280e80cf61cf3e1cc/jaxrs/src/main/java/io/airlift/jaxrs/JsonMapper.java#L233)

I was trying to serialize SocketTimeoutException or any other java exception with general

[2017-07-11 07:29] majk-p opened #8470 "tableName is null in Cassandra connector"
I need to perform schema scan for my databases connected to presto. Performing table-level scan looks like:

    SELECT table_name, column_name, data_type
    FROM "some-schema".information_schema.columns
    WHERE table_schema = 'some-schema'
    ORDER BY column_name ASC

It works fine for all SQL databases. When trying to scan Cassandra I'm facing following error:

It seems to be problem with `C

[2017-07-11 07:39] sopel39 opened #8471 "UnaliasSymbolReferences incorrectly maps correlated symbols"
[code]
This is due to: `com.facebook.presto.sql.planner.optimizations.UnaliasSymbolReferences.Rewriter#visitJoin` that maps `a->b` in subquery child of `ApplyNode`. Since `UnaliasSymbolReferences` uses global mapping, then in top projection `a` is unaliased to `b`, which only exists in correlated child.

[2017-07-11 08:11] kokosing commented on #8471
This is related with https://github.com/prestodb/presto/issues/8459

[2017-07-11 08:30] sopel39 commented on #8459
I see two issues there:
1. Correlated symbols are used in different plan subtrees even though they are not the same instance at the end (after `ApplyNode` and `LateralNode` are resolved). `UnaliasSymboReferences` doesn't correctly work with such plan (see: https://github.com/prestodb/presto/issues/8471), but there might also be problems with `PredicatePushdown`
2. Correlated symbols don't have sou

[2017-07-11 09:39] TerryShisan opened #8472 "the official jdbc demo in doc is not success"
I am new user for presto. when i used jdbc demo,is wrong.
[code]
the wrong is Authentication using username/password requires SSL to be enabled.
But when  i add `properties.setProperty("SSL", "true");`
it is connect success,but can not execute any sql,the wrong is:
[code]
But when I use `./presto --server localhost:8080 --catalog hive --schema default`,
it is ok, i can execute sql.
what can i do n

[2017-07-11 11:08] kokosing commented on #7169
Design is mostly based on:
 - ORCA  - https://d1fto35gcfffzn.cloudfront.net/big-data/white-paper/SIGMODHAWQAdvantages.pdf
 - SCOPES - http://www.chinacloud.cn/upload/2012-08/12081008403014.pdf
 - Apache Calcite

We are going to add a new kind of optimizer which will have two phases:
 - exhaustive - where search space (memo) is populated
 - optimize - where the best plan is found from the search sp

[2017-07-11 14:27] szymonm commented on #7179
@pnowojski I'm taking it!

[2017-07-11 14:55] electrum commented on #8457
The problem is that exceptions are not serializable by Jackson. We already solved this for the client protocol with the `FailureInfo` class. We should change the `Stats` class to something like this:
[code]
(the `@JsonIgnore` is not strictly necessary but serves as documentation and prevents any potential issues with Jackson)

[2017-07-11 16:26] electrum opened #8477 "Add function to get last day of month"
This possible to do today, but it's a bit involved:
[code]
Oracle and Hive both have a `last_day` function.

[2017-07-11 17:19] pnowojski commented on #7179
Sure, sorry for not un-assigning myself.

[2017-07-11 17:20] #6272 closed

[2017-07-11 17:24] alandpost commented on #8459
Rather than a whole new node, would a new row function be sufficient, taking the (constant) name of the correlated symbol as the argument?  The only problem I can see with the row function approach is that it would require special handling in any constant-folding optimization we have or might write in the future.

[2017-07-11 17:43] desavera commented on #7879
+1

[2017-07-11 18:20] electrum commented on #7879
Can you provide more details on how to reproduce this? The problem is not clear from the information provided.

[2017-07-11 18:21] electrum commented on #7879
Is "java" available in the PATH environment in which the launcher is run?

[2017-07-11 18:45] electrum commented on #8472
Sorry for the confusion! That example was intended to show the equivalence of properties and URL parameters. We'll fix it so that it works out-of-the-box.

To fix your code, remove the `"password"` property (which isn't used unless you setup SSL and LDAP authentication).

[2017-07-11 19:28] sopel39 commented on #8459
I prefer node approach since it explicitly binds all correlations into single node and we can assume that there are no more usages of correlated symbol `x` below the `ProjectCorrelations` that produces it (we can push up `ProjectCorrelations` when we decorrelate subquery). Additionally, in the future, we might think of unwinding `ProjectCorrelations` into some materialized table (e.g: with correla

[2017-07-11 19:37] kokosing commented on #8459
This was my initial thought, though I was going to create a special `CorrelatedSymbolReference` expression.

IMO `ProjectCorrelations` is more clear and sql-algebra-friendly approach. After that node that correlated symbol does not differ with any other symbol in the plan.

[2017-07-11 19:50] akshatnair opened #8480 "Migrate DetermineJoinDistributionType to iterative optimizer"

[2017-07-11 20:12] #8472 closed

[2017-07-11 23:00] dabaitu commented on #8318
Updates:

I swapped out the airlift LzopCodec with the com.hadoop.compression.lzo.LzopCodec and getting basically the same error, which is complaining about the slice missing the magic lzop header.

Reading the same data with the ParquetRecordReader works fine.

My hunch is maybe the slices aren't split up correctly. Still digging.

[2017-07-11 23:49] #8428 closed

[2017-07-12 06:54] szymonm commented on #7182
@rschlussel are you working on this?

[2017-07-12 06:56] szymonm commented on #7177
@anusudarsan are you working on this?

[2017-07-12 07:00] szymonm commented on #7157
@petroav are you working on this?

[2017-07-12 07:06] szymonm commented on #7147
Looks like it's resolved here: #8344. Can you confirm @ArturGajowy @kokosing ?

[2017-07-12 07:07] szymonm commented on #7148
@sopel39 are you working on that?

[2017-07-12 08:22] kokosing commented on #7148
I bet he is not :)

[2017-07-12 08:23] #7147 closed

[2017-07-12 08:29] kokosing commented on #7182
Fixed by https://github.com/prestodb/presto/pull/7418

[2017-07-12 08:29] #7182 closed

[2017-07-12 14:00] anusudarsan commented on #7177
@szymonm Yes https://github.com/Teradata/presto/pull/543

[2017-07-12 15:41] dterror opened #8484 "java.lang.UnsupportedOperationException: com.facebook.presto.spi.type.LongDecimalType"
I have a Parquet table defined as:

[code]

The parquet file's schema is:

[code]

and when I try to query it, I get:

[code]

Indeed it doesn't seem like `LongDecimalType` implements `writeLong`, so I'm not certain why it's even getting into that codepath.

We're on version `0.164`, but Decimals (with precision of 18) should be supported in `0.164`, right?

Any clarification is appreciated,
thank

[2017-07-12 16:11] anusudarsan commented on #4717
Is this still valid/open? If yes, I can take a look at it.

[2017-07-12 16:11] anusudarsan commented on #6486
Is this still valid/open? If yes, I can take a look at it.

[2017-07-12 16:38] alandpost commented on #6681
I ran into a similar problem with project-offs being inserted by iterative column pruning of window nodes.  I'll post a fix today or tomorrow.

[2017-07-12 17:46] sdpatil commented on #8477
I am working on this issue. I am new to open source so not sure what is the procedure that I need to follow to get this issue assigned to me.

Sunil

[2017-07-12 17:56] nezihyigitbasi commented on #8484
It should be supported now, can you please try the latest Presto version (0.180)

[2017-07-12 18:01] dterror commented on #8484
👍 thanks @nezihyigitbasi - so Decimals(>17,x) weren't supported in 0.164

[2017-07-12 18:14] martint opened #8485 "Release notes for 0.181"
## Aleksei Statkevich
- [x]  07-06 18:43:45    44a9878ec6 Don't check if a future is done in thrift page src
## Dain Sundstrom
- [x]  07-12 11:00:08    29ac2fa140 Handle UncheckedIOException in RcFileFileWriter
## David Phillips
- [x]  06-30 08:10:04    40fa566fac Add missing JsonCreator annotation
- [x]  06-30 20:44:53    72e7ec5048 Fix broken links in product-tests README
- [x]  07-05 16:49:35

[2017-07-12 19:08] nezihyigitbasi commented on #8485
General

* Add support for configuring resource groups based on query type. This feature will let users put different types of queries, such as `SELECT`, `INSERT`, `DELETE` etc., to specific resource groups. Please see :doc:`resource groups </admin/resource-groups>` for more information.

[2017-07-12 19:38] nezihyigitbasi commented on #8484
Please reopen if the latest version doesn't work for you.

[2017-07-12 19:38] #8484 closed

[2017-07-12 19:57] alandpost commented on #8374
I just ran into this in Travis

[2017-07-12 20:02] nezihyigitbasi commented on #8457
Fixed through #8473.

[2017-07-12 20:02] #8457 closed

[2017-07-12 20:14] nezihyigitbasi opened #8487 "TestRaptorIntegrationSmokeTestBucketed::testCreateBucketedTable is flaky"
Here is a failing instance: https://travis-ci.org/prestodb/presto/jobs/252942975

[code]

[2017-07-12 20:17] martint commented on #8485
@kokosing, do none of those commits have user-visible impact?

[2017-07-12 21:11] kokosing commented on #8485
@martint it looks so, most of them are rule migration related commits so they do not add anything new. Other are small refactorings and tests fixes. There is one potential bugfix which I am not sure if it is worth to mention.

[2017-07-12 21:19] martint commented on #8485
What about:
- Make PagesIndex.clear() free memory -- does this fix a memory leak? Improve memory efficiency?
- Remove Lateral input when it is not needed -- does this allow new query shapes to run?
- Optimize count queries for fixed cardinality -- performance optimization?
- Add RemoveTrivialFilters rule -- performance optimization?
- Add PruneIndexSourceColumns optimization rule -- performance op

[2017-07-12 21:31] kokosing commented on #8485
The first one is the one I am not sure.  And the third one is something new. Others already ere in the codebase in the forn of legacy optimizer rules.

I unchecked these. Thanks for help.

[2017-07-12 21:44] nezihyigitbasi commented on #8465
@smith-m I think I got what's going on. According to the Parquet [spec](https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md) when decimals are encoded with primitives (int32/int64) Parquet stores only the unscaled value. I created a #8488 to fix this, can you please try that patch with your datasets? I tested it with the test parquet file above and it works fine.

[2017-07-13 01:32] flakycov commented on #8374
@alandpost In addition to this one, we have a list of several other tests that we have found to be flaky too in Presto. Would you like us to open issues for them (we didn't want to "spam" you with a bunch of reports at once unsolicited)? Is there anything else that we can try to collect to make them easier to diagnose (aside from stack traces)?

[2017-07-13 01:56] yakcy commented on #7768
@electrum #Hi, i get one problem similar to this when i run presto-0.155 on Centos7,can you give me a device to fix it.Thanks...
`2017-07-13T09:42:17.990+0800	INFO	main	Bootstrap
2017-07-13T09:42:19.558+0800	WARN	main	io.airlift.jmx.JmxAgent	Cannot determine if JMX agent is already running (not an Oracle JVM?). Will try to start it manually.
2017-07-13T09:42:19.566+0800	INFO	main	stderr	错误: 代理抛出异常

[2017-07-13 03:03] electrum commented on #8374
Yes, please do file issues about these. Either a single issue or separate is fine. Having a stack trace that includes the test method is good.

[2017-07-13 07:26] yakcy commented on #5854
@zhenxiao this problem is fix?

[2017-07-13 07:30] zhenxiao commented on #5854
should be fixed in current master

[2017-07-13 07:35] yakcy commented on #5854
I meet this problem with presto-0.155, run presto on centos6.5 is ok but run on centos7.2 failed, throw this error.

[2017-07-13 07:43] zhenxiao commented on #5854
try the latest version. 155 is kind of old

[2017-07-13 08:40] kokosing commented on #8485
Performance

- `count(*)` aggregation over the scalar is rewritten to constant during the planning time. It will affect queries like: `SELECT count(*) FROM (SELECT avg(nationkey) FROM nation)` replacing that with equivalence of `VALUES 1`.

[2017-07-13 11:39] TerryShisan commented on #8472
in fact,it also wrong when execute sql,the wrong is:
returned an invalid response: JsonResponse{statusCode=405, statusMessage=Method Not Allowed, headers={content-language=[en], content-length=[1067], content-type=[text/html;charset=utf-8], date=[Thu, 13 Jul 2017 11:37:42 GMT], server=[Apache-Coyote/1.1]}, hasValue=false} [Error: <html><head><title>Apache Tomcat/7.0.52 - Error report</title><style

[2017-07-13 16:53] raghavsethi commented on #8485
General

- Change local scheduler to prevent starvation of long running queries when the cluster is under constant load from short queries. The new behavior is turned off by default, and can be turned on by setting the config property `task.level-absolute-priority=true`
- Improve fairness in the local scheduler such that long-running queries which spend more time on the CPU per scheduling quanta (

[2017-07-13 17:14] petroav commented on #7157
@szymonm no, go ahead and claim it

[2017-07-13 17:27] highker commented on #8485
General

- Fix potential native memory leak when writing RC files

[2017-07-13 17:42] electrum commented on #8472
Since you see "Apache Tomcat", this means you are connecting to something other than Presto (we don't use Tomcat). Please verify the host and port in the JDBC URL.

[2017-07-13 18:13] dabaitu commented on #8318
Updates:

Using the com.hadoop.compression.lzo.LzoCodec got the decompression step to work, but failed here:

`com.facebook.presto.spi.PrestoException: length of sub blocks differ: block 0: 77, block 1: 54
	at com.facebook.presto.hive.parquet.ParquetPageSource.getNextPage(ParquetPageSource.java:225)
	at com.facebook.presto.hive.HivePageSource.getNextPage(HivePageSource.java:204)
	at com.facebook.p

[2017-07-13 18:40] flakycov opened #8491 "TestQueues::testResourceGroupManagerRejection is flaky"
TestQueues::testResourceGroupManagerRejection failed for us on commit [30bd926](https://github.com/prestodb/presto/commit/30bd926d5711aab27b7393b19a21bcdbdc788ecb) but did not fail in [the corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/235796710):

[code]

Our investigation shows that this test is likely flaky. We set up our build environment to be as close to your Travis

[2017-07-13 18:44] flakycov commented on #7709
FYI - We have also seen this flaky failure (```java.lang.AssertionError: expected [4] but found [5]```)

[2017-07-13 18:45] flakycov opened #8492 "TestHiveDistributedQueries::testRcTextCharDecoding is flaky"
TestHiveDistributedQueries::testRcTextCharDecoding failed for us on commit [bf712ed](https://github.com/prestodb/presto/commit/bf712edac03ae5a9013b04268c5aae150af60790) but did not fail in [the corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/233457156):

[code]

Our investigation shows that this test is likely flaky. We set up our build environment to be as close to your Tr

[2017-07-13 18:48] flakycov commented on #8272
FYI, we saw this flake recently too - while building [747ee1c](https://github.com/FlakyTestDetection/presto/commit/747ee1c1f7ae881ba026807fd2c0955465dfaafc).

[2017-07-13 18:53] flakycov commented on #7053
We saw this one flake recently too (building [7d80eb5](https://github.com/prestodb/presto/commit/7d80eb5328fcab80e322c64717975acb6455a4dc)) - but with a different stack trace:

[code]

[2017-07-13 18:56] flakycov opened #8493 "TestRaptorDistributedQueriesBucketed::init is flaky"
TestRaptorDistributedQueriesBucketed::init failed for us on commit [56ea02d](https://github.com/prestodb/presto/commit/56ea02dd7bccfd4acb61a0a387e7deef3413a42e) but did not fail in [the corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/234116179):

[code]

Our investigation shows that this test is likely flaky. We set up our build environment to be as close to your Travis env

[2017-07-13 18:58] flakycov opened #8494 "TestAccumuloDistributedQueries::testExplainAnalyze is flaky"
TestAccumuloDistributedQueries::testExplainAnalyze failed for us on commit [87911b1](https://github.com/prestodb/presto/commit/87911b1c2478402b73233f9bdb1b93ec5e281f10) but did not fail in [the corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/234144015):

[code]

Our investigation shows that this test is likely flaky. We set up our build environment to be as close to your Tr

[2017-07-13 19:34] ArturGajowy commented on #8493
@flakycov what are you? Some kind of a bot/service? Tool? I'm intrigued and would like to know more. I googled but found no info.

[2017-07-13 19:43] haozhun commented on #8485
General

[code]

[2017-07-13 20:30] maciejgrzybek opened #8497 "explain for join fails on Hive when partition_by contains TS column"
Steps to reproduce:
1. Create a table with timestamp column which is partition key:
  `create table ts_table (a bigint, ts timestamp) with (partitioned_by = array['ts']);`
2. Insert any data into such table (does not reproduce when table is empty):
  `insert into ts_table values (1, cast(current_time as timestamp));`
3. Create any other table (doesn't have to contain TS column):
  `create table ot

[2017-07-13 21:11] lyxking2009 opened #8498 "Issue with grouping sets combined with grouping()"
I got an issue when using grouping() combined with grouping sets. I am doing this on a newly created table.

    SELECT
    ds
    ,column
    ,CASE grouping(ds, column)
     WHEN 0 THEN 'ds,column aggregation'
     WHEN 1 THEN 'ds aggreagtion'
     END AS aggregation_type
    FROM stg_table_
    GROUP BY GROUPING SETS (
    (ds, column),
    (ds)
    )

it gives an error message below:
PrestoQuer

[2017-07-13 21:40] martint opened #8499 "Analysis error in query involving grouping() and implicit coercion"
[code]

Fails with:

[code]

It doesn't happen if `1.0 *` is removed or `count(*)` is explicitly cast to double before multiplying it, which makes me think this is a issue with implicit coercions.

[2017-07-13 22:00] martint commented on #8499
cc @petroav, @sopel39

[2017-07-13 22:35] flakycov commented on #8493
We're not a bot :)

We're a group of (academic) software engineering researchers studying flaky tests in the wild - how to detect them and how to debug them. We hope that these reports are useful (we had started with just one report, and then today added the rest after the [comment from electrum yesterday](https://github.com/prestodb/presto/issues/8374#issuecomment-314957307).

We'd be happy to di

[2017-07-14 00:14] haozhun commented on #8427
Note (for future reference): special IPv6 addresses: https://networkengineering.stackexchange.com/questions/356/what-ipv6-prefixes-should-never-be-routed/441

[2017-07-14 01:40] electrum commented on #8493
All the "Address already in use" errors will be fixed by https://github.com/airlift/airlift/pull/539

[2017-07-14 03:06] AlekseiS commented on #8485
No user facing impact in my changes.

[2017-07-14 10:13] pistolero opened #8501 "NPE when selecting maps with complex keys/values from a Cassandra table"
[code]

[2017-07-14 10:35] findepi commented on #8497
@maciejgrzybek, did you see #8329?

[2017-07-14 10:49] findepi commented on #8498
I could not reproduce the problem with:

[code]

Could you please provide exact repro steps (how do you create table), which presto you're using and also full exception being raised (run CLI with `--debug`).

[2017-07-14 12:57] RameshByndoor commented on #2863
I am using 0.180 version of presto and issue is still present. We have all our mysql table names in UPPERCASE and any alternative or patches available..?

[2017-07-14 13:16] maciejgrzybek commented on #8497
Good point, it's duplicate. Closing, thanks!

[2017-07-14 13:16] #8497 closed

[2017-07-14 13:50] cawallin commented on #8501
What data are you selecting? We have testing for basic MAP types, I believe; do you have null values in your data?

[2017-07-14 14:25] martint commented on #8498
This is a duplicate of https://github.com/prestodb/presto/issues/8499

[2017-07-14 14:25] #8498 closed

[2017-07-14 15:17] petroav commented on #8499
@martint thanks for the repro, I'll take a look.

[2017-07-14 15:39] maciejgrzybek commented on #8329
Patch is ready here: https://github.com/prestodb/presto/pull/8502

[2017-07-14 16:41] nezihyigitbasi commented on #8485
General

* Fix a bug that may cause `CREATE TABLE IF NOT EXISTS` queries to fail with a `Table already exists` error.

[2017-07-14 18:18] dabaitu commented on #8318
Another update:
Using com.hadoop.compression.lzo.LzoCodec got the recordReader to work with predicate pushdown. The stats filter always worked in predicate pushdown, and this made dictionary filter to work if the dictionary is there.

Looking at 2 issues with debugger:
1. Decompression logic in aircompressor LzoCodec
2. Building map object out of groups of key,val pairs in pageReader

[2017-07-14 19:42] electrum commented on #8485
For Dain:

[code]

[2017-07-14 19:51] electrum commented on #8485
[code]

[2017-07-14 22:29] haozhun opened #8509 "IPADDRESS type"
Comments and opinions are welcome.

------

# Background

#8427 asked for two functions that works with both IPv4 and IPv6.

* One to canonicalize IP address. The actual use case is "=" predicate on IP addresses logged from different sources.
* Another to zero-pad IP addresses. The actual use case is "<" and ">" predicates.

# Proposal: introduce an IPADDRESS type

IPADDRESS type can represent bot

[2017-07-14 22:31] haozhun commented on #8427
Superseded by #8509

[2017-07-14 22:31] #8427 closed

[2017-07-14 22:51] vincepri opened #8510 "HiveSplitManager schema verifier doesn't respect use-column-names"
When using replace columns, instead of adding new columns, Presto on `PARQUET` fails with the following message:
[code]

It seems that the exception is thrown here https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java#L244-L264 and it seems that this logic is relying on the ordering of the columns and doesn't respect the option `hiv

[2017-07-15 04:16] ebyhr commented on #8470
I think `if (prefix.getSchemaName() == null || prefix.getTableName() == null)` is better than replacing from getSchemaName to getTableName.  Do you have a plan to make the PR?

[2017-07-15 16:03] AomoDa opened #8511 "outer join on hive and presto？"
官方文档上有这么一句话，
原文地址是 http://prestodb-china.com/docs/current/migration/from-hive.html

![wechatimg5](https://user-images.githubusercontent.com/20105041/28240771-eefc841a-69b9-11e7-8fd3-743dc8ed0087.jpeg)

我感到非常疑惑，使用hive进行测试，我的hive版本是 2.1.0
结果显示：
![489ac68a612172d5cadcf4faf880d4d1](https://user-images.githubusercontent.com/20105041/28240779-10ebfa7e-69ba-11e7-8603-f4e9757c56df.png)
![cc069cc643237e1cf

[2017-07-15 21:27] raghavsethi commented on #8258
@sdpatil yes, that would be a good place to start.

[2017-07-17 00:02] wenleix opened #8518 "Code Refactor/Cleanup for lambda execution"
Open an issue to prevent myself forgetting it :)

As mentioned in lambda execution pull request: https://github.com/prestodb/presto/pull/8031

- Collapse nullFlags, nullable and lambdaInterface into a class
- Clean up non-used fields in CompiledLambdaMetadata
- Maybe refactor some code in lambda generation?

[2017-07-17 05:02] ray6080 commented on #8511
这应该是京东的Presto分支的文档，不是Presto官方的文档。我认为应该到[JD-Presto](https://github.com/CHINA-JD/presto/)这里评论。

[2017-07-17 05:47] sopel39 commented on #8485
[code]

[2017-07-17 08:41] shijiyu opened #8520 "HTTP ERROR 404"
When I download presto-server-0.180.tar.gz, and config it as flow:
coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port=8001
query.max-memory=4GB
query.max-memory-per-node=1GB
discovery-server.enabled=true
discovery.uri=http://192.168.6.149:8001

and then start it successful,But when I use http://192.168.4.169:8001 in browser,It show HTTP ERROR 404
Problem accessing /. Re

[2017-07-17 11:33] shijiyu commented on #8520
I trye to install presto-server-0.100.tar.gz, and then It work well.

[2017-07-17 13:37] dexchannel opened #8522 "Storage Based Security plugin for Hive backend"
Storage Based Security plugin analogous to Hive Metastore Storage based security plugin. All access control checks are delegated to HDFS. Plugin translates SQL DDL and DML commands to underneath HDFS read and write operations.

[2017-07-17 15:03] sdpatil commented on #8258
Thanks, i will work on this issue

[2017-07-17 17:20] rohit-kulk opened #8526 "Can't connect to Hive Metastore with SASL"
I want to use SASL with username and password to connect to Hive Metastore & HDFS. After looking in the documentation, I see this property:

hive.metastore.authentication.type - One of NONE or KERBEROS

- When using the default value of NONE, Kerberos authentication is disabled and no other properties need to be configured.
- When set to KERBEROS the Hive connector will connect to the Hive metasto

[2017-07-17 17:27] alandpost opened #8527 "More convenient matching for identity projections"
Currently, using PlanMatchPattern on ProjectNodes that have identity projections, one writes
[code]
It would be more convenient to have a direct way to asking for identity projections, similar to `Assignments.identity()`

[2017-07-17 18:08] #5819 closed

[2017-07-17 20:15] cawallin commented on #8526
No, unfortunately the only options right now are no authentication and Kerberos authentication. We don't currently have a way to pass down the username/password from the CLI to connectors, so that needs to be in place before we can use SASL with an individual user's credentials.

[2017-07-17 21:25] highker opened #8530 "Introduce map_entries and map_from_entries functions"
Add two functions to convert between arrays and maps:
`map_entries(map<K,V>) -> array<row<K,V>>`
`map_from_entries(array<row<K,V>>) -> map<K,V>`

[2017-07-18 01:46] harbby opened #8536 "Temporary table left after insert into mysql table fails"
Hi I found a bug to implement jdbc insert into!
It is like this:
         When the mysql character set is latin1 - cp1252 West European,
I execute the insert statement: insert into test1 values ('世界', cast ('Ver.1.3' as varchar (100)))
I got the following error:
         Query 20170718_012821_00019_yucvr failed: Incorrect string value: '\ xE8 \ xB4 \ xB5 \ xE9 \ x98 \ xB3 ...' for column 'user_add

[2017-07-18 01:51] ideal-hp commented on #8536
At the moment I was so resolved:
       Modify the commit () method of the prestou-base-jdbc module JdbcRecordSink.java file:
![image](https://user-images.githubusercontent.com/19815755/28297070-75ff8238-6b9e-11e7-89d7-ff0f83e9ef48.png)
       DropTemporaryTable () method is as follows:
    private void DropTemporaryTable()
    {
        String temporaryTable = ((BaseJdbcClient) jdbcClient).quoted

[2017-07-18 15:47] kavap commented on #3834
is "at" a reserved word in presto ?

[2017-07-18 15:50] electrum commented on #3834
@kavap No, it is not. You can find the list here: https://prestodb.io/docs/current/language/reserved.html

[2017-07-18 17:26] nezihyigitbasi commented on #7379
Fixed through #7412.

[2017-07-18 17:26] #7379 closed

[2017-07-19 05:17] majk-p commented on #8470
I could make a PR for that, but I'm short on time at the moment. If you'd like to take it feel free to do so. I've found similar issues in couple more connectors if you'd want to take a look.

[2017-07-19 08:53] kis25791 opened #8548 "[Question] How can I handle duplicate data in prestodb"
Hi all,
Im newbie with Prestodb. I cannot find UPDATE statement from your docs.
How can I handle duplicate input data in prestodb?

Thanks in advance,
Khoa

[2017-07-19 14:35] sopel39 opened #8550 "PartialAggregationPushdown does not preserve symbols required by join filters and equi-conditions"
[code]
output:
[code]

[2017-07-19 14:55] sopel39 opened #8552 "SymbolsExtractor doesn't correctly extract all symbols from JoinNode"
Check https://github.com/prestodb/presto/commit/079f5fa94488a07f987cf5af767bf66130c32849#diff-f35aac8ae02c212c0868dc5ccb916327R213 to see how symbols (dependencies) from join node should be extracted.

`SymbolsExtractor` need to correctly extract all symbols from join node. Probably there are mode nodes (e.g: with `Assignments`) where not all symbols are extracted. In fact, `SymbolsExtractor` shou

[2017-07-19 16:35] electrum opened #8553 "Improve memory usage of histogram() aggregation"
There are two areas of improvement in `TypedHistogram`:

1. It uses a `LongBigArray` which uses ~20k per instance. This means each group takes up 20k even if there is only a single item in the histogram.
2. It stores a `BlockBuilder` which has a large overhead of single values. For example, `LongArrayBlockBuilder` uses 144 bytes.

[2017-07-20 05:44] kokosing commented on #8552
I will take care of this, as I already started to work on `Symbol*Extractor`, see https://github.com/prestodb/presto/pull/8324

[2017-07-20 06:13] abhishekshenoy opened #8556 "Presto Performance Tuning"
_We are Using Presto 0.171

We have cluster of 23 nodes , 20 datanodes and 3 master nodes wherein we have given fault tolerance support for namenode.

Our presto workers are collocated with the datnodes and Our presto coordinator with the namenode.

Each DataNode has 180 GB Ram(120 gb is dedicated to Yarn) Have given the JVM heap size for presto as 21G , Max memory for each query as 100G and Max-m

[2017-07-20 06:58] abhishekshenoy commented on #8556
Wrong place to post this

[2017-07-20 06:58] #8556 closed

[2017-07-20 10:44] AhmedKamal commented on #7126
@drdee Any updates regarding this issue ?

[2017-07-20 14:57] ashwinhs opened #8557 "Query Errors out on Hive Bucket table"
We have a table with Hive partitions and then "bucketing" on the second column. The queries work fine in Hive, but when we try to access it in Presto, it errors out saying the "hive table is corrupt". This is the sample of what we are trying to do -

[code]

Load data for atleast 2-3 days. When we run the queries

[code]

Looks like the number of files under the folder should exactly match with th

[2017-07-20 16:46] electrum commented on #8557
This means the table has a declared bucket count of `5`, not `50`, which is strange given the above table definition. Can you show the output of `DESCRIBE FORMATTED test_hive_buckets` as run in Hive?

[2017-07-20 16:47] nezihyigitbasi commented on #8272
Fixed through #8535.

[2017-07-20 16:47] #8272 closed

[2017-07-20 16:59] electrum opened #8559 "approx_percentile() with percentages array fails when used as window function"
[code]

[2017-07-20 17:03] electrum commented on #8559
@maciejgrzybek This looks related to ea138ba7d0fe5400972f2f3609208a1f993b87e9

[2017-07-20 17:39] haozhun opened #8560 "Confusing error message in array_distinct"
It says `Query exceeded local memory limit of 4MB`. It should have the name of the function in the error message. It should not mention "local memory limit".

[code]

[2017-07-20 18:06] nezihyigitbasi commented on #8445
Fixed through #8447.

[2017-07-20 18:06] #8445 closed

[2017-07-20 18:15] maciejgrzybek commented on #8559
I will look into it right after I finish the investigation of cost calculator for the upcoming Teradata release, unless it's urgent/critical. Is it, @electrum?

[2017-07-20 18:53] sdpatil commented on #8560
@haozhun Can i work on this. How do I reproduce this issue?

[2017-07-20 19:42] ashwinhs commented on #8557
This is the output -
hive> DESCRIBE FORMATTED test_hive_buckets;
OK
# col_name              data_type               comment

col1                    string
col2                    string

# Partition Information
# col_name              data_type               comment

eff_dt                  timestamp

# Detailed Table Information
Database:               default
Owner:                  root
Create

[2017-07-20 20:55] elonazoulay opened #8565 "resource groups config db disconnection issues"
We have been running the mysql backed resource groups config and noticed that when the database goes down the coordinator does not connect.

To diagnose this we would like to add logging to log errors when loading from the config db.

One possible solution is to use a proxy function like DatabaseUtil in raptor to create a new connection for every jdbi call.

[2017-07-20 22:25] xerial opened #8566 "Allow empty password in presto-jdbc"
JDBC password should be allowed to be empty:
https://github.com/prestodb/presto/blob/eff7dcc2e2b88d60c23479a5e99c8ae582581f59/presto-jdbc/src/main/java/com/facebook/presto/jdbc/ConnectionProperties.java#L108

But this code wrongly forces password presence check:
https://github.com/prestodb/presto/blob/eff7dcc2e2b88d60c23479a5e99c8ae582581f59/presto-jdbc/src/main/java/com/facebook/presto/jdbc/Prest

[2017-07-20 22:40] xerial commented on #8566
The code itself seems allowing empty password. I'll check the actual behavior in detail.

[2017-07-20 22:47] xerial commented on #8566
I confirmed this problem is reproducible:
{code}
java.sql.SQLException: Connection property 'password' value is empty
	at com.facebook.presto.jdbc.AbstractConnectionProperty.getValue(AbstractConnectionProperty.java:104)
	at com.facebook.presto.jdbc.AbstractConnectionProperty.validate(AbstractConnectionProperty.java:123)
	at com.facebook.presto.jdbc.PrestoDriverUri.validateConnectionProperties(Pres

[2017-07-21 01:00] electrum commented on #8566
Thanks, I see the problem here. We don't allow you to specify a property as empty, even if it's optional. For example, you can't say `?SSL=&user=test`, even though `SSL` is optional. But, `password` is special because `DriverManager` sets it automatically. We can probably just skip the special check for empty and allow the normal validation to handle it.

[2017-07-21 19:17] #7746 closed

[2017-07-21 19:38] #8485 closed

[2017-07-21 22:28] eulalie367 commented on #3057
https://github.com/albertocsm/presto/tree/master/presto-elasticsearch

[2017-07-21 22:57] #8329 closed

[2017-07-22 14:38] moshir opened #8569 "LDAP authentication"
Hi
I setup LDAP integration as described in Presto & Terrada documentation with a local openldap server on the same host as presto coordinator.
I keep on getting the same error  :

[code]

Java ssl log shows my certificates are found :
[code]

Certificates I'm using are found in the keystore :
[code]

Openldap is configure locally with the same certificates as my presto keystore:
**slapd.conf**
[c

[2017-07-22 15:49] ebyhr commented on #8135
I checked latest codes and the reason seems that `TimeOperators`, `TimestampOperators`, `TimestampWithTimeZoneOperators` and `TimeWithTimeZoneOperators` don't have `@ScalarOperator(ADD)` and `@ScalarOperator(SUBTRACT)`.

Followings are simple examples to implement the operator.
[code]

Implement  add operator (Please ignore the detail since this is just a example)
[code]

Execute same query
[code]

[2017-07-22 16:17] martint commented on #8135
Adding two time stamps doesn't make much sense. Subtracting two time stamps should produce an "interval day to second".

[2017-07-23 12:34] sajjoseph commented on #8557
Hive is forgiving your mistake and allowing the query to run while presto is not. You declared your table to have 50 buckets, but you ended up with only 5 (it can happen due to users manually deleting the files without updating the hive metastore or you loaded data indirectly into the physical location referred by the hive table).

Teradata folks tried to fix such conditions in the past I believe.

[2017-07-23 17:17] electrum commented on #8135
Merged PR for subtraction

[2017-07-23 17:17] #8135 closed

[2017-07-24 18:34] moshir commented on #8569
After some more trials, i get:

```Error running command: Server refused connection: ...```

in server.log :
[code]
Does anyone have any clue about what's configured wrong ?

[2017-07-24 19:03] akshatnair commented on #8569
Can you share your configuration file? Also, there is a troubleshooting section in the documentation, give it a try if you haven't already.

[2017-07-24 19:57] amitvc commented on #6687
I am new to presto and would like to contribute by starting on beginner tasks. I can work on this ticket. My current experience with presto is I did a poc with 4 node cluster on EMR and with over half billion entries in multiple CSV files. Was able to perform some good tests with complex queries and played around with the system via cli and presto admin.

[2017-07-24 21:49] xerial opened #8577 "Use SSL for port 443 in presto-jdbc"
Since presto 0.180, presto-jdbc requires explicit SSL option like `jdbc:presto://api-presto.treasuredata.com:443/td-presto?SSL=true` for using SSL.

I still don't figure it out what kind of users want to disable SSL for port 443 access.

If there is no specific reason, I'd like create a PR to turn on `SSL=true` by default when port 443 is used, so that we can always use the simplest URL like:
`jdb

[2017-07-24 23:37] MichaelAlo commented on #2863
Hi there,
Is the issue about tables in upper case in MySQL and a Presto connection fixed? :)
Cheers

[2017-07-25 00:01] BillLucky commented on #7768
In your configuration file using ip, or ip and host relationship configuration **/etc/hosts** inside to try again.  @yakcy

[2017-07-25 02:12] MichaelAlo opened #8578 "toLowerCase"
Hi,

Is the the toLowerCase function is the one that generates an issue when try to query a MySQL table whose name is in upper case with dbGetQuery?

My MySQL tables are in upper case and it seems that the query is sent in lower case and so have the message that the table does not exist (case sensitive issue then).

Cheers

[code]

[2017-07-25 10:16] geetikagupta16 commented on #1112
Hi, Is there any way by which we can push down the limit clause to our connector?

[2017-07-25 10:31] jefimm opened #8580 "Add ability for the presto cli to stop on error"
Please consider adding an option to presto cli to abort execution of statement sequence if one of the statements execution result in error, something like "stop-on-error"

[2017-07-25 10:37] kokosing commented on #1112
AFAIK currently it is not yet supported.

[2017-07-25 11:20] ramveer1193 commented on #2445
@yuananf , we are also getting the same problem whatever @ndsorrowchi mentioned , Can please the link for the code with your changes.

[2017-07-25 11:54] #8550 closed

[2017-07-25 12:16] ArturGajowy commented on #8494
This also happens for `TestRaptorDistributedQueries` :(

[code]

[2017-07-25 12:36] geetikagupta16 commented on #1112
Thanks, @kokosing for the quick reply.
Actually, We are trying to implement our custom connector for a project which stores data by performing some encoding on the data. Is there a way by which we can perform post decoding of data only on the resultant data. As right now we are doing the decoding process on all the data regardless of the count in the limit query. So Is there a way by which I can p

[2017-07-25 12:57] kokosing commented on #1112
What about using `LazyBlock`, does it answer your need? That way data is
not decoded until it is used. However, whole block is decoded even if you
decode single value.

On Tue, Jul 25, 2017 at 2:36 PM, Geetika Gupta <notifications@github.com>
wrote:

[2017-07-25 13:21] moshir commented on #8569
Certificates

1. I created self-signed certificates using opensslperl : CA.pl
2. ALL certificates were checked with openssl and all certificates are consistent
3. I imported CA certifiates, server certificate and key in openldap running on the same host as the master node/presto coordinator and configured with LDAPS

Server certificate hosting presto and ldap are configured with FQDN pasted from
`

[2017-07-25 14:17] anusudarsan commented on #8569
@moshir Couple of things.
1) Looks like the Presto server did not start successfully. There seems to be connectivity issues from the Presto coordinator to your LDAP server. Are you sure you have LDAPS enabled on port 389? By default, the LDAPS is enabled on port 636. Did you explicitly change it to be on 389?
2) You could verify the connectivity between LDAP server and the coordinator node by usin

[2017-07-25 17:26] ArturGajowy opened #8589 "TestQueues.testQueuedTimeLimit is flaky"
'TestQueues.testQueuedTimeLimit() didn't finish within the time-out 60000'

[code]

[2017-07-25 17:34] dain commented on #2445
I have been slowly adding features so we could one day support this.  It is a very complex issue as Martin pointed out, and there is very little demand for the feature (it is more of a curiosity for me).

As you point out, adding a new catalog is very simple, you simply add it to the catalogs manager and new queries will see the new catalog.  On the other hand, removing a catalog is very difficult

[2017-07-25 17:46] maciejgrzybek commented on #7550
Fixed.
[code]

vs

[code]

[2017-07-25 17:46] #7550 closed

[2017-07-25 19:56] wenleix commented on #8286
Related to https://github.com/prestodb/presto/issues/8175

[2017-07-25 23:01] #8559 closed

[2017-07-25 23:06] elonazoulay commented on #8565
Explanation: Catching the exception prevents the scheduled task from being suppressed. Once the config db outage is resolved the coordinator recovers.

In the time when there is a config db outage the last known valid values are retained on the coordinator for resource groups and selectors.

[2017-07-26 09:36] ArturGajowy opened #8601 "TestRaptorDistributedQueries.testScalarSubquery is flaky"
Tests run: 1668, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1,356.01 sec <<< FAILURE! - in TestSuite
testScalarSubquery(com.facebook.presto.raptor.TestRaptorDistributedQueries)  Time elapsed: 51.56 sec  <<< FAILURE!
java.lang.AssertionError: Expected query to fail: SELECT orderkey, totalprice FROM orders ORDER BY (VALUES 1, 2)

Results :

Failed tests:
  TestRaptorDistributedQueries>Abstrac

[2017-07-26 09:44] ArturGajowy opened #8602 "TestQueues.testTwoQueriesAtSameTime is flaky"
Tests run: 1410, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1,229.186 sec <<< FAILURE! - in TestSuite
testTwoQueriesAtSameTime(com.facebook.presto.execution.resourceGroups.db.TestQueues)  Time elapsed: 21.759 sec  <<< FAILURE!
org.testng.internal.thread.ThreadTimeoutException: Method com.facebook.presto.execution.resourceGroups.db.TestQueues.testTwoQueriesAtSameTime() didn't finish within t

[2017-07-26 10:00] sd4324530 opened #8603 "support Statement.setQueryTimeout"
This method is very useful !
But Presto did not support it!
Thanks!

[2017-07-26 13:05] scorta-d opened #8604 "Presto is not able to connect to hive metastore when hadoop.rpc.protection=privacy"
If hadoop.rpc.proctecion=privacy then presto fails to connect to hive metastore
[code]

The error message is `Could not connect to meta store using any of the URIs provided. M
ost recent failure: org.apache.thrift.transport.TTransportException: No common protection layer between client and server`

It is possible to patch presto code in order to fix this:
In KerberosHiveMetastoreAuthentication.jav

[2017-07-26 13:12] ashwinhs commented on #8557
Thank you. The files were created by Hive, this might happen (and i think its a valid scenario) when Hive is not able to split the input data into that many number of buckets. Ex: We might get just one record for a day (in Datawarehouse terms), so there will be one bucket/file for that day. The properties you mentioned, do they exist today? I get errors when i try to use these properties:

[code]

[2017-07-26 14:17] weikybeidos commented on #8380
Envirenment: CDH 5.12 Kerberized (against ADS) /NO SENTRY

Step1 presto171 (success):
CREATE TABLE test171 (  col1 varchar );

Step 2 presto 171( success)
select * from test171;

step3 presto 181 (success)
CREATE TABLE test181 (  col1 varchar );

Step 4 presto 181( failed)
presto:default> select * from test181;
Query 20170726_141516_00003_m624j failed: Column $path doesn't exist in table test181 i

[2017-07-26 15:01] anubhav100 opened #8606 "How can I do concurrent query execution in presto"

[2017-07-26 15:58] petroav commented on #8606
I'm not sure I understand your question. Concurrency is automatically supported by Presto. When you have more than one client issuing queries, Presto will execute those queries concurrently.

[2017-07-26 16:33] sajjoseph commented on #8557
You will have to use Teradata's version of presto to have these additional
properties working.
http://www.teradata.com/products-and-services/Presto/Presto-Download

On Wed, Jul 26, 2017 at 7:12 AM, Ashwin Somasundara <
notifications@github.com> wrote:

--
Sajumon Joseph
303-378-0593
sajjoseph@gmail.com

[2017-07-26 17:11] electrum commented on #8380
Can you show the output of DESCRIBE?

[2017-07-26 17:40] dain commented on #8601
This is really strange.  The query should fail when processing the scalar sub query for `ORDER BY` in `com.facebook.presto.operator.EnforceSingleRowOperator`.   Unless the `orders` table is empty, I think there is likely a bug in one of the operators or a race condition in the engine.

[2017-07-26 18:32] nezihyigitbasi opened #8607 "Create table if not exists may fail with 'Table Already Exists'"
The actual create table is done in async commit in another thread that doesn't even have the "if not exists" flag.

[2017-07-26 18:37] akshatnair commented on #8606
This is more of a question for the presto users Google group, please join that and ask there and close this issue.

[2017-07-26 18:42] akshatnair commented on #8604
We need to make this a configuration property for Hive connector.

[2017-07-26 20:02] kokosing commented on #8601
@dain IMO it does not matter, there will be a join and scalar sub query (`EnforceSingleRow`) is on the build side, as I understand it will be executed disregarding if probe has rows. So it should fail even if probe is empty.

It looks like both probe and build side had no data, or build had at most single row which would even more strange.

@ArturGajowy How did you encounter this? Is this correct

[2017-07-26 20:14] dain commented on #8601
`CROSS JOIN` is handled by the `NestedLoopJoinOperator` which has an optimization that if the probe is empty, it finished immediately.  This is the same behavior we would get with an optimizer that new the probe produced zero rows (e.g., SELECT * FROM x WHERE false), and could therefore could replace the JOIN with and empty VALUES node.

@martint thoughts?

[2017-07-26 20:19] martint commented on #8601
Yes, that makes sense. If we wanted to fail statically, we'd need to do it at analysis time.

I tried running the query 10000 times on my IDE and couldn't reproduce the problem. My initial thought is that this is some race condition in the setup of tables for raptor tests. Does it happen for any other connector ?

[2017-07-26 21:24] moshir opened #8609 "passing password to presto-cli for automated scripts"
I read that presto-cli --password prompts for user password.
However, when using presto-cli to automate queries (e.g. views), what's the approach ?
I also read about $PRESTO_PASSWORD environment variable, is it document somewhere ?

[2017-07-26 21:45] moshir commented on #8609
closing
PRESTO_PASSWORD  needs to be set system wise
and  --password needs to be passed to presto-cli

[2017-07-26 21:45] #8609 closed

[2017-07-26 22:07] dain commented on #8609
In unix, environment variables are not "system wide".  For example, in a bash shell on linux, you can execute the presto cli with `PRESTO_PASSWORD=foo presto`.  This will pass the password to the cli using the environment variables scoped to that single command.  For scripts, using environment variables is the preferred approach, so you password is not exposed to others using the `ps` command.

[2017-07-26 22:24] drdee commented on #8243
We are seeing similar issues as described in this in Presto 0.181,  `Mismatched Domain types: date vs integer` in filter statements even though both fields are of type `date`. Casting the `date` column as a `date` solves the problem though.

[2017-07-27 02:54] vinceprignano commented on #8510
Any thoughts?

[2017-07-27 08:34] #8606 closed

[2017-07-27 10:57] ArturGajowy opened #8613 "accumulo.index.TestIndexer.testMutationIndexWithVisibilities is flaky"
[code]

[2017-07-27 10:59] ArturGajowy commented on #8613
[log.txt](https://github.com/prestodb/presto/files/1179679/log.txt)

[2017-07-27 15:02] ArturGajowy commented on #8150
I'd say for 1. (Infra to break apart ATQ into multiple classes) we should use junit 5.

I created a [junit 5 POC](https://github.com/ArturGajowy/junit5-samples/issues/1) that seems to meet most functional criteria, including 'not re-creating the QueryRunner'.

It also doesn't have the drawback @electrum mentioned for test generation - the number of leaf classes doesn't change under that approach (

[2017-07-27 21:36] Drizzt321 commented on #2863
I'm testing out Presto with MySQL, running into this exact issue. Is there any will, at all, to fix this rather big issue? Clearly there's more than 1 or 2 people, and this would prevent us from using Presto as our tables are managed by Hibernate, which creates them. I have seen https://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html, which setting it to 2 might work. I'm having t

[2017-07-27 22:34] nezihyigitbasi opened #8622 "Release notes for 0.182"
## Dain Sundstrom
- [x]  07-26 21:42:45    0a9859d5b8 Fixup: Update to new MapBlock APIs
- [x]  07-26 21:42:45    176c32f8c9 Fixup: Update ChunkedSliceOutput to align with RCWriter
- [x]  07-26 21:42:45    1e597a75f2 Fixup: ORC getRetainedBytes calculations
- [x]  07-26 21:42:45    3ba0a6fdbb Update to latest ORC proto
- [x]  07-26 21:42:45    5dade58aef Fix typo in test ORC temp file name
- [x]

[2017-07-28 02:33] liuch0730 opened #8626 "when i execute "show catalog", only print "system""
i have already configured "hive.properties" in etc/catalog.
hive.properties
    connector.name=hive-hadoop2
    hive.metastore.uri=thrift://hadoop0:9083
but when i execute "./presto" and "show catalog", only print "system".
when i execute "./presto --catalog hive" and "show  schemas", print "Catalog hive does not exist".

thanks!

[2017-07-28 02:46] liuch0730 commented on #8626
version:presto 0.181

[2017-07-28 04:29] #8509 closed

[2017-07-28 06:01] #7612 closed

[2017-07-28 06:04] AlekseiS commented on #7476
I assume this is done as part of https://github.com/prestodb/presto/pull/7514

[2017-07-28 06:04] #7476 closed

[2017-07-28 16:56] akshatnair commented on #8626
Did you restart Presto after adding `hive.properties` file?

[2017-07-28 19:44] caithagoras commented on #8622
General
 - Add a config option to reject queries during cluster initialization. Queries are rejected if active worker count is less than the ``query-manager.initialization-required-workers`` when coordinator up time is less than ``query.manager.initialization-timeout``.

[2017-07-28 22:39] wenleix commented on #8622
General

- Improve performance of CAST from JSON to ARRAY/MAP type.

[2017-07-29 04:08] highker commented on #7216
resolved by https://github.com/prestodb/presto/pull/8629

[2017-07-29 15:18] anubhav100 commented on #8626
@akshatnair i am facing the same issue with same properties and yes i restarted it

[2017-07-30 09:40] youngqi2017 opened #8633 "what't the specific propertis meaning of resource group?"
I am research the presto, I noticed the new feature of resource group. but I can not understand some properties of of resource group. For example softMemoryLimit: if a query which peakMemoryBytes and totalBytes value are all bigger than the softMemoryLimit value. what had happened?

[2017-07-31 02:35] nezihyigitbasi commented on #8633
For a resource group, if the sum of the `totalMemoryReservation` of all running queries in that group (and it subgroups) exceeds the soft memory limit new queries will be queued.

If you have additional questions please use the [presto-users group](https://groups.google.com/forum/#!forum/presto-users).

[2017-07-31 02:35] #8633 closed

[2017-07-31 08:03] losipiuk opened #8635 "Inserting data into REAL column in PostgreSQL table via Presto results in wrong data in table"
To reproduce:

* configure Presto to connect PSQL instance

* on PSQL:
[code]

* on Presto:
[code]

The reason for that behaviour is that decision how insert is performed to SQL connector is made in many cases just based on
Presto container type (and not actual SQL type) in `JDBCRecordSink`. In case of `REAL` `appendLong` method is called, which results in
`statement.setLong` being called on prepa

[2017-07-31 14:13] andrewryder opened #8636 "Single node cluster cannot gracefully shutdown"
When attempting to gracefully shutdown a node (as we wanted to implement this feature in production), I was testing against one of our single-node staging clusters. What resulted was the query being killed before completion.

This seems to be a result of the "No nodes available" exception to be bubbled up into the scheduler loop.

Is this the expected functionality on a single node cluster (Since

[2017-07-31 15:40] zsaltys opened #8637 "Spilling fails - failed to read spilled pages"
When running a query with spilling enabled we get an error:

"Query 20170731_153056_00334_yexgm failed: Failed to read spilled pages"

We're running this on EMR 5.7.0 which has Presto 0.170. What could be possible reasons? What information I could provide to help investigate this? All params are default as set by EMR 5.7.0 but I can provide specifics if needed.

Thank you

[2017-07-31 15:52] zsaltys opened #8638 "Ignore max memory per node when resources are overcommitted"
Sometimes when we want to run unreasonable queries we like to set resource_overcommit = true on a session level. However that does not protect you from max memory per node limitation as we still get local memory errors even with resource_overcommit = true. It's not possible to change the max memory per node with a session parameter. It would be great if it were possible to change the max memory pe

[2017-07-31 17:42] geetikagupta16 opened #8639 "Select query is not throwing any exception, when select operation is performed inside an unexisting database"
I am using presto hive connector and presto-cli, when I tried to execute the following query from presto-cli inside an unexisting database, it does not throw any exception.

`----
`

Below is the output for show schemas in presto-cli :

       Schema
` --------------------
`

When I tried to perform the above select query, it executed successfully however it should throw a `SchemaNotFound` Excepti

[2017-07-31 19:03] ashwinhs commented on #8329
Was this fixed in 0.181 ?

[2017-07-31 19:50] haozhun commented on #4415
I cannot reproduce this issue after swapping `t`, `t2`, and `t3` with a few different variations. This issue has likely been fixed over the extended period it is open.

[2017-07-31 19:50] #4415 closed

[2017-07-31 20:25] kokosing commented on #8639
When you use `default.test` in a query you refer for a `test` table from `default` schema (not from `xyz`). In such case it does not matter what schema is set in your session.

[2017-07-31 20:25] #8639 closed

[2017-07-31 20:32] maciejgrzybek commented on #8329
No, there's no released version of Presto having this patch yet.
0.182 [unreleased] and 179t of Teradata's distro [soon to be released] will be first versions with this patch.

[2017-08-01 00:07] raghavsethi opened #8643 "Add UDF to convert interval into milliseconds"

[2017-08-01 00:12] Drizzt321 commented on #2863
So, sadly I can't get it set to '2', I suppose it's because I'm running on Linux, and so mysql really doesn't like it so it keeps reverting to 0. I can get it set to 1, which simply lowercases all table names and stores them on disk as lowercased, but that's not so useful for lots of existing tables.

[2017-08-01 02:11] nezihyigitbasi commented on #8622
@rongrong's release notes:

[code]

[2017-08-01 02:32] nezihyigitbasi commented on #8622
[code]

[2017-08-01 04:47] electrum commented on #8577
When rewriting the JDBC config framework for 0.180, we removed the default SSL for port 443 in order to not have a special case. It seems cleaner not to have a special case. However, as you point out, and @dain agrees, no one will use port 443 for non-secure, so it's not harmful.

Actually fixing this would be difficult, since we don't support dynamic defaults in `ConnectionProperties`.

[2017-08-01 04:50] electrum commented on #8577
I'm open to supporting this if the code isn't horrible. We still need to support explicitly saying `SSL=false` when the port is 443 (so it needs to be a default and not always enabled).

[2017-08-01 04:52] electrum commented on #8577
The other consideration is allowing `SSLTrustStorePath` (which is only allowed to be configured if SSL is enabled). Ideally, we would allow it if the port is 443 and SSL is not explicitly enabled, but I'm fine with saying you need to explicitly say `SSL=true` in order for `SSLTrustStorePath` to be configurable.

[2017-08-01 05:09] kokosing commented on #8622
General
 * Introduce the `TPC-DS` connector. This connector provides a set of schemas to support the TPC Benchmark™ DS (TPC-H).
 * improve planning performance for queries which consists of multiple joins with tables that have many ( counted in hundreds) columns

[2017-08-01 07:09] losipiuk commented on #8622
General:
 * Improve performance of joins with just non-equality conditions by using a nested-loops join instead of a hash join.

[2017-08-01 07:19] nezihyigitbasi commented on #8636
When you try to shutdown the coordinator in a single-node cluster the graceful shutdown logic should throw an exception saying `Cannot shutdown coordinator` (see [this](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/server/GracefulShutdownHandler.java#L77-L79)), so basically your `PUT` request to `/v1/info` should fail.

If that's different than what y

[2017-08-01 07:38] nezihyigitbasi commented on #8638
Did you check the `query_max_memory` session parameter (you will still be bounded by the `query.max-memory` configuration parameter if you try going above that)?

[2017-08-01 07:42] nezihyigitbasi commented on #8637
It would be useful to see the stack trace of the worker that failed to read the spilled pages. You can find the failed task from the web ui and then go to the worker running that task and get the logs.

[2017-08-01 08:38] mcvejic opened #8646 "Unable to use calculated column in grouping sets"
When trying to use calculated column in grouping set error showing that query is not valid is thrown.

examples:

`select transaction_id, term_start, 'test' as test, sum(quantity) from transaction group by grouping sets ((transaction_id, 'test'), (transaction_id, term_start));`

throws

[code]

at the same time it is not possible to use calculated column alias (expected).

This works when using ju

[2017-08-01 13:01] andrewryder commented on #8636
Sorry, I should clarify;

It is a single *worker* node, separate from the coordinator. This is the stack trace that occurs (I believe this is from 0.164 but testing on the latest gives the same/similar stacktrace):
[code]

Prior to the query finishing the only worker node is marked as `SHUTTING_DOWN` so no splits can be scheduled on any nodes at this point which kills queries in an ungraceful mann

[2017-08-01 14:18] zsaltys commented on #8637
@nezihyigitbasi here's the stack trace:

com.facebook.presto.spi.PrestoException: Failed to read spilled pages
	at com.facebook.presto.spiller.BinaryFileSpiller.readPages(BinaryFileSpiller.java:120)
	at com.facebook.presto.spiller.BinaryFileSpiller.lambda$getSpills$1(BinaryFileSpiller.java:108)
	at java.util.stream.IntPipeline$4$1.accept(IntPipeline.java:250)
	at java.util.stream.Streams$RangeIntS

[2017-08-01 15:35] maciejgrzybek commented on #8622
@martint:
`Change expected type to be Object instead of Block in Accumulator` (0058aa7) could go as:

[code]

[2017-08-01 15:37] losipiuk commented on #8622
@martint: this is from @maciejgrzybek  concerning `Change expected type to be Object instead of Block in Accumulator`

General:
* Fix execution of several window functions (e.g. approx_percentile) on array and map types

[2017-08-01 18:06] haozhun commented on #8638
In current implementation, queries with `resource_overcommit` does not respect local memory limit or global memory limit. It can go over both.

However, they will be the first that get killed if memory is not sufficient overall (when you have multiple queries running).

[2017-08-01 18:28] aliavni commented on #8011
Same here

[2017-08-01 18:41] xerial commented on #8577
@electrum Good. Thanks for the confirmation. We will create a PR for this.

[2017-08-01 19:28] nezihyigitbasi commented on #8636
I guess what's happening is the worker goes to the `shutting down` state and after that point nothing can run as there are no worker nodes available in the cluster, which is expected. What graceful shutdown guarantees is that if there are any running queries on a particular worker then the shutdown handler waits for those queries to finish. If there is nothing running the worker will be put to the

[2017-08-01 19:32] nezihyigitbasi commented on #8637
Yeah that's the reason: `Too many open files`. Bump up the max file descriptors limit as mentioned in that e-mail and please re-open if that doesn't solve your problem.

[2017-08-01 19:32] #8637 closed

[2017-08-01 19:35] raghavsethi commented on #8258
Merged.

[2017-08-01 19:35] #8258 closed

[2017-08-01 19:41] raghavsethi commented on #8622
* Add :func:`to_milliseconds` function to convert intervals (day to second) to milliseconds.

[2017-08-01 21:09] polvoazul commented on #7005
Any news on that?

[2017-08-02 04:03] arthurhsk commented on #8557
It looks not a good idea to switch us to teradata. First, teradata's seems to be old versions of prestoDB at the moment (version 167t ), we use 0.181. Second, we do not want to get this fixed but lots of issues unfixed again or new features become unavailable.

Can Prestodb team help us?

[2017-08-02 05:31] nezihyigitbasi commented on #8622
@maciejgrzybek

Which window functions are fixed? That commit only has tests for `approx_percentile`, any other functions affected?

[2017-08-02 05:59] nezihyigitbasi commented on #8622
@raghavsethi please add documentation for `to_milliseconds` in datetime functions doc.

[2017-08-02 06:23] nezihyigitbasi commented on #8622
@raghavsethi Just saw your PR, thanks.

[2017-08-02 06:45] electrum commented on #8557
Something strange is going on. Can you try to reproduce it with a new table and give us the exact Hive commands to do so? Also, what version of Hive and Hadoop?

[2017-08-02 07:35] arthurhsk commented on #8622
https://github.com/prestodb/presto/issues/6386

Will this ticket be fixed in coming release?

[2017-08-02 07:48] nezihyigitbasi commented on #8622
@arthurhsk Nope. I don't think anyone looked at that issue.

[2017-08-02 08:57] chaojichantui opened #8651 "Java JDBC连接hive执行SQL时候报400"
优秀的京东团队:
           您好，我现在用您的Presto,感觉非常好，但是有一点点问题想请教一下，我用Java JDBC连接时连接比如mysql非常好，但是hive报错400很遗憾我debug调试就是 执行sql语句   select * from table_name报错，
不知道什么原因，还望能够解决一下，不胜感谢

                  中国大唐移动通信有限公司  Adley
联系方式： maxin@cattsoft.com

[2017-08-02 09:09] kokosing commented on #8651
Can you please use English otherwise we are unable to help you .

[2017-08-02 09:09] #8651 closed

[2017-08-02 11:49] zsaltys commented on #8637
Adding

presto soft nofile 32768
presto hard nofile 65536
presto soft nproc 32768
presto hard nproc 65536

to /etc/security/limits.conf on every node solved our issue. On EMR this can be done with bootstrap actions script.

[2017-08-02 13:11] ebyhr commented on #8643
I think `to_milliseconds` function already implemented. [Date and Time Functions document](https://prestodb.io/docs/current/functions/datetime.html) doesn't have the information, though.

[code]

Do you mean `interval 'x' millisecond`?
[code]

[2017-08-02 15:28] maciejgrzybek commented on #8622
@nezihyigitbasi:

All functions accepting Block (map, array) as a scalar parameter.
We have three types of window functions:
1. accepting scalars (e.g. `sum(bigint)`, `avg(double)` etc.)
2. accepting blocks as a set of values (e.g. `map_agg(bigint, array[bigint])`)
3. accepting block as a scalar value (to represent maps and arrays), e.g. the aforementioned `approx_percentile(T, ARRAY[T])`.

The th

[2017-08-02 15:47] dain commented on #8622
[code]

[2017-08-02 16:17] raghavsethi commented on #8643
Yes, I just added it yesterday.

[2017-08-02 16:17] #8643 closed

[2017-08-03 02:39] liuch0730 commented on #8626
@akshatnair @anubhav100 thanks.
just at that moment， i restart it, it print "Catalog hive does not exist"  as before.
so i redeployed it and restart，it works。

[2017-08-03 02:39] #8626 closed

[2017-08-03 04:19] ongmingyang opened #8654 "Unclear error message when selecting from table with empty schema"
I'm using the mongodb connector to read data from mongodb. In the beginning, Presto inferred an empty schema because my table didn't have any data in it at that time. However, even after adding data, simple queries would continue to fail with a rather strange and uninformative error message:

[code]

Manually updating the schema in the `_schema` table solves the issue and the query works as expect

[2017-08-03 04:39] martint commented on #8654
Yeah, it's a bug. The analyzer is making an assumption that tables have at least one field and that only queries without a from clause  (i.e., `SELECT *`) can have zero columns, so it's misreporting the error.

[2017-08-03 05:50] kokosing commented on #8654
I will take a look at it.

[2017-08-03 07:49] dzen commented on #3057
I found this other fork today : https://github.com/ebyhr/presto

[2017-08-03 09:51] kokosing commented on #8654
Here is a fix: https://github.com/prestodb/presto/pull/8657, though I do not have an idea how to test without writing (changing existing) connector which could return such table.

[2017-08-03 10:02] zrjnike opened #8659 "Session Properties"
how should i get Session Properties in Scalar Function
https://prestodb.io/docs/current/develop/functions.html
Session defined:
connection.unwrap(PrestoConnection.class).setSessionProperty("name", "value");
like https://prestodb.io/docs/current/release/release-0.78.html

[2017-08-03 10:03] zrjnike commented on #8659
@electrum @joshk please help

[2017-08-03 10:56] dabansal opened #8660 "How to build presto like tarball"
Hi All,

I am able to build using "mvn clean build" after modifying presto 0.178 codebase but it is creating individual jar files in each of the sub-projects.

Is there a way to build presto in the same format what which we download from presto's website with all the folders.

Thanks,
Dheeraj

[2017-08-03 14:20] petroav commented on #8660
@dabansal After a build, the `presto-server/target` folder will contain the tar ball. For the RPM you'll have to look in `presto-server-rpm/target`.

[2017-08-03 14:20] #8660 closed

[2017-08-03 14:30] gregology opened #8661 "Spaces in field names breaks CREATE TABLE AS"
[CREATE TABLE AS](https://prestodb.io/docs/current/sql/create-table-as.html) raises an Illegal Argument Exception when spaces are present in field names

Create table
[code]

[code]

A temporary solution is to replace spaces with underscores in the field names

[code]

[code]

[2017-08-03 16:12] martint commented on #8622
[code]

[2017-08-03 17:16] electrum commented on #8659
You can add `ConnectorSession` as the first argument to your function. See `DateTimeFunctions` for an example.

[2017-08-03 17:16] #8659 closed

[2017-08-03 17:25] electrum commented on #8622
[code]

[2017-08-03 20:04] #8622 closed

[2017-08-04 00:04] #8098 closed

[2017-08-04 00:57] sd4324530 commented on #8651
这个是facebook在维护的，不是京东，我也是醉了

[2017-08-04 01:28] #8286 closed

[2017-08-04 10:05] kokosing commented on #6580
Fixed with https://github.com/prestodb/presto/pull/8489

[2017-08-04 10:05] #6580 closed

[2017-08-04 10:05] kokosing commented on #6491
Fixed with: https://github.com/prestodb/presto/pull/8489

[2017-08-04 10:05] #6491 closed

[2017-08-04 16:31] flakycov commented on #8494
We also observed this for `TestHiveDistributedQueries` on commit 47ae3ae, and it did not fail for [the corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/257706078):
[code]

[2017-08-04 16:50] flakycov opened #8666 "TestResourceGroupIntegration::testMemoryFraction is still flaky"
`TestResourceGroupIntegration::testMemoryFraction` failed for us on commit `ec3ddb7`, but did not fail on the [corresponding run on Travis](https://travis-ci.org/prestodb/presto/jobs/255122621). Issue #6369 previously fixed some flakiness in this test, but it seems that it is now flaky for a different reason: the `Address already in use` error mentioned in #8493.

[code]

[2017-08-04 20:22] ebd2 commented on #8150
Having also started working on part 2 (connector unit tests) of this issue after putting up the original PR for the generation, I'm going to weigh in on the junit5 vs generation question.

First, for the upcoming ATQ breakdown, it's largely irrelevant which approach we take; individual tests in ATQ are by nature essentially compatible with every connector, and none need adaptation or filtering on

[2017-08-04 20:38] ebd2 commented on #8150
@martint, @electrum, @kokosing please take a look at this and the (not-ready-to-be-merged) PRs.

Opinions on the infrastructure options would be welcome.
I'd appreciate feedback from @martint in particular about whether this is the approach you had in mind for connector unit tests.

Please bear in mind that there are a lot of rough edges on both PRs. I didn't figure it was worth doing too much pol

[2017-08-04 20:47] martint opened #8673 "Planning failure for non-equi left join"
[code]

Fails with:

[code]

The issue doesn't occur if the WHERE clause is removed, if the join is converted to an INNER JOIN or an equality join.

This seems to be a recent regression, although I haven't tracked down which commit introduced it.

[2017-08-04 21:51] martint commented on #8673
It seems to be caused by a6b2e75d3720a71dbb6e89eb2ef4f1633cce6e05.

cc @losipiuk

[2017-08-04 23:03] martint commented on #2863
For reference, here are the relevant parts from the SQL spec:

[code]

[code]

[2017-08-05 01:28] #8016 closed

[2017-08-05 02:22] #7483 closed

[2017-08-05 04:06] wenleix opened #8675 "Must-implemented methods in Block related to slice access"
Here is a contract in Block related to slice access:
[code]
which applies to the following methods:
[code]

Now we have "interleaved" block such as `SingleMapBlock` and `SingleRowBlock`.  For such blocks, slice access might work for a subset of the positions (consider `Map<VARCHAR, BIGINT>`).

This contract now really means "for any position supports Slice access, it should also return valid value

[2017-08-05 04:06] wenleix commented on #8675
cc @haozhun

[2017-08-05 10:29] satybald opened #8676 "Chat communication, alternative to IRC"
Many FOSS projects use IRC, however, the service has some disadvantages in terms of staying always online to get the messages. Also, I noticed that not many folks from Presto are using it. I'm wondering if community thought about using some other services for chat communication instead of IRC?

Found some reference to pros and cons for existsing chat for FOSS.
https://github.com/reactiflux/volunte

[2017-08-05 21:13] lvijay opened #8679 "join fewest columns for order by"
I found that when joining two tables with an ORDER BY and a LIMIT, Presto on Hive performs much better when the two tables are joined on the fewest possible columns and then INNER joined with themselves.

Running the second example results in a significantly better performance than the first (2x faster on my cluster, lesser memory, higher concurrency).

    SELECT cols -- 10 dim columns, 4 aggrega

[2017-08-05 23:57] electrum commented on #8679
This type of transformation is not safe, unfortunately, since there's no guarantee the connector will produce identical rows for each table scan. For example, someone may add or remove files in between scans.

[2017-08-06 00:40] lvijay commented on #1981
Based on comments in #1995, this can be closed, methinks.

[2017-08-06 00:43] #1981 closed

[2017-08-06 05:27] ebyhr commented on #8661
@gregology What connector are you using? I checked this and most connector could execute the sql successfully. If the connector is cassandra, you even can't do SELECT the table whose column name has spaces.

[2017-08-06 05:34] xiaoyao1991 opened #8680 "Filtering with subquery cause constraint to be TupleDomain.ALL"
In `ConnectorMetadata`, the `getTableLayouts` method takes a parameter `Constraint<ColumnHandle> constraint` that holds the filtering semantics. I leverage this to implement some custom predicate pushdown logics for my custom made connectors. However, I found that when a query filters on some values from a subquery, the `constraint` will be short-circuited and be `TupleDomain.ALL`.

e.g.
[code]

T

[2017-08-06 05:53] electrum commented on #8680
The engine asks for table layouts during planning, then starts executing the query at which time the subquery is run. In other words, the subquery is run too late to provide a `TupleDomain`. This should be solved by the Dynamic Partition Pruning work in ##8588.

[2017-08-06 05:57] electrum commented on #8680
The work around for now, assuming the subquery produces a relatively small number of values (maybe ~1000), is to run the subquery first, then substitute them into the outer query. This is obviously less than ideal, but is possible if you have another system them is generating / running the queries.

[2017-08-06 06:00] xiaoyao1991 commented on #8680
@electrum Thanks. I understand that table layouts is computed during planning. I've tried some hacks such as to change the `splitSource` on the fly, but it could cause bad corner case error.

Any plan on when the Dynamic Partition Pruning would be merged?

[2017-08-06 06:09] electrum commented on #8680
Actually, another potential option is make the connector take advantage of index joins. It might be possible if the query is written like this:

[code]

The index join will do a batched nested-loop index lookup against `tx`. This might not be efficient if `tx` is not inherently indexed or if there are many rows for each `tx_blocknumber`.

Take a look at `IndexedTpchPlugin` for an example. You can

[2017-08-06 06:10] electrum commented on #8680
I haven't been following the work on that feature. You can ask on the Pull Request or in the IRC or Slack channel.

[2017-08-06 06:27] xiaoyao1991 commented on #8680
Thanks! I will take a look into that.

[2017-08-06 11:03] losipiuk commented on #8673
The problem appears where we actually extract the `FilterNode` out of the `JoinNode`'s `filterFunction`.
We get the failure if new `FilterNode` requires symbols which were not needed by nodes above `JoinNode` in original plan tree (an therefore not part of `JoinNode.getOutputSymbols()`.

[2017-08-06 11:52] gregology commented on #8661
@ebyhr, I'm using a hive connector and `SELECT 'cats' AS "field with spaces";` works as expected

[2017-08-06 13:05] losipiuk commented on #8673
@martint, @kokosing  please take a look at proposed solution in https://github.com/prestodb/presto/pull/8682.

It simplifies the logic in `PredicatePushDown` concerning maintaining outputSymbols in produced by `JoinNode`.
We just produce everything from `JoinNode` and trim it with `ProjectNode` always.

The other "cleanup" optimizers (`UnaliasSymbolRefereces`, `PruneUnreferencedOutputs`, `InlinePr

[2017-08-06 17:38] johndpope opened #8683 "installation instructions unclear"
https://prestodb.io/docs/current/installation.html

vs

https://gist.github.com/johndpope/aaa7eaebb6d881f10b233011eb9bdbd9

[2017-08-06 18:27] lvijay commented on #8679
You're right, @electrum.  I hadn't thought of the race condition at all.

That's a pity because this really speeds up performance and, in our particular usecase, it won't actually cause problems in practice.  We don't delete ids and while it is possible that someone edits `name` in flight and we'd show `boeing, airbus` because someone fixed a typo on "iarbus" while the query was executing, it's so

[2017-08-06 20:03] martint commented on #8679
With the right transaction isolation, it can be a safe transformation.

[2017-08-06 20:23] lvijay commented on #4655
is this still relevant now that presto has lambda support?

[2017-08-06 22:58] electrum commented on #8683
Thanks for the feedback!

These instructions are for different things. The deployment instructions tell you how to install a released version on a cluster of machines. The instructions you provided are for building from source for development purposes. We cover that in the README: https://github.com/prestodb/presto/blob/master/README.md

Please let us know if something there can be improved.

[2017-08-07 05:18] Praveen2112 commented on #8680
@xiaoyao1991 I guess Presto's optimizer will convert the above query to semi join and the Predicate push down will be applied to the build side table(block table).

[2017-08-07 06:15] sopel39 commented on #8456
I don't think currently correlated symbols can be used in aggregation context. It is doable (e.g: correlated symbol should be treated as constant) but not supported right now. However, error message: ` '("avg"("totalprice") < "a")'` is rather strange, so maybe something fishy happens

[2017-08-07 06:22] xiaoyao1991 commented on #8680
@Praveen2112 In order for that to happen, does the connector need to be written in some way? I'm relying on the `getTableLayouts` in metadata to narrow down the number of splits to splitManager, and I'm not seeing the behavior you described. Maybe I'm missing something?

[2017-08-07 07:04] Praveen2112 commented on #8680
@xiaoyao1991 I guess it is independent of the connector provided the connector has proper way of handling the` TupleDomain`.`TupleDomain.ALL` will be created in these conditions
1. When there is no filter criteria.
2. When there is OR condition in the filter criteria (A=1 or B = 2) .
3.When there is some function in filter criteria (fun(A) =2 ).

Does the filter condition in filter query satisfies

[2017-08-07 07:32] xiaoyao1991 commented on #8680
@Praveen2112 I'm using 0.181, query plan looks like:
[code]

[2017-08-07 07:37] pistolero commented on #8501
@cawallin sorry, missed your question.

it fails for collumn with a following schema:
[code]

And here is data causing it to fail:
[code]

[2017-08-07 08:11] Praveen2112 commented on #8680
@xiaoyao1991 from the query plan we can infer that the query is translated to Semi Join. I guess `TupleDomain.ALL` is obtained for the table Transaction which doesnt have any filter criteria whereas Table Block has a filter criteria and a corresponding TupleDomain is generated.

[2017-08-07 09:48] kokosing commented on #8150
I vote for **junit5** approach:
 - I did a quick pass over your two proposed approaches. I understood the junit5 easily, while the other it is much more complicated.
 - the thing that sometimes developer has to call maven to generate something needed to run tests is the thing I would like to avoid. Usually, I work on several feature branches doing context switches frequently. Moreover often I chec

[2017-08-07 12:06] ebd2 commented on #8150
@kokosing: You haven't addressed the question of the number of maintenance touch-points in the JUnit5 approach, by either proposing a better solution or arguing why it isn't a problem. Specifically the parts where changes to tests require touching basically every connector to either:

1. Make the new connector aware of the existence of the tests
2. Override unsupported tests

You also haven't expl

[2017-08-07 12:48] losipiuk commented on #8150
@ebd2 thanks for great summary!

My initial though was that we want to avoid code generation if possible. That is based on my former work with annotation processors in Groovy. Probably irrelevant in many aspects but I recall that experience to be
much more painful that initially expected.
Also I am not big fan of TestNG library. It is not very actively developed right now, and code quality is poor

[2017-08-07 12:52] kokosing commented on #8150
ordinarily be a field initialized in the constructor has to be obtained  a method call.

Why not provide a field with a method and then manage it within implementation of a test:
[code]

That way you have a custom code and you can manage the lifecycle of the object in the way you want.

---

I do not think it is important point. New connector creation is a rare thing so it can be done manually, wh

[2017-08-07 13:39] losipiuk commented on #8150
[code]

This would not work as you cannot use `SomeTest` as a building block of leaf test class (it is class and not an interface so you cannot use multiple inheritance). And you probably do not want to repeat the logic of setting up `Object o` for all the connectors.

But as I wrote maybe it is not a real problem we have to fight right now?

[2017-08-07 13:49] ebd2 commented on #8150
That is exactly what I proposed. @losipiuk points out the tradeoffs in doing this, but I'm tentatively in agreement that we don't yet have a case where this is a problem.

Please take a look at https://github.com/prestodb/presto/pull/8671/files#diff-5f970463a19e2314ee3030d3acbcb489.

I would argue that these tests belong together, as they test related features. Note, however that support for mutat

[2017-08-07 15:50] grepwood opened #8687 "Does Presto support MySQL+SSL?"
Hello,

I have Presto connecting to several databases over SSH tunnels, but would like to switch it all to SSL. Maintaining 20+ SSH tunnels on all nodes is quite painful.

I've tried to run Presto with `-Djavax.net.ssl.trustStore="/path/to/truststore.jks" -Djavax.net.ssl.trustStorePassword="actualpassword"` where we keep an intermediate CA, and a root CA used to sign the certificate for one MySQL

[2017-08-07 16:11] electrum commented on #8150
As for TestNG vs JUnit 5, from a framework perspective, it seems clear that JUnit 5 is the future and that we should move to it when it is ready and provides us benefit. Trying it out now would also be helpful to provide the JUnit project feedback before the final release.

So, we shouldn't frame this discussion in terms of JUnit 5 vs something else, but rather, after we move to JUnit 5, will it b

[2017-08-07 17:44] clakkina opened #8688 "Presto and Mongo DB issues"
Hi Team,

I am trying to use Presto with MongoDB and having below issue after connecting to the database.

![image](https://user-images.githubusercontent.com/27369310/29038584-34b8ac7c-7b76-11e7-9330-a1497f3d25fd.png)

Here is my mongod config file:
============================
[root@ushdbld00058lb catalog]# cat mongodb.properties
connector.name=mongodb
#mongodb.seeds=host1,host:port
mongodb.seeds

[2017-08-07 17:47] lvijay commented on #3751
The benchmark driver accepts `--session` so it should work with

    --session=query_max_run_time=5s

is more needed?

[2017-08-07 17:48] electrum commented on #8687
Instead of setting JVM level system properties (which isn't recommended for Presto), try setting as connection properties:

[code]

https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-reference-configuration-properties.html

[2017-08-07 17:54] lvijay commented on #8679
@electrum @martint where would I start with making these changes?

[2017-08-07 17:54] xiaoyao1991 commented on #8680
@Praveen2112 thanks a bunch for looking. I don't understand why it interprets that Transaction table doesn't have any filter criteria. In the query that generates the above execution plan ```
SELECT SUM(tx_value) FROM tx
WHERE tx_blocknumber IN
    (SELECT block_number FROM block WHERE block_timestamp >= 1501964936)
[code]

[2017-08-07 18:10] ebd2 commented on #8150
Following offline discussion with @electrum, I filed the following issue against JUnit 5: https://github.com/junit-team/junit5/issues/1009

[2017-08-07 18:49] rash67 commented on #8560
@sdpatil are you actively working on this? if not, I'd like to take a stab at this.

[2017-08-07 20:04] sdpatil commented on #8560
@rash67, go ahead with this issue. I am not able to get time to work on it for now.

[2017-08-07 20:11] buremba commented on #8401
Hey @martint , is there any update on this? Let me know if I can help. If you can open-source the code in a separate repository, I can work on it and send a PR to the prestodb/presto.

[2017-08-07 20:28] dain commented on #8313
If possible, distribution of revoked memory size per task and/or operator... that way we can see if we are revoking lots of small stuff or large stuff

[2017-08-07 22:04] rongrong opened #8694 "InMemoryHashAggregationBuilder not updating memory reservation after finish"
The close() function should update memory usage.

[2017-08-07 22:08] electrum opened #8695 "Add quantile digest type, similar to HyperLogLog"
Needed:

* Quantile digest type that allows casting to/from varbinary. (similar to `HyperLogLogType`)
* Aggregation functions to compute a quantile digest, weighted and unweighted, with specified accuracy. (similar to `approx_set`)
* Aggregation function to merge quantile digests. (similar to `merge` for HLL)
* Scalar function to extract percentiles from quantile digest type, with the same functio

[2017-08-07 22:14] rongrong commented on #8694
@pnowojski @sopel39

[2017-08-08 04:35] kokosing commented on #8150
@ebd2 Thank you for your feedback. You did a great job!

It looks like that each options has its pros and cons. IMO either way go it will be better than it is now. Even if we make a mistake today, it will be easier to migrate once again later than it is today.

I can live with cons of both of them. Although, I still vote for junit5, I am ok with whatever you choose, either junit5 or code generatio

[2017-08-08 05:10] Praveen2112 commented on #8680
In the above query the filter criteria is actually converted to a semi join and its executed so for the probe side table(tx_blocknumber) the TupleDomain is set to All. As electrum said from Dynamic Partition , based on the values of the build side table (block) we might get a TupleDomain which will be used for filtering the tx_blocknumber table.

[2017-08-08 08:20] zrjnike commented on #8659
@electrum  , Sorry for Excuse again,
      i have tested,but it just return null,
i have down the presto code 0.173 test,and the reason is that    properties    attribute is null,how to fix this?
please help! thanks
![image](https://user-images.githubusercontent.com/27471173/29062671-2168b664-7c55-11e7-91bd-a3d94e4563ba.png)

@Override
    public <T> T getProperty(String propertyName, Class<T> typ

[2017-08-08 09:49] sopel39 opened #8697 "Introduce BlockingSource<T>"
In various contexts there emerges a need for a concept for processing and pipelining pages by different processors. Example use cases:
1. `PageProcessor`
2. `ConnectorPageSource`
3. `MergeHashSort`
4. Distributed merge sort: https://github.com/prestodb/presto/pull/8169#discussion_r124836826
5. `MergingPageOutput`: https://github.com/prestodb/presto/pull/8691/commits/71a28622a00ac8dca55f7d0fae522d2

[2017-08-08 11:14] grepwood commented on #8687
Hello,

Did this, getting
[code]

I'm `file`ing the actual path to the truststore, and it comes up as
[code]

[2017-08-08 12:18] grepwood commented on #8687
Alright, for future generations of users, use `trustCertificateKeyStoreUrl=file:///path/to/truststore.jks`

[2017-08-08 12:18] #8687 closed

[2017-08-08 15:30] cawallin commented on #8501
@pistolero Yeah, we only test maps with simple types; it does look like the Cassandra connector does not handle maps with complex types as keys/values. Happy to provide pointers if you'd be interested in fixing this yourself!

[2017-08-08 23:34] nezihyigitbasi commented on #8636
@andrewryder please re-open if you have any other issues.

[2017-08-08 23:34] #8636 closed

[2017-08-09 08:30] ksingh7 commented on #7620
Hi @bond- @nezihyigitbasi @martint

I am hitting the exact same issue with Presto versions ``0.170`` and ``0.177``

Any pointers to fix this, Is much appreciated.

Details:
- 23 worker nodes
- 1 Master Node
- Connector HIVE
- S3 Storage
- Presto versions tested ``0.170`` and ``0.177``

[code]
[code]
@bond- I have also tried ``-XX:+AggressiveOpts`` and  ``-XX:+UseNUMA`` together with ``-XX:+UseG1GC

[2017-08-09 08:41] ksingh7 commented on #5100
Hi, @dain @abhisen @matt-martin @Cidan @csliu @rohanmonga1 did you guys managed to get this working?

I am hitting the exact same issue with Presto versions ``0.170`` and ``0.177``

Any pointers to fix this, Is much appreciated.

Details:
- 23 worker nodes
- 1 Master Node
- Connector HIVE
- S3 Storage
- Presto versions tested ``0.170`` and ``0.177``

[code]
[code]
Also tried ``-XX:+AggressiveOpts`

[2017-08-09 08:49] bond- commented on #7620
@ksingh7 Yes we managed to get past it. The problem that I was facing was with the data and the query.

The way Presto works in our case was: Presto -> Hive metastore -> HDFS (ORC formatted data)

1. Data has to be partitioned(Hive partitions), it shouldn't be a huge file sitting on HDFS.
2. The query should be optimized to use partitions in the where clause wherever possible. Doing so we select o

[2017-08-09 19:01] Parth-Brahmbhatt opened #8709 "Presto parquet read path fails when map columns have null values."
Presto parquet read path fails to read any parquet tables that has null values for the column with map types. This is broken by this change https://github.com/prestodb/presto/pull/7590/files so all releases since the patch has been merged in should be affected. The code reads keyblocks and valueblocks in ParquetReader's readMap method and if the map is null , both keyblock and valueblock will have

[2017-08-09 20:38] nezihyigitbasi commented on #8709
For other users hitting this issue, you can disable the optimized Parquet reader with the `parquet_optimized_reader_enabled` session parameter to hopefully workaround this issue.

@Parth-Brahmbhatt since you have an understanding of the problem, can you please submit a patch? Otherwise, it would be nice to have a small test file or a test case to repro the issue so that someone can take a look.

[2017-08-09 20:40] #8602 closed

[2017-08-09 20:41] nezihyigitbasi commented on #8589
I expect this to be fixed by #8708.

[2017-08-09 20:41] #8589 closed

[2017-08-09 20:59] Parth-Brahmbhatt commented on #8709
I am working on the patch, disabling the parquet_optimized_reader_enabled does work.

[2017-08-09 22:38] wenleix opened #8711 "Regular expression failure for certain strings"
[code]

[2017-08-10 00:38] johndpope commented on #8683
just to continue adding feedback -
I think a simple batch script / wizard could go a long way - https://gist.github.com/johndpope/142af754bf7cc78f77509ee10aa44bc9

some enhancements
- specify  node.id=ffffffff-ffff-ffff-ffff-ffffffffffff\n // perhaps a auto-generated key
-  specifiy server localhost or dev server / or production server.
-  do you want to setup debug?

for newbies where presto is a

[2017-08-10 02:44] yxydde commented on #6010
what the progress ?

[2017-08-10 03:44] annisun opened #8713 "Presto use hive data source, time will change?"
Presto use hive data source, time will change?
In hive,the time is '2017-08-10 00:00:00.000',
but in presto, the time changes like this : '2017-08-10 08:00:00.000'.

Where can I configure it?

[2017-08-10 08:19] satybald commented on #8711
Looks like this bug is caused by regex library that presto is using [airlift/joiny](https://github.com/airlift/joni). There's already issue opened by @haozhun
https://github.com/jruby/joni/issues/28

[2017-08-10 09:32] fiedukow commented on #8713
The way TIMESTAMP from Hive is displayed in presto currently can be determined by two factors.
 1) CLI timezone - the value is adjusted by Presto to timezone demanded by user. Timezone can be chosen by passing `-Duser.timezone=<YourTZ>[1]` to jvm while starting cli executable. By default it's of course determined by client operating system settings.
Example CLI start: `java -jar -Duser.timezone=As

[2017-08-10 09:46] zsaltys commented on #8638
@haozhun @nezihyigitbasi here's some proof showing that resource_overcommit does not ignore local memory limits:

![screen shot 2017-08-10 at 10 42 15 am](https://user-images.githubusercontent.com/1583403/29164888-f08de158-7db8-11e7-8cd0-31736f5dbda3.png)

You can see in the screenshot of the query that spilling and overcommit is enabled yet the query fails with 5gb local memory limit. Each worker

[2017-08-10 09:47] zsaltys commented on #8638
If that helps the query runs:  count(distinct some_field) as some_field_unique .. I know this is very memory intensive but I dont understand why the local limit is being respected.

[2017-08-10 14:18] Bongss opened #8714 "I think that incorrect implementation MemorySplitManager"
**MemorySplitManager class**

In getSplit(),
I think that **MemorySplit's fifth parameter**(expectedRows) should **dataFragment.getRows() / splitsPerNode** when it constructs MemorySplit objects.

[code]
Since data is divided by **numberOfSplits**(or **splitsPerNode**), **Each MemorySplit** is likely to have the following expectedRows: **dataFragment.getRows() / splitsPerNode**

In fact, I'm not s

[2017-08-10 15:55] satybald opened #8716 "Hang in AWS SDK with parallel uploads under load"
As [PrestoS3FileSystem.uploadObject](https://github.com/prestodb/presto/blob/f9f3542efa413e21a896909476890c2416846a4e/presto-hive/src/main/java/com/facebook/presto/hive/PrestoS3FileSystem.java#L1032) is using aws s3 sdk 1.10.30, a race condition in aws sdk waitForCompletion method affects it. A proposal to update AWS SDK to a newer stable version.

[2017-08-10 18:32] brandynabrams commented on #4017
Hi All,

Out of curiosity, will a coorelated subquery join such as this work in the future as part of your ongoing support for coorlated subqueries?

`from user_people up
left join order_applications oa on oa.id = (select id from order_applications where person_id = up.id order by id desc limit 1)`

[2017-08-11 00:34] rash67 commented on #8553
@raghavsethi if you have thoughts on this. @electrum and I are looking into a state pattern that can optimize either the histogram impl and/or *BigArray impls to have special cases: they start out optimistic assuming a few elements (say <= 4) in very memory efficient ways. Once k is exceeded, we "upgrade" to the full version.

implementation details notwithstanding (an extra pointer, or maybe just

[2017-08-11 05:39] kokosing commented on #4017
@brandynabrams Currently I do work on subqueries which are using `LIMIT` (and `ORDER BY`).

Generally, since all the subqueries in TPCH and TPCDS extending support for subqueries become less important and we switched to things that may affect broader user audience (like join reordering).

Anyway, still I feel somehow personally related and engaged with subqueries, push the support for them in my s

[2017-08-11 07:25] annisun commented on #8713
thanks  !
I will try it

[2017-08-11 08:32] brandynabrams commented on #4017
Hey @kokosing,

Thanks for the reply! Yes, I agree tasks like join reordering (which would be awesome) are more important.

I'm very used to Postgres, and subqueries that use limit & order by was used very frequently by myself & my team.

Some of our micro services still use postgres, but our data warehouse (treasure data) uses hive & presto combo.. and this type of unsupported subquery makes its

[2017-08-11 09:32] fiedukow commented on #8713
Closing for now. Feel free to reopen if required.

[2017-08-11 09:32] #8713 closed

[2017-08-11 14:35] sopel39 opened #8721 "Tpcds connector generates invalid decimal values when locale is not en_US"
[code]

I am using polish locale

FYI: @petroav @cawallin

[2017-08-11 14:43] sopel39 commented on #8721
The problem is with `com.teradata.tpcds.type.Decimal#toString`. It doesn't use US locale

[2017-08-11 15:32] rash67 commented on #8553
@nezihyigitbasi  @martint also mentioned you might be a goo poc.
there's sort of bifurcating options: tune the otheralll TypedHistory gram impl, or tart from scrach

ify you could provde  more context on why this way was chosen and which direction to take, that would help me immensely

I'm ON PTO today / monday, bur sporadic on github

thanks

[2017-08-11 17:19] rash67 commented on #8553
tl;dr options
1. tweak Long//BigArray (or tweak to further control segment size and init segmetns (seems a little error-prone; though if w keep defaults, but use function heuristics to rigger lower-cost for small keysets and "upgrade" to full histogram when need be might win

2. roll our own long/big array. if we dont' mind paying a larger cost to grow
 we can use a high fill rate and reduce memor

[2017-08-11 18:02] ashwinhs commented on #8557
I tried with a new table.

[code]
This is the Table script and data insert script:

[code]

The Describe Table -

[code]
I am using Amazon EMR cluster to test :
[code]

[code]

[2017-08-11 20:25] #8694 closed

[2017-08-11 21:25] ebd2 commented on #8150
There's a new PR up that incorporates @losipiuk's suggestion to use ExecutionConditions to filter out the unsupported tests. That mitigates most of my maintainability concerns about JUnit5, and I'm going to stop maintaining the generation branch.

Please take a look at the PR and offer up opinions. Note that it won't work on Travis pending an airbase PR. I applied the patch in the linked PR to air

[2017-08-11 22:55] nezihyigitbasi commented on #8714
/cc @pnowojski

[2017-08-11 22:58] nezihyigitbasi commented on #8260
Fixed in [0.182](https://prestodb.io/docs/current/release/release-0.182.html).

[2017-08-11 22:58] #8260 closed

[2017-08-12 05:45] satybald commented on #8556
for reference, could you post links here?

[2017-08-12 12:36] pnowojski commented on #8714
I think it is correct as it is. `MemoryDataFragment` represents a data fragment of a table stored on some particular node. As I remember this 5th parameter is not about the number of rows returned by this split, but about the validating that after restarting worker, we do not loose any data. But I'm also not 100% sure. You can always change the code and is if the tests are passing - and if not fin

[2017-08-13 14:07] Msirkovsky opened #8727 "Filter predicate like is not pushed down in case of using wildcards"
In this query:

`select * from table where name like 'Test'`

predicate `name like 'Test'` is pushed down. But in the following query doesn’t:

`select * from table where name like '%Test%'`

My catalog is MS SQL.

[2017-08-13 19:11] akshatnair commented on #8727
It is probably because in the first query it gets converted to an equality predicate which is definitely pushed down for JDBC connectors. It may not be the case for the LIKE predicates.

[2017-08-14 05:19] Msirkovsky commented on #8727
Yes I find the code that replace `like predicate` with the equality predicate (`ExpressionInterpreter.java`). Can you explain me why LIKE predicate with wildcards cant be pushed down for JDBC connectors as well?
Thank you.

[2017-08-14 07:57] findepi commented on #8673
Fixed by #8682

[2017-08-14 07:57] #8673 closed

[2017-08-14 08:21] ksingh7 commented on #7620
@bond- Thanks for your response.

I managed to get this working by adjusting memory limits for both JVM ``-Xmx``  and ``query.max-memory-per-node``. The sum of these two should be under physical memory limit.

[2017-08-14 09:03] bond- commented on #7620
@ksingh7 Ah!, good to know. maxSize is null error seems to be too generic for a variety of failures. @dain Can we request for a better error handling mechanism for the error that @ksingh7 faced?

[2017-08-14 10:20] findepi commented on #8727
What gets pushed down to a connector is not a predicate, but a simpler constraint, expressed as a `TupleDomain` (list of non-overlapping ranges). Obviously, `name like '%Test%'` cannot be translated to such a form, so currently it cannot be pushed down.

[2017-08-14 10:35] findepi commented on #8721
Should the issue be moved to https://github.com/Teradata/tpcds?

[2017-08-14 10:59] fiedukow opened #8729 "ARRAY<TIMESTAMP> written from Presto is not readable from Hive"
**Affected version:** d12df6f278e7957989f5a257d10b7239ae9d60ac (master)
**Steps to reproduce:**
 1. Set up Presto with Hive connector
 2. Execute in Presto: `create table parquet_bug WITH (format = 'PARQUET') as select ARRAY[TIMESTAMP '2000-01-01 00:00', TIMESTAMP '2000-01-01 00:00'] c1;`
 3. Execute in Hive: `select * from parquet_bug;`

**Expected behaviour:**
Query should return:
[code]

**Curr

[2017-08-14 12:26] mingmwang commented on #5985
Looks like no one is working on this.

[2017-08-14 12:50] haozhun opened #8730 "Query should be considered Blocked when some drivers are flushing"
Let's say, we have
* All drivers in 0.0 blocked
* All drivers in 1.23 blocked for memory (all other tasks are finished)
* Some 20+ drivers in task 2 are flushing (i.e. TaskStatus says RUNNING. But execution has actually finished. The only thing left is to send data to another task higher up.)

This happens, for example, when stage 1 is a join that builds a large hash table and 1 host happens to be

[2017-08-14 12:56] haozhun opened #8731 "Reserved pool choosing heuristics choose against finishing queries"
Let's say, we have
* All drivers in 0.0 blocked (using no memory)
* All drivers in 1.23 blocked for memory (all other tasks are finished)
* Some 20+ drivers in task 2 are flushing (using no memory)

This happens, for example, when stage 1 is a join that builds a large hash table and 1 host happens to be low on memory.

In such cases, the query is using much memory overall because only 1 task is le

[2017-08-14 14:29] alandpost commented on #8380
Fixed in master in https://github.com/prestodb/presto/commit/76200966f82f7067655797576ef966921ab64c49

[2017-08-14 17:30] haozhun commented on #8730
"flushing" means "finishing, with the only thing remaining is to send data to another task higher-up"

[2017-08-14 20:04] raghavsethi commented on #8553
Histogram needs to be exact.

Also, I think it's definitely worth exploring what the distribution of element count is while making this decision. You could either add some sort of summary stat (like people have done in the join operators), or try it out and see. If the idea is to try it out, then I would start with special casing the tiny states to see if there is improvement, and only considering

[2017-08-15 00:15] haozhun opened #8737 "Release notes for 0.183"
## Dain Sundstrom
- [x]  08-08 13:37:53    adb07a9920 Add cache to PageFunctionCompiler
## David Phillips
- [x]  08-04 10:38:48    fa0f39d3c4 Make line wrapping consistent in HiveStorageFormat
- [x]  08-04 11:15:41    b5a0476d3c Improve detection of completely corrupt ORC files
- [x]  08-04 12:44:01    bcdeeaca80 Delete unused RetryDriver class in Cassandra connector
- [x]  08-04 12:45:48    4764b

[2017-08-15 00:44] wenleix commented on #8737
No user visible change.

[2017-08-15 00:54] nezihyigitbasi commented on #8737
General:
* Fix formatting in EXPLAIN ANALYZE output.

[2017-08-15 00:59] nezihyigitbasi commented on #8729
Which Hive version is this? Hive had some parquet timestamp compatibility issues before 1.2: [HIVE-9482](https://issues.apache.org/jira/browse/HIVE-9482).

[2017-08-15 01:30] nezihyigitbasi commented on #8553
I don't have much context on why we have the current implementation, it was added in #3062.

In general I agree with @raghavsethi that we need to collect some numbers before taking any decision and jumping to implementation. This will help us understand what's the biggest bang for the buck (I remember this was a user reported issue, it would be nice to get a heap dump and see what are the top cons

[2017-08-15 02:49] highker commented on #8737
General:
- Fix memory counting bugs for reading varchar arrays/maps
- Optimize json_parse with cast

[2017-08-15 03:00] martint opened #8738 "Planning failure with GROUPING and expression that requires implicit coercions"
[code]

fails with:

[code]

If `1.0` is replaced with `1`, the query succeeds. I believe this is due to some issue with implicit coercions.

[2017-08-15 03:50] martint commented on #8738
It appears GROUPING(k) is not being rewritten during the initial planning when the `1.0` is in the aggregation expression.

[2017-08-15 04:49] #8738 closed

[2017-08-15 08:12] subway1211 opened #8742 "Partition key is Timestamp Type"
java.lang.invoke.WrongMethodTypeException: cannot convert MethodHandle(ConnectorSession,long)Slice to (Object)Object
	at java.lang.invoke.MethodHandle.asTypeUncached(MethodHandle.java:775)
	at java.lang.invoke.MethodHandle.asType(MethodHandle.java:761)
	at java.lang.invoke.MethodHandle.invokeWithArguments(MethodHandle.java:627)
	at com.facebook.presto.connector.informationSchema.InformationSchemaP

[2017-08-15 14:03] maciejgrzybek commented on #8742
Can you provide steps to reproduce, please? Is it for explain or regular select on table partitioned by TS column? What version do you run?

[2017-08-15 15:08] maciejgrzybek commented on #8742
I tried many operations on timestamp-partitioned table (created in Hive using DDL):
[code]
1. simple select:
[code]
2. explain (presuming it could have something to do with https://github.com/prestodb/presto/issues/8329):
[code]
3. describe:
[code]
4. query `information_schema.columns`:
[code]
5. query `information_schema.tables`:
[code]

All of them works fine on both master (HEAD = 25e988287f618

[2017-08-15 15:13] rash67 commented on #8553
I agree--in looking at this, I have no sense what impact on overall memory and cpu utilization any change I make would have.

I'll look into how we instrument and collect these #s and I'll have more questions

thanks

[2017-08-15 16:07] rschlussel opened #8743 "Wrong results when filtering on partitioned char(x) or long decimal column"
The following example is based on TestHiveIntegrationSmokeTest.createPartitionedTable()

[code]

[code]

Running
`SELECT * from test_partitioned_table WHERE CAST('boo' AS CHAR(10)) = _partition_char;`  returns 0 rows

The same is true for filters on the long decimal column e.g.
`SELECT * from test_partitioned_table WHERE CAST('12345678901234567890.0123456789' AS DECIMAL(30,10)) =_partition_decimal

[2017-08-15 17:17] rschlussel commented on #8743
to clarify, this error occurs whether you're filtering on all the partition columns or a subset of them, so long as any of the ones you are filtering on is a char(x) or long decimal type.

so the following also returns 0 rows:
` SELECT * from test_partitioned_table WHERE 'foo' = _partition_string AND 'bar' = _partition_varchar AND CAST(1 AS TINYINT) = _partition_tinyint AND CAST(1 AS SMALLINT) = _

[2017-08-15 17:23] rschlussel commented on #8743
I expect it has to do with both of these types being represented as slices, and the way that gets interpreted in HivePartitionManager.getFilteredPartitionNames()

[2017-08-15 17:26] martint commented on #8695
We need to define a serialization format similar to HLL's (https://github.com/airlift/airlift/blob/master/stats/docs/hll.md). Some of the work needs for this needs to go in airlift.

[2017-08-15 17:38] #4357 closed

[2017-08-15 17:38] #3270 closed

[2017-08-15 17:38] #3035 closed

[2017-08-15 17:39] #2862 closed

[2017-08-15 17:39] #2864 closed

[2017-08-15 17:40] #3056 closed

[2017-08-15 17:40] #3070 closed

[2017-08-15 17:43] xerial commented on #5759
We also have encountered this issue.

[2017-08-15 18:58] caithagoras commented on #8737
General:
- Add map_from_entires and map_entires function

[2017-08-15 20:17] electrum commented on #8737
[code]

[2017-08-15 20:46] ggilfb commented on #8737
No user visible change for: Remove unnecessary null check on primitive types.

[code]

[2017-08-15 22:20] rongrong commented on #8737
General:
* Fix memory accounting in Aggregation

[2017-08-15 23:55] martint commented on #8737
[code]

[2017-08-16 01:20] subway1211 commented on #8742
[root@localhost bin]# ./presto
presto> show partitions from hive.default.qs_table;

Query 20170815_173231_00000_4jhkb, FAILED, 1 node
Splits: 50 total, 0 done (0.00%)
0:03 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20170815_173231_00000_4jhkb failed: cannot convert MethodHandle(ConnectorSession,long)Slice to (Object)Object

presto> explain show partitions from hive.default.qs_table;

-------------------

[2017-08-16 01:21] subway1211 commented on #8742
presto> desc hive.default.qs_table;
 Column  |   Type    |     Extra     | Comment
---------+-----------+---------------+---------
 id      | integer   |               |
 content | varchar   |               |
 yr      | varchar   | partition key |
 dt      | timestamp | partition key |
(4 rows)

Query 20170815_173419_00002_4jhkb, FINISHED, 1 node
Splits: 18 total, 18 done (100.00%)
0:00 [4 rows, 2

[2017-08-16 01:30] subway1211 commented on #8742
works on presto version 0.180

[2017-08-16 04:45] sadowski commented on #7120
Quick note on this issue: Hive now allows for one of two options when writing ORC files 1) the new utf8 format only is written (`orc.bloom.filter.write.version=utf8`), or 2) both the new uft8 format and the old format are written (`orc.bloom.filter.write.version=original`). Since both of these options write the new utf8 format into the ORC file, when Presto reads these files it throws a `BLOOM_FIL

[2017-08-16 05:45] dain commented on #8737
Hive Changes
--------------
* Work around `ORC-222<https://issues.apache.org/jira/browse/ORC-222>`_ which results in invalid summary statistics in ORC files when the input data contains invalid ``VARCHAR`` data.  Normally when this occurs the query fails, but in rare situations incorrect results my be returned.

[2017-08-16 07:39] findepi commented on #8742
related to #8329

[2017-08-16 09:12] fiedukow commented on #8729
`Hive 1.2.1000.2.5.0.0-1245`

[2017-08-16 09:25] #8380 closed

[2017-08-16 10:01] kokosing commented on #8737
General:
 * Raise a proper error message when query contains unsupported correlated subquery.
 * Make possible for `CHAR` functions (like `subst`) to  have empty spaces at the end of the returned value.

TPCH
 * expose data statistics for schemas `tiny` (`sf0.01`) and `sf1`

TPCDS
 * expose data statistics for schemas `tiny` (`sf0.01`) and `sf1`

[2017-08-16 12:05] losipiuk commented on #8737
SPI Changes:
* Extend column statistics with minimal and maximal value.
* Replace nullsCount with nullsFraction in column statistics.

General:
* Fix planning error for `LEFT JOIN` converted to `INNER JOIN` without equi-conditions.
* Spill to disk for aggregation uses revocable memory. Now spilling takes place only if query runs out of cluster memory during execution.
* Remove`experimental.operato

[2017-08-16 14:21] maciejgrzybek commented on #8742
Confirmed, both on master and 179t. Will work on that.

[2017-08-16 18:12] haozhun commented on #8737
Superseded by #8754

[2017-08-16 18:12] #8737 closed

[2017-08-16 23:38] haozhun commented on #8737
@highker @caithagoras @rongrong @kokosing Please always end sentences with `.` in the future for release notes.

[2017-08-17 00:19] nezihyigitbasi commented on #8729
This looks like a Hive bug, in fact this is probably the same bug reported in [HIVE-15082](https://issues.apache.org/jira/browse/HIVE-15082).

[2017-08-17 01:48] rash67 commented on #8560
i think i've addressed all comments: whitespace, function names, static imports, test cases, etc

[2017-08-17 05:23] martint opened #8758 "Named queries (WITH) should be evaluated only once"
Currently, Presto evaluates named queries (WITH clause) by inlining them wherever they are referenced in the body of the main query. This can cause problems if the query is non-deterministic, since every inlined instance might produce different results.

According to the spec:

[code]

This says that each named query should be evaluated once and the result "stored" in a table `WLT`. Thereafter, an

[2017-08-17 05:45] martint commented on #8758
`WLT` in the definition above is what the spec calls "transient table":

[2017-08-17 07:42] subway1211 commented on #8742
Only problems  with  `show partitions from catalog.schema.table`

[2017-08-17 12:25] fiedukow opened #8762 "CREATE TABLE AS SELECT does not work for some filetypes in Hive when map level to deep."
**Affected version:** 6b0dc3c0e6ad557182925494cae24ec9aba39b4d (master)
**Steps to reproduce:**
 1. Set up Presto with Hive connector
 2. Execute in Presto: `CREATE TABLE complex WITH (format = '<FORMAT>')
AS SELECT * FROM (
VALUES   (
       map(ARRAY[1],
           ARRAY[map(ARRAY[1],
               ARRAY[map(ARRAY[1],
                  ARRAY[map(ARRAY[1], ARRAY[1])]
               )]

[2017-08-17 15:31] zsaltys opened #8763 "Presto workers do not recover with out of heap errors"
We run presto 0.170 latest on AWS EMR. 30 nodes. Config like this:

cat /etc/presto/conf/config.properties
coordinator=false
node-scheduler.include-coordinator=false
discovery.uri=http://SOMEHOST:8889
http-server.threads.max=500
discovery-server.enabled=false
sink.max-buffer-size=1GB
query.max-memory=150GB
query.max-memory-per-node=51569672323B
query.max-history=40
query.min-expire-age=30m
http-se

[2017-08-17 15:34] zsaltys commented on #8763
Actually I notice that presto workers are recovering .. But It's been over 1 hour and out of 30 nodes only 22 have recovered and there's no queries running on the cluster except the one that made all the workers crash.

[2017-08-17 19:13] haozhun opened #8769 "Flaky tests during Maven release on mac"
Follow-up issue #8788:
[code]

Line 172 in TestNodeScheduler is not blocking. This looks like casualty caused by other tests:
[code]

Follow-up issue #8787:
[code]

Follow-up issue #8776:
[code]

Fixed #8778:
[code]

Fixed #8777:
[code]

Fixed #8779:
[code]

[2017-08-17 20:17] arhimondr opened #8771 "Add LOCAL Round Robin exchange before an otherwise SOURCE-distributed PARTIAL aggregation"
In case of source distribution drivers are created per split. Every time the driver is closed - a PARTIAL aggregation buffer must be flush. This decreases the partial aggregation efficiency.

[2017-08-17 21:43] findepi commented on #8771
Do you think it should be conditional (only if the partial aggregation would otherwise be source distributed) ?

[2017-08-17 21:48] mbeitchman opened #8773 "Pagebuilder does not have expected data size for pages count more than one page"
The page builder is accumulating pages between page counts and exploding.

[2017-08-17 21:57] mbeitchman commented on #8773
addressed by https://github.com/prestodb/presto/pull/8774

[2017-08-18 13:29] synhershko commented on #8676
From personal experience I can recommend gitter, it works very well for FOSS projects and has github integration. Another path I'm seeing many projects take is open up their Slack account to the public.

[2017-08-18 13:32] synhershko commented on #8367
Fixed by https://github.com/prestodb/prestodb.github.io/pull/7 (once merged), cc @electrum

[2017-08-18 13:33] synhershko commented on #8361
Should this be closed?

[2017-08-18 13:52] synhershko commented on #6550
@haozhun `TimeZoneKey.checkArgument` throws `IllegalArgumentException`, so I guess what's left to do is catch and rethrow as PrestoException from all consumers?

[2017-08-18 15:30] arhimondr commented on #8771
Yes, sure. If a PARTIAL aggregation is already in a FIXED distribution pipeline - than it is fine. No need to add yet another exchange.

[2017-08-18 16:22] BigDataDaddy commented on #8011
Electrum,  I just recently spoke to the AWS EMR GM on this issue at the AWS Summit in NYC.  They are aware of the breaking change in the Presto PostgreSQL connector at Presto 0.174 when using it to connect to AWS Redshift.  They are concerned and are seeking solutions.  EMR's most recent release (EMR 5.8.0) deploys Presto 0.170 and they are stuck there (or under 0.174) until there's a solution for

[2017-08-18 17:32] rash67 commented on #8560
fix spurious import

[2017-08-18 19:41] electrum opened #8776 "Flaky test TestHiveClient.testGetTableStatsBucketedStringInt"
This failed twice in our Jenkins, for different columns on each failure:
[code]
[code]

[2017-08-18 23:00] nishantrayan opened #8780 "Max-run-time is enforced using query create time instead of start execution time"
I think we should enforce query max run time using its start execution time instead of create time. The query could be stuck in the queue for a while and it would count that time towards the time-before-kill.

https://github.com/prestodb/presto/blob/2ffc0e14b6966d274d09dc735ca3ff069893012b/presto-main/src/main/java/com/facebook/presto/execution/SqlQueryManager.java#L552

[2017-08-20 08:28] mbeitchman opened #8786 "Integrate Glue Data Catalog with Hive connector"
I would like to contribute the integration with the Glue Hive Metastore compatible service.

http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/glue/AWSGlue.html
https://aws.amazon.com/glue/faqs/

Should this be an implementation of the following interface?

https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/metastore/Extended

[2017-08-20 16:18] adamjshook commented on #8494
Ran into this during some new feature development in the Accumulo connector.  Stack trace below -- this is based against version 0.178.

[code]

[2017-08-20 18:00] usmanm commented on #8133
Hey guys, any update on this? We're facing the same issue as described here: https://medium.com/hadoop-noob/presto-parquet-reader-fc7c333fc0a4

[2017-08-20 18:01] usmanm commented on #5316
Hey guys, any update on this? We're facing the same issue as described here: https://medium.com/hadoop-noob/presto-parquet-reader-fc7c333fc0a4

[2017-08-20 21:31] haozhun commented on #8776
@alandpost Can you take a look at this issue? We encountered this failure multiple times during our release process for 0.183. We hope that this can be addressed in a week so that release 0.184 will be easier.

[2017-08-20 21:38] haozhun opened #8787 "Flaky Test in TestDistributedSpilledQueries"
[code]

[2017-08-20 21:39] haozhun commented on #8787
@ArturGajowy @losipiuk These tests were introduced recently in 38271f3c98f642c7deca534be1846ba924a67ae5. Can you take a look at this issue? We encountered this failure multiple times during our release process for 0.183. We hope that this can be addressed in a week so that release 0.184 will be easier.

In fact, with #8769 partially fixed, this is now by far the most likely cause for build failure

[2017-08-20 21:44] haozhun opened #8788 "Flaky test TestCassandraTokenSplitManager"
[code]

[2017-08-20 21:46] haozhun commented on #8788
@arhimondr @cawallin

Andrii, you are the expert here on Cassandra-related stuff. Can you take a look at this? Is this test not thread-safe? If so, we should either fix it or make it single-threaded, depending on the circumstances.

We encountered this failure multiple times during our release process for 0.183. We hope that this can be addressed in a week so that release 0.184 will be easier.

[2017-08-20 21:47] haozhun commented on #8769
Closing this now that release 0.183 is out. A new task will be filed to track pending issues.

[2017-08-20 21:47] #8769 closed

[2017-08-20 22:02] haozhun opened #8789 "AccumuloQueryRunner doesn't work on IPv6-only Linux"
The MiniAccumuloCluster doesn't work on IPv6-only hosts. (The host has IPv4 stack, but only for 127.0.0.1. The host only has IPv6 external facing address.)

Presto runs accumulo 1.6.2, which supposedly have a fix for some similar issue: [ACCUMULO-3340](https://issues.apache.org/jira/browse/ACCUMULO-3340)

Symptom:
* Out-of-box: hangs on attempt to connect: `Opening socket connection to server loca

[2017-08-20 22:02] haozhun commented on #8789
@adamjshook Do you mind taking a look?

[2017-08-20 22:03] haozhun opened #8790 "Release Pain Points (tracking)"
Flaky tests we encountered on mac:
#8787: Flaky Test in TestDistributedSpilledQueries @ArturGajowy @losipiuk
#8788: Flaky test TestCassandraTokenSplitManager @arhimondr @cawallin

Full-ci failures:
#8776: Flaky test TestHiveClient.testGetTableStatsBucketedStringInt @alandpost @kokosing

This is not a flaky test. But we're considering running release on our linux servers and we can't because of thi

[2017-08-20 22:15] electrum commented on #8789
For context, this is an actual problem for us since most of our severs including development servers  are IPv6 only: https://code.facebook.com/posts/635645183305089/legacy-support-on-ipv6-only-infra/

[2017-08-20 22:49] adamjshook commented on #8789
I can start by upgrading Accumulo to the latest line and adding the JVM parameter.  I should have time to look at this on Tuesday.

[2017-08-21 06:06] nezihyigitbasi commented on #8780
I confirm this is the case. If a query gets queued too long it can still be killed with the query max runtime limit even though it didn't run at all.

[2017-08-21 11:55] findepi opened #8796 "Push 'not null' predicates below inner join"
For the query like
[code]
a `l.orderkey is not null` and `o.orderkey is not null` predicates should be pushed down below join.

cc @martint @sopel39

[2017-08-21 12:10] sopel39 opened #8797 "Fix EffectivePredicateExtractor to return actual predicates"
Currently EPE returns predicates for projections that don't account for null, e.g: for `Project a := b`, EPE returns `a = b` (instead of `a=b or a is null`). This causes various problems (e.g: see https://github.com/prestodb/presto/commit/c18dd0b) and makes the logic tricky and delicate.

EPE is used along with `EqualityInference` which produces predicates based on EPE results. Since EPE doesn't r

[2017-08-21 14:29] rschlussel commented on #8797
1. the predicate should be`a=b or a is null and b is null`
2. I tried doing this once, and it caused some problem because of EPE being used both for deriving equivalences and for producing predicates.  Unfortunately I don't remember what didn't work about it, but my conclusion was to do it right we'd need to separate the two features.

[2017-08-21 14:33] alandpost commented on #8776
Can you post the full logs for the failed runs?  The test is very straightforward, and I haven't seen it fail in Travis.

[2017-08-21 14:40] sopel39 commented on #8797
Interesting, did it cause test failures?

[2017-08-21 14:45] sopel39 commented on #8797
Another approach would be to make `EqualityInference` produce actual predicates based on equivalences (e.g: `a = b or (a is null and b is null)` and just call EPE an equivalence extractor

[2017-08-21 14:54] rschlussel commented on #8797
I believe there were failures, but i don't remember with certainty.  I think the problem maybe related to visitProject().  I should have made a note somewhere with my findings.

[2017-08-21 15:13] losipiuk commented on #8787
@haozhun  So far I was not able to reproduce that.
Could you share what exact command you were using for running tests. And on what hardware?

[2017-08-21 17:04] arhimondr commented on #8788
@haozhun I though i fixed that. As this failure is rare i didn't catch it when i was testing the fix.

The problem is related to "eventually" consistent table statistics in Cassandra. Let me take care of this.

[2017-08-21 17:35] electrum opened #8798 "Fix unused properties in TestQuerySpillLimits"
After 70a1b37f901e58d752afad5156169a45e6767c15, the `properties` map is no longer used. So either it's not testing what it should, or the map is intentionally no longer used and should be removed.

[2017-08-21 19:17] haozhun commented on #8776
https://gist.github.com/haozhun/51a364f42dbd2e589b0d59c6b025912a

[2017-08-21 20:10] alandpost commented on #8776
The hive logging output looks totally different -- what is the difference between the configuration you're running and Travis is running?  For example, https://s3.amazonaws.com/archive.travis-ci.org/jobs/266915267/log.txt?X-Amz-Expires=30&X-Amz-Date=20170821T200547Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170821/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-

[2017-08-21 23:00] raghavsethi opened #8802 "Add documentation for selective aggregates"

[2017-08-22 04:03] wenleix opened #8804 "Grouping ID doesn't work with expressions including aggregations functions"
The following query failed:

[code]

Stacktrace:
[code]

However, compute `sum` or `count` separately doesn't have any problem:

[code]

[2017-08-22 07:56] findepi opened #8805 "Simplify "column equals same column" comparisons"
For query
[code]

generated plan could have condition translated to `column is not null`.

[2017-08-22 07:57] findepi commented on #8805
cc @sopel39

[2017-08-22 07:59] sopel39 opened #8806 "Rewrite `a=a` to `a is not null` in top level where predicates"
TPC-DS Q78 has predicates like:
[code]
Rewriting `"cs_item_sk" = "cs_item_sk"` to `is not null` might improve performance since no actual comparison is required and not null predicate can be pushed down to connector

FYI: @findepi

[2017-08-22 08:01] sopel39 commented on #8805
Related: https://github.com/prestodb/presto/issues/8806

[2017-08-22 08:01] #8805 closed

[2017-08-22 13:22] electrum commented on #8806
This won't be correct for float/double (NaN) or other types that have weird equality.

[2017-08-22 18:36] raghavsethi commented on #8787
We were running mvn release:prepare on a Macbook Pro, and it was not hard to reproduce.

[2017-08-22 22:44] martint commented on #8221
No, the idea is to make TRY a regular function that takes a lambda instead of being a special concept throughout the engine (especially, the code generator). Then, an SQL expression like `TRY(a/b)` becomes syntactic sugar for `try_function(() -> a/b)`

[2017-08-22 22:54] martint commented on #4417
var_samp and var_pop don't make sense for intervals. They'd require a type that represents Interval^2

[2017-08-22 23:05] haozhun opened #8812 "Add hamming_distance function between two VARCHARs"

[2017-08-22 23:34] lvijay commented on #8812
@haozhun, I'm curious.  Do you have a reference for this?  isn't XOR the same?  and iirc there's a `levenshtein` strings.

[2017-08-22 23:44] haozhun commented on #8812
You can see how hamming_distance for strings are defined on [wikipedia]( https://en.wikipedia.org/wiki/Hamming_distance)

[2017-08-23 03:02] satybald commented on #8812
I'm really curious why this feature is needed? @haozhun

[2017-08-23 04:47] kokosing commented on #8806
In regards to standard of SQL, is there anything like NaN there defined? If so then I would expect syntax to support things like `a IS NAN`. Maybe there is also a definition how such types are compared, is it exact with Java? Then maybe we could replace that with something equivalent to `a IS NOT NULL AND a IS NOT NAN` (which is even stricter).

I noticed that Oracle have such expressions, see htt

[2017-08-23 04:53] martint commented on #8806
No, floating point numbers with IEEE754 semantics don't exist in the spec. It only talks about approximate numeric types, but most details are left to the implementers.

[2017-08-23 05:09] kokosing commented on #8806
Does it make this rewrite to be correct then? It seems that this depends on the semantic/convention we have internally for float number comparisons.  As I understand we follow IEEE754 (or Java). Then maybe we need to have some scalar functions like `isNan(float)` or `isNaN(double)`?

[2017-08-23 05:27] sopel39 commented on #8806
I don't think this rewrite is worth it then. It's benefits are negligible (I think predicates like `cs_item_sk" = "cs_item_sk` are rarely a case in real world), but it opens a pandora box by touching type equality semantics. I would close it for now.

[2017-08-23 09:05] crvv opened #8816 "ORDER BY list in window function OVER is mishandled"
SQL:
[code]
Presto 0.182:

| x | id |
| -- | -- |
| 3 | 1 |
| 2 | 2 |
| 1 | 3 |

PostgreSQL:

| x | id |
| -- | -- |
| 1 | 1 |
| 2 | 2 |
| 3 | 3 |

[2017-08-23 10:53] zz22394 commented on #2445
To @ramveer1193
I think @yuananf  had put his source code here.
https://github.com/yuananf/presto/commits/catalog

[2017-08-23 13:17] mingmwang opened #8818 "Presto coordinator high CPU when plan the SQL, looks like an unsafe use of HashSet in multi threads."
[code]

[code]

[2017-08-23 13:21] electrum commented on #8806
We have this: https://prestodb.io/docs/current/functions/math.html#is_nan

[2017-08-23 13:31] mingmwang commented on #5985
is there a patch for this?

[2017-08-23 14:35] maciejgrzybek commented on #8816
What happens here, most likely, is Presto overriding the value of orderings in the map when two entries in the order-by clause have the same symbol.
Then, the last seen is stored in the map.
The question is whether we should throw an exception, making user aware that he's trying to do something strange, or ignore the second occurrence of the same symbol, as Postgres does.

[2017-08-23 16:37] lvijay commented on #8812
Also, will this align arguments left or align right?  is `hamming_distance('croak', 'oak')` 2 or 5

[2017-08-23 17:36] #8788 closed

[2017-08-23 18:01] gregology commented on #8661
@samtalasila discovered the cause of this issue. We are using parquet and parquet can not have spaces in the column name. Cheers Team!

[2017-08-23 18:01] #8661 closed

[2017-08-23 18:17] electrum commented on #8776
We run our Jenkins against a standing Hive environment. I'm fairly certain the `COMPUTE STATISTICS` commands have not been run. However, I don't understand why this would make the tests fail sporadically -- seems like they should always pass or fail.

[2017-08-23 18:32] alandpost commented on #8776
If the standing Hive environment has the various snippets of SQL under presto-hive/src/test/sql/ running in an uncoordinated way, couldn't that create unpredictable behavior from tests that are querying it?

[2017-08-23 18:32] usmanm opened #8823 "Issue with UDF that takes a ROW type"
Hey guys, I've trying to write a UDF that takes in a `ROW` type, but the query just seems to fail. I tried to attach a debugger, and the UDF handler function doesn't even get called.

Source code:
[code]

Out:
[code]

I can't seem to find any documentation around UDFs that take in complex types. Any idea what I might be doing wrong?

[2017-08-23 18:48] electrum commented on #8776
The table creation scripts are re-run manually as needed. Nothing automatic. Moving to Docker like we have for Travis would be a big improvement. But that doesn't explain the random failures.

[2017-08-23 18:55] alandpost commented on #8776
I see.  I suggest investigating why the Hive environment isn't reporting table stats to presto correctly.  The test I added is a simple sanity check that presto is getting *some* stats for the columns, and doesn't even look at the estimates.  Obviously in the future it would be better to add more validation of them, but it's a bit tricky because the estimates are floating point, and thus inexact.

[2017-08-23 21:58] highker opened #8826 "`select histogram(T)` causes json exception in presto-client"
To reproduce:
[code]

stacktrace with `--debug`:
[code]

[2017-08-23 22:52] martint commented on #8826
That's because maps with complex keys cannot represented on the wire. This is a duplicate of https://github.com/prestodb/presto/issues/3549, which has been folded into https://github.com/prestodb/presto/issues/3693

[2017-08-23 22:52] #8826 closed

[2017-08-24 00:48] vinceprignano commented on #3992
Any updates here?

[2017-08-24 01:34] yakcy commented on #7768
Thank you very much. It is  solved by  configuration /etc/hosts @BillLucky

[2017-08-24 05:20] satybald commented on #8763
It might be unrelated but still why you're running CMS garbage collector instead of G1 for 100GB heap?

[2017-08-24 07:36] findepi opened #8827 "Consider removing JoinProbeCompiler"
After #8629 it is possible than compiled `JoinProbe` offers no or negligible benefit over "interpreted" `SimpleJoinProbe`.

* benchmark `SimpleJoinProbe` vs compiled `JoinProbe`
* remove `JoinProbeCompiler` if benchmarks permit

[2017-08-24 07:41] findepi commented on #8823
@usmanm `row` is represented at run-time as `Block` (not `Slice` as in your code). See for example `RowEqualOperator` for UDF operating on rows.

If you want to get a more meaningful exception from CLI, run in with `--debug`.

Also, user list is a better place for this kind of problem solving. It is easier to get help there.

[2017-08-24 07:41] #8823 closed

[2017-08-24 08:00] findepi opened #8828 "Planning failure when count(*) over VALUES with aggregation"
Queries
[code]
all fail in `PruneCountAggregationOverScalar` with
[code]

[2017-08-24 08:42] findepi commented on #8818
@mingmwang which Presto version are you using? The map used in `TypeRelationshipConstraintSolver` looks like read-only copy in current `master`, but I may be missing something

[2017-08-24 10:01] kokosing commented on #8828
See: https://github.com/prestodb/presto/pull/8829

[2017-08-24 13:50] #8798 closed

[2017-08-24 19:40] #8560 closed

[2017-08-24 20:36] highker commented on #8530
Resolved by #8704 and #8597

[2017-08-24 20:36] #8530 closed

[2017-08-24 20:39] highker commented on #8323
This has been resolved right? @nezihyigitbasi @haozhun

[2017-08-24 20:40] #8282 closed

[2017-08-24 21:23] haozhun commented on #8323
Fixed by #8440

[2017-08-24 21:23] #8323 closed

[2017-08-24 22:19] highker commented on #8221
Assigned to @shixuan-fan; let's implement this in these steps:
- create an internal try_function that takes a lambda
- de-sugar TRY with try_function
- remove all special handling for TRY

[2017-08-24 23:21] aramesh117 commented on #6644
@electrum Can I take on this task? I don't have permissions to change the assignee. Thanks!

[2017-08-24 23:44] electrum commented on #6644
Sure!

[2017-08-25 00:03] #8812 closed

[2017-08-25 03:53] kwent opened #8834 "Memory Connector. Support create/drop views"
Hi,

Any reasons why connector memory does not support CREATE VIEW and DROP VIEW ?

Having this message when attempting to do it.

Input:
[code]

Output:
[code]

[2017-08-25 05:44] Yaliang commented on #7422
We have merged our patch in twitter-fork and deployed in production. The shared doc has updated with our design details and performance report.

[2017-08-25 06:37] martint opened #8836 "Incorrect result for array_min/max of doubles containing NaN"
`array_min(array[1, 2, nan()])` => `1`
`array_min(array[nan(), 1, 2])` => `NaN`

This probably occurs because the array_min function interprets `false` when comparing with NaN incorrectly.

The function should return `NaN` if any of the elements is `NaN` (similar to how NULLs are treated).

[2017-08-25 07:41] kokosing commented on #8834
It is not a design decision.  It is just not yet implemented. We have not needed this so far. Any pull request is welcome.

[2017-08-25 10:53] Lunatictwo opened #8840 ""TextInputFormat" error when select table from external tables in Hive"
Hi everyone,
    I'm using presto-server-0.183, my Hadoop version is hadoop-2.6.4 and Hive version is hive-2.1.
    When I execute query in presto-cli, I got no error with ORC table except external tables. There was the error log:
`   presto:default> select * from sms_123 limit 10;`
`Query 20170825_104145_00010_8qgyk failed: Unable to create input format org.apache.hadoop.mapred.TextInputFormat`
a

[2017-08-25 14:01] sopel39 commented on #8797
Also, I wonder if https://github.com/prestodb/presto/commit/c18dd0b doesn't support more cases since it only checks if function can return null on non null input? Therefore it can correctly support predicates that are derived from projections.

[2017-08-25 16:26] rschlussel commented on #5131
The connector has been merged to master

[2017-08-25 16:26] #5131 closed

[2017-08-25 16:44] rschlussel commented on #8511
Please file issues in English

[2017-08-25 16:44] #8511 closed

[2017-08-25 18:18] findepi commented on #8836
Same for `min`, `max` aggregations:
[code]

[2017-08-25 19:14] haozhun opened #8843 "All usage of `trimSpacesAndTruncateToLength` are likely wrong"
For `CHAR` values, we must do `trim(truncate(val, x))` instead `truncate(trim(val), x)`. The latter can produce values with trailing spaces, which is not valid in-memory representation for `CHAR` values in Presto.

We should have a function `truncateToLengthAndTrimSpace` instead, and move (likely) all current callers to the new function.

Reproduce with ORC SliceDirectStreamReader (#8712 will fix

[2017-08-25 19:20] haozhun commented on #8843
cc @dain

I noticed this when reviewing #8712. #8712 will NOT fix this bug. It will only fix ORC SliceDirectStreamReader.

[2017-08-25 19:24] haozhun commented on #8843
@cawallin @kokosing, I'm glad I had some back and forth with you guys on the release notes for 2342a3b7fb9fdb92b934dfbb05ceac6213657156 recently. Otherwise, I wouldn't have been able to spot this bug.

Are you guys interested in fixing this?

[2017-08-25 19:44] kokosing commented on #8843
Sure. please leave it to us. How important is it for you (wow long can it wait)? I am asking because I would like to put it somewhere within our scum process.

[2017-08-25 20:50] electrum commented on #6644
Turns out this was already fixed.

[2017-08-25 20:50] #6644 closed

[2017-08-25 20:59] aramesh117 commented on #8834
I'll try working on this.

[2017-08-25 21:02] kwent commented on #8834
@aramesh117 Would be amazing. My java is very rusty 🤣

[2017-08-26 07:53] shigemk2 opened #8845 "presto-cli: csv output without quotes"
When using presto-cli with csv output option, it results data with double quotes.

[code]

But I need csv results without double quotes.

[code]

According to RFC 4180, field data may or may not be enclosed in double quotes. https://tools.ietf.org/html/rfc4180

So, I need to create new output-format options.

- CSV(default output-format option)
- CSV_HEADER
- **CSV_WITHOUT_QUOTES**
- **CSV_HEADER_

[2017-08-26 11:56] smoyer64 commented on #8150
We've opened a more general discussion related to TestNG -> JUnit 5 migration at https://github.com/junit-pioneer/junit-pioneer/issues/62.  Please come help us flesh out a "specification" that meets your needs!

[2017-08-26 21:05] kwent commented on #8834
Same limitations with a `DELETE` statement

[code]

[2017-08-28 08:51] satybald opened #8853 "Hot reloading of Hive file based security authentication"
Presto allows configuring [file based security authentication](https://prestodb.io/docs/current/connector/hive-security.html#file-based-authorization). However when security rules need to be changed to apply them presto coordinator needs to be restarted. This comes with a limitation as a coordinator is SPOF in the cluster. The coordinator restart decreases uptime of the cluster and availability.

[2017-08-28 18:37] raghavsethi commented on #8787
@losipiuk @ArturGajowy ping

[2017-08-28 18:38] raghavsethi commented on #8789
@adamjshook ping

[2017-08-28 22:18] aramesh117 commented on #8834
@kwent DELETE is a much harder feature to support according to @electrum. Can you file a separate PR for DELETE? Thank you!

[2017-08-28 22:56] haozhun commented on #8731
This is a wild guess: maybe choosing query with highest per-machine memory reservation will be better.

[2017-08-29 07:10] losipiuk commented on #8787
Sorry about that. I would love to help here. I just run all the tests many times and I never had any error in `TestDistributedSpilledQueries`.

Is that only happening for `testAtTimeZone` or different tests fail depending on the run?
Could you paste whole stack traces of exceptions (those should be in surefire-log in `presto-test/target/surefire-reports/emailable-report.html`?

I will give it a fe

[2017-08-29 08:29] HAOGRE commented on #1195
+1 Still affecting Presto 0.183

[2017-08-29 08:45] icanfly opened #8862 "Multiple conditions with expressions on left join will result different results"
My origin analysis sql like the following:
[code]

I got the result: 311379

I just change

<b> d.acct_time = date_format(date_add('day', -1, current_date), '%Y-%m-%d')' </b>

above to

<b> d.acct_time = '2017-08-28' </b>

I get the different result: 311289 (different from above one)

Today is 2017-08-29 and `select date_format(date_add('day', -1, current_date), '%Y-%m-%d')` will return 2017-08-28

[2017-08-29 10:07] Lunatictwo commented on #8840
@cawallin @kokosing Could anyone help?

[2017-08-29 12:04] kokosing commented on #8840
Do you have any stacktrace from Presto server? It can be accessed through webui. Make sure that jars which provides `TextInputFormat` are in hive lib directory (classpath).

[2017-08-29 16:17] axbaretto opened #8866 "Presto connectors should support DELETE with catalog.properties configuration"
The present restrictions on DELETE are very constraining on using Presto DDL for data model and data administration. Connectors should support DELETE when a catalog parameter, for example, ```cassandra.delete-enabled```, ```hive.delete-enabled```, are set to ```true```.

[2017-08-29 16:40] maciejgrzybek commented on #7428
Here's a PR addressing this issue: #8588. This is first version, handling inner joins on split pruning and stripe pruning level. Already after first pass of review.

[2017-08-29 17:14] haozhun commented on #8843
Sorry. I didn't notice your comment until I see the pull request. It's not urgent.

[2017-08-29 19:03] haozhun commented on #8477
Removing the "beginner-task" label because the syntax and semantics of a proposed function hasn't been determined yet.

[2017-08-29 19:05] haozhun commented on #8477
postgres/Oracle approach: https://wiki.postgresql.org/wiki/Date_LastDay

[2017-08-29 21:46] raghavsethi opened #8871 "Release notes for Presto 0.184"
## Christina Wallin
- [x]  08-23 10:36:56    d7bd920c8a Use ReopeningCluster in EmbeddedCassandra
- [x]  08-23 10:36:56    f1bfb2fdee Sleep between statistics refresh in EmbeddedCassandra
- [x]  08-29 10:34:35    609ca63dbf Process pending reads upon noMorePages event
## David Phillips
- [x]  08-21 13:48:31    3c24cefd30 Fix 'Cannot cast' wording
- [x]  08-21 13:50:26    3c89137611 Remove JSON ser

[2017-08-29 22:04] haozhun commented on #8676
Presto has a slack channel at prestodb.slack.com

[2017-08-29 22:04] #8676 closed

[2017-08-29 22:08] haozhun commented on #8787
@raghavsethi Please post the detailed stack trace when you hit this the next time. I don't think I have them right now.

[2017-08-29 22:13] haozhun commented on #6720
`Block.getLength` has been removed. All usages have either been removed, or migrated to `Block.getSliceLength`.

[2017-08-29 22:13] #6720 closed

[2017-08-29 22:14] haozhun commented on #6450
Fixed by #6429.

[2017-08-29 22:14] #6450 closed

[2017-08-29 22:15] haozhun commented on #4973
This has been fixed a long time ago.

[2017-08-29 22:15] #4973 closed

[2017-08-29 22:43] highker commented on #8871
General Changes:
- Prevent a query that contains ``CROSS JOIN`` from not releasing CPU resource or keeping running after it has been killed.
- Add :func:`hamming_distance` function.

Hive Changes:
- Reduce system memory usage when reading table columns containing string values from ORC or DWRF files. This can prevent high GC overhead or out-of-memory crash.

[2017-08-29 22:45] wenleix commented on #8871
No user visible changes.

[2017-08-29 22:57] ggreg opened #8874 "Raptor: add constant backoff to DatabaseShardManger.addColumn"
The method [`RaptorMetadata.addColumn`](https://github.com/prestodb/presto/blob/ea4fede7afca10664c44fa1f61f971c42e7e2811/presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorMetadata.java#L443) inserts rows into the *columns* table in Raptor metadata and then alters the table *x_shards_{table_id}*. This sequence is not transactional. When the *ALTER* fails, the new column is added to the R

[2017-08-29 22:59] ggreg commented on #8874
cc @AlekseiS @electrum

[2017-08-29 23:01] ggreg commented on #8874
It would be good to provide some knobs to tune the total time to wait, either by setting the number of attempts, or the time to wait between each of them, as a hardcoded value might prevent to fail fast. This could be done in a follow-up change.

[2017-08-29 23:30] haozhun opened #8876 "Functions for char/varbinary"
| Function name              | varchar       | char           | varbinary       |
| -------------------------- | ------------- | -------------- | --------------- |
| chr                        | implemented   | conflict       | not applicable  |
| codepoint                  | implemented   | [ ]            | not applicable  |
| concat                     | implemented   | [ ]            | implemen

[2017-08-30 00:27] haozhun commented on #8876
@electrum How should documentation be organized for these functions?

[2017-08-30 00:32] haozhun commented on #8871
General

[code]

[2017-08-30 01:26] dain commented on #8876
* I don't think `chr` should be on this list since it doesn't have a string parameter.
* the pad functions seem ok for `char` but rpad of space would be a noop
* I haven't seen the 3-arg version of the trim functions, but I could imagine that someone would want to remove specific bytes

[2017-08-30 02:49] electrum commented on #8876
We could probably change "chr" to return char(1). It would have if the type existed in the beginning.

[2017-08-30 03:13] HAOGRE opened #8880 "rs.next() is too slow after the first time !"
source code is here!
![image](https://ws4.sinaimg.cn/large/006tNc79ly1fj1ks5rugtj30pk0qcwit.jpg)
the result is here!
![image](https://ws4.sinaimg.cn/large/006tNc79ly1fj1kso6ng0j30ue0l6q76.jpg)

could any one help ?

[2017-08-30 03:15] HAOGRE commented on #8880
i have tried any method i can fetch via google !
even
----
            stmt.setFetchSize(100);
            result.setFetchSize(100);
----
could not work !

[2017-08-30 03:17] HAOGRE commented on #8880
#7718 is similar to my issues .

[2017-08-30 03:51] suwey opened #8881 "Presto Verifier 0.183 does not work"
Unknown column 'session_properties_json' in 'field list', it seems that document has not updated.

[2017-08-30 04:20] kokosing commented on #8871
General

[code]

Tpcds

[code]

[2017-08-30 09:35] #8843 closed

[2017-08-30 16:12] cawallin opened #8885 "ORC block-level stats cause synchronization bottleneck"
When benchmarking 0.179-t, we found that https://github.com/prestodb/presto/commit/d3908cee5743adab260b4fa994a336bd80de3263 (in particular https://github.com/prestodb/presto/commit/d3908cee5743adab260b4fa994a336bd80de3263#diff-2b8d282443413bc8705275c23f4106dcR251) causes a performance slowdown on read-intensive queries. Writing out the block-level stats was taking up 40% of the CPU of TPC-H q14 (a

[2017-08-30 17:35] cawallin commented on #8871
General
[code]

[2017-08-30 18:05] losipiuk commented on #8871
[code]

[2017-08-30 18:45] teejteej opened #8888 "Failed to rewrite shard file for DELETE FROM"
DELETE queries regularly fail with "Failed to rewrite shard file for ...". It doesn't matter how many times the DELETE is retried for failed ones, they always gives the same error.

Query used:
[code]

Stacktrace:

[code]

Any ideas?

[2017-08-30 20:41] electrum opened #8891 "AddExchanges should output a gather exchange instead of hash on nothing"
For a non-equality left join, when `distributed_join = true`, it outputs a redistribute exchange that hashes on nothing (`HASH []`). This should be replaced with a gather exchange. Related, this should actually be optimized to a broadcast join, but that's a separate issue (#8892).

Note that the query is logically bogus, but I couldn't think of a natural query utilizing the TPCH schema.

[code]

[2017-08-30 20:43] electrum opened #8892 "Use broadcast join for non-equality joins"
When a join would end up on a single machine, we should optimize it to a broadcast join. This happens for the below query for an inner join, but not a left join.

[code]

[2017-08-30 20:56] electrum commented on #8888
Is it always the same file? If so, it's likely the file got corrupted. We added checksums in 0.177 that can detect this.

[2017-08-30 21:07] lumost commented on #5316
It looks like https://github.com/apache/parquet-mr/pull/411 will resolve this issue in parquet-protobuf

[2017-08-30 21:54] highker commented on #8885
We are going to remove the stats; sorry for causing the trouble.

[2017-08-30 22:55] raghavsethi opened #8894 "Incorrect results produced by mixed distinct aggregations"
COUNT(*) with COUNT(DISTINCT x) produces NULL for COUNT(*) when all input data is filtered out.

[code]

[2017-08-31 00:53] gaohao commented on #5316
May be we should add compatibility to this protobuf-parquet since spark supports it

[2017-08-31 00:57] raghavsethi opened #8895 "Set cache-control properly on static resources"
Setting cache control could speed up the loading of large files like `browser.min.js` and therefore make the Web UI a lot snappier.

[2017-08-31 01:04] #8885 closed

[2017-08-31 03:13] oldbelvey commented on #7879
+1

[2017-08-31 05:05] kokosing commented on #8894
I have just stared Presto (21953a4) in Intellij on default settings (`presto-main/etc`) and it works for me. I tried multiple times with different schemas and it worked all the time. Can you please share more details, because I am not able to reproduce it:

[code]

[2017-08-31 05:09] raghavsethi commented on #8894
You need to set optimize mixed distinct aggregations to true.
On Wed, Aug 30, 2017 at 10:05 PM Grzegorz Kokosiński <
notifications@github.com> wrote:

[2017-08-31 06:58] Lunatictwo commented on #8840
@kokosing see #7804 and we meet the same error. I add all the hadoop*.jar into presto-server/lib, including hadoop-mapreduce-client-core-2.6.4.jar that provides TextInputFormat.

[2017-08-31 06:59] Lunatictwo commented on #7804
Any response?

[2017-08-31 17:00] ggilfb commented on #8871
[code]

[2017-08-31 19:11] kokosing commented on #8840
IMO `hadoop-mapreduce-client-core-2.6.4.jar` should be placed in hive plugin (connector) jars directory. All the connector classes are loaded in isolated classloader. Can you please check that?

[2017-09-01 02:31] Lunatictwo commented on #8840
@kokosing  I add `hadoop-mapreduce-client-core-2.6.4.jar` into /presto-server-0.183/plugin/hive-hadoop2, but I got the same error, then I add it into  /presto-server-0.183/plugin/hive-hadoop2/jar,same error again. Could you please describe clearly : What's the correct path to add the jar files?

[2017-09-01 05:45] kokosing commented on #8840
If you have in your hive.properties something like:
[code]

Then you need to put all the dependency jars for your hive Presto catalog, into `plugin/hive-hadoop2` file system directory on all the nodes.

[2017-09-01 07:56] Lunatictwo commented on #8840
@kokosing  I have only one presto node for test, I did it but still errors. Thanks for your patience and I will try it next version.

[2017-09-01 14:37] gehaijiang opened #8900 "presto-server-0.179 crash"
presto
launcher.log:
Dumping heap to java_pid22316.hprof ...
Heap dump file created [452795761 bytes in 4.309 secs]
Terminating due to java.lang.OutOfMemoryError: Metaspace
2017-09-01T10:42:11.791+0800	INFO	main	io.airlift.log.Logging	Logging to stderr
2017-09-01T10:42:11.796+0800	INFO	main	Bootstrap	Loading configuration
2017-09-01T10:42:12.169+0800	INFO	main	Bootstrap	Initializing logging
2017-0

[2017-09-01 16:28] wenleix commented on #8900
We have seen full GC due to Metaspace Full, and we are investigating. Metaspace Full is usually caused by too many bytecode generated classes.

However, your case is slightly different, as it's OOM due to Metaspace Full. I am wondering if you can check the log to see if there is a Full GC happened before OOM? If not this might be an premature  OOM. One cause is the JNI critical section lock preven

[2017-09-01 16:51] teejteej commented on #8888
I was running on latest 0.183, but haven't been able to reproduce the error on the same server. I've lowered a few properties related to concurrency that were probably too high for the small cluster I was testing with, and migrated to MySQL for metadata (was using H20 before). So far no more issues, so I'm closing this one. I'm guessing it's probably related to not using MySQL for metadata.

[2017-09-01 16:51] #8888 closed

[2017-09-01 23:33] dain opened #8901 "Add option to partition Hive writes on partition keys"
Some queries need to write thousands of partitions, and in that case the partitions should be distributed across the workers instead of having all workers write all partitions.  This should be controllable via a session property that when set changes the InsertLayout and CreateTableLayout in `HiveMetadata` to declare a partitioning.

[2017-09-02 00:25] gehaijiang commented on #8900
presto  worker   OOM
I will analyze java heap dump

[2017-09-03 07:13] marklit opened #8902 "Could not find or load main class .opt.presto.lib.aether-api-1.13.1.jar"
When I attempt to launch the coordinator with both 0.182 and 0.183 I'm getting the following issue:

[code]

[code]

I can see the jar file is present:

[code]

These were the installation steps I took:

[code]

[code]

[code]

[code]

[code]

I've tried lowering the memory settings a few times but the class load issue persists.

[code]

[code]

[code]

[code]

This is running on a Raspberry Pi 3

[2017-09-03 07:16] marklit commented on #8902
The following is an output from strace:

[code]

[2017-09-03 15:26] electrum commented on #8902
Please use the launcher script as described in the deployment instructions. It does several setup steps to get everything just right. If you want to launch it manually, you'll need to read through the launcher script to determine exactly what is needed (I wrote it years ago so I don't remember). There is a verbose option which might be helpful.

[2017-09-03 18:06] marklit commented on #8902
When I run the launcher I'm unable to find the process. I'm assuming it stopped.

[code]

[code]

[code]

[2017-09-03 20:28] electrum commented on #8902
That usually means there was a config error or other problem that caused it to exit immediately. Check the launcher.log or use "run" instead of "start" to see the output.

[2017-09-04 02:12] wyukawa opened #8903 "java.lang.ClassCastException: com.facebook.presto.spi.block.VariableWidthBlock cannot be cast to com.facebook.presto.spi.block.SingleMapBlock"
Hi,

I use presto 0.183 + jdk1.8.0_112 + HDP 2.5.3 + hive connector + CentOS 7.2

If I execute the following query, ClassCastException occurs.
[code]
This error doesn't occur in presto 0.182

I guess that ```Improve performance of CAST(json_parse(...) AS ...).``` is related
https://prestodb.io/docs/current/release/release-0.183.html

parse_agent is the my UDF
https://github.com/wyukawa/presto-woot

[2017-09-04 02:25] highker commented on #8903
You might need to fix function `parse_agent` like the way we did in #8810.

[2017-09-04 02:25] #8903 closed

[2017-09-04 08:30] marklit commented on #8902
The ``run`` flag does a good job of printing out issues right away. The first I came up against was the Oracle JVM distribution was too old:

[code]

I installed OpenJDK which install 1.8.0_141.

[code]

My next problem after that is Presto requires a 64-bit operating system.

[code]

Raspbian is a 32-bit OS so even if I download the arm64 version of Oracle's Java distribution it won't execute.

[

[2017-09-04 12:20] edmorley opened #8904 "Use hardlinks/symlinks in tarball to reduce size by 70%"
The tarball currently contains many duplicated files, which bloat the filesize considerably, making Docker images based on it much larger than necessary.

Replacing these with hardlinks (using [rdfind](https://rdfind.pauldreik.se/)) reduces the disk usage by ~70%:

[code]

I don't know whether hardlinks or symlinks would be preferable, but it would be great to fix this upstream either way, to avoi

[2017-09-04 16:35] electrum commented on #8902
Assuming you aren't using the Hive connector, which unfortunately has native code that only works on x64 Linux and Mac, you can comment out the checks and it should work.

[2017-09-04 18:04] marklit commented on #8902
Any suggestions for another metastore? I've got 11 ORC files stored on HDFS and a Hive table pointed at them. I was hoping a cluster of Raspberry Pis running Presto would be able to access.

[2017-09-04 18:48] electrum commented on #8902
There are some HadoopNative.requireHadoopNative() calls in the Hive connector. If you comment those out (along with the requirements checks), it should work.

[2017-09-05 04:51] raghavsethi commented on #8871
@kokosing re:
'Aggregation queries with ``count(*)`` and non empty ``GROUP BY`` clause were
   incorrectly statically evaluated. This was fixed and now this optimization only works
   for queries with an empty `GROUP BY` clause only.'

What would happen when they were incorrectly statically evaluated?

[2017-09-05 04:56] kokosing commented on #8871
Query was aborted with planning error.

[2017-09-05 13:01] marklit commented on #8902
I haven't got it working yet but I wanted to leave an update as to where I am right now.

I commented out two instances of ``requireHadoopNative`` and remove a number of checks in ``presto-main/src/main/java/com/facebook/presto/server/PrestoSystemRequirements.java``. OpenJDK doesn't support G1GC in the release I'm using so I remove a few configuration items around that.

[code]

[code]

I tried a

[2017-09-05 18:24] electrum commented on #8683
We have [presto-admin](https://github.com/prestodb/presto-admin) to setup Presto on a cluster of machines.

For having a local Presto on Mac as a dependency (when you're not developing Presto itself), we should be able to install the entire thing with one command via Homebrew.

[2017-09-05 18:26] electrum commented on #8881
Thanks for the report! We need to make sure the documentation has all of the required columns.

[2017-09-05 19:34] raghavsethi commented on #8871
@kokosing: On TPC-DS, was it just that the null fraction stat was wrong?

[2017-09-05 21:45] costimuraru commented on #5316
We've faced the exact issue in Presto (using AWS Athena). https://github.com/apache/parquet-mr/pull/411 fixes the issue, by generating a parquet schema which is compatible with the spec (has the extra LIST/MAP wrappers). Got some good feedback and seen some great results in Presto using the patch. We'll work on merging the PR.

[2017-09-06 00:04] electrum opened #8906 "Test failures during 0.184 release"
[code]

[code]

[code]

[2017-09-06 04:14] kwent opened #8908 "Memory Connector. Support UPDATE/DELETE statement."
Memory Connector does not support `UPDATE` or `DELETE` statement.

[code]

Regards

[2017-09-06 05:18] kokosing commented on #7804
Closing this as a duplicate of #8840

[2017-09-06 05:18] #7804 closed

[2017-09-06 05:19] kokosing commented on #8828
Fixed with: https://github.com/prestodb/presto/commit/e759a4afca492521a05054a90923ecbfbe3a3155

[2017-09-06 05:19] #8828 closed

[2017-09-06 05:21] #8806 closed

[2017-09-06 05:23] kokosing commented on #8721
See https://github.com/Teradata/tpcds/issues/27, it also affects Presto so I think issue should remain open.

[2017-09-06 05:49] rampatel5 opened #8909 "presto job working in cluster mode, one sql query just on a worker node ,why?"
presto job working in cluster mode, one sql query just on a worker node ,why?

I configured a one node as coordinator and worker and one node as worker only.
while runnning the query it is showing only one node.
checked in the below tables showing one node only which is the coordinator and worker both (main).

select * from system.runtime.nodes;

[2017-09-06 05:57] rampatel5 commented on #5473
Hi I am also getting the same issue.
stoped services iptables and ip6tables but do'est work for me.
presto job working in cluster mode, one sql query just on a worker node ,why?

I configured a one node as coordinator and worker and one node as worker only.
while runnning the query it is showing only one node.
checked in the below tables showing one node only which is the coordinator and worker bo

[2017-09-06 09:59] niceczj opened #8910 "get table from prosto sql"
how use prosto-parser to get the tables in a query sql?
a query sql has too many formats，how can i parser it correct?

[2017-09-06 12:43] mfeteanu-dni opened #8911 "hive.parquet.use-column-names should default to true"
We have experienced issues recently with schema evolution using parquet files.

By default presto will use column indexes to access data in parquet files. This means that when you add columns to the metadata but not in the underlying parquet files (imagine the common case where you only add them to new files), any of the following can happen, depending on the order and type of columns:
- a hard to

[2017-09-06 13:57] electrum commented on #8911
What does Hive do by default (Apache, Cloudera, Hortonworks)? Our intention is to match Hive's behavior.

[2017-09-06 14:03] electrum commented on #8911
Using the wrong setting can result in incorrect results in either scenario. For example:

* With named, if you swap two column names in the metastore (perhaps indirectly by removing and adding a column), and the columns have the same type.
* With positional, if you write columns of the same type in different order.

So we definitely want to do the right thing by default, but the question is, which

[2017-09-06 14:30] electrum commented on #8910
You can do something like this:
[code]
But note that analyzing SQL correctly is quite difficult. For example, you could have an unqualified table `orders`, or a fully qualified one `tpch.tiny.orders`.

[2017-09-06 14:30] #8910 closed

[2017-09-06 14:44] mfeteanu-dni commented on #8911
We tested this on a cluster where the different systems shared the metastore and loaded the data from the same parquet files (basically EMR):
- in Spark it works fine if we set spark.sql.parquet.mergeSchema to true. This does make declaring the data frame noticeably slower, I assume because all metadata files are checked. More important is that when it fails (if the option is not set), it fails no

[2017-09-06 16:31] raghavsethi commented on #8787
[code]

[2017-09-06 16:46] liusztc09 commented on #8569
Hi @anusudarsan Our team faced the similar issue. It looks like the current implementation doesn't make an authorized with the bind user and pswd, instead it makes anonymous bind to the AD. When the AD allows anonymous bind it works but in many prod env anonymous bind is not enabled. Any suggestion to that or can we easily add support for setting bind username and pswd? Thanks!

[2017-09-06 17:14] #8361 closed

[2017-09-06 18:20] electrum commented on #8904
I just noticed that the unpacked tarball disk usage is substantially larger (~12%) than the tarball size. This is surprising since almost all files are jars (zip files) which shouldn't compress at all. I wonder of gzip is able to compress the contents of duplicate files? I didn't think it could look that far ahead.

[2017-09-06 18:22] electrum commented on #8904
@dain just pointed out that zip file entries are compressed individually, since each is directly accessible, so when you compress the entire zip file you can compress across entries.

[2017-09-06 18:47] electrum opened #8914 "Flaky test in resourceGroups.db.TestQueues"
This failed during the 0.184 release:

[code]

[2017-09-06 18:48] electrum commented on #8906
Covered by #8787 and #8914

[2017-09-06 18:48] #8906 closed

[2017-09-06 20:41] haozhun commented on #8142
Is this fixed? I can't reproduce it.

[2017-09-06 22:21] petroav commented on #8499
Just tried the query and it works. I think it was fixed by https://github.com/prestodb/presto/pull/8739.

[2017-09-06 23:29] #7827 closed

[2017-09-06 23:39] electrum opened #8915 "Reconsider security for CREATE OR REPLACE VIEW"
Replacing an existing view is basically equivalent to `CREATE` + `DROP`. We should probably do `checkCanDropView()` in `CreateViewTask` if `replace` is specified (we don't know if the view will actually be replaced since that is up to the connector).

[2017-09-07 02:03] dain commented on #8915
This might need a new callback method

[2017-09-07 02:34] wenleix commented on #8900
@gehaijiang : You are pasting the heap usage information, while Metaspace is storing the information of loaded classes.

One way to see the loaded class from a Heap Dump is through OQL with Eclipse Memory Analyzer (VisualVM should be able to do OQL as well). See the [document](https://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.mat.ui.help%2Ftasks%2Fqueryingheapobjects.html).

Here is the

[2017-09-07 02:39] yuokada opened #8917 "Can't checkout tag 0.183"
Hi, I want to read source code of 0.183. But, noone don't tag `0.183` yet.

Coud you tag 0.183?

[2017-09-07 03:14] electrum commented on #8917
@haozhun please push the tags for 0.183

[2017-09-07 04:16] haozhun commented on #8917
Fixed

[2017-09-07 04:16] #8917 closed

[2017-09-07 04:20] yuokada commented on #8917
Thanks

[2017-09-07 16:24] #8716 closed

[2017-09-07 16:50] electrum commented on #8789
I just tried again after merging the 1.7.3 update. The last message *"Failed to open transport ..."* repeats forever with a random port number each time. Note that I replaced the actual hostname of the machine with `dev.example.com`.
[code]

[2017-09-07 17:31] losipiuk opened #8926 "Limit number of simultaneously opened files during merging in SpillableHashAggregationBuilder"
Currently mechanism of merging files which were created as result of dumping revocable memory to disk in aggregation does not impose
any limit on number of simultaneously  open files.
No matter how many files were created during query runtime, all files are opened at the same time, which may exceed system limits on number of open files per process.
Such situation influences not only problematic qu

[2017-09-07 18:19] guangyy opened #8927 "[0.133] Deadlocks on worker node"
Hello there,
We are running an old version of Presto, 0.133, from time to time, the cluster gets into a state that some worker would not response, jstack shows it is a deadlock issue:

Before I spend time doing further investigation, just would like to check if this is a known issue and has been fixed in later version? Thanks!

[2017-09-07 22:44] dain commented on #8927
Version 0.133 was released on Jan 15, 2016.  I have a memory of fixing a bug like this in that code, but couldn't tell you when.  Please, update to a recent release, and if it reoccurs, open a new issue.

[2017-09-07 22:44] #8927 closed

[2017-09-08 01:15] kwent commented on #8834
Closing since https://github.com/prestodb/presto/pull/8858 is done ! Thanks

[2017-09-08 01:15] #8834 closed

[2017-09-08 06:39] wgzhao commented on #8005
I meet the same problem. My SQL statement consists of large number of "union all" sub queries. like the following:
`select col1 from tbl1 where clause union all select col1 from tb1 where clause ..........`
The number of "union all" in my case more than 730.

[2017-09-08 08:06] findepi commented on #8291
I asked accumulo folks to shade Guava (https://issues.apache.org/jira/browse/ACCUMULO-4701)

[2017-09-08 18:10] zsaltys opened #8936 "Allow to override s3 filesystem class"
This is not necessarily an issue report but more of a question to presto devs. We would like to be able to override via hive catalog config the s3 filesystem class so we can inject instead the amazon EMRFS file system implementation and get presto to work with EMRFS. We wanted to ask if such a patch would be considered a good idea and would be accepted for merging?

The proposal would be to let mo

[2017-09-08 21:53] rentaow commented on #8936
There was a previous PR #5940 for this same use case that was rejected because Presto community did not want configs that had class name in the config values.

I'm also curious to what community think about adding a config to use EmrFS specifically.

[2017-09-08 22:17] rentaow opened #8939 "Hive connector cannot create external table if location does not exists"
Presto query will fail when creating an external table where the specified location directory is not created yet.

Example query:
`Create table tbl (a varchar) with (external_location = 's3://mybucket/non_existing_dir');`

Exception message:
`Query 20170908_215859_00007_uipf8 failed: External location must be a directory`

In Hive, when the specified location does not yet exists, Hive will create

[2017-09-08 22:19] electrum commented on #8936
Please try this out: https://github.com/prestodb/presto/pull/8938

[2017-09-08 22:25] rentaow commented on #8936
Awesome, thanks for the link electrum

[2017-09-08 23:32] findepi commented on #8291
https://issues.apache.org/jira/browse/ACCUMULO-4701 is `Won't Fix`, so we probably need to shade on our side, probably with one intermediate project to facilitate running tests from within IDE.
cc @electrum

[2017-09-09 15:10] electrum commented on #8291
I think he doesn't understand what shading means. Do you want to try sending a patch or at least explaining the concept?

[2017-09-11 11:25] json-lrj opened #8947 "Is it possible to add a IterationOperation?"
Hi, i‘m working on designing a distributed parallel machine learning framework on presto. presto-ml now is implemented as a uda run in single node, it's not cool. A IterationOperation + UDA can support more than half ml models. so is it possible to write a IterationOperation in presto's architecture?

[2017-09-11 15:47] findepi commented on #8291
Update: Accumulo team leans towards upgrading Guava dependency and avoiding `@Beta` APIs. As long as this is uniformly applied rule, this is going to work.

@electrum, do you have a new connector review check list? Maybe sanity check of dependencies (and their dependencies) is something to be on such a list.

[2017-09-11 17:23] zsaltys commented on #8638
@nezihyigitbasi @haozhun I've been pointed to this patch: https://github.com/prestodb/presto/commit/36fd02257cbfb1c0598c72eab8591517bf6dd2ed

It seems what's happening is that when resource overcommit is enabled then worker memory is limited to general pool amount. Which in my opinion does not make sense. For example on our machines we have:

reserved 51,569,672,323
system 41,234,543,411
general 1

[2017-09-11 17:37] zsaltys commented on #8638
@cberner your input would be very valuable here. thanks!

[2017-09-11 18:16] egalych commented on #8368
Would it be possible to merge pull request since all checks have passed?

[2017-09-11 20:34] cawallin commented on #8142
@arhimondr fixed it in https://github.com/prestodb/presto/pull/8575.

[2017-09-11 20:34] #8142 closed

[2017-09-11 23:41] dain commented on #8776
Is anyone working on this?

[2017-09-12 01:41] electrum opened #8953 "Flaky test testQueryLoggingCount"
[code]

[2017-09-12 03:23] ideal-hp commented on #7428
good issues

[2017-09-12 03:41] zhaiyuyong opened #8954 "BACKQUOTED_IDENTIFIER not work"
[code]
not work

[2017-09-12 04:28] zz22394 opened #8955 ""Filesystem closed" error after presto restarted"
Dear team

I got "Filesystem closed" error almost every time after restarting Presto cluster.
I asked about this error message in Presto user group, and found some other users also have the same problem.
https://groups.google.com/forum/#!topic/presto-users/62vuYPhcXDM

Enviroment: Presto 0.167t.0.2, or Presto 0.182
with Kerberized Hive 2.x/HDFS 2.7.3.

Error in presto CLI:
[code]

Error in worker

[2017-09-12 07:51] findepi commented on #8790
@haozhun it the intention is to track flaky tests in one place, you can add #8914 & #8953 to the list.

[2017-09-12 07:54] findepi commented on #8818
@mingmwang , please reopen if you see it again on new version (0.184 or newer). Be sure to include version information and 2-3 thread dumps taken in short period of time (within 5-6 seconds).

[2017-09-12 07:54] #8818 closed

[2017-09-12 07:54] findepi commented on #8954
Please use `"` quotes, as per SQL standard.

[2017-09-12 07:55] #8954 closed

[2017-09-12 09:45] zsaltys commented on #8936
@electrum thanks for the response. closing this.

[2017-09-12 09:45] #8936 closed

[2017-09-12 11:29] mayundudu commented on #8840
@Lunatictwo, Have you solved the problem yet?  I had the same problem.