[2018-10-04 04:44] #6741 closed

[2018-10-04 04:44] #9433 closed

[2018-10-04 04:57] kokosing commented on #11608
I think you should run analyze on partitioned table. Without stats (having only row-count) for partitioned table practically disables CBO.

[2018-10-04 16:11] #11544 closed

[2018-10-05 00:01] MichaelZhao9824 commented on #9173
I got the same issue with metabase as well. And it has been fixed using the code above. Not sure if there is a plan to do MR for the change

[2018-10-05 01:44] VicoWu commented on #11608
@kokosing , thanks .
Both above table and the data are created by hortonworks benchmark [here](https://github.com/hortonworks/hive-testbench) and they are all already analyzed.
It seems that for partitioned table, even you analyze the table, you could never get the table-granularity statistics , just partition statistics! This is verified by my practical experiment.
But I think the key problem is

[2018-10-05 07:55] findepi commented on #11608
This:

shows there are no usable statistics. There is nothing CBO can work with.

How did you ANALYZE the partitioned table? You need to run the following in Hive (mind the `PARTITION` part):
[code]
You need to do this for other partitioned tables as well.

[2018-10-05 09:47] VicoWu commented on #11608
@findepi , thanks. I have analyze the table as your instruction:
[code]
I have made a detailed comparison with logic plan for partitioned and flat table:
for the partitioned one:
[code]
for the flat one:
[code]

You could see the obvious difference:
The total rows count for flat table `orders` and partitioned table `orders` are the same, that is `3.0E7`

- For the partitioned one, the predicate wa

[2018-10-05 18:20] #11599 closed

[2018-10-05 18:52] rschlussel commented on #11608
@VicoWu did you rerun the query after collecting stats?  Did the partitioned query still fail?  If yes, can you post the explain plans here for both queries?

[2018-10-05 19:15] atris opened #11647 "Revisit Operator Benchmarks"
Per @martint in #11589, benchmarks can be optimized, such as not using scheduledExecutor, setup context once rather than once per benchmark thread.

[2018-10-05 19:46] venkadeshwarank opened #11648 "Azure DataLake Store Connection issue"
I am trying the run a Presto DB on my local machine to connect the data from Azure Datalake store. Even after adding the JAR files for Azure Data lake store not able to fetch the data from Azure DataLake Store.

I get the below error:
[code]
**Reference:**
OS: Ubuntu 16.04 LTS
Persto server: presto-server-0.212.tar.gz
Presto CLI: presto-cli-0.212-executable.jar

JARs added to plugin/hive-hadoop2:

[2018-10-06 16:49] dain commented on #11648
Instead of this approach, I suggest you file an issue asking for the `adl` filesystem to be included with Presto.

-dain

[2018-10-06 17:19] beelzebub2006 opened #11651 "Schema dbc does not exist"
Hue add presto has error:
An error occurred while calling o14.execute. : java.sql.SQLException: Query failed (#20181006_171855_00002_rknzc): line 1:26: Schema dbc does not exist at com.facebook.presto.jdbc.PrestoResultSet.resultsException(PrestoResultSet.java:1816) at com.facebook.presto.jdbc.PrestoResultSet.getColumns(PrestoResultSet.java:1747) at com.facebook.presto.jdbc.PrestoResultSet.(PrestoR

[2018-10-06 21:27] venkadeshwarank commented on #11648
Thanks for the suggestion. Sure, I can do that. But before that I would like to confirm that I am not missing anything in the configuration. All I did was only adding above mentioned jars in the plugin/hive-hadoop2 dir and xml configuration. Am I missing anything?

[2018-10-06 22:54] dain commented on #11648
Everything looks correct to me.  The Presto setup to make Hadoop work correctly is pretty complex, so I would have to use a debugger to figure out what is going on.

[2018-10-07 02:07] wenleix opened #11652 "Add ${prefix} before table names for TPC-DS queries in Benchto"
This is done for queries in TPCH: https://github.com/prestodb/presto/blob/83b8c96ebbb8e98425aab0a679618853e767e407/presto-benchto-benchmarks/src/main/resources/sql/presto/tpch/q01.sql#L13

But not for TPC-DS:

https://github.com/prestodb/presto/blob/83b8c96ebbb8e98425aab0a679618853e767e407/presto-benchto-benchmarks/src/main/resources/sql/presto/tpcds/q01.sql#L8

Add `${prefix}` makes it easier whe

[2018-10-07 19:35] dasgupab opened #11655 "help me to connect presto to hive external table pointing to hbase"

[2018-10-08 02:08] VicoWu commented on #11608
@rschlussel , Yes.
For the partitioned table `tpch_partitioned_orc_20`:
[code]

For the flat table `tpch_flat_orc_20`

[code]

[2018-10-08 02:12] nakhanha opened #11656 "presto not able to access jars in class path"
I want to add ADL file system support to presto.

I have copied all the relavant jars to the path mentioned below.
root@wn1-nkhadl:/mnt/resource/hadoop/yarn/local/usercache/root/appcache/application_1538879153772_0002/container_1538879153772_0002_01_000002/app/install/presto-server-0.208/lib# ls -latr adl*
-rw-r--r-- 1 yarn hadoop 37618 Oct 7 02:01 adls2-oauth2-token-provider.jar

yarn 12168 5.2 2

[2018-10-08 03:13] memorylorry opened #11657 "Why LIMIT Clause not support LIMIT offset,[no of rows]"
In some stages, I need to show a big table with Highcharts. So my SQL could be ended with `limit offset,rows`. But refer to [LIMIT Clause Section](https://prestodb.io/docs/current/sql/select.html) , it shows that its SQL doesn't support this. Why not support this format? Is it no need?

[2018-10-08 07:28] cquptEthan commented on #8980
@gray-eb
It seems that you want to add a _ranger-policymgr-ssl.xml_ file in presto ranger plugin, but the presto plugin can't find the xml file, am i right?
In my implements, I read the ranger configs from  _access-control.properties_ that begin with 'ranger.'. Like this.

`  @Override
    public SystemAccessControl create(Map<String, String> config)
    {
        RangerConfiguration rangerConfig

[2018-10-08 09:28] tooptoop4 commented on #8980
@cquptEthan is this ranger authorization being built into presto only going to work for kerberos?

[2018-10-08 10:15] sopel39 commented on #11652
We don't use `${prefix}` internally anymore. Is there a specific use case that you are trying to address?

For different benchmarks we use different schemas (e.g: `100GB_ORC`)

[2018-10-08 10:18] cquptEthan commented on #8980
@tooptoop4
No. [LDAP Authentication](https://prestodb.io/docs/current/security/ldap.html) and other implement of PasswordAuthenticator will use username to do authorization.

[2018-10-08 10:39] sopel39 commented on #11626
[code]

[2018-10-08 14:55] findepi opened #11658 "Test EXPLAIN for all queries"
Ensure `EXPLAIN <query>` works for all the different setups possible, e.g.
- regular joins, indexed joins
- spatial joins
- bucketed/grouped execution
- ...

[2018-10-08 14:57] findepi commented on #11658
This could be achieved by adding `EXPLAIN ..` to every query run via `com.facebook.presto.tests.DistributedQueryRunner#execute`, like i did in https://github.com/prestodb/presto/pull/11596. The only problem in this approach is that we may hit Travis's output limits, but maybe we can tweak logging verbosity or something.

[2018-10-08 15:04] findepi opened #11659 "Fix cost calculation for projections"
- it should disregard identity projections (their actual cost is negligible)
- it should base cost estimate on the amount of new data produced, disregarding data size for symbols the projection does not modify (pass-through)

[2018-10-08 15:04] findepi commented on #11659
cc @sopel39 @mbasmanova

[2018-10-08 17:48] nakhanha commented on #11656
@dain any inputs

[2018-10-08 17:48] tdcmeehan commented on #8695
Please let me know if you have any feedback on the decisions below:

1. Given that qdigest differs from HyperLogLog in that one can **extract** an approximate value that is put in, I believe it makes sense to make this type a parameterized type, similar to array, row, etc.  The type parameter must be one of: bigint, double, real (similar to existing approx_percentile aggregations which only take t

[2018-10-08 19:38] dain commented on #11656
Connectors are only exposed to Java packages included in the SPI (e.g., Presto SPI, jackson, etc), and everything else is hidden.  This lets connectors use libraries that are incompatible with the Presto server.  Instead of adding the jars to the system class path, they need to be bundled with the connector.

As, I mentioned before, instead of trying to hack in support for the ADL filesystem, it w

[2018-10-08 19:42] nakhanha commented on #11656
Thanks for your reply @dain
I tried adding to connector classpath as well.

yarn **14314** 9.1 2.7 27222468 802492 ? Sl 03:27 1:25 java -cp /mnt/resource/hadoop/yarn/local/usercache/root/appcache/application_1538967442733_0003/container_1538967442733_0003_01_000003/app/install/presto-server-0.208/lib/* -server -Xmx23G -XX:+UseG1GC -XX:G1HeapRegionSize=32M -XX:+UseGCOverheadLimit -XX:+ExplicitGCInv

[2018-10-08 19:49] kindjacket opened #11661 "at time zone doesn't work with data from a column. It must be typed"
Example

[code]
returns expected result ```2018-09-05 10:43:47.199 America/New_York```

but
[code]

returns the following exception
[code]

This means adjusting the timezone dynamically (through a join for example) is impossible.

Using Presto via Athena (Presto version 0.172). If this has been fixed in a future version I will reach out to AWS.

[2018-10-08 19:54] dain commented on #11656
I'm not sure I followed that, but from the `lsof` command it looks like the Presto process did open the jar.  There are a bunch of things that could be going wrong here.  For example, the Presto Hive integration strips a bunch of APIs from Hive and repackages stuff to make the integration easier and more reliable.  We don't really recommend or support people "throwing jars" in the connector direct

[2018-10-08 19:59] dain commented on #11661
The `at time zone` language construct is limited by spec to a constant, so use the `at_timezone(datetime, timezone)` function instead.

[2018-10-08 19:59] #11661 closed

[2018-10-08 20:10] nakhanha commented on #11656
which team is responsible for this integration ?

[2018-10-08 20:14] nakhanha commented on #11656
I am totally confused as why though it opens up jars , server.log says Classnotfound.

[2018-10-08 20:43] nakhanha commented on #11656
Not Just ADL jars.

few other jars , which are also
2018-10-08T20:36:10.919Z        ERROR   hive-hive-0     com.hadoop.compression.lzo.LzoCodec     Cannot load native-lzo without native-hadoop
2018-10-08T20:36:11.156Z        WARN    hive-hive-0     com.facebook.presto.hive.util.ResumableTasks    ResumableTask completed exceptionally
java.lang.NoSuchMethodError: org.apache.hadoop.conf.Configuration

[2018-10-08 20:48] dain commented on #11656
File the issue with the main Presto project.

As I mentioned, Presto is not designed for this type of modification.  It may work, it may not.

[2018-10-08 21:03] ddrinka opened #11662 "EMRFS Downloads Fail When Called in Quick Succession on a Worker Node"
I'm running Presto 0.206 on EMR 5.17.0, and it appears this is an EMRFS issue, not a Presto issue.  I have raised a support ticket with AWS.  Is it still appropriate to document it here?

I'm working with bucketed sorted tables which utilize sort files which, upon insert, are written to a temporary location adjacent to the table's output location.  My table is located in S3 so the temporary files

[2018-10-08 21:52] findepi commented on #11662
@ddrinka thanks for reporting this. I don't know the answer, but hopefully someone will help you here.
The inconvenient part is that `com.amazon.ws.emr.hadoop.fs.EmrFileSystem` is not part of Presto code base. Did you try to get AWS support help first?

[2018-10-08 22:24] ddrinka commented on #11662
@findepi Thanks for your response.

I have a ticket open with AWS as well.  I'm attempting to replicate the configuration using s3a:// rather than EMRFS.  I'll update when I have the results of that.

[2018-10-08 22:41] nakhanha commented on #11656
@kokosing @dain  you think this would be helpful

**site.global.plugin (optional)** (default - None): This allows you to add any additional jars you want to copy to plugin presto-server-<version>/plugin/<connector> directory in addition to what is already available there. It should be of the format {‘connector1’ : [‘jar1’, ‘jar2’..], ‘connector2’ : [‘jar3’, ‘jar4’..]..}. This will copy jar1, jar2

[2018-10-08 23:29] dain commented on #11656
Presto is not designed to support this kind of class path hacking, and instead we want features built in and tested within Presto.  That way when people have problems with them we can provide support.

[2018-10-08 23:29] ddrinka commented on #11662
It appears that even when the table location is defined as s3a://, EMRFS is still utilized for the sort files.

`2018-10-08T23:26:55.918Z        INFO    20181008_232352_00039_hbtat.1.0-16-472  com.amazon.ws.emr.hadoop.fs.s3n.S3NativeFileSystem      Opening 's3a://bucket/tmp/presto-ec2-user/guid/date=2018-09-28/.tmp-sort.20181008_232352_00039_hbtat_bucket-00000.49' for reading`

[2018-10-09 01:16] ddrinka commented on #11662
I've set `hive.s3-file-system-type = PRESTO` which seems to start using Presto's S3 client.

However, diagnosing if the issue still occurs has been difficult as I can't seem to get debug logging turned on in EMR.  Setting `com.facebook.presto=DEBUG` in `log.properties` appears to do nothing.

Sorry I'm such a noob.  What I really want to see is `
com.facebook.presto.hive.s3.PrestoS3FileSystem` deb

[2018-10-09 02:01] ebyhr commented on #11651
Would you share the steps to reproduce?

[2018-10-09 02:30] VicoWu commented on #11608
@rschlussel  the output of LogicPlan may seem not humans-friendly. But in fact ,my doubt is very simple:
- For partitioned one, presto considered the predicate o_orderdate >= '1993-01-01' and o_orderdate < '1994-01-01', and get the rowCount by partitionNum * avgRowsPerPartition. Obviously , according to the predicate, the partitionNum number is 365, the avgRowsPerPartition is computed by average o

[2018-10-09 03:53] ddrinka opened #11664 "Bucketed Sort Files Should Utilize a Configurable Temporary Location"
I'm inserting rows into a bucketed sorted table located in S3.  To perform the sort, "sort files" are created and uploaded to a temporary directory adjacent to the table location.  These files are then retrieved and reintegrated into output files which are uploaded to the table location in S3.

It appears that is process will always take place on a single node.  As such, I'm not sure these sort fi

[2018-10-09 07:03] findepi commented on #11651
Please reopen when any relevant information is added.

[2018-10-09 07:03] #11651 closed

[2018-10-09 08:19] ddrinka commented on #11662
From AWS Support, the exception shown here is thrown when the S3 connection pool is exhausted.  The root cause of the odd circumstances is that, out of the box, a default of 500 connections is configured on the master node, but the parameter is not set at all on the worker nodes.  It appears the value defaults to 50 if left unconfigured, which is why files 0-49 completed successfully.

Support rec

[2018-10-09 09:15] jackyfreezer007 commented on #10925
@dain thank you for your reply .Do you know how to slove this problem?

[2018-10-09 09:47] qli-aa opened #11666 "Can not add partitions for existing data to external table in presto ?"
Presto-0.206

1.CREATE table with partitioned_by, then insert data, queries partitions works

2.CREATE table with external_location and partitioned_by (map to existing data with partitions), then queries partitions does not work, I checked the hive metastore, there is no partitions meta for external table. How can I add it automatically or manually ?

Like HiveSQL, ALTER TABLE ADD PARTITION (p='xx

[2018-10-09 11:02] satybald commented on #11337
thanks, @raghavsethi! when do you think a fix will be ready?

[2018-10-09 11:25] ilfrin opened #11668 "Query Details skew visualisation is misleading"
![image](https://user-images.githubusercontent.com/6389448/46665826-2c7a2b80-cbc5-11e8-823d-521faad31a0f.png)

![image](https://user-images.githubusercontent.com/6389448/46665908-78c56b80-cbc5-11e8-89a0-0859f27aebe6.png)

As you can see on the attached images, the two columns suggest graphically that they are drastically different - that the skew is large, but in fact as you look at the tooltip ac

[2018-10-09 12:16] sopel39 opened #11669 "Join lookup source building cost is greatly underaccounted by CBO"
This is follow up from: https://github.com/prestodb/presto/pull/11667

For `TPCH/q09` limiting broadcasted table size improved query performance by 2x. Little investigation revealed that stats are more or less correct, but broadcast join is still chosen as it's supposed to execute faster.

The cost constant could be derived via: https://github.com/prestodb/presto/issues/11615

Critical stages
With

[2018-10-09 12:17] sopel39 commented on #11669
FYI: @mbasmanova @arhimondr @findepi

[2018-10-09 12:29] findepi commented on #11669
Let's https://github.com/prestodb/presto/issues/11659 first and then we can try to move towards https://github.com/prestodb/presto/issues/11615

[2018-10-09 12:45] sopel39 commented on #11669
I don't think https://github.com/prestodb/presto/issues/11659 plays role here as number of projection is same in both plans.

[2018-10-09 15:09] #11548 closed

[2018-10-09 15:15] findepi commented on #11626
[code]

https://github.com/prestodb/presto/pull/11582

[2018-10-09 16:36] Tradunsky opened #11674 "Non deterministic functions seems to be not working"
Hi,
I've created a function that generates UUID.
[code]

There is a case when it is not working as expected:
SELECT generateUUID(), name from person;

the output is:
[code]

I expecting generateGUID() function result would not be cached, if so it is not really non deterministic. What I really trying to catch is how the function rand() works fine in the same example?

Furthermore, deterministic fun

[2018-10-09 16:43] haozhun commented on #11674
This is a known issue. https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/DeterminismEvaluator.java

cc @martint since the code from 2013 says you should fix it.   :laughing:

[2018-10-09 18:07] raghavsethi commented on #11337
Fix is ready, just working on addressing comments before merging.

[2018-10-09 18:08] raghavsethi commented on #11668
Yes this is a KP. What heuristic would you suggest that would work in more cases?

[2018-10-09 19:06] dain commented on #11662
Can we change the defaults programmatically in Presto so no one needs to set this?

[2018-10-09 19:08] dain commented on #10925
The client should be reading data from the server.  What client are you using?

[2018-10-09 19:15] dain commented on #11666
There is no equivalent of that in Presto yet.  We could add a stored procedure for to add partitions (this would be similar to the procedure for creating new empty partitions https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/CreateEmptyPartitionProcedure.java)

[2018-10-09 19:35] mnoumanshahzad commented on #11662
This is an 'emrfs-site' configuration and not a direct Presto configuration. This can be set when deploying an EMR cluster by setting the configurations as follows

[code]

[2018-10-09 19:47] electrum opened #11675 "Support streaming for S3 writes"
We could add streaming support to `PrestoS3OutputStream` by changing it to manually perform a multi-part upload that runs for the duration of the write operation. Rather than having a single temporary file that is uploaded at the end, it would create multiple files of the multipart size limit, then initiate the upload of each one as it is ready. Users would probably want to set the `AbortIncomplet

[2018-10-09 19:48] electrum commented on #11664
Thanks for raising this issue. I had not considered S3 when I wrote that feature. Making it write the files to local disk (or another Hadoop file system) should be easy enough.

We could also change `TempFileReader` to take a `onClose` action that runs when the iterator is exhausted to delete the file immediately. Note that this will not help in the (likely common) case where all of the streams ha

[2018-10-09 19:49] satybald commented on #11337
@raghavsethi awesome! looking forward to it.

[2018-10-09 20:17] ddrinka commented on #11662
AWS has this on their radar now.  I mentioned I thought it was a bug and they agreed.  Should make it into a future release.

[2018-10-09 20:18] electrum commented on #11662
I think we can set this in `EmrFsS3ConfigurationUpdater`, but no need if AWS is going to make it default. Let's close for now.

[2018-10-09 20:18] #11662 closed

[2018-10-09 20:29] ddrinka commented on #11675
Here's output from EMRFS's implementation:
[code]

It looks like they're behaving exactly as you described, segmenting the final output into chunks and uploading each as a multipart part.

For what it's worth, there was no measurable wall clock time difference between Presto's current S3 implementation and EMRFS.  For files this size, the upload time is pretty negligible, at least when running in

[2018-10-09 20:34] ddrinka commented on #11666
This would be super helpful for us.  We're using Athena to create our partitions in AWS Glue, but it introduces race conditions with the metastore cache.  It would be really great to have this functionality in Presto directly.

[2018-10-09 20:46] ddrinka commented on #11480
@tooptoop4 I get lots of warnings about authentication errors while Presto is starting up, I guess before it has its key material fully loaded.  It's alarming to me as well to have stack traces flowing in the logs for this anticipated circumstance.

[2018-10-09 20:53] ddrinka commented on #11666
Also see #11174

[2018-10-09 21:18] nezihyigitbasi commented on #11626
[code]

[2018-10-09 22:30] haozhun opened #11679 "Worker status page hang (likely) due to display of jstack"
The worker status page often hangs when opened on production. It likely has to do with loading of the jstack section of the page because the amount of data there could be huge.

This can be fixed by making the load of jstack content happen only after the user clicks a button.

[2018-10-10 00:44] wenleix commented on #11626
General
--------------
Fix concurrent lifespan when grouped execution is enabled. Previously when grouped execution is enabled, it will run with 1 lifespan per task, no matter what ``concurrent_lifespans_per_task`` is set to.

[2018-10-10 01:00] dain commented on #11666
Presto doesn't have a metastore cache enabled by default anymore, so there shouldn't be any problems on our side.  That said, I agree we should have a way to do this in Presto directly.

[2018-10-10 01:03] tdcmeehan opened #11682 "Fix inline array initialization callsites"
Before we update to the latest airbase POM version, we'll need to fix some inline array initialization call-sites to conform to the new checkstyle rule:  airlift/airbase#150

[2018-10-10 06:08] zhaiyuyong opened #11683 "Query exceeded max memory size when like operate"
[code]

[code]

[2018-10-10 07:17] findepi commented on #11174
Fixed by https://github.com/prestodb/presto/pull/11249

[2018-10-10 07:17] #11174 closed

[2018-10-10 07:31] findepi commented on #11683
Have a look at query JSON in the Web UI. It will show you where all the memory allocations were accounted.

[2018-10-10 07:37] zhaiyuyong commented on #11683
![image](https://user-images.githubusercontent.com/4199724/46720201-71c05b00-cca2-11e8-9a8d-8c6ed2a273a7.png)

[2018-10-10 07:45] Tradunsky commented on #11674
@haozhun Thank you for the quick replay!

[2018-10-10 07:47] nakhanha opened #11684 "Add support for Hadoop Azure Data Lake and Windows Azure Storage Blob integrations"
These are the interfaces to the Azure cloud storage

[2018-10-10 07:56] findepi commented on #11683
@zhaiyuyong i see you found the json (https://user-images.githubusercontent.com/4199724/46720753-fc558a00-cca3-11e8-9630-5ed64c8f1b84.png).
now you need to find the operator that has mem allocations.

[2018-10-10 08:19] zhaiyuyong commented on #11683
@findepi
![image](https://user-images.githubusercontent.com/4199724/46722528-450f4200-cca8-11e8-99b9-b6be4dceee28.png)

[2018-10-10 08:56] findepi commented on #11683
This might be incorrect accounting of the memory. What is Presto version? What is the file format?

[2018-10-10 09:12] zhaiyuyong commented on #11683
file format:ORC
presto version:0.203

[2018-10-10 11:12] findepi commented on #11556
Please reopen when more information is provided.

[2018-10-10 11:12] #11556 closed

[2018-10-10 11:13] findepi commented on #11543
Superseded by https://github.com/prestodb/presto/issues/11551

[2018-10-10 11:13] #11543 closed

[2018-10-10 11:14] findepi commented on #11551
@mbasmanova Maria, https://github.com/prestodb/presto/pull/11646 is merged, should this one be closed?

[2018-10-10 11:16] findepi commented on #11551
I was wrong.

[2018-10-10 12:49] findepi opened #11685 "ConnectorAccessControl#checkCanCreateTable should accept properties of the to-be-created table"
For example, `hive.non-managed-table-creates-enabled` is implemented in `com.facebook.presto.hive.HiveMetadata#createTable` while this logic should probably belong more to `ConnectorAccessControl`

[2018-10-10 15:07] Tradunsky commented on #11674
@haozhun Despite that hardcoded values, the function works as expected since 0.211 version of presto.

I had 0.198.

Closing the issue as far as it works in my case. Thanks to the community!

[2018-10-10 15:07] #11674 closed

[2018-10-10 16:30] jyates opened #11687 "Support optionally refreshable file-based authorization"
Sometimes we need to add or retract user authorization very quickly - less than an hour - but don't want to disrupt user queries to update the authZ specification with a coordinator restart. Instead, we should be able to configure a refresh period in which the coordinator periodically reloads the on-disk configuration.

[2018-10-10 16:30] jyates commented on #11687
Patch coming shortly. Tried to making it somewhat general so it can be used across other ACL mechanisms easily.

[2018-10-10 17:41] dain commented on #11685
@findepi is that the only use case?  If so, would this change make the end user behavior significantly better?

[2018-10-10 20:04] findepi commented on #11685
It just struck me today that `hive.non-managed-table-creates-enabled` is very much like `hive.allow-drop-table`, but in code they are not implemented together.
Admittedly, I don't have any other use cases in mind. I would just view this as a cleanup refactor.

[2018-10-10 23:46] dain commented on #11685
I would prefer not to expose properties to the access control because this would allow implementations to hack around the SQL security design and make decision on these extra properties (just like we don't expose session to security implementations).  Also for this use case, this seems like any other validation check we have on new tables in the Hive connector.  In this case, they user specified a

[2018-10-11 05:11] kokosing commented on #11685
`ConnectorFactory` gets config properties and then it could pass it to `Connector` and so to `ConnectorAccessControl`.

How would `ConnectorAccessControl` know that a table is `non-managed-table` vs `managed-table`?

[2018-10-11 07:07] findepi commented on #11685
@dain If i understand you correctly, you mean something like that: "this warehouse does not use external tables" and such use makes a lot of sense to me. For this use-case, current impl is the best.

I was thinking about different use-case though: "only this, this and this user can create external tables, for security reasons". For this use-case, passing table properties would be needed.

I am clo

[2018-10-11 07:07] #11685 closed

[2018-10-11 07:47] highker opened #11694 "`computeTruncatedLength` may cause 20% table scan slow down for Raptor (or Hive)"
I'm looking into raptor performance recently. It turns out `computeTruncatedLength` may eat 20% CPU (from my local benchmark). This function is a sanity check to make sure unicode codepoints are valid otherwise truncate. Though it is necessary, no sure if there is other way to avoid such high overhead.

Benchmark: https://github.com/highker/presto/commit/4b74a468f3b0d60799603a551e6d8fe0eb7b531b

R

[2018-10-11 10:36] zhaiyuyong commented on #11683
@nezihyigitbasi could you provide an id of the issue？

[2018-10-11 18:03] dain commented on #11685
@findepi I think that is still possible since the `createTable` call on the metadata gets the session which contains the identity, so the connector can still make that check, it just can't do it during the analysis phase.

[2018-10-11 18:09] dain commented on #11694
Does the benchmark contain any data with multibyte characters?  If not, I would expect the whole thing to generate assembly with just validation of the assumption and no real byte counting due to this check https://github.com/prestodb/presto/blob/master/presto-spi/src/main/java/com/facebook/presto/spi/type/Varchars.java#L83 . If that is not happening, I'd look into restructuring the code so that t

[2018-10-11 19:06] highker commented on #11694
Nope the column contains pure ascii code. I generate ORC file by doing
[code]

[2018-10-11 19:07] highker commented on #11694
Also, the file is uncompressed.

[2018-10-11 20:30] dain commented on #11694
Try this.  Add this method to `SliceStreamReader.java`:
[code]

Then at the top of the read loop add `int maxCodePointCount = getMaxCodePointCount(type);` and rewrite the truncated length call to something like this:
[code]
My hope is the JIT puts the call in the uncommon path and never inlines it.

[2018-10-11 20:59] highker commented on #11694
Aha~ Works very well~~~~~~

[2018-10-11 23:50] thoralf-gutierrez opened #11696 "Spilling to disk fails when there are bad disks"
Hello everybody,

We're using Presto 0.211 with spilling to disk enabled and noticed queries failing when one disk went bad, with the following error:
[code]

(The bad disk was confirmed when inspecting `dmesg`)

Could we get the workers to avoid spilling to bad disks when it catches these types of errors? This is something I could help with if you think it makes sense.

[2018-10-12 07:39] kokosing commented on #11696
In general Presto is not fault-tolerant yet. I do not think that fixing this special case is needed while the more general problems related to fault tolerance are not yet touched.

[2018-10-12 11:00] Giant1 opened #11699 "Does presto can't be compatible with hive bucket table ?"
**Use case**
flume -> hive (bucket table) -> presto
 **error message**
presto:optimus> select sum(click) from default.rpt_effect_base_flume where pday=20181012 and phour=18;
Query 20181012_105812_03595_i4z4v failed: Hive table is corrupt. It is declared as being bucketed, but the files do not match the bucketing declaration. Found sub-directory in bucket directory for partition: pday=20181012/phou

[2018-10-12 14:03] sopel39 commented on #11626
[code]

[2018-10-12 15:32] tdcmeehan commented on #11626
[code]

[2018-10-12 17:47] sophiewsmith opened #11703 "issue with "not in (select....)""
I've recently experienced an issue where the "not in" function isn't working when combined with a select statement? It works when followed by a list of values, but not when followed by a select statement. However, the "in" command seems to work fine with both a list and a select statement. This hadn't been an issue before so I'm wondering if it's a bug or some recent change.

Examples:

The follow

[2018-10-12 20:31] dain commented on #11699
My guess is you have set this up as a Hive transactional table.  Presto currently does not support these (mostly due to lack of demand).  I believe this issue covert this https://github.com/prestodb/presto/issues/6666 .  It that is not what you have setup.  Will need the table properties (Hive formatted output) and a file listing for the partition.

[2018-10-12 20:34] findepi commented on #11699
this might be of interest: https://github.com/prestodb/presto/issues/1970#issuecomment-404057065

[2018-10-12 20:35] findepi commented on #11703
@electrum answered this on the user group. Please continue discussion there.

[2018-10-12 20:35] #11703 closed

[2018-10-12 22:16] findepi commented on #11626
[code]

https://github.com/prestodb/presto/pull/10813

[2018-10-13 06:53] shlomialfasi opened #11710 "Extending REST API"
I created a new connector which provides a set of new API's that I want to expose by REST.
Currently (according to my understanding) the REST code must be reside in the presto-main module where the jaxrs binder is handled.

Is there any other alternative where I can add this code in my own module without changing presto-main?

[2018-10-13 15:03] VicoWu opened #11711 "Java JDBC hang for a long time after query has already failed"
I am now using presto 0.212 , but I am not sure if this problem is only introduced in new version presto or a common problem:
I am using JDBC connecting to presto, then, these cases happened very often when my query failed because of worker node instability:

When I get the error at 08:00:
[code]
But in fact the query's failed time is 07:50, namely, this query has already failed for 10 minutes.
So

[2018-10-13 23:03] dain commented on #11711
My guess is the client can not talk to the server anymore.  If the client does not check in with the server periodically, the server will assume the client crashed and fail the query as abandoned.  I'm not sure what happens on the client side, but from the stack, it looks like the client is trying to establish a connection to the server, and is waiting.  It is possible that the timeouts are not se

[2018-10-13 23:07] dain commented on #11710
There are no extension points for that in Presto.  Normally extra information or commands for a connector are exposed via system tables or procedures in the connector.

[2018-10-14 19:38] dain opened #11712 "Slow tests in prest-tests"
There are a small number of tests that dramatically increase runtime of presto-tests.  Specifically `testLargeIn` adds almost 3 minutest to just the presto-tests module:

Method | Class | Time(ms)
------------ | ------------- | -------------
testLargeIn | com.facebook.presto.tests.TestQueryPlanDeterminism | 146,173
testLargeIn | com.facebook.presto.tests.TestTpchDistributedQueries | 21,769
testLar

[2018-10-15 05:13] electrum commented on #11710
In particular, see `Connector.getSystemTables()` and usages of that in existing connectors.

[2018-10-15 06:53] findepi commented on #9313
Might be fixed by https://github.com/airlift/airbase/pull/98

[2018-10-15 06:54] #8493 closed

[2018-10-15 06:54] #8492 closed

[2018-10-15 06:57] findepi commented on #11712
Some thoughts.

The problem with `testLargeIn` is that ... i saw it catching some real problems. It's kind of a stress tests for a connector. Maybe it should be moved to `AbstractTestIntegrationSmokeTest`?

The problem with `TestQueryPlanDeterminism` is ... -- i don't recall it helping me. I would consider obliterating this test class, unless someone finds it helpful.

In general, the problem is t

[2018-10-15 06:57] #9290 closed

[2018-10-15 09:14] #11428 closed

[2018-10-15 09:16] findepi commented on #11626
[code]

https://github.com/prestodb/presto/pull/11672

[2018-10-15 11:38] naveenmahadevuni commented on #11648
@venkadeshwarank : When we tried setting up some new HDFS config to read encrypted files, using hive.config.resources sometimes helped and in some instances it didn't. I suggest along with putting these settings in adls-site.xml, please copy all these settings to hdfs-site.xml and try and explicitly pass the path of hdfs-site.xml and core-site.xml to hive.config.resources parameter.

[2018-10-15 16:41] ilkerc opened #11715 "Bad type signature for row(...)"
Have a type of ROW (e.g row(a varchar, b bigint)). Having an exception while trying to parse the type signature.
[code]
throws a Bad type signature exception.

Anyone having the same issue? (Using presto jdbc connector 0.190. Also tried latest (0.212), same result)

[2018-10-15 16:47] haozhun commented on #11715
This was fixed in 0.205. 0cc07ac9272c99c1bd1d6ec788069f79e360f48b

I just confirmed that it works in trunk.

[2018-10-15 17:11] haozhun commented on #11712
I'm pretty sure the "large in" tests didn't take nearly as long when they were first introduced: #3709. @raghavsethi

A lot of things have changed between then and now, making it really hard to find out where the regression is. And I don't know how complicated the fix would be.

I don't think @dain is suggesting removing the test (but didn't exclude that possibility either). `LargeIn` is a query t

[2018-10-15 18:02] dain commented on #11712
I'm not suggesting that we remove any of these, just that we should look to see if we can improve the code or tests.

BTW you can see the test timings for any module by opening `target/surefire-reports/index.html` and clicking on `Times` in the `Info` section.

[2018-10-15 18:07] rongrong commented on #11330
Seems like nobody followed up on this. Should we give it a go? I'm only proposing to not push down projections when all the following criteria are met:
- expensive projections involving UDFs related to JSON/map/array/regex
- estimated cost of change without pushing projection would not increase

This should be fairly conservative?

[2018-10-15 18:08] martint commented on #11330
There's no good way for the optimizer to know what's an "expensive" projection.

[2018-10-15 18:30] rongrong commented on #11330
For that part I'm more thinking of a hard coded selection of UDFs, until the cost estimation of these are built into the cost calculator. I think that's an ok trade off for now. Or we can ask UDFs to provide a cost function on a scale of 1-5 or just CHEAP(constant time), MEDIUM((sub or leaner to input), EXPENSIVE(above leaner).

[2018-10-15 19:11] martint commented on #11330
Yeah, that's what's a bit complicated. We could hard code it now, but it would break as soon as the PR to change how function resolution works lands (all function references become opaque in the plan IR at that point).

[2018-10-15 23:15] #11715 closed

[2018-10-15 23:46] electrum commented on #9313
Maybe we should simply set `LANG` and `LC_ALL` to `en_US.UTF-8` in `EmbeddedPostgreSql`?

[2018-10-16 01:11] lai-aa commented on #10412
I think it is known issue which is only one Kerberos realm can be supported per JVM, via https://bugs.openjdk.java.net/browse/JDK-8129742. not so sure about whether we have any special handling in Presto or not.

[2018-10-16 01:15] electrum commented on #11696
@kokosing I'm not sure I agree. We already support multiple spill paths and handle out of disk space. This seems like a reasonable case to handle by blacklisting any disks that fail with `FileSystemException`. Though this might turn out to be more difficult in practice, since failures can manifest in many ways, so maybe it's better to ask the user to use a volume manager which is more suited to ha

[2018-10-16 01:17] electrum commented on #11711
The JDBC driver should handle timeouts appropriately, even if there is a network error between the coordinator and client. However, based on the stack trace, it appears the JDBC driver you are using is more than a year old. Can you try with the latest driver and post a new stack trace if the problem happens again?

[2018-10-16 06:53] findepi commented on #9313
So we have these options:
- https://github.com/airlift/airbase/pull/98
- set `LANG` and `LC_ALL` to `en_US.UTF-8` in `EmbeddedPostgreSql`
- run Postgres in docker instead of unpacking to /tmp

Any of these would do.

[2018-10-16 10:57] photogamerun opened #11721 "error Message is Server not found in Kerberos database"
I have two machines

in 10.28.125.230 when I init presto-cli krb5 init is working
/usr/java/jdk1.8.0_60/bin/java -Dsun.security.krb5.debug=true -jar presto-cli-0.190-executable.jar --server https://svr14375de630.hadoop.sh2.ctripcorp.com:7778 --enable-authentication --krb5-principal bidiy@DC.SH.CTRIPCORP.COM --krb5-keytab-path bidiy.keytab --krb5-remote-service-name hive --keystore-path keystore.jk

[2018-10-16 10:59] photogamerun commented on #11721
10.28.125.230 is Linux VMS83647 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

 10.25.155.154 is Linux VMS83709 3.10.0-327.36.3.el7.x86_64 #1 SMP Mon Oct 24 16:09:20 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
that the different I found

[2018-10-16 11:01] photogamerun commented on #11721
profile = /usr/local/var/krb5kdc/kdc.conf

[logging]
    default = FILE:/var/log/krb5libs.log
    kdc = FILE:/var/log/krb5kdc.log
    admin_server = FILE:/var/log/kadmind.log

[libdefaults]
    default_realm = DC.SH.CTRIPCORP.COM
    ticket_lifetime = 7d
    renew_lifetime = 1d
    forwardable = true
    renewable = true
    permitted_enctypes = des3-cbc-sha1 arcfour-hmac-md5 camellia256-cts-cmac

[2018-10-16 15:03] jyates commented on #11687
Yup, just got caught up with internal stuff. Should have patch up later this week

[2018-10-16 16:50] haozhun opened #11723 "Support multiple conventions in PolymorphicScalarFunction"
For context, "convention" here means how the function (at execution time) would like to have its input represented, and how it would present the output. For example, 1. the function may or may not want to have a session passed in; 2. the function may use one of the `NullConvention` for each of the arguments (with different capabilities and performance implications); 3. the function may return a pr

[2018-10-16 19:02] elonazoulay commented on #11626
[code]
#10148

[2018-10-16 21:01] wenleix commented on #11723
The context is really nice-written introduction to the Scalar Function framework. It might be worthy putting into Wiki (https://github.com/prestodb/presto/wiki) or other documents so it can help more general community developers :)

[2018-10-17 15:12] jackchongs opened #11728 "date_trunc with from_iso8601_timestamp, return error value"
Hi,
    When I run the following two sql statement,  retun different value, my sql client defaut timezone is Asia/Hong_Kong.  Is this a bug ?

select  date_trunc('day', from_iso8601_timestamp('2016-09-09T16:00:00.00Z')  )

select  date_trunc('day', timestamp '2016-09-10 00:00:00'  AT TIME ZONE 'Asia/Hong_Kong' )

[2018-10-17 15:34] findepi commented on #11728
@jackchongs what do they print?

what do they print once you execute `set session legacy_timestamp = false;` in your session?

[2018-10-17 17:02] mbasmanova opened #11729 "Value cannot be cast to timestamp for the beginning of the Daylight saving time"
Presto fails to cast the timestamp representing the beginning of the Daylight saving time:

[code]

[2018-10-17 17:07] haozhun commented on #11728
Legacy timestamp behavior in Presto is very messed up. However, you'll not run into that as long as you stick to using `TIMESTAMP WITH TIME ZONE` all along, and never go through a timestamp without time zone.

However, the correct result for the two following expression are supposed to be different in the new behavior.

[code]

The first should return `2016-09-09` and the latter should return `201

[2018-10-17 17:41] rschlussel commented on #11729
what would the correct behavior be?  2am does not exist on the day we switch to DST.  The same way you can't have a timestamp `2017-03-12 24:00:00`.

[2018-10-17 17:55] haozhun commented on #11729
This is a known issue. It should work because "TIMESTAMP" should have LocalDateTime semantics. However, "TIMESTAMP" in Hive has Instant semantics. Presto screwed up and gave "TIMESTAMP" Instant semantics. This code will work if the new semantics is turned on. But the new semantics is not ready due to lack of connector support.

[2018-10-17 18:40] anoopj commented on #11239
I added the spill metric all the way from the operator to the Web UI and reran the tests.

I can confirm that the slowness is caused due to spilling. Even though the query gets promoted from the general pool to the large reserve pool, the aggregations have already started running and spilling. The query above spills over 281 GB of data.

![querystats-with-reservepool](https://user-images.githubuse

[2018-10-17 18:47] dain commented on #11239
Can you submit a PR for the UI changes?

[2018-10-17 18:49] dain commented on #11239
@findepi, we should also add spill to the explain analyze output

[2018-10-17 18:52] anoopj commented on #11239
I can submit a PR to add spill to the UI and explain analyze output also.

[2018-10-17 20:18] findepi commented on #11729
Closing in favor of #7122 and https://github.com/prestodb/presto/issues/10326

[2018-10-17 20:18] #11729 closed

[2018-10-17 21:18] anoopj commented on #11239
Resolving, since we found the root cause.

[2018-10-17 21:18] #11239 closed

[2018-10-17 21:33] findepi commented on #11699
Closing based on @dain 's https://github.com/prestodb/presto/issues/11699#issuecomment-429453628
Please reopen if it wasn't an accurate guess.

[2018-10-17 21:33] #11699 closed

[2018-10-18 15:48] rschlussel opened #11737 "Add distribution type to explain for semi join"
For regular joins we print the distribution type in the explain plan.  Add this for semi joins too.

[2018-10-18 17:29] #11337 closed

[2018-10-18 17:29] #11679 closed

[2018-10-18 20:34] #11332 closed

[2018-10-18 20:48] nezihyigitbasi commented on #11626
[code]

[2018-10-18 21:47] dain commented on #11626
[code]

[2018-10-19 00:54] nakhanha commented on #11684
@dain Is there ETA for this ?

[2018-10-19 04:41] cploonker commented on #2433
Any update on this one?

[2018-10-19 09:52] sopel39 commented on #11626
[code]

[2018-10-19 13:52] sopel39 opened #11745 "Determine join distribution type should be stats based (for join flippling)"
After https://github.com/prestodb/presto/pull/11625
join won't flip with only basic (non-column) stats. However, for basic join flipping (in `DetermineJoinDistributionType`) we don't need columnar stats. Just plain row count is enough to flip join sides.

CC: @arhimondr

[2018-10-19 19:39] mbasmanova opened #11747 "Add peak memory stats to the query plan"
Currently query plan shows CPU usage per fragment and node. Let's add peak memory as well. This will make it easier to understand which part of the query uses lots of memory.

CC: @nezihyigitbasi

[2018-10-22 01:52] wgzhao opened #11750 "hive connector encounter an UnknownHostException issue"
I have 24-nodes Presto Cluster, the version is 0.208.  The Hadoop enable Kerberos auth.
So, my hive connector properties like the following:

[code]
All FQDN hostnames are listed in `/etc/hosts` file, like here:

[code]
(I hidden real ip addresses for security)

Hadoop Cluster using Hortonworks HDP 2.5.0 version, and hive service has two hive-metastore servers (hadoop3.fzzq.com and hadoop4.fzzq.co

[2018-10-22 05:04] zhaiyuyong opened #11751 "How to open the log of Hadoop hdfs client in Presto?"
[code]
Didn't work

[2018-10-22 05:13] wenleix commented on #8959
I believed this is fixed by https://github.com/prestodb/presto/issues/8151 . You can use

[code]

Remember to disable session property `legacy_unnest`

[2018-10-22 05:13] #8959 closed

[2018-10-22 05:29] wenleix commented on #8959
I believed this is fixed by https://github.com/prestodb/presto/issues/8151 . You can use

[code]

Remember to disable session property `legacy_unnest`

[2018-10-22 08:39] sopel39 commented on #11747
Could it related to: https://github.com/prestodb/presto/issues/6457? Should we close that one?

[2018-10-22 10:40] findepi commented on #11751
answered @ https://groups.google.com/forum/#!topic/presto-users/MGE4-H7cSfs

[2018-10-22 10:40] #11751 closed

[2018-10-22 12:15] ayush-chauhan commented on #10000
@parisni Do you have a working example which I can refer?

[2018-10-22 12:52] findepi commented on #11745
As i understand, this will work for joins of 2 tables, but won't be able to reorder 3 tables -- without column stats we won't be able to estimate output of 2 joins in order to compare it with the 3rd table.

More resilient approach to consider would be to have some simplified version of RerderJoins, which would compare source table sizes and eg put the biggest table on the left. (Just a sketch, no

[2018-10-22 16:35] parisni commented on #10000
yes that should be feasible to share. Just give me a week to push

[2018-10-22 19:56] jessesleeping commented on #11626
[code]

[2018-10-23 01:28] haozhun opened #11758 "Incorrect getLogicalSizeInBytes implementation in DictionaryBlock"
Whenever `getLogicalSizeInBytes` invokes `getRegionSizeInBytes`, it's incorrect.

`DictionaryBlock`s can be nested in another `DictionaryBlock`. For example, a `map(varchar, varchar)` could be represented in Presto with a block like this: `Dict(Map(key=Dict(VarWidth), value=Dict(VarWidth)))`. Such a `Block` can show up in Presto today. The leaf `Block`s could be dictionary encoded by nature of ORC

[2018-10-23 01:29] dain commented on #11758
I would disallow a dictionary in a dictionary and instead, rewrite the indexes so you have at most one level.

[2018-10-23 05:06] wenleix commented on #10997
No longer an issue, see https://github.com/prestodb/presto/pull/11526 for the discussion.

[2018-10-23 05:06] #10997 closed

[2018-10-23 05:18] dingjoey commented on #10332
Hi all, are there any updates on this issue?

[2018-10-23 09:52] sopel39 commented on #10332
@dingjoey Not yet. Do you have some more cases of hash precomputing performance degradation?

[2018-10-23 11:41] aandis commented on #4017
hey @kokosing which connectors support correlated subqueries in presto?

[2018-10-23 12:33] kokosing commented on #4017
All. Because subqueries are supported by query planner and execution engine.

I kind of do not understand question. If you mean which support subquery pushdown then none.

[2018-10-23 13:48] arhimondr commented on #11626
[code]

[2018-10-23 14:21] sopel39 commented on #11745
That would require some kind of pessimistic stats estimator, no?

[2018-10-23 16:45] haozhun commented on #11758
The dictionaries are not adjacent in the example I gave. How do you rewrite indexes there?

[2018-10-23 17:46] hellium01 opened #11766 "Connector always get null filled unspecified columns when insert"
When we use insert column list in presto:

```INSERT INTO TABLE (c1, c2) SELECT * FROM TABLE2```

We fill in null values for columns that are defined in the table but not in the column list, i.e. if the table have `(c1, c2, c3)`, the above command will insert null to `c3`. This behavior is desirable for some connectors but not for others. For example, for connectors to MySQL, unspecified columns s

[2018-10-23 18:50] hellium01 commented on #11766
cc @electrum, @tdcmeehan

[2018-10-23 18:57] kokosing commented on #11766
Presto does not support default values yet. This could be implemented inside the mysql connector but that would make this connector to become incoherent with others connectors, but maybe it is the way to go (to behave like a RDBMS that connector is exposing).

[2018-10-23 20:17] hellium01 commented on #11766
The current problem is if the underlying table in the connector has default value defined, we will always insert NULL which can cause inconsistency in behavior. In such case, we should at least let connector handle the missing columns in its own way.

Supporting default will definitely need more things.

[2018-10-23 20:46] mbasmanova opened #11770 "PartitionedOutputOperator reports incorrect output data size"
PartitionedOutputOperator reports the input data size as the output data size. However, output data size might be larger due to loss of run-length and/or dictionary encodings.

[2018-10-23 23:08] raghavsethi commented on #11626
[code]

[2018-10-24 00:58] bmc99 commented on #11444
I will be working on "column order" part of the issue.

[2018-10-24 10:10] Praveen2112 commented on #11737
Is this issue is still open ? Can I raise a PR for this ?

[2018-10-24 10:49] aandis commented on #4017
@kokosing yeah. When I run queries like

[code]

presto does a full table scan of `table1`. I am looking for ways to avoid that.

[2018-10-24 11:00] kokosing commented on #4017
Can you please open separate issue for that and please attach output of the EXPLAIN (distributed) of the query

[2018-10-24 13:11] aandis commented on #4017
@findepi yeah I've tried option 1 in the past. It has it's own problems because the parameter list may exceed max query length/parameter length presto allows. So you have to split it in batches and run multiple queries which is additional non core application logic.
Additionally, more parameters means more planning time https://github.com/prestodb/presto/issues/10700#issuecomment-392672042 with a

[2018-10-24 14:28] sopel39 opened #11774 "Display column stats as part of EXPLAIN ANALYZE VERBOSE"
It would be useful if column stats are part of `EXPLAIN ANALYZE VERBOSE` output. Sometimes people have basic stats gathered, but column stats missing for some partitions. Plain explain doesn't show that it's the case (it will show some cost based on number of rows). However queries will plan incorrectly due to the lack of column stats.

If detailed column stats are too much for `EXPLAIN ANALYZE VE

[2018-10-24 18:35] hellium01 opened #11777 "[Proposal] Adding pre-aggregation support in presto"
For many connectors, it is possible for us to provide pre-aggregated data either on the fly or from materialized table (these two don't differ significantly in engine's point of view).  Be able to utilize that can help query performance a lot, especially if queries very likely will query same set of data repeatedly.  To support that, we will need to allow engine to understand how the connectors  p

[2018-10-24 18:36] hellium01 commented on #11777
cc @electrum , @martint , @tdcmeehan , @jessesleeping

[2018-10-24 19:15] hellium01 commented on #11766
It is true for JDBC connector or any other connectors utilizing MySQL( for example some connectors facebook internally uses). For other connectors, as long as they can have default and the table creation is not fully controlled by presto, the problem is same?

[2018-10-24 19:29] findepi commented on #11774
Alternatively (or additionally), we could have more information in `EXPLAIN VERBOSE` / `EXPLAIN (TYPE CBO)` or something like that.

[2018-10-25 00:44] gozingdown commented on #11737
I'm going to work on this issue. Thanks.

[2018-10-25 01:03] gozingdown commented on #11737
[Pull request](https://github.com/prestodb/presto/pull/11782) created.

[2018-10-25 02:45] #11452 closed

[2018-10-25 05:12] kokosing commented on #11774
`EXPLAIN ANALYZE VERBOSE` this sounds very similar to `DESCRIBE FORMATTED`.
I like `EXPLAIN (TYPE CBO)` much more.

[2018-10-25 07:12] DBZshahin commented on #10142
Hi, Is there any update to this issue. We are facing this issue frequently, as partition exists in the Hive metastore and the corresponding partition directories are deleted in S3, Presto throws partition does not exists error. Please provide an update

[2018-10-25 15:24] sopel39 opened #11785 "Top N Row Number optimization should be CBO based"
As in topic, CBO should decide (based on average partition length) if it's worthwhile to use Top N Row number optimization or not.

Context (copied from https://github.com/prestodb/presto/pull/11773):

TopNRowNumberOperator can cause increased memory footprint
(e.g: 2x-3x) vs plain WindowOperator if partitions are small
(e.g: few rows). This can cause queries to fail because of
out of memory.

[2018-10-25 17:12] alyssackwan commented on #8695
Sorry for the late reply. I haven't seen your PR, but you could do a CAST-time check against a stored data type field to throw an exception if an attempt to erase type. Would that be enough?

[2018-10-25 18:32] findepi opened #11786 "Print version when running CLI with --debug"
Sometimes problems experienced by users might be caused by CLI incompatibility (e.g. like related to recent addition of the warnings subsystem).

it would be good to report CLI version when anything gets wrong, especially when (but not only when) CLI concludes “query is gone”

[2018-10-25 18:32] findepi commented on #11786
@electrum opinion?

[2018-10-25 22:19] gyson commented on #6212
I got similar issue in presto 0.206. The following is a solution (cast enum to varchar via `||`) that works for my case:
[code]

[2018-10-26 01:39] mbasmanova opened #11789 "CBO: choose join distribution type for a semi join"
Currently, CBO chooses join distribution type for inner, left, right and full joins. However, semi joins can also benefit from automatic selection of a broadcast join.

CC: @rschlussel @arhimondr @findepi @sopel39

[2018-10-26 07:12] Kaleidoscoper opened #11790 "Presto jdbc throw exception while using getDouble method on decimal column"
I am using presto jdbc 0.182. I have called getDouble method on a decimal column, it seems to have an convertion exception.  Here is my code
![1](https://user-images.githubusercontent.com/9138997/47550892-345efd00-d933-11e8-99a3-e64a8deacc2a.jpg)
The column cost_item is decimal type.

        if (value == null) {
            return 0;
        } else if (value instanceof Number) {
            retur

[2018-10-26 17:18] rschlussel commented on #11789
The reason for not doing this earlier was that for semi joins we need to know whether there was a delete node in the plan to figure out whether it can be partitioned, and that didn't translate easily to the iterative optimizer.  So the main work for this would probably be adding more complex pattern matching.

[2018-10-26 20:12] arhimondr commented on #11789
We can have just 2 different rules. First will enforce that REPLICATED is chosen for `DELETE` queries. The second will come into play if the distribution type is not yet set (by the first rule), and do the cost based magic.

[2018-10-26 20:15] arhimondr commented on #11745
@sopel39

Doesn't it work now for 2 joins without any filters? (you need column level stats to estimate filters)

[2018-10-26 20:19] martint commented on #11789
Without the optimizer being able to consider multiple plans simultaneously, that would be sensitive to the order in which rules are applied.

[2018-10-26 20:31] arhimondr commented on #11789
The rule that enforces replicated JOIN for DELETE won't be conditional. No mater if the distribution for semi-join is set - it will overwrite one if delete node is detected downstream. The rule for detecting semi joib type based on CBO will be conditional. It will be applied only to the SemiJoin nodes that have no distribution type set. This will work exactly the same way as `DetermineJoinDistribu

[2018-10-26 21:16] rschlussel commented on #11444
Another item:  The collected statistics for the table writer and table commit are unordered.

[2018-10-26 21:39] findepi commented on #11789
How would such enforcement Rule for Semi Join under Delete look like?
It would probably need to match Delete node and then recursively traverse the sources to find all Semi Join nodes, right?
If this is the way, it should probably be implemented as an ordinary PlanOptimizer.

[2018-10-26 22:20] arhimondr commented on #11789
The enforcement rule should remain a recursive rewriter.
On Fri, Oct 26, 2018 at 5:39 PM Piotr Findeisen <notifications@github.com>
wrote:

[2018-10-26 22:20] wenleix opened #11795 "Add config for maximum file size for ORC Writer Validation"
ORC writer samples validation by files. While making validation percentage to be only 1% has very low impact on CPU time, it can still make query execution time much longer if single files are too large.

The proposal is to allow ORC Writer validation skips too large files.

[2018-10-28 11:04] sajjoseph commented on #8980
@cquptEthan or @RameshByndoor

Can you confirm whether this PR will support existing ranger rules defined for hive  as @stagraqubole mentioned earlier? I saw the statement - "Able to reuse existing policies". Can you elaborate on how this is done if you are using SystemAccessControl ?

[2018-10-28 11:56] cryptoe commented on #8980
https://github.com/prestodb/presto/pull/11640 one does. It reuses the existing policies.

[2018-10-28 12:08] sajjoseph commented on #8980
@cquptEthan or @RameshByndoor

Looks like Ranger policy might contain HQL or native DB supported SQL extension based queries.
Any thoughts around how to address those as they could fail in Presto?
(I haven't tried to see how it behaves. But asking based on the information found here -  https://cwiki.apache.org/confluence/display/RANGER/Row-level+filtering+and+column-masking+using+Apache+Ranger+pol

[2018-10-29 03:41] MichaelChirico opened #11800 "json_extract_scalar returns NULL for non-NULL array object"
https://stackoverflow.com/questions/53038338/json-object-is-null-but-somehow-its-children-are-not

I thought this might be an SQL problem, but it works as expected in Spark's SQL API (using `get_json_object` as a drop-in replacement of `json_extract_scalar`):

[code]

I can't imagine how the first two can return  `true` but the third `false`, so I assume it's a bug.

[2018-10-29 04:29] kokosing commented on #11687
Fixed with: https://github.com/prestodb/presto/pull/11769

[2018-10-29 04:29] #11687 closed

[2018-10-29 08:11] findepi commented on #11800
`json_extract` seems to be the function you actually want to use here.

[2018-10-29 08:11] #11800 closed

[2018-10-29 08:18] MichaelChirico commented on #11800
So, this seems like another version of https://github.com/prestodb/presto/issues/2507

[2018-10-29 11:49] findepi commented on #8973
https://github.com/prestodb/presto/pull/8859 mentioned above was superseded by https://github.com/prestodb/presto/pull/9683. Closing.

[2018-10-29 11:49] #8973 closed

[2018-10-29 12:20] findepi commented on #11239
@anoopj if you have problems rebasing your changes to current master, you can post a PR based on 0.206 (or whatever you current have) and then it will be easier to move this forward.

[2018-10-29 13:19] findepi opened #11804 "Release notes for 0.214"

[2018-10-29 15:14] dinal opened #11806 "can't start prestodb server over https with a custom password authenticator"
Hi,
I'm using presto 0.206 and trying to config it to run over https with a password authenticator that i wrote.

I get the following error -

[code]
config.properties -

coordinator=true
node-scheduler.include-coordinator=true
http-server.https.port=8889
query.max-memory=5GB
query.max-memory-per-node=1GB
discovery-server.enabled=true
discovery.uri=https://192.168.224.157:8889
node.internal-addres

[2018-10-29 17:57] cploonker opened #11807 "Top N Most/Least frequent occurring values"
approx_most/least_frequent would be a nice addition to the existing set of approx functions in presto
Here is a library which does the approx_most_frequent: https://github.com/addthis/stream-lib

[2018-10-29 19:02] dain commented on #11800
For any future readers, `json_extract_scalar` returns a scalar value which are simple single value types like a number, boolean or string, where as JSON arrays and objects are not scalars.  The `json_extract` method returns a JSON encoded value of any type, which is normally not people want when extracting a JSON string, because a JSON string is quoted.

[2018-10-29 19:49] yingsu00 opened #11808 "Lazy build hashtable for map columns"
Presto builds hashtable for MapBlocks eagerly when constructing the
MapBlock even it's not needed in the query. Building a hashtable could
take up to 30% CPU of the scan cost on a map column. We need to defer
the hashtable build to the time it's needed in SeekKey(). Note that we
only do this to the MapBlock, not the MapBlockBuilder to avoid complex
synchronization problems. The MapBlockBuilder wil

[2018-10-29 19:55] yingsu00 opened #11809 "Reducing PartitionOutputOperator memory copying"
Currently the partition output operator makes one extra copy of the input and materialize the blocks again. We will eliminate this extra copy and fill the partitioned buffer and serialize them on the fly.

[2018-10-29 20:36] dain commented on #11808
@yingsu00, to clarify, I believe this means that scans using columnar map construction with `MapBlock.fromKeyValueBlock` will get lazy map builds, but scans using MapBlockBuilder will always get a hashtable built.  I think this is ok, since the scans using the record oriented interface are slow already due to the JSON transformation.

[2018-10-29 20:39] dain commented on #11809
@yingsu00: @raghavsethi, @martint, @electrum and I discussed this for a long time.  My memory is that getting this implemented cleanly will be difficult, so I'd like to see the work in progress as this is being built.  Specifically, my concerns were that this change can be a big abstraction breaker for the Block interface.

[2018-10-29 21:59] findepi commented on #11737
https://github.com/prestodb/presto/pull/11782 merged

[2018-10-29 21:59] #11737 closed

[2018-10-29 22:00] findepi commented on #9278
FWIW Findbugs has some coverage for that http://findbugs.sourceforge.net/bugDescriptions.html#DM_DEFAULT_ENCODING

[2018-10-29 22:05] findepi commented on #9164
This very problem was fixed in https://github.com/prestodb/presto/pull/9750. Should we close the issue?

[2018-10-29 22:08] findepi commented on #8881
fixed by https://github.com/prestodb/presto/pull/11384

[2018-10-29 22:08] #8881 closed

[2018-10-29 22:31] findepi commented on #5726
`TestPostgreSqlTypeMapping` looks quite decent today.

[2018-10-29 22:31] #5726 closed

[2018-10-29 22:33] findepi commented on #5162
@martint can we make `at_timezone` public?
(for the record, some people are already using it anyway https://stackoverflow.com/a/52446806/65458 ...)

[2018-10-29 22:35] findepi commented on #4913
https://github.com/prestodb/presto/pull/10916 caused that presto version is printed in server.log, along with configuration properties. @martint  Does this solve the issue for you?

[2018-10-29 22:41] findepi commented on #3713
Today the error is quite explicit:
[code]

[2018-10-29 22:41] #3713 closed

[2018-10-29 22:45] findepi commented on #4232
Supposedly, fixed by https://github.com/prestodb/presto/pull/6049

[2018-10-29 22:45] #4232 closed

[2018-10-29 23:18] aleksandersumowski opened #11811 "Ability to query Kafka KTables"
As I understand Presto currently can query Kafka topics. It would be very cool if it could query KTables as well!

[2018-10-30 00:19] dain commented on #5162
@findepi, I think we should and document it.  Alternatively, we could allow expressions in that place of the grammar, but I'm sure of the implications of a change like that.

[2018-10-30 04:29] kokosing commented on #11811
There is ongoing work related to this: https://github.com/prestodb/presto/pull/11609

[2018-10-30 07:02] Praveen2112 commented on #11806
For enabling https server we should also add this configuration property
`http-server.https.enabled=true`

[2018-10-30 07:46] aleksandersumowski commented on #11811
Thanks! I've looked through issues before submitting but not the pull requests. I'll close it now!

[2018-10-30 07:46] #11811 closed

[2018-10-30 11:00] oeeckhoutte commented on #11337
Hi, is it possible to get a workaround to get the query details from the cli for example ?

[2018-10-30 12:37] #10078 closed

[2018-10-30 12:45] satybald commented on #11337
@oeeckhoutte you can use REST API for workaround.
[code]

[2018-10-30 14:35] mbasmanova commented on #11223
@dain @findepi Dain, Piotr, we ran into this again in production. A query retried 20 times and failed every time. Do you have any theories about what might be causing this?

[2018-10-30 14:37] mbasmanova commented on #11223
CC: @haozhun

[2018-10-30 17:12] haozhun commented on #11223
This has been fixed. It's not a race condition.

https://github.com/prestodb/presto/pull/11636
https://github.com/prestodb/presto/pull/11794

[2018-10-30 17:59] dpat commented on #10326
regarding this roadmap:

I cannot seem to determine which tasks serve to implement this functionality:
 ***Selecting values from TIMESTAMP column should return same result set no matter what is the client's session timezone***

is this still a goal in fixing issue #7122 ?

[2018-10-30 19:56] #11223 closed

[2018-10-31 05:49] nezihyigitbasi commented on #11804
[code]

[2018-10-31 07:39] cryptoe commented on #8980
@sajjoseph Yes the ranger policy might contain HQL or native DB supported SQL externsion based queries. As of now, this patch just assumes the row level filter is ANSI SQL and tries to parse it.
If it fails, query is not launched else its launched.

We tried using Apache clacite for conversion of HQL to ANSI SQL, but it was failing in complex q's and was not solving our internal use case.

[2018-10-31 08:43] Hollyen opened #11818 "Compile failed in windows environment"
When i use ```clean install -Ppkg -DskipTests -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true``` to compile the presto-root project, it always get

[code]

maven -V shows
[code]

Please help. Thanks in advance.

[2018-10-31 08:48] dinal commented on #11806
@Praveen2112
if i'm not setting discovery.uri to use https then cli won't allow using user+password (i want to authenticate the user in the password authenticator i added)

I get this error when starting cli with password flag -
[code]

[2018-10-31 09:44] Crossoverrr commented on #6341
I have the same question, is there a document or something?

[2018-10-31 10:05] Praveen2112 commented on #11806
@dinal
You have to use https in the presto-server uri if you need user + password, you will be using https in the `discovery.uri` only if you require a secure internal connection. AFAIK for a normal custom password authenticator, coordinator should have both http port (for discovering the worker nodes) and https port (for password based authentication). So this config properties should ideally wor

[2018-10-31 10:17] dinal commented on #11806
that works! thanks!
my confusion was that i thought discovery.uri should be the same as the config passed to --server in cli

[2018-10-31 10:17] #11806 closed

[2018-10-31 12:07] afn commented on #9164
Thanks! Looks like #9750 did indeed address the issue. Closing.

[2018-10-31 12:07] #9164 closed

[2018-10-31 12:11] guyco33 opened #11821 "Special jdbc types (like postgres jsonb, interval, tsrange, ...) are skipped in jdbcTypeToPrestoType"
Special column types are skipped while selecting a jdbc table.
For example:
Postgres table  T(id integer, val integer, period tsrange)
is mapped in presto as table T(id integer, val integer)
while desired mapping should be:  T(id integer, val integer, period varchar)
so period data column can be accessible :)

[2018-10-31 12:32] sajjoseph commented on #8980
Thanks Karan.
I will try it out and share the results.

On Wed, Oct 31, 2018 at 1:40 AM Karan Kumar <notifications@github.com>
wrote:

--
Sajumon Joseph
303-378-0593
sajjoseph@gmail.com

[2018-10-31 14:04] nguyenminhtuanfit opened #11822 "create external table but how to define `fields terminated`"
the issue is still open but someone already closed. Please refer to #7388

[2018-10-31 17:15] kash159 commented on #11445
Merged with #11491

[2018-10-31 17:15] #11445 closed

[2018-10-31 20:25] SivaSamrajS opened #11825 "Presto DB -> com.facebook.presto.server.PrestoServer No factory for connector kafka java.lang.IllegalArgumentException: No factory for connector kafka"
I am not able to connect to the kafka from Presto DB server and server starting is failing. Below is my kafka.properties. under etc/catalog

connector.name=kafka
kafka.nodes=192.168.1.5:9092
kafka.table-names=tpch.customer,tpch.orders,tpch.lineitem,tpch.part,tpch.partsupp,
tpch.supplier,tpch.nation,tpch.region
kafka.hide-internal-columns=false

=========

My Classpath also loads the kafka:
![image

[2018-10-31 21:06] hgschmie opened #11827 "presto cli error message is confusing"
In a schema, where no table `foo` exists, if I issue this query:

[code]

the cli responds with

[code]

In the log, this exception is logged:

<img width="1318" alt="screen shot 2018-10-31 at 14 05 46" src="https://user-images.githubusercontent.com/39495/47818885-22f06900-dd16-11e8-8b17-576e1eb44649.png">

I would have expected a more meaningful error message (and I think the CLI did that in the

[2018-10-31 21:30] hgschmie commented on #11827
Digging into this a bit more with charles-proxy, I see this:

First request:

[code]

This one looks good, all the session properties are there....

and then

[code]

all the session properties are gone. The actual error then is caused by code in our connector that tries to log a queryCreated event that expects a session to be there (and does not find one).

This behaved differently in 0.205.

Als

[2018-10-31 22:09] hgschmie opened #11830 "query failing early causes presto to lose its session"
This is related to #11827

In SqlQueryManager, lines 405ff (release 0.203) there is an error path that gets entered when execution fails early (in my case, `queryExecutionFactory.createQueryExecution()` throws a SemanticException. However, my session contains a number of catalog specific properties, which are still unresolved. Inspecting with a debugger shows me:

<img width="584" alt="screen shot

[2018-10-31 22:33] findepi commented on #11825
- would you mind sharing the startup exception?
- please don't paste images of console transcripts, paste console transcripts as text instead (wrapped in ```` ``` ... ``` ````)

[2018-11-01 13:37] anusudarsan commented on #11827
looks related to the fix recently merged. https://github.com/prestodb/presto/pull/11792

[2018-11-01 14:15] findepi commented on #11827
i thought the same. @hgschmie i think Presto 0.213 already contains https://github.com/prestodb/presto/pull/11792 . Are you using CLI 0.213 as well?

[2018-11-01 17:13] anoopj opened #11835 "Spatial Join Not Used for ST_Within"
Presto query planner [currently uses](https://github.com/prestodb/presto/blob/56360c397c26e8abfbf2b4f650e82372c6324859/presto-main/src/main/java/com/facebook/presto/sql/planner/LocalExecutionPlanner.java#L1676-L1701) geospatial joins only for some operators like` ST_Contains`, `ST_Intersects` and `ST_Distance`. Some operators like `ST_Within` don't use the geospatial joins, so it ends up doing a c

[2018-11-01 18:21] mbasmanova commented on #11835
@anoopj Anoop, you are correct. Since `ST_Within(a, b) = ST_Contains(b, a)`, Presto could use spatial joins for `ST_Within` as well. Looking forward to a pull request.

[2018-11-01 19:21] dain commented on #11818
@Hollyen,  currently the Presto project does not support development or production on Windows.  Historically, there has been no demand for this from the community, so no one has worked on it.  If this is something that had people committed to supporting, we would consider extending our supported platforms.

[2018-11-01 19:32] dain commented on #11821
Just to clarify, you are proposing that any "unrecognized" type is automatically mapped to `VARCHAR`?  I think that may create a backwards compatible trap for us.  For example, above you use the Postgres `tsrange` type, but what if in the future we add a similar type to Presto.  At the point all existing queries would break.

Instead of this generic approach, I would suggest that we implement prop

[2018-11-02 01:02] Hollyen commented on #11818
Thanks for the reply @dain,
i have tried building on windows, and find some issue, some of them are solved, here is list:

- check-style plugin will find source file line end character is CRLF if your git setting ```core.autocrlf=true```, if you found this, clone the source code again with autocrlf=false.
- Current issue related to https://github.com/prestodb/presto-maven-plugin/pull/7 , if this i

[2018-11-02 01:02] #11818 closed

[2018-11-02 17:07] yogeek opened #11841 "Compilation failed for presto-docs module when running on BusyBox"
I got the following error when trying to compile prestodb modules with maven :
[code]

Steps to reproduce :
[code]

It works correctly if I exclude presto-docs from the build :
[code]

[2018-11-02 18:34] jagill opened #11842 "approx_distinct should support ROW type"
It would be nice if any valid argument to `count distinct` is also a valid argument to `approx_distinct`, which would make it easier to convert queries.

Currently,
[code]
returns 1, while
[code]
gives the error
[code]

I don't know if this is considered a bug or a new feature.  The docs for [approx_distinct](https://prestodb.io/docs/current/functions/aggregate.html#approx_distinct) don't specify

[2018-11-02 18:52] jagill commented on #11842
I'm happy to make a PR for this if it's desired.

[2018-11-02 19:24] dain opened #11844 "Query "FinalQueryInfoListener" is not always fired when a query is aborted or fails"
The FinalQueryInfoListener is critical to the lifecycle of queries in the Coordinator.  Only once this event is fired, is the query available to be reaped from the system, and without the call back the coordinator will eventually run out of memory.

[2018-11-02 19:35] haozhun commented on #11804
[code]

[2018-11-02 22:36] devanshsoni9 opened #11845 "Add ability to pass Kerberos impersonation Credential in jdbc driver"
Hi
We are testing Kerberos constrained delegation with the presto jdbc driver. However according to our tests, the presto driver does not support impersonation.

I have a service which takes in a dbUser and we want the service run-as user to impersonate the db user while connecting to presto db.
I see that [presto jdbc](https://prestodb.io/docs/current/installation/jdbc.html) driver does not have

[2018-11-02 22:46] tdcmeehan commented on #8695
Given that the quantile digest data structure does not have support for any type other than whole numbers, encoding the type into the `qdigest` would require us to push the Presto-specific concept of converting doubles and real numbers into sortable long values into the airlift library.  Discussing with @martint, we don't believe this is the correct approach, because it will embed those trade-offs

[2018-11-03 00:39] dain commented on #11845
I'm not really sure what you are trying to do, so maybe I can point you at the code and you can tell us what isn't working.

The JDBC Kerberos authentication starts here:

https://github.com/prestodb/presto/blob/master/presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriverUri.java#L170

This code extracts the properties from the connection information.  Then this gets passed all the way d

[2018-11-05 00:54] EvilPuppetMaster opened #11848 "Resource groups docs could clarify how cpu limits work"
Hi,

I've been trying to figure out how to use the cpu limits in resource groups but the docs here https://github.com/prestodb/presto/blob/master/presto-docs/src/main/sphinx/admin/resource-groups.rst don't give much detail.

One quick addition that will help a lot would be to point out that the units required for `softCpuLimit` and `hardCpuLimit` must be specified as durations. I initially used pe

[2018-11-05 03:13] magicsilence opened #11849 "Can presto connect another presto cluster?"

[2018-11-05 08:09] findepi commented on #11849
not out of the box, but it's not hard to add a simple (single-threaded) support.

See https://groups.google.com/forum/#!searchin/presto-users/presto$20connector%7Csort:date/presto-users/scaldsEgfgk/miDZQx9TAwAJ for more context.

[2018-11-05 08:09] #11849 closed

[2018-11-05 09:33] radunicolae opened #11850 "Can a query use resources dynamically ?"
Hi,

We have a elastic cluster that adds or removes nodes depending on the CPU load on the cluster. The issue is that once a resource hungry query is issues, the cluster deploys new nodes but the query wont use the new nodes. Is there any way to make a query aware of the new resources ?

Thank you!

[2018-11-05 13:59] yogeek commented on #11841
Indeed `diff` tool in busybox docker image is a link to `busybox`  multi-call binary that combines many common Unix	utilities into a single executable.
The problem it is that this `diff` version in docker image does not include the `-c` option needed apparently by maven build.

After installed a compatible version of `diff` however, I get this error :
[code]

Do you think it is also linked the doc

[2018-11-05 18:52] nezihyigitbasi commented on #11850
Are the new workers properly registered to the coordinator? If yes, I would expect them to receive load. You can check that by querying the system catalog: `select * from system.runtime.nodes`.

[2018-11-05 21:00] dain commented on #11841
I don't think anyone that works on this project builds in Docker, so we would be looking to you for a recommendation 😊

[2018-11-05 21:05] anusudarsan commented on #11804
[code]

[2018-11-05 21:34] DrXopher opened #11855 "Casting timestamps with timezones to varchar changes the time"
If I cast a timestamp with timezone to a string it shifts the time by an hour. If I cast a string to a timestamp with timezone it shifts the time in the opposite direction.

It seems to be related to daylight savings. Sao Paulo changed their daylight saving on 4th November. Trying dates after that works fine.

What's going on?

[code]

[2018-11-05 21:36] dain commented on #11804
[code]

[2018-11-05 21:39] yogeek commented on #11841
ok I will try to do some test and get back to you !
I you can just confirm me that the error above is not present in your build environment and tell me the Maven and java version of your build, it could help me. Thanks for the help :-)

[2018-11-05 21:44] dain commented on #11841
@yogeek my setup is:
[code]

[2018-11-06 04:34] VincentMLiu opened #11858 "Not able to restart coordinator server after stop it"
Presto version: 0.213
Java version: OpenJDK 1.8.0_161
I had follow the installing instruction to run Presto on my own servers, the cluster was successfully started at first time. After that, I had added  elasticsearch-jars into plugin dir in order to build es connectors. Then I stopped the coordinator server and another two worker nodes, but the coordinator server is not able to start again.
I use

[2018-11-06 07:32] radunicolae commented on #11850
Hi,
Thank you for your quick replies
@nezihyigitbasi yes, the nodes are properly configured, we are using and auto scaling group from AWS with a custom AMI, the new nodes are able to register with the coordinator without any intervention.
@dain yes, the query is fully running, it takes the autoscaler about 5 minutes to detect the load and an additional 2-3 minutes to deploy a new node, by that tim

[2018-11-06 07:38] guyco33 commented on #11821
@dain
We can protect this behaviour with a session attribute that will be added later and will preserve a backward compatibility when new types will be implemented in the Jdbc mapping.
There is a huge value for the analysis pipelines to expose now all the columns in the Jdbc source tables.

[2018-11-06 10:52] yogeek commented on #11841
@dain Thanks for the details.
I can confirm you that I built successfully the project with the following docker image : `maven:3.5.4-jdk-8`

Here are the steps :
[code]

[2018-11-06 18:21] ddrinka commented on #10611
I'd like to bump this request--it looks like there's some initial work done that's remained unmerged.  Our use case calls for access to partition-level details which would presumably build on #10793.

Specifically, we need the LOCATION of a partition.  In my head I imagined the query looking like:
[code]

But as long as we have programmatic access to the LOCATION property I don't care what the que

[2018-11-06 18:30] dain commented on #11858
The JVM is not able to bind to the listener ports for HTTP and JMX, which most likely means there is still a Presto server running on that machine.  I'd make sure there are no other Java (or "presto") programs running on the machine.  `netstat -an | grep {your_port}` should work to find the bind process.

[2018-11-07 00:11] electrum opened #11863 "Cannot declare function with return type of decimal without scale"
Calling this function will fail at runtime in `FunctionRegistry.doGetSpecializedFunctionKey()` due to `SignatureBinder` trying to match against `decimal(8,0)`.
[code]

[2018-11-07 01:06] VincentMLiu commented on #11858
Thanks, dain. I tried this command 'netstat -an | grep {port}' but results shows nothing, I also tried other commands like "ps -ef|grep presto" or "jps -lm|grep presto", they all appear nothing relevant to presto.

Finally, I removed all jars I added in plugin dir, and delete new catalog properties, then the presto server successfully started. I think there are something wrong in the connector I a

[2018-11-07 14:41] maxwellzdm opened #11867 "timestamp column with Parquet format do not compatible with Hive"
Steps to reproduce:
1. Set up Presto with Hive connector

2. Create Table a partitioned table with parquet format
`create table tmp.presto_test_parquet_v2 (
  event_time timestamp, event_time_str varchar, dt varchar)
  with ( partitioned_by = array['dt'], format = 'parquet')`

3. insert data with current timestamp
`insert into tmp.presto_test_parquet_v2 values (
  localtimestamp , cast(localtimest

[2018-11-07 17:03] dickson-conde opened #11869 "IS DISTINCT FROM bug with ObjectIdFunctions"
I'm getting the error:

`com.facebook.presto.metadata.OperatorNotFoundException: 'IS DISTINCT FROM' cannot be applied to ObjectId, ObjectId`

when trying to select from a view that pulls data from a MongoDB connector despite 'IS DISTINCT FROM' not being used in the view. I'm assuming there's some background logic that happens with joins/aggregations that uses the 'IS DISTINCT FROM' command.

The s

[2018-11-07 19:16] ryanrupp commented on #11487
You may have figured this out already by now but I believe this could be the same issue described [here](https://groups.google.com/forum/#!msg/presto-users/7NcrFvGpPaA/YMbPC1R8AgAJ). Also, see my last post [here](https://forums.aws.amazon.com/thread.jspa?messageID=758682#758682) because I also encountered this while playing around with some public data sets with Athena (AWS managed Presto). So, if

[2018-11-07 19:32] dain commented on #11869
Originally `IS DISTINCT FROM` was automatically generated, but with the introduction of types like `ROW`, it is not longer possible so it must be manually provided.  When this was changed someone missed the Postgres `objectid` type.  The function should be added to https://github.com/prestodb/presto/blob/master/presto-mongodb/src/main/java/com/facebook/presto/mongodb/ObjectIdFunctions.java.  I wou

[2018-11-07 20:11] electrum commented on #11869
With the exception of array, map, and row, all of the operators are the same. Does it make sense to require every type to implement the same boilerplate? The `INDETERMINATE` operator seems to have the same problem.

Related, we should implement `XX_HASH_64` for `ObjectId`.

[2018-11-07 20:37] dain commented on #11869
@electrum If possible, I'd like the automatic generation behavior back also.

[2018-11-07 20:43] findepi commented on #11867
This is a known issue. See #7122 and the roadmap linked there.
You may want to try Presto 0.208e with `set session legacy_timestamp = false;`. 208e contains experimental fixes for timestamp semantics in Hive connector.
Please let me know how does it work for you.

[2018-11-07 22:56] dain opened #11871 "Display unprocessed connector properties in UI"
When a query fails before execution is created, connector session properties may not have been processed and will not be visible to the UI.

[2018-11-07 22:56] dain commented on #11871
@raghavsethi can you point me at the code where this happens?

[2018-11-08 00:44] electrum commented on #10953
This is not a bug. The value is supposed to be `__HIVE_DEFAULT_PARTITION__`. I got mixed up because another system erroneously was writing the wrong value.

[2018-11-08 00:44] #10953 closed

[2018-11-08 02:10] haozhun commented on #11855
This looks like #8233

[2018-11-08 02:34] haozhun commented on #11855
* We must not upgrade to joda 2.10.1, which has tzdata 2018g. There is no java release with that version of tzdata at this time.
* If we upgrade to joda 2.10, tzdata version will be 2018e. Java has 2018e since 10.0.2, 8u181, 7u191, 6u201.
* Since joda 2.9.9 (until 2.10), tzdata version has always been 2017b. Java has 2017b since 8u141, 7u151, 6u161 (but updated to 2017c since 9.0.4, 8u161, 7u171,

[2018-11-08 02:59] haozhun commented on #11855
According to tzdata, `America/Sao_Paulo` zone went through rule changes since 2017b.

[code]

[2018-11-08 06:33] maxwellzdm commented on #11867
Sorry, I didn't find any official release of 0.208e. Do you mean I need to try 0.208e for Starburst Distribution of Presto?

[2018-11-08 07:39] findepi commented on #11867
Apologies for being to  brief. Yes, this Starburst Presto 0.208e is what i meant.
And the Hive connector changes i mentioned are in https://github.com/starburstdata/presto/blob/epic/timestampp/6-candidate/presto-hive/src/main/java/com/facebook/presto/hive/TimestampRewriter.java

@maxwellzdm please note that i view this patch as still in experimental phase (therefore you need to enable it explicitl

[2018-11-08 08:00] maxwellzdm commented on #11867
@findepi  I've tried

SET SESSION

 But It still seems to be not work.
And I found that the result of the `show session` does not contains legacy_timestamp flag.

[2018-11-08 08:15] electrum commented on #11855
Is there an easy way to detect the tzdata versions for Joda and Java? If so, we could fail on startup if they do not match.

[2018-11-08 09:18] sopel39 opened #11875 "Store CBO statistics and cost per plan node id in QueryStatistics or QueryMetadata"
Ideally there should be a map: `planNodeId -> CBO stats and cost`. This would make parsing and comparing of estimates vs actual measurements easier.

This is a stepping stone towards https://github.com/prestodb/presto/issues/11615

[2018-11-08 09:19] sopel39 commented on #11875
FYI: @rschlussel @martint @arhimondr

[2018-11-08 09:22] sopel39 opened #11876 "Add feature toggle for treating Hive partitions as Presto partitions."
Presto partitions enable grouped execution and reduced memory footprint. Currently grouping execution works only with Hive buckets (when `hive.bucket-execution` is on).
It would be useful to have a toggle for treating Hive partitions like "buckets" so that users can take advantage of grouped execution when they don't have physical Hive buckets created. This would be useful in low memory scenarios

[2018-11-08 10:07] rdsedmundo commented on #2661
I really I'd like to hear what's the best recommendation around that.

I'm using AWS Athena which I suppose is backed by PrestoDB under the hood, and I'm needing a mechanism to do this sort of pagination, the tricky thing is that my CSV format by itself doesn't include a sequential field like an `id` or a `created_at` that I could filter for it manually using `WHERE` and then applying the `LIMIT`

[2018-11-08 11:01] SivaSamrajS opened #11877 "Not able to query hive tables from Presto"
I have started the Presto server and thrift server is running on localhsot/127.0.0.1:9083. Presto Server is started succesfully.

While querying the tables from presto-cli, getting the Readtimeout error. This is my hive.properties.

`2018-11-08T16:23:36.833+0530	INFO	query-execution-0	com.facebook.presto.event.QueryMonitor	TIMELINE: Query 20181108_105332_00000_tbfg4 :: Transaction:[6d19f6df-8706-4

[2018-11-08 13:12] maxwellzdm commented on #11867
By the way, this issue only occurs when I insert into a Hive table with parquet format.
For text formatted Hive Table, everything goes fine.

[2018-11-08 15:04] archongum opened #11879 "Why query `system.jdbc.columns` so slow."
# env
- presto 0.210
- jdk1.8
- dbeaver 5.2.4
- DataGrip 2018.2.4

# dbeaver
When query from a 'new' table - hasn't been queried in current connection - say
`select * from t_sales_bill` or `select bill_id from t_sales_bill`
it will automatically run the sql below to query all columns in `t_sales_bill` table AND **SO SLOW**(cost 36s)!! It happen whenever you query from a 'new' table and so wasting

[2018-11-08 15:09] archongum commented on #11879
If just run `select * from system.jdbc.columns`, you would kill it from WebUI before the result show up....

[2018-11-08 18:00] haozhun commented on #11855
Let's move discussion about solving the root cause to #8233

[2018-11-08 18:07] hellium01 commented on #8233
I think it might be more preferable to use joda exclusively. Updating joda version is easier than change a jvm version, also joda's time database got updated more frequently.

[2018-11-08 18:08] haozhun commented on #8233
@electrum @findepi

Joda gets default zone provider this way:

[code]

As a result, we can implement a custom `org.joda.time.tz.Provider` (public interface in joda) ourselves (by delegating to `ZoneInfoProvider` probably).

We can put all versions of tzdata in Presto distribution. Have our implementation of Provider detect the joda version of the current JVM, invoke `ZoneInfoCompiler` (which compi

[2018-11-08 18:09] haozhun commented on #8233
@hellium01  Using joda exclusively could be hard. I'll let @electrum and @martint to weigh in on whether that is doable if we have a strong will.

[2018-11-08 18:55] dain commented on #11876
This has come up a few times, but normally it is around writing Hive partitions.  Specifically, if you are writing a lot of partitions with a single query, you get one file per partition *per writer task*.  Since writers like ORC can use a significant amount of memory (128MB each), and small files hurt HDFS and read performance,  so there is a desire to support write distribution based on partitio

[2018-11-08 19:57] kokosing commented on #11879
It looks like your query is slow because `dbeaver` has a bug. This is very typical bug.

Please take a look at the query:
[code]

And specifically predicates: `TABLE_SCHEM LIKE 'platform_data' ESCAPE '\' ` and `TABLE_NAME LIKE 't_sales_bill' ESCAPE '\'`. Notice that your object names contains `_`, in pattern for `LIKE` operator `_` means any character and in your case it should be escaped. These p

[2018-11-08 20:50] phd3 opened #11881 "Queries not getting dequeued when the resource-group hits hardCpuLimit"
It has been seen that Presto (0.203) doesn’t dequeue a queued query of a user by itself, when that query was preceded by high-cpu utilization by the same user.

Presto throttles further query ingestion by a resource-group (RG) in case of high cpu utilization by that RG. For simplicity, let’s assume that we are talking about a leaf RG that is one of the direct subgroups of a root RG. Now, when a qu

[2018-11-08 22:03] rejithry commented on #2433
Any update on this? @cberner

[2018-11-08 22:32] pashalogin commented on #11877
It seems like partitions missing for your table. Is this internal table or external table? Try running msck repair on table before running query.

[2018-11-09 00:47] qqibrow commented on #10611
Sorry for the long holding. there was one test failure and I will fix it now.

[2018-11-09 01:37] archongum commented on #11879
@kokosing Result shows up in a second!
How can I fit this automatic query, changing it to the one like yours? It determined by presto-jdbc or dbeaver?
(BTW, any database tools for presto recommend?)

[2018-11-09 02:45] tdcmeehan commented on #11682
Closing as the checkstyle rule was reverted.

[2018-11-09 02:45] #11682 closed

[2018-11-09 02:45] tdcmeehan commented on #11420
Most of the ideas and significant performance wins were incorporated in #11453.

[2018-11-09 02:45] #11420 closed

[2018-11-09 02:47] atris commented on #2433
I am starting to take a look now

On Fri, 9 Nov 2018 at 3:33 AM, Rejith Raghavan <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2018-11-09 02:51] hustnn opened #11883 "ClusterMemoryLeakDetector"
com.facebook.presto.memory.ClusterMemoryLeakDetector    Memory leak detected. The following queries are already finished, but they have memory reservations on some worker node.

We are using presto 0.212. When we found this, what is the next step to find out the root cause of memory leak happens?

Thanks.

[2018-11-09 05:16] kokosing commented on #11879
It is a bug in dbeaver, I guess that they are using JDBC API to retrieve the list of columns, but they do not escape `_` character. Can you please file a ticket to them?

[2018-11-09 05:18] kokosing commented on #11879
Oh I noticed that you already created one: https://github.com/dbeaver/dbeaver/issues/4587

[2018-11-09 07:41] hustnn opened #11885 "Pushdown join constraints as Filter to the larger relation"
For one small table join a large table, if I want to eliminate the job by pushing down the small table as filter, Should I use  Dynamic filtering in Presto or some better way?

[2018-11-09 07:55] ciscoring commented on #2863
Any updae on this issue? My collections in mongodb have names with upper case.  Presto can't read these collections because it always change lower case.

[2018-11-09 10:04] findepi commented on #11876
This isn't what this issue is about. However good point also. Especially for ETLs. This is covered by https://github.com/prestodb/presto/issues/8901 Let's continue "writes" there.

yes, this is about reads.
This was briefly discussed on Slack. AFAIR @haozhun said it should be doable but just not implemented, as a lower priority.

[2018-11-09 10:05] findepi commented on #8901
For ETL-style queries, you need to bump several safely valves (and so -- going unsage) to get the query pass.

[2018-11-09 10:15] findepi commented on #11879
Let me close this in favor of https://github.com/dbeaver/dbeaver/issues/4587

[2018-11-09 10:16] #11879 closed

[2018-11-09 15:39] miyingLjw commented on #11005
INFO	main  com.facebook.presto.server.PrestoServer	======== SERVER STARTED ========
ERROR	Announcer-0	io.airlift.discovery.client.Announcer	Cannot connect to discovery server for announce: Announcement failed with status code 404:
ERROR	Announcer-0	io.airlift.discovery.client.Announcer	Service announcement failed after 51.91ms. Next request will happen within 0.00s

I met like this, how to solve t

[2018-11-09 18:10] ggreg commented on #11804
## Andrii Rosa
- [ ] all checked
-  11-08 08:23:17    4f679c640f Enable stats calculator by default
-  11-08 08:23:17    b5fb41f368 Ignore failures in stats and cost calculator
## Dain Sundstrom
- [ ] all checked
-  11-02 10:27:14    744be58824 Count max code point once per batch for slice readers
-  11-04 13:07:47    0677563bad Simplify QueryStateMachine getQueryInfo
-  11-04 13:07:47    3c148f0d

[2018-11-09 19:16] kokosing commented on #11804
[code]

[2018-11-09 20:31] dain commented on #11885
This really depends on exactly what the problem is.  Dynamic filtering can help reduce the IO, decompression, and decoding of data segments contain no matching rows.  Depending on the data distribution and physical organization, that could have no effect or a huge effect.  Normally the biggest win is a broadcast join for the "small" table, because this prevents redistribution of the larger table,

[2018-11-09 21:46] nezihyigitbasi commented on #11883
First, to make it clear, a "leak" in this context means incorrect memory accounting. When that happens in the server logs you should see the query ids for the queries with incorrect memory accounting/leak. Then, on the coordinator you can look at the `v1/cluster/memory` endpoint to see which operators of that query has memory allocations. Rest of the process is to investigate &  try to understand

[2018-11-09 21:59] tdcmeehan opened #11887 "Documentation doesn't render correctly if parens contained on left and right sides of function definition"
If you compare:

https://prestodb.io/docs/current/functions/aggregate.html#histogram

with

https://prestodb.io/docs/current/functions/aggregate.html#approx_distinct

The former doesn't render the arrow correctly, and it appears everything between the first paren and last paren is being rendered as if they were all parameters to the function.

[2018-11-09 23:45] raghavsethi commented on #11804
[code]

[2018-11-10 02:37] dain commented on #11885
In that specific case, I think you will want to implement index join for your HBase connector.

[2018-11-10 07:11] hustnn commented on #11885
Hi @dain ,

I saw the document of dynamic filtering here https://docs.google.com/document/d/1NYhEqYfmOPUqYFVzmOWvIXds5reFlaAi7z-zeJWqSLE/edit.

It is the same cased as I said. Let me also have a look at the index join, do you think the index join should be better for this kind of query?

[2018-11-10 09:08] sajeevpr commented on #3416
will this connector work with AD authentication?

[2018-11-11 00:09] hustnn commented on #7428
@electrum I find the dynamic filtering also solve this same case mentioned by @afn . When should we use index join and when should we use dynamic filtering?

[2018-11-12 07:14] franz-see opened #11896 "Speed up querying through Kafka Connector"
Hi,

I am new to PrestoDB. And im using it to query my kafka cluster.

I have it running and tried to query it via

[code]

And it has been running now for 1000 seconds and it's still not finished yet.

Is there a way I can speed this up (like saving kafka data into my prestodb server, or tuning parameters, or modifying my query, etc)?

Thanks,
Franz

[2018-11-12 10:06] rzeyde-varada opened #11899 "Adding efficient index-join support for a custom SPI connector"
Dear Presto maintainers,

We would like to add index join support to our (Varada) SPI connector, following the examples at #1202 ([TpchConnectorIndex](https://github.com/prestodb/presto/blob/3060c65a1812c6c8b0c2ab725b0184dbad67f0ed/presto-tests/src/main/java/com/facebook/presto/tests/tpch/TpchConnectorIndex.java)) and #9095 ([ThriftConnectorIndex](https://github.com/prestodb/presto/blob/3060c65a18

[2018-11-12 11:49] wenleix commented on #10657
Closed via https://github.com/prestodb/presto/pull/10841 with a different way.

[2018-11-12 11:49] #10657 closed

[2018-11-12 13:59] findepi commented on #11896
Hi
I don't know the answer. However, the user group (https://groups.google.com/d/forum/presto-users) is much better a  place for this kind of inquiries. I encourage you to close this issue and try asking there.

[2018-11-12 15:33] findepi commented on #11896
i see you already asked on Slack.

[2018-11-12 15:33] #11896 closed

[2018-11-12 16:42] mbasmanova commented on #11745
CC: @mbasmanova @rschlussel @picrinite

[2018-11-12 18:26] ggreg opened #11900 "Unsupported RowExpression type LambdaDefinitionExpression"
Reproducible query:

[code]

The query above works if i remove `WHERE p >= 0.75 AND q >= 0.75`.

I found commit 92b8a88 by bisecting from 0.213.

[2018-11-12 18:39] ggreg commented on #11900
Hold on, confirming by running the query against the commit again.

[2018-11-12 20:11] sopel39 commented on #11900
which commit is it?

[2018-11-12 20:17] dain commented on #11885
@hustnn it is a complex subject.  For me the key is you mentioned you have a very small table, and your backend system already has an index on they key.  This means that at worst case you could get a lookup on for the keys on each your machines.  My assumption is that this extra lookup cost (i.e., each machines instead of one machine) is less than the cost of a redistribution.  If on the other han

[2018-11-12 20:30] sopel39 commented on #11900
What is the stacktrace?

[2018-11-12 20:35] ggreg commented on #11900
[code]

[2018-11-12 20:35] sopel39 commented on #11900
Oh I see. Is this a release blocker?

[2018-11-12 20:36] ggreg commented on #11900
Yes, i was planning to revert the commit. What do you think?

[2018-11-12 20:39] sopel39 commented on #11900
Sure. You can revert it (if you are in a hurry) and I can address that later on. Keep in mind that the problem will still occurs if lambdas are part of join filters as expression equivalence is broken for them.

[2018-11-12 20:40] martint commented on #11900
@ggreg, unless the commit is fundamentally broken, we should fix the underlying issue, not revert it.

[2018-11-12 20:46] martint commented on #11900
Specifically, we don’t yet understand what’s the issue: is that commit bad or did it uncover a latent issue somewhere else?

[2018-11-12 20:46] sopel39 commented on #11900
The problem is with `ExpressionEquivalence.RowExpressionComparator#compare` which lack support for `LambdaDefinitionExpression` and `VariableReferenceExpression`
Support for them shouldn't be hard though.

[2018-11-12 20:47] sopel39 commented on #11900
@martint I think it's the latter.

[2018-11-12 20:57] yingsu00 opened #11902 "operator type is categorized as ScanFilterAndProjectOperator for ScanProject"
The ScanProject is categorized as ScanFilterAndProjectOperator operator in OperatorSummaries. It should be ScanProjectOperator instead. E.g. A query has a ScanProject operator as shown in the following source fragment:
[code]
The operator summary for the scan operator is as follows:
`{\"stageId\":2,\"pipelineId\":0,\"operatorId\":0,\"planNodeId\":\"1\",\"operatorType\":\"**ScanFilterAndProjectOper

[2018-11-12 21:37] ggreg commented on #11900
Thanks for the clarification, we'll wait for the fix

[2018-11-12 21:42] ggreg commented on #11900
This statement was confusing. My intent was to let @sopel39 (as the author of the commit and someone who has more context about why it was needed) evaluate the impact and discuss if we should revert the commit or fix it. I should have expressed it in a better way :).

[2018-11-12 23:29] dain commented on #11059
@ddrinka I believe you are referring to Hive sorted buckets, which is a pretty different feature from this issue.  Specifically, this issue is more about global total ordering where as Hive sorted buckets are limited to a single file created by a single machine.  As for the slowness of writing these compared to Hive, I would guess it is related to the current code using S3 for the temporary storag

[2018-11-12 23:52] dain commented on #11899
I didn't really follow your proposal for the "more general solution", but it sounds like a pretty big change to Presto (e.g., index splits are currently local machine only).  Also, it is possible that the impact of running a lot more drivers could really negatively effect the query performance, so it would take a lot of investigation.  If I were you, I'd copy the design of the Thrift connector and

[2018-11-13 00:20] sivankumar86 opened #11905 "ctas is not working for empty or null string column"
I want to create a table with empty string or null value but, it is failing with below error

Query 20181113_001815_00003_rt676 failed: Varchar length 0 out of allowed range [1, 65535]

create table empty_table_6 as SELECT * FROM (
     VALUES
         (1, '')
 ) AS t (id, name);

[2018-11-13 01:14] hustnn commented on #11885
@dain Thanks for your explains.
I am sill confused by the use case of implementing a index join for a connector and dynamic filtering. According to my understanding, the huge win for both approaches should be a data source with index join with a small table, correct me if wrong. Then, in this case, index join and dynamic filtering are quite similar, is it right？

[2018-11-13 03:04] raghavsethi commented on #11881
Why?

Another way would be to have a background thread that calls updateEligibility every so often

[2018-11-13 03:29] derekennui opened #11907 "presto does not support redash when source is hive and external table exists"
When I run the query

SELECT table_schema, table_name, column_name
        FROM hive.information_schema.columns
        WHERE table_schema NOT IN ('pg_catalog', 'information_schema')

it reports error
failed: outputFormat should not be accessed from a null StorageFormat

I found the error in source code in com.facebook.presto.hive.metastore.StorageFormat,change the code

public String getOutputFor

[2018-11-13 03:33] rockxsj opened #11908 "presto with large resultset performance problem"
We use presto as our MPP calc framework, in most time it works well.
But when the query resultset is large enough, for example we have some queries will return more than 1GB result.
When I use presto-cli or jdbc to query these queries and dump to disk, it will take about 3 minutes or more.

When I watch the query at presto monitor UI, I can see one worker buffed too many data, the screenshot below

[2018-11-13 05:09] kokosing commented on #11907
It looks like duplicate of #6972

[2018-11-13 05:09] #11907 closed

[2018-11-13 05:10] kokosing commented on #7721
Not yet today.

This issue looks like a duplicate https://github.com/prestodb/presto/issues/6972

[2018-11-13 05:35] #7721 closed

[2018-11-13 07:00] anoopj commented on #11239
Created pull request https://github.com/prestodb/presto/pull/11910

[2018-11-13 07:36] ggreg commented on #11900
The bug was found when running the verifier. We have a sample of more than 10 queries that triggers it and fail with the same stack trace. During the verifier runs, we used Presto 0.213 in production as the control.

[2018-11-13 07:47] ggreg commented on #11900
Let me know if another query would help to debug

[2018-11-13 07:48] derekennui commented on #6972
here is a simple makeshift :
I found the error in source code in com.facebook.presto.hive.metastore.StorageFormat, and change the code

public String getOutputFormat()
{
if (outputFormat == null) {
return "null";
//throw new IllegalStateException("outputFormat should not be accessed from a null StorageFormat");
}
return outputFormat;
}

[2018-11-13 11:10] ilkerc opened #11914 "Json parsing error while querying on memory"
`SHOW SCHEMAS FROM memory` fails with error message on 0.213:

[code]

[2018-11-13 13:16] Tradunsky opened #11916 "presto-parser: StatementSplitter treats comments as SQL statements"
Not sure if it is documented, but I was expecting that the StatementSplitter will return only SQL statements, omitting comments and other special characters.

Will try to contribute if my expectations are right.

[2018-11-13 15:01] Ralnoc opened #11917 "Improved Active Directory and LDAP Integration"
Currently the practices in place for the Active Directory/LDAP authentication integrations are not very flexible and make it difficult to work with on a platform running an advanced AD or LDAP implementation.

It is common for larger organizations to leverage many branched out organizational units to effectively handle the management of users within the organization. The existing implementation of

[2018-11-13 18:54] kbajda commented on #8569
@xor007 @BourneYu This issue is already fixed in the latest release of Presto from Starburst (a free download from www.starburstdata.com).  Please let me know if that helped in your setup.

[2018-11-13 20:45] electrum opened #11918 "Bad error message for approx_distinct(boolean)"
[code]

[2018-11-13 22:29] mbasmanova commented on #11905
@sivankumar86 Which connector are you using?

[2018-11-13 22:31] nezihyigitbasi commented on #11914
Seeing the entire stack trace would be helpful (you should start presto cli with `--debug` for that). I have seen similar error messages when the server throws while processing that particular request, so I recommend you to check the logs to see what happened when this particular request was being processed by the server.

[2018-11-13 22:43] mbasmanova commented on #11899
@rzeyde-varada Roman,

Is this the only problem with current implementation. If so, is CBO not helping here?

[2018-11-13 23:01] mbasmanova commented on #11777
@hellium01 Yi, would this require committing to an intermediate representation of a query? E.g. have a way to represent the query plan tree in a backwards compatible way?

[2018-11-14 02:39] mbasmanova opened #11919 "java.lang.IllegalArgumentException in distributed spatial join over union"
Distributed spatial join over union fails with `java.lang.IllegalArgumentException`:

[code]

The following query reproduces the issue when `spatial_partitioning_table_name` is set:

[code]

[2018-11-14 03:31] mbasmanova commented on #11804
[code]

[2018-11-14 07:29] yangjun616 commented on #10736
we use 0.198, we can read the table create with avro.schema.literal .But when we alter the table properties add some fields ,we meet the same error

[2018-11-14 08:04] qli-aa opened #11922 "can not insert data into existing partition"
Presto-0.212

reproduce issue:
1.create partitioned table in hive or presto
2.add a partition into the table in Hive (because presto doesn't support add partition)
3.run `insert into table_1 select fields from table_2 where partition_key=partition_value` in presto
   then query failed 'Error moving data files'
   if I drop partition in Hive, then re-run the query, it succeed
looks like, if I want

[2018-11-14 08:58] qli-aa commented on #11922
happened with Hive managed table and external table

[2018-11-14 09:49] rockxsj commented on #11908
Hi, when I follow the query, I think I have found the reason...

Because the client get result by a series of queries, each query will get part of the result. In the version before v0.213, each query will only get 1MB data, so 1GB data will need about 1000 times queries http request. In v0.213, the client can modify the fetch size by the new param named "targetResultSize".

:)

[2018-11-14 09:49] #11908 closed

[2018-11-14 12:39] ankitdixit commented on #9783
@martint @findepi I see that this issue still exists. Can i work on this?

[2018-11-14 17:20] findepi commented on #9783
i started to look into this yesterday.

[2018-11-14 18:07] haozhun commented on #11908
In general setups, the connection between Presto client and Presto coordinator is low latency. In such case, making each chunk larger simply won’t help because the additional roundtrip was never the bottleneck. If this is not the case in your setup, increasing it may help. But don’t expect anything dramatic.

Note that Presto client protocol is not designed to stream large amount of data. As you n

[2018-11-14 22:56] arhimondr opened #11928 "Reading ORC files fails"
[code]

[2018-11-14 22:59] arhimondr commented on #11928
This commit https://github.com/prestodb/presto/commit/87f7e51c99963787f71027e749cf1e10815180fb#diff-2699d3c3c091813ca823fc2a9e2b2ee6R469 uses `ColumnStatistics.mergeColumnStatistics` to merge row group stats. Before, the `ColumnStatistics.mergeColumnStatistics` was used only when writing ORC files. ORC file writer in Presto doesn't set type specific statistics, such as `StringStatistics` or `Integ

[2018-11-14 23:01] arhimondr commented on #11928
CC: @haozhun , @wenleix , @dain , @kevinwilfong

[2018-11-14 23:07] #8695 closed

[2018-11-15 00:55] haozhun opened #11930 "Integer overflow when turning dictionary into direct in ORC writer"
[code]

[2018-11-15 01:10] rockxsj commented on #11908
@haozhun Thanks for your reply.

 In my use case, I query the detail data in hive through presto by JDBC driver and export the query result to a local file, and then another thread import the result file to a GreenPlum cluster.

In the past our detail data was stored in another GreenPlum cluster, and the above pipeline worked well because the COPY command of GeenPlum have a very high performace.

[2018-11-15 01:24] nitenA opened #11931 "Connecting Presto to Secured SASL Kafka"
Is there any way i can connect Presto to secured kafka which uses sasl_plaintext protocol with user id and password? I tried using kafka.security-protocol property in catalog kafka.properties but seems only available in certain version. I am in process of upgrading to master.

Please provide properties where to provide username and password?
I do have jaas conf file like below.

KafkaClient {
   o

[2018-11-15 07:54] photogamerun opened #11933 "When I execute a query presto work always oom"
I dump the heap and see there are lots of  com.facebook.presto.orc.proto.OrcProto$ColumnStatistics object in jvm, and it become more and more finally memory crashed, Can some one help?
num     #instances         #bytes  class name
----------------------------------------------
   1:      15275864     3586045728  [B
   2:      12429169     1491500280  com.facebook.presto.orc.proto.OrcProto$ColumnSt

[2018-11-15 08:51] photogamerun commented on #11933
class OrcPageSourceFactory
OrcReader reader = new OrcReader(orcDataSource, metadataReader, maxMergeDistance, maxBufferSize, maxReadBlockSize);

We have an ORC file, with 33651 strips and 139 columns, So it will generate finally 33651*139 columnstatic instances, for one split, since this file includes 64 hdfs blocks, so I set  hive.max-initial-split-size=256MB it still generate 64 source splits to

[2018-11-15 09:28] #11900 closed, assigned to sopel39

[2018-11-15 14:47] wenleix commented on #11930
I suspect it's because one single row group can be too large after converting to direct encoded. I need to investigate the issue with production data.

As a separate question, Given we have seen similar stacktraces in the past, @dain does it make sense to make the following two methods return long instead of integer:
[code]

since it's legit to have `ChunkedSliceOutput`'s size exceed integer.

[2018-11-15 16:39] BourneYu commented on #8569
Hi @kbajda @anusudarsan ,I install Presto(v0.213) and setup AD(LDAPS) integration as described in https://prestodb.io/docs/current/security/ldap.html#presto-cli-execution .
Java Version: java-1.8.0-openjdk-1.8.0.191.b12

bin/launcher run --verbose,I getting the below error :
Error injecting constructor, java.lang.RuntimeException: javax.naming.CommunicationException: anonymous bind failed: ds.dev.

[2018-11-15 16:47] #11919 closed

[2018-11-15 17:14] ankon commented on #10535
As I just spent quite some time on that: When using S3 (or compatible) with version 4 signatures, make sure to use `AWSS3V4SignerType` and not `AWS4SignerType` as `hive.s3.signer-type`.

[2018-11-15 19:09] tdcmeehan commented on #11804
[code]

[2018-11-15 19:41] bruth opened #11936 "presto-postgresql: create view support"
Hi! I tried creating a view against a Postgres connector, however I get the message:

[code]

I know this typically means support has not been implemented yet. However looking at the "connector limitations" on the [postgresql connector docs](https://prestodb.io/docs/current/connector/postgresql.html), it doesn't list `create view` so I wanted to check which one is incorrect?

In any case, what is

[2018-11-15 20:00] ggreg commented on #11804
@electrum can you summarize your changes?

[2018-11-15 20:00] ggreg commented on #11804
@sopel39 are you done with your changes summary?

[2018-11-15 21:04] l1x commented on #11487
Thanks @ryanrupp. I might have been running into this problem. Unfortunately I do not have access to this cluster anymore to test. Thanks for the explanation and the links though.

[2018-11-15 21:04] #11487 closed

[2018-11-15 22:20] electrum commented on #11804
[code]

[2018-11-16 01:57] VicoWu opened #11939 "Max retry attempts and max wait time for hive metastore client should be configurable"
I find the when `ThriftHiveMetastore` trying to connect to hive metastore, it always using the default `DetryDriver` whose max retry attempts is `DEFAULT_RETRY_ATTEMPTS` whose value is `10`  and max retry time is `DEFAULT_MAX_RETRY_TIME` whose value is `30s`;  All that user could setup currently is the timeout by `hive.metastore-timeout`, but for example, when I want to set the `hive.metastore-tim

[2018-11-16 01:58] nitenA opened #11940 "kafka.consumer.SimpleConsumer Reconnect due to socket error"
I am getting below exception.

Secondly, when are we planning to update presto-kafka to have latest kafka client as it's using old SimpleConsumer. I have tried all possibilities to change bytebuffer and connect timeout but nothing works.

/**
 * A consumer of kafka messages
 */
@deprecated("This class has been deprecated and will be removed in a future release. " +
            "Please use org.apac

[2018-11-16 04:34] guozygeorage opened #11941 "Hive's query results are different from Presto's"
They have the same data source

For exampe , The format of the table is parquet ,
but Presto sql  search_word = '童鞋'  is no result,
Presto sql  search_word liek '童鞋%'  have result,
Hive both have result.

I don't know the reason. I hope you can help me solve it. Sometimes this can appear
Thank you very much

Presto version :0211
Hive version: hive-1.1.0-cdh5.10.2、

Hive image
![image](https://user

[2018-11-16 09:57] sopel39 commented on #11804
[code]

@ggreg added one more note

[2018-11-16 10:02] ankon opened #11943 "FileHiveMetastore example/documentation?"
I'm trying to use presto to query data in ORC files produced by [pinterest/secor](https://github.com/pinterest/secor), stored in S3. My environment doesn't have any Hadoop/Hive setup, rather we use Kafka directly. Using presto against Kafka isn't workable (too slow, and would require infinite retention of the data inside Kafka). My table descriptions are produced automatically based on application

[2018-11-16 15:34] sopel39 commented on #10812
@raghavsethi Can it be closed now?

[2018-11-16 15:35] arhimondr commented on #10812
Yeah, i should be fixed by now.

[2018-11-16 15:41] ryanrupp commented on #11943
Since you're using AWS, Presto can be configured to use AWS Glue as a Hive Metastore. This is specific to using EMR but the general idea is the same, see [here](https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-hive-metastore-glue.html).

You can launch an EMR Presto with the checkbox enabled to use Glue as the Hive metastore to see how this ends up being configured on the EC2 instances it u

[2018-11-16 18:19] raghavsethi commented on #10812
@dain has a PR that removes MemoryAwareExecution completely.

[2018-11-16 22:55] cemcayiroglu commented on #11863
@electrum I can take this if you are not working on it?

[2018-11-17 00:02] dain commented on #11922
There are 3 distinct error messages that start with `Error moving data files`.  Can you post the full stack trace?

[2018-11-17 03:56] dain commented on #8569
I don't know much about LDAP, but the error looks like it is coming from basic SSL setup and not LDAP in particular.  This error `SSLHandshakeException: CertificateException: No subject alternative DNS name matching ds.dev.opg.cn found" means that you are attempting to connect to a host named `ds.dev.opg.cn` (which was specified in your config), and the host is returning a certificate that does no

[2018-11-17 05:06] dain commented on #11939
cc @electrum

[2018-11-17 22:13] dain commented on #11930
@wenleix, it seems reasonable to change `size()` to return `long`, but it is a backwards incompatible change.  @martint and @electrum, do you think it is worth it to make this change now, or should we introduce a new method for this?

[2018-11-18 07:04] martint commented on #11930
It's a little strange for SliceOutput::size() to return long, since SliceOutput is designed to write to a Slice, which only supports int lengths and offsets.

[2018-11-18 21:33] sivankumar86 commented on #11905
@mbasmanova Thank you for taking a look. it is hive connector in EMR 5.18.0

[2018-11-18 21:53] findepi commented on #11905
@sivankumar86 please provide Presto version, include full error stacktrace (run cli with `--debug`) and contents of `hive.properties`

[2018-11-19 04:12] sivankumar86 commented on #11905
Presto version

Presto 0.212

hive.properties
==========

hive.metastore-cache-ttl=20m
hive.config.resources=/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml
hive.non-managed-table-writes-enabled = true
hive.s3-file-system-type = EMRFS
hive.hdfs.impersonation.enabled = true
hive.metastore.uri = thrift://ip-172-31-20-209.ec2.internal:9083

stacktrace:

presto:default> create table empt

[2018-11-19 06:48] atris commented on #10929
Should we resolve this?

[2018-11-19 07:31] kokosing commented on #11905
What hive version do you use?

[2018-11-19 08:30] sivankumar86 commented on #11905
hive 2.3.3

[2018-11-19 08:31] rzeyde-varada commented on #11899
Thanks @dain !We will proceed

[2018-11-19 08:42] kokosing commented on #11905
CDH or HDP?

[2018-11-19 08:46] findepi commented on #11905
I guess this has nothing to do with CTAS. Rather, than we ask Hive to create column of `varchar(0)` type. @sivankumar86 can you try
[code]
and
[code]

[2018-11-19 08:47] findepi commented on #10929
I will take care of this.

[2018-11-19 18:12] nezihyigitbasi commented on #11928
Closing as #11929 is already merged.

[2018-11-19 18:12] #11928 closed

[2018-11-19 21:32] hellium01 commented on #11777
We probably need a way to represent a subset of expression tree. To represent a query plan tree will be much more complicated (though will be helpful if we want address the problem in a more generic way: session 4).

[2018-11-19 21:38] sqlaide commented on #11917
+1

[2018-11-20 04:23] imperio-wxm opened #11947 "PLANNING state take long time"
What meaning of `PLANNING ` on web ui？

When I run 10 query,and 10 query be PLANNING state for a long time( 20s ), after that running so fast(each query take less then 10 s).

Actually query run time is 10s, but in PLANNING state waste 20s, return all result  will be 10s + 20s = 30s.

E.g:
![image](https://user-images.githubusercontent.com/8111349/48755764-7deffd00-ecd1-11e8-820e-d1e426e3c999.png)

[2018-11-20 06:45] photogamerun commented on #11933
@dain
1) the quick solution for me is to double the presto worker number in my environment and limit the concurrency of split thread,

on other hands, I implement CachingOrcMetadataReader so below is my source code
public class CachingOrcMetadataReader
        implements MetadataReader
  private OrcMetadataReader orcMetadataReader = new OrcMetadataReader();

    private OrcDataSourceId id;

    pr

[2018-11-20 06:52] photogamerun commented on #11933
@dain  this issue hadoop on one of my presto cluster  which has   Physical machine and each one has 110G memory , 48 cores.

After then I put the query one a bigger cluster which has 24 machines and each machine with 180G memory and 64 core, use default conf 32MB per split, finally it works。

[2018-11-20 07:01] pklachmegowda opened #11948 "Feature Request: Presto Connector for Snowflake"
We are currently using Presto as the query engine as part of our solution, and we see a number of customers asking for enabling querying / data discovery on Snowflake database.
[]((https://www.snowflake.com/)

Would love to have a Presto connector for Snowflake (rather than implementing a custom solution based on JDBC).
Any plans for having a connector for Snowflake?

[2018-11-20 07:04] photogamerun opened #11949 "Presto worker experiences high System CPU 62.08% presto-server [kernel.kallsyms] [k] _spin_lock before recreating a new FileSystem"
recentlly
I am suffering the high cpu issue in presto worker,  when I use top -p $PID -H  command i found the high cpu thread alway pending on this method .$gen.PageFilter_88896.filter always

may be there have connection between hdfs and presto I guess for this issue, because once our enginnering switch active namenode node from one to other, some of my presto worker will suffering this high cpu

[2018-11-20 07:11] imperio-wxm commented on #10700
@aandis  @kokosing

Hi,this optimize merge in to the latest version?
I use presto on cassandra and encountered the same problem,.

My partition key is time(2018-11-20 00:01). When I query all day data must be like this: `time in (2018-11-20 00:01,2018-11-20 00:02,2018-11-20 00:03.........)`.

And plan query will be cost much time,however data processing  so fast.

[2018-11-20 07:12] photogamerun commented on #11949
![image](https://user-images.githubusercontent.com/16651123/48757063-6ff0ab00-ecd6-11e8-9fa1-5c3954e8f167.png)

the cpu usage are so crazy, in this cluster 24 machines, only 3 machines has this bug, it really impact all the machine in this cluster and cause cpu high in all the machines

[2018-11-20 08:09] Praveen2112 commented on #11947
Planning time depends on the type of query you are running (query with too many joins, how many columns are being selected, etc) and it also partially depends on the connector you are using. What is your presto version ? There was a patch in 0.211 which reduces the query time involving too many joins.

[2018-11-20 08:33] kokosing commented on #10700
I think you need to change the partition key to `DAY`. Your partitions are too fine grained. How much data each your partition contain in MBs, how partitions do you have, how much time Presto needs to process each partition?

[2018-11-20 08:49] imperio-wxm commented on #11947
@Praveen2112

My presto vesion: 0.149
And use cassandra connector, Basically similar to the above issue, When I use lot of params in `in` grammar to find partition key, plan state cost time more than process.

[2018-11-20 09:08] photogamerun commented on #11949
java 8

I don't think it has some relation with filter, because a when I switch to other user with the same query cpu is not high

we use kerberos model
from my observed, I found PrestoFileSystemCache cache the UGI and fsSystem, when namenode switch from active to standy but the UGI still point to old fsSystem, looks like kerberos side cause the cput high, because later when the keberos ticket exp

[2018-11-20 09:12] imperio-wxm commented on #10700
@kokosing

Each partition has less data, may not exceed 1MB, each table has 1440 partitions（one minute per partition）, cassandra data saved for 7 days.

I don no know how much time  process each partition, but process  all data not cost much time, when job started plan state cost much time, and the more partitions the longer it takes.

[2018-11-20 09:15] photogamerun commented on #11949
My workaround does't resolve the issue absolutely it still exist, but it only impact small time period.
it only related to how our company used presto, we only use presto on work time, switch the namenode is always do manually by our engineer at night so,  in previous the expired day is 24 hour, so it will impact next work day, now I change the value to 0.01 so it only impact  15 minutes.

[2018-11-20 16:07] findepi commented on #11943
@ankon AFAIK, `FileHiveMetaStore` should be view as a helper class allowing us to run tests without external Hive Metastore process.
For example, `com.facebook.presto.hive.metastore.file.FileHiveMetastore#isDatabaseOwner` has some hard-coded logic that any user has owner privileges in `default` schema, which is OK in tests, but not OK in any real-life usage. For these reasons, we're not planning t

[2018-11-20 16:07] #11943 closed

[2018-11-20 17:00] gitcloned commented on #4839
Can simple aggregate functions push down be supported in Presto?

This can improve performance of some of the simple queries, look at this query for reference: https://stackoverflow.com/questions/53397707/presto-running-slower-than-sql-server

[2018-11-20 22:46] findepi commented on #11947
Please do upgrade. I doubt anyone else in the community runs 0.149, so you probably won't get help without upgrading.  Please open a new issue if the problem persists.

[2018-11-20 22:46] #11947 closed

[2018-11-20 23:21] ggreg commented on #11804
Release notes #11938

[2018-11-21 02:43] yangjun616 opened #11952 "presto 0.198 query slow down and work seems do not work"
we use presto 0.198 ,14 workers, sometimes query suddenly slow down and queue a lots ,even a very easy query takes long time . what we can see is that ,code_cache_usage use less ,all workers gc time and counts  is less ,it seems that the worker do very litter tasks.
First , we restart the coordinater ,it do not work.Then we restart all the workers ,it works .
And we can make sure tha all the catal

[2018-11-21 02:49] yangjun616 commented on #11941
I used to meet the same question, then i rebuild the table use  solve the problem.
presto sql :
CREATE TABLE orders_by_date
COMMENT 'Summary of orders by date'
WITH (format = 'ORC')
AS
SELECT .......

I think it may be the format reason,using ORC fromat may help you

[2018-11-21 02:57] imperio-wxm commented on #11947
@findepi

Not the reason for the presto version,I use version=0.213 plan state still cost more time with cassandra connector.

My partition key is time(2018-11-20 00:01). When I query all day data must be like this: `time in (2018-11-20 00:01,2018-11-20 00:02,2018-11-20 00:03.........)`

In find this code in `presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java`

[2018-11-21 08:37] #11804 closed

[2018-11-21 08:39] mbasmanova opened #11953 "Optimize spatial joins by accelerating build-side geometries"
ESRI library provides a way to pre-process a geometry to speed up subsequent relationship tests.

[code]

Micro-benchmarks for point-in-polygon checks using polygons with different number of vertexes show significant performance gains. In the following benchmark the number of vertexes is: 93 (small), 758 (medium), 1486 (large), 9533 (x-large). All polygons except for medium one show dramatic impro

[2018-11-21 09:02] photogamerun commented on #11933
update the CachingOrcMetadataReader
/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "A

[2018-11-21 09:04] photogamerun commented on #11933
OrcPageSourceFactory
/*
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 *

[2018-11-21 12:16] jagill commented on #11953
Any idea why the medium benchmark didn't improve?  The other benchmarks look insensitive to the vertex count (which we'd expect since the preparation means the check scales like O(lg(V)) ); could the configuration/validity of the medium polygon mean that preparation failed in some way?

[2018-11-21 12:38] tooptoop4 opened #11955 "Feature request direct s3 parquet connector without hive"
Since parquet contains column metadata I am thinking no need to setup hive , can have presto query direct to the parquet on s3

ie https://drill.apache.org/docs/s3-storage-plugin/

[2018-11-21 12:49] zuhuanchen opened #11956 "Build failed cause by goal pl.project13.maven:git-commit-id-plugin:2.1.13"
[ERROR] Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.1.13:revision (default) on project presto-root: Execution default of goal pl.project13.maven:git-commit-id-plugin:2.1.13:revision failed: A required class was missing while executing pl.project13.maven:git-commit-id-plugin:2.1.13:revision: com/fasterxml/jackson/core/type/TypeReference
[ERROR] ---------------------------------

[2018-11-21 13:10] talgalili commented on #5636
(for my future reference, the name of the function is reverse, see: https://prestodb.io/docs/current/functions/array.html)

[2018-11-21 15:34] mbasmanova commented on #11953
@jagill James, it turns out that medium-vertex-count polygon I picked for the benchmark is such that a center of its bounding box (a point I use to run point-in-polygon check) falls on the border. The `mild` acceleration I applied is effective only for points that are clearly inside or outside of the polygon and falls back to regular logic if point is believed to be on the border. That's why the r

[2018-11-21 20:00] tdcmeehan commented on #11777
(Memorializing a quick point I brought up offline; the scope of the comment is technical in nature and not a comment on the overall proposal.)  The output function above is incorrect--it should be `HyperLogLogFunctions#cardinality`.  But this brings up the question of how to represent the scalar function for the output function, most of them are represented as simple static functions and not class

[2018-11-21 20:42] findepi commented on #11777
@tdcmeehan can you elaborate? To me, this looks like a middle part of some discussion. Can you add more context?
Does this refer to @mbasmanova 's question about query IR?

[2018-11-21 20:51] tdcmeehan commented on #11777
@findepi The observation is more related to syntax: if you look at the `stateOuputer` in the `@OutputFunction` annotation above, it refers to `MapCardinalityFunction`, which gives you the cardinality for a *map*.  It actually should refer to `HyperLogLogFunctions#cardinality`, which gives you the cardinality for a *HyperLogLog*.  But that begs the question of how one represents that, since you can

[2018-11-21 22:58] sopel39 opened #11959 "Sampled partition stats have greatly underestimated NDVs for some columns"
tpch_sf100. orders (partitioned):
[code]
[code]

Should we add extrapolate NDVs instead? It seems that partitions might often be different chunks of data so that NDVs don't overlap.
Alternatively we could store HLL state per column as an auxiliary partition property and calculate extrapolation based on merged HLLs

FYI: @arhimondr @findepi

[2018-11-22 00:37] raghavsethi opened #11961 "Release notes for 0.215"

[2018-11-22 01:03] yingsu00 opened #11962 "Add ASSUME UNIQUE SQL support for joins"
This is a proposal received from a user. I'm posting it here to get feedbacks if this is doable and doesn't violate any SQL language rules.

Motivation

In many queries that perform JOIN operations the assumption of the author of the query is that for every row on the left side of the JOIN no more than one line on the right side of the JOIN matches it. However, occasionally this is not the case be

[2018-11-22 02:09] martint commented on #11962
This is not standard SQL syntax. We are very careful about adding new features to the language due to concerns about compatibility with future revisions of the specification, and generally don't do it unless there's an very compelling reason and no alternative within the existing capabilities. We also look for precedent and consensus in other SQL implementations as a sign that the syntax might eve

[2018-11-22 02:09] #11962 closed

[2018-11-22 04:32] yingsu00 opened #11963 "Make Array_distinct to support rows with NULL"
Currently ARRAY_DISTINCT throws NOT_SUPPORTED exception if the value contains NULL:

Works:
    `SELECT     ARRAY_DISTINCT(ARRAY[(123, 'ABC'), (123, 'DEF')])`

Dies:
    `SELECT     ARRAY_DISTINCT(ARRAY[(123, 'ABC'), (123, NULL)])
Error: NOT_SUPPORTED
ROW comparison not supported for fields with null elements`

Array_distinct is designed to behave using distinct semantics, in which NULL is not dis

[2018-11-22 05:46] yingsu00 commented on #11493
@amitdesai03 Hi Amit, the RoaringBitmap is definitely interesting, but we need to fix this soon so I will work on it using the TypedeSet for now. Please feel free to create a new issue and try the RoaringBitmap solution. Thank you!

[2018-11-22 08:55] ch7025833 opened #11965 "Max number of columns ORC reader can support with partition"
Hi, I have a table stored in Hive with ORC format, and it probably has 1000 columns stored in orc file, it only has 25,000 records inside. I try to create a new table(CATs) with selecting all fields from this table, and partition it into a partitioned table(probably 80 partitions),  then 1 worker node soon gets OOM, and stop responding. The worker has 20GB free memory, and soon gets exhausted.

I

[2018-11-22 10:15] sopel39 commented on #11959
I don't think it's enough. Let's say you partition by date and you have two data columns:
1. `userId`
2. `eventId`

Then for 1) you should rather take max (users come from the same id pool), even though there might be approximate `userId` NDV as partition row count
For 2) you should sum because each event id is unique.

I actually like the idea of storing HLL as additional property to standard col

[2018-11-22 10:47] findepi commented on #11959
If we can store more info that would allow to resolve this problem, let's go for it. I like the idea too.
Minor note: before using HLL state stored along stats, we should validate it is not outdated. E.g. if NDV in stats != NDV based on HLL, we don't use it. This might be necessary for the case where Presto calculated stats (with HLL), then data was changed substantially (ETL) and some other tool

[2018-11-22 11:02] alvespat commented on #2863
I'm getting the same issue with Sqlserver connectors and tables defined in uppercase... ( only be able to query tables where names are defined in lower case.... :-(  (presto 0.203)

[2018-11-22 16:22] #10000 closed

[2018-11-22 20:01] #11723 closed

[2018-11-22 23:31] #8232 closed

[2018-11-22 23:37] dain commented on #11941
@guozygeorage can you run `SHOW CREATE TABLE` on your test table?  I'd like to know what format you are using.  The problem you are seeing is created by the filtering system using statistics in the files to skip the data.  Either the statistics in the file are bad, or the code in Presto the processes the statistics is bad.

[2018-11-22 23:49] dain commented on #11933
It is good to see you got it working for you use case.

[2018-11-22 23:49] #11933 closed

[2018-11-22 23:55] dain commented on #11956
I would guess that you got a bad checkout.  Try updating to the latest commit (fad950912543107f1d1eb71a2471e9c515726634) which successfully built on travis (https://travis-ci.org/prestodb/presto/builds/458590102).

[2018-11-22 23:58] dain commented on #11952
In my experience, this is almost always caused by slow storage, and specifically S3 throttling.  You can verify this by looking at a jstack for you workers to see where the worker threads are "stuck" (worker threads are named after the query).  If they are stuck in s3 code, you are getting throttled.

[2018-11-23 00:19] dain commented on #8510
There are two levels of mapping in Hive. Table to partition and partition to file.  The `hive.parquet.use-column-names` and `hive.orc.use-column-names` properties effect the second mapping (partition to file).   It does not look like there is any Presto configuration to change table to partition mapping to name based.  Is that a feature Hive supports?  If so, can you point us at the documentation

[2018-11-23 00:30] dain commented on #11493
I wonder why this was written using sort in the first place.  Isn't the more natural solution to build a set out of the left elements, and then for each right element attempt to add it and if it was new, add that element to the output?  Also, this function can work without any copying using dictionary blocks like we did with the `ngram` function.

[2018-11-23 00:31] f355 commented on #8510
Thanks for reopening this, @dain. Not having name-based mapping on the first level really hinders the schema evolution possibilities.

We're not using Hive, we rely on AWS Glue to provide the metastore backend, so I can't really say anything about it. But as far as I understand Presto architecture, only Hive metastore is being used, the rest is reimplemented, so mimicking Hive 100% doesn't seem ne

[2018-11-23 00:39] dain commented on #11965
There are no limits that we know of, but each column takes memory from the system.  This memory is accounted for and will fail the query if the limits exceed the max memory allocated to the query.  @wenleix at Facebook has done a lot of work to ensure the memory accounting it accurate, so I would guess that the workers are configured to use more memory than is actually available in the JVM.

I wou

[2018-11-23 01:34] dain commented on #11941
@nezihyigitbasi and @zhenxiao, is there a way to validate the statistics in existing Parquet files?  If we are confident the statistics in the file are correct, then there is likely a place in the Presto Parquet reader that is comparing using `java.util.String`.

@guozygeorage  Can you try creating copying the table in Presto with `CREATE TABLE test WITH (format = 'Parquet') AS SELECT * FROM tmp.t

[2018-11-23 01:46] guozygeorage commented on #11941
I creating copying the table in Presto with CREATE TABLE tmp.tmp_srch_to_category_guozy_test WITH (format = 'Parquet') AS SELECT * FROM tmp.tmp_srch_to_category_guozy  ,  the results are normal.
@dain

[2018-11-23 05:18] wenleix commented on #11493
@dain: `array_interasect` was added in February, 2015 in https://github.com/prestodb/presto/pull/2408, which is prior to `TypedSet` (May 2015).

@cberner did suggested to use hash map to optimize optimize the function: https://github.com/prestodb/presto/pull/2408#discussion_r25380098 . However it ends up with using sort.

[2018-11-23 06:49] ch7025833 commented on #11965
thanks for your reply ! I am going to try your advise and maybe also try to reduce some columns

[2018-11-23 06:49] #11965 closed

[2018-11-23 07:30] findepi commented on #11965
@dain @wenleix would that be possible to misconfigure like that?

[2018-11-23 07:46] findepi commented on #8510
When taking to Hive Metastore we follow Hive's behavior because this is our "reference implementation" as far as what should be supported/allowed is concerned.

When we talk to AWS Glue (purposefully or conveniently reusing Hive connector's infrastructure?), what should be our "reference implementation"? Or maybe Glue has some docs that specify how table and partition schema mismatch should be rec

[2018-11-23 08:13] archongum opened #11968 "Add rand(seed) function"
`new Random(seed).nextDouble()`

[2018-11-23 08:40] archongum commented on #11968
seed is a String would be better.
[code]

[2018-11-23 08:55] f355 commented on #8510
AWS has their own Presto fork(?), Athena. Here's how it handles schema evolution:
https://docs.aws.amazon.com/athena/latest/ug/handling-schema-updates-chapter.html
https://docs.aws.amazon.com/athena/latest/ug/updates-and-partitions.html

[2018-11-23 09:04] sbmaggarwal commented on #3918
Hi @ZJULothar I am not sure about the HAProxy but as of now, PrestoDB doesn't support having multiple coordinators and this is what happens if you try to configure multiple coordinators, the nodes infinitly switch between those coordinators whenever each coordinator ask for a heartbeat.

[2018-11-23 09:09] ZJULothar commented on #3918
@sbmaggarwal OK, thanks for your reply

[2018-11-23 09:30] buremba commented on #4839
@gitcloned, one workaround is to create views in the source database (SQL Server in your case) and query those views from Presto.

[2018-11-23 09:45] findepi commented on #11968
Wouldn't that always produce the same value? Do you mean to compute some kind of a hash of `seed`?

[2018-11-23 09:51] HariSekhon commented on #3918
Did you use the config at the link I provided? That should do an Active / Backup style HAProxy which means the second coordinator should not be used unless the first goes down.

The other alternative is to use heartbeat / pacemaker traditional active/standby clustering to keep one coordinator shut down until the other one fails, at which point the cluster tech would start up the other coordinator

[2018-11-23 09:55] ZJULothar commented on #3918
@HariSekhon I got it, thanks buddy

[2018-11-23 10:38] imperio-wxm opened #11969 "Performance Tuning for Cassandra connector"
When I use presto for same complex aggregation on cassandra. Cassandra nodes are low disk io but very high cpu,gc is not frequent, no full gc.

And use lots of `in` grammar with cassandra partition keys, along with the increase in partition keys list query time consuming and CPU is more and more.

The amount of data is not very large,just have lots of partition keys with `in` grammar.

Is there an

[2018-11-23 14:15] gitcloned commented on #4839
Thanks for update, would definitely be helpful if aggregate push down can be supported

[2018-11-23 14:44] findepi commented on #11777
For reference -- this has been discussed in the past at https://github.com/prestodb/presto/issues/4839

[2018-11-23 14:46] findepi commented on #11918
Is it bad error message? Or, maybe, `approx_distinct(boolean)` could be supported?

[2018-11-23 14:50] findepi commented on #11830
Fixed by https://github.com/prestodb/presto/pull/11864

[2018-11-23 14:50] #11830 closed

[2018-11-23 14:50] #11825 closed

[2018-11-23 17:38] martint commented on #11918
We could certainly support it for completeness, but it’s a little nonsensical. The “approx” part of the function is to deal with large cardinalities within a limited memory budget. For booleans, it’s trivial to do it exactly and with constant memory, so the “approx” notion would be misleading.

[2018-11-23 17:47] findepi commented on #11918
I am aware. I am thinking about the case where someone generates `approx_distinct(column)` for every column in a table (for some reason).
Then adding `approx_distinct` support for booleans (which should in fact be exact) makes some sense.

[2018-11-23 22:50] dain commented on #8510
@findepi according to the second link above (https://docs.aws.amazon.com/athena/latest/ug/updates-and-partitions.html) Athena applies the name-based matching property to the table to partition mapping.  I'm like to know if this is just a Athena/Glue thing or a general Hive thing we got wrong.  Either way, I believe Presto should preform the same as Hive in these environments.

[2018-11-23 22:51] dain commented on #11968
@archongum, can you describe your high level goal for a function like this?

[2018-11-23 23:04] hocanint-amzn commented on #8510
@dain, @f355, @findepi
Sorry for the long delay in responding. It is true that Athena does perform name matching instead of index matching for readers that read by name (like Parquet, ORC assuming the flags to enable reading by index is not turned on) in the HivePartitionManager. I was planning to provide a patch to share with the OS community but I didn't get around to it yet. Since the amount of

[2018-11-23 23:38] martint commented on #11968
If the goal is to produce a deterministic sequence of random numbers, this wouldn't be sufficient. It would be necessary to enumerate splits and rows in a deterministic order and well-defined partitioning.

Since Presto is a distributed system, using `new Random(seed)` on every worker/split would result in repeated sequences within the same query. The implementation would need to be based on somet

[2018-11-24 03:42] dain commented on #8510
@hocanint-amzn can you document the expected behavior here?  Also, if you can note any differences from Hive.  Eventually, we'll need to get this into the full docs.

BTW, assuming this is not what Hive does already,  I'm thinking we may want to consider adding an option for those using a regular Hive metastore.

[2018-11-24 03:56] archongum commented on #11968
@dain I get it now.
I think I want to generate a unique 0 to 1 double number for a input object(for me String it is). In the case, the function name is not `rand(seed)` maybe `uniq_double(x, 0, 1)`?
For example,
[code]
But according to above result, `String.hashCode()` is not the perfect seed by noting 0.895797.. is very close to 0.895707.. It would be find if inputs aren't sequential.
To improve:

[2018-11-24 19:02] dain commented on #11968
After you generate this `double` value what will you do with it?  My guess is you are interested in a stable hash for sampling.  In that case I would use the built in xxhash functions.  Something like:
[code]
This will get you a stable uniformly distribute hash value of the string.  The output value is a signed 64bit integer value.

[2018-11-24 20:42] findepi commented on #11961
[code]

 https://github.com/prestodb/presto/pull/11958

[2018-11-25 15:45] hiliuxg opened #11975 "How to limit the number and size of files generated when using hive's insert"
When I  use the hive's insert into function, I found that many small files were generated on hdfs, perhaps the number of files is related to the number of concurrent tasks. How do I control and limit the number and size of files? After all, many small files will affect the performance of hadoop.

[2018-11-25 22:03] findepi commented on #6655
I am closing this. https://github.com/airlift/airbase/pull/98 is not yet merged, but there is nothing else we plan to do here.

[2018-11-25 22:03] #6655 closed

[2018-11-25 22:08] findepi commented on #4583
I think `Cumulative Memory` is now converted to units. Therefore i am closing this as done.

[2018-11-25 22:08] #4583 closed

[2018-11-25 22:13] findepi commented on #11914
I am closing the issue.
@ilkerc if you still experience the problem, please provide full error stacktrace (running CLI with `--debug`).

[2018-11-25 22:13] #11914 closed

[2018-11-26 05:20] ayush-chauhan opened #11976 "Mismatched Domain types: date vs integer"
I am facing this error when I am trying to query the date type column in my table

`select d from aggregatedb.room_nights where d = cast(current_date as date) limit 10;`

**ERROR**

`com.facebook.presto.spi.PrestoException: Error opening Hive split s3://oyo/room_nights/year=2018/month=11/part-00016-59e12a09-bed9-4234-88d0-098df6d926bb-c000 (offset=0, length=1446668): Mismatched Domain types: date

[2018-11-26 05:34] yingsu00 opened #11977 "ARRAY_DISTINCT returns wrong results"
ARRAY_DISTINCT can't distinguish null from 0-value (e.g. 0 for INTEGER or false for BOOLEAN) when there're 2 elements in the array. Examples:

Correct
select ARRAY_DISTINCT(array[null, 0, 1])
-- [null,0,1]

Correct
select ARRAY_DISTINCT(array[null, 0, 0])
-- [null,0]

Wrong
select ARRAY_DISTINCT(array[null, 0])
-- [null]

correct
select ARRAY_DISTINCT(array[null, true])
-- [null,true]

Correct
sel

[2018-11-26 05:45] yingsu00 opened #11978 "array_intersect returns wrong results"
ARRAY_INTERSECT would skip 0-value if the arrays contain both NULL and 0-value:

Correct:
select ARRAY_INTERSECT(array[ 0], array[0])
-- [0]

Wrong:
select ARRAY_INTERSECT(array[ 0, null], array[0])
-- [null]

Correct:
select ARRAY_INTERSECT(array[ 0, 0, 1, 2], array[0, 0, 1, 2])
--[0,1,2]

Wrong:
select ARRAY_INTERSECT(array[ 0, 1, 2, null], array[0, 1, 2, null])
--  [null,1,2]

Wrong:
select ARR

[2018-11-26 08:08] findepi commented on #11978
This looks related to https://github.com/prestodb/presto/issues/11963

[2018-11-26 08:44] findepi commented on #11977
I think this is basically the same as https://github.com/prestodb/presto/issues/11963 and should be fixed by https://github.com/prestodb/presto/pull/11979

[2018-11-26 08:56] findepi commented on #11975
My guess is that you're doing some kind of ETL into a partitioned table.
In that case, there will be multiple files created (per partition and per writer task). You can control number of writers:
- check you didn't increase `task.writer-count` config toggle
- reduce concurrency (fewer tasks): `task.concurrency` config toggle
- user writer scaling, so that you use fewer writers where possible: `sca

[2018-11-26 09:42] YanamadalaJaiPrakash commented on #8243
@drdee I came across the same issue , and tried casting both the fields to date and still it did not work.
However, on casting both sides to timestamp the query is working. Can anyone please help me with this.

[2018-11-26 15:59] ryanrupp commented on #11976
Will be either fixed by https://github.com/prestodb/presto/pull/10181 (issue with `date` specifically) or https://github.com/prestodb/presto/pull/11118 (cleans up this similar kind of issue for other types e.g. timestamp)

[2018-11-26 16:10] HariSekhon commented on #10174
Regarding scalable query execution, peer based systems like Elasticsearch, Impala, Apache Drill etc which can accept queries on any node allow for the advantage of simple round robin load balancing in front of the nodes to scale the queries without them being a single coordinator bottleneck.

[2018-11-26 19:22] shixuan-fan commented on #11961
[code]

[2018-11-26 20:02] martint commented on #9524
[code]

Hmm.. that's actually incorrect. It should return `23.206`, per the SQL spec:

[code]

and

[code]

[code]

Support for milliseconds field is not defined in the specification, but at first glance, it would seem reasonable to add support for it. However, it would introduce an inconsistency that I haven't thought much about yet:

`extract(minute from timestamp '2017-10-24 23:00:23.206')` ->

[2018-11-26 20:14] findepi commented on #9524
So `extract(second from timestamp '2017-10-24 23:00:23.206')` should be changed to have type `decimal(5, 3)`, right?
If we follow this path, we should probably not add `extract(millisecond ...`. But also it would be less needed -- My original use-case (i remember only vaguely) was around some math on individual timestamp fields. And i had to workaround inability to extract (and preserve) milliseco

[2018-11-26 21:12] dain commented on #10174
@HariSekhon, that may be possible, but having dedicated coordinator instances, will be less risky.  Workers can become less responsive when computationally or network heavy workloads are running, and this can effect query performance and reliability.  For very large clusters having a few coordinators (maybe 4-8), should be more than sufficient to handle most workloads.

BTW, the comment "nodes to

[2018-11-26 21:19] anoopj commented on #11835
Fixed with https://github.com/prestodb/presto/pull/11944

[2018-11-26 21:19] #11835 closed

[2018-11-26 21:51] martint commented on #9524
I understand where that came from, but I don't think there's anywhere currently in Presto where a precision of 3 is implied. It might as well be `timestamp(6)` but without enough accuracy to have anything other than 0s after the 3rd decimal digit.

[2018-11-26 22:04] dain commented on #9524
I'm leaning towards saying we should add the `millisecond` functionality for convenience, but when I look forward to the day when we support nano precision, I'm leaf with the question about how we would implement `microseconds` and `nanoseconds`.  Specifically would `microseconds` and `nanoseconds` only return the 3 digits, or would they return `6` and `9` digits?

[2018-11-27 01:42] hiliuxg commented on #11975
super thanks

[2018-11-27 02:09] xqliu commented on #10174
We had a architecture which runs multiple cluster behind a nginx, the architect is:

One nginx backed by multiple presto clusters under one URL, sincd each presto cluster has a dedicate coordinator, so what we need to guarantee is that the cluster got received the initialize query should also receive later polling data requests, we implement this by only let the first query goes through nginx, fol

[2018-11-27 03:29] imperio-wxm opened #11986 "The effect of cassandra wide table on query efficiency"
Presto version：0.213

Table1:
[code]

Table2
[code]

SQL:

[code]
Table2 have more columns than Table1 and there are also 1000w data.

However in same sql, query Table2 is more slow than Table1.
`My question is Table 2 has a lot of columns, but it is not used in the query, is it also scanned with filter?`

I saw the stage performance web, time cost in `ScanFilterAndProjectOperator` and `Wall Time`

[2018-11-27 04:46] ayush-chauhan commented on #11976
I am facing this issue in 0.208 but not in 0.203.
After setting hive.parquet_predicate_pushdown_enabled to false, this issue was solved.

[2018-11-27 05:52] lidong0223 opened #11987 "How to Connect Presto to Mycat ?"

[2018-11-27 09:06] #11975 closed

[2018-11-27 11:34] Vayu commented on #9656
is there a progress on that?

[2018-11-27 13:01] #11987 closed

[2018-11-27 14:48] srinivasanasm opened #11988 "cannot connect to presto with PyHive using LDAP authentication"
Hi,
i am trying to connect Presto for Hive MetaStore using PyHive APIs and LDAP Authentication.

i have tried below different options, but no luck

from pyhive import presto
cursor = presto.connect(host='ip-address',username='username', password='password',auth='LDAP').cursor()
cursor.execute("select * from db-name.table-name limit 5")
my_results = cursor.fetchall()
--
from pyhive import presto
cu

[2018-11-27 16:24] HariSekhon commented on #10174
@dain good points, Elastic allows you to separate your coordinators for this reason, but at least they allow multiple of them in a peer like system for HA.

I think if Presto allowed control of the advertised coordinator address for worker nodes to reply to, then you could set that to the DNS address of the VIP and HA Coordinators would be a straightforward load balancer active/passive setup.

Sin

[2018-11-27 19:23] wagnermarkd opened #11989 "Use indexes for point lookups"
ConnectorIndex is currently used for optimizing joins, but is not used for scans. For example, these two queries are equivalent:
* `SELECT * FROM orders WHERE orderkey = 1`
* `SELECT * FROM orders JOIN (VALUES (1)) AS t(key) ON orders.orderkey = t.key`

With the tpch_indexed connector, the first one will result in TableScan while the latter will be an IndexJoin with an IndexSource.

Not having thi

[2018-11-27 19:39] dain commented on #10174
@HariSekhon, sorry I wasn't trying to make a statement about HA.  This work is a precursor to having multiple coordinators, which will help reduce the impact of any one of them failing.  Also, when it comes to HA, we will need to make the dispatcher (specifically the queues) HA, which will help in the event that a dispatcher crashes.  One thing to note, is the reason this work hasn't seen much att

[2018-11-27 20:02] zhenxiao commented on #11941
wired. what's the compression and encoding you are using for the old (not working) and new(working) Parquet tables?

[2018-11-27 20:08] nezihyigitbasi commented on #11952
When S3 throttles your requests the individual HTTP requests should fail with 503 error code instead of threads getting stuck (then Presto will retry those requests and log that requests failed in the server logs), more info can be found in S3 docs: https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html and https://docs.aws.amazon.com/AmazonS3/latest/dev/ErrorBestPractices.html#UsingE

[2018-11-27 23:18] nezihyigitbasi commented on #11941
https://github.com/apache/parquet-mr/tree/master/parquet-tools

[2018-11-28 03:04] guozygeorage commented on #11941
@zhenxiao
Hive's compression and encoding  is SNAPPY (org.apache.hadoop.io.compress.SnappyCodec)

[2018-11-28 07:53] cylovefree opened #11991 "presto return error when I query a sql from hive"
## presto
version:0.184
## hive
version:2.1.1

My hive create table sql like this
[code]
And My presto sql like this
[code]
And presto return error like this
[code]
Does presto not support the hive map type colum or I mistake some config?

Thanks a lot for your help!

[2018-11-28 08:53] nezihyigitbasi commented on #11961
[code]

[2018-11-28 09:18] zhenxiao commented on #11941
I think Parquet Snappy is supported pretty well
yep, as @nezihyigitbasi suggested, either use parquet-tools to validate stats, or maybe share the not working data, we could debug

[2018-11-28 12:29] totticarter opened #11992 "get we aggregate the JoinOperator/FilterAndProjectOperator/AggregateOperator together?"
get we aggregate the JoinOperator/FilterAndProjectOperator/AggregateOperator together?
each of the above operator will get values from page of one operator and write values into other operator, if we can aggregate the JoinOperator/FilterAndProjectOperator/AggregateOperator together, much cost can be saved

[2018-11-28 13:59] findepi commented on #11992
Did you try to do back-of-the-envelope estimation how much?

[2018-11-28 17:39] dain commented on #11991
That error message means that one of the files contains invalid JSON.  Unfortunately, the error message does not contain the file name, but it does contain the position `line: 1, column: 759`.  Do you have a lot of files?  You can filter files using the hidden `"$path"` (note the quotes are required due to the `$`) column.

[2018-11-29 00:25] tdcmeehan opened #11993 "Proposal on Hash Join and Memory Management Efficiency Improvements"
The following is a proposal from @oerling that is posted below with only minor formatting edits.  It is presented here for the community to comment and solicit feedback related to the proposal.

# Explorations in Hash Join and Memory Management

Orri Erling, Oct 26, 2018

### Introduction

This document describes a series of experiments around memory management and memory bandwidth. The test scena

[2018-11-29 00:42] dain commented on #11993
I’m a bit confused.  What is Aria?

[2018-11-29 00:45] tdcmeehan commented on #11993
It is just a name to refer to some new ideas and approaches related to Presto efficiency.  In this document, when Aria is seen, it may be thought of as a prototype of Presto which has already applied the changes described.

[2018-11-29 01:36] martint commented on #11961
[code]

#11981

[2018-11-29 02:34] cylovefree commented on #11991
Thanks for your reply!
My hive table include files mapping from hdfs, so I will check those file which contain the invalid json column.
And I'm confused about the "filter files using the hidden `"$path"", could you give me the doc link or description about the "$path" usage in presto.
Thanks a lot!

[2018-11-29 03:39] Greed2nd opened #11994 "Does presto support Mycat?"
- I create a catalog properties file in etc/catalog named mycat.properties.
[code]
- Then,I use Presto CLI excute my query SQL : select * from mycat.TESTDB.table, but it return "ResultSet is from UPDATE. No Data."
Does it support Mycat like Mysql？Thanks for your help.

[2018-11-29 09:20] sopel39 commented on #11992
There is an idea to "aggregate" operators together via lazy materialization (https://github.com/prestodb/presto/pull/10767#issue-192940741). Then we could integrate operators even further by "aggregating" codegen (explicitly or by Graal for example)

[2018-11-29 09:23] findepi commented on #11991
@cylovefree this would be like this:
[code]
of course, this won't show up for a failed query, so you would need to modify your condition to narrow down your condition to identify which files are good.

Btw, could you please share the full stacktrace with us? (run CLI with `--debug`). Usually, the full stacktrace contains the name of the file being read.

[2018-11-29 09:44] sopel39 commented on #11993
That's a really throughout investigation. Nice!

I just read briefly

This is possible to realize using `WorkProcessors` as it provides such contract (https://github.com/prestodb/presto/pull/10767#issue-192940741). If an operator need to keep page for longer, it should explicitly "materialize" it (take ownership) and account it's memory.

Do you mean that in Aria build side is stored row-wise? Cur

[2018-11-29 11:09] AlaaMonem89 opened #11997 "Presto down on all worker suddenly"
Hi how are you ?
Please help me with the recommendation configuration for presto workers and coordinator.
assume i have 512G memory on each server

[2018-11-29 11:11] AlaaMonem89 commented on #11997
The workers  be down when some query run on it please I need to force to kill like these query

[2018-11-29 19:18] dain commented on #11994
You can name your catalog anything, so `mycat` should work.  I don't recognize that error message; maybe it is from the mysql driver itself.  Can you run the cli with the `--debug` option and post the stack trace?

[2018-11-29 22:35] oerling commented on #11993
Hi

The thinking is that if one column of build side is accessed then the other ones are almost always also accessed. The same is true of group by. So there are clear gains for cases which are bound by RAM bandwidth. The Aria hash gets a draw with Presto HashBuilderOperator, as explained in the doc. So copying into a Slice or offheap is very tolerable. And managing the build side in fixed length c

[2018-11-29 22:53] oerling commented on #11993
We’ll get the Aria Presto performance stuff for public viewing on github during December, I expect.

Meanwhile, as discussed at Patio, you are welcome to drop by and I can brief you on the rest, like scan and repartition.

Thanks

Orri

From: Dain Sundstrom <notifications@github.com>
Sent: Thursday, November 29, 2018 11:31 AM
To: prestodb/presto <presto@noreply.github.com>
Cc: oerling <erling@xs4a

[2018-11-29 23:03] sopel39 commented on #11993
@oerling Could you give more details about the Aria initiative? What is the status (is the project completed)? What are you planning to do with Aria?

[2018-11-30 01:16] oerling commented on #11993
The thinking is that Facebook will share this with the community as and when its value is realized or, in some cases, when there is a compelling demonstration of future value.

This is very much a work in progress but generally targets the core functions of analytical query processing. My previous work in this space is described in the TPC-H series at https://www.openlinksw.com/weblog/oerling/?id=

[2018-11-30 01:45] dain commented on #11997
We will need more information before someone can help.  Do you know why they crashed?  Did you get anything printed in the logs?  Do you have a stack trace?

[2018-11-30 05:14] lidong0223 commented on #11994
Thanks for your reply.
Let me show you  the stack trace .`select * from testdb.TESTDB.product_barcode`
![testdb](https://user-images.githubusercontent.com/30827455/49269623-d5942280-f4a0-11e8-9d84-3e5a751e09ec.png)

[2018-11-30 05:38] cylovefree commented on #11991
Thanks for your reply.
And I found my row data table contain the invalid json type, that may be the reason.
I will close this issue.
Thank you for your help!

[2018-11-30 05:38] #11991 closed

[2018-12-01 00:39] tdcmeehan opened #12000 "Proposal: Code Generation for Expressions"
The following is a proposal from @oerling with minor editing for formatting.  As with #11993, it is presented here for community awareness and feedback.  A publicly accessible branch that contains benchmarks will follow.

# Code Generation for Expressions

Orri Erling

### Introduction

This document is the first in a series that proposes performance enhancements via code generation for different

[2018-12-02 03:10] sivankumar86 commented on #11905
@findepi  Thank you, you are correct, it worked after casting with varchar(4).

[2018-12-02 09:15] #6373 closed

[2018-12-02 09:29] electrum opened #12002 "Cannot create empty Hive partition for non-bucketed table"
The `system.create_empty_partition` procedure fails because the source directory does not exist (no files were written) and thus the rename fails. `SemiTransactionalHiveMetastore.Committer#prepareAddPartition` should probably unconditionally create `currentPath` before checking if it is equal to `targetPath`.

[2018-12-02 17:25] #11905 closed, assigned to nobody

[2018-12-02 20:20] findepi commented on #11956
@zuhuanchen i hope you resolved your problem already. Hence closing the issue.

In case you did not, please provide more info -- your environment, which commit you're building, and the command you run (eg `./mvnw` vs `mvn`)

[2018-12-02 20:20] #11956 closed

[2018-12-03 07:03] Praveen2112 commented on #12000
@tdcmeehan @oerling we have also tested a similar implementation. We tested it on `BenchmarkPageProcessor` and we got a similar performance improvement. When we tested it out moving the write operation to an array i.e skipping the `BlockBuilder` gave somewhere around 4x (It went to 20x when we tested it on a  page size of 1024) while moving to flat structure didn't show much of difference for read

[2018-12-03 17:37] oerling commented on #12000
Indeed, writing to Block via type.writeXXXX shows up at the top of many profiles.

It is good that we all converge on not doing interface dispatch per individual values. There is no need for that and this is basic best practice out there.

The ORC reader is a clear instance of this pattern.

We have something to share about ORC maybe still this week. Basically, pushing down filters that are expres

[2018-12-03 20:30] sshardool opened #12009 "Enhance QueryCompleted event and query UI to include prepared sql for EXECUTE statements"
Currently for any EXECUTE statement any of the query life-cycle events do not contain information about the query used in the corresponding PREPARE statement .
Similarly the query UI does not display the sql of the prepared statement when displaying an Execute statement.

Theoretically it may be possible to lookup the prepared statement sql from the statement name used in the corresponding Execute

[2018-12-03 20:33] findepi commented on #11961
[code]

[2018-12-03 20:36] elonazoulay opened #12010 "Create separate user and system level timeouts"
Add a session property to have 2 timeouts (system defined, user defined) instead of one.
The use case for this is to facilitate debugging issues where the system timeout is exceeded and filter out queries where the users set their timeout too low.

Created the issue before working on this feature to gather comments and ideas.

[2018-12-03 21:42] zaynoon commented on #11961
## Andrii Rosa
- [ ] all checked
-  11-22 09:04:46    7b601556c8 Remove unused methods from SymbolStatsEstimate
-  11-22 09:04:46    97566626dd Fix error message in StatsNormalizer
-  11-22 09:04:46    ce7823f23a Remove extra normalization in FilterStatsCalculator
-  11-22 09:04:46    d69835c4c6 Add extra checks for unknown stats in FilterStatsCalculator
-  11-23 10:00:30    d302ec13b6 Refactor Jo

[2018-12-03 23:03] joshgodsiff opened #12012 "Feature Request: CIDR support"
Hey, I noticed an `IPADDRESS` data-type has been added. My company works with IP addresses a lot, so this is really helpful to us. 😄

It would be awesome if there was also support for equivalent CIDR types - for example: `1.0.0.0/8`

Similarly, it would be nice to be able to query based on CIDR: for example, `SELECT some_ip_column FROM blah WHERE some_ip_column IN 1.0.0.0/8` or something similar.

[2018-12-04 01:57] guozygeorage commented on #11941
I  use parquet-tools to validate stats,the results are as follows.
![image](https://user-images.githubusercontent.com/12857628/49412601-f19d0a00-f7a7-11e8-99c2-54704997b83a.png)

![image](https://user-images.githubusercontent.com/12857628/49412636-16917d00-f7a8-11e8-9da0-97f3ef8be4d5.png)

The results have corresponding data.And then I provide the source data, so you can see.
[20181204_013919_0163

[2018-12-04 02:51] photogamerun commented on #11949
when I perf report I found there is a spin_lock which ocupy most of cpu in presto server
62.08%  presto-server  [kernel.kallsyms]   [k] _spin_lock
   5.49%  presto-server  [kernel.kallsyms]   [k] ktime_get
   1.89%  presto-server  [kernel.kallsyms]   [k] ktime_get_update_offsets
   1.61%  presto-server  [kernel.kallsyms]   [k] _spin_lock_irqsave
   0.78%  presto-server  [kernel.kallsyms]   [k] sys

[2018-12-04 05:13] kokosing commented on #11961
[code]

[2018-12-04 05:19] kokosing commented on #12000
As I understand the above speedup is observed in microbenchmark. Have you been able to run actual query on a cluster? If so what was the difference?

[2018-12-04 08:03] marvel00000 commented on #2445
Is anyone still working on this feature or is it being dropped?

[2018-12-04 08:11] photogamerun commented on #11949
![image](https://user-images.githubusercontent.com/16651123/49427749-24162980-f7df-11e8-87cb-e064745e4153.png)

we found system cpu is very high

[2018-12-04 08:38] findepi commented on #12010
Do you mean to have settings that helps Presto works correctly while being under debugger, with breakpoints set?

[2018-12-04 09:31] sopel39 commented on #12000
Presto does isolate generated classes to mitigate megamorphism issues. Did you isolate Presto generated classes when running micro benchmarks?

[2018-12-04 11:57] sopel39 commented on #11961
[code]

[2018-12-04 14:37] zuhuanchen commented on #11956
Mac OS 10.10.5
commit d7ae9113dd3fcbb2831ecc05e39c58d230c67ca0 (HEAD -> master, origin/master, origin/HEAD)
./mvnw clean install -DskipTests=true -Dmaven.test.skip=true -Dcheckstyle.skip=true -Dcheckstyle.skipExec=true -Dmaven.gitcommitid.skip=true

[2018-12-04 14:43] findepi commented on #11956
you can use `air.check.skip-all` to skip checkstyle & co. I never needed to set `maven.gitcommitid.skip` though. E.g
[code]
what Java do you have?

[2018-12-04 15:59] mbasmanova commented on #11961
[code]

[2018-12-04 18:18] oerling commented on #12000
Hi

In the case measured, everything was strictly monomorphic. We’ll have the code out there in not too long.

To address the second point, 3-7x in arithmetic or relational expressions is not a significant effect on the overall profile. But looping over raw arrays and not having per row function calls or Block type checks in scan/repartition/hash join/aggregation is necessary if we are to make a l

[2018-12-04 23:23] #11745 closed

[2018-12-05 02:19] jlfsdtc commented on #11818
@Hollyen Thanks. this userful.
And I run check-style plugin  is skip

[2018-12-05 05:04] elonazoulay commented on #12010
That's a great idea! I would manually set all timeout settings and there are often issues (ex. new timeout configs). I would like to create an issue for that as well.

This issue is for a different timeout - it's to differentiate between system timeout and user timeout (not greater than system timeout) set as a session property. Different error codes would be returned so that you can look at query

[2018-12-05 05:59] wenleix commented on #11961
General
-----------------
* Add dynamic schedule support for grouped execution . When a stage can be executed with grouped execution and the stage has no remote source, table partitions can be scheduled to tasks in a dynamic way. This can mitigate skew for grouped executed queries.  The dynamic schedule feature for grouped execution must be enabled with the ``dynamic_schedule_for_grouped_execution

[2018-12-05 07:29] findepi commented on #12010
Which particular timeouts do you mean?

[2018-12-05 12:01] santosh-kore opened #12016 "java.lang.UnsupportedOperationException: com.facebook.presto.spi.type.DoubleType"
I'm using latest Presto Server Version `presto-server-0.214`...

Hive Create Table Query:

[code]

The parquet file's schema is:

[code]

Hive table created successfully but Presto throws below error,

`java.lang.UnsupportedOperationException: com.facebook.presto.spi.type.DoubleType`

Also tried setting ```hive.parquet.use-column-names=true``` but no luck...

[2018-12-05 15:36] shlomialfasi opened #12017 "list of active nodes are not populated in worker nodes"
in commit 90dfc04acd3efadc18136472051ba828b63ae7a6 - Simplify and cleanup DiscoveryNodeManager
the method refreshIfNecessary was removed from getAllNodes()/getActiveConnectorNodes()/getCoordinators which mean nodes that wasn't identified when the system was loaded will never be added to the node list.
on another aspect a node is assigned to a connector only after updateConnectorIds() is called in

[2018-12-05 18:38] elonazoulay commented on #12010
The "query_max_execution_time" system property that's used to get max query execution time.

[2018-12-05 18:54] raghavsethi commented on #12010
@findepi The idea is that admins can set some timeouts, and users can set a different set of timeouts. In the case where the user sets timeouts, the query fails with a user error, otherwise with an insufficient resources error. This is similar to the previous PR with kill vs pre-empt. This simplifies resource management using the session property configuration manager.

[2018-12-05 18:56] raghavsethi commented on #12010
We have users who set their own timeouts as a way to limit their resource consumption, limit the amount of data produced, or to do best-effort work. For these use cases, we want the queries to fail with a different error code.

[2018-12-05 19:16] wenleix opened #12018 "Refactor map equality and is_distinct_from implementation"
Map equal and is_distinct_from used to be complicated when MapBlock doesn't support seek. As a result, a separate `KeyWrapper` class is used to use Java map.

As a result, `MapGenericEquality` class was introduced to avoid duplicate the code.

https://github.com/prestodb/presto/pull/10795 already leverage the native seek operation in Map block. As a result, we could implement map equals and is_dis

[2018-12-05 23:44] nezihyigitbasi commented on #11949
You should look at the entire stack to see who calls `_spin_lock`.

[2018-12-06 00:56] guozygeorage commented on #11941
Here is the parquet file.
[000000_0.zip](https://github.com/prestodb/presto/files/2651204/000000_0.zip)

[2018-12-06 03:45] wususu opened #12022 "is there any way to get the cluster memory information from restful api?"
Hello, I am searching a way to get the Memory usage information of cluster
/v1/status only can get the coordinator node's memory usage info, is there any way to get other node's?
thxs

[2018-12-06 07:45] mwkorver commented on #11022
This would allow those with data in geographic to first transform to geometry before using functions such as buffer etc. where you typically want to use meter for radius.

[2018-12-06 07:59] nezihyigitbasi commented on #12022
Workers also have the `/v1/status` endpoint. When you run a query and look at its details you will see the list of workers that ran the tasks of that query. If you click on a worker you will see its heap usage and other details. Many of these details are retrieved from the `/v1/status` endpoint on that particular worker.

If you want to get details about which queries/operators use how much memory

[2018-12-06 10:44] wususu commented on #12022
It help me a lot,thx

[2018-12-06 11:58] kaka11chen opened #12024 "Optimize distinct aggregation on multi column"
When query use distinct aggregation on multi columns.

`select count(distinct ss_item_sk), count(distinct ss_store_sk) from tpcds_bin_partitioned_orc_1000.store_sales;`
Result: It is very slow, cost 60 seconds in our perf-test env, regardless of use-mark-distinct.

If I change it to

`select count(case when grouping_id=1 and ss_item_sk is not null then 1 else null end) as c0,
     count(case when

[2018-12-06 12:38] SivaSamrajS opened #12025 "Presto not able query Hive partition external table"
I have created the External table on hive from hadoop path with year and month partitions.
I have connected the hive with presto. I am able to query the data in hive, but the same table is not returning the data with presto(returning 0 rows).
Presto: 0.213
`presto:retaildemov2> select * from customer;
 customer_id | account_num | lname | fname | mi | address1 | address2 | address3 | address4 | cit

[2018-12-06 13:50] findepi commented on #12025
When you create external table, you need to define all the partitions.
You can do this in Hive, by running `msck repair table <table-name>;`

[2018-12-06 13:51] findepi commented on #4109
This is how Hive works, so this should be the expected behavior. Please also see a newer issue on the same subject https://github.com/prestodb/presto/issues/12025

[2018-12-06 13:51] #4109 closed

[2018-12-06 13:53] findepi commented on #4460
This is probably obsolete.

[2018-12-06 13:53] #4460 closed

[2018-12-06 13:55] findepi commented on #12024
Did you try `set session optimize_mixed_distinct_aggregations = true;`?

[2018-12-06 14:19] hiliuxg opened #12026 "a different search result between hive and presto ,a big serious problem"
the sql like this :
select count(1) from temp.test_xxx  where dt = '2018-12-05' ;

use hive  to run result like this :
![image](https://user-images.githubusercontent.com/39675622/49589178-aea78600-f9a3-11e8-8914-5efe3c14aa07.png)

use presto to run result like this :
![image](https://user-images.githubusercontent.com/39675622/49589250-deef2480-f9a3-11e8-9e0f-0670b47fbe80.png)

the files on hdfs li

[2018-12-06 15:23] martint commented on #12026
What version of Hive did you use to generate the data in those directories?

[2018-12-06 16:56] mbasmanova commented on #11022
@mwkorver Mark, `ST_Buffer` use case did come up a few times. Do you have some ideas of how you would implement the `ST_Transform` and which spatial references it would support? I imagine that without changes to `ST_Buffer`, only spatial references that project on a plane would work.

Could you share any specific use cases for `ST_Buffer`? I've seen cases where it would be used in distance-within

[2018-12-06 18:31] qqibrow commented on #12026
If secondary directory is the root cause, try set `hive.recursive-directories = true` in `hive.properties`.

[2018-12-06 18:56] qqibrow commented on #12024
It seems `optimize_mixed_distinct_aggregations ` only works when count, count(distinct xxx) are in group by.

for example:
[code]

You can use `approxmate_distinct` in your first query if you can tolerant certain error rate.  That will make the query plan architecture similar to your second query and therefore achieve similar performance.

[2018-12-06 19:47] yingsu00 commented on #11961
[code]

[2018-12-06 21:31] rongrong commented on #11961
[code]

[2018-12-07 01:19] mbasmanova commented on #12016
@santosh-kore Could you paste the full stack trace?

[2018-12-07 01:39] hiliuxg commented on #12026
apache-hive-1.1.0  ,the new version do not generate the secondary directories ?

[2018-12-07 01:48] kaka11chen commented on #12024
@qqibrow thanks for your suggestion, but sometimes the business needs extract statistics.

[2018-12-07 02:01] hiliuxg commented on #12026
it works ,thanks !  Why not set this configuration to true by default ?

[2018-12-07 05:30] photogamerun commented on #11949
![image](https://user-images.githubusercontent.com/16651123/49629364-2a491780-fa24-11e8-9181-5e1d7b3cc437.png)

that the perf record, no idea how to found who call spin lock in java

[2018-12-07 06:08] photogamerun commented on #11949
![image](https://user-images.githubusercontent.com/16651123/49630518-7e0a2f80-fa29-11e8-9032-428492b123e0.png)

this is flame graph the red line has no any clue

[2018-12-07 06:30] kaka11chen commented on #12024
@findepi It seems `optimize_mixed_distinct_aggregations` only works one distinct column by `OptimizeMixedDistinctAggregations.java`. What limitation about this only support one distinct column?

[2018-12-07 06:34] photogamerun commented on #11949
"20181207_143217_10572_wdc8r.2.9-14-101319" #101319 prio=5 os_prio=0 tid=0x00007f00fc012800 nid=0x16586 runnable [0x00007efe54fd2000]
   java.lang.Thread.State: RUNNABLE
        at com.facebook.presto.$gen.PageFilter_91633.filter(Unknown Source)
        at com.facebook.presto.$gen.PageFilter_91633.filter(Unknown Source)
        at com.facebook.presto.operator.project.PageProcessor.process(PageProc

[2018-12-07 07:32] shlomialfasi commented on #12025
Can the msck repair command run from Presto?

[2018-12-07 07:37] martint commented on #12024
`optimize_mixed_distinct_aggregations` is not well supported. It's currently turned off because it produces incorrect results in certain scenarios (see https://github.com/prestodb/presto/issues/8894). We just haven't gotten around to fixing it and expanding support for more complex queries.

[2018-12-07 08:14] martint commented on #12012
This seems reasonable, but we'd do it using functions instead co-opting the SQL `IN` operator with that behavior. We may also need to introduce a CIDR type to make it possible to do something like:

[code]

Alternatively, we could break up the cidr into its components (address + mask size) and do something like:

[code]

[2018-12-07 08:33] findepi opened #12030 "http-request.log should go into /var/log/presto when Presto installed via RPM"
Today the file is created as `/var/presto/data/var/log/http-request.log`
Should be `/var/log/presto/http-request.log` (next to `/var/log/presto/server.log`, `/var/log/presto/launcher.log`).

[2018-12-07 09:49] kokosing commented on #11482
https://github.com/prestodb/presto/pull/12031

[2018-12-07 09:56] kaka11chen commented on #12024
@martint Got it. Thanks, martint.

[2018-12-07 10:02] mbasmanova commented on #12016
@santosh-kore Looks like float64 columns are processed as long columns. What's the output of `desc some_table_name`? What column types is shows?

CC: @zhenxiao

[2018-12-07 10:16] Praveen2112 commented on #12000
@tdcmeehan , @oerling We did a small POC by applying the same proposal for OrcReader i.e populating on native array instead going to block builder. We have took some benchmark with `BenchmarkStreamReader` these are the numbers that we got
[code]

Even in Presto cluster we see some improvements for a non null Bigint columns we see the time taken to populate the Blocks (skipping the read time i.e fo

[2018-12-07 10:39] vikash32 opened #12032 "Error while authentication with ldap"
Hi,

When i am trying to connect presto using CLI with LDAP authentication. It always giving me server error.

i am  using below cli command
`./presto --server https://<prestoserver.com>:8443 --keystore-path presto_ldap/presto.jks --keystore-password apassword --catalog hive --schema default --user vikash --password`

then on cli it is giving me ERROR

[code]
And on presto server it is throwing er

[2018-12-07 11:35] santosh-kore commented on #12016
@mbasmanova Ohh i thought `float64` is `double` in hive... and in presto `desc some_table_name` output is,

[code]

[2018-12-07 17:11] qqibrow commented on #12026
Not sure about that. @martint Shall we consider set `hive.recursive-directories = true` as default?

[2018-12-07 17:19] martint commented on #12026
Is that the default behavior in Hive now? It wasn't when we first added this option, so we decided to keep it disabled by default. See https://github.com/prestodb/presto/issues/7873

[2018-12-07 18:43] cemcayiroglu commented on #11961
General
----------
* Adding multiple null convention support for polymorphic scalar functions.

[2018-12-07 19:14] elonazoulay commented on #11961
General
----------
* Bugfix: Fail query that uses non-leaf group so that it does not hang forever.

[2018-12-07 19:30] wenleix opened #12033 "Optimize TypedSet Usage"
TypedSet are wildly used in Presto in map functions and functions with set semantics. However, use of TypedSet is sub-optimal as it has to copy the data.

There are three proposals:
1. Add `TypeSet.getBlock` to allow extract data (proposed in https://github.com/prestodb/presto/pull/12029)
2. Make TypedSet take a constructor that says "build be a set from this existing block". (proposed in https://

[2018-12-07 19:59] mwkorver commented on #11022
@mbasmanova Buffer is useful to create some arbitrary area based on either a point or other geometry to run an ST_Contains on. Find all of the homes along some route, or all of the homes potentially impacted by a flood (river). My suggestion for implementing ST_Transform is to use Proj4. https://www.osgeo.org/projects/proj4/ there is Java port used on projects such as Geotrellis at https://trac.os

[2018-12-07 20:17] arhimondr commented on #11961
[code]

[2018-12-07 22:34] wagnermarkd commented on #10774
@MichaelZhao9824, in some of your examples, pushing the predicate below the window would change the result of your query. When the window isn't in a subquery, then filter is applied before the windowing operation. That's why you're seeing a difference.

#12034 addresses pushing predicates through windows where applicable.

[2018-12-07 22:55] qqibrow commented on #11941
@zhenxiao @nezihyigitbasi @guozygeorage

I checked that parquet file, the stats doesn't look correct.

the stats of that file is:
[code]
however,  if you use presto to calculate stats:
[code]
You can see the max value in parquet stats is different while the others are the same.

That's why you get empty result of query `select * from test_parquet_error where search_word = '童鞋'`,  presto parquet re

[2018-12-07 23:44] nezihyigitbasi commented on #11941
I agree with @qqibrow's conclusion. I stepped through the code and Presto skips the block due to the stats in the Parquet file. The min for that column is empty while the max is "~~~~~~毅雅切尔西短靴~~~~~~~". @guozygeorage how is this Parquet file written? It's probably a bug in the writer.

[2018-12-08 00:14] oerling commented on #12000
Hi Praveen

The numbers you cite are in the ballpark we would expect based on looking at profiles.

The Aria scan goes further than this and significantly alters the RecordReader and StreamReader interfaces. We see 1.3x – 3x gains in end to end query times, generally the more selective the scan, the greater the gain. The query is select count (*) from lineitem with different range conditions on pa

[2018-12-08 00:18] guozygeorage commented on #11941
Hive -e "create table as seelct * from ..."   .The Parquet file was written with Hive SQL.

[2018-12-08 00:32] nezihyigitbasi commented on #11941
Which version of Hive did you use?

[2018-12-08 00:32] nezihyigitbasi commented on #11941
OK I see it's hive-1.1.0-cdh5.10.2

[2018-12-08 00:35] nezihyigitbasi commented on #11941
With the info we have right now I don't think it's a Presto issue. I suspect it's a writer issue where the writer is creating the Parquet file with incorrect stats. Therefore, I recommend you to reach out to the Cloudera folks as you are using their distribution of Hive.

[2018-12-08 00:42] nezihyigitbasi commented on #12025
No, it's a hive command.

[2018-12-08 00:43] #12025 closed

[2018-12-08 00:52] #7873 closed

[2018-12-08 00:53] guozygeorage commented on #11941
If there is a problem with the parquet of Hive, Hive SQL queries will appear as normal results. Is this normal?

[2018-12-08 00:55] nezihyigitbasi commented on #12026
Looks like the Hive config that was disabling recursive listing by default has been removed in HIVE-11582 saying that the config is redundant after MAPREDUCE-1501. The `mapred.input.dir.recursive` config used by that MapReduce patch still defaults to false (and also the default in Hadoop [trunk](https://github.com/apache/hadoop/blob/trunk/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-map

[2018-12-08 00:55] nezihyigitbasi commented on #11941
I think that's a good question for the Cloudera team as well, maybe Hive is working around this incorrect stats issue while Presto does not.

[2018-12-08 02:02] nezihyigitbasi commented on #12017
/cc @dain

[2018-12-08 02:03] nezihyigitbasi commented on #12016
@santosh-kore This is a schema mismatch issue. You can confirm that with the parquet-tools and compare the schema in the parquet file and the table schema (that you get with `DESC`).

[2018-12-08 05:08] zhenxiao opened #12035 "use io.airlift.json.JsonCodec#jsonCodec(java.lang.Class<T>) and write a mapping classes for ElasticsearchClient"
resolve TODO in ElasticsearchClient:
https://github.com/prestodb/presto/pull/11942
@nezihyigitbasi @kokosing

[2018-12-08 06:42] zhenxiao commented on #11941
nice catch, @qqibrow
@guozygeorage Hive returns normal results, as Hive does not use Parquet file statistics to speedup Parquet scanning. as @nezihyigitbasi said, Presto requires Parquet statistics to be correct, or Presto might skip wrong data.

[2018-12-08 07:00] guozygeorage commented on #11941
How to survive Parquet statistics to be correct？This is parquet bug?

[2018-12-08 07:42] Praveen2112 commented on #11993
@oerling These numbers were taken in Java 8 or Java 11 ?

[2018-12-08 07:52] riteshmodi commented on #12030
Can I work on this?

[2018-12-08 08:10] zhenxiao commented on #11941
either a Parquet bug or Hive one. The Parquet statistics is incorrect. The problem is in Parquet generation side

[2018-12-08 21:05] oerling commented on #11993
Java 8. I doubt if Java 11 will be much different, unless it inlines a lot more. What is your experience on this?

Orri

From: Praveen Krishna <notifications@github.com>
Sent: Friday, December 7, 2018 11:43 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: oerling <erling@xs4all.nl>; Mention <mention@noreply.github.com>
Subject: Re: [prestodb/presto] Proposal on Hash Join and Memory Managemen

[2018-12-09 21:58] dain commented on #11949
Jstack is not a great took for this kind of problem, since it only tells you where the JVM paused for "safe points", instead perf is a much better tool.  The flame graph above says that you are spending like 95 percent of the CPU in some unknown libc call.  I'd try to get a linux expert to look at the system to find out what is really happening.

[2018-12-09 22:08] dain commented on #12032
The root cause in that stack is:
[code]
Which I think is here in TRUNK: https://github.com/prestodb/presto/blob/master/presto-password-authenticators/src/main/java/com/facebook/presto/password/LdapAuthenticator.java#L120

Immediately before that error is thrown, the server logs the original exception with the message `Authentication error for user`.  If you see that in your logs, you should be abl

[2018-12-09 22:17] dain commented on #12017
Can you explain a bit more about why this is a problem for workers?

[2018-12-10 01:22] wenleix opened #12037 "Always use `toIntExact` provided by `Math`"
Presto uses `Math.toIntExact` in most places, but `StrictMath.toIntExact` in a few places, which seems to be accidental mistakes.

`StrictMath.toIntExact`  directly delegates to `Math.toIntExact`. We should always use `Math.toIntExact` to avoid confusion (and probably add a checkstyle rule? )

[2018-12-10 07:33] shlomialfasi commented on #12017
E.g. in case the worker needs to be aware of its own NodeId.
in DiscoveryNodeManager where this value is populated the initialisation is done before node was assign to connector so we might end up without this value available.
another use case is that a worker node should be aware of other nodes in its cluster (in our connector we have such a use case).
since this was the functionality before rele

[2018-12-10 08:07] findepi commented on #11976
Fixed by https://github.com/prestodb/presto/pull/10181

[2018-12-10 08:07] #11976 closed

[2018-12-10 08:14] OleksiiDuzhyi opened #12039 "Presto rolling restart"
Hi,

We have a presto cluster and usually there is no window where 0 queries are running. So deploys of new plugin versions usually disrupts work for few minutes for users. I have 2 questions here:

1. Is it possible some how mark coordinator as not accepting any new queries - just finish ongoing?
2. Is it possible to mark worker as "decommissioned" so it will finish all current tasks and won't ac

[2018-12-10 08:21] findepi commented on #12032
@vikash32 note that you need to enable DEBUG log level first.

[2018-12-10 08:37] photogamerun commented on #11949
high cpu happen on this sql
select   tmp_passengerall_lp.gender, SUM(  tmp_passengerall_lp.quantity )  as a, SUM(  tmp_passengerall_lp.ordercnt )  as b, AVG(  tmp_passengerall_lp.decide )  as c, (SUM(tmp_passengerall_lp.amount)/ SUM(tmp_passengerall_lp.quantity)) as d, SUM(  tmp_passengerall_lp.amount )  as e  from "tmp_mobdb"."tmp_passengerall_lp"  where  ( ( tmp_passengerall_lp.gender  is not nu

[2018-12-10 09:57] sopel39 commented on #12033
Just curious, why not use both proposal 1) and 2)?

[2018-12-10 10:44] photogamerun commented on #11949
so far I have to do some config change

so far I have to change compiler.expression-cache-size=10
 to reduce the dynamic byte code cache size and increase refresh frequency.  because once the dynamic byte code refresh presto work fine, it's so strange!!!!

[2018-12-10 12:48] vikash32 commented on #12032
Hi @findepi @dain ,

i am running 0.214v of presto-server and client.
I have enabled DEBUG in log.properties
[code]
Now i am getting `LDAP: error code 34 - invalid DN` error on presto server.   I have configured password -authenticator.properties like below.
[code]
Also i have checked my ldap server. it is returning value fine with the user.
ldapsearch -x cn=vikash -b dc=xyz,dc=com
[code]

Complet

[2018-12-10 17:18] rschlussel commented on #12039
We have work planned related to this. @ggreg can describe it more.

[2018-12-10 18:09] mbasmanova opened #12040 ""future should be done" assertion in HashBuilderOperator"
Some queries are failing with this stack trace:

[code]