[2022-06-23 18:18] rohanpednekar commented on #17893
Thank you @ClarenceThreepwood

[2022-06-23 18:34] #17278 closed

[2022-06-23 18:37] rohanpednekar commented on #17415
@fedsp can you try open-source PrestoDB version and let us know the outcome?
Meanwhile, @pettyjamesm Do you think you can help here?

[2022-06-23 18:50] ClarenceThreepwood opened #17927 "[Design] Transformations of Existential Subqueries using Early-out Joins"
This issue describes the design for optimizing a certain class of subqueries by enabling the CBO to participate in the planning. The original design document is available [here](https://docs.google.com/document/d/1sZ6Ru9WzKn5oDTpa-ONozj6Nr-PSNmD5/edit?usp=sharing&ouid=111440303637393672625&rtpof=true&sd=true) for collaboration. Also copied below for ease of reference.

---------------

**Transform

[2022-06-23 20:24] erick576 opened #17928 "Use thrift to serialize metadata objects instead of json on catalog server"
Currently in the catalog server, metadata objects are serialized into a json string for now. What we want to do is be able to use a thrift struct to do so.

[2022-06-23 20:26] erick576 opened #17929 "Add e2e tests for RemoteMetadataManager"

[2022-06-24 10:47] gregsimons opened #17936 "Dead link found on the community page at Prestodb.io while looking to join as a contributor"
I wanted to signup to update some of the docs whilst working through a getting started guide and headed over to prestodb.io to see if I could find some contribution guidelines.

[Presto DB Community](https://prestodb.io/community.html)

The contribution guidelines state the following:

You will need to sign a [Contributor License Agreement](https://developers.facebook.com/opensource/cla) ("CLA") b

[2022-06-24 19:00] zacw7 opened #17941 "Introduce a config to tune between linear and binary search for segmented aggregation"
[#17886](https://github.com/prestodb/presto/pull/17886) introduced segmented aggregation. In the current implementation, it uses [linear search](https://github.com/prestodb/presto/blob/315023f89e3b3a21d480bacbe9dbfcbdd4402a59/presto-main/src/main/java/com/facebook/presto/operator/HashAggregationOperator.java#L521-L529) to look for the start row of the last segment in each page. We tried binary sea

[2022-06-24 20:47] tdcmeehan commented on #17936
The CONTRIBUTING.md file gives this information, and it looks like the community page is out of date.  Would you like to submit a PR to correct that?  The repository is here: [prestodb/prestodb.github.io](https://github.com/prestodb/prestodb.github.io)

[2022-06-24 22:16] highker commented on #17657
@ xiaoxmeng will kindly help with this.

[2022-06-24 23:17] yingsu00 commented on #17927
cc @rschlussel @kaikalur @rongrong @simmend

[2022-06-27 02:10] harris233 commented on #17445
You can check your file format. It supports orc, parquet, rcfile now.

[2022-06-27 05:54] #17438 closed

[2022-06-27 05:56] hongbi1x commented on #17438
upgrade com.github.spotbugs version to 4.2.2
upgrade dep.asm.version version to 9.2
upgrade dep.drift.version version to 1.34
can fix the problem

[2022-06-27 07:57] singer-bin commented on #15918
@vthorwat Is it ok?

[2022-06-27 17:41] erick576 opened #17947 "Catalog Server Prototype"
# Catalog Server
## Overview

Fetching and reading metadata often can become overloaded and hurt our tail latency. To get stable and fast performance, a common solution is to use our own caching solutions to remove these dependencies for the cache hit cases and also reduce the overall load on them.

We currently cache the table metadata, file listing results and handle getSplits in the Coordinator

[2022-06-28 02:25] singer-bin commented on #17445
@harris233 Thanks for the answer, yes, the format I started with was txt.

[2022-06-28 02:39] singer-bin commented on #17445
Another question, when I set the value of fs.hdfs.impl.disable.cache to true, the error is as follows:
![ea84ad9a71f2af747e94bea5b993e2c](https://user-images.githubusercontent.com/26576419/176078648-e9d216a1-0da1-47c5-bef4-584f438a51a8.png)
![image](https://user-images.githubusercontent.com/26576419/176079829-18815e55-36da-44c2-9ccd-71538194a257.png)

[2022-06-28 06:34] hongbi1x opened #17952 "Launching presto-server with Java 18 got an exception like "java.lang.IllegalAccessException: static final field has no write access""
When I launch presto-server v0.273.2 with OpenJDK 18, and got an exception:
[code]

So I recompile presto by OpenJDK 18 and launch presto-server again. It still got an exception below. And the exception maybe caused by writing value to the finally field CACHE of Hadoop FileSystem by reflection.

Are there any bugs when using OpenJDK 18 to launch presto-server?

[code]

[2022-06-28 07:27] hongbi1x opened #17953 "The performance lost with OpenJDK 16/17"
I'm trying to test presto v0.273.2 performance with OpenJDK 16/17. But the release version cannot be launched. So I recompile presto with OpenJDK 16/17. But still has some exceptions. When compiling must add many JVM options like "--add-opens java.base/java.lang=ALL-UNNAMED" to maven and when launching must add the same options to jvm.config. And then I can test my workload.

I tested performance

[2022-06-28 10:22] dnskr commented on #16680
@rohanpednekar The issue could be closed as implemented and released.

[2022-06-28 19:17] rongrong commented on #17923
This seems to work for me:
[code]

[2022-06-28 20:43] cliandy opened #17955 "Support Table Statistics and Optimizations for Pinot"
Currently cost-based optimizations primarily around joins are implemented only for Hive.

Discussed offline with @xiangfu0 around needed work for Pinot (column breakdowns, hooking up components).

https://prestodb.io/docs/current/optimizer/cost-based-optimizations.html

[2022-06-29 02:24] harris233 commented on #17445
1）This issue:https://github.com/prestodb/presto/issues/17366.
It may help you.
2)  The value of fs.hdfs.impl.disable.cache will affect presto. You should use cache to create ExtendedFileSystem.
<img width="961" alt="image" src="https://user-images.githubusercontent.com/48636225/176337152-0e33ddd4-2b4f-4a11-ad84-04067062a207.png">

[2022-06-29 02:46] singer-bin commented on #17445
@harris233 Thank you very much for your reply。

[2022-06-29 03:41] kaikalur commented on #17102
CREATE FUNCTION foo (
   str varchar,
   x bigint,
   y bigint
)
RETURNS bigint
COMMENT ''
LANGUAGE SQL
DETERMINISTIC
RETURNS NULL ON NULL INPUT
RETURN (CASE WHEN (y < 0) THEN null WHEN (x <= 0) THEN null WHEN ((length(str) - y) <= 0) THEN null WHEN (y < x) THEN 1 WHEN (strpos(substr(str, ((y - x) + 2), x), '1') > 0) THEN 1 ELSE 0 END)
;

with base AS (Select foo(x,7,7) x, y from T)
select y, 1.0

[2022-06-29 03:44] kaikalur commented on #17102
Looks like it works fine now!

[2022-06-29 03:44] #17102 closed

[2022-06-29 05:50] qingfengyouchen commented on #15951
any update？

[2022-06-29 06:00] Jay-ju commented on #15951
@apc999 how can use this feature ?

[2022-06-29 14:59] VegetableDog118 opened #17959 "can not start presto server"
Hi, we I start the server , I kpet getting this error

<img width="980" alt="image" src="https://user-images.githubusercontent.com/65802837/176469096-53b620a1-d266-425a-a17b-c7a5fe53e6ac.png">

But my node. environment is not null. Any help would be appreciated.

[2022-06-30 05:12] yingsu00 commented on #15951
cc @imjalpreet

[2022-06-30 13:47] agrawalreetika commented on #17959
From error message looks like some issue with `node.properties` , could you please share config in this file for your setup?

[2022-06-30 13:53] VegetableDog118 commented on #17959
Hi，this problem is solved but the new error is this:
<img width="1397" alt="image" src="https://user-images.githubusercontent.com/65802837/176695101-96e96407-0b06-47a8-aeba-5e9307d54174.png">
I am not sure why this uri is wrong:(

[2022-06-30 13:56] VegetableDog118 commented on #17959
Also if i use ubutunu to deploy presto it says:
<img width="825" alt="image" src="https://user-images.githubusercontent.com/65802837/176695860-d69e6825-86bd-499a-9e88-4ea75d5e43e6.png">
Any help would be appreciated!

[2022-06-30 14:51] agrawalreetika commented on #17959
@VegetableDog118 Could you please share your `config.propertes`?

[2022-06-30 14:57] VegetableDog118 commented on #17959
coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port=8080
query.max-memory=5GB
query.max-memory-per-node=1GB
query.max-total-memory-per-node=2GB
discovery-server.enabled=true
discovery.uri=http://zhuhaolin:8080

<img width="1316" alt="image" src="https://user-images.githubusercontent.com/65802837/176709918-467e43a6-a51c-410f-9ecf-cc38751b8617.png">

[2022-07-01 11:18] z-bb commented on #17959
I think you should add node.environment in node.properties

[2022-07-01 11:25] agrawalreetika commented on #17959
Add `-Djdk.attach.allowAttachSelf=true` in jvm.properties

[2022-07-04 10:01] choucmei opened #17973 "[BUG] When MOR table has log file"
# ERROR STACK
[code]

[2022-07-05 14:32] thomasLeclaire opened #17983 "Postgresql partitionned tables not working anymore since 0.273"
Hello,

i have some partitioned tables in my postgresql db like that :
CREATE TABLE public.table (
	"date" date NOT NULL,
	customer_id varchar NOT NULL,
	network varchar NULL
)
PARTITION BY RANGE (date);

CREATE TABLE partitions.table_202001 PARTITION OF public.table FOR VALUES FROM ('2020-01-01') TO ('2020-02-01');

The partition partitions.table_202001 is still available in presto, but public.ta

[2022-07-05 21:22] Oliver-GSN opened #17986 "Unable to read to query Hive views with Presto & Trino"
I have had issues trying to read Hive views using Presto or Trino.
I have tried different versions of both on EMR using Glue Data Catalog as the metastore (presto: 0.245.1-amzn-0, 338, 343. Trino: 360, 378).
The error a receive for some Presto versions is
java.sql.SQLException: Query failed (#20220624_160314_00014_4kmba): Table 'schema.table' not found at com.facebook.presto.jdbc.PrestoResultSet.r

[2022-07-06 05:26] heyuanliu-intel opened #17989 "Intel QAT with OpenSSL can't be integrated into Presto framework to accelerate SSL/TLS"
Now Presto uses JDK crypto implementation to provide SSL/TLS support.  JDK crypto implementation is slow and inefficient. OpenSSL is a robust, commercial-grade, full-featured Open Source Toolkit for the Transport Layer Security (TLS) protocol formerly known as the Secure Sockets Layer (SSL) protocol.  Intel® QuickAssist Technology OpenSSL* Engine (QAT_Engine) supports acceleration for both hardwar

[2022-07-07 01:07] LeonSo7 opened #17995 "SqlFormatter does not handle EnumLiterals"
`ExpressionFormatter` and subsequently `SqlFormatter` currently do not handle enum literals when formatting an expression (see [`ExpressionFormatter`](https://github.com/prestodb/presto/blob/master/presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java) and [`SqlFormatter`](https://github.com/prestodb/presto/blob/master/presto-parser/src/main/java/com/facebook/presto/sql/SqlF

[2022-07-07 07:32] gjhkael opened #17997 "presto on spark shuffle tuning"
We using spark3.1 to submit "presto on spark" application on yarn with the following configuration
[code]
But when the shuffle data is large, then the executor of spark is easy oom, So, we have any secret sauce to tuning this situation？
![image](https://user-images.githubusercontent.com/10809317/177717372-cf8791ab-8d1c-45d4-a7c6-0c041b1a51e7.png)
![image](https://user-images.githubusercontent.com/

[2022-07-07 18:46] rohanpednekar commented on #17986
Could you please use --debug option with presto-cli, reproduce the failure, and can you please post the stack trace you get?

[2022-07-07 19:01] cliandy opened #17998 "Pinot subqueries may generate subtasks with missing column selectors"
The generated subtask query doesn't have any selected columns which fails the query. In the example, if the `col2 > 0` predicate is removed, the query will run properly. Running in Presto 0.273 with gRPC connector.

Example
[code]

Subtask Query

[code]
Expected
[code]

[2022-07-07 21:20] Oliver-GSN commented on #17986
Sure

`An error occurred while calling o84.execute. : java.sql.SQLException: Query failed (#20220707_211759_00019_sd3vd): Table 'schema.table' not found at io.prestosql.jdbc.AbstractPrestoResultSet.resultsException(AbstractPrestoResultSet.java:1761) at io.prestosql.jdbc.PrestoResultSet.getColumns(PrestoResultSet.java:252) at io.prestosql.jdbc.PrestoResultSet.create(PrestoResultSet.java:54) at io.p

[2022-07-08 01:06] Stevenscj opened #18002 "sortedCandidates is null or empty for ModularHashingNodeProvider"
Presto version: 0.273.3
Data Source :  Hive / PostgreSQL

When I open a table and get the data with DBeaver, an error just occured below :

SOL Error [65541]: Query failed (#20220708_005111_00014_xbfqr): sortedCandidates is null or empty for ModularHashingNodeProvider

[2022-07-08 01:26] Stevenscj opened #18003 "hdfs is not supported as the external filesystem."
Presto version : 0.273.3
Presto JDBC version : 0.273.3
Presto coordinator : 1 , worker : 2
Data Source : Hive

After the local cache configuration is added to the hive.properties file:

`
connector.name=hive-hadoop2
hive.metastore.uri=thrift://xx.xxx.xx.xx:9083
hive.config. resources=/data/hadoop/hadoop-3.3.3/etc/hadoop/core-site.xml, /data/hadoop/hadoop-3.3.3/etc/hadoop/hdfs-site.xml

cache.enabl

[2022-07-08 01:57] bitsondatadev commented on #17986
@Oliver-GSN, by looking at your stack trace, it seems like you are using PrestoSQL, which was [rebranded to Trino](https://trino.io/blog/2020/12/27/announcing-trino.html) some time ago.

Feel free to raise this on [the Trino GitHub](https://github.com/trinodb/trino).

[2022-07-08 03:40] sieximbank opened #18004 "connect mysql localhost from presto dcoker"
Please help me to config

[2022-07-08 17:10] Oliver-GSN commented on #17986
Sorry about that, got the stacktraces mixed. I updated my comment with the stacktrace I get using Presto version `0.245.1`

This Presto version can query basic views like mine that use ANSI SQL. I'll put a template of what I get when issuing the SHOW CREATE VIEW in Hive for the views.

[code]

[2022-07-08 20:12] bitsondatadev commented on #17986
@Oliver-GSN, if you're experimenting with both I still recommend filing something in the Trino repo. Also, if you're still on PrestoSQL, I recommend updating to a more recent version of Trino and test of this is still an issue.

[2022-07-08 22:45] yingsu00 commented on #17869
Thanks @harshjk for submitting PR17917 to resolve this issue. This message just tracks the unresolved comments in PR https://github.com/prestodb/presto/pull/17917

1. EquivalenceClassProperty.java, move line 231-232 to the caller
2. EquivalenceClassProperty.java, remove unnecessary toString() on Expressions in the toString() method
3. KeyProperty.java Remove line 113 `requireNonNull(newKey, "newKe

[2022-07-09 03:34] simmend commented on #17869
Thanks all!

On Fri, Jul 8, 2022 at 3:45 PM Ying ***@***.***> wrote:

[2022-07-10 21:07] sambekar15 commented on #17997
Presto On Spark is internally compiled using Spark 2.X dependencies. This issue is seen in Spark 2.X and is causing Netty memory leak.  As a workaround, you can increase the value of presto query.hash-partition-count? You can also try to throttle fetch requests within a spark task by tuning/reducing the value of these  params spark.reducer.maxSizeInFlight, spark.reducer.maxReqsInFlight,spark.reduc

[2022-07-11 03:15] Sullivan-Patrick opened #18017 "Materialized view automatic rewrite does not correctly handle ORDER BY of aliased columns"
When writing a query that should be rewritten by a materialized view, using an alias on a column and then ordering by that column makes the rewrite fail due to an `IllegalStateException:Sort key %s is not present in materialized view select fields`. Code pointer: https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/analyzer/MaterializedViewQueryOptimizer

[2022-07-11 16:25] Oliver-GSN commented on #17986
I resolved the problem in Trino. I wasn't using the `hive.views-execution.enabled` configuration in `trino-connector-hive`.

Probably the problem is that the most recent Presto version supported by EMR 5 (EMR 5.36.0, Presto 0.267), does not support views. I can't test this, nor do I know from which version this basic support is available.

[2022-07-11 16:25] #17986 closed, assigned to nobody

[2022-07-12 08:18] qibinaoe opened #18023 "Why can DynamicBucketNodeMap generate stageNodeList randomly rather than use bucketNodeMap？"
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/43271293/178441186-691f83c8-6fef-41b8-bb03-b4e3397d56d0.png">
In SectionExecutionFactory，we check "bucketNodeMap.hasInitialMap()"  and I found that FixedBucketNodeMap would always be true, so stageNodeList is consistent with the BucketNodeMap.
However, When DynamicBucketNodeMap will be not consistent with BucketNodeMap, s

[2022-07-12 10:12] tinylambda opened #18024 "should merge this PR to presto"
https://github.com/trinodb/trino/pull/4187

[2022-07-12 13:41] lgh-cn commented on #15453
I can‘t find any doc abount this feature from the offcial website (  https://prestodb.io/docs/current/).  Is this feature released ？

[2022-07-12 17:55] matthewhatch-wk opened #18026 "CVE-2020-13949 libthrift"
https://nvd.nist.gov/vuln/detail/CVE-2020-13949

the bump PR was auto-closed as stale https://github.com/prestodb/presto/pull/15828

[2022-07-12 18:40] chrisphillips-wk commented on #18026
+1

[2022-07-13 01:28] yingsu00 opened #18031 "Presto support for M1"
Running PrestoServer or HiveQueryRunner on macOS with M1 chip gives the following errors:
[code]

[2022-07-13 03:13] Sullivan-Patrick opened #18034 "Materialized view query optimization does not handle filters in where clause"
Materialized view optimization should occur if the materialized view represents a domain which is a superset of the base query. However, this does not occur in many cases due to type mismatch failures. These type mismatch exceptions are thrown even when one would expect type coercion to allow for comparison (e.g. comparison between integer and bigint) The line of failure is when `DomainTranslator#

[2022-07-13 16:53] timkocik commented on #17998
This query is also failing, selecting a specific column(s) when there is a join and where clause condition on the same column that is joined on.
[code]
If the where clause only checks columns not in the join condition, the query will run properly, and the query also runs properly if the where condition references a variable rather than literal (e.g. '123').
SELECT * also works with this same query

[2022-07-13 17:45] xiangfu0 commented on #17998
Thanks for reporting, I will take a look!

cc: @dongxiaoman

[2022-07-13 20:38] nizarhejazi commented on #17998
@highker can you assign me this issue? I will work on a fix.

[2022-07-14 04:05] Crossoverrr commented on #16242
I am facing the same problem like you did,
`[WARNING] Found duplicate and different classes in [com.facebook.presto.hive:hive-apache:2.3.7-dp6.44.1.1, org.apache.parquet:parquet-encoding:1.10.1]:
[WARNING]   org.apache.parquet.column.values.bitpacking.BaseBitPackingReader
[WARNING]   org.apache.parquet.column.values.bitpacking.BaseBitPackingWriter
[WARNING]   org.apache.parquet.column.values.bitpa

[2022-07-15 06:09] MasterOdin opened #18039 "NullPointerException on querying system.jdbc.columns"
Presto version: 0.273.4
postgresql: 9.6.11

When attempting to run the query `SELECT * FROM system.jdbc.columns`, I am getting a `NullPointerException`:

[code]

I can run other queries against the database just fine, including `SELECT * FROM information_schema.columns` and querying against the actual data in the DB, but presto just doesn't like something about `system.jdbc.columns`.

[2022-07-15 15:34] cvargas-geo opened #18043 "Why no implement the ST_Buffer function with distance en meters ?"
This is really useful for geospatial processing, I've been having a problem in aws athena where it doesn't create consistent buffers across the globe because decimal degrees change with respect to latitude and longitude, this feature would really be appreciated

[2022-07-15 16:03] cvargas-geo commented on #11022
This is really useful for geospatial processing, I've been having a problem in aws athena where it doesn't create consistent buffers across the globe because decimal degrees change with respect to latitude and longitude, this feature would really be appreciated

[2022-07-15 16:17] cvargas-geo commented on #11022
Wow, this formula is very good to estimate my buffers without reference of meters !!!!! Although the shape is an elongated ellipse from south to north, it is much better than it was before!

[2022-07-15 21:33] 24601 commented on #18031
There are *lots* of discussions about this issue specifically (Apple M1/M2 SoCs, but specifically Hadoop native libs):

https://github.com/prestodb/presto/issues/17200
https://github.com/prestodb/presto/issues/15989

There are reports of bypassing this issue by using an x86 JDK (via Rosetta) so that you can then get around the Hadoop 3 aarch64 issue that is sticking point here, but it won't be at

[2022-07-16 17:14] ppdouble commented on #2326
[connector-j/5.1](https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-installing-upgrading-3-0-to-3-1.html)

[connector-j/8.0](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-connp-props-datetime-types-processing.html#cj-conn-prop_zeroDateTimeBehavior)

[2022-07-18 09:56] #17798 closed

[2022-07-18 14:34] lucagiac81 commented on #17952
We observed the same issue, and we found it's related to [JEP 416](https://openjdk.org/jeps/416). As mentioned in the JEP, it's possible to use the old implementation with -Djdk.reflect.useDirectMethodHandle=false. Following that suggestion, we were able to launch Presto with JDK 18.

[2022-07-19 06:05] agrawalreetika commented on #18039
This looks like a bug from `JdbcMetadata.listTableColumns` Here Nullpointer for `prefix.getSchemaName()` is not handled

[2022-07-20 05:33] beinan commented on #16242
Hello @Crossoverrr , are you running presto with your custom build or master?

[2022-07-20 06:50] 873253814 opened #18069 "Query status is always Running"
I use the official test case, but the task status always shows running Later, I found that the stage of the task has been in the state of flushing rather than finish. How can I solve this problem

`
private DistributedQueryRunner queryRunner;

    @BeforeClass
    public void setUp()
            throws Exception
    {
        queryRunner = DistributedQueryRunner.builder(testSessionBuilder().build(

[2022-07-20 11:03] nizarhejazi commented on #17998
@highker Sent a fix here: https://github.com/prestodb/presto/pull/18067. Can you please review?

[2022-07-20 16:43] amellnik commented on #17798
Closed via #17976

[2022-07-20 19:12] v-jizhang commented on #18024
Relates to #16647. I can pick this up once #16647 is merged.

[2022-07-20 19:38] kaikalur opened #18074 "Add TOP_N_VALUES/TOP_N_KEYS udfs for maps"
Useful function that returns just the top N keys or values from a given map.

[2022-07-21 07:52] sarathdeevi commented on #11429
Yes, this is still an issue, we would like to access the ordinality column with an alias to further use in queries.

[2022-07-21 19:47] rongrong commented on #11429
@pakming  @sarathdeevi did you guys try the `WITH ORDINALITY t(x, y, z)` solution? You can give the column names that way.

[2022-07-21 20:43] kaikalur opened #18082 "Optimize hash computation for grouping sets"
Currently we generate GroupId operator and then hash on all the groups. But this will repeatedly compute the same hash. An optimization would be to compute individual hashes as an array and use the group id to combine them accordingly.

[2022-07-22 17:46] sarathdeevi commented on #11429
@rongrong yes, we did try, but that forces us to list all the columns present in the table, and then alias the ordinality column.

[2022-07-22 23:40] #17923 closed

[2022-07-25 17:08] hitarth opened #18097 "NullPointerException in AdaptiveLongBigArray"
2022-07-21T04:47:26.163Z        ERROR   SplitRunner-92-3074     com.facebook.presto.execution.executor.TaskExecutor     Error processing Split 20220721_044655_00651_3ydgn.67.0.33-18  (start = 2.671914676034453E10, wall = 18145 ms, cpu = 2155 ms, wait = 66 ms, calls = 7)
java.lang.NullPointerException
        at com.facebook.presto.array.AdaptiveLongBigArray.get(AdaptiveLongBigArray.java:70)

[2022-07-25 19:57] kaikalur opened #18098 "CSE crashes with dupe key errors"
Following query gives compile failure looks like somehow it's thinking there are duplicate keys while doing CES:

[code]

CC: @rongrong

[2022-07-25 21:24] pranjalssh opened #18100 "Flaky tests in presto-iceberg"
2 flaky tests in presto-iceberg have been disabled.

PR: https://github.com/prestodb/presto/pull/18081

Run: https://github.com/prestodb/presto/runs/7507677777?check_suite_focus=true

[Logs](https://pipelines.actions.githubusercontent.com/serviceHosts/b142b595-b3a5-43bf-a874-b00b946d701e/_apis/pipelines/1/runs/103497/signedlogcontent/2?urlExpires=2022-07-25T21%3A23%3A52.0328148Z&urlSigningMethod=H

[2022-07-25 21:25] pranjalssh commented on #18100
Cc @nastra  @beinan

[2022-07-25 23:44] beinan commented on #18100
@pranjalssh thank you for raising this issue!  #18101 merged

[2022-07-25 23:45] #18100 closed

[2022-07-26 04:10] xiangfu0 commented on #17998
Put a fix here: https://github.com/prestodb/presto/pull/18105

[2022-07-26 22:46] ClarenceThreepwood opened #18107 "Provide an option to toggle between partition filter cache and caching all table partitions"
When using AWS Glue, performance of [GetPartitions](https://docs.aws.amazon.com/glue/latest/webapi/API_GetPartitions.html) significantly degrades when the catalog includes [tables having a large number of partitions](https://docs.aws.amazon.com/athena/latest/ug/partition-projection.html#partition-projection-pruning-vs-projection:~:text=If%20a%20table%20has%20a%20large%20number%20of%20partitions%2C

[2022-07-27 13:01] LvLiangLiang-dev opened #18112 "about Prestissimo"
I want to install and use prestissimo. Can anyone tell me how to get the beta Prestissimo(presto on velox)？

[2022-07-28 08:37] ajantha-bhat commented on #18100
@nastra, @pranjalssh: I want to investigate these Nessie flaky tests.

Do we have a link to the callstack (in logs) when the failure happened? I tried running disabled tests from this PR locally. But I couldn't reproduce locally.

[2022-07-28 08:42] nastra commented on #18100
@ajantha-bhat here's the stack from from https://github.com/prestodb/presto/runs/7493562511?check_suite_focus=true:
[code]

[2022-07-28 18:04] dnskr commented on #16516
The connector has been added but the doc page is not visible in [0.273.3 documentation](https://prestodb.io/docs/0.273.3/connector.html)
Is it possible to check why?

[2022-07-29 00:50] lglfa commented on #18003
you can refer to [issue 17445](https://github.com/prestodb/presto/issues/17445)

[2022-07-29 02:27] zhengxingmao commented on #16431
Any progress? Or design documents. I'm also debugging materialized views. I don't know if I can help.

[2022-07-29 11:58] yl09099 opened #18122 "Query an exception for HUDI table with field TIMESTAMP"
Hudi's MOR table has a timestamp field and queries throw exceptions：class org.apache.hadoop.io.LongWritable cannot be cast to class org.apache.hadoop.hive.serde2.io.TimestampWritable (org.apache.hadoop.io.LongWritable and org.apache.hadoop.hive.serde2.io.TimestampWritable are in unnamed module of loader com.facebook.presto.server.PluginClassLoader

[2022-07-29 12:22] ajantha-bhat commented on #18100
Randomly reproduced with logs, need to dig more

[code]

session1: [SHOW SCHEMAS FROM iceberg]
[[information_schema], [tpch]]
session2: [SHOW SCHEMAS FROM iceberg]
[[information_schema], [**namespace_one**], [tpch]]

`assertQuerySucceeds(sessionOne, "CREATE SCHEMA namespace_one");`

session1: [SHOW SCHEMAS FROM iceberg]
[[information_schema], [namespace_one], [tpch]]
session2: [SHOW SCHEMAS FROM i

[2022-07-29 12:23] zhengxingmao opened #18123 "Materialized view query optimization lacks the establishment of the association between materialized views and base tables."
Details please refer to this slak link:
https://app.slack.com/client/T07JGT5ME/C032099AFQ9/rimeto_profile/U013YSXM2NR

Through debugging the code, it is found that the current implementation lacks the establishment of the association between materialized views and base tables. At present, the community only has getReferencedmaterializedviews, and there is no setReferencedmaterializedviews.

[2022-07-29 18:06] markjin1990 commented on #17693
@mshang816 would you mind pointing me to this thread Deepkak mentioned? I encountered the same problem.

[2022-07-29 18:35] dimas-b commented on #18100
#18124 fixes the namespace clash.

[2022-07-31 05:33] harshjk commented on #18074
@kaikalur Please review the PR ☝️

[2022-08-01 08:44] xiangfu0 commented on #17998
Can you check on the latest change and see if it resolved this issue?

[2022-08-01 20:54] cliandy commented on #17998
looking good, thanks @xiangfu0 !

[2022-08-01 20:54] #17998 closed

[2022-08-01 21:00] rohanpednekar commented on #18112
@LvLiangLiang-dev

It's not ready to use yet. It's under development. We will probably have it announced through the blog or release notes.

If you are interested in developing with us then please let us know and  join https://prestodb.slack.com/archives/C03DYLFBN06

cc @majetideepak @aditi-pandit

[2022-08-03 03:23] LvLiangLiang-dev commented on #18112
I want to ask about the actual landing time of Presto native engine on Velox, because we want to reduce costs and increase efficiency. is there a specific time roadmap? tks

[2022-08-03 16:06] PraneethGudumasu commented on #15627
This workaround does not work for us. We have a column of date data type and Presto throws us the exception after the attribute is modified to timestamp type.  Our Presto version is 0.234. Is it because of the Presto version, the workaround does not work or date to timestamp coercion is the problem ?

[2022-08-04 07:29] zhilinli123 opened #18142 "java.lang.RuntimeException: failed to load Hadoop native library"
<img width="1379" alt="image" src="https://user-images.githubusercontent.com/76689593/182789232-c0ab6054-4380-41fd-9fea-ee174a29d8fd.png">

hadoop version: Hadoop 3.0.0
environment variable:
export HADOOP_OPTS="$HADOOP_OPTS -Djava.library.path=$HADOOP_HOME/lib/native"
export HADOOP_COMMON_LIB_NATIVE_DIR=$HADOOP_HOME/lib/native

[2022-08-04 09:31] imjalpreet commented on #15627
@PraneethGudumasu Can you elaborate a bit more on what is the error message you are seeing?

Also, since you are using a very old Presto version(almost 2-3 years old) it is very difficult to comment on whether that would be an issue or not. But I would recommend that you try to upgrade presto to a more recent version.

[2022-08-04 14:55] imjalpreet commented on #15627
@PraneethGudumasu The error you are facing is because of datatype mismatch between actual ORC files and Hive Metastore. Date and Timestamp cannot be coerced. So, you will have to make sure the datatype of the column in the ORC file as well as the metastore is the same. You can probably create a new table and move the data from the old ORC table.

[2022-08-04 17:05] wanglinsong commented on #18004
Can you share how you deploy the presto docker?
I assume you deploy presto in a docker container, and mysql is on the host machine. In this case, presto cannot reach mysql directly.
If you can re-deploy mysql, the deploy it in another docker container, and use docker compose to deploy both. They can reach each other with container name.

Please confirm, then I can send over a detailed example.
@si

[2022-08-04 17:24] PraneethGudumasu commented on #15627
@imjalpreet Thanks for confirming. so i ended up writing a Spark program to read the data , cast the date and overwrite the partition.

[2022-08-07 15:39] Huo662329 opened #18151 "Do presto support vectorized reader on parquet file?"
Do presto support vectorized reader on parquet file?

[2022-08-08 06:32] zhengxingmao commented on #16759
Do we have documentation on how materialized view query optimization is designed? At present, it seems that node matching and replacement is carried out in the Analyze stage. I have a question about how to optimize the join operation later or how to make the optimal choice when there are multiple materialized views of a table?

[2022-08-08 06:44] zhengxingmao commented on #16759
I am currently working on Calcite's MV query optimization, trying to borrow its ideas to support Join's materialized view query rewrite in Presto. It is based on the [Optimization Queries Using Materialized Views: A Practical, Scalable Solution](https://courses.cs.washington.edu/courses/cse591d/01sp/opt_views.pdf) paper implementation, based on structure adaptation. At the moment our implementatio

[2022-08-08 20:03] mchutani-CS opened #18154 "Presto Hive Connector + s3 external_location unsupported error"
Hi devs, I'm pretty new to the ecosystem and was trying to setup Presto with hive to query a deltatable located in Amazon S3.

PRESTO VERSION: `0.274`
HIVE VERSION: `3.1.2`
QUERY:
[code]
RESULT:
[code]

Here's my config:

HIVE:
`conf/hive-site.xml`
[code]

Presto:
`etc/node.properties`
[code]

`etc/jvm.config`
[code]

`etc/config.properties`
[code]

`etc/catalog/delta.properties`
[code]

[2022-08-09 00:24] Sullivan-Patrick commented on #16759
@zhengxingmao Not sure exactly what you mean by structural-based rewrite, can you elaborate or link me to an article which defines this?

The rewrite code can be found inside `MaterializedViewQueryOptimizer` where we literally rewrite the SQL, as well as `StatementAnalyzer`. Join definitions are found inside `QuerySpecification.from`.

I'm quite new to presto myself, but I've been working with the

[2022-08-09 00:54] zhengxingmao commented on #16759
Here is the paper address
https://courses.cs.washington.edu/courses/cse591d/01sp/opt_views.pdf

Structure based rewriting is to extract the features in the query and use a set of rules for matching rewriting. The optimizer represents the query as SPJG standard form (join select project groupby), extracts the five expressions of join, projects, filters, grouping and aggregations in the query, and m

[2022-08-09 19:04] fgwang7w commented on #17927
Thanks for going over this in tsc and sharing the design doc. One minor question: thinking this from cardinality estimation heuristic point of view, is there a poc to measure the performance when transforming the semijoin into a plan with aggregation that has a low cardinality reduction ratio? What's the peformance gain/penalty when this feature is enabled?

[2022-08-09 19:16] ClarenceThreepwood commented on #17927
Thanks George. The performance gain can be arbitrarily large depending on the cardinalities of the tables involved. In case  the join does not reduce cardinality then we heuristically push the aggregation below the join and depending on the distribution of the inputs the performance could be much improved. We will report actual benchmark results with the PR.

[2022-08-09 22:22] ClarenceThreepwood commented on #17927
@rschlussel @rongrong - Does this look good to you?

[2022-08-10 09:39] maheshsv commented on #18017
Can you please assign it to me , I will work on this

[2022-08-10 14:08] #18107 closed

[2022-08-10 15:55] Sullivan-Patrick commented on #18017
@maheshsv Thanks for looking into this! Feel free to reach out if you're stuck.

[2022-08-11 08:47] pratyakshsharma opened #18166 "Minor bug when querying hudi MoR tables"
When trying to query Hudi table stored on S3 path with the new presto-hudi connector, I came across this error -

Query - select * from hudi.default.hudi_mor_rt;

`
org.apache.hudi.exception.HoodieException: Exception when reading log file
    at org.apache.hudi.common.table.log.AbstractHoodieLogRecordReader.scanInternal(AbstractHoodieLogRecordReader.java:352)
    at org.apache.hudi.common.table.l

[2022-08-12 00:48] ClarenceThreepwood commented on #17927
Thanks Rebecca.

1. I will update the PR with more reasonable names for these flags
2. Detecting whether the input(s) to the join are distinct keys,  determining whether output expressions of a plan node can be composed of other node outputs etc are easily realized using the logical properties framework. Yes - mostly works with the interface. I will sync with the refactoring work to make sure we d

[2022-08-12 06:55] harris233 commented on #18166
When I used presto to query Hudi table, I encountered similar problems.
![image](https://user-images.githubusercontent.com/48636225/184299599-8f7119ad-8c36-4d65-840d-98174717686f.png)
I met `Caused by: java.lang.UnsupportedOperationException: Not implemented by the HadoopExtendedFileSystem FileSystem implementation
    at org.apache.hadoop.fs.FileSystem.getScheme(FileSystem.java:300)`
So I try to

[2022-08-12 13:33] rschlussel commented on #17869
Commented on #17917, but one other thing to do is to refactor how the Property classes are constructed to make all the Property classes immutable.

[2022-08-13 02:05] ShaoyiZhang commented on #18002
I saw this error with mysql connector, and it was because I have the proper credentials on the coordinator node but forgot to deploy the connector credentials to the worker nodes.

[2022-08-13 05:10] yulongfufu opened #18181 "[Hint]Resolve redundancy off-heap memory used"
### BackGround:

Recently, a case occurred to me that off-heap memory increase gradually till 10G with the operation of the cluster, no matter operating on 64G nor 180G machine. This problem is more previous when it comes to 64G machine.
<img width="491" alt="企业微信截图_2e7b9587-f10a-4cb3-a225-0f02b941ebb4" src="https://user-images.githubusercontent.com/86234715/184468836-be7653cb-976f-450d-a899-81040

[2022-08-15 18:30] cliandy opened #18189 "Dynamic Filtering pushdown can only pushdown filters for certain joins"
Dynamic filters currently benefit `INNER` and `RIGHT` joins where the build side is preserved.

This is not an issue when dynamic filters are not pushed down where the dynamic filter helps reduce the size of the probe side. However, this creates limitations for other `OUTER` joins where filters may cut down on data fetched when dynamic filters are pushed down to the connector to fetch less data.

[2022-08-15 19:27] #7005 closed

[2022-08-16 08:41] ScrapCodes commented on #18112
Hi @rohanpednekar , I am interested to work on or may be try out beta/alpha for prestissimo - please let me know how can I get involved !

[2022-08-16 11:51] pratyakshsharma commented on #18166
@harris233 Thank you for your suggestion. I tried this already and was able to fix the error. Have raised a PR for the fix.

[2022-08-16 11:51] #18166 closed

[2022-08-16 15:43] #17805 closed

[2022-08-17 04:00] agrawalreetika commented on #18154
Hi @mchutani-CS
As per the configuration, you are trying to CREATE TABLE via Delta Connector, which is not supported.
You can run CREATE TABLE command via the hive connector, please use the hive connector instead here.
https://prestodb.io/docs/current/connector/hive.html#configuration

[2022-08-17 15:21] mchutani-CS commented on #18154
Hi @agrawalreetika . Thanks for your response.
My usecase is to test the read performance of PrestoDB using the DeltaConnector since my DeltaTable resides in a cloud storage (s3, gs).
As per my understanding, if I use the Delta connector, the hive metastore is used to store metadata about the Delta Table. So with this CREATE TABLE command, I was trying to update hive metastore with the metadata ab

[2022-08-17 17:57] javrod87 commented on #18154
The Trino fork of Presto has a [Delta Lake connector that supports writes](https://trino.io/docs/current/connector/delta-lake.html#updating-data). You might want to give that a try.

[2022-08-18 03:42] agrawalreetika commented on #18154
Hi @mchutani-CS,
You can use CREATE TABLE command via Hive Connector to register your delta tables in HMS and then make use of Presto delta connector to access the data.
Ref - https://prestodb.io/docs/current/connector/deltalake.html
Let me know if you have any questions.

[2022-08-18 12:49] chufa opened #18200 "Presto integrated ranger error"
there are some steps:
1、Installed ranger-presto-plugin successfully；
./enable-presto-plugin.sh
some message：
Property access-control.name updated successfully with : 'ranger'
Linking config files
Ranger Plugin for presto has been enabled. Please restart presto to ensure that changes are effective.
2、I will run the presto in idea
this is ranger plugin setting and all the config will be writen into

[2022-08-18 17:30] #18039 closed

[2022-08-18 21:19] mchutani-CS commented on #18154
Hi @agrawalreetika,

Thank you for your suggestion. I'm going to try it out.
I have a question. Are there any read performance benefits if I register by delta tables in HMS vs directly accessing it through `$path` like this -> `SELECT * FROM sales."$path$"."s3://db-sa-datasets/presto/sales_data" LIMIT 200;`?

[2022-08-19 08:47] ShubhamChaurasia commented on #15453
@swapsmagic  @cliandy Any luck with number of nodes issue [mentioned above](https://github.com/prestodb/presto/issues/15453#issuecomment-1133595663) ?

[2022-08-19 12:10] sinisdevan commented on #11806
Hi I am also working with username and password. after authentication while querying presto db with "show catalogs;" I am getting below error "Error running command: java.net.ConnectException: Failed to connect to /127.0.0.1:8443". can anyone help me with the rot cause and solution

[2022-08-20 08:59] agrawalreetika commented on #18154
Hi @mchutani-CS
Basically when you register table in HMS, presto-delta connector will get the location of delta table from HMS and then the flow for metadata and data access would be similar to when you access table using `$path`
So I believe until your HMS call for getting location is not a bottleneck there shouldn't be any performance difference.

[2022-08-20 11:48] yingsu00 commented on #18031
Resolved

[2022-08-20 11:48] #18031 closed

[2022-08-22 04:48] agrawalreetika commented on #18200
Hi @chufa,
You can use Ranger-Based Authorization for Hive connector by using the required configuration in your hive catalog configuration - https://prestodb.io/docs/current/connector/hive-security.html#hive-ranger-based-authorization
This is supported in presto-0.275 or later.
Let me know if you have any questions.

[2022-08-23 08:47] yl09099 commented on #15453
Hello, I would like to ask a question, in the distributed resource manager, can only one resource manager work? I now have two resource managers deployed, two coordinators deployed, and multiple workers. I can't see all the workers in each coordinator, but the number of workers in both coordinators adds up to the number of workers that I deploy all the workers. Why is this? @tdcmeehan

[2022-08-23 11:38] SamStayGold opened #18217 "Clickhouse plugin should be packed in tarball after 0.273"
In version 0.273, a new Presto connector for Clickhouse was added as mentioned in [this relase note](https://prestodb.io/docs/current/release/release-0.273.html).

However, the provided tarball did not include clickhouse connector in plugin directory by default. This connector was well documented in release note and connector docs, but when implemented，coordinator failed to start due to errors bel

[2022-08-23 16:04] jonbfid commented on #11554
Having the same issue with running prestodb workers in docker.  They appear in the v1/service list, but do not appear as active nodes.  Nodes running on the docker daemon local to the coordinator will show as active, but not remote containers.

[2022-08-24 02:45] bigxiaochu opened #18220 "There are too many hive metastore getPartition requests when CachingHiveMetastore set partitionCacheRefreshMills"
We want use HiveMetastore cache ，and set
 hive.metastore-refresh-interval=5m
hive.metastore-cache-ttl=10m
 hive.metastore-cache-maximum-size=100000
hive.metastore-refresh-max-threads=500.

 Query SQL generally calls the getAll method of partitionCache and get a partitions list by once,
 call hive metastore get_partitions_by_names through loadAll method of partitionCache.

 But We found when partit

[2022-08-24 04:18] agrawalreetika commented on #18217
@SamStayGold Yes, I see presto-clickhouse is not added in presto-server assembly. Which is by its not getting added as a plugin in presto tar.
If you want to do it, you can add presto-clickhouse dependency in these 2 files and build presto project again, it will add presto-clickhouse in presto tar plugin.

https://github.com/prestodb/presto/blob/master/presto-server/src/main/assembly/presto.xml
ht

[2022-08-24 05:31] ShubhamChaurasia commented on #15453
@tdcmeehan @swapsmagic
Is there a top level PR or Issue where I can find all the RM related PRs/Commits ? https://github.com/prestodb/presto/pull/15479/commits contains some of them but I guess it's not the complete list.

So far I have been able to locate the following -
1. https://github.com/prestodb/presto/pull/15673/commits
2. https://github.com/prestodb/presto/pull/15892/commits
3. https://gi

[2022-08-24 14:05] chufa commented on #18200
Thans

I have solved the problem, the presto spi implemented by ranger is io.prestsql.spi, and the presto I need to integrate is the facebook version, and this io.prestsql.spi implementation needs to be noted that the associated packages need to be changed to facebook dependencies package, otherwise the above error will be generated

        <dependency>
            <groupId>com.facebook.presto</g

[2022-08-24 16:45] mceste-volume commented on #17071
That looks like a classpath resource and not a file path therefore it tries to resolve as Maven coordinates.

[2022-08-25 00:06] tooptoop4 commented on #11952
@friendofasquid or anyone else have you encountered the issue on release >= 0.255 ?

[2022-08-25 00:26] kaikalur opened #18226 "Multiple sql functions called on arrays from table scans fai"
set session inline_sql_functions=false;

create table if not exists test_array_temp as select sequence(1, 10) x;

   SELECT
    "array_sum"("transform"(x, (y) -> "cardinality"(x))) pages_checks
    , "array_sum"("transform"(x, (y) -> "array_sum"("transform"(x, (check) -> IF((NOT random(10) > 10), 1, 0))))) pages_checks_failed
   FROM
   test_array_temp;

[2022-08-25 06:01] arunthirupathi commented on #18226
This should fix the issue, https://github.com/prestodb/presto/pull/18227 will try it on verifier tomorrow.

[2022-08-25 08:48] china-shang opened #18229 "Time Travel (querying the historical versions of data) ability for Hudi Table"
Does presto support this feature, and if so, what syntax is used?

[2022-08-25 08:51] china-shang commented on #18229
https://issues.apache.org/jira/browse/HUDI-1460，According to this documentation, is it not supported? Is there a development plan

[2022-08-25 08:51] china-shang commented on #18229
https://issues.apache.org/jira/browse/HUDI-1460，According to this documentation, is it not supported? Is there a development plan

[2022-08-25 12:01] SamStayGold commented on #18217
Many thanks! I have already built presto-clickhouse connector separately and got it running in test environment. Nice work~

[2022-08-25 16:52] javrod87 commented on #18229
Trino (a fork of Presto) supports the [`AS OF` syntax](https://github.com/trinodb/trino/pull/10258) now for Iceberg and Delta Lake. Don't know of anything yet for Presto. The Hudi connector is about to be added and the support for this will be there once [this PR](https://github.com/trinodb/trino/pull/10228) gets merged.

[2022-08-25 17:09] rohanpednekar opened #18230 "Implement Parquet bloom filter"
With https://github.com/prestodb/presto/pull/17430, We have upgraded the parquet version to 1.12.2, This issue is to add support for parquet bloom filters.

[2022-08-26 05:54] WuRoc opened #18237 "Query not found"
UI Today, 2022.8.26, I got Query not found at http://localhost:8080/ui/query.html?20220822_095421_00014_rkm2s a few days ago. How does presto find all the queries, can you summarize the sql of the query, and where is the entry for parsing the sql?

[2022-08-26 11:59] cwang9208 commented on #13182
Hi @aweisberg , do you have a branch for this proposal? I think this is a great idea and would like to try it out.

[2022-08-26 22:23] pramodsatya opened #18243 "Filters on Date not supported in Presto C++"
In function toFilter() in presto-native-execution/presto_cpp/main/types/PrestoToVeloxQueryPlan.cpp, filters on Date are not supported. When running TPCH query 1 on the Presto C++ worker as a result, the following error appears:
Unsupported range type: DATE

[2022-08-26 22:32] yingsu00 commented on #18243
@pramodsatya can you paste the stack trace please?

[2022-08-26 22:35] pramodsatya commented on #18243
This is the stack trace I got from Presto session > Query details > Error information:
VeloxUserError:  Unsupported range type: DATE

[2022-08-26 22:35] aditi-pandit commented on #18243
@pramodsatya : Please check if https://github.com/facebookexternal/presto_cpp/pull/633 helps you. I had written this code a while ago, but this didn't get checked in because of not having Parquet tests yet.

[2022-08-26 22:48] pramodsatya commented on #18243
Thank you so much @aditi-pandit, this PR fixed the issue

[2022-08-26 22:48] #18243 closed

[2022-08-27 08:05] cwang9208 commented on #13182
@oerling do you have a branch for this proposal? I think this is a great idea and would like to try it out.

[2022-08-28 15:35] dnskr commented on #17461
Am I right that it will eliminate  `query.max-memory-per-node` or `query.max-total-memory-per-node` property (same for `query.max-memory` and `query.max-total-memory`) for users and make configuration more simple?

[2022-08-28 19:24] WuRoc commented on #18237
？？？

[2022-08-29 03:51] Archie-selfless opened #18249 "Presto query Hudi returned Exception: The column of table is declared as type string, but the Parquet file declares the column as type INT64"
### Overview
I tried to verify the process using Kafka Connector ingesting data from Oracle with Debezium, and put the data into Hudi table with spark. Everything seems right but when I attempt query Hudi data by Presto, I got a Exception as follow:
[code]

As Presto Server loged above, I inspected the Parquet file in my Tencent COS. However the type of the column `u_no` is **string** rather than

[2022-08-29 13:15] rschlussel commented on #17461
I haven't had a chance to work on this much, but that's the goal.

[2022-08-31 07:19] Archie-selfless commented on #18249
Resolved! Exception encountered because I set the `hoodie.datasource.write.recordkey.field` and `hoodie.datasource.write.partitionpath.field` with the same key.

[2022-08-31 07:19] #18249 closed

[2022-08-31 07:20] Archie-selfless commented on #18249
Resolved! Exception encountered because I set the `hoodie.datasource.write.recordkey.field` and `hoodie.datasource.write.partitionpath.field` with the same key.

[2022-08-31 15:54] majetideepak opened #18261 "[Native Execution] Build failure on MacOS when PRESTO_ENABLE_PARQUET=ON"
The presto_server target build fails on MacOS with bunch of missing symbols when built with -DPRESTO_ENABLE_PARQUET=ON
[code]

[2022-08-31 15:59] mbasmanova commented on #18261
CC: @mshang816 @amitkdutta @spershin @gggrace14

[2022-08-31 16:00] mbasmanova commented on #18261
@majetideepak Deepak, are there any particular steps to reproduce this failure? I'm able to build successfully.

[2022-08-31 16:01] mbasmanova commented on #18261
@majetideepak Deepak, does this happen only when PRESTO_ENABLE_PARQUET=ON ? I don't have this setting. I'll try to enable it and build.

[2022-08-31 16:04] majetideepak commented on #18261
@mbasmanova Yes, the build fails only when PRESTO_ENABLE_PARQUET=ON. I edited the description. Previously it was only in the title.

[2022-08-31 16:08] majetideepak commented on #18261
Some observations
1) This seems to happen only on MacOS and not on Linux.
2) We have two thrift libraries, regular thrift (for Arrow) and FBThrift. Likely a conflict between both.
3) I tried to see if we can use only FBThrift for Arrow as well. Unfortunately, this does not work since Arrow checks in regular thrift-generated Parquet Thrift files.

[2022-08-31 17:08] mshang816 commented on #18261
I can take a look. So this should be reproduced like this: make -DPRESTO_ENABLE_PARQUET=ON debug  ?

[2022-08-31 18:15] majetideepak commented on #18261
`PRESTO_ENABLE_PARQUET=ON make debug` should do.

[2022-08-31 18:45] mshang816 opened #18264 "[native] native macos runs failed with "Illegal instruction: 4""
native macos runs failed with "Illegal instruction: 4" when running thrift1. thrift1 is also built from source. we have no idea why we got "Illegal instruction: 4" googling around it seems to be related to different macos version. But the same workflow runs fine previously without any change. We need to look into that.

/bin/sh: line 1: 80084 Illegal instruction: 4  /Users/runner/deps-src/fbthrift

[2022-09-01 01:30] mshang816 commented on #18261
it looks like I can reproduce the issue locally. I will take a look at the issue.

[2022-09-01 15:45] harsh9898 commented on #18002
Presto version : 0.268
Presto JDBC version : 0.268
Presto coordinator : 1 , worker : 1
Data Source : Oracle

When I am trying open a table and get the data with DBeaver, it's giving the following error :

SOL Error [65541]: Query failed (#20220901_125736_00006_unsxw): sortedCandidates is null or empty for ModularHashingNodeProvider

If someone figured out to resolve this then Please help with this

[2022-09-01 15:45] cliandy commented on #18237
Not sure if this is what you're asking, but presto has a maximum history set with `query.max-history` so it may have been removed if enough queries were run

[2022-09-01 15:50] harsh9898 opened #18272 "sortedCandidates is null or empty for ModularHashingNodeProvider for oracle connector"
Presto version : 0.268
Presto JDBC version : 0.268
Presto coordinator : 1 , worker : 1
Data Source : Oracle

When I am trying open a table and get the data with DBeaver, it's giving the following error :

SOL Error [65541]: Query failed (#20220901_125736_00006_unsxw): sortedCandidates is null or empty for ModularHashingNodeProvider

If someone figured out to resolve this then Please help with this

[2022-09-01 16:02] SofiaThai commented on #2433
Hi there, are there any updates on this?

[2022-09-01 19:23] elharo opened #18278 "Document Presto Druid connector timestamp format"
That is, when Druid sends timestamps to Presto what formats need to be supported?

[2022-09-02 17:16] rohanpednekar commented on #18229
@china-shang, master Presto does support time travel for Iceberg and Delta Lake and teams are working on getting Time Travel ability added for Hudi Table as well. Trino Delta lake connector was a proprietary solution from Starburst which they open-sourced when Presto Native Delta Lake connector got released to the public so we do not control it. Also, it is not built on [delta standalone liabrary]

[2022-09-02 17:19] rohanpednekar commented on #18229
Also to contribute to Presto product roadmap and shape Presto community, Fill out this survey form at http://tinyurl.com/prestodb and get a free Presto t-shirt.
Join [https://prestodb.slack.com/](https://prestodb.slack.com/?fbclid=IwAR3iwFs8LzRwPmZbg_oXXlEe0opuH0SdDtP1wbnMChHcNTJuvVWo5eMdCWs) if you have not done already!

[2022-09-02 22:51] StevenMih commented on #18112
Hi @ScrapCodes ,   @majetideepak is good to talk with regarding Prestissimo with is still under development WIP. If you're interested in joining the project development, he can point you to some starter issues and help you get involved!
Also i suggest you joining the #presto-cpp channel in the presto slack if you haven't already: https://join.slack.com/t/prestodb/shared_invite/zt-1e895j77n-zdX2Z3~

[2022-09-02 22:54] #18112 closed

[2022-09-02 23:24] shangxinli opened #18283 "Add Parquet BloomFilter"
Since Presto is upgraded to Parquet 1.12+, we can implement the bloom filter feature.

[2022-09-03 00:37] rohanpednekar commented on #17634
@sijialouintel can you try with [Scripts](https://github.com/prestodb/presto/tree/master/presto-native-execution/scripts)/setup-circleci.sh now and let us know your feedback?

@majetideepak is good to talk with regarding Prestissimo with is still under development WIP. If you're interested in joining the project development, he can point you to some starter issues and help you get involved!
I sugg

[2022-09-04 15:53] dnskr commented on #18283
Duplicates https://github.com/prestodb/presto/issues/18230

[2022-09-05 01:17] WuRoc commented on #18237
yes，what you said can solve my problem thanks.

[2022-09-06 13:10] mbasmanova opened #18289 "[native] Add support row structs in VALUES clause"
PR #18274 added support for maps and arrays in VALUES clause. This issue about adding support for structs.

[code]

CC: @majetideepak @aditi-pandit

[2022-09-06 13:11] mbasmanova commented on #18289
CC: @spershin @xiaoxmeng

[2022-09-06 15:24] majetideepak commented on #18112
@ScrapCodes You can always pick open issues from https://github.com/prestodb/presto/issues. If you can share your area of interest/strengths, I can share other issues. Slack is definitely easier to discuss.

[2022-09-06 17:09] mshang816 opened #18290 "[native] test-native github action workflow keeps failing with SIGSEGV"
here is one example https://github.com/prestodb/presto/runs/8211210675?check_suite_focus=true
From the log of running test case TaskManagerTest.outOfQueryUserMemory():
*** Aborted at 1662482470 (Unix time, try 'date -d @1662482470') ***
*** Signal 11 (SIGSEGV) (0x0) received by PID 3568 (pthread TID 0x7ff224efa700) (linux TID 3568) (code: address not mapped to object), stack trace: ***
(error retr

[2022-09-06 17:15] mbasmanova commented on #18290
CC: @majetideepak

[2022-09-06 17:15] mbasmanova commented on #18290
CC: @tanjialiang

[2022-09-06 20:08] spershin commented on #18290
I noticed on mac (local E2E test run) that workers are crashing on seemingly random tests. I run TestHiveQueriesUsingJSON.
My last run two tests failed: 'testCast' and 'testPrestoBenchTables'.
Before that only one failed: 'testTimestampWithTimeZone'.
On GH see [examples](https://github.com/prestodb/presto/runs/8141784947?check_suite_focus=true) of other failed: 'testFiltersAndProjections' and othe

[2022-09-07 15:50] Sarfaraz-214 opened #18302 "Invalid partition value for Hudi table"
We saw an issue while querying over Hudi table via new Presto-Hudi connector. My table is hive-style partitioned and this happens for both COW and MOR tables.

**Query** : `select * from hudi.hudi_local_db.core_job_cow where last_updated=date('2022-04-21') limit 5;`

**Error** : `Query 20220907_150634_00003_4vg5x failed: Invalid partition value '2022-04-21' for date partition key: last_updated
com

[2022-09-07 15:57] Sarfaraz-214 commented on #18272
@harsh9898 Adding `thrift.server.ssl.enabled=false` in `config.properties` under `<presto-server-dir>/etc/` has helped me resolve this issue. If you haven't tried it out, then I recommend you to try once.

[2022-09-07 16:30] #18237 closed

[2022-09-07 16:47] kaikalur opened #18304 "Add UDF to find the first element matching a predicate"
FIND(array, x->p(x)) should return the first x that satisfies the predicate (null if nothing matches).
FIND(array, start, x->p(x)) - starting from start
FIND(array, -start, x->(px)) - starting at start from the end (for rev search)

[2022-09-07 17:04] codope commented on #18302
@7c00 Can you please take a look? It seems like the code expects a long value for date type fields. But here we see string in date format.
https://github.com/prestodb/presto/blob/master/presto-hudi/src/main/java/com/facebook/presto/hudi/HudiPageSource.java#L222

[2022-09-07 18:16] Sarfaraz-214 opened #18306 "IndexOutOfBoundsException while querying Hudi MOR table"
We saw an issue while querying over MOR Hudi table via new Presto-Hudi connector. My table is hive-style partitioned.

**Query** : `select * from hudi.hudi_local_db.core_job_mor where last_updated=date('2022-04-21') limit 5;`

**Error** : `java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0
	at java.base/jdk.internal.util.Preconditions.outOfBounds(Preconditions.java:64)
	at jav

[2022-09-07 18:19] Sarfaraz-214 commented on #18306
@codope Please check!

[2022-09-08 08:46] codope commented on #18306
@Sarfaraz-214 I think this should be resolved by #18222
I just queried a Hudi MOR table with log files using presto-hudi master and it succeeded.

[2022-09-08 12:12] 7c00 commented on #18302
It's a bug. Let me fix that.

[2022-09-08 17:53] majetideepak opened #18312 "Native CI failing due to Decimal test failure"
Error:  Failures:
Error:    TestHiveQueriesUsingJSON.testDecimalLiterals:16->TestHiveQueries.testDecimalLiterals:349->AbstractTestQueryFramework.assertQuery:149 For query:
 SELECT * from (values decimal'123.12', decimal'-0.0004', NULL,CAST('922337203685477580' as DECIMAL(18,0)), decimal'1123', NULL)
not equal
Actual rows (up to 100 of 1 extra rows shown, 6 rows in total):
    [-1701411834604692317

[2022-09-08 17:54] majetideepak commented on #18312
The Presto Serializer changes in Velox need corresponding changes here in the deserialization code.

[2022-09-08 18:22] spershin commented on #18312
@majetideepak
Do I understand correctly that Prestos serialization has been changed very recently?

[2022-09-08 19:01] #18098 closed

[2022-09-08 19:27] majetideepak commented on #18312
@spershin yes, last week as part of this PR https://github.com/facebookincubator/velox/pull/2444

[2022-09-08 19:39] #18217 closed

[2022-09-08 22:01] #18312 closed

[2022-09-11 20:52] ashleydaley opened #18325 "Documentation disappeared from site"
The following page no longer exists: https://prestodb.io/docs/0.217/index.html

It only seems to work from v0.251 upwards. Is this normal culling of out of date pages? I like to use this as it is the version of Presto that AWS Athena uses so would very much like it available.

Is there another way to access it if not via the above link?

[2022-09-12 09:59] imjalpreet commented on #18142
@zhilinli123 Currently Presto doesn't officially support Hadoop 3.x, work is going on to support it. Also, it is recommended to not set these parameters with Presto unless you have customizations that require native code. Presto bundle already comes with the required native libraries.

[2022-09-12 10:01] imjalpreet commented on #18003
There is an ongoing PR #18040 which once merged should fix this issue.

[2022-09-12 14:24] Sarfaraz-214 commented on #18306
Thanks @codope
@7c00 Will this fix be available in the next 0.277 version?

[2022-09-12 14:49] codope commented on #18306
yes it should be taken into the next release. i'll keep an eye.

[2022-09-12 15:33] tdcmeehan opened #18328 "Resource Group Tagging"
Resource groups have multiple, sometimes competing goals: ensuring fairness for users, while also ensuring maximum safe throughput for a cluster.

For mature production systems, it is important to introduce high level metrics that show whether or not user expectations are being met.  This may be throughput, queueing time, or other metrics.  However, due to the tree structure of resource groups, it

[2022-09-12 18:08] #18304 closed

[2022-09-12 21:11] majetideepak opened #18335 "Add support for TPC-H connector in presto native execution"
Velox already supports the TPC-H connector. We need to bind presto native execution with this.

[2022-09-13 02:29] #18123 closed

[2022-09-14 10:58] imjalpreet commented on #18325
@ashleydaley The older docs were archived recently. You can view them here: https://github.com/prestodb/prestodb.github.io/tree/source/archive

@rohanpednekar/@alileclerc can provide more context on the same.

[2022-09-15 13:29] tdcmeehan opened #18347 "Add JavaDoc for Life of a Query path"
Critical classes:

* QueuedStatementResource -- POST and GET methods
* QueuedStatementResource.Query
* DispatchManager
  * In particular, dependencies used in createQueryInternal should also be documented where their behavior is not obvious from a quick glance
* DispatchQueryFactory/LocalDispatchQueryFactory
* ResourceGroupManager
* ManagedQueryExecution/LocalDispatchQuery
* QueryExecution/SqlQuer

[2022-09-16 06:22] snake-zhiqiang opened #18356 "query kudu failed？？ Please help me！"
version:
0.270

Failed SQL:
select count(1) from kudu.default.issuedata_info_release;

Throw exception:
Query 20220916_061151_08330_8pfzk, FAILED, 3 nodes
Splits: 5 total, 1 done (20.00%)
0:30 [39.2K rows, 0B] [1.3K rows/s, 0B/s]
Query 20220916_061151_08330_8pfzk failed: org.apache.kudu.client.NonRecoverableException: cannot complete before timeout: ScanRequest(scannerId=null, tablet=42ff4e6714644

[2022-09-16 06:27] chufa opened #18357 "catalog returns null resulting in a system error"
When "show catalogs" is executed by a user who does not have access to the catalog after integrating the ranger, it returns "catalog returns null resulting in a system error ".
The details of the error are as follows.
`{
    "type": "java.lang.IllegalStateException",
    "suppressed":
    [],
    "stack":
    [
        "com.google.common.base.Preconditions.checkState(Preconditions.java:491)",

[2022-09-16 06:33] snake-zhiqiang commented on #18356
anybody here？？？？？

[2022-09-16 17:34] maheshsv commented on #18289
can you please assign it to me

[2022-09-18 15:13] drummerglen commented on #12989
@rushidmarne Would you please tell me all the full names of those jars?

I installed presto 0.276.1, and still encountered ranger-presto-plugin integration problem:
`2022-09-18T23:10:37.102+0800    INFO    main    com.facebook.presto.security.AccessControlManager       -- Loading system access control --
2022-09-18T23:10:37.103+0800    ERROR   main    com.facebook.presto.server.PrestoServer Access

[2022-09-18 15:16] drummerglen commented on #16655
Same problem on version 0.276.1
`2022-09-18T23:10:37.102+0800    INFO    main    com.facebook.presto.security.AccessControlManager       -- Loading system access control --
2022-09-18T23:10:37.103+0800    ERROR   main    com.facebook.presto.server.PrestoServer Access control ranger is not registered
java.lang.IllegalStateException: Access control ranger is not registered
        at com.google.comm

[2022-09-18 15:17] drummerglen commented on #17388
Same problem on version 0.276.1
`2022-09-18T23:10:37.102+0800    INFO    main    com.facebook.presto.security.AccessControlManager       -- Loading system access control --
2022-09-18T23:10:37.103+0800    ERROR   main    com.facebook.presto.server.PrestoServer Access control ranger is not registered
java.lang.IllegalStateException: Access control ranger is not registered
        at com.google.comm

[2022-09-19 04:44] agrawalreetika commented on #18357
@chufa Could you please share your setup details?

[2022-09-19 06:42] agrawalreetika commented on #18357
Could you please let me know if you are using Ranger-Based Authorization for the Hive connector that is supported in prestodb?
If yes, could you please verify your ranger configurations details in hive catalog - https://prestodb.io/docs/current/connector/hive-security.html#hive-ranger-based-authorization

[2022-09-19 06:44] agrawalreetika commented on #17388
Hi @drummerglen,
Currently, prestodb doesn't support Ranger-Based Authorization at the catalog level.
If you are looking for authorization in hive connector, You can use Ranger-Based Authorization for Hive connector by using the required configuration in your hive catalog configuration - https://prestodb.io/docs/current/connector/hive-security.html#hive-ranger-based-authorization
This is supported

[2022-09-19 07:23] ShubhamChaurasia opened #18365 "Disaggregated Coordinator - Multiple discovery servers do not seem to sync discovery information"
I have been trying out multi-coordinator setup - https://prestodb.io/blog/2022/04/15/disggregated-coordinator. This works fine with single instance of RM (Discovery server).

However while testing with multiple RMs (Discovery servers) it was seen that the discovery servers were not replicating states among each other.

Consider the following minimal setup

**RM1**
[code]
**RM2** (announces to disc

[2022-09-19 10:01] wanglinsong opened #18366 "Create a Jenkins pipeline to build and release artifacts"
Will add details.

[2022-09-19 14:31] Sarfaraz-214 commented on #18302
@7c00 Will this fix be available in the next 0.277 version?

[2022-09-20 02:28] chufa commented on #18357
I have integrated ranger permissions in presto to manage data source permissions such as mysql, hive, etc. The ranger configuration is all by default; the

It is just that there are two users, userA and userB, userA has one or more catalog permissions and userB does not have any catalog permissions.
case1: userA executes 'show catalogs', which returns the list of catalogs with permissions as norma

[2022-09-20 03:17] hoangmit opened #18369 "Bugs in lambda variable capture in LATERAL cause"
All the alternatives of the LATERAL clause should work. However, the first one failed as it cannot capture the variable. The 2nd version work mysteriously.

[code]

[2022-09-20 05:02] agrawalreetika commented on #18365
@rohanpednekar Could you please tag someone, who can help on this?

[2022-09-20 05:14] ShubhamChaurasia commented on #18365
thanks @agrawalreetika

@swapsmagic could you please check ?

[2022-09-20 06:06] agrawalreetika commented on #18357
I was able to reproduce the error with file-based access control.
I think this restriction is to make sure every user at least should have see some catalog with `SHOW CATALOGS` and then you can disable schema Access inside the catalog.
By default,  If no rule matches, access is denied.

[2022-09-20 07:48] chufa commented on #18357
So it's curious if it returns null if there are no permissions, or if it reports an error about not having permissions, but presto always reports it as an internal system error, which is ambiguous for the upper level system that interfaces with presto

[2022-09-20 08:51] Jay-ju commented on #11038
why  is it difficult for unloading plugin? if just for udfs, we only need drop function ? any else other work? another question global namespace will bring some transaction problems？ so we can't update functions?

[2022-09-20 09:11] prabhacloud commented on #18356
this seems to be a timeout issue where if the query ran over 30000 ms and successful if it runs under this duration. How long the successful runs took?

[2022-09-20 09:42] snake-zhiqiang commented on #18356
Thanks,i had been found the issue.Due to someone started two presto servers on the same server.

[2022-09-20 09:42] #18356 closed

[2022-09-20 18:46] feilong-liu opened #18373 "Query planning fails for some aggregation with order by clause"
Compilation fails when the aggregation input is a function.
For example,
[code]
failed with message `failed: must be symbol reference`.

[2022-09-21 19:42] majetideepak opened #18382 "Native E2E TestHiveQueriesUsingThrift.testCreateTableAsSelect fails frequently"
Error:  Tests run: 36, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 177.471 s <<< FAILURE! - in com.facebook.presto.nativeworker.TestHiveQueriesUsingThrift
Error:  com.facebook.presto.nativeworker.TestHiveQueriesUsingThrift.testCreateTableAsSelect  Time elapsed: 0.033 s  <<< FAILURE!
java.lang.RuntimeException: line 1:1: Destination table 'hive.tpch.tmp' already exists
	at com.facebook.presto

[2022-09-22 14:37] #18373 closed

[2022-09-22 19:16] rohanpednekar commented on #18365
@tdcmeehan do you think you can help here?

[2022-09-23 08:33] 372046933 opened #18389 "How to format float in hexadecimal?"
I want to cast float number to hexadecimal representation in string. Googled the docs but found no solution.
Is it supported in Presto?
[code]

[2022-09-23 18:07] jackic23 commented on #18365
Given the example @ShubhamChaurasia gave where there is no VIP. Maybe multi-RM behaves more like a hashing/load-balancing mechanism where it behaves like 2 separate groups sharing the same Coordinator and Worker resources?

Forgive me if I'm completely in left field. Just stumbled on Presto and was interested in single point of failure RM. wondering if it's better to have multiple or if it can be

[2022-09-23 18:42] javrod87 commented on #18389
Don't waste your time with Presto, this is [supported in Trino](https://trino.io/docs/current/functions/conversion.html#format).

[code]

[2022-09-26 00:02] amellnik opened #18402 "Feature request: Provide function to merge TDigest across multiple columns"
Sometimes we need to create a TDigest from merging existing digests that appear in different columns of the source table.  It's possible to do this in a couple ways with UNION or CROSS JOIN UNNEST to get them in separate rows, but it would be nice to allow this behavior in `merge` or in a separate function.

If there's no objections, I can take a swing at this.

[2022-09-26 01:35] amellnik commented on #17688
#18025 added full json path support which covers this and a bunch of other stuff.

[2022-09-26 03:09] SilenceJD opened #18403 "Tpcds q54 failed when dynamic filter is enabled"
branch: release-0.267
session: `set session enable_dynamic_filtering=true;`

tpcds query54:
`with my_customers as (
 select distinct c_customer_sk
        , c_current_addr_sk
 from
        ( select cs_sold_date_sk sold_date_sk,
                 cs_bill_customer_sk customer_sk,
                 cs_item_sk item_sk
          from   catalog_sales
          union all
          select ws_sold_date_sk so

[2022-09-26 09:16] #18403 closed

[2022-09-26 10:10] SilenceJD commented on #18403
sry, i found master branch has fixed it.

[2022-09-26 13:36] tangyuan59 opened #18405 "Function 'array_sum' not registered"
excuse me ,
i  have a question . when i use ""array_sum"  function to a array object, then my translater prompt  "Function 'array_sum' not registered" to me. how can i do solution it

[2022-09-26 17:32] swapsmagic commented on #18365
1. Yes that is correct, discovery servers talk to each other to provide the updated node information that they receive.
2. Yes you are correct, `service-inventory.uri` is the missing config that is not documented as part of the minimal configuration (will go ahead and add that). The current implementation in the discovery server supports two options:
3. `discovery.uri` supposed to be pointing to t

[2022-09-27 05:57] agrawalreetika commented on #18405
Hi @tangyuan59,
Could you please let me know how are you trying it?
I tried on my setup its works fine for me.
![image](https://user-images.githubusercontent.com/7887476/192444491-318f154e-bcaf-4a50-83cd-afc5d7cb6f50.png)

[2022-09-27 06:05] phani538 opened #18410 "Prestodb not reading json proeprly from parquet"
We have AWS data lake for our analytical needs in my organization and we use Athena as our SQL engine to query the parquet data in S3.

We have been facing resource scaling issues yet times with Athena since its a shared pool.To overcome this we thought of setting up a self managed Prestodb cluster with our existing AWS glue catalogue integration as a POC to check the query  compatibility and load

[2022-09-27 08:15] nineinchnick commented on #11494
@tooptoop4 is this issue resolved now?

[2022-09-28 00:37] kaikalur opened #18414 "Give better error message when some field is not in group by or agg but in a complex expression"
Some thing like:

SELECT x, ARRAY[IF(y = 1, SUM(z))] FROM T GROUP BY x

gives error like:

ARRAY[IF(y = 1, SUM(z))]  must be a group by key

That's super confusing. WE should just say 'y' should be in group by

[2022-09-28 00:38] kaikalur commented on #18414
CC: @feilong-liu  FYI

[2022-09-28 08:49] imjalpreet commented on #18410
@phani538 Can you provide details on the table schema and the schema in the actual parquet files?

One thing that might be causing this is the difference in the ordering of columns in the table schema stored in Glue and the schema stored in the parquet file since Presto by default reads columns by index. You can try setting the session property `catalog_name.parquet_use_column_names` to true or ad

[2022-09-28 11:24] Sarfaraz-214 commented on #18306
@codope @7c00 I tried to execute the above with the 0.277 version. The reported issue is resolved, but however I am now facing issue mentioned here - #18302

[2022-09-28 23:45] yingsu00 opened #18425 "Flaky test TemptoProductTestRunner"
Example https://github.com/prestodb/presto/actions/runs/3147261914/jobs/5116599010
[code]

[2022-09-29 07:03] tangyuan59 commented on #18405
like this my data object is array(double)
![image](https://user-images.githubusercontent.com/54573307/192961929-1d5069fa-b6be-43b8-8555-5fa24c6cf2a8.png)
when i use array_sum function to it ,i will meet this error,
![image](https://user-images.githubusercontent.com/54573307/192962161-a831e6b8-2161-492b-b1ea-44c8dd5d89eb.png)

[2022-09-29 07:11] tangyuan59 commented on #18405
like this
![image](https://user-images.githubusercontent.com/54573307/192963756-8bb55a5b-3878-47b8-ab5d-e57df5425309.png)
used to array(double)
![image](https://user-images.githubusercontent.com/54573307/192962821-f831ffbe-979d-456f-ba5b-45825f743edd.png)

[2022-09-29 07:32] agrawalreetika commented on #18405
Could you please just try the above query to verify if array_sum function is getting applied fine in your setup?

[2022-09-29 10:01] johndb2016 opened #18427 "when will prestissimo be ready for production use?"
We are eager to accelerate our presto with the native engine, so when it will be ready?

[2022-09-29 11:21] unitezen opened #18428 "BigQuery Connector: Table [%s.%s] was not found (possible fix)"
I've been troubleshooting an issue with BigQuery connector for a while now. Any attempt to select a table from a BigQuery catalog always return with a `line 1:15: Table bigquery.mydataset.mytable does not exist`, while `SHOW TABLES bigquery.mydataset` returns the correct tables associated with the dataset.

Upon further inspection, the error stems from an error while calling the `com.facebook.pres

[2022-09-29 12:07] ShubhamChaurasia commented on #18365
thanks for the response @swapsmagic, will try this out.

[2022-09-29 14:51] tangyuan59 commented on #18405
OK，i will try it。thank you

[2022-09-29 15:23] javrod87 commented on #18369
I have the same issue, and I tried in Trino and it worked. Wondering if the engineers here could port over the fix?

[2022-09-30 04:27] Rock-liyi opened #18431 "Error: in atguigu-presto: readDirect unsupported in RemoteBlockReader"
Hi, everyone
    I got an error which  used presto to query  deltalake's data , but it notices me this error.

![image](https://user-images.githubusercontent.com/35133768/193188703-a2462224-5ab3-413c-909f-b454b46a3f7d.png)

   I changed the configuration in presto/etc/catalog/hdfs.xml ,but it does not work.

`<property>
    <name>dfs.client.use.legacy.blockreader</name>
    <value>false</value>

[2022-09-30 05:04] #18382 closed

[2022-09-30 06:41] agrawalreetika commented on #18431
@Rock-liyi Could you please share the full stacktrace?

[2022-09-30 07:20] Rock-liyi commented on #18431
Thank for your help , this is  full stack trace.
 `
java.lang.UnsupportedOperationException: readDirect unsupported in RemoteBlockReader
	at org.apache.hadoop.hdfs.RemoteBlockReader.read(RemoteBlockReader.java:492)
	at org.apache.hadoop.hdfs.DFSInputStream$ByteBufferStrategy.doRead(DFSInputStream.java:789)
	at org.apache.hadoop.hdfs.DFSInputStream.readBuffer(DFSInputStream.java:823)
	at org.apache

[2022-09-30 07:49] #18405 closed

[2022-09-30 11:08] dmompean opened #18434 "slowness in jdbc presto connector from tableau server"
Hi.

We have recently changed the version of the tableau driver against presto from odbc to jdbc, because the free simba odbc driver is discontinued and tableau recommends the jdbc connector, but with this presto jdbc driver (v0.277) we are seeing that it takes about twice as long to do the same as the odbc.
Could you tell us if there is any way to configure or optimize the driver to be as fast as

[2022-09-30 13:52] nsivabalan commented on #15989
hey folks. any update on arm64 support for presto ? from the last comment, I see https://github.com/trinodb/trino-hadoop-apache/pull/30 has been merged.

[2022-10-01 05:52] yingsu00 opened #18437 "TestHiveQueriesUsingThrift.testCreateTableAsSelect failed to rename tmp folder"
https://github.com/prestodb/presto/pull/18420 fixes the "tmp table already exists" error (https://github.com/prestodb/presto/issues/18382) But the test still fails because of the tmp directory was not removed.

Error message:
Unable to rename from file:/tmp/presto-hive/558f62ee-e3e2-48bf-b198-f698bf0780ce to file:/tmp/hive_data/tpch/tmp: target directory already exists

[code]

[2022-10-01 05:55] yingsu00 commented on #18437
cc @majetideepak

[2022-10-03 06:43] agrawalreetika commented on #18431
Hi @Rock-liyi,
As per stacktrace it looks like some issue reading data from data nodes.
Did you try propety given in [this](https://stackoverflow.com/questions/49613451/unable-to-connect-to-hdfs-data-node-from-remote-client) link?
[code]

[2022-10-03 15:15] majetideepak commented on #18437
@yingsu00 thanks for reporting this. I will take a look.

[2022-10-03 15:19] mbasmanova commented on #18437
CC: @spershin @mshang816 @amitkdutta @tanjialiang

[2022-10-03 17:11] pratyakshsharma commented on #17736
Closing this since we have a solution now via https://github.com/prestodb/presto/pull/18441

[2022-10-03 17:11] #17736 closed

[2022-10-03 20:02] #18437 closed

[2022-10-03 20:12] majetideepak commented on #18437
thanks @amitkdutta

[2022-10-04 03:54] prabha-cloud commented on #18434
What mode you are using with JDBC driver and ODBC ? Also confirm if you are using web connector from here https://prestodb.io/docs/current/installation/tableau.html. If it is then can you try creating extracts as live mode is not supported.

[2022-10-06 15:53] ammarchalifah-bolt opened #18459 "Dynamic Filtering with Contains Clause Doesn't Work"
I have an SQL statement with multiple CTEs, with a final filter in the last selection statement that looks like this
[code]
The query doesn't work with this error message:
```SQL Error [65536]: Query failed (#XXX): Right join input doesn't contain symbol for dynamic filter: external_id_233, rightVariables: [country_228], dynamicFilters.values(): [external_id_233]```

But if I change the SQL statem

[2022-10-06 21:20] uhyonc commented on #18261
Hi, I have the same problem as well. Can we get an update on this ticket? Thanks!

[2022-10-07 03:21] mbasmanova commented on #18261
CC: @kgpai

[2022-10-07 06:21] Rock-liyi commented on #18431
I tried to use  this link, but it did not work.
![image](https://user-images.githubusercontent.com/35133768/194480755-2c329ce0-3234-4121-8079-e6d0a0b5270d.png)

[2022-10-09 02:30] Rock-liyi commented on #18431
@agrawalreetika  Could you help me please?
![image](https://user-images.githubusercontent.com/35133768/194734772-ca4fe352-b16a-4130-bea3-3ab4e4c39258.png)

[2022-10-10 02:47] XuPingyong opened #18468 "[native] Support roadmap for new feature(e. g. SemiJoin with filter. WindowOperator) of velox in native engine?"
SemiJoin with filter is supported currently in velox, but is still forbidden in presto_cpp.  Likewise，PRs about WindowOperator are successively merged.

Is there any plan to support these new feature when converting presto plan to velox plan in native engine?

[2022-10-11 09:46] ByYaoKuan opened #18474 "Presto not works with kerberos secured HDFS and Hive, the cause maybe a confiuration 'hive.copy-on-first-write-configuration-enabled' from [PR 18115]"
[PR 18115](https://github.com/prestodb/presto/pull/18115) introduced a configuration "hive.copy-on-first-write-configuration-enabled", and its default value is **true**.

With presto v0.276.1, I get an error when connect to secured hdfs, the error message is as below:
[code]
The configurations is :
[code]

But after I set **`hive.copy-on-first-write-configuration-enabled=false`**, presto works wel

[2022-10-12 03:12] marvel-007 opened #18476 "NoClassDefFoundError: Could not initialize class com.facebook.presto.hive.s3.PrestoS3StorageClass"
The presto iceberg connector can normally read and write data when connecting to s3 using the hive catalog, but it can be started when the hadoop catalog is changed, but the query is reported as ClassNotFoundException: Class org.apache.hadoop.fs.s3a S3AFileSystem is not found.
Then transfer the hadoop-aws and aws-java-sdk bundle under Hadoop-3.2.1 to plugin/iceberg, and start the message: NoClassD

[2022-10-12 11:59] agrawalreetika commented on #18431
Are you using presto-delta connector? And which version of presto are you on?

[2022-10-12 12:42] harris233 opened #18481 "Improve hudi partition pruning"
When we use hudi connector to support hudi query, we find there is something wrong with hudi partition pruning.
`// Retrieve and prune partitions`
`List<String> partitions = hudiPartitionManager.getEffectivePartitions(session, metastore, table.getSchemaName(), table.getTableName(), layout.getTupleDomain());`
For example:
`sql: select * from hudi.db.table where log_date='20221012' and log_hour>='20

[2022-10-13 02:48] xsy-coder commented on #16092
what is hdfs.xml directory? Link to hive.config.resources?

[2022-10-13 19:57] rohanpednekar commented on #18476
@marvel-007 What you mean by, when you say this - can you pls provide a bit more info about your use case.

@majetideepak  @imjalpreet Do you guys think you can help here?

[2022-10-13 19:59] rohanpednekar commented on #18474
@NikhilCollooru Seems you authored the PR mentioned in this issue, could you please add some help or feedback here?

[2022-10-13 20:11] rohanpednekar commented on #18428
hi @unitezen Could you please open a PR with your fix?
@fgwang7w do you think you can provide any feedback or review this?

[2022-10-13 20:15] rohanpednekar commented on #18427
It's under development. We will probably have it announced through the blog or release notes.

@majetideepak is committer and good to talk regarding Prestissimo which is still under development WIP.
If you're interested in joining the project development, he can point you to some starter issues and help you get involved!

I suggest you join the #presto-cpp channel in the presto slack if you haven'

[2022-10-13 20:15] rohanpednekar commented on #18410
cc @majetideepak

[2022-10-13 20:28] rohanpednekar commented on #18325
Yes, we have archived old docs as a housekeeping task for faster deployment and better maintenance of Prestodb website.

[2022-10-13 20:28] #18325 closed

[2022-10-13 20:29] #18306 closed

[2022-10-13 20:30] #18427 closed

[2022-10-13 20:36] rohanpednekar commented on #18229
CC @codope @7c00 FYI

[2022-10-14 03:24] marvel-007 commented on #18476
My usage scenario is to used flink write the iceberg data to the s3 minio storage through the hadoop catalog, and then I want to query the iceberg data through presto's iceberg connector using hadoop catalog as well. I configure it according to the access document, and the above error occurs

[2022-10-14 19:09] isaacbrodsky opened #18494 "Docs on how to return types from plugin-defined functions"
It is difficult for a [plugin defined function](https://prestodb.io/docs/current/develop/functions.html) to figure out what types need to be supplied. There is no obvious link from `StandardTypes` to `presto-common/src/main/java/com/facebook/presto/common/type/`, where the expected Java types are defined (indirectly). The Java types are not intuitive (`StandardTypes.INTEGER` maps to `long`, a 64 b

[2022-10-15 15:05] #18302 closed

[2022-10-15 16:09] Mionsz opened #18497 "Runtime dependency requirements in presto native execution"
There is no well defined minimum required runtime dependency list for end user.
One can build the presto native execution in container with provided scripts but the end result will be about ~15Gb in size.

[code]
@majetideepak

[2022-10-15 19:02] leetcode-1533 commented on #18230
Yingjie from LinkedIn, I contributed to: https://github.com/trinodb/trino/pull/14428, will backport

[2022-10-15 19:02] leetcode-1533 commented on #18283
Yingjie from LinkedIn, I contributed to: https://github.com/trinodb/trino/pull/14428, will backport

[2022-10-16 21:09] Mionsz commented on #18261
@mbasmanova @majetideepak Here is the partial fix: https://github.com/prestodb/presto/pull/18213/files

You need to add also on line `158` in `presto-native-execution/CMakeLists.txt` (after `find_library(RE2 re2)`):

[code]

You could adopt in somehow as we are waiting for legal team to finish the CLA process so it still can take some time.

[2022-10-17 01:39] duanyongvictory opened #18499 "prestodb read hudi incorretly after ddl by spark"
spark 3.2.2
hudi 0.11.1
prestodb 0.274
hive 2.3.5

the following step could recreate the bad read:

these are done by spark:
set hoodie.schema.on.read.enable=true;
create table p1011 (
  id string,
  f1 string,
  f2 string,
  ts bigint
) using hudi
tblproperties (
  type = 'mor',
  primaryKey = 'id',
  preCombineField = 'ts',
  'parquet.column.index.access'='true'
);

insert into p1011 select '01'

[2022-10-17 07:03] eric-doug opened #18501 "FB_OS_VERSION: unbound variable error when running setup-macos.sh"
I got a error message when running setup-macos.sh in presto-native-execution. the output as below:

[code]

[2022-10-17 10:17] ShenFeng312 opened #18502 "does resource group affect the running task if resources are insufficient"

[2022-10-17 12:02] Rock-liyi commented on #18431
![image](https://user-images.githubusercontent.com/35133768/196172148-f5b661b0-14fe-46d2-8eea-ee714683c614.png)
![image](https://user-images.githubusercontent.com/35133768/196172250-703d20ef-eb62-458e-a026-9f0f65624534.png)

@agrawalreetika

[2022-10-17 13:24] mbasmanova commented on #16413
@simmend David, this work is very interesting. Curious if there are any follow-ups in progress.

[2022-10-17 16:45] majetideepak commented on #18497
@Mionsz We can document the runtime libraries required for `presto_server`. I will make this a doc request.

[2022-10-17 17:06] GonCuesMa opened #18505 "High CPU usage during writing operations."
Hi

I am suffering high CPU usage on all worker nodes when running INSERTs or CREATEs operations. The problem is that this causes service outages that make some queries fail, and sometimes, the UI is unresponsive.

![Screenshot-20221017134524-1181x780](https://user-images.githubusercontent.com/61585305/196237749-002d520c-c4b3-47f2-8620-78f0fecebb9f.png)

This issue usually happens when I execute c

[2022-10-17 20:07] majetideepak commented on #18261
@Mionsz this fix did not work for me on my MacOS. Did you see the same build error in the description?

[2022-10-18 11:10] dmompean commented on #18434
Sorry for the insistence, but we have a critical incident with this performance issue
any new update/feedback?

[2022-10-18 12:30] FounderHy opened #18514 "How to set kerberos when connect to hdfs in Iceberg connector Hadoop catalog"
- Connector: Iceberg
etc/catalog/iceberg.properties

[code]

when use jdbc to connect presto and query, the server has error:

[Caused by GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)];

[2022-10-18 16:42] majetideepak opened #18515 "Add Date type filters support to native execution"
Queries with date filters throw the following error in native execution.
[code]

The required changes are in this unmerged PR https://github.com/facebookexternal/presto_cpp/pull/633

[2022-10-18 16:43] majetideepak commented on #18515
CC: @aditi-pandit

[2022-10-18 17:18] aditi-pandit commented on #18515
I'll work on a PR for this. Thanks !

[2022-10-18 18:15] imjalpreet commented on #18499
@duanyongvictory Can you try setting the property `hive.parquet.use-column-names` in your catalog properties file?

[2022-10-19 08:21] Mionsz commented on #18261
@majetideepak so now I see that we have some problems in building prestocpp - the latest version - so it is hard to tell if those are the same.
It is worth mentioning that Velox now uses ThirdpartyToolchain.cmake file for folly installation and linking. This is not reflected in PrestoCpp. There are also some issues with Presto protocol translation to PrestoCpp.

[2022-10-19 18:31] lohithalla commented on #18154
Hi @agrawalreetika , I was able to query the delta table present in s3, but it is taking very long time. As I saw the logs of presto, some errors were raised before the query execution completes.
Caused by: com.facebook.presto.hive.s3.PrestoS3FileSystem$UnrecoverableS3OperationException: com.amazonaws.services.s3.model.AmazonS3Exception: The specified key does not exist. (Service: Amazon S3; Statu

[2022-10-20 04:51] agrawalreetika commented on #18154
Hi @lohithalla, This issue is getting fixed in this PR - #18307, which is part of last release 0.277. Could you please try it out there.

[2022-10-20 05:10] agrawalreetika commented on #18154
Yes, it should be in 0.277

[2022-10-20 05:17] lohithalla commented on #18154
No i guess....just checked now in 0.277 release notes as well...not mentioned about this change

[2022-10-20 05:36] agrawalreetika commented on #18154
I missed this. It would come in presto0.278. I just rechecked the commits. Sorry for the confusion.
Here -
<img width="1034" alt="image" src="https://user-images.githubusercontent.com/7887476/196864682-d1030a86-31be-4930-8cfc-82196103053a.png">

[2022-10-20 11:00] silvia-lara commented on #13423
Commenting to open this issue again. This would be a great feature to have, the workarounds are just too messy.

[2022-10-20 11:01] runzhliu opened #18532 "Is there any way to manually assign the worker NIC"
As the experiment below, the presto worker always gets the first interface as the client address, is there any environment variable or quick trick that could help assign another interface?

![image](https://user-images.githubusercontent.com/20874664/196930918-37deeb2d-14f0-4faf-90cf-f79ba4d44ddf.png)

[2022-10-20 12:04] #18532 closed

[2022-10-21 02:10] Dream-hu opened #18540 "Build fail in presto-native-execution when PRESTO_ENABLE_PARQUET = ON caused by undefined thrift liked symbols"
it seems like arrow/thrift and fbthrift are mixed up，details：

Linking CXX executable presto_cpp/main/presto_server failed:
Undefined symbols for architecture arm64:
"apache::thrift::CodecConfig::__fbthrift_clear()", referenced from:
apache::thrift::CodecConfig::~CodecConfig() in libpresto_thrift-cpp2.a(PrestoThriftAsyncClient.cpp.o)
apache::thrift::CodecConfig::~CodecConfig() in libthriftcpp2.a(C

[2022-10-21 04:37] Archie-selfless opened #18542 "Hudi/Hive Connector Error: 'No FileSystem for scheme: s3' in diffrent versions"
# Precondition
I use Presto-0.275 with Hudi/Hive Connector based on S3 protocol and everyting goes well, but the Error: `No FileSystem for scheme: s3` occured when I switched to the release-0.277.

# Exploration
I noticed the PR: #18441 has committed to fix the Hive Connector. So will this next release version fix the problem about Hudi Connector as well?

# Expectation
Querying Hudi MOR-table by

[2022-10-21 19:14] majetideepak commented on #18540
Duplicate of https://github.com/prestodb/presto/issues/18261.
Closing.

[2022-10-21 19:14] #18540 closed

[2022-10-21 20:15] kaikalur opened #18547 "Reconncile/integrate logicalproperties and planproperties"
We have had PlanProperties for a long time and that's used by our optimizers. We now also have #16416 that is more general. So these two should be integrated at some point when the new thing is thoroughly tested for backward compat

[2022-10-22 20:10] Divyasam opened #18550 "Add apache pinot query-options, presto unable to start"
Trying to install presto on AKS (https://docs.pinot.apache.org/basics/getting-started/kubernetes-quickstart)

1) Error: Invalid configuration property pinot.query-options: may not be null (for class com.facebook.presto.pinot.PinotConfig.queryOptions)

2) Configuration property 'pinot.allow-multiple-aggregations' was not used
  at com.facebook.airlift.bootstrap.Bootstrap.lambda$initialize$2(Bootstr

[2022-10-23 13:12] 8dukongjian opened #18551 "An error is reported when connecting to the hive metastore，java.net.SocketException: Bad file descriptor (Write failed)"
I use mac OS, start the hive metastore on mac OS, execute "SHOW TABLES FROM hive.default;" and report an error

`java.net.SocketException: Socket closed
	at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:118)
	at java.net.SocketOutputStream.write(SocketOutputStream.java:155)
	at java.io.BufferedOutputStream.flushBuffer(BufferedOutputStream.java:82)
	at java.io.BufferedOutputStream

[2022-10-24 21:50] medams commented on #18154
@agrawalreetika I was trying to setup Presto with Hive Connector to query data from S3 bucket. I'm following  below document https://prestodb.io/docs/current/connector/hive.html to develop the POC. I was able to create hive.web.page_views table and list the partitions of the page_views table, but
while creating an external Hive table its failed: ERROR: External location must be a directory. would

[2022-10-25 05:53] agrawalreetika commented on #18154
Hi @medams , Could you please let me know which version of presto are you using?

[2022-10-25 14:12] medams commented on #18154
I will be using 0.277

[2022-10-25 16:54] GonCuesMa commented on #18505
Hi @rohanpednekar @prabha-cloud, thanks for your reply.

More info about the issue:

The Presto server becomes temporarily unresponsive when we see the following logs on the coordinator node:
[code]

That occurs when there are INSERT/CREATE operations over partitioned and bucketed tables.

For example, if we execute the following statement at 2022-10-25T13:54:01.608Z:
[code]

The server starts hav

[2022-10-26 10:56] prestored commented on #18551
Can you confirm if you are able to Hive metastore outside Presto. For example using DBeaver/Sql workbench and run queries?

[2022-10-26 12:24] pratyakshsharma commented on #18542
@Archie-selfless

Please check https://github.com/prestodb/presto/pull/18354. PR is raised for fixing your issue already. I will be reviewing it later this week.

[2022-10-26 19:45] cliandy commented on #18550
@Divyasam
For (2) and (3) these configs were removed in https://github.com/prestodb/presto/pull/18404, so they need to be removed from your presto configuration.

For (1), will follow up with a PR to fix this.

[2022-10-27 02:14] kesavkolla commented on #18497
Can we get docker images for native execution so that individuals don't have to build on their own?

[2022-10-27 03:05] 8dukongjian commented on #18551
Yes, I can successfully connect to the hive-metastore service using the Hive-metastore API(org.apache.hive).
In addition, I found that I can occasionally connect to the local Hive metastore service through presto, but in most cases, the above error will be reported.

[2022-10-27 03:07] 8dukongjian commented on #18551
This is a screenshot of one of my sql execution, very few cases can query successfully, the vast majority will fail.

![image](https://user-images.githubusercontent.com/31331967/198181456-c0f986d4-ffa6-4a2e-b136-8d061e1611d8.png)

[2022-10-27 04:13] Archie-selfless commented on #18542
@pratyakshsharma OK, I have solved the core production problem by using the code in PR #18354 and looking forward code merge.

[2022-10-27 04:13] #18542 closed

[2022-10-27 06:31] pratyakshsharma commented on #18542
Glad that you were unblocked.

[2022-10-27 10:12] hantangwangd opened #18568 "QUERY_PRIORITY scheduling policy do not work well when resourceGroup tree deeper than 2 levels"
When I submit queries to resourceGroups configured deeper than 2 levels, I found it doesn't work so well, the reason is intermediate subGroup's getHighestQueryPriority() do not calculate correctly. The test case as follows:

`public void testPrioritySchedulingInResourceGroupTreeDeeperThan2Level()
    {
        RootInternalResourceGroup root = new RootInternalResourceGroup("root", (group, export) -

[2022-10-27 17:30] gshenoy123 opened #18570 "Delta lake connector, DSR - partition column value is displayed null when queried"
Hi,

We are encountering an issue where in delta table partition field value is returned as **NULL** by Presto query.
This results in presto queries which are based on the partitioned fields, returning inconsistent results.
We executed the query using Spark SQL and I can see the value of partition field "ODS" displayed properly.

- Meta store - hive
- Data store - S3
- Data format - Parquet
- Date

[2022-10-27 20:46] Mionsz commented on #18497
@majetideepak  @kesavkolla I have got a green light so here you go:
[Prestissimo - full build image link - PR](https://github.com/prestodb/presto/pull/18572)

[2022-10-27 20:57] kesavkolla commented on #18497
Will this be available on docker hub to try?

[2022-10-27 21:04] Mionsz commented on #18497
You can just use this branch:
https://github.com/Mionsz/presto/tree/private/mlinkiew/docker_release_build
and build it yourself. There is a readme added for know-how.
Just run `make runtime-container` when in `presto-native-execution` folder.

[code]

This can take about ~2h.

[2022-10-27 22:07] kesavkolla commented on #18497
Got the following error:

[code]

[2022-10-27 22:08] kesavkolla commented on #18497
Do I need to set some environment variables before running the build?

[2022-10-27 22:20] Mionsz commented on #18497
Try once again now - as I updated the commit script.
[code]
and then run make.

[2022-10-27 22:22] kesavkolla commented on #18497
[code]

[2022-10-27 22:24] Mionsz commented on #18497
Sorry - try now :) fetch and reset

[2022-10-27 22:27] Mionsz commented on #18497
Here you will find readme:
https://github.com/Mionsz/presto/tree/private/mlinkiew/docker_release_build/presto-native-execution/scripts/release-centos-dockerfile

[2022-10-28 04:52] agrawalreetika commented on #18154
@medams, I tried reproducing the issue on my end but I am not able to. I used Presto 0.277, I am able to create an external table fine on s3 data.
I am assuming you already have the s3 location existing before creating an external table via Presto?

[2022-10-28 06:52] Mionsz commented on #18497
@kesavkolla I would appreciate any feedback. You can e-mail me, the address is in description.

[2022-10-28 06:55] kesavkolla commented on #18497
@Mionsz The build is successful. I got the docker images built. I need to figure out hoow to run this with appropriate configurations. This is first time for me with presto so will have to go through docs to figure out how to run it.

Thanks for your prompt fixes.

[2022-10-28 07:42] Mionsz commented on #18497
@kesavkolla
# Configuration and runtime

Presto server with all dependencies can be found inside `/opt/presto/`, runtime name is `presto_server`. There are 2 ways of starting PrestoCpp using provided entry point `/opt/entrypoint.sh`.

## I) Quick start - pass parameters to entrypoint

This is valid when running using docker and using kubernetes. It is not advised to use this method. User should pr

[2022-10-28 13:05] agrawalreetika commented on #18570
@gshenoy123 Just wanted to confirm, if you have your partition directory structure in this form on s3?
/delta-path/{partition-columnname}={partition-value} (Ex - s3a://data-poc/data/sample/transactions/table/trx_data={val})

If not, could you please update it and try? And column names are stored in lowercase in metastore so make sure the partition name is in lowercase in s3 too.

[2022-10-28 16:20] Divyasam commented on #18550
Hi @cliandy,
I did remove 'pinot.allow-multiple-aggregations' and 'pinot.use-streaming-for-segment-queries' from my values yaml config for (2) and (3).
For (1), I did include 'pinot.query-options=enableNullHandling:false' in values yaml config.
Query options reference: (https://docs.pinot.apache.org/users/user-guide-query/query-options)

These changes worked for me.

[2022-10-28 18:48] gshenoy123 commented on #18570
@agrawalreetika thanks for the reply. Yes the format is as what you mentioned. The s3 table path and partitions listing are depicted as follows -

[code]

**Output**

Regarding table creation in hive metastore, we created it using dummy column as per connector document (see reference below) and expected delta connector (DSR) to understand the table structure.  We did the same and can see **desc tr

[2022-10-28 19:03] ChasonPickles commented on #11285
I am also having this issue

[2022-10-29 04:49] agrawalreetika commented on #18570
@gshenoy123 You are right, metadata would be read via delta transaction logs while using presto-delta connector for the query. But I think you might be getting all the column names in lowercase while querying from Presto. So I think for data partition column name mapping is not happening.
I have a delta partition table, which I am able to query from the presto-delta connector fine.
If this doesn't

[2022-10-31 10:48] mbasmanova commented on #18261
@mshang816 Michael, is this something you could help look into?

CC: @kgpai

[2022-10-31 13:15] GonCuesMa opened #18586 "Failing abandoned queries are getting stuck."
Hi

Failing abandoned queries are getting stuck with the `FINISHING` state while we execute concurrently two python scripts that send requests to Presto via the `pyHive` library.

![image](https://user-images.githubusercontent.com/61585305/199014830-33853a0a-26a2-4ed0-8527-ed4bdb21760f.png)

The logs are:

[code]

Could you please help me to avoid this situation?

Thanks a lot.

**Note**: The refe

[2022-10-31 19:50] mndoping1 opened #18594 "Decorrelate subqueries containing OrderBy + Limit or Limit Clause"
Presto throws this error: `Correlated sub-query is not supported` for correlated subqueries that contain `OrderBy and Limit` or just `Limit` clauses.

Here's a sample query that caused this exception to the raised:
`SELECT "tbl1"."id" FROM "A" "tbl1" WHERE (SELECT "tbl2"."id" FROM "B" "tbl2" WHERE "tbl2"."x"="tbl1"."y" ORDER BY "tbl2"."z" DESC LIMIT 1`

Trino made some optimizations to decorrelate

[2022-10-31 20:50] fgwang7w commented on #18428
Thanks @unitezen, this is a feasible fix, in addition, there will need some refactors in the `BigQueryMetadata` and `BigQueryClient` to change the way to retrieve the table given that the new code does not rely on the tableIDs from `listTables` method. feel free to open a PR and I can help to review the code.

[2022-10-31 22:19] cliandy commented on #18550
@Divyasam awesome, glad things are working; saw another PR resolved the query options so should be good to remove that section as well.

[2022-10-31 23:48] fgwang7w commented on #18459
which version of presto are you running? what's the correlation between `table_a` and `table_b`, perhaps try to use tpch/tpcds schema to recreate and share in this issue to continue the debugging

[2022-11-01 05:35] lathasrikoyya opened #18599 "Presto jdbc driver supports TLS 1.3 version?"
Hi,

We need to support presto JDBC driver which supports TLS 1.2version and TLS 1.3 Version since TLS 1.0 and 1.1 versions are deprecated. We couldn't any documentation about presto which supports TLS 1.3 version. Could you please confirm the same whether presto latest drivers are supporting TLS 1.3 versions or not ? If Presto JDBC drivers provides support from which version It is supporting TLS

[2022-11-02 16:39] vighneshnadar commented on #13978
hostname of cluster

[2022-11-03 03:35] ClarenceThreepwood commented on #18151
Does "hive.parquet-batch-read-optimization-enabled" implement what you want?

[2022-11-03 14:41] majetideepak opened #18617 "[native] Add support for graceful shutdown"
Presto orchestration tools benefit from this feature
https://prestodb.io/docs/current/release/release-0.128.html#graceful-shutdown

Example usage:
[code]

[2022-11-03 16:32] majetideepak opened #18619 "[native] test native CI run is failing due to "No space left on device""
Error:  Failed to execute goal org.apache.maven.plugins:maven-install-plugin:2.5.2:install (default-install) on project presto-spark-package: Failed to install artifact com.facebook.presto:presto-spark-package:tar.gz:0.279-SNAPSHOT: No space left on device -> [Help 1]
Error:  Failed to execute goal org.apache.maven.plugins:maven-assembly-plugin:2.4:single (bin) on project presto-verifier: Failed t

[2022-11-03 17:21] mshang816 commented on #18619
@majetideepak do you have an example of such failed run ?

[2022-11-03 17:46] Mionsz commented on #18335
@majetideepak
I am getting this when trying to build with TPCH support:
[code]

[2022-11-03 19:46] majetideepak commented on #18335
@Mionsz CI seems to be building Prestissimo without any errors.
What is your environment?

[2022-11-03 19:47] majetideepak commented on #18335
This is resolved with https://github.com/prestodb/presto/pull/18367
@Mionsz feel free to open an issue for your build error.

[2022-11-03 19:47] #18335 closed

[2022-11-03 19:47] coyotemojo opened #18620 "deconstruct_tdigest returns centroid_weights as integers, which can result in inaccurate weights for digests of a large number of elements"
I noticed for some large tdigests, the sum of centroid weights did not match the count returned by deconstruct_digest, I suspect because deconstruct_tdigest returns the count as a bigint but the centroid weights as integers:

https://github.com/prestodb/presto/blob/36858f235283e7c16ae4ad4ce493bd80876b179b/presto-main/src/main/java/com/facebook/presto/operator/scalar/TDigestFunctions.java#L44-L52

[2022-11-03 21:05] MPagel opened #18622 "at_timezone for UTC or fixed, arbitrary UTC offset"
There does not appear to be a UTC time zone available for timestamp conversion for use with at_timezone.

`UTC`, `GMT`, `+0`, `etc/GMT` `-00:00` do not seem to exist in the lists at https://github.com/prestodb/presto/blob/master/presto-common/src/main/resources/com/facebook/presto/common/type/zone-index.properties or https://docs.aws.amazon.com/athena/latest/ug/athena-supported-time-zones.html

Th

[2022-11-03 23:11] karteekmurthys opened #18624 "[PrestoCPP] HiveInsertTableHandle ctor update causing compilation issue"
[code]

I was trying to advance the velox submodule and I see these errors. The `HiveInsertTableHandle` constructor was modifled here:https://github.com/facebookincubator/velox/pull/2831

The constructor now accepts a `LocationHandle` and `vector<std::shared_pr<const HiveColumnHandle>>`. But, what is available is

[code]

Looks like the initialization of this vector happens here in _presto-native-

[2022-11-03 23:12] karteekmurthys commented on #18624
cc: @aditi-pandit @majetideepak @mbasmanova

[2022-11-04 00:06] majetideepak opened #18627 "[Native] ccache seems to be not helping with build"
A change, say to a build script should not result in a total build.
However, that is the case today. This needs an investigation.

https://github.com/prestodb/presto/actions/runs/3386920136/jobs/5628225267

[2022-11-04 03:46] MisterWJC opened #18628 "TPC-DS presto sqls issues on Athena."
There are issues and solutions when testing on Athena(version2 and 3):
[Src code](https://github.com/prestodb/presto/tree/master/presto-benchto-benchmarks/src/main/resources/sql/presto/tpcds)

[code]

[2022-11-04 20:02] mshang816 commented on #18627
@majetideepak
Did you mean we don't have to run "Maven install" every time ?
We need to rebuild the whole maven project everytime or we may run the tests using older presto java code.
I'm not sure if we have a way to avoid such run when the changes are not on java code and maven build files.

[2022-11-04 20:04] mshang816 commented on #18627
Ah, you are taking about ccache. Currently I reset the cache key daily, Is it because it's the first such build for today ?

[2022-11-04 20:10] mshang816 commented on #18627
I checked the test run. It looks like we did have a github action cache hit:
`usr/bin/docker exec  1ccee4dd853e172e616ac5efe483eec6f6cdd24cfc5c7db5ea3a6608a76860fa sh -c "cat /etc/*release | grep ^ID"
Received 58720256 of 64406778 (91.2%), 55.9 MBs/sec
Received 64406778 of 64406778 (100.0%), 52.5 MBs/sec
Cache Size: ~61 MB (64406778 B)
/usr/bin/tar -z -xf /__w/_temp/02a5fb26-1ff9-4b69-8d32-83bfac5

[2022-11-04 20:18] #18619 closed

[2022-11-07 10:39] GonCuesMa commented on #18505
We resolved the issue by upgrading the JDK version from 8 to 11.

[2022-11-07 10:39] #18505 closed

[2022-11-07 15:14] jaydubb12 opened #18635 "Add support for UPDATE SQL function"
# Feature Request
Extend the current Presto inventory of supported SQL keywords / queries to include UPDATE.

# Desired Functionality
Enable the ability for developers / data engineers to update / modify existing records within a table.

### SQL UPDATE query description
The SQL UPDATE Query is used to modify the existing records in a table. You can use the WHERE clause with the UPDATE query to upd

[2022-11-07 21:12] #18550 closed

[2022-11-07 21:13] rohanpednekar commented on #18501
@majetideepak Could you please help here? Thanks!

[2022-11-07 21:15] rohanpednekar commented on #18586
hi @GonCuesMa, Why do you want to run 2 concurrent delete statements on the same table?

[2022-11-08 07:20] GonCuesMa commented on #18586
Hi @rohanpednekar, thanks for your reply.

It doesn't usually happen, but there is a chance my automation bot runs at the same time two pipeline scripts that execute the same statement concurrently, and when this happens, both queries get stuck.

I could solve it by modifying the bot configuration so that this does not happen again.

So if you think this behaviour is normal, feel free to close the

[2022-11-08 09:29] charlvit opened #18645 "Bug report RPresto 1.4.0: tbl(con, in_schema('schema','table')) error"
Hi there, found bug on RPresto 1.4.0. When use tbl function with in_schema, there was an error as below. Previous v.1.3.7 is ok. Seem like new version 1.4.0 did not replace 'default' schema with new one defined in in_schema().
![image](https://user-images.githubusercontent.com/50406769/200525965-986114f9-dc9c-49a5-8cbb-38fb10b33538.png)

[2022-11-08 11:03] Mionsz commented on #18261
@dingqiaoyi @majetideepak try using this PR https://github.com/prestodb/presto/pull/18572

[2022-11-08 12:18] prestored commented on #18622
Could you please share few queries that you have tried?

[2022-11-08 15:13] kaikalur opened #18646 "Hoist expressions that don't use lambda params out of lambda body"
Something like:

[code]

Where `v` is not a lambda param will still call f(v) for every element. This is inefficient (and also somewhat inconsistent with semantics) as we generally call every function only once per row.

[2022-11-08 17:18] majetideepak commented on #18627
@mshang816 I agree. If we can resolve this, we can significantly reduce the test native CI job duration.

[2022-11-08 17:54] karteekmurthys commented on #18624
@gggrace14  would you please take a look at this.
cc: @mbasmanova

[2022-11-08 19:36] gggrace14 commented on #18624
https://github.com/prestodb/presto/pull/18490 is supposed to fix it, and the PR was merged by Nov 6 night. Can you pull the latest master HEAD and help check if the build can go through? Thanks. Sorry for blocking. We've just consolidated way to make non-breaking change.

[2022-11-08 21:42] Sevi7 commented on #5362
Could this functionality be released? It is part of the SQL standard and it is something you expect to have when you use window functions

[2022-11-08 22:21] karteekmurthys commented on #18624
@gggrace14 Thanks for fixing this issue.

[2022-11-09 04:22] charlvit commented on #18645
Sorry, I will post to RPresto group

[2022-11-09 04:22] #18645 closed

[2022-11-09 15:11] prestored commented on #18599
Presto uses okhttp version 3.9.0 and As per the okhttp document version 3.5.0+ does support TLSv1.3  - [[[here](https://square.github.io/okhttp/changelogs/changelog_3x/#version-350)]
As per above info, I think presto JDBC driver should support TLSv1.3, you can try out latest presto JDBC driver.
Configuration reference - https://prestodb.io/docs/current/installation/jdbc.html#parameter-reference

[2022-11-09 17:19] majetideepak commented on #18261
@Mionsz the build failure happens only on MacOS. I wrote this in one of my comments above. I clarified this in the title and in the description.

[2022-11-10 06:26] lathasrikoyya commented on #18599
Thank you for your response @prestored . I am closing this issue.

[2022-11-10 06:26] #18599 closed

[2022-11-10 08:46] yzhang1991 commented on #18624
@karteekmurthys should we close this issue?

[2022-11-10 08:47] #18624 closed, assigned to gggrace14

[2022-11-10 10:38] wanglinsong opened #18659 "Reduce Jenkins agent resource requirements"
In the current Jenkins pipeline configuration, there are 2 agent pod definitions in jenkins/ folder. The combined requests and limits are 12G memory and 6 CPU. We could reduce these requirements.

[2022-11-10 10:58] sunriseLe commented on #17409
Do you have any idea? We also have the same problem

[2022-11-10 16:57] MPagel commented on #18622
It looks like I had not tested as thoroughly as I thought I had

values of
[code]
are all valid

but `UTC0` and `Etc/UTC0` are invalid, unlike their GMT counterparts

None of the timezone values above are present in the Presto source-based documentation linked in the OP

with timepoint as (
    Select
        with_timezone(timestamp '2022-11-06 00:11:50.187','America/New_York') t0, --EDT
        w

[2022-11-10 20:16] psbell-meta opened #18664 "Coding Guidelines Updates on Github and prestodb.io"
The following need to be reviewed and updated with the latest guidelines gathered from committers:

1. https://github.com/prestodb/presto/blob/master/CONTRIBUTING.md
2. https://prestodb.io/docs/current/develop.html
3. https://github.com/prestodb/presto/wiki/Review-and-Commit-guidelines
4. https://github.com/prestodb/presto#code-style

[2022-11-10 21:19] MPagel commented on #18622
Joda does list the following zones at https://www.joda.org/joda-time/timezones.html

Etc/GMT, Etc/GMT+0, Etc/GMT-0, Etc/GMT0, Etc/Greenwich, GMT, GMT+0, GMT-0, GMT0, Greenwich
Etc/UCT, UCT
Etc/UTC, Etc/Universal, Etc/Zulu, Universal, Zulu

i can't find an official java.util.DateTimeZone posted online, but from https://garygregory.wordpress.com/2013/06/18/what-are-the-java-timezone-ids/ I see a sim

[2022-11-11 08:24] #18586 closed

[2022-11-14 15:23] jyk4100 commented on #8955
Anyone noticing this issue on version `0.273.2` ?

[2022-11-14 21:37] #17927 closed

[2022-11-15 08:35] deshanxiao opened #18683 "Replace presto orc with apache orc"
Apache ORC provides some nice features like column encryption or datasource filtering. Can we use apache orc's reader/writer to support ORC in presto directly?  BTW, what considerations did presto choose to implement ORC reader and writer ?

[2022-11-15 15:44] majetideepak opened #18685 "[Native] Improve Prestissimo dependency build scripts to re-use Velox's resolve_dependency"
Velox's dependency management started to move towards using CMake `resolve_dependency`.
See https://github.com/facebookincubator/velox/pull/3100
Prestissimo must re-use them.
A potential issue with the current setup is
[code]
as mentioned here
https://github.com/prestodb/presto/pull/18527#issuecomment-1300249787

[2022-11-15 15:49] majetideepak commented on #18685
CC: @kgpai

[2022-11-15 16:26] swapsmagic commented on #18568
You should set the subgroup scheduling policy as QUERY_PRIORITY else it will default to FAIR policy and that might be the reason of it to not succeed. Please give it a try first.

[2022-11-15 23:53] hantangwangd commented on #18568
@swapsmagic InternalResourceGroup seems like to do customized logic to QUERY_PRIORITY policy: if a group's scheduling policy is QUERY_PRIORITY, it will automaticly set its subgroup's scheduling policy to QUERY_PRIORITY. And I confirm again that all groups are in QUERY_PRIORITY policy in test case.

[2022-11-16 00:20] wanglinsong opened #18690 "[Native] update Jenkins pipeline to build native Prestissimo docker worker image"
The current pipeline only builds a docker image, for both Java coordinator and worker.
To run tests on a deployed cluster with Prestissimo workers, we need the docker image build.
We will support linux/amd64 platform first.

@majetideepak

[2022-11-16 03:16] yushide opened #18691 "prestodb + parquet bug"
我使用的presto版本为：0.260.1
建表语句为：
CREATE TABLE `ads.erp_delivery_summary`(
  `sku` string,
  `lines_name` string,
  `shop_name` string,
  `branch_name` string,
  `number` bigint)
PARTITIONED BY (
  `delivery_time` string)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
OUTPUTFORMAT

[2022-11-16 08:54] WuRoc commented on #18691
是不是字符尾部有空格

[2022-11-16 16:51] majetideepak commented on #18690
@wanglinsong Some work on this line https://github.com/prestodb/presto/pull/18572

[2022-11-17 02:57] yushide commented on #18691
尾部和开头都没有特殊字符，我在hive 命令行窗口执行可以正常返回数据

[2022-11-17 03:00] WuRoc commented on #18691
中文字符是不是不支持用引号  换个esc下面的符号

[2022-11-17 03:04] yushide commented on #18691
并不是像是特殊字符的问题，我创建了一个新的表，使用orc格式，然后把原表数据导过去后，presto可以正常过滤，说明数据本身没问题。

[2022-11-17 03:24] mingfang commented on #11936
please reopen this issue.
view support for Postgres is critical

[2022-11-17 08:09] xuriyongjiu opened #18696 "kafka consumer is not close"
https://github.com/prestodb/presto/blob/0.277/presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaSplitManager.java
  public ConnectorSplitSource getSplits()
    KafkaConsumer<ByteBuffer, ByteBuffer> consumer=....
   is not close

[2022-11-17 10:08] walkhan opened #18697 "The event listener query causes the task to fail"
The event listener query causes the task to fail。

[2022-11-17 19:37] kgpai commented on #18685
Thanks @majetideepak, at the moment we are gating all moves to resolve_dependency until we have a nightly job building presto_native with latest velox, which should warn of us any breaking changes in presto_cpp.  In the future though we hope to also move presto_cpp to use resolve_dependency.

[2022-11-22 03:04] hzwcome commented on #16240
appreciate. I try it recenty and it works.
another Note: If your username or password contains special characters, wrap them in " "

[2022-11-22 03:04] #16240 closed

[2022-11-22 06:17] Fiooodooor commented on #18690
@wanglinsong @majetideepak @mbasmanova Are you already developing or working on this topic? It would be good to have any guidelines or requirements on how this should be implemented. What is probably more important are you considering any cross-repository pipeline (Velox-PrestoCpp) to keep track of possible breaking changes in source/build code?

I can see two different (?) pipelines in presto rep

[2022-11-23 10:21] Mionsz opened #18721 "[native] Naming convention clarification"
I am not sure if the valid and 'should use' name for presto-native-execution was declared. This makes some people confused and not sure if or not the listed bellow are same product:
- Prestissimo
- PrestoCpp
- presto-native-execution
- Presto native server

Could we have this clarified and replaced in the documentation or can we make a vocabulary that will clarify this?
@majetideepak

[2022-11-23 15:21] rmarduga commented on #17382
The issue was fixed by #18041

[2022-11-23 16:12] TommyLemon opened #18722 "Tencent/APIJSON ORM supports Presto 🎉"
Presto is a great database query engine, now Tencent APIJSON ORM has already supported it 🎉

### Usage
2 demos: APIJSONDemo-Presto, APIJSONBoot-BigData
![ADA9166F509C26DAA7A5483FEEAEA11F](https://user-images.githubusercontent.com/5738175/203592197-1170926f-d6cc-4c37-b74e-c98e5316515a.jpg)

# APIJSON
🏆 Tencent Top 9 Open Source Project, Achieved 5 Awards Inside & Outside Tencent 🚀
A JSON Transmissi

[2022-11-23 18:50] hoangmit opened #18723 "Support Filtering during aggregation syntax"
Other DBs like Trino [1] and postgresql have supported for that syntax

[code]

[1] https://trino.io/docs/current/functions/aggregate.html#filtering-during-aggregation

[2022-11-28 10:24] liuzx8888 opened #18726 "Can Raptorx support kudu Connector"
can Raptorx support kudu Connector ?

[2022-11-28 20:12] rschlussel commented on #16126
@swapsmagic I'm seeing this issue again: https://github.com/prestodb/presto/actions/runs/3567753776/jobs/5995821172
[code]

[2022-11-28 20:42] arihan-1560795 opened #18728 "Documentation Error- missing grouping set"
https://github.com/prestodb/presto/blob/5c6efc723fc739f5c172330359fee1aecd0e0305/presto-docs/src/main/sphinx/sql/select.rst

Cmd + f "only unique grouping sets are generated:"

There should be an entry for (destination_state, origin_zip) here that's missing.

[2022-11-29 00:47] feilong-liu commented on #15701
Hi @v-jizhang I am looking into this issue. I see that you have a open PR https://github.com/prestodb/presto/pull/16932 which has no update for a while, are you still actively working on this? Thanks!

[2022-11-30 02:04] na2hiro opened #18736 "Build Presto UI with production optimization (minification etc)"
The JS code for Cluster Overview UI is built without optimization for production. I can observe in [dist/index.js file](https://github.com/prestodb/presto/blob/0a018198fe7b3b1073b00d845c24d24b8c8711a9/presto-router/src/main/resources/router_ui/dist/index.js) following:

* Code is not minified (big file size to download)
* No tree shaking (unused code elimination)
* Code sits inside `eval()`

That

[2022-11-30 06:15] Adhityan-R opened #18739 "enabling this property "hive.parquet.use-column-names: 'true' " throws the error '<latest parquet> is not a valid Parquet File'"
the  hudi  streaming (real-time) job  is running continuously.

when I enabled the property  hive.parquet.use-column-names: 'true' in presto , the error '<latest parquet> is not a valid Parquet File' is thrown.
I believe that since its a streaming job , error is thrown when presto tries to read the file in which hudi is writing at the same time. (latest parquet file )
FYI : size of the parquet fil

[2022-11-30 10:32] tbinoy opened #18740 "Table structure in Presto select query is not proper when columns are masked using AWS Lake Formation policy"
In the below AWS table , the column "address" is masked by AWS Lake Formation policy. Then the select query from presto is hiding the column "address" but values are seen under next column "city"
presto:isl-lhservice-db> select * from "/Persons";
 personid | lastname  | firstname | address | city
----------+-----------+-----------+---------+------
        1 | Doe            | John              | a

[2022-11-30 10:34] tbinoy opened #18741 "Iceberg table creation from Presto fails in AWS Glue"
The table create statement from Presto to AWS Glue metastore fails with below error.

presto> create schema isl_progress with(location='s3://xxxxxx/');
CREATE SCHEMA
presto> create table isl_progress.sprint_details(sprint_id int, sprint_progress_pct varchar);
Query 20221114_115537_00033_tb3fw failed: Lock is not supported by default

I am using Presto 0.277 to connect create/ insert iceberg tables

[2022-11-30 17:43] v-jizhang commented on #15701
@feilong-liu It's ready for review but because it involves a lot changes, it takes substantial time for anyone to review it.

[2022-11-30 20:14] rschlussel opened #18744 "Flaky test TestDistributedQueuesSchedulingPolicy.testWeightedScheduling"
Error:  Failures:
Error:    TestDistributedQueuesSchedulingPolicy.testWeightedScheduling » ThreadTimeout Method com.facebook.presto.execution.resourceGroups.db.TestDistributedQueuesSchedulingPolicy.testWeightedScheduling() didn't finish within the time-out 60000

Example:
https://github.com/prestodb/presto/actions/runs/3586415657/jobs/6035577838