[2016-08-09 10:54] sopel39 commented on #5320
@cberner @martint How about meeting at 8AM tomorrow (10th August)? Would that suite you?

FYI: @fiedukow

[2016-08-09 13:39] KBP-TDC commented on #2050
Any chance you can try the latest Presto (0.151 at this point) and verify whether there is anything missing? We have non-equi joins working now I believe thanks to @losipiuk
Please refer to Presto docs at https://prestodb.io/docs/current/sql/select.html

[2016-08-09 13:42] losipiuk commented on #2050
Just take in mind that performance is not optimal for some classes of queries. There is pending PR which improves that a lot (https://github.com/prestodb/presto/pull/5810).

[2016-08-09 17:18] nezihyigitbasi commented on #5821
@haozhun thanks for putting this together. Here is my 2 cents.

We currently have EMR Hive 1.0 and an insert overwrite first deletes the s3 path at the beginning of the query, then a job writes the data to hdfs in a temp dir and after that another job writes that data directly to s3 (no s3 temp files are used). With inserts, a job writes the data to hdfs in a temp dir and then a subsequent job rea

[2016-08-09 17:54] cberner commented on #5320
@sopel39, @martint is at the Teradata meetup in LA until very late tonight, and then I'm on vacation Thurs & Fri. How about 8:30am Pacific Time next Monday (Aug 15th)?

[2016-08-09 18:08] sunchao commented on #2050
Thanks @KBP-TDC and @losipiuk - didn't realize this work is already done. :)
I'll upgrade my Presto version and have a try. Will watch for the improvement.

[2016-08-09 18:36] nezihyigitbasi commented on #5779
thanks @dain. Here is the explain analyze output. For fragment 2 the cost is almost 0, for fragment 1 it's 50%, but the total cpu cost of this stage is negligible, and for fragment 0 the cost is significant but it's hard to compare that against version 0.139. I guess the perf diff is probably not related to these extra projections, but probably due to individual operator implementations.

[code]

[2016-08-09 19:14] cberner commented on #5800
I'm not sure. I was discussing this with @martint yesterday, and it's not clear whether that's the right thing to do, or just to allow `EQUAL(x, y)` and fix the code base to support that

[2016-08-09 23:18] electrum opened #5828 "Fix Raptor hang at startup deleting large staging directory"
We currently block on startup while deleting the staging directory contents. This can take a while for a large staging directory, which can cause health checks for the process to fail.

One solution to this is to simply list all the files on startup, then delete them in a background thread.

[2016-08-09 23:23] electrum commented on #5762
Thank you! We had a sporadic leak when using Hikari and were never able to track it down.

[2016-08-09 23:33] electrum commented on #5762
Actually, this might be a false positive from Hikari. The leak detection works by grabbing a stack trace at connection initiation, then starting a timer which prints this message if the thread hasn't been returned to the pool. Hikari has no way of knowing if the connection is still being used.

`ShardIterator` uses a streaming query and can legitimately take a long time (if it's a large query with

[2016-08-09 23:44] electrum commented on #5762
I filed a Hikari issue for the false positive idea: https://github.com/brettwooldridge/HikariCP/issues/694

[2016-08-10 01:15] haozhun commented on #5821
@nezihyigitbasi I have a few questions on your response.

* The slide you linked to talks about having a `batchid` subpartition. That is not exactly the same as creating a new directory with `batchid` in it, and then have metastore point the partition there. Can you show me some examples of the full path of files on S3?
* You talked about how EMR Hive 1.0 does insert overwrite. Deleting directorie

[2016-08-10 01:37] jefimm commented on #5762
This is not a false positive, we experienced the real connection leak (no
queries running and no connections awailable) and had to turn on leak
detection to diagnose.

Regards

On Aug 10, 2016 02:44, "David Phillips" <notifications@github.com> wrote:

[2016-08-10 02:47] electrum commented on #5762
Do you have an example stack trace of a non-SQLException that was thrown from this block?

I definitely believe there is a leak when using Hikari, because we tried for quite a while but couldn't track down the "no connections available" issue.

This code definitely could leak if the wrong exception is thrown, but it's hard to say for certain that this is the problem (or if there are others).

Plea

[2016-08-10 03:25] jefimm commented on #5762
Unfortunately we were not able to pinpoint the issue but that code looked
like one could be improved
I doubt this is hikari - related issue

Regards

On Aug 10, 2016 05:47, "David Phillips" <notifications@github.com> wrote:

[2016-08-10 14:44] sopel39 opened #5834 "Setting task_writer_count to non power of two can cause partitionCount must be a power of 2"
This might happen when there is union and table writer in one pipeline:

[code]

[2016-08-10 14:45] fiedukow commented on #5320
8.30 AM Pacific Time Aug 15th seems ok for me. @sopel39 is now on vacation till 22 Aug. We can continue without him or wait for him - whatever you prefer.

[2016-08-10 15:49] cberner commented on #5320
Either way is fine for me. What @martint and I wanted to discuss is mainly how much `char(x)` and collation functionality you guys need and how to fit it into Presto, as it is looking like a fairly complicated feature to implement. If you have enough context about that then the 15th seems good, otherwise we can wait for @sopel39.

[2016-08-10 15:54] fiedukow commented on #5320
I think we can go with 15th than.

[2016-08-10 16:25] nezihyigitbasi commented on #5821
- We have tables doing both. For non-partitioned tables a `batchid` directory gets created and the table location points to that. There are other tables that has a `batchid` partition. An example for a non-partitioned table: `s3n://hive/database.db/table/batchid=1470789481`, and for a partitioned table the `partition (dateint=20160506, hour=9, batchid='merged_20160506T101705_1')` points to `s3n://

[2016-08-10 17:05] cberner commented on #4129
Will be fixed by https://github.com/prestodb/presto/pull/5827

[2016-08-10 17:05] #4129 closed

[2016-08-10 19:06] #5486 closed

[2016-08-10 20:37] electrum opened #5838 "Fix Hive bucketing validation and error message"
The message shouldn't call `toString()` on `Optional` or `HiveBucketProperty` and should instead format directly. Example of current message:

[code]

If the table doesn't have bucketing, we should actually ignore the partition (just treat reading as non-bucketed), since it won't produce incorrect results. Thus, I think we should have the following error messages, formatted using the same syntax a

[2016-08-10 20:59] #5762 closed

[2016-08-10 23:09] cberner commented on #5320
Sounds good to me

[2016-08-10 23:31] jangorecki commented on #2349
There is some info in [admin/tuning](https://prestodb.io/docs/current/admin/tuning.html), quite few, no examples.

[2016-08-11 00:10] suvodeep-pyne opened #5840 "Unable to read Hive tables created by Presto due to permission errors"
When presto creates a Hive table with SQL standard permissions enabled, the tables are created with the privilege "ALL" granted to the user creating the table. While this seems correct, this doesn't work with Hive since ALL needs to be translated to its constituent privileges - SELECT, UPDATE, INSERT, DELETE (see: org.apache.hadoop.hive.ql.security.authorization.plugin.sqlstd.SQLPrivilegeType)

Wh

[2016-08-11 00:47] electrum commented on #5797
I'm going to do this today.

[2016-08-11 01:43] geraint0923 commented on #4503
Fixed in https://github.com/airlift/slice/pull/52

[2016-08-11 01:43] #4503 closed

[2016-08-11 09:39] fmeiser commented on #5779
Maybe your problem is related to #5719

[2016-08-11 13:24] #5812 closed

[2016-08-11 14:21] KBP-TDC commented on #2349
@aslldab1 @jangorecki   I would look at the output of EXPLAIN, EXPLAIN (TYPE DISTRUBUTED), and EXPLAIN ANALYZE. Presto UI also has a nice visual query plan with runtime metrics updated as query is in progress. That should help to understand the performance.
Btw. this doc is slightly more detailed: http://teradata.github.io/presto/docs/148t/admin/tuning.html

[2016-08-12 09:37] yuananf commented on #1608
fixed by #4651

[2016-08-12 09:37] #1608 closed

[2016-08-12 09:51] yuananf commented on #2371
fixed by #3493

[2016-08-12 09:51] #2371 closed

[2016-08-12 10:13] yuananf commented on #3507
fixed by #3611

[2016-08-12 10:13] #3507 closed

[2016-08-12 10:18] yuananf commented on #3563
fixed by #3579

[2016-08-12 10:18] #3563 closed

[2016-08-12 10:37] yuananf commented on #3731
fixed by #5352

[2016-08-12 10:37] #3731 closed

[2016-08-12 10:40] #3786 closed

[2016-08-12 10:49] yuananf commented on #4161
fixed by #4165

[2016-08-12 10:49] #4161 closed

[2016-08-12 10:50] yuananf commented on #4367
fixed by #4378

[2016-08-12 10:50] #4367 closed

[2016-08-12 10:52] yuananf commented on #4250
fixed by #3954

[2016-08-12 10:52] #4250 closed

[2016-08-12 10:53] yuananf commented on #4297
fixed by #4299

[2016-08-12 10:53] #4297 closed

[2016-08-12 14:17] DerrickRice opened #5847 "Support '==' as equivalent to '='"
Usability perk. Software engineers have a habit of writing `==` when they intend to test equality. This is a syntax error in Presto. It would be nice if it was understood as an alternative to `=`.

There is precedent for this. `<>` is the traditional not-equal operator in SQL, but Presto supports `!=`.

[2016-08-12 15:45] KBP-TDC commented on #3434
@RobinUS2 could you please close the issue now? Unless the problem is not solved and you can share further insights.

[2016-08-12 16:46] electrum commented on #5847
Do any other database support this?

The != syntax is universal among SQL databases.

[2016-08-12 16:55] electrum commented on #5847
I checked and no other popular databases support this (aside from Hive). We avoid adding non-standard syntax unless there is a compelling reason. Adding additional syntax for an existing operator has the downside that it makes queries harder for others to understand, because now they have to know about the additional syntax.

[2016-08-12 16:55] #5847 closed

[2016-08-12 17:21] philippu commented on #5290
It's been a few months. @MariaPetropoulou are you still working on this? Otherwise, I'm happy to take over.

[2016-08-12 17:54] electrum opened #5850 "Support pattern matching via MATCH_RECOGNIZE"
Pattern matching allows a number of use cases that are difficult or impossible to do otherwise. This is specified in SQL:2016 as `MATCH_RECOGNIZE` in *4.17 Row pattern matching*.

Oracle has had an implementation of this for a while and very likely matches the standard [1] [2] [3].

1. http://docs.oracle.com/database/121/DWHSG/pattern.htm
2. http://www.oracle.com/ocom/groups/public/@otn/documents/

[2016-08-12 17:55] electrum commented on #3081
I filed #5850 for `MATCH_RECOGNIZE`.

[2016-08-12 17:55] #3081 closed

[2016-08-13 04:14] yuananf commented on #5290
@philippu there is a PR about this issue#5406 , not sure whether it works

[2016-08-14 03:59] zhenxiao opened #5854 "Current master has problem when starting Presto server"
Hi, the current master getting the following problem when launch Presto server:

1) Error injecting constructor, com.sun.tools.attach.AttachOperationFailedException: java.lang.RuntimeException: Invalid agent state

  at io.airlift.jmx.JmxAgent.<init>(JmxAgent.java:41)
  at io.airlift.jmx.JmxModule.configure(JmxModule.java:43)
  while locating io.airlift.jmx.JmxAgent
    for parameter 0 at io.airli

[2016-08-14 05:12] martint commented on #5854
Yeah, it's due to some recent changes in airlift and a big in the provisio maven plugin. We're working on it, and expect to have a fix early this week.

[2016-08-15 02:32] linqerli commented on #4413
could you give me the commit number ? I want see the progress in time

[2016-08-15 10:51] lxneng opened #5855 "mongodb collection name contains dot. raise Invalid schemaTableName Error"
Hi, My mongodb collection name contains dot, `desc table` is ok.
`select * from` will raise a `Invalid schemaTableName Error`

[code]

backtrace detail:

[code]

[2016-08-15 17:22] #4063 closed

[2016-08-15 17:41] zhenxiao commented on #5854
get it. Thank you @martint

[2016-08-15 17:43] maciejgrzybek commented on #4259
@zachyee will be working on this task.

[2016-08-15 18:11] jangorecki opened #5857 "get query timing in non-interactive mode"
It seems there is no easy way to pass the sql script to presto cli and gather query output together with timing of each query. I would like to use `-f script.sql` and have the timing included in the output. Currently as a workaround I can redirect script to cli with `presto-cli < script.sql` but it produces messy output, so cannot be easily processed.

[code]

[2016-08-15 18:30] ebd2 opened #5858 "WindowNode with no window function in testRowNumberUnpartitionedFilter"
https://github.com/prestodb/presto/blob/master/presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestQueries.java#L3576

Whether by accident or by design, the output of the `row_number()` function, `rn`, is not referenced in the outer query, and `RemoveUnreferencedOutputs` optimizes out the call to the window function but leaves the `WindowNode` in the plan. Independent of whether that'

[2016-08-15 18:33] dain commented on #4413
The code is in review here #5818

[2016-08-15 18:34] ebd2 commented on #5858
@nileema: It looks like you wrote the original test. Could you please weigh in and close (with a comment) if this is the intended test? This exposed a bug in some code I was refactoring, and I'd like to understand the test so I make sure I'm not missing something.

[2016-08-15 18:34] martint commented on #5593
I think it's fine to show them to users in that way, but that's a client rendering issue more than anything. From the point of view of the SQL parser, any literal that's not in scientific notation should be interpreted as decimal, though.

[2016-08-15 18:42] ebd2 opened #5859 "PruneUnreferencedOutputs leaves WindowNodes with no window functions"
Discovered at the same time as #5858. The resulting plan seems suboptimal at best:

[code]

[2016-08-15 18:45] philippu commented on #5290
Thanks. I will start from Maria's PR.

[2016-08-15 18:51] ebd2 commented on #5859
Incidentally, I'm happy to take on fixing this once it's clear what the right fix is.

[2016-08-15 18:57] ebd2 commented on #5859
It would appear that PruneUnreferencedOutputs could just return the source for a WindowNode if pruning the unreferenced outputs results in a  WindowNode without any window functions, but there doesn't appear to be precedent for removing a node from the plan entirely in PUO.

[2016-08-15 19:02] martint commented on #5859
Yes, it should drop the node if it doesn't compute any window functions.

[2016-08-15 21:23] akshatnair opened #5861 "Allow better pushdown for OR predicates"
Currently OR predicates are only available for pushdown for connectors in SPI if they are on the same column.

[2016-08-15 23:17] electrum commented on #5752
@ArturGajowy yes, we set the `ci` profile, defined below in that POM

[2016-08-15 23:18] electrum opened #5864 "Add Travis config for CI-only tests"
Some connectors, such as PostgreSQL, disable the distributed tests unless the `ci` profile is activated. We should add those to the Travis build matrix.

[2016-08-16 02:06] buremba commented on #5688
+1

[2016-08-16 03:40] philippu commented on #5290
I was experimenting with empty strings and noticed some surprising semantics. Splitting the empty string returns an array with a single element, the empty string. So for example,

`SPLIT('', '.')` returns `['']`

I would have expected an empty array. Are the existing semantics intentional?

Also, I'd love to know what `SPLIT('', '')` is supposed to return. Since the semantics of splitting by an em

[2016-08-16 04:15] philippu commented on #5290
Oh, and to make things _really_ interesting, `REGEXP_SPLIT('', '')` returns `['', '']`.

[2016-08-16 14:00] maciejgrzybek commented on #5102
Closing as #5702 is merged.

[2016-08-16 14:00] #5102 closed

[2016-08-16 14:40] maciejgrzybek commented on #5859
Closing as PR is merged.

[2016-08-16 14:40] #5859 closed

[2016-08-16 15:01] wmorin opened #5869 "Using presto with Vertica"
Hi,
Is it possible to use Vertica with presto ? I can't find Vertica or JDBC in the connector list.

Thank you

[2016-08-16 15:34] ebd2 commented on #5869
Hi,
This question came up on the presto-users mailing list back in April:

https://groups.google.com/forum/#!searchin/presto-users/vertica%7Csort:relevance/presto-users/-HGV8hzwTWk/5d_wd3rsIQAJ

In early May, somebody announced a website for community connector development:

https://groups.google.com/forum/#!searchin/presto-users/connector$20community%7Csort:relevance/presto-users/m72RewPMIE0/vO8c

[2016-08-16 15:34] #5869 closed

[2016-08-16 17:31] #5854 closed

[2016-08-17 02:17] #5254 closed

[2016-08-17 06:09] yuananf commented on #5092
fixed by #5097

[2016-08-17 06:09] #5092 closed

[2016-08-17 06:17] yuananf commented on #4218
fixed by #4235

[2016-08-17 06:17] #4218 closed

[2016-08-17 06:27] taklwu commented on #3603
is this still an open issue?

[2016-08-17 12:07] kokosing commented on #5144
PR: https://github.com/prestodb/presto/pull/5826

[2016-08-17 14:13] ArturGajowy opened #5879 "Initial support for lateral joins"
Lateral joins are joins in which sub-selects and expressions on the right side of `LATERAL` keyword can use the scope of the join on the left side of `LATERAL` keyword. E.g. (trivial):

[code]

which is equivalent to:

[code]

See [PostgreSQL docs](https://www.postgresql.org/docs/current/static/queries-table-expressions.html#QUERIES-LATERAL).

A less-trivial example would be:

[code]

(source: [Re

[2016-08-17 14:16] ArturGajowy commented on #5879
We're opening the issue to let you know we've started planning the work on that :)

@kokosing please review the problem statement :)

[2016-08-17 18:02] philippu commented on #5342
Fixed in 7e1336b. Closing this.

[2016-08-17 18:02] #5342 closed

[2016-08-17 22:33] #5010 closed

[2016-08-18 01:29] electrum commented on #5290
I think returning an empty string is the right behavior for `split('',, 'x')`. This is the same as splitting a non-empty string on a non-matching delimiter, i.e. `split('abc', 'x')` which would return `'abc'`.

I don't think that `split` and `regex_split` need to be consistent. Matching on a regex is a different operation since a regex can match things that aren't part of the string. For example,

[2016-08-18 01:34] electrum commented on #5290
The behavior of regex to return empty first and last elements makes sense given that a regex can match boundaries. For example, the string 'abc', with word boundaries `*`, is `*abc*`. Thus splitting on a word boundary would result in `['', 'abc', '']`. An empty string has the same behavior if you consider an empty string to be a boundary that exists between each character.

[2016-08-18 01:36] electrum commented on #5290
TLDR: split is different becauses it matches strings (which have a minimum length of one), not arbitrary boundaries (which can be zero length).

[2016-08-18 01:41] erichwang commented on #4952
The consensus here is that we should support the empty_approx_set() function.

[2016-08-18 02:32] martint commented on #5290
I'm not sure I agree. `split` could certainly be modeled as a special case of `regex_split`, where split is just syntactic sugar for using regexp_split with a "literal" string.

E.g., `split(string, 'abc')` would be equivalent to `regex_split(string, /\Qabc\E/)`. Therefore, `split(string, '')` would be the same as `regex_split(string, //)`.

It think that interpretation is simple and elegant, and

[2016-08-18 03:56] erichwang opened #5887 "Index joins are disabled if followed by a filter"
There was a regression added in 0.148 that disables index joins if there are filters applied after the join: introduced in this commit:
https://github.com/prestodb/presto/commit/983091db830e7ae58baa8f632ee407586ddd1112

Instead of disabling index joins, we should turn the filter into an explicit filter node after the index join (until index joins properly support inherent filtering).

[2016-08-18 10:29] ArturGajowy commented on #5879
@martint @electrum @cberner do you have any comments on this issue before we start? I asked @kokosing and it looks good to him.

[2016-08-18 14:06] martint commented on #5879
The proposal looks good. Go for it!

[2016-08-18 17:03] electrum commented on #5290
That's reasonable, but I don't think it helps the average user to have an intuition about what splitting an empty string might mean, nor do I think there is a good use case for allowing it.

[2016-08-18 18:33] philippu commented on #4952
I will take a look at this. I also noticed that there is no documentation for approx_set().

[2016-08-18 19:54] philippu commented on #4952
May I ask what was the rationale for leaving approx_set to return NULL instead of an empty HLL state? I understand it makes it more consistent with other aggregate functions. But approx_set is not a stand-alone aggregate function. It just creates an intermediate state for incremental HLL computation. I just cannot think of a use case where a user would really want a NULL instead of an empty state.

[2016-08-18 20:15] electrum opened #5891 "Product tests should fail if -t doesn't match any tests"
I was trying to run all SQL tests in a directory and tried a couple of ways:
[code]
I assume both of these didn't match anything:
[code]
However, I think it would better to fail loudly and as early as possible. Otherwise, it's easy to have a typo and think you ran the tests.

[2016-08-18 20:16] electrum opened #5892 "Allow running all product tests in a directory"
It would be helpful if something like this worked:

[code]

And even better if I can specify multiple directories.

The same goes for Java based tests: allow specifying an entire class or multiple classes or packages.

[2016-08-18 22:11] electrum opened #5893 "Categorize errors for Joda time ArithmeticException"
[code]

[2016-08-18 22:12] electrum opened #5894 "Large negative timestamps produce invalid result"
[code]

[2016-08-18 23:20] ptkool commented on #5362
Please assign this issue to me.

[2016-08-19 00:59] maciejgrzybek commented on #5362
@ptkool There's a PR for this feature already. It's here: https://github.com/prestodb/presto/pull/5712

[2016-08-19 09:51] raghuvineel commented on #3071
May I know to which version this has been integrated to? Does presto.151 has bloom filters support for ORC tables?

[2016-08-19 10:48] kokosing opened #5897 "Data spilling in join"
We started to work on data spilling in join. Currently it was mostly conceptual work, not much code yet.

Before we start any serious coding we would like to hear you opinion about our idea of how we think it should be done.

Here is a design doc: https://docs.google.com/document/d/1FyT2-2ocOZ6dvzGK70yrUIhd9oucmfnreFWqd3SmfyU/edit#

If you notice any problem: our code misunderstanding, performance

[2016-08-19 11:51] ptkool commented on #5362
@maciejgrzybek Ok. I was going by the fact that no one was assigned to this issue. Is there any easy way to determine if an issue has an existing PR? I am interested is contributing.

[2016-08-19 11:56] maciejgrzybek commented on #5362
@ptkool We try to link PRs with issues. You may see links between my comment from May 25th.
"This was referenced on Jul 20 [...]"

Unfortunately, it's not possible to assign issues to people outside of prestodb organization (https://github.com/prestodb).

[2016-08-19 14:12] kokosing commented on #5892
I will take care of that.

[2016-08-19 14:25] kokosing commented on #5891
I will take care of that.

[2016-08-19 14:29] KBP-TDC commented on #3071
@raghuvineel : this issue is Open, meaning it's not done yet.

[2016-08-19 16:14] KBP-TDC commented on #3434
FYI, we found that adding the following lines to the `/etc/security/limits.conf` file on all Presto nodes:
[code]
helped with similar issues.

[2016-08-19 16:14] #3434 closed

[2016-08-19 18:46] philippu commented on #5290
There is a pretty good use case: split the string into individual characters.

A different issue @electrum brought up in #5867 is that SPLIT(..., '') becomes inconsistent with SPLIT_PART when returning empty string elements at the beginning and end of the array, because SPLIT_PART does not count these towards the index parameter.

Being consistent with SPLIT_PART feels more important than being co

[2016-08-19 19:10] philippu commented on #2036
I am trying to wrap my head around this. As discussed in #3465 there does not seem to be a good reason why join predicates need to be deterministic. Agreed. We use EqualityInference to rewrite the predicate. Why does EqualityInference require the input expression to be deterministic? In other words, what could go wrong if we just removed the assertion?

[2016-08-19 19:14] philippu commented on #2036
fyi, removing the assertion makes the offending query execute and return correct results. So it boils down to, is there a good reason for that assertion in the first place?

[2016-08-19 19:19] martint commented on #5290
Well, `split_part` is currently inconsistent with `split`, since it allows an empty delimiter string.

Another oddity is that while `split_('abc', '', 1)` returns `'a'`, `split_part('abc', 'a', 1)` returns `''`, so it doesn't even seem consistent with itself.

[2016-08-19 20:18] erichwang commented on #2036
removing the assertion is not a good idea since the EqualityInference only works on deterministic expressions right now because it may try to write the expressions one or multiple times as it reconstructs expressions and use them to substitute in subexpressions. it may just happen to work right now with this expression, but it should be easy to construct an example where this will produce the wron

[2016-08-19 20:19] erichwang commented on #2036
on that note, the test case could probably have been constructed slightly better

[2016-08-19 20:30] philippu commented on #2036
The query works just fine with rand() > 0.5. It produces 0 or 1 rows half the time each.

[2016-08-19 23:54] joy-yao commented on #5887
https://github.com/prestodb/presto/commit/d63731891c7e0e75145e79699566341f91f7c9da

[2016-08-19 23:54] #5887 closed

[2016-08-20 00:06] cberner commented on #5897
Overall that looks like a reasonable approach. I do have one concern though. Both this and the spilling for aggregations look like they're going to add a lot of complexity to the query execution.

Something I've been considering for a while is "contingency planning" where the planner inserts parts of the plan which are only taken under certain conditions, and I wonder if it would work well here.

[2016-08-20 00:37] philippu commented on #4952
The pull request should take care of it. Let me know what you think.

[2016-08-20 00:46] philippu commented on #2036
I think I can see what you are saying. It would help to have a concrete query that features non-deterministic predicates that may not be pushed around freely. I can imagine something with multiple rand() predicates, where the result of the query depends on whether the expressions are folded or not.

In any case, I'm not sure a proper fix for this is a beginner task. I'd need to study the optimizer

[2016-08-20 12:39] surendraGaddam99 opened #5911 "Problem with getting column or table metadata for prestodb"
Hi,

When my application is connected to prestodb using mysql connector .
 It uses presto-base-jdbc-0.77.jar and internally uses information_schema.columns or           information_schema.tables to fetch metadata for mysql connector.This is fine.

But when i am trying to use oracle connector to connect my application to prestodb
Presto internally fires which tables to fetch table or column metadat

[2016-08-20 18:27] kuldeepsidhu88 commented on #1622
@electrum @maciejgrzybek This looks old now, Can I create PR for fix ?

[2016-08-22 06:32] kokosing commented on #5897
@cberner Great idea! I think it should work just well for join. It already had something like that somewhere in `SpillableLookupSourceSupplier`, it had to take the decision whether to spill or not and then run different path of code for each case. However it was not as clearly designed as with your approach will be.

Although, I don't think it fit so nicely to spilling for aggregation. Aggregation

[2016-08-22 06:52] fiedukow commented on #5732
This is already handled in https://github.com/prestodb/presto/pull/5778, right?

[2016-08-22 13:49] maciejgrzybek commented on #1622
@kuldeepsidhu88: sure, go ahead!

[2016-08-22 15:24] maciejgrzybek opened #5912 "Unparametrized FLOAT as an alias for DOUBLE"
Unparametrized FLOAT should be an alias for DOUBLE type.

For:

[code]

Expected behavior is:

[code]

[2016-08-22 16:39] cberner commented on #5897
Yep, I think you're right that this won't work well for aggregations.

I haven't thought about how this would fit into revocable memory. One issue I see is that it's not clear what action should be taken by an operator when its memory is revoked. For example, in the case of an aggregation becoming too large to fit in memory it clearly needs to switch to merge-sort. However, in the case of a higher

[2016-08-22 16:41] cberner commented on #5732
Yes

[2016-08-22 18:50] electrum opened #5915 "Product tests should not write interactive output for Travis"
The raw logs have a lot of extra junk like ANSI progress bars that makes them hard to read. Example:
[code]

[2016-08-22 19:02] electrum opened #5916 "Use single line logging format for product tests"
The output seems to use the default JUL two-line format which is hard to read:
[code]

One way to fix this is to set the system property `java.util.logging.SimpleFormatter.format`, which is what we do for unit tests in the Surefire configuration:
[code]

It could also be helpful to shorten the logger name to just the class name `ProgressLoggingListener`, though that isn't possible with the `Simple

[2016-08-22 19:13] erichwang commented on #2036
@philippu, this task does involve predicate push down but that should be isolated just to the PredicatePushDown optimizer class. The fix may not be as complicated as you might think. I think the main problem here is that non-deterministic predicates cannot be pushed through joins (since joins can change data cardinality).

[2016-08-22 19:58] gregology opened #5918 "Variable support"
We're writing adhoc queries for data interested business users. Variable support or alike would be great, something like MySQL;

[code]

Alternatively parameters similar to Impala's implementation;

[code]

At the moment we're hacking the inputs using `WITH` statements :(

[code]

[2016-08-22 20:18] electrum opened #5919 "Reduce Raptor metadata queries in execution path"
Running a simple query like `SELECT * FROM orders` executes 7 metadata queries, some of them duplicates. We could fix this with caching, though we should consider some SPI changes that would improve all connectors that don't otherwise need caching. In particular, I think we could ask for the table handle first and skip the view check if that succeeds.

**StatementAnalyzer: Metadata.getView()**

[c

[2016-08-23 00:19] electrum opened #5925 "Product tests print bogus stack traces at startup"
I see a few of these on every Travis run. These make it harder to see the real failure, and are especially confusing for people aren't familiar with product tests.

[code]

[2016-08-23 00:21] dain opened #5926 "InterleavedBlock.getRegion does not update sizeInBytes"
When transporting pages between machines, `PageSplitterUtil` breaks pages up into smaller units to reduce buffer requirements.  The logic is pretty simple, repeatably split into two pages using `getRegion` util the pages are smaller than a limit.  This does not work with the new `InterleavedBlock` code because `getRegion` does not return a block with an updated `sizeInBytes`.  The means that if we

[2016-08-23 00:28] ArturGajowy commented on #5925
@fiedukow worked on the very same issue recently, here's his PR for that: https://github.com/prestodb/presto/pull/5445

[2016-08-23 00:29] #5916 closed

[2016-08-23 01:03] #5915 closed

[2016-08-23 07:35] fiedukow commented on #5925
:+1:, already fixed in PR you were reviewing @electrum.

[2016-08-23 19:23] maciejgrzybek commented on #5894
Probably related: https://github.com/prestodb/presto/issues/4579

[2016-08-23 22:57] edwardxwu opened #5934 "unable to insert empty map data type into parquet format"
Hi,

I am trying to insert some data that might contain empty data for the map column into a parquet table and I kept getting:

Parquet record is malformed: empty fields are illegal, the field should be ommited completely instead

Looks similar to this avro issue: https://github.com/Parquet/parquet-mr/pull/169

Edward

[2016-08-23 23:13] nezihyigitbasi commented on #5934
This is a known issue and the root cause boils down to the Hive Parquet writers, which Presto uses to write Parquet data (see [HIVE-11625](https://issues.apache.org/jira/browse/HIVE-11625)).

[2016-08-24 02:43] edwardxwu commented on #5934
But when I used hive/hadoop to perform the operation, it was able to complete the operation without error

[2016-08-24 03:24] miniway commented on #3861
Closing as there's several options to resolve it

[2016-08-24 03:24] #3861 closed

[2016-08-24 04:43] nezihyigitbasi commented on #5934
Which hive version are you using?
On Tue, Aug 23, 2016 at 7:43 PM Edward X. Wu <notifications@github.com>
wrote:

[2016-08-24 06:59] javainthinking opened #5941 "Typo in mongodb connector document."
https://prestodb.io/docs/current/connector/mongodb.html

Typo at section:

**mongodb.required-replica-set**  -> mongodb.cursor-batch-size

Limits the number of elements returned in one batch. A cursor typically fetches a batch of result objects and stores them locally. If batchSize is 0, Driver’s default will be used. If batchSize is positive, it represents the size of each batch of objects retrie

[2016-08-24 13:47] maciejgrzybek commented on #5864
CC: @ArturGajowy

[2016-08-24 13:49] ebd2 commented on #5858
Since #5860 has been merged, one of two things should happen here:

1. Reference `rn` in the outer query
2. Drop the query from the test entirely

[2016-08-24 15:58] ArturGajowy commented on #5864
I think that's a lot of additional build time which could easily block the build queue.

This sounds like a good candidate for nightly builds, on which I'm working ATM. See:
- #5928 Allow running product tests with arbitrary/downloaded artifacts
- [sample build](https://travis-ci.org/ArturGajowy/presto-checks-master/builds/154788769) in the prototype nightly builds repo

[2016-08-24 15:59] ArturGajowy commented on #5864
@electrum WDYT?

[2016-08-24 16:28] RobinUS2 opened #5946 "Resource groups for IO / number of concurrent drivers"
Hi there,

We've been playing around a bit with https://prestodb.io/docs/current/admin/resource-groups.html and it's a really nice feature, yet still a basic one. My proposal would be to add IO limitations and concurrent drivers (running splits).

I would love to hear your thoughts on these two items. If you believe this is a good idea I wouldn't mind taking the work to modify the code and open a

[2016-08-24 22:03] edwardxwu commented on #5934
I was using hive 1.0 on emr. And the issue I am having is a bit different from the ticket you linked. Presto seems to fail if the map being inserted is empty (like {}).

[2016-08-24 22:17] edwardxwu commented on #5934
Here is a concrete example:

presto:default> create table test (a map<varchar(3), integer>) with (format='PARQUET');
CREATE TABLE
presto:default> show columns from test;
 Column |           Type           | Comment
--------+--------------------------+---------
 a      | map(varchar(3), integer) |
(1 row)

Query 20160824_221422_00259_hnsq7, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:00 [

[2016-08-25 01:21] electrum commented on #5864
If we run them separately, it shouldn't increase the build time. That's why I suggested adding them to the matrix. If we have a problem with not enough slots, we can pay Travis to increase it.

Though longer term, there's more benefit to reorganizing the tests. Many of the distributed tests are for the engine and don't test additional paths or cases for connectors. The idea with smoke tests is tha

[2016-08-25 07:03] kokosing commented on #5891
@electrum
[code]

should work with the newest release. Your issue is related with https://github.com/prestodb/tempto/issues/132, which was fixed recently

[2016-08-25 07:22] kokosing commented on #5892
It should work that with the new tempto release:

Try:
[code]

[2016-08-25 07:51] ArturGajowy commented on #5864
This solves the problem for the prestodb repo, but makes things worse for the other forks... I'd say we should avoid that if we can.

Also, not running those tests at all did not seem to cause a lot of harm so far (I might not have a full view, though). Then why not run them nightly and track how often they fail to see how much value running them every build would bring?

[2016-08-25 08:03] wuwei0509 commented on #2314
how can I disable the semi join?

[2016-08-25 14:27] ptkool commented on #5801
@maciejgrzybek I am putting a PR together for https://github.com/prestodb/presto/issues/4554. I can take a look at this as well.

[2016-08-25 14:39] maciejgrzybek opened #5954 "Don't materialize pages in AggregateWindowFunction.accumulate"
When frame is specified on rows (in oppose to range) significant amount of time is spent on building pages in `accumulate` method.
Example query:

[code]

According to YourKit we spent 25% time on this:

[code]

[2016-08-25 14:40] maciejgrzybek commented on #5954
Me or @ebd2 will take care of this.
Comments are welcome though.

[2016-08-25 16:35] maciejgrzybek commented on #5801
@ptkool Feel free to work on this!

[2016-08-25 16:54] nezihyigitbasi commented on #5934
If you re-run your query and check the complete stack trace (pass `--debug` to the cli) you will see that the root cause is the same as [HIVE-11625](https://issues.apache.org/jira/browse/HIVE-11625). So it's really a problem with the underlying Hive Parquet writers. It's hard to fix it at Presto level unless Presto had its own Parquet writers.

[code]

[2016-08-25 17:35] electrum commented on #5954
Yeah, this is known to be inefficient, especially for small accumulations:
[code]
@cberner might have some thoughts on what the `Accumulator` changes should look like

[2016-08-25 18:43] cberner commented on #5954
I would need to look at it in more detail, but my initial thought is that instead of using `InternalAggregationFunction` this should be getting the underlying `MethodHandle`s and holding onto an `AccumulatorState`.

[2016-08-25 19:07] electrum commented on #5946
That's an interesting idea, though it would be need to be configured carefully. You could have a query that is tying up memory, but is executing slowly due to the concurrency restriction. It's easy and basically free to share CPU, but memory is fixed for the duration of a query, so you typically want to complete queries as quickly as possible once they start executing.

[2016-08-25 19:14] dain commented on #5946
The concept of concurrent drivers is not something I expect us to add to resource groups.  Instead, I think we are going to add a system to dynamically adjust these the concurrent drivers (we already do this in one case).  Additionally, I expect us to expand the priority stuff to allow us to favor high priority queries (e.g., allocate more concurrent drivers or give the drivers larger CPU slices).

[2016-08-25 20:16] skoppar commented on #3828
There seems to be some dependency issue. Adding avro jars to the pom.xml did not generate package successfully. There seem to be some conflicts

[2016-08-25 21:01] maciejgrzybek opened #5955 "Reorder window functions to avoid unnecessary repartitioning"
E.g.:

[code]

Will produce 3 repartitionings:

[code]

While simple reorder to:

[code]

will produce only 2 repartitionings:

[code]

[2016-08-25 21:09] maciejgrzybek commented on #5955
I will provide a rewrite for adjacent WindowNode (similarly as @ebd2 did for Merge Identical Windows). Then, will work on non-adjacent nodes.

[2016-08-26 03:41] yuliman opened #5961 "how to write a new connector"
I want to write a new connector to joins in a new database using Presto.Can
anyone please suggest on how to start.Now I start by forking presto-example-http plugin,but
I just know little about presto.How can write a connector to a new database of nosql.
Any guidance will be of lot of help.

[2016-08-26 05:49] #5735 closed

[2016-08-26 06:19] pnowojski commented on #5775
Fixed

[2016-08-26 06:19] #5775 closed

[2016-08-26 08:05] kokosing opened #5963 "Function with REAL is prefered over DOUBLE for DECIMAL values"
In case of two functions `f(REAL)` and `f(DOUBLE) when DECIMAL is given as parameter`f(CAST(1.0 AS DECIMAL))`then function with`REAL` is selected while the one with DOUBLE is desired.

[code]

and

[code]

[2016-08-26 08:07] kokosing commented on #5963
As a solution I suggest to remove the coercion from DECIMAL to REAL and keep the coercion from DECIMAL to DOUBLE.

Here is a fix: https://github.com/prestodb/presto/pull/5951

[2016-08-26 09:41] RobinUS2 commented on #3071
You will see the following error if you do try to use it from presto (this ran on 0.152)
[code]

[2016-08-26 10:28] RobinUS2 commented on #3071
I'm exploring what needs to be done to implement this

[2016-08-26 10:47] naveenmahadevuni opened #5965 "Presto reads tables incorrectly if two Hive tables are created at the same location."
I created two Hive tables at the same location. Hive reads the two tables independently, but presto reads all data files even if only one table is queried. Below is the reproducible case.

[code]
[code]

[2016-08-26 11:15] naveenmahadevuni commented on #5965
An update to my previous comment. Hive returns the count correctly, but when I select *, hive also returns incorrect number of rows.

hive> select * from test2;
OK
1       2
3       4
1       2
3       4
Time taken: 0.107 seconds, Fetched: 4 row(s)
hive> select * from test1;
OK
1       2
3       4
1       2
3       4
Time taken: 0.054 seconds, Fetched: 4 row(s)

[2016-08-26 13:05] maciejgrzybek commented on #5963
This is not a bug.
Given there are no DECIMAL aggregate functions implemented yet it's expected behavior and in line with decision made in https://github.com/prestodb/presto/pull/5492, agreed with @martint, @cberner, @arhimondr and @fiedukow.
Should be closed.

[2016-08-26 13:11] kokosing commented on #5963
@maciejgrzybek Thanks for explanation.

@martint if this behavior is expected, please close this.

[2016-08-26 13:17] maciejgrzybek commented on #5961
@yuliman mailing list is probably much better place for such a question given you may get much better response there. Have a look here: https://groups.google.com/forum/#!forum/presto-users

But I can give you my two cents:
* have a look at https://prestodb.io/docs/current/develop.html
* read code of other connectors (Hive, JDBC-based, e.g. MySQL/PostgreSQL).
* start with writing `ConnectorMetadata

[2016-08-26 15:59] maciejgrzybek commented on #5941
Closing since #5962 is merged.

[2016-08-26 15:59] #5941 closed

[2016-08-26 17:08] maciejgrzybek opened #5967 "Add better output comparator for DSL plan testing"
On DSL test failure it's hard to follow the output. Maybe some sort of highlighting would be helpful.

E.g. of the problematic output:

[code]

CC: @kokosing

[2016-08-26 18:16] jpavlick opened #5968 "View creation fails if source table name contains quotes"
I've been creating views using the hive connector (referencing tables coming from the mongodb connector) and it works fine except for tables that have numbers/reserved words in them. Example

[code]

I noticed that there is a previous issue with this - https://github.com/prestodb/presto/issues/2074 - but it was a long time ago. I'm running Presto 0.147 on AWS. Please let me know if there's a worka

[2016-08-26 18:42] martint opened #5969 "Add support for a "distinct from" operator"
This is needed to support all operations that rely on distinct semantics. Currently, many of them are implemented using EQUALS operators or just don't allow use in those contexts (e.g., arrays containing nulls).

This is a prerequisite for:
* https://github.com/prestodb/presto/issues/3568
* https://github.com/prestodb/presto/issues/4075
* https://github.com/prestodb/presto/issues/3569

[2016-08-26 18:57] electrum opened #5970 "NPE in Raptor ShardCompactionManager"
[code]

[2016-08-26 19:12] #1622 closed

[2016-08-26 20:13] electrum opened #5971 "UI active worker count is incorrect"
The coordinator should not be included as a "worker" unless `node-scheduler.include-coordinator` is true.

[2016-08-26 21:11] rschlussel-zz opened #5973 "Add support for parameters in the limit clause"
The limit clause only accepts numbers, so you can't use parameters.  We want to support queries like the following

`PREPARE my_query FROM SELECT * FROM my_table LIMIT ?`

[2016-08-26 21:38] electrum opened #5975 "Cancelled query does not have failure message"
A query is cancelled with a `DELETE` and the state is set to `FAILED`, but neither the query JSON nor the generated event has the failure set.

[2016-08-26 22:06] electrum opened #5977 "UI error on detail page when outputStage is null"
[code]

[2016-08-26 23:07] #5975 closed

[2016-08-26 23:07] erichwang opened #5979 "Move Plan Assertion framework from test to main"
Currently the plan assertion lib (package com.facebook.presto.sql.planner.assertions) is in the presto-main module tests. We should move it up to main so that other projects that depend on Presto can also use it to assert plan structures.

[2016-08-26 23:43] erichwang opened #5980 "Presto stats planning time is including queueing time"
I noticed this when Presto was reporting super long planning times, but it looks like this was just because the queues are really full.

[2016-08-27 11:54] yuliman commented on #5961
thanks a lot.

[2016-08-27 12:16] surendraGaddam99 opened #5982 "How to dynamically set catalog properties"
Hi,

Is there any way to set the presto catalog connection properties dynamically ?
presto-server-0.77/etc/catalog/oracle.properties

connector.name=oracle
connection-url=jdbc:oracle:thin:@xxxx.com:1521:xxxx
connection-user=AF310ST1
connection-password=test123

Is it possible to dynamically set these catalog values from application to which presto is connected.
Suppose user wants to connect to som

[2016-08-28 00:32] petroav commented on #5982
@surendraGaddam99 I'm afraid any changes to catalog property files will not be loaded by Presto automatically. You'll have to restart the Presto process for these changes to be picked up.

[2016-08-29 05:42] kokosing commented on #5967
See https://github.com/prestodb/presto/commit/a79c4660ad6aca399b75f5b3b71e352a7fc4d87e.

The problem here is not the verbosity.

The problem is to understand why given comparison fails. It is very similar to REGEX, to find why given pattern does not match to given string. I use debugger and it takes me a while to find the root cause. Additionally that DSL does not support all the plan forms, so it

[2016-08-29 05:50] kokosing commented on #5979
Plan assertion framework was designed to test `LogicalPlanner` and all optimization rules. All of these classes are in `presto-main`

Can you please explain a bit more your motivation. Do you mean other presto module or external project?

If the latter maybe using `test-jar` as dependency would work for you: https://maven.apache.org/guides/mini/guide-attached-tests.html

[2016-08-29 06:20] electrum commented on #5967
I had a similar problem with equality bugs in the AST that I solved with the tree linearization step on failure, making it easy to see exactly which part was failing.

I don't know if this is relevant here but it sounds similar.

[2016-08-29 09:49] hegand opened #5985 "Add support for decimal column hive bucket"
When I would like to query a table with decimal data type as a bucketing column, it fails with the following error message:

`
java.lang.UnsupportedOperationException: Computation of Hive bucket hashCode is not supported for Hive primitive category: DECIMAL.
    at com.facebook.presto.hive.HiveBucketing.hash(HiveBucketing.java:147)
    at com.facebook.presto.hive.HiveBucketing.getBucketHashCode(Hi

[2016-08-29 11:18] hegand commented on #5985
Example:
[code]

This is not working (produce the fomer error message), but
[code]

is working

[2016-08-29 11:23] #5961 closed

[2016-08-29 13:35] maciejgrzybek commented on #5967
@kokosing I completely understand that sometimes DSL framework has to be extended, like @ebd2 did for window functions. The problem is not with this particular query. I used it only as an example to show those who are not familiar with DSL how verbose and not-readable the output is.
If we had error message pointing out where the problem is located instead of failing with boolean match/not match wo

[2016-08-29 18:22] dain commented on #4064
If this is still an issue, please reopen with more information.

[2016-08-29 18:22] #4064 closed

[2016-08-30 05:51] kokosing commented on #5967
@maciejgrzybek
As I said before it is like a REGEX matching. It is hard to tell what is missing `ala ma kta` to match `.*ma ko.*`. Is it just `o` or  `ma ko` at the end... and many other possible solutions.

As I said before, I tried to do something similar to what you suggested, but I ended up with a overly verbose.

I will try with @electrum idea this week and see if that can help.

[2016-08-30 06:09] Praveen2112 opened #5988 "Change from FixedWidthBlock to LongArrayBlock"
Hi,
In previous presto version (0.147) the BigInt data type was represented by FixedWidthBlock(Slice) but in the current version it was represented by LongArrayBlock. Any reasons for switching from Slice to Long Array ?

[2016-08-30 08:06] zousss opened #5989 "presto can't resolved json type"
my postgresql 9.4 table has json type column , but i can't select it from presto and i don't know why,maybe  it's a bug?
one record of search_info column from PG:
{"多功能":3039,"断电":23277,"早餐":11214,"自动":23277,"迷你":2669,"家用":1756,"双层":742,"厨房":6243}
execute on presto:
select search_info from myTable limit 3;
Column '"search_info"' cannot be resolved

[2016-08-30 08:24] zousss commented on #5649
It's strang presto can't select json type from postgresql.Is there any way to solve this problem?

[2016-08-30 13:28] maciejgrzybek commented on #5967
@kokosing as per offline discussion: maybe it would be easy to provide such a solution (_expected `node` not found_) for plans without `anyTree` included. Those are easier to follow:
You can traverse both lists (`actual` and `expected`) and compare elements one-by-one reporting first mismatch.
Though, probably most of our DSL tests use `anyTree` anyway...

[2016-08-30 17:39] surendraGaddam99 opened #5990 "presto catalog properties"
Hi,

Is there any way to set the presto catalog connection properties dynamically ?
presto-server-0.77/etc/catalog/oracle.properties

connector.name=oracle
connection-url=jdbc:oracle:thin:@xxxx.com:1521:xxxx
connection-user=AF310ST1
connection-password=test123

Thanks
Surendra

[2016-08-30 17:43] cberner opened #5991 "Window functions cannot be used in some scalar expressions"
[code]

[code]

[2016-08-30 18:28] electrum opened #5993 "Use async for RaptorPageSink finish"
The `finish()` method in `ConnectorPageSink` is synchronous. If it takes a long time, which can happen for Raptor if there are many shards to copy to the backup store (which uses a fixed size thread pool), this can tie up all worker threads. Making this async would prevent writes from interfering with other operations.

[2016-08-30 18:40] buremba commented on #5988
It's probably because JVM can take advantage of JIT optimizations for long[] but has limited support for Slice which is often represented as byte[] and uses Unsafe to access data inside the buffer.

[2016-08-30 18:47] buremba commented on #5919
It would be great for short-running concurrent queries. Also, if a query references multiple Raptor tables, that number can be quite high. (7 * number of referenced tables)

[2016-08-30 19:45] erichwang commented on #5988
Exactly what @buremba said, we saw major performance improvements for read and writing from long[] vs Slice in most operators.

[2016-08-30 19:51] erichwang commented on #5979
I was thinking of using the assertion framework to test some of the plans generated when used in conjunction with certain connectors. I guess I will try the test-jar dependency first.

[2016-08-30 20:53] electrum opened #5994 "Pushdown incorrectly handles expressions that can fail"
[code]
[code]

[2016-08-30 21:01] martint commented on #5994
Duplicate of https://github.com/prestodb/presto/issues/3232

[2016-08-30 21:02] #5994 closed

[2016-08-30 21:59] dain commented on #5988
Once Java 9 is out, we will likely move all of this to varhandles http://openjdk.java.net/jeps/193

[2016-08-30 21:59] #5988 closed

[2016-08-30 23:59] edwardxwu commented on #5934
Got it.. I will upvote there.

[2016-08-31 01:05] miniway commented on #5982
This might not be recommend or work at future release. But what I'm doing now with the following codes
[code]

[2016-08-31 01:30] #4952 closed

[2016-08-31 01:56] yuananf commented on #5982
This is discussed in #2445

[2016-08-31 04:53] electrum opened #5995 "Throwable not handled properly during planning"
If a query throws an `Error` during planning, it isn't handled and goes to stderr:

[code]

[2016-08-31 05:01] electrum opened #5996 "StateCompiler should handle errors from newInstance()"
The `newInstance()` call can throw things like `NoClassDefFoundError`. This is due to a bug, but it's probably best to these in a `RuntimeException` instead of letting it propagate as-is.

We could handle any `Throwable`, but `LinkageError` is safer and should cover such bugs.

[code]

[2016-08-31 09:07] RobinUS2 commented on #3071
I will likely open a PR today that has implemented bloom filters for ORC files, if you want you can assign this to me to prevent confusion / double work.

[2016-08-31 17:43] haozhun commented on #4706
Fixed by #4724

[2016-08-31 17:43] #4706 closed

[2016-08-31 17:49] electrum opened #6000 "Raptor transactions table grows without bound"
We need some sort of cleanup. One production cluster has over 400M rows.

[2016-08-31 18:07] haozhun commented on #4674
@idemura This should be a simple enough task as your first task. It will also give you an understanding of how Presto implements sql functions.

[2016-08-31 21:45] petroav commented on #5990
You already posted this question in https://github.com/prestodb/presto/issues/5982. Please avoid duplicating discussions.

[2016-08-31 21:45] #5990 closed

[2016-09-01 00:09] cberner commented on #5350
@geraint0923 can you look at this? You should be able to reproduce it by creating a *really* large row (like a 20MB varchar) and then writing a query that will make it go across an exchange (like a GROUP BY).
@martint and I think the right solution here is to change the exchange protocol to one that's chunked, so that it can transport arbitrarily sized rows. @dain probably has an opinion on this t

[2016-09-01 00:26] raghavsethi commented on #5574
Merged changes to event listener plugin

[2016-09-01 00:26] #5574 closed

[2016-09-01 01:45] #5797 closed

[2016-09-01 13:44] surendraGaddam99 commented on #5982
Hi,

Suppose i have 3 presto  catalog properties files which got loaded during presto server start
oracle1.properties  ,oracle2.propertie ,oracle3.properties

From airpal application there is one dropdown for list of schemas .
based on user selection of particular schema i need to connect to particular catalog properties file dynamically.

Somewhere in the airpal application code can i set the pre

[2016-09-01 16:15] cberner opened #6005 "Dynamically adjust number of driver threads"
The workers currently have a static number of threads for processing splits, set with `task.max-worker-threads`, we should add a target CPU utilization and use a feedback loop to adjust the number of threads based on CPU usage.
Take a look at how `SplitConcurrencyController` works. We'll want to do something similar, but the input should be Presto's CPU utilization, number of pending splits, and a

[2016-09-01 16:31] cberner opened #6006 "Support transparent query retries"
Currently when a query fails the client observes this immediately. However, any query where the client has not observed results yet (like INSERTs) can be retried transparently by Presto. Additionally, we may want to automatically adjust some of the query settings to make the query succeed. For example, if distributed joins are turned off and the query ran out of memory, they could be turned on for

[2016-09-01 16:33] cberner opened #6007 "Add 1, 2, and 4 byte native container types"
We should support `byte`, `short`, and `int` as native container types and migrate `tinyint`, `smallint`, `int`, and `float` to use these

[2016-09-01 17:30] martint commented on #5926
This is already fixed

[2016-09-01 17:30] #5926 closed

[2016-09-01 17:35] martint commented on #5840
This is already fixed

[2016-09-01 17:35] #5840 closed

[2016-09-01 18:39] haozhun commented on #5894
Fixing #4579 will fix resolve this issue.

[2016-09-01 18:39] #5894 closed

[2016-09-01 19:07] damiencarol opened #6010 "Implement HBase connector"
Throw an issue here as I'm working on it and will push a PR soon.

Plan to have a production ready plugin for the end of the year.

Main design choices:
- Tables defined in JSON configuration files (like kafka/redis/mongodb connector)
- Split aligned to region with HBase key pruning
- parallelism aligned to region to scale
- Manage configuration file for HBase (auto-updater)

**Any advices, questi

[2016-09-01 19:10] damiencarol commented on #3992
https://github.com/prestodb/presto/issues/6010

[2016-09-01 19:11] damiencarol commented on #3992
I plan to track my connector initiative here https://github.com/prestodb/presto/issues/6010

[2016-09-01 19:20] electrum opened #6011 "ML plugin prints junk to stdout"
I see messages like this when running the tests:

[code]

[2016-09-01 19:22] adamjshook commented on #6010
@damiencarol You may find some of the work for Apache Accumulo helpful, currently sitting in https://github.com/prestodb/presto/pull/5030.

[2016-09-01 19:29] damiencarol commented on #6010
@adamjshook yeah, I'm reading the PR code right now

[2016-09-01 19:44] adamjshook commented on #6010
@damiencarol I'm happy to answer any questions or give you any pointers on some BigTable-esque optimizations I've built to improve query times.

[2016-09-01 19:54] haozhun commented on #5815
@idemura will work on this.

[2016-09-01 20:05] damiencarol commented on #6010
@adamjshook did your connector run in production ? also did you implemented insert/update/delete ?

[2016-09-01 20:14] adamjshook commented on #6010
@damiencarol Yes, it's been in production since March/April or so.  `INSERT` is supported, but we use the Java APIs and some tools I've built for higher throughput.  Presto doesn't support `UPDATE` (as far as I know), but you can issue another `INSERT` statement that shares the same Accumulo row ID and it effectively acts as an update.  I haven't implemented `DELETE` yet -- haven't had a use case

[2016-09-01 20:31] electrum opened #6012 "Add ML plugin tests to product-tests"
We should run the test queries from `TestMLQueries` as a product test. That will verify that functions (scalars and aggregations) from a plugin work.

[2016-09-01 21:36] electrum commented on #6012
Done

[2016-09-01 21:36] #6012 closed

[2016-09-02 01:04] nimahajan commented on #5968
Have same issue. I have a mysql database with - in its name. So I have to use quotes. If I replace that name with other normal string, it works.

[2016-09-02 01:17] haozhun commented on #5965
From your description, it looks like
* Hive returned `count` incorrectly
* Hive returned content of the table correctly.
* Presto returned `count` correctly.
* Presto returned content of the table correctly.

I suggest that you file an issue with Hive to figure out why Hive returns `count` incorrectly.

[2016-09-02 11:23] VIPchengcheng opened #6018 "Is this a presto exception bug ?"
I  found a bug in the CachingHiveMetastore.class.  In the addPartitions method, when partition already exists, the error will be catched by  AlreadyExistsException and continue to throw TableNotFoundException instead of  partition already existing exception.

fix this steps:
     1.    add new class under the package " com.facebook.presto.hive ", the  class name is PartitionAlreadyExistsException.

[2016-09-02 12:48] nmahadevuni commented on #5965
Hive folks say the behavior is undefined, because count can be computed from statistics. I have asked if they can document it. Closing this issue.

[2016-09-02 15:22] #5977 closed

[2016-09-02 17:46] ggreg opened #6022 "Rule without matching resource group does not report error at loading time"
I created a rule:

[code]

But the group `monitoring` was missing. I then got:

[code]

When executing a query with a sourcing matching that rule. Presto should report the error when it loads the `resource-groups.json` file.

[2016-09-02 18:11] cberner commented on #5980
I don't think this is accurate. I reviewed the code and it looks correct (queueing time is not included). Also, see the email I sent you of our query logs which shows that lots of queries have longer planning time than queueing time

[2016-09-02 18:14] cberner commented on #5800
Depends on https://github.com/prestodb/presto/pull/5778

[2016-09-02 18:34] erichwang commented on #5980
@cberner, are you sure? i've seen that total planning time is always longer than queueing time.

Actually, if you look at com.facebook.presto.execution.QueryStateMachine#transitionToStarting and every other method there, it looks like totalPlanningTime is always created from the beginning of the query?

[2016-09-02 18:57] cberner commented on #5980
Ah, yes I see. I thought you meant the planning time in `QueryCompletedEvent`

[2016-09-02 18:58] cberner commented on #5980
@dain can you take a look? The way planning time and queued time are handling in that class doesn't seem to make sense

[2016-09-02 19:17] dain commented on #5980
I have no idea why it is written that way, but is should be rewritten like how `finishingTime` is calculated using a `finishingStartNanos`.

[2016-09-02 19:33] haozhun commented on #5980
@idemura Do you want to try this one?

[2016-09-02 19:54] electrum opened #6024 "Support Sunday week formatters for MySQL date functions"
`date_format` and `date_parse` should support `%U %u %V %X %w`

This will require rewriting the formatting functions, likely using the new Java 8 APIs, since Joda-Time only supports ISO week days.

[2016-09-02 19:55] electrum opened #6025 "Support English month suffix formatter for MySQL date functions"
`date_format` and `date_parse` should support `%D`

[2016-09-02 20:03] cawallin commented on #5954
@cberner -- I was looking into this, and in order to hold onto an `AccumulatorState`, you have to duplicate the input/final logic from `AccumulatorCompiler`. I guess the alternative is to change the bytecode itself -- either to add a method `Accumulator#addInput(WindowIndex index, int start, int end)`, which would re-use most of `Accumulator#addInput(Page page)` except the way it gets the argument

[2016-09-02 20:38] electrum commented on #5954
Adding an `addInput` method for `WindowIndex` seems like the most straightforward approach. The lambda might have performance issues with virtualization.

[2016-09-05 02:06] yuananf commented on #6025
I can take this one.

[2016-09-05 03:53] yingted commented on #4094
Moved to https://github.com/prestodb/presto/pull/6036. Sorry for the moves!

[2016-09-05 06:24] pnowojski commented on #5897
@cberner I don't see how this could work with revocable memory, because revoking can be triggered from the outside, even based on conditions completely unrelated to the spilling query. So in the end we still need some kind of spilling mechanism in both `HashBuild` and `HashJoin` operators.

In aggregation you don't have to such things. If query A is spilled because of higher priority query B, when

[2016-09-05 16:10] damiencarol commented on #6010
First naive version here #6037 .
Please be kind with me, it is a work in progress.

[2016-09-05 16:29] fmeiser commented on #5897
I think it would be easier to improve the current implementation of partitioned hash join from @dain. If it creates many independent small partitions Ri and join Ri only with the corresponding partition Si then the memory footprint would relativ small and you improve cache hits in probe phase (see Shatdal et al). One challenge will be a smart buffering on probe side to avoid small pages for Si.

[2016-09-05 22:42] MichaelJAndy commented on #3908
+1 I don't think the documentation is specific enough to say that these values whilst using the INTERVAL function specifically isn't supported.
We're currently running on 0.147 and looking at the docs it seems that `week` is supported.

[2016-09-06 00:05] jangorecki opened #6042 "tweaking big sort"
I have table of 5e9 rows, I read in [a faq](https://docs.treasuredata.com/articles/presto-query-faq#solution-avoid-order-by) that it is better to avoid *order by*, but is there anything I could try to overcome current query failure?

[code]
My mem settings
[code]

[2016-09-06 01:30] electrum commented on #6042
The example query you have isn't affected by ordering (ideally the optimizer should remove it). Can you give a real example so we can better understand what you need?

[2016-09-06 07:15] miniway opened #6045 "Creating table from query with order by seems to generate wrong result"
I might be wrong, but I found that creating table from query with `order by` generated unexpected(not sorted) result from 0.151. We upgraded from 0.146 and there's no such a issue at the version.
[code]
From `Fragment 2`, it generated `LOCAL`(task.writer-count = 1, task.concurrency=4) `ROUND_ROBIN` `Exchange`.

[code]

There's no local `REPARTITION` and `GATHER` in 0.146

[2016-09-06 08:39] jangorecki commented on #6042
I need to materialise sort query results, or get as close to materialising it as possible. I need to measure time of sorting only (or as close to "only" as possible), and not interfaces, jdbc drivers or speed of printing results to console - thus wrapped into `count(*)` - for fair comparison. According to my tests optimizer still do sort in this case, exactly as I need.

[2016-09-06 16:10] martint commented on #6045
There's no such a thing as a sorted table, at least from the point of view of standard SQL semantics. An ORDER BY in a CREATE TABLE or INSERT doesn't have any meaning, and the query engine is free to remove it or ignore it.

[2016-09-06 17:17] dain commented on #6045
The bug here is the `Sort` in the second stage is useless.

[2016-09-06 17:23] cawallin commented on #5954
Great, I'll look into that. Thanks for the input!

[2016-09-06 17:41] EdwinGuo opened #6047 "Support for Cassandra UDT"
When I query cassandra cf that with UDF, the presto query cli will complain: Query ***\* Failed, CassandraType is null, due to there is support for Cassandra UDF yet: https://github.com/prestodb/presto/blob/master/presto-cassandra/src/main/java/com/facebook/presto/cassandra/CassandraType.java

[2016-09-06 21:19] cawallin commented on #3947
@CKovar -- have you been able to reproduce this recently? I created a partitioned table with multiple BZ2 files per directory, and it worked fine.

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:34] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:35] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:35] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:35] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:36] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:36] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:36] ebd2 commented on #5298
I did some digging. The source of the performance issue (and, though nobody has brought it up yet, memory consumption) is that TopNRowNumberOperator is creating a MinMaxPriorityQueue per peer group, and then holding all of those until it gets to the `finishing` state.

This seems like it would be correct behavior in the case where the input for the operator isn't already partitioned and ordered. I

[2016-09-06 21:38] ebd2 commented on #5298
(Sorry for any @mention spam. Browser issues :-/ )

[2016-09-06 22:15] electrum commented on #4232
Simple reproduction:
[code]

[2016-09-06 22:33] electrum commented on #3893
@nezihyigitbasi I think Hive's behavior here is a bug. We still want this behavior.

[2016-09-06 23:11] electrum opened #6050 "Negative DataSize for OperatorContext.getOperatorStats"
Stack trace from Presto 0.144.7:

[code]

This is the line in `OperatorContext.java` that throws:

[code]

[2016-09-06 23:27] martint commented on #5298
The goal of the rewrite was to be able to run per-group top-n queries without having to read all data in memory before doing a sort and filtering. With the specialized operator, the amount of memory required will be a constant factor of the number of partition-by groups, which should, in general, be better (except when the filter selects almost every row from each partition-by group). The question

[2016-09-06 23:37] #6045 closed

[2016-09-06 23:41] nezihyigitbasi commented on #3893
@electrum How do we want to keep track of the type of the table (managed, external, etc.)? Add a new property to `HiveTableProperties`?

[2016-09-06 23:45] nezihyigitbasi commented on #3893
I guess an easier way is to put checks in the `HiveMetadata::beginInsert`/`HiveMetadata::beginDelete` methods.

[2016-09-06 23:49] jangorecki commented on #6045
It is a feature, if you would inserting data into external csv table, you often wants to define order of output. If that feature was working in previous version, it may be worth to preserve it @miniway . I didn't use it myself, but it is pretty standard use case.

[2016-09-07 02:55] getGitxxx opened #6052 "presto-kafka Query kafka topic got error ArrayIndexOutOfBoundsException sometimes"
env:
- presto v 0.149 5workers
- kafka v0.8.1.1 5nodes, topic on 10 partitions

query sql:SELECT count(1) FROM kafka.tpch.customer

[code]

this issue is not occurring frequently, How can I fixed this?

[2016-09-07 07:14] zz22394 opened #6053 "Enable using customized endpoint for S3-Compatiable storage"
Dear team,

The current Presto hive connector can't set customized endpoint for S3-Compatiable storage.
We are using S3-Compatiable storage, so we need to set the endpoint and other configurations to use our internal server.

I will send a PR about this enhancement.

[2016-09-07 16:41] martint opened #6059 "Incorrect results when cross joining against aggregation over partitioned table"
This query:

[code]

(`pk` is a partition key for `table`)

produces an incorrect plan:

[code]

It seems to be pushing the "false" predicate (due to no matching partitions) up through the aggregation and pushing it down on the left side.

[2016-09-07 17:26] electrum opened #6060 "SqlQueryQueueManager causes HTTP 500 when no rule matches"
Using Presto 0.144.4:

[code]

[2016-09-07 17:28] martint commented on #6059
It happens on version 0.144.7

[2016-09-07 17:50] electrum commented on #6053
Closing the issue as the linked PR covers it.

[2016-09-07 17:50] #6053 closed

[2016-09-07 18:02] martint opened #6061 "Bad error message when SELECT * is used in GROUP BY query"
[code]

fails with:

[code]

The correct message should be:

[code]

This seems to be a regression in a recent version. It doesn't happen in 0.144.7.

[2016-09-07 18:54] martint commented on #6059
It's caused by PredicatePushDown that runs after PickLayout:

Before:
[code]

After:
[code]

[2016-09-07 18:59] nezihyigitbasi opened #6063 "Rename partition column name succeeds, but does nothing"
Renaming a partition column of a Hive table returns successfully but is a noop. It would be nice to return a meaningful message to the user. In this case Hive fails with `FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. Invalid column reference <col_name>`.

[code]

[2016-09-07 19:53] martint opened #6066 "Incorrect results for GROUPING SETS with multiple () groups"
This query:

[code]

incorrectly produces no rows. It should produce two rows with "0" in each cell.

[2016-09-07 20:08] #6059 closed

[2016-09-07 20:10] ebd2 commented on #5298
I did a little looking into the unit cost. The bulk of it is tied up in the `Block[] row`, which is accounted for in the memory reservation with an estimated cost of 420 bytes each.

Unaccounted for in the memory reservation is the HashMap$Nodes, MMPQs, and associated objects. Based on inspecting the process with jvisualvm when the ExceededMemoryLimitException gets thrown, that's around 200 bytes

[2016-09-08 01:38] electrum commented on #6063
Are we calling the metastore? If so, is it just ignoring the request?

[2016-09-08 15:56] nezihyigitbasi commented on #6063
Stepping through the code I think the problem is [here](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/metastore/BridgingHiveMetastore.java#L141-L146). This for loop only looks at the regular columns (`table.getSd().getCols()`), not the partition columns (`table.getPartitionKeys()`).

I can send a PR after we decide on how to handle partition keys

[2016-09-08 16:24] electrum commented on #6063
If the metastore allows it and it works, we should fix it, otherwise we can throw a "not supported" error.

[2016-09-08 16:54] nezihyigitbasi commented on #6063
Metastore doesn't allow it:
[code]

[2016-09-08 17:30] apleweghostery opened #6074 "v1/statement does not always return single-line results"
I am using the REST API to run queries and fetch results. Sometimes, when I get to the final URI and I've run a query that returns a single result line, there is no "data" element. For instance:

{
  "id" : "20160908_163608_00035_2xz9i",
  "infoUri" : "http://*.*.*.*:8889/query.html?20160908_163608_00035_2xz9i",
  "columns" : [ {
    "name" : "Tag Count",
    "type" : "bigint",
    "typeSignature"

[2016-09-08 17:55] rschlussel commented on #4908
fixed by #5756

[2016-09-08 17:55] #4908 closed

[2016-09-08 18:52] haozhun commented on #6018
This code has moved to `ThriftHiveMetastore` in trunk. It has been fixed to throw the proper exception type as well.

[2016-09-08 18:52] #6018 closed

[2016-09-08 18:54] #5965 closed

[2016-09-08 18:56] haozhun commented on #5815
Fixed by #6015.

[2016-09-08 18:56] #5815 closed

[2016-09-08 18:58] haozhun commented on #5734
#6067 will fix this.

[2016-09-08 19:09] haozhun commented on #5434
Fixed by #5716.

[2016-09-08 19:09] #5434 closed

[2016-09-08 19:13] haozhun commented on #4831
Fixed by #5981.

[2016-09-08 19:13] #4831 closed

[2016-09-08 19:16] haozhun commented on #6063
@electrum Why should this be "not supported"? I thought not supported means a feature we may implement in the future.

[2016-09-08 21:23] apleweghostery commented on #6074
Here are the query detail outputs for the "bad" and "good' runs:
[presto_bad_run.txt](https://github.com/prestodb/presto/files/462732/presto_bad_run.txt)
[presto_good_run.txt](https://github.com/prestodb/presto/files/462733/presto_good_run.txt)

Let me know if you'd like any of the task logs.

Thanks!

[2016-09-08 22:29] haozhun commented on #5969
Here are examples that use @IsNull annotation for scalar function/opreator implementation: https://github.com/prestodb/presto/pull/5323/commits/e0457c29993c18becd7f4a894428f712bf7fe978. It also shows you how to work with arrays and maps in Presto.

Here are some other related code that you can look at: `BigintOperators`, `DoubleOperators`, `ArrayEqualOperator`, and `MapEqualOperator`.

[2016-09-09 00:00] yuliman opened #6080 "how to change the data source"
Does anyone know how to change the data source itself in TPCH to my own data source
in the class of TestHiddenColumns?Is the dataSource of TPCH produced by the class of
TableScanNode?What should I do to achieve?

[2016-09-09 02:10] electrum commented on #6063
It's also used for operations that are fundamentally not supported.

[2016-09-09 02:15] electrum commented on #6074
How do you define "final uri"? Are you fetching all the "nextUri" links?

[2016-09-09 04:51] idemura commented on #5969
Working on this.

[2016-09-09 08:18] yuliman commented on #5955
Hello,meeting you again!
         My english is not good ,so I will try my best to express what I want to express.
         firstly,I am grateful for your help me last time.Now I have a question ,could you help me  again?
Because I really can't find people to help,also can not find relevant information online.
         Please help me,thank you !

[2016-09-09 09:29] zhengguilin opened #6084 "how to get shell retun code？"
eg：

meitun_etl@KFK01:bin$/opt/presto/bin/presto --server hc:9980 --catalog hive --schema  default --execute "select \* from tt"
Query 20160909_091217_03555_6cpfp failed: line 1:15: Table hive.default.tt does not exist
select \* from tt

meitun_etl@KFK01:bin$echo $?
0

[2016-09-09 13:50] maciejgrzybek commented on #6080
@yuliman I'd suggest asking such questions on mailing list: presto-users@googlegroups.com
But let me answer this shortly here:
In general you cannot easily provide your own data source. You'd need to write a connector (similar to TPCH).
Other way, much easier is to use something we do in product tests: use Hive connector to store data. Have a look at e.g. `TestAllDatatypesFromHiveConnector`. But i

[2016-09-09 13:52] maciejgrzybek commented on #5955
@yuliman was this: https://github.com/prestodb/presto/issues/6080 your question? Let's move there or preferably to IRC. More details here: https://prestodb.io/community.html

[2016-09-09 14:14] cawallin commented on #4797
It looks like this PR covers most, if not all of this issue: https://github.com/prestodb/presto/pull/5564. @brian-rickman can you confirm?

[2016-09-09 14:28] brian-rickman commented on #4797
@cawallin I agree that PR covers it.

[2016-09-09 14:28] #4797 closed

[2016-09-09 17:37] nezihyigitbasi commented on #6084
There is an open PR (#3463) for this.

[2016-09-09 18:51] apleweghostery commented on #6074
Yes, that's correct. The JSON messages posted above are from following the final "nextUri" links. So, the first run of the query resulted in the final JSON message with a missing "data" element, and the second run resulted in the final JSON message that included the "data" element with the expected results.

[2016-09-09 18:55] dain commented on #6074
Which client are you using?  Do you have a stack trace?

[2016-09-09 18:56] apleweghostery commented on #6074
I've written my own client in C#. I'm happy to post the code here.

[2016-09-09 19:00] dain commented on #6074
So the server will only return a `data` when there is data available.  This protocol uses medium pooling, where the server holds the response for a short period when there is no data and then sends the updated stats.  This keeps the connection "fresh" while pacing out client requests, which makes writing clients easier since you don't need to introduce client side request delays (to avoid DDoSing

[2016-09-09 19:14] apleweghostery commented on #6074
Ah, so I don't have to program in a delay. That's good to know. However, for the JSON response above I accessed them several minutes after the query finished running (again, same query in both instances). Is there a reason why the first message would be missing the "data" element, i.e. is it possible to poll "wrong" and force the API to return a "final" response before data is available?

[2016-09-09 19:18] dain commented on #6074
No. When you request the `nextUri` it acknowledges receipt of the response previous response (i.e., the one you got the `nextUri` from).

@electrum can you post a link to your client REST API notes?

[2016-09-09 19:35] apleweghostery commented on #6074
For reference, here is the documentation I used when writing my client: https://github.com/prestodb/presto/blob/master/presto-docs/src/main/sphinx/rest.rst

[2016-09-09 20:12] electrum opened #6088 "IndexOutOfBoundsException in jsonArrayGet"
Presto 0.152.1

[code]

[2016-09-09 20:38] apleweghostery commented on #6074
Also, if it helps I've observed this behavior using Postman to post queries to v1/statement and then manually following the "nextUri" links.

[2016-09-09 21:36] electrum commented on #6074
https://github.com/prestodb/presto/wiki/HTTP-Protocol

[2016-09-09 21:37] apleweghostery commented on #6074
O.k., I think I found the issue on my side -- the API can return "data" in any of the intermediate steps. I'm not checking the intermediate results. For instance, I just ran a query and manually clicked "nextUri" twice:

http://*.*.*.*:8889/v1/statement/20160909_213033_00135_2xz9i/1  <-- "data" element was here
http://*.*.*.*:8889/v1/statement/20160909_213033_00135_2xz9i/2 < -- no "data" element

[2016-09-09 21:46] dain commented on #6074
@electrum can you clarify that section?

@apleweghostery, the reason for this is the query might take hours (or even days) before any results are produced, but we want to know if the client is still alive (and if not we kill off the query saving resources).

[2016-09-09 21:46] #6074 closed

[2016-09-09 21:48] apleweghostery commented on #6074
Yeah, makes sense. If I'd paid closer attention to the source, I would have picked up on this too...

[2016-09-09 21:49] apleweghostery commented on #6074
Thanks a million for your time!

[2016-09-10 01:16] yuliman commented on #5955
For example,I want to change the dataSource of example-http connector , to use my own dataSource that is stored in a file on the linux-operation.Actually the dataSource of the example-http connector is required by the HTTP request,someone advise me to use my file storage path instead of the HTTP request,So it can realize?
      Please give me some advice, I am  struggling  to  the problem.

[2016-09-10 09:52] RobinUS2 commented on #3071
Fixed by #5998 , closing this one.

[2016-09-10 09:52] #3071 closed

[2016-09-12 02:38] geraint0923 commented on #5505
#5411 is now in #6078

[2016-09-12 04:52] sd4324530 opened #6094 "Implement PrestoStatement#cancel for the JDBC driver"
I use presto-jdbc, and want to kill the query job

[2016-09-12 14:38] surendraGaddam99 opened #6095 "Difference between java presto jdbc and presto server setup using catalog files under etc folder"
Hi ,

I am new to presto DB .  Have some confusion on presto jdbc and presto server setup.

Need help on in which scenario i have to use presto jdbc code as shown below.
And under which scenario i have to use catalog files setup  under ./presto-server-0.77/etc/catalog

[code]

Need help on presto jdbc and presto server catalog files setup. which one to use when ?

Thanks
Surendra

[2016-09-12 15:30] cawallin commented on #6094
The Presto UI (available at the coordinator's ip or hostname/port) has a "kill query" button. Also, see the section "Killing a running query" here: https://prestodb.io/docs/current/connector/system.html.

I'm going to close this issue, but let us know if you have any other questions.

[2016-09-12 16:08] electrum commented on #6094
For JDBC, you can call the cancel() method on Statement. This can be called from a different thread since executing a query is usually a blocking operation.

[2016-09-12 16:40] #6088 closed

[2016-09-12 17:56] electrum commented on #2875
`day_of_week` is defined to return the ISO day, so it is correct. The MySQL functions have (or should have) different behavior.

[2016-09-12 20:41] electrum opened #6101 "Task IDs should sort numerically on Query Details page"
The are currently sorting like this:

* 1.0
* 1.1
* 1.10
* 1.11

They should sort like:

* 1.0
* 1.1
* 1.2
* ...
* 1.10

[2016-09-12 21:01] #2875 closed

[2016-09-13 05:58] RobinUS2 opened #6102 "Allow node to participate only in fast (~bottom) stage operations"
A very simple query plan by stage looks like:

[code]

The bottom stage (2.....R in this example) execution will typically take a much shorter period of time compared to the (intermediate) aggregations in 1 and 0. In the query above a typical split in 2R takes 3-5 seconds for us where as the 1R and 0R take few minutes or so.

I would like to propose a setting that allows a node to only participate

[2016-09-13 06:05] RobinUS2 opened #6103 "Allow node to participate only in queries from particular queues/resource groups"
With the new queue & resource configuration it would be interesting to blacklist certain nodes from participating in particular queues. One example we are seeing which would help is to have long lasting queries run on other queues/resource groups.

A way of implementing this could be a simple white/blacklist approach in the node configuration that is being taken into account while scheduling queri

[2016-09-13 08:09] sd4324530 commented on #6094
@electrum Class  PrestoStatement's method cancel():
`@Override
    public void cancel()
            throws SQLException
    {
        throw new SQLFeatureNotSupportedException("cancel");
    }`

[2016-09-13 08:15] sd4324530 commented on #6094
@cawallin I hope I can control it by code, not click the button

[2016-09-13 15:39] electrum commented on #6094
@sd4324530 Ah, you're right, `cancel()` is not implemented (but would be easy to do so -- feel free to send a Pull Request). There are two ways for JDBC:

1. Interrupt the thread that is executing the query (i.e call the `interrupt()` method on `Thread`)
2. Execute a query: `CALL system.runtime.kill_query('id')`

You can get the query ID a few ways:

1. Getting the query ID from the `ResultSet` us

[2016-09-13 16:07] cawallin commented on #6094
@sd4324530 Also, the JDBC driver available here has cancel implemented: www.teradata.com/presto

[2016-09-13 23:44] nezihyigitbasi opened #6106 "Describing a table is slow for mysql connector"
Describing a mysql table takes several 10s of seconds in my test environment. Digging in I found that `JdbcMetadata::listTableColumns()` retrieves the columns of **all** tables in the catalog that I was querying instead of only retrieving the tables with the given prefix (see [here](https://github.com/prestodb/presto/blob/master/presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcMe

[2016-09-14 01:45] electrum commented on #6106
Sounds good

[2016-09-14 02:17] sd4324530 commented on #6094
@electrum I find this in source code:
[code]
hahaha

[2016-09-14 09:07] sopel39 opened #6112 "Character string casts and type system discussions"
We have investigated SQL standard and how coercions and comparisons should be defined.
The problem, potential solutions and notes are gathered in this document: https://docs.google.com/document/d/1cPzYKZ9K-nI3MkUL7ArSkcQtL7mqz0L0PmLXa_zhxSk/edit?usp=sharing
Please have a look @cberner and @martin
We think we should discuss our way forward with the type system, so it's worth having a hangout again.

[2016-09-14 16:58] electrum opened #6113 "Use buildable Java module as source for SPI examples"
We should extract all the SPI example code out into a buildable Java module, and pull the snippets into the docs, probably using the `includecode` extension from Akka. This will make sure the examples actually compile and are kept up to date as we do refactorings.

Example:
- Rendered docs: http://doc.akka.io/docs/akka/current/java/untyped-actors.html
- Doc source: https://raw.githubusercontent.co

[2016-09-14 18:13] electrum opened #6116 "Sporadic test failure in TestHttpPageBufferClient"
[code]

[2016-09-14 19:52] nezihyigitbasi commented on #5668
Closing since the relevant PR is merged.

[2016-09-14 19:52] #5668 closed

[2016-09-14 20:03] nezihyigitbasi commented on #5473
Closing as it seems like the problem is resolved.

[2016-09-14 20:03] #5473 closed

[2016-09-14 20:56] cberner commented on #6112
When I looked into how character types were handled in Postgres is seemed to deviate very significantly from the spec. Could you review how other popular SQL databases handle these types? Many areas of the spec related to character types seem poorly thought out to me, so unless there's a broad consensus among other databases I'm not sure we need to follow the spec

[2016-09-14 21:41] AlekseiS commented on #6011
These messages come from libsvm which uses System.err.println(). It needs to be fixed in thirdparty/libsvm.

[2016-09-15 01:41] raghavsethi opened #6120 "Detect recursive views and return a better error message"
Instead of getting `statement is too large (stack overflow during analysis)`, Presto should detect recursive views and fail properly.

[2016-09-15 05:42] Praveen2112 opened #6121 "Increase in time for AddExchanges and AddLocalExchanges Optimizer"
Hi,
There is an increase in time for the following two optimizers (AddExchanges and AddLocalExchanges) in the latest version (0.152) when compared with the presto 0.147. When profiled it , we found that the increase in time was due to the following operation **ImmutableMap.copyOf(requireNonNull(symbolTypes, "symbolTypes is null"));**

When we skipped the copy operation  , the time taken for these

[2016-09-15 12:08] stagraqubole commented on #6006
Hi @geraint0923 @cberner, is this feature planned for near future?

[2016-09-15 15:05] dain commented on #6121
How much time did this save?  Also can you give the file and line number of this code (I can't seem to find it)

[2016-09-15 15:09] electrum commented on #6121
Do you have an example query that has a big speed difference? I would guess
this only affects very complex or specific types of queries.

[2016-09-15 15:39] martint commented on #6121
It's probably the one in ExpressionAnalyzer. We've had a few of these in the past. It's likely that the map that's being passed around is not already an ImmutableMap, so if there are a lot of fields/expressions/plan nodes, this can get quite expensive.

[2016-09-15 20:24] rohanmonga1 commented on #5100
@martint @dain is there something we can try regarding this?

[2016-09-15 20:42] electrum commented on #5100
We are now using 9.3.9.M1

[2016-09-16 00:23] geraint0923 commented on #6121
@Praveen2112 Could you please try #6128 to see if it can solve your issue? Thanks!

[2016-09-16 01:10] #6121 closed

[2016-09-16 05:04] Praveen2112 commented on #6121
@dain we got an improvement upto 10x (from 1.23 seconds to 0.1 seconds) for complex queries.The change has to be done in ExpressionAnalyzer (Line 170)

@martint Any reasons for having an ImmutableMap in ExpressionaAnalyzer. For analyzing an expression having a single column(SymbolReference) it is taking around 2 seconds for the copy operation.

@geraint0923 I think it will increase the Query plann

[2016-09-16 05:11] Praveen2112 opened #6129 "Increase in time for TransformUncorrelatedInPredicateSubqueryToSemiJoin"
Hi,
TransformUncorrelatedInPredicateSubqueryToSemiJoin optimizer looks for InPredicate expressions with sub-queries and optimizes it,  but why are we visiting project node in this optimizer. It acts as an over head increases the time taken for this optimizer even if the queries doesnt have a sub query. When we skip the visitProject method , the time taken for this optimizer reduces from 0.5 second

[2016-09-16 05:14] Praveen2112 commented on #6121
@electrum
[table_schema(1).zip](https://github.com/prestodb/presto/files/476100/table_schema.1.zip)

[query.txt](https://github.com/prestodb/presto/files/476101/query.txt)

[2016-09-16 05:18] martint commented on #6121
If the map is already an instance of ImmutableMap, copyOf is a no-op. The change we just merged should help, since it makes all those calls pass an ImmutableMap.

[2016-09-16 06:09] Praveen2112 commented on #6121
@martint @geraint0923 #6128 solves the issue and can the same be implemented for PredicatePushDownOptimizer ?

[2016-09-16 12:15] kokosing commented on #6129
Project node is visited as it may contain IN predicate with a subquery as well as FilterNode or any other node containing expression. Anyway I think processing time could be easily optimized. Can you please share the test query where you noticed mentioned speed up?

I can take care of this next week, or if you want to you can post a PR for this.

[2016-09-16 17:19] geraint0923 commented on #6121
@Praveen2112 I don't think we could apply the same optimization to `PredicatePushDown` since `symbolAllocator` in that optimizer is used to not only get the symbol-type map but also add some new symbol-type pairs (change the symbol-type map, and re-copy is needed).

[2016-09-16 21:29] erichwang opened #6132 "Raptor should name backup threads based on shard id"

[2016-09-16 22:00] electrum commented on #5970
The code needs to skip shards that have a null min/max.

[2016-09-16 22:18] erichwang commented on #5970
This is a pretty major fix that we need since it will cause shard compaction to completely fail on the machine.

[2016-09-16 22:20] raghavsethi commented on #5970
OK then will work on this as soon as I'm done with the other release blocker.

[2016-09-16 23:37] ggreg opened #6133 "Make shard recovery manager interval configurable"
Currently the jitter is random within 30 seconds which may induce too many queries to the metadata layer and is not relative to the scheduled interval. The default value of `missingShardDiscoveryInterval` is 5 minutes. This issue was discovered when the latency to query the metadata and the number of workers became too high.

[2016-09-17 06:17] Praveen2112 commented on #6129
In the TransformUncorrelatedInPredicateSubqueryToSemiJoin optimizer the time taken could be reduced if we call **replaceInPredicateInAssignments** method only if there is IN predicate with sub-query in the project node.

[2016-09-17 15:19] surendraGaddam99 opened #6134 "Error while starting presto server : No factory for connector"
Hi,

I am getting No factory for connector exception .Need help to resolve this.
Where to configure connector factory for af360st1.

My presto server connection details for schema af360st1.

$ cat etc/catalog/af360st1.properties

connector.name=af360st1
connection-url=jdbc:oracle:thin:@xxxx.ams.com:1521:xxx
connection-user=af360st1
connection-password=xxxxx

2016-09-17T07:46:42.037-0700    ERROR

[2016-09-17 21:59] akshatnair commented on #6134
What is this connector af360st1?

[2016-09-17 23:19] electrum commented on #6134
You probably want connector.name=oracle

The connector name is the name of the connector provided by the connector factory, not the catalog. You can have multiple catalogs using the same connector name.

[2016-09-19 16:37] nezihyigitbasi opened #6137 "Query stays queued when username has a '.'"
I configured the resource manager to create adhoc queues for each user and when a user has a name with `.` in it the resource manager throws an exception saying `Invalid resource group id`, but the query stays queued on the coordinator.

[2016-09-19 16:37] nezihyigitbasi commented on #6137
/cc @cberner

[2016-09-19 18:10] rohanmonga opened #6138 "Stop executing file if one of the queries fails"
let's say I have a file like this

`test.sql`
`select 4/0;
select 4;`

and I execute it like `presto -f test.sql`. I get

is there a way to get presto to stop evaluating queries after the first failure?

[2016-09-19 20:33] geraint0923 opened #6140 "reverse on array is linked to reverse on string in documentation"
In [release note 0.152](https://prestodb.io/docs/current/release/release-0.152.html), `reverse` on array is linked to `reverse` on string, the problem is that both of these two `concat` have the same name.

The same problem also happens to `concat` on array and `concat` on string.

[2016-09-19 20:50] raghavsethi commented on #6101
Fixed.

[2016-09-19 20:50] #6101 closed

[2016-09-20 06:59] ffpeng90 opened #6143 "no worker nodes available?"
hi all:

Recently I build presto with cluster mode, 1 coordinator& 1 worker, it works.
Then I repackage "presto-main-0.148.jar" without any change , and relpace it to production environment, it does not work!
Always get response with "**No worker nodes available**"

I Search the Server.log, And see below:
ERROR Discovery-0 io.airlift.discovery.client.CachingServiceSelector Cannot connect to discov

[2016-09-20 07:30] ffpeng90 commented on #6143
after follow code, i find a checkCondition, which will assert  node_version must be the same.
 and in my situation, it is not equal,  [ "node_version": "a0e36ae", ||"node_version": "c34bef3-dirty",]

[2016-09-20 09:34] #6143 closed

[2016-09-20 14:38] surendraGaddam99 commented on #6134
Thanks a lot .
I changed connector name to oracle . That resolved issue 'No factory for connector exception'.

$ cat etc/catalog/af360st1.properties
connector.name=oracle
connection-url=jdbc:oracle:thin:@xxxx.ams.com:1521:xxx
connection-user=af360st1
connection-password=xxxxx

$ cat etc/catalog/aa360st1.properties
connector.name=oracle
connection-url=jdbc:oracle:thin:@xxxx.ams.com:1521:xxx
connect

[2016-09-20 14:48] electrum commented on #6143
There is a config property "presto.version" that you can use to override the version. We set it in the development configs.

[2016-09-20 14:54] electrum commented on #6134
Are you using Presto to join to other data sources (like Hive)?

[2016-09-20 15:16] electrum opened #6145 "Cleanup CatalogSchemaTableName"
- The serialization does not correctly handle identifiers in the name. The easiest fix is to remove the Jackson annotations, since the class doesn't need to be serialized.
- The class should also be `final`.
- The constructor arguments need null checks.

[2016-09-20 16:19] nezihyigitbasi opened #6146 "Update columns with name 'text' in jdbc tests"
Per @electrum's comment in #6115 we should update the columns with name `text` in `presto-base-jdbc` tests.

[2016-09-20 17:58] surendraGaddam99 commented on #6134
I am using Presto to connect to Oracle DB having different schemas aa360st1 ,af360st1,ah360st1.

Thanks
Surendra

[2016-09-20 18:30] xerial commented on #3592
@cawallin Now that presto can use begin transaction statement, does it make any sense to revisit this issue?  I found R/JDBC also tries to use `setAutoCommit(false)`

[2016-09-20 20:51] electrum commented on #6134
If you're only using Presto to connect to Oracle, just use Oracle directly. It will be much faster.

[2016-09-20 21:38] #5980 closed

[2016-09-20 21:47] cberner opened #6148 "Poor performance when decoding ORC files with some MAP encodings"
Threads seem to be spending all their time in the following code

[code]

[2016-09-21 00:08] nezihyigitbasi commented on #6137
The issue is in `InternalResourceGroupManager::submit()` where the `selectGroup()` call is wrapped in a try-catch to catch only `PrestoException`s to fail the query. Either we can catch `Throwable` or change `ResourceGroupId` to throw a `PrestoException` on invalid resource group id (and create an error code for that). What do you think @cberner?

[2016-09-21 00:38] raghavsethi commented on #5970
@electrum from talking to @erichwang it seems like this is a broader problem that we need to discuss.

[2016-09-21 01:10] cberner opened #6151 "Change bytecode compilers to cache at task/operator level"
Currently, compilers like JoinCompiler cache 1000 compilations, globally. It would be better to cache compilations at the task/operator level, and then discard them when the query finishes. As it is, old compiled classes can bloat the JVM code cache

[2016-09-21 02:30] ffpeng90 commented on #6143
find "presto.version", thx.
I modified the manifest for node-version directly yesterday , hah

[2016-09-21 02:34] surendraGaddam99 commented on #6134
I am using presto as it is a query engine .
My application is Airpal Query tool which uses presto DB query engine and has to be connected to Oracle .

Thanks
Surendra

[2016-09-21 09:59] ArchaB opened #6152 "How to upstream lib changes done for presto-mysql"
While porting presto-mysql on ppc64le, The package failed with the error

**[ERROR] Caused by: java.util.MissingResourceException: Resource '5-5-9/Linux-ppc64le/mysqld' not found
[ERROR] at com.mysql.management.util.Streams.getResourceAsStream(Streams.java:124)**

As part of providing the support. Edited the **mysql-connector-mxj-db-files-5.0.12.jar** created when the package builds.
Changes done

[2016-09-21 11:00] Praveen2112 opened #6153 "Decrease in time for Query Execution"
Hi,
These are the Query time line for a query when it is executed
a. For the first time
query-execution-14  com.facebook.presto.event.query.QueryMonitor    TIMELINE: Query 20160921_104017_00051_wh28p :: Transaction:[477a7814-884a-46e9-af51-0304a98edde5] :: elapsed 6783ms :: planning 225ms :: scheduling 504ms :: running 0ms :: finishing 6558ms :: begin 2016-09-21T03:40:17.412-07:00 :: end 2016-09-2

[2016-09-21 11:54] kokosing opened #6154 "Support `NOT` and `OR` operators in correlated scalar aggregation subqueries"
This is an extraction of work needed to address a comment for https://github.com/prestodb/presto/pull/6035, see https://github.com/prestodb/presto/pull/6035/commits/3fe000bc819e47609cff8c5f45d7fb882567482b#r77717277

[2016-09-21 14:59] ptkool commented on #4554
PR in progress (https://github.com/prestodb/presto/pull/6157).

[2016-09-21 16:25] electrum opened #6158 "Implement prepared statements in JDBC driver"
This will use the functionality from #4338.

[2016-09-21 16:27] electrum commented on #6158
@nahi is working on this.

[2016-09-21 16:54] nezihyigitbasi commented on #6152
You can open a pull request to the presto project, please see [this](https://help.github.com/articles/creating-a-pull-request/) for more info.

[2016-09-21 18:22] dabaitu commented on #1704
@cberner - sorry for the late response. Here's our config:
cluster: each machine has 56 cores, but only 64GB ram. 189 workers(not counting coordinator).

worker config:
 query.initial-hash-partitions=200
 query.max-memory=500GB
 query.max-memory-per-node=18GB
 exchange.http-client.request-timeout=120s
 exchange.http-client.idle-timeout=10s
 task.max-worker-threads=53

There was a problem in 0.151

[2016-09-21 18:23] electrum commented on #6152
This is part of MySQL MXJ: https://downloads.mysql.com/archives/c-mxj/

Unfortunately, it has been discontinued. I see two options here:

1. Fork MXJ as-is and release a new version with the additional binaries. It would need to be released under a different Maven groupId.
2. Move the MySQL binaries and logic for managing the server inside of https://github.com/airlift/testing-mysql-server in the

[2016-09-21 18:28] electrum commented on #6152
Actually, there might be a simpler way. MXJ is split into two artifacts: `mysql-connector-mxj` and `mysql-connector-mxj-db-files`. We could add an additional artifact dependency to `testing-mysql-server` that contains the new binary. That would allow us to keep using the existing MXJ logic for managing the server. Alternatively, we could replace the `db-files` artifact with a new one that contains

[2016-09-21 19:05] dain commented on #6153
There is caching of metadata in the Hive connector, which can speed up scheduling time.  One important thing to consider is that, scheduling time is the time from planning completion until all splits have been scheduled, and this can be effected by lots of stuff like load from other queries.

BTW, the more interesting part of these timelines is the change in finishing time.  My guess is you have w

[2016-09-21 19:56] blondowski opened #6162 "Presto and S3."
Not sure if this is an issue or working as intended.

I created a table in Hive that points to S3 bucket.
create table snowplow (blah, blah, blah)
STORED AS PARQUET
LOCATION 's3://bucket/snowplow/';

I can query it in Hive:
hive> select count(*) from snowplow;
Query ID = hadoop_20160915185932_f360dd31-9d07-4332-8128-6147d573679b
Total jobs = 1
Launching Job 1 out of 1

Status: Running (Executing o

[2016-09-21 19:59] cawallin commented on #3592
@xerial Sure, I don't have that much context on this any more but it seems reasonable.

[2016-09-21 20:10] rschlussel commented on #6162
Is the hive connector configured to be able to access s3?

You should set the following in your hive.properties file:
hive.s3.aws-access-key=XXXX
hive.s3.aws-secret-key=XXXX

[2016-09-21 23:41] haozhun commented on #6063
Merged #6073.

[2016-09-21 23:41] #6063 closed

[2016-09-22 08:16] Praveen2112 commented on #6153
Thanks Dain.
We are using a custom connector which gives the pages from memory ( data is already cached ) and server if not loaded when executed these query(One query running at a time). When the same query with a change in the filter condition(instead of colA > 10 we changed it to colA >20) is executed, there is similar decrease in finishing time , when it is ran for the second time.

When profil

[2016-09-22 12:15] kokosing commented on #6129
@Praveen2112 see https://github.com/prestodb/presto/pull/6164

[2016-09-22 18:30] geraint0923 commented on #2903
Should be fixed by #6167

[2016-09-22 21:39] AlekseiS commented on #6116
Uploaded a pull request: https://github.com/prestodb/presto/pull/6169
@electrum please have a look.

[2016-09-22 23:19] electrum opened #6170 "Update product-tests README for new Mac Docker"
Docker is now natively supported on Mac, so the VirtualBox / Docker Toolbox instructions should be updated.

I think the steps are
- Install Docker for Mac: download the DMG, copy to Applications, run the Docker application to install.
- Increase Docker memory: click the Docker icon in the menu bar, choose Preferences, increase memory slider to 4 GB.

Everything after that seems to work automatica

[2016-09-22 23:55] #6066 closed

[2016-09-23 02:37] erichwang opened #6172 "Add stats for bytes and rows that are written"
These should take a couple forms:
1. bytes and rows written as JMX counters
2. bytes and rows written per query in the QueryEvents log

[2016-09-23 04:17] nezihyigitbasi opened #6173 "NPE with join on multiple conditions"
[code]

Not exactly sure about the difference but this works

[code]

[2016-09-23 11:58] ArchaB commented on #6152
The pom.xml file does have the dependency mentioned
  <dependency>
    <groupId>io.airlift</groupId>
    <artifactId>testing-mysql-server</artifactId>
    <version>0.1</version>
  </dependency>

@electrum , could you please explain more on the line in your reply
**'We could add an additional artifact dependency to testing-mysql-server that contains the new binary. '**
What would the dependency ref

[2016-09-23 15:21] martint opened #6176 "Add shuffle function"
Implement a function to shuffle arrays of elements:

`shuffle(array(T)):array(T)`

[2016-09-23 15:55] nezihyigitbasi opened #6177 "try_cast fails with unbound variable exception"
[code]

[2016-09-23 17:06] cberner commented on #1704
@dabaitu 0.151 was released with a bad HTTP library, if I recall correctly. I would upgrade to 0.152.1

[2016-09-23 21:30] electrum opened #6182 "Product tests fail if port 1080 is already used"
When using Docker for Mac (not the older Docker Toolbox), product tests fail if port 1080 is used (which it always is for my SSH SOCKS proxy):

[code]

My random guess, knowing nothing about Docker, is that the old Docker setup used an isolated network for containers but the new way does bridging or uses the host network.

If so, we should pick a different port for this, since using port 1080 is v

[2016-09-23 21:39] electrum commented on #6170
Docker for Mac vs. Docker Toolbox: https://docs.docker.com/docker-for-mac/docker-toolbox/

[2016-09-23 21:46] dabaitu commented on #1704
@cberner I just tried building 0.152.1, wonder if you have a quick solution for:

[ERROR] Found a problem with the dependency org.eclipse.jetty.http2:http2-client
  Resolved version is 9.3.9.M1
  Version 9.3.11.v20160721 was expected by artifact: io.airlift.discovery:discovery-server
  Version 9.3.9.M1 was expected by artifacts: com.facebook.presto:presto-client, io.airlift:discovery, io.airlift:e

[2016-09-23 21:49] haozhun commented on #1704
@dabaitu Use 72e85e0 (one commit ahead of 0.152.1)

[2016-09-23 22:59] AlekseiS commented on #6000
Uploaded a pull request: https://github.com/prestodb/presto/pull/6184

[2016-09-24 07:27] Praveen2112 commented on #6129
Thanks a lot @kokosing
Same changes can also be applied to the filter node.(To rewrite filter only if there is inPredicate mapping)

[2016-09-24 07:30] Praveen2112 commented on #6151
But when we are caching compilations globally we are getting a better performance rather then compiling each time when a same query is executed.(#6153)

[2016-09-24 17:59] #4151 closed

[2016-09-24 18:03] #6129 closed

[2016-09-24 23:33] #5891 closed

[2016-09-25 13:37] dzakarov opened #6186 "Delegation token with High availability name node hadoop does not work."
If presto launcher started with the following exported token file location variable, presto
processes queries on Kerberized cluster several times faster.
[code]
Hive catalog configuration for hdfs set to `NONE`

[code]
Hadoop embedded client understands exported token location and uses token for hdfs access.

The same approach is not working for hive metastore, presto metastore client is not aware

[2016-09-25 23:53] dabaitu opened #6187 "airlift jmx dependency preventing presto to start up"
tag: 152.1
For env with custom Java, if the custom java version is not parseable by the airlift jmx JavaVersion.parse Presto doesn't start.
It's also really confusing to have the exact same code in airlift and under presto.server.JavaVersion

[2016-09-26 00:38] electrum commented on #6187
Can you provide a stack trace?

[2016-09-26 01:49] dabaitu commented on #6187
38) An exception was caught and reported. Message: Cannot parse version 1.8.0_60-ea
  at com.google.inject.internal.InjectorShell$Builder.build(InjectorShell.java:138)
Caused by: java.lang.IllegalArgumentException: Cannot parse version 1.8.0_60-ea
	at io.airlift.jmx.JavaVersion.parse(JavaVersion.java:76)
	at io.airlift.jmx.JavaVersion.current(JavaVersion.java:46)
	at io.airlift.jmx.JmxModule.confi

[2016-09-26 02:29] martint commented on #6187
https://github.com/prestodb/presto/pull/6188
https://github.com/airlift/airlift/pull/465

[2016-09-26 12:05] kokosing commented on #6182
@electrum I will try to take care of this, but I cannot promise you any ETA for this. Since I am using linux and typically I don't need a socks proxy, testing of this change will require more time for me.

[2016-09-26 14:07] pnowojski opened #6191 "Distinct sum aggregation may produce incorrect results for empty grouping sets"
`AbstractTestQueries::testGroupingSetsWithMultipleDistinctAndUnion` fails for some configurations with `task_concurrency` higher then 1:

[code]

Simplified query:
[code]

To reproduce this, number of workers must be greater then 1, task_concurrency must be greater then 1, query must contain an empty grouping set AND there must be union AND aggregation function must be sum distinct. It seems like

[2016-09-26 14:48] electrum commented on #6191
@raghavsethi Is this part of what you are working on fixing?

[2016-09-26 14:53] pnowojski commented on #6191
Btw, I have noticed @raghavsethi commits in this area, but this bug is present both after and before recent changes in `GROUPING SETS` made by @raghavsethi . If someone is already working on a fix for that, it would be great, because I hardly know where to start looking for this bug :) If this is something new, I can try to fix it and any advice where to start would be welcome.

[2016-09-26 15:20] maciejgrzybek commented on #5991
Interesting finding, when `100` (bigint) is used instead of `100.0` (double), query works just fine:
[code]

Another finding:
when you remove last `sum(x) over()` (the one actually used in aggregation context) it also works:
[code]

[2016-09-26 15:22] raghavsethi commented on #6191
Let me try to isolate the issue.

[2016-09-26 15:35] raghavsethi commented on #6191
@geraint0923 Could you also take a look? Might be related to your aggregation pushdown stuff or to the changes I made to that.

[2016-09-26 15:53] raghavsethi commented on #6191
@geraint0923 never mind, seems to be related to local parallel, not distributed exchanges.

[2016-09-26 16:22] cberner commented on #6151
Interesting. How did you determine that the speed up was from caching of the generated code?

[2016-09-26 19:41] #6116 closed

[2016-09-26 19:41] AlekseiS commented on #6116
Fix pushed

[2016-09-26 22:42] raghavsethi commented on #6191
@pnowojski I'm curious how you got this test to fail? It's been broken ever since local parallel

[2016-09-26 23:45] #6176 closed

[2016-09-27 01:01] nezihyigitbasi opened #6196 "Deadlock in task info fetching"
Hit this one in production. Suddenly all queries get queued and all clients start timing out. [Here](https://gist.githubusercontent.com/nezihyigitbasi/108b844625d69de66bd8d74e427ea876/raw/c22dc663517fa991b87c162de2b387c0e8af0d69/presto-stack) is the full stack trace.
[code]

[2016-09-27 05:23] pnowojski commented on #6191
@raghavsethi as a part of spill in aggregation and join work I have added new test which uncovered this bug.

[2016-09-27 07:03] Praveen2112 commented on #6151
We designed a custom connector which actually fetches data from memory. Presto is running one query at a time so there isnt much a load. And we ran the same query for the second time , time taken is reduced to max of 3 seconds for complex query. When we profiled the max time is taken by each split when it is processing the first page(The time varies from 17ms for first page to 4ms for 5th page hav

[2016-09-27 18:29] #6191 closed

[2016-09-27 18:29] electrum opened #6202 "Array element_at should return null if not found"
The main point of having a separate function (aside from negative indexes) rather than `[]` is to allow accessing a position that may not exist. This makes it consistent with the map version of the function.

Zero is a special case that is never valid (in either direction), so we should keep the behavior of throwing an error for that. It avoids mistakes due to SQL arrays starting at one.

[2016-09-27 20:12] AlekseiS commented on #5993
Uploaded a PR: https://github.com/prestodb/presto/pull/6204

[2016-09-27 21:38] cberner commented on #6196
I don't think the resource manager is causing the deadlock. It's just a symptom. The deadlock is between these two threads, which are in the info fetching code:

[code]

[2016-09-27 21:43] dain commented on #6196
What version is this?

[2016-09-27 21:47] nezihyigitbasi commented on #6196
0.149

[2016-09-27 21:52] dain commented on #6196
The problem is this callback (https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/server/remotetask/ContinuousTaskStatusFetcher.java#L234) while holding the lock.  I'll have a fix soon.

[2016-09-28 10:26] karol-szuster opened #6212 "Enum type broken in PostgreSQL"
How to reproduce:

In postgres database create enum type and table:

[code]

Now when execute following query in presto

[code]

it will fail with following error:

[code]

Actually this worked in 0.147 and stopped working in 0.148. I've did quick bisect and found that this problem has been introduced by following commit: [Improve QueryBuilder to support VARCHAR condition ](https://github.com/pres

[2016-09-28 17:47] martint opened #6215 "Planning error for correlated queries over Hive connector"
Running the following query as part of TestHiveDistributedQueries fails with a planning error. It seems to happen during partition pruning.

[code]

[code]

[2016-09-28 17:48] martint commented on #6215
@kokosing, can you take a look?

[2016-09-28 17:51] martint commented on #6187
Fixed. It will be in the next release.

[2016-09-28 17:51] #6187 closed

[2016-09-28 17:54] martint commented on #6148
Fixed.

[2016-09-28 17:54] #6148 closed

[2016-09-28 18:23] kokosing commented on #6215
Sure thing ;)

The query is similar to the query we have already talked about: https://github.com/prestodb/presto/pull/6155#issuecomment-249500347

It should raise an exception that it is not supported for now. I will fix that.

Anyway I think that using `EXISTS` on aggregation does not make much sense. Correct me if I am wrong, but such query can be rewritten to:
[code]

And as such it should be

[2016-09-28 20:41] dabaitu commented on #6187
@martint are these two files pretty much the same?
presto-main/src/main/java/com/facebook/presto/server/JavaVersion.java
jmx/src/main/java/io/airlift/jmx/JavaVersion.java

If there's a reason to have two of them, then should the change you made to airlift be also added to the Presto JavaVersion?

[2016-09-28 21:13] kokosing commented on #6215
Never mind  my previous comment. I didn't know that `TestHiveDistributedQueries` is not executed on travis.

[2016-09-28 21:16] kokosing commented on #6215
Here is a fix: https://github.com/prestodb/presto/pull/6217

I just disabled optmizing expression which contains correlated symbols to outer query. The next step would be to make `ExpressionOptimizer` be able to handle correlated symbols so for example `some_bigint_correlated_symbol * null` could evaluate to null etc.

[2016-09-28 21:18] martint commented on #6187
I've applied the change to both.

These classes are a temporary hack until we switch to Java 9 (sometime next year). We didn't want to make them a public interface of airlift, so that's why we have two copies.

[2016-09-28 21:24] kokosing commented on #6215
I wanted to add that the mentioned next step will be only needed when `ApplyNode` become eligible to be physically executed

[2016-09-28 21:53] #6215 closed

[2016-09-28 22:20] #5991 closed

[2016-09-28 23:02] cberner opened #6219 "Regression: Lost symbols on right side of join lead to query failure"
Unfortunately, I don't have a public dataset that reproduces this, but I am seeing queries that fail with:
[code]

It appears that the failure is caused by a bad plan, as there are missing symbols on the right side of the InnerJoin:
[code]

[2016-09-29 01:04] geraint0923 commented on #6219
I simplified to another simple query:
[code]

The corresponding plan is:
[code]

Looked into `PredicatePushDown` optimizer, and found out that it generated a `JoinNode` with a empty criteria, which makes symbol `field_1` non-referenced, and led to `field_1` being pruned in `PruneUnreferencedOutputs`.

[2016-09-29 05:15] Praveen2112 commented on #6151
@cberner any updates ?

[2016-09-29 10:46] losipiuk opened #6223 "effectivePredicate not printed nicely as part of HiveSplit.getInfo()"
The `effectivePredicate` part of `HiveSlit.getInfo()` is meaningless as `TupleDomain` does not provide
`toString()` method. Only `toString(ConnectorSession)` method.

We should either:
- create standard `toString()` in `TupleDomain`
- pass session arg to `getInfo`
- drop `effectivePredicate` from getInfo alltogether

[2016-09-29 15:57] cberner commented on #6151
I see. Yes, that's possible. In that case we should probably implement a two level cache, one in the task that only lives for the life of the query, and a global one with a configurable size

[2016-09-29 16:10] cberner commented on #6137
@nezihyigitbasi I think we may want to just find a way to allow "." in resource group ids, I'll take a look at the code to see how easy that is (I think it should be pretty easy, as that constraint was only there to make the config file format easier)

[2016-09-29 20:07] dain opened #6226 "Add stage state to stage summary in query info page"
Also if possible add sum of output buffer size since that shows which stages are blocked on output.

[2016-09-29 22:27] geraint0923 commented on #6219
Got a much simpler query:
[code]

while without the `distinct` the query will succeed:
[code]

[2016-09-29 23:27] AlekseiS commented on #6173
Uploaded PR fixing it: https://github.com/prestodb/presto/pull/6229
In the example the clause is invalid and should result in a semantic exception being thrown.

[2016-09-30 01:13] AlekseiS commented on #6173
Merged.

[2016-09-30 01:13] #6173 closed

[2016-09-30 01:31] #6219 closed

[2016-09-30 13:25] #3889 closed

[2016-09-30 17:24] AlekseiS commented on #5802
Fixed as part of https://github.com/prestodb/presto/pull/6229
"join on" condition is invalid in this query

[2016-09-30 17:24] #5802 closed

[2016-09-30 18:14] ggreg opened #6235 "Fail on redundant specifiers in date format"
When a user submits a SQL statement with a redundant `%x` specifier, it overwrotes the year that becomes _29AD_ rather than _2016_ (which is a leap year).

[code]

Interestingly MySQL plainly ignores the `%x:%x:%x`:

[code]

The Presto documentation for [date and time functions](https://prestodb.io/docs/current/functions/datetime.html) states _"the functions in this section use a format string tha

[2016-10-01 22:01] #5082 closed

[2016-10-03 06:24] martint opened #6239 "NPE when casting map containing NULLs"
[code]

[code]

[2016-10-03 11:48] kokosing opened #6240 "Unable to start hadoop-master docker container for product tests"
See:

[code]

After:

[code]

it prints:

[code]

Note (from the above):

[code]

CC: @ArturGajowy

[2016-10-03 17:00] electrum commented on #6223
@martint says to drop it since it will be the same for every split

[2016-10-03 17:46] martint opened #6243 "Detect and report join/group by skew"
If a query fails due to local memory limit being exceeded (generally due to skew), Presto should provide better diagnostics about what keys or groups caused the imbalance.

[2016-10-03 17:54] martint opened #6244 "Kill queries that cause bottlenecks due to skew"
We need a mechanism to detect memory skew for operations like join and group by, and a policy to kill skewed queries that cause other queries to stall when trying to allocate memory.

[2016-10-03 18:10] #6239 closed

[2016-10-03 19:12] #6196 closed

[2016-10-04 00:25] buremba opened #6252 "Consistent hashing when determining Raptor shards"
Currently Raptor uses modulo operator for determining the shard of a row and it makes it impossible to change bucket count of an existing table. We usually use 1 bucket for small tables for performance reasons and when the amount of data gets bigger, we have to create a new table from the existing one using a different shard count but it's an expensive operation.

We may use a decent consistent ha

[2016-10-04 00:29] buremba opened #6253 "The percentage in query stats is not reliable"
We're using 0.151 and the percentage in query stats is not reliable since 0.146. The percentage usually goes up to > 70% quite fast and it suddenly goes down from ~90% to ~75% a few times for most of the queries. What can cause this problem?

[2016-10-04 00:31] martint commented on #6253
In the web UI? If so, that's a known issue. There's a pending PR to fix it.

[2016-10-04 00:35] buremba commented on #6253
@martint we're using presto-client so if it's an issue related with the UI, it's probably not related with this one. Could you please share the PR, I couldn't find it?

[2016-10-04 00:41] AlekseiS commented on #6177
Seems to be fixed in "master".
The query now fails with the following message: "Cannot cast varchar(3) to array(integer)"

[2016-10-04 00:41] #6177 closed

[2016-10-04 01:01] raghavsethi opened #6254 "TRY_CAST is inconsistent with CAST"
[code]

[code]

[2016-10-04 02:58] erichwang opened #6257 "JOINs with one side from VALUES should use broadcast instead of partitioning"
JOINs generally do a hash partitioning on the join keys. However, in the event that one side of the join is known to be from a VALUES statement, than we should use a broadcast instead of a hash partitioning (since it is almost certainly going to be low cardinality).

[2016-10-04 02:59] raghavsethi commented on #6254
When I put a breakpoint in the cast function, the value was already incorrect (i.e. 0)

[2016-10-04 03:45] martint commented on #6253
This is the PR that includes the fix for the web UI: https://github.com/prestodb/presto/pull/6238.

The percentage is computed from the number of processed splits vs total splits. The issue is that the total number of splits may not be known until long after the query execution starts, since they are discovered as the query runs.

Once all splits have been enumerated, the server indicates to the c

[2016-10-04 05:42] pnowojski opened #6258 "Make reads from Spillers asynchronous"
Currently `Spiller` has a following interface:

[code]

This make reads from spillers synchronous, which can block operators. This should be fixed. The biggest obstacle is in how to use asynchronous reading method in `MergeSorter`.

[2016-10-04 05:49] pnowojski opened #6259 "Add spilled data size to OperatorStats"
Currently there is only one statistic per whole worker `getSpilledDataSize()` exposed via JMX. More stats per operator/driver/task/query could be added.

[2016-10-04 05:51] pnowojski opened #6260 "Add spilled data size limits"
Currently is only limited by the capacity of underlying storage. After hitting such limits, queries will start to fail. There should be both per worker limit and per query limit for spilled data.

[2016-10-04 11:17] ujjwal009 opened #6262 "Getting BoundedExecutor is in a failed state exception"
Hi while running query getting:

presto:roam_insight_new6> select \* from ri_grq_mapsig_node_hrly;
Query 20161004_101218_00580_9euxy failed: BoundedExecutor is in a failed state

[2016-10-04 12:02] ArchaB opened #6263 "Power support libraries for presto-hive."
While trying to port Presto on ppc64le system, Presto-Hive failed with the following error.

[code]

The hadoop-cdh4-0.9.jar used by presto-hive does not have power compatible library files.
Latest stable version of hadoop (2.7.1-power) has the power support.
Is it possible to update the jar used internally by presto to include the power compatible library files.

[2016-10-04 15:40] electrum commented on #6262
Can you show the full stack trace? Run the CLI with `--debug`. Also, please post the query that reproduces this and information about what connector(s) it's using.

[2016-10-04 15:49] electrum commented on #6252
Thanks for the link to the Google paper. That's an interesting algorithm.

I don't think it's possible to use consistent hashing with Raptor bucketing since it doesn't provide the necessary data consistency properties. We rely only bucketing for aggregations and joins.

For example, if two tables use the same distribution (they share the same bucketing), and we are joining on the bucket keys, a lo

[2016-10-04 15:49] electrum commented on #6252
However, you might know of some clever trick, so please let me know if I'm missing something here.

[2016-10-04 17:27] dain commented on #6258
Aren't you going to need some sort of id so you can fetch back a specific stream?   Also, what if you need to spill multiple times?  I think you want something like this:
[code]

[2016-10-04 18:31] electrum commented on #6263
Is there a public CI service like Travis CI that runs ppc64le?

[2016-10-04 18:52] martint opened #6266 "Exception when pressing CTRL-C during query execution"
Pressing CTRL-C in the CLI while a query is processing causes:

[code]

Version: 0.152

[2016-10-04 19:07] pnowojski commented on #6258
@dain please check how it's used in this PR:

[2016-10-04 20:40] paulrevere4 commented on #6202
Hey I'm looking to get more involved in this project. Can I take this issue?

We're talking about [ArrayElementAtFunction](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayElementAtFunction.java) right?

[2016-10-04 20:50] martint commented on #6202
@paulrevere4, yes, that's the one. Go for it!

[2016-10-04 21:13] nezihyigitbasi commented on #5005
@brian-rickman I have an open PR (#4720) for that.

[2016-10-04 21:16] #6137 closed

[2016-10-04 21:16] paulrevere4 commented on #6202
@martint Great thanks. I'll submit the PR when its ready.

[2016-10-04 21:17] nezihyigitbasi commented on #6266
@martint I have an open PR (#5008) that also fixes this issue. #4720 is also related, it tries to handle interrupts properly.

[2016-10-04 21:50] raghavsethi commented on #4333
Just having different timeouts seems to address this problem to a large extent. Closing until we can prove that additional changes are required.

[2016-10-04 21:50] #4333 closed

[2016-10-04 23:55] maciejgrzybek commented on #6182
Fix: https://github.com/prestodb/presto/pull/6271

[2016-10-05 00:00] #6254 closed

[2016-10-05 02:21] erichwang commented on #6257
Another way to do this is to leverage a stats system to report the cardinality (which is known for a VALUES node) and have the planner make decisions based on that.

[2016-10-05 05:15] kokosing commented on #6182
Closing as fix is merged.

[2016-10-05 05:15] #6182 closed

[2016-10-05 08:47] pnowojski opened #6272 "Track memory used for buffers during reading spills in BinaryFileSpiller"
`BinaryFileSpiller::getSpills` uses internally `BufferedInputStream` and doesn't track how much memory is allocated for those buffers. This can potentially cause out of memory issues.

[2016-10-05 10:51] pnowojski commented on #6260
First step would be to add `worker_spill_space_limit`. Just sanity check so that presto won't kill the machine on which it's running.

Next we need to add `query_spill_space_per_node`. That would require adding spill space accounting to `OperatorContexts` and up to `QueryContext`. Usage could be something like that:

[code]

CC @cawallin

[2016-10-05 13:16] KBP-TDC commented on #6257
@losipiuk @rschlussel FYI, this seems related to some work we started already.

[2016-10-05 14:28] losipiuk commented on #6257
@KBP-TDC it should work automatically based on cardinality output from StatsCalculator as soon as @rschlussel finishes her patch

[2016-10-05 14:46] rschlussel commented on #6257
Yup I'm working on automatically choosing between distributed and broadcast joins depending on whether the table on the right is sufficiently small.

[2016-10-05 15:04] fmeiser commented on #5684
@dain Do you have time to create a new version of airlift/slice, so that the problem is fixed?

[2016-10-05 15:15] fmeiser commented on #5642
PR #6078 introduced the parameter secure  to force a secure connection on none HTTPS ports.

[2016-10-05 15:15] #5642 closed

[2016-10-05 17:06] harrison-svds opened #6275 "Presto docker containers on a cluster can't communicate"
I have installed Presto on Docker containers on three nodes of an existing Hadoop cluster (1 coordinator, 2 workers).  Calling the discovery server API `/v1/service` method indicates that the workers have successfully registered with the discovery server, but when I run the Presto CLI and run `select * from system.runtime.nodes` I only see the coordinator listed.  I suspect it is because the worke

[2016-10-05 17:37] dain commented on #5684
Slice should be updated in the next release.

[2016-10-05 18:15] electrum opened #6276 "Enable local parallel by default"
Maybe set to 4? Or some fraction of the number of processors?

[2016-10-05 18:19] electrum commented on #6275
You can set "node.ip" in your node.properties file to override the detected IP address.

[2016-10-05 19:30] harrison-svds commented on #6275
This worked!  Thank you!

[2016-10-05 19:30] #6275 closed

[2016-10-05 21:12] nezihyigitbasi commented on #5817
Should be fixed with #6039

[2016-10-05 21:12] #5817 closed

[2016-10-05 21:27] nezihyigitbasi commented on #4816
I guess this is resolved, please re-open if you see any issues.

[2016-10-05 21:27] #4816 closed

[2016-10-05 21:29] nezihyigitbasi commented on #4697
Both `ParquetHiveRecordCursor` and `ParquetPageSource` support `DATE`s now, so closing.

[2016-10-05 21:29] #4697 closed

[2016-10-05 23:14] erichwang opened #6278 "Planning Class cast exception"
This query now throws an error:
[code]

[code]

[2016-10-05 23:39] erichwang commented on #6278
This seems to be caused by:
https://github.com/prestodb/presto/commit/6bbf957c80a265e2e3813951641e6f23580da89a

@martint can you take a look?

[2016-10-06 04:47] #6278 closed

[2016-10-06 20:24] electrum commented on #3126
I'm going to this since it's for a very old version and is a problem with Maven Central: http://central.sonatype.org/

We deploy to Central via the standard OSSRH process, which should have checks in place to prevent this from occuring (but apparently something went wrong this release): http://central.sonatype.org/pages/releasing-the-deployment.html

[2016-10-06 20:24] #3126 closed

[2016-10-06 22:48] tarekrached opened #6287 "if a query's session.source is null, query-list does not render"
rendering a [query's session.source](https://github.com/prestodb/presto/blob/master/presto-main/src/main/resources/webapp/assets/query-list.js#L172) errors out if the source is `null`, because [truncateString blindly calls inputString.length](https://github.com/prestodb/presto/blob/master/presto-main/src/main/resources/webapp/assets/utils.js#L120) without checking if it's a string

[2016-10-07 01:53] #4674 closed

[2016-10-07 02:33] electrum commented on #6287
Thanks for the report. Is this fixed by #6238?

[2016-10-07 02:46] tarekrached commented on #6287
yeah, that fixes it, but I think this reference to [query.session.source.toLowerCase()](https://github.com/raghavsethi/presto/blob/f2148acbfc45f2174c8d95424a39c48ff77d3e75/presto-main/src/main/resources/webapp/assets/query-list.js#L263) will cause an error for the same reason

[2016-10-07 06:28] kokosing opened #6288 "Support table functions"
I want to add a support for user defined table functions. But first I would love to hear if such a feature would be useful and it is needed.

My raw plan is to:
- add a concept of table function
- implement Unnest as table function
- change UnnestNode to be something like TableFunctionNode but with a unnest function method
- expose table function UDF interface (UDTF)

I could image UDTF interface

[2016-10-07 06:31] rgs1 opened #6289 "Query planning stuck with heavily nested columns"
I have some tables (using serde/thrift) that have heavily nested columns (one gross example has a column that its definition itself is ~1.5mb) so when trying to query a nested element planning takes forever (> 30mins).

After adding a a few println calls, it turns out that the culprit is that during planning stage hundreds of thousands of calls to `TypeSignature.toString()` happen. None of these a

[2016-10-07 08:54] ArchaB commented on #6263
@electrum, There is no public CI at present to run ppc64le. We have an internal CI setup where we currently run builds and can share the results if needed.

[2016-10-07 16:08] cberner commented on #6172
Li Ding is going to work on this

[2016-10-07 16:37] martint commented on #6288
Here are the relevant parts from the spec:

[code]

[2016-10-07 18:47] tarekrached commented on #6287
looks like that [has been resolved, too](https://github.com/raghavsethi/presto/blob/657aecf4428491f80ac903d81115979dfcfdcf75/presto-main/src/main/resources/webapp/assets/query-list.js#L271)!

thanks @raghavsethi, nice work!

[2016-10-07 19:09] electrum opened #6293 "CLI progress bar overflows on queries running for 100+ minutes"
Here's an example from a query that's been running for 2+ hours. The CLI terminal width is 80 characters, but this line is rendered at 81 characters (due to the extra minute digit):

[code]

[2016-10-07 19:37] martint commented on #1508
We should be able to fix this once https://github.com/prestodb/presto/pull/6091 is merged

[2016-10-07 19:41] martint opened #6295 "O(N^2) behavior when grouping by double column containing NaNs"
NaNs are not equal to any other value (even to NaN). This causes insertions into the hash table of a group by or join to become O(N) for NaN values.

Once https://github.com/prestodb/presto/issues/1508 is implemented, this should no longer be a problem. In the meantime, we should consider failing queries that GROUP BY or JOIN on NaNs.

[2016-10-07 19:47] electrum opened #6296 "UI shows NaN when loading"
I reproduced by connecting to one of our clusters with HTTPS, where the HTML page can load but all the resources throw 401.

<img width="1197" alt="screen shot 2016-10-07 at 12 46 34 pm" src="https://cloud.githubusercontent.com/assets/9230/19203466/2c7ec930-8c8c-11e6-8f1a-ceaea0aa8cfc.png">

[2016-10-07 20:31] erichwang commented on #6172
We might also want to export the compressed data size in a way similar to how the page reader allows us to report compressed data size.

[2016-10-07 22:44] electrum opened #6299 "Remove deprecated Parquet config flags"
There are two properties marked as deprecated:
- `hive.parquet-predicate-pushdown.enabled`
- `hive.parquet-optimized-reader.enabled`

I assume they are intended to be removed once the features are deemed stable. We should make them default to true, then remove later, or perhaps just remove immediately.

[2016-10-08 00:40] nezihyigitbasi commented on #6299
We have been using the new reader for quite some time in production and I think it's in good shape (except for an issue I recently fixed: #6290). When we remove these properties, do we also want to remove [these](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveSessionProperties.java#L72-L81) session properties? And if we remove both the session

[2016-10-08 01:49] electrum opened #6302 "Optimize window function followed by ORDER BY"
The following query is slower than necessary because the SortNode is redundant with the preceding WindowNode:

[code]

It should have the same execution plan as this (because the WindowNode already sorted the output):

[code]

[2016-10-08 02:10] martint commented on #6302
Rather than optimizing that specific case, it should be done for any scenario where the input to a sort node is already sorted.

Also, this is probably not a good beginner task, since it requires understanding how physical properties work, etc.

[2016-10-08 02:23] raghavsethi commented on #6287
Haha no problem. Closing this task.

[2016-10-08 02:23] #6287 closed

[2016-10-08 18:43] zhenxiao commented on #6299
@electrum @nezihyigitbasi  sure. Let me work on it.
How about we defaults the config to be true, and remove the configs and session properties? We just started using the new Parquet reader, everything is going fine. I think we still need the old reader, as complex data types are only supported in old reader. I am working on supporting Map, Struct, and Arrays in the new Reader, and will submit a pu

[2016-10-08 19:27] amitna1r commented on #4130
@yuananf, any updates on this? This would be super useful

[2016-10-09 08:17] zhuqunzhou opened #6307 "What's the mean of blocked time?"
Today,i find some sql takes a long time to be executed,But in the plan chart

    Output: 514.12kB / 1 rows
    State: FINISHED
    CPU: 1.10ms
    Blocked: 54.46s
    Memory: 0B
    Splits: Q:0, R:0, F:1

Most time be consumed in blocked state.What's the mean of the `blocked`?

presto:v0.142
cdh-hadoop:5.5.2

[2016-10-09 08:41] #6307 closed

[2016-10-09 10:08] zhuqunzhou opened #6308 "Blocked stage continued a long time?"
At some time,`select * from system.runtime.nodes` need a long time(such as 2 minute) to be executed,and most time used in `blocked` stage?
My presto read data from hive,if `hdfs` cluster has problem,it will influence this sql?

What's wrong?

Presto:0.142

[2016-10-09 10:12] winterlau opened #6309 "When running a split, why would you set the quanta to 1 second?"
I set up Hadoop on a single-node in a pseudo-distribute mode, and Presto on the same single machine for testing. The server I used has 40 CPU cores and 256G RAM. The hive table stored as 'ORC'. The SQL I run in CLI is "select count(distinct column1), count(distinct column2) from table1". In the hive table location, there are 50 orc files which is about 125M seprately. The command result is as foll

[2016-10-09 11:04] #6308 closed

[2016-10-10 11:42] pnowojski commented on #6272
@cberner `BufferedInputStream` and `BufferedOutputStream` are using by default 8KB for internal buffers. Is this really an issue? It would take 128 spills per one operator to use 1MB. With 32MB `operator_memory_limit` it means that for handling `32MB * 128 = 4GB` of data per operator, we would consume only 1MB of untracked memory per operator.

With revocable memory average spill sizes will go up

[2016-10-10 16:13] cberner commented on #6272
Yes, that seems like a real issue to me. Suppose you spill 1TB instead of 4GB. It'll be hundreds of MB then. Pretty much anything that's not bounded and small needs to be tracked. For example, in the aggregations we even account for the overhead of object headers

[2016-10-10 16:40] gerrith3 commented on #6263
We are working to build a public CI in a couple of locations for ppc64le but they are not yet in place.  In the interim we can freely share results from our internal builds.  It is also possible to get access to ppc64le VMs from Oregon State University's OSL http://osuosl.org/services/powerdev or from UNICAMP: http://openpower.ic.unicamp.br/minicloud/ .

[2016-10-10 17:03] cawallin commented on #5596
Merged in #6055

[2016-10-10 17:03] #5596 closed

[2016-10-10 18:38] martint opened #6313 "Optimize map_agg memory usage"
The per-group memory usage of map_agg in a group by query is quite large. For instance, for the following query:

[code]

The KeyValuePairs state object for each group is ~12kB big.

[2016-10-10 18:40] martint commented on #6313
It looks like most of the usage is consumed by TypeSet.

[2016-10-10 21:55] electrum opened #6317 "Make AccumuloColumnHandle immutable"
Mutable classes for a data object is a general anti-pattern (*Effective Java* gives a full explanation) and is contrary to the general coding style of Presto. Additionally, the mutable fields are used in `equals` / `hashCode` which violates the contract.

[2016-10-10 22:00] electrum opened #6318 "Remove usages of stored AccumuloConfig"
Various classes like `AccumuloPageSinkProvider` store an `AccumuloConfig` class rather than extracting the values in the constructor and saving them to `final` fields. Config classes are mutable, so other classes should not keep a reference to them.

[2016-10-10 22:07] electrum opened #6319 "Fix thread safety of IndexLookup in AccumuloClient"
`AccumuloClient` is a singleton and contains an instance of `IndexLookup`. It then calls `setAuths()` from `getTabletSplits()` which is called from different threads.

Additionally, `IndexLookup` uses `ColumnCardinalityCache` which has a normal `HashMap` without any synchronization. This code path is also called from multiple threads.

This should probably be done after #6318, since several of the

[2016-10-10 22:13] electrum opened #6320 "Make AccumuloTable immutable"
The Presto code style is to use immutable objects where possible (see *Effective Java*), so having a mutable data object like this is error prone. Along with this change, remove the `clone()` method which will no longer be needed (see *Effective Java* for problems with `clone()`).

[2016-10-10 22:14] electrum opened #6321 "Make Accumulo classes immutable"
The following classes are mutable, but it should be easy to make immutable given that the setters are not used:

* `AccumuloColumnConstraint`
* `AccumuloSplit`
* `TabletSplitMetadata`

[2016-10-10 22:56] #5599 closed

[2016-10-10 22:56] #5675 closed

[2016-10-10 22:56] #5971 closed

[2016-10-10 22:56] #6226 closed

[2016-10-10 23:29] nezihyigitbasi commented on #5194
@cberner are you still working on this?

[2016-10-11 07:13] ft20082 opened #6323 "Why didn't find the code comments"
Almost no comments in the code, and sometimes it is not easy to understand.

[2016-10-11 16:42] cberner commented on #5194
@nezihyigitbasi not really. I've been doing a bunch of other things. If you're interested, free feel to take it on! Otherwise, I'll get to it eventually, but that might be next year

[2016-10-11 21:16] cberner opened #6327 "Implement FILTER clause for aggregations"
For example, this query `select sum(x) filter (where x > 1), sum(x) from (values (1), (1), (2), (2)) t(x);` should return `4` and `6`

The SQL spec defines the FILTER clause as follow:
[code]

and in section 10.9.8: `A <filter clause> shall not contain a <query expression>, a <window function>, or an outer reference.`

and `If <filter clause> is specified, then the <search condition> is effectivel

[2016-10-11 21:16] cberner commented on #6327
Li Ding is going to take a look at this

[2016-10-11 21:29] martint commented on #6327
This is a duplicate of https://github.com/prestodb/presto/issues/5085.

[2016-10-11 21:29] #6327 closed

[2016-10-11 21:47] buremba commented on #6323
This is not an excuse for code comments but the tests might be helpful for beginners.

[2016-10-11 21:57] buremba commented on #6252
Ah, it seems that I forgot to write an answer. I think that bucketing can also be useful for predicate pushdowns for equality checks. If the predicate has certain values for bucket key i.e `bucket_key = 2` we might find the shards from bucket ids.

The reason for 1 bucket count is that network operations are expensive and Presto distribute the data of a table to the all nodes in the cluster even i

[2016-10-11 23:10] martint opened #6330 "Planning bug when creating bucketed table"
This query:

[code]

fails with:

[code]

[2016-10-11 23:11] martint commented on #6330
@haozhun, can you take a look?

[2016-10-12 05:25] martint opened #6332 "Predicate pushdown derives incorrect join equality"
The following query:

[code]

incorrectly produces 0 rows. The expected output is:

[code]

This is the plan (distributed joins and hash generation optimization disabled):

[code]

The filter above the table scan looks incorrect, so this would appear to be a bug in predicate / projection pushdown (casts elided for readability)

[code]

[2016-10-12 05:59] martint commented on #6332
If the query selects the column `a.x`, the results are correct. If it selects the `a.y` column, they are incorrect.

Here are the two plans for these scenarios:

Correct:
[code]

Incorrect:

[code]

[2016-10-12 08:28] RobinUS2 opened #6334 "JSON parsing performance has quite a lot of overhead"
I was debugging some of our queries that rely heavily on JSON and it seems we can gain quite serious performance improvements (around **3x faster**).

Conceptual code is here (not ready for PR): https://github.com/RobinUS2/presto/pull/2/files

What do you think about this? If we agree the concept is good for the improvement I'll prepare PR.

[2016-10-12 10:46] fmeiser commented on #5684
Fixed with release 153

[2016-10-12 10:46] #5684 closed

[2016-10-12 16:47] martint commented on #6332
Simpler repro:

[code]

[2016-10-12 16:54] martint commented on #6334
Do you have an example that shows the performance issue? The extractors shouldn't be instantiated more than once per task per query, so adding a cache should have no impact. This might be indicative of some other issue.

[2016-10-12 17:09] surendraGaddam99 opened #6336 "CPU usage is more for queries running in PrestoDB"
Hi ,

I am using PrestoDB Query Engine for running sql queries.
CPU Usage is observed as 70 to 80 % for each query run.
My application will be accessed by many tenants at the same time .
So how to reduce the CPU /memory usage for queries run in presto db .
Any configurations needs to be adjusted.

Thanks
Surendra

[2016-10-12 18:35] #3771 closed

[2016-10-12 18:38] martint commented on #6332
This is the plan before predicate pushdown:

[code]

And after:

[code]

The `expr_29 = expr_30` comparison in the join clause is invalid given that `expr_30` is, effectively:

[code]

Since `expr_14` only produces 1 or null, expr_30 is always null.

[2016-10-12 19:15] martint commented on #6332
It appears to be a bug in EqualityInference. It's inferring that:

if `expr_1 := if(field == 1, 2, null)`
and `expr_14 == field` (join condition)

=>

`expr_1 = if(expr_14 == 1, 2, null)` is a valid constraint on the join

[2016-10-12 23:46] electrum opened #6338 "NPE for SpnegoFilter"
Apparently, `GSSContext.getSrcName()` can return null, even if `isEstablished()` is true. I suppose we should handle that by returning `Optional.empty()`? Maybe with a debug log entry?

[code]

[2016-10-12 23:54] electrum commented on #6336
This is expected and is a good thing! Presto will try to use all available CPU to run your query as quickly as possible.

If you have questions about specific queries, please post in the user group: https://groups.google.com/group/presto-users

Include details such as the query SQL, table schema, table sizes, which connector, which Hive file format (if applicable), number of machines in the cluste

[2016-10-12 23:54] #6336 closed

[2016-10-12 23:56] electrum commented on #6336
We usually get the opposite question: my query isn't using enough CPU, how do I use more CPU to make it run faster (and fully utilize the hardware)

[2016-10-13 00:11] wdong87 commented on #6338
It looks like the context was not well established according to this link: http://stackoverflow.com/questions/34306386/gsscontext-with-null-srcname. We need to understand why it's the case for the curl case. cc: @zhenyuy-fb

[2016-10-13 06:10] RobinUS2 commented on #6334
I think you're right. The unit tests shows the improvement but the actual json functions only creates one extractor, so it's not a per row problem but rather a per node and then per usage within a query.

That might lead to point two that might (or not) still make this interesting. We have queries that are auto-generated by a tool that has a lot of these `json_extract_scalar` calls basically like:

[2016-10-13 06:37] RobinUS2 commented on #6334
I was digging into this a bit more to find out how optimizations / query rewrite could help with this. One thing that immediately comes to mind is something like:

[code]

or with a subquery
[code]

however in the plan with EXPLAIN I'm then seeing something like

[code]

This is a bit weird right, or am I interpreting it wrongly?

[2016-10-13 06:53] RobinUS2 commented on #6334
[code]

it seems the projection goes away the moment another column is added to the subquery

[2016-10-13 08:22] rafalpas commented on #6212
It seems that because PreparedStatement is used to build the query, it is necessary to specify the enum type when adding the value, e.g. `'foo'::my_enum` instead of just `'foo'` (see http://stackoverflow.com/questions/16492370/java-enum-and-postgresql-enum)

In current implementation the latter is added, as the type is identified by Presto as VARCHAR.

That would require changing the current:
`ret

[2016-10-13 10:14] Praveen2112 opened #6341 "Index Join for Custom Connectors"
Hi,
Presto has support for the index joins. But how to add support for index joins in a custom connector ?

[2016-10-13 16:24] #3146 closed

[2016-10-13 16:28] arhimondr commented on #5500
I choose second approach over the first one because of the following reasons:

1. It is backward compatible
2. It has no performance impact
3. With high probability non-blocking asynchronous  elements in connectors won't return `Future<Page>`, but some other `Future` that must the transformed before returning it to Presto. When the transformation of `Future` is trivial, it is not so for `Listenabl

[2016-10-13 17:02] electrum opened #6344 "Flaky test TestQueues.testSqlQueryQueueManager"
[code]

[2016-10-13 18:21] martint opened #6346 "Planning error when subquery is used in CASE/IF expression"
[code]

Produces

[code]

This is a regression in 0.153

[2016-10-13 18:35] electrum commented on #6299
@zhenxiao Thanks for the explanation. How are complex types handled if the optimized reader is enabled? Does it automatically fallback to the old reader, or do queries fail?

[2016-10-13 18:46] martint commented on #6346
It's caused by 4791a802a69f5f73d21c43b11df9b5980879f97c

[2016-10-13 19:07] kokosing commented on #6346
@martint Sorry about that. I will take care of this immediately.

[2016-10-13 19:21] martint commented on #6346
I'm looking into it, too. The problem is that because we moved the in->semijoin tranform below prune unreferenced outputs, the plan ends up like this:

[code]

[2016-10-13 19:22] martint commented on #6346
I think a quick solution is to implement a rule that reduces that apply to a simple Values. I'm working on that fix. I'll ping you if I need help.

[2016-10-13 20:45] zhenxiao commented on #6299
@electrum if the optimized reader is enabled, for complex types, it will automatically fallback to the old reader. When enabling the optimized reader, only primitive types are handled by optimized reader. The fallback is automatic.

[2016-10-13 22:00] #6346 closed

[2016-10-14 03:56] #6330 closed

[2016-10-14 15:42] adamjshook commented on #6321
@electrum I've fixed `AccumuloColumnConstraint` and `TabletSplitMetadata`, however `AccumuloSplit` is giving me a little trouble.

Making the `List<WrappedRange> ranges` `final` and removing the setter causes failures in `TestAccumuloSplit`, saying `Can not construct instance of AccumuloSplit, problem: ranges is null`.  I had ran into this a while back, where jackson seems to be first setting `ran

[2016-10-14 16:39] martint commented on #6332
Here's a simpler form:

[code]

and its plan:

[code]

[2016-10-14 16:45] electrum opened #6354 "Document that checksum() may not be stable between releases"

[2016-10-14 16:52] martint commented on #6332
To summarize, the issue happens when there's an "effective predicate" on one side of the join in terms of the join key (e.g., `v = f(k1)`, with a join criteria of `k1 = k2`) that can produce null on non-null input (e.g., nullif, case, if, etc).

In that scenario, predicate pushdown derives another join condition `v = f(k2)`. Since `f()` can produce null on non-null input, it's possible for some va

[2016-10-14 20:17] electrum commented on #6321
I found the problem. You need to change `getWrappedRanges()` to have `@JsonProperty("ranges")`, since the default name is based on the method name. It worked before since `setWrappedRanges()` had a `@JsonSetter` without an explicit name, so the property was actually serialized as `wrappedRanges` in the JSON.

[2016-10-15 03:50] electrum opened #6358 "Add product tests to cover Hadoop KMS"

[2016-10-15 23:55] adamjshook commented on #6321
That did the trick -- thank you!

[2016-10-16 06:27] #6323 closed

[2016-10-16 10:47] ft20082 opened #6361 "what is the plugin log config"
how can i print log in presto plugin

[2016-10-16 18:18] #6332 closed

[2016-10-17 09:27] ft20082 commented on #6361
In etc/log.properties
add com.myteek.presto=DEBUG

[2016-10-17 09:27] #6361 closed

[2016-10-17 09:39] shubhamtagra opened #6363 "JDBC drivers: SQuirrel takes very long to connect to Presto"
For big hive databases (~4k tables in our case) it takes very long for SQuirrel to connect to Presto server. Root cause for it is that PrestoDatabaseMetaData.getColumns handling is inefficient for hive databases with lots of tables.

For hive connector, this call invokes HiveMetadata.listTableColumns which gets the table info one by one
from metastore. And for each table info it creates a new thri

[2016-10-17 13:25] RobinUS2 opened #6365 "Presto 0.153 class cast exception generated bytecode custom types"
It seems that there's an issue with custom accumalators in the latest version where we are getting the following exception:
[code]

The code of the plugin can be found here https://github.com/RobinUS2/presto-bloomfilter/tree/master/src/main/java/com/facebook/presto/bloomfilter but used to work fine before.

[2016-10-17 14:22] ArchaB commented on #6152
@electrum .. Gentle Reminder

[2016-10-17 16:09] electrum commented on #6152
It could either be another Maven dependency or it could be downloaded as part of the build. See here for an example of the latter, which downloads and repacks the PostgreSQL binaries:

https://github.com/airlift/testing-postgresql-server

[2016-10-17 17:31] electrum opened #6369 "Flaky test TestResourceGroupIntegration.testMemoryFraction"
[code]

[2016-10-17 17:34] electrum commented on #6363
Note that 4k is relatively small. This will need to do batching so that it works when there are 100k+ tables.

[2016-10-17 17:53] surendraGaddam99 commented on #6336
Hi electrum,

In my case our portal page contains around 10 applications and Airpal with prestodb connected is one of them. If my Airpal application running on presto db uses around 70 to 80 % of CPU then other applications get slow down  and run out of memory/performance impact.
Multiple tenants will be accessing our portal page We are using oracle connector.

Thanks
Surendra

[2016-10-17 18:09] stagraqubole commented on #6363
Noted, will add batching.

[2016-10-17 18:12] electrum commented on #5009
This should be fixed in https://github.com/prestodb/presto/pull/6370

[2016-10-17 19:29] electrum opened #6372 "Add product tests for Avro"

[2016-10-17 19:31] electrum opened #6373 "Fix creating tinyint or smallint for Avro in Hive"
Avro only supports `int`. In Hive, creating a table with `tinyint` or `smallint` with Avro storage format creates a table with `int` automatically. In Presto, we currently create a broken table (reading it fails with an Avro schema mismatch).

We should either disallow it as not supported (telling the user to use `integer` instead), or automatically translate the types.

[2016-10-17 20:41] electrum commented on #6365
I sent a pull request to update for 0.153: https://github.com/RobinUS2/presto-bloomfilter/pull/16

I didn't test this in a full server, so it's possible there's some weird class loader issue, but we have tests for the ML plugin (which has aggregation functions) in product-tests, so I expect this will fix it.

[2016-10-17 23:40] martint opened #6379 "Incorrect results when GROUPING SETS refer to columns derived from same column"
This query:

[code]

incorrectly produces:

[code]

The expected result is:

[code]

[2016-10-17 23:41] martint commented on #6379
This is probably a bug in UnaliasSymbolReferences for GroupingId node

[2016-10-17 23:52] martint commented on #6379
Here's the generated plan:

[code]

It should look something like this (note the `CAST(v AS INTEGER)` to avoid the unaliasing optimization):

[code]

[2016-10-18 01:22] electrum opened #6380 "Use hard links in RPM to save space"
The RPM is almost 600MB. We could save space by using hard links for the duplicated files. This would also save space on the user's disk (assuming RPM preserves these when unpacking).

[2016-10-18 03:06] mkaja opened #6382 "how to query jsonb columns using presto"
how to query jsonb columns using presto

[2016-10-18 06:08] kokosing opened #6383 "Support correlated simple scan-filter-project queries"
Currently such queries like below fails:

[code]

(above query is just an example, it does not represent any logical value)

It seems that plan for such query should look like:

[code]

Where `enforce_singe_value` is (conceptually similar to EnforceSingleRow plan node) aggregator which:
- for empty group returns `null`
- for group with single value returns that value
- for multiple values raise ru

[2016-10-18 06:21] kokosing opened #6384 "Execute EXISTS predicate as SEMI JOIN"
Take a look at simple test on TPCH (with sf1). Below queries represent the same selection:
1. Semi join

[code]

Finished in 5 seconds with peak memory 44.13MB.
1. Current EXISTS implementation

[code]

Did not finish within 3 minutes and kept about 200MB peek memory during the most time of the test.

Plan for 1:

[code]

Plan for 2:

[code]

The main difference is that IN predicate creates semi j

[2016-10-18 06:25] kokosing opened #6385 "Support multiple columns in IN predicate"
Support queries like:

[code]

It should be easy to implement once https://github.com/prestodb/presto/issues/6384 got implemented.

[2016-10-18 06:25] kokosing commented on #4017
@martint FYI

Once the initial support correlated subqueries (see https://github.com/prestodb/presto/wiki/Correlated-subqueries) is done, our (roadmap) next goals are:
 - lateral joins - (https://github.com/prestodb/presto/issues/5879)
 - support simple scan-filter-project correlated subqueries (https://github.com/prestodb/presto/issues/6383)
 - implement EXISTS execution as SEMI_JOIN (https://git

[2016-10-18 06:26] kokosing commented on #6384
The work on this is inspired by the low performance and high resource usage of TPC-H q21.

[2016-10-18 08:15] RobinUS2 commented on #6365
Thanks for doing that @electrum , I will run some tests and confirm here once it all looks good!

[2016-10-18 08:23] scorta-d opened #6386 "Add support for delegation token in hive plugin"
Currently hive plugin supports only kerberos authorization. The problem is with kerberos enabled performance degradation is essential. Some not very complicated queries run up to eight time slower.
The solution is Delegation Token usage, with exported HADOOP_TOKEN_FILE_LOCATION environment variable, the problem is this token file expires, even when token was renewed every four hours. After a week

[2016-10-18 12:23] RobinUS2 commented on #6365
@electrum I checked with changing some things in the pom to resolve the dependencies in a way that worked. The issue seems to remain the same https://github.com/RobinUS2/presto-bloomfilter/issues/20 I checked actually with debug and the same code is touched (of the accumulator compiler)  during the presto-bloomfilter plugin test suite without options. But it doesn't work runtime on a full server.

[2016-10-18 12:41] ArchaB commented on #6152
Thanks

[2016-10-18 13:41] martint commented on #6385
There's a PR in progress to support this: https://github.com/prestodb/presto/pull/5323

[2016-10-18 14:16] cawallin commented on #6380
Can you elaborate a little, is this to save space when building? The RPM is about the same size as the server tarball, which is expected.

[2016-10-18 14:55] electrum commented on #6380
This is to make the RPM itself smaller and save space on local disk, Maven repos, etc. The tarball should also use hard links, but that's a separate project.

[2016-10-18 15:55] #6317 closed

[2016-10-18 15:55] #6321 closed

[2016-10-18 16:13] #6318 closed

[2016-10-18 16:29] #6344 closed

[2016-10-18 18:01] electrum commented on #6365
How can I reproduce this?

[2016-10-18 19:42] paulrevere4 commented on #6202
@martint Hi I'm looking to submit a PR for this but I want to run the full test suite, what's the best way to do that? mvn clean install test ?

[2016-10-18 19:45] martint commented on #6202
`mvn clean install` should be sufficient

[2016-10-18 19:48] paulrevere4 commented on #6202
Great thanks

[2016-10-18 19:49] martint commented on #3232
Here's a simpler repro:

[code]

[2016-10-18 20:11] electrum commented on #6369
Just saw another failure:
[code]

[2016-10-18 20:55] buremba opened #6390 "Add dependency injection support for custom functions"
Following up the discussion in Google Groups ([link](https://groups.google.com/forum/#!topic/presto-users/y_nsBCTP1GU)), it would be nice if Presto could construct custom functions with Guice in order to allow them to be able to use external variables such as `TypeManager` and `BlockEncodingSerde`.

[2016-10-18 21:03] buremba commented on #6253
@martint In this case, the issue is the total splits usually increase when the percentage is around 90%. Is this possible?

[2016-10-18 22:09] martint commented on #6253
When you say presto-client, do you mean the CLI? In that case, it shouldn't be possible. The CLI only displays a percentage when the server indicates that it's discovered all splits. If it's not behaving that way, it's a bug.

[2016-10-18 22:15] electrum commented on #6390
I just looked at the code and found that all of the aggregation function methods are assumed to be static. Maybe it would be better to pass these as arguments to the methods?

I think we'll need to convert some functions like `array_agg` to the annotation framework to see exactly what is required and decide on how it should work.

[2016-10-18 22:15] electrum commented on #6382
Are you referring to the PostgreSQL connector?

[2016-10-18 22:21] buremba commented on #6253
Nope, It's the StatementClient from presto-jdbc package: https://github.com/rakam-io/rakam/blob/master/rakam-presto/src/main/java/org/rakam/presto/analysis/PrestoQueryExecution.java#L165

We're still using 0.151 but planning to switch to 0.153. If nothing is changed about query execution between these releases, I can debug the issue. Otherwise I can get back to you if the issue still occurs in 0.1

[2016-10-18 22:22] electrum commented on #6380
I did a bit of searching, and it turns out that even though an RPM (cpio) can include hard links, they might be stored as full copies. If so, this isn't useful, other than saving space after the RPM is unpacked.

The first step here is to try creating an RPM using the normal RPM tools and make sure it only stores the copy once (make sure the duplicate files are large enough not to be within the gz

[2016-10-18 22:25] buremba commented on #6390
I'm copying the post that I wrote in Google Groups:

Since the new annotation framework only allows empty constructors, we will need to use a nasty workaround for the value of `legacyArrayAgg` in `ArrayAggregationFunction` in order to convert `array_agg` to the new annotation framework.

[2016-10-18 22:29] electrum commented on #6252
We actually do that predicate optimization for Hive buckets in the Hive connector (might only support a single value for equality). Now that we support this in the engine, we might be able to do it generically.

I mean that consistent hashing would not meet the requirements needed to tell the Presto engine that the table is bucketed (the engine would produce incorrect results).

[2016-10-18 23:06] martint commented on #6253
Oh, that code is wrong. You need to check whether `stats.isScheduled()` is true before you can compute the percentage. That will signal when all splits have been discovered, and it guarantees totalSplits won't change anymore.

Take a look at: https://github.com/prestodb/presto/blob/master/presto-cli/src/main/java/com/facebook/presto/cli/StatusPrinter.java#L288

[2016-10-18 23:19] buremba commented on #6253
Oppss, sorry for the confusion. At the time when we wrote this code, JDBC adapter didn't have progress support. We will switch to it, thanks @martint !

[2016-10-18 23:19] #6253 closed

[2016-10-18 23:34] martint opened #6391 "Support lambda expressions in aggregation functions"
Once lambda expressions are added, we should add support for using them in aggregation function contexts. This will make it possible to model virtually any aggregation behavior without having to write custom aggregation functions.

[2016-10-19 00:06] mkaja commented on #6382
yes

[2016-10-19 00:24] haozhun opened #6392 "Use RE2J for LIKE expression"
Currently, we use Joni.

[2016-10-19 00:44] flin-aa commented on #3994
i run into same issue, i am using EMR 4.7.0. Any updates? did you resolve this issue?

[2016-10-19 02:09] electrum commented on #6392
Some expressions such as `LIKE '%%%%%x%` can use exponential time.

[2016-10-19 05:56] xerial commented on #6158
Spark also requires this PreparedStatement support when using presto-jdbc.

[2016-10-19 11:24] RobinUS2 commented on #6365
1. Build the presto-bloom filter master (mvn clean install)
2. Copy the zip file to the nodes + unzip into the plugin folder
3. Execute below queries on catalog hive
[code]
4. Yields the error above

[2016-10-19 13:44] KishorBaindoor opened #6397 "Running presto sql script from cli - not able to see time taken by the query."
Hi ,

I am using below command to run sql query. I am able to get the result of the query. But I am not able to find the time taken by query with this way. In case hive by using 2> ,  we can get details of query execution.

 ./presto-cli-0.152-executable.jar --server serverIp:port  --catalog hive --schema databaseName -f  ~/Scripts/Presto/q1.hql

[2016-10-19 16:12] cberner commented on #6390
Could you describe in more detail why you need access to the `TypeManager` and `BlockEncodingSerde`? Most functions don't need a `TypeManager` and can instead use the `TypeParameter` annotation

[2016-10-19 16:43] buremba commented on #6390
We have a custom type called `set<E>`, the implementation is similar to `GroupByHash`. We handle specific types such as `set<bigint>` similar to what you did with `BigintGroupByHash` for performance reasons but in order to be able to support all comparable types we use a similar algorithm to `MultiChannelGroupByHash`. We store a BlockBuilder for storing unique values similar to  `currentPageBuilde

[2016-10-19 17:37] electrum commented on #6397
We should add an option to show the stats for non-interactive queries. For basic timing, you can use the UNIX "time" command: https://linux.die.net/man/1/time

[2016-10-19 17:58] electrum commented on #6365
I think the error is caused by having a non-test dependency on `presto-main`. When I remove that by making it `<scope>test</scope>` (as I did in my PR), the plugin works. Otherwise, I can reproduce this error.

A plugin should only depend on `presto-main` for tests (and that's only a convenience for testing -- you can write your tests however you want).

At runtime, the plugin class loader will on

[2016-10-19 19:44] ChrisMcPherson commented on #3994
I was directed by AWS support to upgrade to EMR 5.0 to resolve the problem fully. Aside from upgrading EMR, AWS also suggested that I use an external metastore (in a mysql RDS instances for example). Here are some references if you decide to setup an external metastore:
http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/MySQL.Procedural.Importing.SmallExisting.html
http://docs.aws.amazon.com/El

[2016-10-19 19:53] csliu commented on #5350
@geraint0923 @cberner is there any update on this? We also see this error in our use cases.

[2016-10-19 20:58] paulrevere4 commented on #6202
PR to resolve this issue is at #6400

[2016-10-19 22:16] cberner commented on #6390
I see. Why did you chose `Slice` as the native container type, rather than `Block`?

[2016-10-19 22:26] buremba commented on #6390
I actually tried to use `Block` since it seems to be a good candidate but run into an issue that I don't remember. Maybe I should try it again, I feel like I should write more code comments. :)

[2016-10-19 22:28] cberner commented on #6390
Ya, try out `Block`. It's not a perfect fit for a set, but it seems like a better fit than `Slice` and should allow you to avoid the issues with serialization and deserialization

[2016-10-19 23:22] #5969 closed

[2016-10-19 23:56] #6320 closed

[2016-10-20 07:56] yushantao opened #6405 "when join tables presto does not automate trim"
Today i download the latest version 0.154 and i found some tasks(when JOIN tables action) did not work correctly, So i found that earlier version of presto did auto trim space,This version does not automate,Hope fix this&&best wishes~
![qq20161025-04](https://cloud.githubusercontent.com/assets/9460491/19675439/dcf7f768-9ac0-11e6-8e8e-d9ca95dbc824.jpg)

[2016-10-20 16:02] #6369 closed

[2016-10-20 18:24] geraint0923 opened #6407 "Incorrect result when using MAP in IN expression"
In the latest master:

[code]

[2016-10-20 19:08] haozhun commented on #6392
@dain expressed opinions against doing this without understanding why RE2 is slower for some LIKE patterns. I'm going to first do some pre-processing of LIKE patterns, and see if there are patterns that are still significantly slower.

[2016-10-20 19:10] erichwang opened #6408 "Allow setting Raptor table organization via table property"
Currently the Raptor table organization property is a hidden flag that must be set in the Raptor database via admin access only (a user cannot set this). It should instead be settable via table properties and visible in:
1. the raptor system tables metadata
2. show create table for raptor tables

[2016-10-20 20:06] dain opened #6409 "Explain of a cross join should not display as an inner join"
The following should print `CrossJoin` instead of `InnerJoin[]`

[code]

[2016-10-21 04:36] #6407 closed

[2016-10-21 06:42] abhishek-shenoy commented on #2837
I have taken a git clone of 0.154 but i am still getting the  mojo exception and i am using maven 3.3.9 and Java 8 update 66

Failed to execute goal pl.project13.maven:git-commit-id-plugin:2.1.13:revision (default) on project presto-spi: Could not complete Mojo execution... Error: NullPointerException -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal pl.pro

[2016-10-21 08:59] RobinUS2 commented on #6365
Thanks @electrum I missed that while trying to resolve the issue with versions of jetty, so I kind of manually cherry picked what I thought we needed in the pom and what not: missed this important one. Apologies for getting back again but this one is now solved and running nicely in production.

[2016-10-21 08:59] #6365 closed

[2016-10-21 17:02] martint opened #6414 "Test failures when UnaliasSymbolReferences is disabled"
Some tests in AbstractTestQueries fail with the following error. This could by a symptom of a latent bug, since the main purpose of this optimizer is just to normalize names so that plans look better when printed (it also helps dedup some computations):

[code]

[2016-10-21 18:39] electrum opened #6415 "Document supported JSONPath syntax for JSON functions"

[2016-10-21 19:11] electrum opened #6416 "CLI hangs when initial output is short"
This query is a good reproduction (change the values based on cluster size):

[code]

Sequence:
1. CLI shows progress for a few seconds while both subqueries run.
2. First subquery finishes and produces an output row. The second subquery keeps running.
3. CLI clears the progress display, executes the pager process and starts writing output to the pager.
4. The buffer in `OutputHandler` waits 3 sec

[2016-10-22 08:18] zhenxiao opened #6419 "CreateView, DropView are not put in expirationQueue"
Seems CreateView, DropView are not put in expirationQueue in SqlQueryManager, this would introduce leaks.

[2016-10-22 21:27] jdmaturen opened #6420 "Error with VALUES and AT TIME ZONE"
[code]

Expectation is that both queries would have the same result.

Tested in master as of 76137c5aff5d5704ea9999e62d6d9d2fa302bacc.

[2016-10-24 09:24] kokosing commented on #6288
I posted a PR that add support for scalar table functions. Scalar here means that for every single input row, table functions can return multiple rows. It leverages the `UNNEST` code. The main difference between `UNNEST` and `TABLE` is for input type `ARRAY<ROW<BIGINT, VARCHAR>>`, `UNNEST` will return a relation with single column `<ROW<BIGINT, VARCHAR>` while `TABLE` will return two columns `BIGI

[2016-10-24 11:35] yuananf commented on #6106
Fixed by #6115

[2016-10-24 11:35] #6106 closed

[2016-10-25 07:31] yuokada commented on #4130
@dain @martint (CC:  @yuananf ) It seems 1 year has passed since the last update, I  want to solve this issue. Can I have a try?

[2016-10-25 08:05] pnowojski opened #6432 "Fix merging big pages in aggregation spilling"
Currently `MergeHashSort` guarantees that:

If each row is huge (like containing `max(VARCHAR)` aggregator for large column), this can produce large output Pages, for which memory is not accounted anywhere. This memory should either be accounted or `MergingHashAggregationBuilder` should handle rows with same key that are split in consecutive pages.

Further more. `MergeHashSort` holds in memory on

[2016-10-25 08:32] ebuildy commented on #3057
Should not be better to have a connector to Apache Lucene instead Elasticsearch HTTP API ?

BTW you could use Hive external table elastisearch (via elasticsearch-hadoop official hive connector) and query it from PrestoDB.

[2016-10-25 08:35] ebuildy commented on #3239
@sumanth232 it depends on your ES cluster topology and connector. Is your connector scroll in parallel each index shards? Don't except low-latency with an HTTP connector.

[2016-10-25 10:08] ebuildy commented on #2508
Since this issue is still opened, do you advice to not use nested schema with PrestoDB ? (I know Apache Drill cannot read Hive struct already).

[2016-10-25 11:24] corneversloot commented on #3057
Well, first of all the driver uses the transport API and not the HTTP one. I think you actually do want to use Elasticsearch because it provides distributed query execution and high availability.

The Hive connection you mention should work I think although I must admit i have never used it.

[2016-10-25 14:57] amitna1r commented on #4130
@yuokada , please go ahead

[2016-10-25 17:44] zhenxiao commented on #2508
we have a Pull Request to resolve this problem, which could significantly improve Parquet struct performance:
https://github.com/prestodb/presto/pull/5547

@ebuildy you could apply the patch, and try it.

[2016-10-25 18:26] electrum opened #6434 "Flaky TestRaptorIntegrationSmokeTestBucketed.testCreateBucketedTable"
This might be caused due to compaction running during the test.

[code]

[2016-10-25 18:37] ebuildy commented on #2508
Thanks you @zhenxiao , I will.

[2016-10-25 19:17] zaynoon opened #6435 "Indicate if a query is secured in the presto coordinator ui"
At the moment there is no visual indicator for queries that are secure vs queries that have no authentication.

[2016-10-25 21:02] paulrevere4 commented on #6145
@electrum Can I take this one?

[2016-10-25 21:07] electrum commented on #6145
Go for it!

[2016-10-26 00:39] AlekseiS commented on #6416
I cannot reproduce it on local machine with "master" branch. For me after 3 sec delay I see column header and the first row. The query I used locally is:
[code]
Are there additional conditions to reproduce it?

[2016-10-26 01:19] yuokada commented on #4130
@electrum Can I implement in either UDF or native function?

[2016-10-26 01:30] martint opened #6436 "Incorrect memory accounting for Hash Aggregation operator"
The following query reports peak memory that varies wildly from cluster to cluster and run to run. I've seen numbers ranging from 0 GB to 20 GB. It seems to be sensitive to how much concurrent work is being performed, how fast work completes, etc.

For instance, in one cluster, setting task_concurrency to 1 causes it to report ~2 GB. With a task_concurrency of 2 or higher, it reports 0 GB.

In ano

[2016-10-26 01:42] martint commented on #6436
There are 99,999,998 distinct values of orders.custkey in SF 1000, so the size of the aggregation should be at least 1.6 GB (8 bytes for the key, 8 bytes for the count, plus per-entry overhead).

[2016-10-26 02:21] martint commented on #6436
As @dain suggested, this might be due to partials being tracked as user memory instead of system memory.

[2016-10-26 02:23] martint commented on #6436
@haozhun, can you work on this?

[2016-10-26 15:42] electrum commented on #4130
Presto doesn't have "UDF", only functions,
which can be built into the engine or provided by plugins. This should be built in.

[2016-10-26 16:08] yuokada commented on #4130
Ok, like this?
https://github.com/prestodb/presto/pull/6437

[2016-10-26 18:09] paulrevere4 commented on #6145
PR is out, #6439.

[2016-10-26 19:47] martint opened #6440 "Make PROPERTIES, INCLUDING and EXCLUDING unreserved keywords"
This commit (055b1df2c4d8f6c220a280a0175b8542177d3753) added support for CREATE TABLE LIKE, but did not mark those keywords as unreserved. As a result, any queries that referenced columns with those names without quoting fail in the new version.

[2016-10-26 19:58] haozhun opened #6442 "Cumulative memory works on system memory (it shouldn't)"
TaskContext line 345-351. There may be other places where the same bug exists.

[2016-10-26 20:01] dain opened #6443 "Operator.isFinished should not do major work"
`ScanFilterAndProjectOperator.isFinished` and `TableScanOperator.isFinished` are both creating PageSources which can result in major work (e.g., block reading from HDFS) and neither of these methods have timings.  These operators should be changed to not do this.

[2016-10-26 20:01] juanpampliega commented on #5350
Hi, are there any news on this issue. What does the Page too large size depend on?

[2016-10-26 20:17] sopel39 commented on #6414
I will take a look

[2016-10-26 20:32] electrum opened #6444 "ScanFilterAndProjectOperator is missing memory tracking calls"
`TableScanOperator` has calls in `isFinished()` and `finish()` that are missing in `ScanFilterAndProjectOperator`.

[2016-10-26 20:37] #6440 closed

[2016-10-26 21:22] electrum opened #6446 "Flaky test TestQueues.testSqlQueryQueueManager"
[code]

[2016-10-26 23:56] #6379 closed

[2016-10-27 00:14] #6443 closed

[2016-10-27 00:27] electrum opened #6448 "Weird stack trace from failures in Travis"
This is the `TEST_MODULES=presto-tests` job.

[code]

[2016-10-27 00:38] #6446 closed

[2016-10-27 01:05] yuokada commented on #4130
I have some questions.

1. need to support negative value?
    `formatCount` isn't support negative value. So, this one too.
  https://github.com/prestodb/presto/blob/master/presto-cli/src/main/java/com/facebook/presto/cli/FormatUtils.java
1. need to support Datatype `Decimal`?
    I thins that this function need not precision.

[2016-10-27 02:24] martint opened #6449 "Incorrect plan when hash pre-computation is on"
Give this table:

[code]

The following query may randomly produce an invalid plan, which causes the query to produce 0 as a result instead of 1.

[code]

Correct plan:
[code]

Incorrect plan:
[code]

The join appears to be using the following hash:

[code]

which has its inputs reversed, compared to the ones used for the aggregation and shuffle.

This issue happens in master (after 0.154), and is

[2016-10-27 02:30] martint commented on #6449
@sopel39, can you take a look?

[2016-10-27 02:35] martint commented on #6449
A simple repro:

[code]

[2016-10-27 03:55] haozhun opened #6450 "checksum fails for arrays with null elements"
[code]

[2016-10-27 04:03] martint commented on #6450
I think this was fixed recently in master

[2016-10-27 11:45] sopel39 commented on #6449
@martint this is caused by `PredicatePushDown` running after `AddExchanges` optimizer. `AddExchanges` specifies symbols for partitioning based on join conditions. Then `PredicatePushDown` alters join conditions (aliases symbols and reorders clauses). This confuses `HashGenerationOptimizer` so that it doesn't recognize anymore that `ExchangeNode` symbols are the same as join condition symbols.

The

[2016-10-27 13:03] sopel39 commented on #6449
I think that https://github.com/prestodb/presto/pull/6451 fixes the issue too. `PredicatePushdown` creates unnecessary aliases. I've optimized that. I hope that is the only cause for behavior mentioned in the comment above (https://github.com/prestodb/presto/issues/6449#issuecomment-256619011)

[2016-10-27 16:54] dain commented on #3431
In the latest release, you should be able to do this in a transaction like this;
[code]
With this Presto will not write the tables to the metastore at all.  If you want to create a table and commit in the transaction, simply drop the tables at the end.

[2016-10-27 17:13] martint commented on #6449
That shouldn't cause it to generate an incorrect plan, though. At most, it should be a less efficient one.

[2016-10-27 17:42] sopel39 commented on #6449
Symbols used for join partitioning are different than symbols used for hash generation. This is a bit strange when reading plan although it was correct in `PredicatePushDown` case. There is a silent assumption though that none of the optimizers between `AddExchanges` and `HashGenerationOptimizer` will logically change join clause symbols.

[2016-10-27 21:23] martint opened #6457 "Track per-operator peak memory"
Being able to compute the worst-case memory usage for a query requires knowing what was the peak amount of memory used by each operator. We currently track instantaneous peak memory, which is sensitive to scheduling decisions and timing.

[2016-10-27 22:45] haozhun commented on #6436
HashAggOpreator and AggOperator exempts 16MB (`task.operator-pre-allocated-memory`) per operator for the purpose of memory accounting. The exemption applies regardless of output-partial. #6455 removes this exemption for non-output-partial aggs. This is the reason why we see 0GB in some cases

I looked at the original query that lead to @martint filing this task. The peak memory usage for the query

[2016-10-27 22:45] #6436 closed

[2016-10-27 23:05] Yaliang opened #6460 "hive RetryDriver stop on PrestoException"
In [presto-hive/src/main/java/com/facebook/presto/hive/metastore/ThriftHiveMetastore.java#L815](https://github.com/prestodb/presto/blob/43385572eefc06500074df0079163e83f128dbfd/presto-hive/src/main/java/com/facebook/presto/hive/metastore/ThriftHiveMetastore.java#L815), the RetryDriver puts `PrestoException` in whitelist while when creating a metastore client, it may throw a `PrestoException` from

[2016-10-27 23:29] #6313 closed

[2016-10-27 23:38] nezihyigitbasi commented on #5350
I have seen this with very large rows. I think it's related to the config `exchange.http-client.max-content-length` (you can see the default from the server logs, on the version I run it's `16MB`), if a response is larger than this threshold than this exception is thrown.

[2016-10-28 00:14] haozhun commented on #3569
Fixed in #6091 by @idemura

[2016-10-28 00:14] #3569 closed

[2016-10-28 00:18] haozhun opened #6461 "Followups for DISTINCT FROM fix"
- [x]  GROUP BY: #3568
- [ ]  JOIN: #4075
- [x]  Hash for row: #5278
- [x]  Hash for array: #6450

[2016-10-28 00:20] haozhun commented on #6450
We didn't change `ArrayType.hash` or `ArrayHashCodeOperator`

[2016-10-28 01:13] martint commented on #6449
After some debugging and analysis, I think I have better understanding of what's causing the issue. The problem is that both exchanges on the sides of a distributed join need to agree on the order of arguments to compute the hash function. Because some fields have aliases, and the preferences are expressed in terms of a set that is different from the ones used to describe the partitioning function

[2016-10-28 01:18] buremba opened #6464 "Support parametrized types in aggregation framework"
The new annotation based aggregation framework doesn't seem to support parametrized types. For example the aggregation framework expects AccumulatorStateSerializer to has a zero argument constructor but the accumulator usually needs to know the parameter type in order to be able to serialize it.

Also when I the following query causes Presto to throw NPE: `select array_agg_test(1)` because it trie

[2016-10-28 01:20] martint commented on #6449
Reverted by 827f898d5fef158624112f4f2ee7f5d92f160be6

[2016-10-28 01:20] #6449 closed

[2016-10-28 02:51] martint commented on #6450
Ah, it hasn't been merged, yet: https://github.com/prestodb/presto/pull/6429/files

[2016-10-28 07:37] RobinUS2 commented on #3431
That sounds like a much better workaround 👍  thanks!

[2016-10-28 19:58] elonazoulay opened #6468 "Add query time limits to resource group config"
We would like to add queued and running timeouts to the new resource group configs.

[2016-10-28 21:40] electrum opened #6471 "Rename "id" column to "resource_group_id" in ResourceGroupsDao"
All the queries and tests need to be updated to match.

[2016-10-28 22:04] electrum opened #6473 "Remove duplication in H2ResourceGroupsDao"
The two copies of the class are nearly identical. This can be fixed by adding a `<type>test-jar</type>` dependency on `presto-resource-group-managers` in `presto-tests`.

[2016-10-29 05:16] geraint0923 commented on #5350
I am working on the fix, the fix would be on the airlift side. Since it is a sensitive fix, I am still testing the fix to see if it break anything. Hopefully it should be available in several weeks.

[2016-10-30 14:20] RobinUS2 opened #6477 "Add list of plugins to documentation"
I would propose we add a list of plugins of 3rd parties to a page in the documentation so there's a nice overview (maybe categorize them in some way) where to look at if you'd like to extend the Presto base with an existing plugin. Any thoughts on that?

[2016-10-30 14:21] RobinUS2 commented on #6334
@martint would you have time to take a brief look at what I believe looks strange above? If it's nothing we can close this issue and forget it : )

[2016-10-30 22:18] kokosing opened #6480 "Support correlated subquery with aggregation on DISTINCT column"
This comes from: http://stackoverflow.com/questions/40299323/how-to-remove-correlated-subquery-in-my-subselect-due-to-presto-limitation

[code]

[2016-10-31 15:08] #6319 closed

[2016-10-31 15:12] electrum commented on #6120
This situation can be created by doing `CREATE TABLE a`, `CREATE VIEW b AS SELECT * FROM a`, then replacing the table with a view `DROP TABLE a`, `CREATE VIEW a AS SELECT * FROM b`

[2016-10-31 15:17] rongrong commented on #5893
What should be the expected behavior?

[2016-10-31 15:56] rongrong commented on #6223
I'll give this one a shot.

[2016-10-31 17:17] rongrong commented on #6120
In which catalog does this problem exist?

[2016-10-31 17:21] martint commented on #6120
In any connector that supports views (e.g., hive). Note that it's an analyzer issue, not a problem in the connectors.

[2016-10-31 17:34] rongrong commented on #6120
I got the following when using raptor:
  Failed analyzing stored view 'raptor.system.b': line 3:3: Table raptor.system.a does not exist

[2016-10-31 17:55] nezihyigitbasi commented on #5194
Another related PR is #6483, which provides a read-only REST interface to the resource groups (+ reloadable `FileResourceGroupConfigurationManager`)

[2016-10-31 18:16] martint commented on #6334
Yeah, we should probably fix that last issue you mentioned. The planner is implementing `a IN (x, y, z, ...)` as `a = x OR a = y OR a = z`, which is not efficient if computing `a` is expensive.

[2016-10-31 18:22] rongrong commented on #6223
Working on it in #6481

[2016-10-31 19:09] raghavsethi opened #6484 "Hash partition on GroupId in aggregation exchanges"
This helps in the case where there is a global aggregation and all the finals have to be processed by a single machine. Adding GroupId to the the partitioning will help distribute to a small number of machines.

[2016-10-31 19:20] martint commented on #6484
Specifically, it can help distribute work when the number of grouping sets is large, which can make queries run faster and be able to take advantage of more memory.

[2016-10-31 20:20] dain opened #6486 "Expression in ON clause not removed when implicit cast inserted in comparison"
In the following query the expression `a.comment = 'x'` should be removed from the `ON` clause, but once the engine inserts the implicit widening cast `CAST('x' AS VARCHAR(79)))` the expression is not removed.

[code]

[code]

[2016-11-01 07:22] ujjwal009 commented on #6262
full stack trace:

java.lang.IllegalStateException: BoundedExecutor is in a failed state
	at com.google.common.base.Preconditions.checkState(Preconditions.java:173)
	at io.airlift.concurrent.BoundedExecutor.execute(BoundedExecutor.java:54)
	at com.facebook.presto.hive.HiveSplitManager$ErrorCodedExecutor.execute(HiveSplitManager.java:317)
	at com.facebook.presto.hive.util.ResumableTasks.submit(Resu

[2016-11-01 07:23] ujjwal009 commented on #6262
Sample failed query :

presto:hive_q161005_rel> select distinct scenario_type from table;
Query 20161101_072044_00051_ktbhi failed: BoundedExecutor is in a failed state

[2016-11-01 07:25] ujjwal009 commented on #6262
Config.properties:

coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port=8180
query.max-memory=20GB
query.max-memory-per-node=4GB
#task.max-memory=4GB
discovery-server.enabled=true
discovery.uri=http://node1:8180
task.max-worker-threads=5

Lastly:

Connector is hive

[2016-11-01 15:07] #6240 closed

[2016-11-01 19:24] dain commented on #6262
You should see this message in your logs "BoundedExecutor state corrupted due to underlying executor failure” from this line https://github.com/airlift/airlift/blob/master/concurrent/src/main/java/io/airlift/concurrent/BoundedExecutor.java#L66

Can you check the logs and see if there is a OutOfMemroyError or a stack trace from within BoundedExecutor?

-dain

[2016-11-01 19:26] dain opened #6491 "Categorize "Unsupported correlated subquery type" exception"
[code]

[2016-11-01 20:26] dain opened #6493 "IllegalStateException from query with scalar subquery in onclause"
[code]

[code]

[2016-11-01 20:42] buremba opened #6494 "Add support for database schema evolution in Raptor"
AFAIK, currently there is no schema evolution support in Raptor connector. When you make any changes in schema, we need to update the schema manually.

We may use [Flyway](https://flywaydb.org/) for schema evolution, it also has Apache license and quite easy to use. It creates a migration table when installed and keep track of changes between releases using that migration table. All we need to do