[2019-06-26 16:08] findepi commented on #8980
@x90004942 for help with prestosql please join the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/community.html)

[2019-06-26 18:37] #12361 closed

[2019-06-26 18:59] bolkedebruin commented on #8980
@x90004942 I apologize it seems that with a different invocation some extra jars are needed in the plugin directory (plugin/ranger/ranger-impl). You can just pick those up and add them and it will start to work:

commons-codec commons-codec-1.12
com.kstruct gethostname4j-0.0.3
com.sun jna-3.0.9.jar

I will update the plugin in Ranger to add those.

[2019-06-26 20:47] gurinderiitr commented on #12880
Yes, I am able to connect to ES on 127.0.0.1:9200 via 'elastic-search head' plugin.
I change the port to 9300 when connecting via command line. I tried both 9200 and 9300 though, but they throw the same error.

[2019-06-27 02:22] x90004942 commented on #8980
thank you
I have put these jar into directory ranger-impl, like below. but I also got the same error.
is there anything I did wrong?

ll direcotry:

root@slave3:/opt/presto316/presto-server-316-SNAPSHOT/plugin/ranger/ranger-presto-plugin-impl# ll
total 30284
drwxr-xr-x 3 root root    4096 Jun 27 10:13 ./
drwxr-xr-x 3 root root    4096 Jun 25 11:30 ../
-rwsrwsrwt 1 1003 1002   41123 Nov 26  2018 co

[2019-06-27 05:18] bolkedebruin commented on #8980
Its not the same:
Caused by: java.lang.UnsatisfiedLinkError: Unable to load library 'c': /usr/lib/x86_64-linux-gnu/libc.so: invalid ELF header

This you need to fix yourself as that is not an issue with the plug-in but an is errot

[2019-06-27 09:19] groobyming opened #13021 "Does presto support add partiton for table of hive"
When  I  execute the “ALTER TABLE ... add partition...”  statement in   presto-cli，then got the error！
![image](https://user-images.githubusercontent.com/34335395/60253914-85c6ee00-98ff-11e9-9206-2edbf6b7a693.png)

[2019-06-27 12:06] shigemk2 opened #13022 "GENERIC_INTERNAL_ERROR: String index out of range when using multibyte string in date_format's format"
I had an error when executing this query.

[code]

I know the solution is not using multibyte string in date_format's format, but I want to know the reason.

https://github.com/prestodb/presto/blob/28ec8f43fec01a6cd7bdec2d48852bf133ad2896/presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java#L667-L685

[2019-06-27 17:05] caithagoras commented on #12049
Addressed by recent verifier changes

[2019-06-27 17:05] #12049 closed

[2019-06-27 17:05] #9322 closed

[2019-06-27 17:12] caithagoras opened #13023 "[Verifier] Support re-queuing certain types of failure"
If we see failures such as `HIVE_PARTITION_DROPPED_DURING_QUERY`, we can re-queue the verification to give it another try rather than directly failing.

A list of failure types that can potentially be re-queued:
- NO_NODES_AVAILABLE
- SERVER_STARTING_UP
- SERVER_SHUTTING_DOWN
- HIVE_PARTITION_DROPPED_DURING_QUERY
- HIVE_TABLE_DROPPED_DURING_QUERY

cc @mayankgarg1990

[2019-06-27 17:24] caithagoras opened #13024 "[Verifier] Auto-resolve HIVE_TOO_MANY_OPEN_PARTITIONS"
We sometimes see `HIVE_TOO_MANY_OPEN_PARTITIONS` from the test query. This failure might be due to the test cluster being smaller than the control cluster and thus each worker has been assigned more partitions to write than the allowed limit (100).

cc @mayankgarg1990

[2019-06-27 17:30] caithagoras opened #13025 "[Verifier] Introduce skipped_reason"
To improve the confidence of Verifier results, we need to have a better insight of why verification are skipped.

cc @mayankgarg1990

[2019-06-27 22:42] #12776 closed

[2019-06-28 01:50] ebyhr commented on #13021
ALTER TABLE ADD PARTITION isn't implemented in Presto.
https://prestodb.github.io/docs/current/sql/alter-table.html

If you are using [prestosql/presto](https://github.com/prestosql/presto), you can use `system.create_empty_partition` and  `system.sync_partition_metadata` command to add partitions.
https://prestosql.io/docs/current/connector/hive.html

[2019-06-28 01:56] ebyhr commented on #13022
The root cause is here.
https://github.com/prestodb/presto/blob/28ec8f43fec01a6cd7bdec2d48852bf133ad2896/presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java#L1173-L1180

[2019-06-28 02:48] ebyhr commented on #13022
The reason is L1179 uses byte length as the exit condition, but L1180 uses chartAt. Thus, the for loop tries to access missing index.

When you face the issue in Presto, the stacktrace will be helpful. You can get it from Web UI or CLI's --debug option. In this case, we can get below stacktrace.
[code]

[2019-06-28 06:03] shigemk2 commented on #13022
Thank you for your comment.

I think this is Presto's bug.

Is this worth to fix this bug?

[2019-06-28 06:15] ebyhr commented on #13022
Yes, it's Presto's bug (not library's). Sent PR to fix this issue. https://github.com/prestodb/presto/pull/13031

[2019-06-28 17:41] #13022 closed

[2019-06-28 18:31] #10644 closed

[2019-06-28 18:37] rschlussel commented on #12826
@hellium01 explained that this was because index joins were written before yield was implemented.  when the server for the index join is slow, this can happen.

[2019-06-29 13:39] gyson commented on #12988
Thanks for you suggestion. Serializing these HLLs as `P4HyperLogLog` would take too much space because majority of our HLLs are currently in sparse format.

We would continue to use it via UDF plugin.

[2019-06-29 13:39] #12988 closed

[2019-06-30 06:04] bb786112 commented on #11806
Hi,

I am also working with the username & password and also enabled Https & created .jks file. But I am getting the below error.

Error running command: javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: s
un.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

Could you please

[2019-07-01 11:43] groobyming commented on #13021
@ebyhr Thanks，It's working for me

[2019-07-01 11:43] #13021 closed

[2019-07-01 11:43] aewhite commented on #5085
Is this feature documented anywhere? I only found it because https://stackoverflow.com/questions/55504820/presto-filter-array-of-rows-inside-aggregation

[2019-07-01 11:45] groobyming opened #13037 "High availability for coordinator service"
Hi，
     I'd like know how can I setup the deployment with active coordinator and standby(or another active) coordinator.

[2019-07-01 15:10] PranayMunshi1982 opened #13038 "How to use Presto Configuration parameters dynamically"
Hi team,

I am writing one application to optimize the Presto, and show the recommendations after running each query based on cluster stats. I want to use
Presto config properties dynamically from my Java program. I know I can place Presto configuration properties inside “etc/config.properties” file, but in order to take advantage of properties I need to restart the presto server. What I want I sh

[2019-07-01 16:05] tooptoop4 commented on #9012
getting the same issue, if only 1 query is running on its own then finishes in less than 2mins. But if that same query is running in 2 sessions in parallel then one session finishes in 2mins but the other session takes 15mins.

 "queryStats" : {
    "createTime" : "2019-07-01T15:47:16.880Z",
    "executionStartTime" : "2019-07-01T15:47:16.958Z",
    "lastHeartbeat" : "2019-07-01T15:52:04.410Z",

[2019-07-01 17:33] findepi commented on #13038
Since you're referring to prestosql, then https://github.com/prestosql/presto/issues is the right place to report issues.

[2019-07-01 19:45] rongrong commented on #13038
Many configuration properties listed in the list you referred to are not dynamically configurable. Some of these configurations need substantial amount of work to make them dynamically changeable. The configurations that you can "dynamically change" are session properties. You can find all of them via `SHOW SESSION`. If a configuration can be overwritten by a session property, it normally has a ve

[2019-07-01 19:48] rongrong commented on #13038
The corresponding Presto documentation for properties is here: https://prestodb.github.io/docs/current/admin/properties.html

[2019-07-01 23:26] wenleix commented on #12887
This is fixed by https://github.com/prestodb/presto/pull/12973 as a by-product.

[2019-07-01 23:26] #12887 closed

[2019-07-01 23:52] hellium01 opened #13044 "Improve test coverage to PropertyDerivations/StreamPropertyDerivations/AddExchange"
Currently there is no coverage on these modules and any change touch these modules can unexpectedly introduce bug in query plan.

[2019-07-02 06:11] zhenxiao commented on #13001
sorry for the late reply. Did not try username and password in Presto ES connector before
@TempleZhou do you have any hints?

[2019-07-02 06:14] zhenxiao commented on #12388
@gurinderiitr the error seems like Presto could not connect to Elasticsearch Search Node. Could you please share ur configured host and port?

[2019-07-02 06:17] zhenxiao commented on #12880
Hi @gurinderiitr seems like Presto could not connect to Elasticsearch
are you sure you are running Elasticsearch locally or setting up proxy so that it is approachable via 127.0.0.1?

[2019-07-02 06:49] PranayMunshi1982 commented on #13038
Thanks @rongrong for quick reply. I want to dynamically change the SESSION properties from JAVA code.
How can I do that, Can I get any example for the same?

[2019-07-02 08:30] x90004942 commented on #8980
thank you very much . i have solved this problem by putting A right libc.so into this directory.
now I can see my presto plugin in the Ranger web -- Audit--Plugins page , whose status is 200：)

then i add a service prestodev, using jdbc:presto://10.183.243.83:8090. when I test the connection , i got another error :

[code]

my presto server is configured with SSL. and i can access presto by ./pres

[2019-07-02 12:25] rongrong commented on #12500
@codope could you please ping airlift to get this merged? If they are not responsive feel free to directly write the function in Presto. Thanks!

[2019-07-02 12:32] rongrong commented on #13038
How do you connect to Presto server in your java code now? I can give you more specific pointers if you let me know what Presto client you are using right now. Thanks!

[2019-07-02 12:43] PranayMunshi1982 commented on #13038
I am connecting to Presto using JDBC.

JDBC_DRIVER="com.facebook.prsto.jdbc.PrestoDriver";
DB_URL="jdbc:presto//localhost:port/hive/schemaname";
PrestoDriver pd = new PrestoDriver();
Properties props = new Properties();
props.setProperty("user","name");

PrestoConnection connection = (PrestoConnection) pd.connect(DB_URL,props);
PrestoStatement stmt = (PrestoStatement) connection.createStatement();

[2019-07-02 12:44] rongrong commented on #13038
Then `connection.setSessionProperty` should work.

[2019-07-02 12:55] codope commented on #12500
@rongrong  I have pinged the team. Let's wait till this week. If that diff is not merged, I'll add the function to Presto directly.

[2019-07-02 13:13] PranayMunshi1982 commented on #13038
Thanks @rongrong for your quick help. This is really helping and worked for me.
I can see 91 session properties( by SHOW SESSION) but I am not sure which property I can tweak for my query performance and overall cluster level performance.
What should be the criteria to choose session property.

[2019-07-02 13:21] psyking841 commented on #13001
So, I don't think I have missed anything, it is just the "host" field in table definition does not support HTTP authentication in above form. My current workaround is to setup a proxy, and have the Presto server talk to the proxy what appends "username" and "password" to the HTTP Authentication header.

[2019-07-02 23:08] #12942 closed

[2019-07-03 01:32] zhenxiao commented on #13001
get it. nice workaround. We could either file a task to support it, or maybe add this workaround in the doc?

[2019-07-03 04:03] homura opened #13048 "How to escape at-sign(@) in mongo config file"
I have a MongoDB account that password includes at-sign(@)，the config file like this
[code]
Then I found presto Mongo connector uses a SPLITTER to split string for creating a credential. So it will make connect fail if a password includes some special character.

How to escape the at-sign(@) in my presto config file?

https://github.com/prestodb/presto/blob/c223482fcc06a40c818feb06e9cf1670fb08c12a

[2019-07-03 08:15] ChenShuai1981 opened #13050 "NPE when launch Presto 0.192 on Yarn 2.7.3"
I'm trying to run Presto on Yarn, and found coordinator & worker containers start and shutdown several times.

Then in the server.log I found the NPE error, after checking the TimeZoneKey source code I suspect the "zone-index.properties" file was NOT loaded correctly, then I checked the container files, for example, container_1562134619433_0004_01_000002/app/install/presto-server-0.192/lib/presto-

[2019-07-03 09:02] rongrong commented on #13038
This totally depends on your queries. I encourage you to read through them and try to understand what they do. Feel free to ask any questions if particular session property is hard to understand. If you have a particular problem to solve, you can also describe that so we can give suggestions.

[2019-07-03 09:25] rongrong commented on #13050
I don't have much background with Yarn. So just sharing how would I look into this one step further. Here's the code in `Properties.java:434`:
[code]
So if it's a NPE, it seems to suggest that inStream is not initialized, nor did reader. So I'd try to figure out why inStream is not initialized properly by looking into `TimeZoneIndex.class.getResourceAsStream`.

[2019-07-03 10:57] #8364 closed

[2019-07-03 12:21] PranayMunshi1982 commented on #13038
@rongrong
I am going thru the session properties, but I want to understand the performance impact of these properties. E.g. when I read "enable_intermediate_aggregations" session properties, its description says Enable the use of intermediate aggregations. Here it doesnt' say anything about performance impact on other parts of execution.

And I want to know one more thing about presto i.e. Is ther

[2019-07-03 13:21] psyking841 commented on #13001
@zhenxiao Thanks for your comments. A little bit digging into the issue on my side and I realized the cloud ES service we are using does not support port 9300, the RPC port (Maybe that is the reason our cloud provider has the authentication header?), which is used by Presto ES plugin. Actually it does take me a while to figure out Presto only does not use port 9200, the RESTful API port, so I DO r

[2019-07-03 14:39] rongrong commented on #13038
Here's the explanation of what does adding intermediate aggregation do in java doc (copied from `AddIntermediateAggregations.java`.
[code]
When disabled, we would run partial aggregation on each task, and shuffle the partial aggregation result to next stage, which does a local exchange, and do final aggregation. Intermediate aggregation is the stage we add at both source and destination where we w

[2019-07-03 16:56] mbasmanova commented on #13009
CC: @rschlussel @aweisberg

[2019-07-03 18:22] rschlussel commented on #13009
Two suggestions of similar solutions we were talking about at lunch today were
1. push down predicates but also keep the original predicate where it was.  The predicate that gets pushed down would be the original filter + any rows that get an error (so sort of like the predicate wrapped in a `try`) and then after the join we'd have the strict predicate that would throw an exception on errors
2. Pu

[2019-07-03 19:39] zhenxiao commented on #13001
Hi @psyking841 to improve parallelism and execution efficiency, Presto Elasticsearch Connector bypass Elasticsearch REST api, directly talking to Elasticsearch via Java api (we do not want to scan all data via one single Presto split, we'd like to parallel read Elasticsearch shards from different search nodes, which REST api does not expose). Do you think it is helpful to add special note for the

[2019-07-03 22:57] #8370 closed

[2019-07-04 07:42] ChenShuai1981 opened #13059 "[Presto on Yarn] Cannot connect to discovery server for announce: Announcement failed with status code 404"
I'm trying run Presto 0.192 on Yarn 2.7.3 in my local PC. NO standalone discovery service used. I found the presto container server.log has some errors as following which results in the coordinator and worker not startup. Could anyone give me some suggestions how to fix it? Thanks!

Btw, the problem seems similar with https://community.teradata.com/t5/Presto/Presto-Workers-unable-to-connect-to-Coo

[2019-07-04 13:19] axzhcode opened #13060 "response 500 error"
exception:
[code]

like https://github.com/prestosql/presto/issues/628
but prestodb restart error:
[code]

[2019-07-04 13:58] rongrong commented on #13060
We haven't upgraded airlift library to the version that adds support for `http-server.max-response-header-size` yet so this config is currently not available. We will upgrade it to include this in next release. In the meanwhile, you can change the version of airlift to 0.181 in pom.xml to enable this.

[2019-07-04 14:56] axzhcode commented on #13060
@rongrong ok

[2019-07-04 14:56] #13060 closed

[2019-07-04 14:59] axzhcode commented on #13060
@rongrong Does it have other solutions?

[2019-07-05 07:43] youzhanghao commented on #10918
Any help?

[2019-07-05 08:55] pomykalamichal commented on #10918
Hi, from our POV after some investigation:

1. _id of mongo documents has to be ObjectId data type (if it is string presto will not be able to read the data )
2. _schema of mongo DB is created based on first document inserted into collection. It means that if after some time the document content will change it is required to add those variables into _schema manually. _schemat will not be updated a

[2019-07-05 09:35] youzhanghao commented on #10918
Hi,After reading carefully,i have some questions as below:
1. Is that mean i should edit "mongodb.schema-collection" that in "etc/catalog/mongodb.properties" ?
2. If it is must to restart presto server?
3. Is not support mongodb-connector for alter table?
4. If there are any other way to dynamic,like conf.d plugin?
Thanks!!!

At 2019-07-05 16:55:55, "pomykalamichal" <notifications@github.com> wrot

[2019-07-05 11:07] pomykalamichal commented on #10918
Trying to answer of your question:

1. Is that mean i should edit "mongodb.schema-collection" that in "etc/catalog/mongodb.properties" ?

In etc/catalog/mongodb.properties you can provide information which collection contains db schema mongodb.schema-collection. But it is not required. What is required that _schema collection should be first on the list of all collection if it is not provided in p

[2019-07-05 13:50] psyking841 commented on #13001
@zhenxiao
Yes, I think letting people know Presto ES plugin only works with Java API is definitely helpful. Because ES service from some cloud provider (at least that I am using) does not support Java API so I would just give up using their ES service...

[2019-07-05 19:31] avk49 opened #13062 "map_top_n udf proposal"
**Description**:
This function takes a map as input and returns the top n keys based on their values as a map. This feature is used frequently in a lot of scenarios so having a udf would help write simpler queries in short time.

_map_top_n(map(K, V), integer n) -> map(K, V)_

[code]

[2019-07-05 19:45] rongrong commented on #13062
From the examples I can say that you mean top N by key, but the name is ambiguous and doesn't say that explicitly. Overall, I think a generalized version of the problem is that there's no function that keeps a state while iterate through map entries. I can think of similar use cases like `map_top_n_by_key`, `map_top_n_by_value`, `map_bottom_n_by_key`, `map_bottom_n_by_value`, and `map_take_my_comp

[2019-07-05 19:59] MertHoc opened #13063 "Support for nano-second/microsecond timestamps"
We have a use case that needs Presto to work with timestamps at a nanosecond resolution. The reason for the resolution is because of the finance industry that deal with high frequency trading, where trades are reported in nanoseconds. They need to order the trades in times of them occurring and only using milliseconds granularity, this is not possible. Nanosecond resolution is supported in both Hi

[2019-07-06 01:09] #8389 closed

[2019-07-06 19:40] #7765 closed

[2019-07-07 04:40] #8404 closed

[2019-07-07 16:44] #8409 closed

[2019-07-08 16:16] hocanint-amzn commented on #13063
Sorry all, I created this SIM with a very old account. I will be interacting with this SIM through this account including any PR's, if any.

[2019-07-08 19:03] d4nielfr4nco opened #13065 "Feature Request - Recursive Queries Support"
It would be really nice if Presto supported recursive queries.

A potential use case would be to dynamically parse generic json strings to get all nested and unnested json keys.

[2019-07-08 21:26] aweisberg commented on #13063
I talked about this a bit with @oerling. It looks like the syntax for this is to have "TYPE ( p )" where p is the fractional seconds that is supported. This is how Postgres and MySQL do it and they only support up to microsecond precision.

There are two parts of this. One is reusable no matter what we go with internally in terms fo 64-bits or 96-bits. The work is to add the syntax and storing the

[2019-07-08 21:46] wenleix commented on #13062
One thought is
[code]

To get the top-n map entires based on the lambda evaluation result. The simplest case would be `(k, v) -> v` to retrieve the top-n by value.  What do you think @highker ?

[2019-07-09 07:29] ebuildy commented on #4460
This is not a bug related to PrestoDB or Hive, this means when you have inserted data, you didnt include the field ``year_published `` hence Hive creates a kind of dummy partition.

[2019-07-09 11:16] mizhou901101 commented on #10905
Thanks a lot this solved my problem.
In my case, I'm using AWS Glue to manually define a table whose storage type is CSV. By default, Glue picked org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat as Output format, and, picked org.apache.hadoop.hive.serde2.OpenCSVSerde as SerDe. I can query correctly with Presto on EMR, but failed to insert into the table. Presto was throwing the error mes

[2019-07-09 13:16] PranayMunshi1982 commented on #13038
Thank you @rongrong for help.
Actually I want to optimize presto. And my approach is to run a TPC-DS query with presto SESSION-PROPERTIES with certain values. Then I'll run the same query with tweaked/updated session properties.
In the same way I'll run the query 2 to 3 times. I'll compare the Execution STATS.

In the same way I want to run other TPC-DS queries.

But I am too much confused about c

[2019-07-09 13:38] ebyhr opened #13067 "Document mongodb.read-preference-tags"
Current MongoDB document doesn't have `mongodb.read-preference-tags` property
http://prestodb.github.io/docs/current/connector/mongodb.html

[2019-07-09 15:30] dbyad commented on #12913
Hi,

I am unable to send a mail to the given address - user@carbondata.apache.org.

However, the issue still remains unresolved.

[2019-07-09 15:35] dbyad opened #13068 "Carbondata integration with Presto"
Hi,

I am able to query a carbondata table without any dictionary on any of the columns. But, as soon as I create the same table with dictionary on any one of the columns, I get an issue as below:

ERROR	remote-task-callback-193	com.facebook.presto.execution.StageStateMachine	Stage 20190709_111942_00029_bzagn.1 failed
java.lang.RuntimeException: Failed to create reader
	at org.apache.carbondata.pr

[2019-07-09 15:48] mbasmanova commented on #12913
@ajantha-bhat Is this something you could help with?

[2019-07-09 15:53] mbasmanova commented on #12913
@dbyad Have you tried submitting a question to http://apache-carbondata-user-mailing-list.3231.n8.nabble.com/ ?

[2019-07-09 16:17] ajantha-bhat commented on #13068
@dbyad : This could be issue from carbondata presto integration.
please use latest carbon jars which integrated to presto db 0.217 and if issue still exist create a jira in https://issues.apache.org/jira/projects/CARBONDATA/issues.

I will look into it from JIRA.

[2019-07-09 16:21] ajantha-bhat commented on #12913
@dbyad : Hi, This is related to carbondata-presto integration. you can ask in our carbondata community.

you have to subscribe to mailing list first. find details in https://carbondata.apache.org/

Also currently carbondata supports presto 0.217 version only. Later version support is not yet provided.

[2019-07-09 16:35] ajantha-bhat commented on #12913
![Screenshot from 2019-07-09 22-00-54](https://user-images.githubusercontent.com/5889404/60906668-4c926480-a295-11e9-85ed-7088451ec384.png)

[2019-07-09 16:52] dandanmaowu commented on #12857
@gary-harpaz
Hi,  i don't know how to config elasticsearch nested object column to presto  table column,  it seems that you have resolved , could you show me you table.json config ??

[2019-07-09 17:06] gary-harpaz commented on #12857
My elastic document is flat not nested.

[2019-07-09 17:15] dandanmaowu commented on #12857
[code]

do you know how to config table.json ????

[2019-07-09 19:34] wenleix commented on #13063
@MertHoc : Thanks for the contribution. One unrelated trick: when you want to refer to a specific line in a file, you might want to get the permanent link to files: https://help.github.com/en/articles/getting-permanent-links-to-files . Otherwise, the link will refer to different lines once file changed :)

[2019-07-09 21:20] #13048 closed

[2019-07-10 00:06] dborkar commented on #2084
Depending on the underlying storage engine you are using, Alluxio might be an option for presto caching. For S3, HDFS, and S3-compatible object stores, Alluxio caches both metadata and data. Typically you would co-locate the presto worker and the alluxio worker on the same instance, vm or container. this will allow for tightest locality. here are some tips: https://www.alluxio.io/blog/top-5-perfor

[2019-07-10 03:15] bradhill99 commented on #12989
@tooptoop4 I have the same issue to install ranger plugin as describe by @bb786112 .
I built ranger admin from master branch that includes presto plugin change, and run the steps described by [URL](https://cwiki.apache.org/confluence/display/RANGER/Presto+Plugin). Could you please detail what's your step and configuration? Like presto version(is using prestodb or prestosql),any changes need to tak

[2019-07-10 06:57] AmirBahrami opened #13075 "Unexpected type timestamp in elasticsearch connector"
Consider a simple table description config like:
`{
    "tableName": "message",
    "schemaName": "vtest2",
    "host": "192.168.16.228",
    "port": "9300",
    "clusterName": "elasticsearch",
    "index": "vtest",
    "indexExactMatch": true,
    "type": "message",
    "columns": [
        {
                "name": "messagedate",
                "type": "timestamp",
                "jsonPath": "

[2019-07-10 08:30] Nymeriawolf commented on #11841
who can help me?
[INFO] presto-docs ........................................ FAILURE [ 29.824 s]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 36.554 s
[INFO] Finished at: 2019-07-10T07:20:56Z
[INFO] Final Memory: 50M/560M
[INFO] ----------------

[2019-07-10 13:00] aandis opened #13076 "java.lang.NoClassDefFoundError: Could not initialize class sun.net.www.protocol.http.HttpURLConnection"
We have presto deployed on ec2 with 100+ nodes. The cluster works fine but sometimes the entire cluster halts with the following error -

[code]

Running any query after this point consistently throws the same `HttpURLConnection` error. Restarting the master node does not help. The only solution we have is to reboot all worker nodes.

[2019-07-10 13:06] aandis commented on #13076
Presto version - `0.217`

[2019-07-10 15:50] mbasmanova commented on #12945
[code]

[2019-07-10 17:33] gastonar commented on #12945
[code]

[2019-07-10 18:37] tooptoop4 commented on #12989
@bradhill99 i'm using prestodb 0.220, needed to change all prestosql references. see https://github.com/apache/ranger/pull/36 it has discussion with my folder structure

[2019-07-10 18:59] curcur commented on #12945
General
--------
* Override `hashcode` and `equals` in FunctionMetadata so that FunctionMetadata can be compared directly
* Change `checkArgument(false)` to throw unsupported exception for unsupported scalar function annotation
* Revert changes committed by accident

[2019-07-11 00:20] daren990 opened #13080 "Presto0.221 occours jdbc error"
`2019-07-11T08:08:15.642+0800    ERROR   20190711_000814_00000_9xezp.1.0-0-109   com.facebook.presto.operator.Driver
Error closing operator 0 for task 20190711_000814_00000_9xezp.1.0
java.lang.NullPointerException
        at com.mysql.jdbc.MysqlIO.clearInputStream(MysqlIO.java:899)
        at com.mysql.jdbc.RowDataDynamic.close(RowDataDynamic.java:172)
        at com.mysql.jdbc.ResultSetImpl.realC

[2019-07-11 00:36] wenleix commented on #8964
This is interesting, because once `SqlTaskExcution` is created, it will set the `needsPlan` fragment in the returned `TaskInfo` to be false, to tell coordinator no longer need to send plan

[2019-07-11 02:41] hellium01 commented on #12945
All my changes are refactoring that will not affect user.

[2019-07-11 05:42] ffmax opened #13081 "one split one compressed file?"
hi all,  I have a query on presto to use hive-connector:
SELECT a FROM tableA WHERE partitionCol = '20190710' AND (age IN (2,1,3,0,4))

this query have two splits for scanning tableA in  the 20190710 parition.
in this parition , there two files compressed by snappy. one 200M, the other one 2G,  one split spent 58s, the other one spent 6min  , so I think this case can take advantage of mpp.

[2019-07-11 05:51] daren990 commented on #13080
I'v found the cause,I fixed it,
the reason is  "try-with-resources" cluase,we should close the resources by order instead of using " try-with-resources" cluase to close it;
I found the source code is

`try (Connection connection = this.connection;`
`               Statement statement = this.statement;`
`               ResultSet resultSet = this.resultSet) {`

[2019-07-11 05:51] #13080 closed

[2019-07-11 08:51] SivaBu-kore commented on #902
we have file limit set to 66k, still seeing the same issue.
[code]

[2019-07-11 12:38] VlasovArtem commented on #12981
I faced the same issue, and I think it is related to the properties for enabling transactions in hive-site.xml. List of the properties that cause the problem:

- hive.txn.manager=org.apache.hadoop.hive.ql.lockmgr.DbTxnManager
- hive.support.concurrency=true
- hive.enforce.bucketing=true
- hive.exec.dynamic.partition.mode=nonstrict
- hive.compactor.initiator.on=true
- hive.compactor.worker.threads=

[2019-07-11 18:45] arhimondr commented on #13003
Most likely it was due to misconfiguration.

This PR tries to address ambiguous error messages you have faced: https://github.com/prestodb/presto/pull/13085

[2019-07-11 19:47] psyking841 commented on #13001
I am closing this ticket, because I have decided to go for a private cluster that does not require username password in the URL header.

[2019-07-11 19:47] #13001 closed

[2019-07-12 01:50] hankedang opened #13088 "Presto Build Fail on Windows . Presto core success, but plugins fail"

[2019-07-12 01:51] hankedang commented on #13088
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:2.10:analyze-only (default) on project presto-memory-context: Dependency problems found

[2019-07-12 02:16] hankedang commented on #13076
please check your dependency lib.  I think this problem is version conflict!

[2019-07-12 08:42] RosterIn commented on #3653
What is the status of this?

[2019-07-12 21:18] tooptoop4 commented on #12338
bump @nezihyigitbasi

[2019-07-13 01:01] #8432 closed

[2019-07-13 21:20] mwiewior commented on #12485
Use https in the server URL, so --server https://localhost:7778.

[2019-07-13 21:20] mwiewior commented on #12476
The same issue, presto 0.222: Authentication failed: Unauthorized seems to be different from #12485

[2019-07-14 06:16] codope commented on #12500
Update: Waiting for the latest version of Slice to be released on [maven central](https://mvnrepository.com/artifact/io.airlift/slice).

[2019-07-14 17:21] lonely-lockley opened #13092 "Elastic connector does not seem to push down filters"
Hi!

I'm facing a performance problem quering elastic. I've generated an index with 100k entries and pushed the same data to postgresql.
Every time I run a request on elastic presto fetches the full index content and filters it in memory:
[code]

The same on postgres leads to a single row input:
[code]
So, is this an expected behavior or a bug in elastic connector?

[2019-07-14 19:22] aweisberg commented on #13088
As far as I know there aren't many (any?) people deploying on Windows. If you want to build you can build on a VirtualBox VM or download the compiled artifacts.

I don't see this changing unless there is someone with the bandwidth to champion Windows. Even then if the overhead to the project is high it's a tough sell if there isn't enough demand to justify whatever the overhead might be of making

[2019-07-15 01:44] #13088 closed

[2019-07-15 03:33] yuanboliu commented on #3994
I'm also experiencing the same issue.
presto:0.167
hive metastore:1.2.0

[code]

[2019-07-16 02:46] #8094 closed

[2019-07-16 04:01] Bruce2jiang opened #13095 "Presto monitoring"
How to monitor Presto

[2019-07-16 04:01] Bruce2jiang commented on #13095
please

[2019-07-16 19:06] dandanmaowu opened #13097 "presto jdbc execute long sql got error "Request Header Fields Too Large""
i have a sql is not too long, only 300 lines, 7000 words,  when this sql execute using JDBC , got an error...

`        Class.forName("com.facebook.presto.jdbc.PrestoDriver");

        String url = "jdbc:presto://master:9000/hive/default";
        Connection con = DriverManager.getConnection(url, "admin", "");

        String sql = IOUtils.toString(new FileInputStream("test.sql"), Charset.forName(

[2019-07-16 19:07] tooptoop4 commented on #13095
Jmx catalog especially query manager table, v1/cluster api, system.runtime.queries

[2019-07-16 21:40] dandanmaowu commented on #13097
@tdcmeehan

[2019-07-16 21:46] rongrong commented on #3653
Nobody is actively working on this right now. Is this affecting your use case in some way? If yes, could you elaborate? Thanks!

[2019-07-17 00:07] arhimondr opened #13098 "Introduce TableWriterMergeOperator"
Recently fault-tolerance mechanisms were introduced for grouped execution: https://github.com/prestodb/presto/pull/12529.

If the Presto node participating in the query becomes unresponsive - Presto can reschedule the task from the unresponsive node to a different node. However it is not guaranteed that the unresponsive node won't finish the execution. Thus the same data can be written more than o

[2019-07-17 00:08] arhimondr commented on #13098
CC: @wenleix @rschlussel @shixuan-fan @tdcmeehan @highker

[2019-07-17 04:38] #8518 closed

[2019-07-17 08:00] dbyad commented on #13068
Hi @ajantha-bhat ,

Issue created in JIRA - https://issues.apache.org/jira/browse/CARBONDATA-3472

please look into it.

Thanks

[2019-07-17 09:45] #8384 closed

[2019-07-17 21:01] #13003 closed

[2019-07-17 23:42] #8466 closed

[2019-07-18 18:30] #7179 closed

[2019-07-18 18:30] #6258 closed

[2019-07-18 19:45] highker opened #13102 "[Design] Connector Participating Query Optimization"
# Introduction
Presto provides flexible connector interface to allow reading data from many different data source, which makes it a perfect solution to consolidate data into a big data lake. However, today the freedom we give connector is very limited and connector can only act as a data source. In many cases, the upstream system we connect to has some level of compute capacity and being able to u

[2019-07-18 20:30] #8459 closed

[2019-07-18 23:38] varungajjala opened #13103 "Release notes for 0.223"
Issue to track release notes for next release

[2019-07-18 23:53] varungajjala commented on #13103
## Akshay Pall
- [ ] all checked
-  07-02 15:49:39    336e625d5b Add CNF/DNF conversion methods to LogicalRowExpressions
## Andrii Rosa
- [ ] all checked
-  07-11 14:02:06    417e5b9c6c Improve error message when $bucket column is not available
-  07-15 09:48:05    8e6b74f02f Fix hardcoded catalog name in testIgnoreTableBucketing()
-  07-17 14:01:16    1e3f420e67 Always keep bucketed execution on

[2019-07-18 23:53] rajeshbalamohan opened #13105 "Fix code bug in HA in presto"
StaticHiveCluster.java

https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/metastore/thrift/StaticHiveCluster.java#L69

This would end up missing the first entry in the configuration. So if there are 2 HMS instances provided, it would always end up using just 1.

[2019-07-18 23:57] hellium01 commented on #13103
Dependency:
* Updated drift to com.facebook.drift 1.19

Otherwise, the other changes are not direct user related.

[2019-07-18 23:58] shixuan-fan commented on #13103
Nothing from my side.

[2019-07-19 06:31] ryanrupp commented on #13105
I think this is correct although confusing at first glance. `subList` ends up creating a view of the same list so when `Collections.shuffle` is used it's just intended here to randomize the non-default providers, so anything beyond the first entry, leaving the first entry alone as the "default" which then always gets tried first on the subsequent iteration of the connections. The comment above men

[2019-07-19 14:59] #7177 closed

[2019-07-19 15:07] rschlussel commented on #13103
[code]

[2019-07-19 17:58] avk49 commented on #13062
Thanks @rongrong  and @wenleix for feedback. Just to make sure; the suggestion is something like
`map_filter_n(map, (k,v) -> ..., n)`  ->

where the user's lambda function will decide whether its key or value & ascending or descending order.

[2019-07-19 17:59] #4717 closed

[2019-07-19 17:59] #6486 closed

[2019-07-19 21:49] highker commented on #13103
[code]

[2019-07-19 22:07] cemcayiroglu commented on #13103
General
-----------------
* Experimental flag added to enable long polling for task info Task info updates to reduce cpu load on coordinator

[2019-07-19 22:27] arhimondr commented on #13103
My changes are simple error message improvements

[2019-07-19 22:50] tooptoop4 commented on #10209
bump

[2019-07-19 22:59] #8465 closed

[2019-07-20 08:59] #7169 closed

[2019-07-20 15:47] #5362 closed

[2019-07-21 08:22] rajeshbalamohan commented on #13105
Yes, thanks @ryanrupp . If there are 2 metastores configured and if the first one errors out, it would always end up trying the first one (with exception, timeout etc) before trying out the second one.

It would be good to shuffle from (0-n) instead. Even better, if we can track the bad HMS and add to the end of the list after shuffling.

[2019-07-21 08:47] tooptoop4 commented on #7428
@arhimondr can this be cherrypicked now?

[2019-07-21 09:47] #7157 closed

[2019-07-21 18:13] rongrong commented on #13062
I'm wondering can you use `map_from_entries(slice(array_sort(map_entries(map), v -> ...), 1, n))` to achieve this? For example, your first case will be:
[code]
I'm wondering what's the performance implications of this. Is it bad enough to worth implementing a function to optimize this.

[2019-07-22 14:06] arhimondr commented on #7428
@tooptoop4 https://github.com/prestosql/presto/pull/91 is only the planner part. Are the remaining parts  are still in review in Presto SQL?

[2019-07-22 14:08] arhimondr commented on #7428
@tooptoop4

If the feature is fully implemented please feel free to do the required cherry-picks assembling the whole feature and open a PR. We will be happy to do a quick review of it and have it in.

[2019-07-22 14:53] yas51ne commented on #12233
Hello, i have the same issue running kafka connector in presto :

[code]

Did you found a solution ?
Thank you !

[2019-07-22 14:59] mbasmanova commented on #12233
I haven't debugged this, but looks like it is happening enough to justify spending some time. CC: @highker @wenleix @arhimondr @tdcmeehan

[2019-07-22 15:00] 210grams commented on #8646
You also can't use column index in grouping sets.

These are successful:
SELECT CAST(column AS string) as StringColumn,
count(*)
FROM table
GROUP BY 1      /OR/
GROUP BY  CAST(column AS string)   /OR/
GROUP BY GROUPING SETS ((column), ())

These fail:
SELECT CAST(column AS string) as StringColumn,
count(*)
FROM table
GROUP BY StringColumn     /OR/
GROUP BY GROUPING SETS ((1), ())         /OR/
GROU

[2019-07-22 18:14] bhhari opened #13108 "Flaky Test TestHiveRecoverableGroupedExecution"
[code]

[2019-07-22 21:46] mayankgarg1990 opened #13111 "Obfuscate worker to worker communication URLs"
Today, there is a possibility for someone to guess the worker URL to get intermediate data and based on that fetch the data from workers. To make it a bit more difficult, obfuscating the path so that it is not deterministic will make it a bit more difficult to guess the attack URL.

[2019-07-22 21:47] mayankgarg1990 commented on #13111
Something similar was done for client -> coordinator communication in https://github.com/prestodb/presto/pull/13110

[2019-07-23 04:56] avk49 commented on #13062
Yes that definitely works ! But just curious as to why not have a udf similar to map_filter exclusively for handling maps.

[2019-07-23 05:25] rongrong commented on #13062
`map_filter_n` is a very strange concept. The lambda is not really defining the filter, but a sorting order. So what you really want is `map_first_n(map, (k1, v1, k2, v2) -> ..., n)`, which is basically massaging all parameters in `map_from_entries(slice(array_sort(map_entries(map), v -> ...), 1, n))` into one function. I'm not sure how appealing is that. Once we support SQL expression functions (

[2019-07-23 09:00] Ethan-Ma opened #13114 "UnknownHostException with hive-hadoop2"
Hi team,
I set up a single machine , it works well.
But when adding one worker, it will get an error exception: java.net.UnknownHostException: nameservice2.
#I replace the uri with * for secrecy

the following is the run log:
2019-07-23T15:44:36.395+0800	ERROR	SplitRunner-73-122	com.facebook.presto.execution.executor.TaskExecutor	Error processing Split 20190723_074430_00001_7vs9q.6.0-0 {path=hdfs:

[2019-07-23 09:49] #13038 closed

[2019-07-23 10:57] PranayMunshi1982 opened #13115 "How to choose Presto Session Properties and its values"
Hi Team,
I want to optimize the Presto, I have to perform optimization at run time means without restarting the Presto Server so for this reason I am using Presto Session Properties. I can set session properties when I am firing the query.

I've couple of questions below
**I've come across 91 session properties, out of that I want to use some of them but
(1) I don't know how to choose their values

[2019-07-23 17:26] shixuan-fan commented on #13108
Thanks for reporting. I'll try to reproduce locally and see how we could improve the test.

[2019-07-23 17:39] arhimondr commented on #12233
Is this happening for a specific query shape?

[2019-07-23 17:52] shixuan-fan commented on #13114
My very initial investigation to the stacktrace suggests that the ip address for the address is null, which leads to the error.

[2019-07-23 18:06] shixuan-fan commented on #13114
What does your node.properties look like?

[2019-07-23 18:22] shixuan-fan commented on #13115
Have you checked the description of session properties under `SHOW SESSION`?

[2019-07-23 21:23] bendemott commented on #12911
I'm working on an Oracle connector to submit as a patch.

I see someone submitted a patch but didn't really have the interest to finish it - I'm hoping to finish it, write, tests, and update some documentation. I'll base the configuration parameters on the commercial Starburst connector.
https://github.com/prestodb/presto/pull/11540

I also see this (very outdated) github exists:
https://github.co

[2019-07-24 00:07] hellium01 opened #13116 "TypeOnly optimization in RowExpression can cause wrong result in nested cast"
Following queries:
[code]

will return:
[code]
instead of the expected:
[code]
Since the outside cast is typeOnly, the optimization inside `SqlToRowExpressionTranslator` will remove the outside cast and change the inside cast into cast as VARCHAR(5).

This is likely a long term bug got triggered by recent code path changes.

[2019-07-24 00:22] hellium01 commented on #13116
The problematic code is in `SqlToRowExpressionTranslator`, line 488:
[code]
This code path was never called previously because `node.isTypeOnly` will always be false on worker because of the serialization/deserialization of `Expression` stripped off this information.
However, since now the translation is moved earlier in coordinator. Thus this bug is exposed.

[2019-07-24 00:33] rongrong commented on #13116
Related to #12891 The problematic code is the same but manifested in different symptoms.

[2019-07-24 00:33] rongrong commented on #12891
Closing in favor of #13116

[2019-07-24 00:33] #12891 closed

[2019-07-24 00:39] rongrong commented on #13116
The problem is the definition of `typeOnly`. From the way we are using it, `typeOnly` seems to mean "it's safe to change the type of output to input and remove cast". If this is the definition, then all `CAST` in the expression tree should be coercible. Currently we say a `CAST` is type only as long as the `CAST` itself is coercible. In the above mentioned example, `CAST(varchar(3) AS varchar)` is

[2019-07-24 02:11] Ethan-Ma commented on #13114
my node.properties on coordinator and worker, as follows:
node.environment=production
node.id=6c0599b4-e701-4f44-976f-ca93648b28c0
node.data-dir=/software/servers/presto/data

The address you mentioned is the _discovery.uri_ in config.properties or somewhere else?

[2019-07-24 06:05] PranayMunshi1982 commented on #13115
yes @shixuan-fan I've checked the description but it is not enough to make any decision. I am looking for some detail description.

[2019-07-24 07:51] yas51ne commented on #12233
@arhimondr  it happening when i try to start the server with a "toto.json" in "etc/kafka/" (i'm using docker in kubernetes). If i remove this JSON file the server start correctly without problème

[2019-07-24 08:56] #13114 closed

[2019-07-24 12:56] #8520 closed

[2019-07-24 13:56] #8522 closed

[2019-07-24 16:44] shixuan-fan commented on #13115
I don't have full knowledge of these session properties and I think it would be a heavy commitment for one to explain all the details beyond description without much context about the specific problems you are trying to solve and to which point you have questions and your understanding so far.

For example, `distributed_index_join: Distribute index joins on join keys instead of executing inline`.

[2019-07-24 18:05] wenleix opened #13121 "Backport Dictionary Block Optimization for Unnest Operator"
PR: https://github.com/prestosql/presto/pull/901

Benchmark: https://github.com/prestosql/presto/pull/952

[2019-07-24 18:09] arhimondr commented on #12233
@yas51ne Is this a file you've created? Could you please share the content of it?

[2019-07-24 18:21] wenleix commented on #13121
cc @chunzhao

[2019-07-24 18:52] #8527 closed

[2019-07-24 20:41] tooptoop4 opened #13122 "1 catalog that can't be reached affects all other catalogs (system.jdbc.catalogs)"
1. start mysql 5.7 server/db and hive metastore
2. add a mysqlconnector catalog to presto and a hive catalog
3. start presto
4. do some presto queries against hive or mysql catalog, all is working fine
5. stop mysql server/db
6. Query tool like (sqlworkbench.eu) that has jdbc connection to presto now starts to hang for +30 seconds, Presto WebUI shows auto-generated queries running against system.j

[2019-07-24 20:52] #8526 closed

[2019-07-25 06:59] PranayMunshi1982 commented on #13115
Thank you @shixuan-fan. I can understand that it is very difficult for single person to describe me all this properties in detail. I am looking for documentation where I can understand all these properties.

I am trying to decide session properties at run time means when I am firing query( I am using JDBC).
How to decide their value, what things I should keep in mind before setting any value. Mean

[2019-07-25 11:29] yas51ne commented on #12233
@arhimondr Yes i created the table definition file. The file name is "default.customer.json" and it content :
[code]

[2019-07-25 17:10] shixuan-fan commented on #13115
https://prestodb.github.io/docs/current/admin/properties.html is a good start but I guess you might have already discovered this. We also realized that we didn't do a good job in documenting every thing. We might need to rethink how to formulate the documentation workflow. cc @aweisberg

Most of the time the default setting would be the best bet because we choose these values carefully, but I coul

[2019-07-25 17:36] rongrong commented on #12233
@yas51ne Could you shorten the config to the minimal that would still throw exception? There are quite a few `type`s in your config. It would be helpful to reduce the number to narrow down the issue. Is any type going to fail or it's a particular type. Is it the `key.fields` or `message.fields`. Thanks!

[2019-07-26 05:55] PranayMunshi1982 commented on #13115
Thanks @shixuan-fan. You are right I've already covered the mentioned properties. And above properties requires restart of Presto Server that's why I want to use Session Properties.

[2019-07-26 09:33] #8548 closed

[2019-07-26 15:06] varungajjala opened #13129 "Release notes for 0.224"
## Andrii Rosa
- [x] all checked
-  07-29 08:41:50    1c1108fb46 Check remote exchange partitioning when planning Union
-  07-31 09:30:22    5f08613bee Add Planning Time in Query Details Page
-  07-31 11:09:28    376e2102aa Compact effective predicate early
-  07-31 11:09:28    9eb86b6c0a Static import unmodifiableMap in TupleDomain
-  07-31 11:09:28    a8e5bd143b Move compaction method to TupleDo

[2019-07-26 19:35] hellium01 opened #13131 "Add optimization rules to reduce NoOps casts"
We can have expressions like:
[code]
the inner types can be coercible into target type thus it should be a NoOp and the above expression can be simplified into:
[code]

We can add an optimization rule to simplify such expressions.

[2019-07-26 23:46] rongrong commented on #13121
Also https://github.com/prestosql/presto/pull/1027

[2019-07-27 11:15] #7126 closed

[2019-07-29 12:58] cjie commented on #7005
Any other solutions on that?

[2019-07-29 13:29] silverguo opened #13139 "Unsupported time zone"
Hi,

When I use `at_timezone` to convert datetime from UTC to local, I found some time zones are still not supported, for example,

[code]

Thanks!

[2019-07-29 16:01] rschlussel commented on #13139
What's the query you're running?  Are you sure you're not including extra whitespace or something in the timezone name?  That time zone works for me.
[code]

[2019-07-29 17:49] rschlussel opened #13142 "Backport "Handle race in QueryStateTimer""
backport https://github.com/prestosql/presto/pull/841.  This should fix failures like

[code]

[2019-07-29 18:14] tdcmeehan opened #13143 "Array form of approx_pecentile with accuracy specified"
From the documentation, the following forms of `approx_percentile` are exposed:

* `approx_percentile(x, percentage) → [same as x]`
* `approx_percentile(x, percentages) → array<[same as x]>`
* `approx_percentile(x, w, percentage) → [same as x]`
* `approx_percentile(x, w, percentage, accuracy) → [same as x]`
* `approx_percentile(x, w, percentages) → array<[same as x]>`

The following form should al

[2019-07-29 18:54] johnwhumphreys commented on #12059
@vikash32 - You are my hero for the week.  If I manage to get open source posting permission in this company I'm going to add a doc on this to the repository.  I was doing it with a custom password authenticator but it was still destroying my brain :).

[2019-07-29 21:21] avirtuos commented on #5820
Any update on this? I'm struggling with all the serialization limitations on connectors

[2019-07-29 21:26] johnwhumphreys commented on #12059
@vikash32 - Actually, I don't thin this works.  It makes it run but then you can connect over JDBC without the user/password if you have the cert.  It's like either work instead of both are required.

[2019-07-29 21:34] johnwhumphreys commented on #12059
@findepi - Any idea how to work around this and get a custom password authenticator working with internal TLS? :(  Strong requirement for me that I can't break.

[2019-07-30 02:26] MertHoc commented on #13063
@wenleix Thanks for the tip. I have updated my links to permalinks
@aweisberg I have updated the summary with the doc that I shared with you.
If we can please review, we would love to get started on implementation. Thanks!

[2019-07-30 03:20] vikash32 commented on #12059
@johnwhumphreys are you using LDAP/Kerberos for authentication, If you are using any of these and you are using `http-server.authentication.type=PASSWORD,CERTIFICATE` then you must have  to use 'Built in system access control', without it user will be able to login without username and password if they have certificate.

Please check the "Principal Rules" on this link. It will short out the issues

[2019-07-30 08:04] silverguo commented on #13139
@rschlussel Oh, I found I was in an old version of presto with a stale joda time package.

Thanks for your help!

[2019-07-30 08:04] #13139 closed

[2019-07-30 08:06] findepi commented on #12059
@johnwhumphreys you can more conveniently reach me on Presto Slack (https://prestosql.io/community.html) or https://github.com/prestosql/presto

[2019-07-30 08:33] newluhuibiao opened #13147 "java.lang.UnsupportedOperationException: getType"
In  SpringMVC  and Mybatis  Project,presto-jdbc is 0.85,jdk is  7.0,but error is below:
### SQL: select            alarmindex.parentorgname,alarmindex.orgname,alarmindex.indextype,alarmindex.day,alarmindex.indexvalue         from   bimarketnet.dayalarmindex  alarmindex
### Cause: java.lang.UnsupportedOperationException: getType
	at org.apache.ibatis.exceptions.ExceptionFactory.wrapException(Except

[2019-07-30 11:24] Bruce2jiang commented on #13095
Can you be more specific?

[2019-07-30 11:25] Bruce2jiang commented on #13095
example :v1/cluster api

[2019-07-30 12:27] PranayMunshi1982 opened #13149 "Presto Benchmark. Elements for suite.json."
Hi friends,
I am running presto benchmark driver "presto-benchmark-driver.jar". It requires "suite.json' as config files to run the particular query on a particular schema.
I can see two JSON elements in suite.json i.e. **1. file_formats 2. legacy_orc.**

Here I am not able to understand the difference between two. Why we have these two elements, what is the significance of these two?

I can put r

[2019-07-30 13:59] jagill commented on #12340
In the current version of Presto (0.223) `UNION ALL` works as expected, but `UNION` produces the following error:
[code]

[2019-07-30 14:54] johnwhumphreys commented on #12059
@vikash32 - Thanks for the quick reply; digging in now.  I'm using a custom password authenticator (so, similar to LDAP, but not the same).

Can you please help me understand how this prevents the cert from being used for specifically the external (e.g. JDBC) connections and not the internal ones?  Having trouble seeing how this relates to the cert/etc, and my first couple tries with this haven't

[2019-07-30 15:01] #13142 closed

[2019-07-30 15:37] owenlynch opened #13150 "Multiplying bigint column by a double decimal value causes IllegalArgumentException (cast error)"
Hi,
I am testing with presto V 0.221.
We have many queries that multiply values by say "100.0" that used to automatically cast to double - these were working fine in presto versions up to 0.179.

Now testing our application against v0.221 and we running in to trouble for several query types.

Perhaps there is a property setting that allows this cast to happen automatically?

for example, given the

[2019-07-30 17:14] rschlussel opened #13151 "Flaky TestJdbcWarnings.testLongRunningStatement"
Build failed with
[code]

The relevant part of the test is

[code]
It seems like somehow the warnings are getting cleared or something between the two getWarnings() calls so that they are null at the second call.

[2019-07-30 17:16] rschlussel opened #13152 "Flaky TestHiveIntegrationSmokeTest.testVirtualBucketing"
Build failed with
[code]

[2019-07-30 17:28] rschlussel commented on #13108
disabled for now in #13145

[2019-07-30 17:32] rschlussel commented on #13152
@jessesleeping Do you know where these values are coming from?

[2019-07-30 18:00] shixuan-fan commented on #13152
@rschlussel I'll discuss this with @jessesleeping once he's back (Thursday hopefully).

[2019-07-30 18:01] shixuan-fan commented on #13108
Cross posting this comment for stacktraces that might be useful for deflaking effort.

[2019-07-30 20:09] ericxiao251 opened #13156 "Join re-ordering not performed when a constant filter is applied and inner join turns into a cross join."
[code]

[code]

Having only `join_reordering_strategy=AUTOMATIC` set. A manual reordering of the tables is needed for this query as the join got converted into a `cross-join` and join reordering only works for `inner-joins`.

[2019-07-30 20:09] ericxiao251 commented on #13156
@arhimondr

[2019-07-30 20:43] arhimondr commented on #13156
CC: @rschlussel

[2019-07-30 21:15] rongrong commented on #13149
Does the documentation here provide the answer you want? https://prestodb.github.io/docs/current/installation/benchmark-driver.html

[2019-07-30 21:48] jagill commented on #12340
The original reporter just needed `UNION ALL`, which is working.  Since `UNION` requires hard thinking about what it means to be equal in geometry, and no one is requesting it, I'd vote for closing this.  Thoughts, @mbasmanova ?

[2019-07-31 02:15] emhlbmc opened #13161 "Presto can't filter Bigint type in tables created by Impala with parquet format"
- Presto version 0.219
- Impala(CDH) version 2.11.0-cdh5.14.0
- Hive(CDH) hive-1.1.0+cdh5.14.0+1330-1.cdh5.14.0.p0.47
- Parquet compression format: SNAPPY

Ways to reproduce:
**Step 1**
Create a table in Impala with parquet format, insert some values :
[code]
**Step 2**
Query the table with presto:
Select all , return all rows:
[code]
Select with condition, got no result:
[code]

hive connector co

[2019-07-31 06:08] PranayMunshi1982 commented on #13149
Thank you @rongrong. I am following this only.
But I've received solution from @dain .

[2019-07-31 06:08] #13149 closed

[2019-07-31 12:28] sushilrbs opened #13164 "Insufficient active worker nodes."
Hi,
    I was trying to connect Presto to MongoDB cluster.  We have installed Presto on 3 servers. 1 server is working as coordinator and other servers are working as a worker node. Here are their config.properties value
--------------
coordinator
--------------
coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=8080
query.max-memory=50GB
query.max-memory-per-node=1GB

[2019-07-31 18:50] rschlussel opened #13168 "presto-tests build sometimes hangs and times out in travis"
the presto-tests build in travis frequently seems to get stuck and time out after an hour and 20 minutes.

Example: https://api.travis-ci.org/v3/job/565758893/log.txt
Right now we don't have great insight into what the tests are stuck doing.

Two theories
1. it's getting stuck shutting down a test, e.g. deleting directories after closing the TestingPrestoServer (https://github.com/prestodb/presto/

[2019-08-01 10:07] Bruce2jiang commented on #13095
v1/cluster api  ， In this way, my colleagues think it has a performance impact on the primary node

[2019-08-01 10:08] Bruce2jiang commented on #13095
Please persuade him

[2019-08-01 10:08] Bruce2jiang commented on #13095
@tooptoop4  v1/cluster api ， In this way, my colleagues think it has a performance impact on the primary node ,Please persuade him

[2019-08-01 10:31] dggs123 opened #13177 "Access Denied: Cannot invoke function regexp_like"
Hi, Not sure why, but all the users getting an access denied error while running the below query, other than who created it.
Query: `select * from "sales_view"`
Error:
[code]

Here's how I created the view:

```create view "sales_view" as select *, if(regexp_like("customer", '0000+'), substr("customer", -6), "customer") as "rs_code", "sales_qty_kg" - COALESCE("sales_return_qty_kg", 0) as "net_sale

[2019-08-01 11:04] shigemk2 opened #13178 "Why to_unixtime's return type is Double?"
In Hive, unix_timestamp()'s return type is bigint.
https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF

When we use unix timestamp as data, we always use it as Integer(or BigInt).
I want to know the reason why to_unixtime's return type is Double.

[2019-08-01 11:39] #8580 closed

[2019-08-01 11:44] sushilrbs opened #13179 "Error on Presto CLI"
I am getting below error while running command on Presto CLI

Query 20190801_112818_00001_pjx99 failed: Insufficient active worker nodes. Waited 5.00m for at least 1 workers, but only 0 workers are active

[2019-08-01 14:13] findepi commented on #13177
HI @dggs123, thanks for using Starburst Presto based on Presto 302.
If you have support subscription (https://www.starburstdata.com/presto-enterprise/), please contact Starburst support.
If you don't have the subscription, then 3xx releases are maintained at https://github.com/prestosql/presto

[2019-08-01 14:13] #13177 closed

[2019-08-01 17:48] rschlussel commented on #13129
[code]

[2019-08-01 20:46] rschlussel commented on #13063
@MertHoc thanks for the great write up!

Those are documented user-facing functions.  They return a long because that's the current representation for the TIMESTAMP_WITH_TIMEZONE type (they are annotated as returning that type). If the representation of timestamp_with_timezone changes, then the return type of those functions should be changed so that a user still gets back a timestamp with time zo

[2019-08-02 09:16] caithagoras commented on #13025
Addressed by

[2019-08-02 11:07] #7053 closed

[2019-08-02 11:07] #7205 closed

[2019-08-02 11:07] #8374 closed

[2019-08-02 11:07] #8491 closed

[2019-08-02 15:40] #12329 closed

[2019-08-02 15:40] #12288 closed

[2019-08-02 15:40] #12945 closed

[2019-08-02 19:01] prongs7 commented on #13143
I can pick this up. Can raise a PR in the next 1-2 days.

[2019-08-02 19:04] #13025 closed

[2019-08-02 21:07] #7693 closed

[2019-08-02 21:36] shixuan-fan commented on #13129
[code]

[2019-08-02 21:45] highker commented on #13129
[code]

[2019-08-03 12:02] #8613 closed

[2019-08-04 06:55] #8068 closed

[2019-08-04 21:41] aweisberg opened #13182 "Add support for asynchronous IO and caching"
Written by @oerling

# Introduction

Modern clouds and data center designs are predominantly based on disaggregated storage. This enables decoupling of storage and compute and provides flexibility in provisioning and scaling but comes at a cost in performance over tightly coupled storage/compute solutions.

If anything, this further emphasizes the common wisdom on distributed computing: Have maxim

[2019-08-05 19:46] naveen09 commented on #10567
How about for "2019-07-17 14:31:01.000000000 +00:00 ?

[2019-08-06 00:05] caithagoras commented on #13129
[code]

[2019-08-06 00:50] hellium01 commented on #13129
General
--------------
* Fix correctness bug on queries contain nested coercible type cast since release 0.220.

[2019-08-06 01:22] hellium01 commented on #12828
The plan is currently to split the clean up to multiple stages:

In the first stage, we will push the `TranslateExpression` to `AddExchange` so that we can push down logical plan to connectors and deprecate old `getLayout` API.
* Move `TranslateExpression` to above last projection pushdown  (PR #13047 )
* Move `TranslateExpression` to below last predicate push down (PR #13184)
* Move `TranslateExp

[2019-08-06 03:22] gadfly0x opened #13185 "timezone bug"
When converting UTC timestamp to date type using cast, the local time zone is not used,
date_format too.
sql:
SELECT cast(timestamp '2019-07-31 16:00:00.000 UTC' as date),
cast(timestamp '2019-07-31 16:00:00.000 UTC' AT TIME ZONE 'Asia/Shanghai' as date),
date_format(timestamp '2019-07-31 16:00:00.000 UTC', '%Y%m%d'),
date_format(timestamp '2019-07-31 16:00:00.000 UTC' AT TIME ZONE 'Asia/Shanghai'

[2019-08-06 05:55] dukeshiny commented on #12537
hello,Can you select data from kudu table in presto ?

[2019-08-06 09:07] mbasmanova commented on #12340
@jagill

I agree.

[2019-08-06 10:30] tooptoop4 commented on #12495
@BenoitHanotte can this be closed?

[2019-08-06 14:52] qinzl1 opened #13188 "Failed to initialize connection pool: com.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool: Unrecognized connection property"
HikariPool seem can not init presto jdbc
I use sreamsets  JDBC Query Consumer  (https://streamsets.com/documentation/datacollector/3.9.x/help/datacollector/UserGuide/Origins/JDBCConsumer.html#concept_qhf_hjr_bs)
Has anyone used this tool

[2019-08-06 17:20] arhimondr commented on #13129
[code]

[code]

[2019-08-06 17:29] hellium01 commented on #13116
This is resolved by #13127

[2019-08-06 17:29] #13116 closed

[2019-08-06 22:37] gastonar commented on #12929
# T-Digest

Over the past 12 weeks, I have been working and experimenting with the t-digest data structure to potentially replace Quantile Digest in Presto. T-Digest is made up of a collection of centroids, each associated with a mean and a weight (number of elements in the centroid), ordered by ascending mean. This digest allows you to collect specific stats from a data set using very limited spa

[2019-08-07 03:03] yingsu00 commented on #11770
For dictionary and RLE blocks, the number of positions(rows) does not change for shuffling case. The question is if this is correct for replicated case. Should it report rows * #partitions instead? @mbasmanova

[2019-08-07 05:45] BenoitHanotte commented on #12495
Hello @tooptoop4 , yes we can close as the throttling has been merged in prestosql (https://github.com/prestosql/presto/pull/534)

[2019-08-07 05:45] #12495 closed

[2019-08-07 09:47] mbasmanova opened #13191 "Add SelectiveStreamReader for columns of type DOUBLE"
Master issue: #12585

A new reader, DoubleSelectiveStreamReader, will implement SelectiveStreamReader interface and allow extracting data for columns of type DOUBLE.

The new reader will be similar to readers for BOOLEAN and BYTE types. The output block will be an instance of `LongArrayBlock`. The reader will use `TupleDomainFilter#testDouble` filter API and accumulate values that pass the filter

[2019-08-07 18:39] mbasmanova opened #13194 "NullPointerException in ST_Buffer"
The following query fails with NPE in ST_Buffer:

[code]

CC: @jagill

[2019-08-07 19:19] jagill commented on #13194
A simpler query that produces the same problem is
[code]

but the following query (with one less 0) produces correct output:

[code]

I suspect that a polygon that small is causing some numerical issues.

[2019-08-07 20:42] jagill commented on #13194
In the processes of buffering the small polygon, there is a simplification step, which collapses nearby points.  This removes all the points from the Polygon, which eventually returns a null.

I've filed an issue with Esri: https://github.com/Esri/geometry-api-java/issues/241

[2019-08-08 03:46] heiliguai opened #13197 "PrestoDriver query timeout not supported"
In ProstoDriver.java , when connect to presto server, it return a PrestoConnection with hardcoded connection timeout 2 Minute.

**ProstoDriver.java**
`
    public Connection connect(String url, Properties info) throws SQLException {
        if(!this.acceptsURL(url)) {
            return null;
        } else {
            PrestoDriverUri uri = new PrestoDriverUri(url, info);
            Builder bui

[2019-08-08 11:35] #8401 closed

[2019-08-08 15:51] mayankgarg1990 opened #13198 "Queuing Improvements in Presto"
NOTE: This issue is still a work in progress and we are continuously assessing and figuring out what needs to be done here.

At Facebook, Presto use cases are widely divided into the following buckets:

1. *Interactive* - Users sitting on their systems and waiting for their results. Generally smaller queries and users expect milliseconds to seconds to minute (depending on the query shape) response

[2019-08-08 17:15] romad17 commented on #7005
Also very needed for us, please add this functionality.
In addition a tilda syntax will be much appreciated to get the keys. like $.*~

Thank you!

[2019-08-08 17:53] rongrong commented on #7005
It seems that there are two concerns here:
1) some semantic differences between jayway and jackson.
2) jayway might introduce a performance penalty.

So this is what I will propose:
1) We should benchmark the two libraries and document the performance differences.
2) We can introduce jayway JSON functions and control which library to use via a session property (this might need a little hack in fun

[2019-08-08 18:27] rschlussel commented on #7693
This was fixed by https://github.com/prestodb/presto/pull/13141

[2019-08-08 22:10] caithagoras opened #13200 "Presto Release Process"
# Proposed release process
- Agree on a release cut timestamp, according to by-laws and voting protocols.
- Perform a release cut on the `master` branch by pushing a commit to bump Maven version.
- Create a release branch named `release-0.xxx` to includes all the commits on `master` branch up till the last commit before the cut.
- Build, test, and verify the release.
- Prepare for release notes PR

[2019-08-08 22:11] caithagoras opened #13201 "Presto Release Roadmap"
# Goals
- Define a process for community members to perform releases.
- Provide and improve the tooling for community members to perform and manage releases.

# Release Process
Presto uses a branch-based release model to support continuous development of the software on `master` branch, and we would like to continue using this approach.

The process is described in https://github.com/prestodb/pres

[2019-08-09 02:31] #13185 closed

[2019-08-09 15:39] murphyke opened #13202 "Document SQL support for elasticsearch connector"
I was wondering if the elasticsearch connector supports DML, but the documentation page doesn't address SQL support for this connector.  Is it true that the answer to this particular question is "No"? The source code doesn't include the word "delete" ....

[2019-08-09 21:53] sayhar commented on #13191
I'm on this.

[2019-08-09 21:54] sayhar commented on #13191
Here's working code with tests: https://github.com/sayhar/presto/tree/double_reader

Still needs cleanup:
- Testing code copies a static function that probably shouldn't be copied
- Comments sprinkled within
- Need to benchmark to make sure that inlining a function actually gives gains

[2019-08-12 02:31] #7692 closed

[2019-08-12 04:59] #7618 closed

[2019-08-12 04:59] #8675 closed

[2019-08-12 05:50] highker opened #13205 "RaptorX: Unifying Hive-Connector and Raptor-Connector with Low Latency"
### The feature has been general available and fully battled tested in Hive connector. Raptor connector is no longer maintained. Please use this feature instead.

# Current Presto Design
- Presto uses compute servers. It directly connects to Hive Metastore as its metastore.
- The servers are stateless. A cluster directly reads data from HDFS. How data is maintained by HDFS or Hive Metastore is com

[2019-08-12 05:52] highker commented on #13205
cc: @biswapesh, @jessesleeping, @shixuan-fan

[2019-08-12 06:33] highker commented on #12713
Resolved by #13007

[2019-08-12 06:33] #12713 closed

[2019-08-12 16:09] rschlussel commented on #13197
you can set the network timeout for the connection using `PrestoConnection.setNetworkTimeout()`.

[2019-08-12 16:10] rschlussel commented on #13202
@zhenxiao do you know the answer?

[2019-08-12 16:13] rschlussel commented on #13188
It seems like the jdbc driver is trying to pass a property to Presto that isn't used.  You could see if there is a way to not pass that property.

Also, see discussion here: https://github.com/prestodb/presto/issues/9254

[2019-08-12 18:31] zhenxiao commented on #13202
Hi @murphyke , currently, Elasticsearch connector does not support createTable, add column, and related DMLs. If you have a use case for it, we could consider adding the support :)

[2019-08-12 18:37] murphyke commented on #13202
Not really. Thanks, though.

[2019-08-12 18:53] jagill opened #13211 ""size is negative" error"
SpatialIndexBuilderOperator is reporting a negative size in the `finish` method, from a build off of master (de65d64d15).

This ultimately delegates down to the RTree memory size, which https://github.com/prestodb/presto/pull/13079 would affect and hopefully fix.

cc @mbasmanova @aweisberg

[code]

[2019-08-12 19:11] mbasmanova commented on #13211
CC: @jagill

[2019-08-12 19:11] mbasmanova commented on #13211
CC: @zhenxiao

[2019-08-12 21:36] shixuan-fan opened #13212 "Release notes for 0.225"
Issue to track release notes for next release

[2019-08-13 00:11] kaikalur commented on #13009
Simpler self-contained test case:

with T1 AS (
select * from (values ('P', 1), ('N', 2)) T(x,z)
),
test AS (
                SELECT
                    *,
                    IF (o.x = 'P', ARRAY[1, 2, 4], ARRAY[1]) AS a
                FROM T1 o)

                SELECT *
                FROM (
                    SELECT
                        o.x,
                        IF (o.x = 'P', t.a[3],

[2019-08-13 01:20] kaikalur commented on #13009
As I'm getting a hang of the bug, I see that the culprit is the second part of the final predicate:

y is not null

or any other predicate on y. So to keep things simple, I removed all the NULL and varchar and here is a better test:

[code]

[2019-08-13 09:24] l1x opened #13216 "Is there a way to run Presto on JVM 11?"
I am getting an error when launching on JVM 11.

[code]

[code]

[2019-08-13 10:35] tooptoop4 opened #13218 "quickest way to validate a view?"
1. create external table (pointing at parquet/s3) inside hiveserver2 with 2 columns, both string data type.
2. create view inside presto with
CREATE VIEW hive.x.vw_y AS
SELECT
col1
,date_parse(NULLIF(col2, 'unknown'), '%d-%m-%Y') col2
from
hive.x.y
3. place a parquet file in the relevant location for this table with 100 million rows, 99,999,999 rows have a valid timestamp conforming to the data_pa

[2019-08-13 11:01] owenlynch commented on #13150
Hello,
 Any feedback or update for this issue?

I have upgraded my sever to the latest release (0.224) and the issue is still there.
I can work around this by adding a cast in any query that multiplies an int by a float/double.
i.e.:
`select 100.0*cast(var1 as double) from test_table;`

But we already have many pre written queries for calculating percentages that have multiplication and division l

[2019-08-13 12:15] yuokada commented on #6610
(Maybe) Related: https://github.com/prestosql/presto/pull/1276

[2019-08-13 13:33] hocanint-amzn commented on #13063
@rschlussel Thanks for the information. That makes a lot of sense.
Everyone else, there were concerns about the potential performance impact of this change, as we are increasing the number of bytes needed to store timestamps in a block and the potential of breaking existing users as timestamps will higher memory requirements. How can we move forward ?

[2019-08-13 14:28] gabrielrcouto commented on #9254
Thank you @vloup for the patch, I applied on Presto 0.225 and it worked very well with Zeppelin 0.8.1. If someone want to use, I uploaded here: https://github.com/gabrielrcouto/presto/releases

[2019-08-13 14:58] rschlussel commented on #13218
If you're trying to validate all the rows, you'll need to read all the values.  part of the reason the select * may be slow is that all the results need to stream through the coordinator. That's why doing a count is likely better than just select * , and performance-wise I'm not sure you'll find anything better.

[2019-08-13 15:07] kaikalur commented on #13009
The fix is to do more pushdown! I think the issue is with k=1 not being pushed down. If we pushdown `code` k = 1 `code` (for outer join, depending on the side we may have to weaken it as: `code`  k is null or k = 1 `code`), it works fine - tested it manually.

So the idea would be to apply any (derived) conditions on join keys that are pushed down first and then the others - inside out.

[2019-08-13 15:31] am314159 opened #13219 "Add information about index use to the user documentation"
There are many places in the Presto source code which indicate that it understands indexes - classes such as ConnectorIndexProvider in the SPI and the IndexedTpch plugin.

The user documentation does not mention that Presto can make use of indexes. This is a powerful feature, which supports fast queries, and it is a shame that it is not more widely exposed to a casual reader.

Can we add to the us

[2019-08-13 15:34] am314159 opened #13220 "Add the IndexedTpch connector to the standard set of available connectors"
Presto comes with the IndexedTpch connector, in package com.facebook.presto.tests.tpch. This connector should provide a useful example of the way that Presto understands indexes, and sample data to try them out on. A user could use it to experiment with Presto indexes when they want to understand its capabilities.

The IndexedTpch connector is not listed in the user documentation as one of the sta

[2019-08-13 19:39] #13218 closed

[2019-08-13 19:53] aweisberg commented on #13063
You have made the case and given interested parties a chance to comment. I know @arhimondr @rschlussel, @mbasmanova  and @oerling have considered this and think it's a reasonable thing to do. We'll have to measure the result, but I think it's going to be good enough.

[2019-08-13 20:05] oerling commented on #13063
I think that performance or memory consumption differences arising from this will fall below measurement threshold: If 2% of columns are timestamps and a few of these take double space in query intermediate results, nobody will notice even if looking.

I further think that getting this matter successfully integrated into PrestoDB is a measure of our stated willingness to engage with the community.

[2019-08-13 21:07] rschlussel opened #13223 "Lots of Major GC in raptor tests"
travis presto-raptor tests have lots of major gc ( >3K lines logged of major gc compared to ~300 for the presto-tests build).

After https://github.com/prestodb/presto/pull/13173 the test sometimes fails due to exceeding log length.  The "hanging" tests always happen after tons of major gc activity.  I think rather than disabling the thread dump when tests aren't making progress we should figure o

[2019-08-13 21:37] rschlussel commented on #13223
The running tests during  https://api.travis-ci.org/v3/job/566175028/log.txt are exactly the same (this was from when the time limit was set to 5m rather than 8m)

[code]

[2019-08-13 22:34] rschlussel commented on #13152
Fixed in #13172

[2019-08-13 22:34] #13152 closed

[2019-08-14 07:12] nezihyigitbasi commented on #13211
I think this PR fixes this issue: https://github.com/prestodb/presto/pull/13120 /cc @kewang1024 @rongrong

[2019-08-14 13:52] mbasmanova commented on #13063
@MertHoc Thanks for detailed design proposal. I have some questions.

- Looks like you are suggesting to parameterize timestamp type with precision (similar to decimal). What would be the implications, if any, on Hive Metastore? How would you store this new time there?

- You may want to take into account on-going changes to ORC readers and repartitioning - #13213 and #13183

- Currently a block f

[2019-08-14 13:53] mbasmanova commented on #13063
CC: @yingsu00 @tdcmeehan @bhhari @sayhar

[2019-08-14 18:43] #8688 closed

[2019-08-14 18:43] #3751 closed

[2019-08-14 18:43] #8679 closed

[2019-08-14 21:43] #8313 closed

[2019-08-14 22:57] tooptoop4 commented on #12059
@vikash32        with PASSWORD,CERTIFICATE how does it let login without username and password if they have certificate?

[2019-08-14 23:26] hellium01 opened #13231 "Cleanup RowExpression translations"
During the process migrating `OriginalExpression` to `RowExpression`, we will have mixture of `Expression` and `RowExpression`. This will result a lot of hacky way to handle such mixed situation.

This issue will be used to track those hacky solutions we need to use due to the coexisitence of `Expression` and `RowExpression`. We will need to clean up these once we finished https://github.com/prest

[2019-08-15 00:46] #13062 closed

[2019-08-15 00:49] hellium01 commented on #13231
Items:
[code]

[2019-08-15 11:30] ThirdLibResearch opened #13233 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-08-15 14:15] kc14 opened #13234 "Enable Predicate Push-Down for Kafka Connector"
To make the presto kafka connector usable for kafka topics with a lot of events, it would be great, if we could use kafka metedata in the query like `topic, partition, offset` or `timestamp`.

The Idea is, that we store the offsets in our hive tables, then query for the latest offsets in our hive tables and then use these offsets to query for new kafka events with these metadata.

This way we have

[2019-08-15 16:25] #8501 closed

[2019-08-15 17:50] johnwhumphreys commented on #12059
I got this all working with help from the google groups forum.  Here's a write-up for anyone else coming in.  https://coding-stream-of-consciousness.com/2019/08/04/presto-internal-tls-password-login-removing-private-key-from-jks-file/.

@vikash32 - Once I extracted the cert into a trust-store and only gave that to the JDBC client, it worked fine.  SSL was used and the password login was forced.  O

[2019-08-15 23:12] tooptoop4 commented on #12059
if internal-communication.https.required=false can the password login be bypassed?

[2019-08-16 04:10] ImTangYun opened #13238 "woker lost one after another，when cluster load is heavy"

[2019-08-16 04:12] ImTangYun commented on #13238
-server
-Xms32G
-Xmx32G
-XX:+UseG1GC
-XX:+ParallelRefProcEnabled
-XX:ParallelGCThreads=20
-XX:+ExplicitGCInvokesConcurrent
-XX:MaxMetaspaceExpansion=2G
-XX:+HeapDumpOnOutOfMemoryError
-XX:OnOutOfMemoryError=kill -9 %p
-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+PrintGCTimeStamps
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=30
-XX:GCLogFileSize=10m
-XX:+HeapDumpOnOutOfMemoryError

[2019-08-16 04:12] ImTangYun commented on #13238
num     #instances         #bytes  class name
----------------------------------------------
   1:       5604077    23258512608  [B
   2:       5655100    10527962824  [I
   3:       2927799     9619493640  [J
   4:       5571398      356569472  io.prestosql.spi.block.VariableWidthBlock
   5:       5583793      312692408  io.airlift.slice.Slice
   6:       2862876      160321056  io.prestosql.spi.

[2019-08-16 04:13] ImTangYun commented on #13238
anyone knows the reason or solution?

[2019-08-16 04:39] viczhang861 commented on #13238
Could you provide more information? are workers lost within a few minutes? how many?what is your cluster size?

[2019-08-16 05:05] atulaltizon opened #13239 "Predicate push down for timestamp with mongo connector"
I am using the mongo connector. I have a collection of documents containing a timestamp field.
Presto's schema discovery correctly describes the field's datatype as timestamp.
There is a mongo index on this field.
When I write an SQL query with a
WHERE clause that field e.g.
SELECT * from foo where ts > TIMESTAMP '2019-08-01 00:00:00.000'

It tends to do a collscan instead of an index scan.
I know

[2019-08-16 06:06] terrancesnyder commented on #13016
I was able to work around it... Note that i needed an unnest (with case to ensure i get all rows) then filter out the junk row in the aprox set....

`    select
        upc_cd,
        approx_set(cid) cids ,
        approx_set(case when cid = '0' then null else cid end) cids
    from
        estimation.order_upc o
            cross join unnest(
                case
                    when cardina

[2019-08-16 06:53] ImTangYun commented on #13238
when load is high,it is easy to lost, it is a rand time when to lost,our cluster have size of about 100

[2019-08-16 12:57] johnwhumphreys commented on #12059
@tooptoop4 - If you are not using secure internal communication, then a standard password login mechanism should work fine (LDAP or custom).

Without secure internal communication, you just have `http-server.authentication.type=PASSWORD` rather than `http-server.authentication.type=PASSWORD,CERTIFICATE`.   In that case, certificates *will not* be used for authentication, so it doesn't matter if th

[2019-08-16 17:04] tooptoop4 commented on #12059
I have:
    http-server.http.port=4321
    discovery-server.enabled=true
    discovery.uri=http://dns:4321
    http-server.authentication.type=PASSWORD,CERTIFICATE
    http-server.https.enabled=true
    http-server.https.port=6789
    http-server.https.keystore.path=keystore.jks
    http-server.https.keystore.key=keystorepass

But I can't reproduce what you mentioned about logging in via JDBC with

[2019-08-16 18:22] caithagoras commented on #13201
cc @mayankgarg1990  @aweisberg @rongrong

[2019-08-17 05:50] JidapaTH opened #13247 "Cannot select datetime"
I got this error when I tried to select from a table that I created.
![image](https://user-images.githubusercontent.com/42632714/63207272-e65ce680-c077-11e9-81ca-022ccacaee05.png)

In the original query to create a table, I just basically truncated datetime like this
date_trunc('hour',date_column )at time zone 'America/Los_Angeles'

[2019-08-19 00:09] ryancrawcour commented on #11648
@kokosing just checking, on Jan 21, you mentioned that you plan to submit a PR to bring Presto support to ADLS Gen2. Has this been done?

[2019-08-19 02:51] qinzl1 commented on #13188
@rschlussel
ths，the UI tool have some special configuration items need config

[2019-08-19 02:52] #13188 closed

[2019-08-19 12:11] #13238 closed

[2019-08-19 12:11] majiajue opened #13252 "I connected hive 3.1 times incorrectly"
version:presto-server-317

setting：
[code]

![image](https://user-images.githubusercontent.com/128642/63263988-9327a580-c2bc-11e9-9b7d-0ca6bae8ddb0.png)

I have configured in hive -site.xml:

[code]
Could you please help to solve it?

[2019-08-19 12:29] KamalNayak07 commented on #5301
I am also facing the same issue.  if you found any fix. please let me know.

[2019-08-19 15:10] findepi commented on #13252
Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/community.html)

[2019-08-19 15:10] #13252 closed

[2019-08-19 15:23] rschlussel opened #13253 "Flaky TestHivePushdownFilterQueries"
testFilterFunctions and testArrays failed  with the following stacktrace in a recent build: https://api.travis-ci.org/v3/job/572454390/log.txt

[code]

@mbasmanova based on the stack trace it looks related to https://github.com/prestodb/presto/pull/13099.  Can you take a look?

[2019-08-19 15:28] rschlussel commented on #6434
Still failing.  Example: https://api.travis-ci.org/v3/job/572005877/log.txt

[2019-08-19 16:25] rschlussel commented on #13168
After running stackfold on the thread dumps from two different failed builds, these are the threads that are doing work (same in both builds).  All the rest are parked/waiting.

[code]

The running tests are always from TestDistributedSpillQueries, e.g.
[code]
and
[code]

Example build: https://api.travis-ci.org/v3/job/572988507/log.txt

[2019-08-19 17:22] mbasmanova commented on #13253
@rschlussel Thanks for reporting. I'll take a look. CC: @prestodb/aria

[2019-08-19 18:18] rongrong opened #13254 "CREATE FUNCTION syntax"
SQL Spec 2011 Section 11.59 defines `<SQL-invoked routine>` , which is a much more powerful tool. We propose to use part of the syntax as the base for SQL function support.

### Syntax
[code]

### Example
[code]

### Reference
* [PostgreSQL's CREATE FUNCTION syntax](https://www.postgresql.org/docs/current/sql-createfunction.html)
* [DB2 Scalar function syntax](https://www.ibm.com/support/knowledge

[2019-08-19 18:26] rschlussel commented on #6434
@highker @jessesleeping What do you think of @electrum's theory that it's caused by compaction running during the test (I don't know raptor well enough to evaluate).  Would it make sense to run the tests with compaction disabled?

In the failure linked above the test failed 2x:

[code]

[2019-08-19 19:57] jagill opened #13255 "Proposal: HyperLogLog improvement"
I want to propose an improvement to the accuracy of HyperLogLog for low
cardinalities that should remove the need for almost all uses of
`count distinct`, which should greatly help CPU and memory issue on those
queries.

HyperLogLog sparse representation is reasonably accurate, but cardinality
errors of 1 to 2 are seen in real-world queries.  It has been given as a reason
why some people want to u

[2019-08-19 19:57] jagill commented on #13255
cc @tdcmeehan

[2019-08-20 00:56] rongrong commented on #13009
I agree. It comes down to the order of the filters pushed down to `T2` and whether the pushed down filters need to respect any ordering. If SQL spec doesn't say anything about the relative orders of filters, then this might not be a "bug". Otherwise it's safer to evaluate the constant filter before evaluating the expression where the constant is folded in.

[2019-08-20 04:59] kokosing commented on #11648
@ryancrawcour It is done already, but it was only introduced to https://github.com/prestosql/presto. ABFS, ADLS and ALDS gen2 should work there, but you would need to provide site xml file with file system configuration something like:

[code]

[2019-08-20 05:38] pi88dian88 opened #13256 "issue with double division"
Before we used presto 0.187, and the below expression result is 0.033.
presto:default> select round(1.0/30, 3)
 _col0
------
 0.033

Now when upgraded to presto 0.221, the expression result is 0.0.
 _col0
------
 0.0

[2019-08-20 13:11] #11770 closed

[2019-08-20 14:57] BrazilForever11 commented on #5918
+1, it would be very helpful

[2019-08-20 15:03] mbasmanova commented on #13253
Some more flakiness:

[code]

[2019-08-20 18:30] rongrong commented on #5918
I'd propose to support the basic form of this, which seems to be what people are asking for most:
`SET variable = constant`.

If we can agree on this syntax we can move forward to discuss implementation. Once we settle on how this should be implemented, we can mark this as `available-to-pickup` and see whether anyone would volunteer to work on this.

[2019-08-20 18:48] rongrong commented on #13256
On 0.224 I got the following (same as what you have for 0.187).
[code]

[2019-08-21 02:54] Xuchaojing opened #13259 "one presto on yarn question"
hi，
when i deployed presto YARN-Based cluster. i found i cannot configure kafka connector in this cluster. So is there some solutions?

[2019-08-21 03:41] caithagoras commented on #13023
Resolved

[2019-08-21 03:41] #13023 closed

[2019-08-21 03:42] caithagoras commented on #12211
Resolved

[2019-08-21 03:42] #12211 closed

[2019-08-21 08:15] l1x opened #13261 "Error reading Parquet file"
Query:

[code]

Output:

[code]

Same query runs with Hive or Athena perfectly.

Table create:

[code]

Parquet schema:

[code]

Version:

[code]

[2019-08-21 10:36] #7620 closed

[2019-08-21 11:36] #8727 closed

[2019-08-21 16:08] phd3 commented on #11881
fixed in https://github.com/prestosql/presto/pull/1128

[2019-08-21 16:09] #11881 closed

[2019-08-21 17:43] babrar commented on #13261
There is a Stack Overflow thread for this problem:
 https://stackoverflow.com/questions/51918860/unable-to-query-parquet-data-with-nested-fields-in-presto-db

Problem: Presto is reading data based on the column indices instead of the column names.

**Solution**: Add `hive.parquet.use-column-names=true` to your hive.properties file to force presto to read data using column names instead.

[2019-08-21 18:33] tooptoop4 opened #13263 "performance - select * from hive.information_schema.columns takes 90seconds"
hive.information_schema.columns has 12k rows spanning 1474 distinct tables, I can't work out why it takes 90seconds to do select * from hive.information_schema.columns

[2019-08-21 18:36] #8730 closed

[2019-08-21 18:54] migolfi commented on #11648
@kokosing - By any chance do you have any complete examples of what that configuration (both XML and hive connector) would look like?

[2019-08-21 20:28] martinbohlmannroll commented on #13076
Hi @hankedang can you please give a bit more detail on how to check the dependencies?
I have a similar error in my cluster when new nodes are added to it. This is the log of a worker node that throws an error `NoClassDefFoundError`:

I am currently fixing this by restarting the node, but I would like to find the root cause to fix it.

[code]

[2019-08-21 20:41] findepi commented on #11648
@migolfi since this pertains Presto SQL, I'd advise asking this on Presto Community Slack (https://prestosql.io/community.html)

[2019-08-21 21:43] martinbohlmannroll commented on #13076
Hi @aandis did you have any luck fixing your issue? Thanks

[2019-08-21 22:34] javeria2 commented on #6562
Hey @electrum, any resolution for this? I was suspecting that it should be a Hive metastore operation to delete the S3 data of a managed table so I dropped a table from the Hive CLI and the S3 value was indeed gone but when I drop a table from presto, the S3 value still exists.

[2019-08-22 01:20] shixuan-fan commented on #13259
I'm not familiar with kafka connector, but you might want to provide more information (what errors you see, what you've tried) so that other people could help.

[2019-08-22 01:36] Xuchaojing commented on #13259
thanks shixuan-fan, these days, i have readed the presto-yarn sourcecode, i found there was not the properties options for users to set the kafka schemas files(or any other connectors which using out-setting schema file, cause i write a  oss connector ----- which uses out-setting defined schemas). so i added some properties in the source code to meet my needs.

[2019-08-22 07:14] krisvive commented on #12484
Am using Hive 1.1.0 on CDH 5.14.2
No luck, same issue

Tried below things...
1: creating a managed table from an external table
2: also ran 'msck repair tablename'
3: added some new properties in hive.properties file, enabled Hive non managed tables write and creates

Anyone managed to fix this?
Please share

[2019-08-22 08:39] l1x commented on #13261
Thanks @babrar but it still fails:
[code]

I can load the file with parquet tools and Python. Not sure why Presto cannot read it.

[2019-08-22 15:29] babrar commented on #13261
Seems like the same issue as before.
Make sure you restart Presto after adding the new configuration to allow the changes to take effect.

[2019-08-22 16:38] lwahedi opened #13267 "Feature Request: array function returning combinations of an array"
Sometimes you need to create combinations of size n from an array. For example:
Given
['a', 'b', 'c', 'd']
We might want:
[(a, b), (a, c), (a, d), (b, c) (b, d), (c, d)]

This is similar to but not identical to ngrams, which will only take sequential combinations.

This has already been implemented in prestosql:
[Requested here](http://github.com/prestosql/presto/issues/714)
Tagging @nielkod who f

[2019-08-22 18:31] l1x commented on #13261
[code]

[2019-08-22 18:38] l1x commented on #13261
I have made the change and restarted Presto.

It is visible in the live session:

[code]

[2019-08-22 19:22] hariharsubramanyam opened #13269 "Feature Request: IP Address Version UDF"
EDIT: Resolved - no need for a UDF. Do this:

[code]

This will not work for IPv6 addresses that take the form <80 zeroes>:ffff:<anything>, but you probably won't see those in practice.

===========
Name: `IP_VERSION(ip_address)`

Arguments:
* `ip_address` (type `IPADDRESS`)

Return type: `VARCHAR`
Return value: Returns 'v4' if the IP address is an IPv4. Returns 'v6' if the IP address is IPv6. Ret

[2019-08-22 19:26] rongrong commented on #13269
Isn't this possible as `if(ip >= ..., 'v6', 'v4')`?

[2019-08-22 19:29] hariharsubramanyam commented on #13269
I don't think that's possible. While it's true that IPv6 has more bits (128) than IPv4 (32), it is possible for the two addresses to still take on the same value.

[2019-08-22 19:31] hariharsubramanyam commented on #13269
For example:

[code]

The former is IPv6 and the latter is IPv4.

[2019-08-22 19:32] hariharsubramanyam commented on #13269
The two types appear to be incomparable as well:

[code]

[2019-08-22 19:33] hariharsubramanyam commented on #13269
Is there a way I can see how many bits were allocated to store the IPADDRESS?

[2019-08-22 19:38] rongrong commented on #13269
Hmm, if you want to distinguish whether an IP is v6 or v4 by format, that's not possible. Internally all ip addresses are represented in v6. `::1` is an IP address represented as v6 format in v4 range. What's the need to distinguish `::1` as v6 and `0.0.0.1` as v4?

[2019-08-22 19:40] rongrong commented on #13269
Actually `0.0.0.1` in IPv6 is `::ffff:0:1`

[2019-08-22 19:42] rongrong commented on #13269
They are comparable, otherwise the above query would fail.

[2019-08-22 19:45] rongrong commented on #13267
Seems reasonable. Do you want to implement this in PrestoDB or port that from PrestoSQL?

[2019-08-22 19:46] hariharsubramanyam commented on #13269
Ah, I see. I assumed the IPv4 addresses were prefixed with 0s instead of 1s.

The context is that we have a table with IP addresses in string form. The table does not indicate whether the IP address is v4 or v6. We want to compute the version of the IP address, based on the string. This is an important signal we need for other parts of our system.

I was thinking we could just cast the string to I

[2019-08-22 19:48] rongrong commented on #13269
You can do `IF(CAST(ip_address as IPADDRESS) BETWEEN IPADDRESS'0.0.0.0' AND IPADDRESS'255.255.255.255', 'v4', 'v6')`

[2019-08-22 19:56] hariharsubramanyam commented on #13269
That looks awesome! It will be amazing if we can do this without a UDF! Let me try it out and verify that it works for our use-case.

[2019-08-22 20:06] rongrong commented on #13269
Once we ship SQL function support we can introduce this as a SQL function (#9613). We are targeting end of H2 for that.

[2019-08-22 20:22] hariharsubramanyam commented on #13269
I did find one case that breaks:

[code]

I was hoping it would be classified `v6`, but the return value is `v4`.

This is not a surprise given that IPv4 addresses are mapped to IPv6 addresses as you described (https://tools.ietf.org/html/rfc4291.html#section-2.5.5.2).

That being said, I don't believe IPv6 addresses of the form <80 zeros>:ffff:<IPv4> correspond to legitimate IPv6 addresses, so we

[2019-08-22 20:23] hariharsubramanyam commented on #13269
So, I'm going to close this task because the solution described here is good enough for our use-case, and probably many others.

[2019-08-22 20:25] #13269 closed

[2019-08-22 22:14] ajaygeorge commented on #13256
I am seeing the same issue in the latest master.
This seems like an issue in the way parsing is happening and seems to be broken from release `0.198` with this commit `Parse decimal literals as DECIMAL by default`  #10130

@pi88dian88 Starting server with `-Dparse-decimal-literals-as-double=true` seems to be resolving the issue.

[2019-08-22 23:21] hariharsubramanyam opened #13274 "Feature Request: IP Address Prefix/Suffix"
Name: IP_PREFIX(ip_address, prefix_bits)

Arguments:
* ip_address (type IPADDRESS)
* prefix_bits (types INT)

Return type: IPADDRESS
Return value: The IP address with only the prefix bits retained. Should handle both IPv4 and IPv6 correctly.

An IP_SUFFIX function be defined similarly. This could be used to get the host bits in IPv6.

[2019-08-22 23:30] hariharsubramanyam commented on #13274
https://prestodb.github.io/docs/current/functions/binary.html

Alternatively, if the substr, rpad, and lpad functions in a VARBINARY supported length in bits rather than bytes, we would not need the above UDFs.

[2019-08-22 23:31] hariharsubramanyam commented on #13274
https://prestodb.github.io/docs/current/functions/bitwise.html

Or, if the bitwise right-shift functions supported VARBINARY, we would not need these UDFs.

[2019-08-22 23:45] luohao opened #13276 "Parquet allocates large byte array when reading column chunk"
Parquet reader reads the whole column chunk in one `byte[]` and slice them into pages. The column chunk can be very large and creates tons of humongous objects. G1 can't handle these humongous objects and eventually result in hight GC overhead.

cc: @zhenxiao

[2019-08-22 23:49] zhenxiao commented on #13276
nice catch. I will take a look, and think about a solution.

[2019-08-23 01:15] hariharsubramanyam commented on #13274
Here's an implementation that breaks the IP into two bigints, applies a mask to each bigint, and concatenates them. It's ugly, but it works.

[code]

Output is:

| ip | prefix_bits | ip_prefix |
| -----| -----| ----- |
| 1.2.3.4 | 8 | 1.0.0.0 |
| face:face:face:face:face:face:face:face | 68 | face:face:face:face:f000:: |

[2019-08-23 04:46] shixuan-fan commented on #13263
My wild guess is that it might be due to metastore latency in `get_table`.

[2019-08-23 05:30] ajithsharma87 opened #13279 "the presto-cli from hadoop GW is unable to connect to the hive thrift metastore server"
Hello

   I have installed presto 0.224 version on a cluster setup , but i am getting below error ,the CLI has to pull the data from CDH hive connector
presto:hive> show schemas;
Query 20190823_052053_00013_7q9qf failed: hdrkairosvm055.cps.intel.com:9083: null

let me know if any configurations have been missed , we use kerberos authentication with CDH 6.3 version in use right now

Thanks

[2019-08-23 07:46] l1x commented on #13261
We figured out with @maugly24. The problem is that Presto cannot read from a table where the table create field order does not match the Parquet field order.

[code]
It does not matter what is the value hive.parquet_use_column_names, unless I am missing something. Does this value need to be set on all nodes or only on the coordinator node?

[2019-08-23 08:25] owenlynch commented on #13256
@ajaygeorge  Thanks for that tip:`-Dparse-decimal-literals-as-double=true`
It also resolves the issue reported in #13150 Where multiplying by a decimal literal causes IllegalArgumentException.

[2019-08-23 08:27] owenlynch commented on #13150
As commented in #13256 starting the server with
`-Dparse-decimal-literals-as-double=true`
works around this issue.

[2019-08-23 12:48] hariharsubramanyam opened #13280 "Feature Request: Difference Between Two IPv4 Addresses"
Given a start_ip and end_ip IPv4 address, it would be nice to compute the difference between their binary representations.

We can do this as follows:

[code]

Is it possible to create a more convenient way to do this? Something like:

[code]

[2019-08-23 14:53] arhimondr commented on #13009
I'm pretty sure the SQL spec does not require filters to be executed in the order specified in the query. That allows SQL engines to employ dynamic filter reordering optimizations that @prestodb/aria team is currently working on. @mbasmanova could you please clarify if I'm wrong?

[2019-08-23 15:30] aweisberg commented on #13150
@owenlynch Could this be better documented? What places did you look at for information on this?

Seems like the change brings us closer to the standard, but the [documentation for fixed precision is still wrong](https://github.com/prestodb/presto/blob/master/presto-docs/src/main/sphinx/language/types.rst#decimal). I'll update those docs, but if you can think of other places that would have helped

[2019-08-23 16:25] owenlynch commented on #13150
yes I think so. I looked in the Online documentation but never spotted it was default and that that setting is needed. I now retrospectively see that setting is documented here: https://prestodb.github.io/docs/current/language/types.html#fixed-precision
I think I probably searched for 'double' not 'decimal'

In both Hive and Impala no cast is necessary and they automatically cast to decimal by def

[2019-08-23 17:16] aweisberg commented on #13150
I just tried to reproduce this on master (basically 0.225 that is coming up) and it works. Can you check if it reproduces for you with 0.225 once it is released?

[2019-08-23 17:42] ioah86 commented on #13261
@babrar and I have set this one up on all nodes, worker and coordinator.
We have actually had the scenario where suddenly a new column appeared which was positioned differently in the parquet compared to the Hive metastore, and there was not an issue.

[2019-08-23 18:01] oerling commented on #13009
SQL  explicitly denies any guarantees concerning execution order or execution of anything at all. SQL does specify that overflows and divisions by zero and the like get signaled to the user if these are executed. Whether these are executed depends on query plan.

Most engines have the query optimizer decide the order and thus errors in filters are or are not masked depending on filter order. This

[2019-08-23 20:44] tooptoop4 opened #13282 "Decimal data type - java.lang.IllegalStateException: Expected entry size to be exactly"
select * from hive.mysch.tbl_r116

java.lang.IllegalStateException: Expected entry size to be exactly 16 but was 31
	at com.facebook.presto.spi.type.LongDecimalType.writeSlice(LongDecimalType.java:131)
	at com.facebook.presto.spi.type.LongDecimalType.writeSlice(LongDecimalType.java:124)
	at com.facebook.presto.parquet.reader.BinaryColumnReader.readValue(BinaryColumnReader.java:55)
	at com.facebook

[2019-08-23 22:18] lwahedi commented on #13267
Created this pr, https://github.com/prestodb/presto/pull/13283
Not sure how to link it to this issue.

[2019-08-24 05:43] ebyhr commented on #13178
@shigemk2 As I replied you on twitter, the reason is the function allows to receive milliseconds. Hive's result doesn't have milliseconds.

It's not advertisement, but [prestosql community's slack](https://join.slack.com/t/prestosql/shared_invite/enQtNTMyNzU2NzQ1NzQ4LWRhMTE4ZTA4NjM0NDA1NmFkZjEyZDJmN2MxNGY1ZTk4NmM4MzMxZDk4OGQ0NjZhNmQxMWUyNGIxMDliODk0MmU) has Japanese speaker's channel (`#general-jp

[2019-08-24 09:29] #8742 closed

[2019-08-24 17:13] l1x commented on #13261
So the setting has to be set on all node I guess.

[2019-08-25 14:57] #8367 closed

[2019-08-26 05:54] dashuai0227 opened #13285 "Error when prestoServer"
i want to start prestoServer，but Error occurred .The information is as follows：

iotdb@slave02:/usr/local/presto/presto-server-0.200/bin$ ./launcher run
Presto requires an Oracle or OpenJDK JVM (found Private Build)
iotdb@slave02:/usr/local/presto/presto-server-0.200/bin$ java -version
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~16.04.1-b10)
OpenJDK

[2019-08-26 09:06] owenlynch commented on #13150
Good news,
I'll try it on 0.225 when it is released.

[2019-08-26 13:35] mnikogit opened #13287 "Is there a project that convert hive Query String to Presto's ？"
There are too many differences between hive sql and Presto 's,i wonder if
there be  a project that convert  hive Query String  to Presto Query automatically？

[2019-08-26 16:54] talgalili commented on #5918
Sounds good to me. Would there be a preference to
SET VAR
or
SET VARIABLE
?
(I'm leaning towards the first option)

On Mon, Aug 26, 2019, 19:00 Rebecca Schlussel <notifications@github.com>
wrote:

[2019-08-26 17:49] talgalili commented on #5918
Do you have a link?

On Mon, Aug 26, 2019, 20:44 Rongrong Zhong <notifications@github.com> wrote:

[2019-08-26 17:54] tooptoop4 commented on #13285
upgrade presto from 0.200 version to 0.224. https://github.com/prestodb/presto/commit/988f0f2e7bd0a33b2d0d2585cb70eab078fb226c#diff-7744bcf6ae8b3ba4d34755c26beafaa1 was fixed in 0.211

[2019-08-26 20:10] talgalili commented on #5918
Thanks Rebecca,
What you wrote makes sense.

Also, while searching I came across also the following text about T-SQL:
https://en.m.wikipedia.org/wiki/Transact-SQL

The structure there is similar but uses @ before the variable name, i.e.:
DECLARE @myvar VARCHAR(10)
SET @myvar = 'a string'

So I'm wondering if it makes sense to allow (but not force) the use of @
before the var name, for people comin

[2019-08-27 02:03] mnikogit commented on #13287
Thanks for replying , I'm trying to work on this recently, it is really a hard work ...

[2019-08-27 07:10] talgalili commented on #5918
Several things:

1. I don't think @ should be required. But it would be nice to allow it.

2. I support allowing DECLARE and then SET.
I wonder if it makes sense to also allow it with the syntax:
SET VAR
So to make the process faster to write (since it saves us writing the var
type).

WDYT?

On Tue, Aug 27, 2019, 01:31 Rongrong Zhong <notifications@github.com> wrote:

[2019-08-28 00:07] mbasmanova opened #13295 "Unsupported type: array(bigint) in TupleDomainFilterUtils"
Comparing array column with literal array triggers an error in TupleDomainFilterUtils:

[code]

[code]

CC: @prestodb/aria

[2019-08-28 08:02] #13261 closed

[2019-08-28 10:07] tooptoop4 opened #13297 "Prevent userA from killing userB's queries"
I understand there are 3 ways to kill somoene else's query.
1. kill button in web ui
2. sql statement (CALL system.runtime.kill_query(query_id => '20151207_215727_00146_tx3nr', message => 'im a jerk');)
 3. api call (curl -XDELETE http://<my-presto-coordinator>:<my-port>/v1/query/20140722_203501_00017_2iwjw)

This feature is about introducing a new config flag (killEnabled), that when set to false

[2019-08-28 10:40] tooptoop4 opened #13298 "Prevent queries from being run on http-server.http.port"
I have:
http-server.http.port=4321
discovery-server.enabled=true
discovery.uri=http://dns:4321
http-server.authentication.type=PASSWORD,CERTIFICATE
http-server.https.enabled=true
http-server.https.port=6789
http-server.https.keystore.path=keystore.jks
http-server.https.keystore.key=keystorepass

Queries on port 6789 (http-server.https.port) are nice and secure, requiring correct credentials and ce

[2019-08-28 10:48] tooptoop4 opened #13299 "Prevent non-admins de-registering worker nodes or coordinator"
https://groups.google.com/forum/#!msg/presto-users/jK9gVmKKMk4/DBJCmbNdBQAJ mentions

1. curl -v -X PUT -d '"SHUTTING_DOWN"' -H "Content-type: application/json" http://presto-worker-1:8080/v1/info/state>>/tmp/prestonodeshutdown.log
OR
2. DELETE http request with url "/v1/announcement/".       https://github.com/airlift/airlift/blob/5e77ec2c0d78d00525c97cdb025bcea814c59976/discovery/src/main/java/i

[2019-08-28 10:58] tooptoop4 opened #13300 "Prevent userA from seeing what queries userB is running"
Don't allow viewing other user's sql being run (v1 query endpoint, systme.runtime.queries, UI, jmx?)

This feature is about introducing a new config flag (seeAnyonesQueriesEnabled), that when set to false prevents any of the above.

Why? Bob Sacamano (he lives down in Central Park :)) in the Equities Trading team is conducting fraudulent transactions. Jasmine in the Fraud Surveillance team is inve

[2019-08-28 11:12] tooptoop4 opened #13301 "Prevent webUI from starting"
Just want to use Presto for JDBC, have no interest in the WebUI because:
1. Can monitor using other means like jmx exporter, event-listener
2. Deploying a webUI in a large regulated enterprise requires lengthy security review (eg Penetration Test, Vulnerability Scan) and issues pop-up like: why is there no authorization level for admins vs regular users, why is React library using old version....e

[2019-08-28 12:38] #8796 closed

[2019-08-28 14:16] wajahatahmed245 opened #13302 "presto aggregate UDF"
![image](https://user-images.githubusercontent.com/32391965/63863661-08376100-c9c8-11e9-8b18-93043d735012.png)
I get this error while running presto ... I have placed the aggregate function in my presto directory but it's not able to find it  and throughs error ..
![image](https://user-images.githubusercontent.com/32391965/63863823-4af93900-c9c8-11e9-8d83-d4ef876590d3.png)

[2019-08-28 14:59] mbasmanova opened #13303 "Add unit tests for FilterFunction"
CC: @prestodb/aria

[2019-08-28 15:04] mbasmanova opened #13304 "Add session property to toggle pushdown of filters on subfields"
We'd like to have flexibility to enable pushdown of range filters on primitive types separately from subfields of complex types, e.g. `a < 10` vs. `a[5] < 10`.

CC: @prestodb/aria

[2019-08-28 15:34] oerling commented on #13295
Yes, the fix is not to extract comparisons between columns and constants where the column is not a scalar.  Scalars inside a nesting where each enclosing level is supported are fine. Since the only supporting complex type at present is list, we should make sure list[1] = 1 gets extracted but struct.field = 1 does not.

By this time comparisons will be between compatible types so checking the type

[2019-08-28 20:58] mkapoor17 opened #13305 "Issue with concurrent queries"
I've read a lot online about people having similar issues with concurrent queries with Presto and how having n concurrent queries and a query taking x seconds would take nx time. I'm really struggling to figure out how to optimize my Presto cluster to optimize for concurrent queries (1 per second).

Context on the queries/metastore: We are using the hive connector and glue as our hive metastore. W

[2019-08-29 01:41] caithagoras commented on #13212
# Missing Release Notes
## Ajay George
- [ ] all checked
- https://github.com/prestodb/presto/pull/13224 Fix reporting of output data size for PartitionedOutputOperator
## Ami Tavory
- [ ] all checked
- https://github.com/prestodb/presto/pull/13187 Improvements to classification metric docs
- https://github.com/prestodb/presto/pull/13192 Using reStructuredText citations
- https://github.com/presto

[2019-08-29 02:41] dashuai0227 commented on #13285
thanks ，let me try

[2019-08-29 05:39] mahengyang opened #13308 "maven install failed because [Unused declared dependencies found]"
ENV
OS: MAC
maven version: Apache Maven 3.6.1
commit: ecba9cfb52
presto version: 0.220

[code]

remove `commons-io:commons-io:jar:2.4:compile` in presto-accumulo, then compile paas,
other submodule has the same problem, how to skip `analyze-only`?
I had try add ignore in root `pom.xml`

[code]
but seems no effact

[2019-08-29 06:38] SandeepDawre commented on #10918
Are you able to resolve the issue for embedded object or a field that only has null's. ??

[2019-08-29 12:05] trishabh5050 commented on #11507
I am facing the same issue.@tdcb -Did you get the answer to this.If yes please let me know

[2019-08-29 15:46] mciruzzi commented on #10271
Which is a good limit for ulimit for the Presto process. In same occassions i see reaching limits while it's opening a lot of connections from master?

[2019-08-29 15:56] aweisberg commented on #13298
I thought about this a bit more. Maybe the right answer here is that if HTTPS is enabled we change the default for HTTP to disabled. If the user then adds config requesting HTTP also be enabled then we respect that and run the insecure HTTP interface.

[2019-08-29 18:12] kaikalur commented on #13212
#13209 @kaikalur:
Fixed the raptor connector to error out on unsupported types on create/alter table operations including create table as select.

[2019-08-29 18:16] atavory commented on #13212
(@highker asked me to add a note about fixed-range histograms)

#13212: Add fixed-range histograms (more efficient numerical histograms, when the range is known).
* Added a simple histogram, and a histogram with breakdown of weights within each bin. These are used / will be used by classification metrics and differential entropy UDFs.

[2019-08-29 18:21] #13191 closed

[2019-08-29 21:21] rongrong commented on #13212
For #13087, PrestoSQL added release notes to individual connectors based on JDBC: https://prestosql.io/docs/current/release/release-309.html We can do it in similar way, or we can just add one part as:

[code]

[2019-08-29 22:29] viczhang861 commented on #13212
[code]

[2019-08-29 22:31] viczhang861 commented on #13212
@zhenxiao I copied description in #12948 as release note,  please update if needed
[code]

[2019-08-29 22:56] dsjoegeo commented on #8980
Could you please tell us which version of horton on which it worked.we get a facebook spi not found error when we add ranger plugin in prest

[2019-08-29 23:08] dsjoegeo commented on #8980
We are getting errors on the same lines as the one posted above by x90004942 commented on Jul 2
Connection Failed.
Unable to retrieve any files using given parameters, You can still save the repository and start creating policies, but you would not be able to use autocomplete for resource names. Check ranger_admin.log for more info.
We got test connection failed.
We also tried to search the ranger

[2019-08-29 23:51] #4417 closed

[2019-08-29 23:53] aweisberg commented on #13212
[code]

[2019-08-30 02:41] andy12383 commented on #8980
@dsjoegeo
in my environment , I configured presto wtih ranger and LDAP with https enabled. you can refer to the official website.
the problem I encountered was that , in the Config Properties  in ranger admin webpage, I input a wrong port into jdbc.url (jdbc:presto://10.183.163.138:9090). 9090 is the secure port for https.
then I change the port to 8080 which is my unsecured port. it works .test c

[2019-08-30 13:02] KannarFr opened #13315 "jwt auth token & basicauth example?"
How can we configurate presto ui to use access token to query the presto cluster?

[2019-08-30 13:03] KannarFr commented on #13315
Or do you have a full example of how to use basic auth, I used:

[code]

but this doesn't work. The documentation is quite light about this.

[2019-08-30 13:28] caithagoras commented on #13254
For reference. Here is the complete syntax definition from SQL Spec 2016.

[code]

[2019-08-30 14:33] #5985 closed

[2019-08-30 16:15] rschlussel opened #13316 "Flaky TestTransactionManager.testExpiration"
[ERROR] Tests run: 5823, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1,504.552 s <<< FAILURE! - in TestSuite
[ERROR] testExpiration(com.facebook.presto.transaction.TestTransactionManager)  Time elapsed: 0.275 s  <<< FAILURE!
java.lang.AssertionError: expected [true] but found [false]
	at org.testng.Assert.fail(Assert.java:94)
	at org.testng.Assert.failNotEquals(Assert.java:513)
	at org.testn

[2019-08-30 20:32] rongrong commented on #12500
@codope are you still working on this?

[2019-08-30 22:56] hellium01 opened #13317 "Add RowExpressionMatcher"
Currently, we frequently need to verify if two `RowExpression` can match each other, or a `RowExpression` can match a certain pattern. `RowExpression` is our internal representation of `Expression`. It has `functionaHandle` and `Type` resolved.   `equals` method implemented on `RowExpression` will only works for very simple cases. It does not handle:
1) `LambdaExpression` can have generated argume

[2019-08-30 23:58] wenleix commented on #5290
Resolved by #12420

[2019-08-30 23:58] #5290 closed

[2019-08-31 00:32] elvizlai commented on #4836
ping

[2019-08-31 01:00] codope commented on #12500
@rongrong sorry, the work is paused on this. I have asked for the latest version of slice on maven as per [this comment](https://github.com/airlift/slice/issues/114#issuecomment-526786655). Let's wait one more week. If still no progress, I will add the function directly in Presto.

[2019-08-31 06:33] #8763 closed

[2019-08-31 07:57] tooptoop4 commented on #13305
use 48 or 64CPU machines for workers
set task.max-worker-threads to 96
reduce task.concurrency to 8
try 60 workers instead of 30
increase maxMemoryPerNode
dedicate at least 30GB to coordinator heap and at least 16CPU

[2019-08-31 22:25] highker opened #13322 "grouped_execution_for_eligible_table_scans causes non-partition tables to fail"
To reproduce:
[code]

cc: @shixuan-fan @wenleix

[2019-08-31 23:40] ArturGajowy commented on #8150
I somehow feel this issue gets more important with each day that passes without closing it. I, a Wraith from The Past, pledge to haunt you every 2 years the stale bot questions this importance 👻

[2019-09-01 01:40] heocaf commented on #12484
I had the same problem too, some update ?

[2019-09-01 07:22] #7422 closed

[2019-09-01 15:05] kaikalur commented on #13009
Yeah - looks like the following statement from page 77 in the same doc seem to say that we have to apply any literal comparisons before the result of a join is calculated. Basically page 74-81 give guidance on dependencies. I will print it out and read it again 🙂

[code]

[2019-09-01 15:48] kaikalur commented on #13009
Hmm, this may just be a code bug too. For example in my final simplest test case, if in the inner most select if I select `T1.k` instead of `T2.k`, the bug doesn't happen. Looking at the code, I see in `PredicatePushdown.processInnerJoin`, we pushdown to the right using `not(in(leftVariables))`. I wonder why left fields is different in an inner join.

[2019-09-01 15:52] #8797 closed

[2019-09-03 01:45] xiaoyunancy commented on #12537
yes,I can

[2019-09-03 04:17] wwwwwwchun opened #13325 "can not start launcher,when exec the commnd,the system return errors No such file or directory"
hello,
i use presto-server-0.224,when i start the server,the process dose not start,
my command is "./launcher run",then system retern the err:"ERROR: [Errno 2] No such file or directory"
[root@db bin]# ./launcher run
ERROR: [Errno 2] No such file or directory
how can i reslove this problem?
thanks

[2019-09-03 05:57] caithagoras commented on #13254
Redacted syntax

[code]

[2019-09-03 07:27] xingnailu commented on #13115
I have the same problem, Do you have some experience to share?? @PranayMunshi1982

[2019-09-03 10:51] #13325 closed

[2019-09-03 10:56] wwwwwwchun opened #13326 "can not use mongodb,failed: Table has no columns"
when i set the mongodb.properties file under the catalog folder,and reboot the presto,
but when i exec commd select * from mongodb.gf.car1206 limit 10;
the preto rerutn error:
presto> select * from mongodb.gf.carTrack1206;
Query 20190903_104404_00003_jwyig failed: Table has no columns: TableHandle {connectorId='mongodb', connectorHandle='car1206', layout='Optional.empty'}
how can i reslove this pr

[2019-09-03 12:09] PranayMunshi1982 commented on #13115
Hi @xingnailu, Presently I am executing queries and setting session properties using Presto Benchmark driver.
I am using session properties in combination with other session properties and analyzing the performance parameter, whether it is improving the performance or degrading the performance.

[2019-09-03 15:28] rschlussel commented on #13298
I agree. queries on http can already be disabled using `http-server.http.port`. But maybe we should make this the default if https is enabled.

[2019-09-03 15:40] rschlussel commented on #13297
I think this should have admin capability from the start, and certainly allow users to kill their own queries.
Otherwise
1. you could have lots of unnecessary queries running due to users accidentally running a really expensive query (potentially blocking their other work or other users from running queries depending on resource group configurations)
2. Admins wouldn't be able to kill queries that

[2019-09-03 16:38] shixuan-fan commented on #13322
@arhimondr also reported this to me last week. I'll take a look.

[2019-09-03 16:45] mbasmanova opened #13327 "Record memory usage percentiles"
Presto already records CPU usage percentages for each stage/fragment. We need to record memory usage percentiles as well. This would allow to analyze memory skew of the workload and determine the upside of more flexible workload placement.

CC: @viczhang861 @prestodb/aria @pettyjamesm

[2019-09-03 18:08] rongrong commented on #13254
A general question: This new version has more components that SQL expression function requires. Do we have a good enough understanding about them to make sure we would be able to implement them properly? Otherwise I'd suggest to strip it down to the minimum we need to implement SLQ function so there's no "dead code" involved.

Some more specific questions:
What is`<contextually typed value specifi

[2019-09-03 21:49] wenleix opened #13328 "Emit warning when Presto reads from too many partitions/bucketed files"

[2019-09-03 23:50] mkapoor17 commented on #13305
@tooptoop4 Thanks for the suggestions I am seeing some improvements now but still work to be done. If there are about 5-10 concurrent queries, parallelism isn't affecting query latency but if there are about 20-60 in parallel, some queries hang and query latency is about 10 times worse. CPU utilization is still quite low. The workers have 7 CPUs and only about 1 CPU is being utilized. These are my

[2019-09-03 23:54] mkapoor17 opened #13330 "Suggestions for JMX exporter metrics for Presto"
I'm trying to get more metrics out of Presto using the JMX exporter similar to this PR: https://github.com/prometheus/jmx_exporter/pull/264

There is no documentation as to how to properly extract metrics and I'm having trouble getting useful metrics out of Presto. Can someone guide me or point me to documentation?

For example, I want to see active threads, how would I extract `com.facebook.prest

[2019-09-04 02:59] #13194 closed

[2019-09-04 02:59] #10629 closed

[2019-09-04 03:53] shixuan-fan commented on #13322
Closed via #13329

[2019-09-04 03:53] #13322 closed

[2019-09-04 07:44] gongkang commented on #13325
我也碰到这个问题了，你是怎么解决的？

[2019-09-04 08:02] wwwwwwchun commented on #13325
the java env is not set,set your java env,and logging out the system

[2019-09-04 09:48] wwwwwwchun opened #13333 "presto MongoDB Connector can not select collection's name is capital letter"
presto MongoDB Connector can not select collection's name is capital letter,
when i select Lowercase letters's collection,the result is ok,
but when i select capital letter's collection,the result is null,can not resurn any data,
how can i do to reslove problem?
thanks

[2019-09-04 10:20] #8853 closed

[2019-09-04 13:05] gongkang commented on #13325
tks

[2019-09-04 17:23] thoralf-gutierrez commented on #12338
ping @findepi -- can someone from the Presto team take a look at this?

[2019-09-04 17:44] mbasmanova commented on #13253
#13335 extends OrcTester to allow testing filters on subfields. This capability will allow reproducing this issue.

[2019-09-04 19:48] rschlussel commented on #12826
@hellium01 and I discussed.  The problem is that the IndexLoader doesn't expect the index lookup to block.  The driver depends on the index scan, which runs for a 1s quanta.  if it doesn't complete in that time (e.g. the index server is slow), the task is considered blocked.

The easiest solution would be to wait for the output of the index loader for up to some timeout amount of time.

[2019-09-05 00:00] #8731 closed

[2019-09-05 05:10] tooptoop4 commented on #12911
@bendemott is PR ready?

[2019-09-05 05:16] tooptoop4 commented on #7581
reopen

[2019-09-05 05:17] tooptoop4 commented on #8862
@icanfly did u solve?

[2019-09-05 05:19] tooptoop4 commented on #13216
what presto version? @l1x

[2019-09-05 05:20] tooptoop4 commented on #13097
@dandanmaowu did u solve?

[2019-09-05 05:33] highker commented on #13205
Some benchmark results on prod queries

<img width="806" alt="Screen Shot 2019-09-04 at 10 32 18 PM" src="https://user-images.githubusercontent.com/2192913/64314466-f4f63980-cf63-11e9-93ab-0b4ce6809add.png">
<img width="812" alt="Screen Shot 2019-09-04 at 10 32 12 PM" src="https://user-images.githubusercontent.com/2192913/64314468-f6bffd00-cf63-11e9-90c9-0e5b2fc86acd.png">
<img width="800" alt="Sc

[2019-09-05 05:46] tooptoop4 commented on #13150
bump @owenlynch

[2019-09-05 07:55] findepi commented on #12338
@thoralf-gutierrez I think I know how this should be addressed.
Let's talk on Presto Community Slack (https://prestosql.io/community.html).

[2019-09-05 15:06] owenlynch commented on #13150
@aweisberg  @tooptoop4

I installed presto 0.225 and the issue still persists:
[code]
As before, once I add the etc/jvm.config argument again `-Dparse-decimal-literals-as-double=true` it works ok.

SO for now that workaround/solution is ok for me.

[2019-09-05 15:18] viczhang861 opened #13340 "Release notes for 0.226"
Issue to track release notes for next release.

[2019-09-05 15:22] rschlussel commented on #9173
Fixed by #12565

[2019-09-05 15:22] #9173 closed

[2019-09-05 17:34] #8866 closed

[2019-09-05 20:17] l1x commented on #13216
@tooptoop4 0.224

[2019-09-05 21:34] rongrong commented on #13205
Nice work! Would be even better to align the x-axis among graphs for easier visualization.

[2019-09-06 00:34] #8874 closed

[2019-09-06 03:34] #8876 closed

[2019-09-06 07:30] ccz414172041 opened #13345 "es connector failed with presto"
I want connect es with presto ,but I execute query "select * from es_catalog.schema.tableName"

Query failed (#20190906_072117_00000_vzwbk): NoNodeAvailableException[None of the configured nodes are available: [{#transport#-1}{q2HDbxS4TbSTS0l1X5zfLw}{10.10.17.159}{10.10.17.159:9200}]]

my es.properties:

connector.name=elasticsearch
elasticsearch.scroll-size=1000
elasticsearch.request-timeout=30s

[2019-09-06 08:10] gravitys169 commented on #5709
I got the same bug again, the GSS initiate failed will happen randomly，the possibility of failed query is bigger than success.

do anyone has any idea now?

[2019-09-06 08:26] toninis opened #13346 "UnsupportedOperationException: com.facebook.presto.spi.block.IntArrayBlockBuilder"
Hello all,

I get this error when I try to aggregate some DOUBLE types with Integers .
Is this normal behaviour ?

I am querying Hive backend with Presto 0.215 .

[code]

[2019-09-06 09:47] gravitys169 commented on #5709
I finally solved this bug.
it is due to the presto worker's /etc/hosts has two hadoop cluster's hostnames,
and unfortunately the two cluster's hostnames has the same name which point to different ip,
such as host0 can point to 129.22.110.1 or 129.22.100.1.
some worker's hosts file is correct, so it can run succefully sometimes.

[2019-09-06 14:38] mohantnr opened #13347 "does it supports Cloudera Apache Sentry"

[2019-09-06 15:27] tooptoop4 commented on #13347
Use apache ranger. Sentry is not supported

[2019-09-06 15:28] tooptoop4 commented on #13346
Send sample SQL sir

[2019-09-06 15:29] tooptoop4 commented on #13346
And ddl

[2019-09-06 16:09] vkorukanti commented on #13345
@ccz414172041 The current connector doesn't support HTTP transport. Change the port `9200` to native transport port `9300` (default). After https://github.com/prestosql/presto/pull/1213, it should support both native and http transport.

[2019-09-06 16:12] neeradsomanchi commented on #13340
## Andrii Rosa
- [ ] All Checked
-  08-26 10:34:48    9fe9f13cb  Do not check bucketing consistency for unpartitioned tables
-  09-04 14:22:59    820a0b098  Update scm to point to facebookexternal
-  09-04 14:25:31    b4e09626b  Change FunctionMetadata to use FullyQualifiedName
-  09-04 15:47:48    1c04f9d64  Update esri version to 2.2.3
-  09-04 15:47:48    3e803381e  Do not use tempfs in TestPri

[2019-09-06 16:22] thoralf-gutierrez commented on #12338
FYI the discussion is happening in the #parquet-stats channel and we've create a new issue in the new repo here : https://github.com/prestosql/presto/issues/1462

[2019-09-06 16:47] shixuan-fan opened #13349 "ResponseTooLargeException should not be retried"
We had a table A that has only one varchar column, and the maximum length accidentally shoot up to 8M while the normal one should be a 10-character number. When running the following query:

[code]

It eventually failed with the following stacktrace:
[code]

I'm wondering if `io.airlift.http.client.ResponseTooLargeException` should be retried at all, and the error message for `ResponseTooLargeExce

[2019-09-06 17:36] neeradsomanchi commented on #13340
## Andrii Rosa
- [ ] All Checked
-  08-23 12:00:01    b508153ba7 Update fixed-precision docs to reflect constants parsed as DECIMAL
-  08-29 17:11:57    5d18a1c01d Check Parquet schema mismatch
-  08-30 07:50:44    d591d7970b Allow anonymous rows in Hive temporary tables
-  08-30 09:30:49    139e024327 Remove StatisticAggregationsDescriptor from TableWriterNode
-  08-30 09:30:57    88fe29d2e3 Remo

[2019-09-06 17:39] mbasmanova opened #13351 "Null/Non-Null filter on a list/map/struct should preserve subfield pruning"
` c IS NULL`, `c IS NOT NULL` filters should preserve subfield pruning, e.g. the following query should only read subscript 1:

`SELECT a[1] FROM test_pushdown_map_subscripts WHERE a IS NOT NULL`

To reproduce, update `TestHiveLogicalPlanner#testPushdownMapSubscripts` like so:

[code]

CC: @prestodb/aria @zhenxiao @qqibrow

[2019-09-06 17:42] mbasmanova commented on #13340
[code]

[2019-09-06 18:11] rongrong commented on #13340
Not sure whether we want release notes from my changes. It adds some new APIs to SPI but it's not really ready for use. So I think we should skip release notes for now.

[2019-09-07 00:46] hellium01 opened #13355 "JDBC identity not passed down to connection properties"
We added support for passing through credential to connectors. However, we are not yet utilizing this information making new connections:

https://github.com/prestodb/presto/blob/db03518bf342c8fb74ace9ba25f2b0c78991953a/presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/DriverConnectionFactory.java#L60

[2019-09-07 07:49] #8891 closed

[2019-09-07 15:35] Trofym commented on #12668
@zhenxiao Does Presto 318 work with Elasticsearch version 7.3.1? I can't connect and get this error
[code]

[2019-09-07 17:39] duyquangnguyenhac commented on #13355
I would like to claim this issue if possible, James

[2019-09-07 19:14] findepi commented on #12668
@Trofym Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/community.html)

[2019-09-07 19:42] #7271 closed

[2019-09-07 20:19] zhenxiao commented on #12668
@Trofym seems the hostname could not be resolved. Is it 127.0.0.1, did you try localhost?

[2019-09-08 01:14] duyquangnguyenhac commented on #13317
Can I claim this issue, James

[2019-09-08 01:32] highker commented on #13355
@hellium01, has this issue been assigned to anyone else? Otherwise, @duyquangnguyenhac can take it.

[2019-09-08 01:33] highker commented on #13317
@duyquangnguyenhac, the issue will be resolved by #13338 by @swapsmagic.

[2019-09-08 15:37] qwalker opened #13359 "Upgrade kudu client to 1.10.0"
Sometimes the kudu connector throws exception of "Invalid call sequence ID in scan request"，and it's said it's a issue of kudu client and it's resolved in 1.9.0:
https://issues.apache.org/jira/browse/KUDU-1868

[2019-09-08 21:01] hellium01 commented on #13355
Nope, please feel free to assign to your self @duyquangnguyenhac.

[2019-09-09 02:22] ccz414172041 commented on #13345
thank you for you answer!
but I tried change the port to 9300, there are still the same error that NoNodeAvailableException[None of the configured nodes are available: [{#transport#-1}{q2HDbxS4TbSTS0l1X5zfLw}{10.10.17.159}{10.10.17.159:9300}]].
I never change the elasticsearch.yml, I saw some issues of the same problem. The answer is check my config of the cluster_name or port, but I confirm my co

[2019-09-09 05:21] wenleix opened #13360 "Expression optimizer should be able to disable constant folding when the returned value is huge"
We recently encountered a coordinator reliability issue. The query contain an expression like the following:

[code]

Presto will optimize constant expression such as `SEQUENCE(1, 10000)` into a "magic literal", which is basically the serialized bytes of evaluated result.

However, if the evaluated constant value is huge (e.g. in this case, there are many arrays of size 10K), it will make the plan

[2019-09-09 06:44] ccz414172041 commented on #13345
all right. my es version is 2.x,  then I replace es version 6.1, I can get query with use tcp port(server port 21400, tcp 21401; default is 9200,9300).

[2019-09-09 10:49] Trofym commented on #12668
Yes, I have tried localhost, but no difference

[2019-09-09 15:53] #13211 closed

[2019-09-09 16:39] neeradsomanchi commented on #13340
# Missing Release Notes
## Andrii Rosa
- [ ] all checked
- https://github.com/wei-yi/presto/pull/1 get new code
- https://github.com/prestodb/presto/pull/12550 Refine Parquet schema mismatch message
- c594611edd836a9f454678e808ad56ff6986e65b Allow concurrent writes into a bucketed table
- 59a230a1f874a57e659099faa38c27766a8643b6 Allow local exchanges on non system partitioning
- 85efb9356acec97a7f

[2019-09-09 17:57] ajaygeorge opened #13361 "Additional Refactoring for UnnestOperator"
@yingsu00 Added some PR comments for a backport PR https://github.com/prestodb/presto/pull/13319

Creating this task to let us track the changes needed to address them

[2019-09-09 18:02] #13121 closed

[2019-09-09 19:44] arhimondr commented on #13340
[code]

[2019-09-09 20:41] duyquangnguyenhac commented on #13355
I'm not sure how can I self-assign this issue, could someone assign it to me ?
James

[2019-09-09 20:49] hellium01 commented on #13355
It seems like the same issue is already solved on prestosql: https://github.com/prestosql/presto/commits/master/presto-base-jdbc/src/main/java/io/prestosql/plugin/jdbc/DriverConnectionFactory.java, so likely you just need to back port the last two commits that changed this file.

[2019-09-09 21:55] tanvach commented on #12929
Great summary. I'm looking forward to t-digest implementation in the future!

[2019-09-09 23:30] mikemcbrearty commented on #13274
I am also interested in support for ip prefix. I'll make an implementation of IP prefix as a separate type.

[2019-09-09 23:50] JivanRoquet commented on #6385
Hi there, just upping this thread in case anyone has given some more thoughts into it. Multiple columns in IN predicate sounds like an interesting feature to have as it can avoid a lot of complexity, especially when dealing with template-generated queries.

[2019-09-10 03:43] tchunwei commented on #13333
I am having same issue too, both database (schema) and collection do not work with capital letter name.

[2019-09-10 03:50] highker commented on #13205
Reducing default read size from 8MB to 0.2MB can greatly leverage the benefit of using SSD

<img width="802" alt="Screen Shot 2019-09-09 at 8 48 10 PM" src="https://user-images.githubusercontent.com/2192913/64582731-53942c80-d343-11e9-90bb-533313b1a4b9.png">
<img width="885" alt="Screen Shot 2019-09-09 at 8 32 39 PM" src="https://user-images.githubusercontent.com/2192913/64582733-542cc300-d343-11e

[2019-09-10 06:40] tirpudepankaj opened #13365 "Facing issue while installation for java version openjdk "11.0.4""
Hi All,

I am trying to install presto on machine and following documents below documents
[https://prestodb.github.io/docs/current/installation/deployment.html](url)

though I am following each and every steps still getting bellow error in server.log file
please assists.

2019-09-10T06:35:25.197Z        ERROR   main    com.facebook.presto.server.PrestoServer Unable to create injector, see the foll

[2019-09-10 09:56] thereisnospoon opened #13367 "Presto queries start to hang only for a particular user"
I have a Presto 0.220 cluster in EMR connected to a custom Hive Metastore backed by AWS RDS instance. Along with Presto, there is Alluxio (https://www.alluxio.io/) deployed on all of the machines of the same EMR cluster. The data for querying is on S3 but all IO goes through Alluxio (since Alluxio is basically a distributed read/write through cache between S3 and Presto in this case). The cluster

[2019-09-10 10:02] llysjtu commented on #11949
@photogamerun Is your problem fixed yet? Our cluster meets almost the same problem.

[2019-09-10 10:23] ajithsharma87 opened #13368 "Query 20190910_093618_00004_2ad6f failed: No nodes available to run query"
Hello ,

  I am getting error Query 20190910_093618_00004_2ad6f failed: No nodes available to run query when trying to retrieve the data from hive , i have configured the multinode cluster with 1 coordinator node and 2 worker nodes

Regards
AJITH SHARMA

[2019-09-10 18:37] bearcage commented on #8939
I believe this bug (for s3 locations specifically) was fixed by this changeset on the other fork, in case anybody else hits it: https://github.com/prestosql/presto/commit/1985dcaa84f48e1994a75a791b49a0524db18f60

The tl;dr is that s3 isn't actually a filesystem, it's a kv store with "prefixes" — a prefix can't exist without data under it, so HMS can't create an empty directory, so as you've alread

[2019-09-10 19:03] rschlussel commented on #13368
Can you confirm that your cluster has 2 worker nodes registered. e.g logging into the webui or running select * from system.runtime.nodes.  This usually means your cluster isn't configured correctly and the coordinator doesn't know about the worker nodes.

[2019-09-11 02:49] taivo commented on #12850
I've just encountered this `No service providers of type io.prestosql.spi.Plugin` error myself and for my case even after changing all lines of code that refer to `com.facebook.presto` to `io.prestosql` I still got the same error.

It turned out to be more of a Java's Service Provider Interface (SPI) config issue than a prestosql issue. There was a resource file named `resources/META-INF/services/

[2019-09-11 02:59] pankaj358 commented on #9757
can anyone guide for json-connector for presto?

[2019-09-11 03:32] shixuan-fan commented on #13205
Here are the results with file handle cache:
![image](https://user-images.githubusercontent.com/12627919/64666158-15ae0b80-d40a-11e9-9f8f-8333259e90dc.png)
![image](https://user-images.githubusercontent.com/12627919/64666140-0d55d080-d40a-11e9-9288-1d99348a77da.png)

[2019-09-11 04:10] ajithsharma87 opened #13378 "we want to install mysql connector"
hello

   I am planning to implement the mysql connectorin the single node cluster , is it  required to have mysql installed on the machine which i am implementing the connector?

Thanks
AJITH SHARMA

[2019-09-11 04:37] ajithsharma87 commented on #13368
Hello, 
   I am able to see as 2 active worker nodes on the webui.. do we have to configure the hive connector properties even on the worker nodes? 
ThanksAjith

  On Wed, Sep 11, 2019 at 0:34, Rebecca Schlussel<notifications@github.com> wrote:
Can you confirm that your cluster has 2 worker nodes registered. e.g logging into the webui or running select * from system.runtime.nodes. This usually mea

[2019-09-11 05:30] ajithsharma87 commented on #13378
Error running command: java.io.IOException: unexpected end of stream on Connection{ipfavpapp02.amr.corp.intel.com:1433, proxy=DIRECT hostAddress=ipfavpapp02.amr.corp.intel.com/10.64.88.56:1433 cipherSuite=none protocol=http/1.1}

when connecting to mysql from the CLI , i have configured the mysql connector

[2019-09-11 06:05] highker commented on #13205
0.5MB max read result. We will mainly focus on optimizing IO than using data cache.

<img width="940" alt="Screen Shot 2019-09-10 at 10 35 54 PM" src="https://user-images.githubusercontent.com/2192913/64672086-56644f80-d41f-11e9-9e5d-e3ed6cdbc9a9.png">

[2019-09-11 08:06] findepi commented on #12850
@taivo thanks for sharing this. Please note that Presto SQL (`io.prestosql`) releases are maintained at https://github.com/prestosql/presto.
Also, on the Presto Community Slack (https://prestosql.io/community.html) there is the `#troubleshooting` channel where you can always get help.

[2019-09-11 08:06] #12850 closed

[2019-09-11 09:27] ajithsharma87 commented on #13368
Also please let me know where should i  specify the worker node name in the coordinator node configuration , briefly update me about the coordinator and the worker node configuration

[2019-09-11 09:44] JivanRoquet commented on #6385
Update: there is a way to use multiple-columns with an `WHERE (a, b) IN (SELECT ...)`, by wrapping the selected rows in parenthesis so as they're effectively turned into one single anonymous row.

Example:

[code]

[2019-09-11 14:37] rschlussel commented on #13368
yes, you should configure the hive connector on the worker nodes too.

You don't need to specify the worker node name in the coordinator configuration.  workers announce themselves to the coordinator (that's what the discovery.uri property is used for in the worker configuration).

[2019-09-11 15:22] ajithsharma87 commented on #13368
Yes I have configured the hive connector on all the worker node and also have specified the coordinator node on the discovery uri in the worker node configuration...why is it still giving as nodes not found? 

  On Wed, Sep 11, 2019 at 20:08, Rebecca Schlussel<notifications@github.com> wrote:
yes, you should configure the hive connector on the worker nodes too.

You don't need to specify the worke

[2019-09-11 16:02] bigdatashiva opened #13380 "presto configuration in Superset"
Hi All,

Can anyone please suggest me how to configure presto in apache superset.
like what is the syntax/format for SQLAlchemy URI and other parameters.
Please do respond as soon as you see this message.

am accessing cassandra from presto and the same am trying to configure thru presto in apache superset.

[2019-09-11 16:03] bigdatashiva commented on #13378
yes, mysql has to installed on the machine.

[2019-09-11 16:23] arhimondr commented on #6385
The problem is that currently Presto doesn't support IN expression for
complex types. There were complications mostly related to `null` vs `false`
result for semi join.

On Wed, Sep 11, 2019 at 2:45 AM Jivan Roquet <notifications@github.com>
wrote:

[2019-09-11 19:44] tooptoop4 commented on #13355
would this work if there are say 3 catalogs/connectors, can it use user credentials to mysql, config credentials to postgres and then 'NTADMIN/'+user credentials to MSsqlServer? If so how can this be specified ?

[2019-09-11 19:58] duyquangnguyenhac commented on #13355
Can you elaborate on what I need to do here? I'm not sure what you mean by back port the two commits

[2019-09-12 00:40] JivanRoquet commented on #6385
How comes in works by simply wrapping multiple columns in parenthesis, then?

[2019-09-12 01:09] highker commented on #13205
Given HDFS can provide much higher throughput, we increase the IO fanout to workaround latency:
![Screen Shot 2019-09-11 at 5 59 16 PM](https://user-images.githubusercontent.com/2192913/64746108-469c4800-d4bf-11e9-8b4b-dc74283f5657.png)

[2019-09-12 06:10] jlfsdtc opened #13383 "is there any way to get the cluster cpu information ?"
Hello, I am searching a way to get the CPU usage information of cluster
/v1/cluster only can get the  totalCpuTimeSecs, is there any way to get other mess?
like use core number
thxs

[2019-09-12 06:12] rongrong commented on #13383
At Facebook we gather those information from the machines directly.

[2019-09-12 06:28] jlfsdtc commented on #13383
i think so.
just want use restful api to get them , be lazy :)

[2019-09-12 06:34] ajithsharma87 opened #13385 "mssql connector"
Hello ,

   Do we need to install and configure JDBC.jar in presto for mssql connector to work? since when i try to run query i get an error Query 20190912_063404_00004_q396d failed: The port number 1433]] is not valid

Thanks
AJITH SHARMA

[2019-09-12 12:08] shengang opened #13386 "config spill,but not worker——Query exceeded distributed total memory limit of"
my config.properties such as :
query.max-memory=112G
query.max-memory-per-node=28GB
query.max-total-memory-per-node=30GB

when run big query,get exception:Query exceeded distributed total memory limit of 112GB。 The task was killed。
I want the task can finish query。so I config spill,add config ：
experimental.spill-enabled=true
experimental.spiller-spill-path=/tmp/spill/path1,/tmp/spill/path2
experi

[2019-09-12 16:31] tooptoop4 opened #13387 "SELECT * FROM public.favicon-16x16.png LIMIT 1000"
I am seeing

SELECT * FROM public.favicon-16x16.png LIMIT 1000

in query logs not sure what generates it

[2019-09-12 19:15] calvaradocl opened #13390 "REST service data response variations"
Hello,

I'm using Presto 0.220 on EMR with Hive in order to query a small S3 repository (it just has around 4K data rows). But when querying over the REST API (on /v1/statement), I'm getting different data responses in the JSON payload provided by the GET request, but when I look up the query info on the UI, the returned rows number is the one expected, I don't know if there is a way to set-up how

[2019-09-12 19:22] thasija opened #13391 "Installing the presto rpm fails on centos 7"
Installing the presto rpm on centos 7 machine fails with the below error , Java (JDK 1.8.0__77) is  installed on the host but the Pre script  exits with the status 1

rpm -i presto-server-rpm-0.224.rpm
+======================================================================+
|      Error: Required Java version could not be found                 |
+---------------------------------------------------

[2019-09-12 22:42] tooptoop4 opened #13394 "allow 'analyze table' without insert priv"
unable to analyze table using ranger access control plugin

https://github.com/prestodb/presto/blob/0.220/presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java#L464
or drop table
or others:
see AccessDeniedException in the code or accessControl or checkCan

also $partitions table:
https://github.com/prestodb/presto/blob/bfeb574b995c812801ec9d67ef34ce6cc43b6bb4/presto-hi

[2019-09-13 07:12] #8909 closed

[2019-09-13 07:41] thereisnospoon commented on #13367
@tooptoop4 the resource group being used is the default `global` resource group. Yeah, there are potentially a couple of concurrent queries running at the same time but as I mentioned above after the problem appears all queries start to timeout regardless whether there are concurrent queries or complexity of the query. Also, please, see my last comment: the workaround to submit each query using di

[2019-09-13 08:47] thereisnospoon commented on #13367
After running for a day or so with the described above workaround queries started to fail with error instead of just hanging:
[code]
I've created another issue for Alluxio asking help to investigate this: https://github.com/Alluxio/alluxio/issues/9891

[2019-09-13 12:17] liusztc09 opened #13395 "Null pointer exception for PagesSpatialIndexSupplier.getEnvelope"
I'm running a spatial join with the rtree index by following [this improvement](https://github.com/prestodb/presto/pull/9474)
My query is:
`select * from points u, polygons v where st_contains(ST_GeometryFromText(v.wkt), ST_Point(u.longitude, u.latitude))`

And it throws the
[code]
All my points and polygons are valid and I'm not sure why it throws null pointer exceptions.

[2019-09-13 12:20] liusztc09 commented on #13395
Hi Maria, @mbasmanova

I was following your instructions on this https://github.com/prestodb/presto/pull/9474 and ran into a nullpointer exception issue. I was running a simple st_contains join between point and polygon. Could you please take a look that it when you get a chance?

Thanks,
David

[2019-09-13 12:37] liusztc09 commented on #13395
When I converted it to the bing tile based query it throw such error:
[code]

[code]

[2019-09-13 13:51] mbasmanova commented on #13395
@liusztc09 Which version of Presto are you using? The stacktrace doesn't match latest master.

CC: @jagill

[2019-09-13 13:58] liusztc09 commented on #13395
@mbasmanova  Thank you for the quick response! I'm using version 0.220. Is there any fix made to this on the newer versions?

[2019-09-13 14:01] mbasmanova commented on #13395
@liusztc09 There were a few fixes and improvements recently. Most relevant might be #13157 and #13079 . Any chance you could upgrade and run the query on latest?

[2019-09-13 14:10] liusztc09 commented on #13395
Will give it a try and let you know. Thank you!

[2019-09-13 17:28] mciruzzi commented on #4151
@electrum which are the defaults for this properties?

[2019-09-13 18:22] ESKoda commented on #13326
Verifique se a estrutura no mongodb tem letras maiúsculas, pois o presto não entende letras maiúsculas
Estou com o mesmo problema!

[2019-09-13 19:02] #8904 closed

[2019-09-13 19:02] #8914 closed

[2019-09-13 19:13] findepi commented on #4151
@mciruzzi  You can find @electrum at https://github.com/prestosql/presto
or on the Presto Community Slack (https://prestosql.io/community.html)

[2019-09-13 19:54] tooptoop4 commented on #13355
@duyquangnguyenhac prestosql repo has the fix, you can lift&shift to prestodb repo

[2019-09-13 21:13] mrbrahman opened #13397 "reduce_agg windowing clause"
Looks like the `reduce_agg` aggregate function does not support windowing clause?

[code]

[2019-09-13 21:19] mrbrahman commented on #8203
This would be an awesome feature to have! 👍

[2019-09-13 22:51] sanzgiri opened #13398 "Add support for non-integer percentages and fixed number of rows when sampling tables"
Presto currently supports only integer values for the Tablesample percentage. It accepts values such as 0.001, but actually give you a 1% sample. The ability to sample smaller percentages will be very useful when working with very large tables.

Additionally, it would be extremely useful if  you could specify the number of rows to be returned when you sample a table.

[2019-09-13 23:38] hellium01 commented on #13355
Yes, please make sure to include the original author if you decided to do that.  The implementation might need to be tweaked a little bit to support multiple connector cases.

[2019-09-14 02:37] highker commented on #13205
![Screen Shot 2019-09-13 at 7 20 37 PM](https://user-images.githubusercontent.com/2192913/64902549-df68ca00-d65d-11e9-800b-4009bb9bf8b5.png)
![Screen Shot 2019-09-13 at 7 31 01 PM](https://user-images.githubusercontent.com/2192913/64902550-e1cb2400-d65d-11e9-92e7-158094737378.png)

[2019-09-14 03:02] #8900 closed

[2019-09-14 03:02] #8915 closed

[2019-09-14 03:25] duyquangnguyenhac commented on #13355
I'm working on it right now, please give me a few days to analyze how the program work and how to fix this issue. Thank you, James!

[2019-09-14 18:02] #8789 closed

[2019-09-14 19:25] #8926 closed

[2019-09-14 20:38] tooptoop4 opened #13399 "allow setting default catalog using config property on server-side"
a new config property: default.catalog placed in properties file (iee default.catalog=hive) so if user does not specify then it gets used

[2019-09-15 05:42] highker opened #13400 "OrcWriter may close column writers twice if rollback"
During rollback, do not close the writer if the it has already been closed.
Need to re-exam `outputPageSink`'s behavior in `compactSorted` method.

[code]

[2019-09-15 08:17] RanjithTeegala opened #13401 "Hive: Connection is already closed"
While trying to connect hive I am getting the below error. I am unable to enter into my Hive terminal.

ERROR StatusLogger No log4j2 configuration file found. Using default configuration: logging only errors to the console.
Connecting to jdbc:hive2://
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/hive/lib/slf4j-log4j12-1.7.5.jar!/org/slf4j/impl/StaticLog

[2019-09-15 09:01] play-io opened #13402 "Query returning no records is being executed in Presto is much longer than executed directly in Cassandra"
A query returning 0 records is executed much longer in Presto than in Cassandra. All partition columns are present in `where` clause. However same query, but with different value in column `operation` returning a few but and doing it much faster:
slow (33s): `... and operation = 'rollback'` - no such records in Cassandra
fast (5s): `and operation = 'win'` - there are such records in Cassandra

Cas

[2019-09-15 09:07] play-io commented on #13380
`presto://<hostname>:<port>/<catalog_name>/<keyspace>`
Eg. `presto://presto:8080/cassandra/trxkeyspace`

[2019-09-15 19:41] liusztc09 commented on #13395
@mbasmanova After moving to 0.225, it throws null pointer error from another method in GeometryUtils

[code]
Interestingly, if I call ST_envelope(ST_GeometryFromText(v.wkt)) it runs successfully for both v220 and v225, so I'm pretty sure it's because some of the polygons causing problems.

[2019-09-15 20:43] RameshByndoor commented on #12484
setting this property `hive.metastore.client.capability.check=false` at `hivemetastore-site.xml` and restarting hive-metastore service solved this problem, This can be due to version mismatch in HiveThriftMetastoreClient used in presto and metastore api in 3.1.0.

[2019-09-16 01:47] jagill commented on #13395
@liusztc09 Is there a way we can find which geometry causes the problem?  If you are able to share the list of geometries I can probably narrow it down.

[2019-09-16 02:19] jagill commented on #13395
@liusztc09 Thank you for this test case.  The issue is that we weren't handling GeometryCollections correctly (they require special handling); I'm submitting a fix for it.  Until the fix is landed, you can work around it by unnesting your Geometry Collections (or converting them to a homogeneous MultiGeometry), if that's possible.

[2019-09-16 03:14] liusztc09 commented on #13395
@jagill Thank you for quick fix! Yes, I narrow down my data and it is geometry collections causing that issue. Looking forward to your fix :)

[2019-09-16 06:51] highker commented on #13205
## HDD results

<img width="998" alt="Screen Shot 2019-09-15 at 11 48 01 PM" src="https://user-images.githubusercontent.com/2192913/64938744-bdb14380-d813-11e9-93c4-f75ce5d195a7.png">

[2019-09-16 15:35] #12087 closed

[2019-09-16 21:59] tooptoop4 commented on #13399
https://github.com/prestosql/presto/pull/1524

[2019-09-16 22:01] tooptoop4 commented on #13401
this is not presto related, look at !connect syntax as your jdbc:hive2:// shows no hostname

[2019-09-17 00:20] #13395 closed

[2019-09-17 04:03] duyquangnguyenhac commented on #13355
@hellium01 how can I contact you on slack ?
- James

[2019-09-17 11:25] xingnailu commented on #12717
same error~  presto version is 0.203. Has the later version been fixed? @wenleix

[2019-09-17 11:46] wwwwwwchun opened #13408 "presto-cli can not use [no jansi64-0.225-9e57310 in java.library.path]"
the presto version is 0.225,
when i exec the presto-cli,the cli return err:
[root@idc_db_5_30 presto-server]# ./bin/presto --server 172.18.0.2:8080
Exception in thread "main" java.lang.UnsatisfiedLinkError: Could not load library. Reasons: [no jansi64-0.225-9e57310 in java.library.path, no jansi-0.225-9e57310 in java.library.path, no jansi in java.library.path, /tmp/libjansi-64-0-42619621571372698

[2019-09-17 19:33] kaikalur commented on #13360
I thought the worker can generate plans/compile expressions? So may be don't expand SEQUENCE until it's actually needed for execution? This constant folding generally doesn't help in optimizing.

[2019-09-17 19:48] hellium01 commented on #13360
There might be cases constant folding might be useful later. For example,  if we call apply/reduce function on top of an expanded sequence, the actual result will be small. There are some optimizers can utilize the fact that a field can be constant. Though, it looks like very rare `SEQUENCE` will be used in such cases, so simply disable it should be a safe bet.

We currently convert  array constan

[2019-09-17 19:53] hellium01 commented on #13360
Historically it is expanded because user can send massive Array constructors and we don't have a good way to smartly decide which function should we skip:
[code]
which causes issue.

[2019-09-17 19:55] kaikalur commented on #13360
Yeah we could cap array literal size explicitly to be small like 100 or so and suggest the user use SEQUENCE if it's bigger. I would think the optimization opportunities for such large literals are rare enough that it may be ok to not do it all the time.

[2019-09-17 20:53] andtrott commented on #5801
@ptkool any updates here?

[2019-09-18 00:06] yen-von commented on #13330
### Setup `jmx-exporter`
1. Where to run the exporter?
It's strongly encouraged to run the jmx exporter as Java Agent([see here for reason](https://github.com/prometheus/jmx_exporter#jmx-exporter)), so I won't cover scraping remote JMX target here

1. Download the jar file([their git repo](https://github.com/prometheus/jmx_exporter#jmx-exporter))

1. Config `jmx-exporter` as http server by add thi

[2019-09-18 03:29] ajithsharma87 commented on #13368
hello , 
   Is it a bug in the cluster based installation? since things are working fine in the single node setup  
ThanksAJITH SHARMA 
    On Thursday, September 12, 2019, 11:12:19 PM GMT+5:30, Rebecca Schlussel <notifications@github.com> wrote:

That's a different error, so it sounds like the first issue is resolved and now you're encountering another problem. What's the full stacktrace?

For yo

[2019-09-18 05:21] ahmokhtari commented on #10755
Hi @cskbhatt
Have you managed to find a solution for this? I'm suffering from the same error.

[2019-09-18 07:45] patilharshal16 commented on #10357
By running presto one could solved this issue.

[2019-09-18 12:37] #8947 closed

[2019-09-18 13:33] Nihhaar commented on #8477
SELECT date_trunc('month', timestamp '2017-01-04 11:48:18') + interval '1' month - interval '1' day;

[2019-09-18 14:40] rschlussel commented on #13368
Since you say it's working on the single node set up, it sounds like your worker nodes aren't configured correctly.  Make sure you've followed all the steps here: https://prestodb.github.io/docs/current/connector/hive-security.html#configuring-hadoop-impersonation.  Have you distributed the keytab file to all nodes in the cluster?

[2019-09-18 15:34] golammott commented on #13400
@highker First time contributor here attempting to tackle this one, I walked through the code and here are a few callouts:

- After the low level ColumnWriters get marked as closed in the OrcWriter, IOExceptions can still be thrown (resulting in the outputPageSink.rollback()).
- This lead to inconsistent state where the low level ColumnWriters are marked as closed, but the OrcStorageManager's writ

[2019-09-18 15:42] ajithsharma87 commented on #13368
Hello,
     I have distributed keytab on all the nodes also did kdestroy and did kinit once again... Still giving same error , not able to access the hdfs through impersonation
Thanks

  On Wed, Sep 18, 2019 at 20:11, Rebecca Schlussel<notifications@github.com> wrote:
Since you say it's working on the single node set up, it sounds like your worker nodes aren't configured correctly. Make sure you'v

[2019-09-18 18:28] highker commented on #13400
@golammott, your understand is correct. Feel free to send out a PR to address the issue.
`OrcRecordWriter` is a legacy slow writer that should be avoid. We deliberately moved away from it (#12594).

[2019-09-18 19:37] #8368 closed

[2019-09-18 19:43] caithagoras opened #13415 "DROP FUNCTION syntax"
SQL Spec 2016 Section 11.62 defines the syntax for ``<drop routine statement>``. To suit our partial support for ``<SQL-invoked routine>``, wee only need parts in ``<drop routine statement>`` that are relevant. (#13254)

## Syntax
[code]

[2019-09-18 20:47] #12900 closed

[2019-09-19 08:01] ludi1981 opened #13421 "Mongodb case sensitive collection support"
Hi All,

presto 0.202 can't get the meta data of Mongodb collections if this is a camel case schema. By searching, I found this was fixed. URL: https://github.com/prestodb/presto/pull/6993

Does someone know which version fixed this? I don't see this fix in release notes from version 0.203 to 0.225.

Thansk,
Dillon

[2019-09-19 11:01] tooptoop4 commented on #13421
That PR was never merged

[2019-09-19 14:03] ghost opened #13423 "Support percentile_cont and percentile_disc"
Please add support for the SQL standard functions percentile_cont & percentile_disc already supported by most major SQL databases

- https://issues.apache.org/jira/browse/HIVE-16255
- https://cloud.google.com/bigquery/docs/reference/standard-sql/functions-and-operators#percentile_cont

[2019-09-19 15:07] mbasmanova commented on #13253
I'm still seeing occasional failures:

[code]

[2019-09-19 16:19] #8776 closed

[2019-09-19 17:05] oerling commented on #13253
Maybe the thing to do would be to have a catch block that would copy out the files for interactive reproduction.  The split of the test data across files is not deterministic, right?

From: Maria Basmanova <notifications@github.com>
Sent: Thursday, September 19, 2019 8:08 AM
To: prestodb/presto <presto@noreply.github.com>
Cc: oerling <erling@xs4all.nl>; Team mention <team_mention@noreply.github.co

[2019-09-19 18:04] #13295 closed

[2019-09-20 15:32] tooptoop4 opened #13427 "hive connector read from .csv.zip files (not gz/gzip)"

[2019-09-20 19:20] shixuan-fan commented on #13423
cc @rongrong I think this makes sense, does it sound reasonable to you?

[2019-09-20 19:21] shixuan-fan commented on #13427
Sorry I'm trying to understand. Is this a feature request?

[2019-09-20 19:49] golammott commented on #13400
Thanks @highker, addressed this issue in #13429.

Let me know if this approach works and I can add some unit tests. Was also thinking of causing the IOExceptions to propagate back to the `OrcStorageManager.appendPages()` and marking the writer as closed there.

[2019-09-20 21:09] ggreg commented on #13360
Does it means that the expression is converted to `ARRAY [1, 2, ..., 10000]`?

Did we ever consider using a VM (as virtual machine but not the JVM) representation and an evaluator on the worker (with possibly a cache) to make this more concise?

Here sequence would map to an integer opcode SEQ and have two integer operands, `1` and `10,000`. Interestingly `ARRAY [1, 2, 3, ..., 10000]` would map to

[2019-09-21 09:12] mbasmanova opened #13431 "Subfield pruning doesn't work properly for arrays nested in maps"
In the following query only 2-nd index of the array is used. However, subfield pruning doesn't occur.

[code]

If the query is modified to not project map key, subfield pruning for the array happens:

[code]

To reproduce, add the following test to `TestHiveLogicalPlanner`:
[code]

CC: @prestodb/aria @zhenxiao

[2019-09-21 09:13] mbasmanova commented on #12916
CC: @prestodb/aria

[2019-09-21 18:31] #8802 closed

[2019-09-22 19:26] shivarajugowda commented on #12039
Nice write up on different approaches, thank you all for sharing the details.

@puneetjaiswal I am using presto-gateway and appreciate your team sharing it with the community.

I had a question regarding graceful shutdown. I hope I am not hijacking the thread and  hope the question is related to the broader theme of rolling restarts. How long does it take in your environment for the worker to grac

[2019-09-22 21:02] #8982 closed

[2019-09-23 00:15] #8988 closed

[2019-09-23 01:39] rongrong commented on #13423
SQL spec defines this as `<inverse distribution function>` in `10.9 <aggregation function>`. Very reasonable request. Though Presto currently don't support any ordered set function. The implementation is non-trivial.

[2019-09-23 01:45] ludi1981 commented on #13421
ok. thanks.

[2019-09-23 01:45] #13421 closed

[2019-09-23 04:21] rongrong commented on #13423
The implementation can probably use changes from #7682.

[2019-09-23 06:56] highker commented on #13400
Paste the original exception causing the rollback for reference
[code]

[2019-09-23 11:03] lordk911 opened #13435 "How to use SSL in JDBC Driver"
hi,all
   I'm using presto 0.217 , My ETL-TOOL need to connect presto with JDBC , and it's need password must be not empty. I found that ,when use password with jdbc ,presto need to enable SSL. I've sucessfully started presto cluster with SSL。
but I can't connect the clusert with CLI and JDBC .
when I try to connect with cli :
[code]
Please Help!

[2019-09-23 16:45] shixuan-fan commented on #13435
Can you run cli with `--debug` to get the full stacktrace? It looks like the hostname of the server is not verified, maybe you need to set truststore as well?

[2019-09-23 16:59] wenleix commented on #13360
https://github.com/prestodb/presto/issues/13360 is a pre-requisite for fix this.

[2019-09-23 17:01] wenleix commented on #13360
Sort of, but the ARRAY is represented in serialized form:

[code]

Here `CgAAAExPTkdfQVJSQVkKAAAAAAEAAAAAAAAAAgAAAAAAAAADAAAAAAAAAAQAAAAAAAAABQAAAAAAAAAGAAAAAAAAAAcAAAAAAAAACAAAAAAAAAAJAA` is the serialized array for `[1, 2, ...10]`

[2019-09-23 18:09] rschlussel commented on #11189
Currently there are json versions of the plan as part of the queryCompletedEvent for a query, so it should be pretty straightforward to add this format for EXPLAIN.

[2019-09-23 20:25] felixgao opened #13437 "ExceededMemoryLimitException on query with many aggregate functions"
I am running a 23 node cluster on EMR each worker node have 64GB physical memory.  My config looks like
[code]
If I execute the query as
[code]
the query seems to finish with resource utilization like
![image](https://user-images.githubusercontent.com/1153820/65459401-ad492c00-de04-11e9-8bff-e9606aa6a950.png)

However, if I start to add more aggregation functions to the query like
[code]
this will

[2019-09-23 20:45] rschlussel opened #13438 "Support full stage retries from materialized results"
Since support for materializing intermediate results was added, we would like to support recovery from the most recent materialized results when bucket-level retries are not possible.  This would reduce wasted work when long running queries fail due to random instability, and would help those queries finish faster (since they aren't starting from scratch for each retry).

The support would be adde

[2019-09-24 08:50] thomasLeclaire opened #13443 "Huge time for aggregation in postgresql"
Hello,

I'm pretty new to prestoDB usage but was not able to find any answer in doc or others issues.

When I do some pretty basic request through presto like
`select field1,max(field2) from table group by 1` with table which has several millions lines.

i have some requests which will take a few seconds directly on postgresql but when using prestodb, it's several minutes. Checking the presto live

[2019-09-24 17:34] #13435 closed

[2019-09-24 17:36] shixuan-fan commented on #13437
Would you mind sharing the distributed query plan by `EXPLAIN (TYPE DISTRIBUTED) <query>`?

[2019-09-24 17:38] shixuan-fan commented on #13443
Seems to be related to query plan push down. cc @highker @mbasmanova

[2019-09-24 17:53] highker commented on #13443
@sachdevs will work on plan pushdown for JDBC connectors

[2019-09-24 18:14] mbasmanova commented on #13443
@thomasLeclaire Your observations are correct. At the moment, Presto is not able to push down complex operations such as aggregations or joins into the data source. Hence, it read all the data, then aggregates on its own. @highker added infrastructure to enable pushdown of any part of the plan, but we are still missing support from the connectors. Specifically, Postgres connector needs to be modif

[2019-09-24 19:04] tooptoop4 commented on #13427
yes

[2019-09-24 20:15] felixgao commented on #13437
certainly. here is the the query plan for the multiple aggregated values

[code]

[2019-09-24 20:52] shixuan-fan commented on #13437
Most of the time when we see local memory limit error, it is due to data skew. Could you check the cardinality of "company_id, invoice_id" combination to see if there are skew?

Note that since your total memory is larger than node count * local memory, so it is guaranteed to first hit local memory limit before hitting total memory limit, thus the skew guess might not be correct.

[2019-09-24 21:34] sugiryo commented on #4932
I'm getting the same error msg with a simple statement like below, presumably due to this bug:
`DELETE FROM t_a WHERE c IN (SELECT DISTINCT c FROM t_b)`
where `t_a` is partitioned by `c`, so it's deleting some partitions entirely. If I write down the result of SELECT DISTINCT part, this statement succeeds.

Is there any plan to fix this bug?

[2019-09-24 22:48] YitongTseo opened #13445 "TEXT_COSINE_SIMILARITY"
Presto does not have any built in way to call COSINE_SIMILARITY for text. I find COSINE_SIMILARITY to be a very very useful function for text, and would love to see it implemented as a UDF for Presto.

Specifically a TEXT_COSINE_SIMILARITY UDF that returns the cosine similarity between two text blobs, defined as the cosine of the angle between two vectors which are aligned on the word in question

[2019-09-24 23:50] highker commented on #13400
@golammott, thanks for writing the unit test! I will think about how to address the issue tonight. Meanwhile, if you have a good proposal, feel free to put it down in the comment.

[2019-09-25 01:49] infearOnTheWay opened #13446 "Enhance 'Valuableset' by 'Like' predicate"
'Like' predicate has been supported in presto.But it seems that 'Like' can't push down to the data source as far as I know. Since the 'ValueSet' only contains 'EquatableValueSet','SortedRangeSet' and 'AllOrNoneValueSet' implementation now.

In our case, 'Like' predicate would have better performance in our data source query process.So we implement 'LikeValuableSet' and push down to our data source

[2019-09-25 05:05] #8995 closed

[2019-09-25 13:09] highker commented on #13400
@golammott, maybe just add a try/finally block to the following code. It's unfortunate we have decoupled reset and close so far away.
[code]

[2019-09-25 13:52] #13345 closed

[2019-09-25 18:19] #12826 closed

[2019-09-25 19:28] felixgao commented on #13437
I did a count distinct on 'company_id, invoice_id' there are 1,445,965,788 records out of 2.1B rows.

[2019-09-26 05:16] tooptoop4 commented on #12577
@rongrong did https://github.com/prestodb/presto/pull/12946 fix this issue? if so, does .226 have the fix?

[2019-09-26 06:18] imperio-wxm opened #13454 "How long will QUERY DETAILS records remain?"
I found that after a long time or more query records, the old page could not be viewed.

![image](https://user-images.githubusercontent.com/8111349/65663075-6491ad00-e068-11e9-82ff-e17647490c7f.png)

[2019-09-26 06:19] rongrong commented on #12577
@tooptoop4 Yes #12946 reintroduced `FULL OUTER JOIN + COALESCE` optimization and it should not have this bug. It will be released in 0.227.

[2019-09-26 10:49] shanmugaapriyan commented on #13408
I'm also getting the same error while running it in my CENTOS. But its working fine in my MAC

[2019-09-26 11:52] bohyn opened #13456 "JDBC Driver - low performance of getColumns method"
Reading columns metadata by using Presto JDBC driver's method PrestoDatabaseMetaData.getColumns() method is very slow.

We have Presto (0.225) connected to Hive catalog with hundreds of tables. This particular problem was observed with Spotfire as a JDBC client. By looking at the driver source, calling getColumns() method for one table results in executing following query over "system.jdbc.columns

[2019-09-26 12:28] shanmugaapriyan commented on #13408
Its not an issue. This occurs only if the presto-cli couldn't able to access its java temp folder.

Running the same as sudo user with all the permissions or create a new temp folder and run the cli

[2019-09-26 14:13] tooptoop4 opened #13457 "presto v0.226 (or v0.221, probably up to v0.234 too) reading parquet does not work (but v0.220 works)"
presto v0.220 (works):
java -jar /home/ec2-user/presto --server http://localhost:4038 --execute "select metric, sum(1e-6) as mrows FROM hive.s.t group by metric order by metric" --output-format TSV --user x
temp2m  434.17728003662273

This issue must have been introduced in 0.221 release (every release after 0.220 has the issue)

presto v0.221 (broken):
java -jar /home/ec2-user/presto --server htt

[2019-09-26 17:50] mbasmanova opened #13459 "Flaky test TestUnweightedDoubleReservoirSample"
TestUnweightedDoubleReservoirSample fails sometimes:

[code]

CC: @atavory

[2019-09-26 21:55] #8979 closed

[2019-09-26 23:31] akshaymahajans commented on #8200
Is there any plan for support on this to be added?

[2019-09-27 00:39] mbasmanova opened #13463 "NPE in MapDirectSelectiveStreamReader"
Selective map reader may throw NPE when reading selected rows from all-nulls rowgroup:

To reproduce add the following test to `TestSelectiveOrcReader`:

[code]

CC: @prestodb/aria

[2019-09-27 01:19] mbasmanova opened #13465 "NPE in LongDirectSelectiveStreamReader"
Selective long reader may throw NPE when reading selected rows from all-nulls rowgroup:

To reproduce add the following test to TestSelectiveOrcReader:

[code]

CC: @prestodb/aria

[2019-09-27 02:30] ShawshankLin opened #13469 "mongo connector can`t find system.sessions"
I am trying to use Presto with MongoDB and having below error after loadTableSchema to the database.
[https://github.com/prestodb/presto/blob/master/presto-mongodb/src/main/java/com/facebook/presto/mongodb/MongoMetadata.java#L114](url)

``
com.google.common.util.concurrent.UncheckedExecutionException: com.mongodb.MongoQueryException: Query failed with error code 13 and error message 'not authorize

[2019-09-27 02:39] wenleix commented on #12775
Resolved by https://github.com/prestodb/presto/pull/13462

[2019-09-27 02:39] #12775 closed

[2019-09-27 08:34] #13465 closed

[2019-09-27 08:34] #13463 closed

[2019-09-27 09:03] Fnck opened #13470 "windows platform maven building is not supported"
1. mvnw command can't run in windows
2. when using mvn command, the presto-maven-plugin will generate service descriptor, and can't recognize the windows fold separator.

[2019-09-27 09:07] Fnck commented on #13470
I would like to change the preso-maven-plugin to adapt windows platform, but the code seems not open-sourced.

[2019-09-27 09:47] Fnck commented on #13470
The function com.facebook.presto.maven.ServiceDescriptorGenerator#findImplementationsOf should use the common file separater(System.getProperty("file.separator")), not use the '/' explicitly

[2019-09-27 16:20] RickyMcMaster commented on #8477
@Nihhaar 's solution is the best way I know of, but it would be nice for this to be added.

[2019-09-28 04:15] ShawshankLin commented on #13469
can you help me? @highker @mbasmanova

[2019-09-28 05:27] wenleix commented on #12503
Resolved via #13393 / #13473

[2019-09-28 05:27] #12503 closed

[2019-09-28 05:50] psaoji commented on #5757
@dain Can you share sample code where we could call createPlan for any sample sql query ? I am trying to extract information about any input SQL query like table name, columns accessed, filter clause, etc. Would appreciate your help..

[2019-09-28 06:00] findepi commented on #5757
@psaoji, for your information, @dain now works on https://github.com/prestosql/presto/ repo, you can find him there.
You can also find @dain on Presto Community Slack https://prestosql.io/slack.html

[2019-09-29 03:42] mawu2 commented on #13408
It might because your /tmp is mounted as noexec, you can execute `mount -o remount,exec /tmp` to resolve this temporarily.

[2019-09-29 06:32] highker opened #13478 "Remove interface FileRewriter"
`FileRewriter` only has one implementation `OrcPageFileRewriter`. No need to maintain the interface.

[2019-09-29 19:11] tooptoop4 commented on #13164
How many workers are shown presto webui? @sushilrbs

[2019-09-29 19:14] tooptoop4 commented on #2863
@kewang1024 is this fixed by 13087?

[2019-09-29 19:14] tooptoop4 commented on #8287
Reopen

[2019-09-30 19:59] sachdevs commented on #13443
I will update this issue once we publish the API for plan pushdown in connectors.

[2019-10-01 08:33] highker commented on #13400
@golammott, will you still be available to work on this ticket?

[2019-10-01 13:37] dggs123 opened #13488 "Queries are getting stuck."
Hi,

We are running presto with 6 workers(r5.4xlarge ec2 machines). Even then, when we have more than 60 queries/ or have a greedy query which takes mostly 100-150 GB of reserved memory. The whole system is getting stuck. We saw the queries which take a few secs, taking hours to run.

We looked into the cause and found out at some point the threads on workers are getting stuck. Still, not able to

[2019-10-01 14:04] golammott commented on #13400
@highker Sorry for the delay, looking at this now.

[2019-10-01 19:02] tooptoop4 commented on #13488
V302 is not in Prestodb repo

[2019-10-01 19:04] tooptoop4 commented on #13457
@arhimondr @rschlussel any idea?

[2019-10-01 19:21] arhimondr commented on #13457
@zhenxiao Could you please have a look?

[2019-10-01 20:54] findepi commented on #13488
@dggs123, as @tooptoop4 pointed out, Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

I see you're using Starburst Presto release. Appreciated! If you have a support subscription, contact the Starburst Support.
Otherwise I recommend using the slack link above.

[2019-10-01 20:54] #13488 closed

[2019-10-01 23:10] zhenxiao commented on #13457
Hi @tooptoop4
The error message saying, the Parquet file is corrupted:

Not valid Parquet file: s3a://redact/s/t/temp2m/4071ae29-84f1-4d32-a691-fd7ab991be95_0_20190923125717.parquet expected magic number: [80, 65, 82, 49] got: [-11, 0, -66, 105]

Actually, seems file's magic number does not match Parquet.

could you please create a table with only one file:
s3a://redact/s/t/temp2m/4071ae29-84f1-4d

[2019-10-02 02:58] yingsu00 opened #13490 "Release notes for 0.227"
# Missing Release Notes
## Andrii Rosa
- [x] all checked
- https://github.com/prestodb/presto/pull/13428 Add clientInfo to HdfsContext
## Maria Basmanova
- [x] all checked
- https://github.com/prestodb/presto/pull/13433 Fix queries on tables with multiple partitioning columns
- https://github.com/prestodb/presto/pull/13417 Add support for missing columns to OrcSelectiveRecordReader
- https://githu

[2019-10-02 05:09] tooptoop4 commented on #13457
@zhenxiao I think more likely is that 221 release introduced a bug because prestosql 319 release is able to query this parquet

[2019-10-02 06:50] #9004 closed

[2019-10-02 07:11] zhenxiao commented on #13457
Hi @tooptoop4 I did not see code change in Parquet path in 221 release. From the error message and stack, seems the Parquet file is corrupted.

Could you please send me ur parquet file? I could try reproduce locally.

my email: rooservelt.luo@gmail.com

[2019-10-02 09:41] tooptoop4 commented on #13457
@zhenxiao https://github.com/prestodb/presto/issues/12832 mentions several changes about Hive Partitions/Splits -->
ef999c0 Improve InternalHiveSplit memory usage estimate
5985ec6 Fix HiveQueryRunner.createBucketedSession
99e4cb5 Move getPathDomain to HiveSplitManager
029aa84 Extract partition info from InternalHiveSplit
44be99d Set useRewindableSplit in the HiveSplitSourceConstructor
62fbcd6 Remo

[2019-10-02 10:50] #9040 closed

[2019-10-02 17:20] zhenxiao commented on #13457
@tooptoop4 the parquet scan code is untouched, and has been untouched for a while. Could you please share ur parquet file? I could take a look.

[2019-10-02 18:06] alexWhitworth commented on #12778
While there is consideration of adding weighted mean, could developers also consider adding weighted standard deviation?

- Formula here: https://www.itl.nist.gov/div898/software/dataplot/refman2/ch2/weightsd.pdf
- Implementation in R can be found here: https://github.com/harrelfe/Hmisc/blob/master/R/wtd.stats.s

[2019-10-02 18:50] #9039 closed

[2019-10-03 06:39] #9042 closed

[2019-10-03 14:47] anandativo commented on #8305
+1

[2019-10-03 23:44] #13478 closed

[2019-10-03 23:59] #9053 closed

[2019-10-04 02:24] hellium01 commented on #13360
After #13184 , the part `$literal$array(bigint)(from_base64(VARCHAR(132) CgAAAExPTkdfQVJSQVkKAAAAAAEAAAAAAAAAAgAAAAAAAAADAAAAAAAAAAQAAAAAAAAABQAAAAAAAAAGAAAAAAAAAAcAAAAAAAAACAAAAAAAAAAJA...` will now become an `ArrayBlock` which should be more concise.

After #13499, we should skip constant folding if the generated array size is too big.

[2019-10-04 06:52] #9054 closed

[2019-10-05 04:59] #9062 closed

[2019-10-05 05:49] raveendrabikkina commented on #8457
@JsonIgnoreProperties(value={"hibernateLazyInitializer","handler","fieldHandler"})

[2019-10-05 10:37] ahmokhtari opened #13503 "Access denied - EMR Presto - File Based Authorization"
I have a strange issue while querying from Presto (AWS EMR). I was using Presto 0.194 and everything was ok, after I upgraded to 0.224, I cannot run my queries. I'm using LDAP authentication for presto and also file base authorization for Hive using a authorization.json file. I'm using the same json file which was working fine in the old version. Any help would highly appreciated.

Error:

Query 2

[2019-10-05 14:14] ahmokhtari commented on #13503
Thanks to @findepi for his help. I already added GRANT_SELECT to the authorisation file and it worked.

[2019-10-05 14:14] #13503 closed

[2019-10-06 10:22] #2169 closed

[2019-10-07 09:45] thomasLeclaire opened #13506 "presto doesn't start anymore : AttachNotSupportedException"
Hello!
I changed nothing but my presto installation doesn't start anymore now.
It's running into a GKE cluster which auto update, therefore could be the rootcause, but didn't find more details which could explain.

When process is starting (same for worker or coordinator) : I get this exception and nothing more..

`ERROR	main	com.facebook.presto.server.PrestoServer	com/sun/tools/attach/AttachNotSu

[2019-10-07 18:41] ajaygeorge commented on #13506
Hi @thomasLeclaire , From the error stack it looks like the JAVA_HOME might be pointing to a jre instead of a jdk .
Can you please double check that.

[2019-10-07 21:27] calvaradocl commented on #13390
Yes, using nextUri until receiving the data results, is there a next uri when the results are returned? In my case I'm not getting one.

[2019-10-07 23:43] bhhari opened #13510 "NullPointer in SliceDirectSelectiveStreamReader"
[code]

[2019-10-08 00:41] bhasudha opened #13511 "Support for PathFilter in DirectoryLister"
Hello!

Here is some context:
This [PR](https://github.com/prestodb/presto/pull/7002) allows to get FileSplits directly from HoodieInputFormat to be able to query hudi datasets. Currently this is integrated in the loadPartition(partition) in BackgroundHiveSplitLoader, which is called for every hive Partition. This internally returns the InputSplit[] from that Hive partition by calling HoodieInputF

[2019-10-08 02:52] bhhari opened #13514 "NPE in LongDictionarySelectiveStreamReader"
[code]

[2019-10-08 02:58] bhhari opened #13515 "NPE in SliceDictionarySelectiveStreamReader"
[code]

[2019-10-08 04:53] #13178 closed

[2019-10-08 12:27] thomasLeclaire commented on #13506
hello!
yes it sounds like it was jre but it was perfectly running like this for months. I can't explain what suddenly happened last week.

I moved to an explicit JDK11, and still the same issue, but after the addition of this option in jvm config it is now working well.
 `   -Djdk.attach.allowAttachSelf=true`

regards,
Thomas

[2019-10-08 12:28] #13506 closed

[2019-10-09 01:40] bhhari opened #13520 "DictionaryBlock: ArrayOutOfBounds exception"
[code]

[2019-10-09 06:14] #13459 closed

[2019-10-09 06:32] wwwwwwchun commented on #13408
this problem has been solved,i umount /tmp,the program is ok

[2019-10-09 06:33] #13408 closed

[2019-10-09 08:31] bhhari opened #13522 "Generate unique Index for PartitionColumns in createSelectivePageSource"
The method "assignUniqueIndicesToPartitionColumns" in HivePageSourceProvider only considers selected columns which is not right. The PartitionColumns should also be included.

[code]

[2019-10-09 13:46] ThirukkaKarnan commented on #8200
https://stackoverflow.com/a/44927437 - Using left join is the only way to prevent unnest from dropping the rows with null values for the column that is unnested. Kindly prioritize this ask.

[2019-10-09 13:48] ThirukkaKarnan opened #13524 "Please reopen issue#8200"
Hi, please reopen the [issue#8200](https://github.com/prestodb/presto/issues/8200) that asks for support of unnest with joins other than cross join.

[2019-10-09 16:37] highker commented on #13223
We have about 1.7K GC lines after #13237. @rschlussel, do we believe that is good for now?

[2019-10-09 17:39] shixuan-fan commented on #13511
Sounds reasonable to me. What do you think? @wenleix @arhimondr

[2019-10-09 17:46] shixuan-fan commented on #8200
Hey thanks for raising this up. I'm not aware of active development on this issue, but I'll reopen it for tracking. If it is specified in SQL spec, then I don't see a reason it should not be supported, but I'll let the committers chime in, and if they feel okay with this issue, it should be ready to pick up.

[2019-10-09 17:46] shixuan-fan commented on #13524
#8200 Reopened

[2019-10-09 17:46] #13524 closed

[2019-10-10 04:36] duyquangnguyenhac commented on #13355
Hi,
If you could, can you guide me a little? As a beginner, this is a little bit overwhelming for me to complete. I'm still confused on what I needed to tweak because it's such a large repo, and I do not understand how can I test the programs. I've been committing the changes made on prestosql onto prestodb, I just need a way to check if it works.
- James

[2019-10-10 16:17] arhimondr commented on #13511
@bhasudha

Could you please elaborate more on what the `HoodieTableMetadata` is? Can it be partition specific?

That sounds reasonable

The `HiveClientConfig` is a static configuration applicable for all tables in all formats for all queries. I wonder if the filter can somehow be applied only for Hoodie tables?

Spark queries to Hudi datasets on ReadOnlyViews leverage this similarly via HadoopConf

[2019-10-10 19:04] bhhari opened #13529 "Handle pushdown of filter that always fail"

[2019-10-10 19:04] bhhari commented on #13529
[code]

[2019-10-10 22:35] bhhari opened #13533 "fix hive push down filter"
HiveMetadata is not handling push down filters correctly.
If we have a query whose predicate is always false, instead of returning 0 results it results in a full table scan result.
[code]

[2019-10-10 22:54] bhhari opened #13534 "Fix "Cannot pushdown filter that is always false""
[code]

[2019-10-11 04:32] pdpark commented on #11806
I'm getting the same error. Were you able to resolve?

[2019-10-11 09:17] hardzhang commented on #11818
The Presto project does not support development or production on Windows. this is certainly  important to highlight because no one else tells or doc file write that presto not works in windows.

[2019-10-11 13:45] valyala opened #13538 "Create connector for VictoriaMetrics"
It would be great to create Presto connector for [VictoriaMetrics TSDB](https://github.com/VictoriaMetrics/VictoriaMetrics).

The connector should export a table with the following fields:
[code]

Then PromQL time series selector could be expressed in SQL. For example, the following PromQL selector `metric{label1=~"foo.+bar"}` could be expressed with the following SQL filter: `regexp_like(name, '_

[2019-10-11 13:48] valyala commented on #13538
`name` could have [MAP(string, string) type](https://prestodb.github.io/docs/current/language/types#structural) instead of `string` type.

[2019-10-11 19:42] #9096 closed

[2019-10-11 20:37] bhhari opened #13539 "Fix readAllNulls in all SelectiveStreamReaders"
Currently the readAllNulls behavior has an issue.
If we have nullsAllowed then we need to copy the incoming positions to outputPositions

[2019-10-11 22:18] rongrong commented on #8200
This seems to be reasonable. But the motivation seems to be different from the original issue. I'm wondering what's the motivation for the original (with a filter on the unnest rows). `on item > 50` doesn't look like standard SQL.

[2019-10-12 01:28] caithagoras opened #13542 "Generic Internal Error: LambdaForm cannot be cast to LambdaFormEditor$Transform"
[code]

[2019-10-12 01:28] caithagoras commented on #13542
Query Id: 20191011_223026_46103_fdqrw

[2019-10-12 03:51] qwalker commented on #13359
Hi, How can I get this issue resolved quickly? It's a real issue in our production presto and it should be a safe change, and it's already upgraded in the other 'PrestoSql' repository.

[2019-10-12 23:18] yingsu00 commented on #13490
@mikemcbrearty @rongrong @wenleix The function description for function "ip_prefix" in presto-docs is missing. Could you either add it in a separate commit, or send me the change ASAP?

[2019-10-13 21:20] #8199 closed

[2019-10-14 02:29] hardzhang opened #13545 "when i build the presto-0.1 version in the centos7 server,maven can't download hive-presto-shaded-0.1.jar from mavenrepository"
#NOTE: This is a Maven Resolver internal implementation file, its format can be changed without prior notice.
#Sun Oct 13 22:15:01 EDT 2019
http\://192.168.50.204\:8081/nexus/content/groups/public/.error=
http\://maven.aliyun.com/nexus/content/repositories/central/.error=
http\://maven.aliyun.com/nexus/content/repositories/central/.lastUpdated=1571019301028
http\://192.168.50.204\:8081/nexus/conte

[2019-10-14 02:34] hardzhang commented on #13470
Requirements
    Mac OS X or Linux

[2019-10-14 09:47] JonNorman commented on #8200
Just to hop back onto this...

I think it would be valid SQL - conditions can be placed in a `join` condition that relate to only one side of the join. This is most useful in an `inner` join since the conditions act as a `join` conditions and, effectively, filters.

As above, I think that the most illustrative example would be when using an `inner join`. Instead of expanding every row and then fil

[2019-10-14 10:19] rajeshd3v opened #13547 "Row type must have at least one parameter"
I'm getting the below error when i tried to execute the query "**_select * from information_schema.columns;_**"

data source **mongodb**

[code]

Thanks in advance. 🙏

[2019-10-14 18:54] manvishan commented on #10380
any updates in fixing ?

[2019-10-14 19:27] #13542 closed

[2019-10-14 21:30] bhhari commented on #13510
#13513

[2019-10-14 21:31] bhhari commented on #13515
#13518

[2019-10-14 21:32] bhhari commented on #13514
#13516

[2019-10-14 23:17] bhhari opened #13548 "DictionaryBlock invalid position exception"
[code]

[2019-10-15 04:32] y1275963 commented on #13398
Hi, I would like to work on this issue, can you assign it to me?

[2019-10-15 06:10] iam-nagarajan opened #13550 "Presto ignores columns of type avro union from Hive"
We have created a external hive table with 'avro.schema.literal' like below:
`create external table test_avro
partitioned by (user_id string)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.avro.AvroSerDe'
LOCATION '/topics/new_data'
tblproperties ('avro.schema.literal'='{
"name": "event_record",
"type": "record",
"fields": [
		{"name":"name", "type":"string"},
		{"name":"other_data", "type":{"typ

[2019-10-15 06:45] y1275963 commented on #13301
Hi, would like to work on this issue, can you assign it to me?

[2019-10-15 09:19] xingnailu opened #13552 "Why is the amount of data expanding so much? ScanFilterAndProjectOperator"
Hello, I have a query like:
“select c1, c2, c3 c4, if (c5 in (x) 'hh' , c5)
from table1
where c5 in ('x', 'x2')
group by c1, c2,c3, c4, if (c5 in (x) 'hh' , c5)”

And The above query is used as the left table of the left join query.
When I view the web ui, I found the input is "3.26GB / 2.19B rows", but the output is "Output: 89.50GB / 1.27B rows"  at that stage.

![image](https://user-images.gith

[2019-10-15 09:20] xingnailu commented on #13552
my presto version is 0.203

[2019-10-15 09:40] armaseg commented on #12597
PR #12598 was closed, but changes were not merged. We still need to merge this PR

[2019-10-15 18:58] cemcayiroglu opened #13553 "NodeScheduler and NodeSelector has no clear seperation"
Looks like NodeScheduler's main responsibility is creating TopologyAwareNodeSelector or SimpleNodeSelector. SimpleNodeSelector and TopologyAwareNodeSelector is calling the NodeScheduler back to select nodes again through static functions. This is not clear the responsibility devision. Please check: https://en.wikipedia.org/wiki/Single_responsibility_principle

NodeScheduler should be provide only

[2019-10-15 22:41] rongrong commented on #8200
@JonNorman The `ON` part of `JOIN` defines the condition of the join. I don't think SQL spec necessarily dictates the implementation. "Instead of expanding every row and then filtering it out, we would only be joining to specific values in the array and then returning those." is an implementation optimization. We can potentially do this optimization without changing semantics. Theoretically query

[2019-10-15 22:53] victorflorintsev opened #13555 "LIKE operator not working with [] square brackets"
I'm slightly new to presto but it looks like the square brackets in the LIKE operator do not work as expected. This would be nice to have so I thought I'd start an issue.

`CREATE TABLE test (first_name VARCHAR(30));`
`INSERT INTO test VALUES ('abc'), ('dan'), ('cPk'), ('c$k'), ('C$k'), ('C$S');`
`SELECT * FROM test WHERE first_name LIKE '[cC][pP$][kKsS]';`

Expected: Returned all the rows except

[2019-10-15 23:13] rongrong commented on #13555
That's not how LIKE operator works. What you want is probably `regexp_like`: https://prestodb.github.io/docs/current/functions/regexp.html

[2019-10-15 23:13] #13555 closed

[2019-10-16 08:52] JonNorman commented on #8200
@rongrong I totally agree with you here and perhaps that is already happening - it just isn't clear that this is happening when writing the SQL. Theoretically I suppose we could remove general `inner join` support and use predicate pushdown on a `left join` and `where` with  the same performance, but I think we'd all agree that this would be suboptimal!

For me the argument for why we want differe

[2019-10-16 10:46] fabienbarbaud commented on #12668
You should use "host" instead of "hostAddress".

[2019-10-16 15:50] iceted commented on #12668
If your using the latest version the host property isn't needed in the table json any more: https://prestosql.io/docs/current/connector/elasticsearch.html

[2019-10-16 15:54] iceted commented on #13457
@tooptoop4 did u fix this bug?

[2019-10-16 16:55] victorflorintsev commented on #13555
That's how it works in SQL Server.

For anyone wondering how to actually structure it to make this work similar here is a guide: (There is no other documentation on the internet)

Query:

     SELECT * FROM test
     WHERE regexp_like(first_name, '^[cC][pP\$][sSkK]$')

Query / Pattern Explanation:

     regexp_like finds rows that match the pattern: '^[cC][pP\$][sSkK]$'

     ^ is beginning of lin

[2019-10-16 17:58] bhasudha commented on #13511
Thanks for the questions @arihimondr. I understand your concerns . I have replied inline.

Hoodie table metadata logs metadata about the Hudi table. Metadata includes commit, savepoints, compactions, cleanups, rollbacks, etc. These are not partition specific. The HoodieTableMetaClient allows to access this metadata. More details [here](
https://github.com/apache/incubator-hudi/blob/master/hudi-com