[2017-04-02 18:15] the6campbells opened #7728 "character comparison with distinct predicate produces different results"
Presto server/jdbc 0.170

Mapped to MySQL

select rnum, tchar.cchar from mysql_cert.dbcert.tchar where tchar.cchar is not distinct from ' '
returns 2 rows

select rnum, tchar.cchar from mysql_cert.dbcert.tchar  where tchar.cchar = ' ' OR (tchar.cchar IS NULL AND ' ' IS NULL)
returns 0 rows

create table TCHAR ( RNUM integer  not null , CCHAR char(32 )  null  ) ;

insert into TCHAR(RNUM, CCHAR) val

[2017-04-02 18:25] the6campbells opened #7729 "join on predicate incorrectly evaluated producing incorrect result set"
Presto server/jdbc 0.170.

Mapped to MySQL

select tjoin1.rnum, tjoin1.c1, tjoin2.c2 from mysql_cert.dbcert.tjoin1 left outer join mysql_cert.dbcert.tjoin2 on ( tjoin1.c1 = tjoin2.c1 and tjoin2.c2 > 'C' )

Expected 3 rows
0	10	FF
1	20	<null>
2	<null>	<null>

Received
0	10	FF
0	10	BB
1	20	<null>
2	<null>	<null>

create table TJOIN1 (RNUM integer   not null , C1 integer null, C2 integer null);

inse

[2017-04-02 18:41] the6campbells opened #7730 "Cannot cast char(27) to bigint."
Presto 0.170 server/jdbc

Mapped to MySQL
select rnum, cast(c1 as bigint) from mysql_cert.dbcert.tsdchar where rnum in (0,1,2)

Cannot cast char(27) to bigint.

create table TSDCHAR (RNUM integer   not null , C1 char (27));

insert into TSDCHAR ( RNUM, C1 ) values ( 0, '-1');
insert into TSDCHAR ( RNUM, C1 ) values ( 1, '0');
insert into TSDCHAR ( RNUM, C1 ) values ( 2, '10');
insert into TSDCHAR

[2017-04-03 01:15] wenleix commented on #7618
We should reuse the [ping method](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/failureDetector/HeartbeatFailureDetector.java#L311) in `HeartbeatFailureDetector`. The exception thrown on `httpClient` are:

- `java.net.SocketTimeoutException: Connect Timeout` if the destination is unreachable (banned by firewall, etc).
- 'java.net.ConnectException: Con

[2017-04-03 07:32] losipiuk commented on #3996
I am not sure, I suppose it does not.
The #7468 was about deleting data file when write query was aborted and `rollback` was called on `HiveRecordWriters`. This influenced flow when data files where written directly into table directory (e.g. when S3 filesystem was in use).
And this issue is about deleting table directory itself.

@haozhun is there an easy way to reproduce the issue to see if it s

[2017-04-03 09:39] sopel39 opened #7733 "Memory connector doesn't allow inserting into empty, newly created tables"
[code]
stacktrace:
[code]

FYI: @pnowojski

[2017-04-03 09:52] sopel39 commented on #7728
`' '` is `VARCHAR` literal by default. You have to cast it to `CHAR` first, see:
[code]

[2017-04-03 09:52] #7728 closed

[2017-04-03 09:54] sopel39 commented on #7729
Same as: https://github.com/prestodb/presto/issues/7728, please cast `'C'` to `CHAR` first. And then verify results

[2017-04-03 10:02] sopel39 commented on #7727
this indeed seems like a bug. Implicit cast should be used. FYI: @martint

[2017-04-03 10:08] sopel39 commented on #7726
There is an ongoing effort to allow for NULL values in probe side of `SemiJoin`.
`NULL values are not allowed on the probe side of SemiJoin operator` was introduced as a temporary measure to prevent incorrect logical predicate results, see: https://github.com/prestodb/presto/issues/6622

[2017-04-03 10:08] #7726 closed

[2017-04-03 10:21] abhisen commented on #5100
Hi Dian
We are using Presto - 0.167 wit around 30 Workers node.
While executing some SQL scanning huge data we are getting the below error on the command prompt:
-bash-4.1$ presto -f pquery1.sql
Query 20170403_101422_00013_zspex failed: Encountered too many errors talking to a worker node. The node may have crashed or be under too much load. This is probably a transient issue, so please retry your

[2017-04-03 10:34] abhisen commented on #5100
We already tried adding the following properties on jvm.config
-XX:+UseNUMA
-XX:+AggressiveOpts
On all worker and coordinator nodes. But still the query fails with the same error.

[2017-04-03 11:28] the6campbells commented on #7729
An explicit cast would have to assign a precision >= the precision of the value expression being compared against. i.e cast ( 'C' as char(1)) will not work while cast ('C' as char(2 or 3 ...)) will.

[2017-04-03 11:51] PallaviSingh1992 commented on #7710
Hi @dain ,
We are trying to execute the HiveQueryRunner but it is giving us compilation errors in AstBuilder.java and SqlParser.java.

[2017-04-03 13:37] cawallin commented on #6042
You can try inserting into the blackhole connector, which is as if piping the results to `/dev/null`. For example:
`create table blackhole.default.foo as select l_orderkey from lineitem order by l_orderkey;`
That will add a little bit of overhead, but the impact will be negligible.

[2017-04-03 14:09] electrum commented on #6042
We should eliminate it for create table, too.

[2017-04-03 14:33] sopel39 commented on #7729
I am not sure what exactly your issue is, but I think the workaround is to cast both sides (or one side) to char type of the same length. Alternatively you could cast both sides to varchar, truncate and then compare.
We are working on improved character types support and casts in general. Currently casts and character types conform to SQL standard only partially. See: https://github.com/prestodb/p

[2017-04-03 14:40] fiedukow opened #7734 "hive.rcfile_optimized_reader_enabled=true CHAR regression"
Steps:
`create table khaki_t WITH (format = 'RCTEXT') as select cast('khaki' as char(20)) khaki_c;`
`SELECT count(*) FROM khaki_t WHERE khaki_c = 'khaki[15spaceshere]';`

Current behavior:
[code]

Expected behavior:
[code]

Workaround:
`set session hive.rcfile_optimized_reader_enabled=false;`

Regression was introduced in commits range:
`0c6c3b24ff37b4c35c228b68b64073eb58c03983..fdc4a384794c6d782d

[2017-04-03 16:55] dain commented on #7724
There is no way to change the log configuration without creating your own Presto main class.  If you do, you can simply remove the Airlift logger and add your own implementation.

[2017-04-03 16:55] #7724 closed

[2017-04-03 17:29] dain commented on #7730
Can you post the stack trace printed when you run with `--debug` on the command line?  Also, do you need all of the insert statements to reproduce the problem?

[2017-04-03 17:34] dain commented on #7710
I have no idea what your exact issue is, but you will get compile errors from these classes if you did not run the full maven build.

[2017-04-03 18:44] dain commented on #7734
I can't reproduce this.  The table being created is `ORC` and therefor the reading is not effected by the `hive.rcfile_optimized_reader_enabled`. Specifically, the query above returns 0 regardless of this flag setting.  The only value that makes this query work is: `SELECT count(*) FROM khaki_t WHERE khaki_c = 'khaki               '`.

I'm pretty sure this is related to the `char` and `varchar` co

[2017-04-03 18:59] the6campbells commented on #6112
If you plan to support other vendors (Microsoft SQL Server, DB2, Netezza, Vertica, ....) then you will find they follow fixed length char semantics. Hive team seem to have used MySQL or Postgres as their reference point vs considering the standard.  If you deviate, ensure your docs are clear in what your fixed length character semantics are. That way, at least your intent is public vs folks stumbl

[2017-04-03 19:27] dain commented on #6112
There is a project to implement support for fixed length character comparisons (with padding rules).

[2017-04-03 20:03] raghavsethi commented on #7564
Merged #7603.

[2017-04-03 22:13] the6campbells commented on #7726
Similar to some other work in progress items in Presto, it would help to see the public documentation include a known-restrictions/limitations section.

This would simplify the process of pointing a "user" to the known restriction vs pointing them to one or more issues in Git where it may require them to skim several entries to see what the issues are separate from when they may have been removed.

[2017-04-03 22:28] the6campbells commented on #7729
I'm speaking from the perspective trying to support Presto from a product which dynamically generates SQL based on "model based" rules vs hand coded SQL.

If this issue https://github.com/prestodb/presto/issues/6975 was resolved, it would help us to dynamically plan better based on knowing if a char/varchar is involved.

As is: trying to push comparisons to the data in the interim requires.

(a) c

[2017-04-03 23:15] ArturGajowy commented on #7726
@the6campbells this limitation has been documented [here, in the 'note'](https://prestodb.io/docs/current/sql/select.html#in) and [here, at the bottom of page](https://prestodb.io/docs/current/functions/comparison.html).

[2017-04-03 23:17] ArturGajowy commented on #7726
I agree that a standalone known restrictions / limitations chapter would be an improvement to the docs, though.

[2017-04-04 02:33] the6campbells commented on #7730
you only need the first 3 rows which the in predicate would filter against.  running via Teradata/Presto JDBC so unsure how --debug would be passed as property to the driver.

trying to push such a cast requires cast(rtrim(cast(c1 as varchar)) as bigint)   which avoids

Can not cast '-1                         ' to BIGINT.
select rnum, cast(cast(c1 as varchar) as bigint) from mysql_cert.dbcert.tsd

[2017-04-04 03:16] dain commented on #7730
Oh I missed that you are explicitly casting to c1 to BIGINT.

There are two issues here.  First is you are using a fixed CHAR type, which is currently under development.  Currently, I believe that when casting from a CHAR to VARCHAR, Presto pads the char to the full length, which I'm pretty sure this doesn't follow the spec.  There are a few people working on finishing the CHAR type, and I would s

[2017-04-04 03:16] #7730 closed

[2017-04-04 03:29] the6campbells commented on #7730
SELECT CAST(CAST('-1' AS CHAR(27)) AS BIGINT)
Cannot cast char(27) to bigint

-vs- SELECT CAST(CAST('-1' AS VARCHAR) AS BIGINT) etc.

The test is applying a predicate on RNUM in (0,1,2) so not attempting to cast what would be non-valid character literals to integer types.

Very familiar with ISO-201x spec and how solutions including MySQL, Postgres and Hive do not follow it re internal processing

[2017-04-04 06:45] chengat1314 commented on #7523
After updated the GC type to GC1, the cluster became much more stable now.
thank you very much!

[2017-04-04 07:21] sopel39 commented on #7729
Both chars and varchars and compared without space padding. If you want to achieve (emulate) comparisons with space padding then you have to use `rtrim`.

[2017-04-04 10:56] fiedukow commented on #7734
I think our discussion became at least weird due to github removing consecutive spaces in comments ;)

Anyway. I obviously messed steps up by using `WITH (format = 'ORC')`, here is reproduction on current master (80ed6c0) with fixed steps (`WITH (format = 'RCTEXT')`):
http://showterm.io/0dfcab26942b52003554e

I modified steps in issue report, reopening now.

[2017-04-04 14:12] cawallin commented on #5759
From #5868, @electrum and @dain came up with a strawman proposal for the protocol changes that @martint will review: https://gist.github.com/electrum/a382d3f8e10fde5e2e0c1bfc1ea3182f.

[2017-04-04 16:20] haozhun opened #7741 "`max(null)` fails in planner"
`java.lang.IllegalArgumentException: Expected method MethodHandle(BlockState,Block)void parameter 1 type to be void (unknown)`

[2017-04-04 17:04] maciejgrzybek commented on #7581
@dain / @martint: do you have any thoughts on this?

[2017-04-05 04:01] martint opened #7745 ""CREATE TABLE ... AS ..." doesn't parse proper query expressions"
[code]

fails with a parsing error:

[code]

Per the spec, the `<table contents source>` should be a parenthesized query expression, which can start with a `WITH` clause. Presto currently parses it as a `<query>`, which can resolve to a `<query primary>` that doesn't allow such clause.

[code]

[2017-04-05 04:05] martint opened #7746 "Support column aliases in CREATE TABLE ... AS ..."
Per the spec:

[code]

For example, it should be possible to do this:

[code]

[2017-04-05 04:10] cosinequanon commented on #3722
I think it's a different issue, in the one you linked it's that the results don't go through a pager, which they should. this one is about the CLI hanging if there are a lot of choices, it's a separate issue

also, i can't reopen this issue http://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github (i think)

[2017-04-05 05:35] ebyhr commented on #7745
Following query succeeded. The difference is eliminating only brakets.
[code]

Therefore, I changed SqlBase.g4 to like this. Is this approach correct? I confirmed the issue's query succeed.
[code]

[2017-04-05 06:17] martint commented on #7745
Yes, that's the way to do it. We're going to have to do some testing to make sure there are no ambiguities or backtracking issues (due to a parenthesis potentially matching the second alternative or the parenthesis in the deep inside the first term (query).

[2017-04-05 06:24] wenleix commented on #7705
Also, CAST JSON TO REAL is also not currently supported.

[code]

[2017-04-05 16:05] curtisq opened #7747 "Postgresql CREATE TABLE AS fails with timestamp columns"
When trying to use `CREATE TABLE postgres_catalog.schema.table_name AS SELECT timestamp_column from another_pg_catalog.schema.table` Presto throws an error.

[code]

When I go into the target Postgres logs to see more detail the error seems to be that its trying to insert a bigint instead of a timestamp.

[code]

Not sure if I'm doing something wrong but I appear to have this issue when trying to

[2017-04-05 16:34] #7142 closed

[2017-04-05 16:38] sopel39 commented on #7711
fixed

[2017-04-05 16:38] #7711 closed

[2017-04-05 16:48] #6593 closed

[2017-04-05 16:49] #6596 closed

[2017-04-05 16:54] cawallin commented on #6604
It's currently not possible to call a procedure in mysql from presto. I'll edit this issue to reflect that this is a feature request.

[2017-04-05 16:55] cawallin commented on #6652
It's currently not possible to call a procedure in mysql from presto. Duplicate of #6604

[2017-04-05 16:55] #6652 closed

[2017-04-05 16:58] cawallin commented on #6694
@getGitxxx Sorry for the late response. It seems like the kafka connector isn't installed properly, do you have kafka.properties and the table config on all of the Presto nodes?

[2017-04-05 18:50] AlekseiS opened #7749 "User CPU time is displayed for "Wall time" in Presto UI"
We can fix the label or remove it from the UI or calculate stage wall time via other means if there's a need.

[2017-04-05 18:52] nezihyigitbasi commented on #7703
Fixed through #7706

[2017-04-05 18:52] #7703 closed

[2017-04-05 18:54] nezihyigitbasi commented on #7481
Fixed thru #7504

[2017-04-05 18:54] #7481 closed

[2017-04-05 18:56] nezihyigitbasi commented on #7304
Fixed thru #7362

[2017-04-05 18:56] #7304 closed

[2017-04-05 19:00] nezihyigitbasi commented on #7678
Fixed thru #7694

[2017-04-05 19:00] #7678 closed

[2017-04-05 20:51] wenleix opened #7753 "Query Optimizer failed to eliminating Remote Exchange"
The following query will generate non-optimal plan:

[code]

The plan: (we can eliminate the remote exchange between Fragment 1 and 2)

[code]

The following queries can generate the correct plan:

- GROUP BY `a.orderkey` instead:
[code]

- No subquery:
[code]

[2017-04-05 22:37] haozhun opened #7754 "Make greatest/least var-args"
Implement it the same way as ArrayConcatFunction. Byte code generation should not be needed.

[2017-04-06 00:09] martint commented on #7753
There is, indeed, a bug in how properties are being derived.

For the JOIN, the structure describing the properties is in terms of "orderkey", which happens to be the column on the left side of the join, but it's *NOT* the column that's output from it.

Adding this to `PropertyDerivations.deriveProperties` catches the inconsistency:

[code]

The property derivations for JOIN need to compute the pr

[2017-04-06 00:30] #7492 closed

[2017-04-06 00:40] raghavsethi opened #7758 "Fix status summary in Web UI"
We see incorrect status lines like 'INSUFFICIENT RESOURCES (100%)'

[2017-04-06 02:59] #7388 closed

[2017-04-06 03:52] aleph-zero opened #7760 "NamedType not useable outside of RowType"
Currently the only type that makes use of ```NamedType``` is ```RowType```.  The parsing of ```RowType``` is handled by special logic in ```TypeSignature.parseTypeSignature()```.  This means that custom types cannot take advantage of ```NamedType``` to build types with the ```.``` reference operator.

For example, one may want to construct something such as a ```GeoPointType``` class as: ```geo_po

[2017-04-06 10:00] goindwalia opened #7765 "PrestoDB memory leak on Docker"
I am trying to run PrestoDB in a dockerized environment. When I try running a complex query, memory shoots up and is never released after the query. In non-dockerized environment, things work fine against same data. I have tried looking at the problem by displaying GC verbose but no luck. What could be the possible problem?

[2017-04-06 12:02] bhavya411 opened #7766 "How to convert LongDecimalType in my custom connector"
I was trying to implement a connector for an open source but not able to convert the DecimalType in the required format , Here is the implementation of getSlice method

[code]

The problem is that the value that I am getting is without decimal, what is the correct way to get the desired value e.g. 12345683901.1234000000 is being returned as 123456839011234000000

[2017-04-06 12:15] BillLucky opened #7768 "Cannot connect to discovery server for announce: Announcement failed with status code 404"
Presto version:
This version of the code is released after 0.167, but 0.168 not released when the master pulled down, based on the custom development of some of the permissions function, but the discovery of the relevant code module did not move.

My development environment：
3 machines：
10.2.19.55 d1
10.2.19.56 d2
10.2.19.57 d3

ps:
 d1 --> coordinator + worker
 d2 --> worker
 d3 --> worker

Expec

[2017-04-06 16:20] nezihyigitbasi commented on #7765
Are you sure the memory is not released even after the GC runs? One way to check that is to trigger a full GC in the Presto JVM through command line: `jmap -histo:live <pid>`

[2017-04-06 17:17] electrum commented on #7768
Can you SSH into d2 and verify you can curl the discovery URL on d1?

[2017-04-06 18:40] nezihyigitbasi opened #7771 "Lifecycle of transactions are not managed properly"
With the recent change of #7603 `TestHiveIntegrationSmokeTest:: testCreateAndInsert()` started failing occasionally (see [this travis run](https://s3.amazonaws.com/archive.travis-ci.org/jobs/218698403/log.txt)).

The root cause is that a transaction is set as inactive in the state change listener of a query, which runs asynchronously. What this means is, a client may be notified that a query has f

[2017-04-06 19:43] findepi opened #7773 "Access Denied when using IN with subqueries even though no access control in place"
Query
[code]

Yields the following (probably because `com.facebook.presto.sql.planner.optimizations.DesugaringOptimizer$Rewriter.desugar(DesugaringOptimizer.java:121)` calls `ExpressionAnalyzer.getExpressionTypes` which runs with `DenyAllAccessControl` under the hood):
[code]

[2017-04-06 19:49] #7342 closed

[2017-04-06 20:40] kokosing commented on #7773
Looks familiar to me.  I will fix that.

[2017-04-06 21:59] nezihyigitbasi commented on #7564
Reopening this one as we reverted #7603. Related to #7771.

[2017-04-07 00:44] haozhun commented on #7683
Fixed in #7674

[2017-04-07 00:44] #7683 closed

[2017-04-07 00:45] haozhun commented on #7527
This should remain open for now because https://github.com/prestodb/presto/pull/7674 will be partially backed out to fix trunk.

[2017-04-07 00:55] raghavsethi commented on #7749
Fixed.

[2017-04-07 00:55] #7749 closed

[2017-04-07 00:56] raghavsethi commented on #7758
Fixed.

[2017-04-07 00:56] #7758 closed

[2017-04-07 02:07] BillLucky commented on #7768
I d2 / d3 two machines through the curl can visit through discovery URL and return the results, because the cluster of these machines are off the firewall.
Very strange in the case of network patency, why workers no way to identify the law.

[2017-04-07 03:07] BillLucky commented on #7768
I found that there is a lot of 404 logs on the machine d1 http-request.log, most and / v1 / announcement / related, as follows:

2017-04-07T10:54:42.922+08:00	10.2.19.55	GET	/v1/service/collector/general	null	9b552087-6da5-4fbb-9871-c39e11cd851f	404	0	260	1	a703e1a4079f4d3b99cca6b8f378561b0000007769
2017-04-07T10:54:42.922+08:00	10.2.19.55	GET	/v1/service/presto/general	null	9b552087-6da5-4fbb-987

[2017-04-07 06:02] #7753 closed

[2017-04-07 06:37] #7773 closed

[2017-04-07 08:32] PallaviSingh1992 commented on #7710
Hi @dain ,
Thanks for the help. Could Resolve the issue.
Can you please help in implementing decimal for connector for my data source

[2017-04-07 11:48] BillLucky commented on #7768
I was inspired by the following technical blog, built a separate discover server node, found three nodes normal!

![image](https://cloud.githubusercontent.com/assets/8528590/24798643/9b035002-1bc9-11e7-8070-1392ce109eac.png)

technical blog site: [Prestodb install document](http://yugouai.iteye.com/blog/2002504)

Just wonder why the built-in discovering server can not function properly.

Thank you

[2017-04-07 11:48] #7768 closed

[2017-04-07 12:14] sopel39 commented on #7527
Fixed by: https://github.com/prestodb/presto/pull/7779

[2017-04-07 14:48] sopel39 opened #7780 "Incorrect lambda analysis in aggregation context"
[code]

`LambdaReferenceExtractor` only searches at top level and doesn't visit nested lambdas. However, simply visiting nested lambdas won't fix the bug since we need to know that nested (capture) lambda argument reference comes from outer lambda. We can do this tracking in `LambdaReferenceExtractor`.
However, we could imagine lambdas with captures within subqueries. In such case the tracking won

[2017-04-07 14:54] sopel39 commented on #7780
Additionally, `DefaultTraversalVisitor` doesn't have default visitor for lambda. When I tried adding one, lambda tests failed. Missing default visitor might not be a problem (for now), but it is inconsistent with other nodes (e.g: subquery node).

Maybe `DefaultTraversalVisitor` should visit lambda body, while `DefaultExpressionTraversalVisitor` shouldn't (similar as for subqueries)? What do you t

[2017-04-07 17:13] cawallin commented on #3499
@puneetjaiswal -- it's not exactly a temp table, but you can store intermediate results in the memory connector (https://prestodb.io/docs/current/connector/memory.html). Does that work for you?

[2017-04-07 17:18] #3704 closed

[2017-04-07 17:19] cawallin commented on #6984
Fixed by #7211

[2017-04-07 17:19] #6984 closed

[2017-04-07 17:20] cawallin commented on #6084
Duplicate of #4016 which has a better description, closing this issue.

[2017-04-07 17:20] #6084 closed

[2017-04-07 17:26] #7230 closed

[2017-04-07 17:28] cawallin commented on #7047
Fixed by https://github.com/prestodb/presto/pull/7299

[2017-04-07 17:28] #7047 closed

[2017-04-07 17:31] cawallin commented on #7328
Fixed by #7565 ( @losipiuk, feel free to re-open if that's not the case)

[2017-04-07 17:31] #7328 closed

[2017-04-07 17:35] cawallin commented on #7390
@rjtokenring -- it's a little hard to follow the above example, what is the query and the schema of the table?

[2017-04-07 17:41] cawallin commented on #7554
You can use a custom EventListener to track resource utilization on a per-query basis (https://prestodb.io/docs/current/develop/event-listener.html). If you have further questions, please ask on the presto-users mailing list.

[2017-04-07 17:41] #7554 closed

[2017-04-07 17:44] #7487 closed

[2017-04-07 17:45] cawallin commented on #7550
Fixed by https://github.com/prestodb/presto/pull/7543

[2017-04-07 17:47] cawallin commented on #7667
Fixed by  #7677 (cc @jessesleeping, re-open if that's not the case)

[2017-04-07 17:47] #7667 closed

[2017-04-07 17:49] #2687 closed

[2017-04-07 18:40] martint opened #7781 "Remove DISTINCT inside IN subquery expression"
Add an optimization rule to remove unnecessary DISTINCT in this scenario:

[code]

Since the semi join already performs deduplication of the values in the subquery, that operation is unnecessary and results in an extra exchange and aggregation.

[code]

[code]

[2017-04-07 19:33] maciejgrzybek commented on #7550
Nope, it's not fixed. Still valid.
Most recent master (HEAD = 1f33a95dff5c2508fd772a82e8c10f9bea481601) gives:
[code]

vs
[code]

[2017-04-07 21:21] electrum commented on #7768
All the 404s lead me to believe the embedded discovery server is not enabled or fails to start.

When the server starts, it prints all the config properties. Please check for these lines:
[code]

The last two lines come from the `DiscoveryConfig` class which is part of the discovery server. If you don't see those, something is wrong.

Another thing is to look for a thread created by the discovery

[2017-04-07 21:25] electrum commented on #7768
There's another way. Hit this endpoint: http://10.2.19.55:8081/application.wadl

You should see `/v1/store`, `/v1/announcement`, etc.

[2017-04-07 21:45] findepi opened #7784 "Lambda captures do not work with qualified column names"
This works:
[code]

But this does not:
[code]

FYI: @martint @haozhun @sopel39

[2017-04-07 22:09] dain commented on #7710
@PallaviSingh1992 please open a new issue with the exact error you are seeing, or if you have a general question please send an email to the mailing list.

If you are just looking for an example, here is how we decode decimal text in the Hive rcfile reader: https://github.com/prestodb/presto/blob/master/presto-rcfile/src/main/java/com/facebook/presto/rcfile/text/DecimalEncoding.java#L72

[2017-04-07 22:09] #7710 closed

[2017-04-08 03:46] BillLucky commented on #7768
I found in the independent discover service node: / v1 / announcement /, the current cluster has been used.
Then I will study why the embedded inside the product can not start the normal, thank you for your help! @electrum

By the way, you provide wadl address is great, whether to consider this written to the user documentation, to give other enthusiasts to reduce some of the exploration time. In

[2017-04-08 21:09] wenleix commented on #7640
In Oracle, the `RECORD` type always have `FieldName`: https://docs.oracle.com/cd/B28359_01/appdev.111/b28370/record_definition.htm#LNPLS01338, https://docs.oracle.com/cd/B28359_01/appdev.111/b28370/collections.htm#BABHHJGA.

Previous SQL engine doesn't have the same flexibility as Presto to get unnamed RowType. As such, accessing field in unnamed RowType is not a pain point for them.

We plan to a

[2017-04-08 21:42] electrum commented on #7640
Index access seems strange given that it must be constant. It's really a tuple, not an array. What about generating well-known synthetic field names? For example, f1, f2, or c1, c2, etc. This makes it obvious they are constant field accesses and not array accesses.

[2017-04-08 22:08] wenleix commented on #7640
@electrum We probably want to use something that cannot be a legal field name then :). What about `."$field1"`, `."$field2"` then? (Similar to the hidden bucket column name).

[2017-04-08 22:56] wenleix opened #7787 "Projection Merge will re-evaluate expensive expressions"
I think there is an opening issue but didn't find it. So open a new one. We can mark this as duplicate and link it to that one.

[code]

Current workaround:

[code]

[2017-04-08 23:43] electrum commented on #7640
No, you want it to be easy to access. There's no problem with conflicts since you can't have a partially anonymous row. They're either all named or none are.

[2017-04-08 23:50] martint commented on #7640
That's not true. They type of a "relation" is multiset(row(...)). If that relation is a subquery, some fields may be unnamed (e.g., if they are the result of some complex expression and don't have an alias)

[2017-04-08 23:56] martint commented on #7640
I think we should hold off adding this feature for now. I really don't like the idea of adding synthetic fields with some arbitrary name, and the subscript operator version has enough edge cases and potential complications that we need to think about it very carefully.

[2017-04-09 04:22] martint commented on #7787
This probably fixes it: https://github.com/prestodb/presto/pull/7094

[2017-04-10 09:28] sopel39 opened #7790 "Lambda name resolution should use Scope mechanism"
Currently lambdas use separate and dedicated name resolution mechanism. This causes various problems:
https://github.com/prestodb/presto/issues/7780
https://github.com/prestodb/presto/issues/7784
https://github.com/prestodb/presto/issues/9023
and makes it hard (error prone) to analyze/plan very complex queries (with subqueries, lambdas, complex order by)

Therefore lambdas should also use Scopes m

[2017-04-10 12:03] sopel39 opened #7791 "Inline Throwables.propagate"
Inline Throwables.propagate as described in https://github.com/prestodb/presto/pull/7778

FYI: @kokosing @electrum

[2017-04-10 13:20] Krishna2214 opened #7793 "OR Predicate support in TupleDomain"
In the wiki page for one of the miscellaneous questions..

There's an open PR, we may do it that way, or we may expose whole expression tree to connectors

Can you share the link for the PR which supports OR predicate ?

[2017-04-10 14:51] pratimaws commented on #6972
Same issue on EMR. External hive table to S3 or DynamoDB works fine. But when trying to access the DynamoDB table, it throws the same error: `Query 20170410_121048_00008_sdbf4 failed: outputFormat should not be accessed from a null StorageFormat.`. However, the S3 backed table continues to work fine on Presto.

[2017-04-10 18:20] #7717 closed

[2017-04-10 18:43] nezihyigitbasi commented on #7578
@janewangfb will work on this one.

[2017-04-10 19:05] martint opened #7796 "Selective aggregates don't work for count(1)"
Actual:

[code]

Expected:

[code]

The issue is probably due to SimplifyCountOverConstant not preserving the filter for the aggregation.

[2017-04-10 22:41] electrum opened #7798 "Field access erroneously works for some generated row types"
This works for rows created via `zip`, `transform`, etc.

[code]

[2017-04-11 02:37] #7796 closed

[2017-04-11 09:52] qinzl1 opened #7804 "failed: Unable to create input format org.apache.hadoop.mapred.TextInputFormat"
hive table STORED AS TEXTFILE

[2017-04-11 17:02] bdm123 opened #7807 "Failed Queries - S3 404 Not Found Exception"
Hi Everyone - I am running a variety of scheduled INSERT/SELECT queries against S3 and fairly frequently have many queries failing at once.  Below are the errors I see in the server.log file which seem to correlate with the failed tasks.  Any ideas on the cause or suggestions on how to resolve this?

`INFO    20170411_164451_00741_gfn2r.1.6-0-27760 com.amazonaws.latency   ServiceName=[Amazon S3],

[2017-04-11 17:24] cawallin commented on #6828
@hakangs I'm going to close this issue, if you still need assistance please provide the EXPLAIN ANALYZE output.

For the Cassandra connector, Presto will do a full table scan unless the predicate is on either the partition key or both the partition key and one or more clustering keys.

[2017-04-11 17:24] #6828 closed

[2017-04-11 17:33] nezihyigitbasi commented on #7807
First, it would be nice to see the entire stack trace, and to know the Presto version you are using.

If you think files should be there, then it's probably due to S3 eventual consistency. Sometimes due to eventual consistency Presto gets an object from the result of an S3 list call, but that object isn't available in S3 data nodes, causing 404s (as the replicas may not have been fully updated, re

[2017-04-11 17:46] electrum commented on #7807
Is eventual consistency still a problem for S3?

http://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html#ConsistencyModel

Do we ever check if a file exists before writing it? If so, we could be causing this problem for ourself.

[2017-04-11 18:20] nezihyigitbasi commented on #7804
Can you please provide more details, such as the Presto version you use, the entire stacktrace, what you are trying to do, etc.?

[2017-04-11 18:25] sanjay990 opened #7809 "Add main method to CassandraQueryRunner"
`CassandraQueryRunner` should have a main method similar to what we have for `TpchQueryRunner`.
This will enable us to start a distributed, multi-server, environment and make debugging easier.

[2017-04-12 01:22] haozhun opened #7814 "Add reduce_agg function for lambda"
You may be able to find some past discussions about it here: https://github.com/prestodb/presto/pull/6198

[2017-04-12 08:00] sopel39 commented on #7318
The rewrite here is too simplistic. It doesn't account for `null` on the lhs or rhs of the `IN`. The better (correct) rewrite would be similar to:
[code]

Of course extensive tests would be needed too.

FYI: @findepi

[2017-04-12 08:51] sopel39 opened #7815 "Presto incorrectly truncates numeric values to varchar"
[code]

According to spec (SQL99): http://webdocs.cs.ualberta.ca/~yuan/courses/db_readings/ansi-iso-9075-2-1999.pdf (cast specification) when numeric value would be truncated, then an exception should be thrown.

FYI: @martint

[2017-04-12 15:15] amrutagokhale commented on #7175
prestodb PR here: https://github.com/prestodb/presto/pull/7817

[2017-04-12 17:55] hellium01 opened #7818 "catalogSessionProperties in SessionBuilder is a shallow copy"
[code]
will fail if catalog1 already has properties in session. In such case, the map "catalog1" pointing to will be a ImmutableMap.

[2017-04-12 18:32] Yaliang commented on #7348
Is it possible to refactor the ``AircompressorCodecFactory`` and ``HadoopCodecFactory`` in ``presto-rcfile`` module and move them to ``presto-hive`` as a standard way to find the Codec?

[2017-04-12 18:41] dain commented on #7348
@Yaliang I don't think so.  The presto-rcfile write works because we "own" the reader code and can modify the compression loading code to favor Airlift compressors over Hadoop compressors.  With other file reader implementations the compression code is loaded by Java class name, and there is really no way to hook into that process.

What we are going to do for text files add the Airlift LZO and LZ

[2017-04-12 21:58] Yaliang commented on #7348
Yep, looks like #7588 will be good for text files but I was initially thinking the pattern of {{AircompressorCodecFactory}} and {{HadoopCodecFactory}} in {{presto-rcfile}} could be preferred for all "owned" readers in {{presto-hive}}. We currently have {{ParquetCompressionUtils}} for the optimized parquet reader, {{OrcDecompressor}} for the orc reader and {{RcFileCodecFactory}} for the rcfile read

[2017-04-13 02:38] qinzl1 commented on #7804
hive table STORED AS TEXTFILE
**sql query** : select * from test limit 10;
**error:**
com.facebook.presto.spi.PrestoException: Unable to create input format org.apache.hadoop.mapred.TextInputFormat
        at com.facebook.presto.hive.HiveSplitSource.propagatePrestoException(HiveSplitSource.java:139)
        at com.facebook.presto.hive.HiveSplitSource.isFinished(HiveSplitSource.java:117)
        at

[2017-04-13 12:25] sopel39 opened #7824 "Limit is not accounted for when transforming correlated scalar subquery with aggregation into join"
Flat with limit
[code]
flat without limit:
[code]
correlated with limit:
[code]

Limit is removed and then ignored in `com.facebook.presto.sql.planner.optimizations.TransformCorrelatedScalarAggregationToJoin`

FYI: @kokosing

[2017-04-13 12:29] sopel39 commented on #7527
fixed

[2017-04-13 12:29] #7527 closed

[2017-04-13 12:48] kokosing commented on #7824
When EXIST is transformed to scalar subquery the limit is added which is
then ignored in mentioned class. The easiest fix fix is to remove code
which adds unnecessary Limit and the one which ignores it.

13.04.2017 14:26 "Karol Sobczak" <notifications@github.com> napisał(a):

[2017-04-13 14:47] maciejgrzybek commented on #5954
Closing given https://github.com/prestodb/presto/pull/7788 is merged.

[2017-04-13 14:47] #5954 closed

[2017-04-13 14:50] maciejgrzybek commented on #5955
Closing given `ReorderWindows` for old optimizer (https://github.com/prestodb/presto/pull/6814) and `SwapAdjacentWindowsByPartitionsOrder` (https://github.com/prestodb/presto/pull/7300) for iterative optimizer are merged.

[2017-04-13 14:50] #5955 closed

[2017-04-13 14:58] maciejgrzybek commented on #3713
This is not correct to use WF in `HAVING` clause.
Given that, I'm renaming the issue to be more specific what's the subject.
Also, I mark it as `beginner-task` because it should be relatively easy to discover the problem within the WF context and raise more clear exception / message.

[2017-04-13 15:01] maciejgrzybek commented on #3626
Given https://github.com/prestodb/presto/pull/7788 is merged, please be advised that this task would require changes in `AccumulatorCompiler` as it's stated in `generateAddInputWindowIndex` method:
```// TODO: implement masking based on maskChannel field once Window Functions support DISTINCT arguments to the functions.```.
Therefore, it may not be `intermediate-task` anymore IMO.

[2017-04-13 16:58] fiedukow opened #7826 "Add possibilty to create table WITH defined compression"
`CREATE TABLE` should allow not only to choose file format but also compression codec. It seems like it can be added to `WITH` clause. Currently (as far as I understand) it can be only be changed by changing global server property `hive.compression-codec`.

Is there any technical reason why it is not there yet?

[2017-04-13 17:52] raghavsethi opened #7827 "Add query level stats for total operator processed rows/bytes and total output rows/bytes"
Currently we only expose input rows and input bytes processed, this is not always a good indication on whether the query is making progress, because query might be doing a heavy join / writing out data to output tables. We want to add total rows / bytes processed across all operators, and total output rows / bytes, which collectively could better indicate the amount of work done and progress made.

[2017-04-13 19:27] itismewxg commented on #2329
keep seeing

[2017-04-13 20:30] nezihyigitbasi commented on #2329
@itismewxg Did you try the new Parquet reader? You can enable it with `hive.parquet-optimized-reader.enabled` (or the session property `parquet_optimized_reader_enabled`).

[2017-04-14 06:06] hellium01 commented on #7781
Hi, Martin, I am trying to work on this. Is this method correct? If aggregation node has output symbol same as group symbol and it is under FilteringSource of SemiJoin, we should remove that aggregation node.

[2017-04-14 06:10] martint commented on #7781
Yes, that should work.

[2017-04-14 06:36] dain commented on #7826
It is something we talked about.  The problem is Hive does't really have a place to support this and instead relies on the (IMO, lame) precedence set by Hadoop MR where each job can set a different compression.  When we have talked about this, we discussed adding a new Hive table property to and store this information in the Hive metastore, but this is further complicated by the fact that some for

[2017-04-14 20:34] wenleix commented on #7716
This is working now with capture support: https://github.com/prestodb/presto/pull/7210

[2017-04-14 20:34] #7716 closed

[2017-04-14 20:51] electrum opened #7835 "Implement query timeout for PrestoStatement"
This needs to set the `query_max_run_time` session property. The test can be similar to `TestPrestoDriver.testQueryCancellation()`.

[2017-04-14 21:51] martint opened #7837 "Merge DesugaringOptimizer and CanonicalizeExpressions"
These two classes perform similar optimizations. They (or their logic, when they are migrated to the iterative optimizer) should be merged.

[2017-04-14 22:23] Downchuck opened #7838 "Optimize memory usage for aggregations where GROUP BY includes Partition column"
I've recently seen a case of:
SELECT count(distinct x),day,etc where day between a and b group by day, etc

Queries fail running out of memory at 1TB of usage. A single day will take up 50gigs of ram, but a month takes over 1TB. Given that the GROUP BY includes the partition column, we know that all aggregations of distinct can be calculated within the partitioned files, and so the planner could h

[2017-04-14 22:41] martint commented on #7838
We're currently working on being able to execute queries "bucket by bucket" (for some notion of bucket the engine can reason about) to handle cases like these.

[2017-04-14 23:00] Downchuck commented on #7838
That makes sense. For those tagging along: in Hive, a partition may have a bucket column, and so within that partition there may be several files, with the data split by a hash function run on the bucketed column.

@martint Will this also add smartness for sorted data? Within Hive, I setup sorted tables, with just one file per partition, most often. That is in HQL: PARTITION BY (... ) CLUSTER BY (

[2017-04-14 23:28] electrum commented on #7838
A potential alternative that is far faster and more memory efficient:

https://prestodb.io/docs/current/functions/aggregate.html#approx_distinct

[2017-04-15 00:03] itismewxg commented on #2329
@nezihyigitbasi Thanks!

[2017-04-15 00:08] itismewxg commented on #2329
in fact, I am using sparksql so far as the query engine, and parquet-store as piece by piece as data source schema is changing on the fly. but for such NULL/List change happened between 2 pieces, just hit on such problem

[2017-04-15 18:39] leolorenzoluis opened #7840 "How to get started after running server?"
Are there any database seed that one can test right away? For example, connecting to a MySQL database with an Oracle database and performing a join operation using Presto?

[2017-04-15 19:06] ArturGajowy commented on #7840
Both mysql and oracle provide sample schemas - you can use them. I think both of them even have an 'employees' schema - not sure how similar are those though. Anyway, even if the schemas (and their data) are different, you can join the tables from those schemas on, say, numerical ids.

In the future please use the [presto-users group](https://groups.google.com/forum/#!forum/presto-users) for such

[2017-04-15 19:06] #7840 closed

[2017-04-16 15:30] sanjay990 commented on #7183
@maciejgrzybek : Looks like we can close this issue.

[2017-04-16 17:42] maciejgrzybek commented on #7183
Good point, thanks!

[2017-04-16 17:42] #7183 closed

[2017-04-17 03:34] onealcenter opened #7843 "for sql server connector, if the table name is capital letter, presto will return exception 'Table xxx does not exist'"

[2017-04-17 05:23] corrius commented on #6047
I have created a pull request with a fix for this, serializing the UDT as json strings.
As this is my first pr to an OS project I would thank any feedback you can provide.

I will improve the tests in the following days.

[2017-04-17 14:28] Praveen2112 opened #7845 "Skipping based on TimeStamp statistics"
In the current Presto OrcReader, the stripes are selected based on the ColumnStatistics for that particular stripe. If the filter criteria is in between the min and  max value of that stripe then we will process it else we would skip it. But if the filter column is of type Timestamp then we are not skipping it based on the min and max value. It is possible to get the min and max value for the Time

[2017-04-17 15:12] rachmaninovquartet commented on #3036
@yuananf I see you closed this, did the sharded mysql connector ever get released openly?

[2017-04-17 16:44] electrum commented on #7845
We should be able to handle it like other types. It's possible the ORC reader was implemented before we had push down for those types and we didn't go back and add it. cc @dain

[2017-04-17 17:04] Praveen2112 commented on #7845
We just have to read the Timestamp Statistics from metadata of ORC and then initialize  IntegerColumnStatistics which would hold the min and max value of the epoch time.

[2017-04-17 17:44] dain commented on #6047
If the UDTs are have a well known schema, you should be able to map them to a ROW type (e.g., a struct).

[2017-04-17 18:36] electrum opened #7846 "CREATE TABLE should check for duplicate columns"
`CreateTableTask` should check for a duplicate column and throw `SemanticException(DUPLICATE_COLUMN_NAME)` rather than leaving it up to the connector (which should not be expected to handle this).

Here is what happens today against the Hive connector:

[code]

This should have the same error message as `CREATE TABLE AS`:

[code]

[2017-04-17 18:49] nezihyigitbasi commented on #2329
@itismewxg did this fix your problem?

[2017-04-17 20:46] corrius commented on #6047
But if I understand the Cassandra connector correctly, lists, maps and sets are also serialized into String, should we then also map these into their type, rather than serialize them as a String?

[2017-04-17 20:53] cawallin commented on #6047
Yes, they should ideally be mapped to the actual type.

[2017-04-17 21:16] corrius commented on #6047
Ok, I will look into it, could you point me to another connector which maps collections so I can use it as reference? I am completely new to Presto.
Thanks

[2017-04-17 21:29] cawallin commented on #6047
Great! Take a look at HiveType (especially getTypeSignature), referenced by HiveMetadata#getTableMetadata.

[2017-04-18 01:45] wenleix commented on #7814
As first step, we don't want to support capture for now since it adds a lot of complexity.

There are two problems we need to solve:
- Provide some sort of support for "group invariants". We can just support constant expression for now.

- Some way to communicate the lambda expression from coordinator to worker when broadcasting the query plan. One thought is:
  - Broadcast some kind of "typed can

[2017-04-18 08:19] sopel39 commented on #7815
@martint could you take a look and help me interpret spec?

There is a section in SQL 99 that specifies how to transform decimals to varchar/char:
`6.22 <cast specification>`
[code]
I am not entirely sure how to interpret this, does it mean that:
[code]
or
[code]
I would think the former (however Oracle does the latter). If we use the former than according to spec we should throw an exception:
[co

[2017-04-18 08:25] sopel39 commented on #7815
When we use decimal as default literal, then we should also change how doubles are printed:
[code]

[2017-04-18 17:26] nezihyigitbasi commented on #6747
Fixed by #7362.

[2017-04-18 17:26] #6747 closed

[2017-04-19 01:30] ebyhr commented on #7846
How about CREATE/REPLACE VIEW?

(e.g.) The query fails in Teradata.
[code]

[code]

[2017-04-19 02:17] ebyhr commented on #7846
Sorry, I found the test already exists in `TestAnalyzer#testCreateTableAsColumns`.

[2017-04-19 03:15] Vijay2win opened #7856 "Queries on ORC with Struct columns not using column stats (Not optimized)"
Allow struct predicate push down
- by denormalization of struct sub columns,
- use column stats for struct sub column query.
- fix test cases to support denormalization

[2017-04-19 03:28] Vijay2win commented on #7856
With this patch, queries on struct columns that used to take minutes to hours completes less than a second. Understandably since now we are using column stats for the sub columns.

I tried options without cloning the streams, but seems to me it will break abstractions.
Let me know if there are alternative approaches or if i am missing something. Thanks!

[2017-04-19 06:03] martint commented on #7815
It depends on what the "shortest character string that conforms to the definition of exact numeric literal" looks like. I think the spec is ambiguous (and, possibly, inconsistent) on this subject, given that it doesn't prescribe a type for numeric literals (1 could be SMALLINT, INTEGER, DECIMAL(1), DECIMAL(38), etc.). If we interpret it as "of any exact numeric literal", the second option would be

[2017-04-19 06:15] sopel39 commented on #7815
FYI: PostgreSQL 9.5 also fails to do casts correctly:
[code]
MySQL 5.7.12 also does not confirm:
[code]
Oracle:
[code]

Only Oracle seems to care about it. However oracle fails to cast 0 according to standard:
[code]

[2017-04-19 09:04] #7766 closed

[2017-04-19 16:08] rschlussel commented on #5188
@geraint0923 Is there any update on this issue?

[2017-04-19 18:57] rschlussel commented on #3734
I just tried it out and it looks like this issue has been fixed.

[code]

[2017-04-19 18:57] #3734 closed

[2017-04-19 20:24] #7824 closed

[2017-04-20 04:58] linusguan opened #7867 "Return empty if data lives in nested folder when querying external table in s3"
When querying an external table with `LOCATION 's3://somebucket/someprefix'`

If the data lives in nested path, for example, `s3://somebucket/someprefix/foo/data1.avro` and `s3://somebucket/someprefix/bar/data2.avro`, presto returns empty data while Hive knows to look deeper into nested path and return proper result.

[2017-04-20 07:35] zhangxin0112 opened #7868 "what is the latest architecture diagram ?"
hi.
search with google the  presto architecture diagram
![3ba3f8d860c64e990fe896c2f11e2099_articlex 1](https://cloud.githubusercontent.com/assets/8244097/25218829/de3ff66c-25de-11e7-9a42-9b4f65b7b260.png)

now i clone the presto 0.173 ,i read the source code , found the sql parsered in the client . it means the sql parsered finished in the client .so  the architecture diagram may like this ?
![3ba

[2017-04-20 08:12] ArturGajowy commented on #7868
I think the arrows show the dependencies and I believe there's no dependency from parser/analyzer to the client. So the upper picture is correct. It might be that the responsibility of parsing has leaked from the pareser/analyzer module to the client, but that would be an implementation slip-up, not an architecture change nor a change in module's dependencies.

[2017-04-20 08:12] #7868 closed

[2017-04-20 08:25] zhangxin0112 commented on #7868
"It might be that the responsibility of parsing has leaked from the pareser/analyzer module to the client, "
yes .u are right . that is what my real intention .
my second pic makes u misunderstanding .

[2017-04-20 08:48] ArturGajowy commented on #7868
@zhangxin0112 Please file an issue describing the "SQL parsing is (partially) done on the client" problem, ideally describing a proposed solution :)

[2017-04-20 09:15] zhangxin0112 commented on #7868
ye.i could try .
For now i just understand the module presto-cli's relationship with other module . the presto's a big project . it may take my  appreciable time to completely understand it .

[2017-04-20 14:15] martint commented on #7868
The diagram shows request and data flows, not dependencies.

The reason the cli depends on the parser is that we use it to tokenize the queries to detect boundaries when the user types a query across multiple lines.

[2017-04-20 14:40] electrum commented on #7868
The CLI only uses the lexer (not parser) to find the statement delimiter (semicolon). It needs a lexer to properly handle quoted strings, comments, etc.

[2017-04-20 16:46] nezihyigitbasi commented on #7867
If you want the same behavior as Hive you can set `hive.recursive-directories=true` in your Presto configuration.

[2017-04-20 16:46] nezihyigitbasi commented on #7867
Please reopen if that doesn't work

[2017-04-20 16:46] #7867 closed

[2017-04-20 17:10] electrum commented on #7867
We should verify if this is now default in Hive and if so, enable by default.

[2017-04-20 18:21] nezihyigitbasi opened #7873 "Investigate whether hive.recursive-directories should be enabled by default"

[2017-04-20 18:21] nezihyigitbasi commented on #7867
Filed #7873

[2017-04-20 18:37] buremba commented on #6972
Any update on this issue? We ran into it with S3-backup tables on Hive on version 0.173.

[2017-04-20 20:25] itismewxg commented on #2329
Not exactly, I knew presto with this flag can solve the problem, but as above, I am using sparksql as the query engine, look into sparksql's source code, might find the point to change the way sparksql handle the List

[2017-04-20 20:28] itismewxg commented on #2329
and, in fact, i made a walk around in my own project, readout the original json message (txt), Thanks God, we keep both json and parquet, get the RDD, and then, make the mapper to handle such in-consistent schema things in our original message.
And, i would like to share more, you know, the original messages are from javascripts, in js world, they take message format consistency as nothing to both

[2017-04-20 23:32] martint opened #7877 ""System distribution does not support source splits""
[code]
Fails with:

[code]

This is a regression introduced by 7c373d45525e84ce77ddfd05434b7323ba070565

cc @pnowojski

[2017-04-20 23:37] martint commented on #7877
The plan seems broken:

[code]

There's a `ScanProject` in fragment 1, which is hash-distributed.

[2017-04-21 02:26] wanggnot opened #7879 "OSError: [Errno 2] No such file or directory"
Traceback (most recent call last):
  File "./launcher.py", line 436, in main
    handle_command(command, o)
  File "./launcher.py", line 322, in handle_command
    run(process, options)
  File "./launcher.py", line 249, in run
    os.execvpe(args[0], args, env)
  File "/usr/lib/python2.7/os.py", line 355, in execvpe
    _execvpe(file, args, env)
  File "/usr/lib/python2.7/os.py", line 382, in _exe

[2017-04-21 09:49] jugaji commented on #6543
Hi Buremba,
I'm trying to use your connector to Dynamodb but I have a issue:

When start to run presto in my ide create the object DynamodbConnectorFactory but the typeManager is empty and thow a exception.

what must contains that typeManager to work??

Thanks a lot!!

[2017-04-21 10:04] buremba commented on #6543
@jugaji the new versions of presto do not access modules to access classes such as Typemanager. I removed it for you but i'm not sure if it will work for new versions, could you please try again?

[2017-04-21 10:07] jugaji commented on #6543
I will try and feedback here.

Thanks!!

[2017-04-21 18:43] nezihyigitbasi commented on #7873
@electrum Hive has a config property `hive.mapred.supports.subdirectories` (default: false), that configures this behavior. So for now I don't think we should enable our recursive flag by default in Presto.

[2017-04-21 19:33] findepi commented on #7318
@sopel39 sorry i misled you. This is more tricky, but still doable.

I will change the initial example a bit by moving the `IN` from `WHERE` into `SELECT`, as this shows better how the value is computed. I also changed `NOT IN` into `IN` for simplicity.

So a query
[code]

can be rewritten to:
[code]

Of course, when `a` and `b` are big tables and correlation condition on `b` doesn't contain any e

[2017-04-21 22:46] AlekseiS opened #7884 "Correctly display min/max timestamp for "date" temporal column in "shards" system table"
Currently `min_timestamp` and `max_timestamp` in `shards` Raptor system table have `timestamp` type. So, when temporal column type is `Date` currently the result is not correct.
We need to explicitly convert `Date` values for temporal column to `Timestamp`. A possible approach is to use midnight timestamp of a given day.

[2017-04-21 22:48] AlekseiS commented on #7884
cc @jessesleeping @electrum

[2017-04-21 23:40] #7877 closed

[2017-04-21 23:49] martint opened #7885 "Avoid potentially expensive computation in coordinator"
Currently, SINGLE-distributed plan fragments that contain the Output plan node will get scheduled in the coordinator. This can result in non-trivial processing inside the coordinator, which is a resource bottleneck for large clusters.

One example of problematic queries are those that contain `ORDER BY`. This is partially addressed by https://github.com/prestodb/presto/pull/7696, but it's not a ge

[2017-04-22 02:43] electrum commented on #7885
We do need to ensure that TableCommit happens on the coordinator.

[2017-04-22 02:54] martint commented on #7885
Yes, that would result in a coordinator-only fragment

[2017-04-22 06:04] cawallin commented on #3541
This is still an issue with HDFS authentication turned on. With -DHADOOP_USER_NAME=hdfs, the following fails:
[code]

[2017-04-22 09:18] buremba commented on #6464
Any update on this issue?

[2017-04-22 11:49] pnowojski opened #7886 "Avoid unnecessary stages with UnionNode just below Output operator"
More details in the comments of https://github.com/prestodb/presto/pull/7881

For query:

[code]

Presto generates following plan (unnecessary Fragment 1):

[code]

This is an artifact of a default policy for `AddExchenges::visitUnion` to choose distributed output distribution instead of collapsing to single node if parent doesn't have partitioning preferences.

[2017-04-22 18:53] findepi commented on #7061
Note that this change will impact deployment architecture. Currently, only the coordinator needs to be exposed to the client. This is important when client and presto cluster live in different networks, so it's not just impl detail.

While I'm all for such a change, when introduced, it might require a config switch.

[2017-04-23 13:32] medo commented on #7846
@electrum I would like to create a pull request for this task

[2017-04-23 13:35] ebyhr commented on #7846
Hi @medo, I already sent PR 3 days ago. #7869

[2017-04-23 13:40] medo commented on #7846
@ebyhr thanks, I will find another issue then :)

[2017-04-24 06:37] jugaji commented on #6543
Hi Buremba!!
I tried and I was able to run "show tables from" and workking.
The issue now is when I go to run query like "select * from dynamodb.default.table;"  that throw excpetion like this:

java.lang.IllegalStateException: Cursor has not been advanced yet
	at com.google.common.base.Preconditions.checkState(Preconditions.java:444)
	at com.facebook.presto.dynamodb.DynamodbRecordCursor.getFieldV

[2017-04-24 13:51] sanjay990 commented on #7843
I'll look into this.

[2017-04-24 15:07] navinvishy commented on #7628
I'm interested in working on this. I guess this also applies to max(),min() etc. I'm assuming this needs to be done in the optimization phase. Would it be something along the lines of [EmptyDeleteOptimizer](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/EmptyDeleteOptimizer.java)?
Any pointer to code that does something relate

[2017-04-24 15:37] martint commented on #7628
Take a look at the rules in https://github.com/prestodb/presto/tree/master/presto-main/src/main/java/com/facebook/presto/sql/planner/iterative/rule for some examples.

[2017-04-24 20:49] akyekth opened #7892 "Airpal Deployment exception + glassfish"
Hi anybody tried to deploy presto+airpal application in glassfish server.
anybody had experienced the below exception. please help me.

 in glassfish 4.1 (payara server), presto version 0.166, jersey2.21, Airpal)
While trying to deploy the application got the below exception.

Error occurred during deployment: Exception while loading the app : CDI deployment failure:WELD-001409: Ambiguous dependen

[2017-04-24 23:47] navinvishy commented on #7628
Great! Thanks, that's useful. I'll start looking at this.

[2017-04-25 11:28] ebirukov commented on #6972
I have same error on emr presto 0.166
presto:information_schema> SELECT table_schema, table_name, column_name FROM information_schema.columns WHERE table_schema IN ('default', 'test');

Query 20170425_112726_00155_nfp6g failed: outputFormat should not be accessed from a null StorageFormat
java.lang.IllegalStateException: outputFormat should not be accessed from a null StorageFormat
        at com.

[2017-04-25 15:16] matt-martin commented on #5100
Seeing the following stacktrace in 0.173:

[code]

[2017-04-25 18:11] alandpost commented on #7171
Martin says:  "BeginWriteTable is a total hack. It’s doing something that should really be part of a “begin query”/“end query” lifecycle. See the comments at the top of that class....  It needs to be part of the query execution (after analysis and planning is done)....  It shouldn’t be migrated to the iterative optimizer.  We should think about how to extend query lifecycle to inject these hooks a

[2017-04-25 20:28] alandpost commented on #7176
According to the comment in PlanOptimizers.java, this node is probably not appropriate for the iterative optimizer.

[2017-04-25 20:29] alandpost commented on #7174
According to the comment in PlanOptimizers.java, this pass is probably not appropriate for the iterative optimizer.

[2017-04-25 20:49] alandpost commented on #7170
According to the comment in PlanOptimizers.java, mixing this rule with others may cause problems, if the other rules don't expect to encounter local exchange nodes.

[2017-04-25 23:41] wenleix opened #7899 "Improve the error message for `transform_keys` and `transform_values`"
[code]

It should say something like "expected a lambda function takes two parameters, etc"

[2017-04-26 09:03] findepi opened #7900 "Invalid query results when varchar comparison pushed down to char column tuple domain"
[code]

[2017-04-26 11:17] jugaji commented on #6543
I have carried on with the develop of connector and I get data from dynamodb but I found a big problem because the connector must do a lot of operations of reads (on group by and where clauses) and it is very expensive on aws.

I think do not have sense connector for dynamodb maybe is better make a dump to another database or not use dynamodb maybe replace by Cassandra or another.

What do you thi

[2017-04-26 12:08] buremba commented on #6543
Hey there,

You may either run specific get queries with a where predicate or perform a
scan operation with create table anotherconnector.table as "select * from
dynamodb.table" in order to materialize the data to another connector.
On Wed, 26 Apr 2017 at 14:18, Juan José Garrido Jiménez <
notifications@github.com> wrote:

--
Burak Emre Kabakcı

[2017-04-26 13:27] ebyhr commented on #7899
How about this error message?
[code]

ExpressionAnalyzer$Visitor.visitLambdaExpression
Modified
[code]

Current
[code]
[code]

[2017-04-26 18:06] wenleix commented on #7899
I see. Thank you @ebyhr for the investigation. This looks reasonable for me. @haozhun what do you think? Shall it be considered as a `VerifyException` or `SemanticException`?

[2017-04-27 02:47] #7745 closed

[2017-04-27 02:48] #7030 closed

[2017-04-27 03:05] zhangxin0112 opened #7909 "Whether presto has white paper or Design document ？"
Whether presto has white paper or Design document ？
it will help me in-depth understanding of presto (about logical plan --> optimized logical plan --> fragments --> distributed logical plan --> subplans --> tasks ?? ).
something to help me to understand the link about sql --> task .

[2017-04-27 06:16] hellopower opened #7910 "cannot retry when connecting to the proxy metastore failed"
Should try to connect metastore when failed

[2017-04-27 07:20] akshatnair commented on #7909
This is more of a google group question, (https://groups.google.com/forum/#!forum/presto-users)
Closing as this is not an issue. Look for some topics that have been discussed and some presentations that have been shared in the group

[2017-04-27 07:20] #7909 closed

[2017-04-27 07:29] zhangxin0112 commented on #7909
OK. Got it .
Thanks u.
@akshatnair

[2017-04-27 18:27] #7348 closed

[2017-04-27 19:02] satheeshravir opened #7915 "Aggregate Function: numeric_histogram raises Query 20170427_185829_00272_a33cx failed: No nodes available to run query"
I am using presto 0.169. When I run the following query all the workers get killed and no proper error message is thrown to the server logs.

select numeric_histogram(epoch, 60, 2) from table name;

Note: epoch is a bigint

-----------------------------------------------
System Specs:
-----------------------------------------------
OS: Ubuntu 14.04 LTS
16G RAM

------------------------------------

[2017-04-27 19:16] wenleix commented on #7814
Test Case:
[code]

[2017-04-28 06:01] #7886 closed

[2017-04-28 06:01] pnowojski commented on #7886
Fixed

[2017-04-28 07:27] findepi commented on #7915
Quoting to https://prestodb.io/docs/current/functions/aggregate.html

perhaps you wanted `numeric_histogram(60, epoch, 2)` or something (note the order of parameters!)

If you want to report crash, please add more information, like how nodes crashed. Perhaps repro steps (best if using `tpch` or `memory` connector).

[2017-04-28 10:47] lifehacking commented on #6694
me too

failed: No mapping for column handle KafkaColumnHandle{connectorId=kafka, ordinalPosition=0, name=kafka_key, type=bigint, mapping=null, dataFormat=LONG, formatHint=null, keyDecoder=true, hidden=false, internal=false}!

[2017-04-28 14:38] ebyhr commented on #7746
@martint I've tested with following g4 file. It looks good to me, but is it correct?

[code]

[2017-04-28 14:51] martint commented on #7746
The aliases should go right after the table name

[2017-04-28 16:28] #6585 closed

[2017-04-28 16:35] highker commented on #7692
Assigned to @vverma11

[2017-04-28 18:26] rongrong opened #7922 "Remove the deprecated methods in AggregationNode"

[2017-04-28 18:29] rongrong commented on #7922
precursor of #3890

[2017-04-29 00:11] haozhun opened #7926 "Add test for writePositionTo in AbstractTestBlock"

[2017-04-29 18:34] martint opened #7928 "Planning failure for UNION and GROUP BY"
The following query:

[code]

Fails during planning with:

[code]

This is probably related to the recent changes in https://github.com/prestodb/presto/pull/7239

cc @pnowojski

[2017-04-29 18:48] martint commented on #7928
It appears to be fixed in master via 69f8b1b21bdf01b9de8373a7adbb0bd50d483bc9. It's not clear why that fixes it, so we need to investigate further.

[2017-04-29 20:14] findepi commented on #7928
@martint the issue you provided indeed works now in master, but just wrap the query in `select count(*) from ..` to reproduce original failure:

[code]

[code]

[2017-04-30 01:36] martint commented on #7928
The problem seems to be that it's planning a HASH-based distribution from one side of the union (the one with the aggregation) and a FIXED-ARBITRARY for the other side, which are incompatible (at least as far as PlanFragmenter is concerned). Still investigating...

[2017-04-30 17:46] raghavsethi opened #7931 "Add counter for queries that are blocked on acquiring a resource group"
We can then alarm on this when the number of queries blocked on a root group exceed a threshold.

[2017-05-01 07:14] pnowojski commented on #7928
I'm looking into this

[2017-05-01 21:26] #7928 closed

[2017-05-01 21:40] wenleix opened #7935 "[Lambda Function] JVM generates BMH class for each row for some queries"
The simplest way I found to the problem is to have a table with a lot of nested arrays (e.g. `ARRAY(ARRAY(INTEGER))`:

[code]

This will generate an table with 100k rows (I think 10k rows are also enough), each row contains an `ARRAY<ARRAY<INTEGER>>`, and each array contains 1000 entries.

The following query will cause the problem:

[code]

You will then see about 100k LambdaForm classes generate

[2017-05-01 21:42] wenleix commented on #7935
https://github.com/prestodb/presto/pull/7866 will solve this issue for non-capture lambda functions. (by avoid calling `bindTo` method per row). However it still remains a threaten for capture support in lambda function so we should understand a bit deeper.

[2017-05-01 21:55] electrum commented on #6464
@haozhun and I had a conversation about this. It will be a major change as we don't have any support for annotated aggregation functions with type parameters.

It would be helpful to know all the specific use cases so we can have a clear picture of the required design. If these can be expressed in terms of existing functions, that would be easiest, as we can convert the existing functions.

The re

[2017-05-01 23:42] wenleix commented on #7935
Here is the pure Java code to reproduce the issue: https://github.com/wenleix/BMHTest

[2017-05-02 00:03] buremba commented on #6464
Hey @electrum, we have a custom type called `set` and need this feature for parametrizing the `set(<T>)` similar to `array_agg(<T>)`. As a workaround, we implement it for common types similar to `ApproximateSetAggregation` but the `set` function works similar to `HashSet` and only compares `Block`s in order to ensure that they're unique so doesn't need to know about the content as long as it's com

[2017-05-02 00:52] electrum opened #7940 "Change UI parallelism to be per-machine"
We could make this a toggle if we still want it for the whole cluster.

[2017-05-02 00:53] electrum opened #7941 "Do not include blocked split count in UI query summary card"

[2017-05-02 01:53] wenleix commented on #7935
The problem is more widespread than I originally thought. Apply lambda function on any collection size >= 150 will trigger the issue (I didn't try to identify the accurate threshold ).

Here is the way to generate the dataset:

[code]

And the following simple query will cause the issue

[code]

JVM tries to generated the Byte Code once a Bound Method Handle callsite exceeds some threshold (betwee

[2017-05-02 02:30] liguirong98 commented on #868
I put the jar in the plugin directory,but it don't work , I already restart .

[2017-05-02 08:08] findepi commented on #3424
The `delete from` vs `truncate` in PostgreSQL is also explained in their docs https://www.postgresql.org/docs/9.6/static/sql-truncate.html

There are further constrains when foreign keys are in play (you can't truncate table _possibly_ referenced, but you can _delete from_ it unless there _really_ exists a referencing row).

In Oracle, for example, `truncate` is not transactional (so does not requ

[2017-05-02 13:28] RobinUS2 opened #7943 "Cassandra v2.0.x incompatibility"
Hi there,

As of one of the latest versions (somewhere after 0.160, I think it's in 0.167 given https://prestodb.io/docs/current/release/release-0.167.html).

The change that causes this v2.0x incompatibility seems around https://github.com/prestodb/presto/commit/c7bca758548b5274be6ae529dbd201272a59d66f which forces the V3 protocol.

The version we use in the shaded presto version is 3.1.4 https:/

[2017-05-02 17:00] nezihyigitbasi commented on #7935
It seems like this is related to the `java.lang.invoke.MethodHandle.CUSTOMIZE_THRESHOLD` in `MethodHandleStatics` (this is a JVM arg with a default value of 127, and if you set this one in your test program you will see it affects the output). I think we need to better understand how method handle customization works.

[2017-05-02 18:10] raghavsethi opened #7945 "Fix instantaneous query sparkline to be seconds based"

[2017-05-02 18:28] martint opened #7946 "Track per-resource group wait times"
We should track and expose (via UI, JMX, etc) the time queries spend waiting to get admitted into a resource group.

This could eventually be used to provide time-to-start estimates to users when queries are queued.

[2017-05-02 19:35] martink-2 opened #7947 "Receiving NULL values when querying array column types in hive"
I have a table in hive that has a column of `array(varchar)` type.
Querying this column in **v0.164** and earlier returns correct values.
Querying the column in **v0.165** and above returns NULL values.

The hive config file is:

[code]
If I disable`hive.parquet-optimized-reader` setting, then it returns correct values in **v0.165** and above, however, I then encounter an different issue regarding

[2017-05-02 19:55] nezihyigitbasi commented on #7947
There are known issues with complex type null handling in the new parquet reader and @zhenxiao is working on that. The thing is v0.165 introduced support for maps/arrays in the new parquet reader that's why it starts failing in that version.

That aside, do you see the problem with decimals also with v0.164 (using the old reader)? If not, this means there is some regression in the old reader.

[2017-05-02 20:06] martint opened #7948 "Failed queries don't expire"
Failed queries don't seem to expire from the coordinator, which can lead to a memory leak, slowness/crashes when loading the web UI, etc.

[2017-05-02 20:41] martink-2 commented on #7947
Yes, when I'm not using the optimized reader I get the following error when trying to SELECT decimal columns
`Query 20170502_203121_00001_e9wv6 failed: Can not read value at 0 in block 0 in file hdfs://<file>.parquet`
Tested it on v0.164, 0.165, 0.169, 0.173 with same results.

[2017-05-03 00:54] electrum opened #7952 "Release notes for 0.175"
## Dain Sundstrom
- [x]   b7565204d     Reduce size of byte code generated for projections and filters
- [x]   6b1db5a2e     Add stats to ORC and RCFile data sources
- [x]   819eb420a     Disable usage of DWRF file level stats
## David Phillips
- [x]   f2b303718     Minor cleanup of SourcePartitionedScheduler
- [ ]   bc7dd2d30     Fix DELETE queries that do not produce splits
- [x]   90233c841

[2017-05-03 01:08] haozhun commented on #7952
#### General
* Fix query execution failures with message "position is not valid" due to bug in run-length block.
* Fix memory accounting bug in ArrayBlockBuilder that can potentially cause OOM crash.
* Improve performance of map subscript from O(n) to O(1) when the map is produced by an eligible operation, including map constructor and Hive readers (except ORC and optimized Parquet). More read and

[2017-05-03 01:10] haozhun commented on #7952
General comment about this new workflow. It's great. On the other hand, Having timestamp in the commit is pretty important because it helps group together commits into logic units.

[2017-05-03 01:15] electrum commented on #7952
The commits are sorted by timestamp, but I remove it before generating the list to keep it less cluttered.

[2017-05-03 01:15] raghavsethi opened #7953 "Fix computation for cluster stats resources"
All stats should be global, not per-query

[2017-05-03 01:23] erichwang commented on #7952
**General**

- Add ``enable_intermediate_aggregations`` session property to enable the use of intermediate aggregations within un-grouped aggregations.

[2017-05-03 01:44] nezihyigitbasi commented on #7952
**General**
- Add resource group information to query events.

[2017-05-03 02:51] dain commented on #7952
# General
* Reduce occurrences of "Method code too large" exception.

[2017-05-03 03:33] wenleix commented on #7952
## General

- Error code `REMOTE_HOST_GONE` will be used for failed queries due to hardware issues.

[2017-05-03 06:17] martint commented on #7952
# General

* Fix regression that could certain queries involving ``UNION`` and ``GROUP BY`` or ``JOIN`` to fail during planning.
* Fix planning failure for ``GROUP BY`` queries containing correlated subqueries in the ``SELECT`` clause.
* Add support for ``INTERVAL`` data type to :func:`avg` and :func:`sum` aggregation functions.
* Add support for ``INT`` as an alias for the ``INTEGER`` data type.

[2017-05-03 09:09] mayank-malhotra opened #7954 "Does Prestodb supports LDAP not secure LDAPS."
I know Prestodb supports LDAPS integration but my organization doesn't support LDAPS or secure LDAP integration. So I tried using LDAP in config.properties file then error came:
**Invalid configuration property authentication.ldap.url: LDAP without SSL/TLS unsupported. Expected ldaps://**

Is there any way I can use ldap as my organization doesn't support ldaps://

[2017-05-03 14:03] electrum commented on #7954
I think we don't support that because it means the passwords would be sent to the LDAP server in plaintext (so anyone on the network could easily sniff them).

[2017-05-03 14:10] cawallin commented on #7943
Yeah, that should be fine -- there was just a problem with the driver defaulting to a newer driver that was causing intermittent connection issues in tests. I'll review the PR now.

[2017-05-03 14:45] electrum commented on #7943
If this is good, I'm fine to merge for 0.175

[2017-05-03 16:55] electrum opened #7957 "Decrease hash_partition_count on verifier when re-running control"
When we have a result mismatch, we re-run the control query to attempt to see if it's deterministic. Queries are often deterministic based on the number of hash partitions, so multiple control runs produce the same answer, but the test run fails (since the test cluster often has a smaller number of machines).

When re-running the control, the verifier should look at the default value of the `hash_

[2017-05-03 19:47] rongrong commented on #7931
By "blocked on acquiring a resource group" you mean queries that are rejected because the resource group queue is full?

[2017-05-03 19:48] wenleix commented on #7787
This is fixed in 0.174:

[code]

[2017-05-03 19:48] #7787 closed

[2017-05-03 20:26] electrum commented on #7954
If you don't care about security, you could run `stunnel` on the Presto coordinator to accept secure connections from Presto and tunnel them to your LDAP server:

https://bsriram.info/2010/09/13/tunnelling-ldap-using-stunnel/
http://www.tldp.org/HOWTO/archived/LDAP-Implementation-HOWTO/ssl.html

We might be able to non-secure LDAP if we could enforce digest authentication (so the password would ne

[2017-05-03 23:15] electrum commented on #7952
[code]

[2017-05-03 23:15] #7952 closed

[2017-05-03 23:52] martint opened #7960 "CLI should bail out as soon as query fails"
I've observed a case where the web UI indicates the query has failed and the CLI marks a stage as failed ("X") but keeps printing progress and query stats for a while. This presumably happens because the coordinator continues to return "next" links in the response, and the CLI blindly follows them.

There are two possible solutions to this:
- Coordinator should stop producing "next" links once the

[2017-05-04 01:12] martint commented on #4805
This is close, but it's still being worked on: https://github.com/prestodb/presto/pull/7712

[2017-05-04 02:47] dain commented on #7960
This is a sign that there is something broken in the cluster.  Once a stage is marked as failed (which is what you are describing), the failure should quickly propagate to the query state.

[2017-05-04 02:49] martint commented on #7960
It did... according to the UI, the query was failed. According to the CLI, one of the stages had failed, but the CLI kept going (not hung, still refreshing query state from the server)

[2017-05-04 02:50] martint commented on #7960
The speculation is that the statement resource continues to wait until the final task info is gathered from workers, but the UI does not -- hence the discrepancy.

[2017-05-04 06:00] pvam commented on #3254
@cberner any updates on this?

[2017-05-04 19:07] jdintruff opened #7964 "Expose grantee to SystemAccessControl"
Currently the SystemAccessControl interface includes the identity of the user who is granting privileges when authorizing grants. The grantee, however, is not included. Including the grantee in this interface would allow plugins to do security checks on who can be granted access to tables instead of just checking the granting user.

[2017-05-04 23:02] cberner commented on #3254
I don't think anyone is actively working on it

[2017-05-05 05:46] joeyitpmk opened #7970 "Presto support "collect_set"?"
I will use "collect_set" to process it in hive. But I found presto doesn't support "collect_set".
Does presto will support it in the future and how do I process the complex field right now?

[2017-05-05 06:45] joeyitpmk commented on #7970
I find function map_agg

[2017-05-05 06:45] #7970 closed

[2017-05-05 09:46] NextMark opened #7971 "Where is the configuration properties description?"
Where is the detailed description of the configuration parameters? I have read the official website of the document, but not a very comprehensive description .

Regards.

[2017-05-08 07:49] RobinUS2 opened #7978 "Undocumented breaking changes in SPI?"
I was wondering what we can do about the fact that SPI has breaking changes every now and then that are not documented. This is not ideal for a plugin ecosystem. An example can be found here https://github.com/RobinUS2/presto-bloomfilter/pull/48/commits/1451881a3de3c366db73d6aa04858608292bd802

Sometimes it also looks like mainly refactoring (not sure about the example above), but especially in th

[2017-05-08 16:56] amrutagokhale commented on #7885
For a sample query such as this: `explain select partkey, suppkey from lineitem order by orderkey;`, this is what the current plan looks like:
[code]

If I understand this correctly, the new plan AFTER the change will look like:
[code]

[2017-05-08 19:54] idemura opened #7981 "Can't cast REAL to JSON"
Sample: `SELECT CAST(CAST(1.234 AS REAL) AS JSON)`, while casting double is fine: `SELECT CAST(1.234 AS JSON)`. Documentation says this is supported.

[2017-05-08 20:22] dain opened #7984 "Add uptime to Presto UI"
It would be nice to see uptime in the UI on the coordinator.

[2017-05-08 21:52] losipiuk opened #7985 "Wrong treatment of 0 for DECIMAL(X,X) columns in Hive on INSERT"
When 0 is inserted into Hive table with column of DECIMAL(X,X) type (e.g. DECIMAL(38,38)) via Presto
NULL is inserted instead of 0.

Steps to reproduce.
[code]

we get:
[code]

[2017-05-08 21:53] losipiuk commented on #7985
This is incarnation of https://issues.apache.org/jira/browse/HIVE-11835.
It should go away when with upgrade of `presto-hive-apache` to 1.3.0.

[2017-05-08 22:26] Downchuck commented on #5759
Where did this v2 proposal land? The Teradata Presto connectors appear to rely on patches such as this.

[2017-05-09 00:31] #7436 closed

[2017-05-09 01:43] highker commented on #7692
Unassigned

[2017-05-09 06:29] ebyhr commented on #7899
@haozhun Gentle Reminder :)

[2017-05-09 09:56] sopel39 opened #7989 "Improve query parameters '?' handling."
Currently, query parameters (`?`) are handled in various places across the planner. The process is as follows:
1. When query is first sent to backend, it is parsed and the parse tree (AST) is (is it?) then cached for further use
2. AST is reanalyzed with `Parameter index -> expression` bindings
3. Query plan is rebuild based on analysis and `Parameter index -> expression` bindings
    - `Parameter

[2017-05-09 15:13] madhurkumar opened #7990 "Support connecting to Kerberos secured Kafka"
Is there a way to enable support for Kerberos secured Kafka in existing Kafka connector?

[2017-05-09 15:17] cawallin commented on #7990
No, that's not currently supported, and doesn't seem likely that someone will pick it up any time soon. If you'd be interested, feel free to work on it yourself!

[2017-05-09 15:44] striderarun commented on #7981
Hi,I would like to work on this one.

[2017-05-09 16:09] rschlussel commented on #7989
I don't fully understand the proposal, but I agree that the current situation of sprinkling the translation throughout the planner leaves a ton of room for bugs and it would be much better to do it all in one place.  Doing that by way of a ParameterDesugarer seems like a good approach.  Could you explain what you mean by the first two steps?

[2017-05-09 16:14] sopel39 commented on #7989
Basically I propose to separately analyze `EXECUTE` parameters to deduce their types. Then use the types to analyze actual query. The benefit is that if the query already have been analyzed with given parameter types, we could reuse such analysis.

[2017-05-09 18:33] Downchuck commented on #4839
Is there another issue report tracking work on this item, aggregate pushdown?

[2017-05-09 18:46] idemura commented on #7981
Hi Arun,
I made a quick PR for that yesterday (before your email). There should be
other tasks.

On Tue, May 9, 2017 at 8:44 AM, Arun Mohan S <notifications@github.com>
wrote:

[2017-05-09 21:45] Downchuck commented on #7838
In this case, we're using UUIDs - the +/- 2.3% SE is exactly what occurs.

[2017-05-09 23:28] haozhun commented on #7899
It should be a `SemanticException`. Thank you for the investigation @ebyhr @wenleix

[2017-05-10 04:16] electrum opened #7994 "Handle JSON exception in SimpleHttpResponseHandler"
When the `JsonResponse` has an exception, we should wrapper that in a proper `PrestoException` that includes the remote URI, like we do for the other errors.

[2017-05-10 04:19] electrum commented on #7964
This seems reasonable to me. Should we also add the `withGrantOption` flag?

[2017-05-10 04:32] electrum commented on #7978
That change was made for 623eeb8561ac1a04f51539b4c265a4ef9f8883ab.

In this case, we could have made it in a backwards compatible way:
[code]

It definitely should have been mentioned in the release notes for 0.175.

cc @haozhun

[2017-05-10 21:35] wenleix commented on #7692
@ zhongxiangu Will be working on this :)

[2017-05-10 21:43] wenleix commented on #7835
@zhongxianggu is plan to work on this! :)

[2017-05-10 21:46] electrum commented on #5759
We need to review this with @martint and finalize the protocol specification.

[2017-05-10 21:50] ausgoo commented on #7692
I will be working on that. Thanks.

[2017-05-11 13:10] sopel39 opened #8001 "Parameter existence is not verified in all places"
Parameters can be inserted as any expression. However, they aren't rewritten in all places, e.g:
[code]
There should probably be an error message instead that specifies that parameter is places in incorrect place

FYI: @rschlussel

[2017-05-11 14:17] rschlussel commented on #8001
I'm not sure that's really the issue here.  Parameters are only allowed to represent literals, so the error message is correct.  The problem with this query is that there are columns not in the group by clause.

[2017-05-11 14:59] electrum commented on #1198
@hellopower in standard SQL, single quotes are escaped by doubling them: `SELECT 'it''s great'`

[2017-05-11 16:29] electrum opened #8003 "Release notes for 0.176"
## David Phillips
- [ ]   260cb31f5     Remove catalog part of MySQL JDBC URI
- [ ]   c6cfd0599     Add MySQL JDBC URI verification to prevent setting DB
- [ ]   792e2d49a     Fix incorrect date conversion in Row#valueFromString
- [ ]   5cd5fb6fa     Add ExecutorService for metric retrieval
- [ ]   d33a9d6a8     Fix formatting in MongoSession
- [ ]   944f6393a     Fix ObjectID predicate pushdown f

[2017-05-11 18:12] haozhun commented on #7948
Fixed by https://github.com/prestodb/presto/pull/7992

[2017-05-11 19:31] #7931 closed

[2017-05-11 21:32] highker commented on #8003
No release note for me

[2017-05-11 22:01] Downchuck commented on #6363
Has a PR been submitted for this? I also noticed how slow Squirrel is for a complex data lake.

[2017-05-11 22:04] Downchuck commented on #1195
Blocked/impacted by #5759

[2017-05-11 22:07] haozhun commented on #8003
#### general
[code]

[2017-05-11 22:47] haozhun commented on #7948
We found another cause for this that involves the worker restarting, and responding 200 to the DELETE request the first thing it comes back.

[2017-05-11 23:14] wenleix commented on #8003
### General

* Add support for casting from JSON to REAL.
* Improve performance of `transform_values`.

[2017-05-12 04:14] linusguan opened #8005 "maxRequestsQueuedPerDestination should be exposed and listed in Presto config.properties"
Hi,

I recently encountered an issue when using Presto.
`java.sql.SQLException: Query failed (#20170511_094135_03925_r94jh): Max requests per destination 1024 exceeded for HttpDestination[http://10.243.61.123:8889]@3709d005,queue=1024,pool=DuplexConnectionPool[c=250/250,a=0,i=0]`

After some research I think it might be related to Jetty default connection limit, should I increse following values?

[2017-05-12 05:31] wenleix commented on #7705
Resolved by #7740

[2017-05-12 05:31] #7705 closed

[2017-05-12 06:39] wenleix opened #8006 "Implement concatenation for BINARY STRING"
According to a draft version of `ISO/IEC CD 9075-01:200x(E)`

[code]

<img width="803" alt="screen shot 2017-05-11 at 23 38 33" src="https://cloud.githubusercontent.com/assets/799346/25986104/f82c7fee-36a2-11e7-8dd1-a68e0861a962.png">

[2017-05-12 06:45] wenleix opened #8007 "Implement functions that encodes float/double according to IEEE-754"
tentative signature: (need to think over the name)

[code]

[2017-05-12 11:55] jgticketscript2 opened #8011 "Redshift through Postgresql connector no longer functions"
On version 0.173 I was able to use the Postgresql connector to connect to a Redshift cluster. Since version 0.174 the Postgresql connector is no longer compatible. Also tested it on 0.175, same error. The full stacktrace can be found in the pastebin at the bottom of this issue.

The error is `com.facebook.presto.spi.PrestoException: ERROR: type "e" does not exist`

I suspect this may relate to [Po

[2017-05-12 13:50] sopel39 commented on #8001
@rschlussel you can have query like:
[code]
but this doesn't work:
[code]

[2017-05-12 16:34] nezihyigitbasi commented on #8003
general

* Fix a memory tracking  bug that causes the memory to be overestimated for ``GROUP BY`` queries on ``bigint`` columns.

[2017-05-12 16:55] rschlussel commented on #8001
I intentionally left that out because I thought it wasn't valid (it's really a column reference and not a literal). I'll look at the spec when I have a chance to see if it has better information.

 I still agree that #7989 is a good idea.

[2017-05-12 18:04] electrum opened #8016 "Ignore ALREADY_EXISTS error in CreateTableTask"
For non-transactional connectors, the `createTable` call can fail with `ALREADY_EXISTS` and should be ignored if the `notExists` flag is set.

[2017-05-12 18:17] Downchuck commented on #3499
@puneetjaiswal I believe Spark treats that more like a temporary view, and doesn't access data until the data is requested, by running something like collect().

That said, it sounds like you're looking for "CREATE TEMPORARY VIEW" or "CREATE TEMPORARY TABLE" on a per-session basis.

[2017-05-12 18:36] anusudarsan commented on #3499
I am currently looking into adding support for session-level temporary tables.  Assigning this issue to me

[2017-05-12 22:13] electrum commented on #8003
[code]

[2017-05-14 14:21] ebyhr commented on #7843
FYI: I confirmed this but can select correctly with latest build.

Native session
[code]

Presto session
[code]

Presto session (CTAS)
[code]

[2017-05-15 07:15] ebyhr commented on #6741
This seems to be related with #5628.

[2017-05-15 08:42] sopel39 opened #8024 "Optimized hash generation generates redundant hash symbols"
Related to: https://github.com/prestodb/presto/issues/6449
and https://github.com/prestodb/presto/pull/6398

[code]
hash are generated redundantly for `suppkey` and `orderkey`.

This is even more significant for query like:
[code]
plan:
[code]

[2017-05-15 08:57] sopel39 commented on #8024
This might be a bug. Especially for second query `shipdate` hash is generated 12 times (!?)

[2017-05-15 12:36] sopel39 opened #8025 "Invalid results when fast_inequality_join=true and table contains null values"
[code]

Rows with null values are part of `SortedPositionLinks`. However, `applyLessThanFunction` will return `false` for null rows prematurely breaking join position enumeration.

This most likely is a release blocker since `fast_inequality_join` is true by default.

FYI: @pnowojski @dain @martint

[2017-05-15 12:38] sopel39 commented on #8025
The proposed fix is to not add null rows to `SortedPositionLinks`

[2017-05-15 15:18] electrum opened #8027 "Categorize error message for too many parameters in generated code"
This should throw `NOT_SUPPORTED`.
[code]
[code]

[2017-05-15 15:20] electrum commented on #8027
Removing the last `rand()` (so there are 255 instead of 256) produces a different error message. This should also be handled:
[code]

[2017-05-15 15:24] electrum commented on #8025
Looks like this was introduced in 0.174

[2017-05-15 15:27] electrum commented on #8025
The session property seems to be false by default. Am I missing something? https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/SystemSessionProperties.java#L244

[2017-05-15 15:30] electrum commented on #8027
Given how the code generator works, fixing this directly might be difficult. We can probably handle it by capping the maximum number of arguments to a var-args function at 250.

[2017-05-15 16:16] pgirolami commented on #5685
Any progress on this issue ? Has it been determined why the sticky bit is set ?

[2017-05-15 17:39] electrum opened #8028 "Bad lambda error message"
The error message includes the default `toString`.

[code]

[2017-05-15 18:23] #7900 closed

[2017-05-15 19:01] sanjay990 commented on #7843
@ebyhr : Thanks for checking.
@onealcenter : Can you try again and let us know the steps to reproduce.

[2017-05-15 19:53] elonazoulay opened #8029 "Add soft and hard memory limits to the resource groups"
Resource groups will have the ability to manage soft and hard limits: if the soft limit is exceeded then do not queue queries, if the hard limit is exceeded then cancel queries.

[2017-05-16 05:29] wenleix commented on #8007
@ausgoo Are you interested in working on this as a beginner task? It should be quite straightforward :)

[2017-05-16 08:33] pnowojski commented on #8025
@electrum unfortunately it is enabled by default. This `false` that you pointed is for `hidden` attribute.

[2017-05-16 08:49] nmahadevuni commented on #6262
We are on Presto version 0.152 and we face this problem very frequently while running large queries. First we get "unable to create new native thread" error due to OutOfMemory and the next run onward "BoundedExecutor is in a failed state". After this happens, whatever query we run fails with the same error. We restart Presto too but it doesn't solve this problem. Appreciate any inputs on how to re

[2017-05-16 13:59] #6988 closed

[2017-05-16 13:59] amrutagokhale commented on #7175
Closing this, since https://github.com/prestodb/presto/pull/7817 was merged.

[2017-05-16 13:59] #7175 closed

[2017-05-16 14:29] ujjwal009 commented on #6262
Problem can only be fixed with a presto restart. Can this be avoided ?
This is a major concern on production enviornments.

[2017-05-16 14:48] nezihyigitbasi commented on #6262
@ujjwal009 typically  the root cause of "unable to create new native thread" is hitting the limit of max user processes (there may be other reasons like running out of native memory etc.).  On the machine that you see this issue what's the output of `ulimit -a`?

[2017-05-16 14:58] sopel39 commented on #8025
Fix: https://github.com/prestodb/presto/pull/8036

[2017-05-16 15:04] electrum commented on #6262
Please update to Presto 0.176. The issue causing it to run out of threads may already have been fixed.

The JVM should be restarted after an OOM caused by lack of memory or threads. We recommend using this agent to automatically kill the JVM when this occurs: https://github.com/airlift/jvmkill

Also, make sure your OS is configured to allow enough threads. Presto can create several thousand.

[2017-05-16 16:03] raghavsethi commented on #8025
@pnojowski: Why is an experimental feature enabled by default?

[2017-05-16 16:05] nezihyigitbasi commented on #8003
Release 0.176 is out: https://prestodb.io/docs/current/release/release-0.176.html

[2017-05-16 16:05] #8003 closed

[2017-05-16 16:36] ausgoo commented on #8007
@wenleix , sure. Can you create a Bootcamp task and assign that to me? Thanks.

[2017-05-16 21:14] elonazoulay opened #8038 "Add documentation for resource groups db config"
Give an example of how to to set up the db based resource configuration manager.

[2017-05-17 01:48] Downchuck commented on #2544
Checking if anyone has a similar interest: I could really have used an option to overwrite or append with another delimiter, on duplicate keys. Currently it simply throws an error. Hive's str_to_map overwrites by default, and I needed to create a custom function do do an append with delimiter.

[2017-05-17 05:51] pnowojski commented on #8025
In initial PR that was disabled by default and only later during reviewing process it was proposed to be enable this by default (https://github.com/prestodb/presto/pull/7097#discussion_r111239527). I guess at that point I forgot to change this from an experimental feature :(

[2017-05-17 06:51] nmahadevuni commented on #6262
The ulimits on our systems is
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 1032729
max locked memory       (kbytes, -l) 64
max memory size         (kbytes, -m) unlimited
open files                      (-n) 1024
pipe size            (51

[2017-05-17 06:53] nmahadevuni commented on #6262
Thanks for your inputs. Will use jvmkill agent and see if we can restart Presto quickly.

[2017-05-17 16:38] ausgoo commented on #8007
@wenleix , could you assign this issue to me, seems I cannot assign it to myself. Thanks.

[2017-05-17 17:30] #6991 closed

[2017-05-17 21:56] #7734 closed

[2017-05-18 01:17] haozhun opened #8053 "Release notes for 0.177"
## Christina Wallin @cawallin
- [x]   e8d11e7       Get rid of CachingCassandraSchemaProvider
- [x]   16a619f       Refactor refresh size estimates
- [x]   323913d       Separate test in TestCassandraTokenSplitManager
- [x]   63028fe       Move getSizeEstimates to Cassandra session
- [x]   c4c33b8       Keep refreshing size estimates until it is actually done
- [x]   e0e4cef       Reopen Cassandra

[2017-05-18 02:15] dain commented on #8025
Fixed by #8036

[2017-05-18 02:15] #8025 closed

[2017-05-18 02:17] dain commented on #8053
General
-------

* Fix null handling in inequality joins when ``fast_inequality_join`` is enabled.

Hive
----

* Ensure file name is always present in ORC corruption exceptions.
* Fix trailing space handling of CHAR type in RCFile reader.

[2017-05-18 02:50] martint commented on #8053
General

[code]

Hive
[code]

Note that I edited and expanded on the ``Fix null handling in inequality joins when fast_inequality_join is enabled.`` from @dain above due to another related fix.

[2017-05-18 03:33] cawallin commented on #8053
Cassandra
[code]
https://github.com/prestodb/presto/pull/8054 should be merged before the release.

[2017-05-18 04:54] wenleix commented on #8053
General
[code]

Hive
[code]

[2017-05-18 08:29] chengat1314 commented on #6916
hi @raghavsethi
Thx for your clarification.
Something has happened in our production cluster.
And it is because of a long full GC.  (the worker is long GC will lost from the cluster)
Would you mind to give me some suggestions how to avoid that?
The long full GC was caused by a very big bad query.
And meanwhile, all the concurrent queries failed after that.

Is there a way we can just let the big b

[2017-05-18 14:01] dhiarum opened #8059 "Can not able to connect to Kerberos secure kafka"
Hi Team,

I have Kerberos secure Kafka and i wanted to use kafka connector in presto for the same. But i could not able to use it. Could you please let me know if we have any option to do it here?

[2017-05-18 15:33] cawallin commented on #8059
No, it's not supported. This issues is a duplicate of https://github.com/prestodb/presto/issues/7990, so I'm going to close it.

[2017-05-18 15:33] #8059 closed

[2017-05-18 17:54] jdintruff commented on #7964
@electrum I've posted my patch to #8061 and took your suggestion of adding that flag to more closely reflect the Grant API. I've made these changes symmetric with the Revoke API as well.

[2017-05-18 18:11] raghavsethi commented on #6916
We've made a bunch of fixes that prevent full GCs since 0.160, especially in the last couple of releases. We will continue to make improvements, but please upgrade to the latest version and file a new issue with the query shapes that cause issues and GC log information.

[2017-05-18 20:23] the6campbells opened #8068 "Invalid node. Aggregation dependencies when projecting MIN or MAX distinct with another distinct aggregate"
Presto 0.167 mapped to table in MySQL

projecting either MAX, MIN or SUM works but combine MIN or MAX with SUM will fail
 SELECT
        MAX(DISTINCT "qty") AS "C1",
        MIN(DISTINCT "qty") AS "C2",
        SUM(DISTINCT "qty") AS "C3"
    FROM
        "tsupply"

Error: Query failed (#20170518_202055_02364_aygtr): Invalid node. Aggregation dependencies ([qty_2]) not in source plan output ([qty,

[2017-05-18 21:25] #7984 closed

[2017-05-18 21:31] raghavsethi commented on #8053
Web UI
[code]

[2017-05-18 22:04] analog76 commented on #6262
I see this error on the coordinator node server.log.  Is it originating from the coordinator or worker propagating the error to the coordinator?    I don't see this error on the worker node.

[2017-05-18 22:52] #7780 closed

[2017-05-18 22:52] #7899 closed

[2017-05-19 02:33] chengat1314 opened #8077 "One big bad query crashed all concurrent running queries"
Hi @raghavsethi thank for you feedback.
As discussed, I create a new issue.
We are running Presto 0.170 on EMR.
with setting
http-server.threads.max=500
discovery-server.enabled=true
sink.max-buffer-size=1GB
query.max-memory=300GB
query.max-memory-per-node=15GB
query.max-history=300
query.min-expire-age=30m
http-server.http.port=8889
http-server.log.path=/var/log/presto/http-request.log
http-serve

[2017-05-19 09:53] chengat1314 commented on #8077
one interesting finding.
after the crash we lost one worker(we can see from the UI).
CPU usage not high but keep at 20%.
check top
   PID USER      PR  NI  VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
 13067 presto    20   0 61.1g 3.3g  47m S  1.0  5.3   1:52.57 presto-server
Also found a spike in the ganglia dashboard in "Loads/Procs" metrics "1-min".
Have this spike every time when crash.
![imag

[2017-05-19 09:55] chengat1314 commented on #8077
One more graph
<img width="581" alt="image" src="https://cloud.githubusercontent.com/assets/3798412/26242763/23f637ae-3cbc-11e7-9f56-4188427e7db6.png">

![image](https://cloud.githubusercontent.com/assets/3798412/26242812/4f3e2e12-3cbc-11e7-84e8-5fb29ab48fe8.png)
for this case, the cpu is always more than 60% more even no job was running.

[2017-05-19 12:52] zxs opened #8080 "No support Varchar(0) pushdown at Base JDBC Client"
Test Case:
[code]

## LIMIT NO pushdown
[code]

 ## BIGINT column pushdown
[code]

## VARCHAR column pushdown
[code]

[2017-05-19 13:02] img22 commented on #2863
Is there a fix for this? I'm not able to query upper case tables

[2017-05-19 14:16] findepi commented on #8025
@raghavsethi @pnowojski  since this is not meant to be flagged as experimental feature, let's remove "experimental" from the flag description (#8079)

[2017-05-19 16:54] findepi opened #8084 "Flaky test TestHiveStorageFormats#testInsertIntoPartitionedTable"
(this is a product test)

[2017-05-19 17:46] haozhun commented on #8053
Additional commits that may need release notes:

## Dain Sundstrom @dain
- [ ]  05-19 09:02:17    6e1de4963e Add preprocessor support to CLI
## David Phillips @electrum
- [ ]  05-18 15:01:40    b2d21b2270 Tighten syntax for SHOW STATS
- [ ]  05-18 22:01:59    2da3490a64 Validate Raptor shards against checksum after recovery
- [ ]  05-18 22:01:59    d79404d5ae Perform read-after-write validation of

[2017-05-19 17:50] haozhun commented on #8053
General
[code]

[2017-05-19 17:55] dain commented on #8053
General
[code]

[2017-05-19 18:00] martint commented on #8053
General

[code]

[2017-05-19 23:35] sfilipco commented on #8016
I would like to pick up this task. Please let me know if anyone else is working on it.

[2017-05-20 06:45] zxs commented on #8080
Solved :-)
The problem happened at presto phoenix connector based jdbc.
The method **toPrestoType** Overrided at  the PhoenixClient extends BaseJdbcClient
[code]

[2017-05-22 02:15] raghavsethi commented on #8077
Using CPU when no queries are running seems like a separate problem. Could you file an issue with information specific to that?  There's too much going on in this issue.

[2017-05-22 04:02] Downchuck opened #8094 "Add UUID Type"
There are very many use cases I've hit where a UUID is a column in the data -- some data provides split it into two longs (like Adobe), many send it in base 16 as a string, some upper case some lower case, some with hyphens, some without. Then there's this cool variant by Adobe: "128-bit number that consists of 2 signed, positive, 64-bit numbers in base 10, both padded to 19 zeros, and then concat

[2017-05-22 16:07] petroav commented on #4805
Closing this since the feature got merged https://github.com/prestodb/presto/pull/8043.

[2017-05-22 16:07] #4805 closed

[2017-05-22 16:34] electrum opened #8098 "Add pushdown for Hive $path column"
The Hive connector as a hidden column `$path` (must be surrounded with double quotes in a SQL query) that returns the file system path of the current row. In certain debugging scenarios, it would be helpful if `HiveSplitSource` only generated splits that match the predicate on this column.

[2017-05-22 17:40] nezihyigitbasi commented on #8053
0.177 has been released.

[2017-05-22 17:40] #8053 closed

[2017-05-22 18:50] dain commented on #8094
Instead, why not add support for `BINARY(16)`?

[2017-05-22 19:32] maciejgrzybek commented on #5726
@ShanBai6 will take care of this.

[2017-05-22 19:56] maciejgrzybek commented on #8084
It's not flaky. It fails constantly.

[2017-05-22 20:14] findepi commented on #8084
Maybe. But even this consistent failure is flaky 😄

[2017-05-22 20:56] Downchuck commented on #8094
it can be pretty awful working with BINARY - it's available in Hive but the learning curve and maintenance for anyone using it is just too high for me to push, so we end up using hex strings.

Note UUID is a specific type supported in SQL Server, PostgreSQL and the like; there's been at least one plug-in attempt for Presto and well, it's more of a semantic and usability thing. I can use two longs,

[2017-05-22 22:02] sfilipco commented on #8016
How do you recommend that I test the fix?

I am currently trying to write a `TestCreateTableTask` suite with a test that mocks `tableHandle.isPresent()` to return `false` and `metadata.createTable` to throw `PrestoException(ALREADY_EXISTS)`.

Thanks

[2017-05-22 22:47] HiramJ opened #8106 "Add authorization support in Raptor"
# Motivation
Currently there is no authorization support in Raptor, which prevents it to be used to store sensitive data. As the grant and revoke SPIs were added to Presto, it would be nice to add authorization support in Raptor.

# Key Concepts and Requirements
We try to make the authorization adhere to the current SQL standard.

## Privileges

- SELECT

    Gives read access to an object.

- INS

[2017-05-23 05:02] chamal-sapumohotti commented on #1848
facing the same issue. running on AWS EMR with
Hive = Hive 2.1.0
Presto =  Presto 0.157.1

[2017-05-23 13:56] samelamin opened #8108 "JDBC SSL via LDAP on AWS EMR"
Hi All,

We would like to integrate AD authentication to our presto cluster hosted on AWS EMR

Is that at all possible? I heard that the current JDBC driver does not support SSL

Is that still the case?

Any ideas how I can implement this feature?

[2017-05-23 15:01] petroav opened #8109 "Optimize GROUPING by re-writing it to element_at"
As @martint correctly pointed out the `grouping` function is essentially doing a lookup based on the `groupId`. Since the `grouping` arguments and `grouping sets` are known at planning time, the outputs can be computed then, the function can be re-written to `element_at` where the first argument is an array of integers of the pre-computed results and the second argument is the `groupId`.

[2017-05-23 17:53] cawallin commented on #8108
The Teradata driver (available from www.teradata.com/presto) supports SSL, so you can use that. There's also an open PR about adding SSL support to the open source driver (https://github.com/prestodb/presto/pull/7725)

[2017-05-23 17:54] cawallin commented on #8108
I'm going to close this, feel free to ask any additional questions or re-open if it doesn't work for you.

[2017-05-23 17:54] #8108 closed

[2017-05-23 19:27] zaynoon opened #8110 "add type definition examples for all data types"
there are no examples of how to define a map type for example.

[2017-05-23 23:57] electrum opened #8115 "Consider using PrestoTransportException in SimpleHttpResponseHandler"
This will allow the remote host to be included in the execution failure info.

[2017-05-24 01:53] electrum opened #8117 "STATS keyword should be non-reserved"

[2017-05-24 04:40] wenleix opened #8118 "Add HiveConnector procedure to set a table to be offline to Presto"
Currently the only way to set a table to be offline to Presto is via Hive:

[code]

Presto should able to offline a table through Connector Procedure: https://prestodb.io/docs/current/sql/call.html

[2017-05-24 04:45] linusguan commented on #8005
Recently also found out these options in upstream repo [airlift](https://github.com/airlift/airlift/blob/master/http-client/src/main/java/io/airlift/http/client/HttpClientConfig.java#L46)

Is there a presto config property to alter this:
`private int maxRequestsQueuedPerDestination = 1024;` ?

[2017-05-24 05:03] dain commented on #8118
Really, we should be able to alter table properties.

[2017-05-24 06:02] wenleix opened #8119 "Provide file information when throwing Exceptions in GenericHiveRecordCursor"
Here:
https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/GenericHiveRecordCursor.java#L218

This helps debug and diagnose certain issues (e.g. Underlying file corrupted)

[2017-05-24 17:15] ShanBai6 opened #8120 "Mismatch when using Presto to retrieve dates just inserted using MySQL & Postgres"
MySQL support dates range from 1000-01-01 to 9999-12-31. However, when inserting the dates using native MySQL, while it works fine if directly retrieve from the MySQL, dates range from 1000-01-01 to 1582-10-14 will experience a positive shift when retrieve using Presto. For example, retrieving 1000-01-01 from Presto will give you 1000-01-06. This shift amount also varies across years, but it exhib

[2017-05-24 20:18] #8117 closed

[2017-05-24 23:29] raghavsethi commented on #7953
Merged #8022

[2017-05-24 23:29] #7953 closed

[2017-05-24 23:29] raghavsethi commented on #7945
Merged #8022

[2017-05-24 23:29] #7945 closed

[2017-05-24 23:29] raghavsethi commented on #7940
Merged #8022

[2017-05-24 23:29] #7940 closed

[2017-05-24 23:29] raghavsethi commented on #7660
Merged #8022

[2017-05-24 23:29] #7660 closed

[2017-05-24 23:30] raghavsethi commented on #7941
Merged #8022

[2017-05-24 23:30] #7941 closed

[2017-05-25 02:01] dlamblin commented on #1198
Why is there no documentation within presto's SQL doc about LIKE?
This page mentions it, but that's it. https://prestodb.io/docs/current/functions/regexp.html

[2017-05-25 02:51] electrum commented on #1198
We should document it here: https://prestodb.io/docs/current/functions/comparison.html

[2017-05-25 12:44] kokosing commented on #7161
I am closing this since pr is merged

[2017-05-25 12:44] #7161 closed

[2017-05-25 12:59] vandana7 opened #8129 "Error while accessing individual array element of a array column (complex data type) from a table"
i am  facing some problem while accessing individual array element from an array column.when i am executing query for accessing array column it gets executed and i am getting my result correct but when i am trying to access individual element of same array column i am getting an error.

schema of my table:
    Column    |       Type       | Extra | Comment
--------------+------------------+-------

[2017-05-25 18:28] anusudarsan commented on #8120
Is this a duplicate of #4321?

[2017-05-25 19:43] haozhun commented on #7981
Fixed in #7983

[2017-05-25 19:43] #7981 closed

[2017-05-25 19:45] haozhun commented on #7846
Fixed in #7869

[2017-05-25 19:45] #7846 closed

[2017-05-25 19:46] haozhun commented on #7754
It has always been varargs

[2017-05-25 19:46] #7754 closed

[2017-05-26 06:16] backingwu opened #8132 "presto-jdbc: getNString not supported"
I want to know why this feature not supported and is there a plan to supported this feature?

I use elasticsearch-jdbc to fetch data from presto,
when my SQL has more than one columns, getNString method was invoked, and this error occured.

I simply use getString to instead and it didn't working

[2017-05-26 08:28] dexchannel opened #8133 "New Parquet Reader: Error while reading struct with primitive type and complex type"
We faced problem with New Parquet Reader. When dealing with complex data in nested structures We got Exceptions:

`com.facebook.presto.spi.PrestoException: length of sub blocks differ: block 0: 2, block 1: 1
	at com.facebook.presto.hive.parquet.ParquetPageSource.getNextPage(ParquetPageSource.java:225)
	at com.facebook.presto.hive.HivePageSource.getNextPage(HivePageSource.java:204)
	at com.facebook

[2017-05-26 10:24] ebuildy opened #8135 "Operator '-' '+' cannot be applied between timestamp"
- PrestoDB 0.161
- Apache Hive with parquet files

Running this query (to sessionize web events):

[code]

Give error: ``line 1:39: '-' cannot be applied to timestamp, timestamp``.

It works fine if I use ``to_unixtime(date_timestamp)`` but wondering why is not possible between timestamp?

Thanks you,

[2017-05-26 17:18] nezihyigitbasi commented on #8133
/cc @zhenxiao

[2017-05-26 17:52] zhenxiao commented on #8133
yep, this is bug in the New Parquet Reader, I will take a look

[2017-05-26 17:55] anusudarsan commented on #4321
Tried this on the latest version (0.177) and it seems to be fixed

``presto> select cast('1582-10-14' as date);
   _col0
------------
 1582-10-14
(1 row)

presto>  select cast('1582-10-15' as date);
   _col0
------------
 1582-10-15
(1 row)`` Can we close this issue?

[2017-05-26 19:26] maciejgrzybek commented on #6737
This is duplicated by https://github.com/prestodb/presto/issues/7747. I'm closing this in favor of the other one.

[2017-05-26 19:26] #6737 closed

[2017-05-26 19:26] maciejgrzybek commented on #7747
This is a duplicate of https://github.com/prestodb/presto/issues/6737, though it's better described so I'm closing the other one.

[2017-05-26 19:33] ShanBai6 commented on #7747
I will try to take care of this.

[2017-05-27 06:54] garyelephant opened #8139 "Presto worker consumes too high non-heap memory"
Presto version: 0.176

I use slider and presto-yarn to run presto workers on yarn, but presto worker consumes too high non-heap memory in some cases, such as running sqls with a lot of `map` type file.

[code]

This makes presto worker exceeded container physics memory limit.

Is this a Presto memory leak problem?

[2017-05-28 15:04] ebyhr commented on #7741
@haozhun Would you tell me the expected result? Following is ```sum(null)``` result.

[code]

[2017-05-29 13:09] findepi opened #8142 "CLI doesn't abort query on the server when partial results already shown in pager"
## Steps to reproduce

1. in CLI execute
[code]
2. wait until initial results are already visible (but query is still running)
3. press `q` to quit pager

Now CLI prints
[code]

## Observed

- Query still running on the server.
- Query is only killed by "Failing abandoned query".
- if query is killed manually in the UI, it ends immediately, so it looks like CLI fails to deliver kill to the server

[2017-05-29 13:24] findepi opened #8143 "Memory not accounted for during right outer join"
## Steps to reproduce

1. in CLI execute
[code]
2. wait until initial results are already visible (but query is still running)

## Observed

- Query is still running (of course)
- Server JVM has increased memory usage (by ~400MB for this particular query on my particular laptop)
- Reserved Memory in Web UI shows **`0`**

This is because `HashBuilderOperator` completes (and it's memory is un-accoun

[2017-05-30 12:19] abhishekshenoy opened #8145 "Integer Multiplication Overflow on multiplying large integers"
Scenario:

On multiplying two large Integers it throws an **Multiplication Integer Overflow**

**ex: select col1 from table where col1 > 100000*1000000;**

On seeing the code i found that as the parameters are within the integer range it hits the IntegerOperator Class which for the multiply function is wrapper on top of Math Library functions.

    public static int multiplyExact(int x, int y) {

[2017-05-30 13:27] electrum commented on #8145
Raising an error on overflow is required by the SQL standard and is generally what you want, since it prevents you from silently getting an incorrect answer. Hive handles this by ignoring overflow. You can switch to a different data type by casting one of the values to BIGINT or DECIMAL.

[code]

[2017-05-30 13:27] #8145 closed

[2017-05-30 13:30] electrum commented on #8145
You can also use DOUBLE if you fine with using approximate numerics.

[2017-05-30 14:41] abhishekshenoy commented on #8145
In my case the col1 is already a bigint , the issue happens on multiplying the two integers contants. And finding out this scenario in the filter condition to apply a cast will be an unnecesary overhead while parsing the query ( i recieve the query from an upstream layer which is dumb and only role is to form query as the input ) .

[2017-05-30 15:36] gcassarini commented on #7301
Hi,
I found the same behaviour in presto version 0.170. Is it possible?

Thanks

[2017-05-30 16:34] haozhun commented on #7741
From your paste, it looks like it has been fixed. The current result is still not ideal. But I wouldn't call it a bug. Thank you for your investigation.

[2017-05-30 16:34] #7741 closed

[2017-05-30 18:25] findepi commented on #8135
cc @fiedukow

[2017-05-30 18:35] findepi commented on #8129
Could you provide steps to reproduce? I tried:

[code]
and
[code]

[2017-05-30 19:52] amrutagokhale commented on #7971
There is an open PR https://github.com/prestodb/presto/pull/5753 to add in-depth documentation for various configuration properties.

[2017-05-30 20:08] electrum commented on #8145
What is your desired outcome on overflow?

[2017-05-30 23:02] hellium01 opened #8149 "RunningQuery in SqlQueryManagerStats does not count running query correctly"
It seems like some finished queries are not correctly counted and for long running clusters, the running query metric slowly increases. Restarts will clear the value to 0 again.

[2017-05-30 23:22] ebd2 opened #8150 "Proposal to rework AbstractTestQueries/reduce reliance on product tests"
We've been having some internal discussions about reworking AbstractTestQueries with several goals:

1. Making tests run faster
2. Being able to break ATQ apart into separate classes to test e.g. basic operations like SELECT 1 + 1, aggregations, various joins, window functions, etc.
3. Folding some of the tempto tests that test basic engine functionality into an appropriate test class. For example

[2017-05-30 23:29] ebd2 commented on #8150
@martint @electrum: I think this addresses most of the issues you raised in the discussion of #6910. I've hashed this out internally with Maciej, Alan, and Christina, and wrote it up for general review. If there's agreement that this is a fundamentally sound plan, I'd like to get started on the first couple pieces while we work out details on some of the stuff further down the list.

[2017-05-30 23:32] martint opened #8151 "UNNEST of collections of row types should produce multiple columns"
According to the spec, if the type of the elements of the collection passed to UNNEST is a row type, the output of unnest should "flatten" the fields in each row.

[code]

Currently, Presto returns a single column whose type is ROW:

[code]

[2017-05-31 03:02] abhishekshenoy commented on #8145
On mathematical operations it would be fine to ignore such overflows.

[2017-05-31 06:05] #4321 closed

[2017-05-31 08:14] onealcenter opened #8152 "order by operator "Query exceeded local memory limit""
I have a table of 8 million records and it occupies about 800M memory. I execute sql "select * from tablename order by column1 desc", however presto return exception "Query exceeded local memory limit".

this is the completed exception info:
[code]

I think it is abnormal, and I am very hope to learn about the function of "reserveMemory". I deeply doubt that whether or not "reserveMemory" function

[2017-05-31 10:53] omercioglu opened #8153 "Please update joda-time dependency from 2.8.2 to 2.9.9."
Please update joda-time dependency version from 2.8.2 to 2.9.9.
Version 2.8.2 is released nearly 2 years ago (Aug 11, 2015) and contains out of date time-zone data, resulting in errors in date-time functions.

[2017-05-31 10:59] shivani147 opened #8154 "com.facebook.presto.spi.PrestoException: HIVE_CURSOR_ERROR | AVRO + Presto"
I am trying to avro data from hdfs. I have deployed the latest version of presto i.e. 0.177, but while querying the data from hive it is working and the same query is not working for presto. Error is
2017-05-31T16:17:28.968+0530	ERROR	remote-task-callback-4	com.facebook.presto.execution.StageStateMachine	Stage 20170531_104728_00003_bhypt.1 failed
com.facebook.presto.spi.PrestoException: HIVE_CURSO

[2017-05-31 14:53] maciejgrzybek commented on #8150
AD 1. Just to make it clear, such a test would not need to use Raptor, nor Hive but for simplicity it's easier to exercise existing connector and issue a query in SQL instead of extensively mocking stuff. It's just an implementation detail that we use those two connectors.
AD 3. It does not have to be `static` field but some sort of singleton.

[2017-05-31 17:21] oggy commented on #4321
Nice, thanks!

[2017-05-31 19:16] raghavsethi opened #8157 "Release notes for 0.178"
## David Phillips
- [x]  05-23 17:06:49    28a78bafc6 Update MySQL date function documentation
- [x]  05-24 10:46:17    1b97cd5521 Check table and view name conflict in Raptor
- [x]  05-24 10:48:15    4eb1f999be Preserve decompression error causes when decoding ORC files
- [x]  05-24 11:30:11    39eb17a52c Extract common code for findGroupEnd
- [x]  05-24 11:30:12    5544b47a93 Perform positional

[2017-05-31 19:30] electrum commented on #8150
First off, thanks for looking at this. I fully appreciate this problem and have spent quite a lot of time thinking about this myself.

I don't think step 3 for breaking up `AbstractTestDistributedQueries` works. We already have 3 leaf classes: `TestHiveDistributedQueries`, `TestRaptorDistributedQueries`, `TestRaptorDistributedQueriesBucketed`. Suppose we split the base class into 10 classes. Now w

[2017-05-31 20:12] Downchuck commented on #1998
This one is stinging more and more from the JDBC side - I believe this is still waiting on a new protocol update

[2017-05-31 20:39] nezihyigitbasi commented on #8157
General

- Fix various memory accounting bugs, which reduces the likelihood of full GCs/OOMs.

[2017-05-31 21:44] wenleix commented on #8157
General
- Add :func:`to_ieee754_32` and :func:`to_ieee754_64` functions.

[2017-05-31 22:17] raghavsethi commented on #8157
In-Memory Connector
- Fix creating empty tables in presto-memory

[2017-05-31 22:20] martint commented on #8157
[code]

[2017-05-31 22:29] haozhun commented on #8153
I filed an issue with joda. But I don't expect that they'll fix it. https://github.com/JodaOrg/joda-time/issues/427

I believe the best way to address this is to:
* Update to joda 2.9.4 now
* Refrain from updating joda until we update minimum java version to 8u121

[2017-06-01 04:48] hellium01 commented on #8152
Hi, onealcenter, which version are you running. It seems like the page added into orderby operator was not compacted. This should be resolved in latest versions.

[2017-06-01 05:30] shshnksxn commented on #8154
I am also facing same issue.
started with older version 0.146 and then tried with varied versions till 0.177 release. However, no luck with reading avro data from presto .

Please help !!!

[2017-06-01 06:02] onealcenter commented on #8152
my version is 172. just now,i compare 172 and 177, and i find that version 177 adds [cid:ce3b8f2f-3827-43b7-903d-9b9a74478769]
i will change main module to 177, hope to solve this question

thanks!!!
________________________________
发件人: Yi He <notifications@github.com>
发送时间: 2017年6月1日 12:48:21
收件人: prestodb/presto
抄送: YUE LI; Author
主题: Re: [prestodb/presto] order by operator "Query exceeded loca

[2017-06-01 07:43] jaehc opened #8164 "presto-jdbc : Configuring session properties not supported."
Hi, all.

As per #4074, any attempt to set session properties in a JDBC connection faces `SQLFeatureNotSupportedException` in presto-jdbc. I am just wondering whether there is any plan to support the feature or are there some reasons we could not implement this one?

Thanks you.

[2017-06-01 07:55] bdm123 commented on #7301
This has been open for awhile. Should probably be flagged as a bug by one of the guys?

[2017-06-01 10:18] chengat1314 commented on #8077
hi @raghavsethi  yeah I guess, too much infor.
I think I may found the problem. it's because of network bottleneck.
We were using m4.4 which has bandwidth limited at 2Gb/s;
When I look at the network traffic history, the bandwidth reached near 3Gb and that's when our cluster crash. After restart cluster, everything want back immediately.

My Solution was to change to the instance support better ne

[2017-06-01 15:52] raghavsethi commented on #8077
Sorry, what problem are you referring to if the network bottleneck is resolved?

[2017-06-01 16:08] raghavsethi commented on #6484
This is no longer required, since `GROUPING()` is merged.

[2017-06-01 16:08] #6484 closed

[2017-06-01 16:20] raghavsethi commented on #8154
@martint do you know somebody with Avro experience who could look at this?

[2017-06-01 16:54] nezihyigitbasi commented on #8154
There is not much info here to understand what's going on.

@shivani147 do you have a test case to reproduce this? If you can provide one I can help you with debugging.

Also when I look at the AvroSerde [source](https://github.com/apache/hive/blob/release-1.2.1/serde/src/java/org/apache/hadoop/hive/serde2/avro/AvroSerDe.java#L175-L176) there should be a warning level log message with more info, d

[2017-06-01 17:05] maciejgrzybek commented on #2458
It's not `beginner-task` anymore because as per discussion in #2463 it requires extra effort to rewrite not only literals but also effectively-constant symbols.

[2017-06-01 17:07] maciejgrzybek commented on #6681
@ArturGajowy are you working on that?

[2017-06-01 17:16] haozhun commented on #8153
After a discussion with @martint, we decide that this is not a significant enough issue for Presto. We'll just update to joda 2.9.9 with a release notes mentioning this known bug.

[2017-06-01 17:43] martint commented on #8150
Indeed. What I'd like to see (as suggested before and captured in the goals above) is feature-specific tests in separate classes (similar to how some of the planner tests work: TestReorderJoins, TestMergeWindows, etc). The goal of these tests would be to ensure the query engine (parser/analyzer/planner/execution) works as expected, and not to test any specific connector. To start with, we could mo

[2017-06-01 17:52] electrum commented on #8153
We should increase the minimum Java version if this will cause incorrect results on older versions. As we've seen many times, users often miss release notes.

[2017-06-01 17:58] martint commented on #8153
That's a bit heavy-handed. The issue affects a single timezone that is unlikely to be used by any Presto user in practice. Some users may not be able to update to the latest version of Java so easily. It's better to just document it as a known issue.

[2017-06-01 18:18] dain commented on #8154
IIRC Avro supports a bunch of methods for fetching file schema (e.g. stored in each file, stored in separate HDFS file, stored in http server, etc), and each one has different things that make integration difficult.  For someone to look at this this, they will need to know which schema style you are using and how to reproduce the problems.  For example, the Hive commands you used to create the tab

[2017-06-01 18:22] martint opened #8165 "Test failure due to correlated subquery in IN predicate"
TestRedisDistributedHash.testCorrelatedInPredicateSubqueries fails with the following error:

[code]

This seems to be a regression introduced in 98faf69c110b0f7e51b79924fa06aef9ae345a6e

[2017-06-01 18:24] anusudarsan commented on #2433
I will take this, if nobody else is working on it.

[2017-06-01 18:31] omercioglu commented on #8153
Actually joda update also includes 2 years worth of DST adjustments as
well. While operating on time series data, international timestamp
conversions deviates several hours in such cases without this update.
Other alternatives may be including the updated joda library manually or
recompiling presto with updated pom.

On Jun 1, 2017 20:59, "Martin Traverso" <notifications@github.com> wrote:

[2017-06-01 19:57] findepi commented on #8150
That sounds pretty obvious. If connector specific tests pass and feature specific tests pass too, everything should work and doesn't require further testing. Yet, there is #8165 -- feature specific test passes on many connectors, redis tests pass too, but feature specific test fails on redis. Just a thought,  maybe running abundance of connector-agnostic tests allows exercising both engine and con

[2017-06-01 20:18] wenleix opened #8167 "Investigate internal representation for JSON"
Today the JSON in Presto is simply the string representation; so query over the JSON always requires parse the string again, which is quite inefficient in some situations.

We should study how other databases represents JSON internally (e.g. PostgreSQL supports binary JSON, etc) and think if it's worthwhile to introduce some more efficient internal representation.

[2017-06-01 22:20] martint commented on #8165
I believe this is a bug in the redis connector. What seems to be happening is that the connector initially presents a set of internal columns to the engine during planning that it can't produce data for during execution. Because of the way IN predicates with correlated subqueries are currently implemented, those columns cannot be pruned from the output of the tablescan. This is what the plan looks

[2017-06-02 00:36] findepi commented on #8165
@martint actually redis connector has problem producing `redis_key` column which is not an "intrinsic" column. In our tests this is the column mapped to redis key and it's defined as hidden. I updated your comment to point that column too.

Surely we can do better.

First off, in the plan there is:
[code]
after #8168 this will be:
[code]
generally, this is an aggregation over _all_ fields that we

[2017-06-02 01:22] chengat1314 commented on #8077
@raghavsethi ,sorry for too much infor. the network bottleneck resolved by change the instances.
My question is if you know why the the network bottleneck can cause the issue described above?
Is possible the network bottleneck lead to kicking out the workers and fail the queries?
Thank!

[2017-06-02 01:30] raghavsethi commented on #8077
Yes, the network bottleneck can lead to messages being lost, which would lead to the coordinator thinking worker nodes have dropped out. If any worker node currently running splits for a query drops out, the query will fail.

[2017-06-02 01:30] #8077 closed

[2017-06-02 01:47] chengat1314 commented on #8077
ok, I see thanks @raghavsethi

[2017-06-02 04:49] shivani147 commented on #8154
@nezihyigitbasi @dain
Here are the details, This is how I have created  the hive table
CREATE EXTERNAL TABLE `a_1089`(
  `m1` string COMMENT '',
  `m2` string COMMENT '',
  `m3` string COMMENT '',
  `m4` string COMMENT '',
  `m5` string COMMENT '')
PARTITIONED BY (
  `year` int,
  `month` int,
  `day` int,
  `hour` int)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.serde2.avro.AvroSerDe'
STORED AS IN

[2017-06-02 05:09] wenleix commented on #8167
In PostgreSQL there is `JSON` and `JSONB` (https://www.postgresql.org/docs/current/static/datatype-json.html) .
"The json data type stores an exact copy of the input text" (including semantically-insignificant white space, etc)

[2017-06-02 06:04] Vijay2win commented on #7856
Update the patch, removed the need to clone the readers, instead introduced SubColumnBlock abstraction to handle special column iterations (specially null parent column)

[2017-06-02 07:27] findepi opened #8171 "Avoid unnecessary exchange and partial aggregation in correlated scalar subquery and correlated IN predicate"
For a correlated scalar subquery like
[code]

we currently produce the following plan (i'm using `set session push_aggregation_through_join = false;` to have the plan more readable)
[code]

the part marked has redundant local exchange and partial aggregation. Since the aggregation's group contains unique symbol assigned before join then, at least as long the aggregation remains above the join, no

[2017-06-02 07:39] kokosing commented on #8171
IMO this kind of optimization well fits into the new optimizer idea (cost-based) where plan with unique symbol would have physical property (aka. trait) which would say that values are split locally unique (there are no duplicate in any other split) and so cost-based optimizer would not add any local exchanges and partial aggregation there.

[2017-06-02 13:40] ebyhr commented on #4170
I think this is a duplicate of #5152

[2017-06-02 15:15] #8165 closed

[2017-06-02 18:27] KBP-TDC commented on #8171
@kokosing The traits are crucial here. No cost-based decision is made however.

[2017-06-02 18:45] haozhun commented on #8157
* Fix an issue where a query does not get cleaned up on the coordinator after query failure.

[2017-06-02 18:54] electrum commented on #8157
[code]

[2017-06-02 20:38] kokosing commented on #8171
True!

02.06.2017 20:28 "Kamil Bajda-Pawlikowski" <notifications@github.com>
napisał(a):

@kokosing <https://github.com/kokosing> The traits are crucial here. No
cost-based decision is made however.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/prestodb/presto/issues/8171#issuecomment-305873852>,
or mute
the thread
<https:

[2017-06-02 22:18] jessesleeping commented on #7946
Will it be helpful if we have an `InternalResourceGroupStats` class that exposes metrics like queued time and execution time? The implementation will be similar to the `SqlQueryManagerStats` while parent resource group should also summarize stats in its children.

[2017-06-02 22:49] highker commented on #7798
Assigned to @caithagoras

[2017-06-02 22:53] highker commented on #8027
Assigned to @caithagoras for now

[2017-06-02 23:15] haozhun commented on #6550
In order to fix this, `TimeZoneKey.checkArgument` needs to be changed to throw a subclass of `IllegalArgumentException`. All Presto functions that may hit this need to catch it and throw a PrestoException with proper error code (which could be different for different functions).

[2017-06-02 23:25] haozhun commented on #5709
I closed #6959 which attempts to fix this issue by retry. We need Kerberos experts to investigate and understand this issue. We want to understand the overall problem. Unless we conclude that retry is the only feasible way to fix this after investigation, we would prefer a different approach.

[2017-06-03 20:24] findepi commented on #6223
Fixed by 8b8a34bdba

[2017-06-03 20:24] #6223 closed

[2017-06-03 23:04] prabhu1984 commented on #7721
Thanks @dain!

Does presto support other custom storage handlers? I'm trying to query Elastic Search External Hive table through presto and getting the same error.

[code]

presto:default>

Please advice.

Thanks
Prabhu

[2017-06-03 23:55] wenleix opened #8175 "Rewrite and Optimize JSON to ARRAY/MAP/ROW Cast"
Today the implementation for JSON to ARRAY/MAP/ROW Cast always write the value into a single-valued block builder and read it back (https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/type/TypeJsonUtils.java#L181), which is quite inefficient.

We can either use Bytecode Generation or based on the Polymorphic Appender (e.g. LongAppender, VarcharAppender) to

[2017-06-05 01:11] wenleix commented on #1976
Just noted `LISTAGG` is included in SQL:2016, 10.9, belongs to `ordered set function` . (Really not sure why it's this name... :(. And the ORDER BY syntax is also a bit different from `ARRAY_AGG`):

[code]

As described in 4.16.4:
[code]

The ORACLE one seems to be conforming to the SQL:2016: https://docs.oracle.com/cd/E11882_01/server.112/e41084/functions089.htm#SQLRF30030

[2017-06-05 01:13] wenleix commented on #1976
Look like the `<within group specification>` in `LISTAGG` is mandatory -- there must be some ondering for `LISTAGG` :(

[2017-06-05 16:53] rschlussel opened #8180 "Intermittent Cassandra test failure testKeyspaceNameAmbiguity"
The test fails with the following error:

[code]

[2017-06-05 19:50] smith-m opened #8183 "Hive connector cannot read all DecimalTypes from Parquet with Predicate"
Error is returned when hive connector is used to select some parquet decimal types when using a query predicate.

For example, where the column "msrp" is decimal(18,0) or decimal(18,2)
"select msrp from product" returns a result.

"select msrp from product where company_id = 1" returns this error:

![image](https://cloud.githubusercontent.com/assets/23284218/26799931/420f9810-49ec-11e7-800c-d2096a

[2017-06-05 19:53] highker commented on #7835
assigned to @caithagoras

[2017-06-05 19:57] nezihyigitbasi commented on #8183
@smith-m Seems like you have an idea about the fix, can you please open a PR?

[2017-06-05 21:22] dain commented on #7721
Presto does not support any Hive StorageHandlers.

-dain

[2017-06-05 22:37] elonazoulay opened #8188 "Make the resource group configuration manager event based"
Change the behavior of the resource group configuration manager to be event based instead of polling the database.
Add a reload procedure that will reload the configuration based on updated db or json file (for file based resource group configuration manager).

[2017-06-05 22:39] elonazoulay opened #8189 "Add system tables to show resource group configuration"
Add system tables to show information about how resource groups are configured:
1) resource_group_specs: current resource group specs and associated properties
2) parent_child: parent child relationships of resource group specs
3) configured_groups: configured groups and their current properties, can be many for one resource group spec (i.e. if ${USER} and ${SOURCE} syntax are used).

[2017-06-05 22:41] nezihyigitbasi commented on #8188
#6483 sounds related.

[2017-06-05 22:48] elonazoulay opened #8190 "Add weighted fifo resource group scheduling policy"
Add a scheduling policy which executes highest priority queries from highest priority subgroups.

In a multi-tenant environment this is helpful so that queries with a high sla can be guaranteed resources ahead of lower priority queries.

This differs from the QUERY_PRIORITY policy because only users with access to the higher priority subgroups can submit high priority queries.

This policy would n

[2017-06-06 00:23] martint opened #8194 "Planning failure for ORDER BY...LIMIT with similar expressions"
[code]

[code]

[2017-06-06 02:13] electrum commented on #8189
Can you write out the full schemas? I'm not very familiar with resource groups so I'd like to make sure I understand the proposal.

[2017-06-06 02:16] electrum commented on #8188
What's wrong with polling? MySQL doesn't provide any event system, so we'd have to rely on manual notifying after updating the database, and that seems less robust / more error prone. It's especially bad if you have multiple Presto clusters reading the same data.

[2017-06-06 04:58] kokosing commented on #8194
I will give it a shoot.

[2017-06-06 07:54] zdeneksejcek opened #8199 "User Session properties inside JDBC connector (or any custom connector)"
Hi, trying to find out how to get current user set in session inside my customized JDBC connector. I am about to use new sqlserver connector, but need to adjust it to send current user from session.

Is there an easy way?
Thanks.

[2017-06-06 11:04] vandana7 commented on #8129
Thanks for the reply, I tried with hive connector and its working fine. I think it's an issue with my custom connector.

[2017-06-06 11:04] #8129 closed

[2017-06-06 12:26] #7971 closed

[2017-06-06 13:43] JonNorman opened #8200 "Broaden the join types that can be used with UNNEST."
_This is the first time I've raised an issue in this repo, please let me know if this should be raised elsewhere / stated differently / other pre-requirements._

**TL;DR: When using UNNEST, joins other than CROSS JOIN should be available to limit the rows being returned.**

When expanding an array (using [`UNNEST and CROSS JOIN`](https://prestodb.io/docs/current/sql/select.html#id1)), it is often

[2017-06-06 17:23] raghavsethi commented on #8157
Release completed.

[2017-06-06 17:23] #8157 closed

[2017-06-06 18:07] findepi commented on #2342
@kadaan, the repository doesn't contain source files with \r\n. If your git client creates such line endings upon checkout, it's a matter of your git client's configuration. Did you set `core.autocrlf`?

[2017-06-06 20:33] highker opened #8203 "Implement map_merge_agg"
As discussed, this is an aggregation function taking a column of map type as input and produces a single map wrt lambda specification. The lambda function defines how maps should be merged by key.

The syntax is similar to https://github.com/prestodb/presto/issues/7814

The following example should return `{'a':5, 'b':7, 'c':3, 'd':6}`
[code]
The reason we are not using `reduce_agg` in https://git

[2017-06-06 20:45] #7922 closed

[2017-06-06 21:15] HiramJ opened #8204 "Show grants does not honor given schema name"
Currently the show grants just ignores the schema name, if there are multiple tables under different schemas with the same name, it will show all the privileges for all of them which is quite annoying.

Below is an example:

[code]

[2017-06-06 23:42] ebd2 commented on #8150
I talked to @electrum offline about this last week, and did a little hacking to see how many tests in ATQ are completely independent of any connector functionality (i.e., select from values, select 1 + 1, etc). It's a hair under 200. I did this by altering the TPCH connector to throw UnsupportedOperationException in getTableHandle, etc.

Those could be moved out of ATQ today into, for the sake of

[2017-06-07 01:20] martint opened #8207 "Planning failure when using GROUPING and legacy_order_by=true"
[code]

[2017-06-07 02:14] smith-m commented on #8183
@nezihyigitbasi I created a PR here that I believe addresses the issue

https://github.com/prestodb/presto/pull/8208

[2017-06-07 05:37] jaehc commented on #8199
@zdeneksejcek
Hi, I have the exact same problem as yours. I opened an issue #8164 about this. Have you found out some?

[2017-06-07 06:36] zdeneksejcek commented on #8199
No solution yet, I tried to investigate though code and no success. I am now as proficient in reading Presto source code as I would like to be, so there might be simple solution, but I don't see it.

1) First thing to find out is whether current user is even distributed across nodes.
2) Other issue I have is that I don't know a lifecycle of specific components (Driver, Client etc.). I need to have

[2017-06-07 07:21] findepi commented on #8207
cc @petroav

[2017-06-07 07:23] GrigorievNick commented on #4017
I have case like this
select
(select username from cassandra.raw.players_by_brand as players where brand='brand_name' and players.bucket = buckets.bIndex)
from unnest(sequence(1, 5)) AS buckets (bIndex) limit 10;
It push me same exception.
Will this be fixed too?

[2017-06-07 07:29] kokosing commented on #4017
Yes. Your case seems to be a great example to use LATERAL join which is also in flight. I would rewrite your query to something like:

[code]

[2017-06-07 15:22] sudarsanm94 commented on #7523
configuration:

#
# WARNING
# ^^^^^^^
# This configuration file is for development only and should NOT be used be
# used in production. For example configuration, see the Presto documentation.
#

-server
-Xmx2G
-XX:+UseG1GC
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+CMSClassUnloadingEnabled
-XX:+AggressiveOpts
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:Reser

[2017-06-07 16:26] #8207 closed

[2017-06-08 05:30] jaehc commented on #8164
Let's close this one and follow #8199.

[2017-06-08 05:30] #8164 closed

[2017-06-08 15:18] Marfusios commented on #7428
Hello,
is there any progress?

[2017-06-08 15:45] KBP-TDC commented on #7428
Yes, @maciejgrzybek and @arhimondr are well advanced in this effort.

[2017-06-08 15:49] findepi commented on #8194
Closing, #8196 is merged.

[2017-06-08 15:49] #8194 closed

[2017-06-08 17:02] #4562 closed

[2017-06-08 17:14] nezihyigitbasi commented on #7103
We had a chat with the EMR people to understand how Hive/Spark is able to read encrypted files when the `x-amz-unencrypted-content-length` is not set. The outcome is, EMR Hive/Spark reads the entire file in those cases to determine the unencrypted content length, which is something that we don't really want to do.

For now the workaround is to fix/rewrite the files on S3 with the proper metadata h

[2017-06-08 17:14] #7103 closed

[2017-06-08 17:14] nezihyigitbasi commented on #7186
We had a chat with the EMR people to understand how Hive/Spark is able to read encrypted files when the `x-amz-unencrypted-content-length` is not set. The outcome is, EMR Hive/Spark reads the entire file in those cases to determine the unencrypted content length, which is something that we don't really want to do.

For now the workaround is to fix/rewrite the files on S3 with the proper metadata h

[2017-06-08 17:14] #7186 closed

[2017-06-08 20:19] haozhun opened #8221 "Make TRY a syntactic sugar using lambda"
Due to the requirement in lazy evaluation of expression in TRY, it is handled specially in a bunch cases. Now that we have lambda, such special handling is no longer necessary if we rewrite try using lambda.

* This allows us to remove a bunch code in expression compiler dedicated to handle TRY.
* This removes the constraint that try cannot be used inside lambda.

[2017-06-09 19:11] #8080 closed

[2017-06-09 19:22] akshatnair commented on #6863
Can you share your hive connector config values?

[2017-06-09 20:28] electrum commented on #8027
We can update the commit message: "Categorize error for too many vararg function arguments"

[2017-06-09 20:28] #8027 closed

[2017-06-09 20:29] #7835 closed

[2017-06-09 21:42] elonazoulay opened #8229 "Refactor DbResourceGroupsConfigurationManager unit tests"
Refactor the DbResourceGroupsConfigurationManager unit tests to be like other plugins.
This will make it easier to add more unit tests, including those in upcoming pr's.

Move testing utility methods to a single place so they can be reused.

[2017-06-09 21:53] puneethpotu opened #8230 "Issue setting LDAP authentication using JDBC for EMR presto"
HI, I was able to setup Successfully setup LDAP authentication for webUI following the presto LDAP documentation.
I also installed JDBC driver on my mac and connecting to presto EMR server to run SQL from SQL workbench.
URL I am using to connect is ```jdbc:presto://hostname:8889/hive```.

After the LDAP is set up, i am still able to connect to presto without passing credentials. How can I restrict

[2017-06-09 22:15] haozhun commented on #8153
Fixed by 8156.

[2017-06-09 22:15] #8153 closed

[2017-06-09 22:27] afilipchik opened #8232 "Presto doesn't respect x-forwarded-proto header"
In our environment presto is deployed behind proxy which terminates SSL. So, clients connecting to proxy via HTTPS and proxy is connecting to Presto via http. Because of the protocol change proxy attaches  "X-Forwarded-Proto: https" header to the request.

However, when request hits com.facebook.presto.server.StatementResource X-Forwarded-Proto information is lost. It results in the urls with a wr

[2017-06-09 22:33] haozhun opened #8233 "Mixed usage of Joda and j.u.time leads to incorrect result"
In Presto 0.178 (or earlier) running Java 8u101 (or later), we get

[code]

This bug is mitigated by commit 12188921904004d969423e2181930773f731c851. However, the root cause persists.

The cause is that Presto uses both joda and java.util.time. Therefore, when tzdata version mismatches, the result can be completely wrong (with respect to any tzdata version).

As joda and java upgrades independentl

[2017-06-09 22:53] akshatnair commented on #7837
@ArturGajowy are you working on this as well?

[2017-06-10 20:20] #8143 closed

[2017-06-11 07:09] ebyhr commented on #6981
I think this is resolved by 538d90bb6455af3c4bdc632fc8391d55ff876760.

Following is the error message with latest build.
[code]

[2017-06-12 08:26] findepi commented on #8230
Hi @puneethpotu,

Unfortunately I don't know the answer. However, questions like this one are better served by the user group -- https://groups.google.com/group/presto-users

[2017-06-12 08:26] #8230 closed

[2017-06-12 08:34] findepi commented on #8233
Shall we rename the issue to "Combined usage of Joda Time and Java Time leads to repeated problems due to time zone database discrepancies" ?

Perhaps it would be worth noting, why using java time exclusively is not a considered option.

[2017-06-12 15:36] yaxxie opened #8243 "Issue with parquet type annotations being ignored"
I have a parquet file with the following schema (in hive catalogue):

[code]

and I placed the following schema on top of it:

[code]

If I query it like so

[code]

the query runs successfully. But If I try to filter by `fieldc` or fieldd`, I see the following error:

```java.sql.SQLException: Query failed : Error opening Hive split s3a://some_path/00001.parquet : Mismatched Domain types: tinyint

[2017-06-12 17:50] elonazoulay commented on #8229
These changes build on the recently added TestQueryRunnerUtil but are specifically for the DbResourceGroupsConfigurationManager.

[2017-06-12 18:02] haozhun commented on #8233
@dain did a bunch of investigation a long time ago on java.util.time performance. The primary problem is that java.util.time doesn't work with `utcMillis` (as `long`) directly. It is required that one provide an actual object, which has year/month/day/hour/... fields eagerly populated. This introduces both cpu/gc issues.

@dain can give you more context on this matter.

[2017-06-12 19:24] elonazoulay commented on #8189
# Resource Group Spec system table
1. resource_group_template_id VARCHAR

[2017-06-12 19:25] rohanarora0921 commented on #3057
@sumanth232 Are you still working on this? Any progress?

[2017-06-12 19:32] elonazoulay commented on #8189
# Configured Resource Groups system table
Mapping between all resource group ids and their associated resource group templated id.
This is a one to many relationship between resource group template id and resource group id.

**Table**: `configured_groups`

Column name | Type
resource_group_templated_id | VARCHAR
resource_group_id | VARCHAR

[2017-06-12 19:35] elonazoulay commented on #8189
# Parent Child system table
Contains a one to many mapping of parent and child resource group template ids.
**Table**: `resource_group_parent_child`

Column name | Type
------------- | ---------
parent_template_id | VARCHAR
child_template_id | VARCHAR

[2017-06-12 19:37] elonazoulay commented on #8189
# Selectors system table
Contains information about the currently loaded selectors.
**Table**: `selectors`

Column name | Type
------------- | ---------
resource_group_id | VARCHAR
user_regex | VARCHAR
source_regex | VARCHAR

[2017-06-12 19:38] elonazoulay commented on #8189
# Resource Groups Global Properties system table
Contains name value pairs for all resource group global properties.
Currently there is only a single property `cpu_quota_period`.
**Table**: `resource_groups_global_properties`

Column name | Type
------------- | ---------
name | VARCHAR
value | VARCHAR

[2017-06-12 19:40] elonazoulay commented on #8189
@electrum Thanks for looking at this! Let me know what you think.

[2017-06-12 21:54] elonazoulay opened #8245 "Change the names of resource group scheduling policies"
The scheduling policy names should more accurately describe their behavior.
* `WEIGHTED` should be renamed to `STOCHASTIC` since both subgroup and query queue use the StochasticPriorityQueue (a random number based on the weight of the subgroup or thread local random for the query queue)
* `FIFO` should be renamed to `ROUND_ROBIN` since it is round robin for subgroups and fifo within a query queue

[2017-06-13 00:25] elonazoulay commented on #8189
This information will be useful to verify that the cluster and database are in sync. Also the configured groups table will be the only place an admin can see that information.

[2017-06-13 10:44] majk-p opened #8250 "Column name resolution issue"
I've found following issue regarding column name resolution when switching from version 0.158 to 0.178.
Using version 0.158 this query:

Worked fine. Using v 0.178 I've got:

It seems to be a problem with `ExpressionAnalyzer` that has changed over those versions.

Stacktrace for this query:

[2017-06-13 11:15] kokosing commented on #8250
@sopel39 is this related with ORDER BY?

[2017-06-13 11:24] findepi commented on #8250
Repro steps:

[code]

[2017-06-13 11:29] majk-p commented on #8250
Additionally, there seems to be related problem with aliasing. Following queries fail with `column ... cannot be resolved`:

    SELECT catalog.schema.table."column" as "abc" FROM catalog.schema.table GROUP BY "abc" ORDER BY catalog.schema.table."column" ASC;
    SELECT catalog.schema.table."column" as "abc" FROM catalog.schema.table GROUP BY catalog.schema.table."column" ORDER BY "abc" ASC;

And

[2017-06-13 11:41] findepi commented on #8250
@majk-p , yup. Investigating.

[2017-06-13 12:12] majk-p commented on #8250
Additional finding. Only mixing both fully qualified name and alias breaks the query. Using number in any combination breaks nothing. Following queries work:

    SELECT catalog.schema.table."column" as "abc" FROM catalog.schema.table GROUP BY "abc" ORDER BY 1 ASC;
    SELECT catalog.schema.table."column" as "abc" FROM catalog.schema.table GROUP BY catalog.schema.table."column" ORDER BY "abc" ASC;

[2017-06-13 12:45] findepi commented on #8250
git-bisected this to 5d45fd80e4451c0853f7212b7adfb1e3b8efdcaf

[2017-06-13 15:02] dain opened #8254 "NPE "Value cannot be cast to map(varchar,varchar)""
[code]

[2017-06-13 17:18] haozhun opened #8255 "VALUES clause with CAST(ROW(...) AS ROW(...))` fails analysis"
This query will fail analysis. It should not. It should produce a single row with one column of type `bigint`. (Note: The type is not `row(x bigint)` as one might think.)

[code]

Error message and stacktrace (with my annotation of where the problem is):

[code]

You'll notice in the function marked above that an improper coercion is somehow added to the analysis. This is where the incorrect annot

[2017-06-13 17:19] haozhun commented on #8255
cc @martint. Can you check if my understanding for the expected behavior of this query is correct.

cc @rongrong for reporting this issue.

[2017-06-13 17:19] electrum commented on #7635
This will be fixed in the next release.

[2017-06-13 17:19] #7635 closed

[2017-06-13 17:29] wenleix commented on #8254
A simple query to reproduce the issue:

This is an existing issue with `TypeJsonUtils`, in https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/type/TypeJsonUtils.java#L134 , `parser.getValueAsString()` will return `null` when the next input to the parser is a JSON Array/Object.

[code]

[2017-06-13 17:48] wenleix commented on #8254
The cast is expected to fail when it tries to cast an JSON array/object to VARCHAR. And it is wrapped PrestoException with Error Code INVALID_CAST_ARGUMENT.

Just the stacktrace  is quite vague (Null Pointer Exception ).

We are going to rewrite the legacy JSON -> ARRAY/MAP CAST in https://github.com/prestodb/presto/pull/8217. So hopefully it will produce more useful information :)

[2017-06-13 17:48] #8254 closed

[2017-06-13 18:38] elonazoulay commented on #8189
All of these system tables would go into a schema called "resource_groups" so as not to pollute the system schema with too many tables.

[2017-06-13 21:22] cawallin commented on #8084
This test (when run on dwrf) causes one of the following two errors quite consistently:
[code]

and

[code]

[2017-06-13 22:46] Downchuck opened #8257 "Hive bucket execution results in too few workers"
The setting of hive.bucket_execution_enable=true appears to restrict workers based on the number of buckets, without accounting for the number of partitions as part of splits.

So if I have one bucket, but several dozen partitions, I'm still stuck using a single worker. Is this the expected behavior? It appears to throw things off, out of the box, for the corner case of "PARTITIONED BY (A,B) CLUST

[2017-06-13 23:38] haozhun opened #8258 "Add a `@GET` method to `/v1/memory` endpoint"
Right now, in order to find out memory allocation (to queries) on a worker, we have to do:
[code]

We should have a GET method on `/v1/memory` to simplify this.

[2017-06-14 00:52] raghavsethi opened #8260 "Queries are accepted when the server is starting up and can only see a few workers"
Accepting queries when only a few workers are 'available' can cause query runtimes to balloon, or even worse, cause massive skew in memory allocations and cause the small number of workers to go into reserved state.

Some solutions, in order of desirability:
- The coordinator can reject queries that come in if the number of workers is less than a configurable minimum (maybe hash partition count)
-

[2017-06-14 03:05] dain opened #8261 "Release notes for 0.179"
## Dain Sundstrom
- [x]  06-10 13:00:13    71c49fd39c Fix maxUsedSpaceThreshold variable name
- [x]  06-10 13:15:13    2f5de9607a Rename Driver.isBlocked to getBlockedFuture
- [x]  06-10 13:15:13    39add90f19 Fix race-condition in Driver checking memory overuse
- [x]  06-10 13:20:00    12eab0d667 Fail LookupOuterOperator's future when getOuterPositionIterator() fails
- [x]  06-10 13:20:00    fadc

[2017-06-14 03:44] raghavsethi commented on #8261
[code]

[2017-06-14 03:47] dain commented on #8260
Maybe just add a "min-worker-nodes" property.

[2017-06-14 04:28] rongrong commented on #8261
I'm not sure whether this needs to be in the release note, but others definitely don't.
[code]

[2017-06-14 04:32] wenleix commented on #8261
General

* Fix excessive GC overhead caused by captured lambda expressions.

[2017-06-14 04:32] martint commented on #8255
If I recall correctly, this:

[code]

is equivalent to:

[code]

[2017-06-14 04:45] hellium01 commented on #8261
* Update timezone rule to match joda version 2.9.9

[2017-06-14 04:58] dain opened #8262 "Incorrect results when processing filter+project over dictionary encoded data"
When processing dictionary encoded data, the query may mix values from filtered-out rows into the query output. This happens under a very specific set of circumstances and we believe this is very rare.

Specifically, all of the following conditions must be met to potentially see this problem:

* input column must be dictionary encoded (currently only DWRF varchar)
* projection expression must use

[2017-06-14 05:03] dain commented on #8261
[code]

[2017-06-14 05:04] dain commented on #8261
@hellium01 can we reference the timezone rules version number instead of Joda?

[2017-06-14 05:04] #8262 closed

[2017-06-14 05:21] martint commented on #8261
[code]

[2017-06-14 06:11] highker commented on #8261
* Add ``REPEAT`` function to repeat an element for multiple times
* Reduce memory usage for map/array aggregation functions

[2017-06-14 06:26] faisal00813 commented on #2863
Any update about the fix?

[2017-06-14 13:36] findepi opened #8264 "It should be possible to disable spilling cluster-wide"
Currently there is a feature toggle `[experimental.]spill-enabled`, but setting it to `false` doesn't prevent spilling. This ie because the toggle servers as a default for session property `spill_enabled`. Having cluster-wide default is good and must-have. However, since spilling affects local resources (disk usage), it should be possible to disable it globally, without erasing it configuration (e

[2017-06-14 13:37] findepi commented on #6432
@ilfrin is this issue to be closed then?

[2017-06-14 14:37] kokosing opened #8265 "Unify planing of CROSS JOIN UNNEST and LATERAL"
From https://github.com/prestodb/presto/pull/8218/commits/714069254e23b339fc2f82cc9183e85568708f15#r121742503

CC: @martint

[2017-06-14 14:40] kokosing commented on #8265
Does it mean we should plan CROSS JOIN UNNEST as `Lateral` node, and then rewrite this `Lateral` to proper `Join` node?

[2017-06-14 17:10] nezihyigitbasi commented on #8261
General Changes
---------------
* Fix a memory leak on the coordinator that manifests itself with canceled queries.

Hive Changes
---------------
* Fail queries that access encrypted S3 objects that do not have their unencrypted content length set in their metadata.

[2017-06-14 17:25] electrum commented on #8261
[code]

[2017-06-14 17:46] haozhun commented on #8261
General Changes

[code]

[2017-06-14 19:13] cawallin opened #8268 "Intermittent failure in TestQueues.testTooManyQueries()"
[code]

[2017-06-14 23:42] haozhun commented on #8255
It appears like SQL spec agrees with you, @martint. But I'm not confident about it.

[code]

* The declared type of a `<table row value expression>` is the declared type of the immediately contained `<row value special case>` or `<row value constructor>`.
* The declared type of a `<row value special case>` shall be a row type.
* If a `<row value constructor>` is a `<common value expression>` or a

[2017-06-14 23:46] martint commented on #8261
Released

[2017-06-14 23:46] #8261 closed

[2017-06-14 23:49] martint commented on #8255
Yeah, this covers what I was referring to:

[2017-06-15 00:05] nezihyigitbasi opened #8272 "TestPrestoDriver::testQueryTimeout is flaky"
Travis job: https://travis-ci.org/prestodb/presto/jobs/242085085
[code]

[2017-06-15 00:07] nezihyigitbasi commented on #8272
/cc @caithagoras

[2017-06-15 00:17] Downchuck commented on #8199
Could this make it into the connection string? Not the best situation but gets me out of some difficulties.

[2017-06-15 00:46] dain commented on #8199
There is no way to get the session user and there are no plans to expose that to connectors.  The reason for this is Presto supports views which impersonate users, and we don't connectors to make decissions based on the session user.  If you add a connector access control implementation, we will pass the current user (after any impersonation) the connector.

[2017-06-15 00:48] wenleix opened #8274 "Query with lambda function on Group By fails"
Query

[code]

fails with the following message:

[code]

Group by ordinal columns works:
[code]

[2017-06-15 06:43] electrum commented on #8189
This looks reasonable overall, though we should eliminate the one-to-many tables. Those are better expressed as a foreign-key-to-parent in the child tables. It both prevents a join and makes it clear that there is exactly one parent.

[2017-06-15 06:44] electrum commented on #8189
How do global properties work? Is that something which will be well-known? If so, we should just make that a normal column.

[2017-06-15 17:24] #7523 closed

[2017-06-15 17:29] sudarsanm94 commented on #7523
The issue I faced was due to a bug in the test.

[2017-06-15 18:39] cawallin commented on #8084
@martint It seems like updating the Java version helped a little in the frequency of the JVM crashes, but the dwrf tests are still failing in ~50% of the builds (mainly because of the Hadoop write error from above -- which I bet is masking a different issue, since all of the other file formats are fine resource wise). We don't have the resources to look into it further right now, what are your tho

[2017-06-15 19:05] elonazoulay commented on #8189
@electrum - Currently global properties only contains 1 property. Added as a column to the resource group specs table (above).

[2017-06-15 19:11] elonazoulay commented on #8189
Updated the configured resource group table to have primary key be the resource group id and 1 to 1 mapping to resource group template id.
This table gives the ability to see currently configured resource groups.

[2017-06-15 19:20] leolorenzoluis opened #8278 "PrestoDB throws No nodes available to run query"
Presto is misleading with the information that is shown. I had three connectors working properly fine such as PostgreSQL, MySQL, and Oracle. I wanted to do a benchmark test using tcph, so I started using that. A quick search on google led me to this site:

http://facebook.github.io/blog.prestodb.io/presto/tpch/screencast/2014/02/13/presto-on-aws-tpch.html

I tried to query sf1000 which ran out of

[2017-06-15 23:16] elonazoulay opened #8279 "Expose resource group configuration in spi"
In order to implement system tables to expose resource group information (https://github.com/prestodb/presto/issues/8189) the interfaces inside the plugin need to be moved to the spi:

- ManagerSpec
- ResourceGroupSpec
- SelectorSpec
- ResourceGroupIdTemplate
- ResourceGroupNameTemplate

The above classes need to become interfaces and their implementations will be in the resource group managers pl

[2017-06-15 23:17] dain commented on #8084
Were you able to get a `hs_err_pid*` file?

[2017-06-16 10:18] findepi commented on #8278
I understand you got initially misled by a screencast from 2014 pointing you towards deprecated settings, but you finally found your way out. I am happy about it.
If you think there still is a bug causing presto to reject queries ("No nodes available to run query" or something), please provide some steps to reproduce.

[2017-06-16 10:18] #8278 closed

[2017-06-16 13:54] cawallin commented on #8084
It doesn't fail locally, we should be able to get that file after this PR is merged: https://github.com/prestodb/presto/pull/8270

[2017-06-16 13:54] electrum commented on #8278
Removing "datasources" is on our long list of things to do. For now it's auto configured. I'll see if we can add a warning or error if you explicitly configure it.

[2017-06-16 17:30] drdee commented on #7947
@zhenxiao @nezihyigitbasi -- do you have a status update regarding fixing support of complex type null handling in the new parquet reader?

[2017-06-16 17:38] raghavsethi opened #8282 "Should have outputRows/outputBytes and writtenRows/writtenBytes in query statistics"
This will help identify queries that are transferring a lot of data to the client and also queries that put write load on the storage system.

[2017-06-16 18:50] findepi commented on #8084
I retriggered #8270's travis PR job with hope it fails this time. (I run all configurations, not just product tests, in case failure is related to load and load is related to number of running configurations).

[2017-06-16 19:01] findepi commented on #8084
@cawallin, i also pushed `findepi/save-jvm-error-log-{1,2,3}` to TD/presto (in case PR job doesn't fail or log saving doesn't work for PR jobs).

[2017-06-16 19:03] cawallin commented on #8084
Thanks! I also realized that we need to update the Java version in the docker images too, I'm in the process of building new ones.

[2017-06-16 19:23] elonazoulay commented on #8279
After discussing it was found that there is no need to expose this information in the spi - the system tables will be part of the connector.

[2017-06-16 19:23] #8279 closed

[2017-06-16 19:31] elonazoulay commented on #8189
These tables will be put into a connector associated with the resource groups plugin.

[2017-06-16 21:39] haozhun commented on #8255
Conclusion after discussion with @martint:

This query should produce a single column whose type is `row(x bigint)` because it falls into `<common value expression>`.
[code]

This query should produce a single column whose type is `bigint` because it falls into `<nonparenthesized value expression primary>`.
[code]

[2017-06-16 22:39] rongrong commented on #8255
So we should fix this?

[2017-06-17 03:36] wenleix opened #8286 "Optimize CAST(JSON_PARSE(...) AS ...) pattern"
Today, the evaluation of the following expression
[code]

Will do the following:
- `JSON_PARSE` will parse the JSON and write it into another string with `SORTED_MAPPER`: https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/operator/scalar/JsonFunctions.java#L103
- The `CAST` will re-parse the string.

This is inefficient especially for ARRAY/MAP. Benchmark

[2017-06-17 03:38] wenleix commented on #8274
Duplicate of https://github.com/prestodb/presto/issues/7140

[2017-06-17 03:38] #8274 closed

[2017-06-17 05:45] howfree opened #8287 "Does MongoDB Connector support Predicate Pushdown for TIMESTAMP?"
I tried the two ways, but got the same input.
1) select count(id) from mongodb.kryods.trade
where cast(biz_date as timestamp) > to_timestamp('2017-05-01','yyyy-mm-dd') and shop_identy = 810007516
**Explain**:
ScanFilterProject[table = mongodb:kryods.trade, originalConstraint = ((CAST("biz_date" AS timestamp) > "$literal$timestamp"(1493568000000)) AND ("shop_identy" = BIGINT '810007516')), filterPr

[2017-06-17 05:57] electrum commented on #8287
Push down doesn't work (for any connector) if there is a function or other expression surrounding the column. It needs to be a direct predicate:

biz_date >= ...

[2017-06-17 06:17] howfree commented on #8287
@electrum
I removed "cast " operator and changed it into the following,but they still have the same input.
1) select count(id) from mongodb.kryods.trade where biz_date > timestamp '2017-05-01 UTC' and shop_identy = 810007516
 Explain: Cost: 100.00%, Input: 2774 rows (726B), Output: 570 rows (5.01kB), Filtered: 79.45%
2) select count(id) from mongodb.kryods.trade where biz_date > timestamp '2017-05

[2017-06-18 20:56] losipiuk commented on #8255
@haozhun parens do not match in your first example.
I guess it should be
[code]
But I did not follow the discussion

[2017-06-18 22:20] dabaitu opened #8290 "ParquetCompressionUtil doesn't handle LZOP"
@zhenxiao - who probably has the most context.
It looks like ParquetCompressionUtil is used by the optimized ParquetReader and used to read dictionary page when predicate push down is turned on.
When I turn on either of those session settings, we get the following exception
`2017-05-31T23:48:45.957Z	ERROR	remote-task-callback-20	com.facebook.presto.execution.StageStateMachine	Stage 20170531_234845

[2017-06-19 03:28] zhenxiao commented on #8290
Hi Tom,

I think due to license issues, LZO jar is not released with Presto. Usually, I will work around it by adding the following LZO jar into Presto Hadoop connector path:
http://www.oberhumer.com/opensource/lzo/download/

Yes, we could try adding aircompressor support for LZO.

[2017-06-19 06:46] findepi opened #8291 "Update Guava to 22.0"
- [ ] Update Guava in airbase
- [ ] Fix calls to `HostAndPort.getHostText` (removed method) - #8288
- [ ] Update/fix accumulo as it also uses Guava and also calls `HostAndPort.getHostText`. E.g. `TestAccumuloClient` doesn't work on https://github.com/Teradata/presto/tree/findepi/guava-22, but instead of erroring out, it hangs (error gets swallowed somehow and accumulo bootstrap thinks there is no

[2017-06-19 10:14] aliwumi opened #8293 "SqlBaseLexer not found"
class "com.facebook.presto.sql.parser.DelimiterLexer" parent class SqlBaseLexer can not found in tag 0.179

[2017-06-19 11:37] aliwumi commented on #8293
`mvn clean install -pl presto-parser`
`mvn clean install -pl presto-teradata-functions`
copy generated-sources to src/main/java

[2017-06-19 11:37] #8293 closed

[2017-06-19 16:00] dabaitu commented on #8290
@zhenxiao but in the case of using the optimized reader or reading the Parquet dictionary when predicate push down is enabled, copying the LZO jar to Hadoop connector path won't help, right? In those cases, we are using the aircompressor lzo decompression which right now doesn't handle lzop.

[2017-06-19 18:03] dain commented on #8290
Aircompressor does handle LZOP (https://github.com/airlift/aircompressor/blob/master/src/main/java/io/airlift/compress/lzo/LzopCodec.java#L33).  If it is not working correctly, please file an issue with that project.

[2017-06-19 18:46] dabaitu commented on #8290
@dain right, that works with the ParquetRecordReader. The issue here is that there's another ParquetReader(ParquetPageReader) that doesn't use the LZO and LZOP codecs from aircompressor, and fails when reading LZOP files.
The right change is probably still here in Presto, to have the PageReader use the codecs from aircompressor.

[2017-06-19 18:54] zhenxiao commented on #8290
@dabaitu you are correct, yes, the problem is in ParquetPageReader does not handle LZOP using Aircompressor. Could file a ticket adding that support in ParquetPageReader

[2017-06-19 21:23] leolorenzoluis opened #8300 "Access control file is not registered"
Following the documentation from https://prestodb.io/docs/current/security/built-in-system-access-control.html

When starting the server/nodes, I get the following error:

[code]

I also double check that the access control file name is correct in the config files, and the actual implementation.
https://github.com/prestodb/presto/blob/b13ea37b0bebcb0445aab57934c2c62a143cff62/presto-main/src/main/j

[2017-06-19 21:33] electrum opened #8301 "Add verifier option to skip dropping temporary tables"
It would be useful to keep the temporary tables around when the checksums do not match, allowing further manual comparison without having to re-run both queries.

[2017-06-20 00:08] amrutagokhale commented on #8300
The error that you see can be encountered when the value of the `access-control.name` is something else than `file`. Can you verify that this value is nothing else but `file`? For example, if there is a character such as a space at the end of the word `file` (which can be easily overlooked), then this will result in the above error.

[2017-06-20 01:46] rongrong commented on #8301
Currently the teardown phase of query verification is run in a finally block

[2017-06-20 09:18] haitaoyao commented on #7338
I think `simple` queries are like `create view test_view as select * from target_table where col1 = XXX and col2=b`
* only equals included
* one or more columns in where clause

[2017-06-20 09:41] findepi opened #8304 "When aggregation spills, unspilling should allocate memory from operator's context"
Currently the unspilling declares memory allocation in system context (`com.facebook.presto.operator.aggregation.builder.SpillableHashAggregationBuilder#mergeFromDisk`, `com.facebook.presto.operator.aggregation.builder.SpillableHashAggregationBuilder#mergeFromDiskAndMemory` contain `operatorContext.getSystemMemoryContext().newAggregatedMemoryContext()`).

Instead, it should allocate in "normal" me

[2017-06-20 09:44] pd04152129 opened #8305 "Insert DateTime into MySQL"
I have MySQL table where one of column having datatype **DateTime**. Using presto I want to insert DateTime inside this column. But I am getting following error when I am executing query. I can't change dattype of my column.

Query:
insert into mysql.myschema.datetest values cast (current_date as timestamp);

Error:
Query 20170616_04392  failed: Data truncation: Incorrect datetime value: '14975514

[2017-06-21 00:02] breckinridge22 opened #8308 "Presto Build Failure - zip file is empty"
I am trying to build presto on my local machine to run it using an IDE. But when I run a mvn clean install it fails to build the final project: prestobenchto-benchmarks. Here is the error:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:2.10:analyze-only (default) on project presto-benchto-benchmarks: Cannot analyze dependencies: zip file is empty ->

Could use som

[2017-06-21 00:09] haozhun commented on #8308
This is likely corruption in ~/.m2/respository

Delete the said dependency (that failed to be analyzed) from your local maven cache, and retry.

I recommend that you also update your maven to the latest release.

[2017-06-21 00:09] #8308 closed

[2017-06-21 08:57] losipiuk opened #8313 "Add JMX statistics concerning memory revoking"
Currently Presto does not expose any runtime statistics related to memory revoking mechanism.
Having those would be helpful for monitoring and diagnosing problems on production.

We need to work out actual list of stats to be added but it could contain:
* counter for scheduled revoking requests
* counter for how much memory revoking was requested

This issue will be relevant as soon as #7895 is me

[2017-06-21 16:17] ebyhr opened #8315 "Support more types for Cassandra INSERT"
Currently, Cassandra connector cannot insert following data types.
[code]

I'm trying to resolve this by following steps.
1. Add variable `List<CassandraType> cassandraTypes` in `CassandraRecordSink` to get target table column definitions in the constructor.

2. Modify `CassandraRecordSink#append*()` like this.
[code]
Before this change, it just returns `append(value);`.

I read datastax's `TypeCo

[2017-06-21 16:41] breckinridge22 commented on #8308
The dependency doesnt exist in the .m2/repository so i cant delete it.. do you have any other suggestion

[2017-06-21 16:58] martint opened #8316 "Number of splits for intermediate stages in CLI shows incorrect values"
There two related problems:
1) the number of running intermediate splits goes up and down throughout the execution of the query. This causes the progress bar to move forward and backward, since the chevron section of the bar depends on how many splits are running at a given point in time.
2) in cases where most leaf splits are done and the query is waiting on stragglers, intermediate stages show "

[2017-06-21 17:05] breckinridge22 opened #8317 "Presto Build Fail - zip file empty"
I cloned presto from git and am trying to run a mvn clean install to build it. It failed on this error:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:2.10:analyze-only (default) on project presto-benchto-benchmarks: Cannot analyze dependencies: zip file is empty -> [Help 1]

I was told to delete the project from my maven cache but the presto-benchto-benchmarks de

[2017-06-21 17:30] nezihyigitbasi opened #8318 "Add LZOP support to the new Parquet reader"
See issue #8290.

#5107 is the PR that I added the LZO support to Parquet. Since aircompressor already handles LZOP it shouldn't be that difficult to add it in a similar way.

[2017-06-21 17:30] nezihyigitbasi commented on #8290
created a followup issue #8318, so closing this one.

[2017-06-21 17:30] #8290 closed

[2017-06-21 18:10] martint commented on #8316
It also appears to happen for leaf splits.

[2017-06-21 18:54] Yaliang commented on #2508
Hey, @zhenxiao. Is there any update on this issue?

[2017-06-21 18:57] zhenxiao commented on #2508
The 2 PRs are still pending for review. Uber has been running these in production for ~ 1 year. It is stable. You are welcome to apply these patches to your Presto

[2017-06-21 19:31] cawallin commented on #8315
Either of those seems fine, whichever turns out cleaner.

[2017-06-21 19:48] petroav commented on #8308
@breckinridge22 you should be using the maven wrapper script included in the Presto repo. So the command should be `./mvnw clean install -DskipTests`.

[2017-06-22 00:33] haozhun opened #8323 "`TRY(MAP(ARRAY[NULL], ARRAY[x]))` fails"
The query below fails

    SELECT
      TRY(MAP(ARRAY[NULL], ARRAY[x]))
    FROM
      (VALUES 1, 2) t(x);

with error stack trace

    java.lang.IllegalStateException: Expected current entry to be closed but was opened
            at com.facebook.presto.spi.block.MapBlockBuilder.beginBlockEntry(MapBlockBuilder.java:152)
            at com.facebook.presto.spi.block.MapBlockBuilder.beginBlockEntry(

[2017-06-22 02:09] wenleix commented on #8007
Resolved by https://github.com/prestodb/presto/pull/8091

[2017-06-22 02:09] #8007 closed

[2017-06-22 02:09] wenleix commented on #7935
Resolved by https://github.com/prestodb/presto/issues/8031

[2017-06-22 02:09] #7935 closed

[2017-06-22 09:16] ebyhr commented on #8315
Thanks for your comment. I will try both.

[2017-06-22 13:58] ashwinhs opened #8328 "Presto "Explain broken"
Explain plan given errors when

[2017-06-22 14:06] ashwinhs opened #8329 "Explain (plan printing) fails for a Hive table partitioned by timestmp or date"
Explain <select * from table> gives errors for a table partitoned by timestamp.

[code]
This is the stack i get when i run explain
[code]

This looks like its happening for a "timestamp" or "date" partitioned table. I tried on a table without partitioning table and another table with "string" partitioning and both worked fine without issues. Note: The tables are Hive tables, stored as ORC accessed

[2017-06-22 14:07] #8328 closed

[2017-06-22 14:07] ashwinhs commented on #8328
Duplicate

[2017-06-22 15:43] subashram commented on #8154
one work around is to use avro.schema.literal and embed schema as part of create external table.

[2017-06-22 16:58] dain opened #8331 "Fix error handling of RLE block projection and filter"
[code]

[2017-06-22 18:53] findepi commented on #8317
Instead of `mvn clean install` try `./mvnw clean install`, this will use correct maven version automatically.

I'll close this issue (such temporary problems are better served by the user group), but you can comment here if you still have problems.

[2017-06-22 18:53] #8317 closed

[2017-06-22 19:22] cawallin commented on #8084
PR to update the docker image version of Java: https://github.com/prestodb/presto/pull/8334

[2017-06-22 20:37] martint opened #8337 "Add hidden $partition column to Hive connector"
It can help for computing or filtering the raw partition names that are provided by other Hive-related tools. E.g., ` ds=2017-05-23/type=abc/ts=2017-05-23+21%3A45%3A99`.

It should support pushdown for partition pruning.

[2017-06-22 21:00] dabaitu commented on #8318
Quick question as I tried to work on this a bit myself. What was the reason you used the LzoDecompressor from aircompressor but not the LzoCodec?
FYI, I tried to use LzopCodec from aircompressor, but it didn't work. See: [convo with Dain in aircompressor](https://github.com/airlift/aircompressor/commit/4b18723cb19fac56804698a85a450f8d30e8fdf3#commitcomment-22632224).
The optimized reader you guys

[2017-06-22 21:08] leolorenzoluis commented on #8300
Yes I verified and nothing else is there but file.

[2017-06-22 22:18] nod commented on #8005
Any update on this?  We are seeing the same issue on presto on emr.

[2017-06-22 22:39] linusguan commented on #8005
@nod We upped the size of our emr master instance size so a query can be processed faster thus the connection pool won't fill up. It's a workaround.

[2017-06-22 22:47] nod commented on #8005
@linusguan mind sharing what size you're on?  I know it won't be apples to apples but it's an interesting datapoint.

[2017-06-22 22:50] linusguan commented on #8005
@nod Our load is extremely high and we ended up using m4.10xlarge :P It's probably is a pretty unique use case.

[2017-06-22 22:55] nezihyigitbasi opened #8341 "Query fails with newMemoryReservation is negative"
[code]

[2017-06-22 22:55] nezihyigitbasi commented on #8341
I don't have a minimal example to repro this unfortunately.

[2017-06-22 22:58] nezihyigitbasi commented on #8341
`SELECT cardinality(array_distinct(flatten(array_agg(x)))) FROM T WHERE ds = '<ds>';`

[2017-06-22 23:24] nezihyigitbasi commented on #8318
When you use `LzoCodec` it uses `HadoopLzoInputStream`, which uses `LzoDecompressor` anyway under the hood. `LzoCodec` is a Hadoop codec and in this case we don't need a Hadoop codec.

Yes, it's the new reader. `ParquetHiveRecordCursor` is the old reader.

[2017-06-22 23:57] dabaitu commented on #8318
Right, I thought if you used the LzoCodec directly you won't need to write the surrounding code to call LzoDecompressor byte by byte.
So I guess the codecs in aircompressor aren't used at all in Presto.

[2017-06-23 01:46] dain commented on #8318
@dabaitu can you try https://github.com/airlift/aircompressor/pull/67

[2017-06-23 04:53] toyama-h commented on #8011
My company has also encountered this problem....

[2017-06-23 05:05] nezihyigitbasi commented on #8341
This bug was reported on v 0.179. It turns out that there is an integer overflow [here](https://github.com/prestodb/presto/blob/0.179/presto-spi/src/main/java/com/facebook/presto/spi/block/ArrayBlockBuilder.java#L104). The good thing is this will be fixed in 0.180 as a result of #8124.

[2017-06-23 05:05] #8341 closed

[2017-06-23 06:28] geetikagupta16 opened #8348 "!= operator is not working correctly in presto for decimal values"
I connected hive with presto and query a table containing decimal values. In  case of != operator it's showing me all the rows of the table.

Below are the create table and load queries for hive:

`create table decimalOperatorCheck(name String, ids decimal(10,2))ROW FORMAT DELIMITED FIELDS TERMINATED BY ',';`

Load data:
`load data local inpath '/home/hduser/Files/decimaldata.csv' into table decim

[2017-06-23 07:33] sopel39 commented on #8348
It seems like a bug, thanks for reporting

[2017-06-23 11:43] dabansal opened #8351 "where clause in custom connector"
Hi All,

I have written a custom connector which calls a REST endpoint as data source. How can I access the  information passed in where clause of the SQL query ? Is there an object which can give me this information so that I can further pass this information to REST endpoint so I get filtered results.

Thanks,
Dheeraj

[2017-06-23 15:27] ashwinhs opened #8352 "parse_datetime returning incorrect result"
When we try to run parse_datetime on a custom date, it always returns month as "01" instead of the month passed to the function.

[code]

[code]

[2017-06-23 18:22] nezihyigitbasi commented on #8352
I think your date format is incorrect. You need day of month (dd) instead of day of year (DD).

[code]

[code]

[2017-06-23 19:05] dain commented on #8352
@ashwinhs the format descriptor is defined here: http://joda-time.sourceforge.net/apidocs/org/joda/time/format/DateTimeFormat.html

[2017-06-23 19:05] #8352 closed

[2017-06-23 19:27] samdjohnson commented on #8011
Me too

[2017-06-23 20:07] findepi opened #8356 "When running tests, log4j-logged output gets lost"
When a library uses `log4j` for logging (e.g. Accumulo's `org.apache.accumulo.core.client.impl.ServerClient`), whatever it logs gets lost, at least in tests.

Repro steps I used

1.  attempt #8291 = bump Guava to 22
2.  run `TestAccumuloClient`
3.  set breakpoint in `org.apache.accumulo.core.client.impl.ServerClient` on `log.warn("There are no tablet servers: check that zookeeper and accumulo are

[2017-06-23 20:48] madelinebriere opened #8357 "Issues launching Presto on EC2 Instance"
I am trying to install Presto on an EC2 instance and have followed exactly the configurations from the docs (https://prestodb.io/docs/current/installation/deployment.html). I entered the discovery URI as http://[public IP]:8080, but it seems to be having trouble recognizing this URI.

The Presto server is not launched when I run the command: "sudo bin/launcher run." It is throwing a PrestoServer e

[2017-06-23 21:02] KBP-TDC commented on #8348
@geetikagupta16 What version of Presto are you running?

[2017-06-23 21:11] nezihyigitbasi commented on #8357
Somehow the JMX agent cannot start. According to the source of `sun.management.Agent`, which gets called from `JmxAgent`, there should be more info printed to stderr on error (see line 506 of [sun.management.Agent](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/8u40-b25/sun/management/Agent.java)). Can you check your logs for these error messages?

[2017-06-23 21:45] madelinebriere commented on #8357
This leads me to believe the discovery URI is wrong, but I have tried every possible format and gotten the same error!

[code]

[2017-06-23 22:05] nezihyigitbasi commented on #8357
There is an old [thread](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=8&ved=0ahUKEwjN9vP5-9TUAhVP9WMKHf4CAWkQFghQMAc&url=https%3A%2F%2Fgroups.google.com%2Fd%2Ftopic%2Fpresto-users%2F20luSlZIXzg&usg=AFQjCNFcHUIOtd57a9JrGO9vEkBDce9Uiw&cad=rja) in users group, please take a look. This looks like an address resolution issue on EC2.

[2017-06-23 22:58] electrum commented on #8011
I believe this is due to Presto updating the version of the PostgreSQL JDBC driver that we ship. Does anyone know the most recent version of the driver that is compatible for Redshift? We could revert to that version or have a separate Redshift connector that uses the last-working version.

We were previously using version `9.3-1102-jdbc41` of the driver, but that version is rather old, so it woul

[2017-06-23 23:01] electrum opened #8358 "Release notes for 0.180"
## Aleksei Statkevich
- [x]   dbf9fbbe59    Add Thrift Connector testing server
- [x]   eec5e28d2a    Add Thrift Connector
- [x]   4fe87f45e0    Preserve javadoc and ordering for Swift classes
## Christina Wallin
- [x]   c7b899fbf6    Update Travis Java version
- [x]   fad2c88fef    Support INSERT for Cassandra connector
- [x]   f75ec7345b    Support non-equality predicates pushdown for Cassandra

[2017-06-23 23:06] AlekseiS commented on #8358
Add a `Thrift Connector`. The new connector makes it possible to use Presto with external systems without the need to implement a custom connector. See readme for `presto-thrift-connector` project for more details.

[2017-06-23 23:31] rentaow commented on #7672
We're getting similar error exception for EXPLAIN on a table with timestamp column/partition:

presto> EXPLAIN SELECT * FROM default.partition_date;
Query 20170622_204802_00006_ddfst failed: index (1) must be less than size (1)
java.lang.IndexOutOfBoundsException: index (1) must be less than size (1)
	at com.google.common.base.Preconditions.checkElementIndex(Preconditions.java:1177)

[2017-06-24 00:43] nezihyigitbasi commented on #8358
Fix reading short decimals in the new Parquet reader.

[2017-06-24 00:46] highker commented on #8358
- Fix memory counting bugs for min_by and max_by on complex types

[2017-06-24 05:29] wenleix commented on #8221
@haozhun : Do you mean to rewrite `TRY(expr)` into something like `()->expr`?

[2017-06-24 07:25] geetikagupta16 commented on #8348
@KBP-TDC I am using presto-server-0.170

[2017-06-24 16:52] mbrandow commented on #8203
shouldn't b return 7 here

[2017-06-24 16:56] highker commented on #8203
my fault; fixed

[2017-06-24 19:28] martint opened #8360 "Add support for LEFT/RIGHT/INNER lateral joins"
It should be possible to write queries like:

[code]

[code]

[2017-06-24 21:45] michaelcullum opened #8361 "presto-cli lack of support for http authentication"
As a simpler way of adding authentication we have nginx sitting on the presto server which passes requests, does failover and handles http authentication; presto itself is fine with this, the only issues are with the Presto CLI client where it will ignore any http authentication credentials in the defined server.

e.g.
[code]

The other issue that might come up (un-tested) will be that if it follo

[2017-06-24 22:00] kokosing commented on #8360
What do you mean by RIGHT LATERAL? Can you explain its semantic?

24.06.2017 21:28 "Martin Traverso" <notifications@github.com> napisał(a):

[2017-06-24 22:08] martint commented on #8360
Think of lateral as just producing a table on the fly for the row to be joined. In the case of RIGHT JOIN, the condition is evaluated, and if it doesn't match, each row on the right side are output with nulls for the columns on the left side. Similar rules apply for other types of joins. Just standard semantics, nothing magical.

[2017-06-24 22:13] martint commented on #8360
Also, to be precise, LEFT LATERAL or RIGHT LATERAL are not special constructs. They are just other types of "table primaries" ( "collection derived tables" and "lateral derived tables") that can appear in a join clause, just like a table reference or subquery can.

[2017-06-24 22:29] electrum commented on #8361
We intentionally dont allow specifying a password in the URL as it's easy for other processes to see the command line.

You can use --password to prompt for one or set the PRESTO_PASSWORD environment variable. User comes from --user.

[2017-06-24 22:30] electrum commented on #8361
Note that we also require HTTPS for basic auth, but it looks like you already have that.

[2017-06-24 22:36] electrum commented on #8361
We also just merged support for using an HTTP proxy (in addition to SOCKS) for the CLI and JDBC. Though it doesn't support specifying authentication, you need to use

-Dhttp.proxyUser=xxx
-Dhttp.proxyPassword=yyy

This may be a better option for you.

[2017-06-24 22:55] michaelcullum commented on #8361
@electrum I attempted to use the `--password` option but it would hang on queries (until i manually aborted, output in debug mode below)
[code]

With regards to the new arguments which PR was that? I can't see it and have just attempted locally and am getting unexpected argument errors so I'm guessing that it was merged before the most recent release?

[2017-06-25 00:00] electrum commented on #8361
The HTTP proxy support was just merged and will be in 0.180

[2017-06-25 01:19] wenleix commented on #7140
The reason is the TranslationMap fails to recognize the lambda expression in https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/TranslationMap.java#L119, because the `node` is

[code]

while the one in `expressionToSymbol` is

[code]

There seems to be some inconsistent behavior in rewriting expression.

[2017-06-25 01:45] jgticketscript2 commented on #8011
Thanks electrum, looking forward to hearing Amazon's response.

[2017-06-25 14:39] kc14 commented on #6158
We are using PDI/Kettle/Spoon ... it would be very nice to have prepared statements in the presto jdbc driver, because otherwise spoon cannot get the metadata for the result set of an SQL statement, ie. it cannot explore and show, which fields and types the SQL statement will return ... it does this by preparing the SQL statement and then asking for DESCRIBE OUTPUT of the query ... so it would kno

[2017-06-25 20:18] kokosing commented on #8358
- Introduce initial support for (CROSS) LATERAL JOIN,

[2017-06-25 20:42] kokosing commented on #8351
Where predicate is passed as `Constraint` in method `com.facebook.presto.spi.connector.ConnectorMetadata#getTableLayouts`

[2017-06-25 20:42] #8351 closed

[2017-06-26 07:07] losipiuk commented on #8348
Actually this is not strictly decimal related. It is implication of two facts:
 * numeric literals with dot (e.g `12345.56`) are interpreted in Presto as literals of type `DOUBLE`
 * if there is comparison of values of `DECIMAL` and `DOUBLE`  type the comparison is happening in `DOUBLE` domain (the decimal value is first cast to `DOUBLE`).

So the query
[code]

is effectively executing as:

[code]

[2017-06-26 07:54] icanfly opened #8364 "kafka plugin failed in some cases"
hi，I have met a problem (may be a bug) in presto-kafka module.

I checkout the master code, compile , and run it .

My testcase is:

1. Sending some messages (json string as message format and Long number as key) to kafka topic: presto_test. source code like blew:

[code]

   message key: random long number
   message body: json string (contains two field, each field typed int number also)

2. Con

[2017-06-26 13:52] cawallin commented on #8358
[code]

[2017-06-26 14:01] losipiuk commented on #8358
* Skip unknown costs in EXPLAIN output

[2017-06-26 16:41] alison985 opened #8367 "Add re:dash to Presto Clients on Resources page"
https://github.com/getredash/redash supports Presto.

[2017-06-26 17:10] dabaitu commented on #8318
Hi @dain, am on travel. Just tried this. Still getting the same error:
`com.facebook.presto.spi.PrestoException: Error reading dictionary page
	at com.facebook.presto.hive.parquet.ParquetPageSource.getNextPage(ParquetPageSource.java:225)
	at com.facebook.presto.hive.HivePageSource.getNextPage(HivePageSource.java:204)
	at com.facebook.presto.operator.TableScanOperator.getOutput(TableScanOperator.ja

[2017-06-26 17:33] egalych opened #8368 "Access control checks for SHOW SCHEMAS and SHOW TABLES are not implemented in Hive connector"
Methods: filterSchemas, filterTables, checkCanShowSchemas, checkCanShowTables introduced in 0.167 in SqlStandardAccessControl are not implemented

[2017-06-26 17:43] madelinebriere commented on #8357
Sorry for the late reply. I have reviewed this page already and found that the fixes didn't work for me. I have reviewed the JmxModule and it seems like the JmxAgent may not be properly instantiated. I previously used Homebrew to install Presto (when working on my Mac with localhost 8080) and didn't run into these problems, so I'm wondering if I may be missing a step in deploying Presto (I am manu

[2017-06-26 17:46] haozhun commented on #8358
[code]

[2017-06-26 17:48] petroav commented on #8357
@madelinebriere I've seen this before and I believe it had to do with Amazon's inability to resolve internal hostnames properly. Make sure that backward and forward resolution work with whatever hostname you're using. The `nslookup` and `hostname` utilities should come in handy for this.

[2017-06-26 17:49] madelinebriere commented on #8357
I will give that a try, thank you @petroav.

[2017-06-26 17:58] dain commented on #8318
I don't know much about Parquet, but you're still getting `Caused by: java.io.IOException: Not an LZOP file`.  This is the first line of the decompressor where we check the stream header to determine if this is LZOP format or not.  My guess is either Paquet is not using LZOP and instead is using LZO with Hadoop framing.

[2017-06-26 18:06] nezihyigitbasi commented on #8318
@dabaitu Can you decompress your file with the lzop [utility](https://www.lzop.org/)? That will rule out the first possibility.

[2017-06-26 18:11] nezihyigitbasi commented on #8318
BTW please provide more info about how this file is written (by Presto, or some other engine, etc.)?

[2017-06-26 18:19] martint commented on #8348
@losipiuk, there's something else going on here. That number should be representable as an exact double and the comparison should succeed. For instance, this works as expected:

[code]

It might be an issue in the file format reader in the Hive connector.

[2017-06-26 18:29] dain commented on #8358
[code]

[2017-06-26 19:04] martint commented on #8358
It'd be more accurate to say "support for CROSS JOIN against LATERAL derived tables".

[2017-06-26 19:16] sopel39 commented on #8348
The conversion is other way around, e.g: decimal column is converted to double, not double to decimal.

[2017-06-26 19:37] martint commented on #8348
I know. That was just a way to force a decimal(10,2), that when compared to a double should implicitly cast to a double.

The same result happens with the more explicit shape:

[code]

[2017-06-26 21:36] losipiuk commented on #8348
Yeah. You are right @martint.
It seems like this query triggers a bug in `DomainTranslator`. I guess somewhere around determining `TupleDomain` for comparison of types involving coercions using `saturated_floor_cast`.

The original constraint from query is translated to `ids is NOT NULL`.

Here is the line from explain output:
[code]