[2020-04-25 09:29] gcnote commented on #14206
I have the same problem with presto db version 0.232,
how to fix this?

[2020-04-25 20:03] HY-Stars commented on #14029
Can this be implemented as the code has already existed for this #2770 Implement JDBC PreparedStatement.getMetaData.

[2020-04-25 22:06] ankit0811 commented on #14423
I am a n00b here and would like to take a stab on this task

Have a couple of questions

1. what should the function return for `qdigest` created by the following values`(1.0, 1.0, 1.0, 4)` and the `X=1.0`? should it return 0 or the 75 as the percentile value? or should we create multiple functions `quantile_at_value_upperbound`, `quantile_at_value_lowerbound` ?

2. I was skimming through the code

[2020-04-26 02:19] mqiang opened #14440 "druid query out of memory"
@zhenxiao I meet a new issue, if a druid table is very large, when i exec 'select * from table', it will be out of memory when convert http response to String.

detail exception:
java.lang.OutOfMemoryError: input is too large to fit in a byte array
	at com.google.common.io.ByteStreams.toByteArrayInternal(ByteStreams.java:195)
	at com.google.common.io.ByteStreams.toByteArray(ByteStreams.java:221)

[2020-04-26 07:24] HY-Stars opened #14442 "Implement JDBC PreparedStatement.getMetaData"
Please implement PreparedStatement for getMetaData which has already been implemented here - https://github.com/prestosql/presto/pull/2770

[2020-04-27 09:25] Myvar commented on #5918
My GitHub username is Myvar so its very funny that i randomly got mentioned in on some random  project's issue, this happens why to often. :)

[2020-04-27 09:30] talgalili commented on #5918
LOL

On Mon, Apr 27, 2020, 12:25 Emile Badenhorst <notifications@github.com>
wrote:

[2020-04-27 23:00] zhenxiao commented on #14440
this is with pushdown, right? @mqiang
is not pushdown "select *" working fine?

[2020-04-27 23:09] funston opened #14447 "ElasticSearch (7.x) and Presto 0.230 version incompat: Received message from unsupported version: [6.0.0] minimal compatible version is: [6.8.0]"
Is there a supported version/config of the latest Presto connectors with ElasticSearch?

This is with port: 9300

[2020-04-27T16:04:34,874][WARN ][o.e.t.TcpTransport       ] [bonzer.local] exception caught on transport layer [Netty4TcpChannel{localAddress=/127.0.0.1:9300, remoteAddress=/127.0.0.1:62735}], closing connection
java.lang.IllegalStateException: Received message from unsupported version

[2020-04-27 23:33] funston commented on #12668
unclear how this works, i keep getting this version mismatch with ES 7.1 and 0.234 presto. which version of ES are you using?

"Received message from unsupported version: [6.0.0] minimal compatible version is: [6.8.0]"

[2020-04-28 00:13] yingsu00 opened #14448 "Optimize memory usage for repartitioning when the distribution type is REPLICATED"
The PartitionedOutputOperator always populates each partition no matter if it's REPLICATED or PARTITIONED. This is not necessary when it's REPLICATED repartitioning. In such case, we only need to populate one partition so that the memory usage can be dramatically reduced.

[2020-04-28 00:14] yingsu00 commented on #14448
cc @prestodb/aria @biswapesh

[2020-04-28 02:15] minhnguyenvan95 commented on #12668
try to upgrade your es driver in presto category config

[2020-04-28 02:28] mqiang commented on #14440
I think that's two issues.
1. 'select *' is still not pushdown.
2.In my test case, I changed pushdown variable to true. If a druid table is not big, there is no problem; but if this table is very big, it will be out of memory when handling http response stream to string .
I find it not read response stream by page, so oom. I try to solve this issues, please help to review it. https://github.com/pr

[2020-04-28 10:38] Kamal-presto commented on #10393
Hello @mnoumanshahzad,

I am having similar requirement for my project need and wondering if you got some solution to this problem? Any pointers will be greatly appreciated.

[2020-04-28 16:17] benrifkind opened #14453 "Hive S3 connector slow to rename s3 directories"
I am trying to create a table via a query like
[code]
The temp database points to the s3-key: bucket/prefix/

The query runs quickly and writes the data to the temporary s3 key
[code]
There are 15 worker and so we end up with 15 files of around 4-5 GiBs in that directory.

My issue arises in the next step when presto is moving the files from this tmp directory to the actual s3 directory (`s3://buc

[2020-04-29 09:22] wsjz opened #14459 "no any data when query table with hive storageHandler"
after "outputFormat should not be accessed from a null StorageFormat"，when I try to query myql table  with hive storageHandler, there is no any data to present. like this:
![image](https://user-images.githubusercontent.com/18522955/80580162-b3a82200-8a3d-11ea-903c-779f5b5af294.png)
and I can see the metadata:
![image](https://user-images.githubusercontent.com/18522955/80580337-f833bd80-8a3d-11ea-8

[2020-04-30 03:23] dengbp commented on #14304
i Encountered the same problem，how can fix it?  I add the appropriate class libraries to the lib folder.but The error still exists

[2020-04-30 04:47] #10468 closed

[2020-04-30 04:47] #10473 closed

[2020-04-30 04:47] #10474 closed

[2020-04-30 04:47] #3826 closed

[2020-04-30 06:35] #14440 closed

[2020-04-30 09:57] mchades opened #14462 "Bug with outputting single quote"
when I want to use backslash to output single quote by function `regexp_replace` ,the result is:
[code]

but when use double quote
[code]

without backslash:
[code]

how dose presto lexer work？Is this a bug?

[2020-04-30 21:38] #14333 closed

[2020-05-01 14:13] #14433 closed

[2020-05-02 06:07] #10449 closed

[2020-05-02 08:26] bhhari opened #14469 "Integer overflow exception when creating a BigIntValue Filter"
For an "IN" expression like `IN(Long.MIN_VALUE, 1, 10)`, since the max - min falls in out of range of int we will not be able to use BigintValuesUsingBitmask as the number of bits is max - min + 1.
The check for an valid integer was incomplete where we are not checking if its less than the Integer.MIN_VALUE which can happen because of long wrap around

[code]

[2020-05-02 08:29] bhhari commented on #14469
#14468

[2020-05-03 08:15] bhhari opened #14470 "Length of the field blocks differ in Structs field resulting in a java.lang.IllegalArgumentException"
[code]

[2020-05-04 04:41] #10516 closed

[2020-05-04 12:08] mbasmanova commented on #14469
@bhhari Would you include a stacktrace?

[2020-05-04 12:09] mbasmanova commented on #14469
CC: @prestodb/aria

[2020-05-04 12:11] mbasmanova commented on #14469
@bhhari Perhaps, add a TPC-H repro.

[2020-05-05 00:31] mbasmanova opened #14478 "Severe performance regression due to memory allocation tracking"
https://github.com/prestodb/presto/commit/a64e5d876f4d87df63f33e7a39665834cc6c67d3 (part or 0.234 release) introduced 2-3x performance regression due to ThreadMXBean::getThreadAllocatedBytes() being very slow: https://bugs.openjdk.java.net/browse/JDK-8207266

CC: @viczhang861 @prestodb/aria @aweisberg

[2020-05-05 01:19] RugratsJ commented on #9703
@tooptoop4, do we have a similar generic JDBC connector for PrestoDB since internal functions are different for prestosql and prestodb.

[2020-05-05 01:22] RugratsJ commented on #14278
@tooptoop4, there are so much difference between internal prestodb and prestosql, including the base-jdbc class, port it from prestosql into prestodb will take a lot of time. Is it possible that we could create a similar one in prestodb?

[2020-05-05 02:33] viczhang861 commented on #14478
Let's change the default value to false as a temporary solution.

[2020-05-05 09:28] sanchez8 opened #14480 "ava.lang.UnsupportedOperationException on average aggregation at scale"
I am having the following exception:

[code]
When performing an avg aggregation on groups at large scale.

My presto cluster settings are:
- presto version 0.219
- spill enabled (query scale is too big to hold easily in memory)
- prefer_partial_aggregation = false (as partial aggregations do not support spill)

The query run follows this pattern ( I had to obfuscate names it since there is parts I

[2020-05-05 13:39] #14470 closed

[2020-05-05 13:47] Cooward opened #14481 "com.facebook.presto.spi.PrestoException: This connector does not support inserts"
当我执行insert语句出现了下面的错误，我不知到怎么解决
![92a6ee9dcb2d0220bdfdaa52d4c8e14](https://user-images.githubusercontent.com/18521034/81073254-f4120f00-8f19-11ea-9a94-f27fc03d3e68.png)

[2020-05-05 14:34] aweisberg commented on #14478
Given the severity I think we need to do something about the 0.234 release so that people who download it aren't impacted. Can we re-release 0.234 with this option disabled? @caithagoras

[2020-05-05 19:11] #14469 closed

[2020-05-05 19:52] caithagoras commented on #14478
@mbasmanova @aweisberg Sure. Let's cherry-pick the fix.

[2020-05-05 22:05] ArvinZheng opened #14484 "Hive bucket pattern is not identical with Hive implementation"
Current regex [pattern](https://github.com/prestosql/presto/blob/43b55cba71bc7345977f292f91b1a082ada72fdf/presto-hive/src/main/java/io/prestosql/plugin/hive/BackgroundHiveSplitLoader.java#L112) in Hive connector is

`Pattern.compile("(0\\d+)_\\d+.*")`

 while the pattern in [Hive implementation](https://github.com/apache/hive/blob/master/ql/src/java/org/apache/hadoop/hive/ql/exec/Utilities.java#L1

[2020-05-06 02:03] highker opened #14486 "Capture and rethrow errors from presto-common module"
#14457 introduced some new exception types in presto-common. The callsite should capture and rethrow those exceptions properly in order to correctly categorize error types.

[2020-05-06 02:04] highker commented on #14486
Mark this as a release blocker for 0.236

[2020-05-06 02:10] highker commented on #14284
That will be left to whoever to make the change. @sunnar will take over the work. The purpose of this issue is to make sure presto-orc has minimum dependency from Presto codebase. We only expect Page, Block, Type, Domain, Predicate, and SqlFunctionProperties to be the only ones.

[2020-05-06 06:47] Abdillah opened #14487 "JDBC MySQL SELECT * merge all columns and represent them as java.sql.Timestamp"
I [connect a MySQL database](https://prestodb.io/docs/current/connector/mysql.html) successfully and able to query just fine using SELECT. But when I use aggregate select `SELECT * FROM ...` Presto raises the following error (dummy data).

[code]

Basically that's the whole row, represented as `java.sql.Timestamp`.

## Version Information
- **Presto CLI:** 0.234.2-add98eb
- **Presto Server:** v0.2

[2020-05-06 09:44] smilly2 opened #14488 "date_parse function error"
sql: select date_parse('19890416','%Y%m%d')

Query failed (#20200506_093338_00718_29rgt): Cannot parse "19890416": Illegal instant due to time zone offset transition (Asia/Shanghai)

[2020-05-06 12:22] armsword commented on #14488
what is your presto version?

update joda-time version to 2.10.5 will resolve the problem, Release 0.223 has solved the problem

[2020-05-06 12:22] armsword commented on #14488
update this in the pom.xml:
`<dep.joda.version>2.10.5</dep.joda.version>`

[2020-05-06 17:15] patrickc-dev opened #14489 "adding date_trunc('half', x)"
Is it possible to have a date_trunc for half yearly? There is already 'quarter', 'year'.

e.g. date_trunc('half', date('2020-05-02')) --2020-01-01

[2020-05-06 17:49] ArvinZheng commented on #14484
issue created in wrong project, recreated to prestosql/presto - https://github.com/prestosql/presto/issues/3650, closing this one.

[2020-05-06 17:49] #14484 closed

[2020-05-06 20:30] highker commented on #14486
Resolved #14490

[2020-05-06 21:30] #14486 closed

[2020-05-07 01:45] gaohaoning commented on #14413
please let me know when the problem is solved. I will be very grateful.
@zhenxiao @beinan

[2020-05-07 02:10] armsword commented on #14481
INSERT support for the mysql connector was added in 0.152, what's your presto version?

[2020-05-07 05:12] Cooward commented on #14481
Thanks for your help! My presto server installation version is 0.234.2, but the error still appears.

[2020-05-07 05:15] bhhari opened #14492 "Exception is not propagated in Function evaluation with pushdown filter enabled"
For example the following query fails with exception without pushdown where as returns null with pushdown

[code]

[2020-05-07 05:16] bhhari commented on #14492
cc : @mbasmanova  @highker @tdcmeehan @jbroll @sujay-jain @sachdevs

[2020-05-07 06:38] armsword commented on #14481
@Cooward  I found the 0.234.2 version, the function `beginInsert` in MetadataManager is L855, the Error Message shows that your are in L364.

https://github.com/prestodb/presto/blob/0.234.2/presto-main/src/main/java/com/facebook/presto/metadata/MetadataManager.java#L855

[2020-05-07 10:47] otakart opened #14494 "`ANALYZE TABLE` fails on tables with structs"
Starting with version 0.225 `ANALYZE TABLE` command on Hive connector fails for tables with struct columns.
Fails also on current v0.235.

	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:210)
	at com.facebook.presto.hive.metastore.thrift.ThriftMetastoreUtil.createMetastoreColumnStatistics(ThriftMetastoreUtil.java:792)
	at com.facebook.presto.hive.metastore.thrift.ThriftHi

[2020-05-07 13:59] chrismclennon commented on #9505
I am also seeing this issue as described by @mirajgodha

[2020-05-08 03:05] quietgopher opened #14497 "Please support cross connector views"
When I read the view documentation, I thought I'd be able to create views across connectors.  It looks like this is not supported.

https://prestodb.io/docs/current/sql/create-view.html

[2020-05-08 18:48] #14492 closed

[2020-05-08 19:39] caniszczyk opened #14502 "Best Practices Badge for Presto"
Presto should consider getting a CII Best Practices Badge: https://bestpractices.coreinfrastructure.org/en

[2020-05-08 19:39] caniszczyk opened #14503 "Create SECURITY.md (security policy)"
Presto should create a security disclosure policy mechanism down the line.

[2020-05-08 21:20] #14284 closed

[2020-05-09 05:20] quietgopher opened #14508 "Presto ignores 'left' or 'full' when doing joins"
Hi!  Even if I put 'left' or 'full', Presto does not actually perform a 'left' or 'full' join.

I'm guessing there is a built in option to change this.  It feels like the default should be to act like SQL (and do left or full when specified).  My configs don't have any join properties set.
https://prestodb.io/docs/current/admin/properties.html

I'm curious if this is an issue with the Pinot connec

[2020-05-09 08:35] #10542 closed

[2020-05-10 07:39] smilly2 commented on #14488
thank you

[2020-05-10 07:39] #14488 closed

[2020-05-10 19:38] quietgopher commented on #10644
I'm getting this too.  I'm doing a very basic select query (a column from a table).
presto image: apachepinot/pinot-presto:0.236.0 (built recently by Pinot team)
mysql image: mysql/mysql-server:5.6

2020-05-10T19:34:24.573Z	ERROR	20200510_193418_00003_k57wb.2.0.0-0-107	com.facebook.presto.operator.Driver	Error closing operator 0 for task 20200510_193418_00003_k57wb.2.0.0
java.lang.NullPointerExcep

[2020-05-11 15:23] o3LL opened #14511 "Invalid format iso8601 date parsing"
Hello everyone!

I think there is an issue with from_iso8601_date() function :
[code]

Actually, it seems that the function `from_iso8601_date` only support YYYY-MM-dd format and not iso8601 format!

[2020-05-11 15:43] #14511 closed

[2020-05-11 16:35] rschlussel commented on #14311
The server jar will be in presto-server/target.  From there you can follow the docs for deploying presto. or if you're looking for an rpm deployment that will be in presto-server-rpm/target

[2020-05-11 16:42] rschlussel commented on #13454
The query.min-expire-age query.max-history configuration prooperties set how long queries will be kept around for.  Queries will be removed when query.min-expire-age is reached and there are more than query.max-history queries in the query history. The default values are 15 minutes and 100 queries respectively.

[2020-05-11 20:38] rschlussel commented on #14508
Presto always performs a full or left join or the semantic equivalent of whatever is written in your query, or at least the semantic equivalent.  Sometimes filters in your query allow Presto to optimize the query by rewriting the outer join to an inner join (e.g. where predicates on the right table would remove nulls, so those can be converted to an inner join).
it's hard to tell exactly what's ha

[2020-05-11 20:51] quietgopher commented on #14508
Thanks for replying!

Is there an easy way to output the whole explain in the CLI without the scrolling window thing?  I pasted a complete explain below (had to copy/paste parts).

The following left join query returns zero rows.

select platform.platform_id as "platform.platform_id", platform.name as "platform.name", date(date_trunc('day',events.timestamp)) as "events.date", sum(events.clicks) as

[2020-05-12 01:23] quietgopher opened #14512 "Query spends a long time in WAITING_FOR_RESOURCES"
Hi.  I'm running Presto on my local machine.  Without any other load on the Presto job, if I send one query, it stays in WAITING_FOR_RESOURCES for over 10 seconds.  If I send another query, it spends about the same time in WAITING_FOR_RESOURCES.  Each of these also spend a couple seconds in QUERY_PLANNING (which is overkill for my simple queries).

My queries are very small (currently about 100 ro

[2020-05-12 03:21] eagoo commented on #14380
because custom metastore server not impl client.getPartitionNamesFiltered(databaseName, tableName, parts) same as hive metastore

[2020-05-12 03:21] #14380 closed

[2020-05-12 03:44] imperio-wxm commented on #13454
@rschlussel

Thanks for your reply.

If I increase the parameter, will it put pressure on the coordination node or web ui?

[2020-05-12 05:58] #10561 closed

[2020-05-12 15:16] rschlussel commented on #14508
your have filters in the where clause on the events table (timestamp filters).  those happen after the join, so any rows where the right hand side would be null will get filtered out there.  That makes the query equivalent to doing an inner join.

you should do those filters in a subquery instead so they happen before the outer join.

Something like:

SELECT ... FROM platform
LEFT JOIN
(SELECT ...

[2020-05-12 15:27] rschlussel commented on #13454
Depends how much you increase it, the load and capacity of your machines, etc. but increasing these numbers too much could definitely put pressure on the coordinator.  I'm not sure where that cutoff would be.  If you're looking to keep all query history, you could also implement an EventListener and log the execution information to a database.  See https://prestodb.io/docs/current/develop/event-li

[2020-05-12 16:24] quietgopher commented on #14508
Ah!  Got it.  Definitely a mistake with my query.  I'll close this.  Thank you, Rebecca!

[2020-05-12 16:24] #14508 closed

[2020-05-12 17:17] rschlussel commented on #14494
Seems possibly related to https://github.com/prestodb/presto/commit/09d128027221f9afecdefca52ea4489d16571890  @mbasmanova

[2020-05-12 17:24] rschlussel commented on #14497
Can you clarify what you mean by cross connector views?
Views are associated with one particular catalog, the same way a table is.  However, e.g. you can create a hive view that uses a table from a different connector/catalog

something like
[code]

[2020-05-12 17:39] rschlussel commented on #14208
a stale view means somehow the columns/types Presto is getting from the view query now don't match the metadata that it has stored.  I've most commonly seen this with select
* queries when the table you are selecting from has changed.  Common examples would be if the column order of table_a has changed, there was a new column added to table_a, or some column in table_a now has a new type.

Does th

[2020-05-12 18:12] otakart commented on #14494
@rschlussel Thank you for checking this. I just tried to compile v0.225 with https://github.com/prestodb/presto/commit/09d128027221f9afecdefca52ea4489d16571890 reverted and `analyze table` works fine.

[2020-05-12 18:28] mbasmanova commented on #14494
CC: @prestodb/aria

[2020-05-12 18:30] mbasmanova commented on #14494
CC: @sujay-jain @jbroll

[2020-05-12 20:42] caithagoras commented on #13976
Addressed by https://github.com/prestodb/presto/pull/14366

[2020-05-12 20:42] #13976 closed

[2020-05-12 20:50] vkorukanti opened #14517 "Lazy Block loading is not utilized efficiently in case of nested column project pushdown on Parquet tables"
The main issue is we read all subfields in one column. We should separate each subfield into its own column in Scan.

For example `select msg.a, msg.b, msg.c from tbl where msg.a=10`. In the existing implementation on 217 at Uber, we were reading the `msg.a`, `msg.b` and `msg.c` as separate blocks. In 230, we read the entire `msg.[a,b,c]` as one Block. This doesn’t utilize the lazy block loading d

[2020-05-12 20:53] vkorukanti commented on #14517
After discussion with @zhenxiao, @mbasmanova, the plan to fix this is follows:

* backport https://github.com/prestosql/presto/commit/4928507ecd2a60bc12aba0dd714d26491045c85a, which allows projection pushdown for individual columns
* implement pushdown optimization for hive connector, similar to: https://github.com/prestosql/presto/commit/9aacfde3d12e2d6fa8e145df80d3b57e3bc9d716, but using our con

[2020-05-13 02:42] qianmoQ opened #14519 "After the EQUAL operation is overwritten, Slice and long are used, and the latter bit is EQUAL to 8 bits to report an error"
After the EQUAL operation is overwritten, Slice and long are used, and the latter bit is EQUAL to 8 bits to report an error!

source code

[code]

query sql:

[code]

table desc:

Column | Type
-- | -- |
uid | bigint |
ymd | varchar|

get errors:

[code]
right length > 8  and right < 8 no problem

[2020-05-13 02:47] imperio-wxm commented on #13454
Thanks, this helper is great.

[2020-05-13 02:47] #13454 closed

[2020-05-13 09:07] qianmoQ opened #14520 "add implicit coercions not working"
modfiy `ExpressionAnalyzer` file

[code]

i'm convert left and right to VARCHAR, but it not working

[2020-05-13 11:45] prabakarankrishnan commented on #13386
Hi Did you get the solution for this issue. I am facing same.

[2020-05-13 12:11] lucasaytt opened #14521 "presto hive view support"
presto can not read from hive view

[2020-05-13 12:15] lucasaytt commented on #14521
com.facebook.presto.spi.PrestoException: Can not create a Path from an empty string
        at com.facebook.presto.hive.BackgroundHiveSplitLoader$HiveSplitLoaderTask.process(BackgroundHiveSplitLoader.java:208)
        at com.facebook.presto.hive.util.ResumableTasks.safeProcessTask(ResumableTasks.java:47)
        at com.facebook.presto.hive.util.ResumableTasks.access$000(ResumableTasks.java:20)

[2020-05-13 18:15] #4554 closed

[2020-05-13 18:52] mbasmanova commented on #14517
CC: @prestodb/aria

[2020-05-13 20:54] joelbecker commented on #11807
I just want to +1 this. This is a useful pattern that shouldn't require a subquery or additional CTE.

[2020-05-13 23:15] #10460 closed

[2020-05-13 23:15] #10503 closed

[2020-05-14 06:36] #14521 closed

[2020-05-14 07:02] qianmoQ commented on #14521
Is the error resolved？

[2020-05-14 09:59] gyco opened #14528 "how connect to elasticsearch when the cluster had set http_auth"
which parameter should be writen to the .json file when the es cluster should auth password and username before query

[2020-05-14 10:15] cymvp opened #14529 "Incorrect Stage Performance Display on Presto UI"
When I want to use “Stage Performance” UI to analyze SQL on 0.234, I found that there are some abnormal displays in this page:
1. Incomplete Pipeline display: Only Pipeline1 and corresponding operators shows in the UI(Pipeline 0 is absent);
2. When clicking on Operators, status of Operator can’t be shown correctly;
![image](https://user-images.githubusercontent.com/1830336/81921742-abd7a880-960d-1

[2020-05-14 16:08] KannarFr opened #14530 "Web Interface prompt JWT input"
Add feature in web interface to prompt jwt input when jwt auth is active.

[2020-05-14 22:56] #10574 closed

[2020-05-15 18:14] yingsu00 opened #14539 "Optimize getUnsetBits in BooleanInputStream"
getUnsetBits takes 1/3 of CPU profile when reading varchar with nulls in SliceDirectSelectiveStreamReader. We can try to optimize it by reading more bytes at a time and loop unrolling.

[2020-05-15 18:18] yingsu00 opened #14540 "Optimize computeTruncatedLength"
computeTruncatedLength is very expensive when reading bounded varchars. When reading it in batch read mode (Issue #13989), we can optimize this function by hoisting out some common condition checks. And maybe there're some other way to do this faster.

[2020-05-15 21:00] aweisberg commented on #14092
@bhasudha Should this be closed?

[2020-05-15 23:04] zhenxiao commented on #14517
hi @vkorukanti @mbasmanova
After checking the code, I am thinking, since we already have Subfield in ColumnHandle, I think we could skip backporting:
https://github.com/prestosql/presto/commit/4928507ecd2a60bc12aba0dd714d26491045c85a

which is complicated and time consuming.

Instead, we could directly implement optimizer, leverage Subfield to do dereference pushdown.

Proposed a plan like:

- imp

[2020-05-15 23:12] yingsu00 commented on #14540
There is already an issue for this. So closing this one to use #13990

[2020-05-15 23:12] #14540 closed

[2020-05-16 01:47] #10583 closed

[2020-05-16 08:58] #10594 closed

[2020-05-16 11:58] #10595 closed

[2020-05-17 18:07] amitsadaphule opened #14546 "presto-cli fails to start with "UnsatisfiedLinkError: Could not load library" for jansi64-0.236-SNAPSHOT-c51b285 on ppc64le"
**ENV:
arch=ppc64le
os=RHEL7.6**

I was able to compile presto commit c51b285505e0ae0d663471e31cf5ba5151784cf9 on **ppc64le RHEL 7.6**. I followed the deployment guide @ https://prestodb.io/docs/current/installation/deployment.html and cli execution steps @ https://prestodb.io/docs/current/installation/cli.html. Here are the steps which I used to install and run the presto-server and the presto-cl

[2020-05-18 09:58] amitsadaphule opened #14549 "presto-mysql, presto-hive tests fail due to missing/incompatible binaries/libraries on ppc64le"
**ENV:
arch=ppc64le
os=RHEL7.6
maven=3.6.3**

I was able to compile presto commit c51b285 on ppc64le RHEL 7.6 as `mvn install -DskipTests`. However, there were test failures for 5 packages namely presto-function-namespace-managers, presto-mysql, presto-verifier, presto-benchmark-runner, presto-raptor caused by the following error:
[code]
After some debugging, I found that the issue was due to miss

[2020-05-18 10:10] amitsadaphule opened #14550 "presto-postgresql tests fail on ppc64le"
**ENV:
arch=ppc64le
os=RHEL7.6
maven=3.6.3**

I was able to compile presto commit c51b285 on ppc64le RHEL 7.6 as `mvn install -DskipTests`. However, there were test failures for presto-postgresql caused by the following error:
[code]
After some debugging, I found that the issue was due to missing **postgresql-Linux-ppc64le.tar.gz** in **~/.m2/repository/com/facebook/airlift/testing-postgresql-serv

[2020-05-18 15:51] mbasmanova commented on #14517
@zhenxiao Sounds good to me. I'd say give it a try.

[2020-05-19 06:55] #9530 closed

[2020-05-19 07:52] yingsu00 opened #14555 "Optimize SliceDictionarySelectiveReader#readDictionary() using batch read mode"
Our internal CPU profiles on multiple clusters show that `SliceDictionarySelectiveReader#readDictionary()` takes substantial CPU cost. For example:
[code]

In the above profile, the jbyte_disjoint_arraycopy was all from copying the decompressed dictionary before any filter can be evaluated. This method is calling `dictionaryDataStream.next()` for each byte array, then truncate the string and updat

[2020-05-19 07:53] yingsu00 commented on #14555
cc @mbasmanova @bhhari @sujay-jain

[2020-05-19 08:07] yingsu00 opened #14556 "Evaluate performance gain by applying batch read to SliceDirectSelectiveStreamReader#readWithFilter for unbounded varchar"
In https://github.com/prestodb/presto/pull/14544, we optimized `SliceDirectSelectiveStreamReader#readNoFilter` for unbounded varchar and got ~2x gain in JMH benchmark. We can apply similar optimizations to the `readWithFilter()` function for unbounded varchar(maxCodePoint = -1). We first read all data in one shot, then apply the filter for the valid positions, then pack the data.  We need to test

[2020-05-19 08:10] yingsu00 commented on #14556
cc @mbasmanova @bhhari @sujay-jain

[2020-05-19 10:04] souparvo commented on #12484
The only way I got the ability to read Hive 3.X tables using presto (v0.231) I have to set the property `TBLPROPERTIES('transactional' ='true')`

Adding to @dawsongzhao example test:

[code]

Is there any development or on the roadmap to extend compatibility with Hive 3.X by default in presto?

[2020-05-19 13:49] mbasmanova commented on #14555
CC: @prestodb/aria @oerling

[2020-05-19 13:52] mbasmanova commented on #14556
CC: @prestodb/aria @oerling

[2020-05-19 15:37] serkef commented on #8980
@shekarrreddy568 We would appreciate a summary of your environment

[2020-05-19 17:04] agrawaldevesh commented on #14546
Yes, Presto-cli needs a running server. You can still launch the cli, but any command will fail if the server is not reachable. The cli does not bundle in a server.

[code]

from the root directory of your presto code ? Perhaps it is some issue of not being able to find the right libraries because of some wrong directory etc.

[2020-05-19 18:04] #14494 closed

[2020-05-20 03:20] hustnn commented on #10209
@tooptoop4  Have you tried `SET SESSION hive.statistics_enabled=false`.

[2020-05-20 06:41] beepupa opened #14560 "druid connector is error"
same sql , in versions 0.235 is error
![image](https://user-images.githubusercontent.com/36186038/82413382-d01d0480-9aa7-11ea-9b11-d86b19f004ab.png)
 in  versions 0.234-SNAPSHOT-2B43154 is work
![image](https://user-images.githubusercontent.com/36186038/82413479-0064a300-9aa8-11ea-9614-8254a90f0808.png)

[2020-05-20 09:15] amitsadaphule commented on #14546
Thanks @agrawaldevesh for your input! I tried executing the jar from the root directory of presto code as you suggested. But it gives the same issue too.

I tried a few more things like:
1. Installed jansi-native using yum and added /usr/lib/java/ to java.library.path using LD_LIBRARY_PATH. But still got the same issue.
2. Replaced libjansi.so in apache-maven-3.6.3/lib/jansi-native/linux64/ and ap

[2020-05-20 09:50] amitsadaphule commented on #14546
The problem seems to be with the packaging of the presto-cli executable jar. I unzipped the presto-cli-0.236-SNAPSHOT-executable.jar that got generated in the presto-cli/target directory and found that the libjansi.so that is present in the jar is an x86-64 library. I tried replacing that with the ppc64le lib and packaging the jar again using zip. But that resulted in the issue mentioned in the co

[2020-05-20 13:34] amitsadaphule commented on #14546
I was able to get presto-cli working by replacing the libjansi.so in presto-cli-0.236-SNAPSHOT-executable.jar (META-INF/native/linux64/libjansi.so) and packing the jar back again in a bit different manner than before. Just for reference, here are the commands which I used:
[code]
Create a file named bld.sh, add the following 4 lines to the file and save it.
[code]
Finally, create the expected exec

[2020-05-20 18:46] #9172 closed

[2020-05-20 19:07] Samlinxia opened #14564 "[feature request] Hive S3 connector supports AWSCredentialsProviderChain"
From the [doc](https://prestodb.io/docs/0.187/connector/hive.html#amazon-s3-configuration), it seems only supports one custom credentials provider.  It will be great if can support a CredentialProviderChain, which defines a list of the CredentialProviders and will fall back to the next one if one fails to get the credentials.

Reference:
https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/am

[2020-05-20 21:46] #10461 closed

[2020-05-21 05:12] Samlinxia commented on #14564
Another question: can I just set `presto.s3.credentials-provider` in config file to any one of the CredentialProvider from this [list](https://github.com/aws/aws-sdk-java/tree/master/aws-java-sdk-core/src/main/java/com/amazonaws/auth) without any other change?  Read from the doc here: https://prestodb.io/docs/0.187/connector/hive.html#amazon-s3-configuration

[2020-05-21 06:01] #14564 closed

[2020-05-21 06:09] Samlinxia commented on #14564
This is already implemented in #13858

[2020-05-21 07:37] highker opened #14567 "CSE NPE"
[code]

[2020-05-21 11:22] nambastha opened #14568 "test user allow-deny rule"
I'm using presto-spi System Access Control for allowing and denying access. I want to add few users and give them allow-deny access. This is just for testing(local setup), so I don't have Kerberos. Any link which I can follow which can guide me in doing this.

[2020-05-21 14:12] jagill opened #14569 "SpatialJoin not activated for ST_Distance(p, q) BETWEEN d1 and d2"
The conditions

[code]
and
[code]

are the same, but the first triggers a Spatial Join and the second does not.  Example queries:

[code]

[code]

[2020-05-21 17:44] zhenxiao commented on #14413
hi @gaohaoning I think @beinan get the problem fixed. Could you please try the latest branch?

[2020-05-21 17:44] #14413 closed

[2020-05-21 18:44] highker commented on #14567
cc: @rongrong

[2020-05-21 19:02] agrawaldevesh commented on #14546
Hi @amitsadaphule thanks for all this amazing sleuthing. I feel that the next logical step should be to create a new issue with all your findings. The community would find it easier if that issue was scoped down and had all of the context that you have so amazingly found !.

In the meanwhile, I am curious about your use-case: I am wondering what is making you require ppc64 architecture? I am afrai

[2020-05-21 20:20] rongrong commented on #14567
Do you have a repro? Or PM me the query that failed.

[2020-05-21 20:28] #10614 closed

[2020-05-21 20:28] #8638 closed

[2020-05-21 21:47] rschlussel commented on #10694
this is a duplicate of https://github.com/prestodb/presto/issues/7140

[2020-05-21 21:48] #10694 closed

[2020-05-21 23:04] amitsadaphule commented on #12421
I'm facing a similar issue. I've been trying to use presto hive connector with hive metastore (mysql dbtype) running on the same host as well as on a different host. But I'm unable to read complete list of schemas which are available in the mysql database. The schemas which are listed on mysql console and beeline jdbc cli are as follows:
[code]
[code]
However, those returned by presto-cli are:
[co

[2020-05-22 02:06] ssaumitra commented on #12421
@amitsadaphule If you are still figuring out about debugging setup (i.e. coding setup on your machine), then I solved by problem by using `TpchQueryRunner` with `--catalog tpch --schema tiny` . It initialises hive metastore on the local machine with some test data, which worked for me.

[2020-05-22 02:49] #10615 closed

[2020-05-22 02:49] #10616 closed

[2020-05-22 03:30] oOKevinOo opened #14571 "is there any network speed limitation???"
while i execute select * query,the result reciveed speed form coordinater was limited, under 18MB/s.
is there any network speed limitation?

[2020-05-22 05:52] amitsadaphule commented on #12421
Thanks @ssaumitra for the info! I'll try it. Does the TpchQueryRunner get generated as an executable? Can you help me with some documentation on how to use it, if you have it handy, maybe?

[2020-05-22 06:18] jiemar opened #14572 "presto coordinator stop printing log"
As the picture shows, coordinator didnot print log to server.log,
only left with some gz file , a tmp file.
disk space is fine, process is fine and running
![prestodb](https://user-images.githubusercontent.com/1522163/82637296-0d63cc80-9c37-11ea-98c7-d5f9fc264a0c.jpg)

[2020-05-22 22:47] ChunxuTang commented on #14529
Reproduced that bug on my machine. As @cymvp  mentioned, the root cause is that the web-side is still using the short names of types but the server-side has removed the name conversion.

I'll send a PR to fix that.

[2020-05-23 17:50] ssaumitra commented on #12421
@amitsadaphule It's a class in Presto repository. Just search from your IDE.
https://github.com/prestodb/presto/blob/697eaea344c736efc9ced695635c5f2b598554e9/presto-tests/src/test/java/com/facebook/presto/tests/tpch/TpchQueryRunner.java
I am using run configuration like this. https://drive.google.com/file/d/1noRcDyqsppYVrcT3vPOLVdvSiuEpKa4w/preview)

[2020-05-23 23:39] #13457 closed

[2020-05-23 23:43] #12957 closed

[2020-05-23 23:52] tooptoop4 commented on #12955
@jeromeof the data does not come from hive, just metadata does

[2020-05-24 00:01] tooptoop4 commented on #12955
I haven't tried but have heard there is an experimental setting (hive.metastore=file) that could support reading from parquet directly - https://github.com/prestodb/presto/tree/master/presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file

[2020-05-24 00:01] tooptoop4 commented on #11955
I haven't tried but have heard there is an experimental setting (hive.metastore=file) that could support reading from parquet directly - https://github.com/prestodb/presto/tree/master/presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/file

[2020-05-24 03:47] weidongduan37 opened #14575 "FilterAndProjectOperator not works correctly for Druid Connector and hive connector together"
When execute query like:
select
   __time
from druid.default.table f
where f.__time >= timestamp '2020-04-27 00:00:00' and f.__time < timestamp '2020-05-04 00:00:00'
and f.col1 = value
and f.id in (select id from hive.default.dimension_table)

Query returns 0 rows.

After investigation, the problems may be at FilterAndProjectOperator:
![image (10)](https://user-images.githubusercontent.com/3036948

[2020-05-24 03:52] weidongduan37 opened #14576 "Druid connector could not handle union more than one druid table"
@Override
    public PlanNode optimize(PlanNode maxSubplan,
            ConnectorSession session,
            VariableAllocator variableAllocator,
            PlanNodeIdAllocator idAllocator)
    {
        Map<TableScanNode, Void> scanNodes = maxSubplan.accept(new TableFindingVisitor(), null);
        TableScanNode druidTableScanNode = getOnlyDruidTable(scanNodes).orElseThrow(() -> new PrestoExcep

[2020-05-24 04:17] jurjenvg opened #14577 "cannot connect to hive metastore"
For presto evaluation I setup following on a development VM by unpacking binary distributions and configuring manually:
- hadoop 2.10
- mysql 5.7.30 for hive metastore
- hive 2.3.7
- prestodb 333
- presto client
Everything except mysql runs under my own local user account.

**hive-site.xml:**
[code]
**hive.properties connector:**
[code]

To test my setup I added a table parquet_test (with parquet

[2020-05-24 13:59] #10630 closed

[2020-05-24 19:18] findepi commented on #14577
@jurjenvg Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-05-24 19:18] #14577 closed

[2020-05-25 03:09] gaohaoning commented on #14413
@zhenxiao OK, I will try the latest version and reply to you ASAP, Thx~

[2020-05-25 20:45] esigma5 commented on #12796
Hi there! I ran into the same issue today. After surfing the source I found the workaround of using `***empty***`  as password, and it solved it. It would be nice if it were documented somewhere, I just don't know where (and maybe it's also a DataGrip issue, I don't know).

[2020-05-26 06:03] #9597 closed

[2020-05-26 07:00] #14567 closed

[2020-05-26 07:43] zhenxiao commented on #8133
The issue should be fixed. New Parquet Reader is in production since 2018

[2020-05-26 07:43] #8133 closed

[2020-05-26 09:44] ankoehn commented on #13239
I have the same issue: collection contains 40Mio data records. Query "SELECT * from foo where ts > TIMESTAMP '2020-05-12 00:00:00.000" need just to load ~40k data records form mongo. But Presto loads all the 40Mio data records and does the filter in its engine. It takes just too long (~10 minutes).

Is there a way to push down the filtering based on timestamps? @atulaltizon did you solve this issu

[2020-05-26 09:51] amitsadaphule commented on #14546
Thanks @agrawaldevesh for your feedback! I'm trying something suggested by a community member for bypassing jansi dependency for jline. If that doesn't work out, I'll create a new issue as you suggested.

Also, you have a valid point about this not being tested very well on non x86_64 architectures. But the request for presto port specifically came to me for ppc64le. So, need to help with that :)

[2020-05-26 21:29] aayush27894 opened #14579 "Using Function created in a database that Presto is pointing to"
Hello, I have created a pl/python function in a database that Presto is pointing to.
Presto however, doesn't recognize the created function. Getting "Function Not Registered Error".

I realized, with Presto I need to first register the UDF as a JAR file.
My question is if there is a way to get a pl/python or pure python function be called in and used by the presto CLI?

[2020-05-26 21:59] amitsadaphule commented on #14550
After some debugging by adding some logs in the code https://github.com/prestodb/testing-postgresql-server (tag 9.6.3-4) and updating the class file in **~/.m2/repository/com/facebook/airlift/testing-postgresql-server/9.6.3-4/testing-postgresql-server-9.6.3-4.jar**,  I found that the issue is with initdb() call. It's unable to find a library which causes the initdb to fail and hence close() gets c

[2020-05-26 22:11] rongrong commented on #14579
Presto does not support python functions for now.

[2020-05-27 15:58] svanschalkwyk commented on #14528
I have the same issue. Seems ES connector code will have to be modified.

[2020-05-27 16:30] amitsadaphule commented on #14550
Apart from this, can someone please let me know whether prestodb community handles up-streaming of the necessary jars to maven repos? e.g. https://repo.maven.apache.org/maven2/com/facebook/airlift/testing-postgresql-server/9.6.3-4/testing-postgresql-server-9.6.3-4.jar using https://github.com/prestodb/testing-postgresql-server. If yes, what's the procedure for up-streaming the jars to the respecti

[2020-05-27 22:01] CONSULTANTSF commented on #8200
Any chance that LEFT JOIN UNNEST will be added to Presto?

[2020-05-27 23:51] aayush27894 commented on #14579
How do I use a custom function is Presto?

[2020-05-28 00:44] rongrong commented on #14579
If you want to add udfs to Presto, you can implement a functions plugin. You can look at [presto-geospatial](https://github.com/prestodb/presto/tree/master/presto-geospatial/) plugin for example.

[2020-05-28 02:50] aayush27894 commented on #14579
Sounds good. Thank You.

[2020-05-28 03:01] gaohaoning opened #14584 "using presto to query druid could not return successfully(still have problem)"
after I updated my version to presto-server-0.235.1, the problem in #14413 still exists.
---------------------------------------------------------------------------------------------------------
Same problem still exists.

When I use presto to query druid datasource without rollup configuration, everything seems OK;
When I use presto to query druid datasource with rollup configuration, the followi

[2020-05-28 03:04] gaohaoning commented on #14584
@zhenxiao
@beinan
could you please help about this problem ?

[2020-05-28 20:10] aayush27894 commented on #14579
is there a way to create and use functions locally with Presto?
Would I necessarily have to register the function with Presto git community?

[2020-05-29 01:08] rongrong commented on #14579
You can do that in your own git repo. It can be private if you don't want to share.

[2020-05-29 01:21] aayush27894 opened #14587 "Function Namespace Manager Config for Postgres"
I am trying to configure function namespace manager for creating functions. The database I am working with is Postgres.
Can I configure function namespace manager with a remote postgres database?
If yes, could you please provide the syntax of the .properties file for function namespace config.

[2020-05-29 16:54] StevenMih commented on #14546
Hi @amitsadaphule - just checking if you need any other support here. If not, pls close this github issue. Thanks!

[2020-05-30 01:54] mbasmanova opened #14592 "java.lang.NegativeArraySizeException in string replace function"
[code]

[2020-05-30 02:20] #10677 closed

[2020-05-30 11:53] codekaust commented on #14271
Hey, did you downgrade cassandra? Or presto?
I am facing the same issue and nothing seems to work for now.

I have following netty jars in my `lib/` directory inside presto installation directory:
`netty-3.6.2.Final.jar`, `netty-all-4.1.29.Final.jar`

[2020-05-30 11:57] Ennosigaeon commented on #14271
We downgraded to _presto-0.228_. After that there was no reason to modify any jar dependencies at all.

[2020-05-31 20:56] #10699 closed

[2020-06-01 09:23] amitsadaphule commented on #14546
Hi @StevenMih , yes. I'll close the issue and just refer this one in the PR if I manage to fix the issue with ignored jline dependency still causing libjansi.so download. Thanks!

[2020-06-01 09:23] #14546 closed

[2020-06-01 09:58] codekaust commented on #14271
@Ennosigaeon presto-0.228 works great, have you tried any newer version of presto? Any one else?

[2020-06-01 14:25] Ennosigaeon commented on #14271
@codekaust We recently switched to PrestoSQL due to JSON support. So I am not sure, if any newer version would work. The changes that broke Cassandra were introduced between releases 0.228 and 0.229. We initially observed the problems in version 0.332.

[2020-06-01 14:34] rschlussel commented on #14271
@highker I added the release blocker label since it looks like the Cassandra connector is totally broken now.

[2020-06-01 18:29] #14592 closed

[2020-06-02 01:57] QianruZhang78 commented on #14575
After investigation, the bug is not due to FilterAndProjectOperator. It is because the druid connector optimizer and the way to map data result to column.

[2020-06-02 02:01] weidongduan37 commented on #14575
After investigation, the bug is not due to FilterAndProjectOperator. It is because the druid optimizer and map result data to column when read http response from druid.

[2020-06-02 05:54] zhedoubushishi opened #14596 "Presto UI does not work with Internet Explorer 11 and earlier"
Reproduction steps:
Launched a Windows EC2 instance
Established connection to it through Remote Desktop Client
Launched a Presto cluster
From the Windows instance created an SSH tunnel to access Presto UI: ssh -i uditme.pem -N -L 8157:ec2-34-232-63-190.compute-1.amazonaws.com:8889 hadoop@ec2-34-232-63-190.compute-1.amazonaws.com
On IE explorer hit : http://localhost:8157/
You will notice that UI d

[2020-06-02 07:43] highker commented on #14271
Fixed by https://github.com/prestodb/presto-cassandra-driver/pull/5

[2020-06-02 08:46] kishoreduraisam commented on #13694
@findepi @zhenxiao  Is this an open issue or is it related to the way table is defined? I am running into the same issue for the past few days and havent been able to figure this out. Here is how some of my columns are defined
product_prodcontainerid ARRAY<VARCHAR>,
product_type ARRAY<VARCHAR>,
product_quantity BIGINT,
product_id ARRAY<VARCHAR>,
product_name ARRAY<VARCHAR>,

and here is the full s

[2020-06-02 10:24] findepi commented on #13694
@kishoreduraisam Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-06-02 11:52] mgmarino commented on #5934
In our case, this happens as an Athena CTAS trying to write some rows with empty arrays.  Our fix is to use `ifnull`, e.g.;

[code]

Not sure if this is an option to your case, @alecbw, but if it is then it may be better than writing to json.  @abhishekupadhyaya perhaps you can try checking for an empty struct?, maybe:

[code]

[2020-06-02 15:45] rschlussel opened #14598 "Syntax for creating DWRF tables with encrypted columns"
#  Requirements
* specify encryption algorithm per-table
* specify the columns to be encrypted, including the option of only encrypting subcolumns of a row type
* Different columns can have different encryption keys
* ideally don't require specifying all columns if you want to encrypt everything in the table with a single key

# Proposal
Specify all this information as table properties for the Hiv

[2020-06-02 15:46] rschlussel commented on #14598
@rongrong @mayankgarg1990 @zzhao0 @zhenyuy-fb

[2020-06-02 18:07] mayankgarg1990 commented on #14598
For the columns, instead of relying on arrays - should we add the settings to the columns itself -

[code]

This way it is easier to know which columns use which key

[2020-06-03 04:38] sivankumar86 opened #14599 "clustering or bucketing is not working for range query for orc table"
Hello,
 clustering or bucketing is not working for range query for orc table.
Reproduce steps.
1. CREATE EXTERNAL TABLE `events_orc_bucketed_realtimestamp_bi_m_l`(
  `real_timestamp` bigint COMMENT '',
  `eventsource` string COMMENT '',
  `eventname` string COMMENT '',
  `awsregion` string COMMENT '')
PARTITIONED BY (
  `month` bigint COMMENT '')
CLUSTERED BY (
  real_timestamp)
INTO 20 BUCKETS
RO

[2020-06-03 04:39] sivankumar86 commented on #14599
emr-5.30.0/Presto 0.232

[2020-06-03 06:37] haominhu1216-houzz commented on #10775
Hi @harbby ,

Thanks for the hive UDFs. Are your functions supposed to write binary from hive that is readable from presto?

[2020-06-03 11:45] lucasaytt opened #14600 "presto cli return result"
presto> select name from dw.dw_presto;
 result
--------
 true
(1 row)

[2020-06-03 11:46] lucasaytt commented on #14600
query a table have not data, return a result column when query this table have not result column

[2020-06-03 13:07] rschlussel commented on #14598
I like that. That was the original idea, but I was worried about how to encrypt the whole table.  But we can just have the properties as either column or table properties (and throw an exception if someone tries to specify both).   We'd need to also add a column property encrypted_subcolumns in case you only want to encrypt one field of a row type column.

[2020-06-03 13:20] amitsadaphule commented on #14550
I got past the **$libdir** related issue by updating postgresql binaries, libraries in postgresql-Linux-ppc64le.tar.gz. Next error was: **FATAL:  could not create lock file "/var/run/postgresql/.s.PGSQL.33158.lock": Permission denied** . So, changed ownership of /var/run/postgresql/ to non-root testuser. Post that, I got the following error:

[code]
The reason for this error was unavailability of

[2020-06-03 13:21] amitsadaphule commented on #14550
The only info I need now is:

Whether prestodb community handles up-streaming of the necessary jars to maven repos. e.g. https://repo.maven.apache.org/maven2/com/facebook/airlift/testing-postgresql-server/9.6.3-4/testing-postgresql-server-9.6.3-4.jar using https://github.com/prestodb/testing-postgresql-server. If yes, what's the procedure for up-streaming the jars to the respective maven repos? Th

[2020-06-04 00:46] highker commented on #14271
Resolved by #14602

[2020-06-04 00:47] #14271 closed

[2020-06-04 08:54] sam007jat opened #14607 "Presto default date is not appearing correctly"
presto> select date '0001-01-01';
Expected result: '0001-01-01'
Actual result: '0001-01-02'

Day is increasing by one in this case.

Can anyone help me on this that how can i resolve this?

If i run the above query on presto-cli then result comes as '0001-01-01' which is expected but when i run same query via SQL workbench then result comes as '0001-01-02' which is actual result.

[2020-06-04 17:24] lucasaytt opened #14610 "presto ui"
![Uploading image.png…]()

[2020-06-04 17:30] lucasaytt commented on #14610
presto query page ui Resource Utilization Summary all data is zero

[2020-06-04 19:39] rschlussel commented on #14550
Can you explain what you mean by upstreaming the jars? When we release, we deploy the new versions to maven central.

[2020-06-05 04:45] #10725 closed

[2020-06-05 06:55] amitsadaphule commented on #14550
Thanks for the response @rschlussel ! By upstreaming, I meant pushing/deploying the generated jars to respective maven repository. Based on your answer, I'm guessing that I just need to raise PR to https://github.com/prestodb/testing-postgresql-server in order to get the ppc64le binaries/libraries packed in the jar and once you merge+release+deploy, I'll need to raise a PR to https://github.com/pr

[2020-06-05 11:27] tooptoop4 commented on #9002
prestosql 334 has same issue, https://github.com/prestosql/presto/issues/3888 might be an alternative

[2020-06-07 09:36] #10512 closed

[2020-06-08 09:04] liyubin117 opened #14620 "how to get sql text executed"
server.log is non-strunctured, not easy to be analyzed in 3rd party application

[2020-06-08 14:23] amitsadaphule commented on #14550
Cc @gerrith3 @seth-priya

[2020-06-08 15:35] rschlussel commented on #14550
yes, that all looks correct, and we can create new releases for any of the prestodb repos

[2020-06-08 16:26] amitsadaphule commented on #14550
Thanks @rschlussel for the confirmation! I'll raise PRs on the respective repos then.

[2020-06-08 20:29] mayankgarg1990 commented on #14598
After thinking about this a bit and taking a look at the discussion at https://issues.apache.org/jira/browse/HIVE-21848 the following is my proposal to move ahead with this:

1. encrypt specific columns with different keys

[code]

2. encrypt the whole table

[code]

[2020-06-08 21:12] akhilnaidu commented on #10301
Is there a workaround In Presto to handle multiple files per bucket (a table with 10 buckets has 40 files, 4 files per bucket).
prestosql has fixed this last year https://github.com/prestosql/presto/pull/822
so checking if there's a workaround for Prestodb.

[2020-06-09 01:44] zzhao0 commented on #14598
dwrf currently has encryption provider concept that tries to abstract way the actual encryption logic from the format. In the context of fb, we will use crypto service as the provider. Does presto (as OSS compute engine) need to provide way for user to specify encryption provider?

Similarly, is it sufficient if we only expose string as the key. Say if we have to integrate with KMS at some point,

[2020-06-09 09:36] luzhengyu1990 commented on #12484
why the presto can not support hive 3.X transcational table?

[2020-06-09 11:26] amitsadaphule commented on #14550
@rschlussel I have a question regarding the cross OS viability of the jars generated by these repos. e.g. hadoop-apache2-2.7.4-7.jar which gets downloaded from central maven repo has **libhadoop.so, libsnappy.so** in **nativelib/Linux-ppc64le/** directory. But since those are not compatible with RHEL 7.6 ppc64le (maybe compatible with ubuntu), it resulted in an error `java.lang.RuntimeException: f

[2020-06-09 16:02] stagraqubole commented on #12484
Using Hive transactional tables needs changes in Presto. This support in prestosql was blogged recently: https://prestosql.io/blog/2020/06/01/hive-acid.html. Similar changes will have to be done in prestodb.

[2020-06-09 18:09] #14021 closed

[2020-06-09 18:40] DDFaller commented on #12044
if the the error weren't resolved, could i make these changes?

[2020-06-09 22:36] brianrreed commented on #5850
It would be nice if this were added. This is a common use case for IoT.

[2020-06-10 00:23] mayankgarg1990 commented on #14598
I missed the encryption provider. For KMS - while I haven't played with it - but looking at the ORC proposal which already uses KMS - a string seems to be working - can you share what kind of concerns you have with string not being sufficient for the key

[2020-06-10 03:19] liyubin117 commented on #14620
get!
select * from system.runtime.queries

[2020-06-10 03:19] #14620 closed

[2020-06-10 04:10] fgwang7w opened #14629 "DISTINCT with LIMIT clause optimization"
In the case of use the DISTINCT clause with LIMIT clause, distinct limit operator is used to aggregate duplicates and constraint the output size, however, once the limit size reaches to a large volume, the final aggregated stage may be overloaded on single node, resulting in low performance of slow query, risk of queued queries, and full GC on single worker:
TPC-H 1T：
select distinct custkey from

[2020-06-10 04:11] fgwang7w commented on #14629
I will use this issue to fix the addressed issue

[2020-06-10 07:39] vijaythakur-plasma commented on #10021
I am facing the same problem. Please find the keyspace definition.
[key.txt](https://github.com/prestodb/presto/files/4756901/key.txt)

[2020-06-10 07:42] amitsadaphule commented on #14549
Got some answers on https://github.com/prestodb/presto/issues/14550

[2020-06-10 10:21] amitsadaphule commented on #14550
Also, one correction, for future references, the repo that is currently being used for embedded-redis is https://github.com/gbrd/embedded-redis. There was a plan to switch to https://github.com/kstyrc/embedded-redis. But that didn't see completion. Ref: https://github.com/kstyrc/embedded-redis/issues/71

[2020-06-11 02:57] zhenxiao commented on #12857
hi @gary-harpaz sorry for the late reply. we just committed a number of patches for Elasticsearch connector improvements. could you please try the latest master branch? Or, wait for 237 release?

[2020-06-11 03:02] zhenxiao commented on #14584
@gaohaoning did you try the latest version 236? I think @beinan fixed the issue. @beinan could you please help?

[2020-06-11 14:03] #10265 closed

[2020-06-11 14:21] rschlussel commented on #14550
yeah, if the jars are not compatible across different oses , it's fine to focus on a particular os

[2020-06-11 14:30] amitsadaphule commented on #14550
Thanks @rschlussel for the feedback!

[2020-06-11 21:04] rschlussel commented on #14610
It appears the image link didn't work can you explain more about the issue you are seeing?

[2020-06-11 21:07] rschlussel commented on #14607
sounds like it could be some kind of time zone conversion issue.  Do you know the timezones for the clients and the presto cluster?  Also, does the issue happen only with really old dates, or also recent dates?

[2020-06-11 21:09] rschlussel commented on #14600
I have never seen Presto return result data that doesn't exist, so it seems like your table does have data in it.  How did you create this table? what connector are you using? what makes you think that the result should be zero rows?

[2020-06-11 21:13] rschlussel commented on #14587
@rongrong

[2020-06-11 21:18] rschlussel commented on #14568
are you using the built in file based system access control?  there are some examples in the documentation about how to use it: https://prestodb.io/docs/current/security/built-in-system-access-control.html

[2020-06-11 21:20] rschlussel commented on #14560
@zhenxiao

[2020-06-11 21:20] rschlussel commented on #14576
@zhenxiao

[2020-06-11 21:20] rschlussel commented on #14575
@zhenxiao

[2020-06-11 21:22] rschlussel commented on #14520
Can you explain what your goal is and what's not working about it?

[2020-06-11 21:28] rschlussel commented on #14529
thanks @ChunxuTang  for fixing this! I'm closing the issue since the fix has been merged.  it should be available in the upcoming 0.237 release.

[2020-06-11 21:28] #14529 closed

[2020-06-12 01:02] zacw7 opened #14639 "Add authorization support"
# Authorization Support
## Motivation

We want to introduce proper authorization support for Presto’s HTTP endpoints and give system administrators the ability to decide who can and who cannot access certain endpoints. This is necessary for ensuring the safety of data flowing through Presto.

Different types of endpoints to handle:

1. Jersey Resources defined inside Presto - this constitutes of m

[2020-06-12 04:01] lucasaytt commented on #14600
now it is resolved,because i add the query log event,change the queryStat cause the issue

[2020-06-12 04:02] lucasaytt commented on #14600
thanks

[2020-06-12 04:02] #14600 closed

[2020-06-12 04:04] lucasaytt commented on #14610
beacuse i change the query log event cause it

[2020-06-12 04:04] #14610 closed

[2020-06-12 06:45] xumingming opened #14642 "PrestoExtendedFileSystemCache have not take LocalFileSystem into consideration"
We know that in Presto, Hadoop's FileSystem#cache is replaced by `PrestoExtendedFileSystemCache`, and in `PrestoExtendedFileSystemCache`, all the FileSytems are wrapped by `HadoopExtendedFileSystem`:

[code]

The code has not take LocalFileSystem into consideration, many FileSystem implementation utilize LocalFileSystem to implement multipart upload(write) data into the FileSystem. When we get a L

[2020-06-12 07:39] jiemar opened #14643 "presto doesnot support jdk14"
error log when launch:
java.lang.NoSuchMethodException: java.nio.DirectByteBuffer.<init>(long,int,java.lang.Object)

in JvmUtils.java

[2020-06-12 13:55] rschlussel commented on #14528
@zhenxiao

[2020-06-12 16:22] rschlussel commented on #14462
As you've discovered, in sql the way to escape a quote is to double it up.

[2020-06-12 16:52] highker commented on #14642
@jainxrohit, could you help to take a look?

[2020-06-12 17:45] rongrong commented on #14587
Our implementation of function namespace manager is using MySQL and all queries setting up the tables, inserting / retrieving data from database is written in MySQL query syntax. I doubt it would work out of the box with Postgres. You mostly need to have a Postgres implementation of this class to have it working for postgres: https://github.com/prestodb/presto/blob/master/presto-function-namespace

[2020-06-12 18:37] rongrong commented on #14587
@caithagoras

[2020-06-12 20:55] caithagoras commented on #14587
@aayush27894 Thanks for letting us know your use case. Since Presto is an open source software, just wondering if you think you would be able to help with adding support for Postgres Function Namespace Manager?

[2020-06-13 10:38] #10109 closed

[2020-06-13 10:38] #10772 closed

[2020-06-13 20:38] #10778 closed

[2020-06-14 13:34] wujinhu commented on #14642
Thanks @xumingming for raising this question. We also have this issue. I took a look at the code, just as you said, it seems Presto replaced Hadoop FileSystem Cache and do not take LocalFileSystem into consideration. We have a work around fix in our production like below:
[code]

[2020-06-14 23:23] #10394 closed

[2020-06-15 06:39] ahlag opened #14651 "Error executing query when executing set session join_distribution_type='broadcast'"
We are trying to execute the `set session join_distribution_type='broadcast'`, however there is an error regarding the execution of with the jdbc connector. Is there a workaround for us to execute, for example `pc.setSession("join_distribution_type", "BROADCAST");` in the jdbc java files?

I believe this would be the place.
PrestoStatement.java:567:
[code]

[2020-06-15 12:58] beepupa commented on #14560
004190

[2020-06-15 12:59] dekelev commented on #14271
Still getting the same error with v0.236

[code]

[2020-06-15 13:29] #10781 closed

[2020-06-15 14:25] rschlussel commented on #14271
fix should be in the 0.237 release

[2020-06-15 15:24] varunbpatil opened #14652 "Is there a way to tell Presto to skip invalid parquet files in query ?"
I'm using Presto 0.236 with Hive connector.

[code]

The error is correct in that the above parquet file - test.parquet - is invalid.

But, I want Presto to be able to skip such files in the query. Is this possible?

I tried an older version 0.181 and it does skip invalid parquet files, but I want some features in the newer Presto version and was wondering if there is a flag for this.

[2020-06-15 15:32] Ravion commented on #14652
An easy solution I can think of is to write a custom function which ignores
invalid files and aggregates the results from all valid files, definitely
expensive though.

Best, Ravi

On Mon, Jun 15, 2020, 11:25 AM Varun B Patil <notifications@github.com>
wrote:

[2020-06-15 23:31] dalelane commented on #14027
I can see that the code doesn't currently support custom config for the KafkaConsumer, but I don't think it should be too hard to add. Would a pull request with updates to support Kafka credentials be welcome?

[2020-06-16 00:14] zhenxiao commented on #14560
hi @beepupa could you please try the latest version, with the following session property enabled:
druid.compute-pushdown-enabled=true

[2020-06-16 00:17] zhenxiao commented on #14528
@gyco @svanschalkwyk sorry for the late reply. Many improvements have been added to Elasticsearch connector recently. could you please try the latest version, with new documentation?

[2020-06-16 00:22] Shreeh1 commented on #13179
I am facing the same issue. Did you find the solution to it?

[2020-06-16 20:11] shreehari-verna opened #14658 "Query 20200616_200514_00006_yhuc2 failed: The connection attempt failed."
I have installed presto on my Mac OS Catalina.
After starting the presto server in the bin directory,
`sudo ./launcher start`

When I try to connect to the PostgreSQL or MySql I am unable to connect.
I get a "Query 20200616_200514_00006_yhuc2 failed: The connection attempt failed." Error

I have correctly configured the catalog directory with postgresql.properties as,

connector.name=postgresql
co

[2020-06-17 07:54] beepupa opened #14660 "druid connector Display error,when field type is float in druid"
presto versions :0.236
druid versions:0.17
already set druid.compute-pushdown-enabled=true
in presto:
![image](https://user-images.githubusercontent.com/36186038/84870497-fb4c4100-b0b1-11ea-91df-d7e4c42c76ef.png)
![image](https://user-images.githubusercontent.com/36186038/84870600-1919a600-b0b2-11ea-88d8-6b793b14057a.png)

in druid:
![image](https://user-images.githubusercontent.com/36186038/84870

[2020-06-17 07:54] beepupa commented on #14660
@zhenxiao

[2020-06-17 07:55] beepupa commented on #14660
How to set it to display correctly

[2020-06-17 16:46] zhenxiao commented on #14660
hi @beepupa may be try cast to decimal? I do not think druid connector did anything special for real type display

[2020-06-17 18:38] fgwang7w opened #14664 "add duplicate view support"
This is the fix to support sanity check for blocking create duplicate view

[2020-06-17 21:44] okaybrian opened #14666 "Need help compiling Presto"
I am new to Presto and was trying to build the project. I saw the following:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project presto-main: Compilation failure
[ERROR] /home/briany/presto/presto-main/src/main/java/com/facebook/presto/transaction/InMemoryTransactionManager.java:[587,46] incompatible types: inference variable T

[2020-06-18 01:18] beepupa commented on #14660
![image](https://user-images.githubusercontent.com/36186038/84966606-8249f980-b144-11ea-9597-69985a876926.png)
![image](https://user-images.githubusercontent.com/36186038/84966627-8bd36180-b144-11ea-98e1-2259d93ad2cd.png)
@zhenxiao

[2020-06-18 01:26] beepupa commented on #14660
When I set the type to a string  in druid，
in presto is work
![image](https://user-images.githubusercontent.com/36186038/84967117-c8538d00-b145-11ea-8838-07a2a891c502.png)
@zhenxiao

[2020-06-18 03:14] fvcortes commented on #14011
I would like to try this.

Is the goal here to replace the use of FileSystemContext in presto-raptor by HdfsContext (present in presto-hive-common) ?

[2020-06-18 03:15] highker commented on #14011
@fvcortes, yes. Feel free to proceed.

[2020-06-18 06:35] huanchuanjian opened #14672 "Presto jdbc client socket timeout exception"
presto-jdbc: 0.191
okhttp: 3.9.0

Exception
[code]

[2020-06-18 09:43] raymondluo1986 opened #14673 "why the bloom-filters is invalid?"
Hi,team.

my presto server version is presto 0.213
my hive version is 2.3.6

###########################################################
in hive,I create table:
CREATE TABLE test_bloom(
  uuid_key STRING,
  media_file_name STRING,
  vehicle_id INT,
  play_auto_count INT,
) partitioned by (DataYear STRING, DataMonth STRING, DataDay STRING)
STORED AS ORC
TBLPROPERTIES('orc.create.index'='true','orc.

[2020-06-18 15:57] #10815 closed

[2020-06-18 23:32] fgwang7w opened #14677 "Add support cast real literal as real"
When user writes a query to convert Float Type to Double type, there is an error.

select count(*) from (select cast (totalprice as REAL) as a from orders) where a = 5.78

This fix is to add support for Float Revert to Double case when cast REAL literal as REAL.

[2020-06-19 03:19] liyubin117 commented on #9216
In fact, the problem is server-end principal's keytab form, you need to create keytab as follow:
[code]

[2020-06-19 10:17] GaddamAjay opened #14679 "SAP BOBJ on Presto"
Hi Team,
Congratulations for all the work.
I am trying to established a connection with SAP BOBJ to do reporting on Presto DB.
Can you please help us in listing all the steps required.

Thanks in advance

Regards,
G Ajay Kumar

[2020-06-19 14:41] codekaust commented on #4820
Hey @gmrodrigues
How did you solve this issue/what was the underlying issue?

I am using some other connector though but the issue seems same.

[2020-06-19 15:15] gmrodrigues commented on #4820
Uhm... lost track of it, can't remember. For context, back in 2014 I was developing a connector for crate.io by following on cassandra's example. But I can't confirm if at this point I was really using a fresh clone from master. For I can remember I successfully implemented a minimum connector to use on ad-hoc queries. It was far from production ready and we abandoned it later.

[2020-06-19 19:50] #10820 closed

[2020-06-20 00:22] rongrong opened #14683 "Compilation error when same lambda projection appears multiple times"
The following query would fail with compilation error:
[code]
This is because we do projection deduplication only in `Expression` and the way we generate `LambdaExpression`s, the two projections above would be converted to different `Expression`. However, to enable common sub-expression optimization for lambda, we introduced canonicalization of `LambdaDefinitionExpression`, which is the `RowExpres

[2020-06-20 21:28] HY-Stars opened #14686 "Implement DatabaseMetadata.getClientInfoProperties"
Please implement DatabaseMetadata.getClientInfoProperties

Below is the error using 0.236 JDBC Driver related to the Data source metadata :
Data source meta data Info:
Client info Properties:
Cannot obtain info: com.facebook.presto.jdbc.NotImplementedException: Method DatabaseMetadata.getClientInfoProperties is not yet implemented

The Connector encountered a Java exception: java.lang.NullPointerE

[2020-06-20 22:54] memeplex opened #14687 "Unable to suppress "Number of stages in the query (nnn) exceeds the soft limit" warning"
I've tried:
* passing `--session query_max_stage_count=150` to presto CLI client.
* setting `set session query_max_stage_count = 150` inside a REPL session.
* setting `set session query_max_stage_count = 150` as the first command of a script passed using `-f`.

All to no avail. The `query_max_stage_count` seems to be somewhat recognized since passing it an invalid (say, non numeric) value triggers

[2020-06-20 23:19] memeplex commented on #12737
Hi @nezihyigitbasi , as reported in https://github.com/prestodb/presto/issues/14687 I'm unable to get that property to suppress the warning as one would expect. Do you have any idea why? Thanks.

[2020-06-21 19:14] fgwang7w commented on #14664
just verify that the duplicate view support is already existed in latest version 0.238.

[2020-06-21 19:14] #14664 closed

[2020-06-21 20:57] fgwang7w opened #14690 "sleep function not registered"
![image](https://user-images.githubusercontent.com/32091981/85233899-b4669000-b3be-11ea-8edc-9c37e31b1068.png)
This function is to simulate a long running query without changing the application logic, and may help to check how the application behaves during some load peaks.

-----------------

Proposed solution:
Define scalar function for sleep in DateTimeFunctions.

[2020-06-22 03:11] gaohaoning commented on #14584
version 235.1 still have the same problem , I just tried version 236, 236 is OK, Thx very much !!!
@zhenxiao @beinan

[2020-06-22 04:02] zhenxiao commented on #14584
get it. nice it is resolved

[2020-06-22 04:02] #14584 closed

[2020-06-22 07:40] fgwang7w opened #14693 "double/real truncation incorrect"
Truncation of a decimal number leaves the precision as it was.
![image](https://user-images.githubusercontent.com/32091981/85261413-f9231300-b420-11ea-9099-c0a418a08981.png)

![image](https://user-images.githubusercontent.com/32091981/85261001-6b472800-b420-11ea-9fd2-cb150d1058e6.png)

-------

Proposed Solution:
Fix in MathFunctions truncate(num,d) to drop double's precision digits after decimal

[2020-06-22 11:59] JMNDev commented on #14528
Hi @zhenxiao, I have the same "issue"/constrain.

I want to reach an elasticsearch cluster with just user and password authentication, and I already have tested the newest version of the connector and I can't reach the cluster because the connector is configured to use TLS Security, but the cluster i need to reach only have user password authentication, so even using the TLS configuration gives me

[2020-06-22 20:21] shixuan-fan commented on #14693
I'm not particularly sure if SQL spec has definition about how truncate is supposed to work. If it is up to the engine implementation, then it sounds fine.

[2020-06-22 20:26] shixuan-fan commented on #14690
I'm not a huge fan of this function but I could also see it could fit into some integration test scenarios. Any thoughts on this? @rongrong

[2020-06-22 21:18] fgwang7w commented on #14693
Thanks for the feedback. looks like oracle and other ansi-sql db vendors only keeps the number of digits of the decimal point per specified input d.
https://docs.oracle.com/cd/B28359_01/server.111/b28286/functions208.htm#SQLRF06150
The implementation should be as straight-forward as to add support in scalar function for truncate double by dropping digits after decimal point.

[2020-06-23 03:58] fgwang7w opened #14701 "Support query level scan bytes limits"
Propose Solution:
Enforce query scan not to scan the size of data over the limit by query.max-scan-physical-bytes in SqlQueryManager

[2020-06-23 08:25] gomou opened #14702 "how to hide or encode the password in catalog properties file"
I configure the mysql connector in a catalog properties file like that:
connector.name=mysql
connection-url=jdbc:mysql://example.net:3306
connection-user=root
connection-password=secret
but I hope the "secret"  is encoded or invisible
if I use MD5 to encode this passsword， how presto decode it
thanks

[2020-06-23 11:06] hitesh1907nayyar opened #14703 "Help Required for getting min and max in table"
Hi All,

Require your help please.

I have a table name wqmram and i want to calculate the min and max value for a column name s6 by month wise. Min value should not be zero as i want minimum value which is above zero.

I have written the below query:
SELECT min(s6) AS Mins6,
         max(s6) AS Maxs6,
         partition_0,
         partition_1
FROM wqmram
WHERE cast(s6 AS decimal(30,2)) != 0.00
G

[2020-06-23 13:16] j-penson commented on #14703
Looks like you need to convert s6 from a string to a numeric data type, similar to how you have done in the WHERE clause.

[2020-06-23 14:02] hitesh1907nayyar commented on #14703
Thanks ! I was able to solve this.

[2020-06-23 14:02] #14703 closed

[2020-06-23 15:47] jeremy-degroot opened #14705 "Some queries that end in User Error cause queuedQueries metric to be inaccurate"
I recently discovered that the queued queries metric reported through JMX by our Presto cluster is wildly inaccurate: reported value of nearly 4k when the Cluster Overview UI shows 0 queued queries.

After a restart to zero it out, it seems like the inaccuracies in reported queuedQueries value track with queries that end in User Error. Looking at the source, it seems plausible that the query was c

[2020-06-23 18:03] hitesh1907nayyar opened #14706 "Presto Issue for Time conversion"
Require your help as stuck in time conversion in presto.

I have a epoch column with name timestamp as a string datatype and i want to convert this into date timestamp.

I have used the below query after reading through various blogs:

SELECT date_parse(to_iso8601(from_unixtime(CAST(timestamp AS bigint)) AS date ,
        '%Y-%m-%dT%H:%i:%s.%fZ'))
FROM wqmparquet;
Everytime i run this query i get

[2020-06-23 20:33] hashhar commented on #12090
Would it not be easier for Presto to return a distinct exit code for graceful shutdown vs other reasons of termination? Almost all supervisor systems (supervisord, docker, systemd etc.) allow using the exit code to determine if the service needs to be brought back up or left down?

[2020-06-23 21:25] #14683 closed

[2020-06-23 23:05] Frogglet commented on #9870
Was this ever resolved? I appear to be getting the same kind of issue. Despite the fact that I increase the hive.max-partitions-per-writers config to 1000 I get this error: `Exceeded limit of 100 open writers for partitions/buckets`.

Is it not picking up the configuration for some reason?

[2020-06-24 05:40] tdcmeehan commented on #14705
@jeremy-degroot thanks, this is indeed a bug.  Do you want to submit a pull request to fix this issue?

[2020-06-24 07:30] jiemar opened #14714 "show partitions from hive table is not supportted?"
show partitions from hive table  is not supportted?

[2020-06-24 15:58] #10853 closed

[2020-06-24 17:10] jeremy-degroot commented on #14705
Yes, I'd be interested in trying to fix it.
This would be my first Presto contribution, anything I should know aside from what's in the community guidelines and README before I attempt it?

[2020-06-24 17:20] tdcmeehan commented on #14705
@jeremy-degroot nope, that covers it.

[2020-06-24 19:49] rongrong commented on #14690
Spec didn't seem to mention a `sleep` function. And introducing this in production doesn't sound like a good idea. If we want this for testing, we can introduce such function and only register it for test environment.

[2020-06-24 20:10] rongrong commented on #14693
If most other databases remove trailing 0 we can change the behavior. Not sure what's the migration implications. @kaikalur  thoughts?

[2020-06-24 20:39] Yafeng-Cheng commented on #12923
Any updates on this? Camel case is basically useless in such structure if not case sensitive.

[2020-06-25 01:08] #14218 closed

[2020-06-25 03:55] dzhi-lyft commented on #12090
Here is the patch (add .txt suffix to be able to drop here) I created before based on version 0.210.

[0001-Coordinator-driven-graceful-shutdown-of-worker-nodes.patch.txt](https://github.com/prestodb/presto/files/4829018/0001-Coordinator-driven-graceful-shutdown-of-worker-nodes.patch.txt)

[2020-06-25 06:38] tarigancana commented on #14714
you can use :
`SELECT * FROM database."table_name$partitions"`

[2020-06-25 06:44] #14714 closed

[2020-06-25 18:28] #14011 closed

[2020-06-25 23:26] #8552 closed

[2020-06-26 16:34] tarigancana opened #14730 "Check Parquet schema mismatch 0.225 > 0.226"
Hi,
I just upgraded our presto version from 0.225 to 0.235 and found some error while querying the same query before.
`The column duration_from_duration is declared as type bigint, but the Parquet file declares the column as type INT32`

I just check the source and release notes that this changes since 0.226
https://github.com/prestodb/presto/commit/5d18a1c01d048bec435e587887bf20ffbe9794f8

https:

[2020-06-26 18:15] rongrong commented on #14677
Sorry it's not clear to me what you mean. Are you talking about casting REAL to DOUBLE would potentially change its value? Can you clarify how to achieve that? Thanks!

[2020-06-26 19:20] fgwang7w commented on #14677
Thanks for the feedback. The problem here is that if a user wants to cast decimal to a consistent format, in this case, type in double format, current implementation fails to enforce a cast literal transformation.
The the solution is that prior to pushdown, enforce by a new RBO rule named "EnforceDoubleLiteralTransformation" to ensure the filter expression is rewritten to handle any cast needed, i

[2020-06-26 21:16] yuzhu commented on #12025
i have noticed that after msck repair, i needed to run a select query in hive before presto can pick up the change and show results for select queries.. no idea why though..

[2020-06-26 21:22] #9769 closed

[2020-06-26 21:54] viczhang861 opened #14731 "Result is wrong for function classification_fall_out for version 0.237 and earlier"
The numerator of formula should be false positive for classification aggregate function https://prestodb.io/docs/current/functions/aggregate.html

[2020-06-27 01:56] mbasmanova commented on #14731
CC: @kaikalur @rongrong @caithagoras

[2020-06-27 01:58] mbasmanova commented on #14701
@fgwang7w Are you proposing to limit the amount of data scanned on a single node or on all nodes that process a given query?

[2020-06-27 02:03] mbasmanova commented on #14687
@memeplex Session property `query_max_stage_count` specified the limit which cannot be exceeded, e.g. a query will fail if it has more than specified stages. The warning is issued based on configuration property `query.max-stage-count` which cannot be modified via session property. It has to be set in cluster config and the cluster must be restarted.

[2020-06-27 02:05] mbasmanova commented on #14686
@HY-Stars Would you like to contribute this improvement? What's the use case that is impacted by not having this?

[2020-06-27 02:07] mbasmanova commented on #14679
We don't have experience with SAP BOBJ. Here are some resources which come up on Google:

* https://www.cdata.com/kb/tech/presto-jdbc-sap-businessobjects.rst
* https://blogs.sap.com/2017/08/21/combinging-the-best-of-big-data-and-sap-businessobjects/

[2020-06-27 02:10] mbasmanova commented on #14673
@raymondluo1986 I'm not sure I understand the question. "Why the bloom-filters is invalid?" - What do you mean exactly? Would you explain?

[2020-06-27 02:12] mbasmanova commented on #14666
Could you provide the output of `mvn -v`? Here is mine:

[code]

[2020-06-27 02:14] mbasmanova commented on #14658
Is `example.net:5432` actually correct? Perhaps, launch CLI with --debug flag, re-run the query and share the stack trace here.

[2020-06-27 02:15] mbasmanova commented on #14651
What is the error?

[2020-06-27 02:16] mbasmanova commented on #14651
This question might has been answered in https://github.com/prestodb/presto/issues/11410

[2020-06-27 02:17] mbasmanova commented on #14651
Copying @electrum's answer here for convenience:

----
There are two ways to set session properties in the JDBC driver. One way is to execute `SET SESSION` on the `Connection` before you run the query (on the same connection used for the query). The other way is to call a Presto-specific method:
[code]

[2020-06-27 02:23] mbasmanova commented on #14599
@sivankumar86 Bucket pruning is currently available only for equals and IN clauses. See https://github.com/prestodb/presto/pull/13804

Would you like to contribute bucket pruning for additional predicates?

[2020-06-27 02:30] mbasmanova commented on #14706
@hitesh1907nayyar `from_unixtime` is all you need:`SELECT from_unixtime(CAST(timestamp AS bigint)) FROM wqmparquet;`

[2020-06-27 02:33] mbasmanova commented on #14702
I don't believe this is supported out of the box, but this post might be helpful: https://blog.starburstdata.com/technical-blog/starburst-secrets-presto-security

[2020-06-27 02:36] mbasmanova commented on #14730
@vkorukanti Venki, would you take a look? Sounds like a recently introduced regression. https://github.com/prestodb/presto/pull/14548

CC: @zhenxiao @rongrong

[2020-06-27 02:38] mbasmanova commented on #14672
@huanchuanjian We'd need a bit more information to help. Would you explain what are you trying to achieve?

[2020-06-27 02:43] mbasmanova commented on #14569
Oh... This is because spatial join is triggered only for  `ST_DISTANCE(a, b) < r`  and  `ST_DISTANCE(a, b) <= r`. In the first query, spatial join is trigged by `< 4` with conjunct `> 2` applied after the join. In the second query, there is no eligible condition. It would be cool to enhance the optimizer to trigger spatial joins `ST_DISTANCE(a, b) between r1 and r2`.

CC: @zhenxiao

[2020-06-27 02:47] mbasmanova commented on #14519
@qianmoQ I'm not sure I understand this. Are you seeing an error after modifying the Presto code?

[2020-06-27 02:50] mbasmanova commented on #14502
@caniszczyk Is this something you'd be interested in pursuing?

[2020-06-27 02:51] mbasmanova commented on #14497
@quietgopher Did @rschlussel's comment answer you question?

[2020-06-27 02:51] mbasmanova commented on #14489
CC: @kaikalur @rongrong

[2020-06-27 02:53] mbasmanova commented on #14487
@Abdillah What is "aggregate select"? Can you share the full query?

[2020-06-27 02:55] vkorukanti commented on #14730
@mbasmanova Actually this issue is fixed by #14548 , but it is available in 0.236. @tarigancana Either you can cherry-pick #14548 or move to 0.236.

[2020-06-27 03:00] #14478 closed

[2020-06-27 03:01] mbasmanova commented on #14462
@mchades Did @rschlussel answered your question? If so, let's close this issue.

[2020-06-27 03:03] mbasmanova commented on #14459
@wsjz I don't understand the question. Would you provide some more details about what you are trying to achieve and what's not working?

[2020-06-27 03:03] #7989 closed

[2020-06-27 03:04] mbasmanova commented on #14453
@same3r @wenleix Any ideas?

[2020-06-27 03:05] mbasmanova commented on #14442
@HY-Stars Would you like to contribute a cross-port?

[2020-06-27 03:08] mbasmanova commented on #14414
@imrelori Would you share a snippet from the server.log where you see the property not being set?

[2020-06-27 03:09] mbasmanova commented on #14410
CC: @yingsu00

[2020-06-27 03:10] #14401 closed

[2020-06-27 03:12] mbasmanova commented on #14400
Looks like Subfield doesn't support column names with spaces.

[code]

@bhhari @sujay-jain

[2020-06-27 03:19] mbasmanova commented on #14378
Which version of Presto are you on?

CC: @jainxrohit

[2020-06-27 03:20] mbasmanova commented on #14377
@datapa123 Did @Ravion's advice solve the problem? If so, let's close this issue.

[2020-06-27 07:54] fgwang7w commented on #14701
Hi Maria, thanks for your feedback, the fix is to ensure a threshold to limit the input data size at query level. A new system variable 'query.max-scan-physical-bytes' will be defined to guard inside query manager

[2020-06-27 10:17] ahlag commented on #14651
Ok! Thank you for helping! That solves the problem.

[2020-06-27 10:17] #14651 closed

[2020-06-27 10:33] mbasmanova commented on #14701
Sounds good. It is not clear to me how this will be enforced in a distributed setting though. Feel free to send a WIP PR or describe the design in details here.

[2020-06-27 10:40] #10887 closed

[2020-06-27 13:01] hqisog opened #14737 "presto-jdbc can support delete operation ?"
i  find  the presto connector of mysql couldn't support delete operation.  and i find presto-jdbc  have not provided interface for delete operation . how can i achieve it ?

[2020-06-27 14:13] tarigancana commented on #14730
Thanks for response @vkorukanti will check on 0.236 and update the issue later

[2020-06-28 01:40] #14462 closed

[2020-06-28 03:44] HY-Stars commented on #14686
Thank You @mbasmanova. Because DatabaseMetadata.getClientInfoProperties standard JDBC specification is not implemented by the Presto JDBC driver the Client Application connector that we are using is calling this method from the Presto JDBC Driver to get the Metadata Properties from Presto DB Server and as a result the transaction breaks with the above error message with the Connector.

Below are t

[2020-06-28 04:02] HY-Stars commented on #14442
@mbasmanova This has been implemented with the 0.236 JDBC Driver. I was testing this implementation and encountered a new issue with DatabaseMetadata.getClientInfoProperties #14686 so did not close this issue yet.

https://prestodb.io/docs/current/release/release-0.236.html
DBC Changes:
Add support for PreparedStatement#getMetaData.

[2020-06-28 04:42] fgwang7w commented on #14701
pr:`14739`

[2020-06-28 04:44] fgwang7w commented on #14701
sure, please help review the PR#14739 and let me know if you have any questions. thanks~

[2020-06-28 06:43] tarigancana commented on #14730
hi @vkorukanti & @mbasmanova I just update the presto to 0.236 and confirm that this issue is not happen again..
But i found another issue that our Hive Metastore cpu is goes to 100% and also make the Out of Memory

[code]

I also try update to 0.237 and the problem still happen. any suggestion?

![Screen Shot 2020-06-28 at 13 43 04](https://user-images.githubusercontent.com/11748229/85940218-56e5

[2020-06-28 08:02] fornaix commented on #14731
I think it's a mistake only in the document. The numerator of formula is false positive for `classification_fall_out` in code.
But the definition of false-positive and false-negative in code seem incorrect.
I will try to make a pr to fix them later.

[2020-06-28 12:03] #6944 closed

[2020-06-28 19:07] memeplex commented on #14687
@mbasmanova AFAICS that contradicts what is stated in the [release notes for 0.208](https://prestosql.io/docs/current/release/release-0.208.html), specifically:

Nevertheless I got an [answer in SO](https://stackoverflow.com/a/62495990/2012920) explaining that there are hard and soft limits and it's the soft flavor that cannot be set at the session level. Is that right?

[2020-06-28 23:10] aweisberg opened #14744 "Commit hook or test to error on bad co-author tags"
We have had cases where co-author tags were malformed or missing.

A commit hook that fails on a Co-author tag that doesn't have an email address in "<>" would be useful. It might also be helpful it if it could warn if a commit mentions backporting or cherry picking, but doesn't also include a co-author tag. Not sure if git commit hooks can emit log output.

This could also be implemented as a tes

[2020-06-29 00:36] ragrawal commented on #12243
+1 on the idea. I ended up using tdigest + pyspark to compute trimmed mean. You can read about it over here: https://ragrawal.wordpress.com/2020/06/28/an-efficient-way-to-compute-trimmed-mean/

[2020-06-29 04:03] xumingming opened #14745 "Presto + Alluxio Cluster"
Alluxio as a BigData Cache layer is very useful to reduce query latency, current Presto user can use Alluxio Cluster in two ways:

* Use a alluxio:// location when creating the table.
* Use Alluxio Catalog Service

"Use a alluxio:// location when creating the table" will need the user to know that, there is an Alluxio in the process, We think as a cache, user should not need to care about the conc

[2020-06-29 11:18] mbasmanova commented on #14442
Fixed in #14460 by @adamjshook

[2020-06-29 11:18] #14442 closed

[2020-06-29 11:19] mbasmanova commented on #14686
@adamjshook Do you already have plans to implement this? If not, would you like to consider this fix?

[2020-06-29 11:20] mbasmanova commented on #14029
Folks, is there anything else needed to be done here? If not, let's close this issue.

FYI, there is a related, but probably different issue #14686

[2020-06-29 11:23] mbasmanova commented on #14701
@fgwang7w George, a proper syntax for linking to issues and PRs is #<number>, not pr:`number` or issue:`number`. The latter syntax is for documentation.

[2020-06-29 11:41] mbasmanova commented on #14730
@tarigancana Rancana, since the original issue is fixed, let's close this issue and open a separate one for the new issues you are seeing.

For the 100% CPU utilization and out-of-memory issue in Hive Metastore: @vkorukanti Venki, are there any new calls to the metastore or have the frequency of existing calls changed? Rancana, use [async profiler](https://github.com/jvm-profiling-tools/async-prof

[2020-06-29 11:45] mbasmanova commented on #14731
CC: @atavory

[2020-06-29 11:48] mbasmanova commented on #14687
@memeplex You are correct. The release notes are not telling the complete story :-) The answer on Stack Overflow is accurate.

I'm going to close this issue assuming it is resolved. Feel free to reopen if there is more to look into or discuss.

[2020-06-29 11:48] #14687 closed

[2020-06-29 12:31] xumingming opened #14746 "Optimize Hive Connector's file path filtering merchanism"
Currently Hive Connector hive a merchanism to filter the file path to be scanned:

[code]

The filtering is using PathFilter, which only have the path, dropped the information which is available in `HiveFileInfo` e.g. `HiveFileInfo#isDirectory()`, I'd suggest we do the filtering using HiveFileInfo:

[code]

If you guys are ok with this, I'd be happy to contribute a patch to optimize this.

[2020-06-29 13:08] adamjshook commented on #14686
@mbasmanova I can work on it, but some pointers on implementation details would be helpful.  Is there a means to get the client info properties already through SQL or some other API? If not, what would you recommend?

[2020-06-29 13:30] mbasmanova commented on #14686
@adamjshook Thank you, Adam. I think you can start by checking out com.facebook.presto.jdbc.ConnectionProperties#allProperties and com.facebook.presto.jdbc.PrestoDriver#getPropertyInfo

[code]

[2020-06-29 16:25] caniszczyk commented on #14502
This is something the core maintainers should do as they are the experts, I
can't speak on behalf of the project really

On Fri, Jun 26, 2020 at 9:50 PM Maria Basmanova <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-06-29 19:39] jessicashelton-wk commented on #14029
@mbasmanova looks like this is good to close, thank you!

[2020-06-29 19:39] #14029 closed

[2020-06-30 04:23] tarigancana opened #14749 "OOM on hive metastore after upgrade from 0.225 to 0.236"
I just update the presto to 0.236 found issue that our Hive Metastore cpu is goes to 100% and also make the Out of Memory
[code]

I also try update to 0.237 and the problem still happen. any suggestion?

![Screen Shot 2020-06-28 at 13 43 04](https://user-images.githubusercontent.com/11748229/85940218-56e5bc80-b945-11ea-9e75-a50e14c5ed0c.png)

[2020-06-30 04:24] tarigancana commented on #14730
@mbasmanova let me try that profiling to find the root cause of this problem
i just open new issue related to this OOM https://github.com/prestodb/presto/issues/14749
so we can closed this issue :)

[2020-06-30 11:33] mbasmanova commented on #14749
CC: @vkorukanti

[2020-06-30 11:33] mbasmanova commented on #14749
CC: @zhenxiao

[2020-06-30 11:33] #14730 closed

[2020-06-30 14:37] viczhang861 opened #14750 "Result is wrong for function classification_miss_rate for version 0.237 and earlier"
Due to wrong arguments passed to constructor method of `BucketResult`,  the result from aggregation function `classification_miss_rate` is wrong in version 0.237 and earlier.

Fixed in https://github.com/prestodb/presto/pull/14740

[2020-06-30 15:35] adamjshook commented on #14686
@mbasmanova

As I look more into this, I think the client info properties that are supported are `ApplicationName`, `TraceToken`, `ClientTags`, and `ClientInfo`, which are used in [startQuery](https://github.com/prestodb/presto/blob/e34525404c016e0cdd88bf2682d4efddf393d7c8/presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoConnection.java#L670).  While it seems like you can set whatever you

[2020-06-30 16:01] vkorukanti commented on #14749
AFAIK, we haven't made any changes in Parquet that could cause the increase in HMS calls. @tarigancana Can you check the HMS log to see what calls are coming from Presto?

[2020-06-30 17:55] #14731 closed

[2020-06-30 17:55] #14750 closed

[2020-06-30 19:08] mbasmanova commented on #14686
@adamjshook Maybe just

[code]

[2020-06-30 19:15] adamjshook commented on #14686
@mbasmanova Didn't think about that!  Very nice.  I'll open a PR soon.

[2020-06-30 21:37] mbasmanova commented on #14746
CC: @yingsu00 @bhhari @oerling @sujay-jain @jbroll

@xumingming I don't understand the optimization you propose. Would you explain?

[2020-06-30 21:38] mbasmanova commented on #14745
CC: @jainxrohit

[2020-06-30 21:40] mbasmanova commented on #14737
This is a known limitation: https://prestodb.io/docs/current/connector/mysql.html

@jainxrohit @highker Anything to add here?

[2020-06-30 21:57] jainxrohit commented on #14745
cc: @apc999

[2020-06-30 22:13] jainxrohit commented on #14745
@xumingming Thanks. We recently published a blog which has more details on things like monitoring:
https://prestodb.io/blog/2020/06/16/alluxio-datacaching

Can you please provide more details on the request for Tiered storage and control on cache?

[2020-06-30 22:37] #14705 closed

[2020-06-30 23:37] fgwang7w commented on #14701
thanks, updated

[2020-07-01 00:18] highker commented on #14737
That is correct. Actually, that shouldn't be hard as jdbc client construct SQLs to pass down to the storage engine.

Anyone feel free to grab the tasks.

[2020-07-01 00:19] tarigancana commented on #14749
This is the log before oom

[code]

[2020-07-01 03:56] xumingming commented on #14746
@mbasmanova
Internally, we have a feature to filtering the files to be scanned based on filename patterns, e.g. `*.csv`, `*.parquet` etc. So we need to only filter on the concrete file path not the directory path, the logic is something like:

[code]

So we need to know whether current path is a directory or not.  And since the output the HiveFileIterator is HiveFileInfo, I think it make sense to

[2020-07-01 06:01] apc999 commented on #14745
@xumingming thanks for the interests. Another feature you can take a look, to make Alluxio transparent to users, is https://docs.alluxio.io/ee/user/stable/en/operation/Transparent-Uri.html  let me know if this works for you

[2020-07-01 08:27] amitsadaphule commented on #14550
@rschlussel I tried to raise PR on testing-postgresql-server repo (https://github.com/prestodb/testing-postgresql-server/pull/2) yesterday. There was no mention of a CLA in the repo or old PR, but an EASYCLA check popped up in the PR. Could you please help me with the following info?
- Is this CLA specific to the testing-postgresql-server repo or is it applicable across https://github.com/prestodb

[2020-07-01 10:58] rschlussel commented on #14550
@amitsadaphule it's the same cla across prestodb.  It's possible old prs are from before the presto foundation was formed, so they didn't have the cla configured.  The link should take you to a page where you select whether you are contributing on behalf of an individual or corporation, and then take you to the appropriate page to sign.  Once it's been signed, you'll need to push an update to your

[2020-07-01 12:17] mbasmanova commented on #14746
CC: @kewang1024 @highker @jainxrohit

Why would that be useful? How do you create the files? In Hive, each directory stores all the files that belong to a given partition. I don't understand how a single directory can have files of different formats.

[2020-07-01 12:39] xumingming commented on #14746
The feature is useful when the files are uploaded by user manually or by other program rather than managed by Hive, it is not a so common use case, but it is useful when user need it.

[2020-07-01 12:50] mbasmanova commented on #14746
@xumingming James, the change you propose might be ok. Would you submit a PR so we can see what are the actual changes? Also, would you explain how you are going to use the new API? Are you going to maintain a private patch that uses a different implementation of the HiveFileInfoFilter?

[2020-07-01 13:08] xumingming opened #14759 "Hive Connector: Ignore empty files when scanning files"
Currently if the table(external table) are created as format e.g. Parquet, and there is an empty file(zero length) in the directory, an error will occur:

[code]

For the ease of use, we can safely skip all the empty files to avoid this error, how do you guys think? (The empty file use case will not occur if the files are managed by Hive, but could occur if the files are uploaded by user or any ot

[2020-07-01 13:26] xumingming commented on #14746
@mbasmanova ok, I will submit a PR recently. After the filtering mechanism is optimized, our private fork of Presto will plugin in a piece of code in BackgroundSplitLoader, which will construct a HiveFileInfoFilter using the following logic:

[code]

And this pattern will be passed along into HiveFileIterator.

[2020-07-01 13:29] mbasmanova commented on #14746
@xumingming Got it. Thanks for explaining. Looking forward to a PR.

[2020-07-01 15:23] okaybrian commented on #14666
Thanks for getting back.
In fact I downloaded a newer version and use Java 11.
With option -DSkipTests, it compiled.

mvn -v
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /usr/lib/apache-maven-3.6.3
Java version: 11.0.7, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-11-openjdk-11.0.7.10-4.el7_8.x86_64
Default locale: en_US, platform encoding: UTF-8
OS name: "li

[2020-07-01 15:23] #14666 closed

[2020-07-01 15:51] mbasmanova commented on #14666
@okaybrian Thank you for the update. Glad to hear you were able to compile Presto successfully.

[2020-07-01 18:11] Frogglet opened #14763 "Is there any way to just use a basic MapType from a simple function-only plugin?"
I need to create and handle some simple `map(varchar, varchar)`s in my plugin. But in order to do that you need to pass in 4 MethodHandles: `keyBlockNativeEquals`, `keyBlockEquals`, `keyNativeHashCode`, `keyBlockHashCode`. The only examples I see of this being done involves using a TypeManager, and as far as I am aware a simple plugin that just exports functions does not have access to that. Is th

[2020-07-01 18:44] #14686 closed

[2020-07-01 22:03] kunalkohli opened #14769 "Approx_percentile() function definition is different from presto manual"
In current presto documentation to find percentiles in Presto we use `approx_percentile(x, percentage, accuracy)` where accuracy defines the error tolerance for the values.

[2020-07-01 22:25] #14769 closed

[2020-07-01 22:28] mbasmanova commented on #14759
@xumingming Do you have a full stack trace? Does the error come Parquet reader. It might be reasonable to not fail on empty files, but return empty Page.

CC: @bhhari @oerling @jbroll @sujay-jain

[2020-07-01 22:28] mbasmanova commented on #14759
CC: @zhenxiao

[2020-07-01 22:31] mbasmanova commented on #14763
@Frogglet You should be able to get access to TypeManager via com.facebook.presto.spi.connector.ConnectorContext#getTypeManager

[2020-07-01 22:39] mbasmanova commented on #14763
You might be right. What kind of functions do you create? Why do you need to manipulate the MapType?

[2020-07-01 23:41] Frogglet commented on #14763
My function is taking in some base64 text and deserializing it into new arrays and maps and returning it back to the caller. So I need a way to create the map and then populate it with the data as I decode it. I think I found from elsewhere that I could inject the MapType into a function using a the @TypeParameter annotation as the first function argument? I am going to try that out and see. Also,

[2020-07-01 23:44] mbasmanova commented on #14763
Maybe you could do something similar to `com.facebook.presto.block.TestColumnarMap#createMapBuilder`

[2020-07-02 00:22] zhenxiao commented on #14759
hi @xumingming @mbasmanova I feel if a Hive connector table with metadata specified as Parquet format, all files should be Parquet format. empty files seems invalid cases. Am not convinced to have ParquetReader skip non-parquet-empty files. What do you think?

[2020-07-02 00:55] kunalkohli opened #14772 "Approx_percentile() implementation gives wrong results with accuracy specified as param"
Currently in presto documentation, when we are trying to find percentiles with more accurate results we are supposed to use `Approx_percentile()` which as per the documentation has this syntax :

![image](https://user-images.githubusercontent.com/32186649/86302245-1ea8dd00-bbd6-11ea-9e4d-2c1d2ddbf6bf.png)

By default the **accuracy is set to 0.01** but this can be changed in the syntax when called

[2020-07-02 00:56] mbasmanova commented on #14759
@zhenxiao We had a similar discussion about empty ORC files. Hive connector currently fails to read these. This is correct behavior I think. At the same time, looks like there are use cases where empty files do show up in the directory and cause failures that are disruptive to the users.

[2020-07-02 00:58] mbasmanova commented on #14772
CC: @jagill

[2020-07-02 00:58] mbasmanova commented on #14772
CC: @kaikalur @tdcmeehan

[2020-07-02 01:19] kunalkohli commented on #14772
Ran a docker instance of presto and tested the above query there :
[code]

![image](https://user-images.githubusercontent.com/32186649/86305518-d8587b80-bbdf-11ea-85c6-0466f88c02be.png)

I will check if there is some issue in my local presto instance.

[2020-07-02 01:54] xumingming commented on #14759
Yeah I agree from "strict" perspective, it is totally right to throw exceptions for empty files which are illegal for format like ORC, Parquet. This issue arise most when the files are uploaded by user, or generated by other programs, we have use cases that data is generated by some other services, the service will generate empty file when there is no data. Push the service to fix the issue will r

[2020-07-02 03:04] #6461 closed

[2020-07-02 03:04] #4075 closed

[2020-07-02 04:00] zhenxiao commented on #14759
get it. sure. how about an idea of:
1. having a configurable hive property to skip empty files, default to be false
2. for ORC, Parquet, RCFile, and other cursors to skip empty file when scanning
what do you think? @xumingming @mbasmanova

[2020-07-02 08:13] xumingming commented on #14759
@zhenxiao So you mean for ORC/Parquet/RCFile, we auto-skip empty files; For other format we respect the newly added flag?

[2020-07-02 10:48] mbasmanova commented on #14759
Having an hive.skip-emply-files configuration flag with default value of false sounds good to me. By default, queries fail to scan empty files. When flag is set, queries succeed.

[2020-07-02 11:16] xumingming commented on #14759
OK, sounds good to me :)

[2020-07-02 11:39] jagill commented on #14772
The FB clusters have the expected behavior: the first three `approx_percentile` calls all return 200, and the last is a syntax error.  OP's behavior is consistent with his conjecture that the second argument in the 2nd and 4th case is cast to a BIGINT.  The call `APPROX_PERCENTILE(num, cast(0.5 as v), 0.01)` returns 1, as expected: 0.5 is cast to 1, and the 1th percentile of the list is 1.

I know

[2020-07-02 13:51] kunalkohli commented on #14772
@jagill I am also confused by the different versions of documentation present online for presto.

https://prestosql.io/docs/current/functions/aggregate.html : Doesn't have the implementation of `approx_percentile(x, percentage, accuracy) `

https://prestodb.io/docs/current/functions/aggregate.html : has the implementation of `approx_percentile(x, percentage, accuracy) `

Is there a reason where we

[2020-07-02 13:54] mbasmanova commented on #14772
@kunalkohli prestosql.io is a fork of this project, prestodb.io. If you are using PrestoDB you should use documentation from prestodb.io. If you are using PrestoSQL you should use the other documentation.

[2020-07-02 14:08] kunalkohli commented on #14772
Thanks guys for clearing this confusion. Closing this issue for now.

Also the current prestodb implementation expects weight to be an INTEGER if we call approx_percentile(x, w, percentage)  but in prestosql implementation we except weight to be a double as can be seen [here](https://github.com/prestosql/presto/blob/master/presto-main/src/main/java/io/prestosql/operator/aggregation/ApproximateDoub

[2020-07-02 14:13] #14772 closed

[2020-07-02 23:30] #10903 closed

[2020-07-03 11:48] imrelori commented on #14414
`2020-04-07T11:32:11.108Z	INFO	main	Bootstrap	hive.recursive-directories                         false             false`

[2020-07-03 23:18] viczhang861 opened #14777 "LBM: Unsupported type: date when collecting stats for temporary tables"
Triggered when large batch mode is on and stats are collected for temporary table.
Stacktrace:
`java.lang.IllegalArgumentException: Unsupported type: date
	at com.facebook.presto.hive.PrismStatistics.getSupportedColumnStatistics(PrismStatistics.java:96)
	at com.facebook.presto.prism.metastore.thrift.PrismHiveMetastore.getSupportedColumnStatistics(PrismHiveMetastore.java:325)
	at com.facebook.prest

[2020-07-04 03:21] raymondluo1986 commented on #14673
@mbasmanova
sorry!My English is the general as.
in presto web ui show:

Input Rows 69.2K
Input Data 3.57MB
Raw Input Rows 30.1M
Raw Input Data 144.83MB
Peak User Memory 0B
Peak Total Memory 704B

the Raw Input Rows is 30.1M,and the Input Rows is 69.2K。

if the bloom-filters is run normally，the Raw Input Rows should be near 69.2K。

[2020-07-04 15:47] maheshsv commented on #14744
Hey Presto Team:

I can take this issue and fix it can you please assign it to me or let me know the process

[2020-07-04 15:47] BigDataDaddy commented on #13778
Any movement in the last 8 months on this issue?

Databricks is claiming a Presto/Athena integration in public preview here: https://docs.databricks.com/delta/presto-integration.html.

I see some serious flaws in the integration that make the HMS metadata for a table not compatible with other consumers of the HMS and for S3 a regression that eliminates EMRFS for EMR Presto re-exposing EMR Presto t

[2020-07-04 16:20] aweisberg commented on #14744
Thanks for looking at this. I added you to the contributor team and assigned this to you.

[2020-07-05 00:09] #10942 closed

[2020-07-05 14:56] maheshsv commented on #14744
There is no programmatic way using only git to force a repository to install hooks when it is cloned.

That said, a common practice is to bundle hooks into a folder like hooks/ within your repository, and then either

explain how to install them in the README, or
provide a script which will install them after cloning that the user has to run manually.

dude please let me know whether i can write t

[2020-07-05 15:01] maheshsv commented on #14744
So, no, there is no programmatic way using only git to force a repository to install hooks when it is cloned.

That said, a common practice is to bundle hooks into a folder like hooks/ within your repository, and then either

explain how to install them in the README, or
provide a script which will install them after cloning that the user has to run manually.

@aweisberg  Can i create hook folder

[2020-07-05 15:08] aweisberg commented on #14744
If we can't automate hooks from git we should use PR validation and gating that is built into GH. It's not worth doing something that requires people to opt in.

[2020-07-05 15:16] maheshsv commented on #14744
what is PR validation ?

[2020-07-05 15:31] aweisberg commented on #14744
https://docs.github.com/en/github/administering-a-repository/about-required-status-checks
https://developer.github.com/v3/repos/statuses/

Seems like you need to have a service running somewhere? This is one reason to make this part of the Travis tests. The test needs to identify what commits are part of the PR and if the commits contain co-author tags it should try and validate that they are corr

[2020-07-05 15:36] maheshsv commented on #14744
![image](https://user-images.githubusercontent.com/5570668/86536172-22ed3700-bf03-11ea-86f9-3158d3851d61.png)

reference: https://www.atlassian.com/git/tutorials/git-hooks,https://docs.gitlab.com/ee/administration/server_hooks.html

[2020-07-05 15:37] maheshsv commented on #14744
@aweisberg  I can deep dive  into Travis side and let you know as well

[2020-07-05 16:52] #10877 closed

[2020-07-06 06:52] mikys-next-insurance commented on #9062
I also bumped into this error -
`SQL Error [65543]: Query failed (#20200706_064520_00021_9swc5): Compiler failed`
because of a very complicated field.
Would appreciate if you can reopen this

[2020-07-06 12:34] mbasmanova commented on #14414
@imrelori Could it be that Presto doesn't see this configuration file? Can you change some other property and see if it takes effect?

[2020-07-06 12:41] mbasmanova commented on #14673
@dilipkasana Is this something you'd know how to investigate?

[2020-07-06 12:43] mbasmanova commented on #14673
@raymondluo1986 This could be the same issue as https://github.com/prestodb/presto/issues/7120#issuecomment-478497728

[2020-07-06 19:14] viczhang861 opened #14787 "max_by and min_by queries fail with PageFile in LBM"
In large batch mode with presto native format,  queries with `max_by` or `min_by ` sometimes fail, this is data dependent and not able to reproduce without customer data.

[code]

Stack trace:
[code]

[2020-07-06 19:54] xanderblinov opened #14790 "Unexpected parameter --password for cli"
At issue https://github.com/prestodb/presto/issues/8361 @electrum advised to use `--password` for presto-sli authentication. Unfortunately I got error:

[code]
I used jar from https://prestodb.io/docs/current/installation/cli.html

See --help output below: there is no --password option
[code]

[2020-07-06 20:32] xanderblinov commented on #14790
Used some wrong executable. Downloads it again and works fine

[2020-07-06 20:32] #14790 closed

[2020-07-07 04:45] dilipkasana commented on #14673
@raymondluo1986 can you post the metadata output for your orc file by executing following command :
1. hive --orcfiledump filename
2. java -jar orc-tools-1.6.3-uber.jar meta filename (https://orc.apache.org/docs/java-tools.html)

[2020-07-07 07:03] raymondluo1986 commented on #14673
@mbasmanova @dilipkasana
My issue is the same issue as #7120 and #12900.
in order to fix my system exception, I executed the following step.
(1) I modified the statement to create the table.
CREATE TABLE test_bloom(
uuid_key STRING,
media_file_name STRING,
vehicle_id INT,
play_auto_count INT,
) partitioned by (DataYear STRING, DataMonth STRING, DataDay STRING)
STORED AS ORC
TBLPROPERTIES('orc.crea

[2020-07-07 08:04] ruthxhz opened #14796 "cast function bug"
select cast('1991-04-14' as timestamp) from default.dual ,
result:value cannot be cast to timestamp: 1991-04-14,why????

select cast('1991-03-14' as timestamp) from default.dual ,
result:1991-03-14 00:00:00

[2020-07-07 10:52] mbasmanova commented on #14673
@raymondluo1986 Glad to hear that you found the workaround. I'm going to close this issue, but feel free to reopen if you have any follow up questions.

[2020-07-07 10:52] #14673 closed

[2020-07-07 10:58] mbasmanova commented on #14777
@viczhang861 Vic, is the fix is to disable stats collection for temporary tables?

[2020-07-07 11:01] mbasmanova commented on #14796
@ruthxhz Which Presto version are you using? I'm not able to reproduce with latest.

[code]

[2020-07-07 11:07] mbasmanova opened #14797 "Intermittent failures in TestRepartitionQueries.testVarchar"
TestRepartitionQueries.testVarchar  sometimes fails:

[code]

CC: @yingsu00 @kewang1024

[2020-07-07 11:08] #14400 closed

[2020-07-07 12:14] David-Wong110723 opened #14798 "try_cast function bug"
select try_cast((regexp_extract('22Y9M12D', '\d+')) as bigint)  > 3
result:  Query 20200707_120319_00008_dnyt2 failed: Cannot cast 'ô¿¿ô¿¿ô¿¿ô¿¿ô¿¿ô¿¿ô¿¿ô¿¿' to BIGINT

select try_cast((regexp_extract('22Y9M12D', '\d+')) as double)  > 3
result:  false

[2020-07-07 16:06] fvcortes commented on #14530
Hello @KannarFr,
Can you give me a brief explanation of the purpose of this feature?
I am willing to do this.

[2020-07-07 16:48] KannarFr commented on #14530
@fvcortes the goal is to support JWT auth on web interface, so maybe prompt for a JWT auth & store in localstorage/sessionstorage.

[2020-07-07 19:59] rschlussel opened #14801 "Flaky TestElasticsearchIntegrationSmokeTest.testMultiIndexAlias"
Example stacktrace from travis run

[code]

[2020-07-07 20:03] rschlussel commented on #14801
haven't dug into it, but you might just need to make the test class single threaded.

[2020-07-07 23:29] #14801 closed

[2020-07-08 02:22] #10955 closed

[2020-07-08 03:42] chdw opened #14804 "[JDBC] Implement ResultSet.getStatement() API"
In my code, I pass only resultSet into my method, without statement object

I try to call rs.getStatement() to get some infos, but it throw a NotImplementedException.

Can this method be implemented in the next release?

[2020-07-08 04:11] #14598 closed

[2020-07-08 11:54] canob opened #14806 "[ElasticSearch Connector] Add support for ip/ip_range data types"
Hi,

It is possible to support ip data type in ElasticSearch Connector (IPADDRESS data type in Presto)?

PrestoDB has data types and functions that PrestoSQL hasn't, like IP_PREFFIX, that are perfect for work with subnets/CIDR in queries, but lack for example the ip/IPADDRESS data type in ElasticSearch Connector, which PrestoSQL has (alongside with long | BIGINT for example, which is the other dat

[2020-07-08 12:29] iammehrabalam commented on #14293
@suryadevarauday I am also facing this issue.
Did u solve this issue?

Presto version: 332
Ranger version:  2.1.0-SNAPSHOT (build from master)

[2020-07-08 13:16] suryadevarauday commented on #14293
Yeah i was able to solve this by adding in "all - catalog" policy name on presto (ranger)

[2020-07-08 14:21] mbasmanova commented on #14798
@David-Wong110723 I'm not able to reproduce this using latest master. Which version are you using?

[code]

[2020-07-08 14:23] mbasmanova commented on #14804
@chdw Would you like to contribute this enhancement?

CC: @adamjshook

[2020-07-08 14:23] mbasmanova commented on #14806
CC: @zhenxiao

[2020-07-08 14:24] mbasmanova commented on #14806
@canob Alejandro, would you like to contribute these enhancements?

[2020-07-08 15:02] weidongduan37 opened #14807 "Session value is not correct, the bahavior of server and client is not consistent"
presto version: 0.236

case 1:

TZ=UTC java -jar presto-cli-*-executable.jar  --server http://localhost:8080  --user admin  --session execution_policy="a+1" --execute "SELECT 1 FROM (VALUES (ARRAY[1])) AS t (a) CROSS JOIN UNNEST(a)"

The request http header is as following:

X-Presto-User: admin
User-Agent: StatementClientV1/0.236xx
X-Presto-Source: presto-cli
X-Presto-Time-Zone: UTC
X-Presto-Lang

[2020-07-08 15:25] canob commented on #14806
Hi @mbasmanova Maria, how are you?

I would love to contribute to adding this functionality, but I don't have enough necessary development knowledge, so I was asking if someone would be able to port it from the PrestoSQL project if there were more interested PrestoDB users.

[2020-07-08 15:34] mbasmanova commented on #14806
CC: @jagill

[2020-07-08 15:35] mbasmanova commented on #14807
CC: @mayankgarg1990 @tdcmeehan

[2020-07-08 15:36] mbasmanova commented on #14807
CC: @neeradsomanchi

[2020-07-08 18:27] tdcmeehan commented on #14807
Thanks for the bug report, it does indeed look like a bug.  It looks like there's a simple fix for this in `presto-client`.  Would you like to raise a PR for it?  We can raise issues and track separately other clients.

[2020-07-08 18:29] etzelm commented on #14269
We also ran into this stack-trace when working on a project migration to Presto. I tried looking through the Presto source code to try to understand what happens and here is what I found:

- When instantiating a [PrestoPreparedStatement](https://github.com/prestodb/presto/blob/master/presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoPreparedStatement.java) class object, the constructor runs

[2020-07-08 19:17] fx19880617 opened #14809 "Distinct is not pushed down to connectors"
Hi,

I'm trying to upgrade to recent presto, and below query are not getting the correct plan pushed down:
[code]

From the PlanOptimizer, the maxSubPlan we are getting is the TableScanNode now.
![image](https://user-images.githubusercontent.com/1202120/86959603-f27be780-c112-11ea-9b01-8bf6d2634adf.png)

And below is the query plan generated:
[code]

[2020-07-08 19:30] benrifkind opened #14810 "Hive table scan slow to schedule"
Recently upgrade from 0.198 to 0.234.2 and am finding that a seemingly simple Hive query is running 10x slower.

Query is like:
[code]

The table is partitioned by `date` and there is one date per day so this is around 30 partitions.

Ran this on a 3 node cluster with Presto 0.234.2 and on a 3 node cluster with Presto 0.198. Same instance types.

Query stats for Presto 0.198 are:
[code]

Query sta

[2020-07-08 19:33] fx19880617 commented on #14809
cc @zhenxiao @agrawaldevesh

[2020-07-08 20:48] findepi commented on #14293
@iammehrabalam
Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-07-08 20:48] #14293 closed

[2020-07-08 22:29] highker commented on #14642
@jainxrohit, do you think if @Naveen007 can take this ticket? It might require some digging. Of course, I see a very easy but hacky fix to it.

[2020-07-08 22:35] highker commented on #14807
@tdcmeehan, do you think it's a good ticket for @Naveen007 to work on?

[2020-07-08 22:36] jainxrohit commented on #14642
Sure, we can try it.

[2020-07-08 22:50] viczhang861 commented on #14777
@mbasmanova This is fixed by https://github.com/prestodb/presto/pull/14799,  stats collection is disabled by default for temporary table. However, one code path didn't check for that. The fix is to use a default set of column statistics types (data_size and number_of_non_null) for all column types rather than throwing an error.

[2020-07-08 22:51] #14777 closed

[2020-07-08 22:52] tdcmeehan commented on #14807
Yes.  @Naveen007 please feel free to claim this ticket.  In short, we just need to make sure that the client also percent-decodes the Presto session header, since it's being percent-encoded on the server side.

[2020-07-09 09:25] weidongduan37 commented on #14807
@tdcmeehan
I try to fix as following
https://github.com/prestodb/presto/pull/14817

Thanks.

[2020-07-09 09:54] weidongduan37 commented on #14660
Maybe related to following if the query could apply DruidBrokerPageSource rather than DruidSegmentPageSource
https://github.com/prestodb/presto/pull/14818
Thanks
@zhenxiao

[2020-07-09 10:36] David-Wong110723 commented on #14798
presto v0.199   @mbasmanova

[2020-07-09 11:05] mbasmanova commented on #14798
@David-Wong110723 v0.199 is quite old. Would you try to upgrade to see if the issue goes away?

[2020-07-09 11:46] mbasmanova commented on #14810
CC: @jainxrohit @highker

[2020-07-09 11:58] mbasmanova commented on #14810
@benrifkind Here are some ideas to try:

- Run the query on a single partition: `select count(*) from hive.schema.table where date = '2020-05-01'`. Does it show similar perf regression?
- If reading from ORC files, turn on Aria Scan:

[code]
- Collect CPU profile from a worker and share it here: https://github.com/jvm-profiling-tools/async-profiler

I'm seeing that leaf fragment CPU increased from

[2020-07-09 12:01] mbasmanova commented on #14809
@fx19880617

What is the failure? Would you paste the stack trace?

[2020-07-09 12:02] mbasmanova commented on #14809
CC: @rongrong @kaikalur

[2020-07-09 12:02] mbasmanova commented on #14809
CC: @highker

[2020-07-09 13:34] benrifkind commented on #14810
This had similar performance differences
[code]
**0.198**:
[code]
**0.234.2**:
[code]

I am reading for ORC files so I tried this but did not see much improvement

[2020-07-09 14:05] mbasmanova commented on #14810
CC: @yingsu00 @bhhari

[2020-07-09 16:48] etzelm commented on #14269
Seems like this issue is baked deeper into the Presto SQL Parsing than I originally thought. Even with the changes to the ANTLR4 Lexer rule, the main Presto SQL parsing validation is throwing errors because the '?' after LIMIT is not getting counted by the tree traversals as a parameter to be replaced. Here is the stack trace being seen by my modified unit tests:

`[ERROR] Tests run: 112, Failures

[2020-07-09 17:01] BenAnstey commented on #14269
@etzelm We use QueryDSL as an "ORM" for our application. To temporarily get around this issue I wrote a template that uses literals for limit and offset. It was a little bit of a hack but it's working now. Depending on how you create your queries you may or not be able to do the same.

[2020-07-09 18:14] benrifkind commented on #14810
Thank you very much for your quick and helpful response! Below are responses to your suggestions:

This looked to me to have similar performance differences
[code]
**0.198**:
[code]
**0.234.2**:
[code]

I am reading for ORC files so I tried this but was not able to see improvement

I have attached the CPU profile that you suggested: [perf.log](https://github.com/prestodb/presto/files/4898693/perf.

[2020-07-09 19:59] fx19880617 commented on #14809
It's the pushdown logic not as expected, basically underlying full table scan will bringdown the connected db.

[2020-07-09 20:06] etzelm commented on #14269
Yes, we ended up doing a similar work around for now but I'd still like to see this eventually get fixed as well because according to the documentation it should work. Thank you :)

[2020-07-10 00:50] #10965 closed

[2020-07-10 02:15] David-Wong110723 commented on #14798
OK, thanks.

[2020-07-10 04:24] mbasmanova commented on #14810
@benrifkind According to the profile you are hitting this perf regression: #14478 . The "fix" is to upgrade to 0.234.3 or newer.

[code]

[2020-07-10 04:25] mbasmanova commented on #14810
@benrifkind You can also disable allocation tracking by setting the following config properties:

[code]

[2020-07-10 04:36] mbasmanova commented on #14809
I wonder if this is because com.facebook.presto.sql.planner.plan.DistinctLimitNode is not listed in com.facebook.presto.sql.planner.optimizations.ApplyConnectorOptimization#CONNECTOR_ACCESSIBLE_PLAN_NODES

Could you see what the plan looks like when com.facebook.presto.spi.ConnectorPlanOptimizer#optimize is called? Which nodes are there? (The output of EXPLAIN is not enough because it shows the fi

[2020-07-10 04:40] kaikalur commented on #14809
Does it work without the LIMIT? I think there is a different pushdown for DistinctLimit vs Distinct.

[2020-07-10 09:05] amitsadaphule commented on #14549
About snappy-java-1.1.7.1.jar which is a dependency for **presto-hive** does not contain libsnappyjava.so for ppc64le which causes the following issue:
[code]
Higher versions of this jar (>= 1.1.7.4) have support for ppc64le. But since that (https://github.com/xerial/snappy-java.git) is built with jdk11, the test execution for presto-hive runs into the following issue if we try to use jdk8 to buil

[2020-07-10 10:37] fx19880617 commented on #14809
Looks like it goes to `DistinctLimitNode` for query `select distinct teamid from baseballstats limit 10;`
![image](https://user-images.githubusercontent.com/1202120/87145356-0bdd7a80-c25e-11ea-9a6f-7fb7295fa5dc.png)

@kaikalur You are right, by removing the LIMIT, it works as expected with an AggregationNode has only groupingSets and no aggregations.
This query: `select distinct teamid from baseba

[2020-07-10 10:40] fx19880617 commented on #14809
@mbasmanova I'm thinking of adding `DistinctLimitNode` to `CONNECTOR_ACCESSIBLE_PLAN_NODES` wdyt?

[2020-07-10 14:04] rschlussel commented on #14549
upgrading the java requirement to java 11 has much bigger implications.  Let me start a conversation about it in the slack dev channel

[2020-07-10 14:10] mbasmanova commented on #14809
Git it a try. CC: @sachdevs

[2020-07-10 14:25] rschlussel commented on #14549
also, I should clarify that you can build presto with java 11.  It just needs to be at least java 8.

[2020-07-10 14:49] adamjshook commented on #14804
@mbasmanova I can take a look at it.  Seems like we'd just want to pass in the `Statement` when the `PrestoResultSet` is created and return it in `getStatement`? Any catches here?

[2020-07-10 15:05] #14787 closed

[2020-07-10 15:25] mbasmanova commented on #14804
This could be as simple as that.

[2020-07-10 17:22] benrifkind commented on #14810
🤦 Upgrading to 0.234.3 fixed this issue for me. Wish I had tried this before posting an issue.

@mbasmanova Thank you very much for your help!

[2020-07-10 17:22] #14810 closed

[2020-07-10 18:12] mbasmanova commented on #14810
@benrifkind Ben, I'm glad we were able to help you resolve this issue.

[2020-07-11 05:27] Kenan069 opened #14830 "AppValley companion"
Sometimes i forgot to refresh the apps and then I can’t open AppValley companion again so i deleted it and download it again and sign in and everything, but this time i tried to sign in my Apple ID account on AppValley companion and every time I get *failed to log in * could u help me please ? I don’t know if it is because I have ios14 beta on my phone or something

[2020-07-11 13:29] #10911 closed

[2020-07-12 00:04] fx19880617 commented on #14809
@mbasmanova
Could you help review this: https://github.com/prestodb/presto/pull/14831

[2020-07-12 09:33] #10968 closed

[2020-07-12 19:15] hmanju2k7 opened #14832 "Presto 0.234.1 is not accepting dynamically refreshing Access Tokens for accessing GCS"
We are using Presto 0.234.1 version. We are delegating a ServiceAccountCredentail with user email and passing the access token to Presto via Extra Credential. Everything is working as expected until the first token expires.

But after the default 1hr expiry of the AccessToken, Presto is not taking the new Access Token that is passed using the Extra Credential and throwing invalid-token error when

[2020-07-13 17:23] rschlussel opened #14835 "Flaky testTransactionMetadataCleanup"
Seeing travis failure for TestTransactionManagerIntegeration.testTransactionMetadataCleanup()

Example Failure:
[code]

[2020-07-13 21:07] #13301 closed

[2020-07-13 21:08] #13399 closed

[2020-07-13 21:08] #13693 closed

[2020-07-13 21:09] #13300 closed

[2020-07-13 21:13] #11623 closed

[2020-07-13 21:14] tooptoop4 commented on #11298
@dipanjanmukherjee83 use prestosql

[2020-07-13 21:14] #11298 closed

[2020-07-13 21:14] #10996 closed

[2020-07-13 23:39] rongrong opened #14837 "Port OFFSET from prestosql"
Feature is blogged: https://prestosql.io/blog/2020/02/03/beyond-limit-presto-meets-offset-and-ties.html

PrestoSQL issue: https://github.com/prestosql/presto/issues/1

[2020-07-14 14:19] mbasmanova commented on #14809
@fx19880617 I see that James already reviewed and merged #14831. Will there be a follow-up PR? If not, let's close this issue.

[2020-07-14 14:32] #14807 closed

[2020-07-14 15:48] mbasmanova commented on #14830
@Kenan069 I'm not familiar with AppValley. How is it related to Presto?

[2020-07-14 15:48] mbasmanova commented on #14832
CC: @mayankgarg1990

[2020-07-14 17:07] kaikalur commented on #14693
Spec doesn't say anything about this. Looks like it's totally implementation dependent.

[2020-07-14 17:44] fx19880617 commented on #14809
Not more changes for now, I'm also feeling the SortNode is also pushdown-able, but not relevant to this issue.
I'll make connector changes! Many thanks for your advice and thanks to @highker for reviewing it !

[2020-07-14 17:44] #14809 closed

[2020-07-15 22:48] HunterVacui commented on #8553
this still seems to be a problem as of today. Attempting to use HISTOGRAM on a column in a large table set causes my job to fail due to an out of memory issue, while using the REDUCE(ARRAY_AGG(... workaround posted above works

[2020-07-16 17:49] Kudratb opened #14848 "Support Named Parameters In Presto"
Currently, Presto Grammar only supports positional parameters. Named Parameters have more ease of use. Can we add support for Named Parameters as well in Presto?

[2020-07-16 21:35] mbasmanova commented on #14848
CC: @rongrong @kaikalur

[2020-07-16 21:37] mbasmanova commented on #14848
@Kudratb Would you clarify the use case? Perhaps, give an example of a query that you'd like to write in a different way.

[2020-07-17 08:04] beinan commented on #14832
I think this one will be fixed by this commit in presto-hadoop-apache2 https://github.com/prestodb/presto-hadoop-apache2/commit/3640920cfae094c823cefa2b73329ae3eea50cae

We also need to update the pom file in presto project once the next version of presto-hadoop-apache2 is released

[2020-07-17 10:28] mbasmanova commented on #14832
CC: @zhenxiao

[2020-07-17 10:29] mbasmanova commented on #14832
Per @beinan comment, this is fixed in PR #43 CC: @jainxrohit

[2020-07-17 18:22] zhenxiao commented on #14832
I think we need a new presto-hadoop-apache2 release to get this fixed @caithagoras @jainxrohit

[2020-07-17 18:44] caithagoras commented on #14832
acked. I'll start the release.

[2020-07-18 04:52] #1970 closed

[2020-07-18 04:53] #5665 closed

[2020-07-18 12:52] LeonBein commented on #11232
We have the same error on 1TB of TPCH files.
Were you able to fix your issue?
Also, #11563 and #3005 both seem to be the same issue but none of them have a concrete solution proposed ...
(At least nothing that worked for us)

[2020-07-19 19:07] #7613 closed

[2020-07-20 04:36] fgwang7w commented on #14837
hi I can take this issue and fix it into the next release

[2020-07-20 22:38] caithagoras commented on #14832
@zhenxiao 2.7.4-8 is now available from Maven.

[2020-07-20 22:39] zhenxiao commented on #14832
thank you, @caithagoras

[2020-07-21 02:01] rongrong commented on #14837
@fgwang7w Thanks for working on this!

[2020-07-21 07:34] kosuruvarunkumar opened #14864 "Guidelines for contributing to the project"
Hello, I am very new to this project and am very willing to join in the contributor's list. As I am new to this environment, I do not know the understandings required to make code contributions. And as I cannot send a private message to any of the core committers, I am creating this issue, along with that if people add comments to this, this could be helpful to the people who wish to contribute he

[2020-07-21 08:39] peacej commented on #9089
This function would be very helpful, any plans to implement?

[2020-07-21 11:10] cppandi opened #14865 "Getting java.net.UnknownHostException while connecting to Hive from presto-server-0.238"
I have tried all the ways and checked out all the possible solutions.  Still I m getting same error while trying with updated version also.

Error Stack:

presto:default> select count(*) from csmb.tel_num;

Query 20200721_101342_00003_9ki2u, FAILED, 1 node
http://ltrkarkvm623.mgmt.windstream.net:8080/ui/query.html?20200721_101342_00003_9ki2u
Splits: 17 total, 0 done (0.00%)
CPU Time: 0.0s total,

[2020-07-21 14:43] aweisberg commented on #14864
Hi,

Welcome!
If you want to get started contributing you could pick up a [beginner task](https://github.com/prestodb/presto/issues?q=is%3Aopen+is%3Aissue+label%3Abeginner-task).
There is a paper [Presto SQL on everything](https://research.fb.com/publications/presto-sql-on-everything/).

Instructions for getting started with development are here https://github.com/prestodb/presto#presto-

Also use

[2020-07-21 14:43] #14864 closed

[2020-07-21 17:42] Naveen007 commented on #14642
@wujinhu Your patch might not work in the latest presto versions since the expected return class from PrestoExtendedFileSystemCache#get is ExtendedFileSystem which is a subclass of FileSystem.

[2020-07-21 17:48] Naveen007 commented on #14642
With the current setup, there is no straightforward way of using both FileSystem.getLocal() and environment.getFilesystem("/", config), since the later call irrespective of local config or HDFS config expects a return object of ExtendedFileSystem.

[2020-07-21 22:09] mbasmanova commented on #14865
CC: @caithagoras @mayankgarg1990 @tdcmeehan @jainxrohit

@cppandi Does `ltrkarkha` from the error message refer to something that you understand or is it gibberish?

[2020-07-22 00:31] highker opened #14870 "Add session property to capture HIVE_PARTITION_NOT_READABLE as warnings"
Before throwing `HIVE_PARTITION_NOT_READABLE` errors, we will check a session property. The session property can convert the error into warnings so that the query can still run by ignoring the offline partition.

Use `WarningCollector` to collect the warnings.

[2020-07-22 06:25] Naveen007 commented on #14870
@highker Do we need this session property only to control "ignoring offline partitions" or all cases of "hive partitions not readable"

[2020-07-22 06:38] highker commented on #14870
The exception is only created at one place: https://github.com/prestodb/presto/blob/3060c65a1812c6c8b0c2ab725b0184dbad67f0ed/presto-hive/src/main/java/com/facebook/presto/hive/HiveNotReadableException.java#L34

So, it will be a catch on this exception and collect the warning.

[2020-07-22 06:43] Naveen007 commented on #14870
But there is a class PartitionOfflineException that is being thrown before the Hive partition not readable one.
 if (!isOfflineDataDebugModeEnabled(session)) {
                    // verify partition is online
                    verifyOnline(tableName, Optional.of(partName), getProtectMode(partition), partition.getParameters());

                    // verify partition is not marked as non-readab

[2020-07-22 06:52] highker commented on #14870
There is still case when a partition is online but not readable. We wanna provide the option to raise a warning when a partition is online but not readable.

[2020-07-22 06:55] Naveen007 commented on #14870
Ok So this session property will control ignoring the non-readable but online partitions. I was confused since the initial comment said "the query can still run by ignoring the offline partition".

[2020-07-22 14:15] rschlussel opened #14873 "Update Java requirement to Java 11"
This blocks https://github.com/prestodb/presto/issues/14549#issuecomment-656571077 which has a dependency that requires java 11 support.  Presumably more cases like this will come up in the future.  Also, we may want to use java 11 features.

I know at facebook, we needed to do a lot of testing and change some java configurations in order to be able to successfully run with Java 11, so I don't thi

[2020-07-22 14:57] SonuSingh200190 commented on #3763
I am also facing same issue.
Database - RETAIL5M
Tables - ITEM, SALES, STORE, ONLINE_SALES, SALES_TEST.

Presto is not able to read this metadata, Please help.
![image](https://user-images.githubusercontent.com/33202006/88192035-b0e25500-cc59-11ea-9ff1-d7950f0261fd.png)
![image](https://user-images.githubusercontent.com/33202006/88192074-bfc90780-cc59-11ea-9432-9966bdf9c300.png)

[2020-07-22 17:31] SonuSingh200190 opened #14875 "Presto not able to read timestamp value ''0000-00-00 00:00:00' on MySql."
error logs:

java.sql.SQLException: Query failed (#20200722_172805_00036_kvi6s): Value '2018-01-01 00:00:0019218123060209.99108.948.948.940000-00-00 00:00:000000-00-00 00:00:000000-00-00 00:00:009.999.998.94' can not be represented as java.sql.Timestamp
        at com.facebook.presto.jdbc.PrestoResultSet.resultsException(PrestoResultSet.java:1840)
        at com.facebook.presto.jdbc.PrestoResultSe

[2020-07-23 18:00] fgwang7w opened #14878 "Add limit pushdown support"
if connectorMetadata can handle limit pushdown into tablescan, add this api [PushLimitIntoTableScan] support

[2020-07-23 23:42] wenleix commented on #12421
@ssaumitra : Looks like this issue is resolved. Feel free to reopen it if you have any further question :)

[2020-07-23 23:42] #12421 closed

[2020-07-24 07:01] highker opened #14882 "Flaky testRuntimeOptimizedStagesCorrectness"
[code]

[2020-07-24 17:44] rschlussel opened #14885 "Unify Grouped execution properties"
Now that the feature is fully developed, we don't need 3 different properties to enable grouped execution.  To simplify configuration and reduce the number of cases we need to handle in the code, we should unify the configuration properties.

Plan:
Create a new config property grouped-execution-enabled and session property grouped_execution to turn all grouped execution on or off.

After 1 release

[2020-07-24 21:29] Dritte opened #14887 "nearest_point function"
I would be interested if Presto's Geospatial functions could be expanded to include something similar to the ST_ClosestPoint function in PostGIS.

Suppose I have a point A and a polygon P. I would like to find the point on P nearest to A.

If there are multiple satisfying points on P with this property, returning any, all, or an arbitrary point would all be acceptable outcomes. Null could be retur

[2020-07-25 05:50] #8911 closed

[2020-07-25 05:50] #11025 closed

[2020-07-25 06:25] fgwang7w opened #14894 "limit pushdown through union"
add support to allow limit pushdown through union node

[2020-07-25 06:50] #11078 closed

[2020-07-25 09:32] xumingming commented on #14642
How about not wrapping the FileSystem class, if it is type of `LocalFileSystem` ? @Naveen007

[2020-07-25 23:50] #11023 closed

[2020-07-26 11:23] #11091 closed

[2020-07-26 11:23] #11089 closed

[2020-07-26 14:23] #11095 closed

[2020-07-26 19:23] #4269 closed

[2020-07-27 06:38] fgwang7w opened #14897 "remove Limit/TopN/Sort/DistinctLimit when relation is know to single row or less rows than requested"
port https://github.com/prestosql/presto/issues/759 to remove unnecessary sort exchange operations in queries

[2020-07-27 10:03] weidongduan37 opened #14898 "Incorrect time value(timezone converted) on filter node in ConnectorPlanOptimizer"
Take Druid connector as example, In DruidFilterExpressionConverter when encounter filterNode,
it converts the timestamp(long) to string as following:
            SqlTimestamp value = new SqlTimestamp((long) ((ConstantExpression) argument).getValue(), session.getSqlFunctionProperties().getTimeZoneKey());

SqlTimestamp requires the first parameter in UTC, but the actual value on filter Node is still

[2020-07-27 10:32] #14898 closed

[2020-07-27 10:42] weidongduan37 commented on #14898
The bug is only related to druid, not related to others. Will try to submit a PR. Sorry for the wrong submitted issue.

[2020-07-27 14:09] rschlussel commented on #13108
this was fixed a while back and the test is no longer disabled.

[2020-07-27 14:09] #13108 closed

[2020-07-27 14:57] mbasmanova commented on #14878
CC: @highker A proper way is for connector to implement com.facebook.presto.spi.ConnectorPlanOptimizer

[2020-07-27 15:37] #14882 closed

[2020-07-27 18:31] mbasmanova commented on #14897
CC: @rschlussel @rongrong @kaikalur

[2020-07-27 18:33] mbasmanova commented on #14887
CC: @jagill

[2020-07-27 20:23] ugurmeet opened #14902 "Accelerate queries using sample tables in Presto"
The basic proposal is to

- Allow Presto to accelerate queries by replacing original table with sample tables in queries
- Acceleration enabled by setting session parameter
- The Connector Metadata can specify if a sample table exists for a parent table and the sampling percentage
- Presto then optimizes the query, replacing the TableScans for the original table by sample table scans
- Also, aggre

[2020-07-27 23:30] viczhang861 commented on #14835
log from  https://api.travis-ci.org/v3/job/712292389/log.txt

`2020-07-27T13:08:23.334-0500 INFO Started o.e.j.s.ServletContextHandler@46aee3f0{/,null,AVAILABLE,@http}
2020-07-27T13:08:23.335-0500 INFO Started http@68d1f1f8{HTTP/1.1,[http/1.1, h2c]}{127.0.0.1:40078}
2020-07-27T13:08:23.335-0500 INFO Started @814269ms
2020-07-27T13:08:23.527-0500 INFO Life cycle starting...
2020-07-27T13:08:23.527-

[2020-07-28 13:11] som2014 opened #14905 "Presto LDAP Authentication"
I am getting below error while using LDAP authentication:

Use Cli Command:

`./presto.jar --server https://localhost:8443 --truststore-path /etc/keystore.jks --truststore-password=pass --user s0p04bp --password  --catalog bigquery    `

It's throwing me below error:
[code]
My password-authenticator file:
[code]

I am using same LDAP configuration for other application (Superset) it's working fine

[2020-07-28 14:33] #14905 closed

[2020-07-29 00:14] mbasmanova commented on #14902
@ugurmeet This can be implemented using com.facebook.presto.spi.ConnectorPlanOptimizer. Someone tried to build this kind of system at FB, but it turned out to be very hard. E.g. simple queries work, but "real" queries are way too complex. For example, if you have a join you need to carefully sample both sides to avoid getting nothing.

[2020-07-29 00:16] mbasmanova commented on #14897
@fgwang7w George, are you planning to work on this?

[2020-07-29 00:20] fgwang7w commented on #14897
Yes I am actively working on this item now. Will be available for review this week.

[2020-07-29 06:20] #14832 closed

[2020-07-29 09:17] inkinworld commented on #13728
@arhimondr i can't find `hive.metastore-timeout` from document from [there](https://prestodb.io/docs/current/connector/hive.html). can you provide the doc, thx~

[2020-07-29 12:19] #9133 closed

[2020-07-29 14:52] gabijs commented on #14902
@ugurmeet: what is the required metadata information about sample tables? The correct transformation on aggregations may depend on the sampling method used to obtain the sample table and the query shape. There is also the issue raised by @mbasmanova: one needs sufficient metadata to apply correct transformation for joins.

[2020-07-29 17:04] wfaria opened #14916 "Unexpected 'ARRAY comparison not supported for arrays with null elements' error when using array column in a subquery"
Consider the following subquery that we have on our AWS EMR Cluster (EMR version 5.29, Presto 0.227):
[code]

The column `message_parts` type is ARRAY<STRING>. When we run the query that contains this subquery, it fails with the following stacktrace:
[code]

If I remove that column `message_parts` from the subquery, everything works fine. Note that that column doesn't appear in any predicate on th

[2020-07-29 17:20] HimanshPal commented on #14902
@mbasmanova - How does sampling works currently at FB ? Sampled tables would need to work with multiple engines (Presto,  Spark, Flink etc) so I am guessing this would be happening at proxy/gateway layer

[2020-07-29 17:43] matanper opened #14917 "Unable to read parquet with column type of NULL"
I'm using Hive connector to read parquet file which have column of type NULL (as in [documentation](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md) at the end)
In Hive I created the column with type string and I able to query the data regularly, but when I try to query from presto I get the error below. the error says the column declared as INT32, so I tried to recreate the t

[2020-07-29 17:52] danboeck opened #14918 "Add a warning message when performing a union between a varchar and a char(22)"
My query was of the form

[code]
Where length(A.ID) = length(B.ID) = 22 and B.ID was a varchar while A.ID was char(22). This caused the length of the result to blow up: length(C.ID) = 65,536.

The query ran inconsistently and nearly broke redash! An error message flagging that the two fields need to have the same data type would be very helpful!

[2020-07-29 18:20] mbasmanova commented on #14902
I don't believe we have a sampling solution. CC: @gabijs

[2020-07-29 20:08] jinyangli34 opened #14921 "[Presto-Druid] "Can not create a Path from a null string" when reading Druid segment on s3"
[code]

`time` here is a varchar dimension column in Druid datasource.

[2020-07-29 20:40] HimanshPal commented on #14902
I do remember watching this sometime earlier this year & it was really informative - https://www.facebook.com/watch/?v=322427055210984

[2020-07-29 21:03] gabijs commented on #14902
@HimanshPal : Whatever transformation we do in sampling is codified outside of the query engine precisely because there are subtleties that are not ready to be integrated directly as part of the engine. Although sampling metadata belongs to our metadata service that Presto accesses, the information is leveraged by this external component and Presto only sees the already transformed query.

[2020-07-30 10:28] #10847 closed

[2020-07-30 14:45] iamchairs opened #14929 "Handling Time Zone Not Support"
I am using presto through AWS Athena and trying to take user generated events in UTC and convert them to the users own time zone. I am not sure if it's due to Athena's version of presto not being up to date, but some users have time zones that presto doesn't recognize. In my case it's `'Asia/Yangon'`

[code]

Unfortunately, I don't have the ability to update Athena's version of presto if that woul

[2020-07-30 15:31] arhimondr commented on #13728
It is not in the doc unfortunately. Here is the property definition in the
source code:
https://github.com/prestodb/presto/blob/master/presto-hive-metastore/src/main/java/com/facebook/presto/hive/MetastoreClientConfig.java#L63

Feel free to open a PR updating the documentation.

On Wed, Jul 29, 2020 at 5:17 AM HanHui <notifications@github.com> wrote:

[2020-07-30 15:32] mbasmanova commented on #14917
@vkorukanti @zhenxiao Any ideas how to make this work?

[2020-07-30 15:35] mbasmanova commented on #14916
@wfaria Would you share query plan (the output of EXPLAIN (type distributed) <query>) and schema of filtered_messages_based_on_aggr (the output of SHOW CREATE TABLE filtered_messages_based_on_aggr) ?

[2020-07-30 15:38] mbasmanova commented on #14918
@danboeck I'm not sure I understand. Can you maybe share a repro based on TPC-H tables? What is "redash"? What does it mean that the query ran "inconsistently"? I imagine here the type of C.ID is VARCHAR. Why is this a problem? Is it because A.ID values were padded with zeros to the total length of 65,536?

[2020-07-30 15:38] mbasmanova commented on #14918
CC: @kaikalur @rongrong

[2020-07-30 15:42] mbasmanova commented on #14929
@jamesgpearce James, do you know what might be going on here?

[2020-07-30 15:47] mbasmanova commented on #14929
Here is the list of timezones - https://github.com/prestodb/presto/blob/master/presto-common/src/main/resources/com/facebook/presto/common/type/zone-index.properties

[2020-07-30 15:48] mbasmanova commented on #14929
Asia/Yangon was added here https://github.com/prestodb/presto/commit/12188921904004d969423e2181930773f731c851

[2020-07-30 15:49] mbasmanova commented on #14875
CC: @jamesgpearce

[2020-07-30 16:06] vkorukanti commented on #14917
@matanper: looks like there are schema differences between table in Hive metastore and Parquet file.
` 'The column always_null of table task_data is declared as type string, but the Parquet file (s3a://path/to/data/2020-07-17.parquet) declares the column as type INT32'`. Parquet reader can't implicitly cast between different types. Fix the table (or partition '2020-07-17') schema in metastore or r

[2020-07-30 16:52] SonuSingh200190 opened #14930 "Presto is not able to read table in MySql with NAME as CAPITAL or having _."
I am also facing the same issue.
Database - RETAIL5M
Tables - ITEM, SALES, STORE, ONLINE_SALES, SALES_TEST.

Presto is not able to read this metadata, Please help.
![image](https://user-images.githubusercontent.com/33202006/88950965-ff739d00-d2b2-11ea-9fa7-3043a13e4a20.png)
![image](https://user-images.githubusercontent.com/33202006/88950981-05697e00-d2b3-11ea-9732-a303f6e00fa1.png)

[2020-07-30 17:49] iamchairs commented on #14929
Thank you for that list. With it i was able to easily find which time zones Athena's version of presto is unable to match. With that I can create a fallback. From our data we could map:

[code]

[2020-07-30 17:53] wfaria commented on #14916
Hello, I think that I was able to escape from this "bug" by breaking my queries into multiple subqueries instead of using nested queries (mainly based on NON EXISTS statements). However, I wasn't able to discover the exact way to trigger this problem.

[Here is the Query Plan](https://pastebin.com/D0vKzP7d) from the affected query but I believe that it is pretty huge to be read, sorry for that...

[2020-07-30 18:14] mbasmanova commented on #14929
@iamchairs Glad this list was helpful. Do you have any follow-up questions? If not, maybe close this issue.

[2020-07-30 18:15] mbasmanova commented on #14930
This is a known limitation in Presto. The only workaround I know of is to rename the table to use lower case.

[2020-07-30 18:16] iamchairs commented on #14929
That's all. I didn't know if you wanted to leave it open if the `try` was supposed to catch this error.

[2020-07-30 18:16] #14929 closed

[2020-07-30 18:16] mbasmanova commented on #14930
Here is an earlier discussion: #10288

[2020-07-30 18:18] mbasmanova commented on #14929
Not sure about `try`. From the documentation:

[code]

@kaikalur @rongrong Do you think try should handle this error? Technically it falls into "Invalid function argument" category.

CC: @jagill

[2020-07-30 20:32] rongrong commented on #14916
@wfaria can you reformat the plan with proper indentation etc, the paste is very hard to read. Also from the query you gave that produced `filtered_messages_based_on_aggr` , I can't tell where `message_parts` is from and how it's constructed.

[2020-07-30 21:40] wenleix opened #14935 "Spill support in Presto"
Spilling is critical to unblock Presto scale to large queries and being more robust handling skew, etc. This is an issue tracking all the operator-level spilling PR and discussions, etc.

cc @highker , @rschlussel , @sachdevs , @aweisberg

[2020-07-30 22:27] Naveen007 commented on #14642
@xumingming Yeah that is a possibility, but in HdfsEnvironment class (it expects a ExtendedFileSystem object to be returned even if it is called with Path("/") and it would fail here).

public ExtendedFileSystem getFileSystem(String user, Path path, Configuration configuration)
            throws IOException
    {
        return hdfsAuthentication.doAs(user, () -> {
            FileSystem fileSyst

[2020-07-31 04:24] beinan commented on #14873
An open PR I post earlier. https://github.com/prestodb/presto/pull/14009  There are still quite a few unit test failures need fixing.

We have been planning to canary 1~2 presto cluster on java 11 in twitter to collect some runtime data.  But unfortunately we don't have bandwidth in h1 2020.

Our motivation is that java 11 would have a better g1gc performance.

We also wanna try enabling Graal.  F

[2020-07-31 05:46] fgwang7w commented on #14897
Hi Maria, please help review the commit for this issue when you have a chance. Thanks!

[2020-07-31 10:40] agrawalreetika commented on #14737
Hi, I would like to work on this task. Could someone please help me understand with the requirement of this task? As a part of this are we looking to enable DELETE only for mysql connector?

[2020-07-31 13:31] wfaria commented on #14916
My bad, now [here is the plan with a better indentation](https://pastebin.com/SVd4vaMY).

The original query is 300 lines long and I am worried with company compliance rules. This way I would like to not paste the entire query in a public forum. Moreover, I can't send the data to let you test the query there. `message_parts` is another subquery above that subquery, it have multiple `String` and `B

[2020-07-31 13:49] rschlussel opened #14940 "Flaky test TestQueryResource.testGetQueryInfos"
ERROR] Tests run: 6312, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 4,171.897 s <<< FAILURE! - in TestSuite
[ERROR] testGetQueryInfos(com.facebook.presto.server.TestQueryResource)  Time elapsed: 4.219 s  <<< FAILURE!
java.lang.AssertionError: expected [2] but found [3]
	at org.testng.Assert.fail(Assert.java:94)
	at org.testng.Assert.failNotEquals(Assert.java:513)
	at org.testng.Assert.assert

[2020-07-31 13:52] rschlussel commented on #14940
@tdcmeehan it looks like you touched this test recently.  can you take a look?

[2020-07-31 14:07] mbasmanova commented on #14873
@beinan Beinan, FYI, @sujay-jain Sujay and @bhhari Bhavani are rolling out Java 11 and Graal at FB at this very moment.

[2020-07-31 14:25] #14835 closed

[2020-07-31 16:39] #14701 closed

[2020-08-03 03:07] haxuanthuyen commented on #9610
I get same error when executing a normal query in 0.238. The error happens when quering on large partitions and files:
org.jkiss.dbeaver.model.exec.DBCException: SQL Error [16777219]: Query failed (#20200803_024152_00010_whdse): Error opening Hive split hdfs://nameservice1/user/hive/warehouse/xxx/year=2020/month=07/day=31/hour=12/xxx.avro (offset=0, length=28235) using org.apache.hadoop.hive.ql.io

[2020-08-03 03:35] Huper7777 commented on #14921
Yes

[2020-08-03 04:07] SonuSingh200190 commented on #14930
Thanks, Maria. Can we start fixing this?

[2020-08-03 12:31] fabiocbr75 opened #14946 "Missing registration for system.sync_partition_metadata"
Hello,
I use PrestoDb (version 230) on AWS EMR (6.0) but the only way to add partition directly in presto (without using Hive) is the system.create_empty_partition function.
Can you add the system.sync_partition_metadata (present in prestosql) to synchronize the prestodb partition with s3 bucket?

Thanks
Fabio

[2020-08-03 18:03] heroldus commented on #12201
[Arrow Flight](https://arrow.apache.org/blog/2019/10/13/introducing-arrow-flight/) is the way to go. It's an API design based on Google gRPC and Protobuf and allows parallel connections to the worker nodes. Snowflake and Dremio already support it. Would be great if Presto could do the same. We have Spark jobs reading data from Presto which definitely would benefit from such an implementation. A fi

[2020-08-03 18:23] #14940 closed

[2020-08-03 19:17] mbasmanova commented on #14930
@SonuSingh200190 Are you proposing to come up with a design that would address this issue and work on executing it?

[2020-08-03 20:44] rongrong opened #14951 "Support session-based temporary SQL function"
We've recently introduced SQL function support in Presto. The current implementation uses external databases (MySQL) to store SQL functions which can be shared and used by different users. Sometimes we do not want / need the SQL functions to be shared, so we also want to introduce the support of session based temporary SQL Functions. We can do this by:
* Attaching function definitions with a sessi

[2020-08-03 21:24] rongrong commented on #14951
For syntax support in CLI, we can consider either extending the SQL syntax to add a `TEMPORARY` keyword as in `CREATE TEMPORARY FUNCTION xxx`, or make it implicit as how `FunctionNamespaceManager`s are set up, where the session based `FunctionNamespaceManager` will be assigned a function "catalog" to manage, and functions created in that "catalog" will be only visible for the session it's created

[2020-08-03 21:25] rongrong commented on #14951
cc @kaikalur

[2020-08-03 21:30] kaikalur commented on #14951
The notion of session is a bit nebulous. For a CLI, it's clear but I'm not sure we have that in other clients. If we have a StartSession and EndSession commands for all clients, then temporary can be implemented cleanly.

[2020-08-04 10:21] matanper commented on #14917
@vkorukanti when I read from hive it's working, and the parquet is created using type NULL for the column (but the error shows it's type INT32), so I wonder maybe there is some problem in interpreting NULL column?

[2020-08-04 13:38] mbasmanova commented on #14946
CC: @jamesgpearce

@fabiocbr75 Would you like to port the relevant changes from prestosql?

[2020-08-04 15:39] fabiocbr75 commented on #14946
I'm sorry but I don't have the java skill to do that (I'm a .net developer).

F.

[2020-08-04 16:14] SonuSingh200190 commented on #14930
@mbasmanova yes I think we can fix this.

[2020-08-04 19:28] Justin-Hellreich commented on #13161
For anyone still struggling with this, there is a lot of context over in https://github.com/prestosql/presto/issues/2166

[2020-08-04 20:39] danboeck commented on #14918
Hi @mbasmanova,

Sorry for the delay! Redash is just the client we use to run the queries. And they "ran inconsistently" meaning it would fail with an obscure error message 4/5 times.

It is not a problem that C.ID is a VARCHAR, the problem is that the length of C.ID was 65,536. It made the result unusable and prevented the query from running successfully. Once I cast A.ID as VARCHAR, the query ra

[2020-08-04 20:55] danboeck commented on #14918
Let me know if this code is more descriptive:
`select cast('a' as CHAR(22)) union select cast('b' as varchar)`
This returns a which where length(a)=65,536

[2020-08-04 21:33] aimran-adroll commented on #14918
I believe the question/concern is around what _is_ the expected behavior -- esp, for the serialized output.

As a concrete example, I ran the following 3 queries and exported the output to CSV files. Here, I report the resulting file sizes, respective

| Query  | File size |
| ------------- | ------------- |
| ```select cast('a' as CHAR(22)) union select cast('b' as varchar)```  | 128 **KB**  |
|

[2020-08-05 00:59] mbasmanova commented on #14930
Please, go ahead. Looking forward to a design proposal and/or prototype.

[2020-08-05 04:53] fgwang7w commented on #13959
I can use this issue to add support for oracle connector, in reference to https://github.com/prestosql/presto/pull/1959

[2020-08-05 08:00] mullasci commented on #8557
Did you try Starburst's Presto in the marketplace too?
The company employs the bulk of former Presto people of Teradata so their distribution might manage the parameters.

[2020-08-05 09:51] HuangDCat opened #14964 "Automatically update the configuration or load a new connector in Presto"
If I modify the configuration or add a new connector, do I have to restart the coordinator and worker?

Is there any other way to make the coordinator and worker recognize the configuration or new connector and load it automatically?

[2020-08-05 09:54] yueapple opened #14965 "target and filter types do not match: (ConnectorSession,Block,Object)Slice, (Block,int)Slice"
Recently, I upgrade presto from 336 to 339, this sample query couldn't work anymore.
[code]
**exception**:
[code]
**Analysis**
It seems related to https://github.com/prestosql/presto/pull/4343
in #4343, `Slice` type is removed from `io.prestosql.operator.scalar.MapSubscriptOperator#specialize`, so the targetHandler is ObjectHandler,
but it didn't removed from `io.prestosql.metadata.ScalarFunctionA

[2020-08-05 09:55] yueapple commented on #14965
@dain
Could you please take a look?
Can I just remove the `Slice` type from `io.prestosql.metadata.ScalarFunctionAdapter#getBlockValue` to fix this issue?

[2020-08-05 10:02] HuangDCat opened #14966 "Do some operations in presto through rest api in the external system"
Hi:

I want to perform some operations in presto through rest api in the external system, such as: getting the catalog list, getting the schema list under the catalog, creating a new connector, etc.

Is there a similar API? Is there a document for reference? If not, how can I achieve the above requirements?

Looking forward to your answer, thank you.

[2020-08-05 10:46] yueapple commented on #14965
change `data_map[max_id]` to `data_map[coalesce(max_id, '')]` , it works.

[2020-08-05 15:42] dain commented on #14965
@yueapple This is Facebook's repository, please close this issue and open a new one at https://github.com/prestosql/presto/  Thanks!

[2020-08-05 16:28] findepi commented on #14965
@yueapple Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-08-05 16:28] #14965 closed

[2020-08-05 19:24] #14894 closed

[2020-08-05 23:56] #5685 closed

[2020-08-05 23:56] #10149 closed

[2020-08-06 00:48] hmanju2k7 opened #14973 "Setting up High Availability for presto 0.234.1 in GCP not GKE"
We are using Presto 0.234.1 version in Google Compute Engine. We are trying to achieve High Availability on the Presto Coordinators.

We can have multiple Presto Coordinators. Has anybody done this in past of setting up High Availability for Presto.

We want to use this approach. Provide us steps how I can achieve this.

1. Set up 2 or 3 nodes as coordinators.
2. Tell them to run their own discove

[2020-08-06 00:58] ugurmeet commented on #14902
Hi @mbasmanova, @gabijs,
   Here is my [proposal](https://github.com/prestodb/presto/files/5031909/Query.Acceleration.in.Presto.using.Sampled.Tables.-.Proposal.pdf) about using sampled tables in Presto. Hopefully it will answer some of your questions. Please feel free to comment. I would like to sync up before going further down this path.
Thanks

[2020-08-06 01:56] Boomxiakalakaka commented on #13179
am facing the same issue too

[2020-08-06 01:57] Boomxiakalakaka commented on #13179
I am facing the same issue too.

[2020-08-06 03:35] yueapple commented on #14965
https://github.com/prestosql/presto/issues/4706

[2020-08-06 07:37] Xiangakun opened #14978 "Prestodb version 0.237 has lower performance compared with version 0.215"
When I am going to upgrade prestodb version from 0.215 to 0.237, I try the TPC-H test, and the test result show that, the higher version has poor performance than the lower version, especially when the concorrent sql num is growing, the gap will be more obvious.

Test data:  TPC-H test data 100 G
Sqls:  totally 22 TPC-H sqls
Test method:  for each sql，firstly run  10 times (one by one), and then 1

[2020-08-06 09:22] weidongduan37 commented on #14576
https://github.com/prestodb/presto/pull/14979

[2020-08-06 10:53] jackcptdev commented on #14966
According to my understanding, Presto does not have these APIs now. All connectors are loaded with connector configuration files on PrestoServer startup, and they're never change during the whole PrestoServer running period, until restarting the PrestoServer...

[2020-08-06 19:21] zhenxiao commented on #14576
yep, work with @weidongduan37 on the PR

[2020-08-06 19:41] patrickofriel-wk opened #14984 "Airbase version contains jackson version with CVEs"
Currently the pom.xml relies on com.facebook.airlift.airbase version 99.

Ideally we would update to the lastest version of io.airlift.airbase so that we would no longer be on jackson 2.9.8 and instead could be on 2.9.10.x

Here's some of the CVEs:

https://nvd.nist.gov/vuln/detail/CVE-2020-11112
https://nvd.nist.gov/vuln/detail/CVE-2020-11113
https://nvd.nist.gov/vuln/detail/CVE-2020-11619
https:

[2020-08-07 02:08] mbasmanova commented on #14902
@ugurmeet Thanks for sharing the design. Looks interesting. I don't understand the following statement:

[code]

In this case I think sampling shouldn't be used, because you may either get accurate result or completely wrong result (e.g. 0).

[2020-08-07 04:32] ClarenceThreepwood commented on #14946
I'll work on this

[2020-08-07 16:29] wenleix commented on #14984
@patrickofriel-wk: Would you mind sending out a PR so the community can review it? Thanks!

[2020-08-07 16:36] wenleix commented on #14973
cc @tdcmeehan  who is working on Presto Fireball project.

[2020-08-07 16:42] wenleix commented on #14966
@HuangDCat : I am wondering the high-level goal? One way is to use Presto client and issue quires like `SHOW CATALOGS`, `SHOW SCHEMAS`, etc.

Can you elaborate a bit on "creating a new connector"? Do you mean dynamically loading new plugin/connector after Presto is running?

[2020-08-07 16:44] wenleix commented on #14964
You need to restart the cluster if you want to change the configuration.

[2020-08-07 16:54] ugurmeet commented on #14902
@mbasmanova, you are right. Its very likely the results will be 0 in that case so better not to use sampling (error out). These are the kinds of rules that I want to flush out. Thanks.

[2020-08-07 18:17] mbasmanova commented on #14902
@ugurmeet I'm also wondering whether it is a good idea to fail queries if sampling cannot be applied. I think it is better to just not use sampling in these cases, but allow the query to proceed. E.g. opt-in flag means "feel free to use sampled tables if you can give me approximate results faster".

[2020-08-07 19:58] agrawalreetika commented on #14806
I would like to work on this. I will look into porting it from PrestoSQL, as this is already available there.

[2020-08-07 23:43] SandishKumarHN commented on #13359
I will work on this

[2020-08-08 02:06] SandishKumarHN commented on #13359
@qwalker  here is the PR https://github.com/prestodb/presto/pull/14992

[2020-08-08 02:47] #3557 closed

[2020-08-08 06:31] #10586 closed

[2020-08-09 06:14] wenleix commented on #14978
@mbasmanova ,  @yingsu00 : Wondering if you have any thoughts into this ? Thanks!

[2020-08-09 06:18] yingsu00 commented on #14978
@wenleix were you using Aria? Was it only concurrent runs are slower? Can you share the query ids for these runs?

[2020-08-09 06:23] wenleix commented on #14964
Speaking of adding dynamic loading/removing connectors, this has been a very long discussion (see for example https://github.com/prestodb/presto/issues/2445). And we have no plan to add it in near future , as there's no reliable way of removing registered connectors without introducing memory / thread / class loader leaks.

[2020-08-09 08:30] Xiangakun commented on #14978
Following is the file which includes my test result and the test sql, thx~

https://github.com/Xiangakun/link/blob/master/presto/tpch-presto-215vs237-concurrent-perfance-test.xlsx

[2020-08-09 08:44] Xiangakun commented on #14978
For some cases, it's easier to met the error **"The node may have crashed or be under too much load. This is probably a transient issue, so please retry your query in a few minutes."** in version 0.237. In addition, I compared with the time each stage/task/operator took, for some cases, it seems the table scan operator takes more time, and, some cases, it seems to be the exchange operator. I am wo

[2020-08-09 12:51] #3961 closed

[2020-08-10 16:08] ugurmeet commented on #14902
@mbasmanova I was thinking the failure would make it clear to the users as to whether the sampling worked for them. Also, it would allow the developers to see how many of the queries are failing due to non supported scaling and examine those cases more closely. But I guess this information (about whether the query got successfully sampled and scaled) can also be captured in the Query logs.

[2020-08-10 16:30] jgtaing commented on #14672
I am seeing the same problem using presto jdbc driver 0.238, jdk 11.  In my case, I'm getting socket timeout.  I have a Spring Boot application (spring boot 2.2.1) that is connecting to Presto server.

In my case, the socket timeout happens before running the query - in Connection.prepareStatement():

	at com.facebook.presto.jdbc.PrestoStatement.internalExecute(PrestoStatement.java:279)
	at com.fa

[2020-08-10 18:21] mbasmanova commented on #14902
Indeed, runtime information about sampling performance can go into logs. In my experience, users don't like query failures and prefer reliable execution over fast execution. Many would be reluctant to use sampling if it may fail. Using sampling in pipelines that run in the background would be practically impossible.

[2020-08-10 21:48] mbasmanova commented on #14978
@Xiangakun To find out where the slowdown is coming from, please, collect CPU profiles using async profiler: https://github.com/jvm-profiling-tools/async-profiler

[2020-08-10 21:49] ugurmeet commented on #14902
Sounds good. That would save a retry from the higher layers.

[2020-08-10 21:55] ClarenceThreepwood opened #15002 "Support ALTER TABLE with [IF EXISTS]"
port [prestosql/#2260](https://github.com/prestosql/presto/issues/2260)

Useful feature for etl pipelines

[2020-08-11 00:06] mbasmanova commented on #14672
@jgtaing Can you check JDBC URL to make sure it is correct? Is Presto server running? Can you share a simple repro?

CC: @mayankgarg1990  @neeradsomanchi

[2020-08-11 00:07] mbasmanova commented on #15002
@ClarenceThreepwood Would you like to submit a PR?

[2020-08-11 00:07] mbasmanova commented on #15002
CC: @rongrong

[2020-08-11 00:08] mbasmanova commented on #14672
Someone posted this error to Stack Overflow and the solution was "Presto Server was not started properly. There was a typo in mysql catalog which was causing this problem. It is resolved after fixing the typo"

https://stackoverflow.com/questions/50634201/presto-sockettimeoutexception

[2020-08-11 03:54] Xiangakun commented on #14978
@mbasmanova Thanks for your advice, I tried test case 22.sql with 50 concurrency，the test result is : average time spent on 0.215 was about 50~51s, and average time spent on 0.237 was about 1.1m. As you advised, I collected the CPU profiles during the running time. Please refer to the svg files under the link fold (I randomly collect the cpu profiles of only one worker): https://github.com/Xiangak

[2020-08-11 07:33] shenavaa commented on #11416
This seems to be fixed in PrestoSQL:

https://github.com/prestosql/presto/pull/2099
https://github.com/prestosql/presto/pull/212

[2020-08-11 11:33] nidhirawat commented on #10941
Can anyone please tell me in which version of presto this issue was fixed

[2020-08-11 11:45] HuangDCat opened #15007 "Cannot add mongodb dependency in presto-main"
I want to read the connector information from mongodb and add it to presto. I modified the related code in presto-main and added related dependencies in pom.xml. In IDEA, I can start normally and read the data in mongo. I replaced the jar package generated by maven package into the lib of presto-server, and it failed to start normally after executing ./launcher start. The error message output in t

[2020-08-11 11:52] HuangDCat commented on #14966
@wenleix

Yes, i want to load a new connector after presto is running.

I plan to dynamically read the data in mongo in a thread and load it into presto, but there are some errors, maybe you can help. #15007

[2020-08-11 17:36] agrawalreetika commented on #14806
PR for this support is merged. We are good to close to this issue :)

[2020-08-11 17:43] #14806 closed

[2020-08-11 18:14] patrickofriel-wk commented on #14984
@wenleix had a few questions in this pr https://github.com/prestodb/presto/pull/15008

[2020-08-11 18:24] tanvach opened #15009 "Add approximate mean, stddev and histogram/CDF QDigest UDFs"
TLDR: Is it possible to add scalar UDFs that outputs approximate mean, stddev and histogram from Qdigest?

Hi, we've found that we can derive really useful approximate statistics base on the VALUES_AT_QUANTILES() function. In short, this function produces inverse CDF, and if sampled at uniform increments, [approximately resamples the data](https://en.wikipedia.org/wiki/Inverse_transform_sampling).

[2020-08-11 18:30] rongrong commented on #15009
If you are proposing to add new functions, please add description of function signature and behavior. Thanks!

[2020-08-11 19:44] ssaumitra commented on #13861
@adaco Are you still working on this?

[2020-08-11 20:27] patrickofriel-wk commented on #14984
Ignore the above, I didn't realize that y'all fork your own airbase/airlift repos so I'll need to make the updates there first

[2020-08-11 20:45] patrickofriel-wk commented on #14984
Here's the prestodb/airbase pr https://github.com/prestodb/airbase/pull/10

[2020-08-11 21:24] ssaumitra commented on #12012
I see that IPPREFIX datatype for CIDR and `is_subnet_of` documented in https://prestodb.io/docs/current/functions/ip.html should do what's being requested. So the following query should just work
[code]
CC. @rongrong

[2020-08-11 21:24] #12012 closed

[2020-08-11 22:13] ssaumitra opened #15011 "Make MERGE(HyperLogLog) an aggregate function"
We currently don't have any aggregate function on `HyperLogLog`. All supported functions are currently plain UDFs https://prestodb.io/docs/current/functions/hyperloglog.html

Ideally, it would be great to have an aggregate function which supports combining `HyperLogLog`s . One of the use-case of this is to have rolling count_distinct.

For example, consider a table which is an event log containing

[2020-08-12 00:33] etzelm commented on #14269
Heads up, Martin Traverso(Co-Creator of Presto) followed up with me and it looks like this was fixed in the latest build here:
[https://prestosql.io/docs/current/release/release-340.html](https://prestosql.io/docs/current/release/release-340.html)

[2020-08-12 03:24] aloserman opened #15015 "There are some tables that exist, but prestoDB can’t recognize and display them, so they can’t be used."
When I use the command: SHOW tables  from user.xxx, I found that some tables are not among them, but when I look at Alibaba Cloud DRDS, these tables do exist.Only more than 20 records are displayed on one side, and more than 30 records on the other

[2020-08-12 05:00] liuzhuni opened #15016 "presto-0.221 run on aarch64 architecture, some node failed to connect Probabilistic"
presto-0.221 run on aarch64 architecture, some node  failed to connect Probabilistic . And we  found that, the presto-server thread is runing. use pstack to show the stack-info like this:

Thread 1003 (Thread 0xffff9890f200 (LWP 17583)):
#0  0x0000ffff9a4ffad4 in SpinPause () from /usr/local/jdk8u252-b09/jre/lib/aarch64/server/libjvm.so
#1  0x0000ffff9a663790 in ParallelTaskTerminator::offer_termi

[2020-08-12 17:37] #15002 closed

[2020-08-12 20:56] wenleix opened #15021 "Storage connection error when reading Hive Metadata is incorrectly considered as "HIVE_BAD_DATA""
Regression due to https://github.com/prestodb/presto/pull/14498

See discussions in https://github.com/prestodb/presto/pull/14498/files#r468313121

Example stacktrace:
[code]

[2020-08-12 22:21] beinan commented on #14873
@mbasmanova just some updates: we're rolling out Java 11 to ~400 workers at Twitter.  So far so good.

[2020-08-13 03:34] #13161 closed

[2020-08-13 04:21] chundongwang commented on #11956
I ran into this and puzzled for a little bit so I guess it worth sharing here. I went ahead and cleared my maven repository (`~/.m2/repository`) and run `./mvnw clean install` and it worked.

In case you don't want to wait for `rm -rf`, you can simply change the name of your maven repository to something else.

[2020-08-13 14:48] rschlussel commented on #11344
#11346 fixes this issue

[2020-08-13 14:48] #11344 closed

[2020-08-13 14:51] #3470 closed

[2020-08-13 15:13] rschlussel opened #15023 "Column Access Checks should only check used columns"
Currently we perform access control checks for all columns referenced in a query, even if some aren't used and would later be removed by column pruning.  For example, if a user runs the query `SELECT x FROM (SELECT * from my_table)`, we will check select permissions for all columns in my_table, even though the user only accesses column x.  This causes friction when people want to add new restricti

[2020-08-13 15:13] rschlussel commented on #15023
@highker @rongrong @kaikalur

[2020-08-13 21:09] mbasmanova commented on #15021
CC: @sujay-jain @bhhari

[2020-08-13 21:10] mbasmanova commented on #15015
Which connector are you using? Which tables are missing? Are you running custom build of Presto?

[2020-08-13 21:12] mbasmanova commented on #15007
presto-main shouldn't depend on any connectors. It might be easier for us to help if you could share a work-in-progress PR.

[2020-08-13 21:23] Vayu commented on #15023
Does Presto use restricted data in the query plan? Partition values, column stats, table sizes are public in Hive Metastore

[2020-08-13 22:53] Vayu commented on #15023
Few similar use-cases which are most commonly occurring.

Already mentioned subquery projection
[code]
Should request permissions for columnA, and columnB

Projection of a CTE
[code]
Should request permissions for columnA, and columnB

Projection of a CTE, with added derived column (and same for sub-query)
[code]
Should request permissions for columnA, columnB and columnC

**(Less Important)** Pro

[2020-08-14 07:35] aloserman commented on #15015
I use the default connector, configured mysql-catalog, and connect to aliyun’s DRDS. I use the presto-server-0.238.2 version downloaded from prestodb.io. There are actually more than 30 tables. Only more than 20 photos can be displayed. Use MYSQL-CLI or other clients to connect to DRDS can display those tables. If you forcibly specify those tables that are not displayed on presto on prosto-cli, pr

[2020-08-14 07:54] mbasmanova commented on #15015
There is no default connector. I assume you are using MySQL connector documented here: https://prestodb.io/docs/current/connector/mysql.html

I'd expect you to run SHOW TABLES FROM mysql.<mysql_database_name>; but you mentioned you are running SHOW tables from user.xxx. What is "user" and "xxx" here?

[2020-08-14 08:19] aloserman commented on #15015
yes，mysql jdbc connector。And I execute the command: show from [catalog].[schema] on presto-cli. And also executed the command: show tables on mysql-cli, so I found a lot of missing tables.
After investigation, I found that those missing tables are distributed tables. The normally displayed table is a single table. Distributed table DDL like this:
CREATE TABLE `tb_order` (
`id` bigint(20) unsigned

[2020-08-14 09:27] #11206 closed

[2020-08-14 09:27] #5570 closed

[2020-08-14 09:41] mbasmanova commented on #15015
Got it. Yes, looks like MySQL connector doesn't support partitioned tables. This is quite a new feature in MySQL, isn't it?

[2020-08-14 11:57] AvianshKumar opened #15026 "Ranger presto plugin issuse || Not able to retrive scheams from presto-server || Access denied failure || Authentication failure"
Hi Team,
While trying to enabled ranger presto plugin we are getting two errors.

Before that, I am able to run Ranger admin and ranger presto plugin successfully.

**Ranger admin version:-3.0.0
Ranger Presto plugin version:- 3.0.0.
Presto-server version:- 331.**

Explanation of errors:-
1:- Getting  Authentication Failed error when I am starting my presto after enabling ranger admin and ranger-pr

[2020-08-14 19:57] beinan opened #15029 "Add end to end test for presto-druid connector"
We might need to add end-to-end tests for presto-druid connector.
Some of the features such as insert into and ctas are difficult to be covered by unit tests.

[2020-08-14 21:10] findepi commented on #15026
@AvianshKumar  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-08-14 21:10] #15026 closed

[2020-08-15 02:01] #14517 closed

[2020-08-15 03:03] #8265 closed

[2020-08-15 18:09] tuongtd88 opened #15038 "Cannot download prest-druid on version lastest and version 0.237.2"
I have problem with this issue: presto-druid: Could not resolve dependencies for project com.facebook.presto:presto-druid:presto-plugin:0.241-SNAPSHOT: Failed to collect dependencies at org.apache.druid:druid-processing:jar:0.17.0 -> org.apache.druid:druid-core:jar:0.17.0 -> org.hyperic:sigar:jar:1.6.5.132: Failed to read artifact descriptor for org.hyperic:sigar:jar:1.6.5.132: Could not transfer

[2020-08-15 23:40] #10471 closed

[2020-08-17 13:46] patrickofriel-wk commented on #14984
@wenleix Know anyone that can help me out with this pr https://github.com/prestodb/airbase/pull/10 ?

[2020-08-17 13:46] patrickofriel-wk commented on #14166
I believe this was a problem on our side

[2020-08-17 13:46] #14166 closed

[2020-08-17 16:15] veselamanolova opened #15041 "Query xxxx failed: Found string, expecting union"
The error message: **"Query xxxx failed: Found string, expecting union"** appears when executing a select statement for a table created as shown in the example below:

`create table dbo.pr_date(
 mbr_brth_dt_sk timestamp
)
with ( external_location = 'xxxx');`

If table is dropped and recreated changing the column name from **mbr_brth_dt_sk** to  **mbrbrth_dt_sk**  or **brth_dt_mbr_sk** select  iss

[2020-08-17 17:18] rschlussel commented on #14607
Not enough information, so closing this issue.

[2020-08-17 17:18] #14607 closed

[2020-08-17 17:20] rschlussel commented on #14378
Not enough information, so closing this issue.

[2020-08-17 17:20] #14378 closed

[2020-08-17 17:21] rschlussel commented on #14658
Haven't heard back, so closing the issue.

[2020-08-17 17:21] #14658 closed

[2020-08-17 17:23] #14311 closed

[2020-08-17 18:16] #14804 closed

[2020-08-17 20:36] #14550 closed

[2020-08-17 22:56] rschlussel commented on #13896
The optimizer should be able to rewrite this to a single values node. meaning the current plan
[code]
should be the same as
[code]

I'm thinking two optimizer rules together should solve the issue
1. push project into values -  rewrites the `SELECT 1` plan (projection over an empty values node) to be the same as `SELECT * FROM (VALUES 1)` (single values node).
2. combine values node children of un

[2020-08-18 01:11] mbasmanova commented on #14978
@Xiangakun Is it possible to reproduce this on a single query?

[2020-08-18 02:07] Xiangakun commented on #14978
@mbasmanova   Yes, I think so. However for a single query, the gap is not obvious, since in my env,  each single query finish within few seconds. I am wondering if it's possible for you to try the tests by yourself in your local, and make sure the problem did exists. Thanks in advance!

[2020-08-18 02:09] mbasmanova commented on #14978
@Xiangakun I don't have this kind of setup. TPC-H queries doesn't seem to be representative of the real world workflows, hence, we don't invest in testing them.

[2020-08-18 02:10] mbasmanova commented on #15041
@veselamanolova Would you share the select query that fails?

[2020-08-18 02:11] mbasmanova commented on #15041
Would you also share a stacktrace? You can get it by running presto cli with --debug option.

[2020-08-18 02:22] Xiangakun commented on #14978
@mbasmanova If so, do you have any suggestions about how to test and then find out whether the new prestodb version has any performance improved？

[2020-08-18 04:53] yingsu00 commented on #14978
@Xiangakun We don't have TPCH tracking runs yet. We will have it by the end of this year. Is this regression really important to you? If so can you pick a most regressed query, run it several times and share with us the performance data after excluding the first run:
-  query elapsed times and variation
- query CPU times and variation
- If CPU time regressed, take aync profiler profile for both ve

[2020-08-18 12:31] darmac opened #15046 "mvn install -DskipTests failed"
`mvn install -DskipTests` failed on my platform.

[code]

And I tried fix this error by using this patch
[code]
Is that patch can merge to the upstream?

[2020-08-18 12:36] veselamanolova commented on #15041
![SelectWithDebug](https://user-images.githubusercontent.com/50833263/90513580-8b693e00-e168-11ea-9753-91e8b937a994.png)
![tableColumnType](https://user-images.githubusercontent.com/50833263/90513593-902df200-e168-11ea-90d3-ea169131e347.png)

[2020-08-18 12:38] findepi commented on #15041
@veselamanolova Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-08-18 12:38] #15041 closed

[2020-08-18 16:05] daniel-ohayon opened #15047 "Incorrect row type signature parsing with brackets in quoted identifiers"
Since row fields are identifiers, special characters are allowed in them. However, there seems to be a bug when we use brackets in the identifiers.

The following query fails:
[code]
with
[code]

but
[code]

succeeds (because the brackets happen to be balanced inside the identifier).

I believe this is because the top-level parsing code for TypeSignatures [fails to account for closing brackets in

[2020-08-18 20:20] beinan commented on #15038
I just checked out the latest master and run `./mvnw clean install -DskipTests=true`.  I'm afraid I cannot reproduce the error on my laptop.  It looks like a network connection issue.

A couple of tips you can try:
1.  Using newer version of maven. (there is a better retry mechanism after maven 3.6.1)
2. Setup a proxy or vpn
3. adding -Dhttps.protocols=TLSv1.2. -- https://stackoverflow.com/questio

[2020-08-19 04:30] tuongtd88 commented on #15038
Thanks @beinan,

But I problem in here, I couldn't find hyperic in this link https://repository.apache.org/snapshots/org

[2020-08-19 07:13] #11250 closed

[2020-08-19 07:13] #11205 closed

[2020-08-19 07:13] #11187 closed

[2020-08-19 08:55] olinadib opened #15051 "Oracle Connector"
I have installed presto 0.149 , I was trying to create oracle adapter as below :

connector.name=oracle
connection-url=jdbc:oracle:thin:@10.12.1.200:1521/orcl
connection-user=system
connection-password=welcome1

I am getting the below error when running the presto server noting that connector name is correct:

2020-08-18T10:44:57.754+0300    ERROR   main    com.facebook.presto.server.PrestoServer

[2020-08-19 09:26] yingsu00 opened #15052 "Optimize MergingPageOutput"
In Facebook workloads, we observed MergingPageOutput.getOutput() was allocating large amount of memory, in which BlockBuilders keep increasing the arrays after appending some rows. It also creates lots of Slices just to read the data from the source. This can be avoided because the positions in the pages being merged is already known and we don't need to grow memory or create insane amount of Slic

[2020-08-19 09:30] yingsu00 commented on #15052
cc @mbasmanova @bhhari @oerling

[2020-08-19 14:50] mbasmanova commented on #15052
CC: @arhimondr

[2020-08-19 17:03] #13959 closed

[2020-08-19 19:22] rubenssoto opened #15054 "Presto Partition Pruning Year Month"
Hi Guys,

I have a doubt that could be a new feature. I have some tables if it is not good to partition by day, my data is small, so with daily partition will generate a lot of small files. So to get better performance query, partition by Year-Month make much more sense.

I have two alternatives, create one column for each date part: Year, Month, Day....but I think query with this approach could b

[2020-08-19 20:00] fgwang7w opened #15055 "Add memSQL connector"
Add jdbc connector support for memSQL plugin

[2020-08-19 20:09] rschlussel commented on #15023
@kaikalur suggests that during analysis we can tell which columns get referenced, so instead of doing any pruning, just collect only columns that get referenced and use those.

[2020-08-19 21:27] beinan commented on #15038
Sorry for misunderstanding the problem.  Yep, you're right ,it's not in https://repository.apache.org/snapshots/org

Looks like my mvn downloaded it from https://repository.jboss.org

`Downloading: https://repo.maven.apache.org/maven2/org/hyperic/sigar/1.6.5.132/sigar-1.6.5.132.pom
Downloading: https://repository.apache.org/snapshots/org/hyperic/sigar/1.6.5.132/sigar-1.6.5.132.pom
Downloading: htt

[2020-08-21 05:15] beinan opened #15060 "IterativeOptimizer timeout on 239"
We're seeing timeout from IterativeOptimizer for some queries, even after we set the timeout to 10m

`set session iterative_optimizer_timeout='10m';`

	at com.facebook.presto.sql.planner.iterative.IterativeOptimizer$Context.checkTimeoutNotExhausted(IterativeOptimizer.java:289)
	at com.facebook.presto.sql.planner.iterative.IterativeOptimizer.exploreNode(IterativeOptimizer.java:130)
	at com.facebook

[2020-08-21 13:22] sido420 opened #15062 "Multiline CSVs support using Hive"
I am fairly new to Presto and not sure if this a bug, FR, or a usability issue.

I have been trying to import CSVs with multiple lines in cells, but multiple lines (within a cell) are treated as new records by Presto.
[code]
Imports are done by copying CSVs directly into HDFS directories. Also, I have double checked CSV file ie. values are separated by commas and enclosed with ".

If you run this

[2020-08-23 08:03] gavinljj opened #15069 "got "Filesystem closed" error sometimes."
Dear team

I got "Filesystem closed" error sometimes.
enviroment: Presto 0.237.1
with Kerberized Hive 3.1/HDFS 3.1.1.
Two scenarios happened
1、
tracebacks:
[code]
2、
tracebacks
[code]
but  retry , the same SQL can run successfully.
My Question:
Why did this happen?
How to prevent it from happening again?

[2020-08-23 19:27] #11294 closed

[2020-08-24 05:29] wenleix commented on #14984
@patrickofriel-wk  : I cced @tdcmeehan  and @arhimondr  in https://github.com/prestodb/airbase/pull/10 who might have more context about jackson :)

[2020-08-24 17:16] ameyamahajan commented on #13642
How did this resolve? By changing the `discover.uri` to different port help?

[2020-08-24 21:40] kewang1024 opened #15073 "max_buckets_for_grouped_execution affects colocated join for unbucketed table"
When we reach the threshold of  max_buckets_for_grouped_execution, we won't report table bucketing even for None bucketed-execution, do you guys think it's a bug or expected? @wenleix @rschlussel @arhimondr

[2020-08-25 08:12] yingsu00 opened #15079 "OrcSelectiveRecordReader produces small pages when filter rate is high"
When OrcSelectiveRecordReader is producing a page, it starts with maximum 1024 positions to read. If the filter rate is high, the positionCount for this page may reduce to just a few. This creates many small pages and MergingPageOutput is invoked very often, and causing reliability and performance issues. The proposal is to adaptively increase/decrease the maxPositionCount to start with so that th

[2020-08-25 08:31] yingsu00 opened #15080 "Additional Aria Scan improvements using batch read operations(master issue)"
- Optimize SelectiveStreamReaders for low filter rate (Batch Read) https://github.com/prestodb/presto
- OrcSelectiveRecordReader produces small pages when filter rate is high https://github.com/prestodb/presto/issues/15079
- Optimize MergingPageOutput  https://github.com/prestodb/presto/issues/15052
- Optimize string truncation for SliceXXXSelectiveStreamReader https://github.com/prestodb/presto/i

[2020-08-25 08:34] yingsu00 commented on #15079
cc @mbasmanova @oerling

[2020-08-25 08:36] yingsu00 commented on #15080
cc @mbasmanova @oerling @biswapesh @baldeephira

[2020-08-26 01:11] yingsu00 commented on #15079
Here's a HiveQueryRunner log that prints the page/block sizes
[hive.log](https://github.com/prestodb/presto/files/5126982/hive.log)

[2020-08-26 01:22] yingsu00 commented on #15052
Just discussed with @oerling about this. Orri's point is the MergingPageOutput cost from the small pages might well over the benefit of merging them to larger pages. Moreover, if the  MergingPageOutput is followed by a repartition(which might be most of the cases), the effect of small pages will be gone anyways. Therefore, a more straightforward and time saving way is to remove MergingPageOutput w

[2020-08-26 01:50] tuongtd88 commented on #15038
Thanks @beinan.

I resloved this problem. Thank you very much.

[2020-08-26 01:50] #15038 closed

[2020-08-26 17:04] ramyarajasekaran opened #15087 "Enabling Machine Learning use-cases on Presto"
Hey! Microsoft SQL Server offers [machine learning services](https://docs.microsoft.com/en-us/sql/machine-learning/sql-server-machine-learning-services?view=sql-server-ver15) now.

This allows users to execute Python/R scripts in-memory to prepare and clean data, do feature engineering, and train, evaluate, and deploy machine learning models within a database. It would be awesome to see Presto all

[2020-08-26 22:55] jumping opened #15089 "a same query only runs a same worker"
Submit a same query more times in less 1 minute, all queries are scheduled on a worker. Although there are 20 workers.
After some time all queries will failed, it says:
"com.facebook.presto.operator.PageTransportTimeoutException: Encountered too many errors talking to a worker node. The node may have crashed or be under too much load. This is probably a transient issue, so please retry your query

[2020-08-26 22:56] jumping commented on #15089
The worker has 8 cores, more than 7 queries will throw the above exception.

[2020-08-26 23:07] #15089 closed

[2020-08-27 05:19] #11303 closed

[2020-08-27 05:19] #11307 closed

[2020-08-27 05:19] #11301 closed

[2020-08-27 08:01] zhenxiao commented on #2508
The issue is resolved with the following commits:
https://github.com/prestodb/presto/commit/d45962c68b0e7f788b544fc3fefc4ca4d135f36f
https://github.com/prestodb/presto/commit/bd0c3e217f464985cb36641ffae769a5565e532b
https://github.com/prestodb/presto/commit/871dbf3f7cb917ace5a4b5aed6499ab368ada1f2
https://github.com/prestodb/presto/commit/009eb3f0ab34dfb5ee853da2acf702c0a84f9741
https://github.com

[2020-08-27 08:01] #2508 closed

[2020-08-27 08:04] vthorwat commented on #14027
Thanks, Dalelane for the update.

Will post a pull request for the same right away

[2020-08-29 04:08] #11299 closed

[2020-08-29 04:08] #11326 closed

[2020-08-29 04:08] #11336 closed

[2020-08-29 18:58] #11343 closed

[2020-08-30 09:57] AvianshKumar commented on #12989
I am still getting this same problem any solution for this?

[2020-08-31 00:41] #14946 closed

[2020-08-31 06:08] beepupa opened #15098 "Druid doesn't support aggregation on top of the aggregated data"
versions:presto:0.237,druid:0.17
conf
![image](https://user-images.githubusercontent.com/36186038/91687638-d0db3180-eb92-11ea-9838-54cc6f865023.png)
in presto
![image](https://user-images.githubusercontent.com/36186038/91687664-dfc1e400-eb92-11ea-8b89-9533e1c1e5a0.png)
in druid
![image](https://user-images.githubusercontent.com/36186038/91687787-34fdf580-eb93-11ea-815e-743ded9ade2f.png)

[2020-08-31 18:11] ajaech commented on #9089
@peacej  I agree. I wonder if someone can reopen the issue so it gets more visibility

[2020-09-01 01:52] mbasmanova commented on #15046
@darmac What was the error message and how is this patch fixing it?

[2020-09-01 01:57] darmac commented on #15046
Error log is that:
[code]

and this patch add a `git-commit-id` plugin for `presto`

[2020-09-01 01:59] mbasmanova commented on #15054
Sounds like you want to partition the data by yyyy-mm, but not have to specify the partition predicate if you have a predicate on the date. This is not possible today. Presto would need access to partition metadata that includes something like min-max for various columns. e.g. 2020-05 partition would need to specify that min(ds) = 2020-05-01 and max(ds) = 2020-05-31. I don't believe Hive metastore

[2020-09-01 02:00] mbasmanova commented on #15069
There are some suggestions on SO: https://stackoverflow.com/questions/23779186/ioexception-filesystem-closed-exception-when-running-oozie-workflow

[2020-09-01 02:01] mbasmanova commented on #15098
CC: @zhenxiao @luohao

[2020-09-01 02:02] mbasmanova commented on #15047
CC: @rongrong @kaikalur

[2020-09-01 02:04] mbasmanova commented on #15062
I believe you are using PrestoSQL, not PrestoDB. CC: @findepi

[2020-09-01 02:06] mbasmanova commented on #15060
Which query is causing this? Can you debug to figure out which rules are running?

[2020-09-01 02:12] mbasmanova commented on #15046
Hmm.... do you have any local changes that trigger this error? The project builds in Travis and in my local environment as is.

[2020-09-01 03:04] beepupa commented on #15098
why add DATE_TRUNC('MONTH',"__time") "__time" is work
![image](https://user-images.githubusercontent.com/36186038/91790246-dabc6d80-ec42-11ea-93a3-9e44bc078bf2.png)

[2020-09-01 03:24] darmac commented on #15046
I'm not sure, I run this at `CentOS 7.6` and `Maven 3.6.3` and `openjdk 11.0` with `aarch64` platform.
I didn't change the `presto` code and `maven` configure.

[2020-09-01 05:37] #2907 closed

[2020-09-01 08:30] mana6666 opened #15102 "How presto can show Chinese in the query results support ?"
presto verson : 302

cannot get the chinese result in correct form according to issue#3417.
the error is :
io.prestosql.spi.PrestoException: invalid input length 39
	at io.prestosql.operator.scalar.VarbinaryFunctions.fromHexVarchar(VarbinaryFunctions.java:134)