[2018-12-10 18:16] oerling commented on #11993
Interesting. Genrrally I’d say we need to take charge of inlining ourselves. The JVM does not do a very predictable job and leaves call counters even after inlining. There are some tens of loops where this matters. For the rest this makes little difference.

Orri

From: Praveen Krishna <notifications@github.com>
Sent: Sunday, December 9, 2018 9:26 AM
To: prestodb/presto <presto@noreply.github.com>

[2018-12-10 18:18] nezihyigitbasi commented on #12040
This should happen when:
- `delta <=0` so that we execute that `verify` call in `tryUpdateUserMemory`.
- `delta >= 0` so that we return a future (on L136) other than `NOT_BLOCKED` in `updateUserMemory` method.

Together this means `delta = 0`, and for the future to be not done the general pool must be full. I will think about a fix for this.

[2018-12-10 18:43] martint commented on #12039
There's no explicit way of doing this. You could do this with a proxy in front of the Presto clusters that's aware of when clusters are marked as inactive. There's a proxy implementation in https://github.com/prestodb/presto/tree/master/presto-proxy, but it doesn't yet support that mode of operation.

Yes, you can submit a PUT to /v1/info/state with "SHUTTING_DOWN" in the body. That will cause the

[2018-12-10 18:47] mbasmanova commented on #11022
@mwkorver Most of the use cases operate on local geometries and therefore can be implemented using existing functions:

[code]

Of course, this is quite verbose and cumbersome and it would be nice to improve this syntax.

Furthermore, @gaoxm's work on SphericalGeometry will simplify these cases even further:

[code]

What do you think? Would that be sufficient? If not, I feel that the effort to ad

[2018-12-10 18:54] martint commented on #12037
`StrictMath` conveys specific semantics about floating point operations. In cases where strict semantics may be needed, the right thing is to use `StrictMath`'s version. Even if the method delegates to `Math.toIntExact` *currently*, that might change in the future. As a sidenote, don't rely on what the JDK source code says. Sometimes (though not in this case), methods are intrinsified by the VM, s

[2018-12-10 18:55] dain commented on #12017
Do you see this happen? I ask because in the constructor the record for the current node must be found, or it throws an exception and fails to start the node.  The old code was searching for the node record every time, but the information in current node is all statically known at startup:
[code]

That makes sense.  The old only enabled the background refresh for the coordinator, and we likely nee

[2018-12-10 19:38] mbasmanova opened #12043 "Verifier incorrectly handles tear-down failures"
The following logic appears to prefer tear-down failures over setup and run failures. It needs to be reversed. Also, teardown logic doesn't handle the case of setup failure resulting in "Can't drop tmp table" errors.

[code]

[code]

[2018-12-10 19:51] mbasmanova commented on #12043
CC: @zein @ggreg @nezihyigitbasi

[2018-12-10 20:06] martint commented on #11993
I don't believe that's the case for C2. Can you provide an example where this happens?

[2018-12-10 20:31] martint commented on #12037
Huh.. I didn't realize `toIntExact` in `StrictMath` was for converting from long->int. That doesn't make a lot of sense, since it doesn't involve floating point at all, and the semantics for that conversion are well-defined.

[2018-12-10 21:37] #12040 closed

[2018-12-10 23:05] findepi opened #12044 "Reject @BeforeMethod annotations on tests without `singleThreaded=true`"
`@BeforeMethod` in a class that is not `@Test(singleThreaded=true)` is usually (always?) a bug. Example: https://github.com/prestodb/presto/pull/12042#issuecomment-446007770
We should automatically find & reject them.
This can be done with some TestNG listener or something.

[2018-12-10 23:47] electrum commented on #12017
@shlomialfasi Can you clarify this comment?

in DiscoveryNodeManager where this value is populated the initialisation is done before node was assign to connector so we might end up without this value available.

The normal way a worker gets it's own node ID in a connector is via the `NodeManager.getCurrentNode()` method. This should always work. Are you saying there is a case where it does not?

[2018-12-11 00:13] electrum commented on #12044
I think this would need to be done using a custom Checkstyle rule. Adding a listener would require adding a new test dependency to every module.

[2018-12-11 03:13] oerling commented on #11993
Hi

One would think that the call counts were not updated. But this does not seem to be so, see the attached.

The program does pretty much everything except the few instructions that are in fact needed to do the job. Function calling, no matter how static and deterministic, is a chancy business. When we just have integer arithmetic and array subscripts, Java works more or less like C. But even wi

[2018-12-11 03:30] VicoWu commented on #11939
@electrum  would you please give some comment about this? We have conducted this modification in our prod environment and presto is now more robust for hive metastore instability;

[2018-12-11 07:35] nezihyigitbasi commented on #12043
Breaking the existing logic down:

- If setup fails (we don't run the query), then if teardown succeeds we use the setup result, else we use teardown result. So, tear down failure is preferred over the setup failure. Do you have concerns about this?

- If setup succeeds (we run the query), then if teardown succeeds we use the query result (which is fine), else we use the teardown result. Are you s

[2018-12-11 07:41] shlomialfasi commented on #12017
to be more accurate a node can't find itself in the worker node list since when this list is constructed the node still not attached to the connectorId.
sorry for the confusion.

[2018-12-11 09:54] sopel39 commented on #12039
Hm.. This should enable rolling upgrade, no? as updated nodes wont communicate with older coordinator, but will connect to new one once it becomes master coordinator.

[2018-12-11 10:28] sopel39 opened #12046 "PrestoS3FileSystem breaks read-after-wrtite strict S3 consistency"
Method: `com.facebook.presto.hive.s3.PrestoS3FileSystem#create`
will check for file existence when `overwrite==false`. File existence check will break read-after-write strict S3 consistency per S3 doc:
[code]

The existence check itself is weak as the file might be created while data is gathered in staging directory for upload.

I propose to remove the check of use `LIST` S3 request instead that d

[2018-12-11 11:15] vikash32 commented on #12032
Hi @dain @findepi ,

Fixed it , it is because of configuration in the `password-authenticator.properties`.
As per documentation [https://prestodb.io/docs/current/security/ldap.html](url) it says config should be like below.
[code]
where `ldap.user-bind-pattern=${USER}@corp.example.com`
BUT
I have changes this one a little and now config it like below and it worked.
[code]
and getting
[code]
But is

[2018-12-11 11:22] vikash32 commented on #12032
Hi @dain @findepi ,

Fixed it , it is because of configuration in the `password-authenticator.properties`.
As per documentation [https://prestodb.io/docs/current/security/ldap.html](url) it says config should be like below.
[code]
where `ldap.user-bind-pattern=${USER}@corp.example.com`
BUT
I have changes this one a little config it like below and it worked.
[code]
and getting
[code]
Now is it poss

[2018-12-11 12:13] findepi commented on #12032
[code]

in `config.properties`

[2018-12-11 13:45] sebastiw commented on #11484
Any updates on this? Any more information I can provide?

[2018-12-11 14:57] hocanint-amzn commented on #8510
@dain I believe the behavior that Hive exhibits is that it uses the partitions schema/properties to read the partition and when the results are merged back to the rest of the table, it will null out anything that cannot be coerced properly. I remember running the exact same queries that would  fail validate in Presto, but would work properly in Hive.

As sajjoseph mentioned, the validation that we

[2018-12-11 16:25] mbasmanova commented on #12043
@nezihyigitbasi The error message says "delete operations failed: drop table tmp_verifier_xxx: Table not found". How could this happen? The only explanation I can think of is that setup failed to create tmp_verifier_xxx table. E.g. setup failed, then teardown failed. In this case, knowing why setup failed is more important, but that error information is missing.

I also thinkg that tear down needs

[2018-12-11 16:32] shangxinli opened #12048 "Port Parquet-1178, Parquet-1396 to Presto-Parquet"
I open this issue to track the porting of https://issues.apache.org/jira/browse/PARQUET-1178 and https://issues.apache.org/jira/browse/PARQUET-1396 that are needed for parquet encryption and modular encryption.

Currently, the code of Parquet-1178 and Parquet-1396 are not ready yet. Hence this issue is open for tracking purpose first. Once it is ready, I will start porting.

For the details of par

[2018-12-11 16:38] Praveen2112 commented on #11993
But ideally the same should be seen in Java 8 ? Am I missing something here.

[2018-12-11 17:10] martint commented on #11993
I dumped the assembly for that code and I'm getting something different. I do see the profiling counters in one of the intermediate dumps, but then it quickly re-optimizes and produces code with no profiling counters:

[code]

BTW, it looks like the bounds checks in Slice.getLong and Slice.putLong have non-trivial cost:
* with bounds checks:  175.265 ± 18.897  ops/s
* without bounds checks:  276.4

[2018-12-11 17:44] ryanrupp commented on #12048
As part of this are you looking to upgrade the version of `parquet-mr` used? Not sure what porting meant in this case but if it it was cherry picking out those changes somehow I just wanted to link the Iceberg plugin which discussed upgrading the old version of the parquet library being used, see - https://github.com/prestodb/presto/pull/11767#issuecomment-432838204

[2018-12-11 18:02] shangxinli commented on #12048
We are not very clear whether or not upgrading parquet-mr version is mandatory because the code for  Parquet-1178 and Parquet-1396 are still under construction. Yes, the porting means cherry picking. Since the Parquet-1178 and Parquet-1396 will be on top of the newest version of Parquet-format and Parquet-mr, upgrading Parquet-format will be mandatory and upgrading parquet-mr will be preferable if

[2018-12-11 18:32] mbasmanova opened #12049 "Verifier: sort arrays before comparing"
To avoid false positives when comparing query results Verifier rounds floating point values: `checksum(round(c, 3))`. Similar technique is necessary for array types to avoid flagging arrays that differ only in the order of the elements. E.g. Verifier should use `checksum(array_sort(c))` instead of `checksum(c)`.

CC: @nezihyigitbasi @ggreg @zaynoon

[2018-12-11 18:38] nezihyigitbasi commented on #11993
AFAIK the C2 generated code doesn't have profiling instructions (C1 should have done the profiling by then). @oerling Please make sure that the code is hot enough and compiled with the C2 compiler. You can confirm that by looking at the compiler logs (e.g., `-XX:+UnlockDiagnosticVMOptions -XX:+LogCompilation`).

[2018-12-11 18:51] mbasmanova commented on #10417
There are a few other sources of non-determinism:

* LIMIT clause
* rand and random functions
* approx_distinct, approx_percentile functions
* array_agg, array_distinct, map_agg functions
* min_by, max_by (when sort-by column has duplicates)

[2018-12-11 18:54] mbasmanova commented on #5337
Fixed in https://github.com/prestodb/presto/commit/1a06dd46aa88fb8cd2afb49d525b630764611da5 by @electrum

[2018-12-11 18:54] #5337 closed

[2018-12-11 19:31] rongrong commented on #12049
What we do in validator is to provide both. The problem with only use sorted result is that arrays are only sometimes treated as set, but other times order actually matters (for example, if the query actually has an `array_sort`.

[2018-12-11 21:01] nezihyigitbasi commented on #12046
Just curious, does this weakening of the consistency guarantee break/cause any trouble for any Presto user right now? Even if it does not, I think this is nice to have.

BTW, I think we should specify a small `maxKeys` value for the listing operation, so that it doesn't hurt performance (by default a list operation can return up to 1K results).

[2018-12-11 23:06] neuzrui opened #12054 "Presto UI not showing Live Plan for Index Join enabled queries"
It seems like Presto UI is showing an empty Live Plan page for the query that has joins using index join in our custom connector.
Queries without using the index join are working well and I can see the Live Plan rendered.

![image](https://user-images.githubusercontent.com/5144499/49836158-84184d00-fd56-11e8-95ce-79b770dc1aeb.png)

[2018-12-11 23:19] neuzrui commented on #12054
One more thing to note is that `EXPLAIN ANALYZE` gives me the expected plan and result for the query.

[2018-12-12 00:37] wagnermarkd opened #12055 "Pre-0.199 clients don't work with post-0.205 servers"
Release 0.205 included #10640, which modified the schema of NamedTypeProperty to include `fieldName` in lieu of `name`.

0.199 included #10040 modified ClientTypeSignatureParameter to use an ObjectMapper from ObjectMapperProvider rather than a naked one. One of the important implications of that is that the FAIL_ON_UNKNOWN_PROPERTIES flag is turned off for ObjectMappers from ObjectMapperProvider.

[2018-12-12 00:40] wagnermarkd commented on #12055
At first I thought this was an issue with the `name` field not being present, which was non-Optional before #10040. What I found was that clients are actually tolerant of that because they happen to use FixJsonDataUtils::fixData which pulls the type signature from another place.

[2018-12-12 01:08] mbasmanova commented on #12049
@rongrong I think the goal for the Validator should be to perform as much verification as possible while reporting minimum false positives. At the moment, there are too many false positives. Hence, I think reducing these should be the priority.

[2018-12-12 01:10] mbasmanova commented on #12054
@neuzrui Ray, perhaps, look at the output of `explain (type distributed, format graphviz) <query>` for clues. Please, share the output if you can.

[2018-12-12 01:17] neuzrui commented on #12054
here is the result from running the command you asked, with our table name and columns sanitized:

[code]

[2018-12-12 01:17] rongrong commented on #12049
The problem with only compute a checksum for sorted array is it might hide errors. When the expected output should be ordered and the checksum does not match without sorting, it's actually a correctness issue that would be hidden if you only report the sorted checksum. Unless we could know from analyzing the query whether the result should be ordered, we can not safely assume `array_sort(a)` is eq

[2018-12-12 01:22] mbasmanova commented on #12054
@neuzrui Graphviz gives the following error:

`Error: bad label format {TableScan[owl:OwlTableHandle{schemaTableName=data.table_a}]}`

I think you need to add `OwlTableHandle#toString` method that formats the handle as something like `owl:data.table_a`.

[2018-12-12 01:47] neuzrui commented on #12054
I tried following in our `OwlTableHandle#toString`

[code]

However, I am still getting the same empty page with the console errors pasted above.

Here is the result for `EXPLAIN`

[code]

[2018-12-12 01:52] neuzrui commented on #12054
I am wondering why the queries without the index join works fine with
label format `{TableScan[owl:OwlTableHandle{schemaTableName=data.table_a}]} ` though

[2018-12-12 01:57] rongrong commented on #12049
I agree with all the problems you mentioned. We should try to reduce false positives (or false negatives?). In validator we compute error margins for doubles. We can port all those improvements to verifier. I was only pointing out that we should not blindly remove checksum of the original array and replace it with a sorted one.

[2018-12-12 02:01] mbasmanova commented on #12054
@neuzrui I'm looking at LivePlan.jsx, it is fetching JSON from `/v1/query/<query-id>` URL:

 `fetch('/v1/query/' + this.props.queryId)`

Perhaps, fetching it manually and looking at the contents would provide a clue?

[2018-12-12 02:08] mbasmanova commented on #12049
@rongrong

We can compute two checksums: `checksum(c)` and `checksum(array_sort(c))`. The question is what to do when sorted checksums match, but unsorted don't. We could report SUCCESS with extra information that clarifies that certain array columns match only when sorted. Would that work?

[2018-12-12 02:10] neuzrui commented on #12054
I tried `http://localhost:8080/v1/query/20181212_020454_00000_8xjat` and it output a lot of information about this query execution. any specific property i should look at?

[2018-12-12 02:14] neuzrui commented on #12054
I think I might find the problem, I tried to hit
`/v1/stage/20181212_020454_00000_8xjat.0` and `/v1/stage/20181212_020454_00000_8xjat.1`
for stage information and I am getting
[code]

[2018-12-12 02:15] mbasmanova commented on #12054
@neuzrui Ray, there should be a large section that describes the query plan itself. It starts with something like this:

[code]

I'd be looking at how index join is represented here and seeing what the code in LinePlan.jsx expects. Any chance you could share this JSON?

[2018-12-12 02:17] neuzrui commented on #12054
so the ui is not able to pull information from the `v1/stage` API seems like to be a problem. any idea how to fix that ?

[2018-12-12 02:19] mbasmanova commented on #12054
@neuzrui Ray, I'm not sure that's the problem. My reading of the code in LivePlan.jsx suggests that it only fetches `/v1/stage/<query_id>` URLs, not `/v1/stage/<query_id>.<stage_id>` URLs.

Could you look for index join node in the `/v1/stage/<query_id>` JSON and see if it has the "id" property and whether its children have "id" properties as well?

[2018-12-12 02:35] mbasmanova commented on #12054
One way to check if changes to utils.js got deployed is to download `/ui/dist/plan.js` and search for `indexjoin`.

[2018-12-12 02:49] neuzrui commented on #12054
hmm, interesting, even the UI says `0.214-DIRTY`, the `/ui/dist/plan.js` does not have the change  on the `sources` you suggested ....

I did following for deploying a modified version of utils.js with presto-main:

1)  modify the source code in `../main/src/main/resources/webapp/src/utils.js`
2) `mvn clean install`
3) find the newly built jar file `presto-main-0.214.jar`, and dump it into the `/l

[2018-12-12 02:57] mbasmanova commented on #12054
@neuzrui Would you double check that utils.js in the modified jar is correct?

`unzip presto-main/target/presto-main-0.214-SNAPSHOT.jar "webapp/src/utils.js"`

Also, I'd expect the newly-build jar to have -SNAPSHOT in the name, e.g. I'd expect presto-main-0.214-SNAPSHOT.jar and not presto-main-0.214.jar

[2018-12-12 03:03] neuzrui commented on #12054
I checked out the release tag version 0.214 so it has `<version>0.214</version>`
I looked into the jars and made sure the `utils.js` is updated.
However, `/ui/dist/plan.js` is different from `utils.js`, should I also update the `plan.js`? There are several files under `../presto-main/src/main/resources/webapp/dist` and they both have the same switch block from the `utils.js`, should I update those

[2018-12-12 03:13] neuzrui commented on #12054
ok, I modified all the `.js` files under the `../dist` folder and build the whole project, and deployed the newly built artifact.
[code]
Now `/ui/dist/plan.js` is having
```case 'indexjoin':\n            sources = [nodeInfo.probeSource, nodeInfo.filterSource];```

And the UI is showing the Live Plan properly!

[2018-12-12 03:14] neuzrui commented on #12054
![image](https://user-images.githubusercontent.com/5144499/49844734-fef25f80-fd78-11e8-89c6-c7b1bb37f075.png)

[2018-12-12 03:15] mbasmanova commented on #12054
@neuzrui Ray, this is so nice!!! Would you like to submit a PR with the fix?

BTW, here are the instruction on building Wed UI from the readme file:

[code]

[2018-12-12 03:16] neuzrui commented on #12054
Sure, I am happy to submit a PR for that :)

[2018-12-12 04:09] vikash32 commented on #12032
Hi @findepi

I tried with this config `http-server.http.enabled=false`, but after disabling port 8080 discovery uri is not accessible because embedded discovery service running on port 8080.

However i am successfully manage to disable the unsecure port 8080 with `Secure Internal Communication` configuration and kerberos but not with LDAP.

i think presto does not support `LDAP` with `Secure Inter

[2018-12-12 07:10] xiefu5hh opened #12058 "create table fail when just drop table with hiveconnector immediately"
I use the hiveconnector to create  tables for tempory use,so when I need to recreate it，I drop the table and create it immediately.
the drop sql is execute success,but when I create it ,it was error ,error note was the table is already exists.
It is the Consistency problem? how to avoid this?

[2018-12-12 08:02] #12032 closed

[2018-12-12 09:40] sopel39 commented on #11484
We haven't had have time to pick it up yet, sorry. This is on my list, but if anybody else have time feel free to pick it up.

[2018-12-12 09:48] sopel39 commented on #12046
It does. For example when Hive SerDe is used for data write, `com.facebook.presto.hive.s3.PrestoS3FileSystem#create` is called with `override=false` which triggers `GET` S3 request.

Fortunately, optimized ORC writer uses default `FileSystem#create` method, which uses `override=true`. Therefore for optimized writer consistency should not be broken.

Good idea

[2018-12-12 10:36] vikash32 opened #12059 "Issue while using Secure Internal Communication"
Hi,

I am trying to set up secure internal communication in presto with below config.properties. But it is throwing 401 `unauthorised`. As far as i understand it is happening cause it is asking for authentication from ldap and not able to authenticate itself from it.

Not sure but can we use LDAP and secure internal communication at the same time. I have not seen anything mention in the document i

[2018-12-12 13:00] findepi commented on #12059
@vikash32 i think your question has already been answered: https://github.com/prestodb/presto/issues/12032#issuecomment-446488405

[2018-12-12 13:59] vikash32 commented on #12059
@findepi

I used certificate for secure internal communication and it was working fine when i am not using LDAP authentication on presto co-ordinator node .
But Once i am using LDAP `i.e adding http-server.authentication.type=PASSWORD` to authenticate presto co-ordinator node and certificate as well for secure internal communication at the same time.  It started giving 401.

i hope this time i am

[2018-12-12 15:22] mbasmanova commented on #12049
@rongrong I thought about this some more and came to a conclusion that it is reasonable to compute checksums on sorted arrays only. Verifier already uses order-insensitive checksum and applies to individual columns independently. When these checksums match there is a high change the underlying data also matches, but it is not a guarantee. Here is an example where checksums match, but the data does

[2018-12-12 15:34] martint commented on #12049
The fact that it currently is order-insensitive in some cases Is because it was (is?) impossible to do it any other way with current presto limitations.

Instead of or in addition to calculating individual column checksums, it should calculate a checksum of the entire row.

The goal of the verifier is to be as precise as possible, so we should be trying to move in that direction, not relaxing it.

[2018-12-12 15:42] mbasmanova commented on #12049
@martint

Martin, this doesn't seem to be practical. At least at this point. We are seeing way too many false negatives, e.g. Verifier reports "results mismatch", but upon manual inspection it turns out that this is due to non-determinism in the query. Do you think Verifier should detect and reject non-deterministic queries? If not, how do you suggest we handle these?

[2018-12-12 16:31] martint commented on #12049
We can certainly improve the verifier to produce an explanation about why the results are different. That’s one of the reasons we had listed the verifier in the internal roadmap at FB — but it was never high enough priority or sparked enough interest for someone to tackle it.

Btw, the verifier currently has a mechanism to try to detect non-deterministic queries (if results don’t match, it runs th

[2018-12-12 19:10] tusharag171 opened #12063 "Misleading error message in SemiTransactionalHiveMetastore.java"
[code]

It should be ```format("drop partition %s.%s %s", schemaTableName.getSchemaName(), schemaTableName.getTableName(), partitionValues)```

[2018-12-12 19:54] findepi commented on #10567
Looks this has been answered.

[2018-12-12 19:54] #10567 closed

[2018-12-12 19:56] findepi commented on #11877
@SivaSamrajS , did @pashalogin comment help you?
please provide an answer if you still need assistance

[2018-12-12 19:56] #11877 closed

[2018-12-12 19:57] mbasmanova commented on #10417
I think manually checking non-deterministic queries will always be time-consuming and labor-intensive. To be absolutely sure, one needs to understand what the query is doing and find a way to confirm that discrepancy comes only from non-determinism. However, flagging query as non-deterministic would help. We could then have a policy that deterministic queries must pass and results must match, but

[2018-12-12 20:00] findepi commented on #11841
@yogeek @dain
i have nothing against having Alpine and BusyBox supported tools for development environment -- provided that someone commits to testing & maintenance.
I am closing this, assuming we won't fix this, unless someone interested sends a PR (and helps to maintain this afterwards).

[2018-12-12 20:00] #11841 closed

[2018-12-12 20:00] findepi commented on #11827
Fixed.

[2018-12-12 20:00] #11827 closed

[2018-12-12 20:04] findepi commented on #11750
Hopefully you've fixed the problem by now. If not, I would look into the root cause:
[code]

[2018-12-12 20:04] #11750 closed

[2018-12-12 20:04] #11728 closed

[2018-12-12 20:05] findepi commented on #11668
@raghavsethi thoughts?

[2018-12-12 20:06] #11656 closed

[2018-12-12 20:16] findepi commented on #11546
There is `AssignUniqueId` internally used by the planner when rewriting the queries, so technically it looks feasible.

@martint how this could look like from SQL language perspective?

[2018-12-12 20:17] findepi commented on #11507
i bet this is obsolete.

[2018-12-12 20:17] #11507 closed

[2018-12-12 20:21] findepi commented on #11403
You can get a better message by `@Pattern` annotating `NodeConfig.getEnvironment`. Will you make a PR?

[2018-12-12 20:21] #11403 closed

[2018-12-12 20:24] findepi commented on #11369
"Make Presto Support Multiple EventListeners" has already been reported as #9100. Let me edit this issue to cover only "Reload EventListener Without Restarting Coordinator" part.

[2018-12-12 20:25] #11341 closed

[2018-12-12 20:30] #11152 closed

[2018-12-12 20:31] findepi commented on #11090
There were some bug fixes in resource groups and pools' configurations. Please check if the problem persists on a more recent version. If it does, please open a new issue.

[2018-12-12 20:31] #11090 closed

[2018-12-12 20:32] #11057 closed

[2018-12-12 20:32] #11058 closed

[2018-12-12 20:37] #10805 closed

[2018-12-12 20:38] findepi commented on #10803
Covered by https://github.com/prestodb/presto-hive-apache/pull/34

[2018-12-12 20:45] findepi commented on #10624
Implemented in https://github.com/prestodb/presto/pull/11734 > `Add required minimum number of workers to start query` commit.

[2018-12-12 20:45] #10624 closed

[2018-12-12 20:45] #10620 closed

[2018-12-12 20:48] findepi commented on #10573
should have been fixed by https://github.com/prestodb/presto/pull/10726

[2018-12-12 20:48] #10573 closed

[2018-12-12 20:48] #10559 closed

[2018-12-12 20:51] findepi commented on #10408
I think this has been addressed by https://github.com/prestodb/presto/pull/10994

[2018-12-12 20:51] #10408 closed

[2018-12-12 20:52] findepi commented on #10406
Looks obsolete

[2018-12-12 20:52] #10406 closed

[2018-12-12 20:54] findepi commented on #10404
Fixed in https://github.com/prestodb/presto/pull/10421

[2018-12-12 20:54] #10404 closed

[2018-12-12 20:58] findepi commented on #10314
My guess this is obsolete.

[2018-12-12 20:58] #10314 closed

[2018-12-12 21:00] findepi commented on #10304
@hgschmie was your conclusion that this cannot be fixed?

[2018-12-12 21:00] #10304 closed

[2018-12-12 21:02] findepi commented on #10127
Answered.

[2018-12-12 21:02] #10127 closed

[2018-12-12 21:05] findepi commented on #10099
`viewfs` is currently supported in INSERT but not in CREATE -- see https://github.com/prestodb/presto/pull/11590#issuecomment-425669585

[2018-12-12 21:07] findepi commented on #11279
Duplicates #10017

[2018-12-12 21:07] #11279 closed

[2018-12-12 21:10] findepi commented on #9905
Fixed by https://github.com/prestodb/presto/pull/10613

[2018-12-12 21:10] #9905 closed

[2018-12-12 21:12] findepi commented on #9863
No longer the case.

[2018-12-12 21:12] #9863 closed

[2018-12-12 21:14] findepi commented on #9785
Done in https://github.com/prestodb/presto/pull/9892

[2018-12-12 21:14] #9785 closed

[2018-12-12 21:15] findepi commented on #9746
Answered.

[2018-12-12 21:15] #9746 closed

[2018-12-12 21:17] findepi commented on #9718
My impression is that the goals outlined in this feature requests are covered already by `raptor` and `memory` connectors.
Of course, if there are use-cases where these fail short, a PR is more than welcome!

[2018-12-12 21:17] #9718 closed

[2018-12-12 21:17] findepi commented on #9659
Answered.

[2018-12-12 21:17] #9659 closed

[2018-12-12 21:21] findepi commented on #9450
Merged into https://github.com/prestodb/presto/issues/10326

[2018-12-12 21:21] #9450 closed

[2018-12-12 21:21] #9442 closed

[2018-12-13 00:21] VicoWu commented on #11369
@findepi  Thanks.  I just want to make sure what's the community opinion about whether or not it is worth doing this. so , What's your opinion?

[2018-12-13 03:12] wgzhao commented on #11750
I have fixed the problem ,the root cause is  MIT KDC's overhead.
So, I increase the MIT KDC threads . It works.

[2018-12-13 09:00] satoshihirose opened #12069 "Cannot obtain exact count of query stats such as startedQueries because SqlQueryManagerStats uses CounterStat()"
I would like to get exact count of submittedQueries which is submitted in certain time window like 1 min, 5 min etc and same as whole another stats.

Stats such as queuedQueries and runningQueries are using AtomicInteger so it provides exact count of them.
On the other hand, another stats such as submittedQueries and startedQueries are using CounterStat, CounterStat is using DecayCounter in Airlif

[2018-12-13 09:41] lonski commented on #9990
@hustnn You can try to workaround this problem by writing this query like this:
[code]

Notice the `values` keyword. It looks like it prevents building the whole tree, with operator for each literal in the `in` clause and is performing the filtering on presto side.

[2018-12-13 10:11] findepi commented on #11369
About reloading when a jar is replaced? This is tricky. You can run into classloader issues (eg previous classloader not being unloaded for some reason).
Do you have a reason to replace event listener plugin very often? I guess this is not solely to bug fixes, are there other reasons?

[2018-12-13 10:33] vikash32 commented on #12059
After one and half week banging my head on the wall, i finally made it working by adding below properties under config.properties.

`http-server.authentication.type=PASSWORD,CERTIFICATE`

[2018-12-13 10:33] #12059 closed

[2018-12-13 10:42] findepi commented on #12059
@vikash32 i am glad to see this working for you.

[2018-12-13 15:01] satybald opened #12072 "[Presto-CLI] ClassCastException: com.google.common.util.concurrent.TimeoutFuture cannot be cast to com.google.common.util.concurrent.FluentFuture"
A recent version of presto-cli [v0.214] seems to have issue processing request from presto server(v0.214) due to class cast exception.

[code]

[code]

[code]

[2018-12-13 15:49] satybald commented on #12072
my bad this an issue related to my own presto server modifications.

[2018-12-13 15:49] #12072 closed

[2018-12-14 05:37] zhenxiao commented on #12048
thanks @shangxinli for tracking it
@ryanrupp I think it is a good idea to upgrade parquet-mr
since Presto is using its own optimized Parquet Reader, and no longer depending on parquet-mr to read Parquet files, when the column level encryption features are implemented in Parquet, we have to implement similarly in Presto's own Parquet Reader. upgrade parquet-mr might not resolve all problem

[2018-12-14 05:39] zhenxiao opened #12075 "MinDuration in Connector configs are not working"
MinDuration in presto-main is guarding properties' minValue as expected
while, seems for connector properties, it is not working
e.g. in Hive Connector, we could set:
hive.dfs.connect.timeout=0s
with Hive Connector launched with no problem, although it has a MinDuration guard

Interestingly, Hive Connector has a small number of checkArguments to make sure some of the properties require a minValue,

[2018-12-14 08:34] findepi commented on #11210
i just run into the same problem:
[code]

I tried to repro locally with eg
[code]
then the test didn't fail, but the following was logged several times
[code]
or (notice, this is different line)
[code]

(stacktraces produced at 62f7c99df5d1ef45c2f96ffb05cbd2c707422815)

at first sight, this looks like some race. I hope that this is just a tests's race.

cc @raghavsethi

[2018-12-14 08:59] electrum commented on #12075
I tried changing the config in `HiveQueryRunner` and it failed as expected:
[code]
(the error message is bad but that's a bug in the `MinDuration` validator)

[2018-12-14 16:19] zhenxiao commented on #12075
Hi @electrum when I tried in HiveQueryRunner, the MinDuration is working as expected.
But when I tried to launch it in local debug cluster or small cluster, seems it is not guarding as expected.
I tried putting:
hive.dfs.connect.timeout=0s
in hive.properties, then a small Presto cluster could launch with no problem.

Find similar behavior for other connectors too.

[2018-12-14 16:20] zhenxiao commented on #12075
CC @nezihyigitbasi when we discuss similar issues for Elasticsearch connector.
When using *QueryRunner, the MinDuration is working as expected, but when using it to launch clusters, it is not guarding MinDuration

[2018-12-14 19:30] hocanint-amzn commented on #8510
I've submitted https://github.com/prestodb/presto/pull/12077 for this change which is similar to the changes that Athena has implemented.

[2018-12-15 01:06] #11961 closed

[2018-12-15 02:11] Tartarus0zm commented on #10803
It's good! Thanks

[2018-12-15 03:30] mbasmanova opened #12081 "Release notes for 0.216"
Issue to track release notes for next release

[2018-12-15 20:58] dain commented on #12058
When a drop table is sent to Presto, it immediately executes the drop on the Hive metastore, so you should not get an error recreating the table.  Can you post the full stack trace from the error message?  If you are using the Presto CLI make sure to run it with the `--debug` flag to get the full stack.

[2018-12-15 21:04] dain commented on #12049
One big issue with the verifier is the "non-deterministic" checker, does not work for `INSERT` queries.  The checker is currently only retrying the check sum query and does not rerun the insert query each time.

[2018-12-15 21:19] dain commented on #12069
If you add a custom even listener via the plugin apis, you should be able to add any stats you want.

[2018-12-16 02:41] ggreg commented on #12039
Regarding (1), at Facebook, some significant deployments have multiple clusters. We currently rely on an external process, the *gateway*, that redirects queries to the coordinator that will actually execute the query. The *gateway* only dispatches the query by replying with an HTTP redirect and the URL of another endpoint more suitable to handle the request. It can be a coordinator or another proc

[2018-12-16 02:49] martint commented on #12054
Fix merged.

[2018-12-16 02:49] #12054 closed

[2018-12-16 02:51] #9524 closed

[2018-12-16 02:55] martint commented on #12081
[code]

Web UI
[code]

[2018-12-16 22:14] electrum commented on #12075
Ugh, this is probably some sort of class loader issue. Let me dig into this.

[2018-12-17 05:46] VicoWu commented on #11369
@findepi  In practice, maybe we could expose an interface to make Coordinator reload the jar after we replaced the event listener jar. Anytime when I have some logic change, for example, the logic to process query created and query complete event, the change could take effect without restarting coordinator because coordinator is very critical while the event listener update is not;
I think a dedic

[2018-12-17 07:10] sczhaoqi commented on #11276
@findepi  The test results I just made are similar to the previous ones, but with different Error

2018-12-17T14:55:08.674+0800	ERROR	remote-task-callback-28	com.facebook.presto.execution.StageStateMachine	Stage 20181217_065508_00028_ezngw.1 failed
java.lang.ArrayIndexOutOfBoundsException: 0
	at com.google.common.collect.RegularImmutableList.get(RegularImmutableList.java:60)
	at com.facebook.prest

[2018-12-17 07:14] sczhaoqi commented on #11276
The test table like :
create table test1(
id String,
age int
)
insert into table1 values ('id1', 1);

[2018-12-17 07:18] sczhaoqi commented on #11276
we are using apache hadoop 2.7.4 and apache hive 2.1.1

[2018-12-17 08:45] findepi opened #12085 "Introduce log() function conforming to SQL 2016"
Follow up of https://github.com/prestodb/presto/issues/9939

- [ ] remove `deprecated.legacy-log-function` feature toggle
- [ ] add back the `log()` function as it was before https://github.com/prestodb/presto/pull/10069 but with the arguments swapped: `log(base, value)`

[2018-12-17 14:10] findepi opened #12087 "PlanPrinter prints "PartialSort" for the only sort when distributed sort is enabled"
## Steps to reproduce

1. A modification of Presto source code is required to get a plan printed at the stage before exchanges are inserted into the plan:
[code]
2. Run a query with an ORDER BY:
[code]

The following is printed (projections and symbol mappings were elided for brevity):
[code]

Now, the only sorting that is done is "PartialSort". There should be final sort.

- this may be a glitch

[2018-12-17 17:20] rschlussel opened #12089 "TestMongoDistributedQueries.testAtTimeZone is failing"
testAtTimeZone is failing for MongoDistributed queries with the error "java.lang.AssertionError: expected [2012-10-30T18:09+07:09] but found [2012-10-31T08:09+07:09]".  The test doesn't run in travis (it only runs with the "ci" profile), so it's been failing for a long time. I suspect the failure started after we changed the timezone for tests in  https://github.com/prestodb/presto/pull/10128.

cc

[2018-12-17 18:03] #12016 closed

[2018-12-17 19:03] dzhi-lyft opened #12090 "Coordinator driven graceful shutdown of worker"
To graceful shutdown a presto worker before let EC2 terminate the instance, the current way is to PUT the SHUTTING_DOWN like below:
curl -v -XPUT --data '"SHUTTING_DOWN"' -H "Content-type: application/json" http://250.0.46.167:8081/v1/info/state
The worker process immediately response to the request and should there be no pending query, wait the double grace period of 2 minutes each. coordinator s

[2018-12-17 19:18] nezihyigitbasi commented on #12090
Are you saying that the supervisor process (e.g., daemontools) is restarting the worker you just shutdown? If yes, can you solve this problem at the supervisor process level instead of modifying the shutdown protocol? Before you shutdown a worker, can you tell the supervisor not to restart that particular process first, and then send the `PUT` request to that worker to bring it down?

[2018-12-17 19:33] dzhi-lyft commented on #12090
It would further require the auto-scale-agent not only talks to the worker but has part of logic RUNs on the worker instance so to modify the service script or configuration to NOT restart the presto service daemon. It is part of the reason I propose the coordinator-driven approach so that the external auto-scale-agent only need talks to the coordinator.

As a useful context, we ran Presto cluster

[2018-12-17 22:52] willshen commented on #6010
What's the latest on this PR (i.e., is it moving forward)?

[2018-12-17 23:41] haozhun commented on #12081
#11891

[code]

[2018-12-18 01:30] CH-JoelBondurant commented on #10017
Epic fail, Presto can't handle unsigned ints.

`presto> select * from piwik_operations.piwik_pro.log_action limit 1;

Query 20181218_012523_02106_g4jaf, RUNNING, 2 nodes, 18 splits
0:05 [    0 rows,     0B] [    0 rows/s,     0B/s] [>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>] 0%

Query 20181218_012523_02106_g4jaf, FAILED, 2 nodes
Splits: 18 total, 0 done (0.00%)
0:07 [0 rows, 0B] [0 rows/s, 0B/s]

[2018-12-18 01:37] VicoWu commented on #11608
@rschlussel @sopel39 @kokosing  It seems that I didn't get any response for many of my issues for a long time. Would you please give me some update if you are free? let's move forward and achieve a better Presto continuously!
I think it is very clear from the source code that presto didn't compute the statistics for flat table correctly, that is, it  takes the whole tables's `rowCount` as the esti

[2018-12-18 01:59] CH-JoelBondurant commented on #10017
What an epic fail, is there a workaround to this mess?
=======================================================================
mysql> show create table log_action;
+------------+--------------------------------------------------------------+
| Table      | Create Table                                                 |
+------------+--------------------------------------------------------------+
|

[2018-12-18 02:15] CH-JoelBondurant commented on #11279
Here's a link to a suggested workaround:
https://drill.apache.org/

[2018-12-18 02:15] CH-JoelBondurant commented on #10017
Here's a link to a suggested workaround:
https://drill.apache.org/

[2018-12-18 02:46] Nancy-Chauhan commented on #12090
How to deploy it

[2018-12-18 06:49] dain commented on #12017
@shlomialfasi does this fix the issue #12094?

[2018-12-18 11:00] sopel39 opened #12095 "Flaky test: testFinalStageInfo(com.facebook.presto.execution.TestSqlStageExecution)"
[code]

[2018-12-18 11:24] sopel39 commented on #12095
FYI: @dain @arhimondr

[2018-12-18 13:29] sopel39 opened #12096 "Incorporate WorkProcessor in operators"
Issue for effort to support:
* cross operator lazy pages (starting from source operators)
* cleanup/simplify contract between operators via WorkProcessor pipelines
* provide base for further improvements (e.g: on stack rows without Page materialization, Graal)

The advantage of cross operator lazy pages is that we can avoid IO when queries are highly selective. This requires that significant proce

[2018-12-18 14:03] sopel39 commented on #11608
Could be related to: https://github.com/prestodb/presto/issues/11959

[2018-12-18 14:11] sopel39 commented on #12087
@findepi I think you run the planning in `forceSingleNode` mode. In that case no merging will happen, so you could observe such plans during testing. However, in distributed mode `MergeSort` operators should be added correctly

[2018-12-18 15:48] #12063 closed

[2018-12-18 16:54] arhimondr commented on #12095
I was trying to debug it, but i didn't manage to reproduce it.

I suspect that the race happens when scheduling a new task when the `SqlStageExecution` is already aborted.

Consider next scenario

1. Some number of tasks already scheduled: https://github.com/prestodb/presto/blob/master/presto-main/src/test/java/com/facebook/presto/execution/TestSqlStageExecution.java#L134
2. `SqlStageExecution#abo

[2018-12-18 16:55] arhimondr commented on #12095
Why is it needed to keep adding tasks to the `allTasks` when stage is already cancelled? If stage is cancelled, why `scheduleTask`, `scheduleSplits` and `addExchangeLocations` cannot be simply ignored?

[2018-12-18 21:50] rschlussel commented on #12089
The test was  broken by https://github.com/prestodb/presto/pull/10128/commits/ade4339602eb959e07e94cd9c480dd64dc4a2e9a because the mongo query runner was explicitly setting the session property.  #12097 fixes the issue.

[2018-12-18 21:53] findepi commented on #12087
@sopel39 , not quite. I provided repro steps above -- i printed an intermediate plan, before all the optimizers are run.
I would expect such an intermediate plan to be a correct, logical plan. Maybe I am being wrong here.

[2018-12-19 01:30] satoshihirose commented on #12069
I will try to figure out how to implement the demand with custom event listener.
Thanks for your comment.

[2018-12-19 01:30] #12069 closed

[2018-12-19 02:17] electrum commented on #11675
@ddrinka Thanks for the confirmation. Even if the upload at the end is fast, we might use a considerable amount of local disk (or even run out). This approach would only require up to 5GB (the S3 chunk size) per open writer.

[2018-12-19 02:18] electrum commented on #12002
cc @wenleix

[2018-12-19 10:54] raghavsethi commented on #11210
I spent some time looking at this and can't wrap my head around it. I'm reasonably confident it's not causing issues since it has been running in production for months. I'll likely have time to look at it in the middle of January.

[2018-12-19 12:07] sopel39 commented on #12087
`SortNode` doesn't know if it's partial or not, so printing depends on if distributed sort is enabled system wide.

[2018-12-19 15:08] sopel39 opened #12108 "Does empty probe side really cause build side to finish earlier?"
By accident we run into query with join where build side should finish early.
In `213` build side didn't finish early, while in `208` it did. I thought this might be related to: https://github.com/prestodb/presto/pull/10307, but in both `213` and `208` `LookupJoinOperator` is identical. Maybe there are some other relevant changes (e.g: driver) that could cause that or maybe it's just how the query

[2018-12-19 20:34] shixuan-fan opened #12109 "Extra remote exchange when window partitions is a super set of bucket columns"
[code]

Looks to me if window partition (e.g. ['a', 'b', 'c']) is a super set of bucket columns (e.g. ['a', 'b']), we don't need to do a remote exchange, since the required rows are available locally. In this way fragment 1 and 2 could be combined into one fragment.

Let me know if I'm missing some obvious/essential part. If it looks good, I could work on this optimization.

cc @wenleix @haozhun

[2018-12-19 21:02] nezihyigitbasi commented on #12096
Can you give details about the "Graal" plans?

[2018-12-19 21:12] nezihyigitbasi commented on #12081
[code]

[2018-12-19 21:40] wenleix commented on #12002
This is fixed in https://github.com/prestodb/presto/pull/11376/commits/740fcc9169048a99296a2d5eba79003d578cf954, as part of https://github.com/prestodb/presto/pull/11376 (not merged yet).

We can also merge this separately .

cc @jessesleeping

[2018-12-19 23:52] #11977 closed

[2018-12-20 08:00] findepi commented on #12109
in your example:

i think you need to repartition after table scan to combine rows with the same `bucket_key` but from different partitions (unless we realize there is exactly one partition)

@shixuan-fan does the same happen when the table is not partitioned?

[2018-12-20 10:59] sopel39 commented on #12109
Actually I think Hive does support buckets that span across partitions as splits for the same bucket but from different partitions should be run by the same worker.

Could you check what `ConnectorTableLayout#getNodePartitioning` returns for this table? I expect it to be non-empty for the table.

Does the same happen when you run `GROUP BY`?
Do you have `hive.bucket_execution_enabled` and `plan_wi

[2018-12-20 11:00] sopel39 commented on #12109
Otherwise I suggest to debug `AddExchanges` and `PropertyDerivations` to see why it added an exchange

[2018-12-20 19:45] jessesleeping commented on #12002
Created a separate PR for the single commit. Will rebase the large PR once this is merged.

[2018-12-20 19:54] ggreg commented on #12090
How does the coordinator discover the workers in that cluster?

[2018-12-20 19:56] ggreg commented on #12090
I'm wondering if there is a way to leverage an external discovery service to define the state of the Presto worker and use it both in the local supervisor process and the auto-scale-agent.

[2018-12-20 21:08] #12089 closed

[2018-12-20 22:47] shixuan-fan commented on #12109
@findepi:
It is the same for unpartitioned table.
[code]

@sopel39:
I've checked that `hive.bucket_execution_enabled` and `plan_with_table_node_partitioning` are both set to `true`. For `GROUP BY`, there won't be additional remote exchange between aggregate and table scan.
[code]
There is no `ConnectorTableLayout#getNodePartitioning` so I'm a bit confused. `ActualProperties#getNodePartitioning` is

[2018-12-20 23:01] sopel39 commented on #12109
Of course I meant `ConnectorTableLayout#getTablePartitioning`.

Nice find!. That's probably the cause. Do you want to provide a fix?

[2018-12-21 00:22] shixuan-fan commented on #12109
Sure. Will put up a pull request. Thanks for confirming :)

[2018-12-21 08:54] wenleix opened #12124 "[Design] Recoverable Grouped Execution"
(A comment-friendly version of this design doc can be found at https://docs.google.com/document/d/1YhibgfzxtkjeJoYtty7R_AdBjTQdqf2nTtwQHk3kGLA/edit?usp=sharing)

# Introduction

Grouped execution was introduced to Presto in https://github.com/prestodb/presto/pull/8951 to support huge join and aggregation raised in ETL pipelines.

When the input tables are already partitioned on the join key or agg

[2018-12-21 08:55] wenleix commented on #12124
cc @dain , @kokosing , @findepi

[2018-12-21 20:49] #11978 closed

[2018-12-22 00:15] rockxsj opened #12128 "Query will failure with Internal error when partition only have a empty file"
First of all my file store in AWS S3.
The bug could by reproducted by create a external table and add some partitions to it. If some partitions only have one empty file and then you query these partitions, you will get a Internal error.
:(

[2018-12-22 12:30] Praveen2112 commented on #12085
@findepi I have raised the PR (#12127) which adds back the log() function with arguments swapped

[2018-12-22 16:12] findepi commented on #12128
What is the file format of  your table?

[2018-12-25 02:18] x-otto-x opened #12132 "Expected service announcement after 8000.00ms, but announcement was delayed 16.11s"

[2018-12-26 06:43] xiefu5hh commented on #12058
I check the uri,the drop query is success,but get error table exists when I recreate it. I think the debug mode has no more infomation. Does the drop query design has the consistency problem?

[2018-12-26 10:28] daikon12 opened #12134 "Questions about "order by rand()""
Question:

 When I add "order by rand()" in SQL, only one query will run, and the other will be queued at the same time; But if I remove  "order by rand()" from the same SQL ,all the query will run at the same time。What is the reason for this phenomenon？

without   "order by rand()" ：
![image](https://user-images.githubusercontent.com/8246136/50442869-d737f580-093b-11e9-8110-177b5a73d1b1.png)

wit

[2018-12-26 13:22] xumingming opened #12135 "Jdbc Based Connector: split the query into multiple splits by auto_increment columns"
Currently, Jdbc related connector produce only one split for query: https://github.com/prestodb/presto/blob/3060c65a1812c6c8b0c2ab725b0184dbad67f0ed/presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java#L230-L240

I propose to enhance this part, we can detect whether the table have any auto_increment column, if it does, we can split the query by the auto_increment valu

[2018-12-27 03:09] cnuss opened #12136 "Add Number of Stages to Query Statistics"
Greetings!

In Presto 0.208, `query_max_stage_count` and `query.max-stage-count` was introduced.

Now queries might fail with an error message of:

[code]

I use an event listener to capture Query Metadata using the Presto SPI to logs, however the number of stages (aka Fragments) don't appear to be set in the Query Statistics.

Could you add the number of stages/fragments as a metric in the Query

[2018-12-27 10:59] sopel39 commented on #12134
`order by` requires storing all data in cluster memory for sorting purposes. It could be that query max memory per node is too low.

[2018-12-27 11:13] sopel39 commented on #12124
I was thinking that we could use some kind of "sub-transactions" for the failure cleanup. This would delegate the cleanup to the connector (e.g: in Hive 3 we could use MVCC for S3). Then in the coordinator either:
[code]
If any fails, then the whole query fails. This would also remove the need for cleanup: `ConnectorMetadata.finishInsert/finishCreateTable`

[2018-12-27 11:19] daikon12 commented on #12134
Yes ， you are right,  `order by` requires storing all data in cluster memory. but there are 12 nodes in  my presto cluster ,  and query max memory per node is 60GB , which I think is enough  for  the table  . Is that the only factor ? Is there any other reason.

[2018-12-27 11:20] daikon12 commented on #12134
@sopel39
Yes ， you are right, order by requires storing all data in cluster memory. but there are 12 nodes in my presto cluster , and query max memory per node is 60GB , which I think is enough for the table . Is that the only factor ? Is there any other reason.

[2018-12-27 17:17] xumingming opened #12138 "Optimize the documentation of CSV Row decoder"
https://prestodb.io/docs/current/connector/kafka.html#row-decoding

The CSV row decoder mention that:

but there is no documentation what `mapping` is. (From the code we can see that the mapping is actually the index of the field in the csv line).

[2018-12-27 20:11] sajjoseph commented on #12135
Have you looked at this issue - https://github.com/prestodb/presto/issues/10832
Looks like both are for similar concerns.

[2018-12-27 20:40] electrum commented on #12135
Closing as a duplicate of #10832

[2018-12-27 20:41] #12135 closed

[2018-12-27 20:48] sajjoseph commented on #12039
I implemented the gateway service through haproxy. It doesn't check the query string in the request. All clients connect to the haproxy layer to run their queries and the proxy server will route the request to the coordinator. There are two coordinators with their own discovery service. These discovery services are externalized (we are not using the built-in discovery service of the coordinator).

[2018-12-27 21:04] nezihyigitbasi commented on #12132
This message is logged by the discovery `Announcer` [here](https://github.com/airlift/airlift/blob/master/discovery/src/main/java/io/airlift/discovery/client/Announcer.java#L142-L145), when the discovery announcement is delayed more than 5s. I have seen this message multiple times due to long GC pauses. You can check your GC logs to see whether there are long pauses around the time of this message

[2018-12-27 21:06] sajjoseph commented on #11917
While I agree with the proposal, one alternative is to use OpenID based authentication. So, Presto is not involved in authenticating user, but uses the token from authentication server.
@anusudarsan - thoughts/suggestions?

[2018-12-27 21:07] nezihyigitbasi commented on #12136
You can extract the number of stages from the `plan` in the `QueryMetadata`. Also, just curious, how are you going to use that information?

[2018-12-28 01:13] Ralnoc commented on #11917
While I agree with the reasoning and love the idea of alternative authentication methods, OpenID based auth would break future integrations with things like Apache Ranger and would make client authentication much more difficult. This is the same issue with SAML authentication.

LDAP and Active Directory authentications are industry standards, so having them in place makes sense. It would just be b

[2018-12-28 02:36] xumingming opened #12142 "Clarify documentation for redis.key-prefix-schema-table config"
The following doc is not so accurate:

[code]

the actual key prefix will be scanned is not `schema-name:table-name` , instead the prefix required is: `schema-name:table-name:` , and if the schema-name is default schema, the prefix is: `table-name:` .

[2018-12-28 02:48] xumingming opened #12143 "Optimize doc: add doc about use zset as key data type"
redis connector supports use zset as the key data type:

https://github.com/prestodb/presto/blob/d11886a6d992c3068e15becaf70d3759ee2c8dd0/presto-redis/src/main/java/com/facebook/presto/redis/RedisRecordCursor.java#L299-L315

but there is no mention in the doc.

[2018-12-28 05:38] cnuss commented on #12136
it looks like the plan is a generic String. What would I extract out of that for the number of stages?

I plan to use the number so I can properly tune max stages to a reasonable minimum above the default.

[2018-12-28 06:59] xumingming opened #12144 "Redis Connector: support specify key prefix for each table"
Currently, Redis connector support the following two configs to indirectly specify the table key prefix:

* redis.key-prefix-schema-table
* redis.key-delimiter

But it constains the prefix to be the format of `schema-name:table-name`,  there are cases where the prefix is predefined, then we want to analyze the data in it, then we may not have the structure of `schema-name:table-name` in the key, s

[2018-12-28 09:00] aeoles commented on #11256
I have encountered the same error, how do u fix that

[2018-12-28 15:32] sopel39 commented on #12095
failed again in: https://github.com/prestodb/presto/pull/12115

[2018-12-29 02:03] daikon12 commented on #12134
@nezihyigitbasi
Yes ,  I make a configuration in the way of resource groups .   I'm confused that just  Very few resources are needed when I query " show schema " . Excuse me, Do you agree ? But the query " show schema " will be queued until "order by"   is finished , that is strange.

[2018-12-29 07:30] wagnermarkd commented on #8510
I'm late to the party, but might be able to share some history: Hive is very lenient with SerDes in how they choose to read data. SerDes in Hive receive metadata for both the table and partition to be read and can resolve any differences between the two however they see fit. The final type of rows that will be returned is communicated through the returned ObjectInspector. For example, in the Avro

[2018-12-29 14:35] ebyhr opened #12148 "SELECT from postgresql table which don't have supported column types throws table not found"
When a table in postgresql doesn't have supported column types, SELECT throws `Table '***' not found`. Is it expected behaviour? I feel the message is not kindly and should improve message if possible.

pcli (array type is not yet supported)
[code]

presto-cli
[code]

[2018-12-29 14:55] ebyhr commented on #12148
It seems this is expected behaviour according to below comment. I will close this issue.
https://github.com/prestodb/presto/blob/master/presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java#L212

[2018-12-29 15:14] #12148 closed

[2018-12-29 19:34] cnuss commented on #12136
Wow awesome, Thanks!  I'll use that.  And I'll close this issue.

[2018-12-29 19:34] #12136 closed

[2018-12-29 23:48] findepi commented on #11422
@ebyhr did you see https://github.com/prestodb/presto/pull/8849?

[2018-12-30 03:11] ebyhr commented on #11422
@findepi Oops! I couldn't find the PR. Thank you for telling me.

[2018-12-31 07:10] findepi commented on #12095
failed again in: https://github.com/prestodb/presto/pull/12150

[2018-12-31 07:53] ebyhr commented on #10919
@raghavsethi QueryManagerConfig already has `query.max-cpu-time` and `query.max-execution-time`. Does this issue indicate same properites?

[2018-12-31 08:07] raghavsethi commented on #10919
@ebyhr Ah yes, you're right, I missed that before. Thanks!

[2018-12-31 08:07] #10919 closed

[2018-12-31 08:08] raghavsethi commented on #12095
@dain is on vacation at the moment, but I suspect he will roll it into/fix it with a PR he's about to put up.

[2018-12-31 08:33] electrum commented on #12095
It seems to fail about half the time for me in Travis.

[2018-12-31 08:39] findepi opened #12153 "TestHiveFileSystemS3 is flaky when run for different code versions"
Test data setup for `TestHiveFileSystemS3` uses predefined bucket location (`<test-bucket>/presto_test_external_fs`). It is correctly only when it is idempotent, as concurrent test runs will try to update the same location.

https://github.com/prestodb/presto/blob/a443bb7a1db30997431ea7f082ce3fa330cdfa50/presto-hive-hadoop2/bin/run_hive_s3_tests.sh#L19-L21

However, the setup recently changed to

[2018-12-31 08:40] findepi commented on #12153
@sameer2086 can you please take a look into that? I suggest that we use a different location in `run_hive_s3_tests.sh` now. Something like `<test-bucket>/v2/presto_test_external_fs`.

[2018-12-31 11:04] raghavsethi commented on #11881
I'm not sure how you would do that, but would be happy to look at a draft PR.

[2018-12-31 11:49] findepi commented on #9118
[code]

in your case, `date_val` column is not partitioning column, so its value is not known at planning time. The planner doesn't look into data files before executing the query. The planner does not know what you know -- that there is one row only and could be read eagerly to produce better query plan.

Your options

# For now, you need to read `date_val from TBL_DATE` and pass it to your secon

[2018-12-31 11:49] #9118 closed

[2018-12-31 11:52] findepi commented on #8680
This has been answered. https://github.com/prestodb/presto/issues/7428 tracks the dynamic filtering feature.

[2018-12-31 11:52] #8680 closed

[2018-12-31 12:17] findepi opened #12154 "Push down SemiJoin+Filter through Join"
Semi Join:
[code]
uses the plan:
[code]

whereas it the following would be better:
[code]

Currently, CBO can correctly estimate the number of rows retained by SemiJoin+Filter. If the SemiJoin+Filter was pushed down below the join, `ReorderJoins` would be able to reorder the joined table, putting the filtered `orders` as the build side.

[2018-12-31 12:46] findepi commented on #6384
Currently the EXISTS can, sometimes, be executed as an InnerJoin without aggregation and reordered.
Semi Join cannot (partially addressed by https://github.com/prestodb/presto/issues/12154)

[2018-12-31 12:48] findepi opened #12155 "ReorderJoins should handle projections"
Query
[code]

has a plan:
[code]

`ReorderJoins` cannot reorder the `InnerJoin`s in this plan because they are separated by a `Project` node.
At the time `ReorderJoins`, the projection is simpler (as below), but still preventing `ReorderJoins` from rotating the plan and joining `orders` with filtered `lineitem` first.
[code]

[2018-12-31 16:17] ankitdixit commented on #11881
@raghavsethi @phd1994  I am facing the same problem too. Is there any timeline for the solution.
Would you like to suggest a temporary workaround until this is fixed.
In can run more we have this code
`if (cpuUsageMillis >= hardCpuLimitMillis) {
                return false;
            }`
Does it make sense to have a new variable which keeps track of whether the cpuUsageMillies has "crossed hardC

[2018-12-31 22:47] sameer2086 commented on #12153
Thanks for reporting the issue @findepi. The approach sounds good to me.

The current prefix naming scheme will create the new table at an additional level of depth. From S3 key point of view, this would be ok. However, in AWS console, the user would see the two presto_test_external_fs logical directories:
[code]
How about we create a new table-name for s3 select pushdown with `<test-bucket>/prest

[2018-12-31 23:31] sameer2086 commented on #12153
@findepi, requesting review of https://github.com/prestodb/presto/pull/12157.

[2019-01-01 10:12] hustnn opened #12159 "Presto worke node crashed due to some unknown reason"
After crash, I check the server log, can only found some unexpected character shown below. Anybody know the reason?

"^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@

[2019-01-02 05:32] kokosing commented on #12154
Isn't this a cost-based decision? The suggested plan can be worse if the inner join is row filtering.

[2019-01-02 08:14] findepi opened #12162 "Regenerate tpch and tpcds stats with Presto"
See

https://github.com/prestodb/presto/blob/80a21808d0f3937c155a1c3d618d2a6ec43db8e2/presto-tpch/src/main/resources/tpch/statistics/sf3000.0/README.txt#L1-L2

https://github.com/prestodb/presto/blob/80a21808d0f3937c155a1c3d618d2a6ec43db8e2/presto-tpcds/src/main/resources/tpcds/statistics/sf3000/README.txt#L1-L2

once https://github.com/prestodb/presto/pull/11376 is merged, we should regenerate th

[2019-01-02 08:18] findepi opened #12163 "Add stats to tpch, tpcds for other scale factors"
tpch (and sometimes tpcds) are used to try out CBO.
however, both provide stats for some scale factors only (currently: sf0.01, sf1, sf3000 in both cases).

- [ ] provide stats for more scale factors that are likely to be used, eg sf10, sf100
- [ ] produce a user-visible warning (ie via `WarningCollector`) when a schema without stats is used

[2019-01-02 08:44] kokosing commented on #12163
We used to have statistics that were scaled from sf1, but that was introducing an error. Would you like to restore that or extend what we have now to other scale factors?

[2019-01-02 09:12] electrum commented on #9558
Presto has been running in production on Java 9+ for quite a while.

[2019-01-02 09:12] #9558 closed

[2019-01-02 09:44] sopel39 commented on #12154
`SemiJoin+Filter` can be treated as a "filtering" operator, which we always pushdown.
`SemiJoin+Filter` can break existing partitioning though (e.g: for bucketed execution) so in order to be on safe side we could push it down only when it's broadcasted

[2019-01-02 16:10] rschlussel commented on #12155
I think a good way to do this would be to have a rewrite that pulls projections above joins when you have a join on top of a project.  Later rewrites can push them down again.

The limitation on reordering across projections (and pulling projections above joins) is that none of the columns in the join predicates can use any of the (non-identity) projected columns.

[2019-01-02 16:54] sopel39 commented on #12155
Actually we could consume projections and add them to `allInference` for multi-join-node. Then we could add projection on top of joins tree that rewrites global `outputSymbols` in terms of source symbols.
When constructing joins (during enumeration) we don't need to do any special steps.

The problem with the approach is that if there is projection: `c=a+b` and there are multiple joins that use `c

[2019-01-02 17:00] rschlussel opened #12165 "Flaky TestRaptorIntegrationSmokeTestMySql.testShardsSystemTable"
`TestRaptorIntegrationSmokeTestMySql.testShardsSystemTable` fails intermittently with the following stack trace:
[code]

[2019-01-02 18:10] shixuan-fan commented on #12081
#9169
[code]

[2019-01-02 18:49] nezihyigitbasi commented on #12159
This itself isn't helpful. Can you share the stderr/stdout of the Presto process (you can upload them as gists)?

[2019-01-02 19:51] phd1994 commented on #11881
@ankitdixit thanks for your comment.

Personally, I don't think it is a good idea to update state inside `canRunMore` method, since it's purpose is to check the state and return a boolean.

On the lines of what you suggested, we can implement this in `internalGenerateCpuQuota` method. We can check for the value of cpuUsageMillis, and see if it has become less than the threshold of `hardCpuLimitMil

[2019-01-02 20:00] cbanek commented on #12095
This has come up both on my local dev machine and in Travis (with my PR).

[2019-01-02 20:14] mbasmanova opened #12167 "date_format returns incorrect week for the last day of 2018"
Monday 12/31/2018 is the 53rd week of 2018, but parsing a unixtime from that day asking for the week number using %v gives 01:

[code]

CC: @haozhun

[2019-01-02 20:21] rschlussel commented on #12167
I don't know what the expectation is from the sql perspective, but this is the defined behavior for joda: http://joda-time.sourceforge.net/field.html#weekyear

[2019-01-02 21:48] findepi commented on #12167
This is (surprisingly) the expected behavior.

[2019-01-02 21:48] #12167 closed

[2019-01-02 21:50] findepi commented on #12163
that could be counter-productive.

[2019-01-02 23:37] zaynoon opened #12169 "Add option to limit writers per query"
At the moment the max numbers of writers that a query can use is determined by the number of servers in the cluster. This creates incidents where a query authored on one cluster will unexpectedly fail on a smaller cluster due to the lower number of workers.

Having an option to impose a limit on how many writers might be utilized will allow consistency across clusters with different sizes and prov

[2019-01-03 03:36] dain commented on #12128
Can you post the error message and stacktrace you get  when run the cli with `--debug`?

[2019-01-03 03:43] dain commented on #12058
We will need the stacktrace and error message to help you.  The "drop" happens in the Hive metastore process, which is maintained by the Apache Hive project.  IIRC, you can get errors like these when using S3 for the storage, since it has eventual consistency for deletes.

[2019-01-03 04:12] hustnn commented on #12159
@nezihyigitbasi .

I found some JVM error information shown below. It seems related to code gen. Is this useful?

---------------  T H R E A D  ---------------

Current thread (0x00007ebfe47f6000):  JavaThread "C2 CompilerThread4" daemon [_thread_in_vm, id=90880, stack(0x00007ebfe31fb000,0x00007ebfe32fb000)]

siginfo: si_signo: 11 (SIGSEGV), si_code: 1 (SEGV_MAPERR), si_addr: 0x00007ebfe04e6028

R

[2019-01-03 05:08] wenfengsui opened #12171 "Memory connector over-accounts memory allocations"
[code]

presto-server version: 0.170

presto-cli
[code]

Query copied  2.97GB data, but memory connector reported exceeding limit of 34,359,738,368.

[2019-01-03 08:36] findepi commented on #12171
This topic has been already reported (under hard to find name) as https://github.com/prestodb/presto/issues/10337 and discussed there.

[2019-01-03 08:36] #12171 closed

[2019-01-03 20:49] cbanek opened #12175 "Travis CI failure due to auth to dockerhub"
Pulling docker image [prestodb/centos6-oj8:10]
Pulling docker image [prestodb/hdp2.6-hive:10]
Error response from daemon: unauthorized: authentication required
The command "if [[ -v PRODUCT_TESTS_BASIC_ENVIRONMENT ]]; then

I've hit this problem twice when running the Travis CI job on my PR.

Link to Travis Job: https://travis-ci.org/prestodb/presto/builds/474668982

The PRODUCT_TESTS_BASIC_ENVIRO

[2019-01-03 20:57] dain commented on #12159
This is a JVM internal error during JIT compilation.  I suggest trying a different JVM version.

[2019-01-03 21:50] cbanek commented on #12175
Looks like this didn't repro just now for my latest build - I'll close this one tomorrow if I don't see it coming up again.  Anyone else see this?

[2019-01-03 21:53] ryanrupp commented on #12175
This was due to a Docker Hub outage, see [here](https://status.docker.com/pages/533c6539221ae15e3f000031)

[2019-01-03 21:55] cbanek commented on #12175
Sweet thanks @ryanrupp I'll close it.

[2019-01-03 21:55] #12175 closed

[2019-01-03 23:50] nezihyigitbasi commented on #12159
This is part of the error emitted by the JVM on crashes (in this particular case it's a `SIGSEGV`). This may be a JVM bug and as @dain suggests trying a newer JVM version may help. If you share the entire error log (or even better the entire hs_err_pid file) maybe we can tell whether we have seen this crash before and give more info.

[2019-01-04 01:34] wenleix commented on #12081
https://github.com/prestodb/presto/pull/12084
[code]

[2019-01-04 03:05] hustnn commented on #12159
@nezihyigitbasi @dain

The complete hs_err_pid file is here. (https://gist.github.com/hustnn/5869539f20df2512e534ae45fabc1f5c)

The jdk version we are using is not quite old in my mind.

[2019-01-04 11:37] findepi commented on #12153
The problem will be fixed internally, as per https://github.com/prestodb/presto/pull/12157#issuecomment-451421348.

[2019-01-04 11:37] #12153 closed

[2019-01-04 14:28] Praveen2112 opened #12178 "Discussion : Push down Regular expression to Connector"
Presto pushes the filter predicate to the connector using `TupleDomain` and currently `TupleDomain` captures the filter predicate in a `ValueSet` and currently it supports for >,>=,<,<=,=,!= operatiors. For new connectors like elastic-search or even for existing presto-base-jdbc connector it would be better if we could capture the like predicate i.e the regular expression and enforce it at the con

[2019-01-04 17:49] dain commented on #12095
I'm working on reproducing this by adding a kill switch MockRemoteTaskFactory which will prevent `abort` from working on tasks.  That way new tasks can't finish.  Assuming that is the core issue, I'll try to figure out how it can be fixed.

[2019-01-04 20:05] kokosing commented on #12178
As already you noticed with `columnA = '123' and columnA like '1%' ` example, regular expressions do not fit well `ValueSet`. I think it would be better (still not perfect) to extend the `Domain` to contain new field - a list of regular expressions.

There couple problems with that:
 - all the places that touch `Domain` would need to be updated, to not skip such predicate.
 - all methods like `int

[2019-01-04 20:06] nezihyigitbasi commented on #12159
I haven't seen this before. You can try a later JVM version to see whether it helps. If you can reproduce it you can also report it to the relevant JVM mailing lists.

[2019-01-04 23:12] dain commented on #12095
I was able to reproduce this by modifying `MockRemoteTaskFactory`.  The problem is what @arhimondr pointed out, adding new tasks after final info is set.  I see two things that I think need to be fixed:

1) we should "capture" the final stage info once it is created, so it can not be changed.
2) we should not allow tasks to be added after the stage is in a done state.

I think the first one is pre

[2019-01-05 00:58] electrum commented on #12178
I think @martint has a short term plan to add expanded pushdown for connectors.

[2019-01-05 12:25] ebyhr opened #12180 "Different date result between presto and hive"
As Shubham posted on Google Group, selecting `0600-01-01` from hive connector returns `0600-01-03`.
https://groups.google.com/forum/#!topic/presto-users/lb-5xLV7buc

Steps to reproduce
1. Create table on hive
[code]

2. Select via Presto
[code]

Also date_add results are different. (Probably, presto result is right?)
[code]

[2019-01-05 18:53] Praveen2112 commented on #12180
But the Presto's result is the correct one right ? I guess Shubham is using Hive 1.1.0 and it might be a issue in Hive 1.1.0 ?

[2019-01-06 07:14] Praveen2112 commented on #12180
@ebyhr It is because of the issue in Hive for version before 3.1. Prior to 3.1 version hive uses `DateWritable` for converting the `Date` to epoch day and the conversion is bit buggy (might be because of Julian and Gregorian calendar changes) and after Hive 3 they have moved it to `DateWritableV2` which  `LocalDate#toEpochDay` to get epoch day.

When we try to run this query `select datediff(cast(

[2019-01-07 02:04] nezihyigitbasi opened #12181 "Document config properties related to distributed memory limits"
`query.max-memory` and `query.max-total-memory` needs to be documented in `properties.rst` file.

[2019-01-07 02:11] FDU-SE-LAB opened #12182 "Your project prestodb/presto is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 06:37] hustnn commented on #12159
@nezihyigitbasi I see. Thanks.

[2019-01-07 06:38] hustnn commented on #12159
Close first. Suspect it is jvm issue.

[2019-01-07 06:38] #12159 closed

[2019-01-07 09:17] sopel39 commented on #12178
What is expanded pushdown @martint ?

[2019-01-07 09:23] findepi commented on #12180
The problem of Julian-Gregorian differences is totally ignored by Java Time. Java Time uses proleptic Gregorian calendar.
(true support for combined Julian-Gregorian should be region-aware, as different countries did transition in different years, some as early as  sixteen century, some as late as twenty century)

Before Hive 3.1, Hive would always (?) use java.util.Date, java.sql.Timestamp which

[2019-01-07 09:43] findepi commented on #12182
@FDU-SE-LAB
Did you take time to check the methods are actually used in the code base? (I think they are not)
Or, especially in case of performance problems, you should check the code is used in production
code (as opposed to tests).

I know you're trying to be helpful. However, if you do not check the importance of the report you're
writing, this may end up being received as spam.

[2019-01-07 17:14] qinghui-xu opened #12185 "Provide query history extension to QueryTracker"
Presto UI fetches query history provided by QueryTracker. Current implementation of QueryTracker keeps the recent queries in some in-memory data structure, which has some capacity limit. This leads to history expiration for queries aged more than the configured `query.min-expire-age` (default is 15 min).
As `query.min-expire-age` should not be too big to take up all the heap, we might need an exte

[2019-01-07 18:14] #12138 closed

[2019-01-07 21:14] findepi commented on #12185
What you suggest requires getting some external store (eg object store like s3) and configuring Presto so that it can read/write there.

I would recommend:
1. create event listener to dump your query info in some object store (eg s3)
   - of course, this calls for some reuse so that we don't have to reinvent this piece over and over
2. configure a hive connector so that you can read the informatio

[2019-01-07 21:36] dain commented on #12081
[code]

[2019-01-07 21:45] hammadzz commented on #11480
I am actually seeing this error on trying to connect to Presto via LDAPS. Any ideas of what could cause this? I did try restarting Presto but didn't help.

[2019-01-07 23:09] yingsu00 opened #12187 "HashTable for base MapBlock is not updated when referencing the hashtable on the sliced MapBlock"
PR #11791 (commit 23de11f7d3), which lazily builds the hashtables for maps, introduced a regression for the case where the MapBlock is created through `AbstractMapBlock.getRegion()`. The hashtables built on the MapBlock region were not updated in the original MapBlock, thus causing repeated hashtables build on the same base MapBlock.

[2019-01-08 03:08] jackyfreezer007 opened #12190 "Some question about presto /v1/statement"
when i updated my presto cluster from 0.192 to 0.206,i found some problem about /v1/statement
request params
[code]

request response
![image](https://user-images.githubusercontent.com/19622812/50807491-8c53b000-1335-11e9-962b-8fe3af6ac52a.png)
but this query did not  really run in cluster

[2019-01-08 03:54] jackyfreezer007 commented on #12190
I read the code and found the following logic, but I don't know what caused it.
![image](https://user-images.githubusercontent.com/19622812/50808931-e2c3ed00-133b-11e9-8e43-f4110dfe22ad.png)

[2019-01-08 04:40] jackyfreezer007 commented on #12190
@dain But this query did not really run in cluster,the same way is OK with version 0.205.

[2019-01-08 05:07] jackyfreezer007 commented on #12190
i find that when
[code]
the query really run in cluster

[2019-01-08 06:03] jackyfreezer007 commented on #12190
@dain Thank you for your reply. I know the reason

[2019-01-08 06:39] ankitdixit commented on #10739
@findepi I tried looking into it.
It seems when createStatement() in SqlQueryManager calls SqlParser.invokeParser(), the output of this call which is a _Statement_ should not drop but _escape_ the double quotes from _From_ in _QueryBody_.
To validate if this is the root cause, i tried adding debugger and changing the value of sql String passed to parser to one with reintroduced escaped double quot

[2019-01-08 07:06] #12190 closed

[2019-01-08 08:02] kaka11chen opened #12191 "Joni regex matcher hang when we use some pattern and string."
When we used presto to do regex match, we found some case will hang.
I write some simple codes to test this case:
[code]
However, re2j regex lib is OK.
I have created a issue on the Joni lib: https://github.com/jruby/joni/issues/39

[2019-01-08 10:12] kokosing commented on #12081
[code]

[2019-01-08 10:22] ebyhr commented on #12180
@findepi @Praveen2112 Thank you for the detailed explanation. Let me close this issue.

[2019-01-08 10:22] #12180 closed

[2019-01-08 11:00] findepi commented on #12081
[code]
https://github.com/prestodb/presto/pull/12104

[code]

https://github.com/prestodb/presto/pull/12131

[2019-01-08 12:41] kaka11chen commented on #12191
I think it is an exponential backtracking case.

[2019-01-08 13:57] sopel39 commented on #12155
Who does add those: ``COALESCE("custkey", "custkey")`` expressions?

[2019-01-08 13:59] qinghui-xu commented on #12185
Thanks for the quick feedbacks.
We find the PrestoUI very nice and helpful to track behavior of user queries. For a common user, it would be much more convenient to have only one place to see the query history, especially when he already got the link to presto UI for a specific query that he wants to share with us (for troubleshooting/tuning). The pain point is that often the query expires few hou

[2019-01-08 14:18] findepi commented on #12155
Join with `USING`? as in https://github.com/prestodb/presto/pull/12193 ?

[2019-01-08 15:44] mbasmanova commented on #12187
@yingsu00 Could you give an example of a query that would be affected? Does the query fail or return incorrect results?

[2019-01-08 18:03] yingsu00 commented on #12187
This regression happens on dereferencing an array of maps, for example:
select
    array_of_maps[1]['key1'],
FROM t

where array_of_maps is of type ARRAY<MAP<STRING,DOUBLE>>

It is performance regression that could block users' pipeline if the the data amount is large.

[2019-01-08 18:09] sopel39 commented on #12081
[code]

[2019-01-08 18:33] mbasmanova commented on #12081
[code]

[2019-01-08 18:41] #11930 closed

[2019-01-08 18:50] #12181 closed

[2019-01-08 22:05] mbasmanova commented on #12169
@zaynoon Ahmed, could you answer Rongrong's questions?

[2019-01-08 22:12] dain commented on #12185
Assuming we want to do this, we would likely need to plug this in at the REST interface instead of in the query tracker (which is in the query manager).  The query management is already a very complex system for the currently running queries, and I would not want to further burden it with query history.

[2019-01-08 22:49] rongrong commented on #12134
The `/v1/resourceGroupState` might give you more information about why the queries are queued.

[2019-01-09 01:04] #12095 closed

[2019-01-09 02:04] kaka11chen commented on #12191
So a method to avoid user input this type's regex is set query.max_run_time to some value?  I read the source code quickly, JONI regex lib should can be interrupted when presto which use thread mode. Is it correct?

[2019-01-09 03:56] MichaelChirico opened #12197 "Error in retrieval of decimal(m, n) columns via JDBC"
Pushing upstream from issues dealing with retrieving these columns to R:

https://github.com/s-u/RJDBC/issues/68

https://github.com/r-dbi/DBI/issues/247

I'm not sure, but this may be a duplicate of https://github.com/prestodb/presto/issues/11467 (certainly related)

[2019-01-09 08:14] findepi commented on #12197
@MichaelChirico i know nothing about RJDBC or r-dbi. Can you phrase the issue in a way that I have a chance to understand it?

[2019-01-09 08:49] daikon12 opened #12200 "“minimum is not less than maximum“ when Failed to read ORC file"
Question:

When my query involves a column A ( As a where condition ) of a table which is ORC , the result will be "EXTERNAL ERROR" .  But if I don't use column  A in where , the result will be  normal .This problem has been bothering me for a long time. It would be great if you could provide me with some reasons and solutions

With column A:
select * from browser.f_evt_browser_article_info where

[2019-01-09 09:43] daikon12 commented on #12134
@rongrong
Hi , I  have read the class ResourceGroupStateInfoResource  on your suggestion. But I am still not clear , It just  gets the info of  resourcegroup 。 the query " show schema " will be queued until "order by" is finished  ， then It turn into running and finished quickly。

Excuse me,  Could you be more specific about your opinion ,Thank you

[2019-01-09 11:09] ArvinDevel opened #12201 "Apache Arrow Connector"
I want to expose the column data through arrow format, and then deal it use analytics tools.
Is there any plan to ingest column data from [apache arrow](http://arrow.apache.org/)?
And further more, to use vector as memory columnar data representation to overcome converting multiple format overhead?
Any point view is appreciated.

[2019-01-09 15:18] #9834 closed

[2019-01-09 16:01] sopel39 commented on #12201
I'm curious, why cannot you use other open format, like ORC or Parquet?

[2019-01-09 16:21] electrum commented on #12081
Add link before section header in `connector/hive.rst`:
[code]

Release notes:
[code]

[2019-01-09 16:39] arhimondr opened #12202 "Implement missing stats rules and cost calculators"
Currenty the stats model does not have rules for every PlanNode possible.

For example, we can come up with simple rules that can handle (or at least partially handle) `WindowNode`, `TopNRowNumberNode`, `SampleNode`, `SortNode`, and `IntersectNode`.

Ideally it would be nice to have a test, that verifies that every plan node has an associated rule and cost calculator. If there's a node that cannot

[2019-01-09 19:21] dain commented on #12200
This means you have a corrupt ORC file.  The Presto engine does its best to validate the ORC statistics to avoid returning incorrect results on corrupt data.  This is because Presto makes extensive use of the statistics in the file to skip sections of the file that will be filtered out.  The engine has a pretty hard rule about bad data and does not allow processing of files that are "partially" co

[2019-01-09 19:22] rongrong commented on #12134
Presumably the `SHOW SCHEMAS` query is queued because it's in the same resource group as the  `SELECT` query. If without `ORDER BY` the query would run but with it it's queued, it's likely that the resource group has exceeded it's soft memory limit as @nezihyigitbasi mentioned. The ResourceGroupInfo would give you details about the resource group to confirm this assumption. For more information re

[2019-01-10 01:39] ArvinDevel commented on #12201
Because I need to transfer lots of column data (say like one stream) to user quickly. ORC and Parquet as file format, the user should extract data from it, which will cause more overhead. And before I transfer data, I need to create specific file which will be too much to bear. I choose Arrow because the actual user wanted data is all in the arrow plain vector data. And arrow is  developed as one

[2019-01-10 03:04] archongum commented on #8305
`show create table` gets `datetime` in MySQL but gets `timestamp` in Presto.
[code]
exception:

Is there any alternatives?

[2019-01-10 06:58] daikon12 commented on #12200
@dain
Thank you very much for your explanation and Suggestions which inspire me  a lot 。

[2019-01-10 09:35] devilcony opened #12207 "Can`t return data when using specified column with mysql"
**Env:**
presto 0.215/0.163
mysql 5.7.24
**Table structure:**
d_config_activity
![image](https://user-images.githubusercontent.com/3895260/50958002-9d99e980-14fa-11e9-848f-b96cce7393f0.png)
d_config_activity_goods
![image](https://user-images.githubusercontent.com/3895260/50958026-b0acb980-14fa-11e9-90dd-5a37de37f273.png)

**Descriptions:**
Get inconsistent reaults when using different columns or

[2019-01-10 11:45] sopel39 commented on #12201
So you want to import data to presto or export from presto?

[2019-01-10 13:31] ArvinDevel commented on #12201
I want to import data to presto, so the user can use presto to analysis.

[2019-01-10 13:34] kokosing commented on #12201
And you don't want to stage data in the file system in other format, right?

How then your data is exposed? How Presto can read it?

[2019-01-10 15:58] dernst commented on #12197
RJDBC tries to call `getDouble` on the `ResultSet` for a column of type `DECIMAL` which causes an exception stating that `String` is not numeric.

According to https://docs.oracle.com/javase/1.5.0/docs/guide/jdbc/getstart/mapping.html :

I would assume that it should be possible to extract values from a `DECIMAL`  as Java's `BigDecimal`, `String` or `double` (and other numeric types).

[2019-01-10 23:38] yingsu00 commented on #12081
[code]

[2019-01-11 05:53] ArvinDevel commented on #12201
In my scenario, it's better to provide the arrow message to outside.
After import the arrow data, the user has full freedom to choose other format which is more suitable for final result. And if presto could has interface to expose arrow data, that would be more attractive.

[2019-01-11 06:11] ankitdixit commented on #11918
Raised a PR https://github.com/prestodb/presto/pull/12209

[2019-01-11 08:46] kokosing commented on #12201
What do you mean? Does Apache Arrow exposes some service (like REST?) from where Presto could fetch data?

[2019-01-11 09:47] sopel39 commented on #12201
Would support for Arrow format in Hive connector be sufficient?

[2019-01-11 09:56] q977734161 opened #12210 "Add mysql-style LIMIT support to Presto"

[2019-01-11 10:41] kokosing commented on #12210
Can you please give an example of query? Is this ANSI compliant syntax?

[2019-01-11 10:45] Praveen2112 commented on #12201
Actually for reading the data from Arrow we just need the memory address and arrow stores the data in off heap so it should be suffice to read the tables data from Arrow's format

[2019-01-11 12:01] findepi commented on #12210
Whenever want a query like
[code]

you can do the following (which is standard SQL syntax and thus should work in most databases, not only in Presto):
[code]

However, you should use this construct judiciously. Let me quote @electrum from https://stackoverflow.com/a/45114359/65458

[2019-01-11 13:38] ArvinDevel commented on #12201
@kokosing I think Apache Arrow doesn't expose some REST like service currently, but it can expose [columnar data stream](http://wesmckinney.com/blog/arrow-streaming-columnar/). We can operate the ArrowRecordBatch or Vector.

[2019-01-11 13:45] ArvinDevel commented on #12201
I'm not familiar with Hive connector, but I think the ORC file is the default format in Hive. And ORC is one columnar file format like parquet, so I think this is different from that.

[2019-01-11 15:44] mbasmanova opened #12211 "Enhance Verifier to identify which column has checksum mismatch"
Running the Verifier with the new configuration property `run-teardown-on-result-mismatch=false` made it a lot easier to investigate result-mismatch failures. Thank you, @shixuan-fan . Still, the process is quite time consuming and labor intensive, particularly, for result-mismatch failures. At a lot of clicks and time is spent in figuring out which columns have a mismatch and whether there is row

[2019-01-11 16:41] sopel39 commented on #11917
@Ralnoc In your proposed solution, how do you suggest to validate user password if `ldap.user-bind-pattern` is removed for initial bind and user authentication?

[2019-01-11 17:30] piyushnarang opened #12212 "Parquet Hive schema evolution checks based on column names"
We occasionally run into an issue in our Hive parquet partitioned tables when users introduce new columns in the middle of the table.
For example:
[code]

If new columns are added in the middle:
[code]

Attempting to access one of the partitions with the older schema results in errors as Presto is matching the types of the columns in the partition and the table by index. So index 1 ends up being a

[2019-01-11 19:07] caithagoras commented on #12211
I'll put a plan for all the verifier issues and post in the Presto team group shortly.

[2019-01-11 19:09] caithagoras commented on #12211
Query 2 looks similar to what we're doing today in the validator (except for floating point and array handling). It makes sense to me.

[2019-01-11 20:06] #12200 closed

[2019-01-11 20:16] martint commented on #12210
OFFSET + LIMIT should not be used for pagination, as explained above, but it has legitimate uses (e.g., getting the middle of the pack from a histogram).

In terms of syntax, this is what the spec says:

[code]

And

[code]

[2019-01-11 20:22] hellium01 opened #12213 "Optimization should be disabled for functions that return constant value but returned results are not serializable to magic literal"
For example, if a function is added to return JsonPath object today, and if we use it ` function_create_constant_json_path()`,  it will cause following stacktrace:

[code]
We should disable the optimization here and leave the function as an expression. The RowExpression optimizer will pick up the function and optimize it later.

[2019-01-11 21:53] martint commented on #12213
Is there an example query where this is an issue?

[2019-01-11 23:09] hellium01 commented on #12213
Currently there is no function returns such but some facebook internal function indeed need to return something like JsonPath. In the PR: https://github.com/prestodb/presto/pull/12214/files, there is an example where this will fail in current code.

[2019-01-11 23:13] hellium01 commented on #12213
Currently, if we run `regex_extract(..., (CAST '$.x' AS JsonPath))`, it will work but if we have a `regex_extract(..., functionCreateJsonPath(...))`, it will fail due to the above problem.

[2019-01-12 00:34] qqibrow opened #12215 "Join Reorder in Spatial Join"
Problem:
In broadcast mode, the spatial join optimizer doesn't reorder join order for performance.

e.g,
[code]
spatial join will put the larger table trips on the build side.

This might be able to optimize based on parameters of st_contains function. e.g,
st_contains(A, B) does it imply the dimension of A is less than dimension of B?  I cannot speak for all, but it is true for 90% of our user ca

[2019-01-12 09:07] bithavoc commented on #6614
JSONB in Postgres is so common these days that I'm surprised this hasn't been implemented yet.

[2019-01-12 21:04] findepi commented on #12215
What about making it cost- (or at least stats-) -based decision?

[2019-01-12 21:11] findepi commented on #12213
To avoid discussing same topic in two places, let me close the issue and continue the discussion @ https://github.com/prestodb/presto/pull/12214

[2019-01-12 21:11] #12213 closed

[2019-01-13 06:48] electrum commented on #12210
PostgreSQL supports the standard syntax: https://www.postgresql.org/docs/11/sql-select.html#SQL-LIMIT

[2019-01-13 07:06] electrum commented on #5635
Fixed in #10773

[2019-01-13 07:06] #5635 closed

[2019-01-13 07:12] electrum commented on #3603
Closing this since there is no reproduction.

[2019-01-13 07:12] #3603 closed

[2019-01-13 07:17] electrum commented on #9278
SpotBugs code for `DM_DEFAULT_ENCODING`: https://github.com/spotbugs/spotbugs/blob/master/spotbugs/src/main/java/edu/umd/cs/findbugs/detect/DefaultEncodingDetector.java

[2019-01-13 07:36] q977734161 commented on #12210
Ok,I gor it.Thanks for your suggestion!

[2019-01-13 14:42] findepi commented on #9278
@electrum is your intention to extract the blacklist from spotbugs's code na define modernizer checks based on that?
assuming we won't keep the lists in sync, what about running spotbugs over the code base, but having only `DM_DEFAULT_ENCODING` enabled?

[2019-01-14 06:06] ankitdixit commented on #10739
@findepi It seems that the output of formatter forgets double quotes and the parser fails when it tries to parse the formatted sql.
Would it make sense to add double quotes to formatted names anyway by removing if case here:
`private static String formatName(String name)
        {
            if (NAME_PATTERN.matcher(name).matches()) {
                return name;
            }
            return

[2019-01-14 07:54] miniway opened #12221 "Sort operator is unexpectedly removed"
At the following condition, the `Sort` operator is unexpectedly removed when all the following conditions meet
* join_distribution_type='BROADCAST' ( distributed_join = false )
* JOIN having a window function
* `window` function having the same `order by` signature as the statement's

[code]
Even though this sample query doesn't generate wrong result, with a larger dataset, returned result are som

[2019-01-14 10:41] qinghui-xu commented on #9100
It seems this topic is not active since a while, but I find this feature request useful when we discuss the possibility to add an query history extension. I think we need to have the support for several `EventListener` by following the suggestions for adding a custom listener for queries without impacting other existent `EventListener` (https://github.com/prestodb/presto/issues/12185#issuecomment-

[2019-01-14 11:11] photogamerun opened #12222 "Presto create temporaryPath is not correct"
in this code

HiveWriteUtils
[code]

from the commitment  // create a temporary directory on the same filesystem
we know targetPath is parent path and temporaryPrefix is children

so I write a test code

![image](https://user-images.githubusercontent.com/16651123/51109375-0e5d4080-1830-11e9-8afd-e1557d1ef5be.png)

if temporaryPath is started with '/' it will ignore parent path

if not it's correct

[2019-01-14 11:49] ankitdixit commented on #11848
@raghavsethi I felt the same when i started reading about resource groups.
I would like to add more details to the writeup, can i pick this up?

[2019-01-14 12:21] Praveen2112 commented on #10739
One solution is to capture the quoted identifier in the `QualifiedObjectName` and use to re-create the same name when we are using `SqlFormatter`. `Identfier` has an API `isDelimited` which tells us whether the query has the table name as `order` or `"ORDER"`. If we could fetch that info and push it to the `QualifiedObjectName` then we might modify the `SqlFormatter#formatName` as
[code]
@findepi

[2019-01-14 12:22] kishkadu commented on #12201
I have been thinking about this for sometime, Apache Arrow is in-memory data format so in itself it is hard to imagine how Presto can leverage that (Thinking in connector context). The only scenario I can imagine is where you have separate program (Something like spark) running on same Presto cluster generating data in Arrow memory buffers and Presto directly accessing these as data source. Am I m

[2019-01-14 12:31] findepi commented on #12222
You are right that when `temporaryPrefix` is an absolute path then the line
[code]

will make `temporaryRoot` the same as `temporaryPrefix`.
This is intentional.

[2019-01-14 12:31] #12222 closed

[2019-01-14 15:48] mbasmanova commented on #12215
@qqibrow It would be useful to enhance the optimizer to swap spatial join sides automatically.

`st_contains(A, B)` does not imply that `dim(A) < dim(B)`. While point-in-polygon might be the most common use case, polygon-in-polygon joins are still possible. For point-in-polygon, `dim(A) = 2` (polygons are 2-dimensional) and `dim(B) = 1` (points are 1-dimensional) and `dim(B) < dim(A)`. For polygon

[2019-01-14 16:45] raghavsethi commented on #11848
Please go ahead.

[2019-01-14 19:20] piyushnarang commented on #12212
@dain / @nezihyigitbasi - what do you guys think about this? (checking schema fields by columnName instead of index)

[2019-01-14 19:45] jar349 commented on #11917
Presto was always doing the Right Thing to validate users' passwords - attempt a bind with what's provided.  However, many LDAP implementations restrict users' access to perform further searches (ex for group memberships).  In addition, most production LDAP implementations I've seen have disallowed anonymous binding.

The solution is usually to configure a service with its own LDAP credentials (us

[2019-01-14 21:01] qqibrow commented on #12215
@findepi @mbasmanova thanks for replying!

@mbasmanova I notice there is a SpatialJoinCostEstimator, how it is working at this time? Isn't the join reorder its functionality?

In our case, some table stats are not accurate because we use a customized table input format. I am trying to work out a solution for both internal and open source.

[2019-01-14 21:34] Ralnoc commented on #11917
@sopel39  -
As commented by @jar349 , the standard behavior of LDAP in relation to validating passwords is not incorrect. It is just the process of getting to that which needs adjusting. The general authentication process for most applications against LDAP is as follows -

- User logs in with a username and password
- Application contains a pre-configured Bind DN and Bind Password
-- Bind DN would

[2019-01-14 21:42] jar349 commented on #11917
One small nit:

This is not _always_ true.  Not everyone uses the `memberOf` overlay.  In my experience, there's usually a preconfigured group membership query that can be run under the preconfigured bindDN/password to discover the authenticated user's group memberships.

[2019-01-14 22:06] Ralnoc commented on #11917
That is a fair point. The more common implementation is to lookup the DN, auth with it to complete authentication as described above.

Then the group implementation would either be exactly as it stands, requiring no changes, or build a user group search that returns a list of all groups on the user is a memeber of, which allows you to leverage those groups as described in the alternative group use

[2019-01-15 01:14] miniway commented on #12221
./presto --catalog=tpch --schema=sf1 --output-format=ALIGNED -f q.sql > orderby-output.txt

[code]
generated the attached output. https://gist.github.com/miniway/b9aa7dd3bd42988d884c8d4996693bc4
As you see `v1` and `rnk1` are not correctly ordered.

[2019-01-15 02:09] ArvinDevel commented on #12201
I think this scenario is beyond connector context, which can use Apache Arrow's IPC mechanism to implement.

As for arrow connector, it's more like one connector which receives arrow message from other data store and convert it to presto's internal data structure to calculate since presto use hisself internal data representation. And I hope presto can use arrow's vector to accelerate calculate usi

[2019-01-15 09:12] findepi commented on #9100
Interesting idea. So this could be something like `etc/event-listener.yaml` in a form:
[code]

@electrum any objections?

[2019-01-15 09:13] kokosing commented on #12221
Excerpt from the attached file:
[code]

[2019-01-15 09:33] qinghui-xu commented on #9100
I could also contribute on this to move forward if a decision is made.

[2019-01-15 10:17] sopel39 commented on #12221
It looks like some rule became required for planning, but doesn't have non-iterative equivalence.

[2019-01-15 16:08] rlcyf opened #12227 "use ALLOW FILTERING in scylladb secondary indexes"
create index on user_plus_record (id);
    select id,name from user_plus_record  where id=22;

Query 20190115_155013_00062_fnvnv failed: Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING

remove secondary indexes,exec statement is normal
    ``` dr

[2019-01-15 16:33] kokosing commented on #12227
Do you access scylladb with Presto Cassandra connector?

[2019-01-15 17:06] caithagoras opened #12228 "Support non-deterministic check for INSERT in verifier"
Currently, only `SELECT` does check for non-determinism. We should support such feature for `INSERT` queries as well.

[2019-01-15 17:07] #8301 closed

[2019-01-15 17:08] #12043 closed

[2019-01-15 18:01] caithagoras opened #12229 "Verifier: Improve floating-point column result matching"
Currently, verifier rounds floating point to n digit (n=3 by default) and checksum the rounded value. This may cause false mismatch if the absolute values are large, and may clause false match if the absolute values are close to 0.

Instead, we might prefer to use relative errors of the column average (ref: http://floating-point-gui.de/errors/comparison/)

Doing so requires NaN and Infinity be han

[2019-01-15 18:34] mbasmanova opened #12230 "Add support for resource estimates to the Verifier"
Currently Verifier doesn't allow to provide resource estimates for the queries and therefore doesn't limit the concurrency of high-memory queries. This creates a possibility of too many high-memory queries to run at the same time and cause reliability issues that generate false negative verifier failures.

CC: @raghavsethi @caithagoras

[2019-01-15 21:02] mbasmanova opened #12233 "Invalid JSON bytes for [simple type, class com.facebook.presto.execution.TaskInfo]"
During release verification, I'm seeing some errors like this. I'm also seeing these with 0.215 release. CC: @raghavsethi @nezihyigitbasi

[code]

[2019-01-15 22:50] findepi commented on #12229
I understand the reason for rounding is that result of `double` computation may depend on the order in which it's done.

Consider the case when average is small and a particular value is large.
Since the accepted error is going to be relative to average, for this particular, large value, the accepted error will be tiny.

Instead, I would suggest rounding to a fixed number (eg 8) of most significan

[2019-01-15 23:35] brettahale commented on #11948
+1

[2019-01-16 01:15] hugesswnn commented on #12227
yes!

[2019-01-16 15:52] ebyhr commented on #12207
I couldn't reproduce this issue... Could you share the ddl of d_config_activity and d_config_activity_goods on mysql (not presto)?

[2019-01-16 18:47] nezihyigitbasi commented on #7807
@alinadonisa Does this issue look similar to the issue you are observing: https://github.com/prestodb/presto/issues/11587

[2019-01-16 19:40] elonazoulay opened #12235 "joda-to-java bridge causing excessive CachedDateTimeZone$Info objects"
While testing we found that 8ac4b8466a7db96d9941e27cecf7aaf64c85bfaf causes 180gb heaps to fill up with 145-150gb of org.joda.time.tz.CachedDateTimeZone.

It looks like it's due to https://github.com/airlift/joda-to-java-time-bridge/commit/bebbce575864bb4bbc56be6f799cd8acae65c8d9: the JdkBasedZoneInfoProvider creates CachedDateTimeZone for all non fixed zones (in the static block).

@haozhun would

[2019-01-16 19:59] msdotnetclr commented on #1515
@yuananf how do we make sure only certain users can kill queries? looks like any authenticated users can kill queries?

[2019-01-16 21:00] martint commented on #12235
How many time zones are there? What's the GC root for those instances? Could it possibly be the DynamicClassloaders that get created for each compiled filter/project?

[2019-01-16 21:11] findepi commented on #12235
@rschlussel on slack wrote `org/joda/time/tz/CachedDateTimeZone$Info` not `org/joda/time/tz/CachedDateTimeZone`. I updated the description.

[2019-01-16 21:56] nezihyigitbasi commented on #12235
Unfortunately, although we got a few heap dumps yourkit wasn't able to open them saying there were too many objects in those dumps. So, we are still trying to root cause the issue.

[2019-01-16 23:06] highker opened #12237 "Planner NPE with OUT JOIN and TRY"
Reproduce with
[code]

Stacktrace:
[code]

[2019-01-16 23:08] highker commented on #12237
dup #10848; close

[2019-01-16 23:08] #12237 closed

[2019-01-16 23:43] oerling opened #12239 "Quantifying Presto CPU Upside, or, The Progress of Queen of the Night"
Orri Erling, Jan 9, 2019

Aria Presto! is a collective name for a number of performance related experiments undertaken at Facebook. This document analyzes the relative impact of different Aria Presto! Optimizations on the prototypical star schema query, a distillation of TPC-H Q9. We refer to this query as Queen of the Night, after the famous aria by Mozart.

This is an overview intended to give a

[2019-01-17 00:00] dain commented on #2563
This is not resolved.  Presto currently does not allow maps to contain null keys, so that would have to change first, and I don't think anyone is thinking about this right now.

[2019-01-17 10:14] #12235 closed

[2019-01-17 14:56] thomasporez-tinyclues commented on #9118
Thanks @findepi for the options.
I'm not sure to understand how the first point can be implemented ? Is it possible to write something like that in a single query / sql statements ?

[2019-01-17 17:08] maximillianus commented on #2433
would be great if this can be updated soon.  Any alternative method to do rolling window function while waiting this feature to be released?

[2019-01-17 18:54] dain commented on #12235
I have thoroughly dug into theCachedDateTimeZone, and I see that there is a problem with garbage generation from cache thrashing. If you feed 10M random mills into CachedDateTimeZone.getInfo(instant), you will get a ton cache collisions in the 512 entry info cache array. Each time you get a collision, the code builds a new CacheInfo chain, so you generate a ton of garbage.

[2019-01-18 00:30] blrnw3 opened #12243 "Proposal: truncated mean function on qdigest"
I’d like to propose a new scalar function on the qdigest type. The quantile digest is used internally to compute approx percentiles and was recently exposed as an aggregate function in its own right.

Currently the only scalar function on qdigest is `value_at_quantile(qdigest(T), quantile) → T` which extracts the approx percentile from the q-digest. The new function I require would have the signat

[2019-01-18 01:14] blrnw3 opened #12245 "Optimization: valuesAtQuantiles qdigest functions"
I noticed that [these quantile functions on a qdigest](https://github.com/prestodb/presto/blob/2d044948b75d5c945f6e4c09573ba78e5c966ff0/presto-main/src/main/java/com/facebook/presto/operator/scalar/QuantileDigestFunctions.java#L68) compute the percentile values by looping over the provided percentiles array argument and calling the underlying [airlift qdigest method](https://github.com/airlift/air

[2019-01-18 02:35] javainthinking opened #12246 "Query failed with "because noMoreSplits has already been set for""
Query pattern like below failed with message "because noMoreSplits has already been set for":
select * from
(select * from nation union select * from nation)
limit 100;

based on version 0.165

Stack:
java.lang.IllegalStateException: noMoreSplits has already been set for 23
	at com.google.common.base.Preconditions.checkState(Preconditions.java:199)
	at com.facebook.presto.server.remotetask.HttpRem

[2019-01-18 02:48] mbasmanova commented on #12215
@qqibrow I'm busy with the release, hence, delay in responses. I'll look into this once the release is complete.

[2019-01-18 13:31] caithagoras commented on #12229
Another issue we're trying to improve here is the reporting of the mismatches, to provide release oncall with insights about what the issues might be. Reporting averages, Nan count, and infinity counts would help, but a checksum mismatch provide very minimal actionable items for the release oncall.
Thoughts?  @wenleix @mbasmanova

[2019-01-18 13:47] mbasmanova commented on #12229
I don't believe trying to improve the comparison of doubles is worth the effort. Even if we solve the issue with `double` columns, we still have issues with complex types that use doubles such as `map(string, double)`. Furthermore, I've seen a lot of queries where doubles appear as varchar because the query is doing `cast(d as varchar)`. Therefore, I think the most effective solution is to retry c

[2019-01-18 16:07] avnersentinelone commented on #10944
I've experienced same thing too on 0.214 using optimized orc writer (not optimized writer actually save bloom filter stream)

[2019-01-18 20:08] mbasmanova commented on #12081
@electrum David, I don't understand what you mean by "Add link before section header in connector/hive.rst:". Could you clarify?

[2019-01-18 21:21] nezihyigitbasi commented on #12246
0.165 is a pretty old version, and it's very likely that this issue has been fixed. Can you please try the latest Presto version (0.215)?

[2019-01-18 21:32] GodenYao commented on #11648
is there a plan for Presto to support Azure Datalake Storage authentication method? https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control

[2019-01-18 21:38] caithagoras commented on #12229
@mbasmanova I don't see how this is related to the retry of control query or non-determinism. This is a separate improvement dealing with floating point columns for deterministic queries. Yes, the case with complex types or double casting to varchar is still not addressed by it, but our goal is to minimize manual effort in failure investigation in the verification process and therefore I think it

[2019-01-18 22:03] mbasmanova commented on #12229
@caithagoras

The number of queries with double columns that fail correctness check is too large. I don't think adding more information about how different the results are would help as this still requires manual inspection. Can you think of a way to automate the verification and provide HIGH signal result?

Alternatively, would you consider adding a configuration flag which tells the Verifier to

[2019-01-18 22:41] caithagoras commented on #12229
That's before the fix for non-deterministic `INSERT` queries and floating point column handling. I would expect the # of floating point columns (double and float) mismatch dramatically reduced after those 2 fixes. At that stage, those information would be handful if only tiny amount of result mismatches are for double columns.

[2019-01-18 22:49] ryanrupp opened #12248 "Support Parquet v2 format dictionary filtering (RLE_DICTIONARY)"
When Parquet files are generated with the v2 format RLE_DICTIONARY is used (instead of PLAIN_DICTIONARY for v1). My understanding is some pages can be dictionary encoded but if there's too many unique values and the dictionary grows too large in size it will eventually fall back to plain encoding (see https://github.com/prestodb/presto/issues/4778). Previously, with the old version of the Parquet

[2019-01-19 00:59] mbasmanova commented on #12245
CC: @mehrdad-honarkhah @tdcmeehan

[2019-01-19 01:03] ryanrupp commented on #12248
Relevant Presto code [here](https://github.com/prestodb/presto/blob/0bfe80b2540727341c0a33207b3f5dc58ca30aa2/presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/PredicateUtils.java#L164)

[2019-01-19 01:09] mbasmanova commented on #12215
@qqibrow

I don't see `SpatialJoinCostEstimator`. Flipping of join sides is implemented in `DetermineJoinDistributionType`. The logic is to estimate the cost of two join versions, original and with flipped sides, and choose the one with least cost.

[2019-01-19 01:15] mbasmanova commented on #12169
@rongrong Rongrong, this issue just came up again. A user saw that their query was failing with `Exceeded limit of 100 open writers for partitions/buckets`, but then succeeded. When a query writes to a bucketed table, Presto creates one writer per bucket. If a query produces 5 dynamic partitions each with 8,192 buckets, Presto needs 40,960 writers. With 100 writers per node limit, this requires 41

[2019-01-19 01:20] mbasmanova commented on #12191
@kaka11chen Qi, as a workaround, you can configure Presto to use RE2J via `regex-library` configuration property.

https://prestodb.io/docs/current/admin/properties.html

[2019-01-19 01:42] mbasmanova commented on #12243
@blrnw3 Blake, what use cases do you have in mind for truncated mean?

[2019-01-19 01:46] mbasmanova commented on #12221
@miniway Is there any particular reason for running with iterative optimizer disabled?

[2019-01-19 01:50] mbasmanova commented on #12210
@q977734161 Based on your last comment I assume this issue is resolved, hence, closing. Feel free to reopen if there is anything else left to discuss.

[2019-01-19 01:50] #12210 closed

[2019-01-19 02:21] mbasmanova commented on #12144
CC: @avasilevskiy

@xumingming James, I don't understand this use case. What do you mean by "the prefix is predefined" and "we may not have the structure of schema-name:table-name in the key"? Could you clarify?

[2019-01-19 03:20] kaka11chen commented on #12191
@mbasmanova Thanks.

[2019-01-19 03:20] #12191 closed

[2019-01-19 06:03] #8968 closed

[2019-01-19 06:04] #9015 closed

[2019-01-19 06:05] #7068 closed

[2019-01-19 06:06] #6391 closed

[2019-01-19 06:07] #2307 closed

[2019-01-19 06:08] #3044 closed

[2019-01-19 06:08] #4913 closed

[2019-01-19 06:09] #6266 closed

[2019-01-19 06:10] #5035 closed

[2019-01-19 06:10] #4522 closed

[2019-01-19 06:11] #2501 closed

[2019-01-19 06:11] #2500 closed

[2019-01-19 06:43] #6824 closed

[2019-01-19 06:46] #8965 closed

[2019-01-19 06:49] #8337 closed

[2019-01-19 06:52] #7960 closed

[2019-01-19 06:54] #7946 closed

[2019-01-21 02:12] devilcony commented on #12207
The ddl in mysql:
CREATE TABLE `d_config_activity` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `activity_name` varchar(255) DEFAULT NULL ,
  `start_date` date DEFAULT NULL ,
  `end_date` date DEFAULT NULL ,
  `url` varchar(255) DEFAULT NULL ,
  `bu_id` int(11) DEFAULT NULL ,
  `type_id` int(11) DEFAULT NULL ,
  `add_user` varchar(255) DEFAULT NULL ,
  `create_time` datetime DEFAULT NULL ,
  PRIMAR

[2019-01-21 02:52] #10478 closed

[2019-01-21 03:01] #10650 closed

[2019-01-21 03:10] #7066 closed

[2019-01-21 03:10] #8360 closed

[2019-01-21 03:13] #9352 closed

[2019-01-21 03:14] #5662 closed

[2019-01-21 03:15] #5086 closed

[2019-01-21 03:17] #1732 closed

[2019-01-21 03:38] #2421 closed

[2019-01-21 07:45] kokosing commented on #11648
Notice that Starburst Presto distribution supports that already https://docs.starburstdata.com/latest/azure/azurestorage.html

We are going to open source this at some point, but I cannot give you any date today. In the meantime you can give it a try.

[2019-01-21 17:33] blrnw3 commented on #12245
Thanks for the detailed reply! I'll have a look at implementing it this week and see what kind of real-world speed-up it produces

[2019-01-21 17:46] blrnw3 commented on #12243
One of the top uses cases for my team is for p90 truncated means, i.e. the mean of values in the 0 -> 0.9 quantile range. We are tracking a number of metrics with highly skewed distributions, e.g. message send time, latency etc. For these metrics we report a number of percentile values, e.g. p50, p90, p99, but also want a feel for the mean value. However, the upper tail is so extreme that the norm

[2019-01-21 21:54] ManasaDornala opened #12253 "not able to bring up the presto"
Hi Team,

We are using presto and it is throwing an error once we launch it.

ERROR	main	com.facebook.presto.server.PrestoServer	Method [public com.facebook.presto.spi.block.Block com.facebook.presto.ml.MLFeaturesFunctions.features(double,double,double,double,double,double,double,double)] is an instance method. It must be in a class annotated with @ScalarFunction, and the class is required to have

[2019-01-22 09:32] hnchenxiong opened #12254 "hive connector no common protection"

[2019-01-22 09:58] findepi commented on #12254
Can you please elaborate?

[2019-01-22 09:58] #12254 closed

[2019-01-22 10:04] findepi commented on #12253
Hi @ManasaDornala

apparently you're using `presto-ml` from some older Presto version with newer Presto version.
(in particular, your `presto-ml` misses this change: https://github.com/prestodb/presto/commit/45c18adc96d9d1a866fff7c39e4e818c7b663463#diff-194415b939d187c0b66a1d9d5c14baca)

please use consistent plugin versions though out your deployment.

[2019-01-22 10:04] #12253 closed

[2019-01-22 13:00] ebyhr commented on #12207
Hmm... it works with mysql 5.7.25. Is there no error or warning message on presto server log?

[2019-01-22 13:05] ebyhr commented on #11994
The error message seems the same as this topic on stackoverflow.
https://stackoverflow.com/questions/32682916/mysql-java-sql-sqlexception-resultset-is-from-update-no-data

[2019-01-22 16:09] ManasaDornala commented on #12253
Hi @findepi , Thank you.
Right now the vesrion - presto-server-0.208-e.0.3.tar.gz has only few plugins.
Do we need to gather all the plugins from each version from my old version and keep the latest ones
or do we have them anywhere.

[2019-01-22 16:49] mbasmanova commented on #12243
@blrnw3 Ben, thanks for explaining. This use case makes sense. I suggest to include both optimized and non-optimized versions of this function, e.g. add a function that computes truncated mean from raw values (not q-digests) and another one that does that using q-digests. Feel free to submit a WIP (work-in-progress) PR for both.

[2019-01-22 17:34] dernst commented on #12197
Here's a short Java program which demonstrates the problem.
[code]

I suppose the issue is if presto should be able to return decimal columns as double or not.

[2019-01-22 20:14] blrnw3 commented on #12243
Thanks, I'll do that.

Regarding the non-optimized version (using raw values):
Are you suggesting
a)  doing this via exact percentiles too? i.e. collect all values in the group, sort them, then compute the mean in the percentile range specified?
OR b) via approx-percentiles? i.e. build the qdigest, extract approx percentiles, then re-scan all values and compute the means for values in the quantile

[2019-01-22 22:11] mbasmanova commented on #12243
@blrnw3 Ben, I'm thinking of adding a function that computes an approximate truncated mean from raw values. The implementation would build the qdigest and use it to compute truncated mean just like the function you suggested would.

* truncated_mean(value, lower_percentile, upper_percentile)
* trancated_mean(qdigest, lower_percentile, upper_percentile)

[2019-01-22 22:38] elonazoulay commented on #8233
Reopening this issue as we removed the joda-to-java-time-bridge registration until the cache thrashing issue is resolved.

[2019-01-22 22:45] blrnw3 commented on #12243
Cool, that makes sense.
Thanks!

[2019-01-23 07:55] devilcony commented on #12207
No warning or error messges...
Here is the stage info(select b.goods_code),seems records have been filtered, output 0 row:
![image](https://user-images.githubusercontent.com/3895260/51591090-00da4180-1f27-11e9-9767-2f1113add64c.png)

This is the ok stage info(select b.goods_name/b.activity_id):
![image](https://user-images.githubusercontent.com/3895260/51591057-eacc8100-1f26-11e9-856b-c2b8cc077d69

[2019-01-23 08:16] devilcony commented on #12207
I tried some other sqls,the results are very weired...

1、select goods_code from mysql_daam.daam.d_config_activity_goods
182 rows
2、select activity_id from mysql_daam.daam.d_config_activity_goods
182 rows
3、select goods_code,activity_id from mysql_daam.daam.d_config_activity_goods
0 rows
4、select goods_code,activity_id,goods_name from mysql_daam.daam.d_config_activity_goods
182 rows
5、select activ

[2019-01-23 08:39] devilcony commented on #12207
The type of column goods_code is varchar(255),but values are integer like 12345.
I insert a row with goods_code='1003776abc',then return the right rows:
![image](https://user-images.githubusercontent.com/3895260/51593000-08e8b000-1f2c-11e9-9aaa-6e2ec9e3bd20.png)

Seems like a type issue in ScanFilterAndProjectOperator
I tried to debug but cant debug into line 242:
`CursorProcessorOutput output = c

[2019-01-23 11:38] findepi commented on #12253
@ManasaDornala
if you're using -e release, please upgrade to 213e.
You need to download fresh installation package (perhaps rpm). *Do not* copy plugins from older version.

[2019-01-23 23:06] #7122 closed

[2019-01-23 23:07] #10326 closed

[2019-01-24 12:01] #12085 closed

[2019-01-24 12:04] #11658 closed

[2019-01-24 12:06] #10025 closed

[2019-01-24 12:08] findepi commented on #9313
https://github.com/airlift/airbase/pull/98 was merged.

[2019-01-24 12:08] #9313 closed

[2019-01-24 12:08] #8356 closed

[2019-01-24 12:59] findepi commented on #9827
This will be fixed by https://github.com/prestosql/presto/issues/43

[2019-01-24 12:59] #9827 closed

[2019-01-24 21:18] tdcmeehan commented on #12245
I agree with @mehrdad-honarkhah, and we'll be happy to review a pull request for this optimization.

Please be aware, the plural version of the function [validates that the quantiles are sorted in ascending order](https://github.com/airlift/airlift/blob/master/stats/src/main/java/io/airlift/stats/QuantileDigest.java#L364).  To preserve compatibility with `approx_percentile` and existing users of `

[2019-01-25 01:28] mbasmanova opened #12257 "Release notes for 0.217"
## Andrii Rosa
- [x]  01-30 12:04:01    373375db1e Improve error message for unsupported reduce_agg state type
## Elon Azoulay
- [x]  02-04 10:56:13    16b032f864 Add too many stages warning
## Grzegorz Kokosiński
- [x]   01-25 04:11:32    0052bd769d Make hive temporary staging directory location configurable
- [x]   01-25 04:11:32    527d84cfe2 Fix formatting
- [x]   01-25 04:11:32    7a59eccef5

[2019-01-25 02:22] tianxinghd opened #12259 "substr void"

[2019-01-25 02:23] #12259 closed, assigned to nobody

[2019-01-25 16:32] hensg opened #12261 "Presto download link"
The link in documentation [presto deployment](https://prestodb.github.io/docs/current/installation/deployment.html) to download presto 0.216 is returning 404.

Link: https://repo1.maven.org/maven2/com/facebook/presto/presto-server/0.216/presto-server-0.216.tar.gz

[2019-01-25 20:01] #11789 closed

[2019-01-25 22:01] wenleix opened #12262 "Presto cannot insert into a table with a struct that has a sql keyword as a field name"
To reproduce

[code]

Stacktrace:
[code]

[2019-01-25 22:03] cricket007 commented on #12261
Can you access https://repo1.maven.org/maven2/com/facebook/presto/presto-server/0.216/ at all?

[2019-01-26 01:38] rockxsj opened #12263 "need some function like try_url_decode"
When I do some filter with url_encoded field, I try to write sql like this:
[code]
If even one line is broken, I will get error message like: `URLDecoder: Incomplete trailing escape (%) pattern`

So can I just skip these bad record?

[2019-01-26 01:53] wenleix commented on #12263
What about wrap with try() ?

[2019-01-26 04:55] jawed1984 opened #12264 "java.lang.NoClassDefFoundError: com/wandisco/shadow/com/google/common/collect/ImmutableSet"
We have the below setup:
Looker: Used for reporting
Presto: Used for Compute
Hadoop: Used for storing/reading data

Users fire SQL through Looker and it runs against Hadoop via Presto.
We are trying to implement the PDT (persistent Derive Table) feature of looker and want to persist data in Hadoop.

We have done the required setup but when we execute the SQL in Looker we receive the below error:
j

[2019-01-26 05:51] zhaiyuyong commented on #12263
You can implement this function to override it yourself

[2019-01-26 13:00] #12261 closed

[2019-01-27 04:03] #11918 closed

[2019-01-27 04:19] wenleix commented on #12257
General
---------------------
Add approx_distinct for boolean

[2019-01-28 17:52] shixuan-fan commented on #12257
#12238
[code]

[2019-01-28 23:21] wenleix opened #12271 "Simplify SqlQueryScheduler.createStages"
The logic to choose `StageScheduler` and the `BucketNodeMap` has evolved to be quite complicated. We need to figure out someway to simplify/refactor it.

https://github.com/prestodb/presto/blob/1e7691554ef0e6a0064c77fc811b102002662cb4/presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java#L317-L401

[2019-01-29 01:58] levand commented on #12233
We are intermittently encountering this exact stacktrace in our cluster as well (with RPresto as the client.)

[2019-01-29 06:55] fs-td-eitaro-ueda opened #12273 "Inconsistency in date support"
I have noticed that there is inconsistency in returned specific dates when I imported a CSV file to create a table in hive and read it from presto. I have tried with the latest versions for both.

I have so far found that within theses ranges of dates in Hive:
Between 1000/01/01 - 1000/02/28, dates obtained by presto is dates obtained by hive +5.
Between 1000/03/01 - 1100/02/28, dates obtained by

[2019-01-29 10:47] Praveen2112 commented on #12273
@fs-td-eitaro-ueda It is because of the issue in Hive for version before 3.1 (For dates which were before `1582-10-15`) . Prior to 3.1 version hive uses DateWritable for converting the Date to epoch day and the conversion is bit buggy (might be because of Julian and Gregorian calendar changes) and after Hive 3 they have moved it to DateWritableV2 which LocalDate#toEpochDay to get epoch day (which

[2019-01-29 13:19] findepi commented on #8569
This will be fixed in Presto 301 (https://github.com/prestosql/presto/pull/97)

[2019-01-29 16:33] electrum commented on #12273
I am working on updating to Hive 3.1 in https://github.com/prestosql/presto which should resolve the issue

[2019-01-29 21:35] greendisc777 opened #12275 "PERCENTILE_DISC"
Please advise on a PERCENTILE_DISC function.

Thanks

[2019-01-29 22:18] #12275 closed

[2019-01-30 14:28] hongqijia opened #12279 "One or more partitions already exist for table"
During a batch insertion of records to my table: default.tracked_action. I ran into the following exception:
com.facebook.presto.spi.PrestoException
One or more partitions already exist for table 'default.tracked_action'
com.facebook.presto.hive.metastore.ThriftHiveMetastore.addPartitions(ThriftHiveMetastore.java:526)
com.facebook.presto.hive.metastore.BridgingHiveMetastore.addPartitions(BridgingH

[2019-01-30 16:48] nezihyigitbasi commented on #12257
[code]

[2019-01-30 20:43] rongrong commented on #12257
#12013
[code]

[2019-01-30 21:16] gkiffney opened #12282 "mvn clean install fails with non-resolvable parent pom"
Darwin IDXC02T22MHG8WL 18.2.0 Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64 x86_64

java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

./mvnw clean install
`
Downloaded: https://repo.maven.apache.org/maven2/org/apache/ant/ant/1.9.4/ant-1.9.4.jar (2.0 MB a

[2019-01-30 22:28] rongrong opened #12283 "Function to canonicalize phone number"
This request comes from Facebook internal users. It seems to be generically useful so proposing to add this in the open source repo. It could have the following versions:
[code]
Would love to get some feedback on whether this is useful and the API.

[2019-01-31 02:07] tdcmeehan opened #12284 "Add more examples to QDigest documentation"
It would be nice for users new to QDigest if the [QDigest documention](https://prestodb.github.io/docs/current/functions/qdigest.html) included concrete examples on how to use it, in a similar way as [HyperLogLog](https://prestodb.github.io/docs/current/functions/hyperloglog.html).

[2019-01-31 04:46] #12002 closed

[2019-01-31 08:48] haymanyu commented on #8300
The presto home folder on EMR Instance should be `/usr/lib/presto/`.  I tried  copy `access-control.properties` to `/usr/lib/presto/etc/`, and the access control worked.

And my EMR version is: emr-5.20.0 with presto version 0.214

[2019-01-31 16:06] Hammond95 commented on #8300
Thanks @haymanyu I will try and let you know :D

[2019-01-31 17:40] nezihyigitbasi commented on #12282
Can you pull in the latest master and try again? This should have been fixed by https://github.com/prestodb/presto/pull/12281.

[2019-01-31 17:40] #12282 closed

[2019-01-31 17:42] scraly opened #12286 "Issue when trying to access AWS Glue catalog"
Hi,

I've deployed a Presto (not in a AWS EMR cluster) and then when I connect to a Cassandra cluster, everything it's working but I have issue with AWS Glue catalog.

[code]

How can I access to a AWS Glue catalog and tables through Presto?

Thanks

[2019-01-31 17:50] scraly commented on #8786
Have you tested this Glue integration through a Presto deployed outside of a AWS EMR cluster?
Thx

[2019-01-31 17:55] findepi commented on #8786
@scraly you can use Glue for example with Starburst Presto (https://www.starburstdata.com/presto-aws-cloud/), which is *not* based on AWS EMR.

[2019-01-31 18:50] scraly commented on #8786
Thanks, I am watching it in some slides right now.
I'll take a look.

[2019-01-31 19:08] gkiffney commented on #12282
Fixed, thanks!

[2019-01-31 19:32] scraly commented on #8786
This starsbust presto version is only if we want deploy a presto in AWS but what about deploying a presto in a kubernetes cluster (in a docker container)?

thanks

[2019-01-31 21:22] zaynoon opened #12288 "Add queryType to the QueryCompletedEvent event"
Can we get the query type in the completion event?

[2019-01-31 22:37] danb-lotsofnumbers opened #12289 "Sometimes Presto cancels my whole query because just one of my rows is malformed"
I have a table with millions of rows in it.  A very small percentage of the rows are malformed.
I would like to run queries against my table.  I don't care what happens to the malformed rows.  I want to get results for the rows which are not malformed.

When I do this using Presto, sometimes my query gets cancelled.  I get an error message that helpfully tells me that one of my rows was malformed

[2019-02-01 00:06] rongrong commented on #12288
Do we want the `QueryType` that defines resource groups (which classifies queries into `DATA_DEFINITION, DELETE, DESCRIBE, EXPLAIN, INSERT, SELECT`, or a more specific one that distinguishes different data definition queries, etc.?

[2019-02-01 00:39] jawed1984 commented on #12264
We resolved the above issue.

1. Used the latest WANDisco libraries
2. Removed the below 2 configs from presto catalog:
hive.storage-format=ORC
hive.orc.use-column-names=true

[2019-02-01 01:19] rongrong commented on #12283
@nezihyigitbasi @raghavsethi @wenleix @highker What do you guys think about introducing this to open source?

[2019-02-01 01:31] raghavsethi commented on #12283
I don't understand how this function works - could you provide a spec or examples? I'm also a little worried about naming, especially if there are multiple well-known ways to canonicalize. If we are using technique `abc`, I would suggest maybe we call it `abc_canonicalize_phone_number`?

[2019-02-01 01:40] mayankgarg1990 commented on #12283
this is based on Google's library - `libphonenumber`. The inputs to the function are country and format. `country` is the standard ISO code for the country and the format will be one of the standards - copying the enum from the library:

[code]

An example use case will be:

`SELECT canonicalize_phone_number('412 9 150.000 x 500', 'US', 'RFC3966');`

Result: `tel:+1-412-915-0000;ext=500`

Since we

[2019-02-01 10:06] findepi commented on #8786
@scraly that would work too -- just as with any other Presto build. Starburst Presto is in no way limited to AWS.

[2019-02-01 21:01] tdcmeehan commented on #12000
CC: @mbasmanova @elonazoulay @nezihyigitbasi @yingsu00

[2019-02-02 00:30] nezihyigitbasi commented on #12283
This looks like a generic function that may be useful for some users out there, so I am fine with introducing this function. At the same time, I don't remember any user asking for this functionality in the open source so far.

[2019-02-02 19:40] dain commented on #12289
I don't see this function in the Presto codebase, but assuming it is a scalar function, you can wrap it in [`try`](https://prestosql.io/docs/current/functions/conditional.html#try) call, which will return `null` instead of failing.  For example:
[code]

[2019-02-03 01:35] electrum commented on #12289
Functions should throw `INVALID_FUNCTION_ARGUMENT` for invalid input, which will allow `try()` to handle them. Both of the functions you listed do not properly handle invalid input (by converting them into an appropriate Presto exception).

Presto aborts the query on an unknown error because in general, a database should return correct answers above all else. For years we've talked about adding a

[2019-02-03 02:42] danb-lotsofnumbers commented on #12289
@electrum, thanks for reading my post!

It sounds like Presto has some assumptions about the way functions will be written, but either:
 * the assumptions are not being communicated to people writing the functions
 * the people writing the functions have trouble predicting what sorts of exceptions might be thrown by invalid inputs
It seems like this is leading to a bad user experience.  I wonder i

[2019-02-03 14:10] findepi commented on #12289
that's correct.  Consider the case where your query does not have `TRY` -- is it then OK to fail the query with eg NullPointerException when function input is invalid?
We need to fix these functions, but unfortunately, we cannot fix them in a generic way.

[2019-02-04 10:56] kiranps11 opened #12296 "how to pass dynamical parameter value to presto query in command line"
how to pass dynamical parameter value to presto query in command line

[2019-02-04 15:41] mbasmanova commented on #12296
@kiranps11 I don't understand the question. Could you explain a bit more?

[2019-02-04 21:05] #10612 closed

[2019-02-05 03:21] kiranps11 commented on #12296
Hello @mbasmanova ,
My query is like : select * from table_a where dat='${date_value}' and the date_value will be a variable .
I need to pass the $date_value to presto in command line .

[2019-02-05 09:01] kokosing commented on #12296
Is:

[code]

Good enough for you?

[2019-02-05 13:07] dixitswatantra commented on #9959
Hi @hustnn , I am also facing similar issue with huge no of partitions created on HIVE table. While trying to execute SELECT * from Table LIMIT 1 ,it almost took 22 seconds to execute .
Results were same even though i used "set session iterative_optimizer_enabled = false;". Could you please suggest to resolve this issue.

[2019-02-05 18:50] nezihyigitbasi commented on #12286
@scraly to understand the specifics more info is needed here. It may be an aws role issue, and in that case https://github.com/prestodb/presto/pull/10864 may help.
/cc @rentaow

[2019-02-06 00:48] raghavsethi commented on #12257
[code]

[2019-02-06 13:20] Hammond95 commented on #11587
Hi @nezihyigitbasi we are facing the same issue, when performing some inserts that:
* require a big load of resources
* on tables in parquet format
* partitioned

[code]

[2019-02-06 17:18] nezihyigitbasi commented on #11587
I don't think we have fixed this issue in one of the latest releases. If you or anyone wants to fix this issue, the HEAD/GET requests that are sent & cause eventual consistency may be in multiple places (e.g., in Parquet writer code path and in PrestoS3FileSystem as pointed out in https://github.com/prestosql/presto/issues/103).

[2019-02-06 17:39] electrum commented on #11587
I'm confused about how the Parquet HEAD request *after* the write is completed causes a problem. I thought the issue is doing the HEAD request to check for existence *before* the object exists. Is this because we are making a request before creation which then causes the one after creation to fail? In other words, if we skip the before creation check, the one after the write would not be a problem

[2019-02-06 22:06] mbasmanova commented on #12257
General
--------

[2019-02-07 00:45] cricket007 commented on #11354
To Watch for Hive - https://github.com/apache/hive/pull/526

[2019-02-07 02:02] wenleix opened #12311 "Hive Connector doesn't support reading temp table created inside transaction"
To reproduce (write mode is `STAGE_AND_MOVE_TO_TARGET_DIRECTORY`):
[code]

Failed with:
[code]

The issue is directory rename is happening at the commit time.

We have special handle for new added partition in ongoing transaction, but not new added table:
https://github.com/prestodb/presto/blob/c7576b8f604019bd74c0a4899581c792dd6d6547/presto-hive/src/main/java/com/facebook/presto/hive/metastore/Se

[2019-02-07 02:02] wenleix commented on #12311
cc @arhimondr

[2019-02-07 17:51] nezihyigitbasi commented on #11587
Isn't the HEAD/GET for Parquet before write? If not, it is not a problem, because this issue is due to sending HEAD/GET requests before creating the S3 object.

[2019-02-08 02:45] hustnn commented on #9959
@dixitswatantra Which presto version are you using?

[2019-02-08 08:38] #10103 closed

[2019-02-10 06:45] weldpua2008 commented on #10174
Hi Guys,
I want to know if anyone started to implement it?
I want to help to implement the feature.

[2019-02-11 03:23] wuxiansen opened #12323 "when do you support hadoop3 or cdh6?"
hello，How to connect cdh6 or hive-hadoop3 ？

[2019-02-11 03:43] daikon12 opened #12324 "Questions about “dirty”"
When I recoded the source code ，recompiled and  redeployed  the  presto cluster ( version 0.211 ) , the node_version changed  , But when I search "dirty"  of the source code , I found no useful clue 。

The details are as follows:
without recode
![image](https://user-images.githubusercontent.com/8246136/52545360-db3bac00-2df1-11e9-925e-02b7baa2876a.png)

with recode
![image](https://user-images.git

[2019-02-11 03:48] Praveen2112 commented on #12324
Hi , Please add this property in config.properties file

‘presto.version=0.211’

[2019-02-11 06:25] daikon12 commented on #12324
Thanks  !  Follow your advice , It works.

[2019-02-11 08:41] kokosing commented on #12324
Hi,

The version comes from the Manifest file from presto-main-*jar file. The
version you see there is configured by:
https://github.com/airlift/airbase/blob/master/airbase/pom.xml#L507. The
value of ${git.commit.id.describe} seems to be injected
by git-commit-id-plugin with the value returned by command `git describe
--dirty`.

I suspect you had local modification of the code base, so when jar wa

[2019-02-11 09:24] findepi commented on #12323
You can just use `hive-hadoop2` plugin for that. It's reported that this just works.

There is an ongoing effort (see eg https://github.com/prestosql/presto/pull/203 and https://github.com/prestosql/presto/pull/198) to support Hive 3.1 explicitly.

[2019-02-11 09:24] #12323 closed

[2019-02-11 18:37] wenleix commented on #11134
Note `MetadataDeleteNode` carries `layout`. Thus, `TableScanNode` doesn't need to transport it to worker.

[2019-02-11 21:59] us3r opened #12327 "Kafka Connector - in different way - feature proposal"
At the moment kafka connector is using `Kafka Simple Consumer`. This approach have some pros and cons. It is easy to use - but from my point of view it make sense to use it only for small topic or just for some kind of healthchecks (simple review of the topic content, etc).
It would be perfect if we could create more advanced version of this conenctor.

If we could define in the session:

[code]
a

[2019-02-12 00:28] elonazoulay commented on #12257
[code]

[2019-02-12 00:37] jessesleeping commented on #12257
[code]

[2019-02-12 07:58] daikon12 commented on #12324
You are right. Thank you for deepening my understanding .

[2019-02-12 19:22] wenleix opened #12329 "Collocated Join + Mismatched Bucket Optimization may produce wrong result"
To reproduce, first set up the tables:

[code]

The following test query:
[code]

returns 0 when `hive.optimize_mismatched_bucket_count` is set to true. Otherwise, it returns 130361.

[2019-02-12 21:31] #9783 closed

[2019-02-12 21:31] #9410 closed

[2019-02-12 21:36] #12162 closed

[2019-02-12 21:37] #12163 closed

[2019-02-13 00:52] wenleix commented on #12329
Context:
- Bucket Number Evolution (so partition and table have declare different number of buckets): https://github.com/prestodb/presto/pull/10312
- Compatible Bucket (join a table with 1024 buckets with another table with 2048 buckets): https://github.com/prestodb/presto/pull/11749

[2019-02-13 18:29] igorcalabria opened #12338 "Incorrect comparisson of parquet binary statistics for accented characters"
On version 0.216 presto incorrectly assumes that a binary column statistic is corrupt due to wrong ordering of accented values. The root cause is probably the naive comparison made by the slice library here:
https://github.com/prestodb/presto/blob/master/presto-parquet/src/main/java/com/facebook/presto/parquet/predicate/TupleDomainParquetPredicate.java#L201

I have added a simple test case on `Tup

[2019-02-13 21:20] nezihyigitbasi commented on #12338
/cc @zhenxiao

[2019-02-13 21:41] puneetjaiswal commented on #12039
We have built and open-sourced `presto-gateway` - https://github.com/lyft/presto-gateway. Please take a look.
- It can route adhoc and scheduled queries to separate set of clusters
- Default routing is RoundRobin.
- It has APIs to deactivate / activate backend presto clusters as needed.
- It stores query history locally in an in-memory circular buffer and provides links to querydetails page to und

[2019-02-13 22:02] nezihyigitbasi commented on #12338
@igorcalabria I took a quick look, and if I do `"Áncash".compareTo("China")` or `SliceUtf8.compareUtf16BE(minSlice, maxSlice) > 0` I still get a positive number (so the test still fails), which means "Áncash" lexicographically follows "China". Can you please double check whether your test case is valid?

I think we should replace `minSlice.compareTo(maxSlice) > 0` with `SliceUtf8.compareUtf16BE(mi

[2019-02-13 22:29] igorcalabria commented on #12338
@nezihyigitbasi I'm pretty sure that `C` does not precede `À`, at least for a decent number of languages. If I'm not mistaken, the "naive" sorting will always put special characters after the "normal" ones due to the order on the UTF-8 table. To have proper ordering of text, you need to use a collator.

I don't necessarily agree that the min/max statistics should have the correct alphabetic orderi

[2019-02-13 22:32] Hammond95 commented on #11587
I've updated my comment above, maybe it is clearer now, and will not led to confusion.

[2019-02-13 22:46] nezihyigitbasi commented on #12338
Just to make sure you and others have a workaround, these stats checks can be turned off with the `hive.parquet.fail-on-corrupted-statistics` config property and the `parquet_fail_with_corrupted_statistics` session property.

[2019-02-14 08:58] findepi commented on #12338
@igorcalabria you're right. But I recall there is no "universal collator", this seems locale dependent. Is writer locale information stored in Parquet file footer?

[2019-02-14 10:51] zhenxiao commented on #12338
good catch @igorcalabria
As @nezihyigitbasi said, you could disable statistic check by setting:
hive.parquet.fail-on-corrupted-statistics=false

thank you @nezihyigitbasi I will propose a fix

[2019-02-14 15:21] findepi commented on #11869
The fix is available in Presto 303 release.

[2019-02-14 16:11] mbasmanova opened #12340 "UNION query fails with "Geometry type is not comparable""
UNION and UNION ALL queries fail when datasets include Geometry columns:

[code]

CC: @jwass @jagill

[2019-02-15 04:11] brenolf commented on #8243
I faced the same issue with a date type column, casting to `date` did make the query run, though.

[2019-02-15 06:41] #9903 closed

[2019-02-15 19:17] deepakksahu opened #12343 "Unable to query when added a new catalog pointing to diffrent hive metastore"
Hello all,
I have a table in hive that points to data in S3.

I created a new catalog using the required properties.

when I try to query it from presto using new catalog. It takes a lot of time and no result I can see. When I see the live plan there is zero row fetched. But when I run the "show create table " command on the same table, it's working. Just wondering what's wrong here?

new catalog

[2019-02-15 19:39] igorcalabria commented on #5934
@nezihyigitbasi You are right and the parquet writer does not allow empty maps, but I may have found something specific to presto. If you create an array that contains a struct, you'll get the same error.
[code]

you'll get

[code]

[2019-02-15 21:23] mnoumanshahzad opened #12344 "Resource aware query planning"
Hi,

We are running multiple Presto clusters on AWS EMR. Presto serves as the backend SQL query engine for our analytics reporting server. Currently we use "r4" instance types (memory intensive) for our clusters, but I want to try a mix of compute and memory intensive instance types, as some of our queries can be CPU bound.

When planning a SQL query, does Presto somehow take into account the reso

[2019-02-15 22:37] zhenxiao commented on #12338
@nezihyigitbasi @findepi @igorcalabria seems Parquet Footer does not have dedicated Locale data(fix me if I am incorrect), maybe optional in key/value pairs in File Footer? @igorcalabria did Spark write it in extra key/value pairs in Parquet Footer?

[2019-02-15 22:44] nezihyigitbasi commented on #12257
@kokosing can you please provide some release notes for your commits?

[2019-02-15 23:21] igorcalabria commented on #12338
@zhenxiao This is getting weird, both `parquet-tools.jar` and arrow's `parquet-reader` are reporting no statistics for that column. I'll try to fetch the footer using a lower level lib.

[2019-02-16 20:38] findepi commented on #12257
@nezihyigitbasi at least some of @kokosing 's changes have release notes @ https://prestosql.io/docs/current/release/release-301.html
except for `Handle S3 empty directories as directories`  which was mentioned in https://prestosql.io/docs/current/release/release-302.html
HTH

[2019-02-17 05:43] kokosing commented on #12257
[code]

@findepi Thanks.

[2019-02-17 08:23] zhenxiao commented on #12338
I get similar result with @nezihyigitbasi , both positive numbers for:
"Áncash".compareTo("china")
SliceUtf8.compareUtf16BE(utf8Slice("Áncash"), utf8Slice("china"))

not sure, is it Locale dependent?

[2019-02-17 19:38] #12343 closed

[2019-02-19 05:41] wenleix opened #12353 "Investigate backporting prestosql/presto#249"
Shall we backport https://github.com/prestosql/presto/pull/249 as an alternative solution to  https://github.com/prestodb/presto/pull/12316 ?

[2019-02-19 08:27] ziyege opened #12354 "failed: Equi criteria are empty, so INNER join should not have PARTITIONED distribution type"
Execute join query in presto-cli across different data sources and see this error.

select * from epet.epet_mall.jz_warehouse_list inner join warehouse.epet_warehouse.jz_kingdee_adjust on epet.epet_mall.jz_warehouse_list.wid=warehouse.epet_warehouse.jz_kingdee_adjust.wid where epet.epet_mall.jz_warehouse_list.wid=1 limit 10;

2019-02-19T16:15:10.779+0800	DEBUG	Query-20190219_081506_00017_m793j-405

[2019-02-19 08:36] mnoumanshahzad commented on #8556
Hi @abhishekshenoy I am looking for answers to similar questions as yours. Can you share your findings or maybe point to a resource you found useful?

[2019-02-19 17:06] tdcmeehan opened #12356 "Incorrect memory accounting for geometry aggregations"
The current code to report memory usage works like this:

[code]

The underlying presumption is that an `OGCGeometry` is immutable once constructed and there will be no changes to its memory usage afterward.  This presumption does not hold, however.  Simply calling `geometry.union(anotherGeometry)` can alter `geometry`'s memory by using more space for caching, as the library supposes one may want

[2019-02-19 20:52] tsuxia commented on #11683
Was wondering if this issue should be closed or not?

[2019-02-20 01:29] cemcayiroglu commented on #10738
@sopel39 what is going to be behavior when the headroom is left as free. Are going to pause other  running queries and let promoted query to run?

[2019-02-20 10:17] sopel39 commented on #10738
The idea is that all queries should run concurrently until required headroom is available. Only currently "promoted" query can eat into headroom memory.

[2019-02-20 13:47] sopel39 opened #12361 "Timeline UI page is broken"
Timeline.html file explicitly has:
[code]
but it was removed in https://github.com/prestodb/presto/commit/e2aa9e139ea48430ad5446fcff786b7979aa8638

Therefore splits UI page no longer works

FYI: @raghavsethi

[2019-02-20 13:59] OmerJog commented on #8477
Is there an update on this one?
It's very needed

[2019-02-20 20:00] rschlussel opened #12364 "Inputsjson is empty for EXPLAIN queries"
The inputs json is empty for explain queries.  On the one hand, we don't select any data from tables during an explain, but on the other hand we get all metadata and check permissions for tables accessed in EXPLAIN queries, and it would be very useful if that were logged.

[2019-02-20 20:59] zhenxiao commented on #12248
thank you for working on it, @ryanrupp I will take a look at the PRs
CC @nezihyigitbasi @highker

[2019-02-20 21:34] highker commented on #12248
@ryanrupp the PR is in the wrong repo. Could you send out a PR on top of prestodb repo?

[2019-02-20 23:13] zhenxiao commented on #12248
Hi @ryanrupp I left some comments in:
https://github.com/prestosql/presto/pull/251

I think to make it working in prestodb repo, we need to upgrade Parquet first:
https://github.com/prestodb/presto/pull/12247

Ping me if you have any questions

[2019-02-21 01:40] raghavsethi commented on #12344
Presto is not currently designed to be able to use up resources efficiently on a heterogenous cluster.

To your second question:

In some cases, task assignment can happen after the query is initially scheduled (scaled writes) or if using phased execution. Presto cannot always scale queries during execution since we only consider new nodes when assigning tasks. There are some tricks that people us

[2019-02-21 01:40] #12344 closed

[2019-02-21 02:00] shixuan-fan opened #12367 "Refactor HiveTestUtils#SESSION to class Session"
We should make `HiveTestUtils#SESSION` (https://github.com/prestodb/presto/blob/43bd519052ba4c56ff1f4fc807075637ab5f4f10/presto-hive/src/test/java/com/facebook/presto/hive/HiveTestUtils.java#L57)  a `Session` class instead of a `ConnectorSession`, and use `toConnectorSession` for current usage.

This would help us reduce code modification when default `SESSION` changes and make test more consisten

[2019-02-21 08:10] mnoumanshahzad commented on #12344
Thank you for the guidance @raghavsethi

[2019-02-21 08:50] hellium01 opened #12368 "[Design] Allow connector participating in query planning"
The detail design is shared here: https://docs.google.com/document/d/1GJatB0MQ9OcUS0m0K5O9J3AGRa5yIO0bKLghDxXdOho/edit?usp=sharing
### **Introduction**
Presto provides flexible connector interface to allow reading data from many different data source, which makes it a perfect solution to consolidate data into a big data lake. However, today the freedom we give connector is very limited and connect

[2019-02-21 08:53] hellium01 commented on #12368
cc @highker , @jessesleeping , @wenleix , @arhimondr

[2019-02-21 14:58] arun-y opened #12369 "Kafka connector with csv decoder"
Reference: [http://prestodb.github.io/docs/current/connector/kafka.html#row-decoding](http://prestodb.github.io/docs/current/connector/kafka.html#row-decoding)

While defining topic description file for kafka connector. It seems the csv decoder assumes fields are "," (comma) separated (from above reference). However in real life we do get csv files with other character as separator like '\t' (tab)

[2019-02-21 22:08] blrnw3 commented on #12245
I did some perf testing on this and interestingly found no measurable difference in the two approaches. I tested on the TPCH data on several scale factors, evaluating 20 percentiles with the two approaches outlined in the issue summary. It seems the qdigest building is so dominant that extracting the percentiles has trivial cost, regardless of how it is done.

[2019-02-21 22:08] #12245 closed

[2019-02-21 23:58] SwapnilShahGit commented on #3715
@cberner How was this fixed? I am getting

`Caused by: com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'io': was expecting ('true', 'false' or 'null')
`

[2019-02-22 00:33] elonazoulay commented on #12353
I don't see why not. It is more comprehensive: covers all identifiers, not just those used in table and schema names.

[2019-02-22 01:51] Sugaryou commented on #10905
`org.apache.hadoop.hive.serde2.OpenCSVSerde` has a limitation(https://cwiki.apache.org/confluence/display/Hive/CSV+Serde): `This SerDe treats all columns to be of type String. Even if you create a table with non-string column types using this SerDe, the DESCRIBE TABLE output would show string column type. The type information is retrieved from the SerDe. To convert columns to the desired type in a

[2019-02-22 02:55] hwb1992 commented on #12338
Hello,if i turn off this `hive.parquet.fail-on-corrupted-statistics` config property,what's the disadvantage of this ?.Can you tell me how presto use the parquet statistic to get data quickly.Thanks.

[2019-02-22 05:31] cberner commented on #3715
That sounds like a different problem. Did you get that from the exact query listed above?

[2019-02-22 07:17] zhenxiao commented on #12338
Hi @hwb1992 Presto is leveraging Parquet statistics to improve performance, e.g.
if there is a predicate: a > 10, and the max value of column a is 5, then Presto will skip reading this Parquet row group.

While, in case we found weird Parquet statistics, e.g. a Parquet column min value is bigger max value, we could either:
a. error out loudly
b. ignore the statistics, scan the whole row group

hiv

[2019-02-22 09:42] hwb1992 commented on #12338
Thank you

Thank you very much.Can you tell me what parquet version do presto use? Preso integrates parquet source code.So i don't know what version is it.I think the reason why occured to me is our parquet version is different.
We make a experiment which we create a simple table A with a map.The construct of map is {"name":"xxx","address":"xx"}.And there only exists one name for the map.For examp

[2019-02-22 10:05] hwb1992 commented on #12338
Is that 1.6.0?

[2019-02-22 10:47] hwb1992 commented on #12338
it's that
 `<dependency>
        <groupId>com.twitter</groupId>
        <artifactId>parquet-hadoop-bundle</artifactId>
        <version>1.6.0</version>
      </dependency>
`?.
Have presto work well in different parquet version? Our presto version in hive is parquet-mr 1.8.1. We find that the parquet.thrift exists some different in parquet-mr 1.8.1. and 1.6.0.

[2019-02-22 16:05] rschlussel commented on #3715
@SwapnilShahGit that sounds like you have a malformed json object.  Maybe you have the string value `io` not enclosed in double quotes.

[2019-02-22 18:41] #11444 closed

[2019-02-22 18:43] hellium01 commented on #11777
Close this in favor or #11777

[2019-02-22 18:43] #11777 closed

[2019-02-22 19:00] #12257 closed

[2019-02-22 19:04] caithagoras opened #12376 "Release notes for 0.218"
Issue to track release notes for next release.

Guidelines - https://github.com/prestodb/presto/wiki/Release-Notes-Guidelines

[2019-02-22 20:07] tooptoop4 commented on #8980
gentle ping

[2019-02-23 05:33] nezihyigitbasi commented on #12376
[code]

[2019-02-25 14:40] tastyqbit commented on #7428
Is this feature still being added? I would love an update. I have seen there is an open pull request on the Presto master but there has been no activity for over a year

[2019-02-25 15:14] arhimondr commented on #7428
@tastyqbit Presto Foundation actively works on getting this feature in (https://github.com/prestosql/presto/pull/91). Once it is there - we will cherry-pick it.

[2019-02-25 17:03] rschlussel commented on #12354
1. What version of Presto are you running?  What configuration/session properties do you have set?
2. Do you have an example that we can reproduce (e.g. with the tpch or tpcds connector).  I tried to reproduce with the following query using the tpch query runner on tpch.sf1., but I didn't encounter your error (see below)
[code]

[2019-02-25 18:22] shixuan-fan commented on #12376
[code]

[2019-02-26 06:29] wenleix opened #12387 "[Design] Exchange Materialization"
A comment-friendly  version can be found in https://docs.google.com/document/d/1pQOOsveEN6KQPxiNDIii03lqa5x_O-HXWLt_T80dhRo/edit?usp=sharing .

---------------------------------------

# Introduction

Grouped execution was introduced to Presto in https://github.com/prestodb/presto/pull/8951 to support huge join and aggregation raised in ETL pipelines.

When the input tables are already partitioned

[2019-02-26 06:52] TempleZhou opened #12388 "ES Connector failed with SearchGuard"
`presto> select * from elasticsearch.schema1.table1;
Query 20190226_062652_00000_crsrj failed: NoNodeAvailableException[None of the configured nodes are available: [{#transport#-1}{D7T0xbVTQc-ZozcTVWfNzQ}{gtx1080ti}{192.168.202.210:9300}]]`

`[2019-02-26T14:49:21,822][WARN ][c.f.s.s.t.SearchGuardSSLNettyTransport] [XKiLKHc] Someone (/192.168.202.210:39188) speaks transport plaintext instead of ssl

[2019-02-26 12:50] xuhanfeng2219 opened #12389 "Multiple thread execute insert statement"
Multiple thread execute insert statement and throws com.facebook.presto.spi.PrestoException: Unknown transaction ID: 94c4eed8-e902-4da3-861b-5d8a23c56528. Possibly expired? Commands ignored until end of transaction block's error, I can't understand what's wrong with the execution.

[2019-02-26 14:36] yotamoron commented on #5918
query variable will surely make my queries much shorter and human readable - +1!

[2019-02-26 17:42] ramrock2008 opened #12390 "too many open partitions bucketing"
Hello, I'm running presto CTAS query with partitioning and bucketing and running into following error: "Maximum number of partitions allowed to write: 100"

Here is the select query:

WITH (partitioned_by=ARRAY['date'],bucketed_by=ARRAY['eventid'],bucket_count=32)
AS
(
    SELECT eventid ,
           date(myeventtime) date
    FROM ctas_source
    WHERE date(myeventtime)>= date '2018-07-01'

[2019-02-27 01:53] rongrong commented on #5918
PostgreSQL supports this on the client side (https://www.postgresql.org/docs/current/app-psql.html). Seems like a reasonable thing to do on presto cli, thoughts?

[2019-02-27 05:43] wenleix commented on #12311
Previous fix get reverted by https://github.com/prestodb/presto/pull/12394

[2019-02-27 07:47] nezihyigitbasi commented on #12388
/cc @zhenxiao

[2019-02-27 08:03] hwb1992 commented on #12338
* it seems a bug.I write a parque,schema is

[code]

The map data i insert is
[code]
When i read the statistic of map ,the result is
[code]
 ,however,the min is bigger than max in presto if i run the code

[code]
It seems hive 2.2 will ignore the binary min and max statistic in parquet-mr 1.8.0.So i wonder if you encounter these problem? @zhenxiao @nezihyigitbasi

[2019-02-27 08:07] hwb1992 commented on #12338
The compare strategy of parquet and presto seems different.

[2019-02-27 17:30] #12356 closed

[2019-02-27 20:01] highker commented on #12368
Other PRs/issues that push down specific optimizations through spi: #11454, #2508, #11326, #5547, #10064, #5547, #10064.

[2019-02-27 20:06] zhenxiao commented on #12388
@TempleZhou this usually indicates a misconfig for cluster name or port name, could you please share ur Elasticsearch connector's config json files? And ur Elasticsearch cluster's cluster name, index name, port number, etc.

[2019-02-27 20:08] zhenxiao commented on #12338
Hi @hwb1992 We did not see this problem
To ignore the sensitivity of min max correctness, you could turn off`hive.parquet.fail-on-corrupted-statistics` config property and the `parquet_fail_with_corrupted_statistics`

[2019-02-27 22:33] wenleix commented on #12390
For bucketed table, you can roughly think the following:
[code]

Also, is the error message "max number of open files" or "max number of partitions"? -- if latter we might need to update the error message to clarify it :)

[2019-02-28 00:58] mbasmanova opened #12400 "Document ANALYZE statement for stats collection"
Add documentation for ANALYZE statement introduced in https://github.com/prestodb/presto/pull/11376

CC: @arhimondr

[2019-02-28 02:22] hwb1992 commented on #12338
All right. I upload my data.You can check it if you want.
[test.parquet.zip](https://github.com/prestodb/presto/files/2913106/test.parquet.zip).
In parquet,the min and max statistic of map.value is `min: ١٠٠٪, max: 99%, num_nulls: 0`,but presto think the min value(١٠٠٪) is bigger than max value(99%). @zhenxiao

[2019-02-28 02:55] TempleZhou commented on #12388
@zhenxiao ,  I modified the com.facebook.presto.elasticsearch.ElasticsearchClient#ElasticsearchClient and com.facebook.presto.elasticsearch.ElasticsearchQueryBuilder#ElasticsearchQueryBuilder

`Settings settings = Settings.builder()
                        .put("cluster.name", tableDescription.getClusterName())
                        .put(SSLConfigConstants.SEARCHGUARD_SSL_TRANSPORT_PEMCERT_FILEP

[2019-02-28 02:59] TempleZhou commented on #12388
@zhenxiao Do you think the Search Guard security configuration should be
configured in the elasticsearch.properties? which is really a dilemma, as different user may use different authentication method.

[2019-02-28 05:24] zhenxiao commented on #12388
@TempleZhou nice catch, we could make Presto query secure Elasticsearch!
I do not think a connector level security framework is ready for Elasticsearch. While, adding these as optional configs could be a good start. @nezihyigitbasi what do you think?
Are you willing to submit a PR? I'd be willing to review.

[2019-02-28 07:24] coalchan commented on #8005
just add property as :
`scheduler.http-client.max-requests-queued-per-destination=2048`
succeed at version 0.168 !

[2019-02-28 15:42] nico-arianto commented on #10735
I got the same issue for Presto 0.217 + Hive 2.3.3.

I'm able to query user tables but I'm not able to extract from information_table (e.g show tables).

Here is the stack trace that I got from Presto Web UI:
`com.facebook.presto.spi.PrestoException: localhost:9083: java.net.SocketTimeoutException: Read timed out
	at com.facebook.presto.hive.metastore.thrift.ThriftHiveMetastore.getAllViews(ThriftH

[2019-02-28 15:49] nico-arianto commented on #10735
I found an error log from the Hive-Metastore when Presto connected:

[code]

[2019-02-28 17:18] rigogsilva opened #12402 "Slow planning (iterative_optimizer_enabled) V-0.214"
Hi,

I am digging around to find the reason why our planning takes about 40 seconds. We do have a lot of partitions, and the setting `iterative_optimizer_enabled` is on; I've read in some posts to turn this setting off, but I am not sure if that is the cause.

What does the `iterative_optimizer_enabled` setting do? Can I turn it off? Will it improve planning performance?

Thanks in advance!

[2019-02-28 20:05] danb-lotsofnumbers opened #12404 "We need a TRY_ALL() operator that can catch all exceptions"
In Presto, we have the TRY() operator, which can wrap some operations and convert certain Exceptions to null -- notably they convert INVALID_FUNCTION_ARGUMENT to null.

The TRY() operator does not convert all Exceptions to null.
In particular, if a UDF hits a bug, the UDF is likely to throw an Exception that will not be handled by TRY().

I am working with some newly written geometric functions wh

[2019-02-28 20:05] danb-lotsofnumbers commented on #12404
(see also: https://github.com/prestodb/presto/issues/12289)

[2019-02-28 20:57] OleksiiDuzhyi commented on #5759
Encountered the same issue:

`SET SESSION catalog.session_property='11 KiB of Data'; `

Getting:

[code]

How can I avoid such problem? Is v2 protocol still experimental - like it said in documentation? How to enable v2 in local tests - AbstractTestQueryFramework?

[2019-02-28 20:57] electrum commented on #8711
Fixed in https://github.com/prestosql/presto/pull/350

[2019-02-28 21:48] mbasmanova commented on #12404
CC: @raghavsethi @arhimondr @rongrong @nezihyigitbasi

[2019-03-01 01:37] nezihyigitbasi opened #12411 "Cleanup smile support after airlift/airlift#706 is released"
The corresponding Airlift PR: https://github.com/airlift/airlift/pull/706

The changes from these PRs should be cleaned up and the implementation in Airlift should be used:
- https://github.com/prestodb/presto/pull/12363
- https://github.com/prestodb/presto/pull/12371

[2019-03-01 01:45] kevintvh commented on #959
Any update on this please?

[2019-03-01 03:11] TempleZhou commented on #12388
@nezihyigitbasi  If the SearchGuard is a mainstream security solution, I would like to submit a PR. However I need some time as there are many TLS configuration method, such as X.509 PEM, Keystore and Truststore......

[2019-03-01 04:20] wenleix opened #12413 "Backport "Create Block directly if the Data stream in ORC file is null""
https://github.com/prestosql/presto/pull/229

[2019-03-01 04:57] nezihyigitbasi commented on #12388
@TempleZhou I don't know much about ES, but looks like this may be useful for other users as well. Please submit a PR. Thank you @TempleZhou @zhenxiao.

[2019-03-01 05:20] wenleix opened #12415 "CreateEmptyPartition procedure might fail due to ExceptionInInitializerError in some rare case"
We suspect it might because we don't use a `ClassloaderSafeMetadata`

Stacktrace

[code]

[2019-03-01 16:30] arhimondr commented on #12404
I'm afraid of many kind of abuses of this method, that may potentially lead to all kind of data corruption that are incredibly hard to detect.

I understand that it makes some sense particularly for the GEO functions set, as there are so many way the input data can be corrupted. But instead of introducing a TRY_ALL() construction, i would rather wrap all the GEO functions that are likely to fail i

[2019-03-01 19:01] raghavsethi commented on #12404
I agree with Andrii - the most straightforward fix would be to have functions throw the correct errors (that can be caught by TRY).

[2019-03-01 19:04] mbasmanova commented on #12404
@arhimondr @raghavsethi Andrii, Raghav, thanks for your input. It should be straightforward to update the geospatial functions to catch all errors and re-throw IllegalArgumentException. I'll work on a PR.

[2019-03-02 01:06] raghavsethi opened #12416 "Add some basic sanity checks for EXPLAIN output"
Currently, we avoid having tests that rely on specific strings emitted by EXPLAIN, since it is considered to be unstructured human-readable text. It's reasonable, however, to have some basic sanity checks (e.g. number of stages, types, input tables) so that we're aware when we inadvertently make a major change.

[2019-03-02 21:22] mnoumanshahzad opened #12418 "Presto 0.215 data type errors when reading Parquet Data"
Hi,

I am using Presto 0.215 and querying Parquet data in AWS S3.
I was previously running Presto 0.206 and did not get these errors.

I am getting the following errors at times, but so far could not understand why I get them.

`java.lang.UnsupportedOperationException: com.facebook.presto.spi.type.TimestampType
	at com.facebook.presto.spi.type.AbstractType.writeSlice(AbstractType.java:135)
	at com

[2019-03-03 17:52] ramrock2008 commented on #12390
Thanks. The error message is "too many open partitions" and not related to too many open files.

[2019-03-03 20:18] ssaumitra commented on #5290
Hello guys,
I am a new contributor to Presto and I would like to start with this ticket.
As being discussed in past comments, I checked `split`, `regexp_split` and `split_part` behaviour in current master branch.
[code]
I think that `split_part` works correctly without any code changes and we do not need to fix them. I have made changes to split in my pull request #12420 and this is the behaviour

[2019-03-03 21:08] ssaumitra opened #12421 "Setting up local debug environment with Hive metastore"
I was trying to setup local debug environment with Presto source code and I was following instructions in `README.md`.
I have setup IntelliJ and ran `PrestoServer` as advised. README advises that when I don't have Hive metastore, `-Dhive.metastore.uri=thrift://localhost:9083` as VM option should work. However, with that setup, metastore connection does not work.
[code]
In order to workaround this

[2019-03-04 11:38] TempleZhou commented on #12388
@zhenxiao Please review the PR? https://github.com/prestodb/presto/pull/12422

[2019-03-04 12:25] deepak-sharma-ngi commented on #2445
I also want this feature in presto, so that i will add and use the catalog at run time without restarting it. Is there any date on which i will expect that this bug or new feature will be added in presto.

[2019-03-04 12:27] OmerJog commented on #3134
Was this resolved?

[2019-03-04 13:00] dinglianYuan opened #12424 "Why not use column statistics to filter some orc files like Hive?"
When querying a SQL, why not use column statistics to filter some orc files like Hive? Are there any enthusiasts who answered this question?

[2019-03-04 22:45] rongrong commented on #2445
My understanding is:
* adding a new catalog is relatively safe and straight forward
* removing a catalog is a bit more complex, but can be done as making it not accessible by new query, and remove it after existing queries using it are finished
* modifying, or removing & immediately adding an updated version, is a very complex problem.

If most of the use cases for this feature are in the first 2

[2019-03-05 02:25] ebyhr commented on #8845
The PR was merged into https://github.com/prestosql/presto/pull/319
The new option names are `CSV_UNQUOTED` and `CSV_HEADER_UNQUOTED`. It will be release on version 305.

[2019-03-05 17:25] nezihyigitbasi commented on #12418
/cc @zhenxiao any ideas?

[2019-03-05 18:32] #8711 closed

[2019-03-05 19:21] rschlussel commented on #12402
I doubt that `iterative_optimizer_enabled` is the cause.  You can test out turning it off and see if it helps. If it does, that means one of the optimizer rules is the cause because it just turns off some "newer" rule implementations, however none of the rules it turns off are very new anymore.

Having many partitions could make planning slow.  Could you try running with `hive.statistics_enabled =

[2019-03-05 22:09] #10832 closed

[2019-03-06 00:49] zhenxiao commented on #12418
looks like a type mismatch, how is ur parquet file being generated? which version of parquet you are using?

[2019-03-06 11:53] chianquan opened #12433 "why subquery in window function's order throw error"
Query

`select city,rank() over ( order by array_position((select Array['A1','A2','A3']),city) asc) from t_cities;`

error:
`Query 20190225_154837_00013_knycm failed: Unexpected subquery expression in logical plan: (SELECT ARRAY['A1','A2','A3']

)`

I don't know how presto run this query,but I compair it to this sitiaction:
`select city from t_cities order by array_position((select Array['A1','A2'

[2019-03-06 12:26] chianquan commented on #12433
https://github.com/prestodb/presto/pull/7777
@kokosing
Is it excutable when jump over the plan check?

[2019-03-06 14:54] morgans2 commented on #11480
I have been seeing the same issue and it does present intermittently. We are on version .210, in the process of upgrading to .214. This is actually causing issues in our prod environment where users will occasionally receive a denial, and everything works fine minutes later. Makes monitoring of the service impractical too.

[2019-03-06 18:26] wenleix opened #12434 "Backport the rest two commits in prestosql/presto#369"
https://github.com/prestosql/presto/pull/369

The first commit is extracted from https://github.com/prestodb/presto/pull/12407 . And @findepi  adds two clean up commits.

[2019-03-06 18:35] wenleix commented on #12400
Resolved by https://github.com/prestodb/presto/pull/12409

[2019-03-06 18:35] #12400 closed

[2019-03-07 01:22] TempleZhou commented on #12388
@zhenxiao PR has been updated

[2019-03-07 01:59] zeeshanabid94 opened #12440 "Guidance to implement clickhouse connector"
Hey guys!

We were recently looking at looker as our BI tool but as it turns out presto does not support clickhouse. Clickhouse has JDBC drivers and Presto has a extendable interface to support any JDBC driver.

I have gone through the presto developer docs. I would appreciate it if there were other sources of guidance that any one knows.

Thank you!

[2019-03-07 05:31] ryanrupp commented on #12424
This is already supported for ORC (min/max + bloom filter) and Parquet files (min/max + dictionary), is there anything you're seeing that made you think this isn't working? For reference, ORC this logic takes place   [here](https://github.com/prestodb/presto/blob/master/presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainOrcPredicate.java)

[2019-03-07 11:56] TempleZhou commented on #12388
@nezihyigitbasi @zhenxiao  Please review

[2019-03-08 00:34] ebyhr commented on #12440
Hi, you can develop JDBC based library very easily. `presto-mysql` or `presto-postgresql` codes would help you.

[2019-03-08 03:51] victor-wzq opened #12449 "use elasticsearch connector have error"
java.lang.NoClassDefFoundError: com/fasterxml/jackson/annotation/Nulls
i compile elasticsearch connector and run the launcher .and then accept this error

[2019-03-08 05:08] TempleZhou commented on #12388
Fixed. @nezihyigitbasi

[2019-03-08 08:19] kokosing commented on #4034
Looks obsolete, closing.

[2019-03-08 08:19] #4034 closed

[2019-03-08 20:35] #4322 closed

[2019-03-08 20:43] #12404 closed

[2019-03-08 21:56] nezihyigitbasi commented on #12388
Thanks @TempleZhou for your contribution, merged your PR.

[2019-03-08 21:56] #12388 closed

[2019-03-08 22:02] nezihyigitbasi commented on #12449
@aibaozi1 can you please share the entire stacktrace?

/cc @zhenxiao

[2019-03-09 02:35] zhenxiao commented on #12449
@aibaozi1 did not see this error before. let me know ur entire stacktrace. I'd be happy to debug.

[2019-03-10 06:44] wenleix commented on #12415
The similar issue was reported in https://github.com/prestosql/presto/issues/412 as well.

[2019-03-10 20:29] spaghettifunk commented on #12440
I opened a PR aiming to solve this problem. Happy to get feedback and help on this.

[2019-03-10 20:29] spaghettifunk commented on #9620
I opened a PR aiming to solve this problem. Happy to get feedback and help on this.

[2019-03-10 20:34] zeeshanabid94 commented on #12440
Hey! I already made a connector for clickhouse. Would you like to review my plugin, give feedback and eventually merge that into this repo?

[2019-03-10 20:36] spaghettifunk commented on #12440
@zeeshanabid94 of course! send me the link and i'll check it out! My team and I needs to have Clickhouse working with Presto ASAP :)

[2019-03-10 20:54] zeeshanabid94 commented on #12440
Great! I'll send you the link to the repo tomorrow.

[2019-03-10 23:14] wenleix commented on #5566
Resolved in https://github.com/prestodb/presto/pull/9702

[2019-03-10 23:14] #5566 closed

[2019-03-11 04:32] highker commented on #9620
@spaghettifunk, I did a pre-review of your PR. Please take a look. @kale5g @kevintop do you think a basic JDBC connector fits your case? If it is, @spaghettifunk, feel free to proceed.

[2019-03-11 04:34] highker commented on #12440
@spaghettifunk , @zeeshanabid94 could you discuss which PR you wanna proceed with? We can review once you have reached a consensus.

[2019-03-11 04:35] highker commented on #12440
Let's use #9620 to track the ticket.

[2019-03-11 04:35] #12440 closed

[2019-03-11 04:39] highker commented on #12424
Yes, we support ORC stats

[2019-03-11 04:39] #12424 closed

[2019-03-11 07:27] ebyhr commented on #11986
@imperio-wxm Sorry for the late reply. Would you confirm the queries' execution time on cassandra side?

[2019-03-11 23:07] az-stripe commented on #11869
@findepi Is the `303` a typo? Or are releases numbered in some other way, in addition to the `0.203` format?

[2019-03-12 09:28] findepi commented on #11869
@az-stripe you can get it from https://prestosql.io/download.html

[2019-03-12 17:01] #11899 closed

[2019-03-12 17:28] az-stripe commented on #11869
@findepi !!!! what is the difference between http://prestodb.github.io/ and https://prestosql.io/ , i've only ever seen the former

[2019-03-12 18:09] rongrong commented on #11869
@az-stripe prestosql is a fork from prestodb at around release 215/216. the prestosql release starts from 300.

[2019-03-12 22:26] findepi commented on #11869
@az-stripe , @rongrong is right. (thanks @rongrong for clarifying the version numbers!)
prestosql can be seen as a fork from prestodb... Or vice versa -- especially if you consider the fact that all top contributors (https://github.com/prestodb/presto/graphs/contributors) are there 🚀

[2019-03-13 01:39] dinglianYuan commented on #12424
Thank you very much. This is my mistake. I didn't see this part in the source code before.

[2019-03-13 01:48] dinglianYuan opened #12466 "Why query results are transmitted between workers?"
My Presto cluster has three machines, a coordinator(machine 1) and two workers(machine 2&3). When I query an SQL, machine 2 sends a request to machine 3 to get the query results, and Coordinator gets all the query results from machine 2. Why? I think Coordinator should get query results from machine 2 and 3, respectively.

[2019-03-13 03:33] highker commented on #12466
Could you be more specific? Query, setting, session...

[2019-03-13 18:25] ptkool opened #12467 "Presto returning incorrect results when filtering on character strings containing unicode character \u2019"
When filtering on character strings containing the unicode character \u2019, Presto returns incorrect results, depending on the type of filter being applied. Simple equality comparisons always return an incorrect result, as well as simple comparisons involving the LIKE predicate.

To reproduce the problem, unzip the attachment containing a small parquet file and create an external table in Hive as

[2019-03-13 19:49] ptkool commented on #12467
**Observation 1**

I dug into this a bit more, and determined that Presto returns incorrect results when predicate pushdown is involved. Blocks are being ignored due to the fact the statistics are incorrect. In this particular case, Parquet shows the maximum value of the block to be `I sell with a different system` - should be `'I’m selling, just not online'`.

**Observation 2**
Create another par

[2019-03-13 22:32] cps333 opened #12468 "SELECT 1 / 0 -> DIVISION_BY_ZERO v.s. SELECT 1.0 / 0 -> Infinity"
`SELECT 1 / 0` throws error

`SELECT 1.0 / 0` returns Infinity

Is this intentional?

[2019-03-14 04:58] Praveen2112 commented on #12468
`SELECT 1 / 0` will be treated as `INTEGER` operation and division by 0 will throw an exception while `SELECT 1.0/0` will be treated as `DOUBLE` where it will return Infinity. But IIRC in the latest presto version these will be treated as `DECIMAL` in which division by 0 is prohibited. (This might result in `Infinity` `select cast(1.0 as DOUBLE)/0;`)

[2019-03-14 06:15] #12468 closed

[2019-03-14 18:25] yingsu00 opened #12473 "Include Thrift service identity in error message"
Currently if Presto failed to connect to a Thrift connector, the stack trace doesn't include any information which Thrift server it is, and what caused the connection error. It will help the user to understand what's going on by including such information in the error message.

A current sample stack trace is like:
[code]

[2019-03-14 18:25] yingsu00 commented on #12473
@hellium01 @rongrong

[2019-03-14 22:18] mayankgarg1990 commented on #12283
We are not planning to solve this for now since this needs more think through. Closing this for now.

[2019-03-14 22:18] #12283 closed

[2019-03-14 22:18] #9891 closed

[2019-03-14 22:20] mayankgarg1990 opened #12474 "Verifier should exit when an exception happens"
In case of an exception while executing the verifier, ensure that we don't have non-daemon threads that keeps the verifier alive.

Example thread -

"pool-195-thread-1" #345 prio=5 os_prio=0 cpu=83.92ms elapsed=473.75s tid=0x00007f4908072800 nid=0x26b29d runnable  [0x00007f494c6db000]

[2019-03-15 00:52] dinglianYuan commented on #12466
Presto has a configuration item 'optimizer.force-single-node-output', whose default value is true. When changed to false, the coordinator will get the result data directly from each work. Is it more efficient to get results from one node?

[2019-03-15 01:12] highker commented on #12466
This is the original PR #8962. I briefly skimmed through the code; I guess with the exchange, the last piece of work will be done on the coordinator, which is not ideal.

[2019-03-15 01:38] thuylevn opened #12475 "how to create presto users and how to get X-Presto-User?"
how to create presto users  and how to get X-Presto-User?

[2019-03-15 01:43] dinglianYuan commented on #12466
Thank you!
I have another question.
When Presto transfers results, it uses JSON structure and uses Jackson for serialization. But there are better options, such as Protobuf structure and Kryo serialization. Now the data returned by a single response is about 30MB, but it takes about 4 seconds to deserialize the responsebody into a String. Is there a better way to improve the performance of deseria

[2019-03-15 04:31] hellooops opened #12476 "Error make integration of Presto using Kerberos authentication."
i'm make presto kerberos authentications now with reference to Presto 0.217 Documentation.
when i run the commands, it is wrong as:
`[root@presto ~]# ./presto \

presto:demo> sdf;
Error running command: Authentication failed: Unauthorized
presto:demo> `
I can't find any reference of this Error.
I need your help.
thanks

[2019-03-15 06:41] highker commented on #12466
#12342 added afterburner for json serde. #12363 added smile encoding. We expect to have more efficient serde in the future. Kryo is an option.

[2019-03-15 13:02] bgedik opened #12477 "Datetime subtraction has a problem for large year numbers"
When I subtract 10 years, I get a correct result, but when I subtract 100 years, the result seems off.
This seems to happen with the Europe/Istanbul timezone on a Linux machine. This works correctly in other databases, as far as I can tell.

[code]

[2019-03-15 14:59] mbasmanova commented on #11580
#12315 introduced ST_Area for spherical geography type. Thank you @ochalouhi

CC: @zhenxiao

[2019-03-15 15:02] mbasmanova commented on #10628
Fixed by #11157

[2019-03-15 15:02] #10628 closed

[2019-03-15 15:23] mbasmanova opened #12478 "Expand geospatial capabilities"
Geospatial capabilities expanded significantly over the past year or so and now include a good selection of geospatial functions from SQL/MM Part 3 spec (https://prestodb.github.io/docs/current/functions/geospatial.html) as well as broadcast (#9474) and distributed spatial joins (#11072). Still, there is more work to do.

- Enable distributed spatial LEFT join (currently, only INNER joins can run

[2019-03-15 16:31] bgedik commented on #12477
This turned out to be due to the time zone being Europe/Istanbul, which has shifted in 1910 and 1880.

[2019-03-15 16:31] #12477 closed

[2019-03-15 19:05] rongrong commented on #9613
Updated based on https://github.com/prestosql/presto/issues/8

[2019-03-15 20:30] Violet-XiaoWeiHuang commented on #11902
Hello @yingsu00,
I am new to this project. Could you provide more details to this issue?
Thank you.

[2019-03-15 21:37] mayankgarg1990 commented on #12474
Not really an issue. Closing

[2019-03-15 21:37] #12474 closed

[2019-03-16 17:00] nezihyigitbasi commented on #12475
Can you please give more details about what you are trying to achieve?

[2019-03-17 02:34] #12466 closed

[2019-03-18 02:01] ShawshankLin commented on #6010
what the progress now??

[2019-03-18 03:27] qin7972 opened #12481 "not clean rollbackAction after inserting a row in presto-mysql connector"
Hi,
    I can insert the first row  by the presto-mysql connector,but it appears error when inserting the second row.I find the reason that it does not clean rollbackAction after inserting a row in presto-mysql connector.
    Error info:
          `  2019-03-15T16:05:47.708+0800	ERROR	Query-20190315_080547_00001_kirqj-273	com.facebook.presto.execution.QueryStateMachine	Query 20190315_080547_00001_

[2019-03-18 03:31] #12481 closed

[2019-03-18 03:40] dandanfei opened #12482 "Insert datas to mysql through presto ,sometimes throw error"

[2019-03-18 03:44] dandanfei commented on #12482
Insert the first data can be success ,but when insert the second data ,give me an error,and  bring into a tem table
![image](https://user-images.githubusercontent.com/48665269/54505523-2f96f600-4973-11e9-8289-7657a2cbb38e.png)
log:2019-03-15T16:05:47.708+0800	ERROR	Query-20190315_080547_00001_kirqj-273	com.facebook.presto.execution.QueryStateMachine	Query 20190315_080547_00001_kirqj failed
java.la

[2019-03-18 07:13] dawsongzhao opened #12484 "how to access managed table in hive 3.1.0 by using presto?"
Now we can use presto to access external table in hive 3.1.0 installed by hdp3.1.0; But I can't access managed table using presto; Is there any configuration we lost?

[2019-03-18 07:39] hellooops opened #12485 "Kerberos authentication based Presto Configuration issue"
I'm make configuration of Presto kerberos authentication according to the Presto 0.217 documentation.
I've built a KDC on the vm.
but when i execute
[code]

on the server command, I got an error says:
`Error running command: java.io.IOException: unexpected end of stream on Connection{localhost:7778, proxy=DIRECT hostAddress=localhost/127.0.0.1:7778 cipherSuite=none protocol=http/1.1}`

I'm working

[2019-03-18 09:05] kiranps11 opened #12486 "How to provide the access for the group users in presto"
How to provide the access for the group users in presto

[2019-03-19 00:48] Phelodas opened #12491 "Support row level security"
Opening a new issue as #8980 and #10996 are not Row Level Security specific although there are lots of good points there.

The issue will track supporting row level security as a paradigm in Presto.

Design is [here](https://docs.google.com/document/d/1XCkBPf9fLXqYZqYxoJXBxo7tx98-TV1CzgzUGZoIKEE/edit?usp=sharing)

The link discusses a short term solution which may be subsumed when we have Connecto

[2019-03-19 06:37] rongrong commented on #11807
Can you provide some example use case? It's not clear to me what kind of use case would require approximation on top N, and how using approximation would help with memory footprint. Thanks!

[2019-03-19 06:44] panglei1984 opened #12494 "How to promote the speed?"
This is my computation performance,just 254K rows/s and 24.8MB/s.
But I saw some performace in internet,it can reach 78.7M rows/s and 16.9GB/s(2 nodes).
Please how to promote the speed,or how to positioning the bottleneck.
By the way,what's the meaning of these two unit？
thanks
---------------------------------------------------------------------------
presto:default> select count(*) from xxx;
  _

[2019-03-19 15:26] arnaboss commented on #4850
Hi I am still getting this error as below

[code]

This is the Input format getRecorder

[code]

and the custom Split as
[code]

Any idea, how do i solve this?

[2019-03-19 16:01] BenoitHanotte opened #12495 "Throttling Hive splits discovery & assignment"
Hello,
We have been experiencing issues recently where some extremely large queries (>1M splits) against Hive tables in a cluster over 100 nodes would flood our HDFS namenode with a very high number of simultaneous read operations. This slowed the namenode down significantly as it was struggling to keep up and started impacting other clients.

We are currently investigating a way to throttle the s

[2019-03-19 16:40] nezihyigitbasi commented on #12467
/cc @zhenxiao

@ptkool I didn't debug the issue, but the workaround is to set the session property `parquet_fail_with_corrupted_statistics` to `false`.

[2019-03-19 17:44] cploonker commented on #11807
@rongrong thanks for your attention.

Let us say we have a huge table with each row representing the domain and the user visiting it. If my interest is to only know the top domains which are visited the most and how many times is each visited this function would make it easy to do that kind of query. Imagine if i want the same result but for each country.

About the memory, as described in the log

[2019-03-19 18:19] zhenxiao commented on #12467
nice catch, @ptkool give me a few days, I will take a look after getting my hands clean

[2019-03-19 20:22] jonw73330 commented on #11807
@rongrong - Similar to cploonker's feedback

max_by(,,N) is a reasonably common pattern.
For datasets that are very high cardinality (and usually highly skewed), being able to identify top items is important.  (ex> Top ID's, words, url's.)  The current implementation is excluding many workloads from using presto due to memory constraints.  Having a small error rate in these datasets is an acceptab

[2019-03-19 22:21] nezihyigitbasi opened #12497 "Potential Integer Overflow in PagesSerde"
A production query hit:

[code]

A page can have a size of type `long` (`Page.getSizeInBytes()` returns `long`),  but size of data in `SliceOutput` can be an `int`. `TaskOutputOperator` splits a page into multiple pages with a max page size of `1MB`, but looks like in this case we ended up with a huge page even after the split.

[2019-03-19 22:23] nezihyigitbasi commented on #12484
Which Presto version are you using? Also, when you say "I can't access managed table", what exactly are you observing? Are you getting exceptions while accessing such tables?

[2019-03-19 22:39] nezihyigitbasi commented on #12495
AFAIK you can tune two knobs for that, one is `hive.split-loader-concurrency` as you already figured out, the other one is the number of such queries running at the same time, which is a resource group config problem.

I don't see any throttling or rate limiting in the split loading code path, so currently I don't think we have a good way to prevent a potential spike that would happen if a query a

[2019-03-20 01:13] rongrong opened #12500 "Support FNV hash functions"
https://en.wikipedia.org/wiki/Fowler%E2%80%93Noll%E2%80%93Vo_hash_function

There are different flavors of this hash function. We'd like to introduce
`bigint fnv64(binary)`
`bigint fnv32(binary)`

[2019-03-20 09:44] cjie commented on #8305
+1

[2019-03-20 14:37] arnaboss commented on #4850
@litao-buptsse How did you solve the problem?

[2019-03-20 16:55] elonazoulay commented on #12376
## Andrii Rosa
- [ ] all checked
-  02-22 10:40:56    0d4b659d14 Make dummy HiveEventClient use DEBUG log instead of INFO
-  02-22 10:40:56    107e97f19b Reduce parquet logging in Hive tests
-  02-22 10:40:56    8abd11ad08 Do not log test query uri
-  02-22 10:40:56    b1dfdaa1fb Log testing Presto server URL when it starts
-  02-22 10:40:56    e9a8899c65 Log test query durarion only if it run lon

[2019-03-20 17:35] mbasmanova commented on #12376
[code]

[2019-03-20 17:36] nezihyigitbasi opened #12502 "Update Elasticsearch Connector docs for Search Guard"
We should document the config for Search Guard support (https://github.com/prestodb/presto/pull/12422) in the Elastic Search connector.

[2019-03-20 17:37] nezihyigitbasi commented on #12502
@TempleZhou Can you please help us with this issue given that you are the author of the Search Guard PR? We should document the Search Guard config properties in the `presto-docs/src/main/sphinx/connector/elasticsearch.rst` file.

[2019-03-20 17:45] nezihyigitbasi opened #12503 "Backport prestosql/presto#58"
https://github.com/prestosql/presto/pull/58

This will be useful for our Parquet users as this patch should help with the memory usage in the Parquet reader.

[2019-03-20 18:11] jessesleeping commented on #12376
[code]

[2019-03-20 19:41] rongrong commented on #12376
General
-----------
* Optimize performance for queries with `CLALESCE` join keys on top of `FULL OUTER JOIN`

[2019-03-20 20:09] rschlussel commented on #12376
[code]

[2019-03-20 22:20] tompetrillo commented on #11807
I also think this would be useful.  Suppose I have a table of errors and different products that the errors were experienced in, then it is very useful to see the top 4 or 5 most commonly occurring errors for each product.  Generally speaking, this is a more advanced version of MODE which is also not available out-of-the-box.  There are methods to obtain it, but the approximation dramatically impr

[2019-03-20 22:22] tompetrillo commented on #11807
I would comment, that I think the name should change.   APPROX should happen at the end of the function.  Something like MOST_FREQUENT_OCCURING_APPROX has more obvious meaning.

[2019-03-20 23:08] blrnw3 opened #12506 "Make approx_set error parameter adjustable"
I propose a new version of the function `approx_set` which takes the same error parameter which can be supplied to `approx_distinct`.

i.e. `approx_set(x, e)`

If the user tries to `merge` HLLs with a different number of buckets, we can throw an error (the same behavior as the qdigest merge).

## User benefit
Merging HLLs computed from `approx_set`and getting the cardinality affords huge performan

[2019-03-20 23:15] wenleix commented on #12376
[code]

[2019-03-20 23:58] abhrajitmukherjee commented on #11807
This is a much needed feature and will be super useful for the Data Engineers of the field who heavily use presto

[2019-03-21 00:39] mayankgarg1990 commented on #12376
General
---------
* Add an optional additional argument to `split_to_map` to resolve key conflicts

[2019-03-21 03:01] TempleZhou commented on #12502
OK, I will create PR soon.

[2019-03-21 04:00] highker commented on #12376
[code]

[2019-03-21 04:18] wenleix commented on #12500
Similar to spooky hash (https://prestodb.github.io/docs/current/functions/binary.html#spooky_hash_v2_32), we should just have `fnv32` and `fnv64` .

[2019-03-21 07:16] TempleZhou commented on #12502
The PR: [#12508](https://github.com/prestodb/presto/pull/12508)

[2019-03-21 07:19] arnaboss opened #12509 "Need to have Custom Split in HiveUtil.createRecorder"
I am using my custom Input Format which is called at the HiveUtils.createRecorder passing a FileSplit object at https://github.com/prestodb/presto/blob/0cd02a9835f55fa59cca6b7aebfcb5d651214b85/presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java#L207

This calls the getRecorder at the custom Input Format and it fails to cast FileSplit to the custom Split.

Is there any way to pass a cu

[2019-03-21 17:27] cploonker commented on #11807
@tompetrillo, i would let the presto team decide the function name to align with their naming convention. I don't have any strong opinion about the name.

[2019-03-22 01:35] TempleZhou commented on #12502
I have updated the PR.

[2019-03-22 11:01] sslyxhz commented on #7005
Any other solutions on that?

[2019-03-22 17:57] hellium01 commented on #12376
Mine is just a refactor to expose Signature to SPI. So I don't think it needs to be in the release note.

[2019-03-22 18:15] arhimondr commented on #12376
Extracted from https://github.com/prestosql/presto/commit/70feb97187268e47038665e5f347442877dffab6#diff-eb61b8a84b07ec6faf8d22c23b02679fR9

[code]