[2016-11-01 20:44] raghavsethi opened #6495 "Flaky testResourceGroupManager tests"
This causes ~30% of Travis runs to fail.

'''
Tests run: 1696, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 2,623.875 sec <<< FAILURE!
testResourceGroupManager(com.facebook.presto.execution.TestQueues)  Time elapsed: 4.925 sec  <<< FAILURE!
java.lang.AssertionError: expected [2] but found [1]
	at org.testng.Assert.fail(Assert.java:94)
	at org.testng.Assert.failNotEquals(Assert.java:494)
	at o

[2016-11-01 21:03] paulrevere4 commented on #6295
@martint Can I give this one a shot?

[2016-11-01 21:41] AlekseiS commented on #5993
Merged

[2016-11-01 21:41] #5993 closed

[2016-11-01 22:02] dain opened #6496 "Handle type mismatch between partition and file in RCFile"
The `ColumnarBinaryHiveRecordCursor` and `ColumnarTextHiveRecordCursor` should convert `INTEGER` value out of range to `null` like Hive does.  We may also need similar changes to `GenericHiveRecordCursor`.

[2016-11-01 22:05] erichwang opened #6497 "Provide useful clustering for Raptor shard tables"
Raptor shard tables should be clustered on something that would be reasonably useful so that queries against these tables have at least some shot of not doing a full-table scan.

I would propose clustering the shard tables on the max value of the temporal column since shards need to be organized along temporal columns. To cluster in MySQL, you need to make to modify the PK, and enforce the origina

[2016-11-01 22:46] electrum commented on #6120
You need to set the default catalog/schema first: `USE raptor.test;`

[2016-11-01 23:02] electrum commented on #5893
This should throw `PrestoException` with `INVALID_FUNCTION_ARGUMENT`.

Note that the stack trace above is just an example of one place where this can happen. Any code in `DateTimeFunctions` that calls `org.joda.time.DateTimeField#get()` with a Chronology returned by `getChronology()` or `unpackChronology()` will throw. I'd add a helper method that does the call and catches the `ArithmeticException

[2016-11-01 23:10] electrum commented on #6120
Add a new `SemanticErrorCode` for this: `VIEW_CANNOT_BE_RECURSIVE`

[2016-11-02 08:53] sopel39 commented on #6414
One fix: https://github.com/prestodb/presto/pull/6500
I guess there will be more

[2016-11-02 12:01] zz22394 opened #6502 "Support INSERT for Cassandra connector"
Dear team

We are trying to add support for INSERT to Cassandra connector,
because we have use cases which select data from HDFS and then insert into Cassandra.

Our team is now working on it , after finished we will send the PR.

[2016-11-02 12:59] kokosing commented on #6491
@martint I see you are assigned to it, but I didn't start to work on this I can fix that. Just please tell me what category it should use.

[2016-11-02 13:02] sopel39 commented on #6449
@martint I think the issue here can be solved by moving `HashGenerationOptimizer`
just below `AddExchanges` optimizer. Support for `LocalExchanges` would need to be added to other optimizers. I don't know if it is worth the effort?

[2016-11-02 17:27] martint commented on #6491
@kokosing, no, I haven't started working on this. Go for it. Just create a new error type. It should be tagged with USER_ERROR category.

@dain, do you have the query that caused this? One concern I have is that there are probably still a couple of bugs that are causing valid queries to slip through the cracks and end up hitting this validation.

[2016-11-02 18:45] cberner commented on #6495
Should be fixed by https://github.com/prestodb/presto/pull/6504

[2016-11-02 18:45] #6495 closed

[2016-11-02 19:20] dain commented on #6491
@martint there were like 100 of them in our internal "failures" report yesterday

[2016-11-02 19:25] martint commented on #6493
This seems to be caused by ed291cdd6701862c82ceefaf25f557f481faedd8. @kokosing, can you take a look?

[2016-11-02 20:31] AlekseiS commented on #5287
Merged https://github.com/prestodb/presto/pull/6381 which adds support for quantified comparison predicates.

[2016-11-02 20:31] #5287 closed

[2016-11-02 20:34] erichwang commented on #5970
@raghavsethi @electrum, this is a major problem that is still going on and is essentially prevents compaction from working properly altogether. Do we have any updates?

[2016-11-02 20:39] AlekseiS opened #6506 "Support =ALL and <>ANY for unorderable types"
Current implementation of quantified comparison predicates done in https://github.com/prestodb/presto/pull/6381 supports =ALL and <>ANY only for orderable types. However, the type doesn't have to be orderable and can be just comparable to be used with these quantifiers.
An example of a comparable, but unorderable type is "map" type.
A possible approach to implement it is to use "distinct" with "li

[2016-11-02 22:56] erichwang opened #6509 "Properly handle nulls in Raptor temporal and sort columns"
We should figure out whether or not we fully support nulls in:
1) temporal columns
2) sort columns

And if not, we should disallow adding rows that have nulls in one or both of those fields (depending on the decided criteria). It sounds like we should at least disallow nulls in temporal columns since it becomes unclear to the semantics at that point.

[2016-11-02 23:09] jeffreybreen commented on #5177
A subtlety is that you'll only be able to push down the ORDER BY if the clause includes both `_partition_id` and `_partition_offset`. (And is ascending? Not sure...) To be fair, this is probably what people intend if they're specifying such a sort, but it's not what's given as an example.

As written, that query could include records from multiple partitions so you would actually need to do the so

[2016-11-02 23:28] reliablendn opened #6511 "Aggregation Functions via plugin seems to be broken in 0.154"
Hey Guys,

Will really appreciate some help with this as after banging my head for a day and going through presto source code I realised the function works fine with 152 and breaks with 154.

I have a aggregation function group_concat which works fine with version 152 but fails with 154 with following exception (I have not tried it with 153):

`com.facebook.presto.spi.PrestoException: group_concat

[2016-11-02 23:30] ecesena commented on #5177
I fully agree, and probably supporting the simpler case where the user specifies both `_partition_id` and `_partition_offset` is enough to start.

My example was kind of desired. The expectation is that you push down the limit to all partitions, then you sort, then you limit again. Here the result isn't particularly significant, but the push down of the limit can have a big performance impact.

[2016-11-03 00:26] yuokada commented on #4130
@electrum Could you review this WIP PR (#6437)?

[2016-11-03 00:48] bdm123 commented on #5664
Seeing the same error in the workers log file when querying a bucketed hive table in s3.  Query will  just remain stuck after XX percent and never complete. Running Presto 0.150 on EMR. Any updates on this issue?

[2016-11-03 03:21] electrum commented on #5177
@martint could this be done somehow with table layouts, so the TopN operator would just do a merge sort?

[2016-11-03 03:35] martint commented on #5177
@electrum, yes, if the connector indicates the outputs are sorted by that column (within each partition) and if the TopN operator is updated to support it (plus, all the required planner changes to choose that variant of the operator, etc).

[2016-11-03 03:40] martint commented on #5177
Actually, the TopN operator probably doesn't even need to change. The optimizer just needs to be made aware of the properties and instead of producing a final TopN over a partial TopN for each partition, it would produce a final TopN over a Limit.

[2016-11-03 04:55] dain commented on #5664
@tesseract2048 given that you are getting "Life cycle stopping..." in the logs that normally mean someone called `System.exit` or a sig quit was sent to the process.  When there is a hard crash, the VM just exits and you normally get an hprof file.

@bdm123 your post log doesn't seem related since you are seeing a "hang".  There are many reasons for a query to appear to "hang".  It can be as simpl

[2016-11-03 05:41] geraint0923 commented on #6420
Should be fixed by #6423

[2016-11-03 05:41] #6420 closed

[2016-11-03 06:31] kokosing commented on #6493
sure, I will take care of this

[2016-11-03 16:21] cberner opened #6517 "Add configurable limit on Hive partitions read"
This will prevent the coordinator from running out of heap space, when someone tries to query a table with a very large number of partitions. I think the right place to add this is in `ThriftHiveMetastoreClient`. We just need to pass the limit + 1 as the last parameter in `getPartitionNamesFiltered` and `getPartitionNames`, then check if we got more than the limit.
A config property should be adde

[2016-11-03 17:41] electrum commented on #6517
Is this supposed to be a per-call limit or cumulative for the query?

If per query, the metastore client can't track this itself since it doesn't know the query ID associated with the request.

[2016-11-03 20:01] bdm123 commented on #5664
Thanks @dain dain - Digging into my issue further I found that S3 connections are timing out (log error below).  I'm querying 20GB (479 files) parquet table with 10 nodes * 8GB memory. Query is a sum/where/group by and should be reasonable amount of resources.  Any idea why S3/presto is 'choking'?

connection from pool

[2016-11-03 20:06] nezihyigitbasi commented on #5664
@bdm123 I think you are hitting the issue that I fixed in #5629 (released in 0.152, see release notes [here](https://prestodb.io/docs/current/release/release-0.152.html)). The bug leaks connections while talking to s3.

[2016-11-03 20:33] bdm123 commented on #5664
Great. Thanks for the quick response @nezihyigitbasi! I will try to upgrade the cluster with the latest EMR release which has Presto 0.152.3 and let you know if I still have any issues.

[2016-11-03 20:35] nezihyigitbasi commented on #5664
BTW note that #5629 can explain why the connection pool run out of connections but it doesn't explain why your workers crash/exit, which is the very first issue you posted.

[2016-11-03 21:10] wagnermarkd commented on #6373
This is an issue with how the Avro SerDe manages metadata and is also broken in Hive: https://issues.apache.org/jira/browse/HIVE-14509.

[2016-11-03 22:34] rongrong commented on #6120
Bear with me since I'm not familiar with the ways recursive views can be created. @electrum told me that one way of create a recursive view is through `CREATE TABLE a`, `CREATE OR REPLACE VIEW a SELECT * FROM a`. This can be extended to involving many views chained on one table, say `x`, then `CREATE OR REPLACE VIEW x` from any of the views based on `x`. Is there any other way to create a recursiv

[2016-11-03 22:49] juancb opened #6523 "Inconsistency in the way the TPCH connector handles schema names"
The connector seems to parse the schema names to extract the scale factor, not entirely sure why, but the schemas are named as /sf\d+/except in the case of the tiny scale factor schema which uses /sf0\.01/ as its name. The connector is implemented to treat all scale factors as doubles where it should be only doing so for any scale factor <1. This behavior is inconsistent with other connectors.
[co

[2016-11-04 05:31] electrum commented on #6120
I think renames could also do this. A connector controls the namespace, so in theory a connector could rename a view and create a cycle.

[2016-11-04 15:47] reliablendn commented on #6511
It seems to work fine on 155 with some changes.

[2016-11-04 15:47] #6511 closed

[2016-11-04 16:04] electrum opened #6527 "Failed product test sql_tests.testcases.hive_tpch.q17"
[code]

[2016-11-04 16:12] cberner commented on #6517
per-call is what I had in mind. We just want to avoid OOM'ing the coordinator by reading an enormous number of partitions, that then get inflated into HivePartition objects

[2016-11-04 18:14] electrum opened #6531 "Do not send INFORMATION_SCHEMA security checks to connectors"
Things like the Hive `SqlStandardAccessControl` has explicit checks for `INFORMATION_SCHEMA`. Since this schema is provided by the Presto engine, connectors shouldn't need to special case it.

We should probably disallow operations like creating tables or other objects within it.

This should go in `AccessControlManager` with tests in `TestAccessControlManager`.

[2016-11-05 00:11] #6497 closed

[2016-11-05 01:15] #5970 closed

[2016-11-06 14:22] handsetvn opened #6543 "How to Connect Presto to DynamoDB ?"
Presto is a good tool from Facebook to query multiple data sources. It supports multiple plugins (called "Connector") to talk to the physical data source like database or Apache Cassandra. But it lacks of support for AWS Dynamo DB. Can anybody help me?

[2016-11-06 17:38] dain commented on #6543
There has been talk in the community about writing a DynamoDB connector but I don't think anyone has started yet.

[2016-11-06 18:42] parekhparth commented on #4805
@petroav, any updates here?

[2016-11-06 18:52] petroav commented on #4805
@parekhparth yes I'm going to put up a Teradata internal review tomorrow. The patch was re-written to use a synthetic type so that the arguments are not serialized/de-serialized at every invocation.

[2016-11-06 22:11] buremba commented on #6543
I developed a Dynamodb connector for Presto a few months ago: https://github.com/buremba/presto-dynamodb

It's been some time and the version is 0.151. I couldn't have chance to finish the implementation though. Currently, it lacks the tests but can connect Dynamodb tables and fetch data from them. I can prepare a PR if there is an interest.

[2016-11-06 22:19] mkaja commented on #6382
any update ?  json_extract_scalar

[2016-11-06 23:51] electrum opened #6545 "Add failureHost and failureTask to QueryInfo"
These fields are currently extracted from the task list to create `QueryFailureInfo`. Instead, we should store them in `QueryInfo`. This is useful because the task list is cleared early to save memory. The UI should also be updated to show this.

[2016-11-07 06:35] kokosing commented on #6527
I see it is passing on master? Was this fixed or is this intermittent?

[2016-11-07 06:58] electrum commented on #6527
This is intermittent.

[2016-11-07 12:02] fiedukow commented on #6527
https://github.com/prestodb/presto/pull/6529
Fix is already in.
@kokosing is working on additional tests

[2016-11-07 12:30] kokosing commented on #6527
Test for the root cause issue is here: https://github.com/prestodb/presto/pull/6546

[2016-11-07 12:31] kokosing commented on #6527
I am closing this as it should be already fixed, in case it reoccurs again please reopen it.

[2016-11-07 12:31] #6527 closed

[2016-11-07 14:22] handsetvn opened #6547 "The table can not be deleted."
presto:default> select * from orders;
 orderkey | orderstatus | totalprice | orderdate
----------+-------------+------------+-----------
        1 | aaa         |        1.1 | NULL
(1 row)

Query 20161107_142057_00130_243y7, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:00 [1 rows, 478B] [2 rows/s, 1.32KB/s]

presto:default> delete from orders where orderkey = 1;
Query 20161107_142122_0013

[2016-11-07 18:18] dain commented on #6547
Although Presto supports arbitrary delete criteria like you have in the query above, Hive only supports deleting either the entire table for unpartitioned tables or whole partitions for partitioned tables.  If you are unfamiliar with Hive partitioning, this article seems like a reasonable introduction https://www.tutorialspoint.com/hive/hive_partitioning.htm

In Presto, you can specify the partiti

[2016-11-07 18:18] #6547 closed

[2016-11-07 19:42] thecubed commented on #6047
Here's me and a coworker's quick hack to make Presto 0.152 not fail on UDT.
This does not add support for the UDT, but rather allows Presto to emit a string (`[Cassandra UDT not supported]`) in place of the UDT until such support is added by the Presto maintainers.

https://github.com/thecubed/presto/commit/56241b6942837ddfa8f37b63f75ef6fec90a862b

This probably shouldn't be a PR unless it gets cl

[2016-11-07 23:10] PatrickSauts commented on #1195
<Method Connection.prepareStatement is not yet implemented> with presto-jdbc 0.155 inside DbVisualizer while trying to DELETE or INSERT

[2016-11-08 01:44] martint opened #6550 "Uncategorized error for from_unixtime"
[code]

[2016-11-08 01:57] martint opened #6551 "Planning error for query containing disjunctions and IN (subquery) predicates"
[code]

fails with:

[code]

[2016-11-08 01:57] martint commented on #6551
cc @kokosing

[2016-11-08 02:05] martint opened #6552 "Hive table can be bucketed on non-existent column"
This statement succeeds, even though the table does contain a column named `b`:

[code]

[2016-11-08 02:08] martint opened #6553 "NPE when table is bucketed on non-existent column"
Given this table (which is, allegedly, bucketed on a non-existent column)

[code]

Querying the table fails with:

[code]

This is related to https://github.com/prestodb/presto/issues/6552

[2016-11-08 02:08] martint commented on #6552
cc @haozhun

[2016-11-08 02:08] martint commented on #6553
cc @haozhun

[2016-11-08 02:29] martint opened #6554 "Invalid plan for query involving an aggregation subquery joined to a partitioned table"
Given this hive table:

[code]

The following query fails with an exception during planning:

[code]

[code]

[2016-11-08 06:05] dain opened #6556 "Missing schema permission implementations"
The `AllowAllAccessControl` and `FileBasedAccessControl` are missing implementations of the new schema permission checks, so these operations are always denied.

[2016-11-08 06:54] kokosing commented on #6551
I will take care of this.

[2016-11-08 08:03] handsetvn opened #6558 "Catalog 'hive' does not support table property 'location'"
presto:mp_catalog> CREATE TABLE mp_catalog.page_views (
                ->   view_time timestamp,
                ->   user_id bigint,
                ->   page_url varchar,
                ->   ds date,
                ->   country varchar
                -> )
                -> WITH (
                ->   format = 'ORC',
                ->   partitioned_by = ARRAY['ds', 'country'],

[2016-11-08 09:53] yuananf commented on #6558
This property is already in master, and should be available in the next release.
See https://github.com/prestodb/presto/pull/6535

But it is ```external_location``` not ```location```

[2016-11-08 15:04] fiedukow opened #6561 "testResourceGroupInfo - random test fail"
@miniway After 7d98b8e649148f7f9eedd81c25a404867e98fa34 testResourceGroupInfo fails randomly.
The fail occur on the line
[code]
as sometimes `global.getCpuUsage()` returns `0L`.

Should the test be modified to accept `0L` as well or is there an underlying problem causing wrong result to be returned randomly?

[2016-11-08 15:06] cawallin commented on #6561
There's an open PR to revert that until @miniway can fix the test: https://github.com/prestodb/presto/pull/6557

[2016-11-08 15:33] ghost opened #6562 "How to Delete a partition file in Amazon S3 using a Presto script?"
On S3, Presto can insert/delete into Hive table, but when deleting on Presto, i see that partition on amazon s3 are not deleted. Can you explain the reasons?

presto:mp_catalog> delete from cat_item where itemid = 3;

S3 : category/itemid=3/20161108_100300_00145_243y7_f526527b-7e8b-401d-b6d1-f172f989a86f.gz

[2016-11-08 17:17] electrum commented on #6562
The Hive metastore is responsible for physically deleting the data when the partition is dropped. If you drop the partition using the Hive CLI, is the directory deleted?

[2016-11-08 19:24] martint opened #6564 "Add support for DISTINCT in selective aggregates"
Currently, DISTINCT cannot be used with selective aggregates:

[code]

[code]

[2016-11-08 20:08] electrum opened #6565 "Add header in UI to live plan with link back to query details page"

[2016-11-08 20:11] electrum opened #6566 "Truncate long principals on UI query details page"
The text is too wide for the table cell and covers up the Schema.

[2016-11-08 21:56] elonazoulay opened #6568 "Add hard memory limit to resource groups"
We have a use case for adding hard memory limit to the resource groups: allow dynamic control of memory limits for running etl jobs.

[2016-11-08 22:22] #6551 closed

[2016-11-09 00:36] #5654 closed

[2016-11-09 09:44] handsetvn opened #6574 "Exception Connecting to MySQL and JDBC Sources using Presto"
Amazon RDS :

CREATE TABLE `JDBCTable` (
  `id` int(11) NOT NULL,
  `id_double` double DEFAULT NULL,
  `names` varchar(45) DEFAULT NULL,
  `test` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

---------------------------------------------------------------------------------

hive> CREATE EXTERNAL TABLE HiveTable(
                                 id INT,

[2016-11-09 11:02] sopel39 opened #6575 "Maven checks Travis job fails nondeterministiacally"
Same branch:
https://travis-ci.org/Teradata/presto/jobs/174453816
https://travis-ci.org/sopel39/presto/jobs/174441908

FYI: @martint

[2016-11-09 15:01] handsetvn opened #6577 "Hive/Presto java.lang.ClassNotFoundException: com.mysql.jdbc.Driver"
hive> ADD JAR s3://xxxxxxxx/mysql-connector-java-5.1.35.jar;
Added [/mnt/tmp/xxxxxxx/mysql-connector-java-5.1.35.jar] to class path
Added resources: [s3://xxxxxx/mysql-connector-java-5.1.35.jar]
hive> ADD JAR s3://massgenie-libraries/qubole-hive-JDBC-final-0.0.6.jar;
Added [/mnt/tmp/xxxxxx/qubole-hive-JDBC-final-0.0.6.jar] to class path
Added resources: [s3://xxxxxx/qubole-hive-JDBC-final-0.0.6.ja

[2016-11-09 15:47] handsetvn opened #6578 "How to connect a Presto database to MySQL ?"
Is it possible to make joins between two tables from two different Presto catalogs? Assume I have a product table in MySQL and another table sales_order in hive; can I join them? If yes, then how can I specify the catalog for MySQL and what would my query look like?

[2016-11-09 16:37] jpavlick commented on #6578
Sure, it's pretty easy. You can reference tables like this: `catalog.schema.table`. So assuming you are in your hive catalog, you can write something like:

`select * from hive.sales.sales_order join mysql.database_name.products`

This is assuming you have a mysql connection that goes by the name of `mysql`. The name of the catalog is taken from the properties file. For example, `mysql.properties`

[2016-11-09 17:36] ArturGajowy opened #6579 "Query plans not deterministic"
There are cases where subsequent executions of a query differ because of the query plan being created in a non-deterministic way. The simplest example we've spotted so far is:

[code]

which produces at least two different plans:

[code]
and
[code]

Such a plan difference, in an isomorphic query, resulted in an order of magnitude performance difference (because of the table sizes). In other querie

[2016-11-09 17:39] ArturGajowy commented on #6579
cc @martint

[2016-11-09 17:47] martint opened #6580 "Display better error messages for unsupported correlated query shapes"
The message that's currently reported is not very helpful. We should validate the shape of the query during analysis and show a more meaningful message.

For example, for a query like:

[code]

It should say something like "correlated subqueries using DISTINCT not supported", and possibly, include the name of the field referenced from the outer scope (sometimes, a typo in a column name can turn a

[2016-11-09 18:53] martint opened #6581 "Categorize IOException when reading Hive table"
It should be categorized as HIVE_BAD_DATA

[code]

[2016-11-09 19:32] #6493 closed

[2016-11-09 19:58] #6473 closed

[2016-11-09 21:01] electrum opened #6585 "Support Unicode escaped strings"
The standard specifies a (slightly strange) syntax for string literals with escaped Unicode in 9075-2:2011 section 5.3. The starting token in the grammar is `<Unicode character string literal>`.

The PostgreSQL manual gives an overview: https://www.postgresql.org/docs/9.6/static/sql-syntax-lexical.html#SQL-SYNTAX-STRINGS-UESCAPE

[2016-11-09 21:19] #6554 closed

[2016-11-09 21:22] martint commented on #6577
This issue is not related to Presto. The output you posted is from the Hive CLI. You may want to ask about or report an issue with the Hive project, instead.

[2016-11-09 21:22] #6577 closed

[2016-11-09 21:24] martint commented on #6578
Take a look at https://prestodb.io/docs/current/connector/mysql.html for instructions on how to configure the mysql connector.

[2016-11-09 21:24] #6578 closed

[2016-11-09 21:26] martint commented on #6575
The failure in first one seems to be due to OOM error. I've seen similar issues recently.

[2016-11-09 21:28] martint commented on #6574
This issue is not related to Presto. The output you posted is from the Hive CLI. You may want to ask about or report an issue with the Hive project, instead.

[2016-11-09 21:28] #6574 closed

[2016-11-09 21:29] #6558 closed

[2016-11-09 21:30] #6543 closed

[2016-11-09 21:32] martint commented on #6409
Fixed

[2016-11-09 21:32] #6409 closed

[2016-11-09 21:35] martint commented on #6405
Can you elaborate on what we should be looking for in those images? Where did you expect spaces to be auto-trimmed?

[2016-11-09 21:38] martint commented on #6276
This is now set to 16 by default.

[2016-11-09 21:38] #6276 closed

[2016-11-09 21:41] #6152 closed

[2016-11-09 21:42] martint commented on #6145
Fixed

[2016-11-09 21:42] #6145 closed

[2016-11-09 21:42] martint commented on #6061
Fixed

[2016-11-09 21:42] #6061 closed

[2016-11-09 21:45] #5963 closed

[2016-11-09 21:47] martint commented on #5834
Is this still an issue?

[2016-11-09 21:47] martint commented on #5779
@nezihyigitbasi, do you see this issue in newer versions?

[2016-11-09 21:48] #5734 closed

[2016-11-09 21:57] nezihyigitbasi commented on #5779
I didn't have a chance to look at newer versions unfortunately.

[2016-11-09 22:33] #6552 closed

[2016-11-09 23:55] dain commented on #5834
No. Both are required to be a power of two now.

[2016-11-09 23:55] #5834 closed

[2016-11-10 00:36] haozhun commented on #6553
Fixed in #6582

[2016-11-10 00:36] #6553 closed

[2016-11-10 00:43] erichwang opened #6588 "Add column nullable stats per shard in Raptor"
Currently we only track min and max values, but we don't know if a column has nulls in a shard.

[2016-11-10 01:33] erichwang opened #6589 "Explain analyze incorrectly strips off output columns"
Explain analyze currently strips off output columns of a query, which is a problem because it changes the performance characteristics of the query. For example, if I have a query with 1000 group-by aggregates, the explain analyze will only run with 1 of the group-by aggregates.

[2016-11-10 02:11] martint commented on #6589
To illustrate:

[code]

but

[code]

Note that columns `y` and `z` are pruned in the plan executed by explain analyze.

[2016-11-10 05:29] samanthrao commented on #2863
I have the same issue as @ashish6976 but in my case the database is MongoDB. Some of the database names and collections are in title case per company standards. When Presto loads the catalog, it converts everything to lowercase and results in zero records being processed. The only thing that works is, when a collection name or database name is lowercase.

Are there any alternative to overcome this

[2016-11-10 12:19] handsetvn opened #6593 "Query 20161110_121745_00074_ru8sf failed: line 1:15: Catalog mysqlcatalog does not exist"
[root@ip-10-0-0-248 /]# ls /etc/presto/conf.dist/catalog/
hive.properties  mysqlcatalog.properties
-----------------------
catalog/mysqlcatalog.properties:
connector.name=mysql
connection-url=jdbc:mysql://example.net:3306
connection-user=root
connection-password=secret

Query 20161110_121745_00074_ru8sf failed: line 1:15: Catalog mysqlcatalog does not exist
select * from mysqlcatalog.mp_catalog.JD

[2016-11-10 13:18] kokosing commented on #6580
It seems to be related to: https://github.com/prestodb/presto/issues/6491. I will assign myself to it and try fix that (and the other bug) in the near future

[2016-11-10 14:05] handsetvn opened #6594 "How to add connectors to presto on Amazon EMR ?"

[2016-11-10 14:13] buremba opened #6595 "Predicate pushdown for timestamp columns"
If the type of the column is TIMESTAMP and the predicate is TIMESTAMP_WITH_TIME_ZONE, predicate pushdown doesn't work because Presto doesn't perform type coercion. Here is an example:

`select count(*) from table where created_at > timestamp '2016-10-15 11:29:11.000 UTC'`

[2016-11-10 14:55] handsetvn opened #6596 "Query 20161110_145354_00051_7iaid failed: No nodes available to run query"
presto:default> show tables from mysqlcatalog.mp_commerce;
 Table
-------
 test
(1 row)

Query 20161110_145334_00050_7iaid, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:00 [1 rows, 25B] [2 rows/s, 66B/s]

presto:default> select * from mysqlcatalog.mp_commerce.test;
Query 20161110_145354_00051_7iaid failed: No nodes available to run query

presto:default>

[2016-11-10 18:23] dain commented on #6593
The catalog file should placed inside of the etc directory in the Presto release.  It looks like this is in the system etc directory.  So you should have the following paths:
[code]

[2016-11-10 18:26] dain opened #6597 "Add catalogs to system.runtime.nodes"
It would be helpful to have a column that contains the catalogs installed on the nodes.  This column would be type `ARRAY<VARCHAR>`.

[2016-11-10 18:50] dain opened #6598 "Print NodeInfo at startup"
It would be convenient  to have all data in `NodeInfo` logged at startup

[2016-11-10 21:44] buremba opened #6601 "Concurrent ADD COLUMN operation in Raptor"
When we perform `ALTER TABLE ADD COLUMN` operation in a Raptor table concurrently, it may fail because Raptor doesn't use any lock for `columnId` when inserting metadata of new column:
https://github.com/prestodb/presto/blob/master/presto-raptor/src/main/java/com/facebook/presto/raptor/RaptorMetadata.java#L446

`addColumn` method is not synchronized, in a concurrent environment `columnId` may exis

[2016-11-10 22:31] nezihyigitbasi commented on #6594
Please take a look at [EMR Presto page](http://docs.aws.amazon.com/ElasticMapReduce/latest/ReleaseGuide/emr-presto.html), there is an example for adding a connector.

[2016-11-10 22:31] #6594 closed

[2016-11-11 02:31] ghost opened #6604 "Add ability to call MySQL procedures from Presto"
presto:default> select * from mysql.mp_commerce.test;
 idtest |     testcol
--------+------------------
      1 | Hair Care
      2 | Body Care
      3 | Kits & Gift Sets
(3 rows)

Query 20161111_022956_00023_ki3sk, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:00 [3 rows, 0B] [7 rows/s, 0B/s]

presto:default> call mysql.mp_commerce.new_procedure();
Query 20161111_023022_00024_ki3sk failed

[2016-11-11 04:46] electrum commented on #6601
We could do "select ... for update" on the row in the "tables" table as a table lock.

[2016-11-11 05:39] elonazoulay commented on #6471
Can this issue be closed? The above pr was already merged and resolves the issue. Let me know if there's anything else that should be done. Thanks!

[2016-11-11 06:52] #6471 closed

[2016-11-11 06:52] electrum commented on #6471
Thanks!

[2016-11-11 09:56] nezihyigitbasi commented on #6597
I saw that no one is assigned to this one, so created a PR for it. Assigning to myself.

[2016-11-11 17:30] martint opened #6606 "Uncategorized error when casting nan or infinite to decimal"
[code]

[code]

It should be categorized as `INVALID_FUNCTION_ARGUMENT`

[2016-11-12 00:59] martint opened #6608 "Add function for parsing string with unicode escapes"
It should be able to handle \uxxxx sequences

[2016-11-14 07:03] bdm123 commented on #5664
Thanks so much again @nezihyigitbasi - I haven't been seeing the same connection pool error and getting better performance since upgrading to 0.152.3.
Not as frequent but when running the same/similar queries over time they still occasionally get stuck.  For example, I run a query that normally takes ~2 minutes to complete a few dozen times (not concurrently) and then run the same or slightly modi

[2016-11-14 07:09] nezihyigitbasi commented on #5664
@bdm123 glad that it solved your problem.

I have seen a similar issue where the timeout/retry config for the s3 filesystem were high, which was causing the threads making s3 calls to block (& retry) for a long time when calls fail (and the user will see that the query just hangs).

What is your s3 timeout/retry related config? (`hive.s3.connect-timeout`, `hive.s3.socket-timeout`, `hive.s3.max-ret

[2016-11-14 07:27] bdm123 commented on #5664
Hey @nezihyigitbasi - Below are my current settings (which in fact were borrowed from the netflix blog post on presto :) ). Anything you would recommend changing?

hive.s3.connect-timeout=5m
hive.s3.max-backoff-time=10m
hive.s3.max-error-retries=50
hive.s3.max-connections=500
hive.s3.max-client-retries=50
hive.s3.socket-timeout=5m

[2016-11-14 10:12] zz22394 opened #6610 "Support AWS V4 Signature for S3-compatible storage"
Dear team:

September, We sent a PR(prestodb#6054) using AWS V2 Signature for S3-compatible storage and glad that it is merged.

Now we will upgrade it to enable AWS V4 Signature which is safer than V2 Signature.

We had investigated how to customize the region file in [aws-sdk-java#842](https://github.com/aws/aws-sdk-java/issues/842).
Next we will implement it in Presto connector in a few weeks.

[2016-11-14 14:03] handsetvn opened #6612 "Updating presto Blocks"
Is there is any possibility to update a page or a block in memory? we are working on in-memory update in presto blocks. any suggestions?

thanks in advance.

[2016-11-14 14:19] handsetvn opened #6613 "How to load String format timestamp value to hive table?"

[2016-11-14 15:37] buremba commented on #6612
You should use PageBuilder and BlockBuilder for constructing Page and Block instances. Page and Block are immutable so it's not possible unless you use some nasty tricks like accessing the underlying data structure of Block instances.

[2016-11-14 16:34] asmksf opened #6614 "Column '"data"' cannot be resolved for jsonb"
created a jsonb table in postgres db and trying to query it from presto and its showing below error.

**in postgresdb:**
CREATE TABLE json_test (
  id serial primary key,
  data jsonb
);

INSERT INTO json_test (data) VALUES
  ('{}'),
  ('{"a": 1}'),
  ('{"a": 2, "b": ["c", "d"]}'),
  ('{"a": 1, "b": {"c": "d", "e": true}}'),
  ('{"b": 2}');

SELECT * FROM json_test;

**in presto**

presto:public>

[2016-11-14 17:48] dain commented on #6613
I'm not sure what you mean by "String format timestamp value", but generally you can parse timestamp values using the https://prestodb.io/docs/current/functions/datetime.html#date_parse function.  If that doesn't work for you please reopen this issue with an example of the data you want to load.

[2016-11-14 17:48] #6613 closed

[2016-11-14 17:51] dain commented on #6612
There is a fundamental assumption in Presto that blocks are immutable.  If you were to write a mutable block you would likely break hashing, sorting and other operators in Presto.

You could try writing a block that sits on copy on write data structure, but you would need to assure that the Block always returns the same values to Presto.

[2016-11-14 17:51] #6612 closed

[2016-11-14 18:06] nezihyigitbasi commented on #5664
That's probably the reason. I have significantly reduced these values after I started seeing similar issues that you describe (straggler tasks, heavy tails, etc.). Here is our current hive s3 config:

[code]

[2016-11-14 20:32] bdm123 commented on #5664
I believe something magical just happened.  :)  I've been throwing many concurrent queries at presto and haven't gotten any of them to hang so far.  Will continue testing but this is game changer for sure in getting this into production.  A Megaton Thanks for your help and contributions @nezihyigitbasi !

[2016-11-14 20:34] nezihyigitbasi commented on #5664
@bdm123 something magical is probably the s3 backend :) Sometimes s3 throttles your requests or somehow you hit some "bad" machine in the backend and in those cases Presto threads will start failing & retrying to complete the s3 calls, and you will see the query hanging. I still recommend lowering the timeout values.

[2016-11-14 20:34] martint commented on #5664
We should consider making those the defaults.

[2016-11-14 20:37] nezihyigitbasi commented on #5664
The [default timeouts](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java#L92-L93) are already `5s` so we are good.

[2016-11-14 20:45] bdm123 commented on #5664
Just to note the performance difference was after lowering the timeouts as you suggested.  Hmm, since those are already the defaults - maybe need an updated netflix blog post :) (as I think many people follow and reblog optimization advice from that rare and classic presto article).

[2016-11-14 21:01] bdm123 commented on #5664
Btw - Is there any documentation on AWS S3's throttling process and ensuring it does not happen? Initially this was a hard suspicion of mine but I could not find much information on it or confirm whether it was happening.  I would think it was a more common concern as many are utilizing S3 in someway as a data storage layer.

[2016-11-14 21:22] nezihyigitbasi commented on #5664
I don't think there is much public info about the internals of how/when clients are throttled, the only documented fact is clients may get a 503 when they get throttled.

Btw it is not only about throttling, although throttling may cause stragglers I have also seen clients timing out (on read/connect) too (see the stack traces in your worker logs).

[2016-11-14 21:48] mkaja commented on #5649
is there any update on this issue/enhancement ? im using presto 0.130 version

[2016-11-14 22:59] electrum opened #6621 "Use LIMIT for automatic join ordering"
Consider the following query:
[code]
The subquery should be assumed to be the small side of the join, since it has a small, fixed bound on the number of rows.

[2016-11-15 01:04] geraint0923 opened #6622 "Incorrect result when using NULL IN empty subquery"
[code]
The query is expected to return an empty result set.

[2016-11-15 09:35] chengat1314 opened #6623 "Failed analyzing stored view when using File Based Authorization"
When we use File Based Authorization, we can't query the view
Based on documentation: https://prestodb.io/docs/current/connector/hive-security.html#hive-file-based-authorization
Is this because presto only support access control for physical table?
the access configuration(tables) for user hive is
{
      "schema": "hive",
      "schema": ".*",
      "table": ".*",
      "privileges": ["SELECT", "

[2016-11-15 09:51] chengat1314 commented on #6623
update the code

[2016-11-15 10:05] chengat1314 commented on #6623
I found one line comment `// run view as view owner if set; otherwise, run as session user`
is that because the user have access to both of the table and view.
but the presto is using some  session user to query the table? but in the File Based Authorization configuration file, we haven't add the access for the `_session user_` ?

thanks
Cheng Feng

[2016-11-15 12:51] BartoszK opened #6624 "Presto connector"
Hi,

I wanted to ask if there is a Presto connector that can be used to connect to a separate Presto cluster. We have two separate Hadoop clusters, both with Presto installed. I was wondering if it is possible to query the data from both, while keeping the processing local i.e. using the local Presto resources and just transferring results to the other presto instance.

[2016-11-15 13:02] kokosing opened #6625 "Separate independent concepts in logical planer"
Currently logical planner does all at once:
 - handle coercions
 - handle subqueires
 - handle prepared statement paramenters
 - etc

This makes maintenance of planner to be difficult as you need to think about all of these aspects at once when doing a change.

Take a look at method [appendInPredicateApplyNode](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/p

[2016-11-15 13:06] kokosing commented on #6625
CC: @dain

[2016-11-15 13:58] maciejgrzybek commented on #6606
Fix here: https://github.com/prestodb/presto/pull/6626

[2016-11-15 14:57] KBP-TDC commented on #6624
@BartoszK I guess extending the BaseJDBC Connector is the simplest option but introduces a bottleneck of streaming results via a single node.

[2016-11-15 17:01] electrum opened #6630 "DESCRIBE OUTPUT for CREATE VIEW is potentially incorrect"
While working on #6620, I noticed that `DESCRIBE OUTPUT` for `CREATE VIEW` returns the schema of the view. My expectation is that the output should be empty, just like it is for `CREATE TABLE`, and that the current behavior is an unintended side effect of the implementation.

[2016-11-15 17:03] electrum commented on #6630
This failing test (applied on the referenced PR) demonstrates the issue:
[code]

[2016-11-15 19:28] rschlussel commented on #6630
@electrum Do you know why the scope created in StatementAnalyzer for `visitCreateView` has the uses the relation of its input and not a rows field like `visitCreateTableAsSelect` (or an empty list if it doesn't give you a row count)?  My understanding of scope is that the relation is supposed to give information about the output.

[2016-11-15 19:50] electrum commented on #6630
That's a question for @martint

[2016-11-15 20:27] electrum commented on #6624
We've discussed building this, but it requires an efficient parallel API to read data from Presto. @AlekseiS has started working on adding that API. After we have that, a Presto-to-Presto connector will follow.

[2016-11-15 23:28] AlekseiS commented on #6589
Uploaded a PR fixing it: https://github.com/prestodb/presto/pull/6632

[2016-11-16 00:03] haozhun opened #6633 "Query takes forever to parse and wastes a coordinator core"
This query takes forever to parse. It can:

* hang presto-cli (because presto-cli validates a query before sending it to presto server)
* waste a coordinator core indefinitely whenever such a query is submitted

In addition:
* If the window function wrapping the math expression is removed (but the complex math expression is kept), the query will parse fine.
* If the negative signs are removed, the

[2016-11-16 03:12] erichwang opened #6635 "NPE in NodeScheduler"
We seem to be getting NPEs in the `NodeScheduler`. These occur in a number of unit tests for `TestTpchDistributedQueries` in our Jenkins build:
[code]
This seems to be broken #6587

[2016-11-16 06:33] martint commented on #6633
It's due to an ambiguity in `valueExpression`:

[code]

The antlr profile flags the issue when parsing `1 + 1 * -1` as a `valueExpression`.

[2016-11-16 07:27] kokosing opened #6637 "Unable to create plan for query with duplicated IN predicates"
[code]

[code]

[2016-11-16 08:19] martint commented on #6633
The ambiguity seems to be caused by the "lambda" alternative in primaryExpression:

[code]

I'm trying to figure out why, but I believe it's because of the trailing `expression` in that alternative.

[2016-11-16 08:30] zhangxin0112 commented on #974
@anupash147 vi the hive.properties like this     hive.config.resources=etc/hadoop/conf/core-site.xml,/etc/hadoop/hdfs-site.xml

[2016-11-16 08:42] kokosing commented on #6637
CC: @sopel39

[2016-11-16 08:59] kokosing opened #6638 "Move correlated predicates out of the subquery"
1. In the subquery, add the non-correlated columns in the correlated predicates to the SELECT-list.
2. Move the subquery to the FROM clause in the outer query block.
3. Move the correlated predicate to either WHERE clause or the ON clause corresponding to the moved subquery in the outer query block.
4. Update the column reference in the correlated predicate to point to the column projected out of

[2016-11-16 09:01] kokosing commented on #4017
Also this is on our short term road map: https://github.com/prestodb/presto/issues/6638

[2016-11-16 09:30] kokosing opened #6639 "Unable to start server when cassandra host is not resolvable"
Unable to start presto with cassandra connector when cassandra host (`cassandra.contact-points` from `cassandra.properties`) is not resolvable to an IP.

[code]

CC: @maciejgrzybek

[2016-11-16 10:35] Praveen2112 commented on #6121
@geraint0923 "If the map is already an instance of ImmutableMap, copyOf is a no-op" apart from this is there is any reason for using ImmutableMap in Expression Analyzer. Why cant we just refer the HashMap created in SymbolAllocator instead of performing a deep copy? Anyway SymbolAllocator is not shared by multiple queries.
In case of complex queries , the number of entries in SymbolAllocator goes

[2016-11-16 13:28] maciejgrzybek commented on #6639
Can you provide more details how to repro it?
I tried with:
cassandra.properties:
[code]

`cassandra` resolves to a valid IP but cassandra service is not running on that host.

[code]

[2016-11-16 13:30] maciejgrzybek commented on #6639
Okay, it turns out that the error above appears when host used in `contact-points` is not resolvable to an IP.
It has nothing to do with accessibility of cassandra service at all.

[2016-11-16 13:32] maciejgrzybek commented on #6639
Updated title and description to reflect my finding (https://github.com/prestodb/presto/issues/6639#issuecomment-260946780).

[2016-11-16 14:03] maciejgrzybek commented on #6639
#6642 is one of the possibilities I see to make it a bit better.

[2016-11-16 14:03] maciejgrzybek commented on #6606
Closing since #6626 is merged.

[2016-11-16 14:03] #6606 closed

[2016-11-16 16:27] maciejgrzybek commented on #6639
Closing since #6642 was merged.

[2016-11-16 16:27] #6639 closed

[2016-11-16 17:54] electrum opened #6644 "Improve error categorization for InvalidProtocolBufferException in ORC file"
This should probably be caught inside the ORC reader and rethrown as `OrcCorruptionException` so that it gets converted to `HIVE_BAD_DATA`.

[code]

[2016-11-16 18:24] cberner commented on #6635
Fixed by https://github.com/prestodb/presto/pull/6645

[2016-11-16 18:24] #6635 closed

[2016-11-16 19:28] martint commented on #6633
After further analysis, the performance issue doesn't appear to be due to the ambiguity. It's due to unbounded lookahead caused by these two alternatives in `primaryExpression`:

[code]

[2016-11-16 21:54] Bennyelg commented on #5989
Anything new regarding this issue?

[2016-11-16 22:48] kokosing commented on #6639
Maciej is right. Cassandra Was down, but ip was also wrong.

śr., 16.11.2016, 14:31 użytkownik maciejgrzybek <notifications@github.com>
napisał:

[2016-11-16 23:04] #6633 closed

[2016-11-16 23:06] dain commented on #6623
A view runs as the owner of the view, and is a way for a user with more permissions to grant limited access to a user with less permissions.  This means that the query inside of the view is analyzed using the permissions of the user that owns the view.  If the vies does not have an owner, then we verify that the user accessing the view has permissions to the data.

Anyway, the owner of the view wi

[2016-11-16 23:52] AlekseiS commented on #6622
The issue boils down to a question of what should be returned for `NULL in (<empty>)`. Depending on the answer it'll be a bug or not.
Here's the comparison of MySQL and Presto for related cases (the first result is for MySQL, the second is for Presto):
[code]
However:
[code]
As you see, for `NULL in (<empty>)` Presto returns `NULL`, but MySQL returns `0`, so the difference comes from that behavior

[2016-11-17 00:07] electrum commented on #6622
PostgreSQL also returns false. That behavior sense given that nothing can be in the empty set (not even an unknown value).

[2016-11-17 00:24] martint commented on #6622
@electrum has it right. It should return false.

[2016-11-17 05:51] handsetvn opened #6652 "how to call a procedure in mysql from presto ?"

[2016-11-17 11:26] sopel39 opened #6653 "Incorrect ANY, ALL subquery results with null row or empty subquery results"
Presto empty subquery table:
[code]

Presto NULL row subquery:
[code]

Postgresql empty subquery table
[code]

Postgresql NULL row subquery:
[code]

CC: @martint @kokosing

[2016-11-17 12:36] sopel39 opened #6654 "Supertype not recognized in SIMPLE CASE, IF, IN (Subquery), ANY (Subquery), ALL (Subquery)"
[code]
CC: @kokosing, @ilfrin, @martint, @arhimondr

This issue is caused by `ExpressionAnalyzer#coerceToSingleType`, which doesn't use `getCommonSuperType`

[2016-11-17 13:21] sopel39 commented on #4715
Fix: https://github.com/prestodb/presto/pull/6611.

Coercions in ANY, ALL expression still fail. I tried to fix them, but it is much harder than I though because of current ApplyNode representation and optimizers interdependences.

[2016-11-17 13:51] sopel39 commented on #6414
This issue seem to be part of a bigger problem. There is plenty of implicit optimizer interdependencies. Because of that it is really hard to modify plan nodes during planning (e.g: add symbols). Some optimizers require prior unaliasing, prunning or predicate pushdown to work. Generally, I think there are two kind of so called optimizers:
* 1) (Optimizers) that optimize plan, but are not required

[2016-11-17 14:29] fiedukow opened #6655 "Some test do fail due to translated Exception.getMessage"
Some of recently added tests do check message of RuntimeException.
Messages of some jdbc connector are translated to system language and (at least on Mac) for that reason, the test fails. Tested on polish as system language.
One example of that is:
fbd8dd8c385015a7618aaa3751135f1d8dab8dd2
TestDbResourceGroupConfigurationManager.testDuplicates():86
[code]

but it would be nice to make sure that all

[2016-11-17 14:31] fiedukow commented on #6655
CC: @elonazoulay

[2016-11-17 15:31] sopel39 commented on #6637
Fixing the issue became more problematic than I thought. It is partially because there are some conventions in current subquery handling code:
* it is hard to distinguish between apply nodes used in scalar (e.g: `1=(SELECT 1)`) or group context (e.g: `1 IN (SELECT 1)`)
* subquery transforming rewrites (`Transform*`, `RemoveRedundantApply`) need to match complex plan structure in order to identify

[2016-11-17 17:59] dain commented on #6654
The problem is the first argument must be  `boolean` and not an `integer` (e.g. `1`).  If you change the query to `SELECT IF(true, 1.0, 1)` it works.

[2016-11-17 19:31] idemura commented on #6621
What pattern I see is we join (among other joins) with tiny dimension table (~1000). If you do distributed join on it, you'll see skew. I'd like to have opportunity to mark (annotate) that this join is broadcast join. But this may be good annotation itself - if we see limit on the one side of join we 1) flip it to the correct side 2) do broadcast join. For my small dimension table I will put artif

[2016-11-17 19:45] rschlussel commented on #6621
@idemura we're working on a statistics based optimizer that automatically chooses a broadcast join if one of the tables is small enough.  With an optimizer that's based on table statistics, we would know the table is small even if there is no limit clause.  There's no PR yet because @martint is still figuring out how to handle stats based optimizers in general, but it'll be coming soon!

[2016-11-17 19:50] rschlussel commented on #6621
linking https://github.com/prestodb/presto/issues/6257 since it is related.

[2016-11-17 19:53] erichwang opened #6657 "MarkDistinct should be aware of node distributions in AddExchanges optimizer"
Currently it is only stream distribution aware, and this doesn't help us in cases where the data is just node distributed (e.g. in Raptor). In those cases, each COUNT DISTINCT operation results in another stage in the plan.

[2016-11-17 20:03] idemura commented on #6621
@rschlussel as long as statistics take into account LIMIT it works for me.

[2016-11-17 20:19] KBP-TDC commented on #6621
@idemura It's actually more than statistics, it's cost/size estimation. @losipiuk can elaborate more but essentially all information that can be assessed before query starts (filtering, projections, limits, etc.) will be taken into account.

[2016-11-17 21:01] #5451 closed

[2016-11-17 21:02] sopel39 commented on #6654
Sorry, I pasted wrong example. This fails:
[code]

while
[code]
passes

[2016-11-17 22:13] cberner opened #6662 "Constant folding for aggregations"
A query like
[code]
projects the array `[0.001]` for every row in `orders`, and results in a plan like below:

[code]

This is very inefficient if you have an array with 1000 elements. We should fold these constants into the `Aggregate` operations, instead of producing them in the `Project`

[2016-11-17 23:08] pandeesh commented on #2329
i see this still on 2.0.1. what's the work around for this?

[2016-11-17 23:33] mkaja opened #6663 "does latest version of presto supports jsonb?"
does latest version of presto supports jsonb?

[2016-11-17 23:39] dain commented on #6654
I'd also double check all other places we add implicit coercions.

[2016-11-18 00:17] electrum opened #6664 "Add limit on SQL query text length"
We should have a config option for the maximum length of a SQL query. A default of 1MB might be reasonable. The logged query text should be truncated to the maximum length (as part of the reason for this change is to prevent gigantic SQL statements in the generated events).

[2016-11-18 01:57] cberner opened #6665 "Implement cache size limit for CachingHiveMetastore"
a heap dump from a cluster with only light load shows that this cache takes up a significant amount of space and also grows with size proportional to the number of partitions queried

[2016-11-18 04:31] martint commented on #6665
I thought we weren't using this, since we're only caching metadata per transaction now.

[2016-11-18 06:58] richardxin opened #6666 "presto to support bucket hive table"
hive version: 1.1.0
CDH5.7.2
presto 0.152

1. create a bucket table in hive:
hive> create table employee(

2. insert 2 rows to table employee:
hive> insert into employee values(1,'hdfs',28),(2,'spark',17);
3. select from hive (OK)
hive> select * from employee;
1       hdfs    33
2       spark   17
Time taken: 0.76 seconds, Fetched: 2 row(s)
4. when I use presto:
presto:default> select * from emplo

[2016-11-18 07:23] handsetvn opened #6667 "Stored Procedure in presto"
Hello @dain ,
I have configured presto and I am trying to use it.
But I want to ask that Can we have stored procedure in presto?

Pls suggest me some links related to presto so that I can learn more about it.

[2016-11-18 18:50] dain commented on #6667
The Presto SPI allows a connector to expose callable procedures written in Java.  These are typically used by the administrator to perform maintenance operations on a catalog (e.g., compaction, flush cache, etc).  The SPI interface starts here: https://github.com/prestodb/presto/blob/master/presto-spi/src/main/java/com/facebook/presto/spi/connector/Connector.java#L98

Currently, Presto does not ha

[2016-11-18 18:50] #6667 closed

[2016-11-18 19:10] haozhun opened #6669 "100% CPU utilization in coordinator"
I'm seeing 100% CPU utilization in production Presto installations.

I'm going to guess that this corresponds to the lambda inside `fireSplitQueueHasSpace`.

[code]

[2016-11-18 19:41] cberner commented on #6665
We did turn it off globally, but the per transaction cache is unbounded in size

[2016-11-18 20:12] cberner commented on #6669
Should be fixed by https://github.com/prestodb/presto/pull/6671

[2016-11-18 20:12] #6669 closed

[2016-11-18 20:16] dain commented on #6665
We really only need the transaction cache if we are running a non-autocommit transaction.  In autocommit the data is only read once.

[2016-11-18 21:29] haozhun commented on #6665
We are reading the data dozens of times regardless of whether we are in autocommit mode.

[2016-11-19 02:18] rongrong commented on #6545
I'll take a look.

[2016-11-21 06:06] ArchaB commented on #5710
Gentle reminder

[2016-11-21 08:58] kokosing commented on #5879
At teradata we had a hackathon in which we wanted to implement this feature. Here is a branchhttps://github.com/Teradata/presto/tree/feature_lateral  were I collected our work. I did some testing and cleaning. `LATERAL` is working there but it breaks `IN` predicate with correlated subquqery, to fix that https://github.com/prestodb/presto/issues/6637 has to be fixed before.

[2016-11-21 11:28] ray6080 commented on #6666
Have you configured this: `set hive.enforce.bucketing = true`?

[2016-11-21 18:03] maciejgrzybek opened #6681 "Enhance merge non-identical windows to collapse windows across different nodes"
This is a continuation of https://github.com/prestodb/presto/issues/4358.
As current implementation (#6009) is limited to merging adjacent windows in a plan we need a way to merge windows across other nodes.

Example:
[code]

These two windows cannot be merged because there's `LocalExchange` and `Project` between them.

[2016-11-21 18:04] maciejgrzybek commented on #4358
Closing because #6009 got merged.
Created a follow-up issue (#6681), to merge windows across non-window nodes as current implementation cannot solve that problem.

[2016-11-21 18:04] #4358 closed

[2016-11-21 18:04] maciejgrzybek commented on #4359
Closing because #6009 got merged.
Created a follow-up issue (#6681), to merge windows across non-window nodes as current implementation cannot solve that problem.

[2016-11-21 18:04] #4359 closed

[2016-11-21 18:07] maciejgrzybek commented on #6681
Just to clarify: `LocalExchange` is not a problem in that example because `LocalExchange` is added after merge windows rewrites. The problem here is `Project`.

[2016-11-21 19:03] dain commented on #6625
The logical planner is a big knot of code, and I would be happy to see it simplified.  I'm also not sure it can be done due to cyclic dependencies.  I'm also concerned about anyone working on this code without first adding more extensive testing to catch correctness errors.

Anyway, this is really @martint's call.  I only occasionally touch this code (and I usually make is worse).

[2016-11-21 19:44] AlekseiS commented on #6589
Merged PR fixing it.

[2016-11-21 19:44] #6589 closed

[2016-11-21 19:46] AlekseiS commented on #6653
It seems to be similar to https://github.com/prestodb/presto/issues/6622 in a way.

[2016-11-21 20:08] maciejgrzybek commented on #5954
I'm implementing this based on @cawallin's findings.
I'm going to add a `void addInput(WindowIndex index, int start, int end, int channel)` method to an `Accumulator` interface.

[2016-11-21 21:02] villasv opened #6683 "prestodb raises IllegalArgumentException: base is empty for one mongodb collection"
I just discovered that there's a single collection on my MongoDB that I can't query with prestodb (server and CLI on version 0.157).

All other collections can be queried normaly, but this one collection can't be queried directly or joined with anything else. It is not the biggest nor the most complex of the collections, but apparently presto is having trouble with types.

[code]

I've searched a

[2016-11-21 22:32] jdmaturen commented on #6420
@geraint0923 thanks!

[2016-11-22 02:20] richardxin commented on #6666
Yes, I did

[2016-11-22 02:51] miniway commented on #6683
If you haven't specified the table schema, could you print the result of `db.getCollection(tableName).find().first()` ?

[2016-11-22 03:13] Lewuathe opened #6685 "Fail to cast BIGINT with literal table specified `WITH` clause."
This query works as expected.

[code]

But when I specified with literal, it does not work.
[code]

Predicates does not seem to work as expected when we specify the value with literal.
Can optimizer embed literal without considering predicate condition?
I tested this above 0.152.3 and can reproduce.

[2016-11-22 10:30] martint commented on #6685
This is the same as https://github.com/prestodb/presto/issues/3232

[2016-11-22 12:16] sarvesh-du opened #6686 "Expected SliceVector, but got com.facebook.presto.orc.LongVector"
I am getting error for a simple query on presto-server-0.105

select count(distinct something) somecount , category category from table  where time_start >= 1475290800 and time_start <= 1479869999 and ( col in (2,4,8,16,32,64,128,256,512,1024,2048,4096,8192,16384,32768,65536,131072,262144,524288,1048576,2097152,4194304,8388608,16777216,33554432,67108864,134217728) ) group by category;

Caused by:

[2016-11-22 13:37] villasv commented on #6683
I needed to redact some stuff for safety reasons, which kind of defeats the purpose?
`db.getCollection("tableName").findOne()`
[code]

I have confirmed my suspicions that one of those fields (`artwork.posting_date`) is sometimes `integer` and sometimes `ISODate`. Fixing it is going to take some time, but when I do I'll try again.

[2016-11-22 15:17] villasv commented on #1195
other places mention that this should be fixed by 0.153 but I'm using 0.157 and still get NotImplementedException.

[2016-11-22 15:21] miniway commented on #6683
I think there's bug at guessing field types of empty document at `artwork.ratings`. It should be ignored as there's no clue to guess type. You can find guessed types by `db.getCollection("_schema").findOne({"table" : "tableName"})`.

A workaround is changing the `artwork`'s type manually. It probably is `row(url varchar, rating row(), views bigint, posting_date timestamp)`. You might change it int

[2016-11-22 15:25] hegand opened #6687 "Add current_user function"
It would be very nice if we can implement current_user function, which returns the current user's username.

Or I would like to ask if it is any way to get current username within a presto query?

[2016-11-22 15:41] electrum commented on #1195
This is still being worked on.

[2016-11-22 16:30] villasv commented on #6683
Yes, there are some mappings like `row()`. So in general, it is best to keep documents without `field: {}`?
This is going to be hard to fix, updating the schema is probably easier. Will look into it.

[2016-11-22 19:15] amrutagokhale opened #6688 "PUBLIC does not work with GRANT/REVOKE"
Granting a privilege to `PUBLIC` role doesn't have the desired effect.

[code]
As user=alice, I granted the `SELECT` privilege to `PUBLIC`. Then tried executing the `SELECT` query twice with the user=bob. This query should succeed, at least the second time, if cache wasn't refreshed the first time.

[2016-11-22 19:36] amrutagokhale commented on #6688
Opened a PR that fixes this: https://github.com/prestodb/presto/pull/6689

[2016-11-22 20:33] DerrickRice opened #6690 "doc RFE: mention unnest in array functions and operators"
https://prestodb.io/docs/current/functions/array.html

This is the place that I naturally tried to find the transform to turn an array into a sequence of rows, i.e. pseudo-table. It turns out I was looking for 'unnest', which wasn't a term I had ever heard before and so I had no way to search for it.

For usability, this is a request to cross-reference unnest from the relevant aggregate functions

[2016-11-22 21:20] dain commented on #6686
This happens when the schema of the table does not match the schema of the file.  In this case, you have a file that contains a VARCHAR column, and the table schema says it is a BIGINT column.  You will need to either correct the table schema or rewrite the file (using something like Hive).

[2016-11-22 21:20] #6686 closed

[2016-11-22 21:36] hegand commented on #6687
I created a udf for that. The body of the function:

[code]

[2016-11-22 22:02] dain commented on #6687
IIRC `CURRENT_USER` is a special construct in SQL like `CURRENT_DATE`, so adding it would require tweaking the grammar.  This change should be pretty straight forward.

[2016-11-23 04:23] hawkingrei opened #6693 "java.lang.NoClassDefFoundError: com/facebook/presto/type/JsonPathType"
i  am writing  a json plugin for presto 0.155,i find a error when i start presto with my plugin,like this:
[code]
can you help me ?

my code at https://github.com/hawkingrei/presto-third-functions

[2016-11-23 06:22] kokosing commented on #6687
In my opinion even it is a special SQL construct it does not need be added to grammar, still it can be just a function. Although I don't have a strong opinion about this.

The thing I am concerned the most is that this function should evaluate to constant during planning. The same for CURRENT_DATE etc.

[2016-11-23 10:22] getGitxxx opened #6694 "presto-kafka CSV Decoder Can't find Mapping for column handle KafkaColumnHandle"
hi,everybody:

I'm trying to query SQL on presto-kafka with CSV format topic, table config called "db.tab1.json" goes here:
[code]

I saved config file and restarted the Presto cluster, there are new catalog,schema,tables about kafka's Topic  can been seen.
But when I execute the query like "select * from db.tab1 limit 10",I got error says:"No mapping for column handle KafkaColumnHandle "
Detail i

[2016-11-23 16:10] dain commented on #6687
The whole `session` is constant for the query.

[2016-11-23 20:39] villasv commented on #6683
Fixed it by manually adjusting the _schema collection. The guy who made this document made this field a simple dictionary on Python, so it has no way to define a consistent schema. I just defined it as varchar.

[2016-11-23 20:39] #6683 closed

[2016-11-24 00:50] Lewuathe commented on #6685
@martint Sorry for missing, thanks!

[2016-11-24 01:44] av-416 commented on #6666
I've also experienced this issue with Hive 1.x and Presto 0.155. I think it is related to the directory structure expected by Presto for bucketed tables.

[This](https://github.com/prestodb/presto/blob/b080503e05b43dde5173743631a41af129fea072/presto-hive/src/main/java/com/facebook/presto/hive/BackgroundHiveSplitLoader.java#L395) is the exception thrown in the BackgroundHiveSplitLoader.

For the AC

[2016-11-24 04:17] #6685 closed

[2016-11-24 10:38] handsetvn commented on #1195
@electrum  How to integrate spring JPA using presto-jdbc ?

[2016-11-24 21:47] #6022 closed

[2016-11-25 00:58] wyukawa opened #6697 "return empty if you select hive external table by using webhdfs"
Hi

I use presto 0.157 + jdk1.8.0_101 + HDP 2.1 + hive connector + CentOS 6.5.

I create external hive table with remote location by using webhdfs.
[code]

But query result is empty.

[code]

presto server.log is as follows.
[code]

If I use hdfs://.. , it works well. But if presto supports webhdfs, it would be nice.
[code]

[2016-11-25 02:14] lurenx opened #6698 "presto query kafka"
I have try use  presto to query data from  kafka, and i find it will scan the  data from the beginning, it's very slow.
     Does anyone  have any idea to avoid this, just  like use  hive to query data  with  partition.

    thank you

[2016-11-25 13:34] sopel39 commented on #6637
I have refactored apply node in a similar way as discribed. Subquery code simplied. See PR: https://github.com/prestodb/presto/pull/6701

[2016-11-26 21:07] col15 opened #6708 "Views on Columnar Table"
Question on the way views and column selection work... Given I created this view:

CREATE VIEW myview AS
SELECT
col1, col2, col3, table2.prop1, table2.prop2
sum(val4) as col4, sum(val5) as col5
FROM table1_columnar, table2
WHERE table1_columnar.someid = table2.someid
GROUP BY col1, col2, col3, table2.prop1, table2.prop2

If I run the query shown below, will the view still process col2, col3, col4,

[2016-11-26 22:29] dain commented on #6708
A view is just a stored query, so the engine inlines the query and then optimizes query.  In the case above, you end up with a query that looks like this:
[code]
This will optimize to something like this:
[code]
So col2, col3, col4, & prop2 are pruned from the inner query, but must still be loaded because they are present in the inner `GROUP BY` clause.  The other sum `sum(val4) as col4` and the u

[2016-11-26 22:29] #6708 closed

[2016-11-26 23:24] col15 commented on #6708
Thanks dain for the great explanation. Seems optimal to also prune from the group by especially if querying columnar tables. Wish it worked that way, but I can workaround it with info you provided. Thanks!

[2016-11-29 00:46] erichwang opened #6710 "Instrument SplitSource getNextBatch call times"
We should add JMX counters that expose how long we have been spending in the getNextBatch calls of SplitSource. This is currently hidden inside of query scheduling and is not something that is easily visible if it is taking a long time (which can cause the query to block in weird ways).

[2016-11-29 10:28] handsetvn commented on #1195
@cawallin : Caused by: java.sql.SQLFeatureNotSupportedException: [Teradata][JDBC](10220) Driver not capable.
Could you please help me solve this problem?

[2016-11-29 13:02] dzakarov commented on #6186
Update: When Impersonation is enabled the memory consumption is growing up quickly and GC works more often, the whole situation looks like memory leak.
[code]
When impersonation is disabled, the situation with memory is essentially better.
This make me believe that impersonation should never be enabled in hive connector
[code]

[2016-11-29 14:25] cawallin commented on #1195
@handsetvn -- can you file a new issue with the query that failed and the full stacktrace? Your problem seems unrelated to this issue.

[2016-11-29 15:14] petroav commented on #6186
@dzakarov this discussion on the mailing list is relevant https://groups.google.com/d/topic/presto-users/yhnKOU-okbE/discussion

[2016-11-29 15:35] kesak commented on #1195
java.sql.SQLException: Method Connection.prepareStatement is not yet implemented with presto-jdbc-0.157.jar . Iam using dbutils to run the query  with result handler. I can able to connect  and get the results  as given in samples but  while (rs.next()) is slow . Could any one help , to get the result set using result handler.

[2016-11-29 15:38] handsetvn commented on #1195
@cawallin
  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
 :: Spring Boot ::        (v1.2.5.RELEASE)

2016-11-29 22:36:42.551  INFO 15341 --- [           main] n.cero.sqltemplate.example.Application

[2016-11-29 23:19] haozhun opened #6720 "NPE thrown from `Block.getLength`"
Depending on the answer to this question, the fix will be very different: Is it legal for `Block.getLength` to throw NPE for a null position?

* If it is legal, every function in ArrayMinMaxUtils should be fixed.
* If it is not, `SliceArrayBlock.getLength` should be fixed.

[code]

[2016-11-29 23:19] haozhun commented on #6720
cc @dain, @cberner.

[2016-11-29 23:36] dain commented on #6720
I don't think the behavior is defined, so we could define it to return `0` for nulls.  Just add it to the block tests.

[2016-11-29 23:54] haozhun commented on #6720
Defining it to return 0 will have other problems. For example, `IntArrayList.getLength` always returns 4 today. Maybe we should just say it is illegal to call `getLength` and `getLong/...` when a position is null even though Block implementations don't necessarily throw exceptions in these cases.

[2016-11-30 00:12] dain commented on #6720
Sure, we could define the return value to be arbitrary.

[2016-11-30 00:13] dain commented on #6720
As you can tell, I don't have a strong opinion on this one.

[2016-11-30 00:51] electrum commented on #6687
This is specified in the SQL standard under `<general value specification>`. Thus, we should implement it using the special syntax.

[2016-11-30 02:47] electrum opened #6723 "Improve CLI error message when coordinator hangs"
[code]

Full stack trace:
[code]

[2016-11-30 16:43] prabhacloud opened #6728 "catalog is not reflecting when queried after adding it in etc/catalog"
catalog added in etc/catalog/mysql.properties will not be reflected when querying it with presto-cli.jar unless if the presto service is restarted which will make the presto server offline for a moment.

[2016-11-30 17:23] cberner opened #6729 "Fix and optimize spilling tests"
See discussion in https://github.com/prestodb/presto/pull/6703, these shouldn't take more than a minute or two at most.

[2016-11-30 17:29] cberner opened #6730 "Optimize InMemoryHashAggregationBuilder.hashSortedGroupIds()"
This method boxes one int for every group, which could be very expensive when spilling many groups. It should be optimized to avoid the boxing, but doing a sort on `int`s instead of `Integer`s

[2016-11-30 18:18] dabaitu commented on #2467
@electrum Hi David. Want to get some more detail on this.
I'm running 0.149 in our production and ran into this error consistently with a split.
I was able to 'cat' the file on the worker node.
The exact trace I got:
`com.facebook.presto.spi.PrestoException: Error opening Hive split viewfs://hadoop-dw2-nn.smf1.twitter.com/logs/tfe_inc_auth_requests/2016/11/25/10/tfe_inc_auth_requests_2016-11-25-10

[2016-11-30 19:24] akshatnair commented on #6728
@prabhacloud it is required that Presto server is restarted after adding a new catalog for it to show up. Is your ticket to confirm this behavior or add a new mechanism to ensure that someone can add a new catalog without restarting?

[2016-11-30 19:31] dain commented on #6728
The plan is to support `CREATE CATALOG` instead of using some sort of file monitor.

[2016-11-30 19:31] #6728 closed

[2016-11-30 22:06] nezihyigitbasi commented on #5664
@bdm123 assuming your issue has been fixed, please re-open otherwise.

[2016-11-30 22:06] #5664 closed

[2016-12-01 01:15] elonazoulay opened #6731 "Add weighted fifo resource group scheduling policy"
For our etl heavy clusters we need to schedule queries based scheduling weight for resource groups and fifo for queries within the leaf groups.

[2016-12-01 02:31] dabaitu commented on #6665
Sorry to comment directly here, but have been scratch my head on a problem that might be related to this. Our Presto(0.149) setup uses hivemetastore; we've noticed frequent ExternalErrors that says failed to connect to hive-metastore due to "ConnectException: Cannot assign requested address". This usually happens when several heavy queries hit the cluster at the same time(we have a small 180 machi

[2016-12-01 06:00] dain opened #6735 "TestLocalBinarySpilledQueries fails with "Too many open files in system""
I consistently get this failure when running the tests on OSX.
[code]

[2016-12-01 06:21] electrum commented on #6735
@erichwang hit this about five times in a row trying to release today

[2016-12-01 07:22] nezihyigitbasi commented on #6735
I hit this one too, in fact `testAssignUniqueId()` itself can reproduce this problem. I think what's happening is this test query creates a large number of drivers and all these drivers are closed in LocalQueryRunner::executeInternal() when *all* of them are done so the spill files that are read stay open until then (and hit the file descriptor limit).

[2016-12-01 10:58] Jimexist opened #6737 "Insertions into postgres table with timestamp fail"
[code]

This happens when directly insert data via Presto into a postgres table with a timestamp column. It seems that the `1280424020000` value wasn't properly cast to timestamp type.

[2016-12-01 10:59] Jimexist commented on #6737
This was the log from presto side:
[code]

[2016-12-01 15:26] losipiuk opened #6741 "SET SESSION allows setting invalid values to session properties"
Currently it is possible to set arbitrary value to session property even if it has validation function attached to it.

E.g. I can do
[code]

And it completes without error.
But then I cannot do anything until I restart cli:
Any command fails:
[code]

[2016-12-01 20:36] dain opened #6744 "Investigate why tasks are in "canceled" state for failed queries"
The problem is likely here https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/execution/scheduler/SqlQueryScheduler.java#L278.  I think this should be:
[code]
These types of changes must be carefully tested since any mistake can cause correctness bugs or distributed memory leaks.

[2016-12-01 22:05] kesak commented on #1195
@electrum  we are getting  the following exception, while trying to use result handler .   you have mentioned in your previous comments that its being worked on. When can we expect it or if there is any workaround. Please let us know.

java.sql.SQLException: Method Connection.prepareStatement is not yet implemented with presto-jdbc-0.157.jar

[2016-12-02 00:19] electrum opened #6747 "Coordinator does not expire all queries"
I see finished queries that are several days old in the UI on busy clusters that should only have a few minutes worth of finished queries. This means there is a bug/leak in query expiration.

[2016-12-02 04:17] martint opened #6750 "Incorrect results due to improper inlining of arguments to TRY"
The following query should fail:

[code]

However, it succeeds and produces this incorrect output:
[code]

This is due to this check in MergeProjections, which only tests whether TRY appears at the root of an expression:

[code]

[2016-12-02 06:30] kokosing commented on #6750
I will take care of this.

[2016-12-02 07:06] kokosing commented on #6750
Here is a fix: https://github.com/prestodb/presto/pull/6752

[2016-12-02 07:22] electrum commented on #6750
Nice work! That was fast.

[2016-12-02 08:41] electrum opened #6753 "Improve performance of SHOW PARTITIONS"
`ShowQueriesRewrite` calls `getLayouts()` with an `alwaysTrue()` constraint. This fetches all partition names for the table. It then rewrites to a query that queries an internal table which then does a second `getLayouts()` call with `alwaysTrue()`. In neither case are the query predicates passed in.

The first call is done to validate that exactly one layout exists and that the table has partitio

[2016-12-02 08:42] zhoushineyoung commented on #5709
I also encountered this problem, some other configurations need to be set? Or anything else?

[2016-12-02 10:48] pnowojski commented on #6735
There is also one more issue with this tests (GC time outs), I will take a look into how to fix both of this.

[2016-12-02 15:13] pnowojski commented on #6730
Are you sure this is an real issue? I think current solution could be good enough. Either `Integer` boxing is inlined by JIT or `Integer` is extremely short lived stack object, so GC shouldn't be a problem. Alternative is to implement own quick sort on `int` with custom comparator.

Are you more concern about general performance issues or GC issues?

[2016-12-02 15:14] pnowojski commented on #6260
Implemented here: https://github.com/prestodb/presto/pull/6726

[2016-12-02 15:15] pnowojski commented on #6259
Implemented here: https://github.com/prestodb/presto/pull/6726

[2016-12-02 15:29] pnowojski commented on #6258
@cberner we have a feeling that this has smaller priority compared to for example those things: https://github.com/prestodb/presto/pull/6726 https://github.com/prestodb/presto/pull/6273 . It doesn't mean that we don't want to do it, but just we would like to focus on more urgent things :) Those pages are being read synchronously but one by one. It won't block drivers for long time.

To support thi

[2016-12-02 17:18] cberner commented on #6730
GC. We've had many problems in the past with allocating small short lived objects, where the VM wasn't able to avoid the allocation

[2016-12-02 18:04] nezihyigitbasi opened #6755 "Potential deadlock in db-backed resource group config manager"
While I was working on the reloadable file-backed resource group config manager I hit a deadlock situation, which I think also applies to the db-backed config manager unless I am missing something. \cc @elonazoulay @cberner

Assume we have these two threads:

[code]

[2016-12-02 20:57] martint opened #6757 "Incorrect results for nested EXCEPT"
`a EXCEPT (b EXCEPT c)` is being evaluated as `(a EXCEPT b) EXCEPT c`. This is incorrect, since EXCEPT (set subtraction) is not associative.

For example:
[code]

Produces:
[code]

The correct output should be:
[code]

This is due to SetFlatteningOptimizer treating EXCEPT in the same manner as UNION and INTERSECT.

[2016-12-02 21:00] martint commented on #6757
cc @rschlussel

[2016-12-02 21:19] tong2000 opened #6758 "Hive plugin does not work with hadoop.rpc.protection=privacy"
Query 20161202_211345_00003_nhv6f failed: Failed to list directory: hdfs://vm1.c02.hadoop.com:8020/user/hive/warehouse/tongtest.db/t1
com.facebook.presto.spi.PrestoException: Failed to list directory: hdfs://vm1.c02.hadoop.com:8020/user/hive/warehouse/tongtest.db/t1
        at com.facebook.presto.hive.util.HiveFileIterator.computeNext(HiveFileIterator.java:105)
        at com.facebook.presto.hive.

[2016-12-03 00:05] cberner commented on #6258
Putting off the async refactoring seems ok, but we need to change the interface to avoid reading back all the spills at the same time. Right now is needs to open an unbounded number of files, which just isn't going to work when going to remote storage (how we will implement the spiller interface)

[2016-12-03 00:52] nezihyigitbasi commented on #5703
this has been merged.

[2016-12-03 00:52] #5703 closed

[2016-12-03 01:07] paramr opened #6764 "Support vector operations for array types"
Embeddings are used for representing many concepts (Words, concepts) as vectors.  https://en.wikipedia.org/wiki/Word_embedding

To analyze these having vector operations supported on arrays will be immensely useful.  4 operations in particular:
1) ADD_VECTOR(col1, col2):  Vector formed by adding elementwise [col1_i + col2_i]
2) SUBTRACT_VECTOR(col1, col2) = Vector formed by subtracting elementwise

[2016-12-03 01:40] prabhacloud commented on #6728
@dain support for CREATE CATALOG already added.But i can't find any such statements and what if i needed to add a catalog in between and have to restart the service for reflection.Won't that create downtime.

[2016-12-03 01:43] prabhacloud commented on #6728
@akshatnair yes akshat i am talking about such mechanism to prevent the downtime from happening.

[2016-12-03 12:39] pnowojski commented on #6730
Ok, we will address this.

CC @ilfrin

[2016-12-03 12:51] pnowojski commented on #6258
Avoiding reading back all spill at same time is not only "interface" change. It would require reimplementing merging algorithm, that would also significantly slow down merging. Merging would have to be done in stages, like first merge/aggregate first 1/10'th of the spilled files and write result back to disk. Next second 2/10'th, etc, and at the end read, merge and aggregate 10 pre-merged files. T

[2016-12-03 18:07] cberner commented on #6258
Yes, and it's a change that was put off so that the first implementation could be merged early. 1/nth at a time is the standard way of performing a merge sort, as far as I know.

The problem with a large number of files is read buffers. We need megabytes or tens of megabytes per file.

More generally, my concern is that the current approach fundamentally can't scale because of the requirement that

[2016-12-05 02:00] richardxu80 opened #6765 "Cassandra connector can't query data in commit log"
`select * from table a where a.id=111`  in cqlsh can find 1 result,but same statement returns 0 executed in prestosb.

After run `nodetool flush`, the sql can returns expected result via prestosb

[2016-12-05 10:14] #6637 closed

[2016-12-05 10:14] sopel39 commented on #6637
fixed

[2016-12-05 10:50] sandeep-gunnam commented on #6666
Hi

We have the same usecase and planning to go to production with this. Now we hit this road block. Could you please suggest any workaround for this problem for the moment.

Thanks in advance.

-Sandeep

[2016-12-05 12:35] ddjjain commented on #6666
@richardxin .. we are also facing the same issue while using presto+hive. By any chance did you got any work around this ?
@av-416, Can you suggest any work around this?
@sandeep-gunnam  we are also having the same issue. Let me know if you got any work around..

Thanks in Advance

[2016-12-05 15:22] electrum commented on #6666
Presto does not support transactional Hive tables.

[2016-12-05 21:10] kokosing commented on #1292
@sopel39 I am assigning this one to you, as it looks like you were working on something really close to it recently. So probably you already solved this.

[2016-12-05 22:05] #6581 closed

[2016-12-05 22:09] rschlussel commented on #6757
Thanks.  I can work on this

[2016-12-06 04:52] sandeep-gunnam commented on #6666
Thanks for your response @electrum . Any plans in future to support the same?

[2016-12-06 05:50] richardxin commented on #6666
ok, so it seems that Impala doesn't support bucket table either.

[2016-12-06 17:34] raghavsethi opened #6778 "UnionNode symbol mapping failure"
[code]

results in

[code]

[2016-12-06 18:11] haozhun opened #6779 "Improve ArrayFilterFunction performance"
Performance of `ArrayFilterFunction` can be improved by:
* using `Block.isNull` and `Type.getX` instead of `readNativeValue`
* using `invokeExact` instead of `invoke`

This change would require having 5 variations of ArrayFilterFunction. This change may also make using the new scalar function framework from Chris work.

`TestArrayFilterFunction` and `BenchmarkArrayFilterFunction` are the relevant

[2016-12-06 18:14] haozhun opened #6780 "Improve ArrayTransformFunction performance"
Performance of `ArrayTransformFunction` can be improved by:
* using `Block.isNull` and `Type.getX` instead of `readNativeValue`
* using `invokeExact` instead of `invoke`

This change would require having 25 variations of ArrayTransformFunction. As a result, the optimized version should probably use byte code generation.

As a follow up to this task, the same optimization can be applied to ArrayRed

[2016-12-06 20:16] nezihyigitbasi opened #6781 "NPE with transform() function"
[code]

[2016-12-06 20:27] raghavsethi commented on #6778
Appears to be introduced by commits in this PR: https://github.com/prestodb/presto/commit/32ba4feb8c9fec5a2e04a982b58bb5de3947e445

[2016-12-06 21:00] nezihyigitbasi commented on #6202
Fixed through #6400

[2016-12-06 21:00] #6202 closed

[2016-12-07 08:14] yuananf commented on #3249
This no longer a problem since approximate queries is removed.

[2016-12-07 08:14] #3249 closed

[2016-12-07 08:50] wbgentleman commented on #5375
Modifying this parameter node-scheduler.network-topology=flat works for me! Thx guys!

[2016-12-07 09:04] manishkaushik29 opened #6790 "Presto Hive Connectivity on MapR"
I am trying to query Hive queries from Presto on MapR. I am getting following error while launching the Presto Server :
3 errors
com.google.inject.CreationException: Unable to create injector, see the following errors:

1) Configuration property 'http-server.http.port=8080 ' was not used
  at io.airlift.bootstrap.Bootstrap.lambda$initialize$2(Bootstrap.java:235)

2) Error: Could not coerce value '

[2016-12-07 13:39] jcap commented on #3893
@electrum curious about the bug comment. I don't see much in the way of Hive indicating this is a problem. We were surprised to see this addition to the change logs.

[2016-12-07 15:24] electrum commented on #3893
@jcap please the the discussion here: https://github.com/prestodb/presto/pull/5416

[2016-12-07 15:24] #3893 closed

[2016-12-07 17:58] maciejgrzybek commented on #5954
PR's here: https://github.com/prestodb/presto/pull/6793

[2016-12-07 19:32] petroav commented on #6790
@manishkaushik29 there's currently no support for MapR. There was a pull request a while back (https://github.com/prestodb/presto/pull/1669) but it's outdated at this point. Myself along with @akshatnair are working on getting support for MapR so stay tuned.

[2016-12-07 20:34] dabaitu opened #6797 "Tableau Web Connector broken in 0.157"
Initial queries to populate catalogs and schemas work fine.

Once actual query is entered, we encounter:

tableauwdc-1.1.0.js:116 Uncaught Looks like the WDC is calling a tableau function before tableau.init() has been called._sendMessage @ tableauwdc-1.1.0.js:116log @ tableauwdc-1.1.0.js:49(anonymous function) @ presto-connector.html:264dispatch @ jquery-2.2.3.min.js:3r.handle @ jquery-2.2.3.min.

[2016-12-07 22:52] nezihyigitbasi commented on #6797
Which Tableau version is this? According to #5537 the web connector should be working fine with Tableau 9.2.7.

Btw we have an old version running fine where the diff is the jquery version (it's `jquery-1.11.1.min.js` instead of `jquery-2.2.3.min.js`). Can you try reverting to that jquery version and see if it helps?

[2016-12-07 23:32] dabaitu commented on #6797
@nezihyigitbasi I accessed the web connector not through Tableau but using address of presto ui with /tableau/presto-connector.html?
Entering a query through there resulted in the errors I reported. Will give reverting jquery a try.

[2016-12-07 23:35] nezihyigitbasi commented on #6797
wait, I don't think you can run queries like that. Can you try with a tableau client without reverting anything?

[2016-12-07 23:44] dabaitu commented on #6797
doesn't Tableau configure the web connector by specifying the url of the web connector? I was just accessing the url directly

[2016-12-07 23:52] nezihyigitbasi commented on #6797
From what you say I understand that you aren't using a Tableau client but rather access through the browser directly. You cannot run queries like that (please see how the web connector works [here](https://onlinehelp.tableau.com/current/api/wdc/en-us/help.htm#WDC/wdc_phases.htm))

You need to enter that url to the web connector interface in the Tableau client (shown here in the [docs](https://onli

[2016-12-08 01:10] dabaitu commented on #6797
thanks @nezihyigitbasi
Running through Tableau worked.
Running queries directly through the url use to work in 0.143, that's how we tested our https hack. I was using the url directly to figure out issues with inspect and stuff when our Tableau users reported queries stopped working when we upgraded to 0.149. Looks like everything's good with 0.157

[2016-12-08 01:11] #6797 closed

[2016-12-08 02:12] haozhun commented on #6781
Fixed in 8890651. Thank you for trying it out!

[2016-12-08 02:12] #6781 closed

[2016-12-08 02:34] martint opened #6801 "Error executing prepared statement when complex join criteria contains parameter"
A query like this:

[code]

Fails to execute with "EXECUTE ... USING ..." with:

[code]

[2016-12-08 02:34] martint commented on #6801
cc @rschlussel

[2016-12-08 05:14] nezihyigitbasi opened #6803 "ClassCastException in presto-cli with map_filter"
[code]

[2016-12-08 08:26] #4022 closed

[2016-12-08 12:02] ArchaB opened #6806 "Presto-postgresql test fails on ppc64le"
Tried building presto-postgresql on Power Systems.
To support the same, modified the testing-postgresql-server-0.3.jar to include jars compatible for Power Systems.

Testcases still fail with the following exception:

[code]
Tried to replace the libssl.so.1.0.0 from the one existing in /usr/lib64 on the system, but did not help.

Any pointer on how this can be resolved would be helpful.

[2016-12-08 12:03] ArchaB commented on #5548
Opened new issue for embedded-redis. Closing this one

[2016-12-08 12:03] #5548 closed

[2016-12-08 15:38] sopel39 commented on #4715
Fix: https://github.com/prestodb/presto/pull/6808

[2016-12-08 16:29] BigDataDaddy opened #6810 "Dropping any view in the Hive catalog results in an error."
It appears that dropping any view in the Hive catalog results in an error.    These symptoms have already been discussed briefly with Dain in the Google Group thread: https://groups.google.com/forum/#!msg/presto-users/lL4yHAvX7ps/x6OcGdyXBQAJ

In this use case the "hive" catalog is a Hive catalog serviced by the Hive metastore service on the same cluster node as the Presto coordinator.  Both are r

[2016-12-08 16:51] martint opened #6811 "ExpressionVerifier fails to match cast expressions"
[code]

returns `false`

[2016-12-08 16:52] martint commented on #6811
cc @ebd2

[2016-12-08 17:03] kokosing commented on #6811
Can you please post a query and a pattern for which it fails. I was
thinking about it recently, and I think that CAST should be a no-op kind of
expression for ExpressionVerifier. I mean CAST expression should be omitted
during expression verification.

czw., 8.12.2016, 17:52 użytkownik Martin Traverso <notifications@github.com>
napisał:

[2016-12-08 17:15] martint commented on #6811
[code]

[code]

I stepped through the code, and tracked it down to the FilterMatcher failing to match the casts.

[2016-12-08 17:35] kokosing commented on #6811
AFAIR visiCast is not implemented in ExpressionVerifier

czw., 8.12.2016, 18:16 użytkownik Martin Traverso <notifications@github.com>
napisał:

[2016-12-08 18:57] mcs1408 opened #6812 "Create Table with external_location creates managed table"
When creating a table in presto with an external_location on S3 like the following

CREATE TABLE mcs_test ( field1 bigint, field2 bigint) WITH ( format='TEXTFILE', external_location='s3://my_bucket/path/to/dir/`);

it will still create a managed table in hive metastore on that external location. Especially when issuing a drop statement on that table it will not - as stated in the documentation - j

[2016-12-08 20:43] electrum commented on #6812
Fixed in #6813

[2016-12-08 20:43] #6812 closed

[2016-12-08 21:01] electrum commented on #6803
This is actually a long-standing client protocol issue caused by maps that contain a non-scalar key:
[code]

[2016-12-08 21:43] electrum commented on #6810
Thanks the report with detailed steps! This is strange as the error comes from the Hive metastore.

We actually haven't done much (or any?) testing against Hive 2.x. Would you be able to verify if this also occurs on Hive 1.x?

[2016-12-09 01:36] martint commented on #4775
This seems to be working on master (0.160-SNAPSHOT)

[2016-12-09 01:36] #4775 closed

[2016-12-09 02:30] amitna1r opened #6823 "Array Intersect Exists"
Build a function:
array_intersect_exists(array<E>, array<E>) -> boolean

That basically checks if the intersect of the two input arrays is NOT NULL. This would be more optimized than doing a cardinality(array_intersect(a1,a2)) > 0, since this would exit out once a common element is found.

[2016-12-09 04:03] martint opened #6824 "Simplify JOIN planning"
The JOIN planning code in RelationPlanner currently has a bunch of complicated logic that attempts to derive and extract the terms of equality comparisons, etc. Now that JoinNode can contain an arbitrary expression as the join criteria, we should simplify this code to not do that, and leave it to the optimizers to push down predicates as necessary.

[2016-12-09 06:54] kokosing commented on #2311
I will try to give it a shot.

[2016-12-09 09:26] kokosing commented on #2311
@martint Postgres changes the order of selection list when `USING` is used. See:

[code]
is that expected according to the ANSI SQL syntax?

[2016-12-09 11:42] wikp commented on #5709
Same bug here. Noticed that it fails after opening CLI interface (or after log in into Airpal) but after few tries suddenly starts to work like a charm. Stack trace below. I'll be working on a solution but currently I don't know Presto's codebase so I need to dive in into it ;)

[code]

[2016-12-09 14:31] hakangs opened #6828 "Simple Cassandra query so slow in Presto"
I have a very simple Cassandra query:

`select sha1 from main_file_hashes where folder_id = '584a67c1ed902bc11554d8ad';`

and it returns empty result from Cassandra. But when I run the same query from Presto CLI, it takes so long (~2 mins) and query does not return result.

What am I missing here ?

Cassandra : 1 node, Presto : 1 node, both are running on the same server.

[2016-12-09 15:05] KBP-TDC commented on #6828
@hakangs Could you please take a look at the Presto UI and find out from the Live Plan (or EXPLAIN ANALYZE) how many rows are fetched by Presto from Cassandra? Maybe the predicate pushdown you expect does not happen?

[2016-12-09 15:21] cawallin commented on #6828
Also, what's the schema of your table? Only partitioning keys are pushed down to Presto currently.

[2016-12-09 15:51] hakangs commented on #6828
@cawallin the column in the where clause is not a partition key.

@KBP-TDC how can I do that ? I just have Presto CLI.

[2016-12-09 17:36] #6801 closed

[2016-12-09 23:17] arbfranklin commented on #6094
@cawallin I couldn't find the completed block in the [teradata branch either](https://github.com/Teradata/presto/blob/0.157.1-t/presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoStatement.java#L171)?

@electrum Is it possible the fix might be as simple as calling close()?

[code]

It ends up issuing a DELETE, and seems to mirror the presto-cli's CTRL-C behaviour.

[2016-12-09 23:53] rongrong opened #6834 "map_filter does not support aggregation as input"
FROM (
    VALUES (1, 2), (1, 3), (2, 3)) AS t(x, y)
  GROUP BY y;

failed: aggregation analysis not yet implemented for: com.facebook.presto.sql.tree.LambdaExpression

[2016-12-10 00:08] martint commented on #6630
That line is wrong. It should be returning a scope with no columns in it.

[2016-12-10 00:43] haozhun commented on #6834
Fixed by #6835

[2016-12-10 00:43] #6834 closed

[2016-12-10 00:45] #6630 closed

[2016-12-10 02:31] electrum commented on #6828
`EXPLAIN ANALYZE` is a normal query you can run from the CLI (or anything else that lets you run Presto queries): https://prestodb.io/docs/current/sql/explain-analyze.html

The web interface is available by accessing the Presto coordinator in your browser (whatever host:port you use in the CLI, just put that in your browser): https://prestodb.io/docs/current/admin/web-interface.html

[2016-12-11 02:51] JasonBian opened #6839 "When I use presto to read hive table data with parquet format,I got incorrect data from hive table"
when I use presto to read the hive table data with parquet format,I got the data is not the original data in hive table.For example, When I use hive sql to read the data from table,I got the data is "wttdqj5j", but when I use presto to read the hive table, I got the data like this "d9101db878a4b34a6d3d3454a7d52373"

![image](https://cloud.githubusercontent.com/assets/3529844/21134988/11f2178a-c15b

[2016-12-11 03:04] wangmuling opened #6840 "Remote Task Failed And Server Return SERVICE_UNAVAILABLE?"
Hi,

  I often find some nodes on my presto clusters ,I get SERVICE_UNAVAILABLE errors.see below:

    com.facebook.presto.spi.PrestoException: Encountered too many errors talking to a worker node. The node may have crashed or be under too much load. This is probably a transient issue, so please retry your query in a few minutes. (getting task status http://192.168.7.46:8055/v1/task/20161210_23592

[2016-12-11 21:21] martint commented on #2311
From the spec:

So, to summarize:
* The descriptor of the result of the join is composed of the join columns, followed by the columns from the left relation (minus the join columns), followed by the columns of the right relation (minus the join columns)
* The value of each join column is equivalent to `coalesce(l.x, r.x)`

[2016-12-11 22:04] kokosing commented on #2311
Thanks for explanation. I must admit that without your summary at the end I would not understand a word ;) Have you considered publishing a book like `ANSI SQL explained`?

I think I need to re implement this completely.  I am going to write below rewrite. From
[code]
to:
[code]

What do you think?

[2016-12-12 04:25] martint commented on #2311
Yes, you have to plan it as if you were seeing a query of that shape, but there's not mechanism to rewrite from one syntactic structure to another.

[2016-12-12 10:34] ArchaB opened #6842 "Failure seen on building presto packages"
I am trying to build presto packages under the following configuration

[code]
On building the presto components, the packages fail intermittently with the following error log
Ran the presto-tests package using 'mvn -X clean install' command and following is the debug level logging of the failure

[code]
Any pointers on this?

[2016-12-12 11:31] sopel39 commented on #6654
Fixed by: https://github.com/prestodb/presto/pull/6808/commits/459ec8875a97546a1adf12e7a16cca82a8dcf79a. @dain I have added tests for all expressions that used `ExpressionAnalyzer#coerceToSingleType`

[2016-12-12 15:15] losipiuk commented on #6272
Implemented in https://github.com/prestodb/presto/pull/6726/commits/cf4fe4938735323c4cd2b595dbacaff32bc0d244

[2016-12-12 16:19] yuokada opened #6845 "NPE is thrown when PUT to "/v1/info/state""
Hi,
A NullPointerException is thrown when put to "/v1/info/state" with empty body.
[code]

----
[code]

https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/server/ServerInfoResource.java#L64

[2016-12-12 16:21] cawallin commented on #6094
@arbfranklin the Teradata JDBC driver is closed-source but free; the code isn't the code in presto-jdbc.

[2016-12-12 17:08] arbfranklin commented on #6094
@cawallin With that in mind, can we re-open this ticket such that a fix can be proposed & integrated?

[2016-12-12 17:34] nezihyigitbasi commented on #6755
Fixed through #6796.

[2016-12-12 17:34] #6755 closed

[2016-12-12 17:56] cawallin commented on #6094
@arbfranklin We can definitely re-open this ticket with regards to fixing the open source JDBC driver

[2016-12-12 18:44] electrum commented on #6693
Starting in 0.153, the plugin classloader uses a whitelist model: plugins are only allowed to see classes that are explicitly part of the SPI. This prevents plugins from (accidentally or intentionally) relying on internal implementation details of Presto, which makes it easier for us to evolve Presto without breaking plugins.

The problem is the plugin has a dependency on `presto-main`, which is n

[2016-12-12 18:49] electrum commented on #6693
I also recommend updating your build to use https://github.com/prestodb/presto-maven-plugin

* Add a build plugin:
[code]
* Add `<packaging>presto-plugin</packaging>`
* Remove the shade plugin. The above will produce a ZIP file which can be unzipped in the server `plugin` directory.

[2016-12-12 19:46] #4698 closed

[2016-12-12 21:40] kokosing commented on #2311
Yes. I find more and more reasons that such mechanisms (iterative semantic analyzer) is needed. See https://github.com/prestodb/presto/issues/6625.

[2016-12-13 09:57] zhoushineyoung opened #6860 "Not Support Hive data Type: struct"
Some error occured while i submitting query
[select * from test;]
or
[select course from test;]
to Presto Service, But it will return results sucefully by querying[select course.score from test;]

**1. Table create scripts and the datas for testing given as bellow:**
**scripts :**
[
CREATE TABLE test`(`id int,course struct`<`course:string,score:int`>)`
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t

[2016-12-13 10:55] zhoushineyoung opened #6863 "Presto authentication Bug -- work with kerberos"
Error, ***Query 20161213_101323_00023_xxxxx failed: Access Denied: Cannot select from table db_xxx.tb_xxx***, occured when i submit the query statement, ***presto --server 10.8.8.88:15050 --catalog hive --schema adhoc_test --execute "select count(`*`) as count from presto_proxy_test_orders11;" --user adhoc***.

And i think that's a wrong result returning.

test case context:
1. I created a databas

[2016-12-13 17:00] jcap commented on #5685
Just confirming we're seeing this too.

These work as expected (no folder left behind):
- CREATE and DROP from Hive
- CREATE in Presto and DROP from Hive

These both leave a stray directory and as a result block reusing table name:
- CREATE and DROP from Presto
- CREATE in Hive and DROP in Presto

Further:
```hadoop fs -rmdir hdfs:///...``` removes the directory cleanly. I _think_ confirming it is

[2016-12-13 18:12] cberner opened #6867 "(intentional?) variable scope regression in ORDER BY"
This query works in 0.160, but fails on master: `SELECT SUM(x) x FROM (VALUES 1) t(x) ORDER BY SUM(x)`

Due to:
[code]

This appears to be a regression caused by ec2e8976ba9cd59f3990b8e46288b8a728065b07. It's not clear to me if that commit intended to change the semantics of existing queries or not.

[2016-12-13 18:24] haozhun commented on #5685
@Jimexist @jcap It would be great if one of you can find and explain the root cause of the issue. At that point, we can discuss how we are going to fix it.

[2016-12-13 18:27] jcap commented on #5685
@haozhun sure thing, we're looking into it now. If we find anything we will report back.

[2016-12-13 19:34] jcap commented on #5685
Ok well I think I at least found the error @haozhun :

[code]

[2016-12-13 19:39] sopel39 commented on #6867
This is intentional. `x` from `ORDER BY` references projection output: `SUM(t.x)`. So `ORDER BY` expression is: `SUM(SUM(t.x))`, which is incorrect. This query should work when rewritten to:
`1) SELECT SUM(x) x FROM (VALUES 1) t(x) ORDER BY x`
`2) SELECT SUM(x) x FROM (VALUES 1) t(x) ORDER BY SUM(t.x)`

[2016-12-13 19:48] martint commented on #6867
This is due to a fix that corrected a behavior that deviated from the SQL spec. See see https://github.com/prestodb/presto/issues/4698. The rules for variable resolution are now correct. Column references in the select clause are supposed to be resolved against names from the select clause.

We could probably improve the error message when aggregations in the order by clause reference an output co

[2016-12-13 20:26] martint commented on #6867
Since this potentially affects a lot of production queries at FB, we're going to introduce a temporary config flag to restore the old behavior while we work with users to update their queries. We plan to get rid of the flag and associated behavior early next year.

[2016-12-13 21:06] jcap commented on #5685
The above seems to in fact have been the problem.

Removing the sticky bit on ```hdfs://user/hive/warehouse``` resolves the problem though is likely not the best option.

That said we've been unable to find the right combination of user for presto to talk to HDFS / Hive where this doesn't otherwise happen.

This is on EMR using the default perms they set on spin up.

[2016-12-13 21:41] nezihyigitbasi opened #6869 "try_cast fails instead of returning null"
[code]

[code]

Tested with both the master and `0.149`.

[2016-12-13 21:44] nezihyigitbasi commented on #6839
Which Presto version and which parquet reader are you using? If you are using the default/old Parquet reader can you also try running your query with the new one?

[code]

[2016-12-13 21:52] haozhun commented on #6869
This is intentional because there is no cast from integer/char to timestamp. cc @raghavsethi

[2016-12-13 21:55] nezihyigitbasi commented on #6869
For `try_cast` Presto docs say `Like cast(), but returns null if the cast fails.`, based on this shouldn't these queries return `null`?

[2016-12-13 22:00] raghavsethi commented on #6869
@nezihyigitbasi My understanding is that `try` and `try_cast` are intended to be runtime checks for bad data and are not intended to skip basic correctness checks. @martint do you agree with that assessment?

[2016-12-13 22:44] haozhun commented on #6869
IIRC, we decided to make `try` behave consistently.

My argument for differentiating `try_cast` for cast that exist and cast that doesn't is that doing so doesn't provide more expressive power. (If the user just wants a now, write NULL.) Given it will always be `NULL`, it's likely an error in user query.

[2016-12-13 23:10] martint commented on #6869
@raghavsethi, yes, that's the correct interpretation. Both functions are expected to fail when a cast between two types is not registered, since it's a function resolution/type inference error.

We may want to improve the error message to make it clear it's about the cast not existing vs a given value not being convertible.

[2016-12-13 23:15] #6869 closed

[2016-12-13 23:24] BigDataDaddy commented on #6810
As I mentioned in my original post, our Presto/Hive environment is provisioned by AWS EMR.

As such we are limited in the combinations of Presto and Hive that specific EMR versions install.  This issue was reported against an AWS EMR 5.0.0 cluster, which installs Presto (v0.150) and Hive (v2.1.0) versions.  We'd have to revert to an earlier EMR 4.x version, the last of which was EMR 4.7.2 (or earl

[2016-12-14 00:06] martint opened #6873 "Planning issue when using lambda expression"
[code]

Fails with:

[code]

[2016-12-14 00:12] martint opened #6874 "Failure when argument to max aggregation is literal null"
[code]

Fails with:

[code]

[2016-12-14 00:17] martint opened #6875 "Bad error when aggregation function is used in lambda expression"
[code]

fails with:

[code]

[2016-12-14 00:22] haozhun commented on #6873
Fixed in #6836

[2016-12-14 00:22] #6873 closed

[2016-12-14 00:25] #5350 closed

[2016-12-14 00:39] #6867 closed

[2016-12-14 03:14] crcunningham opened #6879 "Selecting rows in Cassandra with empty blobs throws exception."
I'm using the Cassandra connector and Presto version 0.147.

In Cassandra I have a table with a blob column in which some rows are set to an empty buffer value. For example,

`
column_name
-----
  0x
`

If I run a select statement that includes that row I get the following exception:

`java.lang.IllegalArgumentException: Invalid size: 0
	at io.airlift.slice.Slice.<init>(Slice.java:245)
	at io.airl

[2016-12-14 03:23] JasonBian commented on #6839
@nezihyigitbasi my presto version is 0.152;
when I set seeion hive.parquet_optimized_reader_enabled=true;
![image](https://cloud.githubusercontent.com/assets/3529844/21168519/9b0bca68-c1ef-11e6-8fa6-0e9683826c31.png)
 but when I change to select * from table,it looks ok, and the presto query return the collect value.

[2016-12-14 07:00] nezihyigitbasi commented on #6839
I would check the parquet-level schema against the hive table schema as I guess `home_addr` column only exists in the hive schema (that's why it cannot be found in the parquet file schema). To see the schema of the parquet files you can use parquet-tools (or put a breakpoint in `ParquetPageSource` constructor and check `fileSchema`).

BTW it is always helpful to see the entire stack trace, for tha

[2016-12-14 18:00] cberner opened #6882 "Analysis regression in ORDER BY queries"
This query:
[code]

fails with the following error:
[code]

I bisected this to a regression introduced by ec2e8976ba9cd59f3990b8e46288b8a728065b07

[2016-12-14 18:22] cberner opened #6883 "Bad error message when ORDER BY a table column shadowed by a field"
The following query:
[code]

Fails with:
[code]

and the CLI renders the SELECT line in red. However, the actual error is in the ORDER BY clause, the SELECT should have analyzed just fine

[2016-12-14 18:23] cberner commented on #6883
@sopel39 assigning this to you as I assume this is caused by your recent ORDER BY change

[2016-12-14 19:38] martint commented on #6883
Fixing this is a little tricky. It's a side-effect of analyzing the rewritten expression (which inlines the AST nodes from the select clause if there are any references). It requires analyzing the unmodified ORDER BY expressions using a sort of delegating scope (try with output scope first, delegate to source scope if a name cannot be resolved).

[2016-12-14 19:40] martint commented on #6883
It may be possible to do by creating a synthetic scope with the shape of the output scope and the source scope as its parent.

[2016-12-14 19:54] sopel39 commented on #6883
I think it's due to `StatementAnalyzer::extractAggregates`, which extracts unrewritten sort keys from `QuerySpecification`, see: https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java#L1687.
Those sort keys should be rewritten to use projection output. I will test tomorrow if that's the issue and post some bugfix.

[2016-12-14 19:56] sopel39 commented on #6882
I think it's due to StatementAnalyzer::extractAggregates, which extracts unrewritten sort keys from QuerySpecification, see: https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java#L1687.
Those sort keys should be rewritten to use projection output. I will test tomorrow if that's the issue and post some bugfix.

[2016-12-14 19:59] martint commented on #6883
It's because analyzeOrderBy analyzes the rewritten expression, which inlines the expressions from the select clause (including their "location").

[2016-12-14 20:07] sopel39 commented on #6883
I think this can be fixed by not rewriting `DereferenceExpression` since it doesn't make sense to insert complex expression into `DereferenceExpression.base`.

[2016-12-14 20:23] martint commented on #6883
It's a broader problem. The rewrite causes other location information to be lost.

I have a tentative fix based on the approach I described above, but surprisingly, it breaks queries of the form:

[code]

This is an interesting case, because it is technically ambiguous.

[2016-12-14 20:35] martint commented on #6883
The spec is actually pretty clear about it:

[2016-12-14 20:42] sopel39 commented on #6883
Scopes don't have information about expressions anymore, so they are not suitable for expression substituting, right?

The problem with location is that we want to fail with a proper message during order by expression analysis? If that's the case, then we could also pass some `location map` to analyzer that would override expression location.

It might also be possible to rewrite name references i

[2016-12-14 21:32] #6882 closed

[2016-12-14 21:33] #6883 closed

[2016-12-14 21:37] martint commented on #6883
In the longer term, we should figure out how to make the analyzer no rewrite expressions. In the original design, the analyzer was supposed to just analyze the AST for correct semantics and annotate nodes with whatever information is needed for the planner. Any necessary manipulation of expressions for the purpose of creating a query plan is expected to happen during planning.

[2016-12-14 23:11] electrum opened #6889 "Broken TestAnalyzer testOrderByWithWildcard"
[code]

[2016-12-14 23:36] elonazoulay commented on #6747
We're experiencing this as well, taking a look also.

[2016-12-14 23:45] #6889 closed

[2016-12-15 00:45] #6757 closed

[2016-12-15 18:26] dain commented on #2255
Fixed in 0.157

[2016-12-15 18:26] #2255 closed

[2016-12-15 19:28] #4413 closed

[2016-12-15 19:50] AlekseiS commented on #6874
Same issue in a different context: https://github.com/prestodb/presto/issues/6653

[2016-12-15 19:59] AlekseiS opened #6898 "Unnecessary re-shuffle stage when doing "group by" on a constant"
The query `SELECT 123, sum(totalprice) FROM tpch.tiny.orders GROUP BY 1` results in the following distributed plan:
[code]

However, an equivalent query without explicit "group by" on a constant `SELECT 123, sum(totalprice) FROM tpch.tiny.orders` results in a more efficient plan with just 2 stages (no reshuffle on a constant):
[code]

Ideally, planner/optimizer can understand that "group by" in th

[2016-12-15 21:38] martint opened #6899 "EXPLAIN ANALYZE incorrectly removes Output node"
[code]

produces:

[code]

The expected structure should look like:

[code]

This can be reproduced in 0.160.

[2016-12-15 21:58] #6845 closed

[2016-12-15 22:25] ch-nikhodgkinson opened #6900 "IN returns 0 rows when matching bigint to double."
Not sure what the exact cause of this issue is, probably something to do with float->bigint conversion, but this query returns no rows when it should return several:

[code]

[2016-12-15 22:27] ch-nikhodgkinson opened #6901 "Integer overflow with IN and doubles."
[code]

[2016-12-15 22:48] martint commented on #6900
I think this is another form of https://github.com/prestodb/presto/issues/5268.

This PR probably fixes it: https://github.com/prestodb/presto/pull/6808

[2016-12-16 01:39] rongrong opened #6905 "Order by the join key on both table results in failed query"
Failed with "Multiple entries with same key: x=ASC_NULLS_LAST and x=ASC_NULLS_LAST"

[2016-12-16 02:33] electrum commented on #6901
Full stack trace (use `--debug` in CLI):
[code]

[2016-12-16 02:35] electrum commented on #6900
This is a correctness issue (it returns the wrong results).

[2016-12-16 02:36] electrum commented on #6900
Simpler reproduction from @ch-nikhodgkinson:
[code]

[2016-12-16 03:15] raghavsethi opened #6909 "Integer overflow during implicit cast in subquery"
[code]

[2016-12-16 03:15] raghavsethi commented on #6909
Possibly related to #5268

[2016-12-16 04:48] hawkingrei commented on #6693
Thank you very much

but now, it can run in the presto.but when I test it

`select json_array_extract_scalar(arr1, '$.book.id') from (values ('[{"book":{"id":"12"}}, {"book":{"id":"14"}}]')) t(arr1);`

presto tell me

Exact implementation of json_array_extract do not match expected java types.

can you help me?

[2016-12-16 07:17] kokosing opened #6910 "Refactor query test framework (unit tests)?"
This issue is continuation of discussion from https://github.com/prestodb/presto/pull/6848#issuecomment-267527207.
It is going to collect all the problems we currently have with actual unit test framework (aka `AbstractTestQueries`) and check if we need a migration to some new test framework. Also it is going evaluate if we need migration from `testng` to `junit5`.

Feel free to contribute!

I ima

[2016-12-16 07:31] kokosing commented on #6910
1.  Currently we are not able to test features (or feature toggles). All the tests are run per each test setup which causes test redundancy and longer development cycle. Related signs are:
       - Connector specific tests run queries like `SELECT ... FROM (VALUES ...)` which do not use connector (do not read actual data).
      - It is not possible to select tests which could cover only part of f

[2016-12-16 07:57] kokosing commented on #6898
I will try to fix this.

[2016-12-16 09:44] sopel39 commented on #6909
fixed by: https://github.com/prestodb/presto/pull/6808

[code]

[2016-12-16 09:46] sopel39 commented on #5268
fixed by: https://github.com/prestodb/presto/pull/6808
[code]

[2016-12-16 09:48] sopel39 commented on #6901
fixed by: https://github.com/prestodb/presto/pull/6808
[code]

[2016-12-16 09:49] sopel39 commented on #6900
fixed by: https://github.com/prestodb/presto/pull/6808
[code]

[2016-12-16 11:08] ArchaB opened #6912 "Failure seen on building presto-tests"
Am trying to build presto-tests on a Linux-ppc64le VM
But the build fails with the following error

[code]

Any pointer on this?

[2016-12-16 11:13] ArchaB commented on #6912
Some WARNINGS I see in the log

'''
2016-12-16 15:59:23 WARNING Memory info update request to http://127.0.0.1:40227/v1/memory has not returned in 18.65s
2016-12-16 15:59:23 WARNING Memory info update request to http://127.0.0.1:37058/v1/memory has not returned in 18.65s
2016-12-16 15:59:23 WARNING Memory info update request to http://127.0.0.1:36792/v1/memory has not returned in 18.66s
2016-12-16

[2016-12-16 12:56] DuskoV commented on #3499
+1

[2016-12-16 14:22] Praveen2112 opened #6913 "Improvement in Join Performance"
In 0.160 release notes there is

How is this implemented is there is any patch so that I could integrate with previous version (0.157).

[2016-12-16 16:25] ilfrin commented on #6432
should be handled by https://github.com/prestodb/presto/pull/6726/commits/0d9a875172f62084acbb6032cda328a1c7e377f0 part of https://github.com/prestodb/presto/pull/6726

[2016-12-16 17:51] electrum commented on #6909
Duplicate of  #6901

[2016-12-16 17:51] #6909 closed

[2016-12-16 17:53] electrum commented on #6901
Simpler reproduction:
[code]

[2016-12-16 18:38] #6905 closed

[2016-12-16 20:40] martint commented on #6913
It's this commit: https://github.com/prestodb/presto/commit/d952e9760c6527d7d6937ab886e8a603d197d6f6

[2016-12-16 20:40] #6913 closed

[2016-12-16 20:43] martint commented on #6910
One of the big reasons AbstractTestQueries is so massive is that there's no way to make separate test classes depend on some state object (e.g., the query runner) that gets initialized once before all the tests run and gets torn down when the suite finishes.

[2016-12-16 21:59] martint commented on #6900
Fixed.

[2016-12-16 21:59] #6900 closed

[2016-12-16 22:00] martint commented on #6901
Fixed

[2016-12-16 22:00] #6901 closed

[2016-12-16 22:00] martint commented on #4715
Fixed

[2016-12-16 22:00] #4715 closed

[2016-12-19 03:39] ffpeng90 opened #6915 "Class not found"...hdfs.DistributedFileSystem""
Hi,all:
   Recently, i am trying to write a new connector for presto, which will access some Files on HDFS which file format has not supported by hive. It always throws exception [java.lang.ClassNotFoundException: Class org.apache.hadoop.hdfs.DistributedFileSystem not found] when try to get fileSystem instance with code [path.getFileSystem()].

1. At the beginning, i thought the jar is missing, so

[2016-12-19 04:11] wyukawa opened #6916 "presto worker node crashed at presto 0.160"
Hi

I use presto 0.160 + jdk1.8.0_101 + HDP 2.1 + hive connector + CentOS 6.5.

Suddenly, presto worker node crashed.
It's difficult to reproduce the problem.

presto query
[code]

presto log
[code]

hs_err_pid.log
https://gist.github.com/wyukawa/e3ae28ad332b3ae9ec2bf7947a47ffd6
https://gist.github.com/wyukawa/cce22932fd1384bd4122fd5d3f98d89d

Any suggestion?

[2016-12-19 08:44] ffpeng90 commented on #6915
I modify my code according to this link(https://github.com/prestodb/presto/issues/4090),  And  Finally got FileSystem instance.

However,  when i try to getFileStatus().  It throws EOFException like this:
`End of File Exception between local host is: "xxx/10.9.196.218"; destination host is: "10.2.26.92":9083; : java.io.EOFException; For more details see:  http://wiki.apache.org/hadoop/EOFException

[2016-12-19 12:19] pnowojski opened #6922 "Slow support of non-equi joins"
From time to time we stumble on queries for which the most selective "join predicate" is non-equi. For example query posted by CERN earlier this year:

https://databricks.com/blog/2016/10/03/voice-from-cern-apache-spark-2-0-performance-improvements-investigated-with-flame-graphs.html

[code]

which can be simplified to something like this:

[code]

One solution would be to implement sort-merge joi

[2016-12-19 14:34] pnowojski opened #6923 "Performance regression for OUTER JOINs"
Following simple query:

[code]

has slowed down between versions 154 and 157 by the factor of 10. On 8 nodes cluster it was completing in ~60 seconds now it completes in over 540 seconds, with very low CPU usage (constant ~20% of 24 cores) regardless of the `task_concurrency`. It doesn't seem to be the problem with hash partitioning (https://github.com/prestodb/presto/pull/6864). From profiling i

[2016-12-19 20:03] martint opened #6924 "Invalid initial plan for EXISTS subquery"
This query:

[code]

produces an initial plan with the following shape. Note that the expression in the Apply node contains a full subquery, which is invalid.

[code]

For comparison, an IN predicate correctly produces:

[code]

This can be reproduced in 0.161.

[2016-12-20 05:41] kokosing commented on #6924
I will take care of this.

[2016-12-20 06:17] kokosing commented on #6924
This issue is causing more serious bug:
[code]

[2016-12-20 06:20] kokosing commented on #6924
And one more ; /
[code]

[2016-12-20 07:16] kokosing commented on #6924
Here is a fix: https://github.com/prestodb/presto/pull/6928

[2016-12-20 07:47] BradRuderman commented on #4805
@petroav How did the review go?

[2016-12-20 14:46] the6campbells commented on #4552
The driver available with the Presto 0.160 is still missing the method

[2016-12-20 14:49] ebd2 commented on #4552
@the6campbells: Have you looked at the Teradata driver that @cawallin linked? The Teradata driver is a totally different (closed-source) codebase, and so features in it are not necessarily implemented in the open-source driver.

[2016-12-20 14:52] the6campbells opened #6929 "Presto JDBC driver version numbers"
Sometimes you need to attenuate (work around) issues in drivers. Having a more accurate version information will support this.

For example presto-jdbc-0.160.jar currently returns the following. Should the driver not return 0 and 160 instead of 1.0 to reflect the build.

getDriverName	Presto JDBC Driver
getDriverVersion	1.0
getDriverMajorVersion	1

[2016-12-20 14:57] ebd2 commented on #4552
Oh, and if you go to that site, you need to click on the part of the link that reads "Download Presto Drivers", if you click on the "»" link, it takes you to the wrong page. I notified our IT people, but it looks like they haven't gotten around to fixing it yet :-(

This direct link might also work: https://site.teradata.com/Microsite/Q216driverspresto/LP/.ashx, but it might also expire in the fut

[2016-12-20 16:46] the6campbells commented on #4552
@ebd2 - I'm aware of the TD driver. The "issue" is that persons who use Presto on AWS EMR or pull a copy from the Presto site are very likely to use the presto driver vs the one on the TD web site. So what is the plan for the TD contributions to roll into the driver from the Presto site?

[2016-12-20 16:57] dain commented on #6923
IIRC, this was part of a big fix for parallel outer joins with filter functions where we were getting incorrect results when you had called stateful functions.  If the position tracking needs to have concurrent access also, would need to do something like have each reader track positions separately and then merge them together in the end.

[2016-12-20 17:34] dain commented on #4552
The TD driver contains proprietary code licensed from a third party, so they can't contribute the code to Presto.

What I would like to have is a test suite that can verify any JDBC (or ODBC) driver for Presto, so that we can assure they all return consistent results for metadata (so people don't have to code to a particular implementation).

[2016-12-20 18:21] brian-rickman commented on #4552
Teradata has contributed com.facebook.presto.tests.jdbc.JdbcTests to the community.  This test covers:

connection.getMetaData().getSchemas()
connection.getMetaData().getTables()
connection.getMetaData().getColumns()
connection.getMetaData().getTableTypes()

in a way that is intended to be driver independent.  We will be expanding this test over time, but would welcome contributions from the commu

[2016-12-20 22:39] the6campbells opened #6932 "incorrect number of rows returned by quantified predicate"
presto release 0.160

query using a quantified predicate is not returning the expected number of rows

in the following example, tjoin2 has four rows and derived table returns 0 rows

query expected to return 4 rows but returns 0 rows

select 1  from postgres_cert.public.tjoin2 where 5 > all
	( select 1 from postgres_cert.public.tjoin1 where 1 = 0 )

[2016-12-20 22:46] the6campbells opened #6933 "varchar projected from postgres or mysql described by Presto JDBC driver as National varchar"
Presto 0.160.

Underlying database(s) using a varchar type.

ResultSet returned by Presto JDBC driver describing the column type with enum -16 and not 12

select cvchar from mysql_cert.dbcert.tvchar

ResultSetMetadata returned by the JDBC driver

ColumnIndex	getColumnName	getColumnTypeName	getPrecision	getScale	isNullable	getTableName	getSchemaName	getCatalogName	getColumnClassName	getColumnDispla

[2016-12-20 22:54] electrum opened #6934 "Retain query source information for runtime errors"
When a runtime error occurs, such as a cast failure, it would be helpful to know the location in the original query.

[2016-12-20 23:28] martint commented on #5085
This is now supported.

[2016-12-20 23:28] #5085 closed

[2016-12-21 00:30] akshatnair commented on #6932
this query seems to be incorrect as well, it should return 0 rows
`select regionkey from region where 5 > ALL (select 0 union select null);`
 regionkey
-----------
         0
         1
         2
         3
         4

[2016-12-21 00:34] #6875 closed

[2016-12-21 02:23] #6915 closed

[2016-12-21 04:13] martint opened #6935 "Incorrect results for UNION ALL query with duplicate column names"
This query:

[code]

produces incorrect results:

[code]

Plan:

[code]

This is probably another bug in UnaliasSymbolReferences.

[2016-12-21 05:27] martint commented on #6935
It used to work correctly in 0.157. This commit in 0.158 introduced a planning failure for that and other kinds of queries: 32ba4feb8c9fec5a2e04a982b58bb5de3947e445. This commit in 0.160 fixed the planning failure but introduce this issue: 1dd5c88150ddf13c6b9f25a21778a78b2784ecae.

[2016-12-21 05:30] martint commented on #6935
cc @sopel39

[2016-12-21 05:33] wenleix commented on #5670
Hi @cberner , I also read the code, and if I didn't understand wrong, the basic flow for partial aggregation is:

- Keep adding pages until `AggregationBuilder` is full (by asserting it needs more input: [code](https://github.com/prestodb/presto/blob/e1023ddd5402297d82ba07027bce1464a64d2996/presto-main/src/main/java/com/facebook/presto/operator/HashAggregationOperator.java#L342) . The memory is up

[2016-12-21 06:02] wyukawa opened #6936 "IndexOutOfBoundsException occurred in presto 0.161"
Hi

I use presto 0.161 + jdk1.8.0_101 + HDP 2.1 + hive connector + CentOS 6.5.

The following error occurred.
But if I reran, it succeeded.
So I guess this is a problem related to concurrency.

presto query
[code]

log
[code]

[2016-12-21 06:06] #5699 closed

[2016-12-21 06:50] kokosing commented on #6932
CC: @ArturGajowy Seems to be related to https://github.com/prestodb/presto/issues/6653

[2016-12-21 07:02] sopel39 commented on #6935
The issue is caused by:
https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java#L1131
which adds layout consisting of output symbols. Therefore in:
https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java#L1144
a union node is created whic

[2016-12-21 07:20] sopel39 commented on #6935
Ok. I think it's trivial to fix. I will publish PR in a moment

[2016-12-21 07:27] kokosing opened #6938 "Partial aggregation push down optimizer rewrite"
For plans for queries like
[code]

can be rewritten  from
[code]
to
[code]

Thanks to above rewrite join build table is expected to be smaller and hence there is expectation that query should be executed faster.

Any thoughts? Is all the above correct? Am I missed something?

CC: @rschlussel @pnowojski

[2016-12-21 07:35] kokosing commented on #6938
It may affect subqueries performance as it is typical that subquery rewrites adds aggregation on top of join.

[2016-12-21 11:38] pnowojski commented on #6938
I think this can not be a general rule that can be applied every time. It heavily depends on number of distinct values for key column in both probe and build table.

Generally speaking IMO this should wait for betters stats and cost calculator, so that rewriter could intelligently choose between those two plans.

[2016-12-21 11:42] ray6080 commented on #6915
To use Hadoop related jars, you can add this dependency into maven
com.facebook.presto.hadoop:hadoop-apache2:0.9
instead of adding apache hadoop as dependency directly. I did this before and it seems everything is fine.

[2016-12-21 15:39] KBP-TDC commented on #6938
To generalize this case, I would add predicates since it would expose a trade-off of doing pre-aggregation early rather then after a potentially selective join. And, yes, as @pnowojski mentioned above, looking at NDVs of join keys and grouping keys is important.

[2016-12-21 15:43] KBP-TDC commented on #6923
Thanks @pnowojski for identifying the root cause.
@martint @dain Could you guys please offer some insights here?

[2016-12-21 16:35] ArturGajowy opened #6941 "Intermittent testCreateBucketedTable failure in presto-raptor connector"
The failure:

[code]

occurred in build https://travis-ci.org/Teradata/presto/builds/185808034 (now restarted and green).

Full build logs from both job runs can be seen [here](http://teradata-presto.s3.amazonaws.com/index.html?prefix=travis_build_artifacts/Teradata/presto/ag/sprint-46/6045/travis_jobs/), under the

[code]

directories.

[2016-12-21 17:06] dain commented on #6923
@KBP-TDC see above

[2016-12-21 17:58] the6campbells opened #6942 "inconsistency in decimal support"
connectors such as mysql and postgres both will describe/project decimal columns as double
meanwhile decimal type is listed as supported in presto and would be returned from both postgres and mysql drivers connecting directly

select  cdec, cast(1 as decimal(1))  from postgres_cert.public.tdec

ColumnIndex	getColumnName	getColumnTypeName	getPrecision	getScale	isNullable	getTableName	getSchemaName

[2016-12-21 18:08] the6campbells opened #6943 "cannot cast ( <sd> as char(n)) type"
Online documentation does not list a supported cast matrix.
https://prestodb.io/docs/current/functions/conversion.html

Attempting to cast to a fixed length character type fails
https://prestodb.io/docs/current/language/types.html

So unclear if the docs lack details or this is a target data type that cast should have supported

select  cint, cast ( cint as char(6)) from postgres_cert.public.tint

[2016-12-21 18:08] akshatnair commented on #6938
I think this is applicable to only some aggregate functions not all.

[2016-12-21 18:12] dain commented on #6942
The decimal type is very new and not fully enabled yet.  Once it is, we will update the other connectors to support it.

[2016-12-21 18:12] #6942 closed

[2016-12-21 18:34] rschlussel commented on #6938
I believe you can use partial aggregations for most of the aggregate functions, but they're not all as simple as count/sum/min/max.  e.g. there are parallel algorithms for standard deviation and variance, where you compute partial aggregations on the various bits, but it's not just computing the stddev on the subset and combining those values.

[2016-12-21 18:38] the6campbells commented on #6942
might help if the release notes/docs could identify where support is partial as new types are introduced.

i.e. https://prestodb.io/docs/current/language/types.html and has a general statement re connectors and the connector pages themselves say nothing specific i.e. https://prestodb.io/docs/current/connector/mysql.html

[2016-12-21 21:05] sopel39 opened #6944 "Similar subplans extraction and merging of similar subqueries"
We would like to add basic support for reusing similar subplans.
Initially the support would be for `ApplyNodes` which have similar subqueries.
Many queries also have similar subqueries. For instance TPCH query 21 share similar subqueries in two `NOT EXIST/EXIST` correlated subqueries.
This would also enable us to optimize queries where same subquery is referenced
with different casts (e.g: `doubl

[2016-12-21 21:09] wenleix commented on #6664
@electrum : For a query exceeds the maximum length, should we just reject it, or should we just truncate it when logging it (which I assume it's in `QueryMonitor`? ).

A similar truncation for output stage json is done in #4936

[2016-12-21 21:25] #6935 closed

[2016-12-21 23:46] the6campbells opened #6945 "issues casting value expressions to TIME WITH TIME ZONE or TIMESTAMP WITH TIME ZONE"
https://prestodb.io/docs/current/language/types.html
https://prestodb.io/docs/current/functions/conversion.html

time with time zone and timestamp with time zone are not accepted target types for cast expression

i.e.

select  cast(c1 as time with time zone)  from ( values ('01:02:03.456 -05:00') ) T (c1)

Error: Query failed (#20161221_233527_00091_bvv36): line 1:9: Cannot cast varchar(19) to tim

[2016-12-21 23:49] wenleix commented on #6655
I can reproduce this issue by set my Mac language and locale to Polish and run
[code]
under `presto-resource-group-managers`.

The issue can be resolved by adding the following line into `setup` method of the test case:
[code]

[2016-12-22 03:34] wenleix commented on #4126
I am looking into this.

[2016-12-22 06:03] elonazoulay commented on #6747
The issue was that the finalQueryInfo listeners were not always being executed since the updateQueryInfo function was not always called after a possible transition to a terminal state.
This is the function which calls compareAndSet to the finalQueryInfo StateMachine inside QueryStateMachine.

The leak only occured on busy clusters where the QueryExecution::getQueryInfo function (which is the only

[2016-12-22 06:51] kokosing commented on #6944
Generally I agree and this is a big step forward!

Although I think the plan might need more work, or it could be more complicated than what you suggestedt. The paper you mentioned (Efficient Exploitation of Similar Subexpressions for Query Processing) also suggest to use a table signature and special index in order to find a common subplans efficiently. If we think that this mechanism could lever

[2016-12-22 07:11] wenleix commented on #4126
Similar to `AbstractMinMaxAggregationFunction` ([code](https://github.com/wenleix/presto/blob/df72703e935961e0bec73ef5417f104b520f514a/presto-main/src/main/java/com/facebook/presto/operator/aggregation/AbstractMinMaxAggregationFunction.java#L110), we can specialize state class for primitive types -- it has 5 different state classes. However, since `MinMaxBy`  need to store both key and value in st

[2016-12-22 07:26] wenleix commented on #4126
Since the memory issue is only with `GroupedMaxOrMinByState`, we can have `GroupedMinMaxByPartialState` (need to find a better name), and implement the 5 subclasses for partial state. And we can make `GroupedMaxOrMinByState` a generic class of key and value. The keys and values are going to be of the type `GroupedMinMaxByPartialState`.

Will check how to correctly initialize the new `GroupedMaxOrM

[2016-12-22 08:02] kokosing commented on #6944
I think it would be great to use the new iterative optimizer (https://github.com/prestodb/presto/pull/6700) here.

[2016-12-22 14:35] genomics-geek commented on #5934
I am having the same issue.  How did you overcome this? Did you change your schema or replace null values?

[2016-12-22 16:40] sopel39 commented on #6923
@dain Why synchronization is needed for visited position tracking? IIRC, join operators are partitioned, so they should mark different positions in boolean array. Concurrent, unsynchronized writes to Java array are OK according to: http://stackoverflow.com/questions/8978191/java-concurrency-writing-to-different-indexes-of-the-same-array.

CC: @losipiuk

[2016-12-22 17:56] pnowojski commented on #6923
@sopel39, @losipiuk it is needed. First of all, only build side is hash partitioned. Probe side is not, so every joining thread can write to all `visitedPositions` in all partitions.

Secondly, as far as I understand memory and thread model in Java, even if that wasn't the case, you still need to pass make those writes visible between threads. Quoting from your link:

If you have one thread writin

[2016-12-22 23:08] dain commented on #6923
@martint what is your take on the proposed synchronization above?

[2016-12-22 23:40] ggreg opened #6954 "Query optimizer generates incorrect plans for some logical expressions"
Reproduce with:
[code]

`(a=8 or b=2) and (a=8 or c=3)` should become `a=8 or (b=2 and c=3)`. The query optimizer turns it into `a=8 and (b=2 and c=3)`

[2016-12-23 02:00] ggreg commented on #6954
I added this test case to `testExtractsCommonPredicate`:

[code]

The result is:

[code]

[2016-12-23 02:06] ggreg commented on #6954
I added the test case below to `testExtractsCommonPredicate`:

[code]

And the output is:

[code]

[2016-12-23 02:29] elonazoulay commented on #6747
Here is the updated fix: #6948

[2016-12-23 02:39] the6campbells opened #6957 "JDBC driver should throw SQLFeatureNotSupportedException for PreparedStatement"
0.160 driver is throwing com.facebook.presto.jdbc.NotImplementedException which extends SQLNonTransientException.

Per JDBC API, it should be throwing SQLFeatureNotSupportedException which application code is designed to catch and handle.

https://docs.oracle.com/javase/6/docs/api/java/sql/Connection.html#prepareStatement(java.lang.String,%20java.lang.String[])

[2016-12-23 04:05] electrum commented on #6957
This is one of those areas where the specification is not clear:

* There are required methods such as `prepareStatement(String)` that are not specified to throw `SQLFeatureNotSupportedException`. For all of these, we throw our own `NotImplementedException`.
* Then there are optional methods such as `prepareStatement(String, String[])` which do throw `SQLFeatureNotSupportedException` as specified.

[2016-12-23 05:39] kokosing commented on #6954
@sopel39 can you take a look at this, I think you have a context with this part of optimizer

[2016-12-24 13:53] the6campbells opened #6963 "maximum aggregate of time type returning incorrect value"
Version: 0.160

The expected projected value is  23:59:30 and not the returned value of 12:00:00

select max( vtm.ctm ) from postgres_cert.public.vtm

source data
rnum	ctm
0	<null>
1	00:00:00
2	12:00:00
3	23:59:30

describe of table

Column	Type	Comment
rnum	integer
ctm	time

[2016-12-24 14:41] the6campbells opened #6964 "cannot cast ( <sd> as <interval-type>)"
Version: 0.160

Online documentation does not list a supported cast matrix.
https://prestodb.io/docs/current/functions/conversion.html

Attempting to cast to an interval type fails
https://prestodb.io/docs/current/language/types.html

i.e. select cast(1  as interval year) from postgres_cert.public.tversion
Error: Query failed (#20161224_143722_00066_ztdeg): line 1:28: extraneous input 'year' expec

[2016-12-24 22:04] the6campbells opened #6965 "$operator$GREATER_THAN_OR_EQUAL(bigint,integer):boolean not found"
Not sure if this is a variant of existing issues re subqueries.
[code]

[code]

[2016-12-24 22:11] the6campbells opened #6966 "unable to SUM or AVG on interval types"
Version: 0.160

Attempting to perform a SUM or AVG aggregate on an interval is not supported. Meanwhile MIN, MAX and COUNT supported.

https://prestodb.io/docs/current/functions/aggregate.html

   SELECT
   SUM(INTERVAL '31 12' DAY TO HOUR) AS "c1",
   SUM(INTERVAL '31 12:45:59.123000000' DAY TO SECOND) AS "c2",
   SUM(INTERVAL '2010-1' YEAR TO MONTH) AS "c3",
   AVG(INTERVAL '31 12' DAY TO HOUR)

[2016-12-26 08:37] aminalaee opened #6967 "Cassandra collector SELECT error"
I've defined the Cassandra catalog like this and Cassandra is running on the default port:

`connector.name=cassandra`
`cassandra.contact-points=localhost`

In Presto-Cli when I type the command DESCRIBE it works fine but my SELECT command fails because of Thrift connection refused error.

`presto:cmf> DESCRIBE stats;`

`     Column     |  Type   | Extra | Comment `
`----------------+---------+---

[2016-12-27 06:16] JasonBian commented on #6839
@nezihyigitbasi For your advise,I use parquet-tools to check the fileschema,I found that the schema is correct,but when I debug the code I got the HIVE_CURSOR_ERROR problem
`ERROR	SplitRunner-12-62	com.facebook.presto.execution.TaskExecutor	Error processing Split 20161226_081512_00011_3s7am.1.0-0 {path=hdfs://bi-test/data_result/user/dw_user_wide_table_gid/20161223/part-r-00796.gz.parquet, start=2

[2016-12-27 08:12] JasonBian commented on #6839
@nezihyigitbasi I've got the reason, the createParquetPageSource method of ParquetPageSourceFactory to change the query columns(gid, home_addr) to parquet.schema.Type list
`List<parquet.schema.Type> fields = columns.stream()
                    .filter(column -> column.getColumnType() == REGULAR)
                    .map(column -> getParquetType(column, fileSchema, useParquetColumnNames))

[2016-12-27 08:12] #6839 closed

[2016-12-27 18:46] martint commented on #6750
Fixed

[2016-12-27 18:46] #6750 closed

[2016-12-27 21:04] raghavsethi opened #6970 "GetTableLayout in HiveMetadata takes forever to create predicates"
Depending on the order of results from the metastore, we may end up doing a n^2 computation to create predicates. This appears to be introduced by 7ea59dd37eef00e1a2d47cecad9f1eef1b4a772a

If the metastore is unable to prune partitions for us, we can spend several minutes in the planning state.

Here's a representative jstack (code as of 0.161):

[code]

[2016-12-27 21:06] martint commented on #6932
Duplicate. Closing.

[2016-12-27 21:06] #6932 closed

[2016-12-27 22:12] bhgames opened #6971 "Running Presto on MapR"
Hello,

I tried installing Presto on a MapR VirtualBox single-node test cluster. When trying to select from a hive table, I got this:

Query 20161227_220444_00001_zk96j failed: No FileSystem for scheme: maprfs

I suppose I should not be surprised. Is there any support for MapRFS, or is there some kind of workaround where I can treat an NFS mountpoint to the MapRFS as a normal file system or someth

[2016-12-27 22:13] chappidm opened #6972 "HiveMetastore outputFormat should not be accessed from a null StorageFormat"
With this [commit](https://github.com/prestodb/presto/commit/5ea824694d0042da3b90b891fb61c33c4e783ffd) , starting Presto 0.152, we can't query System Connector's JDBC/HiveMetastore if Hive tables were created from StorageHandlers where INPUT/OUTPUT Formats may not exists.

Repo:
1. Create an external [table](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/EMRforDynamoDB.ExternalTab

[2016-12-27 23:39] raghavsethi commented on #6970
@martint @electrum here's a test that repros it: https://gist.github.com/raghavsethi/90eeb3c014075687114124c4af118082

[2016-12-28 01:14] electrum opened #6973 "HIVE_COLUMN_ORDER_MISMATCH should be USER_ERROR"
This is in `HiveErrorCode`

[2016-12-28 01:19] akshatnair commented on #6971
Currently there is no support for MapR. Check this pull request that was submitted sometime ago https://github.com/prestodb/presto/pull/1669
Work is in progress to get Presto working on MapR

[2016-12-28 01:19] #6971 closed

[2016-12-28 14:27] ArturGajowy commented on #6622
# Problem description

The issue stems from how `HashSemiJoinOperator` handles empty tables, or - more precisely - from the fact that it doesn't and can't so far differentiate between empty and non-empty build tables. The relevant part of code is here:

[code]

The place to differentiate on build table emptiness would be line 3 in the above snippet. It may seem that we can use `channelSet.size() =

[2016-12-28 15:09] the6campbells opened #6975 "JDBC driver returns 0 for precision and displaysize for projected character value expressions"
Various vendors will return a precision and display size for the projected column and expression applied to the column. Presto is returning no precision or display size information for a column reference or character value expression.

**Presto JDBC**
ColumnIndex	getColumnName	getColumnTypeName	getPrecision	getScale	isNullable	getTableName	getSchemaName	getCatalogName	getColumnClassName	getColumnD

[2016-12-28 15:11] fiedukow commented on #6730
https://github.com/prestodb/presto/pull/6974

[2016-12-28 16:38] electrum commented on #6975
This sounds easy to fix. Do you have a test or example code so I can be sure I'm understanding the problem?

[2016-12-28 21:38] the6campbells commented on #6975
Something like the following should show the problem.

ResultSet rs = stmt.executeQuery("select c1, upper(c1) from ( values (cast('AAAAA' as char(5)))) t1 (c1) ");
ResultSetMetaData rsMd = rs.getMetaData();

	for (int i=1; i <= rsMd.getColumnCount(); i++){
			System.out.println(
					String.format(
							"Column Name:%s, display size:%d, type name:%s, type id:%d, precision:%d, scale:%d",
							r

[2016-12-29 20:22] martint opened #6981 "Bad error message when lamba expression doesn't match expected signature"
[code]

fails with:

[code]

[2016-12-29 20:26] martint opened #6982 "Bad error message when lambda expression references column in enclosing query"
[code]

Fails with:

[code]

[2016-12-29 20:30] martint commented on #6778
This is already fixed.

[2016-12-29 20:30] #6778 closed

[2016-12-29 23:24] the6campbells opened #6984 "in-list with decimal types fails with object.getClass (class java.lang.Long) and type.getJavaType (double) do not agree"
When the in-list has decimal values with different precision the exception is thrown

i.e. ok
SELECT
	c1,
	case when c1 in ( decimal '2.0', decimal '3.0'   ) then 'a' else 'b' end
FROM ( values ( cast (1 as double) ) ) T (c1)

i.e. fails
SELECT
	c1,
	case when c1 in ( decimal '2.0', decimal '30.0'   ) then 'a' else 'b' end
FROM ( values ( cast (1 as double) ) ) T (c1)

[2016-12-30 00:54] #6970 closed

[2016-12-30 13:35] ArturGajowy opened #6986 "Unknown types resulting in java.lang.IllegalArgumentException: Expected method MethodHandle(BlockState,Block) (...)"
`SELECT NULL < ALL (SELECT * FROM (VALUES NULL))` fails with
[code]

One might say it makes sense, because both sides have an unknown type. But so is the case with `SELECT NULL > NULL` and `SELECT NULL > MAX(x) FROM (VALUES NULL) t(x)` which both work.

[2016-12-30 16:09] rschlussel opened #6988 "Aggregate before join for simple correlated scalar subqueries"
Correlated scalar subqueries currently get rewritten to a left outer join followed by an aggregation with a grouping on all the columns from the left table, followed by a filter.   When the join condition is an equality join condition in conjunctive normal form, we can instead perform the aggregation before the join, and group by the join keys.

Example:
[code]

Currently
we would do
[code]

Inste

[2016-12-30 18:15] martint commented on #6653
Fixed.

[2016-12-30 18:15] #6653 closed

[2016-12-30 18:24] martint commented on #6622
The correctness issue is now "fixed" (queries now fail, instead). We should open a separate issue to track adding support for this feature.

[2016-12-30 18:24] #6622 closed

[2016-12-30 18:32] rschlussel commented on #6988
I didn't do rigorous benchmarking, but when I manually rewrote tpc-ds q1 this way , and ran it locally on 1gb, it went from ~4m to ~20s

[2016-12-30 19:01] kokosing commented on #6988
Wow! Nice speedup! Sounds like low hanging fruit. Would you like to
implement this? If no I can take care of this.

No comments from me, LGTM.

pt., 30.12.2016, 19:33 użytkownik Rebecca Schlussel <
notifications@github.com> napisał:

I didn't do rigorous benchmarking, but when I manually rewrote tpc-ds q1
this way , and ran it locally on 1gb, it went from ~4m to ~20s

—
You are receiving this beca

[2016-12-30 19:21] rschlussel commented on #6988
I can work on it

[2016-12-30 20:05] the6campbells opened #6989 "JDBC driver not handling escaped character in DatabaseMetadata methods"
If you call getColumns where the meta character underscore is escaped the Resultset will be empty.

Note there are two backslashes in the string in case the UI appears to only show one.

DatabaseMetadata.getColumns("acatalog", "aschema", "**tlja\\_jp**", "%");

Meanwhile, if you do not escape the name the Resultset is not empty.

DatabaseMetadata returns that the following character is supported t

[2016-12-30 21:56] sopel39 commented on #6988
In order to remove aggregation it's not enough that it groups on all the columns from the left table. Additionally rows from left table have be unique. Otherwise left rows cardinality would change.

[2016-12-30 22:11] kokosing commented on #6988
If it is just for subquery it should work. Also it does not need
AssignUniqueId node on the left side, which was used to preserve
cardinality. No grouping after join, means that cardinality will not be
affected.

pt., 30.12.2016, 22:56 użytkownik Karol Sobczak <notifications@github.com>
napisał:

[2016-12-31 05:41] kokosing commented on #6988
In regards of implementation, I think you should based your work on https://github.com/prestodb/presto/pull/6920, where there is a commit which extract `NodeDecorelator`  (see https://github.com/prestodb/presto/pull/6920/commits/ecf50cb503dd28ccea8b2712eee80fa1acdd41370. Alternatively you could just use this commit. Then your rewrite rule is going to be very similar to `TransformCorrelatedScalarAg

[2016-12-31 09:47] sopel39 commented on #6988
Yes, but you could easily make the rule work in generic case (e.g: when join left input is unique). To determine uniqueness you can just write some simple visitor (similar to the one that determines is plan is scalar).

`AssignUniqueId` can be removed by `PruneUnreferencedSymbols`, when `AssignUniqueId` is not needed anymore when top grouping is removed.

[2016-12-31 09:57] kokosing commented on #6988
+1

sob., 31.12.2016, 10:47 użytkownik Karol Sobczak <notifications@github.com>
napisał:

[2016-12-31 09:59] kokosing commented on #6988
We can do it two steeps - iteratively. First support in subquery, then make
it generic. Up to Rebecca.

sob., 31.12.2016, 10:57 użytkownik Grzegorz Kokosiński <
g.kokosinski@gmail.com> napisał:

[2016-12-31 11:40] ArturGajowy opened #6991 "Support NULLs as valid values in `value IN (%subquery%)`"
Follow up for #6622.

Currently we disallow NULLs on probe side of `HashSemiJoinOperator` because it's impossible to distinguish between an empty and non-empty build side in the operator and thus to return a correct result for `NULL in <empty subquery>`.

The challenges around the fix and fix proposals are described in #6622. One additional fix/incremental improvement approach - as proposed by @ko

[2017-01-02 08:39] kokosing commented on #6924
Closing this as https://github.com/prestodb/presto/pull/6928 is merged.

[2017-01-02 08:39] #6924 closed

[2017-01-02 08:43] kokosing commented on #6965
can you post `EXPLAIN` output for this query as well as schema of `"postgres_cert"."public"."tsupply"`?

[2017-01-02 14:52] the6campbells commented on #6965
Not using an actual  table will repro the issue

   SELECT 1
   FROM ( values (1) ) T1 (qty)
   WHERE WIDTH_BUCKET
   (
      "qty", 0, 1000, 5
   )

- Output[_col0] => [expr_7:integer]
        _col0 := expr_7
    - Project => [expr_7:integer]
            expr_7 := 1
        - InnerJoin[("width_bucket"(CAST("field" AS double), 0.0, 1000.0, BIGINT '5') >= "field_1")] => [field:integer, field_1:inte

[2017-01-03 08:06] kokosing commented on #6965
I tested that on current master and it works. What version do you use?

[code]

[2017-01-03 12:01] ArturGajowy commented on #6941
BUMP
[testCreateBucketedTable.fail.txt](https://github.com/prestodb/presto/files/682184/testCreateBucketedTable.fail.txt)

[2017-01-03 12:38] the6campbells commented on #6965
Presto 0.160

[2017-01-03 12:48] maciejgrzybek commented on #6170
Closing because https://github.com/prestodb/presto/pull/6602 is merged.

[2017-01-03 12:48] #6170 closed

[2017-01-03 13:18] findepi commented on #6710
I'll take this

[2017-01-03 13:26] davseitsev commented on #5688
We get a lot of such exceptions on 0.161

[2017-01-03 13:59] kokosing commented on #6965
So it should be fixed in 0.162 via https://github.com/prestodb/presto/commit/0d5699dcefefd5e21c0aaf2a9b1f6b1555cad647.

I am closing this, please reopen if it will occur in 0.162.

[2017-01-03 13:59] #6965 closed

[2017-01-04 06:45] kokosing commented on #6664
Trancated query is very likely to be invalid and for sure it has different semantic. So I prefer to fail in case of too long query.

In the commit you attached, json is not truncated, but it is not even set when it is too long.

[2017-01-04 07:08] kokosing commented on #6944
Here is a design doc about how to tackle this issue, any comments are welcome. Anyway we are not going to work on this right now. Maybe in Q2 or later.

https://docs.google.com/document/d/1k15d0EuY5Qxfxi75f78zRKFIj8YHgKEzH6X9wE-OQ00/edit#heading=h.guad6ep7evj0

[2017-01-04 19:30] #6954 closed

[2017-01-04 23:19] wenleix commented on #6664
Thank  you @kokosing . Yes we will failed the query if it's too long [here](https://github.com/prestodb/presto/pull/7001/commits/4366ee66bb4570a91faeccfc9b8d3eeff2050379#diff-d5a692e1563801a57b254966605ac929R293)

[code]

We log the truncated query in the failure information (`FailedQueryExecution`) so we can get some context what the query looks like :).

[2017-01-05 00:30] cberner commented on #6025
You'll need to modify DateTimeFunctions.dateFormat() and DateTimeFunctions.dateParse()

You can add tests to TestDateTimeFunctions.java

[2017-01-05 00:57] martint commented on #6550
@cberner, I don't think this is fixed, yet. Why did you close it?

[2017-01-05 01:05] martint commented on #6550
I just checked. It's still an issue:

[code]

[code]

[2017-01-05 10:26] FlxJaron opened #7005 "No support for wildcard in JSON Path"
The documentation at https://prestodb.io/docs/current/functions/json.html refers to http://goessner.net/articles/JsonPath/ which has a wildcard example.

[code]

When I change this to a specific index, it works.
[code]

[2017-01-05 15:36] bond- commented on #5100
I have presto version 1.6.0 and seeing this issue.

Query:
[code]

Stacktrace:
[code]

[2017-01-05 17:51] dabaitu commented on #6973
https://github.com/prestodb/presto/pull/7006

Starting with beginner tasks to get more involved in the community.

[2017-01-06 14:34] chorke opened #7010 "Ordering of joined tables on column with same name fails"
Query like [1] fails with message [2]. Removing one parameter from ORDER BY [3] returns correct result.
I am using PrestoDB of version 0.161.

[1]
SELECT a.intkey, b.intkey FROM SmallA AS a INNER JOIN SmallB AS b on a.intkey = b.intkey ORDER BY 1, 2;
[2]
Query 20170106_142052_04169_k4ss5 failed: Multiple entries with same key: intkey=ASC_NULLS_LAST and intkey=ASC_NULLS_LAST
[1]
SELECT a.intkey, b.

[2017-01-06 14:45] rishirraghav opened #7011 "Build error in presto-docs when building on Windows ('module' object has no attribute 'readlink')"
Hi,

I am trying to make the build of presto.

I have tried both the way -
1) with git clone
2) zipped (master) download

below is the build log  --- for approach 1) checked out with git
======================================================

[code]

[2017-01-06 15:34] ArturGajowy commented on #7011
Hi!

A couple of hints:
1. Always use the mvn wrapper, so instead of `mvn [options]` type `./mvnw [options]`
2. You're building on windows, which I'm not sure is supported by this project. Try building on linux (native or in a VM, like virtualbox)
3. If building on linux is not an option, you *might* be able to work around the build issue by excluding presto-docs module from the build (that is, if

[2017-01-06 15:51] rschlussel commented on #6988
@sopel39 How would we know in the general case if rows are unique when we don't enforce any constraints on the data?  The only other case I can think of is if the left side is the result of a group by.

[2017-01-06 16:06] martint commented on #7010
This is a duplicate of https://github.com/prestodb/presto/issues/6905. It will be fixed in the upcoming release (0.162).

[2017-01-06 16:06] #7010 closed

[2017-01-06 16:59] electrum commented on #7011
Presto is only supported on Linux x86-64 or Mac. There are lots of things that won't work on Windows.

[2017-01-06 16:59] #7011 closed

[2017-01-06 17:48] sopel39 commented on #6988
@rschlussel indeed group by and `AssignUniqueId` provide uniqueness trait.

[2017-01-06 17:52] sopel39 commented on #6988
@rschlussel There might also be other nodes (e.g: `set union`, `RowNumberNode`). You have to check node classes.

[2017-01-06 20:03] erichwang opened #7014 "Raptor system.tables throws NPE on non-existant table"
presto:baldr> SELECT * FROM raptor.system.tables WHERE table_name = 'does_not_exist';

Query 20170106_200150_59222_asbmw failed: null
java.lang.NullPointerException
	at com.facebook.presto.split.MappedPageSource.getNextPage(MappedPageSource.java:67)
	at com.facebook.presto.operator.ScanFilterAndProjectOperator.getOutput(ScanFilterAndProjectOperator.java:248)
	at com.facebook.presto.operator.Driver

[2017-01-06 22:07] cberner opened #7017 "Implement EXPLAIN (TYPE VALIDATE)"
Validates that the given statement is a validate SQL query, returns "TRUE" if it is a validate query, or may fail with an exception.

The implementation should be as cheap as possible, in particular we should avoid running any potentially expensive optimizations.

Example:
[code]

[code]

(exception, assuming "my_secret_table" is one that the user doesn't have access to)

[2017-01-06 22:10] martint commented on #7017
In fact, it should not do any planning or optimization. It should only run through the analyzer.

[2017-01-07 06:14] #6973 closed

[2017-01-07 07:33] hzzz823 opened #7021 "Error during analysis in GROUP BY query with array function filter"
i want to get non null element in groupby result
`select filter(array_agg(addr), x->x is not null) from table1 group by name`

and get error
`Query 20170107_072818_00132_w2332 failed: aggregation analysis not yet implemented for: com.facebook.presto.sql.tree.LambdaExpression
`

[2017-01-07 07:51] martint commented on #7021
I believe this is a duplicate of https://github.com/prestodb/presto/issues/6834. What version are you running? It should be fixed in 0.161.

[2017-01-07 07:57] hzzz823 commented on #7021
thank you! 😯

[2017-01-07 07:57] #7021 closed

[2017-01-08 17:13] swaranga commented on #2945
Any updates? Is this planned for any future releases. The way EmrFs does it is that they allow custom EncryptionMaterialsProvider to be specified at cluster creation time, using which they create the AmazonS3EncryptionClient. This allows clients to use any encryption solution and not just KMS based encryption.

[2017-01-08 18:27] electrum commented on #2945
This is supported now by setting `hive.s3.encryption-materials-provider`: https://prestodb.io/docs/current/connector/hive.html#s3-data-encryption

[2017-01-08 18:27] #2945 closed

[2017-01-09 03:01] hzzz823 opened #7023 "string function replace(string, search, replace)"
select name from table1;
result is:
1
2
3

but select replace('1', name, 'a') from table1;
result is:
a
1
1

and select replace('1', name) from table1;
result is:

1
1

why all column except column equals 'a' be replaced by '1'  ...🤔

[2017-01-09 03:18] martint commented on #7023
When you do `replace('1', name, 'a')`, you're asking to replace any occurrences of the value of the `name` column in the string `1` with the character `a`. So:

[code]

The form `replace('1', name)` is equivalent to `replace('1', name, '')`

[2017-01-09 03:18] #7023 closed

[2017-01-09 06:57] kokosing commented on #6681
I will to try to give it a shot.

[2017-01-09 08:59] ArchaB commented on #6912
Gentle Reminder

[2017-01-09 14:12] ArturGajowy commented on #6912
I think we'll need the full execution log to investigate that. Also the git revision used for building.

[2017-01-09 15:17] fiedukow commented on #6966
Implementation in review.

[2017-01-09 15:46] fiedukow commented on #6963
I'll try to reproduce that.

[2017-01-09 17:45] cberner commented on #6550
Oh sorry, I saw that https://github.com/prestodb/presto/pull/6706 was closed, but didn't scroll down to see that it was abandoned, not merged

[2017-01-09 20:45] billonahill opened #7027 "Support ability to run the UI and JMX api on different ports"
Presto currently uses a single port for all HTTP communications (e.g. UI, JMX, client API, coordination, query execution). It would be helpful to be able to be able to configure the use of different ports to have more granular control of firewall settings.

[2017-01-09 23:36] martint opened #7030 "Bad error message for correlated subquery"
This query:

[code]

Fails with
[code]

[2017-01-10 06:28] kokosing commented on #6681
CC: @ArturGajowy

[2017-01-10 11:07] kokosing commented on #6910
Another issue is that connector classes are not loaded in isolated class loaders, so it is not possible to test a connector which have dependencies conflict with presto-main. See https://github.com/prestodb/presto/pull/6995

[2017-01-10 11:44] fiedukow commented on #6966
Closing as duplicate of:
#4417
See discussion in:
#7026
and
#4456

[2017-01-10 11:44] #6966 closed

[2017-01-10 12:53] fiedukow commented on #6730
Merged to master, thanks @martint.
Closing.

[2017-01-10 12:53] #6730 closed

[2017-01-10 15:40] findepi commented on #7030
As far as I can tell, the problem is in how we handle scopes in
`StatementAnalyzer#visitQuerySpecification`. Because `GROUP BY` clause can reference select expression (e.g. `GROUP BY 1`), we process those before analyzing grouping expressions. However, when analyzing select expressions we should already know the grouping expressions. If there is grouping, the columns from the source (table) should

[2017-01-10 18:10] geraint0923 commented on #6545
@hellium01 is working on this.

[2017-01-10 18:33] pnowojski commented on #6923
Fixed

[2017-01-10 18:33] #6923 closed

[2017-01-10 18:52] brian-rickman opened #7035 "Presto can't execute simple Tableau "custom sql" query that contains count(*)"
I’m playing with Tableau, and when I use the “custom sql” feature it wraps my query as a sub-select with a limit…

Custom SQL:
[code]

Tableau generated query:
[code]

I am running Presto 0.162 with Teradata patches.

Presto error:
[code]

Further research uncovered what I think is a Presto bug: the generated name for the inner query’s aggregation is not available to the outer query.

[code]

[2017-01-10 18:55] haozhun opened #7036 "Try/Lambda fails codegen when two identical instances appears in a single expression"
These following queries fails:

[code]

Stack trace:

[code]

[2017-01-10 19:59] maciejgrzybek commented on #6638
@kokosing:
shouldn't
[code]
be:
[code]

(`o_custkey` -> `o_totalprice` in projection of subquery)
?

[2017-01-11 07:49] kokosing commented on #6638
Yes. You are right there is a mistake in the queries above.

But I am not sure if we could use this rewrite with non equality correlated predicate - `v.o_totalprice <= c_acctbal`. It seems that is will affect the cardinality of results.

@KBP-TDC  Am I right? If so then we have a mistake in `https://teraworks.teradata.com/pages/viewpage.action?spaceKey=TC4HSWARM&title=Subquery+Rewrites`

If this r

[2017-01-11 07:52] #6638 closed

[2017-01-11 08:17] kokosing commented on #7035
I tested the tableau generated query on postgres and it does not work there either:

[code]

Can you please test the tableau custom query with connection to postgres, to see if it works and if so what query is generated for postgres?

Anyway, the generated names in postgress are accessible by outer queries, see:
[code]

I think it would nice to have it working in Presto.

It might be possible that

[2017-01-11 08:57] Anwaar26 opened #7047 "Error while selecting data from hive"
I have installed latest version of the presto,0.162 on cluster and tried to access remote hadoop cluster
running HDP 2.3.2 .I am able to get Hive table details , definition etc but while selection data from hive
table using a simple select "Select * from datelist.txt " i am getting below exception

Query 20170111_081938_00003_ngim9 failed: Could not obtain block: BP-901402627-39.7.48.2-14528393460

[2017-01-11 09:09] kokosing commented on #7030
SQL allows to express the same thing in several forms. In this case user can:
[code]
and
[code]
If I understand it correctly both of them have the same semantic. If so then I think it would be better for planner in such case to support only one form of it (no need for strange `IF`, and `SemanticAnalyzer will be less complicated).

That means I vote for option 2. But I not an expert of SQL, so spec

[2017-01-11 15:36] FlxJaron commented on #7005
@martint I see that you responded to similar tickets, do you have time to look into this?

[2017-01-11 15:55] brian-rickman commented on #7035
Connecting Tableau to Postgres and using the custom query `select count(*) from test` works fine.  Will post the generated query when I figure out how to get the PG log from the docker container.

[2017-01-11 16:06] martint commented on #7035
Columns that are derived from complex expressions don't have a name, so they can't be referenced from the outer query. The name _col0 is not a real name. It's only created for display purposes.

[2017-01-11 16:10] electrum commented on #7005
Wildcards are not supported. We should update the documentation.

[2017-01-11 16:50] martint commented on #7030
Rewriting queries during analysis is an anti-pattern. It's problematic for a number of reasons:
- not everything can be rewritten to other syntactic forms. E.g., `SELECT * FROM t GROUP BY 1'`
- it's hard to relate errors in the rewritten form to the original query, which means we can't report precise errors to users.
- how far do you take it? Would `SELECT x FROM t GROUP BY t.x` be rewritten to `S

[2017-01-11 16:56] findepi commented on #7030
Thanks for the guidance. I will look into the "two-passes" option then.

On Jan 11, 2017 5:50 PM, "Martin Traverso" <notifications@github.com> wrote:

[2017-01-11 19:09] akshatnair commented on #7047
look like the same issue as https://github.com/prestodb/presto/issues/2467

[2017-01-11 19:59] elonazoulay opened #7049 "Add real time resource group info"
Add resource group info system table/endpoint so that current state of query queues can be seen in real time.

[2017-01-11 20:32] Anwaar26 commented on #7047
@akshatnair ..yes almost same...but that one was also not resolved?? or is there any solution to that..

[2017-01-11 20:49] electrum commented on #4820
Sorry for the late reply.

Something is really weird here. It seems that both the `presto-blackhole` module and `presto-jmx` modules contain `TpchPlugin` (neither should have it). Did you have any local modifications?

[2017-01-11 21:05] dakotareier opened #7051 "Predicate pushdown is not working for UNION ALL subquery"
Predicate pushdown does not appear to be working for queries that use a UNION ALL, an AGGREGATION function, and a FILTER.

That is, applying the filter in the inner, UNION ALL queries appears to be faster than applying the same filter against the outer query.

For example:

[code]

appears to have faster performance characteristics than this (equivalent) query:

[code]

Since the filter predicate

[2017-01-11 21:14] martint commented on #7051
As far as I can tell, this seems to work:

[code]

[code]

[2017-01-11 22:03] dakotareier commented on #7051
Nevermind. It looks like my actual queries were applying a filter on the result of a CASE statement in the inner queries. Although the results are identical, it's not feasible for Presto to predict that a priori. @martint's repro shows that the explain plan is correctly pushing down the predicate filter.

[2017-01-11 22:03] #7051 closed

[2017-01-11 22:09] electrum opened #7053 "Flaky TestMemoryManager.testClusterPools"
[code]

[code]

[2017-01-11 22:51] dain commented on #7047
"Could not obtain block" is an error that the HDFS client give us when it believes the data is "offline" because too many data nodes are down (or not responding).  I suggest you look into the HDFS system to validate if the file "/apps/hive/warehouse/date_list/datelist.txt" is available, or of data nodes are falling offline, or if your HDFS client config is incorrect.

[2017-01-12 06:24] maffan76 commented on #7047
Hi Dain,
From the same Presto node and hadoop cluster, when we get the data from Hadoop CLI it works but from Presto it doesn't. we are using the same config files for both.
Any other idea to how to further debug this issue?
Thanks in advance.

[2017-01-12 06:47] kokosing commented on #7030
Thank you, sounds reasonable.

[2017-01-12 06:54] kokosing commented on #7035
Would tableau work with Presto for you if you would use following query:
[code]

[2017-01-12 07:15] dain commented on #7047
I'd use a debugger and see what is different between the two call paths.  My guess is there is something different about the two setups.  Could be versions of the client jars, or a different timeout, or maybe local read short circuit setup.  Unfortunately, this is one if the things that works for almost everyone, and is something we don't have much influence on.

[2017-01-12 08:45] jnehmee commented on #7047
hi @dain

i can see that the path is path=hdfs://XYZHADOOP02/apps/hive/warehouse/date_list/datelist.txt from the error log on presto worker node :

ERROR   SplitRunner-9-46        com.facebook.presto.execution.TaskExecutor
Error processing Split 20170105_190721_00010_bjpqk.1.0-0 {path=hdfs://XYZHADOOP02/apps/hive/warehouse/date_list/datelist.txt,
start=0, length=23013, hosts=[c2data002.XYZ.corp, c

[2017-01-12 10:09] maffan76 commented on #7047
Can we reopen the issue? as its being marked closed.

[2017-01-12 11:19] FlxJaron commented on #7005
@electrum Thank you for your reply. What would it take to support it? We might want to implement it ourself.

[2017-01-12 11:23] ArturGajowy commented on #7005
I looked into offloading path resolving to https://github.com/jayway/JsonPath, but there seems to be a 1.5x performance penalty. If we're willing to accept that for the added benefit of broader JsonPath support and less maintainance burden, I'll gladly take this one.

Also, we could introduce a feature toggle for the JsonPath engine used - then the user gets to choose: performance or completeness.

[2017-01-12 11:27] ArturGajowy commented on #7005
@electrum what's your opinion?

[2017-01-12 11:33] ArturGajowy commented on #6941
Duplicate of #6434

[2017-01-12 11:33] #6941 closed

[2017-01-12 11:39] RobinUS2 commented on #7005
I like that idea @ArturGajowy , feature toggle is okay, even nicer would be to make it dynamic (e.g. if path contains * use JsonPath else take current implementation). So we don't degrade performance but do have the benefits.

[2017-01-12 11:51] nezihyigitbasi commented on #7005
I put up a PR with the jayway library some time ago (#5882) and we have been using it in prod for a while.

[2017-01-12 14:29] brian-rickman commented on #7035
Yes, Tableau works fine with Presto as long as an alias is assigned to the aggregate column.

[2017-01-12 15:03] eklicious opened #7057 "Unable to escape equal sign (=) in like statement"
The following statements do not work.

SELECT * FROM [table] WHERE SEGMENT like '%= $75K'
SELECT * FROM [table] WHERE SEGMENT like '%\\= $75K' ESCAPE '\\'

Strangely, this statement also doesn't work when I remove the equal sign and leave the blank space.
SELECT * FROM [table] WHERE SEGMENT like '% $75K'

But this statement does work when I remove the equal sign and blank space.
SELECT * FROM [tab

[2017-01-12 15:56] rachmaninovquartet commented on #5742
Hi @flolas
Did you ever resolve this? I'm interested in connecting to greenplum as well.

[2017-01-12 16:11] martint opened #7058 "FILTER should not be allowed for non-aggregates"
This query:

[code]

should fail, since `array_sort` is not an aggregation function. The query completes successfully, but produces incorrect results.

[2017-01-12 18:15] electrum commented on #7005
I think we should implement it ourselves using Jackson. JSON functions are used heavily and are already very expensive, so we shouldn't make it worse.

[2017-01-12 19:48] dain commented on #7005
Another issue is we need to assure the function is backwards compatible with the current one.

[2017-01-12 20:37] AlekseiS opened #7061 "Improve performance of getting results by parallelizing download"
Currently all query results are downloaded via a single channel from a coordinator to a client. As a result, queries downloading large amounts of data can take a long time because of the limited throughput. Also, it adds pressure on the coordinator.
The goal of this task is to increase download throughput by downloading results in parallel from worker nodes.

[2017-01-12 20:38] AlekseiS commented on #7061
Implement ArbitraryOutputBuffer which will be used by the last shuffle stage: https://github.com/prestodb/presto/pull/7029

[2017-01-12 20:59] dain commented on #7057
The equals sign (`=`) is not a special character in a like expression and does not need to be escaped.   Regardless both version work:
[code]

[2017-01-12 20:59] #7057 closed

[2017-01-12 23:59] ggreg opened #7062 "Raptor: prevent nodes from filling-up when balancing"
tl;dr Raptor does not know about non-assigned buckets and assigning buckets to a node that was non-available and then became available may lead to filling up its disk.

Let's consider a node becomes unavailable long enough to have all its buckets assigned to other nodes that are available (either when `SELECT` queries need to access its buckets or after the `BucketBalancer` has run). A good exampl

[2017-01-13 00:25] ggreg commented on #7062
I'll add the scanning of non-assigned shards in the `@PostConstruct` method to mark non-assigned shards and make the cleaner delete them.

[2017-01-13 01:20] martint opened #7064 "Planning failure for correlated subquery"
This query:

[code]

fails during planning with:

[code]

[2017-01-13 01:34] martint commented on #7064
cc @sopel39, @kokosing

[2017-01-13 05:23] martint opened #7066 "Support "array by table subquery" constructor"
From the spec:

[code]

`ET` be the declared type of the column in the result of `<query expression>`.

cardinality equal to the implementation-defined maximum cardinality IMDC for such array types.

In simple terms,

[code]

is equivalent to

[code]

[2017-01-13 05:46] vnatrajan commented on #1285
sudo restart presto-server   -> invoke on each node

[2017-01-13 06:50] kokosing commented on #7066
@findepi it is nice subquery related task, maybe you would like to take it next sprint?

[2017-01-13 16:07] martint opened #7068 "NPE when committing transaction in Hive connector"
[code]

[2017-01-13 16:28] martint opened #7069 "Overflow in distributeIfPossible"
[code]

fails with:

[code]

It should skip the transformation and continue, instead.

[2017-01-13 16:32] martint opened #7070 "Exponential behavior in SimplifyExpressions"
This query never completes:

[code]

The issue is in this code in SimplifyExpressions:

[code]

The result of multiplyExact is 2^30 (there are 30 terms of size 2). The final multiply by `subPredicates.size()` causes an overflow and makes `newBaseExpressions` negative. This makes the following check fail and the code proceeds to compute the cartesian product of the 30 terms:

[code]

[2017-01-13 17:52] #7064 closed

[2017-01-13 18:08] #7069 closed

[2017-01-13 18:08] #7070 closed

[2017-01-13 18:17] #7036 closed

[2017-01-13 18:37] martint opened #7072 "Planning failure for dependent selective aggregates"
[code]

fails with:

[code]

[2017-01-13 18:45] #7058 closed

[2017-01-13 19:06] haozhun commented on #7068
The issue here is that `fileSystem.listStatus(directory)` may return null when the directory does not exist. I will put up a pull request to fix it.

The issue may result in incomplete cleanup of temporary directories.

[2017-01-13 21:08] #7072 closed

[2017-01-14 00:45] martint opened #7081 "Add hit/miss metrics for compiled code caches"
I suspect that the caches for compiled code are not very effective for large, varied workloads. We should add cache hit/miss metrics and expose them via JMX to be able to test this hypothesis.

Classes that need to be instrumented: ExpressionCompiler, JoinCompiler, JoinFilterFunctionCompiler, JoinProbeCompiler, OrderingCompiler

[2017-01-14 23:03] dain opened #7096 "AbstractTestHiveClient.testViewCreation leaks tables"
It looks like testViewCreation creates a view that can't be dropped `Invalid view JSON: test data`

[2017-01-15 06:29] jnehmee commented on #7047
i forget to mention that  we installed presto on the cluster locally and the hive connector works perfectly  , but when we moved presto to remote cluster we had the above issue

[2017-01-16 09:19] findepi opened #7098 "CLI: when last line had multiple statements, arrow up recalls last command instead of last line"
### steps to reproduce

* In CLI, run two statements in one line, e.g. `SET SESSION reorder_joins=true; SET SESSION join_distribution_type = 'automatic';`
* press arrow up `↑` key

### expected

* last line recalled, so that I can edit it and re-execute

### observed

* last statement recalled

[2017-01-16 09:25] miniway commented on #5688
I might be wrong but this could happen by trying to `freeMemory` at the same time by `DriverContext.failed at Driver.processInternal()` and `OperatorContext.setMemoryReservation(0) at Driver.destroyIfNecessary()`at a failed task,

A severe side effect of this error is it could screw up the MemoryPool and make cluster logically out-of-memory. We see cases that MemoryPool contains entries of finishe

[2017-01-16 09:32] miniway commented on #5688
I think it would safe to remove https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/operator/DriverContext.java#L179

[2017-01-16 13:05] electrum commented on #7098
This is intended behavior. We save each command as a separate history item. This allows easily repeating a previous query, even if it was originally on multiple lines.

[2017-01-16 14:16] findepi commented on #7098
@electrum, sure for multi-line statements recalling whole last statement would be _the_ expected behavior.
The case I meant was when the line contains multiple statements, all within that line.

Compare the CLI's behavior to what bash shows after `echo 1; echo 2; <ENTER><UP>`. Or postgresql's CLI after `select 1; select 2; <ENTER><UP>`.

[2017-01-16 15:03] electrum commented on #7098
What happens if you have a multi line statement and the last line contains multiple statements? The only consistent behavior is to put statements in the history, not lines.

[2017-01-16 15:06] findepi commented on #7098
Well, I am not the one to judge. I think there should be some kind of 'established practice for CLIs' that should be followed.

[2017-01-16 15:31] electrum commented on #7098
The alternative is to put the original lines into the history as a single item when the first complete statement is found. This is what psql seems to do. However, I'm not sure jline supports that. If it does, that could be an improvement over the current behavior.

[2017-01-16 19:06] nezihyigitbasi commented on #7049
Part of #6483 adds a REST endpoint that adds support for this.

[2017-01-17 13:08] gauravrathi92 opened #7103 "Persto 0.157.1 in EMR is facing issues regarding client side encryption AWS KMS Master Key"
I am getting NULL values in all the rows in result set in presto client in using s3 partitions.

1. Data is stored in the S3 in the encripted form(client side encription) using AWS KMS master key.
2. EMR Hive is able to decrypt the S3 data on select query.
3. We have done below listed settings in the Presto.hive.properties but it is returning null values(screenshot is attached) against all the row

[2017-01-17 13:24] pwistrand commented on #4082
Is this moving forward? We have a similar issue with the postgresql interval data type not being supported.

[2017-01-17 14:48] ArturGajowy commented on #7103
@gauravrathi92 I'm not sure if you noticed, but you've just shown the world your s3 access and secret keys. You probably should change them ASAP.

[2017-01-17 14:49] ArturGajowy commented on #7103
Also, for the future, text description is preferred to images when filing issues.

[2017-01-17 15:36] albertocsm commented on #4082
#4174 that addresses the problem has been reviewed and some changes were suggested.
to be honest, i still haven't found the strength to shave that yak...

[2017-01-17 15:42] ArturGajowy commented on #6963
@fiedukow did you manage? :)

[2017-01-17 16:17] gauravrathi92 commented on #7103
Thanks for your advice.

But I have listed the dummy credentials.
These will not work.

I have listed them for exact reference.

Waiting for the assistance on the issue.

Thanks

Gaurav
On 17-Jan-2017 8:19 pm, "Artur Gajowy" <notifications@github.com> wrote:

[2017-01-17 16:20] maciejgrzybek commented on #7103
All right, then I'm restoring those screen shots.

[2017-01-17 16:20] gauravrathi92 commented on #7103
Thanks

[2017-01-17 21:34] martint opened #7111 "Incorrect results for DISTINCT + LIMIT over inequality JOIN"
This query:

[code]

Incorrectly produces:

[code]

The plan seems to be missing a projection (or output pruning) for the join below the DistinctLimit node:

[code]

[2017-01-17 21:48] martint commented on #7111
The bug appears to be in AddExchanges:

Before:
[code]

After:
[code]

[2017-01-17 22:48] martint commented on #7111
I've bisected it to 80adc788f9d3518f59fb41011c5c4a7480ffa061, but I believe the actual issue was introduced by 2e9e968df23e6b9b1576e0fee9883c751231bc70.

cc @sopel39

[2017-01-18 00:07] electrum commented on #6910
A problem addressed by neither `testng` or `junit5` is how to do a test matrix. Today, we do it with inheritance, but that requires a child class for each matrix combination, so we end up with `N * X * Y * Z * ...` test classes (where `N` is the number of abstract base classes).

[2017-01-18 00:10] electrum commented on #6910
Something that does work today is to click on a test method in the IDE and select which child class to use to run the test. This feature is very important for developing.

[2017-01-18 07:46] thezhangwei commented on #6025
Hi, sorry for the late response.
It seems like [DateTimeFunctions](https://github.com/prestodb/presto/blob/f4884849f646148f3deebd0d4f3549c9124dcb9f/presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java#L975) is very tightly coupled with [Joda-time](https://github.com/JodaOrg/joda-time).
It pretty much just delegates everything to it, which doesn't support something l

[2017-01-18 08:00] sopel39 opened #7120 "Support UTF8 ORC bloom filters"
Bloom filters in ORC files used local encoding for String and Decimal columns. Hive community recognized the problem and updated ORC file spec with new type of Bloom filter (BLOOM_FILTER_UTF8, stream kind 8). It should be incorporated into Presto too.

Hive issue:
https://issues.apache.org/jira/browse/ORC-101
Hive PR:
https://github.com/apache/orc/pull/60

[2017-01-18 14:00] ArturGajowy commented on #6710
Fixed by #6998

[2017-01-18 14:00] #6710 closed

[2017-01-18 16:09] losipiuk opened #7122 "TIMESTAMP behaviour does not match sql standard"
It seems like meaning of `TIMESTAMP` and `TIMESTAMP WITH TIMEZONE` datatypes in Presto is totally not what is specified by SQL standard (and what other databases do).

This is my understanding of SQL 2003 standard (4.6.2 Datetimes):

`TIMESTAMP WITH TIMEZONE` represents absolute point in time. Typically databases store it internally as seconds since epoch in some fixed timezone (usually UTC). When

[2017-01-18 16:11] electrum commented on #6025
You need to create a custom `DateTimeParser` and `DateTimePrinter` and append them to `DateTimeFormatterBuilder` using `append(printer, parser)`.

[2017-01-18 16:18] martint commented on #7122
Indeed. We've been talking about this for a while in our team. It was due to misinterpretation of the spec.

We need to fix it, but haven't had the time to figure out what needs to be updated and the impact.

[2017-01-18 16:24] findepi commented on #7122
If there is/will be an `extract(hour from ts)` equivalent, it must be treat the `ts` using the right TZ.

[2017-01-18 16:24] losipiuk commented on #7122
We are happy to do the work. We just have settle how to handle the backward incompatibility this change implies.
Do we we want to have some transition-phase when old semantics can be enforced with configuration property (I guess it would be tricky and ugly to implement).
Or we can just change the semantics of types and do not care about backward compatibility.

[2017-01-18 16:26] electrum commented on #6025
http://stackoverflow.com/a/17236321

[2017-01-18 16:27] martint commented on #7122
Ideally, yes, but it depends on how ugly it gets.

[2017-01-18 16:44] losipiuk commented on #7122
We will look into that and try to figure out some implementation path.

[2017-01-18 17:54] haozhun commented on #7122
@losipiuk I agree with you that Timestamp w/o TZ in Presto is broken. I do NOT agree that Timestamp w TZ should behave like Instant. Below is an excerpt of something I wrote early last year that summarizes the current behavior and my understanding.

To summarize how things work today:

* Timestamp w TZ = DateTime in joda = ZonedDateTime in java8
* Timestamp w/o TZ = Instant in joda = Instant in ja

[2017-01-18 18:03] haozhun commented on #7122
I'm assigning this back to @losipiuk because we still need to clarify the semantics. I just talked to @martint and @dain. They agree with my understanding.

[2017-01-18 19:52] #7096 closed

[2017-01-18 20:57] drdee opened #7126 "Set LastAccessTime in Hive metastore when executing query"
The Hive Metastore has support for tracking when a table was accessed by storing a timestamp. Setting this information makes it easier to manage large datawarehouses and detect tables that are no longer being queried.

https://github.com/apache/hive/blob/master/ql/src/java/org/apache/hadoop/hive/ql/hooks/UpdateInputAccessTimeHook.java shows how it's used by Hive itself.

[2017-01-18 21:31] AlekseiS commented on #7014
Cannot reproduce it in the current master. Tried a unit test and local setup.

[2017-01-18 21:34] haozhun commented on #7122
@losipiuk, @dain, and I have agreement:
* `Timestamp with Timezone` in Presto is implemented properly today.
* `Timestamp` in Presto is like `Instant` in joda/jdk8 today. It should be like `ZonedDateTime` in joda/jdk8.
* Extracting hour from `2016-01-01 12:00:00 <TZ>` should return 12 no matter what <TZ> is put in template.
* As part of fixing `Timestamp` in Presto, we should remove implicit coerc

[2017-01-18 21:37] AlekseiS commented on #6000
Merged PR for automatically cleaning up transactions table.

[2017-01-18 21:37] #6000 closed

[2017-01-18 21:38] dain commented on #7126
Isn't this something the metastore should be doing?

[2017-01-19 03:00] raghavsethi opened #7130 "Shard organization sporadically fails with invalid schema exception"
[code]

[2017-01-19 03:05] raghavsethi commented on #7130
The table schema in MySQL has the column, and dropping and recreating the table does not change the error message.

[2017-01-19 03:06] #7017 closed

[2017-01-19 03:29] #7014 closed

[2017-01-19 10:56] fiedukow commented on #6963
Yes.
It seems to be caused by https://github.com/prestodb/presto/issues/7122
Closing as this new ticket describes underlying problem much better.

[2017-01-19 18:39] martint opened #7134 "Add function to compute edit distance between two strings"

[2017-01-19 18:53] the6campbells commented on #6963
The discussion thread #7122 seems to about Presto and timestamp and time zone semantics. Was not clear how that ties into incorrect aggregation of a TIME type. Please review and reopen as applicable.

[2017-01-19 19:30] martint commented on #7111
Fixed

[2017-01-19 19:30] #7111 closed

[2017-01-19 19:42] vaughn1010111 commented on #1865
After reading through various vendor docs on comment handling then testing out several scenarios in the presto CLI I think the original proposal from @dain  will work.

This is because presto (and other vendors) appear to completely ignore all characters inside the comment sequence. This means there is no support for nested comments but rather starting new comment sequences (i.e. "/*" or "--") whi

[2017-01-19 19:53] ggreg commented on #7062
Discussed offline with @electrum and @erichwang. We can leverage the `created_shards` and `shards` (i.e. *assigned*) metadata tables to only clean deleted files. The local shard cleaner would then check `shards` first, then `created_shards`, and finally `shards` again.

[2017-01-19 20:01] ggreg opened #7136 "Raptor: AssignmentLimiter incorrectly handles multiple unavailable nodes"
- [x] Fix injected `AssignmentLimiter` constructor that calls `this(nodeSupplier, ticker, config.getReassignmentDelay(), config.getReassignmentDelay());` rather than `this(nodeSupplier, ticker, config.getReassignmentDelay(), config.getReassignmentInterval());`
- [x] Ensure all offline nodes are marked as soon as they are discovered offline. With the current implementation, `AssignmentLimiter.check

[2017-01-19 20:17] dain commented on #1865
What about `SELECT 1 -- */, 2`?  That would turn into `SELECT 1 /* -- */,2 */` which, I think, would be an error?

[2017-01-19 20:34] electrum commented on #6158
@nahi Are you still working on this?

[2017-01-19 21:52] ggreg commented on #7136
cc @electrum @erichwang

[2017-01-19 22:04] bdm123 opened #7138 "CTE with INSERT"
Is there support for the following HiveQL statement or similar without creating intermediate tables?

WITH q1 AS (SELECT key, value FROM src WHERE key = '5')
   FROM q1 INSERT INTO s1 SELECT *;

[2017-01-19 22:11] martint commented on #7138
Yes, but the syntax would be:

[code]

[2017-01-19 22:12] #7138 closed

[2017-01-19 23:16] haozhun commented on #7138
INSERT INTO s1
WITH q1 AS (SELECT key, value FROM src WHERE key = '5')
SELECT * FROM q1;

In addition, I would like to point out that Presto does not materialize CTEs right now. It is subject to change.

From: bdm123 <notifications@github.com>
Reply-To: prestodb/presto <reply@reply.github.com>
Date: Thursday, January 19, 2017 at 2:04 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: Subscribe

[2017-01-19 23:21] martint opened #7140 "Planning failure when lambda appears in select and group by clause"
[code]

fails with:

[code]

[2017-01-20 00:32] ggreg opened #7141 "Raptor: expose restful endpoint to control background services"
We experienced cases when we needed to trigger Raptor background services such as compaction and local shard cleaning with Raptor. All these services run at fixed interval. The goal here is to provide an interface to control them from external processes.

One way to implement that, is through restful endpoint for each service among:

- Local Shard Cleaner
- Backup Shard Cleaner
- Shard Compactor
-

[2017-01-20 00:32] ggreg commented on #7141
cc @electrum @erichwang @raghavsethi

[2017-01-20 00:39] martint commented on #7141
Presto doesn't currently have any mechanism to expose connector-specific functions via the HTTP interface. This is a much larger discussion than what the names of the endpoints should be.

One possible way to approach this is by exposing the data through system tables or connector-specific functions.

[2017-01-20 00:41] ggreg commented on #7141
System tables sound good as they are easy to query and discover. We also talked about using JMX.

[2017-01-20 00:58] martint opened #7142 "Incorrect results due to improper implicit coercion"
This query:

[code]

produces:

[code]

[code]

However, the following query produces a different result:

[code]

[code]

[code]

I believe the issue is that the presence of the `degrees(x)` call in the `ORDER BY` clause causes the type inferencer to decide that `x` needs to be coerced to `double` to satisfy the call, and it incorrectly applies the coercion to the `x` field in the `SELECT` clause

[2017-01-20 01:27] vaughn1010111 commented on #1865
Good catch! Thinking about this again, I could either escape/remove the closing C-style comment or I could simply drop double hyphen comment sequences from the "flattened" statement. I'll go ahead and drop double hyphen comments as @electrum suggested.

[2017-01-20 01:42] martint commented on #7142
It's due to the rewrite that happens during analysis of the `ORDER BY` clause (OrderByExpressionRewriter), where it inlines references to expressions in the `SELECT` clause by replacing them with references to those expressions. Since coercions are associated with nodes by identity, this causes the field in the `SELECT` expressions to inherit whatever coercions were applied in the `ORDER BY` claus

[2017-01-20 01:42] martint commented on #7142
cc @sopel39

[2017-01-20 12:40] kokosing opened #7146 "Migrate DesugaringOptimizer to iterative optimizer"

[2017-01-20 12:40] kokosing opened #7147 "Migrate CanonicalizeExpressions to iterative optimizer"

[2017-01-20 12:40] kokosing opened #7148 "Migrate SimplifyExpressions to iterative optimizer"

[2017-01-20 12:41] kokosing opened #7149 "Migrate UnaliasSymbolRefereces to iterative optimizer"

[2017-01-20 12:42] kokosing opened #7150 "Migrate PruneIdentityProjections to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7151 "Migrate SetFlatteningOptimizer to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7152 "Migrate ImplementIntersectAndExceptAsUnion to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7153 "Migrate LimitPushDown to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7154 "Migrate PruneUnreferencedOutputs to iterative optimizer"
Pruning of projects over leaf nodes is already implemented in PruneValuesColumns and PruneTableScanColumns.

There are at least two ways of implementing this:  either by continuing in the direction of those two rules, or by making a single rule that handles all node types.  A similar choice faces the migration of predicate pushdown in https://github.com/prestodb/presto/pull/7377

[2017-01-20 12:45] kokosing opened #7155 "Migrate MergeProjections to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7156 "Migrate TransformExistsApplyToScalarApply to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7157 "Migrate TransformQuantifiedComparisonApplyToScalarApply to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7158 "Migrate RemoveUnreferencedScalarInputApplyNodes to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7159 "Migrate TransformUncorrelatedInPredicateSubqueryToSemiJoin to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7160 "Migrate TransformUncorrelatedScalarToJoin to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7161 "Migrate TransformCorrelatedScalarAggregationToJoin to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7162 "Migrate PredicatePushDown to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7163 "Migrate MergeProjections to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7164 "Migrate SimplifyExpressions to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7165 "Migrate ProjectionPushDown to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7166 "Migrate UnaliasSymbolReferences to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7167 "Migrate PruneUnreferencedOutputs to iterative optimizer"

[2017-01-20 12:45] kokosing opened #7168 "Migrate IndexJoinOptimizer to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7169 "Migrate AddExchanges to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7170 "Migrate AddLocalExchanges to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7171 "Migrate BeginTableWrite to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7172 "Migrate EliminateCrossJoins to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7173 "Migrate EmptyDeleteOptimizer to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7174 "Migrate HashGenerationOptimizer to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7175 "Migrate MergeWindows to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7176 "Migrate MetadataDeleteOptimizer to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7177 "Migrate MetadataQueryOptimizer to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7178 "Migrate OptimizeMixedDistinctAggregations to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7179 "Migrate PartialAggregationPushDown to iterative optimizer"