[2017-01-20 12:59] kokosing opened #7180 "Migrate PickLayout to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7181 "Migrate ProjectionPushDown to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7182 "Migrate PushTableWriteThroughUnion to iterative optimizer"

[2017-01-20 12:59] kokosing opened #7183 "Migrate ReorderWindows to iterative optimizer"

[2017-01-20 13:01] #7164 closed

[2017-01-20 13:01] kokosing commented on #7164
Duplicate of #7148

[2017-01-20 13:03] kokosing commented on #7166
Duplicate of #7149

[2017-01-20 13:03] #7166 closed

[2017-01-20 13:06] kokosing commented on #7167
Duplicate of #7154

[2017-01-20 13:06] #7167 closed

[2017-01-20 13:07] kokosing commented on #7163
Duplicate #7155

[2017-01-20 13:07] #7163 closed

[2017-01-20 13:08] kokosing commented on #7181
Duplicate #7165

[2017-01-20 13:08] #7181 closed

[2017-01-20 17:36] martint commented on #7155
https://github.com/prestodb/presto/pull/7094

[2017-01-20 17:37] martint commented on #7151
https://github.com/prestodb/presto/pull/7089

[2017-01-20 17:39] martint commented on #7150
https://github.com/prestodb/presto/pull/7088

[2017-01-20 18:32] swaranga opened #7186 "Presto doesn't seem to be able to read encrypted Parquet data"
I am facing an issue where I am unable to query a Hive table whose data lies in S3. The data is encrypted with client side encryption with a custom material set. I am able to query the data in Hive (using the same encryption materials provider) but the same query fails in Presto with the below exception:

[code]

I am using EMR. Details:

Emr Release Label: emr-5.2.1
Hive version: 2.1.0
Presto ver

[2017-01-20 21:19] zhenxiao opened #7187 "Port ORC tests for complex types to new Parquet Reader"

[2017-01-20 21:21] zhenxiao opened #7188 "New Parquet Reader code refactoring"
Use LazyBlock for all blocks in ParquetPageSource
Use getDescriptor(fileSchema, requestedSchema, path).isPresent() to check whether complex type exists in Parquet file
Move complex type switch if/else block inside of ParquetReader and change its interface to have only a readBlock (ColumnDescriptor, Type) method.

[2017-01-20 21:59] petroav opened #7189 "Add support for MapR"
For background on previous work see https://github.com/prestodb/presto/pull/1658 and https://github.com/prestodb/presto/pull/1669.

This issue tracks the work needed to get MapR support for Presto on par with that for HDP and CDH. We plan on bundling and shading the MapR dependencies like we do for other Hadoop distros. For this purpose I've created this project: https://github.com/Teradata/presto

[2017-01-20 21:59] petroav commented on #6790
Closing this in favor of https://github.com/prestodb/presto/issues/7189.

[2017-01-20 21:59] #6790 closed

[2017-01-20 23:45] raghavsethi commented on #7130
This was due to invalid local state.

[2017-01-20 23:45] #7130 closed

[2017-01-21 22:49] electrum opened #7201 "Flaky test TestMemoryManager.testClusterPools"
[code]

[2017-01-22 17:15] gouravbhalla22 opened #7202 "not able to run any command in Hadoop HA Cluster"
hi

i am getting below error while running any command.any idea.

[hadoop@namenode logs]$ hadoop dfs -mkdir /input
DEPRECATED: Use of this script to execute hdfs command is deprecated.
Instead use the hdfs command for it.

-mkdir: java.net.UnknownHostException: ha-cluster
Usage: hadoop fs [generic options] -mkdir [-p] <path> ...

thanks
Gourav Bhalla

[2017-01-23 02:48] chengat1314 commented on #6623
Thank you very much!

[2017-01-23 03:14] martint commented on #6910
I'd like to move to a model where the connector tests are separated from the engine (analyzer/planner/execution) tests. A few ideas:
* Create a connector verification suite that exercises the connector APIs as the engine is supposed to use them
* Create a lightweight testing connector that exposes tables with various organizations and types that the engine supports and craft a set of queries that

[2017-01-23 08:43] ArturGajowy opened #7205 "Flaky TestMemoryManager.testNoLeak"
[code]

[2017-01-23 10:56] JanDoerrenhaus opened #7206 "Presto does not see some data from Cassandra"
I have the table datamart_hourly_total_sessions, with a column called "time_extract__" as its partitioning key.

When I do the following query on the Cassandra side, in CQL, I get 230 results:
`select distinct time_extract__ from datamart_hourly_total_sessions;`

Doing the same query in presto, I get the same 230 results. Both in cassandra and in presto, one of the returned values is `2017-01-17`.

[2017-01-23 15:15] sopel39 commented on #7142
I think the proper fix to that (instead of cloning expression tree) can be implemented in following steps:
1. Add `QueryOrderBy` node so that new `Scope` can be added to `Analysis` that is specific for ORDER BY expressions. Such scope would resolve against output symbols first and then against parent scope.
2. Support `QueryOrderBy` scope in planner
3. Fix `StatementAnalyzer` analysis for aggregat

[2017-01-23 15:17] fiedukow commented on #6963
`time` semantic is aligned with `timestamp` semantic.
`time with time zone` semantic is aligned with `timestamp with time zone` semantic.

As such, time (w/o TZ) does apply use timezone to the value. The semantic may differ between connectors as well. Maybe I closed this a little bit to early as this may also be connected to wrong behaviour on PostgreSQL connector side. I think that this should be

[2017-01-23 16:54] electrum commented on #7201
Duplicate https://github.com/prestodb/presto/issues/7053

[2017-01-23 16:54] #7201 closed

[2017-01-23 16:54] electrum commented on #7205
This might be related to https://github.com/prestodb/presto/issues/7053

[2017-01-23 18:29] cawallin commented on #7206
It's a matter of caching/partition loading. When you do the query for a single value, it tries to locate the partition in the cache, but if the cache is out of date, it won't return anything. Try adjusting ``cassandra.schema-cache-ttl`` and/or ``cassandra.schema-refresh-interval``. (See the note also in this PR: https://github.com/prestodb/presto/pull/6794/files)

[2017-01-23 18:30] cawallin commented on #7202
Hello, this seems like a Hadoop issue rather than a Presto issue, please ask your question either on StackOverflow or in some Hadoop-specific forum. (To venture a guess, you might not have all of the requisite Hadoop HA configs specified)

[2017-01-23 18:30] #7202 closed

[2017-01-23 18:40] martint commented on #7150
Done

[2017-01-23 18:40] #7150 closed

[2017-01-23 18:40] martint commented on #7142
Yes, I think that's the way to go. I was thinking of something along those lines, too.

[2017-01-24 00:17] electrum opened #7208 "Filter out null probe values from semi-join when safe to do so"
The recently introduced correctness fix for semi-join causes queries to fail that previously succeeded with correct results. Example:
[code]
The above query now fails if `x` is null. However, even if the predicate incorrectly returns false instead of NULL, the row is still filtered out, so it would be safe to evaluate as if the query was written like this (and executed the null check first):
[code

[2017-01-24 00:35] martint commented on #7208
That'd be hard to do generically. It'd require being able to tell whether the enclosing expression would return different results for false vs null in complex expressions: E.g.,

[code]

[code]

[2017-01-24 00:40] ArturGajowy commented on #7208
We considered @electrum's idea in #6991 and on today's planning we came up with @martint's observation :) We'd like to discuss a proper fix for #6991. The directions discussed in https://github.com/prestodb/presto/issues/6622#issuecomment-269483962 don't look great, but maybe will spark an idea for you guys?

[2017-01-24 00:41] ArturGajowy commented on #7208
Having a fix for this would be great, as the 'no null in probe of semijoin' restriction breaks TPC-DS q23_1 and q33.

[2017-01-24 11:56] swaranga commented on #7186
Note that this seems to happen with Parquet data. I tried querying another table whose data was also in S3 and was encrypted via the same encryption materials provider, but was in plain text (Json) format, and Presto was able to read the data.

[2017-01-24 12:59] fiedukow commented on #7122
I'm working on that.

[2017-01-24 16:12] pnowojski commented on #7179
@martint I can do this just after (or as a part) of this PR https://github.com/prestodb/presto/pull/7095

[2017-01-24 17:35] cberner opened #7214 "Query with GROUP BY and DISTINCT on same field fails"
[code]

[code]

[2017-01-24 17:36] dain commented on #7122
As part of this project, we will need to identify any backward incompatible behavior and document it

[2017-01-24 18:48] idemura opened #7216 "Generate consecutive JOINs in one loop"
Instead of several scanners (LookupJoinOperator) and page builders in between to produce pages, we will have one loop with several lookups generated. With Teradata change merging projection into merge this will bring significant performance difference (especially on wide rows).

[2017-01-24 20:29] electrum opened #7217 "Stack trace box size is unbounded"
This causes the labels like "Error Type" to wrap lines. We should also add a copy to clipboard button.

[2017-01-24 21:50] dharmeshkakadia commented on #3704
I am also seeing this in 0.163 runs. Is there a chance to get this in?

[2017-01-24 23:14] hong-zhu opened #7219 "How does Presto pass SQL logical operators like 'OR' 'And' to connector?"
I'm building a Presto Connector. When I try to build native query, it looks like Presto doesn't pass down SQL logical operators to connector. For instance:

`SELECT * FROM listings
WHERE (created_date >= timestamp '2015-01-01' and
       created_date <= timestamp '2015-02-01')
   OR (created_date >= timestamp '2015-03-01' and
       created_date <= timestamp '2015-04-01')`

How do I know it's 'OR'

[2017-01-24 23:23] haozhun commented on #7219
Presto pass down `com.facebook.presto.spi.predicate.TupleDomain`. It can represent something like

[code]

It cannot represent `a = 1 OR b = 2`.

It cannot represent `a > 0 AND b > 0 AND a + b < 10`. But it can represent `(a > 0 AND a < 10) AND (b > 0 AND b < 10)`.

[2017-01-24 23:39] hong-zhu commented on #7219
@haozhun I can not find any api in TupleDomain for me to get the operator information.
I need to know, for two conditions, whether they are connected by 'OR' or 'And' in TupleDomain or somewhere else.

[2017-01-25 00:57] AlekseiS commented on #7061
New ArbitraryOutputBuffer implementation which supersedes the previous version: https://github.com/prestodb/presto/pull/7080

[2017-01-25 02:15] #6780 closed

[2017-01-25 12:37] sopel39 commented on #7216
Could you provide some (short) design doc about the idea? This will make it easy to discuss aspects about the solution. There are some potential issues like projections or other nodes between consecutive joins. It's often not obvious that projection should be pushed down through join (it might be up to optimizer to decide).

What did you mean in this sentence?

[2017-01-25 19:43] haozhun opened #7226 "Cast from ARRAY<JSON> or MAP with JSON key/value to JSON"
Column 1 and column 2 should be the same.

[code]

[2017-01-26 00:27] martint opened #7229 "Planning failure for count distinct on row type"
This query:

[code]

fails with:

[code]

The query succeeds if the `max(b)` expression is removed from the select list.

[2017-01-26 00:30] martint commented on #7214
This is a long-standing bug that surfaced when turning on `optimizer.optimize-mixed-distinct-aggregations`.

[2017-01-26 01:16] wenleix commented on #7226
When casting a ARRAY<JSON> int a JSON, Presto currently interpreted the JSON Object as an Plain String when CAST the Array into JSON.

[2017-01-26 02:11] wenleix commented on #7226
The problem is the following:

The `ArrayToJsonCast` will do the following: it first collect all the `objectValue` in the array. Then call `OBJECT_MAPPER.writeValueAsString` [1]. The JSON are just extracted as a normal String [2].

[1]: https://github.com/wenleix/presto/blob/master/presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayToJsonCast.java#L74)
[2]: https://github.com/wenle

[2017-01-26 06:21] balaji-krishnan72 opened #7230 "Not able to query Tweets from Kafka Topic in Presto"
Hi
Versions
  Presto - .163
  Kafka - 2.10-0.8.2.2

I have a 3 node Hadoop cluster and run Kafka and Presto on top of that. I am unable to query Tweets  through Presto. While it can describe tweets table, but every time when i query it comes back with ZERO rows. Independently, if i use

./bin/kafka\-console\-consumer.sh --zookeeper localhost:2181 --topic jsontweets --from-beginning

i can see data

[2017-01-26 13:51] pawelrychlik commented on #6502
How far are we on this? Any timeline? :)
Also, which branch is it on teradata/presto?

[2017-01-26 17:26] swaranga commented on #7186
Ping. A similar issue was reported in SO: http://stackoverflow.com/questions/40575972/presto-failing-to-query-hive-table but without a definitive solution.

Is this a known issue?

[2017-01-26 17:32] dain commented on #7186
cc @nezihyigitbasi or @zhenxiao

[2017-01-26 20:16] wenleix opened #7231 "Optimize "fact and dimension table fat join" pattern"
One pattern of the queries in modern data warehouse is the following "fact and dimension table fat join":
[code]

In many cases, there will be at most one row matched each `join_id` in the dimension table. Currently, Presto will generate a chained join plan (see attached), and copy all the fields in each join. We could potentially avoid this copy each time by optimistically assuming each row on th

[2017-01-26 20:28] idemura commented on #7216
Let me experiment first. Idea is to avoid page builders when we have several joins in chain. Sometimes projections can happen in between so teradata work will help to make this more generic.

[2017-01-26 23:15] mastratton3 opened #7232 "Can't read decimal type in parquet files written by spark and referenced as external in the hive metastore"
Environment:
Data Stored in S3
Using Hive Metastore
Parquet Written with Spark
Presto 0.164

Issue:
Can't read columns that are of Decimal type

Example:
 ptntstus               | varchar      |       |
 ded_amt                | decimal(9,2) |       |

presto:default> select * from table;

Query 20170126_231448_00065_r6pat, FAILED, 3 nodes
Splits: 316 total, 49 done (15.51%)
0:01 [0 rows, 0B] [0 r

[2017-01-27 00:06] electrum commented on #7232
Can you provide instructions for how to write the table using Spark (for someone who has never used Spark)?

Also, what version of Spark and Parquet (in Spark) are you using?

[2017-01-27 11:37] Praveen2112 commented on #7216
What if there is a filter in between the joins ? This will be similar to a whole stage code generation for query (as in Spark and hyperDB). In case of distributed environment  we generate a code for a entire task ( having only a single operator which consumes the input and gives the output for each task). This change could bring a significant improvement in performance.

[2017-01-27 12:32] sopel39 commented on #7216
We did some Wholestage compilation in Presto experiments. Presentation link is here: https://docs.google.com/presentation/d/1OTC_2oD61cxNUa7HTm4aDXVGCGpisvYOXHjMrLA_sp0/edit#slide=id.p
For 8 consecutive joins we got 2x speedup with multiple joins compiled into one operator, so definitely there is place for improvement.

[2017-01-27 13:00] Praveen2112 commented on #7216
@sopel39 That's super cool....Was the code generated on a task level or on the query level(Single task and Single operator excluding the LookupSource)......

[2017-01-27 13:04] sopel39 commented on #7216
@Praveen2112 only operators that supported wholestage were compiled into single operator (I guess query level). In our case it was `ProjectNode`, `JoinNode` and `FilterNode`.

[2017-01-27 13:12] Praveen2112 commented on #7216
@sopel39 If it was at a query level only a single task will be created or multiple tasks ?
You could also include > TopNNode .
Correct me If I am wrong , If we generate it at a task level (Input or Exchange Client -> Operator -> Output Buffer) then we could achieve parallel execution of various splits.

[2017-01-27 13:15] sopel39 commented on #7216
Ah, right. It was task level then. It basically compiled multiple operators into single `Operator` class. This compiled operator is treated like every other operator (e.g: `LookupJoinOperator`) therefore it is parallelized on task level.

[2017-01-27 13:26] Praveen2112 commented on #7216
Ok.You could also try incorporating `TopNNode` along with `ProjectNode` and others. For generating code for a task we could create a `PlanVisitor` which visits all the node of a plan for the above task. Each node would generate a code for its associated operation. At Terradata was it implemented in this way ?

[2017-01-27 17:31] electrum commented on #7219
It should get pushed down as a domain with two ranges. If I run this query against the Hive connector:
[code]
We see that predicate pushdown works correctly:
[code]

[2017-01-27 18:18] hong-zhu commented on #7219
@electrum Thank you for your help.
I can get the values in two ranges from TupleDomain, it's ok.
My problem is by the time my native query builder receive TupleDomain, it seems there is no way to know if it's 'OR' or 'And' for these 2 ranges.
Can I assume for any column in where clause, if there are 2 ranges in TupleDomain, it's a 'OR" SQL operator?

[2017-01-27 20:27] mastratton3 commented on #7232
Took a bit to recreate the error from writing, I didn't write the original files. Through making a reproducible example I think I found a bit more specifically when it breaks down.

Spark Version: 2.0.2
Parquet: 1.7.0 (From Spark POM)

When the precision isn't specified, then Presto has no issues. The issue with reading comes from specifying the Precision and Scale:
`
import scala.math.BigDecimal

[2017-01-27 21:04] dain commented on #7232
Can you attache the file to help whom ever works on this?

[2017-01-27 21:18] mastratton3 commented on #7232
[big_example_specified.parquet.tar.gz](https://github.com/prestodb/presto/files/736277/big_example_specified.parquet.tar.gz)
[bug_example.parquet.tar.gz](https://github.com/prestodb/presto/files/736276/bug_example.parquet.tar.gz)

Attached are the files gzipped.

[2017-01-30 14:29] losipiuk commented on #7165
Taking this one.

[2017-01-30 18:38] electrum opened #7240 "UI query detail page: long session strings overflow to next column"
A long user provided string such as User, Principal, Source or Resource Group will overflow to the Data Source section.

[2017-01-30 20:10] rschlussel commented on #7182
I can take this one

[2017-01-30 21:06] electrum opened #7246 "Error in OptimizeMixedDistinctAggregations"
[code]

[2017-01-30 21:08] electrum opened #7247 "Window function dependencies not in source plan output"
[code]

[code]

[2017-01-30 21:08] martint commented on #7246
Duplicate of https://github.com/prestodb/presto/issues/7214

[2017-01-30 21:08] #7246 closed

[2017-01-30 21:10] electrum opened #7248 "Uncategorized error: Unsupported correlated subquery type"
[code]

[2017-01-30 21:12] electrum opened #7249 "Uncategorized error: not a scalar function"
[code]

[code]

[2017-01-30 21:14] electrum opened #7250 "Error parsing decimal using RCFile Text"
With
[code]

following may occur

[code]

[2017-01-30 21:34] martint commented on #7248
Duplicate of https://github.com/prestodb/presto/issues/6491

[2017-01-30 21:34] #7248 closed

[2017-01-30 21:43] cawallin commented on #7247
@electrum what was the query that caused this bug?

[2017-01-31 01:29] electrum commented on #7249
Duplicates https://github.com/prestodb/presto/issues/3979

[2017-01-31 01:29] #7249 closed

[2017-01-31 01:33] electrum commented on #3979
It's not clear to me how a window function could work in the HAVING clause, since window functions run after HAVING. Would it see a different set of rows?

Regardless, supporting that is a separate issue. For this issue, we need to fix the error message.

[2017-01-31 01:45] electrum commented on #7247
@cawallin Updated with a reproduction

[2017-01-31 06:54] maffan76 commented on #7047
hi @dain
Any further direction to resolve this issue?

Thanks in advance.

[2017-01-31 18:30] cberner opened #7257 "Query with nested window functions fails"
[code]

fails with
[code]

[2017-01-31 18:37] martint commented on #7257
Duplicate of https://github.com/prestodb/presto/issues/7247

[2017-01-31 18:37] #7257 closed

[2017-01-31 18:40] cberner commented on #7247
I bisect'ed this to 29956b7486968596d5f831717194045c77803887 introduced as part of https://github.com/prestodb/presto/pull/6814

[2017-01-31 19:21] martint commented on #7247
No need to block the release for this. The feature can be turned off with `optimizer.reorder-windows=false`.

[2017-01-31 19:21] maciejgrzybek commented on #7247
I'll look into it. Keep me assigned.

[2017-01-31 19:53] dain commented on #7047
Did you try the hadoop command line from those machines?  If that doesn't work, something is not configured correctly in you `*-site.xml` files, or you networks setup (e.g. firewalls, vlan, vpc, etc.).  If it does work, I'd configure Presto to use you exact site xml files by following these instructions: https://prestodb.io/docs/current/connector/hive.html#hdfs-configuration

[2017-01-31 20:36] raghavsethi commented on #5181
I believe this has been completed.

[2017-01-31 20:36] #5181 closed

[2017-02-01 09:40] cantepeli commented on #2807
Hi arun6384

How  did you replace  JVM 32-bit to 64-bit please give us that info

[2017-02-01 13:39] maciejgrzybek commented on #7247
I believe the problem was introduced by `MergeWindows` (far earlier than `ReorderWindows`). `MergeWindows` is not disableable, so I believe it is a `RELEASE-BLOCKED` in fact.
I'm working on patch.

The problem is windows are merged regardless of their dependencies, so as long as two window nodes are adjacent and have qualifying specification (identical `PartitionBy` and `OrderBy`) they will be mer

[2017-02-01 15:46] chappidmAWS opened #7264 "Request for supporting SSE-KMS"
Currently, Presto supports SSE ([hive.s3.sse.enabled](https://prestodb.io/docs/0.157/connector/hive.html)) w.r.t AES256
It would be nice if it supports SSE-KMS where a customer can specify the [kms-key-id](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html) for SSE.
Like, hive.s3.sse.kms-key-id

[2017-02-01 15:56] #6735 closed

[2017-02-01 17:07] electrum commented on #7264
We support `hive.s3.kms-key-id` which is used to create `KMSEncryptionMaterialsProvider` (Java SDK). Is this what you're looking for?

[2017-02-01 17:08] electrum commented on #7264
You can see all the S3 properties for the Hive connector here: https://prestodb.io/docs/current/connector/hive.html#s3-configuration-properties

[2017-02-01 17:54] chappidmAWS commented on #7264
Thank you for your quick response.
I am afraid, that's not my use-case.
Ref : http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html

Implies the [putObjectRequest](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/PrestoS3FileSystem.java#L985-L990)  will be
`PutObjectRequest putRequest = new PutObjectRequest(bucketName,
   keyName, f

[2017-02-01 19:22] #7219 closed

[2017-02-01 19:45] haozhun opened #7271 "Deletes in Hive where the constraint cannot be represented as a TupleDomain"
[code]

The primary issue is the `Metadata.getTableLayouts` API:
[code]

Possible approaches:
1. Improve `getTableLayouts` API. Specifically:
    * Make it possible to claim whether `predicate` in the `constraint` need to be re-evaluated in  ConnectorTableLayoutResult.
    * Make `predicate` in the `constraint` return true/false/maybe (instead of true/false)
2. Extend metadataDelete functionality.

[2017-02-01 20:34] electrum commented on #7264
I see, thanks for clarifying. This looks easy to do, but I wouldn't have a way to test it. Do you want to send a pull request to add this?

[2017-02-01 21:02] hong-zhu opened #7272 "Is this a bug or by design? If by design, why?"
I'm building a new Presto Connector.
It seems to me sometimes some conditions in where clause never got to pass down to my SplitManager:
`SELECT name, created_date
FROM customers
WHERE name <> 'Unknown'
      AND (created_date >= Timestamp '2015-01-01' and created_date <=  Timestamp '2015-01-03')
        OR (created_date >= Timestamp '2015-01-05' and created_date <=  Timestamp '2015-01-07')
`
In t

[2017-02-01 21:40] signed0 commented on #6094
Would it be possible to get someone to review the pull request?

[2017-02-02 02:37] chappidmAWS commented on #7264
#7276

[2017-02-02 06:02] cberner opened #7278 "Leaked system memory reservation in ExchangeOperator"
`ExchangeOperator` calls `pipelineContext.reserveSystemMemory`, but appears to leak this reservation under some circumstances. It looks like this was introduced by 64c3fc8b027f598d63fd13e4d8e0b91b77d7d012

Generally, `Operator`s should use `OperatorContext.reserveSystemMemory` not `PipelineContext.reserveSystemMemory`

To reproduce run `TestMemoryManager.testClusterPools` with an invocation count

[2017-02-02 08:59] jabonillomelvin opened #7280 "Presto 0.165 Could not execute a query with a join"
[code]

I got this error every time I query with a join but If I run a single table query it works fine.

Can anyone please help me what is the problem? I have a 1 coordinator and 1 worker

[2017-02-02 17:12] #5688 closed

[2017-02-02 19:36] haozhun opened #7285 "Add transform_key and transform_value lambda functions"

[2017-02-02 20:46] findepi commented on #7156
#7260 is merged

[2017-02-02 20:46] #7156 closed

[2017-02-03 09:50] findepi opened #7292 "Optimize away empty values across exchanges, joins etc."
`AddExchanges` can sometimes put empty `ValuesNode`. There is a `EmptyDeleteOptimizer` (ATM being migrated in #7263) which optimizes it away specifically for deletes. However, @kokosing noticed this could be done more broadly, e.g. "empty values pull up rule".

Plan:
*  #7263's rule to be split into few
* rules for treating empty `ValuesNode` with exchanges, inner joins, outer joins.

[2017-02-03 13:20] michal-databricks commented on #7232
I think the difference between the two cases comes from the smaller precision in the second example which makes parquet-mr write the column as int32 instead of fixed_len_byte_array.
[code]

[2017-02-03 13:48] dlahn opened #7293 "Selecting Aggregate Partitioned by a Nested Aggregate"
I am noticing this behaviour since trying to upgrade to 0.165. This issue was not present for the same query in 0.155. I have managed to reproduce this for a simple table and query:

[code]
[code]
Running this query yields, the following error:

`Query 20170203_122355_00026_96i97 failed: Output layout ([personid, lastname, firstname]) don't include all partition columns ([min_18])`

This seems to

[2017-02-03 18:46] #7272 closed

[2017-02-03 19:00] erikbeebe commented on #7230
Hi Bala,

If you didn't already - try changing your table name in kafka.properties from 'kafka.jsontweets' to 'jsontweets' - that's likely the issue.

Cheers
Erik

[2017-02-03 19:35] wenleix commented on #7229
The error will not occur if `optimizer.optimize-mixed-distinct-aggregations` is disabled.

Related issue with mixed distinct aggregation (not same): https://github.com/prestodb/presto/issues/7214

[2017-02-03 19:38] maciejgrzybek commented on #7293
This is a duplicate of https://github.com/prestodb/presto/issues/7247.
Fix is on it's way. Performing tests now and should be PRed momentarily.

[2017-02-03 20:17] maciejgrzybek commented on #7247
Fix for the problem is here: https://github.com/prestodb/presto/pull/7298

[2017-02-03 20:41] wenleix commented on #7229
This optimizer works fine if `a` is an integer. Here is a query and the logical plan:
[code]

It does the following:
- Compute `SELECT max(b) GROUP BY GROUPING SETS ((), (a))`
- For each grouping tuple `(a, group_id, max_b)`:
  - Generate `(null, max_b)` if `group_id = 0`; this is a same behavior as normal grouping sets
  - Generate `(a, null)` if `group_id = 1`; basically it discards the `max(b)`

[2017-02-03 21:21] bdm123 opened #7301 "INSERT creating new Hive table partition uses wrong field delimiters for text format"
Hi - When running INSERT INTO a hive table as defined below, it seems Presto is writing valid data files. However running subsequent SELECTs on the table will return all NULL values. When running the SELECT in Hive, the same files are read and displayed correctly.  Is this a known/fixed bug or is there an issue with my table definition? I'm running Presto 0.152.3.

[code]

Thanks

[2017-02-03 22:37] wenleix commented on #7229
The root cause if because `Type.getDisplayName` is used to generate `CAST IF` statement ([here](https://github.com/prestodb/presto/blob/8566cce62b03a793698168df430e4e150967e443/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/OptimizeMixedDistinctAggregations.java#L444)]. This will put an extra space when it's a row type (e.g. `row(integer, integer)`)

[2017-02-03 22:43] raghavsethi commented on #6936
@wyukawa We pushed a fix for a similar issue. I'm closing this for now, if you see it in versions > 0.162, please let us know.

[2017-02-03 22:46] raghavsethi commented on #6823
Already implemented.

[2017-02-03 22:47] #5259 closed

[2017-02-03 22:50] electrum commented on #6293
Let's cut the progress bar.

Having tests for `StatusPrinter` would be great! That will need a bit of refactoring and should be done separately. We should separate out the printing code from the code that does the update loop and accesses the client.

[2017-02-03 23:08] raghavsethi commented on #7081
Merged this.

[2017-02-04 00:34] martint commented on #7081
Only ExpressionCompiler is implemented.

[2017-02-04 01:46] cberner opened #7304 "Successful metadata queries not logged"
`DataDefinitionExecution` queries that succeed are not logged. I bisect'ed this to c4c40c43b0647f983bf69096df7ee54f146fdad3. It can be reproduced with the following test:

[code]

[2017-02-06 12:27] losipiuk opened #7307 "Prune unnecessary output symbols for Exchange"
Currently `ExchangeNode` will always include all symbols of input on output.
If we listed output symbols of Exchange node explicitly, we could make execution
more optimal for cases when some of the symbols are needed by Exchange itself (as hash/partitioning symbol) but not upper in the plan tree.
Then we would avoid unnecessary network traffic.

[2017-02-06 15:16] zhaoshengbo commented on #7280
show your sql please.

[2017-02-06 16:17] delding commented on #6899
@raghavsethi , update,
explain analyze select 1 constructs two SubPlans:
fragment0: OutputNode <- ExplainAnalyzeNode <- ExchangeNode <- RemoteSourceNode
fragment1: projectNode <- exchangeNode <- valuesNode
and only displays fragment1 to the console
The correct SubPlan for select 1 should be:
fragment0: outputNode <- projectNode <- exchangeNode <- valuesNode
I'm digging into it

[2017-02-06 18:51] nezihyigitbasi commented on #7081
Is anyone working on this issue? Otherwise I will go for it.

[2017-02-06 19:00] wenleix commented on #7285
Proposed method signatures:
[code]

@haozhun Should the name be `map_transform_key` or just `transform_key`?

[2017-02-06 19:52] bdm123 commented on #7301
More details of the issue

1) Initial INSERT reads returns NULL values

[code]
2) Second INSERT returns NULL for first row but reads new row correctly
[code]

[2017-02-06 20:06] dain commented on #7285
I'd use `V1` and `V2` in the signature for `transform_value` like:
[code]

[2017-02-07 03:06] nezihyigitbasi commented on #7081
@ebyhr Will you also handle JoinCompiler and JoinProbeCompiler classes, which require some refactoring? I was planning to work on those when I assigned this issue to myself (after I got no response to my ping), so I will be happy to take those if you don't have any plans, otherwise feel free to assign the issue to yourself.

[2017-02-07 03:28] ebyhr commented on #7081
Sorry @nezihyigitbasi, I overlooked your ping.
I don't have any plans, so I would be grateful if you deal this :)

[2017-02-07 06:06] ebyhr commented on #6373
It seems that this is already fixed by #6370 :)
[code]

[2017-02-07 07:38] ideal-hp commented on #1285
Thank you very useful

[2017-02-07 10:32] zhangshuyu opened #7317 "source building error"
I met some errors when building presto.

I just download "https://github.com/prestodb/presto/archive/0.165.zip" and run the  command(mvn clean install -DskipTests) from the project root directory, then it happened.
I can't find any config files about "git-commit-id-plugin".
What should I do？Someone help me？

[2017-02-07 10:51] kokosing opened #7318 "Rewrite correlated IN predicate to EXISTS"
Currently Presto does not support correlated IN predicate. However such queries can be easily rewritten to EXISTS to subquery which have better support when subquery is correlated.

Please take a look at the this example.
[code]

This could be rewritten to something like:

[code]

[2017-02-07 11:45] sopel39 commented on #6986
It looks like a better reporting is needed? What other databases do?

[2017-02-07 12:02] sopel39 commented on #7318
It seems correlated IN would also greatly benefit from `SemiJoin` with multiple conditions, don't you think?

[2017-02-07 15:10] kokosing commented on #7318
Probably, but having native support for correlated IN predicate costs more than this simple rewrite. What  about different predicates (non-equality)?

[2017-02-07 15:11] electrum commented on #7317
We don't support those zip files. GitHub creates them automatically and you can't turn them off. Please clone th repository instead. You can checkout the tag for a specific version.

[2017-02-07 15:11] #7317 closed

[2017-02-07 15:17] kokosing commented on #7318
Generally, I think we should get rid of `SemiJoin`. It is just a regular `JoinNode` on top of `AggregationNode`. It would be nice to optimize this more generic case that way other SQL forms would also benefit from that. IMHO that would be the best case, to not to support two different execution paths for semantically the same plans.

[2017-02-07 22:18] xmly commented on #856
@electrum @mombergm    Have the aircompressor being used in the presto?

Thanks

[2017-02-07 22:28] delding commented on #6967
you need to enable Cassandra Thrift server first, e.g. after run 'cassandra -f', run 'nodetool enablethrift'

[2017-02-07 22:30] delding commented on #6879
this is because Slice is not allowed to be constructed with byte[0]

[2017-02-07 23:25] martint opened #7323 "Create unnesters in UnnestOperator once"
Currently, the list of type-specific unnesters is created for every page. This shouldn't be necessary, as the types are known statically when the operator is constructed.

[2017-02-08 01:54] jabonillomelvin commented on #7280
Hi @zhaoshengbo

If I run the query without a worker the query works fine but if the query was with a worker it doesn't.

[code]

even a simple query like this
[code]

[2017-02-08 02:00] delding commented on #7323
@martint Would that be enough if initializing unnesters in the ` UnnestOperatorFactory#createOperator` method for each `UnnestOperator` instance?

[2017-02-08 02:20] wenleix commented on #7323
@delding : @raghavsethi says you can start on this.

[2017-02-08 02:43] delding commented on #7323
@wenleix @raghavsethi  good 👍 , working on it

[2017-02-08 03:15] ebyhr commented on #7301
I reproduced latest Presto build. This is just FYI, It seems that this issue occurs when you specify new partition as the value.

[code]

I could confirmed following create definition.
[code]

[2017-02-08 05:05] delding commented on #7323
Hi @martint , just need to confirm with you if nobody is planning to work on this task :-)

[2017-02-08 05:11] martint commented on #7323
@delding, go for it!

They should be initialized in the UnnestOperator constructor, since they are an implementation detail of that operator.

[2017-02-08 06:31] electrum opened #7325 "Add product tests for Accumulo"
These would give us much more confidence about changes like https://github.com/prestodb/presto/pull/7324

[2017-02-08 07:54] sopel39 commented on #7318
I don't think it's OK to just remove `SemiJoin`. As you mentioned it is specific implementation of `JoinNode` on top of `AggregationNode`. It probably has better performance those two operators separated since it doesn't have to materialize intermittent rows. This would especially be visible with large number of groups (or very small groups). We probably just have a rule that recognizes `JoinNode

[2017-02-08 10:21] nahi commented on #6158
@electrum Really sorry for late reply. I created this commit months ago but due to work commitments I didn't have enough time to write unit tests after that. https://github.com/treasure-data/presto/commit/9b042eec34fbc3ee679d9fee992b5c684b1c8bc8
It's already out-of-sync with current master branch but do you think it's worth trying to rebase?

[2017-02-08 14:55] losipiuk opened #7328 "bad output of CAST AS JSON for nested array of decimals."
If we cast array of array of decimals to JSON we get the inner value wrapped in extra quotes.

**How to reproduce:**

[code]

**Expected behavior**
[code]

[2017-02-08 15:03] electrum commented on #6158
We still need this feature, so please do! The JDBC driver hasn't had many changes so it's likely the rebase conflicts are minimal.

[2017-02-08 15:04] ilfrin commented on #5500
#6343 was merged, closing.

[2017-02-08 15:04] #5500 closed

[2017-02-08 15:40] cawallin commented on #6967
Also, we have a PR that's almost ready to be merged that removes the Thrift client: https://github.com/prestodb/presto/pull/7013. We're still running some final tests on it, but it should be in soon.

[2017-02-08 15:55] sj860908 opened #7330 "Error "No page sink for connector" on hive catalog"
Hello, I am having trouble inserting data into table using hive catalog.

My query looks like ```insert into xxxxx select emd5 from yyyyyy```

I'm currently using presto version 152.3 and *.properties catalog file looks pretty plane.

[code]

[2017-02-08 16:10] cawallin commented on #7330
Usually you get that issue when you don't have the .properties file on all of the nodes. Make sure that your hive connector is in a file called `profiles.properties` on all of the nodes in the cluster.

[2017-02-08 16:33] sj860908 commented on #7330
Thanks. That was it.

What's the behavior of the nodes missing properties file? Would that worker not able to do any tasks?

Thanks again

[2017-02-08 16:36] cawallin commented on #7330
You get arbitrary failures because Presto assumes all of the workers have all of the relevant properties files. Glad that helped!

[2017-02-08 16:36] #7330 closed

[2017-02-08 17:00] delding commented on #7323
create a pr https://github.com/prestodb/presto/pull/7332

[2017-02-08 18:12] aminalaee commented on #6967
@delding @cawallin  Thank you. Even though I finally found the solution, I guess it would be a good idea to mention it somewhere in the docs that it needs to be enabled.

[2017-02-08 18:12] #6967 closed

[2017-02-08 18:52] wenleix commented on #6664
Merged. Close the issue.

[2017-02-08 18:52] #6664 closed

[2017-02-08 19:18] wenleix commented on #7214
The symbols are duplicated [here](https://github.com/prestodb/presto/blob/8566cce62b03a793698168df430e4e150967e443/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/OptimizeMixedDistinctAggregations.java#L210)

            allSymbols.addAll(groupBySymbols);
            allSymbols.addAll(nonDistinctAggregateSymbols);
            allSymbols.add(distinctSymbol);

The code takes

[2017-02-08 19:21] wenleix opened #7334 "Improve MapFilter performance"
The byte code generation trick used for `ArrayTransformFunction` (https://github.com/prestodb/presto/issues/6780) can also be applied for `MapFilter`.

[2017-02-08 19:44] wenleix commented on #6779
Although the idea is similar to https://github.com/prestodb/presto/issues/6780, we don't need to do byte code generation for this one. The implementation idea would be to specialize the method for 5 types, similar to [ArrayContains](https://github.com/prestodb/presto/blob/c73359fe2173e01140b7d5f102b286e81c1ae4a8/presto-main/src/main/java/com/facebook/presto/operator/scalar/ArrayContains.java)

[2017-02-08 19:58] haozhun commented on #7304
This might have to do with the issue that certain metadata query are not expired.

[2017-02-09 04:24] chandankumarv11 commented on #2326
yes it's working
[  jdbc:mysql://127.0.0.1:3306?zeroDateTimeBehavior=convertToNull  ]

[2017-02-09 07:39] highker commented on #7304
diff out (https://github.com/prestodb/presto/pull/7337)

[2017-02-09 07:43] ebyhr commented on #4556
Hi @electrum, I have a question about this issue.

I think this issue has two causes.
The first is that the query is failing by casting from char to bigint regardless of the spaces.
The second is about spaces.

The following exception happened though the message was not shown on console.
[code]

After I copied this method from `VarcharOperators.java` to `CharOperators.java`, the query which the ta

[2017-02-09 08:17] lichengfei1988 opened #7338 "have not support for the view of hive?"
have we ever consider adding support for the view of hive or have this plan but not start?

[2017-02-09 08:21] han-wang commented on #7338
I also want to know it

[2017-02-09 08:22] zhaoshengbo commented on #7280
do you run the query from presto-cli?
show me the error message please.

[2017-02-09 16:03] electrum commented on #4556
Teradata has work in progress to fully support the char type (their version might already have it). I'll take a look at this issue and see if there's an easier fix.

[2017-02-09 17:23] raghavsethi commented on #5065
@cberner @cpcloud What's the status of this discussion/PR? Are we going to move forward, or can we close both?

[2017-02-09 17:26] petroav commented on #7189
@dain and @rsilvery: I'm including the list of dependencies (and their corresponding licenses) that we are pulling in.

| Dependency | Version | Type | License | Notes |
| ------------ | -------- | ----- | -------- | ------ |
| org.apache.hadoop:hadoop-core | 1.0.3-mapr-5.2.0 | compile | Apache 2.0 | |
| com.mapr.hadoop:maprfs | 5.2.0-mapr | compile | Proprietary | |
| com.google.protobuf:protobuf

[2017-02-09 17:27] martint commented on #5065
We should keep open. It's not super high priority, but it's something we may want to add at some point.

[2017-02-09 17:52] #7293 closed

[2017-02-09 18:18] nezihyigitbasi commented on #6779
@wenleix @haozhun is anyone currently working on this?

[2017-02-09 19:25] raghavsethi commented on #6916
This usually happens when there is a host-level problem - stall/reboot, or there is a long full GC. Please let us know if this happens on the latest version, and if it can be reproduced.

[2017-02-09 19:25] #6916 closed

[2017-02-09 19:35] haozhun commented on #5371
I'm not sure whether this is something we want

[2017-02-09 19:43] raghavsethi commented on #5371
To be clear, I'm not suggesting replacement. I'm suggesting adding some more sparklines.

[2017-02-09 19:43] haozhun commented on #3603
We never got a reproduce of this issue. Unfortunately, the information available in the mailing list was quite limited.

[2017-02-09 19:49] electrum commented on #6608
Do you have specific format in mind? Example issue:
* Is `\\` supported?
* Are other escapes supported?
* Is this UTF-16?
* Do we support direct encoding of non-BMP characters, or are surrogates required?

[2017-02-09 20:01] electrum commented on #6585
<img width="658" alt="screen shot 2017-02-09 at 11 57 04 am" src="https://cloud.githubusercontent.com/assets/9230/22800808/5fef4d2c-eebf-11e6-86a4-38db78be27ea.png">
<img width="514" alt="screen shot 2017-02-09 at 11 58 06 am" src="https://cloud.githubusercontent.com/assets/9230/22800807/5fec2714-eebf-11e6-96cd-3cd6a1d05090.png">
<img width="774" alt="screen shot 2017-02-09 at 12 00 53 pm" src="ht

[2017-02-09 20:24] electrum commented on #6585
Item 21 and 22 seem to disallow surrogates, since surrogates are not a "character". This can be checked by `Character.isSurrogate()` or equivalent code. We should be conservative and reject any code points that are surrogates.

[2017-02-09 20:52] electrum commented on #7338
Hive views using HQL syntax and semantics, so supporting them would require a way to translate HQL to Presto SQL, including all functions, null handling, etc.

[2017-02-09 21:13] delding commented on #6975
Filling meta data info into `PrestoResultSet` is not implemented yet, working on it

[2017-02-09 22:01] fbertsch opened #7340 "Create one source of truth for query progress"
Currently, query progress is calculated as either: % of Drivers Completed [0], or % of Splits Completed [1]. The JDBC driver exposes splits [2], along with some other stats, so consumers could do what they like with those.

It would be nice if there were a centralized source of truth about query progress. This information could then be exposed to any services that need query progress. This way imp

[2017-02-09 23:38] dain commented on #7328
That is an interesting problem.  If you think of JSON as an extension of JavaScript, then a number is a 32bit float, so adding quotes makes the client preserve the full data.  If you think if JSON as a completely independent data format, then the quotes make it a string.  IIRC @martint dealt with this before.

[2017-02-10 00:29] hodrigohamalho commented on #1195
+ 1 on it, any roadmap to implement it ?

[2017-02-10 03:17] #4126 closed

[2017-02-10 04:40] drknexus commented on #2508
@ebuildy @zhenxiao Do you have any updates on this issue?

[2017-02-10 05:42] wenleix commented on #7231
This inefficiency introduced by chained join can also be solved by https://github.com/prestodb/presto/issues/7216

[2017-02-10 05:47] wenleix opened #7342 "Improve memory performance for MAP_UNION and MAP_AGG"
When most aggregation keys are different, we have found in some cases `MAP_UNION` can take up to 4x memory compared with `ARRAY_AGG`. One potential reason could be `TypedSet` is not quite memory efficient.

A microbenchmark:
- Create the dataset:
[code]

- The queries:
[code]

vs.

[code]

The peak memories for this case are 7.07G and 2.38G, respectively.

[2017-02-10 06:26] zhenxiao commented on #2508
I have 2 patches with 2 slightly different methods, each could resolve the problem independently:
https://github.com/prestodb/presto/pull/6675
https://github.com/prestodb/presto/pull/5547

We are using it in production. You are welcome to try them.
I am discussing with @martint , and rebasing the code with a cleaner design. Hope to commit it soon.

[2017-02-10 16:56] sajjoseph commented on #7338
While I agree that the full featured Hive views could take time, can we still support the easier ones - if the view HQL is simple enough, can we try to support it? In our organization, there are 100s of hive views already created and so it will be great if presto can give the Hive view a try before failing the request.

[2017-02-10 19:33] electrum commented on #7338
It depends on what "simple" means. Even an operation like `a + b` has different semantics in Presto and Hive due to overflow behavior. Do you have some examples?

[2017-02-10 19:50] KBP-TDC commented on #7280
@jabonillomelvin the initial error ("Could not create connection to database server") indicates that you may have restrictions on accessing your MySQL instance from some Presto nodes. Please make sure that all nodes is your cluster are allowed to ping your MySQL machine.

[2017-02-10 19:55] raghavsethi commented on #7340
@fbertsch I agree, this should be fixed.

[2017-02-10 19:59] fbertsch commented on #7340
I think I'll go ahead and take this one then :)

[2017-02-10 20:04] raghavsethi commented on #7340
@fbertsch There's an outstanding PR on the web UI, so I would wait a couple of days until that lands.

[2017-02-10 20:05] fbertsch commented on #7340
@raghavsethi, got a link?

[2017-02-10 20:07] electrum opened #7348 "Add support for LZO text files to Hive connector"
We have an Apache licensed LZO library: https://github.com/airlift/aircompressor/tree/master/src/main/java/io/airlift/compress/lzo

The `LzoCodec` implements the Hadoop `CompressionCodec` interface. We need to figure out how to write it up and add tests.

[2017-02-10 20:09] electrum commented on #856
@xmly Are you interested in text files? I filed a new issue for that: https://github.com/prestodb/presto/issues/7348

Please comment on the new issue with specific use cases, examples of how to create the tables in Hive, etc.

I'm going to close this issue since issue since we now have our own LZO implementation and will use that instead.

[2017-02-10 20:09] #856 closed

[2017-02-10 20:13] electrum commented on #856
If you're interested in LZO for SequenceFile, please file a new issue for that, as that's a completely different implementation.

[2017-02-10 20:13] raghavsethi commented on #7340
https://github.com/prestodb/presto/pull/7270

[2017-02-10 21:24] wenleix commented on #7229
Resolved by https://github.com/prestodb/presto/pull/7303

[2017-02-10 21:24] #7229 closed

[2017-02-10 22:13] maciejgrzybek commented on #7247
Closing since https://github.com/prestodb/presto/pull/7298 got merged.

[2017-02-10 22:13] #7247 closed

[2017-02-11 03:57] spragues-trulia opened #7350 "Please implement Method DatabaseMetaData.getTypeInfo in JDBC Driver"
Hi guys,
Looks like this method has not been implemented as of yet.  Third party products such as DbVisualizer however do make use of it - and it does sound kinda important. :)

thank you!

Here's my stack trace if its any assistance:

2017-02-09 21:34:26.185 INFO    36 [ExecutorRunner-pool-3-thread-1 - L.ￄﾁ] Exception while caching data types for database: presto-160-prod
com.onseven.dbvis.K.B.Q:

[2017-02-13 09:04] jabonillomelvin commented on #7280
Hi @zhaoshengbo,

[code]

this is the error

[2017-02-13 09:05] jabonillomelvin commented on #7280
@KBP-TDC

I can see that my worker is active
[code]

There are times that the query will run but almost of the time the query will error
[code]

[2017-02-13 09:08] jabonillomelvin commented on #7280
If I will stop the worker, no problem occurred, so what I think is in the worker side which I can not figure out why

[2017-02-13 09:20] zhaoshengbo commented on #7280
@jabonillomelvin you can execute `telnet mysql_ip_address port` at the  worker node , maybe your worker node can't connect the mysql.

[2017-02-13 09:21] jabonillomelvin commented on #7280
@zhaoshengbo I cannot telnet the mysql_ip_address but I can ping

[2017-02-13 09:22] zhaoshengbo commented on #7280
show the telnet error message

[2017-02-13 09:23] jabonillomelvin commented on #7280
@zhaoshengbo
[code]

[2017-02-13 09:27] zhaoshengbo commented on #7280
something wrong with your mysql configuration
http://serverfault.com/questions/139323/mysql-bind-to-more-than-one-ip-address

[2017-02-13 10:41] jabonillomelvin commented on #7280
@zhaoshengbo I can now telnet my mysql_ip_address but still cannot create database server

[2017-02-13 17:11] #6442 closed

[2017-02-13 17:59] haozhun commented on #7134
Fixed in #7311

[2017-02-13 17:59] #7134 closed

[2017-02-13 19:56] electrum opened #7358 "Push down filters for SHOW PARTITIONS"
We need to pass a `Constraint` to `Metadata.getLayouts()` in two places:

* `ShowQueriesRewrite`
* `InformationSchemaPageSourceProvider`

This allows the connector to filter for a query like this:
[code]

[2017-02-13 19:58] highker commented on #6585
diff out (https://github.com/prestodb/presto/pull/7357)

[2017-02-14 00:52] zhaoshengbo commented on #7280
grant remote privilege to the user who connect the mysql at the worker node

[2017-02-14 01:12] richardxu80 opened #7361 "cassandra - connector bug : query result error"
Environment is :
Cassandra 3.0 ( only one node for test) + presto 0.161

Issue:
could not get correct result by using presto query cassandra

![error](https://cloud.githubusercontent.com/assets/11187852/22910541/996bde1a-f295-11e6-957f-f43576c1e03e.png)

[2017-02-14 01:28] #6765 closed

[2017-02-14 01:51] richardxu80 commented on #7361
It is a very strange bug. more test result for reference:

`select count(*) from restore` ==> presto-cli and cqlsh returen same result

`select lot_id from restore where lot_id like 'D6Q14%'` could get result, but '=' operator couldn't
![error](https://cloud.githubusercontent.com/assets/11187852/22911527/2b0d9ebc-f29b-11e6-9daa-f62752648077.PNG)

[2017-02-14 01:58] richardxu80 commented on #7361
seems it was caused by cache. do any one knows how to change cache config?

![error2](https://cloud.githubusercontent.com/assets/11187852/22911687/fe0252f4-f29b-11e6-915c-db58ce4fd2ba.PNG)

[2017-02-14 06:05] santhavathi opened #7363 "Query Cassandra Mviews from Prestodb"
0
down vote
favorite

Unable to query cassandra mviews from prestodb.
It gives below error.
presto> select * from mykeyspace1.mymview1 where phone in ('1234567890');
Query 20170213_131643_00074_5smf2 failed: line 1:15: Table cassandra.mykeyspace1.mymview1 does not exist

We observed this issue with DSE 5.0.4 and prestodb 0.158

[2017-02-14 06:33] wenleix commented on #6779
@nezihyigitbasi  I discussed with @haozhun , the proposed method is to write 5 specialized version of the code. However, @haozhun needs some investigation about if there is any type features missing in lambda expression. I will assign back to him for now :)

[2017-02-14 15:07] cawallin commented on #7361
https://prestodb.io/docs/current/connector/cassandra.html -- see ``cassandra.schema-cache-ttl`` and ``cassandra.schema-refresh-interval`` in particular

[2017-02-14 15:07] #7361 closed

[2017-02-14 17:48] #7264 closed

[2017-02-14 19:06] haozhun opened #7367 "Query stuck in join filter function"
We saw a worker not making progress on queries today. And noticed that the 59 of the worker's 64 threads are stuck in doing work for a query that had been abadoned.

Query is a very expensive cross join:
[code]

Two issue we need to fix here:
* remove getBlocks call from StandardJoinFilterFunction.filter
* make sure the driver gives up its thread after processing for a while. It was stuck in our c

[2017-02-14 22:45] csliu commented on #7348
We had some Text format tables and it's lzo compressed, but Presto treats them as pure non-compressed text file and returns malformed results.

Hope this can fix it.

[2017-02-15 01:30] haozhun opened #7371 "Add JMX counter for max(time driver has been running continuously) for all currently running drivers"

[2017-02-15 02:15] wenleix commented on #7342
Several potential places that `KeyValuePairs` might use a lot memory:
- The default `EXPECTED_ENTRIES` and `EXPECTED_ENTRY_SIZE` might not be a good number
- The keys are stored twice in `keySet` and `keyBlockBuilder`
- The extra object overhead for `IntArrayList`, as discussed in https://github.com/prestodb/presto/pull/7349
- Not sure how many bytes it will consume for `isMultiValue` because of a

[2017-02-15 03:00] ttaranov commented on #6047
I'm wondering whether it would be better to try serialize UDT to json string somehow rather than throwing errors

[2017-02-15 03:21] electrum commented on #6047
That seems reasonable to me.

[2017-02-15 07:03] richardxu80 commented on #7361
@cawallin how can I get more detail about schema-cache-ttl and schema-refresh-interval? want to get more detail and so that I can adjust how to avoid "dirty read" through prestodb

[2017-02-15 09:18] sopel39 opened #7374 "Inconsistent non-deterministic function behaviour"
When running:
[code]
I got following result:
[code]

However, when I run:
[code]
I got following result, which calls `random()` twice for each row:
[code]

Additionally:
[code]
returns unordered results:
[code]

The inconsistency is caused by tricky merging of nondeterministic expressions in planner.
How this should work @martint ? What does standard says?
**EDIT** think we should decide on one be

[2017-02-15 10:01] sopel39 opened #7376 "Lambdas are not suffciently verified during analyzis"
Query:
[code]
fails with:
[code]

This should be addressed after #7354 and #7315 are merged.

FYI: @martint @kokosing

[2017-02-15 11:17] findepi commented on #7376
Note:
[code]
also fails, this time with `Compiler failed and interpreter is disabled` (due to `com.facebook.presto.sql.relational.RowExpressionVisitor#visitInputReference` throwing `UnsupportedOperationException`).

[2017-02-15 18:12] martint commented on #7374
This is a long-standing issue. It hasn't been high-priority enough to fix it.

Unfortunately, the spec doesn't say anything about this. `rand()` doesn't exist in standard SQL and no other class of functions has similar semantics.

What would seem to make logical sense is to prevent any merging of non-deterministic functions. Some scenarios are more challenging: should a filter be pushed through a

[2017-02-15 18:51] cawallin commented on #7363
@santhavathi -- if you're interested in fixing this, there are a couple of places to look. First, Presto does not recognize materialized views as tables. Assuming it's safe to handle materialized views in exactly the same way as tables, you need to modify the listTables() method in CassandraMetadata (you'll have to modify the table cache in CachingCassandraSchemaProvider). Start with that, there m

[2017-02-15 18:52] cawallin commented on #7363
Thanks for looking into this!

[2017-02-15 18:57] cawallin commented on #7361
The schema cache is a Guava cache (see https://github.com/prestodb/presto/blob/master/presto-cassandra/src/main/java/com/facebook/presto/cassandra/CachingCassandraSchemaProvider.java#L97) -- schema-cache-ttl is expiresAfterWrite and schema-refresh-interval is refreshAfterWrite, see the Guava documentation for how those work exactly: https://github.com/google/guava/wiki/CachesExplained

[2017-02-15 19:55] sopel39 commented on #7374
Could you give some example? I looked at `PredicatePushDown` and it seems not to push filters through projection that depend on non-deterministic symbols.

If standard doesn't define any particular order of computations (e.g: for projection columns or where conditions) then authors of non-deterministic functions shouldn't assume any order. Thus they cannot rely on hidden states probably. After all

[2017-02-15 20:02] electrum opened #7379 "Flaky TestMetadataManager.testMetadataIsClearedAfterQueryFinished"
[code]

[2017-02-15 21:04] martint commented on #7374
Indeed, we **should not** dedup calls to non-deterministic functions. Hence, my comment about "What would seem to make logical sense is to prevent any merging of non-deterministic functions".

I was just expanding on some potential gotchas for the general class of non-deterministic functions. Other than rand() (especially, if it was *true* random), there really no non-deterministic function, since

[2017-02-15 21:19] wenleix opened #7381 "Separate KeyValuePairs into two classes that allows/disables multiple values"
With `isMultiValue` enabled or not in `KeyValuesPairs`, it has quite different behaviors. For example, when `isMultiValue` enables, `keySet` is basically useless. On the other hand, when the `isMultiValue` is disabled, the key list are stored twice (in `keySet` and `keyBlockBuilder`), which causes some memory performance issues (as discussed in https://github.com/prestodb/presto/issues/7342).

Mak

[2017-02-15 21:38] martint commented on #7376
I believe this is the same as https://github.com/prestodb/presto/issues/6982

[2017-02-16 06:08] hzzz823 opened #7388 "create external table but how to define `fields terminated`"
in s3://test
1,2

then:
`create table hzzz (a varchar, b varchar) with ( external_location = 's3://test', format = 'TEXTFILE' )`
`select * from hzzz`

retult is:
a         b
1,2    null

should i define `fields terminated`? and how?

[2017-02-16 06:26] yuananf commented on #7388
There is a pending pull request about this
https://github.com/prestodb/presto/pull/6387

[2017-02-16 07:53] findepi commented on #7376
Indeed

[2017-02-16 07:53] #7376 closed

[2017-02-16 07:54] findepi commented on #6982
I can take this one. Objections?

[2017-02-16 09:13] pnowojski commented on #7367
Do we really want to optimize this path? Shouldn't we focus on using byte compiled version here?

[2017-02-16 15:47] damiencarol commented on #4678
encoutered this bug here.

[2017-02-16 15:53] electrum commented on #6982
This should be fixed with capture support.

[2017-02-16 16:11] rjtokenring opened #7390 "PostgreSQL bad execution plan"
Hi!
While using postgresql driver I can see that on some queries a wrong binding type is performed.
Query, as logged in pg_logs, is:

< 2017-02-16 16:57:23.199 CET > LOG:  duration: 0.912 ms  parse S_1: SELECT "objid" FROM "public"."obj" WHERE (("objid" > $1 AND "objid" < $2))
< 2017-02-16 16:57:23.200 CET > LOG:  duration: 0.663 ms  bind S_1/C_2: SELECT "objid" FROM "public"."ob" WHERE (("objid"

[2017-02-16 16:48] sopel39 commented on #6982
Have anyone started working on this? Probably this will involve some refactoring around analyzer and planner. I think this might conflict (analysis and verification) with https://github.com/prestodb/presto/pull/7354 and https://github.com/prestodb/presto/pull/7315, so it would be great if those are landed before work on this is started.

FYI: @martint

[2017-02-16 17:35] mmcalli opened #7391 "Unable to use kafka topics that are avro encoded"
Are there any plans to allow prestodb to support kafka topics that are avro encoded? These are topics where from the commandline you need to use the `kafka-avro-console-consumer` rather than the `kafka-console-consumer`.

[2017-02-17 07:17] sopel39 commented on #6982
Ah, there is a captures PR already, sorry

[2017-02-17 12:47] sopel39 opened #7398 "Remove dependency on scopes from planning"
Currently planner depends on `Scope` to do binding between attribute names and symbols during planning. This is redundant since attributes are first resolved against scopes during analysis. Using scopes in planning makes `TranslationMap` code overly complicated since it has to understand and process `DereferenceExpression`, `Identifier` and `FieldReferences` again. It also has to maintain up to da

[2017-02-17 13:15] kokosing opened #7399 "Extract planner (and parser) as separate project"
Nowadays when John (or any Big data tech startup, or some open-source community) wants to create an SQL on hadoop (or whatever data source), they choose [calcite](https://calcite.apache.org/) to parse SQL, create and optimize the query plan. For example take a look at [SQL on Flink streaming](https://ci.apache.org/projects/flink/flink-docs-release-1.2/dev/table_api.html) is great project is not pe

[2017-02-17 13:15] kokosing commented on #7399
CC: @martint @ilfrin @sopel39

[2017-02-17 18:03] bsullins opened #7402 "Documentation for try and try_cast not clear for cast errors"
it appears that try() and try_cast() are not handling invalid type cast errors. Here is what I'm seeing on the teradata sandbox vm

`presto> select try(cast(0.01 as date));`
`Query 20170217_090614_00041_fchrk failed: line 1:12: Cannot cast decimal(2,2) to date`
`select try(cast(0.01 as date))`

and try_cast()

`presto> select try_cast(0.01 as timestamp);`
`Query 20170217_084646_00032_fchrk failed:

[2017-02-17 18:21] dain commented on #7402
I believe the issue here is there is no function that can cast from decimal to date.  This would be the equivalent of `SELECT try(someUnknownFunction(0.01))`.  The query is rejected during analysis instead of this being a runtime (data dependent) error which is what the try syntax handles.

[2017-02-17 18:32] bsullins commented on #7402
If it only works when it's a valid cast, what's the point of the function? Reading the documentation, it sounds like if it's an invalid cast (e.g. 0.01 to timestamp), then it would return NULL instead of failing?

[2017-02-17 20:08] electrum commented on #7402
The purpose of the function is to allow handling invalid data. For example, `cast('123' as bigint)` works but `cast('xxx' as bigint)` fails. Note that `try_cast` existed before `try` -- the latter is more generic and can be used for any expression.

[2017-02-17 20:09] electrum commented on #7402
This is similar to doing `SELECT try(foo())` where `foo()` is a function that doesn't exist. It's going to fail at analysis time.

[2017-02-17 20:13] electrum commented on #7402
I see the confusion with the documentation. It says _returns null if the cast fails_ which means _fails at runtime_. That's different than the cast not existing, but it's easy to misinterpret. We can make the documentation more explicit.

[2017-02-17 23:40] bsullins commented on #7402
@electrum great, yeah that's my point exactly. To your example above, what if I had a column with 123, and xxx in it? either try_cast() or try() handle that?

[2017-02-18 06:14] kokosing commented on #7399
I think I exaggerated a bit. Making it a separate module will be enough so far. . That approach is much simpler and has many advantages:
 - that way anyone could take the `presto-planner` as dependency to his own `SQL`
 - presto development would not be hurted as still all change set can be posted in one PR
 - much better domain separation as planner would be separated from main

[2017-02-18 06:40] #7217 closed

[2017-02-18 06:40] #7240 closed

[2017-02-18 13:30] karthicksundar opened #7404 "Kafka connector: presto throws mismatched input '-' error when the table (topic) name has a '-'"
I am trying to run presto kafka connector to an existing dev instance of kafka.
SHOW TABLES lists all the topics.
Most of the topics have '-' in their name (e.g. frog-hops).
DESCRIBE frog-hops or SELECT * FROM frog-hops; throws an error
Query 20170218_125950_00005_prisy failed: line 1:15: mismatched input '-' expecting {<EOF>, '.'}

Is this a known issue or are there any work arounds?
I am using p

[2017-02-18 19:10] dain commented on #7399
In the long term, this might be something we may want to do.  The downside is if you want people to use this code as a library, you need to start maintaining them as a library, which means you have less ability to make big changes (no one wants to rewrite their code all the time).  Right now the analyzer and planner are going through big changes, and I don't think we are prepared to slow down prog

[2017-02-19 07:21] #7285 closed

[2017-02-20 03:17] daiduongbian44 opened #7410 "Setup credentials connecting to Presto"
Hi,
Anyone tries setting up the credentials in presto? I want to limit the connections to presto by using the credential (such as username and password) but i have no idea setting up this.
Hope anyone help me.
Thanks all.

[2017-02-20 03:32] daiduongbian44 commented on #7410
@martint hope you have some advice for me =)) thanks

[2017-02-20 09:24] umnya commented on #2863
Any update about this ?

[2017-02-20 13:25] ebyhr commented on #7404
Hi @karthicksundar,
I think double quotes resolve the error :)

[code]

[2017-02-20 14:04] karthicksundar commented on #7404
Awesome thanks, it did ;)
I was looking into the code, was trying with escape sequence, unicode substitutions for the '-', etc.
Well, sometimes you just gotta think simple :)

[2017-02-20 14:04] #7404 closed

[2017-02-20 14:27] cawallin commented on #7410
@daiduongbian44 -- see the following documentation about security in Presto: https://prestodb.io/docs/current/security.html. In release 0.166, there is only Kerberos authentication available, but in the upcoming 0.167 release, you will be able to authenticate against an external LDAP server. (for a preview of what that will look like, see these docs: https://teradata.github.io/presto/docs/current/

[2017-02-20 20:43] raghavsethi commented on #7340
You can start now :)

[2017-02-20 20:44] fbertsch commented on #7340
Perfect! Thanks!

On Feb 20, 2017 2:43 PM, "Raghav Sethi" <notifications@github.com> wrote:

[2017-02-20 21:13] electrum commented on #7340
This will also help with the rule that we can't compute progress until the query is fully scheduled (the "scheduled" flag is true). So this new field should be null / missing until then.

(If you compute it before then, it quickly reaches 99% and stays there)

[2017-02-21 01:07] raghavsethi opened #7414 "Broken full CI tests in presto-orc"
Running full-ci in Jenkins turns up the following test failures. These can be reproduced in IntelliJ also.

[code]

[2017-02-21 01:27] ebyhr commented on #4556
@electrum Jentle reminder :)

[2017-02-21 02:37] chengat1314 opened #7415 "Presto cluster get stuck when running OR condition(CrossJoin) with same column"
Recently, some analyst submitted a query which have our presto cluster stuck.
The problem is follow:
the query was trying to query with left join with OR Condition.
select
uid,sum(columnA), etc
from A
left join B
_**A.device_id = B.android_imei OR A.device_id = B.ios_udid**_ ;
After 20 minutes later, no response from Presto.
So the user cancelled the query.
But after that,
We found the presto log

[2017-02-21 08:15] daiduongbian44 commented on #7410
thank you @cawallin, i'm going to try it out

[2017-02-21 18:37] dain commented on #7415
The server hung because the original query is effectively a cross join with a filter, and the join operator used when there is a filter was not properly yielding.  @haozhun fixed this with https://github.com/prestodb/presto/pull/7397

[2017-02-21 18:37] #7415 closed

[2017-02-21 18:45] electrum commented on #7415
This fix will be in 0.167

[2017-02-21 20:11] wenleix commented on #7342
Related issue: https://github.com/prestodb/presto/issues/6313

[2017-02-21 20:16] wenleix commented on #7358
Some similar code that constructs the `Constraint` from `Expression` can be found in [AddExchange]{https://github.com/prestodb/presto/blob/93b92dcd32736b8220ec5e6a1c43db6830c72c00/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java#L568}. One crucial difference is that this push down is done before the planning, thus the complete symbol->type mapping is not es

[2017-02-21 21:57] cawallin commented on #7410
OK, glad to hear that -- I'll close this issue then.

[2017-02-21 21:57] #7410 closed

[2017-02-21 22:05] electrum commented on #7414
Run `TestFullOrcReader.testStringDirectSequence` with this patch to reproduce quickly (the failure is quick but a success takes a very long time without this):

[code]

[2017-02-21 22:09] electrum commented on #7414
It passes when I revert these commits: 779382 5c524a be2a08

Reverting just the first two is not it, so be2a08 seems to be the culprit.

[2017-02-21 22:34] nezihyigitbasi commented on #7342
Superseded by #7421.

[2017-02-21 22:59] Yaliang opened #7422 "Add support for Thrift data"
We hope to leverage the power of Presto by developing the support for LZO Thrift data files. This data format is still widely used within Twitter, and presumably in other companies as well. We'd like to share the design and progress via [this doc](https://docs.google.com/document/d/19lRXXGUfF7O5bDq-uAGd9Qq7_Hp97yotmwrblTc9CAk/edit?usp=sharing).

[2017-02-21 23:01] Yaliang commented on #7422
+cc @billonahill @dabaitu

[2017-02-22 00:32] electrum opened #7423 "UI issues"
Per discussion:

* white lines
* only show kill button when query is running
* don't load "stage performance" from "live plan" in new window

[2017-02-22 01:12] chengat1314 commented on #7415
ok, I see.

Thank you very much!

[2017-02-22 01:27] martint commented on #7358
This should be doable entirely as part of layout selection when querying information_schema (i.e., in AddExchanges). It should not be necessary (or desirable) to do pruning during analysis.

[2017-02-22 03:56] #7414 closed

[2017-02-22 06:28] raghavsethi commented on #7423
Fixed by #7425

[2017-02-22 06:28] #7423 closed

[2017-02-22 06:42] wenleix commented on #7358
The maximum number of partition check is done in [HivePartitionManager::getPartitions()](https://github.com/prestodb/presto/blob/2f148fd21a9431a67c038eee68807d67ed7829c6/presto-hive/src/main/java/com/facebook/presto/hive/HivePartitionManager.java#L138) .

 For the `SHOW PARTITIONS` statement, during the rewriting phase, it will first get the table layout which throwing this issue.

[2017-02-22 06:49] electrum commented on #7358
Hive partition columns can be of any type, not just strings.

[2017-02-22 08:48] fiedukow commented on #6945
Thanks for report.
It looks like VARCHAR(x) -> TIME WITH TIME ZONE cast is missing. It looks like a bug. I'll try to fix it together with #7122.

As for casting from CHAR(x) -> TIME(STAMP). Presto does not support implicit casts for explicit cast argument. This seems like a bug but I have to confront that with SQL standard first.

[2017-02-22 09:49] gauravrathi92 commented on #7103
Hello everyone,

Any update on this ?

[2017-02-22 11:13] martint commented on #7358
We should move the check to the code that does layout selection, then.

[2017-02-22 13:18] cawallin commented on #7422
@AlekseiS how does https://github.com/prestodb/presto/pull/7119 relate to this?

[2017-02-22 15:45] pnowojski opened #7428 "Add support for dynamic filtering"
`fact_table` - large fact table, partitioned on `date_key`
`d_date` - small dimension table, with significant correlation on it's columns and `date_key`.

Currently for the following query:
[code]

larger probe table is fully scanned. When presto after scaning build table (right) could extract information that for `b.year = 2017` there are only small number of matching `b.date_key` values. This in

[2017-02-22 15:53] electrum commented on #7103
What file format are you using? Does it work against an unencrypted table?

[2017-02-22 16:17] RothA commented on #7103
@gauravrathi92 what file format are the files you are working with on S3?

I have been working through issues with parquet files that are stored on S3 with KMS client-side encryption.   Everything on EMR except for Presto uses the EMRFS for dealing with files on S3 which is why in both of our cases Hive works with the files as expected.  Presto instead uses the PrestoS3FileSystem which is where th

[2017-02-22 18:27] gauravrathi92 commented on #7103
Hi,

The file format which i used in S3 was the simple one just csv and hive is used to create meta data for the data stored in S3 files.

That is table is created in hive specifying the details of raw data in S3 and on that presto is used to compute the data.

[2017-02-22 18:29] gauravrathi92 commented on #7103
@electrum

yes it works with unencrypted table.

problem is only with encrypted one as presto shows NULL data while making query.

[2017-02-22 18:37] RothA commented on #7103
@gauravrathi92 if you have the unencrypted file size can you see if setting the 'x-amz-unencrypted-content-length' metadata field on the encrypted S3 file allows it work?  If it does, in my mind that still points to how the PrestoS3FileSystem.getObjectSize() method works.  The issue will probably manifest itself in different ways depending on the file type and the corresponding code that processes

[2017-02-22 18:51] gauravrathi92 commented on #7103
@ RothA
did not get you where to specify the property ?
Are you talking about AWS S3 console or the java code which uploads the encrypted file to S3.

[2017-02-22 18:56] AlekseiS commented on #7422
@cawallin the goal of https://github.com/prestodb/presto/pull/7119 is to develop a full thrift connector. As far as I understand the goal of this issue is to just support thrift encoding for data files. @Yaliang is my understanding correct?

[2017-02-22 19:01] wenleix commented on #7358
As @electrum  points out, there are two places that Presto will try to fetch all the partitions (and potentially cause #partitions exceeds `maxPartitions`:
- `ShowQueriesRewrite` , when it rewrites the show statement into a aggregation query over `__internal_partitions__` table
- When executing the query over `__internal_partitions__` is generated. Here is an example query plan:

[code]

The parti

[2017-02-22 19:03] RothA commented on #7103
@gauravrathi92 sorry I meant manually setting the property on the S3 file via the AWS S3 console

[2017-02-22 22:13] Yaliang commented on #7422
@AlekseiS Yes. It is.

[2017-02-22 22:56] knoguchi commented on #2863
I've read the source a bit.  There are places in the Presto code like this
https://github.com/prestodb/presto/blob/master/presto-spi/src/main/java/com/facebook/presto/spi/ColumnMetadata.java#L49

I think we have to remove those toLowerCase().   Then add "preserveCase" boolean flag to getName() that defaults to lower case.  It's just an idea to start with.

[code]

[2017-02-23 00:51] erichwang opened #7430 "Optimize IN expression with single value"
An IN expression with a single value, such as (a IN ('abc)) can be optimized to an equivalent equality of (a = 'abc'). This is a far more efficient from of execution. There are several ways to go about this:
1) Have an expression optimizer that specifically replaces these expressions at optimization time.
2) Have the IN bytecode compiler directly generate the equality for the expression at executi

[2017-02-23 01:20] martint commented on #7430
It should be done in an optimizer. That has the advantage that the simplified expression may become a candidate for partition pruning, etc.

[2017-02-23 01:35] erichwang commented on #7430
Note that this already works for predicates as a side-effect of the predicate pushdown optimization.

[2017-02-23 02:21] maciejgrzybek commented on #7183
PR: https://github.com/prestodb/presto/pull/7300

[2017-02-23 02:22] maciejgrzybek commented on #7175
PR: https://github.com/Teradata/presto/pull/495.
Will be started against prestodb/presto once https://github.com/prestodb/presto/pull/7300 is merged.

[2017-02-23 02:22] maciejgrzybek commented on #7161
PR: https://github.com/prestodb/presto/pull/7429

[2017-02-23 03:08] daiduongbian44 opened #7432 ""No nodes available to run query" on EMR using presto-mysql-connector"
Hi all,
I'm setting up EMR with **1 Master node, 2 Core nodes**. When using **presto-mysql-connector** plugin, i queried data on presto which connect to the table on Mysql and it is fail.
`select * from mysql.test_database.test_table;`
error occured:
`Query 20170223_030610_00007_7qfpk failed: No nodes available to run query`
But if i using EMR with **only 1 Master node**, the result of query is ok

[2017-02-23 04:03] tuanvn6467 opened #7433 "Presto Call store procedure from mysql connector"
Hello @dain ,
I have configured presto and I am trying to use it.
i have mysql connector and it work very good with query
But when i called store procedure/function from mysql connector, it have error:

presto:default> select * from mysql.mp_commerce.test;
idtest | testcol
--------+------------------
1 | Hair Care
2 | Body Care
3 | Kits & Gift Sets
(3 rows)

Query 20161111_022956_00023_ki3sk, FINI

[2017-02-23 13:11] ilfrin commented on #7428
Here's a doc with the design, please mind it's a work in progress ... https://docs.google.com/document/d/1NYhEqYfmOPUqYFVzmOWvIXds5reFlaAi7z-zeJWqSLE

[2017-02-23 14:53] cawallin commented on #7432
Make sure that your mysql.properties file is on all of the Presto nodes, not just the coordinator.

[2017-02-23 14:56] cawallin commented on #7433
@tuanvn6467 Presto does not support calling stored procedures or functions from connectors. For more information, see https://prestodb.io/

[2017-02-23 14:56] #7433 closed

[2017-02-23 18:10] electrum commented on #6624
The parallel output is in #7061

[2017-02-23 19:04] wenleix opened #7436 "Improve the performance of MapTransformKeyFunction and MapTransformValueFunction"
Lambda functions `transform_key` and `transform_value` are introduced in https://github.com/prestodb/presto/issues/7285, and currently they are not less efficient since they are not using byte-code generation .

We should optimize it similar to the `transform` lambda function, introduce the benchmark class, as done in https://github.com/prestodb/presto/issues/6780.

[2017-02-23 22:57] wenleix commented on #6779
An incorrect implementation: https://github.com/wenleix/presto/commit/78ea25563fffb74e9ba0cc33bf28ef5033435647. Just for reference.

[2017-02-23 23:52] electrum opened #7438 "Investigate if Hive connector should add stats properties"
Partitions (or unpartitioned tables) written by Hive seem to have the following properties (tested with Hive 1.2.1):

* `COLUMN_STATS_ACCURATE` = `true`
* `numFiles`
* `numRows`
* `rawDataSize`
* `totalSize`

This looks like a good starting point: https://github.com/apache/hive/blob/master/standalone-metastore/src/main/java/org/apache/hadoop/hive/common/StatsSetupConst.java

[2017-02-24 00:25] sivankumar86 opened #7439 "json_extract skip/truncate the value"
Below query returns one value i.e it gets truncated after che
[code]

output
[code]

expected
[code]

[2017-02-24 05:42] dain commented on #7278
I'm pretty sure I have found this one also.  The root problem is `ExchangeClient.postProcessPage` method only frees memory if the `closed` flag is not set.  This is because the `close` method clears the memory allocation, so we need to prevent going "negative".  To make it more complex, there are a few places that set `closed` directly without calling the `close` method, and 64c3fc8b027f598d63fd13

[2017-02-24 05:50] lotuc commented on #3416
I just create a new repo [lotuc/presto-sqlserver](https://github.com/lotuc/presto-sqlserver) and separate the sqlserver connector in case someone need it.

[2017-02-24 06:12] raghavsethi commented on #7278
Ah I see, thanks!

[2017-02-24 07:06] shivasakthi18 commented on #1195
+1 on it, post us some expected time to accomplish.

[2017-02-24 13:41] findepi commented on #7439
@sivankumar86, please make sure your query is _displayed_ here as you expected. Please wrap the query with triple back ticks (e.g. \`\`\` select .... \`\`\`) to prevent GH from tampering with single/double quotes and backslashes in your query.

[2017-02-24 17:15] electrum commented on #7439
I edited the issue to add code formatting: https://guides.github.com/features/mastering-markdown/

Your example seems to work as expected:

[code]

Note that the output is surrounded by JSON quotes, because `json_extract` returns the result as a JSON string. You probably want to use `json_extract_scalar`:

[code]

[2017-02-24 17:16] electrum commented on #7439
I'm going to close the issue because the function seems to be working as expected. Please re-open if you find another example.

[2017-02-24 17:16] #7439 closed

[2017-02-24 19:05] raghavsethi opened #7443 "Planning failure for mixed distinct and non-distinct aggregation"
[code]

Fails with:

[code]

[2017-02-24 19:10] martint commented on #7443
Not a release blocker. This optimizer can be turned off with a config option.

Also, I think there an issue already filed for this and a PR pending review

[2017-02-24 19:11] wenleix commented on #7443
This duplicates https://github.com/prestodb/presto/issues/7214. The related PR to fix this: https://github.com/prestodb/presto/pull/7417

[2017-02-24 19:12] #7443 closed

[2017-02-24 22:22] amrutagokhale commented on #6688
Closing this, since the PR was merged.

[2017-02-24 22:22] #6688 closed

[2017-02-24 23:36] electrum opened #7447 "Support enabling SSL for MongoDB connector"
Add a new config option `mongodb.ssl.enabled` in `MongoClientConfig`, utilize it in `MongoClientModule` and document it in the `mongo.rst` file.

[2017-02-25 17:53] kruppel commented on #7447
@ebyhr @electrum Did this stem for the question on the IRC channel? An earlier PR was posted by the OP for this issue in #7440 😄.

[2017-02-26 01:19] ebyhr commented on #7447
Oops! I made almost the same PR. I closed my PR :)
Thank you for telling me!

[2017-02-26 03:06] electrum commented on #7447
Yes, I filed this based on the IRC question. I didn't realize there was already a PR. Sorry for the confusion.

[2017-02-27 07:59] shanielh opened #7453 "Parquet Hive Record Cursor does not support "nullable records""
I'm writing parquet files with nested records that are optional, I represent those fields inside the avro schema via union of null and record-type.

It seems that the ParquetHiveRecordCursor doesn't support this case, [I get this exception](https://github.com/prestodb/presto/blob/1effe0ffbf9d4b81ac4c103c35dbb8b3d3ccf88a/presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetHiveRecordCu

[2017-02-27 15:58] electrum opened #7454 "Flaky test AbstractTestQueries.testNonDeterministic"
Example failure:
[code]

[2017-02-27 16:03] electrum commented on #7432
Presto has a config property `node-scheduler.include-coordinator` that means whether or not the coordinator can perform work. EMR likely sets this to `true` with a single master node (otherwise it wouldn't work at all) and `false` if you have additional nodes. This explains why it works in one case but not the other, assuming the `mysql.properties` file is only on the master node as @cawallin gues

[2017-02-27 16:03] #7432 closed

[2017-02-27 16:04] #7447 closed

[2017-02-27 16:07] electrum commented on #7453
@zhenxiao or @nezihyigitbasi any ideas here?

[2017-02-27 17:29] nezihyigitbasi commented on #7453
Can you try the new Parquet reader (set the session parameter `parquet_optimized_reader_enabled` to `true`) and see if it works?

It's possible that the `ParquetHiveRecordCursor` doesn't properly handle your case (are you using Hive union type in your table schema?), but to really understand (and reproduce) what's going on more info is needed.

Can you please share:
- the full stack trace that you

[2017-02-27 19:08] bhargavak commented on #5100
On Presto 0.152, we are seeing similar error:

<pre>
com.facebook.presto.operator.PageTransportErrorException: Error fetching http://172.20.1.210:8889/v1/task/20170222_164205_00090_xxx.378.2/results/29/0: Expected response code to be 200, but was 400 HTTP/0.9 not supported:
<h1>Bad Message 400</h1>reason: HTTP/0.9 not supported

	at com.facebook.presto.operator.HttpPageBufferClient$PageResponseHan

[2017-02-27 19:20] dain commented on #5100
This issue has been fixed for a while now and we no longer see this in any of our Presto clusters.  If you are still seeing this in the latest release, please open a new issue.

[2017-02-27 19:20] #5100 closed

[2017-02-27 22:10] sguleff opened #7457 "lijlnbulfbfgeifeegehdjjdlkdbtikubiuelttdritvgtbnjrrr"

[2017-02-27 22:11] #7457 closed

[2017-02-28 06:57] wenleix commented on #7436
The benchmark in https://github.com/prestodb/presto/pull/7461 shows byte-code generation for this is probably not promising :(

[2017-02-28 07:10] shanielh commented on #7453
@nezihyigitbasi Thanks for the fast answer,

I will need some help with that since I'm working via AWS Athena and not directly using presto on my computer.

I set up a "singlenode" cluster (using `presto-product-tests/bin/run_on_docker.sh`) and downloaded and ran the presto cli tool - I have no idea how to continue from here.

The schema of the table (In Athena) :

[code]

Parquet file level schem

[2017-02-28 07:47] xianhu opened #7463 "use udf, error"
version: 0.166

pom.xml
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>prestoudf</groupId>
    <artifactId>prestoudf</artifactId>

[2017-02-28 13:55] Jimexist opened #7465 "com.facebook.presto.sql.SqlFormatter.Formatter#visitCreateSchema did not escape schema name"
In this method (com.facebook.presto.sql.SqlFormatter.Formatter#visitCreateSchema) the schema's name gets appended directly, without checking against com.facebook.presto.sql.SqlFormatter#NAME_PATTERN.

Suggest changing to using com.facebook.presto.sql.SqlFormatter.Formatter#formatName(com.facebook.presto.sql.tree.QualifiedName)

[2017-02-28 13:57] Jimexist commented on #7465
In Master:

https://github.com/prestodb/presto/blob/master/presto-parser/src/main/java/com/facebook/presto/sql/SqlFormatter.java#L699

Minimal example:
[code]

[2017-02-28 15:13] electrum commented on #7465
Thanks for finding this. Do you want to submit this fix as a Pull Request?

[2017-02-28 18:20] felarof99 opened #7470 "Error when plugging in UDF"
Hi, I followed [this](https://www.qubole.com/blog/product/plugging-in-presto-udfs/?nabe=5695374637924352:1) tutorial and leveraged [this](https://github.com/qubole/presto-udfs) github project and wrote a simple 'mysum' UDF function.

[code]
I followed the below steps to plugin the UDF but Presto fails to import the function. _Since, there is very little documentation about writing and plugging UDF

[2017-02-28 19:46] geraint0923 commented on #7436
For the `transform_values`, I think re-adding keys to a new `InterleavedBlock` might negate the benefit of bytecode generation. Can you try just re-construct the value part and re-use the key part?

[2017-02-28 22:22] austenpiers commented on #6823
@raghavsethi

What is the UDF then??
Please include UDF name and link source code

[2017-02-28 22:26] raghavsethi commented on #6823
@martint You told me this was done, but I can't find it in the code either?

[2017-02-28 22:46] raghavsethi commented on #6823
Ah sorry, I misunderstood. This is under review: #7233

[2017-02-28 23:42] #6929 closed

[2017-03-01 00:10] geraint0923 commented on #7334
PR has already been merged.

[2017-03-01 00:10] #7334 closed

[2017-03-01 03:28] Jimexist commented on #7465
@electrum the PR is here https://github.com/prestodb/presto/pull/7467

[2017-03-01 05:43] mradwan opened #7476 "Support column removals in presto-raptor"
Currently presto supports adding new columns to an existing table in raptor, would be great if we can also add column removals to delete unused columns arbitrary positions in existing tables.

[2017-03-01 06:26] zhenxiao commented on #7453
This could be a schema evolution problem. Could you please check whether your Metastore schema and Parquet file schema matches?

ParquetHiveRecordCurosr needs this patch:
https://github.com/prestodb/presto/pull/4714

To supports flexible Schema evolution.

If trying Athena, not sure if there is an easy way to try a patch on the binary.

[2017-03-01 06:28] shanielh commented on #7453
@zhenxiao Not sure I have way to do that on Athena, is there easy guide to install presto+hive+any-other-needed-dependency (via docker)?

[2017-03-01 06:32] zhenxiao commented on #7453
I do not think there is such solution yet. Or, if you have a reproducible test, I could debug from there.

[2017-03-01 06:34] shanielh commented on #7453
@zhenxiao I'll try to export a parquet file with a little portion of the data that reproduces the bug.

Thanks.

[2017-03-01 09:51] shanielh commented on #7453
@zhenxiao I've gathered data for your request, this is the avro schema :

[code]

[output.zip](https://github.com/prestodb/presto/files/810260/output.zip)

[2017-03-01 16:36] ebuildy opened #7479 "Wrong (similar) field is returned"
Hadoop: 2.6
PrestoDB: Presto CLI 0.148
Connector: Hive (Hive 1.2)

I have a Parquet Hive table, with 20 fields:
- fullname
- browser_fullname
- ....

Running the query ``SELECT COUNT(*), fullname FROM sample2 GROUP BY fullname;``

gives ``browser_fullname`` field instead of ``fullname``.

Tested with Hive on Tez and Apache Drill, it's ok:

![](http://b3.ms/a8XAjV0zABDx)

[2017-03-01 16:46] nezihyigitbasi commented on #7479
I suspect there is some sort of schema mismatch here, you should compare the  Hive schema vs. the Parquet file level schema to confirm that.

BTW by default Presto uses index-based access when reading columns from Parquet files, and probably the Hive column index for the `fullname` column points to the `browser_fullname` column in the Parquet file. You can try setting `hive.parquet.use-column-name

[2017-03-01 17:09] fiedukow commented on #7122
Please take a look at #7480 with fix implementation.
Also here is doc detailing changes and backward compatibility issues as requested:
https://docs.google.com/document/d/1UUDktZDx8fGwHZV4VyaEDQURorFbbg6ioeZ5KMHwoCk/edit?usp=sharing

[2017-03-01 19:36] nezihyigitbasi commented on #7470
The github project you used to create your udf is kind of old (last commit to that repo is on Jul 26, 2016) and in the README Presto 0.142 is listed as a compatible version, which is pretty old. I recommend following the official [developer guide](https://prestodb.io/docs/current/develop.html) to write your own udf.

[2017-03-01 20:30] electrum commented on #7470
As @nezihyigitbasi points out, the developer guide should explain everything you need. There are two important parts:

1. The SPI Overview chapter explains how to package a plugin. Make sure the JAR has the `com.facebook.presto.spi.Plugin` file in the `META-INF/services` directory.
2. The Functions chapter explains the `getFunctions()` method.

When your server starts, you will see log lines like

[2017-03-01 20:31] electrum commented on #7470
Please reopen the issue if you still need assistance.

[2017-03-01 20:31] #7470 closed

[2017-03-01 20:34] KBP-TDC commented on #7479
Please add "--debug" when starting the CLI for get more verbose logging.

[2017-03-01 20:38] electrum commented on #7463
Plugins should not depend on `presto-main`, since the classes won't be available to the plugin's class loader. Additionally, the SPI dependencies should be `<scope>provided</scope>` so they aren't packaged with the plugin. Also, it's better to build a zip file rather than an uber-jar.

Try changing the POM to look like this:
[code]

[2017-03-01 21:01] Balandat opened #7481 "Add support for higher-order central moments (for skewness/kurtosis)"
Presto today supports computing variance and covariance. It would be great to add support for computing higher-order central moments (third and fourth order).

The way to do this in a single pass is known, see e.g. [this paper](http://prod.sandia.gov/techlib/access-control.cgi/2008/086212.pdf) for the formulas. This would be a relatively simple addition that would allow for additional meaningful d

[2017-03-01 22:10] kaschaeffer commented on #7481
@erichwang @AlekseiS any objections to adding this to Presto? this would be helpful for some of the more advanced stats that core data science team is exploring in collaboration with Deltoid.

[2017-03-01 22:14] AlekseiS commented on #7481
For global functions let's ask @martint .

[2017-03-01 22:36] electrum opened #7483 "Add DROP COLUMN support to ALTER TABLE"
Syntax:
[code]
This can be implemented for the Hive connector. The engine, inside `DropColumnTask`, should reject dropping the only column from a table (i.e. we can't end up with a table with no columns).

[2017-03-01 22:37] electrum commented on #7476
Depends on #7483

[2017-03-01 22:39] electrum commented on #7476
Raptor uses a per-table column ID, which is not tracked separately (adding a column just picks the `max(id) + 1`, so for the first version, we can restrict dropping the last column from the table.

[2017-03-02 01:53] xianhu commented on #7463
Thanks

[2017-03-02 02:05] highker commented on #7436
Here the benchmark results of reusing key/value part

Benchmark                                      (name)  Mode  Cnt    Score   Error  Units
BenchmarkTransformKey.benchmark        transform_keys  avgt   20  154.039 ± 6.796  ns/op
BenchmarkTransformKey.benchmark  exact_transform_keys  avgt   20  141.211 ± 3.684  ns/op

Benchmark                                          (name)  Mode  Cnt   Score

[2017-03-02 02:14] electrum commented on #7463
Please reopen if you need further assistance.

[2017-03-02 02:14] #7463 closed

[2017-03-02 02:50] hzzz823 opened #7486 "SqlFormatter.formatSql(CreateTable, Optional.empty())"
[code]

-->
[code]

it should be
[code]

[2017-03-02 07:15] javainthinking opened #7487 "How to understand the difference of results of function "yow(timestamp 'xxx')" and "yow('xxx')"?"
select yow(timestamp '2016-01-01 23:01:00');
+-------+
| _col0 |
+-------+
|  2015 |
+-------+

select yow('2016-01-01 23:01:00');
+--------+
| _col0  |
+--------+
| 201552 |
+--------+

[2017-03-02 09:08] ebuildy commented on #7479
Hello @nezihyigitbasi , you are right, setting ``hive.parquet.use-column-names=true`` did the trick.

Thanks you guys for such fast answers.

[2017-03-02 09:08] #7479 closed

[2017-03-02 10:52] findepi commented on #7250
I observed that
* with `hive.rcfile_optimized_reader_enabled=false` we currently get `ArithmeticException: Rounding necessary`
* with `hive.rcfile_optimized_reader_enabled=true` we currently get `IllegalStateException: Read decimal value scale larger than column scale`
* whereas Hive reads the values (rounds `HALF_UP`)

What is the expected behavior in Presto? Does the _expected_ behavior depend o

[2017-03-02 11:39] ducky427 opened #7489 "Use a newer version of parquet-hadoop for writing parquet files"
I created a hive table in PrestoDB as a parquet type. When I tried to read the parquet from HDFS directly, I got this warning:

[code]

The underlying reason for this seems to that this file was written using `parquet-hadoop` version `1.6.0` while I was reading it with version `1.9.0`.

While this is only a warning, it will be good to upgrade the parquet version being used.

Thanks!

[2017-03-02 11:41] sopel39 commented on #7250
One node: `presto-orc` is also used in Raptor, so any semantics change to `presto-orc` will also change behavior how raptor reads the data.

[2017-03-02 11:42] ducky427 commented on #7489
This bug is related to #4732

[2017-03-02 11:47] #7489 closed

[2017-03-02 11:47] ducky427 commented on #4732
+1

[2017-03-02 17:18] ducky427 opened #7490 "Presto-accumulo connector incorrectly requires a Column Family to be present for an external table"
Currently in the presto-accumulo connector for an external table, when mapping from accumulo value to prestodb column, it is required that column family  be non-empty. This shouldn't be the case as it is possible to have this as empty.

The offending line is https://github.com/prestodb/presto/blob/47e12e761f3731dd2800456d59e64071bbdae909/presto-accumulo/src/main/java/com/facebook/presto/accumulo/c

[2017-03-02 19:20] mehramanish opened #7491 "Presto taking very long time to execute the query. Its running slower than hive on EMR"
We tried running the query on presto-cli and its taking >36mins to execute
whereas when we run the same query on hive it gets run in 70secs.

We are using R3 8x large cluster with 9 nodes.

Avg utilization(on ganglia) is <20% . No other job is running in parallel on the cluster.

We have altered few configurations as stated below but not much improvement is been observed.

query.max-memory=500GB

[2017-03-02 19:39] KBP-TDC commented on #7491
This seems to be pretty complex query. Are stats computed on the tables?
Also, you should be looking at EXPLAIN ANALYZE to understand where is the biggest bottleneck in this query.

[2017-03-02 19:42] pnowojski commented on #7149
@martint there is some overlap/potential conflict on `Extract SymbolsMapper class` that I have done in some other PRs:
https://github.com/prestodb/presto/pull/7095
https://github.com/prestodb/presto/pull/7427

[2017-03-02 20:28] ervazquez commented on #6666
Hi,

Is there a ticket open to solve this issue? Or has it been solved already in a more recent version of Presto?

[2017-03-02 21:49] RothA commented on #7103
I have been able to do a first pass at a fix but have not had the time to fully test it so it could be submitted.  Been running this on a testing patched EMR cluster with Presto and have not experienced any issues yet. I am sure it could be optimized as well as it performs slightly slower than when you have the correct S3 'x-amz-unencrypted-content-length' metadata set, which makes sense.

The iss

[2017-03-02 22:10] RothA commented on #7491
Came across this article that shows a few tweaks that may need to occur when running on EMR.  Worth a try? http://brandonharris.io/evaluating-big-data-performance-of-prestodb-and-parquet-on-s3-storage/

[2017-03-02 22:12] RothA commented on #7186
Seems similar to https://github.com/prestodb/presto/issues/7103

[2017-03-02 23:44] ducky427 opened #7492 "Incorrect handling of Dates in AccumuloRecordCursor#getLong"
It seems that for a `java.sql.Date`, the [`getLong`](https://github.com/prestodb/presto/blob/master/presto-accumulo/src/main/java/com/facebook/presto/accumulo/io/AccumuloRecordCursor.java#L221) method of AccumuloRecordCursor returns the number of milliseconds, whereas it is expected to return the number of days. The latter behaviour can be seen in a similar method for [presto-jdbc](https://github.

[2017-03-02 23:44] ducky427 commented on #7492
If this is the correct assessment, I can submit a PR.

[2017-03-02 23:58] nezihyigitbasi opened #7493 "Live Plan for queued queries fail"
Clicking "Live Plan" for a queued query fails with the below JS error.  Maybe we should disable that button for QUEUED and PLANNING queries.

[code]

[2017-03-03 00:45] dain commented on #7250
Was this file written with one schema and then is being read with another schema?

[2017-03-03 01:24] haozhun opened #7494 "Improve resource group sanity check"
This resource group configuration is confusing because the scheduling weight property is ignored unless the parent resource group has `schedulingPolicy` of `weighted`.

This resource group configuration should be rejected during sanity check of the configuration.

                {
                    "name": "requests",
                    "softMemoryLimit": "80%",
                    "maxRunning

[2017-03-03 01:37] raghavsethi commented on #6899
This turns out to be a hard problem to solve, because EXPLAIN ANALYZE may actually produce different plans than the original query.

[2017-03-03 02:23] Balandat commented on #7481
So I went ahead implemented this. I have it running successfully. Basically, there is a new "CentralMomentsState" and associated update/merge functions in AggregationUtils that does a bunch more than than the existing "VarianceState". For now I implemented the following functions:
[code]
both of which work just like the variance aggregation function.
I'm also considering implementing a function
[c

[2017-03-03 02:41] dain commented on #6666
Presto has supported bucketed tables for both read an write for a long time now.  Sorted bucketed tables are not supported for writes.

[2017-03-03 02:41] #6666 closed

[2017-03-03 03:14] wyukawa opened #7496 "java.lang.IllegalArgumentException: left and right type do not match in comparison expression"
Hi

I use presto 0.167 + HDP 2.5.3 + hive connector

The following error occurred
[code]

table
[code]

query
[code]
This error doesn't occur in presto 0.166.

I guess https://github.com/prestodb/presto/commit/6ec736dd91753ad2566890d24205e5b35811b27b is related

And, there is no error in the following query in presto 0.167
[code]

[2017-03-03 04:24] martint commented on #7481
Yeah, those functions are good. Let's add them.

[2017-03-03 09:03] wenleix commented on #7049
Somewhat related to https://github.com/prestodb/presto/pull/7387, but with different appraoch.

[2017-03-03 09:29] findepi commented on #7250
@dain, I can't tell how it was originally, but yes, this is how I reproduce this issue:

* In hive, create RC table with `string` column, fill it with some decimals
* in hive, create RC table with `decimal(p,s)` column, load the first table's data file as data for the new table
* query the table from hive and presto

[2017-03-03 18:27] leonpanokarren opened #7499 "json_extract doesnt extract keys with double quotes"
A JSON column in my source table has the structure
[code]
I am unable to JSON_EXTRACT this successfully. Tried

[code]
and this

[code]
How do I get around double quotes in keys? I thought backslashes effectively escaped quotes.

[2017-03-03 18:31] electrum commented on #7492
This looks like a correct assessment to me. The existing Accumulo tests in `TestAccumuloDistributedQueries` use dates, so I'm curious why they don't catch this.

cc @adamjshook

[2017-03-03 18:36] electrum commented on #7499
We should support escaped backslashes via `\"` in JSON paths. This should be an easy change to `JsonPathTokenizer`.

[2017-03-03 18:38] electrum commented on #7499
Unfortunately, this will be a backwards incompatible change because backslash will now need to be escaped. We should only allow a backslash to be followed by another backslash or a double quote.

[2017-03-04 08:10] stewartpark commented on #5989
This also happens on MySQL catalogs. Any resolution for this?

[2017-03-04 19:05] findepi opened #7507 "Adding exchanges sometimes fails with "No more locations already set""
Various tests fail at random with something like below. This is quite frequent (eye-approximated at 0.7 failure per travis build) and not limited to narrow set of tests, so I would suspect an application issue rather than tests'.

[code]

[2017-03-05 04:32] martint commented on #7507
I think this is the issue @dain was trying to track down.

@dain, this instance was in statement resource, not driver.

[2017-03-05 07:43] wenleix commented on #7342
Some previous optimization is done in https://github.com/prestodb/presto/issues/6313. @nezihyigitbasi  is working on some further optimization to reduce the memory footprint :)

[2017-03-05 17:10] dain commented on #7507
Interesting.  I've never seen this in `StatementResource`.  Thanks

[2017-03-06 02:45] #7486 closed

[2017-03-06 03:41] jabonillomelvin opened #7511 "Hardware requirement for Prestodb Server"
Recommended
HDD?
CPU?
Memory

Minimum
HDD
CPU
Memory

[2017-03-06 09:16] findepi commented on #7250
@dain, @electrum, @martint, what's the expected behavior in this issue?

[2017-03-06 11:12] findepi opened #7512 "Tests sometimes fail upon instantiation of TestingPrestoServer"
Sometimes something like the following appears in the logs @ Travis

[code]

I tracked down the source of the `ValidationException` and got this:

[code]

Looking at the code of `org.apache.bval.jsr.ConstraintValidation`, the class is _terribly not thread safe_ and lazy initializes `validator` field. Hence `MinDataSizeValidator.isValid(MinDataSizeValidator.java:33)` can fail with NPE because `isVa

[2017-03-06 15:45] KBP-TDC commented on #7511
http://teradata.github.io/presto/docs/current/system-requirements/hardware-requirements.html
We actually find it common to have 128-256GB of RAM per node, dual CPUs (8-16 cores), 10Gbps or Infiniband network.
Presto does not use it own storage really so standard HDD for HDFS or S3 in AWS work great.

[2017-03-06 15:47] cawallin commented on #7511
Closing this, let us know if you need any more assistance.

[2017-03-06 15:47] #7511 closed

[2017-03-06 17:44] Balandat commented on #7512
I believe this happened to my build here: https://travis-ci.org/prestodb/presto/builds/207566031

[2017-03-06 17:46] Balandat commented on #7481
This builds and tests fine locally. It appears the test error in travis is due to #7512.

[2017-03-06 21:25] erichwang commented on #7496
@losipiuk, I have a PR to remove the check for now. Can you follow up here and see where the actual bugs are originating?

[2017-03-06 22:17] maciejgrzybek opened #7520 "Join on expression without columns produces wrong results"
[code]
returns `true` despite the fact
[code]
returns `false`.

This happens because:
1. Analyzer picks the equality operator is picked in `ExpressionAnalyzer` (to be `$operator$EQUAL(varchar(2),varchar(2)):boolean`), registering necessary coercions (`cast ('a' as char(1))` -> `VARCHAR(2)`, `cast ('a' as char(2))` -> `VARCHAR(2)`)
2. `expressionOptimizer(canonicalized, metadata, session, analyzer.

[2017-03-06 22:20] maciejgrzybek commented on #7520
I believe we could rewrite the plan to include `CAST` nodes whenever we decide to coerce. This would be consistent with the visitors we have in the code.
I was not convinced by `Analyzer` rewriting the plan but it turns out we do it anyway, e.g. `StatementAnalyzer.visitJoin` does it as an optimization:
- if expression is evaluated to TRUE/FALSE, then replace it with `0 = 0` or `0 = 1`.

[2017-03-07 00:31] rongrong opened #7521 "Add default_priority for query_priority scheduling policy"
In resource group configuration, currently if we configure a group's scheduling policy to use `query_priority`, each of the query submitted to that resource group and its sub-groups need to provide a priority. This is inconvenient when managing sub-groups.

- Add a `defaultPriority` field to each sub-group if a group's scheduling policy is `query_priority`
- Validate that `defaultPriority` is conf

[2017-03-07 01:38] electrum commented on #7521
Is this a problem with the data model in the SPI, or with the `FileResourceGroup` implementation?

[2017-03-07 02:37] rongrong commented on #7521
Not sure what you mean. It's more like a adding a feature than fixing a problem I suppose. ResourceGroupSpec would have an additional input. Alternatively we can use "schedulingWeight" but that's probably more confusing.

[2017-03-07 07:04] chengat1314 opened #7523 "Lost all the workers after cancel a heavy query."
As the message in the subject,  our cluster lost all the workers when someone cancelled a heavy query after running about 20 minutes.
During the down time of the cluster, the CPU usage is low but have a process is keeping doing GC.

The log message got from one of the worker:
2017-03-06T03:08:50.834Z        ERROR   Announcer-2     io.airlift.discovery.client.Announcer   Expected service announceme

[2017-03-07 08:58] findepi commented on #7512
@Balandat, fear not! a fix is on its way!

[2017-03-07 09:16] jabonillomelvin opened #7525 "Do you recommend to connect prestodb to mysql?"

[2017-03-07 09:21] jabonillomelvin opened #7526 "Do you recommend to connect prestodb to mysql?"
I want to implement this prestodb for big data query but the problem is that prestodb is so much slower than the native mysql. Mysql takes 20 seconds but for me this is already bad. For prestodb it took me so long I don't know what is the problem of it, about 1.46 minute.

Please tell me if there is a way to make my prestodb more faster. For now this is just a test feature having only 1 server wit

[2017-03-07 09:59] sopel39 commented on #7520
@fiedukow I think you stumbled at this issue in the past.

@maciejgrzybek We had a discussion with @martint about whether rewrites in analyzer are fine, see: https://github.com/prestodb/presto/issues/6883. Analyzer should provide proper feedback to the user. If you rewrite the nodes during analysis, then for instance error messages might not be valid anymore (e.g: point to non-exiting AST nodes).

[2017-03-07 10:01] #7525 closed

[2017-03-07 14:08] sopel39 opened #7527 "SimplifyExpressions and DesugaringOptimizer doesn't process all expressions in tree"
`SimplifyExpressions` and `DesugaringOptimizer` works only for project, filter and table scan. What about other nodes, e.g:

* arguments of aggregation function call
* Probably `ApplyNode` should also be handled (it contains assignments)
* join node filter function
* values node?

FYI: @martint @haozhun

[2017-03-07 16:21] maciejgrzybek commented on #7520
The argument for user-feedback is not quite correct with existing optimization (rewrite expressions into 0 = 0 or 0 = 1).

I will move the optimization to later phase (planner or optimizer) and post a PR to discuss more around the code, if needed.

[2017-03-07 17:41] sopel39 commented on #7520
Yeah, that probably shouldn't be in `StatementAnalyzer` too

[2017-03-07 17:58] haozhun commented on #7527
Arguments of aggregation function call should be fine? We pre-project them.

For values node, it looks like they're interpreted on the coordinator (I'm guessing based on how the explain plan looks like)? As a result, this shouldn't be a problem?

I agree with you that `ApplyNode` and join filter function are likely broken.

[2017-03-07 18:29] sopel39 commented on #7527
Actually, `ApplyNode` is also fine probably. Expression can only be: `sym_a IN (sym_b), sym_a <= ANY(sym_b)` etc... It doesn't contain any lambda or timezone expression.

I think values don't have any complex expression either because those are projected above values node (e.g: in case of nondeterministic expressions)?

It's tricky though that we have to analyze each case separately and one has to

[2017-03-07 18:35] #7512 closed

[2017-03-07 18:39] findepi commented on #7512
we still need to update airlift in presto. @david, how do we do this?

[2017-03-07 18:53] dain commented on #7523
Unfortunately, there isn’t enough information in this report to even begin to guess at what is going on.  I suggest you start by verifying you coordinator and workers are using G1 garbage collector:

-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError

And I would enable all of the GC logging:

-

[2017-03-07 18:57] martint commented on #7520
The analyzer's job is to validate the query and annotate the AST with any information that the planner is going to need to go from AST->IR (AST is untyped. IR should, ideally, be fully typed, with all coercions resolved). We still do some rewrites in the analyzer due to legacy reasons, but those should move to proper optimizers.

[2017-03-07 19:09] maciejgrzybek commented on #7520
#7529 should to the trick.

[2017-03-07 19:30] electrum commented on #7250
Both Presto readers should produce the same result as Hive does when reading the table.

[2017-03-07 19:41] dain commented on #7526
The Presto connector for MySQL is designed for joining "dimension" data into big "fact" tables provided by another connector (e.g., Hive, Cassandra, Accumulo, etc).  The MySQL connector implementation uses a single JDBC connection per table per query.  The connector can only push down simple filters to the MySQL engine, so in many cases all of the data is streamed back to Presto.

So to answer the

[2017-03-07 19:41] #7526 closed

[2017-03-07 21:05] electrum commented on #7232
@nezihyigitbasi or @zhenxiao any ideas?

[2017-03-07 22:00] petroav commented on #7512
@findepi we probably need to (1) release Airlift and then (2) update https://github.com/prestodb/presto/blob/master/pom.xml#L49.

[2017-03-08 02:11] nezihyigitbasi commented on #7232
I took a look at this issue with the new Parquet reader (didn't check the old one, the ParquetHiveRecordCursor) and our decimal support in the new reader doesn't properly implement the Parquet [spec](https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md) -- we only handle the `fixed_len_byte_array` case in this spec. Some work needs to be done to add support for the rest.

[2017-03-08 02:15] nezihyigitbasi opened #7533 "Improve decimal type support in the new Parquet reader"
The new Parquet reader should handle all the types (`int32`, `int64`, etc.) for supporting Parquet decimals properly, please see the [spec](https://github.com/Parquet/parquet-format/blob/master/LogicalTypes.md). I checked the new reader and it currently only handles the `fixed_len_byte_array` case. This is needed to fix #7232.

[2017-03-08 02:23] jabonillomelvin commented on #7526
@dain So having join queries is not recommended for this?

Situation is that there are two big tables joining and to be process in prestodb but it was so very slow.

[2017-03-08 02:42] chengat1314 commented on #7523
JVM setting:

-verbose:class
-server
-Xmx54039278518
-Xmn512M
-XX:+UseConcMarkSweepGC
-XX:+ExplicitGCInvokesConcurrent
-XX:+CMSClassUnloadingEnabled
-XX:+AggressiveOpts
-XX:+HeapDumpOnOutOfMemoryError
-XX:OnOutOfMemoryError=kill -9 %p
-XX:ReservedCodeCacheSize=150M
-Xbootclasspath/p:

[2017-03-08 02:43] chengat1314 commented on #7523
Thanks, I will try to update the JVM setting  and test.

[2017-03-08 03:35] dain commented on #7526
What I'm saying is the mysql connector is good for reading "small" amounts of data into a larger Presto query where the bulk of the data is coming from another system.  For example, you have large table of web visits in Hive, and you join in device information from a mysql database.  If you want to work exclusively with data in single mysql database, you are best off doing that in mysql itself.

[2017-03-08 03:38] dain commented on #7523
The problem is you are using CMS.  You want to use G1 with Presto.  My guess is the problems will go away with that change alone.

-dain

[2017-03-08 05:18] chengat1314 commented on #7523
OK, thx I will try out.

[2017-03-08 08:35] michal-databricks commented on #7232
As a work around you can force Spark to use fixed_len_byte_array with a configuration option:
`spark.sqlContext.setConf("spark.sql.parquet.writeLegacyFormat", "true")`

[2017-03-08 11:17] anuvrat-tiku opened #7535 "Hive-Presto connector on pseudo distributed(localhost)"
The hive-connector works when the metastore port 9084 is exported in the hive-env.sh file.
You also have to add following line to $HIVE_HOME/conf/hive-env.sh for informing hive to open thrift port(same as mentioned under hive.metastore.uris property in hive-site.xml file). This port is used by hive client to connect to Metastore through RPC.
**export METASTORE_PORT=9084**

This needs to be added t

[2017-03-08 17:22] nezihyigitbasi commented on #7232
@mastratton3 I put up a PR ( #7537) to fix this issue, can you give it a try?

[2017-03-08 19:41] #6823 closed

[2017-03-08 20:25] nezihyigitbasi commented on #7103
@RothA @gauravrathi92 how did you guys write these data in the first place? According to the linked aws-sdk-java issue when client side encryption is used the `x-amz-unencrypted-content-length` should be set correctly.

[2017-03-08 21:09] RothA commented on #7103
@nezihyigitbasi We use EMR Spark clusters for our data warehousing processes and write them to S3 via the EMRFS.  I have also validated in instances where we use the AmazonS3EncryptionClient in other applications that this header does not get set either but our main issue is with the S3 files written via EMRFS.

Example of how we are writing in Spark:

[code]

[2017-03-08 22:57] #7278 closed

[2017-03-09 02:01] #5828 closed

[2017-03-09 02:42] nezihyigitbasi commented on #7103
@RothA just curious, can you read the data back if you write with Presto?

[2017-03-09 05:13] ArturGajowy commented on #7507
Is this fixed by #7538?

[2017-03-09 05:14] ArturGajowy commented on #7507
I think it is fixed by #7538

[2017-03-09 05:14] #7507 closed

[2017-03-09 05:27] dain commented on #7507
Yep this one should be fixed now

[2017-03-09 06:36] wenleix opened #7546 "Weird Behavior if pass an array int `histogram` aggregation function"
Presto has weird behavior when I use `histogram` in a wrong way:

[code]

The correct way:

[code]

However, it shouldn't response "Query is gone", which is very confusing?

[2017-03-09 07:22] martint commented on #7546
That can happen when the client can't deserialize the response from the server. It's possible that the result is not being encoded correctly.

This is the detailed error:

[code]

[2017-03-09 11:06] dmarkovitz opened #7547 "Wrong documentation for "9.1. Migrating From Hive - Outer Join Differences""
https://prestodb.io/docs/current/migration/from-hive.html

Hive logically implements LEFT JOIN the same as presto (see demo below).
Changing the syntax as suggested will return undesired results.
This whole "Outer Join Differences" section should be omitted from the documentation.

Demo
--------

You can see that t1 was *not* filtered previous to the JOIN.

...
OK
1       1
2       NULL

[2017-03-09 17:26] #7520 closed

[2017-03-09 18:50] haozhun commented on #7546
This is a known issue in Presto. Serialization for query results of map type was not carefully considered when map type was introduced. JSON maps can only have varchar keys. Jackson uses toString for map keys during serialization.

[2017-03-09 19:31] maciejgrzybek opened #7550 "Filter based on VARCHAR literal padded with spaces returns wrong results"
Based on *tpcds.sf10* data:

[code]

vs

[code]

The only difference is `IN` vs `=`.

Here are plans:

[code]

[code]

[2017-03-09 23:47] raghavsethi commented on #7499
Merged #7509

[2017-03-09 23:47] #7499 closed

[2017-03-09 23:53] raghavsethi commented on #7493
To be consistent with the rest of the UI, this should display a spinner and say that the plan is not yet available.

[2017-03-10 05:06] garyelephant opened #7554 "How to Calculate CPU and Memory utilization for Public Cloud accounting purpose?"
I can see Resource Utilization Summary in Presto Query Monitoring UI, is there any can tell me what does these metrics exactly mean:

(1) CPU Time,
(2) Peak Memory
(3) Cumulative Memory

And if I want to charge for my customers by query level in presto deployed on public cloud, How can I calculate CPU and Memory consumption by a specific query ?

[2017-03-10 06:09] wenleix opened #7555 "Provide examples for ARRAY and MAP functions"
Current documents for Presto [ARRAY](https://prestodb.io/docs/current/functions/array.html) and [MAP](https://prestodb.io/docs/current/functions/map.html) functions are not so comprehensive: it only has the function signature and some text description.

Providing some examples (as we did in [Lambda](https://prestodb.io/docs/current/functions/lambda.html) and [JSON](https://prestodb.io/docs/current

[2017-03-10 07:14] wenleix commented on #7226
Here is how CAST TO JSON work in PostgreSQL (https://www.postgresql.org/docs/9.3/static/functions-json.html):

[code]

[2017-03-10 15:44] renato2099 commented on #7555
Hi @wenleix  :)
I added the missing examples and wrote some comments on my [pr](https://github.com/prestodb/presto/pull/7557). If there is more to be done, I'd be happy to contribute.

[2017-03-10 16:34] RothA commented on #7103
@nezihyigitbasi I will give it a try today and report back with what I find.

[2017-03-10 21:47] #7371 closed

[2017-03-10 22:51] raghavsethi opened #7560 "Add ord() function"
This would be the inverse of the chr(n) → varchar function. It would take a character and emit a codepoint.

[2017-03-10 23:59] electrum opened #7562 "Lambda compiler error"
[code]

[2017-03-11 02:00] wenleix commented on #7226
Current Behavior (ARRAY):

[code]

[2017-03-11 05:15] electrum commented on #7560
I think `codepoint` is a better name.

[2017-03-11 07:52] wenleix commented on #7226
Interestingly, single value cast is not supported for many types:

[code]

[2017-03-11 18:08] electrum opened #7564 "Disallow concurrent queries within a transaction"
TransactionManager needs to prevent this.

[2017-03-11 20:36] sandeep-gunnam commented on #6666
Hi Dain

Below is the particular code in Presto that is causing the exception
if (isDirectory(next)) {
                // Fail here to be on the safe side. This seems to be the same as what Hive does
                throw new PrestoException(HIVE_INVALID_BUCKET_FILES, format("%s Found sub-directory in bucket directory for partition: %s", CORRUPT_BUCKETING, hiveFileIterator.getPartitionName()));

[2017-03-11 20:40] dain commented on #6666
Transactional tables haven't really caught on, and without the demand, it is unlikely that anyone will implement support for them.

[2017-03-12 12:42] ebyhr commented on #7487
It seems that 2nd query fails with latest version(0.169).
What is your presto version? You may not need more investigation, though.
[code]

[2017-03-12 14:48] adamjshook commented on #7492
@ducky427 It correctly returns the number of days.

[code]
The value stored in Accumulo is the number of days: `16801` in this case.
[code]

Printing the value of `java.sql.Date#getTime` when decoding this value returns the number of days `16801`:
[code]

[2017-03-12 14:55] adamjshook commented on #7492
On second look, it is working because it creates a new `Date` using the `long` constructor, passing it the number of days as if it were the number of milliseconds. The data is all correct but it doesn't align with what the `Date` API says it should be returning.  It should be updated to be less confusing.

[2017-03-13 01:23] chengat1314 commented on #7523
OK, thx I will try out.

[2017-03-13 04:49] sandeep-gunnam commented on #6666
Thanks for your response Dain. Appreciate it.

-Sandeep

[2017-03-13 06:00] wenleix commented on #7547
Some earlier version of Hive does have this legacy behavior. Thus I suggest retain this in the document with some extra notes (e.g. newer version of Hive might already follows the ANSI SQL Join behavior).

[2017-03-13 08:42] youxinren commented on #1970
Very useful feature

[2017-03-13 14:51] saksim opened #7568 "compile (default-compile) on project presto-jdbc-java6: Compilation failure: Compilation failure"
hello guys,
I promised i have followed each step of this project, however, several errors occur no matter which computer i used. The detailed errors as followed:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project presto-jdbc-java6: Compilation failure: Compilation failure:
[ERROR] bootstrap class path not set in conjunction with

[2017-03-13 14:53] saksim commented on #7568
I had put an issue at:
https://github.com/prestodb/presto-jdbc-java6/issues/17
But nobody answered my question.
Does anyone have any idea about this issue?

Thanks

[2017-03-13 14:57] cawallin commented on #7568
I believe that the presto-jdbc-java6 project works only with Java 6, not Java 7. A Java 7 JDBC driver is available for free download from www.teradata.com/presto.

I'm closing this ticket, feel free to re-open it if you have further questions.

[2017-03-13 14:57] #7568 closed

[2017-03-13 15:55] saksim commented on #7568
@cawallin Thanks for your response. It is relly helpful.

Actually, I do have a further question whether I can use java7 for higher PRESTO-version **(e.g. PRESTO-0.86+, which requares JDK8)** in the same way or not.

Thanks for your reply again.

[2017-03-13 16:23] electrum commented on #7547
We should delete this section since this has been fixed in Hive for many years.

[2017-03-13 16:29] electrum commented on #7547
This was fixed in 0.7.0 by [HIVE-1534](https://issues.apache.org/jira/browse/HIVE-1534) which was released March 29, 2011 (about 18 months before we wrote the first line of code for Presto).

[2017-03-13 16:41] haozhun commented on #7547
But there's also a flag that Hive users can use to resurrect the legacy behavior. Are such users a majority or minority?

[2017-03-13 17:05] cawallin commented on #7568
Yes, the Java 7 JDBC driver available for download can connect to Presto versions that run on Java 8.

[2017-03-13 18:36] rschlussel commented on #7547
They got rid of the flag altogether in 2.2.0 https://cwiki.apache.org/confluence/display/Hive/Configuration+Properties#ConfigurationProperties-hive.outerjoin.supports.filters  so presumably the legacy behavior is not that important anymore.

[2017-03-13 22:30] jessesleeping commented on #7560
I vote for `ord` because we have similar functions in MySQL and PHP. In Python there is also an `ord` function but it takes a single character instead of a string.

[2017-03-13 23:40] electrum commented on #6517
This should be covered by `hive.max-partitions-per-scan`.

[2017-03-13 23:40] #6517 closed

[2017-03-14 08:03] ankitdixit commented on #7301
I tried to debug this issue in code and found out that the value of feild.delim  is not being passed correctly in the case of first insert in a partition.
In MetastoreUtil file, getHiveSchema() method is called which is picking its Storage schema and serde parameters by eventually making a getschema for partition call which does not have information about table delimiters, hence it tried to use de

[2017-03-14 08:16] ebyhr commented on #7301
Nice found @ankitdixit ! Are you going to send the Pull Request?

[2017-03-14 08:23] ankitdixit commented on #7301
@ebyhr raising one

[2017-03-14 08:52] ducky427 commented on #7492
Thanks @adamjshook!

[2017-03-14 11:58] ankitdixit commented on #7301
Looking some more, i found out that the issue is presto does not use field delimiters specified while creating a table if there is not data in the partition. The first insert is done using default delimiters and subsequently the read fails.

[2017-03-14 12:57] jaehc opened #7574 "[JDBC] ResultSetMetaData.getColumnClassName() gives java.lang.String for array types."
Hi, all.

There seems a somewhat confusing behavior in `ResultSetMetaData.getColumnClassName()` when it gives the class name for array types. It returns `java.lang.String.class.getName()`.
It is intuitively(surely, not for all people) to have `java.sql.Array.class.getName()` as a result value, rather than `java.lang.String.class.getName()`.
I've looked into the code `ResultSetMetaData.getColumnCla

[2017-03-14 16:56] martint opened #7577 "Planning failure when using EXTRACT in JOIN query"
[code]

fails with:

[code]

This is a regression in 0.168 caused by https://github.com/prestodb/presto/pull/7543

[2017-03-14 17:43] martint commented on #7577
cc @maciejgrzybek

[2017-03-14 18:01] electrum commented on #7574
We just merged a fix this for this yesterday: https://github.com/prestodb/presto/commit/7dae00a72db6700d48efd9ac8407270951065e8a

[2017-03-14 18:01] #7574 closed

[2017-03-14 18:43] raghavsethi opened #7578 "Add `parse_duration` UDF"
This would take in an airlift Duration string and return an interval.

[2017-03-14 21:12] maciejgrzybek opened #7581 "JOIN with criteria containing OR predicates may be slow"
The join cannot create a lookup table for criteria with OR predicates, therefore they're executed as a filter.
E.g.
[code]
performs much slower (3x on my laptop and sf1 TPC-DS data set) than equivalent
[code]

Selectivity of `ss_item_sk` is pretty low, therefore JOIN becomes almost cross-join, then filter (with OR predicates) come to play but it has a lot to process what could be already filtered

[2017-03-14 21:18] maciejgrzybek commented on #7581
I'm going to work on that. If there are any comments, they're more than welcome. :)

[2017-03-14 21:32] maciejgrzybek commented on #7581
This rewrite works with the assumption that predicates are disjoint, which means the same row cannot satisfy both parts of `UNION` at the same time.
If it's possible, then we would need to add a negation of the other part of `UNION` in each side and use `UNION ALL` instead, e.g.:
[code]

[2017-03-14 21:36] cawallin commented on #7581
We shouldn't assume that the predicates are disjoint; the rewrite should include
UNION ALL
select * from store_sales a, store_sales b where a.ss_item_sk = b.ss_item_sk and a.ss_sold_date_sk = b.ss_sold_date_sk + 1 AND (a.ss_sold_date_sk = b.ss_sold_date_sk))

If it always evaluates to false, other optimizers will remove that branch.

[2017-03-14 21:40] maciejgrzybek commented on #7581
This rewrite was only an example to illustrate how serious the performance problem is.
I assumed that the change of the JOIN operator is the way to go but maybe proper rewrite would be sufficient?

[2017-03-14 21:50] maciejgrzybek commented on #7581
@dain or @martint, do you have any opinions/preferences about the implementation of it?
I'd say I'd prefer rewrite for such an optimization as long as it's performance-wise identical to multi lookup join but I'm not convinced about it.

[2017-03-14 23:50] #7577 closed

[2017-03-15 01:38] AlekseiS opened #7585 "Do cleanup of local unassigned shards on Raptor node startup"
Currently, local cleanup of unassigned shards on Raptor happens periodically and it takes several cycles of (interval + jitter) time to completely cleanup unassigned shards. Such process is necessary for periodic runs, but when node just starts up we can safely delete all unassigned shards and only wait for jittered amount of time before doing it.
The code is in `com.facebook.presto.raptor.metadat

[2017-03-15 01:38] AlekseiS commented on #7585
cc @erichwang , @raghavsethi

[2017-03-15 02:36] maffan76 commented on #5861
Any tentative timeline for this enhancement?

[2017-03-15 03:22] ffpeng90 opened #7586 "presto plugin developing problems"
Hi,all:
     I am trying to build a new presto-plugin in my independent project( not in presto-root project ).   So i add some maven dependencies into my pom, and build out my plugin.

     ` <dependency>
            <groupId>com.facebook.presto</groupId>
            <artifactId>presto-spi</artifactId>
            <scope>provided</scope>
        </dependency>

       <dependency>
            <grou

[2017-03-15 06:23] kokosing commented on #7586
Ad. 1. You can do:
 -  `mvn install` and then use SNAPSHOT version in your local Presto server.
 - do a symlink to your target directory
 - use a path to a jar file (or files)
In regards to tests, I think it is better to setup something which will be run automatically (like unit tests). I reused Presto internal frameworks to achieve something like that, please see: https://github.com/prestodb-rock

[2017-03-15 07:07] ffpeng90 commented on #7586
Ad. 1 seems great!!! Thanks for your suggestion.

For Ad. 2   I  offer some usage scenario, for example： select col1, count(*) from tableA group by col1;
In this case, presto have to decode all data in this column, then push these data into aggregation function.
The decoding process will cost a lot of  time which will result in a long query.
Is there any  optimization for this case?

[2017-03-15 07:09] kokosing commented on #7586
Ad 2. In your case you should only decode `col1`. `count(*)` does not need to read your data it just counts the rows

[2017-03-15 07:20] dain commented on #7586
You should also delay decoding columns until Presto asks for a column.  For example, a common query is:

SELECT *
FROM table t
WHERE someVeryRareCondition(t.x)

If someVeryRareCondition never returns true, then Presto will only ask for data from column x.

If your datasource has column oriented, then you will want to use the PageSource API, which is more efficient to Presto.  For lazy decoding in

[2017-03-15 09:26] ffpeng90 commented on #7586
i am trying this suggestion, thanks kokosing&dain.

[2017-03-15 14:48] maciejgrzybek commented on #7581
The obvious advantage of multi lookup solution is when there're multiple OR predicates. Then, UNION-approach forces us to read data (table scan) many times.
E.g. three predicates with OR would produce 7 UNION selects. (3 UNIONs for 2 predicates).
Building multiple lookup tables can be done without additional data reads.

[2017-03-15 22:08] gaohao commented on #7391
I think you can write a avro row decoder under presto-record-decoder, should be straightforward

[2017-03-16 00:30] fredxie26 opened #7592 "presto cassandra count error"
Hi all,

I am currently facing an error that really confused me.
I have a large chunk of data stored on Cassandra (126,692,361 rows). I did a select count(*) from cqlsh. Although it took about 2 hours for the count to finish, but the result is correct.

I did the same thing from presto. It took about 20 mins, but the result is wrong. The number is 253,384,722, which is exactly double as the result

[2017-03-16 02:21] electrum commented on #7391
The Kafka connector doesn't have an active maintainer. Contributions such as this are very welcome!

[2017-03-16 03:48] hellopower commented on #1198
How can I input a quote?  I try '\ ' to escape, but failed.

`select '\'' ESCAPE '\'  from test`

[2017-03-16 06:12] ffpeng90 commented on #7586
Hi, @kokosing
I introduce the pom of presto-rest-slack. and try to  run a test Case, However i meet a problem below:
Do you met it before?
`200) Error injecting constructor, java.lang.IncompatibleClassChangeError: org/objectweb/asm/tree/ClassNode
  at com.facebook.presto.metadata.MetadataManager.<init>(MetadataManager.java:139)
  at com.facebook.presto.server.ServerMainModule.setup(ServerMainModul

[2017-03-16 06:23] kokosing commented on #7586
No, I have not got this. Make sure you have recompiled everything and try to use the same versions for dependencies as Presto. It seems that that some dependencies are incompatible.

[2017-03-16 06:44] electrum commented on #7586
Can you post your POM in a Gist? https://gist.github.com/

[2017-03-16 06:47] ffpeng90 commented on #7586
I have post my pom  here:
https://gist.github.com/ffpeng90/546052ecda4e9a2044f875db682aab34

[2017-03-16 13:57] cawallin commented on #7592
Can you give us more information (your data, ideally, but also the # partitions, schema, etc)? It's hard to say what's wrong if we don't know those things.

[2017-03-16 15:33] pletelli commented on #1848
No update on this issue ?

[2017-03-16 16:19] #7533 closed

[2017-03-16 16:51] amitna1r commented on #4130
Hey guys, any updates on this?
cc: @yuokada , @electrum, @martint, @dain

[2017-03-16 17:28] fredxie26 commented on #7592
Hi cawallin,

Thanks for replying. My cassandra keyspace and table schema are as following:

create keyspace test with replication = {'class': 'SimpleStrategy', 'replication_factor': 1};

CREATE TABLE card_test (
  area_id TEXT,
  city_id TEXT,
  device_id TEXT,
  created_date timestamp,
  card_no TEXT,
  PRIMARY KEY ((area_id, city_id , device_id), card_no , created_date)
)WITH CLUSTERING ORDER B

[2017-03-16 17:56] dain commented on #1848
I would expect this to work for reading and writing to existing tables.  I don't think there is a way to set this property when creating new tables.

[2017-03-16 18:02] haozhun opened #7597 "map_values variant that return an array of values sorted by key"
Do we want to add such a function?

Alternatively, it could be achieved by
* Turning the map into array of rows (which we don't have today)
* Sorting the array of row (ideally, with a custom comparator, which we don't support today)
* Transform the array with lambda to drop the key

[2017-03-16 18:19] nezihyigitbasi commented on #7597
Another way to accomplish this is:

[code]

[2017-03-16 18:31] nezihyigitbasi commented on #7232
This should be fixed now, please reopen if you have any problems.

[2017-03-16 18:31] #7232 closed

[2017-03-16 18:32] #6803 closed

[2017-03-16 18:33] #4370 closed

[2017-03-16 18:33] #5147 closed

[2017-03-16 18:33] #5779 closed

[2017-03-16 18:33] #5807 closed

[2017-03-16 18:33] #2738 closed

[2017-03-16 18:33] #2209 closed

[2017-03-16 18:34] haozhun commented on #7597
The problem with unnest is that in real queries, it tend to involve group by.

[2017-03-16 20:20] findepi commented on #7547
I'm not sure if i understand correctly, but it seems, if you use latest CDH release (5.10), you get Hive ~1.1.0 (https://www.cloudera.com/documentation/enterprise/release-notes/topics/cdh_vd_cdh_package_tarball_510.html#tarball_510x).

[2017-03-17 05:58] felarof99 opened #7605 "How to configure Presto searches to be case-insensitive?"
In my case, Presto connects to a MySQL database which has been configured to be case-insensitive. But any search through Presto seems to be case-sensitive.

**Questions:**
1) Is there a way to configure Presto searches to be case-**in**sensitive? If not, can something be changed in the Presto-MySQL connector to make the searches case-insensitive?

2) If underlying DB is case-insensitive, shouldn't

[2017-03-17 05:58] wenleix opened #7606 "CAST TO ROW(DECIMAL) seems lost everything after digit"
[code]

But if I do a CAST:
[code]

[2017-03-17 06:18] losipiuk commented on #7606
This is correct.
Unparametrized decimal is a shortcut for DECIMAL(1,0)

[2017-03-17 06:18] #7606 closed

[2017-03-17 06:33] martint commented on #7606
Actually, it's `DECIMAL(38,0)`

[2017-03-17 09:38] losipiuk commented on #7606
Right, my bad. Still good result :)

[2017-03-17 13:15] mastratton3 commented on #7232
Thanks for fixing this @nezihyigitbasi! Sorry I haven't been able to test it yet. Should be able to soon.

[2017-03-17 14:38] findepi commented on #7250
@electrum i realized there is also a similar problem when value stored in text has too many digits before the decimal point (as compared to _after the dot_, as discussed so far). I understand that both old and new reader should return `NULL` just as Hive does (today both throw an exception).

[2017-03-17 16:03] #6112 closed

[2017-03-17 17:40] fredxie26 commented on #7592
Hi cawallin,

I tested the problem again using the newest release version 0.169 and the problem is resolved, count result is correct. The issue only appears in 0.159. Thanks.

[2017-03-17 18:10] cawallin commented on #7592
Great! Glad that's working now. I'll close this ticket then.

[2017-03-17 18:10] #7592 closed

[2017-03-18 00:21] #7350 closed

[2017-03-18 01:02] AlekseiS opened #7612 "Create a user-friendly message for Raptor error when inserting into a table with a lot of columns"
Raptor insert query can fail when inserting metadata for created shards because of too many (columns x shards) are inserted in a multi statement transaction.
We'd like to do the following:
1. Have a more user-friendly message for this type of errors that would hint about a potential problem.
2. Log the number of columns and shards updated for a query, so that it's easier to debug later. Ideally, t

[2017-03-18 01:02] highker commented on #7521
@martint @rongrong @electrum @haozhun @wenleix as discussed, what we need is a deterministic priority queue only for the current resource group (not its subgroups). Neither query_priority nor weighted scheduling policy can achieve this. We may introduce a new policy but that will be too adhoc. Leave the patch on hold for now until we figure out what exactly is needed.

[2017-03-18 01:02] AlekseiS commented on #7612
cc @electrum @ggreg

[2017-03-18 04:39] cosinequanon opened #7613 "Optimize Sorts That Don't Effect Results"
Simple example that isn't being optimized
[code]
Query plan is
[code]
In theory there shouldn't be a sort step since that doesn't effect the end result

[2017-03-18 13:56] yuokada commented on #4130
I will restart at next week.

[2017-03-18 15:53] amitna1r opened #7614 "Implement an exists() lambda function"
The requirement is for a lambda function as below:
[code]

Currently this can be achieved using filter as:
[code]

However using filter is not efficient, since it needs to parse all values. exists() would make it much more efficient.

[2017-03-18 21:28] wenleix commented on #7381
Resolved

[2017-03-18 21:28] #7381 closed

[2017-03-19 02:37] Praveen2112 opened #7616 "Supporting for OR expression in TupleDomain"
In general for Presto Connector , the `com.facebook.presto.spi.predicate.TupleDomain` (#7219,)has

We had implemented a version which would support "OR" expression also.These are the list of changes we did..

1.Modified the TupleDomain which would now hold a TupleExpression object(An abstract class with seperate implementation for **AND** and **OR** operator) instead of holding a Map of ColumnHand

[2017-03-20 01:34] wenleix opened #7618 "Detect failed node for communication error"
When a node failed during the query execution, often `TOO_MANY_REQUEST_FAILED` (on coordinator) or `PAGE_TRANSPORT_TIMEOUT` (on worker) are thrown.

Once the coordinator see such errors, it should consult `FailureDetector`, and if the targeting node is a known failed node, we should thrown an `NODE_FAILED_DURING_QUERY_EXECUTION` (name TBD) error instead. This could help diagnose whether a query fa

[2017-03-20 02:34] wenleix commented on #7614
`reduce` can be used for better efficiency. For example, the following statement will do `exists(ARR, x->x=2)`:

[code]

[2017-03-20 16:22] bond- opened #7620 "Presto 0.167 "java.lang.NullPointerException: maxSize is null""
I am seeing the error in #5100 with 0.167 version of presto

- 14 Worker Nodes
- 1 Master Node
- Connector: Hive

Stacktrace:
[code]

[2017-03-20 17:48] wenleix commented on #7358
In `ShowQueriesRewrite.visitShowPartitions`, what we really need are just partition columns. Thus instead of calling `metadata.getLayouts`, we can add another method `getDiscrtePredicateColumns` for `metadata`.

[2017-03-20 18:01] dain commented on #7618
I believe @electrum wanted something like `HOST_UNREACHABLE`.

[2017-03-20 18:38] bond- commented on #7620
@dain Opened a new issue. Let me know if you need more details for debugging the issue.

[2017-03-20 19:07] maciejgrzybek commented on #7616
Relates to https://github.com/prestodb/presto/issues/5861.

[2017-03-20 20:12] wenleix commented on #7618
We can add an optional destination URI into `ExecutionFailureInfo`.

For `PAGE_TRANSPORT_TIMEOUT`, it will be constructed into `ExecutionFailureInfo` in `SqlTask.createTaskStatus`. For all the case, we should just extract the optional destination URI at `Failures.toFailure`

[2017-03-20 21:25] amitna1r commented on #7614
@wenleix, this is a good idea.
However I guess it will still loop through all elements once, although it will not evaluate the comparison once it finds a match.

[2017-03-20 23:32] electrum opened #7628 "Optimize count queries for fixed cardinality"
Consider the following query:
[code]
We can turn this query into a static `VALUES (1)` at planning time since we know the subquery will always return one row.

[2017-03-21 00:33] Praveen2112 commented on #7616
@maciejgrzybek we have an implementation which supports the OR expression in TupleDomain. Is your workaround is similar to this implementation?? Would there be any issues in this implementation ?

[2017-03-21 00:44] maciejgrzybek commented on #7616
@Praveen2112 I'm not saying there is any competing solution. I was simply linking issues to emphasize it could be a duplicate (of issues, not implementations).

I see one potential problem. How do you communicate from the connector if your connector can satisfy the constraint only partially?
Does connector have to rebuild the `TupleExpression` (which I believe is a tree of `TupleDomain`) to expres

[2017-03-21 01:14] Praveen2112 commented on #7616
Anyways a filter operation will occur on the top of the TableScan node. In case of querying over ORC files in hive connector , in the new implementation we will process only the stripes whose statistics satisfy the criteria. As of now we have handled only for the criteria which are handled in TupleDomain (Filter expression which can be translated to TupleDomain, can be expressed as TupleExpression

[2017-03-21 04:36] electrum opened #7632 "Create authentication plugin for basic auth and move out LDAP"
The current [LDAP](https://prestodb.io/docs/current/security/ldap.html) support has two parts:

1. Infrastructure in `LdapFilter` to support basic authentication using user/password.
2. LDAP-specific logic to authenticate a user/password.

We should split this up so that second part is in a plugin, allowing other types of authenticators, such as a list of usernames and passwords stored in a file (

[2017-03-21 09:22] OleksiiDuzhyi opened #7634 "Query Overview page not loading when trying to view details of query with session params"
When you try to access Query Overview page from Cluster Overview for query with session params, an error occurs:

[code]

This started to occur after after changes in `renderSessionProperties` function from [query.js](https://github.com/prestodb/presto/blob/master/presto-main/src/main/resources/webapp/assets/query.js#L846).

In the first for loop it used to be written like this:
 `for (var propert

[2017-03-21 09:22] OleksiiDuzhyi commented on #7634
#7633

[2017-03-21 10:01] ArturGajowy commented on #5147
@nezihyigitbasi @cberner #6771 should have fixed that, at least for all queries from AbstractTestQueries. Please reopen this issue if there are still cases where this happens.

[2017-03-21 10:01] ArturGajowy commented on #6579
fixed by #6771

[2017-03-21 10:01] #6579 closed

[2017-03-21 10:56] ArturGajowy commented on #5147
@nezihyigitbasi I ran `TestQueryPlansDeterministic` tested with
[code]
(same as your query % table and column names) and it passed, so I'm pretty sure that is fixed.

[2017-03-21 14:31] Eronarn opened #7635 "Database credential leak via server.log"
On startup, for at least the postgres connector, properties are printed in the clear to (world readable) server.log. This includes database accounts and passwords:

[code]

[2017-03-21 15:05] d18s commented on #1848
👍

[2017-03-21 15:16] sdia commented on #7479
Hello everyone,

I am using Presto through AWS EMR, I think I have the same issue described here. So far the only way I interact with Presto is via the cli. Can someone tell me how and where to set `hive.parquet.use-column-names`.

Thanks in you in advance!

[2017-03-21 15:57] electrum commented on #7635
Why is this a problem? The same credentials are right next to the log on disk in the config file.

[2017-03-21 16:01] Eronarn commented on #7635
For instance, if we send those logs to a third party service, now those credentials are stored plaintext in that service. It's a fairly common pattern to want people to have access to operational logs without having access to the underlying credentials. And in some deployments, the configuration and the logging may be stored differently or have different permissions on the filesystem.

[2017-03-21 16:30] ebuildy commented on #7479
Can you try with ``SET SESSION`` such as described https://prestodb.io/docs/current/sql/set-session.html ?

[2017-03-21 17:08] nt3478 opened #7636 "Paging Mechanism?"
Hey All

Does presto have any mechanism to enable paging of results (ex: OFFSET/FETCH NEXT) or something similar?

Thanks!

[2017-03-21 17:32] dain commented on #1848
If this is still an issue, please reopen with specifics on how to reproduce the problem.

[2017-03-21 17:48] dain commented on #7635
This will need to be fixed in Airlift `io.airlift.configuration.ConfigurationInspector`.  Maybe we should add a `secure` field to the `@Config` annotation to prevent printing the default or runtime value.

[2017-03-21 18:10] maciejgrzybek commented on #7635
This is on our backlog. We'll handle that soon unless someone else is already working on that.

[2017-03-22 00:48] wenleix opened #7640 "Support index acess for Row Type"
Today we only support access by field for Row Type. For row types without field types, we have to first cast it into a Row with field names:

[code]

It will be nice to support index access, i.e. `v[1]` will return the first field of the row.

[2017-03-22 02:19] electrum commented on #7636
No, these constructs are very expensive, since we have to execute the query every time and throw away most of the results. Even worse is that for analytic data sources, for which Presto is designed, queries often involve a full table scan or otherwise access much more data than in an OLTP system.

This should be handled in the application by executing the query once, caching the results, then doin

[2017-03-22 02:19] #7636 closed

[2017-03-22 03:46] #7323 closed

[2017-03-22 04:26] #6779 closed

[2017-03-22 04:31] #6302 closed

[2017-03-22 04:48] geraint0923 commented on #7640
Good idea! But I think we should only allow constant index, otherwise it will be hard to infer the field type.

[2017-03-22 10:36] ArturGajowy opened #7642 "Tests failing in TestDistributedQueriesNoHashGeneration"
13 tests are failing  in `TestDistributedQueriesNoHashGeneration`:

[code]

This is on commit d4e08bf, but probably was introduced eariler.

This is probably due to #5864 not having a resolution so far.

[code]

[2017-03-22 11:02] 0x4139 opened #7643 "row_number() returning '1' when using mongodb connector"
When running this query:
` select _id,row_number() over ( PARTITION by _id order by _id) as index from domains; `using the mongodb connector the returned index value is always 1.

[2017-03-22 11:19] 0x4139 commented on #7643
solution : `select _id,row_number() over ( order by _id) as index from domains;`

[2017-03-22 11:19] #7643 closed

[2017-03-22 14:29] bond- opened #7645 "ClassFormatError: Too many arguments in method signature in class file"
I was translating queries from a data warehouse to presto compatible queries and I came across this error which has a huge list of aggregations. I ran into a similar error when using Spark, so what I did was I created a Array/List loaded all my aggregations on to that and passed to the transformation.

May be something similar can be done for Presto to accept more than 255 arguments. This issue ca

[2017-03-22 14:36] bond- commented on #7645
#4008 is similar to this but not the same.

[2017-03-22 16:13] bond- commented on #7645
FYI, I got around this issue by splitting the query into two temp in-memory tables and joining them back:
[code]

[2017-03-22 17:00] electrum opened #7646 "max_by does not support row"
[code]

[2017-03-22 18:34] CiaranMcCann commented on #1195
+1 Still affecting Presto 0.166

[2017-03-22 18:44] electrum commented on #7642
Thanks. We saw this on our internal Jenkins. I think this shows that we should run them in Travis, even if costs more build slots, because it's far easier to fix such regressions before they are merged.

[2017-03-22 18:47] electrum commented on #7642
I tried enabling in #7267 but it takes too long. Will need to split them out.

[2017-03-22 18:52] electrum commented on #7642
The last successful build was f3119b956aa6e400a4ee95631c4864aa7785a3c6

[2017-03-22 19:22] martint commented on #7642
It's caused by 767f3434799f253f16e452b0b7423170ed9ba61b. @pnowojski, can you take a look?

[2017-03-22 19:31] martint commented on #7642
The problem seems to be that PartialAggregationPushdown is creating a copy of the aggregation and placing it below each branch of the union, but it's not assigning new node ids to each instance.

[2017-03-22 19:49] bond- commented on #7620
I am no longer seeing this issue after adding the following parameters in jvm.config:

[code]

It may be better to capture the NPE and return a meaningful error.

[2017-03-22 20:33] nezihyigitbasi commented on #7547
I also vote for removing this section since

- it has been fixed a long time ago (don't know whether anyone uses v 0.7 or older except FB)
- this behavior is not default (a user has to explicitly enable it to get different results than Presto)
- there are other configs that may cause Hive to behave differently than Presto, do we want to document them all? For example, `hive.exec.dynamic.partition`

[2017-03-22 22:10] #7547 closed

[2017-03-23 00:30] #7642 closed

[2017-03-23 07:08] #7493 closed

[2017-03-23 10:18] ebuildy opened #7656 ""Column not resolved" if use of alias column with having clause"
- java version "1.8.0_77"
- Presto CLI 0.161
- hive.parquet.use-column-names=true
- connector.name=hive-hadoop2

``HAVING`` clause seems not recognize alias column (maybe because the ``hive.parquet.use-column-names`` option?):

[code]

But if I remove the HAVING clause, it works fine:

[code]

[2017-03-23 10:33] losipiuk commented on #7656
cc: @findepi, @sopel39

[2017-03-23 11:35] zhangxin0112 opened #7657 "what is the rule about ImportOrder"
i want to add new a connector ,but i found some problems about maven checkstyle .
for example. code in my a.java

import java.util.ArrayList;
import java.util.HashMap;
import java.util.Collections;
import java.util.Iterator;
import java.util.List;
import java.util.Map;
import java.util.Collection;

i build the porject , error messages:
[ERROR] src/main/java/com/facebook/presto/elasticsearch/EsReco

[2017-03-23 11:40] yuananf commented on #7657
This is the code style that presto uses:
https://github.com/airlift/codestyle

[2017-03-23 11:40] ArturGajowy commented on #7657
@zhangxin0112 the import order is enforced by the following checkstyle rule:

[code]

Unfortunately, it's not too explicit and in my case I had to refer to checkstyle's docs to make sense of how to fix my case. See here: http://checkstyle.sourceforge.net/config_imports.html#ImportOrder

BTW, what connector are you working on? Elasticsearch?

Hope this helps!

[2017-03-23 11:40] losipiuk opened #7658 "Add decimals support for mechanism handling mismatch between table and partition schema in hive connector."
Currently Hive "schema evolution" mechanism in Presto is limited to only few type pairs
 * VARCHAR -> BYTE, SHORT, INT, LONG
 * BYTE -> VARCHAR, SHORT, INT, LONG
 * SHORT -> VARCHAR, INT, LONG
 * INT -> VARCHAR, LONG
 * FLOAT -> DOUBLE

As part of this ticket we want to extend it to support at least
 * DECIMAL(x, y) -> DECIMAL(v, w), DOUBLE
 * DOUBLE -> DECIMAL(x, y)

 cc: @geraint0923

[2017-03-23 12:00] zhangxin0112 commented on #7657
Thanks u. I will retry. Ye.i am working it.

[2017-03-23 14:28] sopel39 commented on #7656
According to SQL standard, `WHERE` and `HAVING` don't have access to output columns. Only `ORDER BY` has.

[2017-03-23 14:31] ebuildy commented on #7656
Ho I see, this is because I "try" query first on a small sample running on mySQL, and mySQL seems permit that (sqlmode_only_full_group_by).

Very sorry for that, thanks you for your time.

[2017-03-23 14:31] #7656 closed

[2017-03-23 15:48] #7657 closed

[2017-03-23 16:50] martint commented on #7634
Fixed in upcoming 0.170 release.

[2017-03-23 16:50] #7634 closed

[2017-03-23 16:55] martint commented on #7620
What GC are you using? If I remember correctly, UseNUMA doesn't work with G1.

[2017-03-23 17:43] dain opened #7660 "Query UI does not allow for extra query parameters"
For example, `http://host:port/query.html?20170323_173832_21567_XXXX&foo` causes the page to not load.  Some messaging applications automatically add query parameters and this breaks the UI.

[2017-03-23 19:17] bond- commented on #7620
@martint I am using G1, I actually picked up those options from #3876

I've looked around a bit and found this bug: https://bugs.openjdk.java.net/browse/JDK-8046147 and this link: http://openjdk.java.net/jeps/157

If I understand correctly UseNUMA has no effect right. The issue I was facing could have been solved by AggressiveOpts.

[2017-03-23 19:26] nezihyigitbasi commented on #7620
I don't understand how this relates to the settings you mention. That method throws a NPE when the `X-Presto-Max-Size` header is not set on the request, are you using the presto cli or some other client?

[2017-03-23 21:44] losipiuk commented on #1195
I do not believe anyone is working right now on adding support for prepared statement to open-source JDBC drive.

I would keep this issue as an remainder. Yet I suggest you try to use closed source driver which is part of Teradata Presto distribution available here: www.teradata.com/presto. It supports prepared statements.

[2017-03-23 21:45] losipiuk commented on #1292
@sopel39 Is that still relevant. Please close if this is no longer an issue.

[2017-03-23 21:48] losipiuk commented on #1401
Closing. This is really old and A-LOT has changed in the codebase since 2014. @khaledammar please reopen if you still see the problem in your flow.

[2017-03-23 21:48] #1401 closed

[2017-03-23 21:49] losipiuk commented on #1402
@nezihyigitbasi This is fixed with your 3-year old commit, right?
Please close if you confirm.

[2017-03-23 21:51] #1292 closed

[2017-03-23 21:51] losipiuk commented on #1402
Oh never mind I see it was not merged-in

[2017-03-23 21:59] #7560 closed

[2017-03-23 22:28] losipiuk commented on #2217
Parquet reader improved over time. I am closing this one. @snarayanank2 please reopen if you are still seeing issues with performance.

[2017-03-23 22:28] #2217 closed

[2017-03-23 22:30] losipiuk commented on #7586
@ffpeng90 I suggest you close this issue (as this is not an issue but rather a question) and move to https://groups.google.com/forum/#!forum/presto-users.
That is more proper place for discussion like that.

[2017-03-23 22:35] losipiuk commented on #2366
@snarayanank2 @shubham166 Are any of you guys working on that. If no-one is I would rather close this issue close this one as managing too many issues is painful.

[2017-03-23 22:39] nezihyigitbasi commented on #2217
Please give the new reader a try with your benchmarks (you should enable it with `hive.parquet-optimized-reader.enabled`). You can also experiment with `hive.parquet-predicate-pushdown.enabled`.

[2017-03-23 22:44] losipiuk commented on #3110
As @cawallin pointed out this is intentional. Closing.

[2017-03-23 22:44] #3110 closed

[2017-03-23 22:50] losipiuk commented on #7496
Fixed

[2017-03-23 22:50] #7496 closed

[2017-03-23 23:32] wyukawa commented on #7496
Thanks!

[2017-03-24 01:01] ffpeng90 commented on #7586
ok，i'm going to do this.

At 2017-03-24 06:31:01, "Łukasz Osipiuk" <notifications@github.com> wrote:

@ffpeng90 I suggest you close this issue (as this is not an issue but rather a question) and move to https://groups.google.com/forum/#!forum/presto-users.

That is more proper place for discussion like that.

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2017-03-24 06:37] ffpeng90 opened #7665 "presto failed when meeting database without OwnerType"
presto will fail to create tables when meeting hive databases without ownerType property.

All Functions related is in class [MetastoreUtil.java].
If my DataBase did not set OwnerType,  then  **database.getOwnerType()** will return null
and function **fromMetastoreApiPrincipalType**  will throw an null-pointer Exception.

so  **PrincipalType ownerType = PrincipalType.ROLE;**  will be nonsense.
Is

[2017-03-24 06:38] #7586 closed

[2017-03-24 06:43] ffpeng90 commented on #7665
My presto is 0.166, and my exception below:

java.lang.NullPointerException
	at com.facebook.presto.hive.metastore.MetastoreUtil.fromMetastoreApiPrincipalType(MetastoreUtil.java:348)
	at com.facebook.presto.hive.metastore.MetastoreUtil.fromMetastoreApiDatabase(MetastoreUtil.java:280)
	at java.util.Optional.map(Optional.java:215)
	at com.facebook.presto.hive.metastore.BridgingHiveMetastore.getDatab

[2017-03-24 08:27] #4567 closed

[2017-03-24 09:11] #4962 closed

[2017-03-24 12:53] felarof99 commented on #7605
Can someone please help with this? Thank you.

[2017-03-24 14:21] amrutagokhale commented on #7665
If owner and ownerType both are missing, Presto makes `PUBLIC` role as the owner, and hence `PrincipalType.ROLE` as the ownerType. I don't see anything wrong in this.

I believe in your case, you have `owner` of the database set but not `ownerType`(NullPointerException can only occur in such a case). To me this looks like inconsistency in the underlying database. Though, we can change Presto code

[2017-03-24 14:42] rschlussel commented on #3417
Closing.  If you have more questions about using Presto, you can email presto-users@googlegroups.com

[2017-03-24 14:42] #3417 closed

[2017-03-24 14:47] rschlussel commented on #3022
Closing since it's not a Presto issue.

[2017-03-24 14:47] #3022 closed

[2017-03-24 14:47] rschlussel commented on #3380
This work is complete now.  If you have questions about using Presto with Kerberos authentication you can look at the presto user group: presto-users@googlegroups.com

[2017-03-24 14:47] #3380 closed

[2017-03-24 14:53] electrum commented on #3022
Making Eclipse compiler work (using `-P eclipse-compiler`) on my list. It seems that Eclipse bug is still open, so we will need to rename a few things :(

[2017-03-24 14:55] rschlussel commented on #4360
Closing, since there isn't enough information here. If you can provide a query to reproduce the issue on the latest presto version, feel free to reopen.

[2017-03-24 14:55] #4360 closed

[2017-03-24 15:05] #2837 closed

[2017-03-24 15:06] #3448 closed

[2017-03-24 15:12] rschlussel commented on #3849
Duplicate of https://github.com/prestodb/presto/issues/3862

[2017-03-24 15:12] #3849 closed

[2017-03-24 15:18] rschlussel commented on #3722
Seems like this is due to #3723.  Reopen if this issue is different.

[2017-03-24 15:20] rschlussel commented on #4425
Documentation is here https://prestodb.io/docs/current/connector/hive.html#amazon-s3-configuration

[2017-03-24 15:20] #4425 closed

[2017-03-24 15:30] rschlussel commented on #3780
Fixed by https://github.com/prestodb/presto/pull/3809

[2017-03-24 15:30] #3780 closed

[2017-03-24 15:31] rschlussel commented on #4820
reopen if this is still an issue

[2017-03-24 15:31] #4820 closed

[2017-03-24 15:34] bond- commented on #7620
@nezihyigitbasi I am using Presto CLI to run the queries. Most of the queries used to fail before I set the JVM parameters (in Presto Server), shown above. From a user standpoint I do not find a relation between them. Once I set that config, none of my queries failed with the NPE.

[2017-03-24 15:36] rschlussel commented on #5584
fixed by https://github.com/prestodb/presto/pull/7599

[2017-03-24 15:36] #5584 closed

[2017-03-24 15:42] #6080 closed

[2017-03-24 15:49] rschlussel commented on #5982
See #2445 for discussion of adding support for dynamically loaded catalogs.  airpal questions should be asked to the airpal project.

[2017-03-24 15:49] #5982 closed

[2017-03-24 15:57] rschlussel commented on #6663
This issue is related to https://github.com/prestodb/presto/issues/6614.  Please avoid opening multiple issues for the same topic.

[2017-03-24 15:57] #6663 closed

[2017-03-24 15:57] rschlussel commented on #6382
https://github.com/prestodb/presto/pull/7506 is a first step.  This issue is related to https://github.com/prestodb/presto/issues/6614.  Please avoid opening multiple issues for the same topic.

[2017-03-24 15:57] #6382 closed

[2017-03-24 16:06] #5722 closed

[2017-03-24 16:10] rschlussel commented on #7280
If you have more questions about using Presto with MySQL, you can ask on the the presto users group.  presto-users@googlegroups.com

[2017-03-24 16:10] #7280 closed

[2017-03-24 17:22] bond- commented on #7645
@electrum Do you have all the information that you need to reproduce the bug?

[2017-03-24 17:32] rschlussel commented on #3075
closing as duplicate of #2687

[2017-03-24 17:32] #3075 closed

[2017-03-24 17:36] rschlussel commented on #2687
@electrum was this fixed by 615d8bdfc40bab81d521850055ebf873ab4a77d2

[2017-03-24 17:44] dain commented on #7605
This is not currently possible with Presto.  There is a feature of ANSI SQL called *collation* that I think would allow for this kind of processing, but it is not something we have on our roadmap to implement.  In the mean time, I suggest you use `lower` or a case insensitive regular expression (https://prestodb.io/docs/current/functions/regexp.html).

[2017-03-24 17:44] #7605 closed

[2017-03-24 17:58] rschlussel commented on #2125
There's already presto-docs/src/main/sphinx/rest/statement.rst. Is this looking for something different?

[2017-03-24 18:14] maciejgrzybek commented on #2517
Tested on the most recent master (HEAD = 8c6cf92c5d2ebf2507f82311857a98a8bf0e6883), right after 170 release. Data set - `tpcds.sf10`.
Results:
[code]
takes ~15s on my laptop, while
[code]
takes ~35s.

I'm closing this because it seems not relevant anymore.

[2017-03-24 18:14] #2517 closed

[2017-03-24 18:18] #3428 closed

[2017-03-24 18:25] rschlussel commented on #3470
see https://github.com/prestodb/presto/issues/2863

[2017-03-24 18:26] nezihyigitbasi commented on #7578
Per our discussion with @raghavsethi, @wjiangiqx will work on this.

[2017-03-24 18:27] jessesleeping opened #7667 "db/TestQueues.testBasic is nondeterministic"
db/TestQueues.testBasic sometimes fails due to a race condition. Tests that have the similar wait-assert pattern can have the same issue.

In ``db/TestQueues.testBasic`` we call [``waitForQueryState()``](https://github.com/prestodb/presto/blob/3e7fb92bbbb65dda7ae60d3c4edc635c077e87ad/presto-tests/src/test/java/com/facebook/presto/execution/resourceGroups/db/TestQueues.java#L248) to wait until a qu

[2017-03-24 18:27] jessesleeping commented on #7667
I will work on this issue and submit a PR soon :)

[2017-03-24 18:30] #3257 closed

[2017-03-24 18:31] rschlussel commented on #3088
@raghavsethi is this still an issue?

[2017-03-24 18:39] rschlussel commented on #4593
fixed by #4597

[2017-03-24 18:39] #4593 closed

[2017-03-24 18:42] #4967 closed

[2017-03-24 18:53] #7646 closed

[2017-03-24 18:53] raghavsethi commented on #3088
Haven't looked at it yet, feel free to send a PR.

[2017-03-24 19:02] rschlussel commented on #3088
I was just wondering if I could close the issue.

[2017-03-24 19:14] #7206 closed

[2017-03-24 21:52] electrum opened #7668 "Validate or filter layouts returned from connectors"
`ConnectorMetadata.getTableLayouts()` is passed a list of `desiredColumns` which are the columns the engine needs from the layout. What happens if the connector returns a layout that doesn't contain all the columns?

The contract here isn't clear. We should clarify if this is an error or not in the Javadoc for the method, then add code in `MetadataManager` to either filter list or throw an error.

[2017-03-25 00:43] erichwang commented on #7668
Yup, I agree that we should document the behavior and consolidate code in MetadataManager. As for the specifics, I don't have any particular preference as to whether it is considered an error or silently managed. In either case, it should be just as easy to implement. Maybe do it on the presto side to make it a bit easier for connectors?

[2017-03-25 03:24] #7214 closed

[2017-03-26 01:32] zmhassan opened #7670 "MySQL where close not working for dates"
Hi

When running the following query it works in mysql:

[code]
But in Presto the syntax is different I'm forced to use date() function or else it throws this error for the exact same query that works in mysql .

Unless I do this. Would be nice to find docs on this
[code]
Thanks

[2017-03-26 01:33] zmhassan commented on #7670
I've resolved my issue so I'm going to close

[2017-03-26 01:33] #7670 closed

[2017-03-26 05:23] chenliang613 opened #7671 "Where can i find all release download link ?"
In Installing Presto section, only provides the download for 0.170 as below, but i want to download 0.166, when can i find all release download link ?
------------------
Download the Presto server tarball, presto-server-0.170.tar.gz, and unpack it. The tarball will contain a single top-level directory, presto-server-0.170, which we will call the installation directory.

[2017-03-26 05:32] chenliang613 commented on #7671
https://repo1.maven.org/maven2/com/facebook/presto/presto-server/

i suggest adding the link to presto's documentation.

[2017-03-26 05:32] #7671 closed

[2017-03-26 08:28] electrum commented on #7671
You can change "current" to any version in the docs URL: https://prestodb.io/docs/0.166/

Also, as mentioned, every Presto release artifact is available forever in Maven Central.

[2017-03-26 09:56] jefimm opened #7672 "explain is broken"
Presto 0.167

explain with test1 as (....) select *
from test1;

is broken and outputs "index (1) must be less than size (1)"

[2017-03-26 17:40] zmhassan opened #7673 "Postgresql connector: Doesn't support create statements"
Hi,

Just wanted to double check but postgresql connector doesn't support create operations right?
Got this error:
[code]

[2017-03-26 19:08] losipiuk commented on #3079
Closing this one. There is no work planned in near future. And there is closed-source alternative which works under Java6

[2017-03-26 19:08] #3079 closed

[2017-03-26 19:26] martint commented on #7672
Does it happen on 0.170? Can you provide a complete example? I tried a few different things in (...), but I can't reproduce it.

[2017-03-27 01:42] ffpeng90 commented on #7665
yes, we can offer a more meaningful warning message to remind users.  so they can make up the ownerType properties.

[2017-03-27 01:42] #7665 closed

[2017-03-27 06:28] sopel39 commented on #3447
Discussed coercions onsite

[2017-03-27 06:28] #3447 closed

[2017-03-27 06:28] sopel39 commented on #4600
Impelemented

[2017-03-27 06:28] #4600 closed

[2017-03-27 06:28] sopel39 commented on #5320
Impelemetned

[2017-03-27 06:28] #5320 closed

[2017-03-27 06:29] sopel39 commented on #6575
I am not sure how relevant is this. Nondeterministic failures require holistic approach and investigation

[2017-03-27 06:29] #6575 closed

[2017-03-27 06:30] sopel39 commented on #6654
Fixed

[2017-03-27 06:30] #6654 closed

[2017-03-27 06:33] kokosing commented on #4600
Congrats!

[2017-03-27 07:57] sopel39 commented on #7527
Fix: https://github.com/prestodb/presto/pull/7674

[2017-03-27 15:42] cawallin commented on #7673
If you look at the limitations section, the fact that postgresql doesn't support CREATE is listed in the docs: https://prestodb.io/docs/current/connector/postgresql.html.

[2017-03-27 15:42] #7673 closed

[2017-03-27 16:54] electrum opened #7676 "LDAP product tests fail with Docker for Mac"
The Presto server fails to start because it can't talk to the LDAP server. It's not clear if this is due to a network configuration problem with Docker or because the LDAP server is not starting or dies after starting.

[code]

[2017-03-27 17:09] jefimm commented on #7672
I was able to reduce this to the following :

explain WITH tbl AS (
SELECT date_trunc('hour', date_created) date_created
FROM    source
WHERE   date_created > date_add('hour', -24, now()) AND date_created < date_add('day', 1, current_date)
)
SELECT * FROM tbl;

[2017-03-27 17:10] sanjay990 commented on #7676
@electrum : Can you confirm if you have entry for `ldapserver` in `/etc/hosts`
https://github.com/prestodb/presto/tree/master/presto-product-tests#os-x-using-docker-for-mac-macos-10103-yosemite-or-newer-preferred-way

[2017-03-27 17:37] electrum commented on #7676
@sanjay990 I didn't setup any of these entries, but they shouldn't be required for running tests, only if you want to debug in IntelliJ or otherwise connect to them from outside Docker (from the Mac host). All the other tests work fine without them.

[2017-03-27 17:38] martint commented on #7672
And what does "source" look like? If I try to fake it with `source (date_created) as (values current_date)`, it doesn't reproduce:

[code]

[2017-03-27 17:45] jefimm commented on #7672
desc source;
           Column            |    Type     | Extra | Comment
-----------------------------+-------------+-------+---------
 date_created                | timestamp   |       |

[2017-03-27 18:05] martint commented on #7672
Can you try my query above and see if it reproduces for you?

[2017-03-27 18:08] electrum commented on #7676
I'm not very familiar with Docker, so this might be fine, but I notice that the LDAP container doesn't have any ports listed, while all the other containers do:
[code]

[2017-03-27 18:17] jefimm commented on #7672
your query works, maybe you can try it with "real" table in, for example, raptor ?

[2017-03-27 18:21] martint commented on #7672
Also, can you paste the entire stacktrace. You should be able to get it by running the CLI with --debug.

[2017-03-27 18:25] jefimm commented on #7672
`
Query 20170327_182411_00262_pi3ys failed: index (1) must be less than size (1)
java.lang.IndexOutOfBoundsException: index (1) must be less than size (1)
	at com.google.common.base.Preconditions.checkElementIndex(Preconditions.java:1177)
	at com.google.common.base.Preconditions.checkElementIndex(Preconditions.java:1159)
	at com.google.common.collect.SingletonImmutableList.get(SingletonImmutableLi

[2017-03-27 18:30] martint commented on #7672
Hmm. This is probably related to https://github.com/prestodb/presto/issues/3201.

[2017-03-27 18:31] zmhassan commented on #7673
Thanks.

[2017-03-27 18:32] martint commented on #7672
Actually, it might be a regression introduced by 7c92b1e6ed8438d597fae68f8d8c2a94c5c81c4e

[2017-03-27 18:47] jefimm commented on #7672
date_created is partition column in our case

[2017-03-27 18:49] martint commented on #7672
I think what's happening is the following:
- CAST from TIMESTAMP to VARCHAR (which is used by PlanPrinter) takes ConnectorSession as the first argument
- The metadata for that CAST has a "is argument nullable flag" for every regular argument (but not for ConnectorSession, of course)
- The loop in FunctionInvoker is not properly offsetting the lookup into the "is argument nullable" list when skippi

[2017-03-27 19:54] woland84 opened #7678 "InMemory Connector throws error when max-data-per-node is set."
When setting the `memory.max-data-per-node` property in `etc/catalog/memory.properties` in prestodb 0.169 the following exception is thrown:
[code]

Am I missing some obvious configuration step or is this a bug?

[2017-03-27 20:18] maciejgrzybek commented on #7676
@electrum: We've just tried this on Docker Version 17.03.0-ce-mac2 (Docker for Mac).
`presto-product-tests/bin/run_on_docker.sh singlenode-ldap -g ldap_cli`
returned:
[code]

Can you make sure you have enough memory assigned to the docker service?
Please go to the docker preferences > advanced > memory.
By default it's 2 GB which, as we realized, is not sufficient.
My configuration is 8 GB of memo

[2017-03-27 20:20] maciejgrzybek commented on #7676
In addition to my env (Docker for Mac), we also tried on Docker Toolbox and Docker running natively on Linux. This worked just fine on all the environments.

[2017-03-27 22:17] nezihyigitbasi commented on #7103
@RothA did you have a chance to give this a try?

[2017-03-28 00:14] nezihyigitbasi opened #7680 "/ui/thread is broken"
It depends on d3-tip/d3.tip.v0.6.3.js, which doesn't exist anymore.

[2017-03-28 02:33] #7494 closed

[2017-03-28 02:50] raghavsethi commented on #7340
Merged #7662.

[2017-03-28 02:50] #7340 closed

[2017-03-28 05:11] #7680 closed

[2017-03-28 06:57] sopel39 opened #7683 "lambdas don't work when filter is in JoinNode optional filter"
Query:
[code]
Fixed by: https://github.com/prestodb/presto/pull/7674

Related to: https://github.com/prestodb/presto/issues/7527

[2017-03-28 10:49] guojun1992 opened #7685 "No factory for connector localfile"
I test it use localfile but get this error

2017-03-28T10:35:16.627+0000	 INFO	main	com.facebook.presto.server.PluginManager	-- Finished loading plugin /var/presto/data/plugin/tpch --
2017-03-28T10:35:16.627+0000	 INFO	main	com.facebook.presto.metadata.CatalogManager	-- Loading catalog etc/catalog/localfile.properties --
2017-03-28T10:35:16.635+0000	ERROR	main	com.facebook.presto.server.PrestoServ

[2017-03-28 11:25] losipiuk commented on #7685
It look like misconfiguration. Please ask question on https://groups.google.com/forum/#!forum/presto-users sharing your configuration and command you use to run Presto.

[2017-03-28 11:25] #7685 closed

[2017-03-28 14:03] RothA commented on #7103
@nezihyigitbasi Is there a way for exporting a data set in a parquet format?  I am not seeing that option just the following: ALIGNED, VERTICAL, CSV, TSV, CSV_HEADER, TSV_HEADER.  I have not attempted reading in other formats but I would hazard to guess encrypted CSVs, etc probably don't fall victim to this same issue since you don't have to read from the end of the file to determine its format.

[2017-03-28 16:25] nezihyigitbasi commented on #7103
You can't export in parquet format through cli, but you can insert into some table in parquet format and use those files for testing.

[2017-03-28 18:51] RothA commented on #7103
@nezihyigitbasi It looks like when writing to an external table in parquet format on S3 from Presto, the '	x-amz-meta-x-amz-unencrypted-content-length' metadata gets set properly.

Example:
[code]

Inserted data:

[code]

This resulted in 2 files written to S3 in the s3://testbucket/kms_test folder with the following metadata properties being set: Content-Type, x-amz-meta-x-amz-cek-alg, x-amz-meta

[2017-03-28 19:33] electrum commented on #7676
@maciejgrzybek Thanks! I had forgotten to increase the Docker memory on my new laptop. Increasing to 4GB from the default 2GB fixed it. We should update the README, since we only mention memory for the old Docker Toolbox.

[2017-03-28 19:33] #7676 closed

[2017-03-28 19:43] sanjay990 commented on #7676
@electrum : I'll update the README

[2017-03-28 20:47] jessesleeping opened #7689 "Flaky tests that rely on async counters/variables"
Test cases like [``AbstractTestDistributedQueries.testQueryLoggingCount``](https://github.com/prestodb/presto/blob/de1e6782eb843d67298fcfb66ebea2740b6f06ee/presto-tests/src/main/java/com/facebook/presto/tests/AbstractTestDistributedQueries.java#L712) assert on a counter that is updated by a query state change listener. There is a race condition between the assertion on the counter and the executio

[2017-03-28 20:50] jessesleeping commented on #7689
A possible solution can be switching to a wait-timeout pattern instead of the one-shot assertion (see #7677). However, this can slow down the entire CI test.

My opinion is that we should not assert on those async counter/variable in the unit tests. Because they are designed for monitoring usage (e.g. dashboards, cli) and can be stale.

[2017-03-28 23:28] raghavsethi opened #7692 "Make CLI show exponentially-weighted/instantaneous byte/row rate rather than average from beginning"

[2017-03-29 00:32] wenleix commented on #7640
Related PR for `.` operator:

https://github.com/prestodb/presto/pull/3636
https://github.com/prestodb/presto/pull/2378

[2017-03-29 01:50] idemura opened #7693 "Make creation of empty files for Hive buckets parallel"
We diagnosed this problem in the situation writing lots of empty buckets. Those done sequentially on coordinator, each took more > 60sec in FB environment. Should do this in parallel.

[2017-03-29 05:08] chandrasharma28 commented on #1970
Hello All, Any updates on enabling this feature?

[2017-03-29 06:06] wenleix commented on #7640
Looking at how PostgreSQL and Oracle solve the problem.  In Postgre SQL,  the row constructor will construct an `record`:
[code]

The composite type stored in table has its own type name. If I understand correctly, the only way to extract specific field from an unnamed record is to cast it into a defined `composite type` , e.g. http://stackoverflow.com/questions/4700661/how-can-i-extract-the-value

[2017-03-29 16:18] ebyhr commented on #7363
I started developping this. Still WIP, though.
https://github.com/ebyhr/presto/tree/7363

[2017-03-29 17:37] dain commented on #4055
Sorry, I never saw this issue.  If this is still a problem, please open a new issue and attach a sample file.

[2017-03-29 17:37] #4055 closed

[2017-03-29 17:38] dain commented on #4090
I assume using the `ClassLoaderSafe` wrappers fixed this problem.  If not, please open a new issue.

[2017-03-29 17:38] #4090 closed

[2017-03-29 17:39] dain commented on #4637
This is implemented in #6926

[2017-03-29 17:39] #4637 closed

[2017-03-29 17:47] dain commented on #4587
I assume this is a form of Hive ACID tables.  If so, there is an issue here #1970, but there has been no progress because ACID tables aren't very popular yet.  If not and you are interested in support in Presto, I think you will need to implement it yourself (none of us had heard of this until reading this issue).

[2017-03-29 17:55] cawallin commented on #2957
This is possible now with HDFS impersonation: hive.hdfs.impersonation.enabled from https://prestodb.io/docs/current/connector/hive-security.html#hdfs-authentication. If that doesn't solve your problem, please re-open this issue.

[2017-03-29 17:55] #2957 closed

[2017-03-29 18:01] cawallin commented on #3541
Possible via https://prestodb.io/docs/current/connector/hive-security.html#hdfs-authentication

[2017-03-29 18:46] #4587 closed

[2017-03-29 18:52] dain commented on #1970
This is a very complicated feature and we haven't seen any usage of this in production installations, which is why we haven't put any time into this.

[2017-03-29 20:06] electrum commented on #3787
This was fixed a while back.

[2017-03-29 20:06] #3787 closed

[2017-03-29 20:06] #5213 closed

[2017-03-29 20:57] jessesleeping commented on #7668
Based on the logic in ``AddExchanges.java`` ([here](https://github.com/prestodb/presto/blob/d4e08bfd026d2ef44a38d335ba506b7a73f32b44/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java#L580)) , we return a ``PlanWithProperties`` object if the result from ``MetadataManager.getLayouts()`` is an empty list. If the result is not empty and no layout in the result c

[2017-03-30 00:09] #7226 closed

[2017-03-30 03:04] ebyhr commented on #7363
I'm writing tests, but current Cassandra test server is `2.1.16`.
Materialized view is supported grater than `3.0`.
https://github.com/prestodb/presto-cassandra-server/blob/master/pom.xml#L46

@cawallin Is there the plan which upgrade this?

[New in Cassandra 3.0: Materialized Views](https://www.datastax.com/dev/blog/new-in-cassandra-3-0-materialized-views)

[2017-03-30 04:49] electrum commented on #3961
This is done for column comments but not table comments.

[2017-03-30 09:09] yuananf commented on #3961
I can take this.

[2017-03-30 10:26] rupesh1183 commented on #1848
This is still an issue. Hive understands the skip.header.line property and skips header while reading. But presto displays the header record on querying the same table.

Example to reproduce the error:

Step 1: create a csv file with 2 columns including header record (having inserted few records),

Step 2: Create table in hive with following property TBLPROPERTIES("skip.header.line.count"="1");

S

[2017-03-30 12:57] hshe233 opened #7701 "class presto.sql.parser.SqlBaseParser lost"

[2017-03-30 13:41] cawallin commented on #7363
@ebyhr The docker container that runs the product tests is the most recent version of Cassandra (I think 3.9), you can give that a try. The integration tests are version 2.1.x and the product tests run against 3.x so that we can test a broad version range without adding too much of a testing burden.

[2017-03-30 18:23] electrum opened #7703 "DenyAllAccessControl uses denyShowSchemas instead of denyShowTables"
`checkCanShowTables` should use `checkCanShowTables`, so it throws the wrong error message. Also check if there are similar typos.

[2017-03-30 18:25] electrum commented on #7701
You need to generate it with ANTLR:
[code]
Note that the class name is `com.facebook.presto.sql.parser.SqlBaseParser`

[2017-03-30 18:25] #7701 closed

[2017-03-30 19:10] wenleix commented on #7618
We will adding a `getStatus` method which takes the hostname and the port in `FailureDetector`. `FailureDetector` now needs to have more detailed status (`UNRECHABLE`, `NOT_RESPONDING`, `LOOKS_GOOD`)

[2017-03-30 21:25] wenleix opened #7705 "Add JSON to REAL support"
[code]

CAST JSON TO MAP support was added before `REAL` introduced in Presto.

The current workaround is first CAST TO `MAP<DOUBLE>`, then CAST TO `MAP<REAL>`.

[2017-03-30 22:56] nezihyigitbasi commented on #7578
@wjiangiqx stopped working on this.

[2017-03-31 01:18] ebyhr commented on #7363
Thanks for teaching me the version policy. I'm going to write the product tests.

[2017-03-31 05:29] Praveen2112 commented on #7616
@martint , @dain Will the above implementation will properly scale or will there be any issues ?

[2017-03-31 07:37] hshe233 opened #7708 "Where is SqlBaseBaseVisitor<Node>?"
In presto.sql.parser there is
class AstBuilder
        extends SqlBaseBaseVisitor<Node>

There is no SqlBaseBaseVisitor generated by ANTLR. Where can I find it?

[2017-03-31 08:26] ebyhr commented on #7708
I think you can find here.
`presto/presto-parser/target/generated-sources/antlr4/com/facebook/presto/sql/parser`

Or you can move there with Ctrl + B on AstBuilder's `SqlBaseBaseVisitor` if you use intelliJ IDEA.

[2017-03-31 08:38] hshe233 commented on #7708
I have built lisenter type.. now i get the visitor ones by modifying the generate configuration..

[2017-03-31 08:38] #7708 closed

[2017-03-31 09:00] losipiuk opened #7709 "Intermittent failures in TestHiveDistributedQueries.testQueryLoggingCount"
We saw query count to be 5 while test expects it to be 4.
My guess it is because tests from `TestHiveDistributedQueries` are run in parallel and query from another test was counted.

Is there a way to specify that one of the tests must be run on its own (not in parallel with others) in TestNG?

[2017-03-31 12:56] PallaviSingh1992 opened #7710 "Not able to start prestodb as embedded Server in Java Application."
We were trying to start presto as an embedded server in our java application but we are getting the following errors, given below is the stacktrace  --->

[code]

Here is our java code that we are using for connecting presto as embedded server

[code]
NOTE: We are trying to use a custom data source for our presto server and we have been successfully able to implement and use our custom connector u

[2017-03-31 14:30] sopel39 opened #7711 "AnalyzeAggregations doesn't correctly verify lambas"
[code]

I will fix it as part (or prerequisite) of https://github.com/prestodb/presto/pull/7315 since it closely related and I want to avoid conflicts.

FYI: @martint @haozhun

[2017-03-31 15:47] fbertsch opened #7713 "Parquet ROW Type Does Not Support Schema Evolution"
We use `ROW` types for a lot of Json data the we put into parquet format and read from Presto. One issue we have run into is that general schema evolution rules do not apply to ROW types; that is, we can't add new fields to a `ROW` type and expect previous schemas to still be applicable.

Note: we set `hive.parquet.use-column-names=true`.

# Test Case

For an example of this, see [0]. We have outl

[2017-03-31 15:55] nezihyigitbasi commented on #7713
@fbertsch the new Parquet reader should have support for schema evolution for ROW types, can you please give it a try? (set `hive.parquet-optimized-reader.enabled=true`)

[2017-03-31 16:43] electrum commented on #7709
The exclusive aspect should already be handled by the `executeExclusively()` which acquires an exclusive lock on the query runner. Everything that runs a query acquires a shared locked.

[2017-03-31 17:18] fbertsch commented on #7713
It works! Thanks!

[2017-03-31 17:18] #7713 closed

[2017-03-31 17:52] electrum opened #7716 "Lambda error "No type for symbol""
[code]

[2017-03-31 18:14] rongrong opened #7717 "Support table comment"
I checked other databases about syntax. Oracle and Postgres doesn't support COMMENT in CREATE TABLE. MySQL, Hive support it as
CREATE TABLE ... COMMENT xxx.

Any thoughts?

[2017-03-31 18:29] the6campbells opened #7718 "DatabaseMetadata.getColumns extremely slow with both Presto and Teradata Presto drivers"
Reading the Resultset from  DatabaseMetadata.getColumns() for a specified catalog, schema, table is very slow using the Presto 0.170 driver and server.

The Teradata 0.157.t8 driver to read time for the Resultset the lag is fast but getColumns is slow.

Using a simple JDBC program one can see the elapsed time to read the Resultset from getColumns is extremely slow with the Presto driver as-is and

[2017-03-31 18:34] wenleix commented on #7717
This is part of https://github.com/prestodb/presto/issues/3961 .

[2017-03-31 18:40] rongrong commented on #3961
@yuananf We need to support table comment quite urgently so I will work on it. If you could help on updating comments that would be great!

[2017-03-31 19:22] dain commented on #7710
I don’t know what the exact issue is, but take a look at how we do this in the Presto unit tests:

https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/server/testing/TestingPrestoServer.java
https://github.com/prestodb/presto/blob/master/presto-tests/src/main/java/com/facebook/presto/tests/DistributedQueryRunner.java

-dain

[2017-03-31 22:41] cawallin commented on #3836
Fixed by https://github.com/prestodb/presto/pull/3953

[2017-03-31 22:41] #3836 closed

[2017-03-31 22:42] cawallin commented on #3964
Closing this issue, if you have further questions ask on the presto-users mailing list.

[2017-03-31 22:42] #3964 closed

[2017-03-31 22:43] cawallin commented on #3996
@losipiuk does https://github.com/prestodb/presto/pull/7468 fix this?

[2017-03-31 22:45] cawallin commented on #4003
https://github.com/prestodb/presto/pull/3097 was merged, closing this ticket. If you still have issues, feel free to re-open.

[2017-03-31 22:45] #4003 closed

[2017-03-31 22:52] cawallin commented on #4386
@udayabaski the Presto oracle plugin is located at https://github.com/marcelopaesrech/presto-oracle, not in this repository -- please ask your question there

[2017-03-31 22:52] #4386 closed

[2017-03-31 22:54] cawallin commented on #4374
I just checked, and when using --execute on 0.170, error messages are printed to stderr as expected. Please re-open if you're still having issues.

[2017-03-31 22:54] #4374 closed

[2017-03-31 22:59] cawallin commented on #4422
Thanks for the suggestion! This issue is a duplicate of https://github.com/prestodb/presto/issues/2445, closing this one.

[2017-03-31 22:59] #4422 closed

[2017-03-31 23:00] #4433 closed

[2017-03-31 23:02] cawallin commented on #3917
This will be fixed by https://github.com/prestodb/presto/pull/5445, when that gets in. (cc @fiedukow)

[2017-03-31 23:05] cawallin commented on #3133
Closing because views are included in SHOW TABLES, and https://github.com/prestodb/presto/pull/3140 adds support for SHOW CREATE VIEW.

[2017-03-31 23:05] #3133 closed

[2017-03-31 23:10] cawallin commented on #4643
@electrum @zhenxiao closing this since it seems it's already implemented.

[2017-03-31 23:10] #4643 closed

[2017-03-31 23:14] buremba opened #7720 "Function aware predicate pushdown"
When we cast the values or pass them to functions, predicate pushdown doesn't work. It would be great if the system could understand that the following queries can also take advantage of predicate pushdown.

`select count(*) from table where cast(created_at as date) > date '2017-4-1'`

`select count(*) from table where date_trunc('day', created_at) > date '2017-4-1'`

[2017-03-31 23:14] cawallin commented on #4727
See https://github.com/prestodb/presto/issues/4182 for more details on the PageTransportTimeoutException -- it's usually caused by a full GC or high CPU on one of the workers. Also, in the Postgres connector, Presto only has a single connection to Postgres, so it's not recommended for large tables without predicates. Free free to ask on the presto-users mailing list if you have further questions.

[2017-03-31 23:14] #4727 closed

[2017-03-31 23:17] cawallin commented on #4942
FLOAT functionality is complete, closing this ticket.

[2017-03-31 23:17] #4942 closed

[2017-03-31 23:18] cawallin commented on #4850
Fixed by https://github.com/prestodb/presto/pull/7002.

[2017-03-31 23:18] #4850 closed

[2017-03-31 23:21] cawallin commented on #4813
VARCHAR support is in, closing.

[2017-03-31 23:21] #4813 closed

[2017-03-31 23:24] cawallin commented on #4966
@knowledgehacker That definitely shouldn't happen. If you're still facing this issue, try again on the most recent version of Presto (0.170). If you still see it, please re-open this issue.

[2017-03-31 23:24] #4966 closed

[2017-03-31 23:28] cawallin commented on #5330
@VIPchengcheng Sorry for the late response. If this is still an issue for you, can you try against the most recent version of Presto (0.170)? There have been a lot of performance improvements since 0.145. Feel free to re-open if you're still having issues.

[2017-03-31 23:28] #5330 closed

[2017-03-31 23:29] cawallin commented on #5376
@VIPchengcheng Sorry for the late response. If this is still an issue for you, can you try against the most recent version of Presto (0.170)? There have been a lot of performance improvements since 0.143. Feel free to re-open if you're still having issues.

[2017-03-31 23:29] #5376 closed

[2017-03-31 23:31] cawallin commented on #5443
Fixed in https://github.com/prestodb/presto/pull/5462.

[2017-03-31 23:31] #5443 closed

[2017-03-31 23:33] cawallin commented on #5576
hive-cdh4 support was removed, closing this ticket.

[2017-03-31 23:33] #5576 closed

[2017-03-31 23:34] cawallin commented on #5575
Duplicate of https://github.com/prestodb/presto/issues/2210

[2017-03-31 23:34] #5575 closed

[2017-03-31 23:36] #5663 closed

[2017-03-31 23:40] cawallin commented on #6042
@jangorecki Do you still have any questions regarding sorting in Presto, or can we close this issue?

[2017-03-31 23:42] #6134 closed

[2017-03-31 23:44] cawallin commented on #6095
@surendraGaddam99 Sorry for the late reply, but you need to use the Presto JDBC code on the client side, and need the Presto server catalog files wherever you're running your Presto server.

[2017-03-31 23:44] #6095 closed

[2017-04-01 00:09] dain commented on #7720
We have talked about this before, and it is pretty difficult.  IIRC the issue is you need to move the function from one side of the comparison to the other, and most functions don't have an inverse.  Alternatively, we could implement push down for functions, but many connectors have different semantics for even simple functions like casts.

BTW The work around for this issue is to manually, put th

[2017-04-01 00:12] prabhu1984 opened #7721 "Presto Hive StorageHandler - outputFormat should not be accessed from a null StorageFormat Error"
Hi,

I'm working with presto 0.170 version. Everything is working awesome, except Hive Custom Storage Handler external tables.

Getting `outputFormat should not be accessed from a null StorageFormat` error. Please help to fix.

**Table DDL:**
[code]

Added required storage handler and related jars to plugin connector dir on all worker and master nodes and restarted presto
[code]

**Querying on Pre

[2017-04-01 00:35] dain commented on #7721
Can you run with the `--debug` command line option and post the full stack trace?

[2017-04-01 00:37] dain commented on #7721
Oh, never mind. Presto does not support the `HBaseStorageHandler`, so this isn't going to work anyway.  Currently, I don't think anyone is considering adding support for this.

[2017-04-01 01:22] buremba commented on #7720
Yes, it but the problem is that most of our queries are auto-generated and since our backend doesn't know about the PrestoDB functions and casts, we can't generate the appropriate query.

I'm aware that most of the functions are irreversible but they don't always need to be one-to-one reversible. Here is an example query that we execute:

[code]

`date_trunc` is also not reversible but if we can r

[2017-04-01 04:10] jangorecki commented on #6042
@cawallin I am still interested in measuring time of ORDER BY in presto. If optimizer now skips sorting for COUNT outer query then I would expect to have a query hint to at least have an option to measure ORDER BY timing. Otherwise presto will be marked as not capable to measure this operation in benchmark reports.

[2017-04-01 08:18] BillLucky opened #7724 "Does the support log file output to a different file by class? Similar to Log4j?"
I see log.properties seems to only be configured log output level?
Can I support configuration output to different files according to class?

[2017-04-02 16:26] the6campbells opened #7726 "NULL values are not allowed on the probe side of SemiJoin operator"
Presto server/driver 0.170

select tjoin1.rnum, tjoin1.c1 from mysql_cert.dbcert.tjoin1 where  tjoin1.c1 not in (select tjoin2.c1 from mysql_cert.dbcert.tjoin2)

NULL values are not allowed on the probe side of SemiJoin operator

MySQL tables

create table TJOIN1 (RNUM integer   not null , C1 integer null, C2 integer null);

insert into TJOIN1 (RNUM, C1, C2) values ( 0, 10, 15);
insert into TJOIN1

[2017-04-02 17:49] the6campbells opened #7727 "distinct predicate fails with Mismatched types: varchar(1) vs varchar(32)"
Presto server/jdbc 0.170

Mapped to MySQL

select rnum, tvchar.cvchar from mysql_cert.dbcert.tvchar where tvchar.cvchar  is  distinct from ' '

select rnum, tvchar.cvchar from mysql_cert.dbcert.tvchar where not ( tvchar.cvchar  is  not distinct from ' ')

Error: Query failed (#20170402_174600_04939_impt7): Mismatched types: varchar(1) vs varchar(32)
SQLState:  null
ErrorCode: 65536

create table T