[2018-05-10 08:33] sopel39 opened #10594 "`TransformCorrelatedInPredicateToJoin` should use `PlanNodeDecorrelator`"
This would widen correlated subqueries support for correlated `IN` subqueries

[2018-05-10 09:39] #10587 closed

[2018-05-10 09:39] sopel39 commented on #10587
fixed via https://github.com/prestodb/presto/pull/10593

[2018-05-10 10:59] rahulsharmadbr opened #10595 "Not able to COPY the csv file data in cassandra table"
I'm using cassandra interpreter in zeppelin. I'm able to run Create, Describe command from zeppelin UI using cassandra interpreter. But not able to run COPY command. COPY command is running from cassandra client "cqlsh". I want "Copy the data from the CSV file into the cassandra table". Please Find the below screen shots.

![image](https://user-images.githubusercontent.com/34296003/39866505-9ca8eb

[2018-05-10 14:16] kbajda commented on #10559
@lcykenan please share your Presto configuration files (config.properties and hive.properties).
There are certain properties that may cause you seeing this error if Presto is deployed outside of the Hadoop cluster.

[2018-05-10 15:46] martint commented on #10592
The latent bug exists in the original version of PushAggregationThroughOuterJoin, but it surfaced when we added support for pruning column from Join node in 66e93cd9b15fd4b83d25967d4cf09a769ebf1a01.

[2018-05-10 16:13] #10507 closed

[2018-05-10 18:10] raghavsethi opened #10597 "Parsing/analysis time might exceed client-side query submission timeouts"
We should send an HTTP response accepting the query before starting to analyze (or perhaps even parse) the query. This might indicate we need a new query state.

[2018-05-10 19:02] dain commented on #10597
We need this anyway to make the first POST retryable.  My proposed solution is:

* POST to /v1/statement should save the query in StatementResource
* Only, when client GETs the first url, we submit the query to the QueryManager

This fixes the problem in this issue, and makes the first POST retryable, because we don't start any work until the client acknowledges the queryId assignment (by fetching

[2018-05-10 22:26] craftmaster2190 commented on #6158
+1

[2018-05-10 22:39] guangyy commented on #9530
The request are from `coordinator`.

Also, what happens if you click on one of the "leaked queries" in the UI? Also, you should be able to see the task info by hitting "/v1/task?pretty" on the worker node.

[code]

[2018-05-10 22:40] guangyy commented on #9530
[leaked_tast_pretty.txt](https://github.com/prestodb/presto/files/1993466/leaked_tast_pretty.txt)

The output while hitting `/v1/task?pretty` for the leaked task.

[2018-05-10 22:45] haozhun commented on #9530
A fix for a similar symptom is in 0.178: 4fa5a47af86c4da13977ac6432dc380e02772948

[2018-05-10 22:47] guangyy commented on #9530
If we look a the query status on the coordinator page `v1/query`, that query is already marked as failed ```{
queryId: "20180506_001247_00615_7psrs",
session: {
queryId: "20180506_001247_00615_7psrs",
transactionId: "0b38cd4b-9c72-4796-b645-d2a6c3b0a05b",
clientTransactionSupport: false,
user: "svc_di_data_products_infra",
source: "omniduct 0.5.2",
catalog: "silver",
schema: "default",
timeZoneKey

[2018-05-10 22:48] guangyy commented on #9530
@haozhun , thanks for the reply! We are seeing this problem running 0.188.

[2018-05-11 09:56] owahab commented on #1195
Still affecting Presto 0.200

[2018-05-11 15:46] mbasmanova commented on #10576
[code]

[2018-05-11 15:56] rschlussel2 commented on #10576
General
-------
* Add support within Presto for column-level access control.  Connectors have not yet been updated to take advantage of this support.

[2018-05-11 21:55] dain commented on #10570
If someone wants to implement index joins in the Cassandra connector, please open a PR.

[2018-05-11 21:55] #10570 closed

[2018-05-12 18:02] dain commented on #9530
Couple more things that can help.  In the coordinator logs, we print debug messages about ever state change of a query.  Just grep out ever line containing the query id.  Also, on the worker machine do the same, but with the specific task id.  Also the http logs might help, but you'll need to prune out the likely huge block of gets that are keeping the task alive.

[2018-05-13 06:09] himanshurawatgh commented on #9172
Can anyone tell me how do I set hive.parquet.use-column-names=true.
when setting this in hive.properties , this does not shows up in show session . and when setting this up in session , presto gives not a valid property . I have also tried hive.parquet.use_column_names=true , this does not works either . Also looking at other forums .

[2018-05-13 06:10] himanshurawatgh commented on #3827
Hi @Cidan  how did you set set hive.parquet.use-column-names=true.
when setting this in hive.properties , this does not shows up in show session . and when setting this up in session , presto gives not a valid property . I have also tried hive.parquet.use_column_names=true , this does not works either .

[2018-05-14 07:03] chinatoti opened #10609 "presto task do a wrong cassandra task?"
my schema:
CREATE TABLE IF NOT EXISTS sqlengine.fealist(pid int,userId text,id int,status int ,PRIMARY KEY (pid,id));
presto query:
select count(id) as c1 from fealist where pid = 0;
presto task log:
SELECT id FROM sqlengine.fealist WHERE pid in (0);
but,
cassandra task log is:
SELECT * FROM sqlengine.fealist WHERE pid = 0 LIMIT 500000 (see tombstone_warn_threshold)
I wander the season why not cas

[2018-05-14 17:16] chch-onjack opened #10611 "Access to Hive tblproperties via Hive System table <table>$properties"
Hi, it would be great if there was a way to query hive table properties directly from Presto.
When I asked internally, I was told:
"No, but it seems reasonable to add a system table to the Hive connector that provides this. Please file an issue on GitHub " ... so, there you go :)

[2018-05-14 17:19] nezihyigitbasi commented on #9172
`hive.parquet.use-column-names` should be put in `hive.properties` under catalog directory. There is no session property that does the same that's why you get a property not valid error, also nothing will show up in session properties when you set this in `hive.properties`.  When Presto starts it prints out all the config properties, you can search for `hive.parquet.use-column-names` to verify tha

[2018-05-14 17:29] dain commented on #10611
The idea would be to add something like `SELECT * FROM "hive_table$properties"` or `SELECT * FROM "hive_table$describe_formatted"`

[2018-05-14 20:13] rschlussel opened #10612 "Union of large table with values executes on a single node"
A union of a table and a values statement will happen on a single node.  If the table is big, this can cause the query to exceed the max-memory-per-node limit, even though it would have executed fine if the distinct aggregation had been hash distributed.

Example query +  plan:
[code]

[2018-05-14 20:37] rschlussel2 commented on #10461
This looks the same as  #2568

[2018-05-14 22:35] elonazoulay commented on #10576
General
-------
* Limit the number of grouping sets in a GROUP BY clause. The limit is configurable via the `analyzer.max-grouping-sets` configuration property.

[2018-05-15 01:31] haozhun commented on #10576
[code]

[2018-05-15 08:11] sopel39 opened #10614 "QueryStateMachine#getQueryInfo accounts exchange input data as raw input in broadcast join"
When broadcast join is enabled then exchange node input data stats are counted as raw input data in a stage that happens to have table scan node too. This is misleading and probably should be improved.

[2018-05-15 08:59] sopel39 commented on #8638
This still seem to be an issue. Query with `resource_overcommit=true` will fail with `Query exceeded local memory limit...` when spill is enabled.

[2018-05-15 11:59] ankitdixit commented on #5027
Was this issue resolved in a later version, things seem to be working in presto 0.194.

[2018-05-15 14:58] electrum commented on #5027
This should be fixed. Please reopen if still an issue.

[2018-05-15 14:58] #5027 closed

[2018-05-15 15:04] miggi opened #10615 "JDBC Driver is failing with String index out of range: -5"
Environment: Windows 10 (openjdk  1.8)

Steps to reproduce:
1. Download latest version of the driver
2. Attach driver to PyCharm or Intellij Idea Data Source module
3. Create driver "Presto" with path - click "Apply".

See exception:

[code]

Note: the driver connects and workin fine for versions  0.147 and below
Note: 2  that seems to be working fine on OsX platform

[2018-05-15 16:13] richiesgr opened #10616 "No row returned from presto working with Hive"
Hi
I'm using presto 0.201 connected to AWS EMR.
I'm creating using Hive on EMR a external table on PARQUET located in S3 or Hdfs
I can query the table from hive using beeline
the same query on Presto returned always 0 rows. There is no visible exception in any log from presto even on DEBUG level.
[server.log](https://github.com/prestodb/presto/files/2005764/server.log)

[2018-05-15 18:01] #10591 closed

[2018-05-16 07:31] kevintop commented on #6158
When can this function be completed?

[2018-05-16 08:44] Crossoverrr opened #10618 "HBase connector throw Exception after I update presto from 0.171 to 0.201."
The code below can work in presto version 0.171:

arrayType.writeSlice(builder, Slices.utf8Slice(value));

but in version 0.201, it turn out to be wrong:

java.lang.UnsupportedOperationException: com.facebook.presto.spi.block.ArrayBlockBuilder
        at com.facebook.presto.spi.block.BlockBuilder.writeBytes(BlockBuilder.java:58)
        at com.facebook.presto.spi.type.ArrayType.writeSlice(ArrayTyp

[2018-05-16 08:56] Crossoverrr commented on #10618
@martint
Sorry to trouble you, bro.
I really need to resolve this problem, please help me!

[2018-05-16 14:06] findepi commented on #9343
https://github.com/prestodb/presto/pull/9684 is merged, closing this.

[2018-05-16 14:06] #9343 closed

[2018-05-16 16:18] nagapavan opened #10620 "Checkmarx scan of Presto DB Code"
I am working on a product POC using Presto DB, customised a bit. My team's policy is to use code that clears Checkmarx scan.
But the report turned up with lot of High and Medium risks. Trying to check if there is a group part of Presto team, i.e. working on Security aspects.

If team is available, I will reach out with the Scan report for remediating the issues.

Ref: [Presto Google Group's post](

[2018-05-16 18:14] electrum commented on #10620
Could you include the report here? We'd be interested in knowing about any potential issues.

[2018-05-17 00:32] mbasmanova opened #10623 "geometry_to_bing_tiles on Geometry Collection fails with NullPointerException"
[code]

See https://github.com/Esri/geometry-api-java/issues/176 for a similar problem in the underlying library.

[2018-05-17 00:50] MichaelZhao9824 opened #10624 "Allow coordinator put sql query into queue if there is no worker running"
Hi guys,

I was wondering if we can add the function to allow coordinator put sql query into queue if there is no worker running. Once coordinator detects worker's back, and then starts to execute the query in the queue.

Currently query-manager.initialization-required-workers cannot be set to 0. Thanks.

[2018-05-17 01:21] mbasmanova opened #10625 "ST_NumPoints fails with NullPointerException for geometry collections"
[code]

[2018-05-17 02:51] mbasmanova opened #10628 "ST_Contains, ST_Intersects, ST_Distance, etc. on geometry collections fail with NPE"
All of the relationship tests functions fail with NPE when input is a geometry collection.

The following functions are affected: ST_Contains, ST_Crosses, ST_Disjoint, ST_Equals, ST_Intersects, ST_Overlaps, ST_Touches and ST_Within.

[code]

See https://github.com/Esri/geometry-api-java/issues/176 for the issue in the underlying library.

[2018-05-17 03:16] wyukawa commented on #10383
@electrum @sopel39 Are there any workarounds?
I try latest(0.201) presto but have the same issue.

[2018-05-17 03:19] wyukawa commented on #3435
I created https://github.com/wyukawa/presto-woothee

[2018-05-17 03:19] #3435 closed

[2018-05-17 03:20] #5617 closed

[2018-05-17 04:33] mbasmanova opened #10629 "ST_Centroid results are wrong for tiny geometries"
ST_Centroid for tiny polygon returns `POINT EMPTY` and for multi-polygon containing tiny polygon fails with `This operation should not be performed on an empty geometry.` In some cases, ST_Centroid for a small polygon returns `POINT (Infinity -Infinity)`

[code]

[2018-05-17 06:46] ameybarve15 opened #10630 "NO_NODES_AVAILABLE (65541) with select * from table query"
Here is the stack trace:

[code]

Presto version 0.195.
Any idea what is wrong and how can this be fixed?

[2018-05-17 07:06] elonazoulay opened #10631 "TestIpAddressType should extend AbstractTestType"

[2018-05-17 07:43] erkansirin78 commented on #7879
+1

[2018-05-17 08:39] erkansirin78 commented on #7879
I solved it
`[root@localhost]# export PATH=$PATH:/usr/jdk64/jdk1.8.0_112/bin/`
It can't see JAVA path

[2018-05-17 08:44] ameybarve15 commented on #10630
Thanks findepi,

We have one coordinator and one server running on google cloud machines repectively

`select * from system.runtime.nodes;
               node_id                |        http_uri         |   node_version   | coordinator | state
--------------------------------------+-------------------------+------------------+-------------+--------
 3a04c620-ae33-4f79-b7cd-c8c5b849f538 | http://10

[2018-05-17 10:41] sopel39 commented on #10337
Maybe we should also use `ReferenceCountMap` in `PagesIndex` to be smarter about double accounting of deserialized pages memory. This is a problem especially when there are many columns. Example affected plans are distributed sort and potentially others (e.g: window functions with task concurrency=1)

Related comment: https://github.com/prestodb/presto/pull/10633#issuecomment-389823680

[2018-05-17 13:11] sopel39 commented on #10576
[code]

[2018-05-17 16:58] haozhun commented on #9681
Fixed in #10077

[2018-05-17 16:58] #9681 closed

[2018-05-17 16:58] haozhun commented on #9166
Fixed in #10159

[2018-05-17 16:58] #9166 closed

[2018-05-17 17:00] haozhun commented on #7926
Fixed in 2ccfa9b3bc500dbcd501022c5c806badfcccf88c by @wenleix

[2018-05-17 17:00] #7926 closed

[2018-05-17 17:02] haozhun commented on #6665
Fixed in #6691

[2018-05-17 17:02] #6665 closed

[2018-05-17 18:59] haozhun opened #10636 "Fix silent clamping in double to long cast"
`cast(9.3e18 as bigint)` should fail the same way as `cast(2.2e9 as integer)`. However, it clamps silently right now.

[code]

[2018-05-17 20:01] haozhun commented on #9342
A fix for this should cover both `INTERVAL YEAR TO MONTH` and `INTERVAL DAY TO SECOND`.

A fix for this should cover `add`, `subtract`, `multiply`, `divide`, `negate`.

In particular, divide and 2 variants of multiply involves math with double. They should observe the same high level rule of SQL, i.e. `clamping` (lose any leading significant digits after rounding or truncating) is not allowed.

[2018-05-17 23:08] electrum commented on #8232
This is implemented now. Thanks @actgardner!

[2018-05-17 23:27] wyukawa commented on #10383
It seems to be same as https://groups.google.com/forum/#!topic/presto-users/AFUcjYGyzqc

[2018-05-18 08:36] xingnailu opened #10643 "OutOfMemoryError !!!"
hi~. I have a big table that it's  partition  size is 2T.   query like "select col1, col2 from table where col = value".

my configuration is :
 "['-server', '-Xmx14000M', '-XX:+UseG1GC', '-XX:G1HeapRegionSize=32M', '-XX:+UseGCOverheadLimit', '-XX:+ExplicitGCInvokesConcurrent', '-XX:+HeapDumpOnOutOfMemoryError', '-XX:OnOutOfMemoryError=kill -9 %p']",

 "site.global.presto_query_max_memory": "160GB

[2018-05-18 09:29] github55hh opened #10644 "NullPointerException in MysqlIO.clearInputStream being logged"
Hi, Hello: When I executed the insert statement to MySQL, the Presto background reported the null pointer exception. I don't know what is the reason, the insert statement can be successful, but the background is wrong, always feel a problem, so want to ask, is it bug or my problem.

[code]

[2018-05-18 11:51] #10643 closed

[2018-05-18 12:04] nagapavan commented on #10620
[Checkmarx-scan-Results.xlsx](https://github.com/prestodb/presto/files/2016740/Checkmarx-scan-Results.xlsx)
This has the report. Removed threats related to our custom code.

[2018-05-18 12:13] ameybarve15 commented on #10630
Hi @findepi any suggestions to solve the problem?

[2018-05-18 13:06] findepi commented on #10630
@ameybarve15 i didn't mean to investigate your issue. I meant only that initially provided information was very very scarce.
Having said that -- there isn't anything obvious in your configuration. You may want to look into server.log (on all nodes) when your queries are failing to see whether there are any errors / timeouts logged.

[2018-05-18 13:17] findepi commented on #10620
Very interesting.
However, looks like you (or someone) should do some cleansing of the report in order for it to be useful.

random excerpts from the report:

Seems like Checkmarx needs yet to learn to distinguish `boolean equals(int position, int offset, Block otherBlock, int otherPosition, int otherOffset, int length)` and `boolean equals(Object)`.

This apparently does not exist (`39e5dc8fa9 -

[2018-05-18 17:25] martint opened #10650 "Add planner tests for PushAggregationThroughOuterJoin"
As discussed in https://github.com/prestodb/presto/pull/10596#discussion_r187426759

[2018-05-18 17:27] #10592 closed

[2018-05-18 17:30] martint commented on #10576
[code]

[2018-05-18 17:45] electrum commented on #10644
Thanks for reporting. This seems to be a bug in the MySQL JDBC driver. It happens on close, after the data has been read, so it doesn't actually harm anything (other than printing a log message). We could try updating the JDBC driver to see if they fixed the bug already.

What version of Presto are you using? We changed the close behavior for MySQL in 0.200, so I'm wondering if this happens in old

[2018-05-18 20:04] #10623 closed

[2018-05-18 20:34] sopel39 commented on #8171
@mbasmanova are you working on this? Should you assign yourself to the issue? I think Tpch/q21 should benefit greatly from fixing this issue.

[2018-05-18 21:13] mbasmanova commented on #8171
@sopel39 @martint I've been looking into whether I could use local properties to propagate enough information from the `AssignUniqueId` node to the `Aggregation` node.

I'm consider two different scenarios: distributed and broadcast join.

For distributed join, I have this plan:

[code]

and for broadcast join (e.g. spatial join), I have a different plan:

[code]

In a distributed case scenario, `

[2018-05-18 23:46] RSmithBothell opened #10654 "NO examples of how to SELECT a column into an Array!"
Been looking for hours but not one example.

[2018-05-19 00:05] dain commented on #10654
You can aggregate a column into an array with the `array_agg` aggregate function:
[code]

In the future, please use the mailing list (or stackoverflow) for usage questions like this.

[2018-05-19 00:05] #10654 closed

[2018-05-19 20:37] findepi commented on #9597
`date` type is currently not supported by the cassandra connector. Of course, an unsupported data type should be ignored on read (if possible). I don't know the reason, why it isn't so in the cassandra connector (but I would assume there must be some). Obviously, even better would be to support the `date` data type.

[2018-05-19 20:42] forainychen commented on #9597
just see there is PR for this support, in case anyone is interested.
https://github.com/prestodb/presto/pull/7123

[2018-05-20 05:54] wenleix opened #10657 "Add schema to SessionConfigurationContext"
Also, is it feasible to add environment to `SessionConfigurationContext` as well?

[2018-05-21 00:14] github55hh commented on #10644
Thanks for your answer, I use the 0.201 version of presto. In the process of using, I found another problem. I used javajdbc to insert data into MySQL yesterday. The success of the insertion was false. But when I write data to hdfs, the success value of the insert success is true. So I would like to ask, is the BUG or your developers deliberately set such a return mode?

[2018-05-21 02:56] electrum commented on #10644
Can you show some sample code? Or explain exactly which JDBC methods you are using?

[2018-05-21 06:09] github55hh commented on #10644
@Test
    public void testInsert2Mysql() throws ClassNotFoundException, SQLException {
        Class.forName("com.facebook.presto.jdbc.PrestoDriver");
        Connection connection = DriverManager.getConnection("jdbc:presto://10.0.37.165:9401/mysql/test","root",null);
        Statement stmt = connection.createStatement();
        boolean execute = stmt.execute("insert into person (id,name) values(

[2018-05-21 09:10] sopel39 commented on #8171
Why that would be the case? There can still be `RemoteExchange` below `LeftJoin` and `AssignUniqueId`, no? e.g:
[code]
Am I missing something?

I don't think `grouping(unique)` is enough. You specifically need information that rows are strictly ordered (in our case `unique_id` ensures that).

[2018-05-21 09:50] sopel39 commented on #8171
All in one here is what I would do:

- [Add better support (partitioning) for AssignUniqueId to PropertyDerivations]
- [Add rules for pushup of AssignUniqueId though projection and exchange]
- [Add support for strict ordering in StreamProperties]
- [Add better support (partitioning, strict order) for AssignUniqueId in StreamPropertyDeriviations]
- [Add streaming aggregation operator]
- [Add rule t

[2018-05-21 12:22] raananraz opened #10661 "removal of slice from source code?"
slice is using jol which is GPL which basically kills any chance of using it..
are there any plans to remove it / work around it?

[2018-05-21 13:39] cvandeve commented on #1848
Presto is still ignoring skip.header.line.count on latest cluster deployment from AWS (5.13) Presto 0.194 with Hadoop 2.8.3 HDFS and Hive 2.3.2

The "closing fix #10323" doesn't apply to this ticket. The linked ticket was closed for a reason that had nothing to do with Presto.

[2018-05-21 13:52] findepi commented on #1848
@cvandeve the fix is available for since Presto 0.199 (https://prestodb.io/docs/current/release/release-0.199.html#hive-changes), while latest release is 0.201.

[2018-05-21 14:17] martint commented on #10661
JOL is actually “GPL with classpath exception”: http://hg.openjdk.java.net/code-tools/jol/file/03064c057dc9/LICENSE

It’s is the same license as the JDK.

[2018-05-21 14:17] #10661 closed

[2018-05-21 14:53] cvandeve commented on #1848
Thanks @findepi

[2018-05-21 15:29] #10625 closed

[2018-05-21 15:38] martint commented on #10661
No, Presto is licensed under Apache License: https://github.com/prestodb/presto/blob/master/LICENSE

[2018-05-21 16:27] Mlnard1 commented on #1195
Yes - trying to use DBVisualizer to query Linked tables. Can create the linked table, but not query S3 using Presto 0.2

[2018-05-21 17:06] raananraz commented on #10661
@martint - i will run this by legal but the jdk works as far as licensing since it's not embedded within the jar.
in our case, we generate a war that holds our app -> presto -> slice -> jol all under the same war file which basically means it can't be used..

you know otherwise?

[2018-05-21 17:28] mbasmanova commented on #8171
@sopel39 Karol, thank you for helping to think through this. I think you are correct that `grouping(unique)` local property is not enough to skip `LocalExchange` between partial and final aggregations. A group of 2+ probe rows with same `unique` value coming into the join may get distributed into different local threads and will require a local exchange to come together for the final aggregation.

[2018-05-21 17:49] bowdencm commented on #10576
`CLI
--------
* 	Add peak memory usage to presto-cli output`

[2018-05-21 19:00] electrum commented on #10661
The `"CLASSPATH" EXCEPTION TO THE GPL` from the JOL license is the important part, as that allows redistributing it with modules that are not *"derived from or based on"* JOL. This is the part to bring to your legal team's attention.

[2018-05-21 19:03] raananraz commented on #10661
thanks everyone! will do 👍
on a different note - if it's not really needed in the project (i only saw 3 places it's used) maybe it would be best to simply remove it all together.

thanks again!!

[2018-05-21 19:19] elonazoulay opened #10664 "Array distinct from operator fails with cannot convert MethodHandle"
Example stacktrace:
[code]

[2018-05-22 02:14] hellium01 commented on #10576
[code]

[2018-05-22 08:06] sopel39 commented on #8171
It must support parallel local execution to work correctly, because it is executed in parallel within a task. There is: `com.facebook.presto.operator.AssignUniqueIdOperator#rowIdPool`.

Strict order is not required (my mistake, corrected previous posts), just information that rows are ordered should be enough.

Probe rows that pass though `LeftJoin` won't be unique, but they will be ordered on all

[2018-05-22 08:58] kokosing commented on #8171
👍

[2018-05-22 10:54] Hammond95 commented on #8300
Is this an open issue?

I am using Presto 0.187 and I am trying to set up security roles using the "File Based Authorization", but it doesn't seems to work.

I followed the instructions and created the needed file as follows:

`access-control.name=file`
`security.config-file=/etc/rules.json`

from the server.log seems that it is loading the 'allow-all' configuration instead.

[2018-05-22 15:45] electrum commented on #6158
I finished up @nahi's patch: #10673

[2018-05-22 15:45] #6158 closed

[2018-05-22 15:46] electrum commented on #1195
This is done in #10673

[2018-05-22 15:46] #1195 closed

[2018-05-22 18:05] #10664 closed

[2018-05-22 18:18] arhimondr opened #10674 "`null` is considered a `distinct value` in Hive Metastore column statistics"
In optimizer code we assume that `number of distinct values` statistic doesn't include null.

[2018-05-22 18:20] arhimondr commented on #10674
Since Hive accounts nulls as a distinct value we need to follow this assumption when storing the statistics. The idea is to increment NDV by 1 before store, and than decrement it by one on read when the nulls count for a given column is greater than zero.

[2018-05-22 19:44] findepi commented on #10674
Since nulls are accounted separately, it sounds a bit strange that null is also considered among NDV. Is this behavior constant across hive versions?
I also wonder, if this behavior present when tools other than hive calc stats and store them in hive metastore? (e.g. impala, spark)

[2018-05-22 19:52] nezihyigitbasi commented on #10576
[code]

[2018-05-22 21:07] electrum commented on #10576
[code]

[2018-05-22 23:00] Mlnard1 commented on #1195
awesome! do I need a new .jar file?
I'm

On Tue, May 22, 2018 at 11:46 AM, David Phillips <notifications@github.com>
wrote:

[2018-05-23 01:55] #10576 closed

[2018-05-23 02:06] mbasmanova commented on #8171
@sopel39 @kokosing @martint

Karol, I believe I understand the big picture, but still have some questions. Here is the story I'm working through:

`ActualProperties` describe data distributed across nodes. `StreamProperties` describe data distributed across threads within a single node.

`ActualProperties` are computed by `PropertyDerivations` and used in `AddExchanges` to add `RemoteExchange`s.

[2018-05-23 02:58] electrum commented on #1195
It is not merged yet, but should be in the 0.203 release. If you want to use it sooner, you will need to build a patched version locally with the change from that PR.

[2018-05-23 05:40] geetikagupta16 opened #10677 "Error while querying 500GB of TPCH data through presto"
We were trying to execute the following query through carbondata connector for presto:

[code]

But the above query gives us the following exception:
[code]

We are executing the query using 8 node presto cluster with the following system configurations:
Cluster : 8 Node Cluster (48 GB RAM , 8 CPU Core and 2 TB hard-disk
each,
Intel(R) Core(TM) i7 CPU 950 @ 3.07GHz

Here are the presto configurati

[2018-05-23 07:28] Praveen2112 opened #10678 "NullValueBlock for holdiing null values."
If I have a block (LongArrayBlock or IntArrayBlock or ShortArrayBlock) in which all the entries are null can we replace it with a **NullValueBlock** which maintains only the positionCount and for this method `isNull(int position)` we will always return `true` irrespective of the position (provided the position is less than position count of the block).

One benefit of replacing them with  **NullVa

[2018-05-23 07:56] Praveen2112 opened #10680 "Allow connector in coordinator to communicate with the connector in worker"
Presto's coordinator and worker communicate with each other over REST APIs. But the connector which are in the coordinator and worker are isolated. Is it possible to establish a communication between the connector in the coordinator and worker over the existing http-server ?

[2018-05-23 18:02] rschlussel2 commented on #10674
How did you find this issue?  I ask because hive distinct values counts are estimates, so it wouldn't be surprising to see off-by-one counts for that reason.

[2018-05-23 19:52] dain opened #10689 "0.203 release notes"
## Andrii Rosa
- [x] all checked
-  05-23 08:51:45    c10376c7a2 Run different hive tests in separate travis branches
-  05-23 08:51:45    c346768372 Fix failing test in TestHiveClient
-  05-23 08:51:45    e03fba400b Rename test methods in AbstractTestHiveClient
-  05-23 12:37:31    71f7ef57d2 Run presto-main tests as a separate Travis job
-  05-29 07:00:01    32c3020004 Return empty list instead

[2018-05-23 20:19] arhimondr commented on #10674
We run the `analyze` command in the `Hive` on very small tables (few rows) in the product tests. Than we assert that the number of distinct values for a 2 rows table (a single all null row and a single all not null row) is equal to `2`

[2018-05-23 20:39] findepi commented on #10674
Ah, this. I thought the test expectations are set so due to flawed estimates algorithm  (i observed really poor estimates on small tables, ~10-100 rows, so i could be biased)

[2018-05-23 20:51] dain commented on #10680
Can you describe what you are trying to accomplish?

[2018-05-23 23:01] rschlussel opened #10694 "Invalid plan for complex order by expression involving lambda in grouping keys"
**Query**:
[code]

**Error**:
`Query 20180523_224742_00013_nx3i2 failed: Invalid node. Expression dependencies ([expr_3]) not in source plan output ([cardinality$gid])`

It looks like the invalid project node is created here: https://github.com/prestodb/presto/blob/2501e88816ca9f66c6b65635573ac0f18f435b3c/presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java#L168-L171

CC: @f

[2018-05-24 04:54] haozhun opened #10696 "Correlated subquery planning regression"
[code]

fails with `com.facebook.presto.sql.analyzer.SemanticException: line 7:9: Given correlated subquery is not supported`

[2018-05-24 05:01] martint commented on #10696
Cc @sopel39

[2018-05-24 06:13] #10609 closed

[2018-05-24 06:28] Praveen2112 commented on #10680
We are creating a custom connector which is similar to raptor in which a part of the data is stored in each worker. In case of any failure in a worker we should make sure that the data should be replicated in other machines. We can also run some data manipulation tools which might re shuffle the data across the workers. For achieving these kind of control it would be better if the connector in coo

[2018-05-24 09:31] sopel39 commented on #10694
Invalid node is created at:
`com/facebook/presto/sql/planner/QueryPlanner.java:166`
The case is as follows:
1. After aggregation is planned then in `TranslationMap` there is mapping `"cardinality"("filter"("expr_3", (expr_0) -> ("expr_0" < 7)))" -> "cardinality$gid"`
2. We then try to map `cardinality (filter(numbers, x -> x < 7))` from projection and order by to a symbol in line `com/facebook/pre

[2018-05-24 10:06] findepi commented on #10694
My thought was to defer substitution of lambda formal parameters (`x`) to symbols after we translated the expressions (capturing duplicates).

[2018-05-24 15:35] puneet-kapoor-guavus opened #10699 "Support hive compact and bitmap indexes to speed up queries"
I want to query hive data using the hive compact/bitmap indexes to speedup my queries, but not sure if it is yet supported ?

[2018-05-24 16:12] zorro1992 commented on #9756
Hey guys ,
We are using Presto 0.194 version and seeing this error again. May I know what made a fix .

The above command is not helping a lot.

[2018-05-24 16:26] aandis opened #10700 "Cassandra connector IN query very slow planning on large list"
A query like -
[code]

takes more than 5 minutes just planning. My cassandra table being queried has a lot of partitions and list length for `IN` query I was experimenting with was anywhere between 50 to 200.
`<col2, col3, col4>` together form the partition keys so I don't imagine a full table scan to take place during planning or execution.
Any ideas?

[2018-05-24 16:47] nezihyigitbasi commented on #10689
Hive
-----
* Fix complex type handling in the optimized Parquet reader. Previously, null values, optional fields, and Parquet backward compatibility rules were not handled correctly.

[2018-05-24 17:52] aandis commented on #10700
Using Presto on EMR, `v0.194`.

[2018-05-24 19:34] findepi commented on #10689
[code]

[2018-05-25 03:57] thanhlv93 opened #10707 "Error presto query data auto stop"
Hi All,
I try to query data from Hive with format ORC but Presto server auto stop when can't run the query and I have to start again.

Presto version: 0.202
Hive version : 2.3.0

This is my query :

This is my hs_tbl_database_orc structure :

|         col_name           |       data_type
+--------------------------+-----------------------
| timesys                      | string
| typelog

[2018-05-25 06:40] dain commented on #10689
[code]

[2018-05-25 08:13] thanhlv93 commented on #10707
I find out the reason presto crash because Out Of Memory when run :

in my query. Presto have to load all requestDuration and save in memory to sort . I know that array_agg dont support LIMIT so please tell me how can I fix in this case ?

Thanks a lot.

[2018-05-25 10:34] sopel39 commented on #10700
FYI: @kokosing

What is type of `col2, col3 and col4` columns?

[2018-05-25 10:42] aandis commented on #10700
@sopel39 just plain integers and strings.  `col2`, `col4` are integers, `col2` is string.

[2018-05-25 15:01] rschlussel2 commented on #10689
[code]

[2018-05-25 17:35] aandis commented on #10700
Let me know if you guys need any info from my side to help debug this. I am curious myself and would like to know the reason this is happening and possibly help fix it.

[2018-05-25 17:44] qqibrow commented on #9601
@nezihyigitbasi As @dudu-markovitz mentioned, the problem is the default`DateTimeFormatter ` used there doesn't support default timestamp format in `request.log`, which could be both `ss.000Z ` and `ssZ` format.

[2018-05-25 17:53] qqibrow commented on #10611
@dain I would like to take this because we have similar requests. has anyone worked on this yet?

[2018-05-25 17:55] aandis commented on #10700
It appears that the bottleneck is `col3` which is a long list of string. Making it small makes the query execute instantaneously.

[2018-05-25 19:03] nezihyigitbasi commented on #9601
@qqibrow The issue I think manifests itself when the JVM default timezone is UTC. (see the [formatter](https://github.com/airlift/airlift/blob/8231839017159b70029dda31fababdc672348c55/http-server/src/main/java/io/airlift/http/server/HttpLogLayout.java#L13) used to write the HTTP logs). I put up a PR to fix the issue by using the same formatter: #10713

[2018-05-25 19:14] #10237 closed

[2018-05-25 22:45] #9601 closed

[2018-05-25 22:45] nezihyigitbasi commented on #9601
I merged a fix for this, can you guys please give it a try?

[2018-05-26 05:31] haozhun commented on #10689
[code]

[2018-05-26 05:40] wenleix commented on #10689
General
--------
* Fix a bug that causes :func:`map` raise duplicate key error on valid input in some situations.

[2018-05-26 18:31] zhenxiao commented on #2508
Hi, @jiangzhx
with @kgalieva 's fix 👍 https://github.com/prestodb/presto/pull/9156
Now the new parquet reader is rock solid
take a try for the latest code

[2018-05-27 15:14] aandis commented on #10700
Setting `iterative_optimizer_enabled` to `false` helps but planning time is still around a couple of minutes.

[2018-05-27 21:05] findepi commented on #10700
https://github.com/prestodb/presto/issues/9990 seems related.
@aandis are you able to profile/sample the coordinator while it's planning your query to see where most of the time is spent?

[2018-05-28 01:38] #10707 closed

[2018-05-28 04:59] aandis commented on #10700
@findepi I have used [async-profiler](https://github.com/jvm-profiling-tools/async-profiler/) for profiling a sample query like above. Plan time was around 5 minutes. Output is in this [gist](https://gist.github.com/aandis/7541387c9afac10b4824bf07c43e1f6c). Let me know if that helps.

[2018-05-28 05:49] kokosing commented on #10700
It is very interesting, can you also profile this case and share the output?

Have you considered the update, notice there were some changes which could help in your case:
 - https://prestodb.io/docs/current/release/release-0.197.html

 - https://prestodb.io/docs/current/release/release-0.199.html

Does removing `IN` predicate on string column help? Can you test the below query?
[code]

[2018-05-28 06:49] aandis commented on #10700
@kokosing here's the [profiler output](https://gist.github.com/aandis/2c5f233d1ed322b8944d4a44fe2b5c16) with iterative optimizer disabled.

I will try the update version 0.199 and see if that helps.

It does. Query starts instantaneously. But since `<col2, col3, col4>` form the partition key of the table, I would imaging that presto would do a full table scan if `col3` isn't specified. So query ex

[2018-05-28 07:43] aandis commented on #10700
Using `0.199` didn't help. Still seeing the same behavior.

[2018-05-28 08:09] aandis commented on #10700
It looks like `CassandraPartitionManager` is the bottleneck. I ran the server in debug mode and saw this
[code]

[2018-05-28 08:11] aandis commented on #10700
Highlighting key debug messages from the above log for the query going from `PLANNING` to `RUNNING`. Notice the timestamps span is around 4 minutes.
[code]

[2018-05-28 08:13] aandis commented on #10700
I am not sure if this is a problem on cassandra's side or `CassandraPartitionManager` itself. Any insights here would be great.

[2018-05-28 08:38] kokosing commented on #10700
[code]

It shows that Cassandra was queried for partitions 4 times, each time it took a 1 minute to return partitions.

[2018-05-28 08:40] findepi commented on #10700
@kokosing unless we spend 1 minute doing something else between the calls, no?

@aandis re https://github.com/prestodb/presto/issues/10700#issuecomment-392419391
It looks like most time is spent in `CassandraPartitionManager.getPartitions` (`CassandraMetadata.getTableLayouts`). This methods does two things:
- talks to Cassandra to know actual partitions (`getCassandraPartitions` > `NativeCassandra

[2018-05-28 08:42] kokosing commented on #10700
True.

[2018-05-28 09:16] aandis commented on #10700
@findepi do you have any references for how to profile at the method level?

[2018-05-28 14:26] aandis commented on #10700
\cc: @findepi @kokosing

[2018-05-28 14:46] aandis commented on #10700
Digging more into it, looks like those `select` queries are fired for creating instances of [`CassandraPartition`](https://github.com/prestodb/presto/blob/a981087e622c878ef4f0a4bae7ba274bd7bbb0e6/presto-cassandra/src/main/java/com/facebook/presto/cassandra/NativeCassandraSession.java#L385) which would store `TupleDomain`.

[2018-05-28 15:31] findepi commented on #10700
@aandis the reason for these `SELECT DISTINCT` queries might be that your query could contain  a predicate like `col2 BETWEEN 10 AND 100`.
If, for example, there exist only values `20, 50` in this range, it might be useful to know that during planning. E.g. if `col2` is later used as a join condition with a partitioned Hive table, we could skip reading some partitions.

This, of course, is just an

[2018-05-28 15:31] findepi commented on #10700
oh, btw, @aandis thank you for your in-depth analysis!

[2018-05-28 17:06] aandis commented on #10700
@findepi that makes sense. Minor nitpick, I earlier tried changing the `IN` query for one of the `int` columns  to a `BETWEEN` query like `col2 BETWEEN <start_int> AND <end_int>` and although the query started instantaneously, presto ended up doing a full table scan. It'd be neat to treat `BETWEEN` clauses for `int` columns like `IN` clauses. I'll file a separate issue for this.

Let me know if co

[2018-05-28 19:34] kokosing commented on #10700
I am do not think running concurrent queries is a good idea, let's keep this option as a last resort.

If you have a tuple domain with multiple columns with values set, then the query which is send to Cassandra should use `IN` predicate as your original Presto query.
[code]

[2018-05-28 20:43] aandis commented on #10700
@kokosing I just tried the query in cassandra. Works great. I'll test it out.

[2018-05-29 06:57] aandis commented on #10700
I tried this today and the planning time was reduced to around 80 seconds using [`IN` queries](https://github.com/prestodb/presto/issues/10700#issuecomment-392591754). The individual `IN` query takes around 20 seconds to complete and given that it's called [4 times](https://github.com/prestodb/presto/issues/10700#issuecomment-392460783) by the planner, planning takes ~80 seconds in total in my cas

[2018-05-29 07:09] kokosing commented on #10700
Please do one thing a time, can you post a PR where you used `IN` predicate first.

How much rows are there?

[2018-05-29 08:29] aandis commented on #10700
@kokosing  #10720

[2018-05-29 09:31] sopel39 opened #10724 "Multiple PushAggregationThroughOuterJoin issues"
1.

Query:
[code]
Diagnosis: `PushAggregationThroughOuterJoin` should verify that aggregations don't contain probe symbols

2.

With optimization:
[code]
without:
[code]

Diagnosis: `PushAggregationThroughOuterJoin` shouldn't fire if default aggregation would be pushed to build side

CC: @rschlussel2

[2018-05-29 10:09] sopel39 opened #10725 "AddLocalExchange should reuse exact partitioning columns order in aggregation"
Local exchange inserted (could be avoided singe aggregation uses same symbols as join):
[code]

Local exchange omitted:
[code]

[2018-05-29 10:20] romeran commented on #6158
+1
Very needed indeed

[2018-05-29 13:07] aandis commented on #10700
https://github.com/prestodb/presto/issues/10700#issuecomment-392672042 didn't help. Processing isn't slow, fetching the rows is. I tried [increasing the fetch size](https://docs.datastax.com/en/developer/java-driver/3.2/manual/paging/#setting-the-fetch-size) and [fetching results in the background](https://docs.datastax.com/en/developer/java-driver/3.2/manual/paging/#result-set-iteration) asynchro

[2018-05-30 18:03] electrum commented on #10689
[code]

[2018-05-30 19:35] electrum commented on #10689
Release notes: https://github.com/prestodb/presto/pull/10730

[2018-05-30 19:35] #10689 closed

[2018-05-31 13:04] owenlynch commented on #10301
Hello,
Is there any timeline for when this will be included in a released version of Presto?

[2018-05-31 19:12] nimmicv opened #10735 "Presto java.net.SocketTimeoutException: timeout java.io.UncheckedIOException: java.net.SocketTimeoutException: timeout"
I am trying to execute presto queries from a presto-cli and I am getting the following error

[hadoop@ip-172-16-125-74 ~]$ presto-cli --debug
presto> show schemas from hive.default;
Error running command: java.net.SocketTimeoutException: timeout
java.io.UncheckedIOException: java.net.SocketTimeoutException: timeout
       	at com.facebook.presto.client.JsonResponse.execute(JsonResponse.java:148)

[2018-05-31 19:25] mdmuqeetali opened #10736 "Presto is having issues reading Avro files from HDFS using ‘avro.schema.literal’."
Getting below exception when trying to use Presto (0.200) to query Avro files stored on HDFS using Hive external table schema with supplied Avro schema using ‘avro.schema.literal’. The same query works fine over Hive directly.

java.lang.IllegalArgumentException: undefined
          at com.google.common.base.Preconditions.checkArgument(Preconditions.java:108)
          at com.facebook.presto.hive.

[2018-05-31 20:15] mdmuqeetali commented on #10736
Same error with latest Presto build 0.203..

[2018-06-01 08:40] sopel39 commented on #10512
I wonder if we couldn't use similar approach (e.g: use reserved memory first) when `resource overcommit` is set to `true`.

Generally, it seem that we could utilize reserved memory pool better (and cluster memory for that matter) always by allowing at one arbitrary query (preferably the largest one) to run there at any given time. In such case we would still deliver promise that queries can finish

[2018-06-01 08:56] sopel39 opened #10738 "Remove reserved pool to utilize memory more efficiently"
We need to preserve following condition:

```If all queries got blocked on memory than we can designate one query that will finish anyway```

Currently reserved pool is used for that and one memory-blocked query is promoted to that pool.
However we could get rid of reserved pool if node memory managers kept enough memory in general pool for at least one (among the running ones) query to complete.

[2018-06-01 16:33] iancamp opened #10739 "Parsing fails if quoted table name is a reserved word (prepared statement)"
I initially encountered the following issue using prestodb version 0.193 in a [docker container](https://github.com/shawnzhu/docker-prestodb). I have verified the issue is still present in version 0.203. The remote database is PostgreSQL 9.6 so I am using the PostgreSQL connector.

Using presto-cli to run a prepare statement where the query contains a reserved word as a table name returns a parsin

[2018-06-01 19:19] #10631 closed

[2018-06-01 21:56] electrum opened #10742 "Release notes for 0.204"
Issue to track release notes for next release

[2018-06-01 23:40] qqibrow commented on #10611
@electrum thank you for the insights! Let me take a look and I will reply back my init implementation.

[2018-06-02 04:28] mbasmanova commented on #8171
@sopel39 @martint Karol, Martin, #10731 builds on top of #10681 and adds streaming support to `HashAggregationOperator`, updates `[Stream]PropertyDerivations` to set `partitioned_on(unique)` and `grouped(unique)` properties, and uses these in `AddLocalExchanges` to plan streaming aggregations.

[2018-06-02 15:32] yangjun616 commented on #10383
we also meet the same proble when I upgrade from 0.150 to 0.198 .
we have 100k queries every day,and then I had to revert 0.197
and I do not set etc/resource-groups.properties file.
here is my config.propertis
`coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=9200
query.max-memory=60GB
query.max-memory-per-node=2GB
discovery-server.enabled=false
discovery.uri=
resour

[2018-06-02 17:08] dain commented on #10383
We removed the old "query queues" system and replace it with "resource groups".  Resource groups are more configurable and allow for more complex policies than query groups.  Having two systems in the code base is too complex, so we eventually remove the old code.  Documentation for setting up resource groups can be found here: https://prestodb.io/docs/current/admin/resource-groups.html

[2018-06-03 04:08] yangjun616 commented on #10383
@dain thank you ,I test it in a single node and it real works

[2018-06-04 02:33] ufo22940268 opened #10749 "How to show hostname in cli"
If i connect to presto server with this

`./presto --server example:8080 --catalog hive --schema default
`

then the console prompt will display like this

`presto:default>`

Does presto has a option to display hostname, the cli prompt i wish to display is like this:

`presto:example:default`

[2018-06-04 06:55] ebyhr commented on #10749
@ufo22940268 As far as I know, there's no option to show hostname.
The prompt string is built on here.
https://github.com/prestodb/presto/blob/master/presto-cli/src/main/java/com/facebook/presto/cli/Console.java#L180-L188

[2018-06-04 06:58] ufo22940268 commented on #10749
@ebyhr  thanks

[2018-06-04 06:58] #10749 closed

[2018-06-04 09:05] ludi1981 opened #10751 "json_extract_scalar to get JSON field from Mongodb"
Hi all,

Our developers put JSON text into Mongodb. And I tried to get the data from Mongodb.
This screenshot is the fields in Mongodb.
![presto1](https://user-images.githubusercontent.com/23447205/40907365-2e24f554-6816-11e8-901d-43e5caadab91.png)

The data field is JSON, but I'm not sure why it is a row type in presto client. The screenshot shows what are put into data field.
![presto2](https://

[2018-06-04 09:35] findepi commented on #10751
Would would `select data.text ...` show?

(btw, don't paste images unless necessary. You can format text blocks as verbatim using triple backticks ```` ``` ````)

[2018-06-04 12:59] ebyhr commented on #10132
I tried reproducing with presto 0.149 and cassandra 3.0.6, but I couldn't.

cqlsh
[code]

presto-cli (server version is also 0.149)
[code]

[2018-06-04 20:20] nezihyigitbasi commented on #10738
By "kept" you mean keep idle and no other query can use it?

Regarding the "enough headroom for it", the headroom will be a constant, right? We don't know the peak amount of memory a query can consume, so we will use the value of `query.max-memory-per-node` as we do right now for sizing the reserved pool (or `query.max-total-memory-per-node` if the system pool is disabled).

[2018-06-04 22:00] cskbhatt opened #10755 "Presto(AWS EMR) ODBC Error - Peer certificate cannot be authenticated with given CA certificates"
When trying to connect from Tableau desktop on windows to Presto on EMR using https , Below error pops up
`[Simba][Presto] (1020) Error with HTTP API at https://xxx.xxx.com:443/v1/statement : Peer certificate cannot be authenticated with given CA certificates
`
Presto on EMR - 0.194
EMR - emr-5.13.0
Tableau Desktop - 10.2.8 (10200.17.1206.1553) 64-bit
Simba Driver - SimbaPresto1.1-64-bit

I added

[2018-06-05 03:09] ludi1981 commented on #10751
@findepi thank you for advise. Great! It works...

  identity  |
------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 47829      | 123
            |
 47829      | 333
 1          | NULL
 47829      | 2222
 47829      | 1
 47829      | 2
            |

[2018-06-05 03:09] #10751 closed

[2018-06-05 09:17] sopel39 commented on #10738
Yes. I think we can do that without explicit pool now, right?

Only the max query memory per node is constant. Let's name query max memory as `QMX`. For query `q` let's name it's node (`n`) memory usage as `used_memory(q, n)`. Then headroom required for query `q` on node `n` is:
`headroom(q, n) = QMX - user_memory(q, n)`.
Therefore `headroom` depends on current query memory usage.

On a cluster le

[2018-06-05 15:55] mbasmanova opened #10761 "LocalProperties#normalize weakens local properties"
The implementation of `LocalProperties#normalize` is a suspect as it seems to be treating all local properties as `constants`:

[code]

`TestLocalProperties` illustrates the side effects.

* A constant, sorted-by, and grouped symbol becomes *just* grouped. (Constant implies sorted which implies grouped, but grouped is the weakest of the three.)

[code]

* Sorted symbol becomes *just* grouped.

[co

[2018-06-05 17:38] martint commented on #10761
Keep in mind that local properties are hierarchical. A set of properties like:

```C(a), G(a,b), G(b,c), S(c)```

Says:
* Within that stream, `a` is constant
* Within the constant value of `a`, data is grouped on `a` and `b` (so `a` is irrelevant)
* Within each (`a`,`b`) group, data is grouped by `b` and `c` (so `b` is irrelevant)
* Within each (`b`,`c`) group, data is sorted by `c` (so sorting on

[2018-06-05 17:42] #10249 closed

[2018-06-05 17:51] atris commented on #10694
I would like to help with this. Please let me know

[2018-06-05 18:04] atris commented on #10724
@sopel39 Is this issue still applicable?

[2018-06-05 18:13] sopel39 commented on #10724
@atris yes

[2018-06-05 18:32] atris commented on #10724
Cool, can you assign it to me?

On Tue, Jun 5, 2018 at 11:43 PM Karol Sobczak <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2018-06-05 18:42] cps333 opened #10765 "sequence() -> array<date> does not behave consistently with last day of the month"
`sequence`only generates a series of mont end dates if the starting month is a 31-day month.

For example,
[code]
returns
[code]

However, when
[code]
returns
[code]

[2018-06-05 18:47] mbasmanova commented on #10761
@martint Martin, thanks for explaining. Now the implementation of `LocalProperties#normalize` makes sense. Furthermore, it looks like I can't express both `grouped({unique, a})` and `grouped({unique, a, b})` using local properties.

[2018-06-05 19:30] findepi commented on #10724
@atris we're agile, there is not need for formal assignment. Just ping here that you're working on this (you kinda already did) and go for it!

[2018-06-05 19:59] kokosing commented on #10742
JMX Connector
---------------
 - track execution statistics of `AddExchanges` and `PredicatePushdown` optimizer rules.

Cassandra Connector
---------------------
 - support read from materialized views

[2018-06-06 00:43] dain commented on #10765
I think the equivilant reverse stepping query is:
[code]
which returns:
[code]

[2018-06-06 00:50] electrum commented on #10765
We get the same behavior going forwards:
[code]
which returns:
[code]

[2018-06-06 00:52] electrum commented on #10765
This behavior is consistent with interval year-to-month interval math:
[code]
which returns:
[code]
This should be covered by the SQL and hopefully our implementation is correct. I tried the above in PostgreSQL and received the same answer.

[2018-06-06 03:46] mbasmanova commented on #10742
[code]

[2018-06-06 07:47] findepi commented on #10765
@cps333 if you need a sequence of month end-dates but the starting month is not 31-day (e.g June), you can generate sequence of month start-days (starting with a July in our example) and then subtract 1 day.

[2018-06-06 07:47] #10765 closed

[2018-06-06 08:50] ilio commented on #1195
@electrum still not available :(

[2018-06-06 09:10] Arthurlpgc commented on #10742
* Added support for casts varbinary-ipaddress
* added from_bigendian(32)
* added padding functions for varbinary

[2018-06-06 09:13] daigexuyu commented on #5685
I find this problem is that the username of metastore is different from the username of creating files in HDFS, so please make sure the "hive.metastore.username" in hive.properties of the hive catalog file is the same as the username of creating files in HDFS. If not, the presto "drop table "  only drops the metadata, does not drop the folder in HDFS.

[2018-06-06 09:20] daigexuyu commented on #5685
I find this problem is that the username of metastore is different from the username of creating files in HDFS, so please make sure the "hive.metastore.username" in hive.properties of the hive catalog file is the same as the username of creating files in HDFS. If not, the presto "drop table " only drops the metadata, does not drop the folder in HDFS.

HDFS Username
When not using Kerberos with HDF

[2018-06-06 09:27] imperio-wxm commented on #10132
@ebyhr

It is not happend every time.

And I add `cassandra.schema-cache-ttl=0s` in cassandra.properties can fix it.

Can you tell me why?

[2018-06-06 09:55] #10700 closed

[2018-06-06 09:57] kokosing commented on #10742
[code]

[2018-06-06 10:04] kokosing commented on #8421
Fixed with https://github.com/prestodb/presto/commit/1ee30393c90899472a7b19e8017378a807f4191f

[2018-06-06 10:04] #8421 closed

[2018-06-06 10:05] kokosing commented on #6154
This is supported now.

[2018-06-06 10:05] #6154 closed

[2018-06-06 10:08] kokosing commented on #5879
Inner and `LEFT OUTER` lateral joins are now supported. I consider it as good enough solution for this issue. Obviously there is still a huge room for improvements but these should be track as separate issues (if needed).

[2018-06-06 10:08] #5879 closed

[2018-06-06 10:10] kokosing commented on #4017
Todays support for correlated subqueries is decent in Presto. There are still some subquery patterns which are still not supported, but these should be tracked as separate issues.

[2018-06-06 10:10] #4017 closed

[2018-06-06 10:11] kokosing commented on #6383
This is done.

[2018-06-06 10:11] #6383 closed

[2018-06-06 16:17] atris commented on #10724
Ack, thanks

[2018-06-06 21:55] electrum opened #10771 "Add function to return Nth instance of substring"
Proposal:
[code]
The new variant of `strpos()` returns the Nth instance rather than the first. `instance` should be a positive number. Throws exception if it's 0 or negative.
`strrpos` with two parameters would return the position of the first instance from the back, or returns the Nth instance from the back. Throws exception if `instance` is 0 or negative.

Examples:
[code]

[2018-06-06 22:41] Mlnard1 commented on #1195
Any idea when?

From: Igor <notifications@github.com>
Sent: Wednesday, June 6, 2018 4:51 AM
To: prestodb/presto <presto@noreply.github.com>
Cc: Mlnard1 <mn.gotswell@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [prestodb/presto] Add support for prepared statements in JDBC driver (#1195)

@electrum <https://github.com/electrum>  still not available :(

—
You are receiving this becau

[2018-06-06 23:12] electrum opened #10772 "Optimization: add LIMIT for DISTINCT if all values are known"
Consider the following query:
[code]
If the table layout guarantees a fixed set of values for `ds`, we can add a limit node, allowing the query to complete once all possible values have been produced.

[2018-06-06 23:13] bowdencm commented on #10742
[code]

[2018-06-06 23:57] mwacc commented on #8980
any updates or plans where integration will be completed?

[2018-06-07 03:31] MichaelZhao9824 opened #10774 "Predicate push down not working in window function in sub query"
Hi Guys,

We are using Presto 0.197 and got a view which has window function in sub query. It seems that the predicate not correctly been pushed down to the window function. But if we directly put predicate in sub query and it is working fine. Any idea?

Explain result for view access (predicate not push down to window function)：

- Output[logical_name, mac_addr, cable_mac_name, service_class_name

[2018-06-07 03:55] ideal-hp opened #10775 "New UDAF : HyperLogLog bigmap state Related"
We want to store the HyperLogLog bitmap state data, which is convenient for secondary aggregation, because the approx_distinct function presto is already provided, so share this suggestion here.

**NAME**
agg_bitmap,sum_bitmap,merge_bitmap,value_bitmap

**TYPE**
[code]

**NULL HANDLING**
If input is NULL, output NULL
Note that if input is an empty string, its hash value is not NULL and is well-def

[2018-06-07 03:57] ideal-hp commented on #10775
demo:
**agg_bitmap:**
[code]

[2018-06-07 04:00] dain commented on #1195
@Mlnard1 and @ilio, please track the progress of the pull request here: https://github.com/prestodb/presto/pull/10673

[2018-06-07 04:02] Crossoverrr commented on #10775
That's awesome, dude!

[2018-06-07 04:02] martint commented on #10775
Presto already functions to do this. See:

https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/operator/scalar/HyperLogLogFunctions.java
https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/type/HyperLogLogOperators.java
https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/opera

[2018-06-07 04:06] dain opened #10776 "Overflow in optimized OrcWriter"
Looks like a really large page can cause the writer to create a single stream buffer larger than 2 GiB, which should not be possible when the max stripe size in our installation is less than 100 MiB.  I believe the logic that splits pages should take split pages until the logical size (i.e., `getSizeInBytes`) is below some reasonable limit.
[code]

[2018-06-07 04:12] electrum commented on #10775
We need to document these

[2018-06-07 04:16] electrum commented on #10774
Can you provide a simple query that reproduces this? Or at least provide the query for the plan shown?

[2018-06-07 04:27] MichaelZhao9824 commented on #10774
Hi @electrum ,

there is our view (I changed some names):

CREATE OR REPLACE VIEW
hive.AAA.CCC
AS
select
logical_name
,mac_addr
,cable_mac_name
,service_class_name
,COALESCE(TRY((case when service_octets_passed < 0 then 0 else service_octets_passed end) / service_pkts_passed), 0) as service_octects_per_pkt_passed --Calculates the amount of packets in each octect
,(cast((case when service_octets_pa

[2018-06-07 04:37] martint commented on #10775
https://github.com/prestodb/presto/issues/8968

[2018-06-07 05:17] ideal-hp commented on #10775
@martint @electrum Thank you guys for following this question, I have two small ideas
**1,**
Presto-0.189 bitmap state varbinary write to jbcSink has a bug ,The reasons are as follows:
[code]
**2,**
Bitmap state does not support other tools such as hive or spark or mysql.
I very much hope that the HyperLogLog algorithm you provide can support more tools

Here are my efforts for hive compatibility,

[2018-06-07 05:45] kokosing commented on #10774
Can you please try test it with a build on recent master, yesterday I spotted very similar problem that predicate from outer query was not propagated to subquery. Fix is here: https://github.com/prestodb/presto/commit/321130ac58518ead0d6a2a05c2e72260928f4755, and a test is here: https://github.com/prestodb/presto/commit/5a2ec50a7b424709f34eecd0a194396574a5c5e0.

[2018-06-07 05:49] kokosing commented on #10772
Do you mean a new plan node with a matching operator? Do you want to put such a node before aggregation that calculates distinct values or instead of it?

[2018-06-07 06:07] MichaelZhao9824 commented on #10774
@kokosing thanks a lot. will have a try

[2018-06-07 06:08] martint commented on #10772
If I understand correctly, what you're suggesting is turning this:

[code]

into

[code]

which should then optimize to

[code]

Unfortunately, it's not that easy. At the point where we look at the table layout there's no information about whether anything would be able to benefit from knowing the number of unique values for the fields produced by the scan. At the point where we look at the aggreg

[2018-06-07 06:47] electrum commented on #10775
The JDBC issue should be fixed in later versions. We removed the RecordSink interface.

[2018-06-07 06:49] electrum commented on #10772
No, just a normal limit node. If we know the query can produce at most 5 values, add a “limit 5” so it can stop early.

[2018-06-07 08:44] #10250 closed

[2018-06-07 08:46] findepi commented on #10109
[code]

[2018-06-07 08:55] s-b-u opened #10778 "JDBC varchar maps to LONGNVARCHAR"
within com.facebook.presto.jdbc.ColumnInfo#getType, the type "varchar" is mapped to java.sql.Types.LONGNVARCHAR but com.facebook.presto.jdbc.PrestoResultSet#getNString is not supported.
Is this just a typo and java.sql.Types.LONGVARCHAR should be returned instead, or are there any other reasons.

[2018-06-07 09:22] sopel39 commented on #10772
stats are inherently estimates, so probably something more solid would be needed.

[2018-06-07 10:16] findepi commented on #4915
The test method is now in `TestRaptorIntegrationSmokeTest` and so the issue is now https://github.com/prestodb/presto/issues/6434

[2018-06-07 10:16] #4915 closed

[2018-06-07 10:18] findepi commented on #6434
[code]

[2018-06-07 11:22] kevintop commented on #9620
me too.

[2018-06-07 14:03] ilfrin opened #10781 "Query runs even though tasks are failed"
Observed when working with Presto on EC2. When a query that would normally takes under a minute to finish looses a node while executing (I manually terminated the EC2 instance when the query was running), then
* Presto Web UI immediately notices a worker is down and decreases the worker count
* New queries are handled normally
* The unfortunate running query runs for another 5 minutes (that's the

[2018-06-07 16:21] aandis opened #10783 "Inequality on clustering key returns empty results in cassandra"
A query like

[code]

returns empty result even if I have data in my table which satisfies these conditions. `<col1, col2>` are the partition keys and `col3` is the clustering key for the cassandra table.

[2018-06-07 18:51] wenleix commented on #10776
I have looked that query, because of the writer scaling, there will be a `PartitionedOutputOperator` before `TableWriterOperator`, thus any page that is too large will not go through.

If the issue is not because some excessively large Page, I can only see two potential issues after looking at the code.

- We hit some corner cases that makes the flush heuristic not working as expected, so we are w

[2018-06-07 19:18] electrum commented on #10778
We should probably just use VARCHAR. Feel free to send a pull request.

[2018-06-07 19:36] findepi commented on #10778
at the same time, it seems that `getNString` could be simply a supported operation

[2018-06-07 19:43] electrum commented on #10778
Agreed. I think we should do both.

[2018-06-08 01:42] rongrong opened #10788 "Analyzer crash when casting row(json) to row(double)"
This will cause analyzer to crash in `LocalCache.get`:

java.lang.RuntimeException: Error fetching next at http://localhost:8080/v1/statement/20180608_013523_00013_bzhmx/1 returned an invalid response: JsonResponse{statusCode=500, statusMessage=Internal Server Error, headers={content-type=[text/plain], date=[Fri, 08 Jun 2018 01:35:23 GMT], transfer-encoding=[chunked]}, hasValue=false} [Error: com.

[2018-06-08 02:04] wenleix commented on #10788
This is probably because of the bug that row to row cast not work with JSON type: https://github.com/prestodb/presto/issues/9113

[2018-06-08 02:26] #10776 closed

[2018-06-08 02:45] dain commented on #10781
That is the way it is supposed to work.  If the coordinator receives a response from a worker saying that a task is failed, an event if fired to the stage containing the task which fails the stage. Then an event is fired to the query and the query fails.  Then the query cancels all of the work.

In the case of a hard crash of the worker, the coordinator does not get a "failed" message, and simply

[2018-06-08 04:19] rongrong commented on #10788
I think they are the same.

[2018-06-08 04:19] #10788 closed

[2018-06-08 05:02] wenleix commented on #10742
[code]

[2018-06-08 06:41] MichaelZhao9824 commented on #10774
@kokosing I just completed the testing using the latest master branch but the problem is still not fixed.
It still uses ScanProject instead of ScanFilterProject. Any ideas? Thanks.

- Output[logical_name, mac_addr, cable_mac_name, service_class_name, service_direction, service_octets_passed] => [cmts_host_name:varchar, cm_mac_addr:varchar, cmts_mdif_name:varchar, service_class_name:varchar, servic

[2018-06-08 07:01] kokosing commented on #10774
Can you post an `EXPLAIN` for the query where predicate pushdown is working?

It looks like `com.facebook.presto.sql.planner.optimizations.PredicatePushDown` does not support `WindowNode`.

[2018-06-08 09:10] MichaelZhao9824 commented on #10774
I got one with window function but not in sub query which is working fine

- Output[logical_name, mac_addr, cable_mac_name, service_class_name, service_direction, metrics_date, service_octets_passed_cum, service_octets_passed, service_pkts_passed_cum] => [cmts_host_name:varchar, cm_mac_addr:varchar, cmts_mdif_name:varchar, service_class_name:varchar, service_direction:bigint, metrics_date:timestam

[2018-06-08 09:13] MichaelZhao9824 commented on #10774
Another one without window function in sub query which is working fine as well.

- Output[logical_name, mac_addr, cable_mac_name, service_class_name, service_direction] => [cmts_host_name:varchar, cm_mac_addr:varchar, cmts_mdif_name:varchar, service_class_name:varchar, service_direction:bigint]
        Cost: {rows: ? (?), cpu: ?, memory: 0.00, network: ?}
        logical_name := cmts_host_name

[2018-06-08 09:51] sopel39 commented on #10781
Could you elaborate?

[2018-06-08 09:55] sopel39 commented on #10783
What is the type of `col1, `col2` and `col3`? Are those `char` types?

[2018-06-08 10:39] raghavsethi commented on #10383
@wyukawa does this only happen in this particular circumstance (i.e. when there is a 'heavy' query?) or is the cluster only able to run a single query at a time, no matter what query is running?
Also, when you load the Web UI and open the query details page for the queries, what resource groups are they part of? Are all of them in `global`?

[2018-06-08 10:41] aandis commented on #10783
`col1` and `col2` are partition keys and a mix of `integer`, `text`, `col3` is the clustering key and is `text`.

[2018-06-08 11:15] raghavsethi commented on #10383
I think I found the problem and have opened a PR.

[2018-06-08 12:42] wyukawa commented on #10383
I set etc/resource-groups.properties file in presto 0.201 and check query.
It works well now.

[2018-06-08 12:57] ebyhr commented on #10783
Here is a reproducing step.

[code]

[2018-06-08 13:52] ebyhr commented on #10132
@imperio-wxm https://github.com/prestodb/presto/issues/7206 is relating to this behavior. Also, `assandra.schema-cache-ttl` parameter has been removed from version [0.177](https://prestodb.io/docs/current/release/release-0.177.html).

[2018-06-08 17:05] ricardoekm commented on #9173
I'm facing the same problem here. The query on the original table works, however on the view it doesn't:

-- View
CREATE OR REPLACE VIEW linha_aprovada AS
SELECT data
FROM pedido.linha

-- Query on the original table, it works
SELECT pedido.linha.data FROM pedido.linha

-- Query on the view, it fails
SELECT pedido.linha_aprovada.data FROM pedido.linha_aprovada

"Column 'pedido.linha_aprovada.data'

[2018-06-08 17:53] dain commented on #10781
@sopel39 You can drain by sending a `PUT` with `SHUTTING_DOWN` to '/v1/info/state`. See https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/server/ServerInfoResource.java#L75

[2018-06-08 18:18] #10383 closed

[2018-06-08 19:33] mbasmanova commented on #10761
@martint @kokosing @sopel39

To summarise,

`G(unique), G(a), G(b), G(c)` says

* Data is grouped on `unique`
* Within each (`unique`) group, data is grouped on `a`
* Within each (`unique`, `a`) group, data is grouped on `b`
* Within each (`unique`, '`a', `b`) group, data is grouped on `c`

If `a`, `b`, `c` are source columns, than `AssignUniqueId` generates output satisfying `G(unique), G(a), G(b

[2018-06-08 20:54] yufengJ commented on #10394
@dain Is there a reason Presto only support Hive standard JSON serde `org.apache.hive.hcatalog.data.JsonSerDe`? In other words, why does Presto bind serde to [HiveStorageFormat](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveStorageFormat.java) enum? My guess is because the writer needs to know [estimatedWriterSystemMemoryUsage](https://github

[2018-06-08 21:46] dain commented on #10394
We test everything we support, otherwise we have lots of problems supporting the community.  We can add more formats as needed, but we try to stick to the big systems that people use.

[2018-06-09 00:51] #9113 closed

[2018-06-09 05:33] raghavsethi commented on #10742
[code]

[2018-06-09 07:05] PD186026 commented on #9257
Hi @tooptoop4 ,
Please contact me at PD186026@teradata.com
I would like to discuss about the presto connector you used.

[2018-06-09 07:51] wenleix opened #10801 "Use varargs to implement function ``features``"
Today it is implemented via writing 10 functions.

[2018-06-09 07:59] #10386 closed

[2018-06-09 09:23] Tartarus0zm opened #10803 "How to open the log of Hadoop hdfs client in Presto"
Presto use airlift log, and com.facebook.presto.hadoop has change the Log.
modify the ```log.properties``` is not work

[2018-06-09 09:37] findepi commented on #10781
@dain 👍, we do that.
This issue is about the situation when we don't do that -- when a node is taken offline un-nicely.

This would be perfectly understandable and this is what we expected to observe: query appearing to be running until some reporting/heartbeat timeout kicks in & kills it.
Yes, the web UI of the coordinator was showing _task_ failure immediately, yet query was still running. Thus

[2018-06-10 13:27] codope commented on #10771
`StringUtils.ordinalIndexOf()` fails for the following case: `strpos('foobar', 'foobar', 1)`
So, I implemented the functionality without the util. I am almost done with the changes except for the test related to `position(a in b)` function. Do we need to keep it as part of the same test method? I think the two functions, `strpos` and `position`, are redundant and `strpos` is sufficient to cover `p

[2018-06-11 05:14] magicsilence commented on #1195
+1 still not available in the 0.203 release

[2018-06-11 09:45] sopel39 commented on #10761
So `G(a), G(b), G(c)` seems stronger than `G(a, b, c)` as `a` cannot be scattered across data set.
Maybe adjust https://github.com/prestodb/presto/pull/10731/commits/96c2c8cb68dd8d1f8497f44c73d85bfd58a8ae37#diff-64cfd4c0cfe165b7dcc4934f126200e5R186 accordingly, e.g: add multiple cascading grouping properties for each column?

That seems true as join seems to increase group cardinality only (multip

[2018-06-11 10:26] sopel39 commented on #10742
[code]

[2018-06-11 10:37] kokosing commented on #10742
[code]

[2018-06-11 12:00] jwass commented on #10742
[code]

[2018-06-11 12:37] pranavoyo opened #10805 "Google Account Login"
Is there a way/future scope to integrate Google account login for presto?

[2018-06-11 16:30] ssainz opened #10807 "presto-jdbc: ResultSetMetaData.getColumnDisplaySize(int) returns 0 for varchar columns"
1. Create table like "

create table test1 (

level_8 varchar(5000)

)

"

2. Then fetch the column size with :

resultSet = databaseMetadata.getColumns(null,null,"test1",null);

See results:

TABLE_CAT, TABLE_SCHEM, TABLE_NAME, COLUMN_NAME, DATA_TYPE, TYPE_NAME, COLUMN_SIZE, BUFFER_LENGTH, DECIMAL_DIGITS, NUM_PREC_RADIX, NULLABLE, REMARKS, COLUMN_DEF, SQL_DATA_TYPE, SQL_DATETIME_SUB, CHAR_OCTET_L

[2018-06-11 16:57] mbasmanova commented on #10761
@sopel39 Karol, thanks for your thoughts. I'm also thinking that we could use `G(unique), C(a), C(b), C(c)` to capture more of *uniqueness* of `unique` column produced by `AssignUniqueId`. I'll update `PropertyDerivations#visitAssignUniqueId`.

[2018-06-11 17:44] martint commented on #7438
@arhimondr, your fix covers this issue, right? Can we close it?

[2018-06-11 18:00] raghavsethi commented on #10805
Not sure what you mean exactly.. it's possible to write a plugin to do any sort of authentication you want but that would have to be configured by the deployment administrator.

[2018-06-11 18:08] arhimondr commented on #7438
Yes

[2018-06-11 18:08] #7438 closed

[2018-06-11 18:50] pranavoyo commented on #10805
any guide/tutorial I can follow to write my custom plugin. I checked official doc and it does not help much.

[2018-06-11 19:24] raghavsethi commented on #10805
https://prestodb.io/docs/current/develop/system-access-control.html
This might also be helpful as an example implementation: https://prestodb.io/docs/current/security/ldap.html

[2018-06-11 19:26] agsax2002 opened #10809 "PREPARE / EXECUTE not working with INSERT INTO SELECT"
Hi. I was trying to follow code for executing a PREPARE statement with an EXECUTE clause, i.e. https://github.com/prestodb/presto/issues/5918

This works well when substituting a variable for a select query, but does not seem to work when using an insert into select statement, i.e.

[code]

On the first query, I am getting an error: "Query is gone (server restarted?)"
Then on the EXECUTE statement

[2018-06-11 19:42] agsax2002 commented on #10809
With further testing, this may be an issue related to https://github.com/prestodb/presto/issues/10049
My query has ~80 columns and is running into the Error running command: 500: Request header too large. Seems like an issue currently being working on.

[2018-06-12 07:19] thanhlv93 opened #10811 "How can I epoch the time ?"
Hello All,
In postgrestSql I can using :

and the result I received :

But I cant  use "epoch"  with presto , I dont know how can I epoch the time with presto , Please tell me if you have any suggest .
Thank you.

[2018-06-12 07:59] findepi commented on #10809
If this works for a table with fewer columns but not with more columns, this must be https://github.com/prestodb/presto/issues/5759 . Protocol v2 is going to address this.
Also, you can use https://www.starburstdata.com/download/ (it contains https://github.com/prestodb/presto/pull/5868, which didn't make it into `master` because Protocol v2 was being planned)

[2018-06-12 07:59] #10809 closed

[2018-06-12 09:15] findepi commented on #10811
@thanhlv93 in your examples there are unmatched parenthesis, which doesn't help.

i don't understand your question, what does it mean to "epoch the time"?
If you have timestamp data and you want to round-down to whole 5-minutes, then https://stackoverflow.com/q/47066024/65458 might be helpful.

[2018-06-12 09:30] findepi commented on #3057
This issue is obsolete now, closing.

As to the elasticsearch connector, if the above mentioned implementations are applicable to general audience, it would be valuable to have one in presto codebase.

[2018-06-12 09:30] #3057 closed

[2018-06-12 09:31] #4592 closed

[2018-06-12 09:34] findepi commented on #8348
@losipiuk with https://github.com/prestodb/presto/pull/8375 merged,  can I close this?

[2018-06-12 09:42] findepi commented on #9757
Yes, the name (IMO) is misleading.

Depends where the files are located. Eg. If you have CSV/TSV files HDFS or S3, you can use Hive connector to read them. You will need to have Hive Metastore and define mapping for the files using `hive`, because Presto won't let you set all the required serde properties.

If you files are on local disk, then no, there isn't such a connector (Presto is a distribu

[2018-06-12 09:42] #9757 closed

[2018-06-12 09:55] sopel39 opened #10812 "Memory leak in `com.facebook.presto.memory.ClusterMemoryManager#changeListeners`"
Example log: https://api.travis-ci.org/v3/job/389838962/log.txt
Commit: https://github.com/prestodb/presto/commit/48ea8f3eaa9a3047893d0acd5304035912ebb681

Example PR: https://github.com/prestodb/presto/pull/10808
log: https://api.travis-ci.org/v3/job/390987547/log.txt

log tail:
[code]

Should we increase tests memory limit? Could there be some mem leak?

CC: @electrum

[2018-06-12 09:56] thanhlv93 commented on #10811
Thanks @findepi , That is what I want . It's working perfect.

[2018-06-12 09:57] #10811 closed

[2018-06-12 11:14] findepi opened #10815 "Presto should not reject queries over system catalog when there are no workers yet"
[code]

for such a query no workers are needed, since the query will not use a worker for execution (`NodeSystemTable#getDistribution()` returns `SINGLE_COORDINATOR`)

[2018-06-12 13:00] losipiuk commented on #8348
I think so. Followup from #8409 is still valid, yet it is not related to this issue.

[2018-06-12 18:41] martint commented on #10742
@kokosing, which PR does "track execution statistics of `AddExchanges` and `PredicatePushdown` optimizer rules" refer to?

[2018-06-12 18:42] martint commented on #10742
@sopel39, which PR does "Improve partitioning properties for some correlated subqueries so that remote exchange can be avoided above source stage." refer to?

[2018-06-12 18:57] mbasmanova commented on #10742
@martint @sopel39

https://github.com/prestodb/presto/pull/10681, I think

[2018-06-12 18:59] martint commented on #10742
@mbasmanova, thanks. We need a entry for the release notes that's more user friendly, something like "improve performance for correlated subqueries of such and such shape".

[2018-06-12 19:02] caithagoras commented on #10742
[code]

[2018-06-12 20:23] mbasmanova opened #10820 "Fix property derivations for joins"
A discussion in #10731 revealed that property derivations logic for joins in `PropertyDerivations.Visitor#visitJoin` is incorrect.

The behavior should be as follows (as discussed in #10814):

  | Global | Local | Constants
-- | -- | -- | --
INNER | ALL | ALL(probe) | ALL(probe + build)
INNER + spill | ALL | Constant(probe) | ALL(probe + build)
LEFT | ALL(probe) | ALL(probe) | ALL(probe)
LEFT + sp

[2018-06-12 21:54] haozhun commented on #10801
Vararg is not possible outside of presto-main

[2018-06-13 00:12] codope commented on #10771
@electrum Could you please review the syntax and the pull request?

[2018-06-13 02:31] hustnn commented on #10415
@nezihyigitbasi @piyushnarang

Thanks for your effort. Can I know which version has included this patch?

[2018-06-13 08:38] kokosing commented on #10742
https://github.com/prestodb/presto/pull/10692

[2018-06-13 08:56] photogamerun opened #10824 "wired exception from presto"
Hi when I fire a query in presto

select   anticutoff_callback_version2_orderid_daily_list.orderid,  anticutoff_callback_version2_orderid_daily_list.masterhotelid,  anticutoff_callback_version2_orderid_daily_list.hotelid,  anticutoff_callback_version2_orderid_daily_list.group,  anticutoff_callback_version2_orderid_daily_list.hotelname,  anticutoff_callback_version2_orderid_daily_list.guarantee,  a

[2018-06-13 09:07] sopel39 commented on #10820
I will also add my comment from https://github.com/prestodb/presto/pull/10822 here:

Spilling join not preserving grouping could be a problem because then streaming aggregation will never happens for correlated subqueries and spill enabled.
I wonder how this could be addressed, e.g: make sure spill doesn't happen mid-group.

[2018-06-13 09:09] photogamerun commented on #10824
it looks like 'group' is reserved work in presto, so I can not use group in select statements
is it corrected?

[2018-06-13 09:23] sopel39 commented on #10742
@martint changed to:
[code]

[2018-06-13 09:45] #10824 closed

[2018-06-13 09:49] findepi commented on #10824
You can always "-quote the identifier: `anticutoff_callback_version2_orderid_daily_list."group"`

[2018-06-13 10:37] findepi commented on #10820
you can't request that. Spill can happen even during processing of a single row (when 1 probe row matches multiple build rows). This is because otherwise we would need long-lived locks in the lookup partitions, longer then the duration of a call to Operator. This would affect our ability to revoke memory ASAP and could lead to OOM.

[2018-06-13 10:56] #8348 closed

[2018-06-13 13:39] piyushnarang commented on #10415
@hustnn - I believe it should be in release 0.200 onwards.

[2018-06-13 16:38] mbasmanova commented on #10820
Theoretically speaking, at some point, one could imagine a cost-based optimizer being able to evaluate memory usage of spillable join with non-streaming aggregation and non-spillable join with streaming aggregation and choosing which one is better.

[2018-06-13 18:09] mbasmanova commented on #9470
@sopel39 Karol, is this what became `com.facebook.presto.operator.WorkProcessor`? Is there anything else missing or can this issue be closed now?

[2018-06-13 19:34] #9470 closed

[2018-06-14 06:33] #10742 closed

[2018-06-14 06:33] martint opened #10828 "Release notes for 0.205"
Issue to track release notes for next release

[2018-06-14 08:47] yangjun616 opened #10829 "hive.information_schema.columns is null"
I use redash show all tables informations , by `SELECT table_schema, table_name, column_name
        FROM information_schema.columns
        WHERE table_schema NOT IN ('pg_catalog', 'information_schema')
`.

  But  when I upgrade presto from 0.150 to 0.198, it doesn't work. Then I find information_schema.columns null .is anything I ignore make this happends.
Anyone meet tha same questions?
thanks

[2018-06-14 09:34] findepi commented on #10829
What does the following print?
[code]

What does it print if you drop the `WHERE ...` part?

[2018-06-14 11:21] mbasmanova opened #10830 "Introduce JoinNode#matchMax"
#10405 improved support for correlated no aggregation scalar queries. A query like

`SELECT name, (SELECT name FROM region WHERE regionkey = nation.regionkey) FROM nation`

is planned as a left join sandwiched between `AssignUniqueId` and `MarkDistinct` + `Filter`:

- Filter if(is_distint, true, fail('Scalar sub-query has returned multiple rows'))
  - MarkDistinct (unique)
    - LeftJoin
      - A

[2018-06-14 12:30] kevintop commented on #9620
+1

[2018-06-14 13:47] findepi commented on #10830
I like the idea.

Nit: what values of `matchMax` we will ever use? If this is `1` and `unlimited`, then a boolean flag (eg `enforceSingleMatch`) could probably be more useful.

[2018-06-14 13:58] sopel39 commented on #10830
Alternatively we could create plan with `MarkDistinct[all_probe_rows]` and then capture plan pattern of:
[code]
and rewrite it to:
[code]
Basically we could have a `MarkDistinct` simplification rule that removes symbols of stream local properties are:
[code]
which is I believe what you did

[2018-06-14 14:16] kokosing opened #10832 "Parallel read in jdbc-based connectors"
Currently read jdbc-based tables are using single connection which could be slow. However other data engines are able to do a parallel table read. See the below.

In Sqoop - https://sqoop.apache.org/docs/1.4.7/SqoopUserGuide.html

In Spark - http://spark.apache.org/docs/latest/sql-programming-guide.html#jdbc-to-other-databases

Related: - https://www.percona.com/blog/2016/08/17/apache-spark-makes-

[2018-06-14 14:53] martint opened #10834 "FILTER clause incorrectly allowed for COALESCE"
This should fail during analysis, but it doesn't:

[code]

[2018-06-14 14:54] mbasmanova commented on #10830
Piotr, Karol, thanks for sharing your thoughts.

@findepi

I can only think of `1` and `unlimited`. Agree, `enforceSingleMatch` would work and is simpler to implement.

Disclaimer: the credit for this idea goes to @dain

@sopel39 Karol, I considered this option, but...it sort of doesn't seem to work.

I couldn't find a plausible reason to put `all_probe_columns` into `MarkDistinct` in the first pl

[2018-06-14 15:03] sopel39 commented on #10830
Initially `MarkDistinct` was on all probe symbols (in the PR that introduced this correlated subqueries support), but we've later changed it to just be on `unique` as it is more performant.

Since `MarkDistinct` is on all probe rows then `RemoteExchange (hash(joinkey))` is enough to satisfy `MarkDistinct` partitioning requirements (because it provides partitioning for subset of columns).

This sho

[2018-06-14 15:29] mbasmanova commented on #10830
@sopel39 Karol, thanks for the corrections. Looks like we don't need to remove an exchange. To make sure I understand this completely, the planning would go like this:

Start with

[code]

Then, AddExchanges inserts RemoteExchange under the LeftJoin:

[code]

`partitioned_on(unique)` property no longer propagates, but `partitioned_on(joinkey)` does. Hence, `AddExchanges` doesn't insert `RemoteExch

[2018-06-14 15:40] raghavsethi commented on #10828
[code]

[2018-06-14 15:44] sopel39 commented on #10830
For one thing you could use `G(unique), C(probe_col1), C(probe_col2),..` to prune aggregation keys too. However, I'm fine either way

[2018-06-14 16:21] mbasmanova commented on #10830
That's true. I can't figure out how to model this in the `AggregationNode` though. Do you have any ideas?

[2018-06-14 16:32] martint commented on #10834
This probably applies to other special functions (e.g., nullif, if, try).

AstBuilder.visitFunctionCall needs to be updated to reject a filter clause for those functions.

[2018-06-14 16:36] combinatorist opened #10836 "Unhelpful Errors: not instantiating table name parameters"
## Problem
While running a query, I get the following error verbatim:
[code]

## Cause?
It seems the error message is not instantiating the parameterized table name, here: https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/metastore/SemiTransactionalHiveMetastore.java#L473
I'm guessing this would effect other error messages I noticed in the same sourc

[2018-06-14 17:59] haozhun commented on #10836
This was fixed 3 months ago in 2328f43e1290b0b2a5ecf3e714367c6ecf9418f0.

Release 0.198 and after have the fix.

[2018-06-14 17:59] #10836 closed

[2018-06-14 19:02] kokosing commented on #10830
Currently for correlated subqueries you have a filter like `Filter if(is_distint, true, fail('Scalar sub-query has returned multiple rows'))`.
As I understand with `JoinNode:enforceSingleMatch` you are going to output a boolean symbol that would be `true` if it is first match and `false` otherwise. So it is rather `JoinNode:singleMatchSymbol`, am I right? Or are you going to inject the error messa

[2018-06-14 22:46] nezihyigitbasi commented on #10828
[code]

[2018-06-15 01:54] electrum commented on #10832
The Spark way looks good. You can see the code here it uses to build the queries: https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JDBCRelation.scala

Notes:

1. No lower/upper bound for the first/last query (the bounds don't filter the table, as the docs say)
2. One of the queries needs to include the null values

[2018-06-15 02:56] Praveen2112 commented on #10678
Resolved by #10709

[2018-06-15 02:56] #10678 closed

[2018-06-15 08:53] sopel39 commented on #10830
Another reason is that only predicates that contain symbols from `MarkDistinctNode#distinctSymbols` can be pushed down through `MarkDistinct` node.

[2018-06-15 10:39] kokosing commented on #10832
Following sqoop's example, we could use primary key for partitioning and pull some information from target DB stats for low/high (we want to do this anyway, for CBO).

I was thinking about that too, I am only a bit concern that pulling information about low/high values might not be that trivial depending on RDBMS. This could be great extension, but let's start with something simpler and more strai

[2018-06-15 10:43] findepi commented on #10832
I have no doubts this needs to be RDBMS-specific. But we need those extension points anyway, quite soon.

[2018-06-15 12:03] mbasmanova commented on #10830
@kokosing

This is what I was thinking of doing. Do you see any issues with that?

No. That's the only use case I know of.

[2018-06-15 12:05] mbasmanova commented on #10830
@sopel39

I see. Do you have a query where it matters?

[2018-06-15 12:12] kokosing commented on #10830
@mbasmanova

Outputting symbol seems to be more generic to me, it allows use it in more use cases. Because of that I find it more elegant. However, it is hard to reason if we do not see any other use case so far.

[2018-06-15 13:01] combinatorist commented on #10836
Sorry, @haozhun, I didn't realize. Thanks for the update!

[2018-06-15 14:28] sj860908 opened #10844 "Parquet Map type raises indexoutofboundsexception"
I had a query that access parquet files with data type being Map<String, Int>.
Query was running fine until I upgraded cluster from 0.170 to 0.194 with parquet reader optimizer turned on.

Then when I ran the same query it gives me this stack trace.
[code]

I'm using hive catalog on presto, and running the exact same query on hive and spark works fine.
Looking at the stack trace, I think it is fre

[2018-06-15 19:50] findepi commented on #9756
@zorro1992 you must be altering your session is somehow ineffective way. Once `set session dictionary_aggregation = false` is called, the line of code that is throwing the exception quoted in this issue becomes unreachable.

[2018-06-15 19:51] findepi commented on #9756
This might be related to Join dictionary processing added in https://github.com/prestodb/presto/pull/8629 (0.190).
Join operator now can produce `DictionaryBlock`s which are problematic for downstream Aggregation operator.

cc @dain @highker @sopel39

[2018-06-15 20:39] findepi commented on #9756
I didn't reproduce original stacktrace yet, but I got a similar one. Basically in `MultiChannelGroupByHash.canProcessDictionary` there are 2 `verify` statements next to each other. If first can fail (show below), the second can fail as well.

Using single-node Presto
[code]

[2018-06-16 00:31] wenleix opened #10847 "Make map_entries return rows with field names"
Today the rows returned from `map_entries` doesn't have field names and there is not easy way to refer it. Thus in many cases, we will first CAST it into `ARRAY(ROW(key KeyType, value ValueType))` before we can process it.

I think it's reasonable to make the rows returned from `map_entries` to have field names. (maybe `key` and `value` ?)

[2018-06-16 00:34] qqibrow opened #10848 "NullPointerException throw from ExpressionInterpreter.visitBindExpression"
[code]
will throw out exception:
[code]
I notice it will only happen when:
[code]

On the surface the problem seems to be on line:
https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java#L986
stream before `toImmutableList()` must not contain null. So the easy fix could just be:
[code]

In this way the query passed but pre

[2018-06-17 03:30] #10834 closed

[2018-06-17 21:01] findepi commented on #10829
This has already been reported: #6972

[2018-06-17 21:01] #10829 closed

[2018-06-17 21:19] findepi opened #10853 "Partition sampling when pulling table/partition statistics from Hive metastore"
Extracted from https://github.com/prestodb/presto/pull/10753#discussion_r195772035

Problem: when running a query over a Hive partitioned table without a predicate filtering out most of the partitions, calculating table scan statistics currently involves reading partition statistics for all matching partitions and this can be prohibitively slow, when there are many partitions.

Proposed solution:

[2018-06-17 21:48] arhimondr commented on #10853
Thanks for creating a ticket

[2018-06-18 10:39] sopel39 commented on #10853
Doesn't have provide some aggregated stats for the entire table? In case there are no partitions there are Hive stats for entire table. Maybe they exists too if there are partitions?

[2018-06-18 11:13] arhimondr commented on #10853
If the table is partitioned, there is no aggregated stats for the entire
table.

On Mon, Jun 18, 2018 at 6:39 AM, Karol Sobczak <notifications@github.com>
wrote:

--
З повагою, Андрій Роса
andriyrosa@gmail.com
+38 (097) 968 82 26
+1 (617) 858 7337

[2018-06-18 11:59] kokosing commented on #10828
[code]

[2018-06-18 12:04] sopel39 commented on #10828
[code]

[2018-06-18 19:05] sj860908 commented on #7947
This problem is making us to kept our version at 0.170.

Any updates on the fix?

[2018-06-18 19:43] mbasmanova commented on #10812
@findepi Piotr, I'm still seeing these failures. Do you have more fixes in the pipeline? :-)

[2018-06-18 20:08] dain commented on #10828
[code]

[2018-06-18 22:50] nezihyigitbasi commented on #7947
@sj860908 Did you try Presto 0.203+? The optimized Parquet reader has several fixes for proper complex type handling.

[2018-06-19 00:35] nakhanha opened #10862 "TextInputFormat error: Compression codec com.hadoop.compression.lzo.LzoCodec not found"
[code]

[2018-06-19 05:57] kokosing commented on #10862
Can you please provide more information? What version of Presto did you use? Can you post DDL of table that you used?

[2018-06-19 05:59] nakhanha commented on #10862
Presto version 0.174
What doeS DDL mean?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Grzegorz Kokosiński <notifications@github.com>
Sent: Monday, June 18, 2018 10:57:35 PM
To: prestodb/presto
Cc: Nasrulla Khan Haris; Author
Subject: Re: [prestodb/presto] TextInputFormat error (#10862)

Can you please provide more information? What version of Presto did you us

[2018-06-19 06:04] kokosing commented on #10862
I mean `CREATE TABLE` that was used to create the table you use. You can use `SHOW CREATE TABLE` command in Hive and in Presto.

Regarding DDL, please see https://en.wikipedia.org/wiki/Data_definition_language.

[2018-06-19 06:06] nakhanha commented on #10862
"DROP TABLE IF EXISTS PrestoHiveSampleTable; CREATE TABLE PrestoHiveSampleTable (ClientId string,QueryTime string,Market string,DevicePlatform string,DeviceMake string,DeviceModel string,State string,Country string,QueryDwellTime double,SessionId bigint,SessionPageViewOrder bigint) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t'; LOAD DATA LOCAL INPATH '/usr/lib/examples/hive/HiveSampleData.txt' OV

[2018-06-19 06:12] kokosing commented on #10862
Can you post whole stack trace that you are receiving.

PS. if you reply with email please remove the conversation history from the message as it is posted as github.

[2018-06-19 06:15] nakhanha commented on #10862
sudo presto --debug --schema default --execute 'select count(*) from PrestoHiveSampleTable'
Query 20180619_061445_00005_vf96m failed: Unable to create input format org.apache.hadoop.mapred.TextInputFormat
com.facebook.presto.spi.PrestoException: Unable to create input format org.apache.hadoop.mapred.TextInputFormat
        at com.facebook.presto.hive.HiveSplitSource.propagatePrestoException(HiveSp

[2018-06-19 06:21] kokosing commented on #10862
What do you have in `hive.properties`?

[2018-06-19 06:53] nakhanha commented on #10862
connector.name=hive-hadoop2
hive.metastore.uri=thrift://hn0-nkhhad. net:9083,thrift://hn1-nkhhad.net:9083
hive.config.resources=/etc/hadoop/conf/hdfs-site.xml,/etc/hadoop/conf/core-site.xml

From: Grzegorz Kokosiński <notifications@github.com>
Sent: Monday, June 18, 2018 11:22 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: Nasrulla Khan Haris <Nasrulla.Khan@microsoft.com>; Author <author@n

[2018-06-19 07:05] kokosing commented on #10862
Either in hive.config.resources=/etc/hadoop/conf/hdfs-site.xml or /etc/hadoop/conf/core-site.xml
you have `io.compression.codecs` configured to use lzo (`com.hadoop.compression.lzo.LzoCodec`) compression which seems to be not available in Presto.

Either change the configuration or define other (supported by Presto) compression for this table explicitly.

[2018-06-19 14:53] findepi commented on #10812
@mbasmanova oh, i just found some lost commits https://github.com/prestodb/presto/pull/10866 & https://github.com/prestodb/presto/pull/10865

[2018-06-19 15:13] daigexuyu commented on #6262
@ujjwal009 I also meet this problem in presto 0.180 with some queries, Have you solved this problem?

[2018-06-19 18:47] electrum opened #10867 "Add limit on maximum stages for a query"
We should add a `query.max-stages` config property that is similar to `query.max-length` (max query text length) as a sanity check against queries that are unlikely to succeed (they will fail in weird ways or not render in the UI). These massive queries are usually generated as a list of `UNION ALL`, often as the result of users not being aware of `GROUPING SETS` (or `CUBE` / `ROLLUP`).

I'm not s

[2018-06-20 01:11] mbasmanova commented on #10812
@findepi Thank you, Piotr. I got green tests on https://github.com/prestodb/presto/pull/10731

[2018-06-20 01:20] caithagoras commented on #10828
General
------
* Fix parsing of row type signatures with spaces and types containing spaces.

[2018-06-20 02:03] codope commented on #10867
@electrum This would be a good-to-have property. However, I have one thought. Users may set phased execution policy (say for some unweildy long running join queries). In that case, is 100 a safe max stages value? Should we have different values for different execution polilcies?

[2018-06-20 02:15] codope commented on #10867
Never mind. I misunderstood the property. I thought it was the max limit that we are going to set. After all, it's a cofigurable property so users can increase/decrease as per their requirements.

[2018-06-20 04:32] cnuss commented on #10867
I think it would be handy to have these be configurable at the resource group level.

[2018-06-20 04:44] nakhanha commented on #10862
Yes my  /etc/hadoop/conf/core-site.xml has com.hadoop.compression.lzo.LzoCodec. I added
hadoop-lzo-0.6.0.2.6.3.2-14.jar
hadoop-lzo-0.6.0.2.6.3.2-14-javadoc.jar
hadoop-lzo-0.6.0.2.6.3.2-14-sources.jar to hive presto-server-0.174/plugin/hive-hadoop2/ folder. I still see that Exception. Is there something I am missing ?

[2018-06-20 07:13] findepi commented on #10812
@mbasmanova i am glad to hear that, but this might still be incidental. I've seen a red build even with https://github.com/prestodb/presto/pull/10866.
(Timeout after 80 minutes, even though the next run took only 40 minutes)

[2018-06-20 08:00] sopel39 commented on #6384
We could do this slightly differently.
Currently correlated subqueries with equi-conditions are rewritten to (more or less):
[code]
we could translate that into (after CBO reorder joins):
[code]
This shouldn't introduce any perf regression

FYI: @mbasmanova

[2018-06-20 09:07] findepi commented on #9769
Note: https://github.com/prestodb/presto/pull/9848 was merged and later reverted in https://github.com/prestodb/presto/pull/10485

[2018-06-20 09:16] findepi commented on #8028
Let me close this, as some things has changed around type resolution in the meantime. Please file new issue if problem persists.

[2018-06-20 09:16] #8028 closed

[2018-06-20 12:48] myFree commented on #1195
Building master locally; 205-SNAPSHOT runs queries generated from Anorm; which up to 204 error-ed on prepared statements.

[2018-06-20 14:07] javainthinking opened #10875 "Improve ST_ExteriorRing geospatial function error message"
select ST_asText(ST_ExteriorRing(ST_GeometryFromText('MULTIPOLYGON (((0 0, 4 0, 4 4, 0 4, 0 0), (1 1, 2 1, 2 2, 1 2, 1 1)), ((-1 -1, -1 -2, -2 -2, -2 -1, -1 -1)))')));

message: QueryError{message=com.esri.core.geometry.ogc.OGCMultiPolygon cannot be cast to com.esri.core.geometry.ogc.OGCPolygon, sqlState=null, errorCode=65536, errorName=GENERIC_INTERNAL_ERROR, errorType=INTERNAL_ERROR, errorLocati

[2018-06-20 15:21] jwass commented on #10875
See #10876

[code]

@mbasmanova

[2018-06-20 15:24] jwass opened #10877 "Enable Bing Tile functions for zoom level 0"
Currently bing tile functions require zoom levels > 0.

[code]

Are there any objections to enabling zoom level 0 functions? One part of this would be that empty quadkey strings, which are currently forbidden, would be allowed and represent the one tile at zoom 0.

@mbasmanova

[2018-06-20 15:53] daigexuyu commented on #10735
do you have the server.log about the problem? Your error stack is from the presto-cli, but we may find the root cause easier from server side.

[2018-06-20 16:11] #10875 closed

[2018-06-20 16:12] mbasmanova commented on #10877
@jwass What is this useful?

[2018-06-20 16:42] jwass commented on #10877
One way I wanted to use it is that `geometry_to_bing_tiles` will fail for geometries that go beyond the tile bounds (latitude +/- 85.05...) which I think is the right behavior. To guarantee a geometry can be tiled, I wanted to bootstrap it with `ST_Intersection(geometry, bing_tile_polygon(bing_tile(0,0,0)))` which will clip it to the valid tiling area... that might be useful for other things as we

[2018-06-20 18:35] #10862 closed

[2018-06-20 20:33] #8171 closed

[2018-06-20 21:43] findepi commented on #7989
Yes, as long we cache the analysis / initial query plan, not the final plan.
The final plan may easily depend on particular values (e.g. predicate pushdown, or `LIKE ?` being translated to `=` for some parameter values)

[2018-06-21 02:09] nezihyigitbasi commented on #10828
[code]

[2018-06-21 06:57] imperio-wxm opened #10884 "The node may have crashed or be under too much load"
presto version: 0.149

- jvm.properties
[code]

- config.properties
[code]

Select hive table and failed.
I check server.log which no failed node like this:

[code]

[2018-06-21 07:46] findepi commented on #10884
@imperio-wxm `0.149` was released 2 years ago. Please do upgrade & create new issue if you still experience any problems.

[2018-06-21 07:46] #10884 closed

[2018-06-21 08:05] fangzheng opened #10887 "VariableWidthBlockEncoding#readBlock() fails to read the last element of offsets array"
The `VariableWidthBlock` class has an `offsets` array of size `(positionCounts + 1)`. For `p` in `[0, positionCount-1]`, `offsets[p]` is the starting offset of the first slice, and `offsets[positionCount]` (the last one) is the ending offset of the last slice.

There is a bug with decoding this `offsets` array: **`VariableWidthBlockEncoding#readBlock()` only reads `offsets[0,…,positionCount-1]` an

[2018-06-21 08:16] sopel39 commented on #10828
@nezihyigitbasi Does the `query_max_total_memory ` config property specifies upper cap for session `query_max_total_memory ` (e.g: to eliminate rogue users)

[2018-06-21 09:02] xingnailu opened #10888 "why presto don't support implicit conversion from number to varchar ?"
my create table statement are:
CREATE TABLE `address`(
  `x` int,
  `y` int);

and when I query use :
    select * from address where x = '1'
I got an exception like
  com.facebook.presto.sql.analyzer.SemanticException: line 1:8: Cannot cast integer to char(1)
	at com.facebook.presto.sql.analyzer.ExpressionAnalyzer$Visitor.visitCast(ExpressionAnalyzer.java:944)
	at com.facebook.presto.sql.analyzer

[2018-06-21 09:35] findepi commented on #10888
@xingnailu just curious, what Presto version is this? Mine says `line 1:31: '=' cannot be applied to integer, varchar(1)` (`'a'` is currently considered a `varchar(1)` rather than `char(1)`).

If there was the implicit conversion `integer -> varchar`, the end result wouldn't be that nice anyway. Note that operations, including comparisons, on `varchar`s are slower than on numbers.

Of course, this

[2018-06-21 11:09] xingnailu commented on #10888
@findepi  I am glad to receive you replication.  And my presto version is 0.192.

[2018-06-21 11:15] xingnailu commented on #10888
@findepi I am glad to receive you replication. And my presto version is 0.192.   Can I  consider the reason that presto don't  implicit conversion integer to varchar is efficiency.   I think I will do this implicit conversion by myself.
thx

[2018-06-21 11:20] findepi commented on #10888
No, it's not.
I was just saying that, in case of your query, such an implicit conversion would be detrimental to performance.

[2018-06-21 17:34] nezihyigitbasi commented on #10828
@sopel39 Nope, they configure the same thing, one is a session property the other one is a static config.

[2018-06-21 17:38] atris opened #10890 "Test Issue -- Could not find Jarfile while running Unit Test"
I have setup Presto in IntelliJ and setup as per given instructions in README.md. I am trying to run a unit test, but I get "Could not find Jarfile while running Unit Test".

Please advise. I am on Mac OS.

[2018-06-21 17:43] nezihyigitbasi commented on #10828
## Dain Sundstrom
- [ ]  06-14 17:49:43    0bcb7d096c Skip static fields when testing block retained size
- [ ]  06-14 17:49:43    a209f26d2b Add position checks in RunLenghtEncodedBlock
- [ ]  06-14 17:49:43    e3f694041d Represent all-nulls with RLE block
- [ ]  06-19 10:28:39    027c1c557c Elide LongArrayBlock null array if all values non-null
- [ ]  06-19 10:28:39    25b8450b29 Elide ShortArra

[2018-06-21 17:44] jessesleeping commented on #10828
[code]

[2018-06-21 17:51] mbasmanova commented on #6384
@sopel39 @kokosing The plan for EXISTS query is different from the above. Is it still inefficient? BTW, do you know what's preventing optimizer from seeing that `EXISTS (SELECT orderkey from lineitem WHERE orderkey = o.orderkey)` is always true and dropping that filter altogether?
[code]

[2018-06-21 17:53] electrum commented on #10828
[code]

[2018-06-21 17:54] mbasmanova commented on #10828
[code]

[2018-06-21 17:59] rschlussel2 commented on #10828
[code]

[2018-06-21 18:51] rongrong opened #10892 "Add UDF split_to_multimap"
Similar to `split_to_map`, but return a `map<varchar, array<varchar>>`.

`split_to_multimap(string, entryDelimiter, keyValueDelimiter) → map<varchar, array<varchar>>`

[2018-06-21 19:04] findepi commented on #6384
I understand this is in context where `o` stands for `lineitem`, i.e.
`select count(*) from lineitem o where EXISTS (SELECT orderkey from lineitem WHERE orderkey = o.orderkey);`
?

There is a problem with semantics -- if `lineitem` is mentioned twice in the query, it is definitely the same table. But, is it the same _contents_? What if a connector, on every read independently, returns 1000 random

[2018-06-21 20:46] haozhun commented on #10828
[code]

[2018-06-21 21:28] findepi commented on #10890
Would you mind including full stacktrace (if there is any)?

Also, did you run full project build from command line before attempting to use run tests in Intellij?
You can do almost full build for development with:
[code]

[2018-06-21 21:32] findepi commented on #10828
@electrum what is partial cancellation?

[2018-06-22 02:05] #10480 closed

[2018-06-22 02:06] #10888 closed

[2018-06-22 05:04] martint commented on #10828
[code]

[2018-06-22 07:53] atris commented on #6944
I will work on this, JFYI, thanks

[2018-06-22 07:55] atris commented on #6384
I will work on this, thanks

[2018-06-22 08:38] sopel39 commented on #6384
Also usually correlated subqueries are querying different table or the same table but with additional predicates. The example here trivial for demonstration purposes and not something what happens in practice.

TPCH connector provides special properties for `lineitem.orderkey` column (`localProperties = ImmutableList.of(new SortingProperty<>(orderKeyColumn, SortOrder.ASC_NULLS_FIRST));`). I don't

[2018-06-22 09:46] kokosing commented on #6384
@findepi As I understand "de-duplication" is out of scope of this ticket.

@sopel39 You can have sorted tables in hive, but AFAIK Presto does not leverage that today.

[2018-06-22 10:13] atris commented on #10890
Thanks.

I tried the same and post that, opened the project in IntelliJ. While
setting the runnable class in test configuration, I get an error
(PrestoServer is not a test class).

What am I missing, please?

On Fri, Jun 22, 2018 at 2:59 AM Piotr Findeisen <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2018-06-22 10:16] kokosing commented on #10890
That is correct.

Make sure you are correctly following: https://github.com/prestodb/presto#running-presto-in-your-ide

To run an application (not a test) from Intellij please follow:
https://www.jetbrains.com/help/idea/running-applications.html

[2018-06-22 10:18] kokosing commented on #10890
PS: when you replying to an issue (or a PR) via mail, please remove the conversation history the message, because  it is unnecessarily posted on GitHub.

[2018-06-22 12:33] martint commented on #6384
If a table is referenced twice in the same query, it should return the same contents (similar to WITH queries). Unfortunately, this can’t always be guaranteed by our connectors. As you suggest above, at some point we should allow connectors to provide additional metadata indicating tables are “non-deterministic” or something similar.the engine can then choose to materialize the table at some stage

[2018-06-22 12:57] atris commented on #10890
Apologies, will take care.

I am not too familiar with the ways of JUnit and IntelliJ, so might be making beginner's mistakes here. I followed the instructions and set the rest of the settings in the test configuration (I created a new JUnit test profile and added the configs). I could not find a way of setting the main class so assumed that the "Class" parameter in the configuration is the main c

[2018-06-22 18:27] kokosing commented on #10890
You can, but I don't think anyone is doing that for other purposes than debugging the CLI.

Yes. You need to provide Presto server on your own manually.

[2018-06-22 18:53] atris commented on #10890
Thanks.

Could you Please advise on running the tests in intellij? For some reason,
it is not picking up the needed configuration itself and I am not sure how
to set it up myself

[2018-06-22 19:07] findepi commented on #10890
e.g

![image](https://user-images.githubusercontent.com/144328/41794617-2e3bd83e-7660-11e8-81da-cc374aea8bdf.png)

[2018-06-22 19:58] kokosing commented on #10890
Make sure you have testng plugin installed.

[2018-06-22 21:28] findepi commented on #6384
@kokosing yeah, it's not. The topic was brought up here in response to @mbasmanova's:

[2018-06-22 21:40] sopel39 commented on #6384
I think the fact that such query just doesn't occur in practice, like uncorrelated exists

[2018-06-22 22:05] haozhun commented on #3568
Fixed in #10392 by @elonazoulay

[2018-06-22 22:05] #3568 closed

[2018-06-23 06:01] yonillasky opened #10900 "JOIN ON t1.k IS NOT DISTINCT FROM t2.k does not translate to an equi-join"
The following query:
[code]
generates a plan that has a CrossJoin operator in it.

Whereas, the query:
[code]
doesn't do a CrossJoin, despite being semantically near-identical.
I would greatly prefer to use the form `IS NOT DISTINCT FROM`, because then I don't have to come up with safe "junk values" that are known not to appear in the data, like '@$!(' here.
I really don't see why Presto converts

[2018-06-23 08:47] findepi commented on #10900
The Join operator uses equality comparison (because this is how 99% of joins are expressed) and, as you observed, it's "near identical" to `IS NOT DISTINCT FROM`, so the two cannot be used interchangeably.

Implementation-wise I see two possible approaches here:
- (easier) rewrite `Join on x IS NOT DISTINCT FROM y`  to `Join on coalesce(x, dummy) = coalesce(y dummy) and x IS NOT DISTINCT FROM y`
-

[2018-06-23 16:04] findepi commented on #10900
@yonillasky sure, i see your point.

Just note -- if you generate those queries, you can actually solve / work around this very easily. Just do `Join on coalesce(x, dummy) = coalesce(y dummy) and x IS NOT DISTINCT FROM y` where `dummy` is arbitrary value (_can be present_ in the table, just pick something that is not very common. E.g. for an integer, 413 rather than 0). This should cause Presto us

[2018-06-23 17:56] yonillasky commented on #10900
Yes, that's what I did, however the code to support dummy values for arbitrary types was not entirely trivial:
[code]
and what I ended up doing is to put coalesce(t1.x, dummy) = coalesce(t2.x, dummy) in the join, and also generate a WHERE clause and check that t1.x IS NOT DISTINCT FROM t2.x

It did work out in the end. With that said, it's still somewhat odd that Hive/Spark support this type of eq

[2018-06-24 16:15] findepi commented on #10078
I am updating https://github.com/prestodb/presto/pull/10128 to cover product tests too (switching them to `America/Bahia_Banderas`).
Once we don't use Kathmandu zone for JVM zone any more, i think we could use it for default session zone (`TestingSession`). I previously proposed Vilnius zone for this, but I forgot why I did so :)

[2018-06-25 03:13] wongjingping commented on #10590
I'm getting the exact same set of errors on mac OS X 10.13.5.
A [PR](https://github.com/prestodb/presto/commit/fa5b91a298cc61a37701e5f35539f9a6bfd112dc) was merged with the stated fix.
Building the latest code for presto-cli (presto-main 0.205) with the dependency fix in [pom.xml](https://github.com/prestodb/presto/blob/master/pom.xml) resolved it.

[2018-06-25 04:57] elonazoulay opened #10901 "Add resource group to runtime.queries system table"
This is related to issue #4310

[2018-06-25 05:18] kokosing commented on #10590
It is solved in 0.205.

[2018-06-25 05:18] #10590 closed

[2018-06-25 05:44] ideal-hp commented on #10590
good!

[2018-06-25 06:31] alexfeng2017 opened #10903 "SQL Server Connector Config doc update request"
When creating catalog file for SQL Server database using SQL Server Connector, it's suggested to add database name to catalog file, otherwise it always connects to login user's default database; and there is no way to switch database after connected to catalog as SQL uses [server].[database].[schema].[table] 4 part naming which is not supported by Presto.

[code]

You may consider updating the doc

[2018-06-25 08:59] atris commented on #10890
@kokosing @findepi Thanks, that got the tests working. However, to start the Presto server, do I need to create another configuration that will have PrestoServer as the main class? I could not find the default location of the bin scripts when doing mvnw install, so not sure how to fire up the server to connect the cli to

[2018-06-25 09:46] findepi commented on #10890
In Intellij create `Application` run configuration
- main class `com.facebook.presto.server.PrestoServer`
- VM options `-ea -Xmx1g -Dconfig=etc/config.properties -Dlog.levels.file=etc/log.properties -DHADOOP_USER_NAME=hive`
- working directory `$MODULE_DIR$`
- use classpath of module `presto-main`

[2018-06-25 09:50] findepi commented on #10901
Closing, let's keep discussion in https://github.com/prestodb/presto/pull/10902 only.

[2018-06-25 09:50] #10901 closed

[2018-06-25 11:18] findepi commented on #10900
@sopel39 observed that `coalesce(t1.x, dummy) = coalesce(t2.x, dummy)`-based approach isn't correct for floating point NaN.

[2018-06-25 12:14] mnmami opened #10905 "Support CSV storage format in Hive connector"
I needed to query a CSV file stored in HDFS. The only option seemed to use the TEXTFILE format of Hive connector. I went like that:
`CREATE TABLE hive.default.person (nr INT, country VARCHAR, mbox_sha1sum VARCHAR, name VARCHAR, publishDate DATE, publisher INT) with (format = 'textfile', external_location = 'hdfs://host:54310/person.csv');`

The command looked like worked, but when I  `SELECT * FRO

[2018-06-25 12:55] atris commented on #10890
Thanks, that worked. Thank you so much for the detailed resolution and walkthrough.

[2018-06-25 12:55] #10890 closed

[2018-06-25 13:44] findepi commented on #10905
For this you would need to define record and field delimiter or, in fact, use a CSV serde (`org.apache.hadoop.hive.serde2.OpenCSVSerde). It's currently not possible to express this when creating a table in Presto. You can create the table in Hive (make sure you can query it), and then you should be able to query it from Presto as well

[2018-06-25 14:43] mbasmanova commented on #6384
@kokosing The query in the description is not practical. Is there another query that illustrates the problem and can be used to evaluate potential solutions?

[2018-06-25 14:54] arhimondr commented on #10828
[code]

[2018-06-25 17:55] haozhun commented on #5278
Fixed by #6429.

[2018-06-25 17:55] #5278 closed

[2018-06-25 17:57] haozhun commented on #10900
This is a duplicate of #6461 (and transitively #4075).

[2018-06-25 19:57] findepi commented on #10900
The only workaround I found turned out not to be correct (because there of NaNs, i.e. a non-NULL value that isn't equal to self).

Of course, this is "easily" fixable when generating a query, one just needs to generate `.x` in `coalesce(t1.x, dummy) = coalesce(t2.x, dummy)` into `CASE` replacing `NaN` with dummy.

I think workarond space is about exhausted, so i will close this in favor of https:/

[2018-06-25 19:57] #10900 closed

[2018-06-25 20:14] haozhun commented on #10900
There is another potential workaround. "FULL OUTER JOIN"s can be written as "GROUP BY"s in some cases. I've met people who favor using GROUP BY for join when implementing SQL frameworks (due to its guarantee of not exploding rows in the presence of duplicate join keys due to data quality issues). Presto has fixed GROUP BY (#3568, since 0.201) recently to give it NOT DISTINCT FROM semantics.

[code

[2018-06-26 05:00] atris commented on #10216
I think a Semijoin would (mostly) beat a join every time, so the optimiser should try to rewrite an EXISTS query to Semijoin as a heuristic rather than a cost based decision.

@sopel39 Can you please help me in understanding the cases where a broadcast would be better than a semi join? I am trying to wrap my head around all cases where this can fail, so that we can ensure that we don't barf out on

[2018-06-26 05:54] kokosing commented on #6384
@mbasmanova I think I started with:
[code]

IIRC then I might I realize that `orders` was somohow to small, so I changed it to `lineitem`.  The thing that probe and build side scans the same table is irrelevant for this issue.

[2018-06-26 06:07] jiteshv opened #10911 "Hive metadata for table <TableName> is invalid: Table descriptor contains duplicate columns"

[2018-06-26 06:54] kokosing commented on #10911
Can share the `SHOW CREATE TABLE` output for this table from Hive?

[2018-06-26 07:05] jiteshv commented on #10911
Hi Grzegorz,

Thank you for your time.

Please find the details as under:

[cid:image001.png@01D40D5F.0C8A6E40]

Thanks,
Jit
T&O-TS-Mgmt EPC & Soln Svcs
DBS Bank Ltd
Mobile: (65) 90670580
Email: jitesh@dbs.com<mailto:jitesh@dbs.com>

Live More , Bank Less

From: Grzegorz Kokosiński <notifications@github.com>
Sent: Tuesday, 26 June 2018 2:55 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: Ji

[2018-06-26 07:52] kokosing commented on #10911
I am very sorry but I do not see anything except `[cid:image001.png@01D40D5F.0C8A6E40]`.
Can you please copy the text instead of using images?

[2018-06-26 07:57] findepi commented on #10216
@atris why a sem-join is better than a join?

[2018-06-26 08:12] atris commented on #10216
@findepi I specifically meant the EXISTS clause mentioned above, not as a generic rule (apologies, should have been move verbose).

My specific question was to understand if @sopel39 has any cases in mind where an EXISTS with single equality clause rewritten with a Semi Join would perform worse than a join + aggregation. My idea was to make the EXISTS rewrite to Semi Join as a generic rewrite rule

[2018-06-26 08:18] jiteshv commented on #10911
Is there any site where I can upload the text?

Thanks,
Jit
T&O-TS-Mgmt EPC & Soln Svcs
DBS Bank Ltd
Mobile: (65) 90670580
Email: jitesh@dbs.com<mailto:jitesh@dbs.com>

Live More , Bank Less

From: Grzegorz Kokosiński <notifications@github.com>
Sent: Tuesday, 26 June 2018 3:53 PM
To: prestodb/presto <presto@noreply.github.com>
Cc: Jitesh VINODRAY VAISHNAV <jitesh@dbs.com>; Author <author@noreply.g

[2018-06-26 08:20] kokosing commented on #10911
You can use https://gist.github.com/ for example.

[2018-06-26 09:15] sopel39 commented on #10216
@atris There are few reasons why rewrite to semi join early is not a good decision:
* semi joins cannot be reordered or it's sides flipped.
* partial aggregation below inner join can be beneficial as it might deduplicate rows in source stage.

Because of that I think that https://github.com/prestodb/presto/issues/6384#issuecomment-398660235 is a better rewrite.

[2018-06-26 09:32] findepi commented on #10216
Good observation. For semi-join we currently don't deduplicate the build side before sending data over the wire. We could have partial aggregation before exchange for that. As usually with partial aggregation, it should be made adaptive, as its effectiveness will heavily depend on attributes of the data.

[2018-06-26 10:09] atris commented on #10216
@sopel39 Thanks, I see your point. I will work on 6384 then
@findepi Thanks for elaborating, thats a good point. Do we have a ticket for adding that functionality in partial aggregation?

[2018-06-26 10:29] kokosing commented on #10216
https://github.com/prestodb/presto/issues/10305

[2018-06-26 11:16] mnmami commented on #10905
Any luck this gets enabled from within Presto? I would like to use Presto to query a 'data lake', so incorporating tweaking or touching individual systems is not appropriate.

[2018-06-26 12:38] findepi commented on #10905
I am not aware of anyone's roadmap containing this, but you can try to implement it yourself (depending on how comfortable you are with this). Have a look into `HiveStorageFormat` class, how JSON serde is handled. If you are able to modify the source & make a custom Presto build, you may be able to get it to work & make a PR.

[2018-06-26 13:38] hemantvsn opened #10917 "Not all attributes of Mongo Collection are reflected in Presto"
I'm using PRESTO 0.198 and it connects to underlying Mongo database.
I found that some attributes/columns of Mongo collection are not reflected in Presto

Main collection record
`
db.vessel_port_visits.findOne({fleetId : "59ca77facaee7c2ccbd281a5"})
{
	"_id" : ObjectId("5b16b5279e7964763270f818"),
	"number" : "9456135",
	"exitTimeMillis" : 1326276054000,
	"entryTimeMillis" : 1325980799000,
	"group

[2018-06-26 13:40] hemantvsn opened #10918 "Presto Schema not including all the columns of Mongo collection"
I'm using PRESTO 0.198 and it connects to underlying Mongo database.
I found that some attributes/columns of Mongo collection are not reflected in Presto

Main collection record

db.vessel_port_visits.findOne({fleetId : "59ca77facaee7c2ccbd281a5"})
{
	"_id" : ObjectId("5b16b5279e7964763270f818"),
	"number" : "9456135",
	"exitTimeMillis" : 1326276054000,
	"entryTimeMillis" : 1325980799000,
	"groupI

[2018-06-26 16:30] findepi commented on #10917
Let me close this in favor of https://github.com/prestodb/presto/issues/10918

[2018-06-26 16:30] #10917 closed

[2018-06-26 17:26] raghavsethi opened #10919 "Add config property (not session property) to add execution time, and CPU time limits"
This would function exactly like the `query_max_cpu_time` and `query_max_execution_time` session properties, but would be set in cluster configuration.

QueryManagerConfig is probably the right class to put these properties into.

[2018-06-26 18:49] mbasmanova commented on #10877
@jwass `bing_tile(0,0,0)` should be fine, but I'm not sure it is a good idea to interpret empty string as a quadkey for z0 tile.

[2018-06-26 20:29] raghavsethi commented on #10919
I'll assign it to myself but you can take that to mean that its yours to work on.

[2018-06-26 20:39] sindhugudivada commented on #10919
Is this the right place to get started ? https://prestodb.io/presto-admin/docs/current/contributing.html

[2018-06-26 20:42] raghavsethi commented on #10919
Oh no, that's for presto-admin, not presto. You probably just want our primary README.md

[2018-06-26 23:11] dletendre commented on #8005
what properties did you set? i assume you edited /etc/presto/conf/config.properities on the EMR master?

[2018-06-27 01:47] querybs opened #10922 "Is presto support query hive table with 'transactional' , 'bucket' ,'partition' ?"
My hive version 1.2.1.
Presto Version 0.200.
create   hive table :
create    table db_robot.t_test_log(
  create_time string,
  log_id string,
  log_type string)
 partitioned by (data_day string)
 clustered by (log_id) into 2 buckets
  ROW FORMAT DELIMITED  FIELDS TERMINATED BY '\001'  LINES TERMINATED BY '\n'
stored as orc
tblproperties ('transactional'='true');
alter table db_robot.t_test_log ad

[2018-06-27 09:39] jackyfreezer007 opened #10925 "select * from xxxxx limit 300000 splits blocked"
sql
[code]
the table tmp.test has more then 80000000 lines

the query hang up
![snip20180627_28](https://user-images.githubusercontent.com/19622812/41966101-ddf15dac-7a30-11e8-82e6-08346411a89e.png)

[2018-06-27 09:59] dain commented on #10925
There is 32.1 MB of data in the output buffer.  The client should be reading data from this buffer to free up space.

[2018-06-27 10:41] RameshByndoor commented on #8980
Hi,
I could add a plugin to presto with Ranger(Registered presto as new ranger service with catalog->schema->table->column as resources) and all those methods implemented from SystemAccessControl  working fine.
I would need to refractor and would like to bring it to here.

Need some help with addressing column level security:
Does com.facebook.presto.sql.analyzer.StatementAnalyzer has any placehol

[2018-06-27 11:49] codope commented on #10919
@raghavsethi I am assuming query_max_run_time will still be a session property because it includes the queueing time as well.
@sindhugudivada Have you started working on this issue?

[2018-06-27 11:54] atris commented on #6384
@kokosing @findepi @sopel39 I am starting to work on this, and wanted to understand the approach that I need to take to implement the feature:

1) Support for multiple columns in Semijoin -- Is that already being done in #6385 ?

2) Per @sopel39 's comment above, the idea is to have correlated subqueries with equi-predicates as Semijoins and not Join + Agg. So the rule is not limited to just EXIST

[2018-06-27 12:10] findepi commented on #6384
i think @arhimondr is working on this.

[2018-06-27 13:57] sindhugudivada commented on #10919
@raghavsethi  I m looking into it. I will get back with questions if any.

[2018-06-27 14:24] atris commented on #6384
@findepi Should I pick this up after #6385 is done, then? Having multiple columns support in SemiJoin is a prerequisite for this.

[2018-06-27 18:06] nezihyigitbasi opened #10928 "Release notes for 0.206"
Issue to track release notes for next release.

[2018-06-27 18:23] atris opened #10929 "Implement Spill to Disk for window functions"
I wanted to check the status of spill-to-disk feature for window aggregates and if there is any interest in getting the feature for Presto.
Is there any near future plans for implementing this?

[2018-06-27 19:28] findepi commented on #10928
[code]

https://github.com/prestodb/presto/pull/10857

[2018-06-27 19:33] findepi commented on #10928
[code]

https://github.com/prestodb/presto/pull/10193

[2018-06-27 19:36] kokosing commented on #10929
What a nice coincidence, we talked about it today. There are no concrete plans for this that I would be aware of, but surely we are interested in it.

[2018-06-27 19:37] atris commented on #10929
@kokosing I would be happy to fire up a proposal for this. Can you point me to the existing implementation for joins and aggregates?

[2018-06-27 19:42] kokosing commented on #6384
I think you don't need to wait, you can add a rewrite to semi join on single column. Once #6385 got done we could extend it.

[2018-06-27 19:45] kokosing commented on #10929
You can start by looking at the usages of `com.facebook.presto.spiller.SpillerFactory`. Also see this:
 - https://github.com/prestodb/presto/issues/5144
 - https://github.com/prestodb/presto/issues/5897

[2018-06-27 19:47] findepi commented on #8304
@nezihyigitbasi with system memory being merged with user memory, is there a point in keeping this issue around?

[2018-06-27 19:48] findepi commented on #10929
And also https://github.com/prestodb/presto/pull/8946

[2018-06-27 19:49] findepi commented on #6729
i think this one is obsolete.

[2018-06-27 19:49] #6729 closed

[2018-06-27 19:50] #6432 closed

[2018-06-28 01:29] rongrong commented on #8151
What should be the correct behavior to `unnest(array[row(1, 2), null, row(3, 4)])`?

[2018-06-28 06:04] kokosing commented on #8980
What about using `https://github.com/prestodb/presto/blob/master/presto-spi/src/main/java/com/facebook/presto/spi/security/SystemAccessControl.java#L221`

[2018-06-28 11:15] zxcvbnmasdfghjklqwerty opened #10937 "Presto can read my catalogs but not my schemas within it."
I am unable to do any query on Mysql databse using presto-mysql connector.
[code]
Here is the error:

[code]

[2018-06-28 12:31] sopel39 commented on #6384
@atris

The idea is to rewrite `Join + Agg` into `SemiJoin + Partial aggregation` as in: https://github.com/prestodb/presto/issues/6384#issuecomment-398660235

[2018-06-28 13:23] yaxxie opened #10939 "Version 0.204 protocol not replayed in UI when behind load balancer"
We have an SSL terminating load balancer in front of the presto co-ordinator. While a recent PR fixed the issue of the `nextUri` field in API responses not respecting the incoming protocol, the ui now has the same issue, i.e. it replays HTTP URIs rather than HTTPs URIs.

[2018-06-28 16:51] shreyasjoshis opened #10941 "ArrayIndexOutOfBounds error when struct is missing fields present in Hive table schema"
## Summary

Lets say we have an ORC backed Hive table with a column like: `struct <a:string>` that evolves to add another field to become `struct <a:string, b:string>`. In this case the ORC files written with the old schema are no longer readable. Presto fails with the following error:

[code]

Instead, Presto should set the fields missing from the struct (In this case `b`) to null. I will be subm

[2018-06-28 16:53] nezihyigitbasi commented on #8304
@findepi I don't think so.

[2018-06-28 17:12] zxcvbnmasdfghjklqwerty opened #10942 "Presto can access catalogs but fails to access schemas and tables from MySQL"
I have created a database in MySQL that I want to access from presto
[code]

Now while quering this table or its schema from Presto Cli, I get the folowing error:
[code]
Whereas if I try to the same for the catalogs, it works fine:
[code]
This only happens for MySQL, if I access some other catalog, it works fine.

[2018-06-28 17:43] #10892 closed

[2018-06-28 21:22] #6460 closed

[2018-06-28 23:05] mbasmanova commented on #10928
[code]

[2018-06-29 01:13] sm186011 opened #10944 "Writing to Hive table with ORC Bloom filter table-level properties creates ORC files without a bloom filter"
Hi, I have two external tables, one with empty ORC table and other with CSV files, both tables pointing to s3 location.  I added table properties with bloom filter columns to orc table.

After this, I did an insert-select to load the data from csv table to orc table.  I got the ORC files . After this I checked the ORC files using hive --orcdumptool . I didn't find any bloomfilter keyword in the ou

[2018-06-29 06:59] deanet commented on #8005
@dletendre
yup, that's right.

for slave/worker:

[code]

for master/node:
[code]

[2018-06-29 07:38] kokosing opened #10947 "FileBasedSystemAccessControl do not fail when parsing unknown rules"
`FileBasedSystemAccessControl` parses the file like:
[code]

Above file syntax is not supported, however parser do fail. Instead it returns an empty list of rules, which could be misleading for users.

[2018-06-29 09:27] xumingming opened #10949 "Misleading variable name: hasOrderBy"
I was reading the presto code, find that the following `hasOrderBy` seems misleading, a correct name should be `notHasOrderBy`?
https://github.com/prestodb/presto/blob/c50646eb3b56d0bca1bab5e3a06f23d5a551343b/presto-main/src/main/java/com/facebook/presto/sql/planner/plan/AggregationNode.java#L73-L76

[2018-06-29 10:11] kokosing commented on #10949
The name is correct, it should rather `anyMatch` instead of `noneMatch` at the end. Can you post a PR with fix for that?

[2018-06-29 15:32] xumingming commented on #10949
sure

[2018-06-29 15:34] jwass commented on #10877
I agree. Everything would almost just work, we'd just have to change the `> 0`  check on zoom levels to `>= 0`.

We'd have to have a special case to deal for quadkey at zoom 0 and I don't know of a good solution. Some users may be interpreting zoom level from the quad key length and a special case may cause some surprising behavior. Not sure.

[2018-06-29 16:14] apatnaik14 opened #10951 "postgres connector for prestodb not recognizing UUIDs"
Hi Team,

My underlying database is that of postgres and a majority of my primary keys are UUIDs. When I access my database from my presto setup, I am unable to see the UUID columns in the describe or perform joins or queries on them.

I feel this is a known issue and I am sorry for raising a duplicate ticket if already one exists. I was hoping to see if this is something that will be added to the

[2018-06-29 20:30] electrum opened #10953 "Hive $partitions table does not translate null partitions"
The `$partitions` table returns `__DEFAULT_PARTITION__` for null partitions rather than translating it into a SQL null (as happens when you query the underlying table).

[2018-06-29 21:11] RameshByndoor commented on #8980
Thanks @kokosing. that helps. My bad I was checking with v201.
Need a clarification on `Set<String> columnNames` passed to `checkCanSelectFromColumns` method.
For the below query, I'm expecting `object_name` alone in `columnNames`. but as of now it's `object_name_alias` and `object_name`. Can this be filtered with the help of metadata in `AccessControlManager` before making call.
[code]
https://gi

[2018-06-30 00:51] jBugReport opened #10954 "Adding a session property containing comma breaks the client"
Error message:
[code]
To reproduce this problem you can run:
`set session A_SESSION_PROP='a,b';`
No more command will be run after this point.

It happens only when suggested session variable value contains comma (`,`).
This causes client to not execute any more command. Even you cannot not execute `RESET SESSION` command and you have to close the client and start again.

[2018-06-30 23:00] CCInCharge commented on #10650
I'll look into this if no one else has yet.

[2018-07-01 18:19] electrum opened #10955 "Document client tags for resource groups"

[2018-07-02 03:48] xumingming commented on #10949
hi @kokosing, after a second thought I still think the logic seems right, the variable name is wrong, especially from the error message:

https://github.com/prestodb/presto/blob/c50646eb3b56d0bca1bab5e3a06f23d5a551343b/presto-main/src/main/java/com/facebook/presto/sql/planner/plan/AggregationNode.java#L77

The message "ORDER BY does not support distributed aggregation" will pop up when:

[code]
So

[2018-07-02 04:36] cskbhatt commented on #10301
Hello,
We are facing similar  issue when running presto queries on hive ORC (transactional tables)
Environment - AWS EMR - 5.13.0
Hive Version - Hive 2.3.2-amzn-2
Presto Version - 0.194
Error : Hive table 'presto-orc-test' is corrupt. Found sub-directory in bucket directory for partition:

Should we wait for the newer version of presto or is there any workaround to resolve the issue?

Any help wou

[2018-07-02 05:55] kokosing commented on #10949
You are right

[2018-07-02 06:01] kokosing commented on #8980
To me it sounds like a bug?

CC: @rschlussel2 Is this expected?

[2018-07-02 07:21] antw12 opened #10957 "Mismatched Domain types: varchar(30) vs varchar"
[code]

### Query used

[code]

### Used in conjunction with
 https://github.com/databricks/benchmarks/tree/master/tpc-ds-2.4/emr-presto

This is using the test data from https://github.com/databricks/benchmarks

Presto verison `presto-server-0.205`

[2018-07-02 08:03] kokosing commented on #10949
Fixed

[2018-07-02 08:03] #10949 closed

[2018-07-02 18:24] dabdine-r7 commented on #9118
Hello. I am seeing identical behavior to the reporter as well. Are there any suggestions to counteract the table scan? Is this expected?

[2018-07-02 19:03] rabinnh commented on #10301
You don't really provide a lot of detail about your structure other than the error message.  I would suggest posting to the mailing list with more detail.

Our issue was that we defined our tables with CLUSTERED BY.  Hive only creates the files that it needs, while Presto expects the number of files to exactly match the number of buckets specified.  Your issue (from what I can gather) is that you

[2018-07-03 01:43] mbasmanova opened #10963 "explain (type distributed) doesn't show cost of a join"
I'm see that `explain` shows cost for a join, but `explain (type dsitributed)` does not. Why is that?

* `explain select * from nation n, region r where n.regionkey = r.regionkey;`

[code]

* `explain (type distributed) select * from nation n, region r where n.regionkey = r.regionkey;`

[code]

CC: @findepi @sopel39 @arhimondr @rschlussel2

[2018-07-03 08:15] sopel39 commented on #10963
This is due to the fact that each fragment is printed individually. `RemoteSource` nodes don't have child themselves, therefore stats for them cannot be derived (same for `EXPLAIN ANALYZE`).
Overall printing stats in explain is rather problematic because those are not the same stats that were used to perform join enumeration. This is the reason why we have a separate `VERBOSE` mode join enumeratio

[2018-07-03 08:49] nihalbtq8 commented on #2863
This is still an issue currently.  Is there any alternative available?

[2018-07-03 10:36] udit0612 opened #10965 "In presto ldap authentication . The user still remains in the memory even after deleting it from openldap"
**I set the configuration of ldap in config.properties**
authentication.ldap.url=ldaps://openldap:636
authentication.ldap.user-bind-pattern=uid=${USER},ou=users,dc=abc,dc=com
authentication.ldap.user-base-dn=DC=abc,DC=com

**I also set the session timeout but its not working**
scheduler.http-client.connect-timeout=1m
scheduler.http-client.idle-timeout=1m
exchange.http-client.connect-timeout=1m
exc

[2018-07-03 12:21] mitxino77 opened #10968 "Colon symbol inside parquet columns cannot be queried"
Due to some legacy reasons, we have fields inside parquet files with the colon symbol in the column name "user:userId".

We manage to create tables with these columns but we cannot really query them later.
Is there any alternative we can come up with?

[code]

[2018-07-03 17:44] mbasmanova opened #10971 "Partial aggregation is missing when filter reduces the data to a single group"
The plan for the following query is missing partial aggregation making it so that aggregation happens very slowly on a single node. This looks like a regression caused by #10731

[code]

[2018-07-03 17:49] sindhugudivada commented on #10919
@raghavsethi  I will update you soon today.

[2018-07-03 18:25] mbasmanova commented on #10971
This is because `PushPartialAggregationThroughExchange` rule doesn't apply to streaming aggregations.

[2018-07-03 20:06] mbasmanova commented on #10971
CC @sopel39

[2018-07-03 21:57] alyssackwan commented on #8695
I'm putting together a PR for this. I'm thinking the functions should be named:

- approx_qdigest
- empty_approx_qdigest
- merge
- extract_percentile

Does that sound about right?

I'm unsure how to keep the Long, Double, and Real digests from accidentally being merged. Thoughts? I'm thinking of injecting a set of typed DigestAndPercentileState classes to ensure that type information is written.

[2018-07-03 22:33] #10761 closed

[2018-07-03 22:34] #9890 closed

[2018-07-04 00:04] mbasmanova commented on #10971
I'm seeing that `AddExchanges#visitAggregation` inserts a `RemoteExchange` under the `AggregationNode` to satisfy `partitioned_on(orderstatus)` property:

[code]

becomes

[code]

Then `AddLocalExchanges` sets `AggregationNode#preGroupedSymbols` to `{orderstatus}` based on `Constant(orderstatus)` stream property and `PushPartialAggregationThroughExchange` is skipped.

[2018-07-04 03:12] harbby opened #10975 "Add elasticsearch connector"
Add connector to elasticsearch.

It supports

Querying a elasticsearch table with full support of Kudu scanner predicates and elasticsearch partitionings/splits
Inserting.
For powerful pushdown capabilities, you can take advantage of elasticsearch search and presto computing power

see: https://github.com/harbby/presto-runners/tree/master/presto-elasticsearch
If I can, I will create a PR and maint

[2018-07-04 08:48] xingnailu opened #10976 "cast('' as bigint) throw an Exception!"
hi~, my presto version is 0.204. and I query like `select cast(some_field as integer) from table`, it return NULL that the field is NULL,  but when the field is an empty string, presto will throw an exception like :
[code]

and I filled my field with empty string in most case to prevent null point exception.
is this a feature that presto plan to fix ? (is this section, hive and spark-sql will retu

[2018-07-04 09:03] kokosing commented on #10928
[code]

[2018-07-04 09:44] sopel39 commented on #10971
Maybe we could simply add partial streaming aggregation always, e.g: rewrite:
[code]
into
[code]

Is there a case when such rewrite is invalid? As you noted streaming aggregation above exchange implies constant pre-grouped symbols.

Global aggregation produce default value, which we don't want here.

[2018-07-04 12:17] sarwarbhuiyan commented on #9002
+1
Seems xml is fading in the background in the big data ecosystems but big financials still use a lot of XML in the message interchange and storage for various integration scenarios. We'd like to use the XMLSerde as part of Amazon Athena which uses Presto under the hood. Would very much appreciate the support or any workaround.

[2018-07-05 05:28] kokosing commented on #2521
Closing this because parent task closed https://github.com/prestodb/presto/issues/2351

[2018-07-05 05:28] #2521 closed

[2018-07-05 05:29] kokosing commented on #2442
Actually, this one could be implemented. However, I haven't heard about anyone having any issue with presto-cli on Windows. Let's reopen this if such an issue occurs.

[2018-07-05 17:34] mbasmanova commented on #10971
@sopel39

That's right. Thanks for pointing it out.

That should work. It should be a pretty simple change.

[2018-07-05 18:15] mbasmanova commented on #10971
@sopel39 @martint Martin and I discussed this some more. We believe `streaming aggregation above exchange implies constant pre-grouped symbols` assertion is true today, but may change later, at which point we may have a regression. To properly make a decision about whether a streaming aggregation can be split over remote exchange, we need the rule to know the properties of the data, e.g. ideally w

[2018-07-05 18:18] oaustegard commented on #10844
Running `set session hive.parquet_optimized_reader_enabled = false;` might help.

[2018-07-05 19:43] findepi commented on #10976
This is the expected behavior, just like with `CAST('a' AS INTEGER)`.
You can handle this with a `case` construct or `try_cast` (https://prestodb.io/docs/current/functions/conversion.html#try_cast).

I didn't understand this part. Were you experiencing some NullPointerExceptions from Presto when the fields were NULL?

[2018-07-05 19:43] #10976 closed

[2018-07-05 19:54] findepi commented on #10968
can you elaborate?

Also, does the same problem occurs for all-lower-case column names? Does it occur regardless of `hive.parquet.use-column-names` value?

[2018-07-06 06:49] tooptoop4 commented on #10957
presto:dh_si> select type_code from hive.DH_SI.mdm_mv_cd_reference where PART_DT = '20180309' and PART_SEQ = '1' and code_table_name = 'CDADMINFLDNMTP';

Query 20180706_064443_00164_bfmmb, FAILED, 1 node
Splits: 56 total, 0 done (0.00%)
0:01 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20180706_064443_00164_bfmmb failed: Error opening Hive split s3a://redacted/red1/red2/red3/mdm/output/MDM_MV_CD_REFERENCE

[2018-07-06 08:31] davoscollective commented on #5290
@electrum Thanks, the explanation on how `regexp_split`  with a  matches boundaries was helpful. I ended up using this hideous negative lookbehind & negative lookahead to split on any character except the beginning and end of line in order to convert a string to an array of char (varchar(1)) without the empty first and last element of the output array

`regexp_split(stringcolumnname, '(?<!^)(?!$)'

[2018-07-06 08:51] mitxino77 commented on #10968
yes, it happens regardless of the `hive.parquet.use-column-names` value

When querying this columns or object with this columns within we found  this error:
[code]

[2018-07-06 15:48] mbasmanova commented on #10971
@sopel @martin

Karol, thanks for sharing your thoughts. My thinking on this evolved a bit since yesterday.

`PushPartialAggregationThroughExchange` aggregation rule works with an aggregation over exchange:

[code]

The question here is whether streaming aggregation can be split over exchange.

I believe it is always safe to drop `streaming` and split the aggregation:

[code]

This does "add slowe

[2018-07-06 18:54] martint commented on #10971
That seems reasonable, but it "(2) submit a follow-up PR to derive properties" may be harder than it seems or introduce things we want to move away from. The rule-based optimizer is not set up to make it easy for rules to arbitrarily walk the plan tree (to derive properties), which is why I've mentioned we might need to have support for traits and first-class properties support in the rule-based o

[2018-07-06 21:58] tooptoop4 commented on #10957
can this be included in .206 release? its real blocker for us as essentially means presto can't read parquet data from hive. Similar issues: #9975 , #9084

[2018-07-07 08:03] tooptoop4 commented on #8980
@RameshByndoor can u share the code?

[2018-07-07 08:15] tooptoop4 opened #10996 "New Feature: Data Masking"
This feature would allow selected columns in some tables to be masked so that end users cannot see sensitive data that the column contains. This feature would help to bring presto in line with enterprise security requirements.

[2018-07-07 19:12] findepi commented on #10996
Do you mean column-level access control? Would you elaborate on your particular enterprise security requirements?

[2018-07-07 19:20] findepi commented on #10957
cc @zhenxiao

[2018-07-08 01:49] wenleix opened #10997 "Improve Stripe Size Estimation for SliceDictionaryColumnWriter"
# Problem Statement

When writing dictionary encoded columns, the ORC Writer estimate the column buffered size based on (1)  estimated index bytes per entry, and (2) number of entries .

https://github.com/prestodb/presto/blob/77ba0c4ddf1b40637329503faa1b1831ee7fb3ee/presto-orc/src/main/java/com/facebook/presto/orc/writer/SliceDictionaryColumnWriter.java#L460-L469

However, this doesn't account fo

[2018-07-08 20:01] findepi commented on #10301
@cskbhatt please refer to https://github.com/prestodb/presto/issues/1970

[2018-07-08 20:06] findepi commented on #10954
@electrum do you know, is it protocol's or client's fault?

[2018-07-08 20:14] findepi commented on #10951
The workaround isn't as bad as it sounds.
Postgres UUIDs will be modelled probably as `varchar`s anyway, since Presto doesn't have dedicated UUID type.

If you'd like to implement this
* the types are mapped in `BaseJdbcClient.toPrestoType` (needs postgres-specific override)
* the tests are in `TestPostgreSqlTypeMapping`

[2018-07-08 20:15] #8304 closed

[2018-07-08 20:19] findepi commented on #10944
see https://github.com/prestodb/presto/issues/7120

[2018-07-08 23:33] tooptoop4 commented on #10996
Rather than throw an error if a user selects a columns that includes sensitive values. Would like that column to be returned as a random hash (just like Apache Ranger's Masking feature). This is so the same queries/data can be run in prod/dev envs without requiring SQL re-write and no sensitive values are shown in dev environment.

[2018-07-09 05:56] #10975 closed

[2018-07-09 05:57] #8536 closed

[2018-07-09 09:49] sopel39 commented on #10971
Just to note:

Merging exchange does preserve grouping property as sources themselves are ordered

[2018-07-09 10:10] RameshByndoor commented on #10996
It would be better if it can handle Dynamic Column masking offered in ranger+hive.
In simple terms
Re-write column in such a way that it can be any UDF/function. for ex: BASED ON USER/ROLE to be possible to change ``select ssn, name from tab1`` to ```select encrypt(ssn),name from tab1```

[2018-07-09 13:24] shreyasjoshis opened #11001 "Name based struct field mapping for ORC files"
## Summary

Currently fields in structs are mapped to the underlying data based on the ordinal of the data field. This approach does not work in the case where the table schema changes to drop a field from the struct that is not the last field. Currently, such a change will cause all fields following the dropped field to be mis-aligned.

## Detail
### Current behavior
Consider the case of a struct

[2018-07-09 16:48] dain commented on #10996
Is there a Hive standard documented for this kind of behavior somewhere?  BTW, we accomplished this at FB using views.

[2018-07-09 17:02] bhuwanchopra opened #11003 "Protocol not honored in nextUri"
My team owns a presto deployment which has a front end proxy before the Presto server. Presto server honors the hostname to be followed in nextUri, but does not honor the protocol over which it was sent. This implies if your proxy was running in secure mode while presto was running in http, we would have a problem. This can be also shown in following command where you would notice even though the

[2018-07-09 17:34] electrum commented on #11003
The header is `X-Forwarded-Proto` and is supported since 0.202

[2018-07-09 18:29] dain commented on #11001
What is the default behavior in Hive?

[2018-07-09 18:52] bhuwanchopra commented on #11003
Thanks, @electrum for your reply. Closing the issue.

[2018-07-09 18:52] #11003 closed

[2018-07-09 19:01] shreyasjoshis commented on #11001
The desired behavior is the default behavior in Hive. Here is an example:

**Create table**
[code]
**Insert data**
[code]

**Drop struct field f2**
[code]

**Presto output**
Presto misinterprets the value of the deleted field `f2`  as the value for field `f3`

[code]

**Hive output**

Hive correctly ignores the deleted value and reports the value for field `f3` correctly.

[code]

[2018-07-09 20:13] findepi commented on #11001
@shreyasjoshis is Hive's behavior the same for Parquet?

Since this looks the same in Parquet, IMO we should have parallel properties for Parquet and ORC.

[2018-07-09 21:12] findepi commented on #11001
Related to: https://github.com/prestodb/presto/issues/10941, https://github.com/prestodb/presto/pull/10943

[2018-07-09 23:04] nezihyigitbasi commented on #10928
[code]

[2018-07-10 00:58] #10971 closed

[2018-07-10 03:31] imperio-wxm opened #11005 "Max query memory per node cannot be greater than the max query total memory per node"
presto version: 0.205

[code]

[code]
- free -g

[code]

In my work node,  still have 36G memory. However `query.max-memory-per-node=16GB` get `Max query memory per node cannot be greater than the max query total memory per node`, if I set to 5G, It works.

[2018-07-10 09:42] svkcemk commented on #10867
Hi I just wanted to know what do you mean by query staging or query stages ?like in maxQueryLength you are checking if the current query length is more than the maxQueryLength then you are throwing PrestoException i.e QUERY_TEXT_TOO_LARGE.So, similar for query stages what is your expectation?

[2018-07-10 10:00] atris commented on #10724
@findepi @sopel39 For the second part, will not pushing down aggregation when the join is a Left join be the best way to solve the bug? I could not see any regressions in the approach, but wanted to double check with you guys

[2018-07-10 10:46] kokosing commented on #8980
@RameshByndoor Are you going to base your work on top of https://github.com/prestodb/presto/pull/10904?

[2018-07-10 10:59] sopel39 commented on #10724
The second part only relates to `default` aggregations pushdown. The rule shouldn't fire If aggregation was non-default (e.g: all grouping sets are non-empty) and would become default when pushed down.

[2018-07-10 12:36] atris commented on #10724
@sopel39 When you say default aggregations, do you mean aggregations with default values?

[2018-07-10 13:29] afranzi commented on #5665
@electrum Is not this `system table for partitions` already supported?

[2018-07-10 14:13] shreyasjoshis commented on #11001
Yes Hive's behavior is the same for Parquet. Actually Presto already reads the fields correctly as well.

**Create table**

[code]

**Insert data:**
[code]

**Drop struct field:**
[code]

**Current Presto output:**
[code]
**Hive output:**
[code]

[2018-07-10 14:23] sopel39 commented on #10724
@atris

I mean aggregations like
[code]
, e.g: aggregations with empty group by section. Those produce value even if there are not rows.

[2018-07-10 16:09] nezihyigitbasi commented on #11005
There is another configuration `query.max-total-memory-per-node` that sets the max total (user + system) memory per node, which must be greater than or equal to `query.max-memory-per-node` (which is only the user memory). The default value of `query.max-total-memory-per-node` is 30% of the heap size, which is ~7.5G for your config, that's why setting max memory to 5G works. If you set ``query.max-

[2018-07-10 16:10] dain commented on #11001
If the current behavior is not consistent with Hive, then this is a bug and not a feature request.

[2018-07-10 16:11] dain commented on #11001
@shreyasjoshis can you rewrite the description in the form of a bug report instead of a feature request?

[2018-07-10 16:13] dain commented on #11001
Oh wait, I see what you are doing.  Please repeat the experiment with the text format instead of Parquet. The Hive people added custom rules for Parquet which are not consistent with other formats.

[2018-07-10 16:15] dain commented on #11001
Also can you repeat the experiment with a Partitioned table.  You create the table with a partition and then change the column type of the table (and not the partition).

[2018-07-10 17:53] dain opened #11008 "Remove unnecessary sorting"
Now that we have distributed sorts, sorting can use a huge amount of resources.  There are only a few places where ordering is necessary and we should remove all others during optimization.  For example, `select count(*) from (select * from orders order by 1)`.

[2018-07-10 17:55] martint commented on #11008
Duplicate of https://github.com/prestodb/presto/issues/7613

[2018-07-10 17:55] #11008 closed

[2018-07-10 17:58] dain commented on #7613
We should prioritize this now that we have distributed sorts, sorting can use a huge amount of resources.

[2018-07-10 18:59] srjonemed commented on #9254
Hi - could anyone point me to the above mentioned "workaround" ?

[2018-07-10 19:03] cskbhatt commented on #1970
Hello,  Is there any plan to resolve this issue?
We are migrating data from Oracle RDBMS to Hadoop and Hive ACID is key feature required to support ( CDC - Change Data Capture)
It would be a great help if presto can read data from Hive ACID tables.

Thank you

[2018-07-10 19:10] richardxin commented on #9254
I believe what @findepi suggested was that have your own build of presto with removed checking in "presto/presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoDriverUri.java".

[2018-07-10 19:21] dain commented on #1970
@cskbhatt at FB we don't use ACID tables (our partitions are immutable), so we are unlikely to work on this any time soon.  We would welcome anyone from the community to drive this feature.

[2018-07-10 19:58] bowdencm commented on #10928
[code]

[2018-07-10 20:22] vloup commented on #9254
It has been quite a while since I wrote this patch but it did not add any dependency back then. I bet it is most likely an issue on your end or on the last code revision. Have you tried to compile the project without applying patches? Pro tip: you can go in the presto-jdbc directory and call mvn there directly.

We were on top of Hadoop, not MySQL, so our setup was different. Maybe the patch did n

[2018-07-10 22:14] shreyasjoshis commented on #11001
Here's the experiment with a partitioned text file backed table. The key takeaway is that Hive does not map the struct values correctly.

**Create the table:**
[code]

**Insert data:**

[code]

**Drop struct field from the table and not from the partition:**
[code]

**Hive output:**
[code]

**Presto output:**
[code]

[2018-07-11 05:47] haozhun commented on #10928
## Andrii Rosa
- [ ] all checked
-  06-29 14:16:42    c63b7ea8db Disallow indeterminate key in MAP type
-  06-29 14:16:42    d036334d4e Add INDETERMINATE scalar operator to detect nulls
-  07-03 08:39:32    937c42557d Invalidate statistics caches after Table/Partition modifications
-  07-03 08:42:28    76ca28182f Invalidate all metastore caches upon flushCache
-  07-09 10:09:54    906f97ac47 Fix c

[2018-07-11 06:15] kokosing commented on #1970
@cskbhatt at Starburst we were asked several times for this, so it is possible that we might want to take this some day. However the time-frame is very unclear. If you like you can contact us to get to know more details about our plans for this feature.

[2018-07-11 06:50] kokosing commented on #7613
@atris Would you like to take a look into this?

[2018-07-11 06:56] atris commented on #7613
Ack, I will look into this

[2018-07-11 08:50] kokosing opened #11014 "Information_schema does not print any privileges for FileBasedAccessControl"
Having file based control configured with:
[code]

Then running as `bob`:
[code]

While I expected to see that `bob` is the owner of a table `v`.

In case of file access control it would be better to say that ``information_schema.table_privileges`` is not yet supported instead of the above.

[2018-07-11 09:40] sopel39 commented on #10928
[code]

[2018-07-11 10:20] kokosing opened #11015 "Do not require GRANT_SELECT if user has a SELECT privilege to table"
The case:
 - users `A` and `B` has `SELECT` privilege to table `t`
 - user `A` creates view `v` that selects from `t`
 - user `B` has `SELECT` privilege to view `v`

Now, user `B` is unable to select from `v` because user `A` does not have `GRANT_SELECT` for `v` and so `B` is unable to read from `t` via `v` even though it has `SELECT` for `t`.

Is this a bug or feature? I still need to take a look

[2018-07-11 10:22] sadeshjayraj opened #11016 "All queries goes to queued state after executing heavy query in presto 0.198"
Hi,
I am running heavy query on presto server 0.198. Meanwhile I am trying to execute new queries but all queries goes in queued status.

All queries will get completed once heavy query execution get completed.

Why this is happening, though I am running heavy query it should allow another to run and get completed.

Regards,
Sadesh

[2018-07-11 14:07] sadeshjayraj opened #11019 "Hi,"

[2018-07-11 14:08] imperio-wxm commented on #11005
I did not find this parameter(query.max-total-memory-per-node) in [https://prestodb.io/docs/current/admin/properties.html#general-properties](https://prestodb.io/docs/current/admin/properties.html#general-properties) and [https://prestodb.io/docs/current/installation/deployment.html](https://prestodb.io/docs/current/installation/deployment.html)

And I want to tuning presto, In my cluster(each nod

[2018-07-11 14:12] sadeshjayraj opened #11020 "How to downgrade presto server"
Hello all,

Currently I am using 8 node presto cluster server,1- Coordinator and 7 workers.
Current presto version is 0.198.

I want to downgrade cluster server from 0.198 to 0.197.

Help me to know what are the pre-requisite and steps for cluster server upgrade, is it possible to do rolling upgrade.

Regards,

Sadesh Jayraj

[2018-07-11 14:30] dain commented on #11015
We have been discussing this internally for a long time.  IIRC the current behavior is the specification defined behavior.  Specifically, a view is executed with the permissions of the owner of the view, and specifically with no rights inherited from the invoker.

As an alternative to this model, we have discussed adding an extension for "execute as invoker".  This is similar to the Transact SQL e

[2018-07-11 15:38] dain commented on #11001
@shreyasjoshis so this is another form of implicit coercion at the partition->file level similar to #10943.  Since the behavior is different from Hive, we I'll mark this as a bug, and we should just change the behavior without a config flag.

[2018-07-11 15:54] rschlussel2 commented on #8980
@RameshByndoor can you give an example query where you're seeing the alias and object name. I can take a look.

[2018-07-11 16:04] rongrong commented on #10928
`* Add string function split_to_multimap`

[2018-07-11 16:10] dain commented on #7613
BTW, we already have `isOrderSensitive` in local properties (https://github.com/prestodb/presto/blob/master/presto-spi/src/main/java/com/facebook/presto/spi/LocalProperty.java#L39), so I hope 2 is pretty straight forward.  For aggregates, if the user need sorting, they must add the ORDER BY clause to the aggregation invocation (https://prestodb.io/docs/current/functions/aggregate.html), and IIRC t

[2018-07-11 17:06] shreyasjoshis commented on #11001
I'm going to pick this up, so I'll assign it to myself

[2018-07-11 18:12] martint commented on #7613
isOrderSensitive describes a quality of a given type of local property, not of whether a relational expression (plan node) is order sensitive.

I think the biggest challenge (which might require introducing new concepts) is how to know whether a SortNode was the result of an ORDER BY clause in the original SQL query or whether it was introduced as a by-product of some optimization. For instance, o

[2018-07-11 18:46] yingsu00 commented on #10928
General
-------
* Limit the size of local buffers for stream readers to be 1024 entries at most.

[2018-07-11 18:46] yingsu00 commented on #10928
`* Limit the size of local buffers for stream readers`

[2018-07-11 19:05] nezihyigitbasi commented on #11005
The documentation is not up-to-date unfortunately, we need to update it -- sorry for that.

It's hard to give you exact numbers, because these numbers should be set based on your workloads. So, what I can do is to provide you some numbers to start with, and then you should experiment with these configs and your workloads to fine tune them.

Since you have 47G per node you can start with an Xmx of,

[2018-07-11 19:53] dain commented on #7613
When I added the first version of "order sensitive", it was to determine if I could "mess up" the ordering of a plan node by adding a local exchange.  The specific problem I ran into was my optimizer would add a local exchange before output output node and would cause the expected sorted output to the end user to be randomized.

I get your point about `ARRAY_AGG`.  I have two thoughts. 1) we don't

[2018-07-11 19:57] qqibrow opened #11022 "Supporting geospatial computation on different SRID"
@mbasmanova shall we support st_transform or add constructor to support computation on different SRID? similar to  postgis? https://postgis.net/docs/ST_Area.html  thanks!

[2018-07-11 20:21] AJLiu opened #11023 "new UDF: folly::hash::twang_32from64"
We have some FB internal usage for this proposed UDF that would be useful to my team.

## NAME
TWANG32

## ARGUMENT TYPES
Input: 64-bit unsigned integer
Output: 32-bit unsigned integer

## NULL HANDLING
If input is NULL, output NULL

## ERROR HANDLING
Since the operation is basically a series of bitwise operations, special error handling is probably unnecessary.

[2018-07-11 21:33] #11019 closed

[2018-07-11 21:59] jessesleeping commented on #10928
[code]

[2018-07-11 22:11] martint commented on #7613
Well, in that case, that's an abstraction we need to fix, since it doesn't belong there. That should be modeled as a property requirement (e.g., output needs to be sorted due to query shape) and an evaluation of whether the properties produced by a given subplan satisfy those properties.

In any case, LocalProperties are for reasoning about within stream properties, but for this we need to reason

[2018-07-11 22:31] RameshByndoor commented on #8980
@rschlussel2 you can use simple command as `select object_name as object_name_alias from "jmx.current.java.lang:type=memory";`
& you can catch this getting called from here. https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/security/AccessControlManager.java#L598

[2018-07-12 00:58] jBugReport commented on #10954
This is a server/design issue.
Presto server accepts multiple `X-Presto-Session` headers. Java client send each session variable with one `X-Presto-Session` header line. However, Presto server is designed to accept multiple session variables in one `X-Presto-Session` header line as well. These variables are splitted naively by comma. This causes problem when session variable has comma inside.
One

[2018-07-12 01:02] jBugReport commented on #10954
I found this issue as a duplicate of:
https://github.com/prestodb/presto/issues/5169

[2018-07-12 01:38] aromero-pm commented on #10996
@dain  could views do this based on user or role?

I will second this idea. Definitely very useful in enterprise use cases.

[2018-07-12 05:03] #10954 closed

[2018-07-12 06:01] kokosing commented on #11015
Thanks for reply. As long it is in line with the spec I am ok (but not happy) with this.

Suggested extensions sounds interesting. Let's back to this once it becomes a bigger problem.

[2018-07-12 06:01] #11015 closed

[2018-07-12 06:04] #2443 closed

[2018-07-12 06:06] kokosing commented on #3557
Is this still valid?

[2018-07-12 06:11] kokosing commented on #4391
As I understand it is implemented as `jmx.history`.

[2018-07-12 06:11] #4391 closed

[2018-07-12 06:38] findepi commented on #10928
regarding TIMESTAMP - quoting my earlier bullet (https://github.com/prestodb/presto/issues/10928#issuecomment-400802698):

I think we may want to mention  "the new semantics are experimental" or something like that. @haozhun ?

[2018-07-12 08:55] pradeepbhadani commented on #9754
@photogamerun  What was the solution to fix this issue?

[2018-07-12 09:45] kokosing commented on #7613
@martint Is this yet another place where we hit the lack of `traits`?

[2018-07-12 09:48] jayakumar-mohan-84 commented on #8762
I had the same issue with CREATE TABLE <TEMP> ... AS SELECT * FROM <SOURCETABLE> with the SOURCE TABLE having one nested STRUCT column.

The below solution worked for me.

CREATE TABLE delta_copied **ROW FORMAT SERDE 'XXXXX' WITH SERDEPROPERTIES ("hive.serialization.extend.nesting.levels"="true")** STORED AS INPUTFORMAT 'xxxxx' OUTPUTFORMAT 'xxxxx'    AS SELECT * FROM SOURCE TABLE where ......

We

[2018-07-12 10:15] findepi commented on #11020
Since Presto doesn't have internal mutable state, you can just replace your cluster with a different one, with different configuration.
Rolling upgrades are not supported. If you need to do rolling upgrades, you need 2 presto clusters and a load balancer at front.

[2018-07-12 10:15] #11020 closed

[2018-07-12 10:51] sopel39 commented on #3557
It is

[2018-07-12 10:54] imperio-wxm commented on #11005
@nezihyigitbasi

Thx, It is very helpful.

[2018-07-12 10:55] #11005 closed

[2018-07-12 11:50] Praveen2112 opened #11024 "Increase in query planning time"
Hi,
After this patch(#10994) was applied I just compared the planning time between latest presto(with the patch applied) and presto 0.149 and planning time in the latest version of Presto is still higher than Presto 0.149. So we tracked and found some changes that might speed up Presto planning time.

1. Removing `ValidateDependenciesChecker` from checker list when validating intermediate plan.
Th

[2018-07-12 12:15] sopel39 opened #11025 "Add feature toggle that disables usage of parent preferred properties in AddExchanges"
This comes from user use case. Take a query for instance:
[code]
Without `GROUP BY x` `EXCEPT` gets rewritten to aggregation over `x,y`, e.g:
[code]
However, because there is `GROUP BY x` the whole query will get rewritten to:
[code]

The problem comes when `y` is skewed with respect to `x` (e.g: there is one `x` value for which number of distinct `y` values is unevenly large). This will cause  `-

[2018-07-12 13:47] kokosing opened #11026 "Correlated subqueries does not handle coercion"
[code]

As you could see above when correlated predicate requires coercion then correlated subquery does not work.

CC: @anusudarsan

[2018-07-12 14:15] findepi commented on #10975
for the record, follow-up: https://github.com/prestodb/presto/pull/9459, https://github.com/prestodb/presto/pull/10999

[2018-07-12 14:22] findepi commented on #11016
Please see https://github.com/prestodb/presto/issues/10383#issuecomment-395722756 . Could you please retry with latest version and report new issue if the problem persists?

[2018-07-12 14:22] #11016 closed

[2018-07-12 14:35] findepi commented on #11025
Can you express this in a feature-oriented way?

[2018-07-12 14:45] findepi commented on #11005
@nezihyigitbasi can we have some earlier validation that `query.max-total-memory-per-node >= query.max-memory-per-node` ?

[2018-07-12 15:26] dain commented on #10996
@aromero-pm we support `current_user` syntax, so you can filter on user.  All of the roll management stuff is still in progress (see #10904).

[2018-07-12 15:39] mbasmanova commented on #11025
@sopel39 Karol, could you explain some more how/why `Exchange[HASH][x,y]` becomes `Exchange[HASH][x]`?

My first thought is that it would be very hard to reason about how this flag affects the planning.

[2018-07-12 15:41] mbasmanova commented on #11022
@qqibrow Would you share some more context for this question? What are you trying to achieve?

[2018-07-12 16:07] nezihyigitbasi commented on #11005
@findepi We have a check that does that on worker startup, please see [this](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/memory/LocalMemoryManager.java#L61-L62). Do you have something else in mind?

[2018-07-12 16:16] Ravion opened #11027 "Support for IBM Power Series - LE platform"
This is to enable presto to work on Power series. Already verified that Power series is LE (Little Endian). Hence the enforcement in PrestoServer code  ( code which asserts for X86 or AMD ) can be removed or can add PPC64LE ( Power series).
Also corresponding native Hadoop binaries need to be incorporated.

Best,
Ravi Shankar

[2018-07-12 19:02] atris commented on #7613
@martint @kokosing I was tending to do what @dain said, adding a property in Aggregation to mark if it is order sensitive. However, I agree that lacking traits and the ability to define specific properties and have them considered during later stages of planning is something that we need to address, maybe now.

Could we add a traits member in the Plan context, and have the CBO add it as a cost fac

[2018-07-12 19:21] haozhun commented on #11020
This is true as long as you don't use Raptor.

[2018-07-12 22:09] Batarian711 opened #11028 "Logo design"
Hi. I am a graphic designer. I volunteer to design a logo for open source projects. I can design it for you to use it in the readme file. What dou you say?

[2018-07-12 22:51] dain commented on #11028
Thanks, but the Presto logo was already designed by Facebook.  You can find the assets here: https://github.com/prestodb/presto/tree/master/presto-docs/src/main/resources/logo

[2018-07-12 22:51] #11028 closed

[2018-07-12 23:18] dain commented on #7613
I don't think we have an optimizer that makes aggregation (or window) order sensitive yet.  cc @martint

[2018-07-13 01:32] haozhun opened #11032 "Planning failure related to sort"
The following query fails at planning time with `Source does not supply all required ordering symbols` error.

[code]

Stacktrace:
[code]

cc @martint

[2018-07-13 02:42] xingnailu opened #11034 "count(*) function in 0.204/0.205 return error numbers !"
hi~ I have a EXTERNAL table in hive cluster.  and my query like :
[code]

when I update the  presto cluster to 0.204 , it return 2000+, but the really  number is 2w+ (at presto 0.192 before I do this update), I verify this query in hive cluster， also return 2w+

[2018-07-13 02:45] xingnailu commented on #11034
I replace the query with :
select source, count(*) from table1 where p_day = '2018-07-10' and source like 'columnContext%' group by source limit 2000;
    it work well。

[2018-07-13 08:58] sopel39 commented on #11025
Basically the flag would explicitly insert HASH exchange for the symbols required by operator even if dowsntream operator require partitioning on subset of symbols.

1. `Aggregation[x,y]` requires partitioning on `x,y`
2. `Aggregation[x]` requires partitioning on `x`
3. partitioning on `x` satisfied partitioning on `x,y`.
3. `Aggregation[x,y]` utilizes parent required partitioning preference (part

[2018-07-13 09:11] findepi commented on #11027
There is already a PR for this https://github.com/prestodb/presto/pull/11006

[2018-07-13 09:11] #11027 closed

[2018-07-13 09:15] findepi commented on #11034
i am happy that you found a solution

[2018-07-13 09:15] #11034 closed

[2018-07-13 09:50] imperio-wxm opened #11038 "Dynamic loading Udfs？"
Now I write my own presto-udfs.jar.

In order to load my udfs to presto cluster, I must to `restart` all nodes.
There is any way that I can load udf‘s jar when each node `still working`?

[2018-07-13 11:21] atris opened #11039 "Test Question -- Setting a Session Parameter In a Unit Test?"
What is the best way to set a session parameter to disable a config before running a unit test? I am looking to disable a planner optimizer during a test run.

[2018-07-13 11:31] #11032 closed

[2018-07-13 12:42] findepi commented on #11005
@nezihyigitbasi yes, i think this is the check that triggered the error message originally reported here. Apparently, it wasn't self-explanatory, but I am not sure how to improve. I tried https://github.com/prestodb/presto/pull/11040 but it's not perfect either. Please let me know what do you think.

[2018-07-13 18:12] atris commented on #7613
@kokosing @martint @dain What would be a good starting point for getting traits implemented? I think we should start with having aggregates that are aware of the needed sorting order. This would allow removing redundant sorts as I mentioned earlier.

The second step would be to abstract out the logic in AddExchanges into a generic Validate* class and have Iterative Optimizer and Rule Based Optimiz

[2018-07-13 21:48] findepi commented on #10078
As explained in https://github.com/prestodb/presto/pull/10940#issuecomment-404867745, we cannot use a zone with "property 5" (forward offset change at 1970-01-01 00:00:00 local time) as product tests's zone.
Thus, we are going to have 2 different JVM zones:
- one for regular tests (`America/Bahia_Banderas`, https://github.com/prestodb/presto/pull/10128)
- and one for product tests (all containers,

[2018-07-13 22:57] martint commented on #6295
This should be fixed by https://github.com/prestodb/presto/pull/10392

[2018-07-13 22:57] #6295 closed

[2018-07-13 22:57] dain commented on #11039
Typically the thing you are testing needs a `Session`.  Normally, you can build this with `TestingSession.testSessionBuilder()`, and the returned builder has methods to set session properties.

[2018-07-13 22:59] martint opened #11047 "NPE for lateral join with unnest"
[code]

fails with

[code]

[2018-07-13 23:00] dain commented on #11038
There is currently no way to do that.  Implementing something that can dynamically load a plugin, wouldn't be too hard, but unloading a plugin would take a ton of work.  For Presto, we want every create to have a matched drop command, so this is the major blocker.  Also, functions currently live in a single global namespace, so you could never update your functions either.

[2018-07-13 23:31] haozhun commented on #10867
Today, I saw a 1052-stage query.

In our cluster, "max-requests-queued-per-destination" is configured to 1000.

Presto coordinator long polls Presto workers for tasks status changes. Therefore, I see no way that a 1000-stage query can finish without hitting `Max requests queued per destination 1000 exceeded for HttpDestination[http://host:port]@4e7537ed,queue=1000,pool=DuplexConnectionPool@2aed66a

[2018-07-13 23:57] elonazoulay commented on #10928
[code]

[2018-07-14 00:13] haozhun commented on #10928
[code]

[2018-07-14 05:10] imperio-wxm commented on #11038
@dain

Hi, there is a problem now.
I want to add a new udf function to the production cluster. In order not to affect the online business, I have to restart node one by one.

However when I restart a node that already has a query, this query will fail,this is intolerable.

Presto is not like MapReduce, some nodes fail to be reassigned to other nodes to recalculate.
How to get online a new udf func

[2018-07-14 16:53] findepi commented on #11038
@imperio-wxm you can decommission a node gracefully, see https://prestodb.io/docs/current/release/release-0.128.html

[2018-07-14 19:16] dain commented on #11038
How often are you adding UDFs?  We rarely add the and do this during normal downtimes for upgrades.

[2018-07-14 19:17] #11039 closed

[2018-07-15 03:18] atris commented on #11039
Thanks!

[2018-07-15 23:11] findepi commented on #10103
@martint some questions:

- Should time without political zones be guarded by legacy_timestamp? (This can simplify implementation, but complicate testing and we will have the political zones for longer, eg. in JDBC)
- What zone should `cast(TIME as TIMESTAMP WITH TIME ZONE)` add (besides adding 1970-01-01 date)? Current session zone or current session zone's offset?
- What should `cast(TIMESTAMP a

[2018-07-16 04:32] mundlapudi opened #11055 "Loading CSV data"
Hi Presto Team,

I have a standalong Presto Cluster and also a CSV file on a NAS storage. How can I load data into Presto? I saw example-http connector, can someone please point me to a document to load data from a file into PrestoDB?

Note: I don't use Hadoop Cluster here

[2018-07-16 06:00] findepi commented on #11055
There is no tool dedicated for Presto that I am aware of.
You should be able to use some generic "CSV to SQL INSERTS" conversion tool (i found some online tool https://codebeautify.org/csv-to-sql-converter, but offline do exist as well, like sqoop).

HTH

[2018-07-16 06:00] #11055 closed

[2018-07-16 09:03] atris opened #11057 "Test Issue: Not resolving STREAMING aggregation?"
I am working on an optimization that adds a partial aggregate below a semijoin if the estimated number of output rows is more than the number of distinct values on the filteringsource side.

I am using the following query to test the same:

explain select count(*) from orders where orderkey IN (SELECT orderkey from lineitem);

-----------------------------------------------------------------------

[2018-07-16 13:32] findepi commented on #10812
Recently the problem became more server and more easily reproducible locally.
I am under impression that `MemoryAwareQueryExecution`  adds listeners in `ClusterMemoryManager`:
[code]
that are never going to be removed.

I am not entirely sure yet, since all info I got so far is the 10M instances of `com.facebook.presto.memory.ClusterMemoryManager$$Lambda$7855`

cc @nezihyigitbasi @raghavsethi

[2018-07-16 17:17] sadeshjayraj opened #11058 "Exception: javax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)];"
Hello All,

I am using PRESTO version o.198 .I am trying to execute query from presto CLI, but frequently I am facing below given  error. Same query configuration was working from last 2 month.But after server restart we are facing this issue.

Caused by: org.ietf.jgss.GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)

com.facebook.presto.spi.PrestoExce

[2018-07-16 18:58] atris commented on #11026
The default cast specification works even for this case:

presto:tiny> SELECT 1 FROM nation n WHERE 1 = (SELECT cast(n.nationkey as decimal));
 _col0
-------
     1
(1 row)

Query 20180716_171442_00003_xdw4b, FINISHED, 1 node
Splits: 20 total, 20 done (100.00%)
0:00 [25 rows, 0B] [183 rows/s, 0B/s]

The reason why this is failing is because for decimal(7,2), the subquery's projections are of order

[2018-07-16 19:33] kokosing commented on #11058
IIRC I got this error when I had something misconfigured related to Kerberos. Please check if paths are in configuration are correct, if files have proper permissions set, if keytab file is still valid, if principal used is correct.

[2018-07-16 20:13] meggamind commented on #9783
I'm working on this

[2018-07-17 03:47] rahul9269 opened #11059 "Spill to disk for order by operator"
Was going through the docs and see spill to disk has been implemented for joins and aggregations, has there been any proposal/ future plan for spill to disk for the order by operator?.

[2018-07-17 05:46] kokosing commented on #11025
Aggregation[x] requires partitioning on x
partitioning on x satisfied partitioning on x,y.
Aggregation[x,y] utilizes parent required partitioning preference (partitioning on x) to avoid reshuffle.

Would it be possible to over partition the source with `x,y` partitioning this case? This way we would also avoid repartitioning.

[2018-07-17 05:59] kokosing commented on #11024
AD. 1. This is very important validation. Especially when the new feature comes in it is typical this validation finds bugs around this feature. Is there any way to make it faster instead of removing?

AD. 2. Can you please post a PR with this change?

[2018-07-17 06:03] kokosing commented on #11059
Today there are no such plans. Can you explain your use case?

0.206 (see https://github.com/prestodb/presto/issues/10928#issuecomment-404108988) is going to have a support for distributed sort, I hope it is going to solve your problem.

[2018-07-17 10:53] Praveen2112 commented on #11024
@kokosing Thanks for the reply.

If that is the requirement then we can have two separate implementation of `PlanSanityChecker.Checker`  for validating the dependencies. The `ValidateDependenciesChecker` can be used for validating the **final plan** and for validating the **intermediate plan** we can have another implementation which might have some short cuts to validate the dependencies like

a.

[2018-07-17 11:06] atris commented on #11026
@kokosing No, none of the rules is firing for the rogue query, right upto the point where t uery plan validation errors out after seeing the lateral join

[2018-07-17 11:07] kokosing commented on #11024
AD. 1. Lets keep this as a last resort option, is there any way to optimize
that?

On Tue, Jul 17, 2018 at 12:53 PM Praveen Krishna <notifications@github.com>
wrote:

[2018-07-17 12:32] findepi commented on #8911
@kgalieva do you happen to know the answer to @electrum's question?

[2018-07-17 12:51] Praveen2112 commented on #11024
One optimization that we can apply for `ValidateDependenciesChecker` is we can skip validating the `TableScanNode` because the same validation will be applied when we create a new `TableScanNode`.

[2018-07-17 18:24] kokosing commented on #11024
Great idea, would you like to create a PR with this or I should? Also one
can say that this dependency check for table scan node is not needed at all
because table scan node is a leaf of the plan and so does not have any
dependencies.

On Tue, Jul 17, 2018 at 2:51 PM Praveen Krishna <notifications@github.com>
wrote:

[2018-07-17 19:30] atris commented on #11026
@kokosing Please see the fix at:
https://github.com/atris/presto/tree/coercion_fix1

After the fix, The query plans are:

   explain SELECT 1 FROM nation n WHERE 1 = (SELECT cast(n.nationkey as decimal(7,2)));

    --------------------------------------------------------------------------------
    - Output[_col0] => [expr_4:integer]
           Cost: {rows: 1 (5B), cpu: 455.00, memory: 0.00, netwo

[2018-07-17 19:41] us3r opened #11066 "Presto 0.205 & Hive & Parquet & Timestamp/BIGINT field issue"
Hello

I have noticed strange behaviour on presto. I have created a 3 different parquet files (attached you can find it):
1) parquet with defined endtime field as STRING
2) parquet with defined endtime field as BIGINT (INT64 in parquet)
3) parquet with defined endtime field as TIMESTAMP

After that I have created 3 tables in hive:

endtime as *string*:
[code]

endtime as *bigint*:
[code]

endtime

[2018-07-18 01:10] Praveen2112 commented on #11024
Okay. I will create a PR for this change. And how about adding a new check for validating dependencies of an intermediate plan ?

[2018-07-18 01:16] haozhun opened #11068 "Release notes for 0.207"
## Andrii Rosa
- [x] all checked
-  07-20 09:50:04    203607011d Implement approx_distinct for CHAR type
-  07-20 14:24:10    4a33a97598 Consider partitions sample when getting stats from Hive
-  07-20 14:24:10    bfd9df677d Refactor statistics SPI objects
-  07-20 14:24:10    f6b82dac49 Add missing null check in MetastoreHiveStatisticsProvider
-  07-20 14:25:18    0eb2282f51 Move secured internal

[2018-07-18 01:16] haozhun commented on #10928
Release notes for 0.207 at #11068

[2018-07-18 01:16] #10928 closed

[2018-07-18 01:17] phd1994 commented on #10412
Hi,

This issue also seems to be there in the latest release. I have done some investigation on it. When the Kerberos User is in the same realm as the server, the DEFAULT rule successfully extracts shortName as a special case. In other cases, it fails to do the same. Even if the rules are present in hive.config.resources, they are not carried over to KerberosHadoopAuthentication.

I would like to

[2018-07-18 05:58] us3r commented on #11066
@findepi .... pls send to me your address ... I owe you really good beer :))))

[2018-07-18 05:58] #11066 closed

[2018-07-18 06:05] kokosing commented on #10412
It looks like nobody is actively working on this, so please go ahead.

[2018-07-18 06:14] kokosing commented on #11024
It looks like JoinNode is checking dependencies in the constructor as well. Have you noticed that during profiling?

[2018-07-18 06:17] kokosing commented on #11026
Typically we open a PR to collect the feedback. We do it even for Work-In-Progress kind of PR (please see https://github.com/prestodb/presto/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+wip).

[2018-07-18 06:33] atris commented on #11026
Thanks for reviewing.

I am not able to open a PR since I have not signed the CLA yet (should happen in a few days). Apologies for the workaround

[2018-07-18 06:43] kokosing commented on #11026
As I understand CLA is needed to merge the code not to share it.

[2018-07-18 06:48] atris commented on #11026
Ah, thats good to know, thanks

[2018-07-18 06:52] kokosing commented on #11024
Please open for this a separate PR.

[2018-07-18 06:52] kokosing commented on #11024
But about profiling, did you notice that JoinNode constructor is also a problem?

[2018-07-18 07:16] kokosing commented on #11057
2. Try to use different column. See TpchMetadata (212 line) that shows that orderkey in lineitem is sorted. For such case streaming aggregation is prefered. This may also affect point 1.

[2018-07-18 07:18] kokosing commented on #11068
[code]

[2018-07-18 07:54] Praveen2112 commented on #11024
One of the previous version of JoinNode has a check like this
`checkArgument(inputSymbols.containsAll(outputSymbols), "Left and right join inputs do not contain all output symbols")`
which increased the planning time but replacing with

`checkArgument(new HashSet<>(inputSymbols).containsAll(outputSymbols), "Left and right join inputs do not contain all output symbols")`
doesn't show much of a perf

[2018-07-18 08:04] kokosing commented on #11024
That sounds good to me.

[2018-07-18 08:58] kokosing commented on #11068
[code]

[2018-07-18 09:00] kokosing commented on #11068
[code]

[2018-07-18 09:02] kokosing commented on #11068
[code]

[2018-07-18 09:49] purejade commented on #6262
@taoyouxian  do you solved it ? i meet the same problem, and restart the master and success. do you have better solutions?

[2018-07-18 10:14] danielhaviv commented on #7721
Is there a way to make Presto ignore such tables (metadata refresh encounters an exception)?

[2018-07-18 10:18] Praveen2112 commented on #11024
@kokosing  Can we replace the current validation code

[code]

With this implementation

[code]

[2018-07-18 10:37] Praveen2112 commented on #11024
Okay :+1:

[2018-07-18 12:01] shrau94 opened #11070 "DST handling in 'at TIME ZONE'"
Hi,

I had a question regarding the date_format() in presto in a particular timezone.

`date_format(dateandtime at TIME ZONE 'America/Los_Angeles','%m/%d/%Y %r')`

I wanted to know whether this also handles DST (Daylight savings)?

[2018-07-18 12:31] sczhaoqi opened #11071 "How to achieve high availability-DiscoveryServer"
now we used a standalone DiscoveryServer by configuration discovery.uri  for presto cluster
if the discovery server is down,will cause presto cluster be not available
so how to make this target，thanks for give me some advice

[2018-07-18 14:10] findepi commented on #11070
It does. Bear in mind, however, that: https://github.com/prestodb/presto/issues/7122

HTH

[2018-07-18 14:10] #11070 closed

[2018-07-18 15:33] sopel39 commented on #11025
Partitioning by `x,y` does not satisfy partitioning by `x`.
e.g: you can have data:
[code]
If you partition by `x,y` then `a` rows might land on different machines

[2018-07-18 18:06] rahul9269 commented on #11059
We have multiple queries that faild due to memory limit exceeded for when using order by operators.
Still new to presto, but as i understand all the data is first collected on the coordinator and then the sort takes place and thus breaching the memory limits.

Just curious with the above distributed sort solution, will the memory issue be solved ? or is it just going to provide improvement in quer

[2018-07-18 18:15] dain commented on #11059
@rahul9269 distributed sort uses distributed memory so you can do larger sorts, but there is still a limit.  Is there a reason you need to sort large result sets?  In our installations at FB, we have found that virtually all cases where people were doing large sorts were unnecessary.

[2018-07-18 18:55] brokenjacobs opened #11076 "Hive delete partitions are broken when presto inserts into them first. Presto's S3 driver does not erase HDFS S3A FakeDir blobs when inserting to empty partitions in hive"
See:
https://issues.apache.org/jira/browse/HADOOP-13230

What happens is hive creates the empty partition with a fakedir object. Presto then inserts into the partition without deleting the object. This causes no issues on selects, but if you delete the partition (from hive or via presto -> hive) hdfs thinks the directory is empty, and only deletes the fakedir file, leaving the data. When you reins

[2018-07-18 22:59] martint commented on #11068
[code]

[2018-07-19 03:54] purejade commented on #7338
@amoghmargoor  hi, i am interested the pr #9031.   are you still doing this work?   are there some questions to use this patch? thank you.

[2018-07-19 04:28] MichaelChirico opened #11078 "information_schema queries are slow"
The following query timed out after 60 minutes for me:

[code]

`select count(*) from information_schema.tables` is about 46K; `select count(*) from information_schema.columns` also timed out.

This type of sluggishness is par for the course in my experience with `information_schema` queries (especially on `columns`).

I came across this article just now:

https://www.percona.com/blog/2011/12/23/s

[2018-07-19 05:41] kokosing commented on #11078
0.199 (https://prestodb.io/docs/current/release/release-0.199.html) contains `Improve the performance of queries that use LIKE predicates on the columns of information_schema tables.`
Please try to update and rerun your query.

Is there a similar fix available for Presto?

No. No.

In regards to hive connector. Information schema is just a view over the Hive Metastore. IIRC when you run `select co

[2018-07-19 09:09] taoyouxian commented on #6262
@purejade  Maybe give more memory or clear the cache.

[2018-07-19 09:13] atris commented on #11026
@kokosing I have fixed the comments you gave, please take a look and let me know.

[2018-07-19 09:14] atris commented on #11026
@sopel39 Thanks for mentioning it. This PR does not fix it, I will raise another PR to fix this one.

[2018-07-19 11:58] sajjoseph commented on #7338
During the recent presto summit, one of the presentations had information
about using apache calcite to parse the hive view and generating presto
queries.

On Wed, Jul 18, 2018 at 9:55 PM, purejade <notifications@github.com> wrote:

--
Sajumon Joseph
303-378-0593
sajjoseph@gmail.com

[2018-07-19 16:32] rschlussel2 commented on #11068
[code]

[2018-07-19 16:35] raghavsethi commented on #10812
@findepi Does this still need a fix?

[2018-07-19 18:30] brokenjacobs commented on #11076
Of course... cleaning up existing tables isn't exactly a fun exercise.

[2018-07-19 19:08] dain commented on #7338
The presentation was from LinkedIn and it only works, because they have an internal UDF library that is ported to both Hive and Presto.  Also, they don't try to deal with semantic differences like Hive not failing on arithmetic overflow.  As @electrum  mentioned, doing a correct and safe conversion from Hive to Presto for anything other then super simple queries is extremely difficult.

[2018-07-19 19:15] thoralf-gutierrez commented on #7338
@dain do you consider @amoghmargoor's approach a no-go or could you see it as a practical incremental improvement? It would definitely be useful for everybody using views to hide table versioning (i.e. where your view is a simple UNION of versioned tables with some small changes for some fields).

How do you guys manage this at Facebook? Do you duplicate all your views with a Hive view (for Hive/S

[2018-07-19 19:42] dain commented on #7338
For Presto to support this, there must be an exact guaranteed mapping of the query (we have a rule about always correct results).  I'm not sure about the general language differences, but as we mentioned functions and operators are a big problem.  Someone would need to write extensive tests for any function or operator that would be translated between the systems.  Of specific concern is Hive's ha

[2018-07-19 20:36] findepi commented on #10812
@raghavsethi
as far as Travis is concerned, I think @arhimondr's https://github.com/prestodb/presto/pull/11062 fix the problem.
Regarding the (apparent) root cause -- listeners being attached to `ClusterMemoryManager` by `MemoryAwareQueryExecution` and not being deleted -- I think this still applies.

[2018-07-19 20:43] rahul9269 commented on #10929
This came up today in our team discussion too.
@atris are you still working on it.

[2018-07-19 20:59] wenleix opened #11082 "Clean up legacy special handle for `TRY` expression"
`TRY` function used to have special handling. With https://github.com/prestodb/presto/pull/8889 makes `TRY` to be implemented by desugaring to use `$internal$try`, these special handles are no longer needed.

However it still leaves some trace in the code, such as `PreGeneratedExpressions.tryMethodMap` -- although never used.

[2018-07-19 23:10] atris commented on #10929
Yes, I am working on this and will be posting a design proposal soon

[2018-07-20 02:54] nezihyigitbasi commented on #11068
[code]

[2018-07-20 05:53] kokosing commented on #11068
[code]

[2018-07-20 05:54] kokosing commented on #8604
Fixed with #11013

[2018-07-20 05:54] #8604 closed

[2018-07-20 07:22] nezihyigitbasi commented on #10812
The way listeners are setup in `MemoryAwareQueryExecution` can add lots of work to the `workQueue` of `ClusterMemoryManager.listenerExecutor` by calling `execute()` on it, causing the issue reported above.

I was able to repro a similar issue locally by not closing the `server` in `TestMemoryAwareExecution`, and inserting an infinite loop to `tearDown`, so the test doesn't terminate (effectively d

[2018-07-20 08:07] elonazoulay opened #11089 "Expose ResourceGroupInfo and QueryStateInfo via system tables"
After discussion with @martint and @raghavsethi regarding #10923  the following will be done:
* Expose enough information to reconstruct the query queue
* Calculate the approximate order externally
* Compare to query logs to determine how accurate it is
* If it is accurate then implement inside presto