[2015-08-11 18:05] xerial opened #3441 "-XX:OnOutOfMemoryError=kill -9 %p doesn't work"
When OutOfMemoryError happens (probably caused by this untracked memory usage https://github.com/facebook/presto/pull/3414), JVM option `-XX:OnOutOfMemoryError=kill -9 %p` doesn't  work and presto worker process becomes unstable (i.e., the process looks like working, but actually cannot process any task request because Jetty enters a strange state)

This is probably caused by a bug of JVM https://

[2015-08-11 18:16] cawallin commented on #3441
I believe that Facebook uses the jvmkill agent: https://github.com/airlift/jvmkill.

[2015-08-11 19:08] martint commented on #3441
Yup, that's exactly how we deal with this issue and the reason we wrote the jvmkill agent.

[2015-08-11 19:08] #3441 closed

[2015-08-11 20:18] xerial commented on #3441
Nice solution! This problem has been a headache for us.
I'll try it.

[2015-08-12 07:55] yuananf commented on #856
Great! Looking forward to it.

[2015-08-12 12:49] RobinUS2 commented on #3434
Essentially it's a query consisting of about 700 different (problem seems to relate a bit to what happens   #3431 ) stages, which all seem to start a new thread (or multiple).

We have 24GB of RAM allocated per node.

[2015-08-12 13:07] sopel39 commented on #3423
@cberner You mean tests for ClusterMemoryManager. I have browsed through the code and I haven't noticed any tests that would explicitly test it. Could you point me to a right file? I understand you mean unit tests (not integration) for SqlQueueQueryManager?

[2015-08-12 14:57] liusztc09 commented on #3430
@electrum Thanks a lot David

[2015-08-12 16:07] cberner commented on #3423
I meant `TestMemoryManager.testClusterPools()`

[2015-08-12 16:30] cberner commented on #3434
Ah, I think that's an issue with how the scheduler currently works. Can you try https://github.com/facebook/presto/pull/3016 and see if that fixes it?

[2015-08-13 02:16] dain commented on #3434
The phased execution policy in that patch should fix the problem with everything stating at once, but I would expect that you will run into other problems with having 700 stages.  If it does work, I would love to know.

To enable the phased execution policy set the session property “execution_policy = ‘phased’” or set the configuration parameter "query.execution-policy = phased”.

-dain

[2015-08-13 10:47] RobinUS2 commented on #3434
@cberner @dain  That sounds like something that would improve this indeed. Thanks for thinking with me. I will have to find some time to build from that branch, setup a test cluster and run the queries, which might take a few days.

[2015-08-13 11:54] sopel39 opened #3447 "Proper coercion support for type parameters and computed literals"
We have spotted an issue when trying to implement coercion for DECIMAL type. Consider
`BOOLEAN equal(A a, B b)`
where `A` and `B` is `comparableWithVariadicBound(DECIMAL)`. In such case query:
`12 = DECIMAL 12`
will fail even though `12` can be easily coerced to `DECIMAL(19,0)`.
This is because coercion for type parameters is limited and works only if coercion target is already resolved form other

[2015-08-13 14:06] zhuqunzhou opened #3448 "how to calculate the number of splits"
in my project,i used presto to read data from hive. hive data is orc format.now i have l lot of files（about ten files of 100M size）,when i query ,i need ten seconds to select data from a table.i find that ,presto probably each 30M size a split。i think set litter size of each size of split is effective,but i don't know how to set。（any other ways to optimize my presto config） thanks very much.

[2015-08-13 16:20] cberner commented on #3448
You can change the split size with the "hive.max-split-size" config property
On Thu, Aug 13, 2015 at 7:06 AM zhuqunzhou <notifications@github.com> wrote:

[2015-08-13 16:29] martint commented on #3447
Indeed, this is the kind of problem I assumed we would start seeing once we added more complex features to the type system. The current type system and inference engine are too dumb to handle it (they work bottom up, but what we need is something more powerful modeled as a constraint solving problem and a clear definition of type equivalence and assignability rules).

We've avoided doing this beca

[2015-08-13 20:01] sopel39 commented on #3447
@martint so you suggest to skip coercions for decimals for now (and wait for more powerful engine) or should we try to improve the current mechanism to make it work in the cases described? Maybe if you outline other requirements that the coercion system should support we could propose some more refined approach (we had a modularized type hierarchy in Hadapt). What do you mean by implications of al

[2015-08-13 20:08] dain commented on #3448
Unfortunately, for ORC that may not help. The minimum parallelization size for ORC is an ORC stripe which is typically 100MB, so I would guess each file contains a single stripe and therefore will run on a single core.

-dain

[2015-08-13 20:30] zhuqunzhou opened #3452 "the question of"
in my project,i used presto to read data from hive. hive data is orc format.now i have l lot of files（about ten files of 100M size）,when i query ,i need ten seconds to select data from a table.i find that ,presto probably each 30M size a split。i think set litter size of each size of split is effective,but i don't know how to set。（any other ways to optimize my presto config） thanks very much.

[2015-08-13 20:31] #3452 closed

[2015-08-13 20:47] zhuqunzhou opened #3453 "the optimize of ‘order by’"
i used presto to read data from hive.hive data is orc format.it runs fast if with out 'order by'.but sometime i need to select something with order by one key,then it need a long time to execute.

[code]

how i to optimize my project,optimize sql or optimize hive orc?

thanks very much.

[2015-08-13 20:49] #3433 closed

[2015-08-14 23:21] petroav commented on #3416
@ricdong if this is resolved, can you please close the issue? Thanks!

[2015-08-15 00:20] petroav commented on #3430
@liusztc09 if you consider the issue resolved can you please go ahead and close it? Thanks!

[2015-08-15 01:09] erichwang opened #3457 "ORC Reader Out of range Exception"
[code]

[2015-08-16 05:25] electrum commented on #1851
I updated the links. Looks like this feature will be in PostgreSQL 9.5, which will make testing easier.

[2015-08-16 22:05] #3430 closed

[2015-08-17 03:04] nezihyigitbasi commented on #3227
@danoyoung #3426 is merged, can you please give it a try?

[2015-08-17 04:17] yuananf commented on #3453
This sql should not take long time, because it will use TopNRownumber, try explain it
[code]

[2015-08-17 06:18] wangyue1104 commented on #3453
Just like this
[code]

Query Plan
[code]

Occasionally cause  task exceeded out of max memory with 'order by '

[2015-08-17 06:23] yuananf commented on #3453
Currently this kind of query will not be optimized
[code]
This kind of query will be optimized
[code]
BTW, why you need ```>=0``` here? Row_number will only get positive number.

[2015-08-17 08:42] ashish6976 commented on #2863
Is there any other way to use upper case to query in presto

[2015-08-17 08:55] yuananf commented on #3147
This was fixed now.

[2015-08-17 08:55] yuananf commented on #3068
This was fixed now.

[2015-08-17 08:58] yuananf commented on #1621
Fixed by #3018

[2015-08-17 10:04] yuananf commented on #2036
Taking this one.

[2015-08-17 15:21] #1621 closed

[2015-08-17 15:56] #3147 closed

[2015-08-17 15:56] #3068 closed

[2015-08-17 18:23] nileema opened #3461 "Add stats for raptor_backup_timeout error code"

[2015-08-17 20:25] nileema commented on #3271
Working on this.

[2015-08-18 00:33] dain commented on #2863
@ashish6976 This issues is about changing the current Presto behavior to support full case sensitive identifiers.

From the users perspective, the current behavior of only supporting case insensitive identifiers should just work, unless you happen to have an existing system containing identifiers that only differ in case.  If you are seeing failures when there is only one identifier, please file a

[2015-08-18 07:31] ashish6976 commented on #2863
@dain Here are the scenarios in which I am facing isssues

My MYSQL Server is running on Centos.
I am using presto to query my MYSQL database using MYSQL connector where my catalog name is **mysql**.

## Scenario 1 - DataBase name and Table name is combination of upper case and lower case letters

**Database Name** - TestDB
**Table Names** - EmployeeDetails, EmployeeTable
**Query 1** - show schema

[2015-08-18 14:36] danoyoung commented on #3227
@nezihyigitbasi yes, I've been out of town.  Will try today.

[2015-08-18 17:18] dain commented on #2863
@ashish6976 This is a bug in the mysql connector. Please open a new issue for the mysql connector.

[2015-08-18 18:13] cberner commented on #2554
Here's a test case:

[code]

[2015-08-18 19:06] danoyoung commented on #3227
@nezihyigitbasi I cloned master this morning and build with: mvn clean install -DskipTests

Then I fired up an EMR cluster using the 3.8 AMI to install and configure using my custom Presto version.  I tried to run the queries against the Parquet data stored in HDFS and it still is failing.  I've pasted the output....

https://www.refheap.com/0f4aa60367e5945d1eb62ede2

I can query the data with Hiv

[2015-08-18 19:39] danoyoung commented on #3227
Nevermind.....my bad.  Forgot to set the hive.parquet.use-column-names=true

presto:default> select thing_id,thing_type,event_type,location from conversion_event2 where dt='2015-08-13' limit 10;
 thing_id | thing_type | event_type |               location
----------+------------+------------+--------------------------------------
    15951 | PFS        | RENDER     | ECOMM_GALLERY
    10552 | PFS

[2015-08-18 20:20] #3227 closed

[2015-08-18 21:16] JeffSaxe commented on #3380
Thank you for all your work on Presto; initial tests on our small cluster show it to be not too painful to deploy, and very, very fast.   :-)   Our production Hadoop clusters have mandatory Kerberos turned on, through, so I'm glad to see this issue logged and with nearly 500 other people watching it.

Even though full Kerberos support isn't quite ready, can we (today, in version 0.114) do a tech p

[2015-08-19 02:40] jiugelicun opened #3469 "Why the test instances in TestAnalyzer.java can't be run successfully?"
I want to do some modifications on the Presto code.
I suffer some errors when running com.facebook.presto.sql.analyzer.TestAnalyzer.testInsert (and the other testing instances have the same problem)

The error information is like this:
java.lang.UnsupportedOperationException: not yet implemented
	at com.facebook.presto.sql.parser.AstBuilder.aggregateResult(AstBuilder.java:1036)
	at com.facebook.pr

[2015-08-19 03:09] electrum commented on #3469
Can you post a patch with your changes?

[2015-08-19 05:53] ashish6976 opened #3470 "MYSQL Connector does not identifies Upper Case Database Name and Table Name"
For reference please refer #2863
My MYSQL Server is running on Centos.
I am using presto to query my MYSQL database using MYSQL connector where my catalog name is **mysql**.
## Scenario 1 - DataBase name and Table name is combination of upper case and lower case letters

**Database Name** - TestDB
**Table Names** - EmployeeDetails, EmployeeTable
**Query 1** - show schemas from mysql;
**Output** -

[2015-08-19 06:24] jiugelicun commented on #3469
I didn't make any changes, I ran the source code downloaded directly.
I want to run the test instance successfully first, then modify the code, and test again.
But, the original  test instance can't be run successfully .

[2015-08-19 15:06] joy-yao commented on #3469
Did you do 'mvn clean install' first before you run the test?

[2015-08-19 15:58] jiugelicun commented on #3469
hi joy-yao, thank you for your reply!
I did resolve the maven dependencies first.
But the project lacks several files: SqlBaseBaseListener.java, SqlBaseLexer.java, SqlBaseListener.java and SqlBaseParser.java. I used shell command "antlr4 SqlBase.g4" to generate the 4 files, and then copied them to the package "com.facebook.presto.sql.parser" .
Besides, SqlBaseBaseVisitor.java and SqlBaseVisitor.ja

[2015-08-19 16:27] electrum commented on #3469
The ANTLR sources need to be generated from Maven. You can run `mvn clean install` to do a full building including all the tests (can take 10+ minutes), or do `mvn clean install -DskipTests` to do a full build without tests. If you are working on the parser and want to just build it, do `mvn clean install -pl presto-parser`.

[2015-08-19 16:28] electrum commented on #3469
Do not try to generate the sources manually with the ANTLR command or copy them from anywhere else. As you have found, that will not work :)

[2015-08-19 16:38] martint commented on #3447
No, it's going to take a while to get to a more powerful engine, so we'll have to improve the current mechanism in the way you described.

What I meant is that allowing anyone to define implicit coercions can make it impossible to type-check a query (e.g., if there are cycles), may affect type-checking performance (high polynomial or exponential behaviors), may introduce ambiguity due to overloade

[2015-08-19 21:00] puneetjaiswal opened #3471 "Support to OR'ed predicates in tupleDomain"
Quoting @electrum 's comment in this post https://groups.google.com/forum/#!searchin/presto-users/david/presto-users/gw63DLA86BU/naVRaK6m2uEJ

"Unfortunately, it is not yet possible to pass an OR expression into a connector with the current connector interface. We do plan to support passing arbitrary expressions (and even full queries) into connectors."

There has been some changes around TableLay

[2015-08-19 23:43] electrum opened #3473 "Deleting from a view fails with message "null""
[code]

[2015-08-19 23:47] electrum commented on #3473
This should fail in the analyzer with a proper error message. Longer term, we could support deletion from simple views.

[2015-08-19 23:50] electrum opened #3474 "Inserting into a view fails with wrong error message"
[code]

[2015-08-20 01:54] puneetjaiswal commented on #3471
Closing this.. as I can see OR filters as well in the tuple domain.

[2015-08-20 01:54] #3471 closed

[2015-08-20 02:57] electrum commented on #3469
Please reopen this issue if you need further assistance.

[2015-08-20 02:57] #3469 closed

[2015-08-20 03:00] electrum commented on #3471
To clarify, we support this:

    (a = 1 OR a = 2) AND (b = 3 OR b = 4)

Which is the same as this:

    a IN (1, 2) AND b IN (3, 4)

But not this:

    a = 1 OR b = 2

[2015-08-20 03:07] electrum commented on #3457
This seems to be a corrupt file. Rather than using `Ints.checkedCast`, it should check for out of range and throw `OrcCorruptionException`.

[2015-08-20 03:07] electrum commented on #3457
We should check for other places in the ORC reader that throw the wrong exception.

[2015-08-20 04:54] puneetjaiswal commented on #3471
Thanks for replying so quick @electrum
Do you guys have plan to support the last type of filters [ `a = 1 OR b = 2` ] ?

[2015-08-20 06:36] patelnainesh222 commented on #2326
Thanks

[2015-08-20 16:27] dain commented on #3471
A tuple domain for `a = 1 OR b = 2` is not possible (it only supports `AND` between different columns).  This will be supported when we have push down for arbitrary expressions to connectors.

[2015-08-21 02:58] #3384 closed

[2015-08-21 10:46] danoyoung commented on #2704
@hgschmie any update on getting this merged in?

[2015-08-21 12:33] grepwood opened #3480 "PrestoDB is very slow"
I have Presto connected to at least 10 databases and a few of them perform badly.

There's 2275 rows and I get them via PrestoDB in 6 minutes, but through a native MySQL client I get them in 0.71 seconds. All through the same network connection.

Why is Presto so slow?

[2015-08-21 13:20] KBP-TDC commented on #3480
We are investigating this issue and discussing on IRC, will update later with the findings.

[2015-08-21 17:38] erichwang opened #3481 "Create P4HyperLogLog type"
Our current HyperLogLog type (from airlift implementation) is a dynamic implementation that switches between a sparse HLL and and a dense HLL depending on which one saves more memory. However, the each have different performance and accuracy characteristics.

We should create a new Presto type called P4HyperLogLog that starts and stays strictly as the dense HLL.
- P4HyperLogLog should implicitly c

[2015-08-21 17:54] nezihyigitbasi commented on #3473
@electrum got a fix for this, can you please take a look?

[2015-08-24 10:42] fabregas4you commented on #2704
Hi.
I got a same error " Kafka, error code is '6' " with presto 0.115.

------
2015-08-24T19:30:40.340+0900	WARN	20150824_103040_00018_n8jzd.1.1-0-57	com.facebook.presto.kafka.KafkaRecordSet	Fetch response has error: 6
2015-08-24T19:30:40.354+0900	ERROR	SplitRunner-11-57	com.facebook.presto.execution.TaskExecutor	Error processing Split 20150824_103040_00018_n8jzd.1.1-0 (start = 1440412240333, wall

[2015-08-24 17:54] electrum commented on #3473
Thanks!

[2015-08-24 17:54] #3473 closed

[2015-08-24 19:07] danoyoung commented on #2704
@fabregas4you yes, we still see this issue in the latest version.  @yuananf patch hasn't made it into master yet I believe. For us, this is a pretty important patch. It's nice to be able to use Presto for this as well as querying our Parquet data on S3.

[2015-08-24 23:58] haozhun commented on #3371
@joy-yao It seems you are working on this issue.

[2015-08-25 00:30] fabregas4you commented on #2704
@danoyoung OK. I'll wait and see.

[2015-08-26 03:02] puneetjaiswal opened #3499 "Feature request : inmemory temp table support in Presto"
This is a follow up request from @electrum's reply to this post https://groups.google.com/forum/#!topic/presto-users/5I480n_1nPc

Creating this issue to track development for this task.

It will be great if Presto could provide a way to save output of a query as inmemory temp table.
Something like this (from spark)

`DataFrame teenagers = sqlContext.sql("SELECT * FROM people WHERE age >= 13 AND ag

[2015-08-26 03:32] hgschmie commented on #2704
I wrote some reply on #3000. I hope to find some time to hack on this but I will make no promises.

[2015-08-26 15:19] ilfrin commented on #3447
@martint I'm wondering how important is to have those coercions in short term (ie. implementing this stop gap solution by just adding those specific ones in the way described)? Is it just convenience and ease of use, so that users don't have to do explicit casting, or do some external tools rely on their presence?

Anyway, I think for now we'll just come up with a proposal of some "more powerful e

[2015-08-26 22:18] cberner commented on #3272
Fixed by https://github.com/facebook/presto/pull/3336

[2015-08-26 22:18] #3272 closed

[2015-08-27 19:32] electrum opened #3507 "Filtering for information_schema fails with uppercase"
[code]

[2015-08-28 04:24] miniway opened #3510 "Presto worker start to accept request before Connectors are loaded"
It's rarely happens but we found errors that Connector catalogs or UDFs does not exist at the very beginning of worker restart. It looks like `HttpServer.start` starts to accept requests before plugins are not fully loaded yet.

I've sent a `BootStrap` change request, https://github.com/airlift/airlift/pull/342.

If this pull request is accepted, `loadPlugins` can be surely called before `HttpServ

[2015-08-28 22:30] kaschaeffer opened #3514 "Add ALTER TABLE ADD COLUMN support"
@nileema @electrum going to take a crack at implementing this.

[2015-08-29 01:59] zhenxiao commented on #3514
@kaschaeffer I've add alter table add column support in:
https://github.com/facebook/presto/pull/3037/files
@electrum @nileema any comments are appreciated

[2015-08-30 19:42] zhenxiao commented on #3328
Fixed by https://github.com/facebook/presto/commit/54a24570d440a429f9587342c91631ba69ace362

[2015-08-30 19:42] #3328 closed

[2015-08-31 18:23] martint opened #3522 "Push projections through join"
In some cases, it can be beneficial to push projections through a join. For example, in the following query:

[code]

[code]

The `a + b` expression could be performed before the `CROSS JOIN` to avoid extra computation. In the case of a hash-join, it can help reduce the size of the join table, too.

[2015-09-01 00:10] zhenxiao commented on #3522
@martint may I claim this one?

[2015-09-01 00:11] martint commented on #3522
Sure! We should make sure there's a config option and session property to turn it on until we're comfortable with this optimization being a net positive.

[2015-09-01 00:16] zhenxiao commented on #3522
thanks, get it, will do

[2015-09-02 00:51] #1589 closed

[2015-09-02 01:08] danoyoung commented on #2704
@hgschmie ok, thank you.

[2015-09-02 03:29] yuananf opened #3532 "Filed to read Orc File in our cloud storage"
I was tying to use presto to read our own cloud storage, and I found PrestoS3FileSystem and it's really helpful. So I wrote a similar one to read files in our own cloud storage.

Everything works fine but fails with ORC file, throwing following error
[code]
My case is quite similar with https://github.com/facebook/hive-dwrf/issues/6, but my format is orc not dwrf.
BTW, other file formats works fin

[2015-09-02 04:08] electrum commented on #3532
Hive ORC data is read using `HdfsOrcDataSource` which only uses one method on the `FSDataInputStream`: `readFully(long position, byte[] buffer, int offset, int length)`

My initial guess is that this method is buggy in `PrestoS3FileSystem` and is not used by other file formats. However, this would mean that no one is using ORC with S3, which is surprising, or else it is a rare bug.

How reproducib

[2015-09-02 04:36] dain commented on #3532
The key part of that stack trace are these three calls:
[code]
The system is attempting to create the `OrcReader`.  The first thing the code does is read the file footer which contains a data structure called `PostScript` which is encoded using Protobuf (a binary structure encoding from Google).  When the Protobuf library tries to decode the data, it got an error.  This is normally caused by a cor

[2015-09-02 05:56] yuananf commented on #3532
@electrum I was not using Amazon S3, but using our own cloud storage which is developed by our company.
I think ORC in S3 is ok because Netflix had a report about it http://techblog.netflix.com/2014/10/using-presto-in-our-big-data-platform.html

The problem is always reproducible in my test environment, and always happens on ORC file format, the other file formats are ok(```RCFile, Text, LZO, Sequ

[2015-09-02 06:03] yuananf commented on #3532
@Dain my case is similar to https://github.com/facebook/hive-dwrf/issues/6.
I downloaded the orc file and put it to hdfs, then it can be read without any error. So the file is ok.
I was thinking that maybe I made some mistake on reading our own cloud storage, but the weird thing is other file formats are ok to read.

[2015-09-02 06:12] dain commented on #3532
@yuananf I'd start debugging at `com.facebook.presto.hive.orc.HdfsOrcDataSource#readInternal`, which is the only code `OrcReader` uses to fetch data.

[2015-09-02 06:46] electrum commented on #3532
Are you using the AWS SDK to talk to your cloud storage? S3 supports HTTP Range and we rely on that to do seeks. If your cloud storage looks like S3 but ignores Range that could cause this error.

[2015-09-02 07:53] yuananf commented on #3532
@electrum exactly! It was really my problem, I missed some code when doing seek.
When I fixed it, everything works fine! Thank you very much!

@dain Sorry for bothering you, thank you very much!

[2015-09-02 08:03] #3532 closed

[2015-09-02 17:26] #3271 closed

[2015-09-02 18:28] xalakox opened #3534 "Cassandra connector varInt support for partition fields"
If the partition field data type is varint, you can't query it, either with a string or numeric.

Test Case:

presto:sd> select \* from table where varintfield = 2015081400;
Query 20150902_182532_34172_w573i failed: Operator EQUAL(varchar, bigint) not registered

presto:sd> select \* from table where varintfield = '2015081400';
Query 20150902_174125_32530_w573i failed: Unsupport partition key type

[2015-09-02 18:47] rsolver200 commented on #2467
Hi,
I am trying to read data stored in openstack Swift using Presto (hive-hadoop2 connector).
query: select * from test.table_from_swift limit 10;

error message:
2015-09-02T15:41:41.682Z	ERROR	SplitRunner-3-37	com.facebook.presto.execution.TaskExecutor	Error processing Split 20150902_154116_00002_bgj8g.1.9-3 {path=swift://testbucket.datalake/futuredata-2016-05-02.csv.bz2, start=0, length=51715641

[2015-09-03 14:15] cawallin opened #3541 "Add a way to specify the HDFS user that the Hive connector uses"
As discussed in #3512.

We run hive as the hive user and presto as root. We get an error when writing to `/user/hive/warehouse`:
[code]

And in the server log:
[code]

The directories in HDFS:
[code]

It's unclear the best way to write to the database location (/user/hive/warehouse); Cloudera recommends mode 1777 for /user/hive/warehouse, but that's not necessarily the default, and we can't force

[2015-09-03 18:19] cberner opened #3542 "Fix ArrayType.equalTo to work with comparable, non-orderable types"
This query should work
[code]

but it fails with
[code]

[2015-09-04 05:18] chey-jp commented on #3380
Thank you for your working of presto!
Now I am trying to test via https, but it does not work.
What configuration needs to set up presto via https?
if you have some examples, will you show me?

I set up hadoop https as shown in the following URL:
http://hortonworks.com/blog/deploying-https-hdfs/

and here is the current status:
[Hadoop Lab Env]
test1: without kerberos
bin/presto --server lab.local

[2015-09-04 08:27] damiencarol commented on #3380
Using authentication infos stored in Hive metastore would be good.

2015-07-31 20:31 GMT+02:00 Dain Sundstrom <notifications@github.com>:

[2015-09-04 21:02] mattsfuller opened #3549 "Histogram function with map or array input cancels query"
Getting some odd behavior with the Histogram aggregate function. When I run the query with map or array input, an error message "Query is gone (server restarted?)" is returned.

[code]

Here is the stack trace I see. The Query was definitely not canceled by me:
[code]

Here is an explain plan of one of the queries:
[code]

[2015-09-04 23:56] dain commented on #3549
The `StatementClient` will send a `DELETE` HTTP request when `close` is called.  Maybe there is some error on the client side that is triggering the `close` call.  I would debug the cli.

[2015-09-06 06:49] electrum opened #3553 "Raptor staging directory is not cleaned up when query fails"
Nodes can accumulate quite a lot of dead staging data between restarts.

[2015-09-08 03:58] fabregas4you commented on #2704
@hgschmie Thank you!

Couple of hours ago , update to 0.117  my servers. And looks fine to me so far.

[2015-09-08 15:22] sopel39 opened #3557 "Decimal support in TPCH"
Hi Guys,

As you know we have been working on decimal type for some time. We have implemented decimal using both `long` primitive (for short decimals) and `Slice` (for long decimals). We would like to benchmark decimal type using presto benchmarking mechanism. In order to do so it would be best to use decimal types in TPCH connector. We propose to introduce additional schemas in TPCH connector. We

[2015-09-08 19:33] haozhun opened #3563 "Query with bernoulli tablesample fails in SliceDirectStreamReader"
[code]

[2015-09-08 19:40] haozhun commented on #3563
Rewriting the query from

    select count(*) from table TABLESAMPLE BERNOULLI (1) where ...

to

    select count(*) from table where ... and rand() < 0.01

also fails

[2015-09-08 20:14] petroav commented on #2709
I think this can be closed since #3347 got merged.

[2015-09-08 21:32] #2709 closed

[2015-09-09 00:38] haozhun commented on #3542
@raghavsethi fixes this in #3567

[2015-09-09 00:45] haozhun opened #3568 "GroupBy shouldn't use equalTo"
This query fails because `Type.equalTo` is used instead of `is distinct from` in group by. However, `is distinct from` as is implemented today is not an operator.

[code]

[2015-09-09 00:46] haozhun opened #3569 "`is distinct from` does not provide expected result for arrays containing null"
`select array[1] is distinct from array[cast (null as bigint)]` should return false. It fails now.

[2015-09-09 01:25] haozhun opened #3570 "Remove `equalTo` from `Type`"
`equalTo` does not handle null properly. It has been superseded in new code by operators. The only code left that uses `equalTo` are
- `TypedHistogram`
- `StreamingIndexedData`
- `TupleFilterProcessor`
- `ArrayIntersectFunction`
- `RowEqualOperator`
- `MapType.KeyWrapper`
- `TypeUtil.positionEqualsPosition`
  - `SimplePageHashStrategy`
  - `TypedSet`
- delegate from other equalTo, and test code

T

[2015-09-09 09:38] zhuqunzhou opened #3571 "more splites more fast?"
if i set the size of splite lower,presto will splite more number,and the speed of query change faster.(read data from hive)

[2015-09-09 09:46] teejteej commented on #2923
Is there a workaround to know which files to remove from storage if a complete schema with all tables can be dropped?

[2015-09-09 14:51] cberner commented on #3571
Yep. If you're querying a small amount of data then reducing the size of the splits can help you achieve increased parallelism. The recommended way of doing this is via `hive.max-initial-splits` and `hive.max-initial-split-size` this way only the first N splits will have a small size and if you run a query over a larger amount of data the split size will be larger again (which keeps overhead low).

[2015-09-09 14:51] #3571 closed

[2015-09-09 15:34] electrum commented on #2923
As a general note, Raptor should currently be considered experimental. When we feel it is ready for everyone to use, we will document and publicize it.

I am adding transactional logging of every object created by Raptor, which will allow safe online storage reclamation.

It is possible to manually delete all the shard files for a dropped table (if you have a list from before it was dropped), but

[2015-09-09 15:37] zhuqunzhou commented on #3571
@cberner  ：
    If I set up  `hive.max-split-size ` and  ` hive.max-initial-split-size`  and `hive.max-initial-splits ` , presto will be how to deal with the query ? If my server is configured well, it is not the  `hive.max-split-size ` set to be smaller and faster.

Thank you very much.

[2015-09-09 16:38] cberner commented on #3571
The first N (where N = `hive.max-initial-splits`) will use size `hive.max-initial-split-size`. After that `hive.max-split-size` will be used

[2015-09-09 17:12] martint opened #3572 "Planning error in UNION query that requires coercions"
[code]

[code]

[2015-09-09 22:06] #3572 closed

[2015-09-10 05:30] electrum opened #3582 "NPE in Raptor ShardEjector"
[code]

[2015-09-10 10:03] Sartner opened #3583 "string(varchar) operation in ORCFile Table, runs too slow"
hello~~

I have a presto cluster with 9 servers, one of them is the coordinator without worker
each server have 16 cpu cores and 128g ram (32g give to presto);

when I execute the SQL, it runs too slow(below 200M/s)
select count(distinct a_string_column) from T_an_ORCFile_table_with_a_billion_rows;

an other TextFile table with the same data, runs well (more than 4GB/S)

both of the table without

[2015-09-10 16:02] losipiuk opened #3584 "ORC reader slow/unstable for big stripe-level dictionaries"
We encountered very poor performance and presto instability when reading ORC files using dictionary encoding in case when dictionary is large.

Seems like culprit is copying dictionary for each read batch of data in
`SliceDictionaryStreamReader` around line 185:

[code]

The change came in revision https://github.com/facebook/presto/commit/b18ca67d477c881ea173fcebebb223fcba511929

The code is fine

[2015-09-10 17:53] dain commented on #3583
How do they compare in rows per second?

In the case of a text file, Presto must read 100% of the file, select out the column you are performing distinct on, and then discard the data.  With ORC, Presto only reads the one column.  Additionally, ORC files are gzip compressed which typically makes them 4-10x smaller.  Given both of these, 200MB of ORC may contain more column values than 4GB of text

[2015-09-10 23:59] nileema commented on #3584
We copy the dictionary because we try to reuse the dictionary array across multiple reads. We can change it so that it creates a new dictionary array for every read. Then we wouldn't need to copy the dictionary. We would prefer to keep it as a dictionary (instead of flattening it out) as it will let us do more optimizations (across pages sharing the same dictionary).

[2015-09-11 06:54] Sartner commented on #3583
i have run the sql for 30s

in ORCFile table
0:33 [ 258M rows, 3.25GB] [7.71M rows/s, 99.4MB/s]

in TextFile table
0:30 [ 819M rows,  102GB] [26.9M rows/s, 3.36GB/s]

[2015-09-11 09:54] pnowojski commented on #3584
What do you mean across multiple reads? Between different orc stripes? Do you refer to this part of the SliceDictionaryStreamReader?

[code]

To hot fix our use case, we have removed this second if check and we removed this Arrays.copyOf mentioned by @losipiuk . It indeed fixed performance/stability issue for us, but we are not sure if such change can brake something? It could if something somewhe

[2015-09-11 16:47] dain commented on #3583
One other thing that happens with ORC is because the compression is so much better than text, you can end up with less files.  So you end up having more cores than you have splits.  If you run the CLI with the --debug option it will show you the stats per node and the number of CPUs you are using.

[2015-09-11 17:32] haozhun commented on #2452
@raghavsethi is working on this.

[2015-09-11 18:49] dmoore247 opened #3592 "Better BI tool compatibility, ignore auto-commit settings."
Pentaho BA server blows up when creating a table data source.

I believe that the JDBC driver code throws SQL Not supported exception when auto-commit is being turned off (after looking at code with Cristina).

I think for better tool compatibility it would be good to ignore auto commit settings since there really is only one mode.

<img width="1440" alt="screen shot 2015-09-11 at 2 45 25 pm" src=

[2015-09-11 19:06] dmoore247 commented on #3592
My driver is from the .101T release.

The responsible source code:
https://github.com/facebook/presto/blob/d81c2f6fc6dd614492012d233a397afd743af712/presto-jdbc/src/main/java/com/facebook/presto/jdbc/PrestoConnection.java

 @Override
    public void setAutoCommit(boolean autoCommit)
            throws SQLException
    {
        checkOpen();
        if (!autoCommit) {
            throw new SQLFeatur

[2015-09-11 19:41] cawallin commented on #3592
@dmoore247  -- I was looking into this more, and I think you will quickly run into other issues after turning auto-commit mode to false. Presto does not support transactions, and thus does not support commit()/rollback() in the JDBC connection (which presumably Pentaho uses if it's turning auto-commit mode to false).

[2015-09-12 00:09] electrum commented on #3333
Recently added to JLine: https://github.com/jline/jline2/blob/master/src/main/java/jline/console/WCWidth.java

[2015-09-12 16:38] electrum commented on #3333
This is also broken for control characters:
[code]

[2015-09-13 04:06] electrum commented on #3333
Fixed in #3596 (will open a separate issue for control characters)

[2015-09-13 04:06] #3333 closed

[2015-09-14 07:55] zhuqunzhou opened #3597 "presto can select data from cassandra's memtable?"
i used presto to select data from cassandra,but i found that,cql in cassandra can select data real time,but presto can not.

anyone can tell me why?

[2015-09-14 07:59] Sartner commented on #3583
But how to solve the problem?
Now, I have no choice but to keep the table in two types(ORC and TextFile), and select these two tables in my java program.

[2015-09-14 08:47] #3597 closed

[2015-09-14 09:38] kokosing commented on #3158
Shouldn't this issue be closed, as #3161 is closed and merged? Is there anything left to be done here?

[2015-09-14 15:21] #3158 closed

[2015-09-14 18:18] cberner commented on #3164
This still needs to be implemented

[2015-09-14 19:05] cberner opened #3599 "audit `new Duration` callsites"
It's not safe to call `new Duration` with a value derived from `System.currentTimeMillis()` as that clock can move backwards. All calls to `new Duration` should be using a value derived from `System.nanoTime()`

[2015-09-14 20:04] nileema opened #3600 "Predicate push down for inner joins"
- Predicate push down on simple joins adds a redundant filter node (eg: https://gist.github.com/nileema/96943fab53f6f16c0af8)
- Predicate push down with hash optimization turned on adds unnecessary additional projection nodes in the plan which cannot be merged because these are references in the join predicates. It seems unnecessary to add these additional predicates to the join node https://gist.

[2015-09-14 22:23] electrum opened #3602 "Raptor database errors not categorized"
We need a wrapper like `DatabaseShardManager.runTransaction()` for everything that touches the metadata database, both in `DatabaseShardManager` and in `RaptorMetadata`, that throws a proper `PrestoException`.

[code]

[2015-09-14 22:56] cberner opened #3603 "Hive connector: sort bucketed tables not handled correctly"
User on mailing list reported that reading from a sort bucketed table does not work properly: https://groups.google.com/forum/#!topic/presto-users/PjohcRjcbZw

We need a test for this case in `AbstractTestHiveClient`

[2015-09-15 00:27] zjshen commented on #3164
I'd like to take care of this issue.

[2015-09-15 06:48] mombergm commented on #856
@electrum Do you know in which future release aircompressor would be?

[2015-09-15 16:56] dain opened #3608 "Query cancel in CLI no longer works"
Pressing `ctrl^c` in the CLI no longer cancels a query.

[2015-09-15 17:47] zjshen commented on #3164
Here's my fix. Please let me know if I'm doing it on the right way. Thanks!

https://github.com/facebook/presto/pull/3610

[2015-09-15 20:58] gazing-star commented on #3146
I ran the query with Presto version 0.115, and verified that this does NOT result into creating empty files any more. What remains to be done is the code optimization (i.e. taking care of the TableWriterNode's that are being created). In light of the re-designing of the optimizer, I assume that this will be taken care of soon?

[2015-09-15 23:19] cberner commented on #3381
This is a bug in airlift: https://github.com/airlift/airlift/issues/349

[2015-09-16 15:06] electrum opened #3617 "Remove ordinalPosition from HiveColumnHandle"
I noticed this field is unused while reviewing #3377, but it should be removed after that code has landed so as to avoid conflicts.

[2015-09-17 04:23] #3019 closed

[2015-09-17 19:41] haozhun opened #3620 "Implement max_by and min_by with an additional `n` parameter"
#3261 added support for `n` parameter to `max` and `min` functions. We also want `n` parameter for `max_by` and `min_by` functions.

* Your implementation will need to extend `TypedHeap` to allow additional data for heap elements. (maybe subclass TypedHeap?)
* Your implementation will also add `AbstractMinMaxByNAggregation` which should be similar to `AbstractMinMaxNAggregation`.
* Your implementa

[2015-09-17 19:58] amrutagokhale opened #3621 "Add support for GRANT and REVOKE"
Add authorization support on the SQL front-end.

[2015-09-17 20:03] gazing-star commented on #3621
I am looking at implementing this feature.

[2015-09-17 20:10] electrum opened #3622 "Uncategorized error from DatabaseShardManager"
`DatabaseShardManager.commitShards()` should use the `runTransaction()` helper

[2015-09-17 20:27] electrum opened #3623 "Replace NativeCodeLoader in shaded Hadoop builds"
Hadoop `NativeCodeLoader` always logs warnings about not loading the native code and we use some hacky reflection in `HadoopNative` to make it work. It would be cleaner just replace the class with our own compatible version.

[2015-09-18 02:25] electrum opened #3626 "Support DISTINCT for aggregate window function parameters"

[2015-09-18 16:38] cberner opened #3629 "TestStateMachine.testSetIf() fails non-deterministically"
This happens pretty frequently on Travis, so likely is some kind of race

testSetIf(com.facebook.presto.execution.TestStateMachine)  Time elapsed: 0.253 sec  <<< FAILURE!
java.lang.AssertionError: expected [true] but found [false]
	at org.testng.Assert.fail(Assert.java:94)
	at org.testng.Assert.failNotEquals(Assert.java:494)
	at org.testng.Assert.assertEquals(Assert.java:123)
	at org.testng.Assert

[2015-09-18 18:38] dain commented on #3629
This is likely because the task started at `com/facebook/presto/execution/TestStateMachine.java:273` is not starting quickly enough on Travis.  The solution should be something like :
[code]

[2015-09-18 21:38] #2960 closed

[2015-09-19 04:31] #1434 closed

[2015-09-19 13:22] danoyoung commented on #2704
@hgschmie This still seems to be broken in 0.118.  Still unable to query a Kafka Topic.

[2015-09-19 20:39] cberner opened #3634 "Split scheduling causes scalability bottleneck on large clusters"
The split scheduler is by far the largest consumer of CPU on large active clusters:

As reported by perf:
[code]

[2015-09-21 10:50] sopel39 opened #3637 ""Entering secondary queue failed" when greater than maxQueued queries enter queue for which they have slots reserved"
Consider queues:

[code]

Then we start two queries at the same time. Two slots will be reserved in `dashboard.${USER}` queue. Due to the current implementation of the queues, the queries will first be enqueued in the `dashboard.${USER}` (even though one of them could be immediately started). In this case, `queryQueueSize` will be 2 and greater than `maxQueued`. This will cause `Entering secondary

[2015-09-21 11:52] kokosing commented on #3637
I will try to solve this issue.

[2015-09-21 19:42] #3629 closed

[2015-09-22 04:26] yuananf opened #3646 "Duplicate DistinctLimitNode in query plan"
When explain distinct limit query, the plan looks like below
There are duplicate DistinctLimit in the plan.
[code]

[2015-09-22 07:37] baigd opened #3647 "Report a possible race issue"
Hi, Developers of facebook/presto,

I am writing to report a race issue on use of ConcurrentHashMap. The issue is reported by our tool in an automatic way. Although manually confirmed, it would be a false positive, given we do not know the specification of the program. We would very appreciate if you could check below for details and confirm with us whether it is a real problem. For more informati

[2015-09-22 11:25] grepwood opened #3648 "Passwords with diactric characters are not parsed correctly"
I had a connector with a password containing the letter ö. Via native MySQL client, I was able to connect with the username and password supplied in the .properties file, but PrestoDB could not access anything.

[2015-09-22 14:22] electrum commented on #3647
https://github.com/facebook/presto/blob/master/presto-blackhole/src/main/java/com/facebook/presto/plugin/blackhole/BlackHoleMetadata.java

[2015-09-22 16:00] losipiuk commented on #3647
It seems to me that synchronization in BlackHoleMetadata class is not needed at all. Even if all accesses to `tables` map were done in synchronized section we could still run into race conditions on metadata access.

To avoid that we would need add synchronization mechanisms in *Task classes (e.g. CreateTableTask) or even higher in DataDefinitionExecution.

The downside of that is that ConnectorMe

[2015-09-22 17:58] dain commented on #3648
Presto uses the java.util.Properties (http://docs.oracle.com/javase/7/docs/api/java/util/Properties.html) class to parse this file.  You should be able to encode unicode characters using the Java escape form (e.g. `\u0009` for a tab)

[2015-09-22 18:15] martint commented on #3648
java.util.Properties uses ISO 8859-1 encoding by default. We might want to change the loader to decode the files with UTF-8.

[2015-09-22 19:02] cberner opened #3653 "Expression optimization does not handle non-deterministic functions correctly"
`select rand(), rand();` results in two identical values

[2015-09-22 19:07] nileema opened #3654 "Exception on CLI"
[code]

[2015-09-22 23:29] raghavsethi commented on #3620
Claiming this.

[2015-09-23 09:57] Sartner commented on #3583
@martint  @joshk  @electrum  @dsp
do you have any idea?

[2015-09-23 20:12] gupta2007vaibhav opened #3662 "not able to install package"
rpm -ivh presto-server-rpm-0.120.SNAPSHOT-1.x86_64.rpm
error: presto-server-rpm-0.120.SNAPSHOT-1.x86_64.rpm: headerRead failed: hdr load: BAD
error: presto-server-rpm-0.120.SNAPSHOT-1.x86_64.rpm cannot be installed

[2015-09-23 20:19] cawallin commented on #3662
What is the version of rpm that you're trying to use? We found a bug with redline (the pure Java RPM library we use) and contributed a fix back (https://github.com/craigwblake/redline/pull/94), but have not yet gotten that propagated through the redlinerpm-maven-plugin.

[2015-09-23 20:38] gupta2007vaibhav commented on #3662
RPM version 4.11.1

[2015-09-23 20:49] cawallin commented on #3662
You can download the redline-maven-plugin (https://github.com/spaulg/redlinerpm-maven-plugin/), update the redline version number to 1.2.2 and the redline-maven-plugin version to something higher than 1.0, compile it and install it in maven (https://maven.apache.org/guides/mini/guide-3rd-party-jars-local.html), and then change the redline-maven-plugin dependency in the pom.xml of presto-server-rpm

[2015-09-23 21:03] cberner opened #3663 "Optimize ORC reader when reading small stripes"

[2015-09-23 22:04] dain commented on #3583
My guess that ORC is compressing the data so much that it all ends up in a small number of small files.  Presto parallelizes the based file chunks based on size.  If your ORC files are much smaller than the TEXT files you are comparing against, there will be less parallel workers applied to the data.  You can verify this by running the queries in the Presto CLI with the `--debug` option, which wil

[2015-09-24 00:50] martint opened #3666 "CLI doesn't reset properly with multi-line query in debug mode"
Steps to reproduce:

1. Run cli with --debug
2. Run a multi-line query
3. CTRL-C

The output will look like:

[code]

[2015-09-24 07:27] yingted opened #3668 "Rename NumericHistogram.computePenalty's parameters"
In:
https://github.com/facebook/presto/blob/d81c2f6fc6dd614492012d233a397afd743af712/presto-main/src/main/java/com/facebook/presto/operator/aggregation/NumericHistogram.java#L314

[code]

The names `value2` and `weight1` should be swapped. The function is right, but `value2` refers to the first (left) weight and `weight1` refers to the second (right) value. This can be seen at:
https://github.com/

[2015-09-24 07:34] yingted commented on #3668
Also:
[code]
Is exactly the same as:
[code]

[2015-09-24 10:57] RobinUS2 commented on #2372
I wanted to give you an update, I have build a plugin which implements the BloomFilters above:
https://github.com/RobinUS2/presto-bloomfilter

Would be great to hear your thoughts!

[2015-09-24 16:45] haozhun opened #3670 "Implement copyPositions for AbstractArrayBlock and AbstractInterleavedBlock"
`copyPositions` was introduced in #3346 for dictionary block compaction. At the time, it was only implemented for blocks where dictionary compaction could happen. Last week, #3605 changed OrcReader to return Blocks instead of Vectors. It introduced a new use case for copyPositions: remove positions in map blocks whose key is null. This require that `copyPosition` be implemented on all blocks.

[co

[2015-09-24 17:12] rschlussel commented on #3662
If you specify version 1.2.2 of redline-rpm as a dependency in the pom.xml of presto-server-rpm, you should be able to directly override the redline-rpm version that redlinerpm-maven-plugin uses (see http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Transitive_Dependencies).

[2015-09-24 23:18] dain opened #3674 "Add "authenticated" flag in HTTP UI if session principal set"
Add an indicator to the UI if the user has been authenticated and there is a principal in the session.

[2015-09-25 04:01] yuananf opened #3677 "presto 0.119 can not get table info from mysql database."
We face the same problem as
https://groups.google.com/forum/#!topic/presto-users/fY_p3uwhWHM

[2015-09-25 08:35] kokosing commented on #3647
Simple approach of fixing that would be to try implement transaction-like
metadata storage with using ConnectorSession.getStartTime() as transaction id (txid)
Then session with higher txid would need to wait for all
operations with lower txid to finish.

What do you think about it?

[2015-09-25 09:33] kokosing commented on #3424
Here you have described differences between `DELETE FROM` and `TRUNCATE` in PostgreSQL - http://stackoverflow.com/questions/11419536/postgresql-truncation-speed/11423886#11423886
@KBP-TDC  It looks like `DELETE FROM` with no predicate is more efficient there as it does not perform any `VACUUM` operations.

[2015-09-25 09:42] kokosing commented on #3145
It looks like @Myrthan has stopped working on this, so if she/he does not mind I can continue his work and take over this.

[2015-09-25 19:39] gupta2007vaibhav commented on #3662
I did the changed to pom.xml as below.
 69                     <plugin>
 70                         <groupId>uk.co.codezen</groupId>
 71                         <artifactId>redlinerpm-maven-plugin</artifactId>
 72                         <version>1.2.2</version>
 73                         <extensions>true</extensions>

but there is no packages available for this.
[INFO] Scanning for projects...
[

[2015-09-25 19:42] cawallin commented on #3662
So, the redlinerpm-maven-plugin was updated (https://github.com/spaulg/redlinerpm-maven-plugin/issues/1).

It's unclear whether to update to the new plugin at this point -- since the new version of redline doesn't work for rpm < 4.6 -- but you can just change the plugin version to 1.1 for redlinerpm-maven-plugin in the pom.xml.

[2015-09-25 22:34] #3670 closed

[2015-09-26 00:21] gupta2007vaibhav commented on #3662
Thanks a lot it works.!

[2015-09-26 21:25] electrum commented on #3376
Fixed in 5533f227ee09543a5574f338380856f2bc02d61e

[2015-09-26 21:25] #3376 closed

[2015-09-28 08:52] kerti commented on #3654
Happens to me also. Seems to be happening under the following conditions:
1. The query has some results, and I immediately press Q to exit the viewer.
2. I define the JSON schema for the tables I am querying, adding just the `kafka_key` field as described here: https://prestodb.io/docs/current/connector/kafka-tutorial.html

[2015-09-28 18:08] haozhun commented on #3315
Fixed by #3366.

[2015-09-28 18:08] #3315 closed

[2015-09-29 21:00] #3542 closed

[2015-09-30 05:57] ricdong opened #3690 "How to save/export result into Hdfs in Presto shell?"
How to save the output of SQL statements to HDFS in Presto shell client ? is there any semantic like the hive `insert overwrite [local] directory '/tmp/output/...' select * ... ` ?

[2015-09-30 20:41] raghavsethi opened #3693 "Fix complex map rendering in CLI"

[2015-09-30 23:33] raghavsethi opened #3694 "Fix casting of complex types to JSON"

[2015-10-01 06:42] justinjose28 commented on #1851
Any tentative date for this new feature in presto?

[2015-10-01 15:43] cberner commented on #1851
Nothing concrete, but we tentatively plan to have someone work on this before the end of the year

[2015-10-01 18:05] electrum opened #3697 "Optimize Raptor metadata tables if only table_name is specified"
If we specify `table_name` but not `table_schema`, it should only iterate over matching tables (in all schemas).

[2015-10-01 20:49] saileshmittal opened #3699 "Fix error when reading a nested struct with missing optional fields in Parquet"
To reproduce, have the schema like this, with the "firstOptionalInt" missing, and "secondString" as some string bigger than 8 characters. and run a select * query on it.

    (justFirstNonImportantThing BIGINT,
     aNestedStruct STRUCT(
            firstOptionalInt BIGINT,
            secondString STRING))

The relevant part of stacktrace looks something like this:

    Caused by: java.lang.Illeg

[2015-10-03 02:43] Ravion opened #3704 "HttpConnector Not Fetching Data: Failing with "unable to create class com.facebook.presto.execution.TaskInfo from JSON response""
All,
Spend quite about a day to figure out the problem, but unable to nail down.
1) Created example.properties in etc/catalog as below:-

[code]

2) Started presto server and executed the command line client with catalog example

3) Please refer to the following output:

[code]

But when we execute below, no luck. Is this a bug?

[code]

4)  I thought that , may be the URL is not giving "applicati

[2015-10-03 21:40] nileema commented on #3697
This is already implemented.

[2015-10-03 21:40] #3697 closed

[2015-10-06 07:38] francescopalmiotto commented on #1970
IMHO supporting Hive ACID tables is a must-have feature.
AFAIK there's no query engine around that can query them, Presto could be the first!

[2015-10-06 17:14] haozhun opened #3713 "Failure when window function is used in `having` gives unclear error message"
I'm not sure if this is legal SQL. But either way, the failure message is not proper.

[code]

[2015-10-06 17:47] haozhun opened #3714 "Invalid plan produced for this query"
`EXPLAIN SELECT APPROX_PERCENTILE(0.5,x) med_x, AVG(x) avg_x FROM (values 1, 2, 3) t(x);`

[code]

[2015-10-06 17:55] haozhun opened #3715 "Bad error message for query"
Related to #3519. cc @nileema

`select if(x>5, (1, 2), null) from (values 3) t(x);`

[code]

[2015-10-07 00:04] electrum commented on #3713
This is not valid SQL, since window functions are evaluated on the result of HAVING.

[2015-10-07 00:25] raghavsethi commented on #3674
Pushed.

[2015-10-07 00:25] #3674 closed

[2015-10-07 00:25] raghavsethi commented on #3620
Pushed.

[2015-10-07 00:25] #3620 closed

[2015-10-07 00:28] raghavsethi opened #3718 "Fix 'IN' functionality for large sets of overloaded raw types"

[2015-10-07 16:34] cberner opened #3721 "Document table properties syntax"
Could you add docs to the CREATE TABLE and CTAS sections?

[2015-10-07 17:25] petroav commented on #3662
@gupta2007vaibhav if the issue has been solved, can you go ahead and close the issue? Thanks!

[2015-10-07 19:11] cosinequanon opened #3722 "Autocomplete in CLI is slow"
If there are a lot of tables to match then the CLI blocks for a long time trying to figure out all the possibilities. If there are 200k tables then this takes about 30 seconds, we should try and reduce how long this takes.

[2015-10-07 19:12] cosinequanon opened #3723 "Autocomplete in CLI does not go through a pager"
If you have a lot of possible matches for autocomplete then the results are printed without a pager. If there are a lot of results this can take a non-trivial amount of time and is a bad user experience.

[2015-10-07 20:05] petroav commented on #3599
I'll claim this if no one is working on it.

[2015-10-07 20:21] martint commented on #3599
Go for it!

[2015-10-07 20:32] petroav commented on #3163
I think this can be closed.

[2015-10-07 20:41] raghavsethi commented on #3163
Yes, we have solved all the problems we know of related to IN lists.

[2015-10-07 20:41] #3163 closed

[2015-10-08 13:47] colino commented on #1970
I agree, it will be very useful to support Hive ACID tables

[2015-10-08 14:06] justinjose28 commented on #2086
Hi,

We ran into this same issue while running queries concurrently. A single query to a hive table like 'select count(*) from true_metric_table' takes 1 sec. If there are two concurrent requests, it takes almost 2 seconds and if I run 'N' such queries concurrently, it almost takes N*Time taken for one request.

We are using presto version 0.118 and our hive table contains 130 million records stor

[2015-10-08 15:30] dain opened #3731 "Clean up temp directory after CREATE or INSERT in Hive"
After the CREATE or INSERT for Hive finished, the temp directory will have some left over empty directories.  For example, I ran 4 insert commands and was left with:
[code]

The cleanup code in the `HiveMetadata` should attempt to remove the empty temp directories after the command complete (either successfully or by failure).

[2015-10-08 16:09] cberner commented on #2086
What is the average CPU usage in your cluster when running one query? Presto is designed to use 100% of the CPU, so if 1 query uses it all, then it's expected that N queries would take N times as long

[2015-10-08 17:18] raghavsethi commented on #3718
Merged #3709.

[2015-10-08 17:18] #3718 closed

[2015-10-08 21:25] electrum opened #3734 "Views created with uppercase column reference cannot be queried"
The bug seems to be related to column references:

[code]

Note that the following works:

[code]

[2015-10-08 21:42] electrum opened #3735 "Regex fails with ArrayIndexOutOfBoundsException"
[code]

[2015-10-09 01:23] cberner opened #3736 "Improve and simplify failure detector model and config"
The failure detector uses the `failure-detector.threshold` config, which is very difficult to reason about as it's the area under an exponentially decayed curve. We should use a model which is easier to understand and replace this config. Also, the failure detector doesn't have an HTTP timeout which means that it misses "failures" where the worker is stuck in a full GC.

I would suggest switching

[2015-10-09 03:50] martint commented on #3736
This is a bit more complicated. One of the goals of the current implementation is to deal with cases where only *some* requests fail, maybe intermittently. It checks for the ratio of failures vs total requests to account for the fact that some may fail and some may succeed in a given period of time.

I believe what we need is something along the lines of what's described in the "Phi accrual failur

[2015-10-09 05:01] cberner commented on #3736
:+1:

[2015-10-09 16:07] #3637 closed

[2015-10-09 19:09] electrum opened #3740 "Automatic conversions for literals"
It would be nice if this worked:

[code]

[2015-10-09 19:31] #3474 closed

[2015-10-09 19:32] electrum commented on #3602
Fixed in 357f579737acee52e540ae4eabaeccb52717f9c8

[2015-10-09 19:32] #3602 closed

[2015-10-09 19:42] martint commented on #3740
I don't think this is a good idea. It amounts to allowing implicit coercions between types that would normally not be allowed in some contexts. Unless we can clearly describe what's the general rule, it's going to be a problem to reason about and do safely.

For example, given that bigint implicitly casts to double, how should this be resolved if `x` is bigint?

[code]

Would 1.0 be implicitly con

[2015-10-09 19:53] #3274 closed

[2015-10-09 23:41] raghavsethi commented on #3694
Same solution as #3693

[2015-10-09 23:41] #3694 closed

[2015-10-10 18:48] martint commented on #3690
The closest you can get is to create another table with your results:

```CREATE TABLE xxx AS SELECT ...```

You can export data to a local directory by invoking the CLI with `--execute` or `--file` (though, what out for https://github.com/facebook/presto/pull/3463)

We've also been considering adding a new connector that can read/write from distributed filesystems (s3, hdfs, etc) without the need

[2015-10-10 18:48] #3690 closed

[2015-10-10 18:51] martint commented on #3653
This is by design, sort of. It's modeled after what postgresql does, although, it's arguably an odd behavior.

[2015-10-10 18:54] martint commented on #3608
@dain, is this still an issue?

[2015-10-10 19:00] dain commented on #3608
This was fixed a while ago.

[2015-10-10 19:00] #3608 closed

[2015-10-10 19:01] martint commented on #3549
I think this is due to a bug in the way maps with complex keys are serialized/deserialized between the coordinator and the CLI. See:

https://github.com/facebook/presto/pull/2740
https://github.com/facebook/presto/pull/3745

[2015-10-10 19:02] martint commented on #3549
Closing as duplicate of https://github.com/facebook/presto/issues/3693

[2015-10-10 19:02] #3549 closed

[2015-10-10 19:05] martint commented on #3514
Code already merged, closing.

[2015-10-10 19:07] martint commented on #3480
@KBP-TDC any updates?

[2015-10-10 19:18] martint commented on #3421
No, number of files written or touched by a given developer are not a good measure of whether they are more "important" than others to the project. There is a lot of shared knowledge in the team (as a result of design discussions, code reviews, etc.) that are not captured by those metrics.

[2015-10-10 19:18] #3421 closed

[2015-10-10 19:19] #3416 closed

[2015-10-10 19:21] martint commented on #3297
Closing as duplicate of #3201

[2015-10-10 19:21] #3297 closed

[2015-10-10 19:23] martint commented on #3246
Code already merged

[2015-10-10 19:23] #3246 closed

[2015-10-10 19:29] martint commented on #3009
Closing as duplicate of #1508

[2015-10-10 19:29] #3009 closed

[2015-10-10 19:30] martint commented on #2923
@electrum this is already supported, no?

[2015-10-10 19:32] martint commented on #2886
This doesn't seem to happen any more, closing.

[2015-10-10 19:32] #2886 closed

[2015-10-10 19:33] martint commented on #2861
This is already implemented

[2015-10-10 19:33] #2861 closed

[2015-10-10 19:38] martint commented on #2755
'JSON' format for explain is no longer supported. We may introduce it later with a revised implementation.

[2015-10-10 19:38] #2755 closed

[2015-10-10 19:40] martint commented on #2650
The new scheduler code is in, closing. Please reopen if you see it again.

[2015-10-10 19:40] #2650 closed

[2015-10-10 21:11] #3514 closed

[2015-10-10 21:15] electrum commented on #2923
No, I am working in this now.

[2015-10-11 04:36] sqlcook commented on #3654
same problem, here is a basic query against a sample table:

presto-cli --catalog hive
presto> use default;
presto:default> show tables;
   Table
-----------
 sample_07
 sample_08
(2 rows)

Query 20151011_043327_00012_vs6yp, FINISHED, 2 nodes
Splits: 2 total, 2 done (100.00%)
0:00 [2 rows, 60B] [22 rows/s, 674B/s]

presto:default> select count(*) from sample_07;
 _col0
-------
   823
(1 row)

Quer

[2015-10-11 18:14] #3647 closed

[2015-10-12 14:54] KBP-TDC commented on #3480
I believe the problem was solved by moving Presto to the same data center as the MySQL instance (or the other way around). @grepwood could you please confirm so that we can close this ticket?

[2015-10-12 19:33] dain opened #3751 "Benchmark driver should set max query runtime"
To handle bugs and run away queries, the benchmark driver should set the max query runtime session property.

[2015-10-12 20:12] electrum opened #3752 "Respect Hive immutable table property for inserts"

[2015-10-13 17:34] raghavsethi commented on #3714
The second argument of `approx_percentile` should be the percentile, not the first. So this query *should* fail, but with this: `com.facebook.presto.spi.PrestoException: Percentile must be between 0 and 1`.

[2015-10-13 18:57] raghavsethi opened #3755 "RFC - JSON serialization of maps in query results"
## Underlying issue
When a client talks to the Presto server to fetch query results, the server produces a JSON document in response. Presto serializes maps to JSON objects, which are only allowed to have string keys. When a map contains complex (list, map, row) keys, Presto currently uses `toString` on the key. For example:

    MAP(ARRAY[ARRAY(1,2), ARRAY(3,4)], ARRAY[ARRAY['a'], ARRAY['b']])

i

[2015-10-14 07:03] pnowojski commented on #3755
Why in Step 2 are you considering mixed support of maps? Why can't client introduce to server, which version it supports and server would respond always in older or newer version - never mixed? I think that's more common way of solving such issues, because it preserves backward compatibility in the transition period.

Support for older version could be preserved at least as long, as the maintenanc

[2015-10-14 09:18] GregBowyer opened #3758 "Error using DBvisualiser"
Hi all, looks like the following query

[code]

Makes the following exception
[code]

Using parquet files on hdfs via hive if that helps.

[2015-10-14 11:37] losipiuk commented on #3755
+1 for @pnowojski proposal. We already have protocol version support in the urls. Let's just create new (v2) protocol which differs on how maps are serialized to client.

[2015-10-14 12:16] grepwood commented on #3480
@KBP-TDC We haven't done that. Instead, my manager wrote an optimized SQL connector for Presto and it's doing alright.

[2015-10-14 13:29] petroav commented on #3480
@grepwood it sounds like you found a solution, can you close the ticket when you get a chance?

[2015-10-14 14:37] #3480 closed

[2015-10-14 15:22] KBP-TDC commented on #3480
@grepwood : if you care to share what / how did you optimize the connector, it might be useful for the community.

[2015-10-14 18:39] electrum commented on #3758
Fixed in #3760

[2015-10-14 18:39] #3758 closed

[2015-10-14 21:58] electrum commented on #3704
This can be reproduced simply by starting the server with the development config and running a query:
[code]

[2015-10-15 04:25] joy-yao commented on #3634
Merged in https://github.com/facebook/presto/pull/3685.

[2015-10-15 04:25] #3634 closed

[2015-10-15 07:26] uranusmars opened #3763 "We find a bug when mysql table name have "_""
The problem is when mysql have "_" in the table name the  "escapeNamePattern" function change the name.
So the sql can`t run on mysql.
In the file  presto-mysql/src/main/java/com/facebook/presto/plugin/mysql/MySqlClient.java    line 93  to line 97.
For example:  table "aaa_bbb" change to "aaa\\_bbb" .
The bug find above release 0.119.

[2015-10-15 07:53] GregBowyer commented on #3758
Many thanks for the fast turnaround

[2015-10-15 16:21] mbeitchman opened #3764 "Make the CachingHiveMetastore use the IMetaStoreClient interface instead of directly calling the ThriftHiveMetastore client"
Change the CachingHiveMetastore to use the IMetaStoreClient interface instead of directly calling the ThriftHiveMetastore client. This allows for the CachingHiveMetastore implementation to use other implementations of the IMetastoreClient interface without having to change any code
in the CachingHiveMetastore implementation.

Corporate CLA completed by Amazon.

[2015-10-15 16:54] electrum commented on #3764
Is this a feature request or something you plan to work on?

[2015-10-15 18:14] mbeitchman commented on #3764
I sent the pr which you've seen.

[2015-10-15 18:52] raghavsethi commented on #3714
It's interesting that the ordering of expressions also matters:
[code]
results in a casting error:

[code]

[2015-10-15 19:44] frsyuki commented on #3755
We had another problem with JSON. JSON can't serialize NaN. Presto serializes NaN using String (`"NaN"`). So we needed to handle unexpected string value in double column.

How about using [MessagePack](http://msgpack.org/) as a drop-in replacement of JSON? MessagePack can use any objects as keys of maps, and can serialize NaN.

For backward compatibility, Presto can return MessagePack only when a

[2015-10-15 21:28] dain opened #3770 "IndexOutOfBoundsException from generated aggregation code"
Saw this in production once.  I think it might be cause by an empty page.
[code]

[2015-10-15 22:15] cberner opened #3771 "Implement CREATE TABLE LIKE"
This should copy the columns and table properties from the old table and create a new table with the given name and the same columns and table properties.

Example: `CREATE TABLE my_new_table (LIKE my_old_table)`

[2015-10-15 22:15] cberner commented on #3771
@suyucs is going to work on this

[2015-10-15 22:17] martint commented on #3771
The proper syntax is `CREATE TABLE <table name> (LIKE <table name>)`

[2015-10-15 22:36] martint commented on #3771
Technically speaking, it supports multiple LIKE clauses and it can be interleaved with regular column definitions, but let's not worry about that for now

[2015-10-15 22:42] martint commented on #3771
The relevant part of the SQL grammar is:

[code]

[2015-10-15 22:59] electrum commented on #3771
I think we should also support the common non parenthesized form, just like we do for AS SELECT.

[2015-10-15 23:10] martint commented on #3771
I'd rather we didn't try to jam that in for now. The semantics of LIKE are different from AS SELECT. For instance, you can do:

[code]

Trying to support the non parenthesized form will require some contortions in the grammar, potentially introduce ambiguities or make it harder to add the full syntax later.

[2015-10-16 00:23] cberner commented on #3770
Do you know how to reproduce this?

[2015-10-16 00:33] dain commented on #3770
We talked offline and this is not a real issue.

[2015-10-16 00:33] #3770 closed

[2015-10-16 01:28] raghavsethi commented on #3646
@martint It looks like you do create a nested DistinctLimitNode here https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/AddExchanges.java#L548
It seems like it's deliberate.

[2015-10-16 03:27] komamitsu commented on #3755
https://github.com/komamitsu/jackson-dataformat-msgpack is already merged into https://github.com/msgpack/msgpack-java/tree/v07-develop/msgpack-jackson. So I recommend to use `org.msgpack:jackson-dataformat-msgpack`.

BTW, https://github.com/FasterXML/jackson-databind/blob/master/src/main/java/com/fasterxml/jackson/databind/deser/std/StdKeyDeserializer.java doesn't support complex types as a key.

[2015-10-16 16:55] martint commented on #3646
Heh, that's definitely not intentional. I guess the code was missing a `return` inside the if.

[2015-10-16 17:26] haozhun opened #3776 "Delete all content from unpartitioned table"
Run `delete from an_unpartitioned_table`, it should either fail or delete all content. Right now, it completes but doesn't do anything.

[2015-10-16 18:13] #3242 closed

[2015-10-16 18:16] mbeitchman commented on #3764
I will send a new pr with the approach we discussed.

[2015-10-16 18:25] haozhun commented on #3242
Fixed by #3261 and #3681

[2015-10-16 18:55] electrum opened #3778 "Predicates not pushed into ColumnJdbcTable"
Calling `DatabaseMetaData.getColumns()` with all arguments will issue a query like this:

[code]

When debugging `ColumnJdbcTable.cursor()`, only the `table_cat` and `table_name` columns (0 and 2) are present in the `TupleDomain`.

[2015-10-16 19:05] dain opened #3779 "Optimizer duplicating nondeterministic functions"
The `rand()` call in the following query is getting duplicated for some reason.
[code]

[2015-10-16 19:09] raghavsethi commented on #3779
Related to #3653.

[2015-10-16 19:10] raghavsethi commented on #3779
@martint we should discuss both of these issues.

[2015-10-16 20:37] brianseo517 opened #3780 "CREATE TABLE AS & CAST( --- as date) Does not work correctly in conjunction"
presto:default> select '2015-10-01', cast('2015-10-01' as date);
   _col0    |   _col1
------------+------------
 2015-10-01 | 2015-10-01

presto:default> create table zzz_presto_bug as select '2015-10-01' as d1, cast('2015-10-01' as date) as d2;
presto:default> select \* from zzz_presto_bug;
     d1     |     d2
------------+------------
 2015-10-01 | 2015-09-30

When creating a table and casting

[2015-10-16 20:53] joy-yao commented on #3371
The fix is in https://github.com/facebook/presto/pull/3636

[2015-10-16 20:54] joy-yao commented on #3173
This is fixed in https://github.com/facebook/presto/pull/3636

[2015-10-16 20:54] joy-yao commented on #2606
This is fixed in https://github.com/facebook/presto/pull/3636

[2015-10-16 20:55] joy-yao commented on #2554
This is fixed in https://github.com/facebook/presto/pull/3636

[2015-10-16 21:14] kadaan opened #3781 "Create Table As fails with nested columns"
Running a query like:

[code]

results in the following error:

[code]

[2015-10-16 21:25] cberner commented on #3781
This is a feature actually. You need to specify a column name for your columns. For example:

[code]

[2015-10-16 21:32] electrum commented on #3781
The intention is to require column names for un-named projections like `SELECT 123` or `SELECT x + 1` where we don't actually have a name and would have to make one up. But for qualified column names, we actually do have a name. Also, these queries are equivalent:
[code]
If we wanted to require explicitly naming every column, we should require it for unqualified names as well:
[code]

[2015-10-16 23:10] martint commented on #3781
Although the issue reported above is slightly different. The column in the underlying table is named `m`, but it's a structural type, so it has fields `d1`, `d2` and `d3`. Today, we infer output column names based on the column name in the source relation.

[2015-10-16 23:31] electrum commented on #3781
Oh, I didn't see it is a structural type. Though  I think the same reasoning applies. No need to re-declare all the names since we already have valid names (no need to generate any).

[2015-10-16 23:51] martint commented on #3781
I agree. In fact, a table is no more than a collection of values of a structural type matching the schema of the table, so they should behave identically.

[2015-10-17 01:42] zhenxiao commented on #3776
may I claim this one?
seems like delete is optimized to metadataDelete, and in metadataDelete it only deletes partitions
I think exposing partitions in connector is not in the plan, is it?
How about drop the table and delete the data, then create an empty table?

[2015-10-17 05:36] electrum commented on #3776
This a correctness issue. We need to fix it before releasing the new delete code.

[2015-10-17 08:20] haozhun commented on #3776
@zhenxiao Your understanding of how delete works right now is correct. Sorry the title was misleading. When I filed the task, I didn't have anything concrete in my mind on which direction the fix should be (make the unpartitioned delete work, or make it fail loudly). It seems like there is no easy solution to make the unpartitioned delete work. Therefore, I implemented a fix to make it fail loudly

[2015-10-17 21:42] zhenxiao commented on #3776
@haozhun thank you for the explanation. Sure. Will ping you when I have other questions.

[2015-10-18 21:10] nsabharwal commented on #3654
Facing the same issue

presto> select * from default.presto_hive_test;
                             note
--------------------------------------------------------------
  Presto is accessing Hive table. Thanks FB for creating this
(1 row)

Query 20151018_211002_00023_uvnc3, FINISHED, 1 node
Splits: 2 total, 2 done (100.00%)
0:00 [1 rows, 61B] [8 rows/s, 535B/s]

presto> select * from default.presto

[2015-10-18 22:44] nsabharwal commented on #3110
I had the same issue and in my case, I forgot to put the node.properties in the worker node.

[2015-10-19 05:46] Liorba opened #3786 "using hive parquet table with date partition"
Hey I'm using AWS EMR distribution of presto  (version 0.119) and when trying to read data from a hive parquet table which has date type partition I'm getting an error (see below), when advised with aws support they said I need to change the partition filed type to string instead of date.

does presto support date fields partitions?

Thanks
Lior.

the HIVE create table statement:

CREATE external

[2015-10-19 16:04] electrum opened #3787 "Update hive-hadoop2 to latest Hadoop client"
We are currently using Hadoop 2.2.0. Current version is 2.7.1.

[2015-10-19 16:43] dzakarov commented on #3787
I think this ticked will be a good addition to presto.
RIght now this feature https://hadoop.apache.org/docs/current/hadoop-project-dist/hadoop-hdfs/TransparentEncryption.html is not supported, presto gets encrypted file content and throws exception in case of binary formats like orc.

[2015-10-19 19:07] #3164 closed

[2015-10-19 19:36] cberner commented on #2433
@drudenko is going to look at this

[2015-10-19 19:36] dain commented on #3776
To implement this, can't we just walk the directory and delete the data files like we do in the rollback methods?

[2015-10-19 19:37] cberner commented on #2433
Take a look at `WindowPartition`, you might want to look at `WindowOperator` too

[2015-10-19 19:49] haozhun commented on #3776
@dain If we are going to implement that, should we implement row-by-row delete instead.

[2015-10-19 20:18] electrum opened #3790 "Handle NoSuchFileException in FileStorageService.deleteDirectory"
Directory deletion can fail if something else is also deleting the staging directory.

[2015-10-19 20:20] haozhun commented on #3776
@zhenxiao Go ahead and implement it if you are still interested. What @dain suggested seems to be a good solution.

[2015-10-19 20:22] zhenxiao commented on #3776
Thanks @dain @haozhun. sure. I will do it following @dain 's suggestion

[2015-10-19 20:27] dain commented on #3776
Make sure to skip the hidden files.  IIRC they start with `.` or `_`.

[2015-10-19 21:12] zhenxiao commented on #3786
Currently does not support date partitions, I've just sent a PR to fix it:
https://github.com/facebook/presto/pull/3791
Let's wait for the review, and you could ask EMR to backport this PR.

[2015-10-19 21:49] cawallin commented on #3780
This looks like a timezone issue.  What time zones are the Presto CLI, the Presto server and the Hive server running in?

[2015-10-19 23:01] brianseo517 commented on #3780
Presto CLI - PDT, Presto Server - PDT America/Los Angeles, Hive Server - PDT

[2015-10-19 23:19] martint opened #3793 "CREATE TABLE does not validate table properties"
This should fail, but it executes successfully:

```CREATE TABLE foo (x varchar) WITH (invalidproperty = 5)```

[2015-10-20 00:29] zhenxiao commented on #3776
@haozhun @dain get a PR:
https://github.com/facebook/presto/pull/3794
Your comments are appreciated

[2015-10-20 07:32] xcrossed commented on #856
the lastest version 0.122
Caused by: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:497)
	at com.facebook.presto.hive.H

[2015-10-20 07:38] xcrossed commented on #856
Hello @electrum  , have you fixed this problem? Anyone knows how to fix it?

Caused by: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.inv

[2015-10-20 07:44] xcrossed commented on #856
@electrum  Hello, have you fixed this problem? Anyone knows how to fix it?

Caused by: java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at com.google.common.base.Throwables.propagate(Throwables.java:160)
	at com.facebook.presto.hive.HiveUtil.isSplittable(HiveUtil.java:253)
	at com.facebook.presto.hive.BackgroundHiveSplitLoader.loadSplits(BackgroundHiveSplitLoader.java:233)

[2015-10-20 09:08] xcrossed commented on #856
https://groups.google.com/forum/#!topic/presto-users/_Fe9YrZ3gYg can fix it

[2015-10-20 14:39] dzakarov commented on #3787
I was able to build presto-hadoop-apache2 with hadoop 2.7.1 dependencies, and it seems working with ecrypted hdfs.

[2015-10-20 17:47] haozhun opened #3796 "Add `CREATE TABLE IF NOT EXISTS AS`"
Related to #2108.

[2015-10-20 23:22] #3646 closed

[2015-10-20 23:55] raghavsethi commented on #3714
Merged #3772.

[2015-10-20 23:55] #3714 closed

[2015-10-21 01:19] raghavsethi commented on #2452
Merged #3595.

[2015-10-21 01:19] #2452 closed

[2015-10-21 17:43] #3764 closed

[2015-10-21 17:43] mbeitchman commented on #3764
fixed https://github.com/facebook/presto/pull/3785

[2015-10-21 17:49] electrum opened #3800 "Allow specifying list of columns for INSERT"

[2015-10-21 17:51] martint opened #3801 "Validate partitioned_by table property"
Ensure that columns listed in partitioned_by table property for Hive connector are valid table columns.

E.g., this should fail:

[code]

Related to https://github.com/facebook/presto/issues/3793

[2015-10-21 19:56] nezihyigitbasi commented on #3780
[This](https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveWriteUtils.java#L181-L183) code snippet is the root cause I believe. The following fixes the problem:

[code]

@dain Can you please confirm whether this is the right fix? If yes, I can create a PR for it.

[2015-10-21 21:09] martint opened #3803 ""Table not found" errors are improperly recorded as metastore call failures"
They bump the counters `HiveMetastoreApiStats` for calls to `getTable`

[2015-10-22 06:50] dain commented on #3780
That looks correct, but it would be nice to have a test that can reproduce this.  Maybe we can reproduce by modifying TestHiveIntegrationSmokeTest#createTableAs to have a DATE column.

-dain

[2015-10-22 07:07] chaisencs opened #3807 "About kafka connector---how to query latest N message efficiently?"
As the title, I use "select * from ${tableName} order by _partition_id desc, _partition_offset desc limit 50" to get the latest 50 messages and this query executed about 90 seconds. How to do this more efficiently?

[2015-10-22 12:15] kokosing commented on #3056
@electrum I want to take this task, but can you elaborate a little bit more about the issue? When I browse UI I see query not formatted at all is summary section (query printed as a single line) so there is no tabs at all?

[2015-10-22 12:22] kokosing commented on #1195
I will take this one.

[2015-10-22 13:20] haitaoyao opened #3808 "build failed on tag: 0.123 , dependency-analyze error"
Hey, guys.
There must be error on dependency configuration in pom.xml on tag: 0.123.
How can I build the release? Thanks.

Here's the error message
[code]

[2015-10-22 14:00] haitaoyao commented on #3808
There's a lot more maven error while packaging the distribution, mostly maven check error.
I'm working on the pull request to fix it.

I wonder how the other guys generate the distribution.

[2015-10-22 15:07] electrum commented on #3808
We use the Maven Release plugin which does the build, tests and tagging all automatically.

[2015-10-22 15:09] electrum commented on #3056
This tasks is for the query detail page when the original query has tabs in it.

[2015-10-22 15:11] electrum commented on #1195
This requires a new API on the server or adding placeholders to the parser and doing it in the driver.

[2015-10-23 05:18] kokosing commented on #1195
Yes, I was doing the latter. Anyway, I was told that in Teradata there is ongoing effort to provide ODBC/JDBC, so I think it will better if I switch to other task. I don't know what is going to be supported and when exactly, but I would prefer to wait for that before doing this ticket.

[2015-10-23 08:39] kokosing commented on #3056
I think that to solve this issue I need to use parser to format the query, because I cannot just replace all the tabs to spaces as tabs could take part in query, like:

[code]

[2015-10-23 10:18] albertoRamon commented on #3433
Hello

any solution to this ??

prestoDB use Hive's Indexes ?

[2015-10-23 11:21] losipiuk commented on #2797
@dain, @cberner, @sopel39

Just quick comment to make sure we are on the same page.
I am working on defining multiple versions of same scalar function for different type representations of parameters/return type using annotations instead of builder.

Take a look at those 2 snippets and please confirm if you still believe annotation version is better (there is some repeating code there).

annotatio

[2015-10-23 11:34] kokosing commented on #3800
I can take this one.

[2015-10-23 17:28] parul-agarwal commented on #2878
I am also facing this issue.Is this issue fixed?

[2015-10-23 17:44] dain commented on #3433
Presto currently does not understand Hive indexes.

[2015-10-23 17:53] dain commented on #2797
One question on the annotation version, how does the return type work given the both parameters are decimal(p,s)? I would have thought that each parameter would have different argument names like this: @SqlType("decimal(ap,as)") Slice a, @SqlType("decimal(bp,bs)

-dain

[2015-10-23 18:39] albertoRamon commented on #3433
a lot of thanks ¡¡

have a nice weekend

2015-10-23 19:44 GMT+02:00 Dain Sundstrom <notifications@github.com>:

[2015-10-23 20:28] joy-yao opened #3815 "SHOW PARTITIONS FROM <table> is slow"
SHOW PARTITIONS FROM table is slow if there are many partitions.

Talked to Chris, and we'll introduce a map to avoid duplicate computation.

[2015-10-23 20:38] joy-yao commented on #3815
https://github.com/joy-yao/presto/commit/bfbc7b11757346f9012844168a1c4f70ef1f3f46

[2015-10-23 22:18] losipiuk commented on #2797
For handling mixed types we would need to pass extra scaling arguments and define more java functions for each operator. In similar way it is done in current DECIMAL PR using builder.

My outtake from discussion in Boston was that want to avoid defining all the possible versions, and depend on automatic coercion, which will cast both parameters to their common supertype.

e.g.

`add(x, y)` where `

[2015-10-24 17:46] martint opened #3823 "Planning failure for group by query with field dereference"
Given a table with the following shape:

[code]

This query:
[code]

Fails with:
[code]

If `key` is no de-referenced, the query works fine. This works on version 0.123, so this could be related to the changes in db5ea9183412656f9cbf2e8a9302666ac323143d

[2015-10-24 17:51] cberner commented on #3823
@joy-yao was looking into this

On Sat, Oct 24, 2015, 10:46 AM Martin Traverso <notifications@github.com>
wrote:

[2015-10-24 17:53] martint opened #3824 "Analysis error when referencing column from subquery"
The following query

[code]

Fails with

[code]

This works in version 0.123, so it could be related to the changes in db5ea91.

[2015-10-24 18:01] #3803 closed

[2015-10-24 18:17] martint opened #3825 "Planning error for query with HAVING clause"
The following query:

[code]

Fails with:
[code]

This works in version 0.123

[2015-10-24 18:25] martint commented on #3825
I bisected it to this commit: db5ea9183412656f9cbf2e8a9302666ac323143d

[2015-10-24 18:54] #2606 closed

[2015-10-24 18:54] #3173 closed

[2015-10-24 18:55] #3371 closed

[2015-10-24 18:55] #2554 closed

[2015-10-25 06:04] #3663 closed

[2015-10-25 08:15] jhsbeat opened #3826 "Handling null value from json data."
We're using PrestoDB as a log analytics storage using **AWS S3**.
The log data is stored S3 as a **json** string in the form like below:

[code]

The problem is that PrestoDB recognize the value of the key "c['e']" as a **'null' string** not a **real null value**. It only occurs in nested objects not the first level key such as "b".
So the records are not shown in the results of a query such as `w

[2015-10-25 21:04] Cidan opened #3827 "NullPointerException when reading parquet data from S3"
I've exported about 350 million records from our Cassandra database to S3 using Spark in parquet format. I then created an external table in our stand alone Hive/Hadoop cluster that points to this data, however Presto is throwing errors when certain columns are selected.

Our setup is like so:

* n Cassandra servers running Spark on top of them.
* n Hadoop servers running hive 0.13.1
* 30 Presto w

[2015-10-25 23:25] zhenxiao commented on #3827
Which presto version are you using?
Would you please try a custom build with this PR? Presto has problem reading parquet files with null values in complex types, this PR probably fix it:
https://github.com/facebook/presto/pull/3700

[2015-10-25 23:26] Cidan commented on #3827
@zhenxiao I actually -just- fixed this entire issue by setting `hive.parquet.use-column-names=true`. That being said, is there a similar option for ORC? I ran into a similar issue using ORC.

[2015-10-25 23:31] zhenxiao commented on #3827
@Cidan great you get it working. Aha, that setting is enable access parquet files by column name, instead of by column ordinal position. Seems like you do not have complex types at all. I think ORC is always accessing columns by column index, not sure about the details, let's ask @dain
Just curious, did you evert do alter table rename to your table or alter table add columns to your table? Or ther

[2015-10-25 23:35] Cidan commented on #3827
@zhenxiao No, we've never altered the table to rename it or add columns in any way. The error I get is actually a bit different using ORC:

[code]

[2015-10-26 00:11] electrum commented on #3827
Could you send us sample Parquet and ORC files that reproduces the issue, along with the Hive CREATE TABLE statements that match the sample files? We might be able to guess the problem based on the stack trace, but having files that cause a crash will be much easier.

How are you writing this data? With Hive?

[2015-10-26 00:20] Cidan commented on #3827
@electrum The parquet issue was solved with `hive.parquet.use-column-names=true`. I can't send sample data over, unfortunately.

I'm writing the data using Spark.

[2015-10-26 05:59] caojia opened #3828 "Does presto support Hive with AvroSerde"
I have a hive table, created by avro schema.

Here is an example from Hive's official document. My question is, does presto support avro serde? When I query the hive table, I got HIVE_CURSOR_ERROR error.

[code]

Thanks!

[2015-10-26 20:29] joy-yao commented on #3815
Merged.

[2015-10-26 20:29] #3815 closed

[2015-10-26 23:03] anupash147 opened #3834 "create external hive table execution failing"
Hi,

The otherday i was able to create and delete external table from data on s3.
But today i tried the same procedure with a different table name but it failed

error message
presto:default> create external table test (a STRING);
Query 20151026_225840_00002_4mjn7 failed: line 1:8: no viable alternative at input 'create external'
create external table test (a STRING)

debug log from the server.log

[2015-10-26 23:13] nezihyigitbasi commented on #3834
Presto doesn't support the keyword `external` that's why your query cannot be parsed. In fact, currently the tables created by Presto are `managed` tables. I have an outstanding PR (#3810) to add support for creating `external` tables with create table as select statements.

[2015-10-26 23:19] nezihyigitbasi commented on #3834
Also `STRING` is not a valid Presto type, please see the Presto documentation for the valid types. So your query should look like

[code]
and it will create a `managed` Hive  table.

[2015-10-27 01:34] electrum opened #3836 "Large IN lists substantially slower than unioned smaller lists"
[code]

vs

[code]

The column `a` is a `bigint` and the values are all larger than 32-bit. The cutoff is around 100, but can be higher: in one test one of the unioned lists had 101 values.

These should both be generating using `HASH_SWITCH` in `InCodeGenerator`, so it might be a JVM issue due to the larger switch size or code size. We should benchmark for different sizes and compare it to the Fa

[2015-10-27 02:03] raghavsethi commented on #3836
Interesting.. I was wondering why we settled on the 1000 cutoff for the Fastutil set.

[2015-10-27 02:34] electrum commented on #3836
There is a bytecode size limit, so we can't do much larger. But we should benchmark if the hash switch is ever faster.

[2015-10-27 03:33] dain commented on #3828
We had one person asked about Avro a couple years ago, and I looked into it.  Getting the remote schema thing working was not straight forward, so I asked them if it was possible to rewrite it in another format (Avro is one of the slowest formats).  They were able to rewrite the data, and it hasn't really come up again.

[2015-10-27 03:44] haitaoyao commented on #3808
@electrum I think the release plugin didn't use  the dependency plugin to check  the dependencies.
Shall I submit a PR for this?
Thanks.

[2015-10-27 04:11] caojia commented on #3828
Thanks dain. We'll look into other formats...

[2015-10-27 04:11] #3828 closed

[2015-10-27 05:44] sunli1223 commented on #3763
yes, the 0.123 version still have this problem .

[2015-10-27 07:23] nareshk355 opened #3838 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.14:test (default-test) on project presto-main"
$ mvn -X clean install

Results :

Tests run: 0, Failures: 0, Errors: 0, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] presto-root ........................................ SUCCESS [  5.109 s]
[INFO] presto-spi ......................................... SUCCESS [ 13.710 s]
[INFO] presto-client .......................

[2015-10-27 09:57] yuananf opened #3839 "Is CountConstantOptimizer broken?"
I saw https://github.com/facebook/presto/pull/1516, but when I tried I got the following result:
[code]
So it seems this optimizer is not working, correct me if I am wrong.
@dain @martint @erichwang

[2015-10-27 10:41] kokosing commented on #3800
@electrum @martint

I am working on this, currently I have added support for this to SQL parser and things around it. This was an easy part.

 As for planning and execution I am thinking about adding new plan node and operator (ColumnMappingNode and ColumnMappingOperator), this would be a step which would map query output columns into a table columns using specified columns in insert into query. I

[2015-10-27 11:59] kokosing commented on #3800
It seems that new operator and plan node is not needed. I think I can reuse a ProjectNode for this.

[2015-10-27 12:35] chaisencs commented on #2704
@hgschmie  0.123. Same problem.

[2015-10-27 15:26] anupash147 commented on #3834
ok.. Got it .. So i have to get the ddl like the table creation in hive and then access it via presto.
Correct me if wrong.

Thanks for your reply.

[2015-10-27 15:26] #3834 closed

[2015-10-27 16:25] martint commented on #3800
@kokosing, using a ProjectNode is exactly how you'd do it :)

[2015-10-28 00:23] Cidan commented on #3827
I'm closing this issue as the original issue is fixed. I'll open another one for the ORC error I'm seeing.

[2015-10-28 00:23] #3827 closed

[2015-10-28 08:41] kokosing commented on #3763
I can take care of this bug.

[2015-10-28 08:42] kokosing commented on #3763
This is the same as #3677

[2015-10-28 08:43] kokosing commented on #3677
@martint I think we can close it as a duplicate of #3763

[2015-10-28 10:28] kokosing commented on #3763
@uranusmars `_` have to be escaped as it a wildcard which `represents any single character`, see: http://docs.oracle.com/javase/7/docs/api/java/sql/DatabaseMetaData.html#getSearchStringEscape()

I tried to reproduce it but with no success, everything seem to be working as expected. Here is my test which was expected to reproduce the issue, but it is passing: https://github.com/Teradata/presto/comm

[2015-10-28 10:36] kokosing commented on #3662
@martint I think you can close this issue as it seems to be solved.

[2015-10-28 10:37] kokosing commented on #3731
I can take this one.

[2015-10-28 11:21] nareshk355 opened #3849 "facing issue while building presto-docs OSError: [Errno 20000] Unknown error: 20000: '/home/test/presto/presto-docs/target/html'"
[code]

traceback log file

[code]

please look into issue and help me to resove it

[2015-10-28 12:36] kokosing commented on #3731
Pull request to fix this: https://github.com/facebook/presto/pull/3851

[2015-10-28 13:38] kokosing commented on #1292
Currently above query returns different error:
[code]

This error is raised during the planning:
[code]
@cberner @dain So it looks like as it is already fixed and can be closed if I not missed anything.

[2015-10-28 13:48] kokosing commented on #3617
@electrum This field is already removed (even by you) so you can close this ticket.

[2015-10-28 16:19] #3617 closed

[2015-10-28 20:26] electrum commented on #3849
It seems to be failing when trying to create the directory `/home/test/presto/presto-docs/target/html`. Can you do an `mvn clean` and try again?

[2015-10-28 20:29] electrum commented on #3849
Also, please show the output of running `mvn -V clean`

[2015-10-28 20:32] electrum opened #3856 "Cleanup Raptor files in OrcStoragePageSink"
The `rollback()` method should delete all local files in both the staging and storage directories (the `commit()` method might have failed halfway through moving the files from staging to storage).

[2015-10-29 01:08] jcowanpdx opened #3858 "Seeing RemoteNodeMemory warnings in coordinator server.log"
Seeing many of the following WARNings in the coordinator server.log after a 0.123 upgrade:

2015-10-28T23:54:53.004Z    WARN    query-management-0    com.facebook.presto.memory.RemoteNodeMemory    Error fetching memory info from http://10.93.7.37:8080/v1/memory: java.util.concurrent.TimeoutException
2015-10-28T23:54:56.015Z    WARN    http-client-shared-103    com.facebook.presto.memory.RemoteNode

[2015-10-29 06:17] nareshk355 commented on #3849
I have tried running mvn clean and all but still getting same errors.

and here is output of mvn -V

test@pts00449-vm4:~/presto/presto-docs$ mvn -V
Apache Maven 3.3.3 (7994120775791599e205a5524ec3e0dfe41d4a06; 2015-04-22T17:27:37+05:30)
Maven home: /usr/local/apache-maven-3.3.3
Java version: 1.8.0_45-internal, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-8-openjdk-ppc64el/jre
Default lo

[2015-10-29 06:43] electrum commented on #3849
It looks like you're running on ppc64. Presto only supports x86_64 on Linux (required for bundled Hadoop JNI libraries) and has many assumptions about the architecture being little endian.

This docs issue might be due to the JNI libraries from the Jython version used by the Maven Sphinx plugin. For now, I suggest you skip that module by removing it from the root pom.xml file.

[2015-10-29 07:29] #3838 closed

[2015-10-29 09:47] kokosing commented on #2878
I can take this one if nobody is already working on this.

[2015-10-29 13:45] kokosing commented on #2878
I think that simply solution to support uncorrelated scalar subqueries (that not using outer tables and return single row with one column) could be a following rewrite:

From
[code]
to
``
WITH sub1 AS (
  SELECT nationkey FROM nation WHERE NAME ='ALGERIA' LIMIT 1
)
SELECT n.nationkey, n.name, n.regionkey, n.comment
FROM nation n, sub1
WHERE n.nationkey = sub1.nationkey;
[code]

[2015-10-29 14:06] kokosing commented on #2878
It looks like a workaround, I am not sure about performance (execution) of it as join order may have importance here.

[2015-10-29 14:57] martint commented on #2878
Correlated subqueries are a lot more complicated and require some rearchitecting of the analyzer and planner to support without too many hacks.

For uncorrelated subqueries, yes, that's exactly how you'd modeled them. But two things:
* It has to ensure the scalar subquery produces exactly one value (or fail otherwise)
* It needs to execute as a broadcast join. Otherwise the query will turn into a

[2015-10-29 16:03] ghost opened #3859 "Regex improvements"
We are creating this issue in order to explore and find an alternative to the current regular expression library used by the regexp_ functions. It is intended to overcome the computing overhead when worst case backtracking is involved. Other regular expression libraries such as RE2 has attempted to avoid the slowdown present in the backtracking based regex libraries.

For this purpose, we have exp

[2015-10-29 16:42] cberner commented on #3859
This all sounds great! My only feedback is that I think it would be better to split the regexp_* functions into two sets of functions (maybe regexp_* and extended_regexp_*), rather than toggle the library via a session property.

[2015-10-29 16:54] martint commented on #3859
@cberner, no, we don't want users to have rewrite their queries in order to choose one implementation over the other. The idea with the session property is that we can turn it on gradually for testing. Once we're satisfied with the new implementation, we remove the property/config/old regex implementation.

[2015-10-29 17:19] kkc00 commented on #3859
Thanks @cberner and @martint for the comments. Our use of SESSION variable will definitely require review. We will put up the code changes for review soon in coming days. In the meantime, we will update the issue post above with performance numbers and other details. Also, if you find anything we might need to include in the above issue post, please let us know.

[2015-10-29 21:47] electrum opened #3860 "NPE in HivePageSink"
[code]

[2015-10-29 21:50] miniway opened #3861 "PageTooLargeException at Pages fetch"
I encountered PageTooLargeException with a simple query like `select * from tab` having hundreds of `bigint` columns.

`PartitionBuffer.getPages` returns from queued pages to the max size. But the size calculation is based on the Page's memory bytes not from encode bytes.

A quick solution is considering pages encoding margin and making `sink.max-buffer-size` a bit smaller than `exchange.http-clie

[2015-10-30 00:57] dain commented on #3860
I'd bet that you have a null partition key, and that code is attempting to call `toString` on null.  Try changing https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HivePageSink.java#L282 to `Objects::toString`

[2015-10-30 03:36] cosinequanon commented on #3860
Can confirm, once I removed the null partition key I no longer saw this error.

[2015-10-30 14:41] gundun opened #3862 "Facing build issue for presto-hive on ppc64 little endian"
Hi ,

I am trying to build presto from source using release 0.123 on ppc64 little endian architecture.
I am facing below issue while building presto-hive:

[ERROR] Caused by: java.lang.ExceptionInInitializerError
[ERROR] at com.facebook.presto.hive.HdfsEnvironment$$FastClassByGuice$$a9f55374.newInstance(<generated>)
[ERROR] at com.google.inject.internal.cglib.reflect.$FastConstructor.newInstance(F

[2015-10-30 14:44] kokosing commented on #2878
As I understand scalar query may return single value or not at all (then scalar returns null).

To ensure above condition (behaviour) I think I need to add new plan node - ScalarNode, which then will be translated into proper operator. Adding a new plan node requires a lot of work. Do you think it is a good idea? Or should I hack already existing plan node like ProjectNode? What do you think?

[2015-10-30 15:02] kokosing commented on #2878
I also think that such ScalarNode would be helpful execute join as a broadcast join.

[2015-10-30 18:44] electrum commented on #3862
We don't have native libraries for that architecture and thus cannot support it. Are there any publicly available ppc64 machines (such as a cloud provider) that we could use to build the native libraries?

[2015-10-30 19:44] borcean commented on #3862
@electrum The OSL would be happy to provide a `ppc64le` build machine. We are currently waiting on approval from IBM.

[2015-10-31 00:25] cberner opened #3874 "Implement network topology aware scheduling of splits"

[2015-10-31 13:17] clarke0922 opened #3876 "exception of page_transport_timeout"
how to pass the exception of page_transport_timeout.
PAGE_TRANSPORT_TIMEOUT:Encountered too many errors talking to a worker node. The node may
have crashed or be under load.

The scene is  two hard SQL, one is  two tables(1MM left join 6MM：results 70MM) have left join, one is count number（6MM）.

[2015-10-31 13:19] clarke0922 commented on #3876
is there any parameter can avoid this problem？
by the way , 4 node ,one is set to coodinator ,three is set to work nodes

[2015-10-31 16:40] petroav commented on #3858
Hey -- there are two threads on the user mailing list that should provide you with some more info:
https://groups.google.com/d/topic/presto-users/J4V1Zzm0ZNo/discussion
https://groups.google.com/d/topic/presto-users/p-bJVMtztsU/discussion

[2015-11-01 21:44] spragues-trulia commented on #3876
hi,
i'm going to climb around this ticket too.... :)  running version 0.123 .  i'm getting the same error ultimately returned back to the client.  I can't duplicate using TPCH data unfortunately but it is a pretty big query with a join.

i dug around in the server logs and found this:

{code}
java.lang.NullPointerException: maxSize is null
	at java.util.Objects.requireNonNull(Objects.java:228)
	at

[2015-11-02 03:38] drnushooz commented on #3654
Looking through the presto-cli code, LineReader which is extended from jline's ConsoleReader has an api call to setHandleUserInterrupt(true);. I set that one to false so that jvm performs its default action and added setHandleLitteralNext(false). So far the exceptions haven't come up. I am curious about why presto cli needs to be able to handle literals next.

[2015-11-02 04:29] drnushooz opened #3878 "Query doesn't run when when default schema is specified"
I am trying Presto 0.123 default build on Datastax Enterprise 4.7.3 which ships with cassandra 2.1.8. Presto works very well as long as I don't specify `--schema` parameter. Without that the output looks as below.
[code]
Now I change schema with `use` statement and here is what happens.
[code]

Here is output when presto is started in debug mode and --schema is specified.
[code]
Every query respon

[2015-11-02 04:37] #3878 closed

[2015-11-02 10:40] kokosing commented on #2878
@martint What do you mean by broadcast join? How can I set this or check?

I did a rewrite and I see plan fragment with join has plan distribution FIXED and fragments with table scan have distribution SOURCE. So it looks like it is not going to be a single-node query, am I right?

[2015-11-02 20:01] dain commented on #3876
Assuming your machines didn't actually crash, there are two main causes of this long GC pauses and network saturation.  Both of these can sometimes be fixed by tweaking the query.  Use `explain (type distributed)` to see the join order and exchanges, and make sure you are building hash tables out of the smaller table.

The first is you are getting very long full GCs, you can see this by enabling G

[2015-11-02 20:06] dain commented on #3876
@spragues-trulia I've never seen that error before.  It implies that the client did not send a well formed request (it was missing a required header).  If true, you should be seeing this everywhere.

[2015-11-02 22:15] kkc00 commented on #3859
I have updated the above issue post (Section 2 - Time comparison) with the test numbers that compare performance of JONI+presto and RE2J+presto(includes the above mentioned change to RE2J). Generally, RE2J is slower than JONI, but RE2J does not take hours to process any pattern, whereas there are multiple cases where JONI slows down by a lot and take more than 30 hours. The slowdown of RE2J in oth

[2015-11-03 04:58] spragues-trulia commented on #3876
thanks @dain .    i think i'm going to try to enable GC logging as well as the error returned to my client is the same (page_transport_timeout). however, digging deeper into the server logs i was able to find a uri and follow it - and its that that reported the NPE on maxsize is null.  maybe that's just a symptom though but figured it be worth bringing to your attention.

Sun Nov  1 11:05:21 2015

[2015-11-03 05:01] cberner commented on #3876
By follow, do you mean load that URI in your browser? That probably won't work, and would explain the NPE, because your browser won't include the necessary HTTP header

[2015-11-03 07:12] gundun commented on #3862
thanks electrum and borcean for the info, we will get back to you soon.

[2015-11-03 08:02] nareshk355 commented on #3849
Hi electrum,

yes we are working on ppc64le, could you please let us the required libraries to build to build presto on ppc64le.

as suggested I skipped the presto-docs module and I was able to build the other components but test cases are getting failed for some components, I think those errors are related to missing JNI libraries.

[2015-11-03 11:59] kokosing commented on #2878
According to my current understanding this is what I am going to do.

1. rewrite scalar query to join
2. mark join with some property that it is going to join with results from scalar function
3. In AddExchanges#visitJoin if a joinNode joins results from scalar then it will be as broadcast join
4. Modify physical plan for plan fragment with join  with results from scalar that it will have an inter

[2015-11-03 12:23] kokosing commented on #2878
After some thinking I decided to go with option two (add ScalarNode). I have no heart to break the code cleanness ProjectNode or JoinNode.

[2015-11-03 13:15] sumitkulkarni commented on #3343
It's giving me this Error please help me
[INFO]
[INFO] --- presto-maven-plugin:0.1.5:generate-service-descriptor (default-generate-service-descriptor) @ presto-jmx ---
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] presto-root ........................................ SUCCESS [  4.280 s]
[INFO] presto-spi .......................

[2015-11-03 15:44] petroav commented on #3343
@sumitkulkarni, judging from the file names it seems like you're building on Windows and I'm not sure Presto can build on Windows. Can you do a `mvn -V` and paste the output?

[2015-11-03 16:19] losipiuk opened #3888 "LIKE predicate not supported as part of join clause"
Only queries with comparison operators in JOIN clause are allowed now in Presto.

E.g. query like:
[code]

willl fail with `Non-equi joins not supported: ("orders"."comment" LIKE 'ala%')` error.

[2015-11-03 16:19] spragues-trulia commented on #3876
ahhhh.... that is correct.  okay, that explains that!   so back to the original "page_transport_timeout" investigation.  i'll work at logging GC and see what that shows.

out of curiosity would there be any timeout/heartbeat config setting on the presto side to control the server's behavior under these circumstances?  or is it entirely up to the JVM?  Judging from Dain's response above seems like

[2015-11-03 16:25] losipiuk opened #3889 "Support non equality predicates, using only inner join symbols, in OUTER JOIN condition"
Currently only equality comparison is supported as part of OUTER JOIN condition.
E.g following query will fail:
[code]

This is simple case when non-equality conjunct touches only inner side symbols and therefore can be rewritten to filter on orders table.

[2015-11-03 16:27] losipiuk commented on #3888
@martint I would like to pursue this one. This is intermediate step in making TPC-H Q13 work.
Followup would be to support at least simple cases of non-equality predicates in condition for OUTER JOINS. I created #3889 issue for that.

Is anyone working on that right now. Or does it make sense for me to work on this one?

cc: @ilfrin

[2015-11-03 16:39] martint commented on #3888
We do support some limited forms of non-equi joins. I'm curious about why this form doesn't work. There's no one working on this, yet. Go for it!

[2015-11-03 23:11] martint commented on #2878
Yeah, a separate plan node makes more sense. It will make it easier to ensure the invariants are handled correctly and will be easier to map to the future plan structure/optimizer later on.

[2015-11-03 23:30] erichwang opened #3890 "Support ORDER BY clause for aggregations"
Example:
http://www.postgresql.org/docs/current/static/sql-expressions.html#SYNTAX-AGGREGATES

This is particularly useful for agg functions like array_agg that count on input order.

[2015-11-04 00:17] martint commented on #3890
See the related discussion in #1976

[2015-11-04 19:38] haozhun opened #3892 "Incorrect implementations related to `Constraint`"
- None of the connectors checked `constraint.predicate()` in `getTableLayouts`. Any of them that checked `constraint.getSummary()` should have.
- `BeginTableWrite.rewriteDeleteTableScan` constructs a predicate where summary is not empty, but predicate is always true
- `PickLayout.planTableScan` constructs a predicate where summary is not empty, but predicate is always true

None of them results in

[2015-11-04 20:21] electrum opened #3893 "Correctly handle modification operations for Hive external tables"
My understanding is that Hive external tables are basically read-only views of externally managed data. Creating or dropping an external table or partition merely modifies the metadata in the Hive metastore. Given this assumption, it seems that INSERT or DELETE operations should not be allowed for external tables.

[2015-11-04 23:11] #3793 closed

[2015-11-04 23:55] haozhun commented on #2706
Fixed by #3475

[2015-11-04 23:55] #2706 closed

[2015-11-05 00:36] electrum opened #3898 "Running USE in CLI resets session properties"

[2015-11-05 08:19] martint opened #3901 "Add support for binary literals"
Per the ANSI spec:

[code]

Additionally:

1) The sequence
[code]
is equivalent to the sequence
[code]

2) The sequence
[code]
is equivalent to the sequence
[code]

3) The introductory 'X' may be represented either in upper case (as 'X') or in lower case (as 'x').
4) It is implementation-defined whether the declared type of a *binary string literal* is a fixed-length binary string type, a variable

[2015-11-05 19:54] haozhun commented on #3786
Fixed by #3791

[2015-11-06 11:34] rafalpas opened #3908 "Intervals "millisecond", "week" and "quarter" not supported"
According to documentation https://prestodb.io/docs/current/functions/datetime.html following units are supported in interval functions:
millisecond, second , minute, hour, day, week, month, quarter, year.

But only a subset of them is supported by the 'interval' operator:
IntervalLiteral.java: YEAR, MONTH, DAY, HOUR, MINUTE, SECOND

This means that millisecond, week and quarter are missing. Consi

[2015-11-06 22:35] tomz opened #3912 "Hive connector - DROP TABLE does not work"
I was able to create a table in Hive but not able to delete it:

[code]

[2015-11-06 22:48] dain commented on #3912
The default security settings for hive don’t allow you do drop tables.  Set this config in the hive catalog file to enable drop table:

  hive.allow-drop-table=true

[2015-11-06 23:15] tomz commented on #3912
Thanks @dain that worked.

[2015-11-06 23:15] #3912 closed

[2015-11-07 06:03] electrum commented on #3862
What Linux distribution are you using, and what JVM and version are you using (and where did you get it)?

[2015-11-09 10:24] ebuildy opened #3917 "Presto CLI doesnot throw explicit error if server is not accessible"
Running Presto CLI:

[code]

Where toto doesnt resolve, when I run a Presto query:

[code]

Instead of have an explicit message saying "Presto API is not accessible!"

(could save time for people like me who make typos such as loalhost ^^)

[2015-11-09 11:05] knight1128 opened #3918 "multiple coordinator support"
Hi. I'm novie of presto.

Do you, guys have plan to support multiple coodinator?
I have known discovery.uri have only one host. I hope to support multiple coodinators of discovery.uri.

If I wrong, please take a example. It is very helpful for me.

[2015-11-09 15:28] kyleburke commented on #3257
Is there any way for Presto to handle hive columns that are strings? Hive has a STRING data type but Presto is not resolving my STRING columns in Hive either?

[2015-11-09 15:54] losipiuk commented on #2198
This seems to be fixed already

[2015-11-09 16:11] losipiuk opened #3922 "Use implicit coercions in INSERT into SELECT clause."
Currently presto requires that:
 * target table columns
 * columns returned by query, to be inserted

have exactly same type. No implicit coercions are used even if they are defined.

[2015-11-09 16:46] #2198 closed

[2015-11-09 21:21] electrum commented on #3861
We've started seeing this frequently, too, and will look at this soon.

[2015-11-09 23:24] yangyangyyy commented on #3901
this is Yang, I'll be joining the team (I'm in bootcamp now), may I claim this task? thanks

[2015-11-10 05:38] kokosing commented on #3800
@electrum It is fixed and can be closed. I had a typo in the commit so it didn't get closed automatically.

[2015-11-10 06:47] #3800 closed

[2015-11-10 18:58] haozhun opened #3935 "Invalid plan for CROSS JOIN UNNEST"
[code]

`AddExchanges.visitUnnest` does not exist. But it should exist and should check the preferred properties and filter the newly generated output symbol out.

[code]

[2015-11-10 19:47] haozhun opened #3937 "Invalid plan for JOIN"
[code]

In `ProjectPushDown.pushProjectionThrough`, `projections` is a map but `outputBuilder` is a list. As a result, `projections.getKey()` and `outputBuilder.build()` will not be the same even if they were fed the same inputs when some of the inputs are duplicate.

For this query, the duplicate join criteria was produced by `PredicatePushDown.processInnerJoin`

[code]

[2015-11-10 20:16] nezihyigitbasi commented on #3898
claiming this one if no one is working on it.

[2015-11-10 21:07] martint opened #3938 "Adjust encoding of parametric types"
The introduction of integer-kinded type parameters to support types such as `VARCHAR(n)` or `DECIMAL(p, s)`, requires using parenthesis for encoding type parameters, which conflict with the current notation based on angle brackets.

Thus, the encoding for some common types would be:
[code]

For some hypothetical type that takes both type-kinded and integer-kinded parameters, it would look like thi

[2015-11-10 21:11] electrum opened #3939 "Input symbols do not match output symbols"
[code]

[2015-11-10 21:12] haozhun commented on #3939
Duplicate of 3937

[2015-11-10 21:12] #3939 closed

[2015-11-10 21:12] haozhun commented on #3937
Added the tags and assignee because @electrum did so on #3939

[2015-11-10 21:38] yangyangyyy commented on #3901
Martin:
can I have a clarification?

when you said "is equivalent .." , you removed the spaces.

so we are not allowing hex strings of the form      X'  a0  b0 c0 ff ' ? (i.e. only allow  X'a0b0c0ff' )

Thanks
yang

[2015-11-10 22:39] martint commented on #3901
I copied that straight from the spec, but what it means is that you can think of the one with spaces as if it didn't have any spaces. It doesn't mean that we don't support the version with spaces.

I don't think we need to support the one with separators at this point.

[2015-11-10 22:45] cberner commented on #3938
How would row types be encoded in this format? Current we use `ROW<BIGINT, VARCHAR>("bigint_field_name", "varchar_field_name")`

[2015-11-10 23:10] yangyangyyy commented on #3901
thanks. for the result, say given an input        "X'61' "  , do we want the resulting StringLiteral to hold "61" or "\u0061" (single letter "a")

[2015-11-11 00:18] martint commented on #3901
It shouldn't be a string literal. It should be a binary literal (which doesn't exist today, and should contain a byte array with the data)

[2015-11-11 00:20] martint commented on #3938
Row types are different, and we should probably special-case them (they are "record" types from a type theory point of view, not parametric types), and the encoding should mimic SQL's way of doing it:

`ROW(foo VARCHAR(10), bar BIGINT)`

[2015-11-11 16:21] electrum opened #3945 "Access control exceptions not properly handled"
`ResourceUtil` only catches `AccessDeniedException`. If a generic `PrestoException` is thrown, it goes all the way out of the container as a 500 error. It should be translated to a proper response.

[code]

[2015-11-11 19:56] CKovar opened #3947 "Partitioned BZ2 tables HIVE_CURSOR_ERROR (Hive connector)"
Having a table with multiple partitions containing BZ2 files results in a HIVE_CURSOR_ERROR.

Reproduced under the following builds:
- Presto 0.117, 0.119
- Presto 0.125 compiled with Hadoop 2.6
### Presto Worker Error:

[code]
### Presto Coordinator Error:

[code]

We have come to the conclusion that it is the combination of BZ2 with partitions by testing the following:
- Created a Hive table WIT

[2015-11-11 20:17] z00 commented on #2704
.124 same problem as well, blocked on it. Do nightly builds have the fix?

[2015-11-11 21:18] #3937 closed

[2015-11-11 23:29] electrum opened #3951 "Categorize exception for invalid Raptor $shard_uuid value"
[code]

[code]

[2015-11-12 09:48] losipiuk commented on #3938
We are happy to work on that.

Initial work would be to make it possible to use angle brackets and parentheses interchangeably for type parameters.

And when this is in rebase decimal patch on top of that.
This should probably include unifying literal and type parameters in TypeSignature. Replacing
[code]

with single list of some variant type (`TypeParameter`?) which can be either `LITERAL` or `T

[2015-11-12 19:59] electrum opened #3955 "Do not print useless stack traces in verifier"
For example, we don't need pages of stack traces for these:
* `TOO_MANY_REQUESTS_FAILED`
* `PAGE_TRANSPORT_TIMEOUT`
* `WORKER_RESTARTED`

[2015-11-12 22:12] #3699 closed

[2015-11-12 23:13] disser opened #3958 "Server log file effectively hardcoded to /var/log/presto"
Although launcher accepts `--launcher-log-file` and `--server-log-file` options, the arguments are hardcoded in /etc/init.d/presto:

[code]

These options should either be removed so that the `node.data-dir` setting from node.properties can be used, or have additional settings in node.properties which will be observed by /etc/init.d/presto.

[2015-11-12 23:33] cberner opened #3959 "Improve error message when casting from JSON to MAP<VARCHAR, VARCHAR>"
It would be useful to include the value that cannot be cast. Also, attaching the underlying exception may just cause confusion.

This query: `select cast(json '{"x":["y"]}' as map<varchar, varchar>);`
Results in the below exception, which looks like a bug since it references a NPE:

[code]

[2015-11-12 23:59] martint commented on #3938
@losipiuk, yeah, that's more or less how I was thinking about it.

BTW, I'd constrain the uses of angle brackets to support only TYPE parameter types. I.e., this should not be allowed: `VARCHAR<10>`.

`literalParameters` are currently used to encode field names for row types, so initially, I wouldn't touch those. Instead, I'd expand `parameters` to support TYPE and BIGINT.

[2015-11-13 01:47] electrum opened #3961 "Support setting comments on tables and columns"
Unfortunately, there is no standard syntax, so we should look at what PostgreSQL and Oracle do here. We should allow it for both creating tables and adding columns, plus a way to update existing objects.

[2015-11-13 02:39] hikoz commented on #3861
It occurs since v0.123.
Only with ORC.
It's hardly occur if you append simple conditions like "where id is not null".

[2015-11-13 20:43] rraghuram64 opened #3964 "I am trying to configure presto 0.119 on EMR and I am getting the following error when running ./launcher run"
2015-11-13T20:37:24.532Z        INFO    main    com.facebook.presto.server.PrestoServer ======== SERVER STARTED ========
2015-11-13T20:37:29.603Z        WARN    http-client-shared-82   com.facebook.presto.memory.RemoteNodeMemory     Error fetching memory info from http://172.31.25.119:8080/v1/memory
java.lang.RuntimeException: java.util.concurrent.TimeoutException
        at com.google.common.base

[2015-11-13 20:45] rraghuram64 commented on #3677
Hello

Did you solve the issue ?

I actually defined the file mysql.properties in /presto/etc/catalog and when I try to see the tables in mysql it says there is no catalog with the name.

Could you please help me with this.

Thanks

[2015-11-13 20:47] martint opened #3965 "Push table write through UNION ALL"
A query like this...
[code]

... results in a plan that gathers all the data in one node before performing the table write. We should be to push the table write through the `UNION ALL` for better parallelism

[2015-11-13 21:13] kyleburke opened #3967 "Function not registered error"
I've created a udf called ortrait. The function takes two bigints and does a bitwise or operation and returns a boolean. I've compiled the jar, copied it to all my nodes, and restarted the presto server service. When I attempt to call the function I get strange results.

From the presto-cli when I run:
SELECT * FROM t02918.matrix3 WHERE ortrait(home,40) = true;

I get the following error:
Query 20

[2015-11-13 21:17] martint commented on #3967
The first query calls `ortrait`. The second one calls `andTrait`. Is that intentional?

[2015-11-13 21:20] kyleburke commented on #3967
Sorry that was a copy and paste mistake. Both functions exhibit the same error though. The orTrait does a bitwise OR operation and the "andTrait" does an bitwise AND operation.

[2015-11-13 21:24] kyleburke commented on #3967
Here is the code for both functions. I'm guessing the "Function is not registered" is a catch all type of message.

@Description("Performs Bitwise OR operation of bitFamily and bitTrait to determine if family contains trait")
    @ScalarFunction("orTrait")
    @SqlType(StandardTypes.BOOLEAN)
    @Nullable
    public static Boolean orTrait(@Nullable @SqlType(StandardTypes.BIGINT) Long bitFamily, @N

[2015-11-13 21:30] martint commented on #3967
How are you registering the functions?

[2015-11-13 21:45] kyleburke commented on #3967
I'm using the https://github.com/qubole/presto-udfs library. Then I placed the jar file  in the "/usr/lib/presto/plugin/udfs/" directory on each of my nodes. I then restarted the presto-server several times. A few time I restarted the server using "bin/launcher run" so that I could check for error message. It took a few times until there were no errors in the logs.

It appears that the function ha

[2015-11-13 22:21] martint commented on #3967
Can you paste the full error for the query that uses cast(xxx as bigint)?

Also, can if run your CLI with --debug it will print the full stack trace. Can you paste that, too?

[2015-11-13 22:30] kyleburke commented on #3967
I didn't know about the --debug flag so thank you. At least it helps figure out where to start trying to troubleshoot. He is the output:

17:24:52 [presto-udfs (master)] $ presto-cli --debug --server localhost:8889 --catalog hive --schema t02918
2015-11-13T17:25:07.806-0500	 INFO	main	io.airlift.log.Logging	Logging to stderr
2015-11-13T17:25:07.965-0500	 INFO	main	org.eclipse.jetty.util.log	Loggin

[2015-11-13 22:34] martint commented on #3967
Based on that exception, it would appear that some worker doesn't have the function available (it happens in `LocalExecutionPlanner`).

If you open the web UI on http://localhost:8889, you should be able to track down which machine caused the failure (there will be a task marked as FAILED in the list of tasks for the query)

[2015-11-13 22:36] martint commented on #3967
The most probable reason `SELECT andtrait(10,2) FROM t02918.matrix3 LIMIT 10` works is that the function is constant-folded in the coordinator, and the query execution only has to return a constant value. You can see that by running EXPLAIN on that query.

[2015-11-13 23:37] kyleburke commented on #3967
If I do a "bin/launcher restart" on the coordinator does that also restart the workers also? or do I need to do a restart on each worker?  The jar file with the udfs are on each worker.

[2015-11-13 23:44] martint commented on #3967
No, you need to restart each worker independently.

[2015-11-14 00:00] kyleburke commented on #3967
I restarted each worker and now the functions are working great. Thanks for putting up with a Presto newbie.

[2015-11-14 07:01] martint commented on #3967
Great! Glad to hear it's working now.

[2015-11-14 07:01] #3967 closed

[2015-11-14 08:13] yangyangyyy commented on #3901
hi Martin : I wrote the grammar definition part. it actually supports the full spec (including the separator). it's a bit tricky because of the separator support, so I was hoping to run it by you first.

the basic thought is that, we want to easily skip out the separator (comment and ws), using the parser's built-in ability, instead of having to pick out the comment in BinaryStringLiteralContext.g

[2015-11-16 13:59] pnowojski commented on #3938
I have started working on this issue

[2015-11-16 17:08] martint commented on #3901
Let's not add support for separators right now. We can consider adding it later. It's a weird feature that we don't support anywhere else at this time, so it's likely to break a bunch of things (query formatting, CLI editing, etc)

[2015-11-16 17:45] yangyangyyy commented on #3901
sounds good, I'll keep it as a token

[2015-11-16 18:42] petroav commented on #3662
This commit should have fixed the issue https://github.com/facebook/presto/commit/add1241b04e6c3ecc8777dfec19502c5741e903c.

[2015-11-17 00:53] #3662 closed

[2015-11-17 04:36] sunli1223 commented on #3763
@kokosing  the escape sql will like 'select * from test\_tables;', but this sql can not be execute，this problem  is same as postgresql.
I change code like  below worked fine.
[code]

[2015-11-17 13:53] kokosing commented on #3763
@sunli1223 I updated the test so it runs SELECT now, see https://github.com/Teradata/presto/commit/e9b91f7523945274fed30903162d1c7489739272.
It is still passing. I suspect it may have something related to your mysql server or jdbc configuration. Can you tell me what `metadata.getSearchStringEscape();` returns for you?

[2015-11-17 17:12] martint opened #3979 "Bad error message when window function is used in HAVING clause"
[code]

fails with:

[code]

full stacktrace:

[code]

This might be related to the changes in eb3d13eb0b1ec96802d338bab9f069b124166512

[2015-11-18 00:22] cberner opened #3988 "Theoretical hang due to network issue"
The continuous task info fetcher does not handle the case where a task has disappeared from a worker without the worker restarting (for example, if there was an arbitrarily long interruption in the network). In this case, the below if-block will be trigger and the update will simply be ignored.
[code]

One idea for fixing this is to add a "task instance id" similar to node id to the task, so that

[2015-11-18 00:23] cberner opened #3989 "Large number of ATNConfig objects in heap"
We've seen heap dumps with 22+ million ATNConfig objects, which appeared to be stored in Antlr's cache. We should investigate whether this is a bug, or an issue with the complexity of our grammar

[2015-11-18 10:40] djhworld commented on #3654
This happens to me also when using `presto-cli` via SSH onto an AWS EMR master node.

I've noticed it happens when you press the `up` arrow key to retrieve a previously used query or command, then hitting the `enter` key.

[2015-11-18 14:48] rawls238 opened #3992 "HBase Support"
I've noticed a few tickets around HBase support but don't see anything that indicates that it is currently supported. If one doesn't exist, I would be happy to start working on one but wanted to see if I was missing something.

[2015-11-18 15:02] cawallin commented on #3992
There currently isn't an HBase connector.  At Teradata, @akshatnair did a prototype of connecting to HBase via a JDBC connection to Apache Phoenix, but it only had a single connection to HBase so it was pretty slow. The tricky part of making a performant HBase connector will be figuring out how to handle parallel connections to HBase. Let us know how it goes, and we're happy to help if you need so

[2015-11-18 20:28] kyleburke opened #3994 "Hive "Connection is closed" error"
It appears that Presto is losing connection to my hive metastore by the error below. Our presto environment is really unstable. It basically will be fine for 20-30 minutes and then all the sudden presto (even without people using presto/airpal) can even run a "show tables" query without getting the error below. Has anyone seen this issue? How should I troubleshoot it?

Environment: Amazon EMR
Pres

[2015-11-18 22:57] electrum commented on #3994
This error is coming from the Hive metastore, not from Presto. Try running a Hive query and see if you get the same error.

Also, can you run the CLI with --debug and show us the full stack trace?

[2015-11-18 23:08] kyleburke commented on #3994
I can run queries in hive with no issues. The hive metastore is on the same node as the coordinator node so I'm wondering why the apparent connection lost? This time I was able to do a "show table" but even a simple query throws an error. I've turned off Airpal to see if that helps but it hasn't.

[hadoop@ip-10-205-46-195 ~]$ presto-cli --debug --server localhost:8889 --catalog hive --schema defau

[2015-11-18 23:53] haozhun opened #3996 "Cleanup table directory after table creation fails in Hive"
When Presto fails to register the table with metastore, Presto needs to clean up the files and directories it created. But right now, Presto doesn't remove the top-level directory. As a result, user won't be able to create a table of the same name unless the directory is manually removed.

Presto should call rmdir on the table directory.

[2015-11-19 03:49] sunli1223 commented on #3763
@kokosing  I used mysql-connector-java-5.1.35,metadata.getSearchStringEscape() will call
[code]
so,return "\" from me. And the the same as postresql.

Jdbc document say"
[code]
I guess the Escape String is  used for some sql like "where field Like ' %a\%% ' ",but not for table name。

[2015-11-19 04:02] yangyangyyy commented on #3935
I'll be working on this

[2015-11-19 16:00] RobinUS2 commented on #3057
What's the status on this one? Any progress made? Thanks!

[2015-11-19 16:22] sumanth232 commented on #3057
@RobinUS2 , here is a basic version of the connector. It needs to be developed further and optimised.
https://github.com/facebook/presto/pull/3240

[2015-11-19 19:46] haozhun commented on #3935
@erichwang Is this the bug you fixed recently?

[2015-11-19 20:35] erichwang commented on #3935
this is already fixed.

[2015-11-19 20:35] #3935 closed

[2015-11-19 22:55] #3825 closed

[2015-11-19 22:56] raghavsethi commented on #3824
@joy-yao fixed this in #3830.

[2015-11-19 22:56] #3824 closed

[2015-11-19 22:56] raghavsethi commented on #3823
@joy-yao fixed this in #3830.

[2015-11-19 22:56] #3823 closed

[2015-11-20 01:02] #3898 closed

[2015-11-20 06:05] kokosing commented on #3763
@sunli1223 From jdbc documentation for ``DatabaseMetaData#getTables``
[code]
and for ``DatabaseMetaData#getSearchStrnigEscape()``
[code]

As you can see escape string is used in pattern in catalog searches, and getTable is using it. IMO everything is ok in the code. I will try to repeat the tests with JDBC at version you specified to reproduce the problem.

[2015-11-20 06:11] supareek opened #4002 "Error is thrown while building presto-docs"
I get the following error while building the project. Everything else gets built except the docs project.
Is this related to some kind of proxy configuration?

[INFO] presto-docs ........................................ FAILURE [04:53 min]
[INFO] presto-verifier .................................... SKIPPED
[INFO] ------------------------------------------------------------------------
[INFO] BUILD

[2015-11-20 06:12] uranusmars commented on #3763
@kokosing this is our mysql version

Server version: 5.6.25-73.1-log Percona Server (GPL), Release 73.1, Revision 07b797f

You can try to reproduce the problem.

[2015-11-20 09:31] oscarLM opened #4003 "when does PrestoPreparedStatement support executeQuery, not just throw NotImplementedException("PreparedStatement", "executeQuery")"

[2015-11-20 09:58] reliablendn opened #4004 "Full GC happening on nodes causing PAGE_TRANSPORT_TIMEOUT exception with distributed joins."
Hello,

We are seeing this error with some of our big queries which deals with huge amount of data in join, after upgrading from 0.117 to 0.125. Disabling distributed join seems to fix the issue and everything works fine. I was reading this thread https://github.com/facebook/presto/issues/3876 and tried tweaking jvm settings but to no avail. Distributed joins was enabled by default in 0.116 so so

[2015-11-20 10:32] sunli1223 commented on #3763
@kokosing  The jdbc version is Included in presto. I test mysql versio with "5.5.31-MariaDB-log", "5.5.32-log" and "5.6.24-72.2-log" .I download the latest version presto-server-0.126 just now,then test.
[code]
at the same time ,I run tcpdump to see the sql send to mysqlserver.below is the output
[code]
the sql "SHOW FULL TABLES FROM `test\_test` LIKE '%'" can not execute at mysql server for me.
[

[2015-11-20 14:13] kokosing commented on #3763
[code]

Test with a table containing ``_`` worked... ; / I will try with database now.

[2015-11-20 14:22] kokosing commented on #3763
[code]

Ok, I reproduced it. When a database contains ``_`` then I am not able to list its tables.

[2015-11-20 15:18] kokosing commented on #3763
@sunli1223 I have just posted an pull request #4006 it is very similar to what you suggested, can you check if it fixes your problem?

[2015-11-20 18:46] yangyangyyy commented on #3908
I'll be working on this one.

[2015-11-20 19:32] raghavsethi opened #4008 "Array constructor with too many values causes ClassFormatError"
Queries that contain very large array constructors cause bytecode to be generated that contains too many method arguments.

[code]
fails with
[code]

[2015-11-21 01:30] dain opened #4013 "Add queued time to UI"

[2015-11-21 03:15] bundlking opened #4014 "Presto cassandra connector bug - 200 results only?!"
Configured presto v0.125 as one coordinator and 2 worker nodes on a 3 node cassandra cluster using Datastax autoclustering AMI. Simple count query consistently returns only 200 results in presto.

**cqlsh:**
[cqlsh 5.0.1 | Cassandra 2.2.3 | CQL spec 3.3.1 | Native protocol v4]
Use HELP for help.
cqlsh> select COUNT(*) FROM test3.users ;

 count
   299

(1 rows)

Warnings :
Aggregation query used w

[2015-11-21 03:36] sunli1223 commented on #3763
@kokosing  yes,It's worked for me.thank you.

[2015-11-21 03:56] uranusmars commented on #3763
@kokosing @sunli1223 great job, thank you two : )

[2015-11-21 11:08] syed72 opened #4015 "Exception in using example-http plugin"
Hi, i'm using example-http plugin, and
my example.json is

{
    "example": [
        {
            "name": "numbers",
            "columns": [
                {
                    "name": "text",
                    "type": "VARCHAR"
                },
                {
                    "name": "value",
                    "type": "BIGINT"
                }
            ],
            "sources

[2015-11-22 21:06] harunurhan commented on #3959
Hi,

I looked at the code (`com.facebook.presto.type.TypeJsonUtils`). In the code, type checking is done via checkState in each `if` block I think the easiest thing to do here is inserting a checkState like below, where we expect a string. At least that throws an IllegalStateException with a little better message.

[code]

However, I think this might not be helpful and it would be better have some

[2015-11-23 05:39] syed72 commented on #4015
can i know what is the status of this?

[2015-11-23 05:58] syed72 commented on #3704
How can we solve this problem? I'm trying to ask everywhere, but no one is responding on this problem, to know the status of this issue

[2015-11-23 06:06] kokosing commented on #4003
I suppose that this is handled by https://github.com/facebook/presto/pull/3097 pull request. Hope it well get in soon.

[2015-11-23 12:53] pnowojski commented on #3938
Do we want to maintain backward compatibility in `ClientTypeSignature` class? We could rename existing field `typeArguments` to `typeParamters` and for the time being serialize `typeArguments` using `getTypeParametersAsTypeSignatures` method from my pull request. Or am I missing something? What do you think? Do we even care about this?

[2015-11-23 14:04] kokosing opened #4016 "presto-cli (batch mode) exits with '0' when query fails"
Typically when db cli tool fails to execute a query proper exit status is returned. Presto returns always 0.

See exit status section in http://www.postgresql.org/docs/9.3/static/app-psql.html

[code]

[2015-11-23 14:41] kokosing opened #4017 "Support for correlated subqueries"
It relates to subqueries used in IN, EXISTS predicates and scalar subqueries.

[2015-11-23 14:43] kokosing commented on #4017
Relates to https://github.com/facebook/presto/issues/2878

[2015-11-23 15:38] lloydpick opened #4018 "Accessing S3 data in another region fails"
I have data in S3 buckets in us-west-2 and eu-west-1 and my cluster in us-west-2. I can't consolidate my data to one region, and need to be able to query both buckets from one cluster in one AWS region.

Hive handles these external tables fine, but once I try and query the one that isn't in the same region as the cluster through Presto I get 301 errors from S3...

    The bucket you are attempting

[2015-11-23 16:43] nezihyigitbasi commented on #4016
There is a related PR in review #3463

[2015-11-23 18:18] cberner opened #4019 "Improve performance of GROUP BY hashing"
I'm not sure what the exact problem is, but when running a huge GROUP BY (1B+ groups per worker) that had a small number of rows per group I saw *very* poor performance (< 1K rows per cpu sec). Profiling showed that almost all the time is being spent in hashing:
+   82.56%  presto-facebook  perf-170.map                   [.] com_facebook_presto_$gen_PagesHashStrategy_71.positionEqualsRow

This mus

[2015-11-23 19:54] haozhun commented on #3908
* We support YEAR, MONTH, DAY, HOUR, MINUTE, SECOND for `Literal`s. We didn't document what we support.
* We document and support the above 6 plus MILLISECOND, WEEK, and QUARTER for `date_add`, `date_diff`, `date_trunc`, and `extract`.

@dain I suppose we don't intend to support MILLISECOND, WEEK, and QUARTER. But we should improve our documentation?

[2015-11-23 20:14] raghavsethi commented on #3568
Actually, we already have ```IS DISTINCT FROM``` semantics for ```GROUP BY```. The issue here is that we fail on computing hashes for arrays which contain null values.

[2015-11-23 21:18] petroav commented on #4002
Hmm, strange, I just did `mvn clean install -pl presto-docs` and it worked. What do you get from `mvn -v`? Can you run `mvn` in verbose mode so we can get more info?

[2015-11-23 22:11] nezihyigitbasi opened #4022 "Update aws-java-sdk version"
Presto currently depends on version `1.8.9.1` of `aws-java-sdk` (released on Aug 14, 2014), and since that release there have been various bug fixes (see aws sdk [release notes](https://aws.amazon.com/releasenotes/Java)). So it would be nice if Presto depends on one of the most recent `aws-java-sdk` versions (the latest is `1.10.35`)

I took a quick look at this and the latest `aws-java-sdk` depen

[2015-11-23 22:28] raghavsethi commented on #3568
This is turning out to be more complicated than it appears. The main issues are:
- We need to be able to deal with boxed arguments to scalar functions
- The function needs to apply recursively, and therefore needs to be implemented for all complex types

[2015-11-23 22:31] raghavsethi commented on #3568
Fixing this properly would also fix #3569

[2015-11-23 23:02] haozhun commented on #3568
Fixing #3569 will be a step toward fixing this. This task kind of depend on #3569

[2015-11-24 00:01] nezihyigitbasi commented on #4018
As far as I can see from the code I don't think there is a way to disable this behavior, maybe it's time we create a config parameter to make this behavior optional as this change is putting a location constraint (for the curious see [this](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region))

@electrum The initial PR had a config parameter `presto.s3.region`, which was also not the

[2015-11-24 02:33] electrum opened #4024 "Table property names should be case insensitive"

[2015-11-24 06:25] yangyangyyy commented on #3481
I'll be working on this

[2015-11-24 06:25] yangyangyyy commented on #3251
I'll be working on this one

[2015-11-24 08:43] nazgul33 commented on #3876
Same error here, with PAGE_TRANSPORT_TIMEOUT error on worker node.
by the time problematic SQL running, here's the gc log (g1gc)

app/presto/var/log>$ grep pause presto-gc.log
2.132: [GC pause (Metadata GC Threshold) (young) (initial-mark), 0.0322798 secs]
3.682: [GC pause (Metadata GC Threshold) (young) (initial-mark), 0.0285097 secs]
79.510: [GC pause (Metadata GC Threshold) (young) (initial-mar

[2015-11-24 09:44] yuanxiang250 opened #4026 "com.facebook.presto.memory.RemoteNodeMemory java.util.concurrent.TimeoutException"
2015-11-24T17:34:58.023+0800    WARN    http-client-shared-123  com.facebook.presto.memory.RemoteNodeMemory Error fetching memory info from http://10.51.6.192:8080/v1/memory: java.util.concurrent.TimeoutException
2015-11-24T17:35:06.034+0800    WARN    http-client-shared-139  com.facebook.presto.memory.RemoteNodeMemory Error fetching memory info from http://10.51.6.192:8080/v1/memory: java.util.co

[2015-11-24 10:34] syed72 commented on #4015
Someone suggest any workaround for this till it gets fixed, please its urgent, i have been debugging this issue from long time.

[2015-11-24 11:15] lloydpick commented on #4018
For me personally, I'd just like the way of turning off the automatic detection behaviour, as I have multiple tables in multiple regions, so being able to specify just one region won't cut it.

[2015-11-24 11:28] electrum commented on #4018
I think we should add a flag and disable it by default (revert to the old behavior that matches Hive).

[2015-11-24 11:43] reliablendn commented on #4004
So we tried presto 0.125 with distributed joins disabled and that is still causing Full GC issue. With 0.117 we are not seeing any of it. Any pointers to what might be causing this and what can be done. Also we tried 0.126 and same problems persists.

Cheers

[2015-11-24 14:42] spragues-trulia commented on #3876
thanks for this. good to get another data point on this seemingly mysterious error.   Anything in your traceback that looks like a smoking gun? did this query work in a previous version of presto?

[2015-11-24 15:45] miniway commented on #3989
http://stackoverflow.com/questions/28017135/why-antlr4-parsers-accumulates-atnconfig-objects
We might have to call `Recognizer.clearDFA()` periodically
4th comment seems to refer https://groups.google.com/forum/#!topic/antlr-discussion/8Yu-Tdh4gq4

[2015-11-24 15:55] gerrith3 commented on #3849
Hi IBM now has a program using its Power Development Program to allow any open source developer to use our ppc64le based cloud.  There is a little bit of overhead but there is no cost for open source development.

To start, register for the service here:  https://www-304.ibm.com/partnerworld/wps/ent/pdp/web/MyProgramAccess?registerosd

 and then press the "Please register me as an Open Source Deve

[2015-11-24 15:58] gerrith3 commented on #3862
Hi IBM now has a program using its Power Development Program to allow any open source developer to use our ppc64le based cloud. There is a little bit of overhead but there is no cost for open source development.  (BTW, this resource is in addition to that provided by OSL - using either is an option).

To start, register for the service here: https://www-304.ibm.com/partnerworld/wps/ent/pdp/web/MyP

[2015-11-24 17:05] nezihyigitbasi commented on #4018
OK I will create a PR for this shortly.

[2015-11-24 20:00] haozhun opened #4028 "Add functions for bitwise operations"
Considerations:
- future support of DECIMAL types
- same result regardless of type
- not commit to stores numbers as two's complement internally

Functions that are insensitive to width of numbers:

[code]

Function that has tricky overflow issue:

[code]

Function that are inherently sensitive to width of numbers:

[code]

Placeholder functions:

[code]

[2015-11-24 20:00] haozhun commented on #4028
@martint Please take a look.

[2015-11-24 21:47] nezihyigitbasi commented on #3704
@syed72 Can you try my patch?

[2015-11-25 00:51] saiprasadmishra commented on #2704
.126 also has the same issue

[2015-11-25 00:57] yangyangyyy commented on #3481
Eric:

we are planning to keep this new class in presto package or airlift.stats.cardinality package ?

 when you say "should implicitly cast to Hll ", does that mean P4Hll derives Hll ? but then Hll's only constructor takes an HllInstance as param,  and HllInstance is package accessible, so the new class has to be in airlift package?

thanks
Yang

[2015-11-25 02:38] nazgul33 commented on #3876
I am trying to evaluate presto, comparing performance with impala.
I just tried version 0.125 and 0.126, the query ran just two time successfully w/ 0.125, CMS gc.
I'll try with 0.125 again. and share the results.
thanks.

[2015-11-25 13:29] pnowojski commented on #3938
During rebasing with @dain's patch, we have realized some problems with ambiguity of `TypeSignature` parsing. How should we parse following signature: `foo(T, BAR, VARCHAR(X))`? `VARCHAR` is obviously supposed to be the standard type named `VARCHAR`, but what about `T`, `BAR` and `X`? All of them could be:
- user defined type
- template type parameter
- template literal parameter

and without cont

[2015-11-25 13:31] electrum opened #4033 "Add integration test for example-http connector"
The deserialization issue in #3704 would be caught if the connector had integration tests.

[2015-11-25 15:42] electrum opened #4034 "Investigate serialization of addresses field in ExampleSplit"
In #4029 we fixed a deserialization issue that was caused by the private field having a type of `ImmutableList` rather than `List`. We should find out if and how that field is being serialized and if so, file a bug against Jackson.

[2015-11-25 19:49] yangyangyyy commented on #3481
I'm reading the background knowledge about HyperLogLog and LogLog algo in https://en.wikipedia.org/wiki/Flajolet%E2%80%93Martin_algorithm

[2015-11-25 20:11] amrutagokhale commented on #3763
I was testing something in postgresql and noticed that postgresql also suffers from this.

[2015-11-25 22:53] yangyangyyy commented on #3481
unfortunately the wiki https://en.wikipedia.org/wiki/Flajolet%E2%80%93Martin_algorithm actually describes the algorithm wrong. it says step 3 is choosing the smallest index, but according to the original paper and http://blog.notdot.net/2012/09/Dam-Cool-Algorithms-Cardinality-Estimation it should be taking the largest. I edited the wiki to correct version

[2015-11-26 06:02] harunurhan commented on #2804
@yaoxin226 Hi, I can do it, if nobody is working on it.

As far as I could see, it is currently 2 minutes. Should it be in minutes or in seconds, which one would be better?

[2015-11-26 06:43] cberner opened #4040 "Improve type of hash_code operator and combine_hash function"
The type of hash_code and combine_hash is declared to be `BIGINT`. However, there are lots of assumptions in the code base that the value returned from these functions will be within the range of an `int`. We either need to remove these assumptions, or change the type to `INT` (and implement an `INT` type)

[2015-11-26 06:54] electrum commented on #2804
This is actually not a CLI issue. There are two related server config variables:
* `query.client.timeout` -- if the client does not heartbeat within this period, the server fails the query with the `ABANDONED_QUERY` error
* `query.max-age` -- the server will expire queries older than this (if there are more than `query.max-history` queries awaiting expiration)

[2015-11-26 07:03] erichwang opened #4041 "Aggregation nodes should respect preferences for hash partitioning if it aligns with the grouping keys"
Currently Aggregation nodes (and many other repartitioning operators) just arbitrarily select a partitioning order for their grouping columns. They should first check to see if the parent has a hash partitioning preference that aligns with their own.

[2015-11-26 07:32] yaoxin226 commented on #2804
I think there are two situations:
* How long should server wait if it hasn't receive a heartbeat from client (Already configurable as @electrum mentioned)
* How long should client wait if it hasn't receive a response from server ( I think Presto is missing this )

[2015-11-26 08:28] electrum commented on #2804
At, yes, you are correct, that "server is gone" can happen here:

https://github.com/facebook/presto/blob/master/presto-client/src/main/java/com/facebook/presto/client/StatementClient.java#L254

We could make that configurable. Probably "client request timeout" or similar.

[2015-11-26 08:46] nazgul33 commented on #3876
both 0.123 and 0.126 sometimes produce this error in my case.
as the error message says, this error is transient.

today i was able to reproduce this error again. ( 0.126, g1gc, hash join )
servers were under modest load (5~10%), before issuing a problematic presto query.

coordinator log is flooded with following two exceptions, with many different task ids

ContinuousTaskInfoFetcher-20151126_065

[2015-11-26 08:49] harunurhan commented on #2804
@electrum I was thinking to add this option to ClientOptions and pass it to ClientSession then finally use it in StatementClient.

Do you think, this is the right approach here?

FYI: I am literally new to codebase and everything so is there anything I need to know before starting. Thanks!

[2015-11-26 15:21] spragues-trulia commented on #3876
Thanks nazgul33. Great analysis.   I'm in the same boat as you - a user evaluating presto - not a developer.

If you're in the experimenting mood I've found that v0.112 does not exhibit this particular behavior for our company. I'd be curious if you see the same thing.

My _hunch_ is the changes between 0.112 and 0.121 have contributed to what we're seeing though just what that is i have no idea.

[2015-11-26 15:50] electrum opened #4042 "Raptor local shard cleanup should only mark shards for current node"
The calls in `ShardCleaner` to `updateCleanedShardNodes()` and `updatePurgedShardNodes()` should take the current node ID. It is updating the shard for all nodes rather than just the local node.

[2015-11-26 15:53] electrum opened #4043 "The node_id column in deleted_shard_nodes should not be nullable"
The table tracks shards for a node, so it should be `NOT NULL`. Being nullable is probably a leftover from when the same table was used for local and global shards (during development of the feature).

[2015-11-27 07:40] kokosing commented on #3763
Regarding similar behaviour for postgres connector. I was unable to reproduce it so I suspect it is totally different issue. I put underscore in database, schema and table name and still I was able to access them.

*presto*
[code]

*connector*
[code]

[2015-11-27 17:51] harunurhan commented on #2804
@electrum @yaoxin226
I implemented it in on my fork's branch. I just want to show it before PR. You can have look at it here https://github.com/harunurhan/presto/commit/53121ecbc9eb9316b5147fdc115cc4c1bc0890c1
All tests passed and seems to work as far as I could test.

[2015-11-28 03:17] uranusmars commented on #3763
Postgres seems good in our environment.

[2015-11-28 05:29] electrum commented on #2804
This looks like a good start. One comment is to use the Airlift Duration object, since that is both easier for users (can say "2m" or "30s") and avoids needing to specify the unit in code.

[2015-11-28 09:03] harunurhan commented on #2804
@electrum
Thanks for your help, changed it here:
https://github.com/harunurhan/presto/commit/a18b09ac1ae793e0856ea240578d902594dcd682

[2015-11-28 09:20] electrum commented on #2804
Please create a pull request!

[2015-11-30 08:35] electrum opened #4051 "Fix TestHiveDistributedQueries"
There are a number of broken tests. It might be due to the recent access control changes.

[2015-11-30 09:23] liguohuizmy commented on #2373
Excuse me, can you tell me how to this problem solved. I encounter the same problem.

[2015-11-30 13:18] electrum opened #4054 "Throw exception when using SESSION commands from JDBC"
We can consider supporting these in addition to the `setSessionProperty()` method on `PrestoConnection`, but at the very least, we should throw an exception rather than silently ignoring them.

[2015-11-30 13:43] amrutagokhale commented on #3763
As noted by @kokosing , postgre case related to pg_catalog is unrelated to this "_" issue.

[2015-11-30 13:54] syed72 opened #4055 "Orc File Read Error"
I am trying to read a orc file, this file has >5million rows and below is code  to read, I faced problem when i am getting int batchSize = recordReader.nextBatch();

please check this and suggest me a fix.

 OrcRecordReader recordReader = orcReader.createRecordReader(columnTypes, OrcPredicate.TRUE, DateTimeZone.getDefault());
        long rows = 0;
        Block[] blocks = new Block[columnTypes.si

[2015-12-01 00:05] dain commented on #4004
It is hard to say without seeing you cluster.  There are many things that can happen as you push your cluster to the limits.  I would start by upgrading to the latest release and checking if we already fixed the root cause.   If that doesn’t work I would spend some time to convince myself it is GC causing the timeouts (correlate the GC logs to timeouts), before starting on anything else.  Assuming

[2015-12-01 02:11] #4043 closed

[2015-12-01 04:00] #4042 closed

[2015-12-01 06:22] kokosing commented on #3763
Fix landed in the master, 0.128 release should not suffer for this any longer.

[2015-12-01 07:32] #3763 closed

[2015-12-01 15:04] electrum commented on #4015
This is fixed in 0.128

[2015-12-01 15:04] #4015 closed

[2015-12-01 15:10] #3790 closed

[2015-12-01 16:23] petroav opened #4063 "RPM postinstall script does not take into account user specified data dir"
The `postinstall` script has the Presto data directory hardcoded as `/var/lib/presto`. If the user specifies a different data directory in `node.properties`, that directory won't be created with proper permissions and the `launcher.py` script will fail with permission denied.

Ideally this should be fixed in the `postinstall` script so it read `node.properties` and extracts the data dir.

cc @cawa

[2015-12-01 17:24] bograd opened #4064 "ORC reader with predicate push down reads too much unnecessary data"
The query "select l_linenumber from lineitem where l_shipdate < date '1991-01-01'" reads a lot from disk even though it returns null and profile says it processed nothing:
"  "rawInputDataSize" : "0B",
    "rawInputPositions" : 0,
    "processedInputDataSize" : "0B",
    "processedInputPositions" : 0,
    "outputDataSize" : "9B",
    "outputPositions" : 1
"
I am reading actual data read from /proc

[2015-12-01 18:03] bograd commented on #4064
After further examination it looks like date predicate pushdown is not working

[2015-12-01 18:41] cberner commented on #3874
PR here: https://github.com/facebook/presto/pull/4060

[2015-12-01 18:41] #3874 closed

[2015-12-01 18:44] dain commented on #4064
How did you verify that date predicate specifically isn't working?

If you run `explain` on your query you will see the constraints pushed down to the reader.  After that it is up to the ORC reader logic to skip as much as possible.  The best way to do this is to run Presto in an IDE and debug https://github.com/facebook/presto/blob/master/presto-orc/src/main/java/com/facebook/presto/orc/TupleDoma

[2015-12-02 00:52] #4024 closed

[2015-12-02 06:19] aahaselgrove opened #4069 "Column 'table_name' cannot be resolved"
I am trying to execute a left join, but receive the above error. I believe it occurs because I am trying to use a renamed (by the 'as' keyword) aggregate column as part of the condition for the 'on' statement. I have found SQL samples online which can do this (eg. http://www.sqlteam.com/forums/topic.asp?TOPIC_ID=160475), but I seem to be unable to achieve a similar result with presto. Subsituting

[2015-12-02 06:34] yuananf commented on #4069
```count(1) as requests,```
the ```,```should be removed

[2015-12-02 06:37] Dimpl commented on #4069
Thanks, have updated accordingly. Doesn't change the issue, I have more columns in the select statement, but removed them as they weren't relevent to the issue.

[2015-12-02 06:50] yuananf commented on #4069
As far as I can see, the error shows that you are selecting a column named ```table_name```, but this column can not be found in any related table, please check your sql first.

[2015-12-02 06:54] Dimpl commented on #4069
My understanding is that, for the 'on' clause, you use 'first_table_name'.'column_name' = 'second_table_name'.'column_name' to describe the two columns by which you match up data when performing the join. The table 'table_name' definitely exists, and as you can see from the query, the 'timestamp' column definitely exists too.

[2015-12-02 07:12] yuananf commented on #4069
I created a table ```table_name``` like yours, and the sample query runs fine.

[2015-12-02 07:19] Dimpl commented on #4069
I'm working through airpal, but I don't think that should make a difference (?)

[2015-12-02 19:55] cberner opened #4071 "Regression in output buffer creation"
Caused by: java.lang.IllegalArgumentException: Broadcast partition must be 0
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:145)
	at com.facebook.presto.execution.scheduler.BroadcastOutputBufferManager.addOutputBuffer(BroadcastOutputBufferManager.java:54)
	at com.facebook.presto.execution.scheduler.SqlQueryScheduler$StageLinkage.lambda$processScheduleResults$183(SqlQuery

[2015-12-02 20:08] cberner opened #4072 "Implement additional network topologies"
Currently we only support the "flat" topology. We should implement some additional topologies (possibly just make an HTTP call or read a file to discover the topology)

[2015-12-02 20:48] electrum opened #4073 "Add syntax for ROW type"

[2015-12-02 23:02] 123subhadeep-zz opened #4075 "Make IS NOT DISTINCT FROM work with JOIN operator"
(NOTE: With support for non-equi join added to Presto, the query would no longer fail if one attempts to use IS NOT DISTINCT FROM in the ON clause of JOIN operator. However, specific support to treat such join as equi join has not been added. As a result, such query would run, but in a very inefficient manner. Therefore, the issue still stands.)

Using IS NOT DISTINCT FROM in the ON clause of JOIN

[2015-12-02 23:23] dain commented on #3721
done

[2015-12-02 23:23] #3721 closed

[2015-12-02 23:23] #2868 closed

[2015-12-02 23:58] haozhun opened #4076 "Put query id in hdfs file names"

[2015-12-02 23:59] haozhun commented on #4028
@martint Does the function signature look right to you?

[2015-12-03 00:11] dain commented on #4071
Reproduces with:
[code]

[2015-12-03 00:44] dain commented on #4076
In com.facebook.presto.hive.HivePageSink#generateRandomFileName, the query id should replace `filePrefix`.  I would guess we can just remove `filePrefix`.

[2015-12-03 01:02] #4071 closed

[2015-12-03 04:00] yangyangyyy opened #4078 "Create MultiSet Type"
this is the first step to have the multiset feature.

for this step we don't need to have the grammar definition. just need to create the type, create the simpliest operator/function, which is a cast from/to array. in this sense at this step it's like the HyperLogLog (not present in grammar, only in the backend)

[2015-12-03 04:03] yangyangyyy opened #4079 "Create grammar for MULTISET"
this is the second step to enable MULTISET feature.

in this step we need to create the necessary grammar rules; don't need any optimizer change at this time; LocalExecutionPlanner needs to turn the MULTISET AST tree node to the proper operator.

[2015-12-03 04:05] yangyangyyy opened #4080 "Create all basic functions/operators for MULTISET"
this is the 3rd step to enable the MULTISET feature.

once we have a MULTISET, the minimum set of functions and operators required are:

cardinality, equal, hashcode, cast, intersection, union

[2015-12-03 10:48] Liorba opened #4081 "cast varbinary field as varchar"
Hey
it seems that converting varchar to varbinary works fine
 `select cast('hello' as varbinary)`
results as 68 65 6c 6c 6f
but when I tried to to is the opposite way
 `select cast('68 65 6c 6c 6f' as varchar)`
i didn't get the word 'hello'

[2015-12-03 17:07] brian-rickman opened #4082 "PostgreSQL connector 'describe table' reports 'Table has no supported column types' inappropriately"
**In psql:**

[code]

**In Presto:**

Correct:

[code]

Bug:

[code]

[2015-12-03 17:49] akshatnair commented on #4082
Is this specific case due to UUID types in column?

[2015-12-03 17:55] brian-rickman commented on #4082
I think it happens with any type that Presto does not support.  I reproduced it with the 'money' type:

create table test4 (c1 bigint, c2 money);

[2015-12-04 01:37] #2122 closed

[2015-12-04 01:38] #3265 closed

[2015-12-04 01:51] rawls238 commented on #3992
awesome thanks!

[2015-12-04 07:13] syed72 commented on #4055
Any Update on this?

[2015-12-04 09:32] syed72 opened #4090 "java.lang.ClassNotFoundException: Class org.apache.hadoop.hdfs.DistributedFileSystem not found"
Hi,

I am using a custom connector to read orc file using hive orc reader,
so when i try to read a file from hdfs

it throws below exception

java.lang.RuntimeException: java.lang.ClassNotFoundException: Class org.apache.hadoop.hdfs.DistributedFileSystem not found
        at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:1720)
        at org.apache.hadoop.fs.FileSystem.getFileSys

[2015-12-04 14:33] cawallin commented on #4090
Is there any reason you need a custom connector rather than reading your ORC files via the Hive metastore?

[2015-12-04 16:17] electrum commented on #4018
This will be fixed on 0.129

[2015-12-04 16:17] #4018 closed

[2015-12-04 17:45] electrum commented on #3947
We definitely should fix this, but in the mean time, we recommend using a different compression codec, like zlib, since bzip2 is extremely slow (and typically does not save much space over zlib).

[2015-12-04 17:58] martint opened #4091 "Track Memory x Time metric for queries"
This is analogous to cumulative CPU time, but would allow us to understand how much memory a query holds on to during its lifetime.

[2015-12-04 21:07] yingted opened #4094 "Truncated histogram aggregation"
I'm looking for an efficient way to get an (approximate) histogram of the frequent values for each column of a table. These columns are generally high-cardinality, but often skewed. Currently, I'm running a sequence of queries like:

[code]

This is pretty slow when there are a lot of columns. I've tried running the queries together (using UNION ALL) and such, but it doesn't seem to avoid scanning

[2015-12-05 00:15] nezihyigitbasi commented on #4081
@Liorba since `'68 65 6c 6c 6f'` is a `varchar` literal, `select cast('68 65 6c 6c 6f' as varchar)` should return `68 65 6c 6c 6f`.

And even if you get your query right, unfortunately currently `varbinary` to `varchar` cast is not supported in Presto.

[code]

[2015-12-05 00:22] martint commented on #4081
Also, `68 65 6c 6c 6f` is just the way the CLI renders the varbinary, but internally it's just a bunch of bytes. There's no expectation that the display text can be converted back to a varbinary by casting it.

There's a pending PR to add support for binary literals, which will allow you to do this to produce a varbinary:

[code]

See https://github.com/facebook/presto/issues/3901 and https://gith

[2015-12-05 00:22] #4081 closed

[2015-12-05 01:06] petroav commented on #4026
Can you provide more details on this? This thread will give you more info on the exception: https://groups.google.com/d/topic/presto-users/p-bJVMtztsU/discussion.

[2015-12-05 14:16] #4013 closed

[2015-12-06 07:21] syed72 commented on #4090
I was trying to put my table data in cache? so wanna implement that caching using custom connector.
Thanks

[2015-12-06 08:56] Liorba commented on #4081
so how can I use json function on data that is stored as varbinary but is actually a JSON?

[2015-12-06 15:57] martint commented on #4081
You can call `json_parse(from_utf8(x))` to convert the varbinary to json.

See:
https://prestodb.io/docs/current/functions/string.html#from_utf8
https://prestodb.io/docs/current/functions/json.html#json_parse

[2015-12-06 18:33] dain opened #4107 "Add Presto version to QueryCreatedEvent and QueryCompletionEvent"
We should record the Presto version in the query events so if there is a problem with a specific version, it is easy to find queries that ran with that version.

[2015-12-06 18:48] dain commented on #4081
The reason we don't have a cast from varbinary to varchar is we don't know the character encoding of the binary data.  For the opposite cast, we could just choose a single encoding.

[2015-12-06 19:47] harunurhan commented on #4107
@dain, Isn't it already in these events?:

https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/event/query/QueryCreatedEvent.java#L33

https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/event/query/QueryCompletionEvent.java#L40

Or are server version and presto version different?

[2015-12-06 19:50] dain commented on #4107
LOL missed that :)

[2015-12-06 19:50] #4107 closed

[2015-12-07 07:43] Liorba opened #4109 "data from hive table available only after msck repair"
Hello all,
I have a table in hive that points to data in S3.
when I try to query it for new data
`select * from tbl where date>date'2015-12-01'`
the data is not available for querying, only after I connect to hive and run
`msck repair table tbl`
the data is available in both hive and and presto
i'm using external metastore and perso v0.125 (emr 4.2.0 distribution)

and my my hive.properties are as

[2015-12-07 17:21] electrum commented on #2804
0.129 will have `--client-request-timeout`

[2015-12-07 17:21] #2804 closed

[2015-12-07 18:30] JeffSaxe commented on #3380
Hi! I'm politely asking again about this issue, since it's been a few months. Presto clearly has a lot of excellent programmers working on it, but perhaps the issue of Kerberos ticket carry-through to Hive is not important to most users.

I really would like to deploy Presto or at least figure out how much of an improvement it would be for certain queries here. At least for a proof-of-concept, I a

[2015-12-07 19:19] yangyangyyy opened #4113 "excessive CAST is not optimized out"
adding the following test into TestExpressionInterpreter     , the test would fail

 @Test
    public void testCastToArray()
    {
        assertOptimizedEquals("CAST(CAST(array[1] as array<bigint>) AS array<bigint>)", "array[1]");
    }

[2015-12-07 19:33] yangyangyyy commented on #4113
this is the issue:

 in LiteralInterpreter  line 152, currently there is a hack, Block/slice type literals are turned into a functioncall, so that optimizer can't reason about the inside of the function call
        if (object instanceof Block) {
            SliceOutput output = new DynamicSliceOutput(((Block) object).getSizeInBytes());
            BlockSerdeUtil.writeBlock(output, (Block) object)

[2015-12-07 20:09] #2852 closed

[2015-12-07 20:20] haozhun commented on #2852
Will be in release 0.129

[2015-12-07 21:48] electrum commented on #3380
@JeffSaxe I'm not at all familiar with how Kerberos works for the Hive metastore. We connect to the Hive metastore in `HiveMetastoreClientFactory` which just creates a new socket for the Thrift connection. It sounds like you want to start there?

[2015-12-07 23:19] electrum commented on #3947
Could you run the query using the CLI with `--debug` and post the full stack trace? The coordinator error shows an `ArrayIndexOutOfBoundsException` but not where it happens.

[2015-12-07 23:21] electrum commented on #2467
@nanaessuman This looks like a different error. Could you file a different issue?

[2015-12-08 01:44] martint opened #4122 "Insert into partitioned table fails with NPE if partition column not populated"
[code]

[code]

[code]

This piece of code in `HivePageSink.createWriter()` is the culprit:

[code]

[2015-12-08 02:17] yuananf commented on #4122
This is the same as #3860

[2015-12-08 17:24] cberner opened #4125 "Optimize memory usage of TopNOperator"
`TopNOperator` uses `getSingleValueBlock()` and then stores the blocks. This had a lot of overhead and should be optimized similarly to `MaxByNAggregationFunction`

[2015-12-08 17:27] cberner opened #4126 "Optimize memory usage of AbstractMinMaxBy"
`AbstractMinMaxBy` uses `getSingleValueBlock()` and then stores them in an array. This is extremely wasteful for narrow data types, such as `BIGINT`. This should be optimized so that the state object used for grouped aggregations stores the native container values in a flat, segmented, array

[2015-12-08 17:29] haozhun commented on #4125
@yangyangyyy

[2015-12-08 17:33] yangyangyyy commented on #4125
I'll. Work on this one
On Dec 8, 2015 9:29 AM, "Haozhun Jin" <notifications@github.com> wrote:

[2015-12-08 19:12] nileema opened #4127 "Optimize filter for dictionary blocks"

[2015-12-08 19:47] harunurhan commented on #3860
I tried to fix this as @dain suggested. Expectedly it worked. If nobody is going to, I can create a PR for this.
Note: I also tested the solution with INSERT query from #4122 .

[2015-12-08 20:07] electrum commented on #3666
This will be fixed in 0.129

[2015-12-08 20:07] #3666 closed

[2015-12-08 20:14] JanDoerrenhaus commented on #1195
This is a showstopper for us, as the 3rd party software we want to connect to Presto relies on prepared statements. Are there any plans on implementing this in the near future?

[2015-12-08 22:28] cberner opened #4129 "Add local file based security option to Hive connector"
It would be useful to have an access control similar to `ReadOnlyAccessControl` which uses a local file for the configuration. This should probably be similar to the json file we load for the queue manager, and should support making decisions based on, at least, user name, source, catalog, schema, table, and action (read, write, delete)

[2015-12-09 00:44] amitna1r opened #4130 "UDF to shorten and format numbers"
Could you create a UDF to shorten and format numbers (using suffixes like B - billion, M - million, K - thousand, etc).

Examples of functionality:
1000000 would become 1M
and
123456 would become 123K

It can be done using a CASE statement, but a UDF would be cleaner.

[2015-12-09 02:35] yuananf commented on #4130
Is this what you want?
http://stackoverflow.com/questions/4753251/how-to-go-about-formatting-1200-to-1-2k-in-java

[2015-12-09 02:44] amitna1r commented on #4130
:+1:
 Yes! :)

[2015-12-09 02:57] yuananf commented on #4130
I'll try this one

[2015-12-09 17:42] lloydpick opened #4132 "System catalogue unavailable when only coordinator online"
If you try and access the system schema tables, when only the coordinator is online you get...

[code]

I would perhaps have expected to be at least listed the coordinator rather than an error?

[code]

(Ultimately you can't access any data from any of the `system` tables when only the coordinator is online though)

[2015-12-09 18:12] dain commented on #4090
HDFS (and Hive) use dynamic class loading to find their plugins (e.g., the reader for a file format or the implementation of a compression algorithm), so if you want to use these in your new plugin, you will need to set the thread context class loader when Presto calls into your plugin (and unset it on the way out).  This is what the existing Hive connector does.  You can see the code for this her

[2015-12-09 18:19] dain commented on #4130
There is code in the CLI to do this https://github.com/facebook/presto/blob/master/presto-cli/src/main/java/com/facebook/presto/cli/FormatUtils.java and in js in the UI https://github.com/facebook/presto/blob/master/presto-main/src/main/resources/webapp/query.html#L414
Hopefully we can keep these implementation aligned.

[2015-12-09 20:04] cberner opened #4133 "Switch all hashing to 64bit hashes"
There's a major performance cliff in GROUP BY (and presumably JOIN) queries with > ~10B distinct groups. This is because our hashes only have 32bits of entropy. We should switch `Type.hash` to return a `long` and all other hashes should be 64bit (implementations of `OperatorType.HASH_CODE`, `CombineHashFunction`...etc)

[2015-12-09 20:05] cberner commented on #4133
Here's a benchmark which shows that at 1T groups performance is nearly 100x worse than 1B groups:
https://github.com/cberner/presto/blob/a20d38a3b0d0ad326b9e9591771a379fd3dcef16/presto-main/src/test/java/com/facebook/presto/operator/BenchmarkGroupByHash.java

[2015-12-09 20:44] raghavsethi commented on #3965
Merged #4031.

[2015-12-09 20:44] #3965 closed

[2015-12-10 00:01] soulmachine opened #4136 "NullPointerException during queries"
I keep getting the following exception when I run SQL queries,

    2015-12-09T23:46:47.030Z        ERROR   query-execution-48      com.facebook.presto.execution.QueryStateMachine Query 20151209_234645_00078_2pj8t failed
    java.lang.NullPointerException
            at com.facebook.presto.type.VarcharOperators.equal(VarcharOperators.java:44)
            at com_facebook_presto_$gen_CursorProcessor

[2015-12-10 00:32] picharras commented on #4014
I Have same issue. Any idea? Thanks!

[2015-12-10 14:03] chizar commented on #1285
Dain,

Could you please clarify. It was just replaced by non-recurcive behavior?  or it is configurable?

[2015-12-10 17:42] dain commented on #1285
There is a configuration option `hive.recursive-directories` the default is `false`

[2015-12-10 17:51] martint opened #4142 "Improve error message when trying to create Hive tables with unsupported types"
It's not very clear that the error is because we're trying to write a table with a column of type JSON, which is not supported by the Hive connector:

[code]

[2015-12-10 19:12] raghavsethi commented on #4019
Follow-up task: #4133

[2015-12-10 19:12] #4019 closed

[2015-12-10 20:07] electrum opened #4147 "Preserve error code when creating failure function"

[2015-12-10 20:55] martint opened #4148 "Add support for TRY()"
We need a more general mechanism to deal with data errors similar to how `TRY_CAST` works. In the past, we've discussed adding a special form `TRY` that can be used to wrap any expression and would return `NULL` if the expression ever throws an exception during evaluation.

For example, the following query would return a single `NULL` value:

[code]

[2015-12-10 21:35] dain commented on #4148
It would be nice to have an overloaded version where I could specify the default value.

[2015-12-10 22:45] miniway commented on #3989
I try calling clearDFA as a workaround https://github.com/miniway/presto/commit/44b9ac34196db6d01e99ecc0fbad33f92ba1eb40

[2015-12-10 23:06] picharras commented on #4014
Hi, i found a solution, edit your cassandra.properties file and add this:
cassandra.limit-for-partition-key-select=NUMBER

Where NUMBER is the max result that you want!

Not elegant but works!

[2015-12-11 02:13] cberner opened #4150 "Optimize processing of concat(array, array) and other scalar functions that create new Blocks"
concat(array, array) is very expensive because it has to allocate a new `BlockBuilder` and then write both the array into it. Couple thoughts for optimizing this:
* Change the scalar function framework, so that functions which return `Block` instead receive a `BlockBuilder` out variable. This would remove the overhead of allocating new `BlockBuilder`s because a single one would be created in the `

[2015-12-11 03:14] #3839 closed

[2015-12-11 21:01] electrum opened #4151 "Document jmx.rmiserver.port in deployment instructions"

[2015-12-11 22:36] 123subhadeep commented on #3801
This is already implemented.

[2015-12-11 22:36] #3801 closed

[2015-12-11 22:44] petroav commented on #4132
I think this behavior makes sense. If you just had a coordinator up, then the system is unusable, it is undefined. You shouldn't give the user the illusion that they can send queries by making the system catalog query-able. This is just my opinion, not sure if this behavior is intentional or not. The FB folks can chime in and clarify.

[2015-12-11 22:51] cawallin commented on #4132
There is a configuration related to this: `node-scheduler.include-coordinator=true`. When set to true, you can treat the coordinator as both a worker and a coordinator. With this config set, you'll be able to run schema queries (and any queries, for that matter) with a single node.  For a production cluster, that's probably a bad idea, but if you're just trying Presto out this config will work.

[2015-12-11 22:55] petroav commented on #4132
Right, so with `node-scheduler.include-coordinator=true`, you no longer just have a coordinator, you have a coordinator and a worker. They just happen to be living in the same process. In this case, the system is defined and the `system` catalog is available.

[2015-12-11 22:57] petroav commented on #4136
Can you share your query and schema?

[2015-12-11 23:43] dain opened #4154 "TABLE SAMPLE prevents scan, filter, project from fusing into a single operator"

[2015-12-14 14:26] stagraqubole opened #4160 "Slow queries with ORC format"
Seeing this consistently with ORC table. Trying queries of form "select * from TABLE order by COL1", the table is very small (~20MB data, 500k rows). Query took 40min to complete on a 2-node cluster.
Same query against TXT finishes in around a minute.

The problem seems to be happening due to ORC Reader using common Dictionary block. In my case, the Dictionary block read had 500k entries. Since th

[2015-12-14 14:29] stagraqubole commented on #4160
To hot fix, this is what I did:
Changed:
[code]
To:
[code]

I can open the PR for this but I am not sure why is is full dictionary size considered for the page Size originally. Waiting to get clarification

[2015-12-14 17:21] electrum opened #4161 "Support views in JDBC connectors"
I think the problem is that the `getTables()` method in `BaseJdbcClient` needs to include `"VIEW"` in the list of types passed to `DatabaseMetaData.getTables()`.

[2015-12-14 17:44] dvryaboy commented on #2508
Hi @zhenxiao and @colinmarc , I have a few days to spend on this -- can you confirm that this issue is still valid? I know @zhenxiao put a bunch of changes into the parquet reader recently.

[2015-12-14 18:44] zhenxiao commented on #2508
@dvryaboy I think the issue is valid. When reading complex types in parquet Map/Array/Struct, say a ROW type(the corresponding struct type in Hive):
p3:struct<m1:int, m2:double>
Now reading p3.m1 will scanning both m1 and m2, ideal case would be scanning m1 only.
My recent code changes are for primitive types. Primitive types in Parquet does not having this problem.
Also, let's always keep @dain i

[2015-12-14 19:58] albertocsm commented on #4082
AFIK @brian-rickman is correct. if the column type does not fall into this [switch](https://github.com/harunurhan/presto/blob/master/presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/BaseJdbcClient.java#L420), the column just gets ignored.
wouldnt it be better to just fall back to varchar in this case and just return the value as string?

at the very least, it would help to do it for

[2015-12-14 21:17] electrum opened #4167 "Raptor exception for insert"
[code]

[2015-12-14 21:44] haozhun commented on #4160
@stagraqubole This is really good find. Thank you

1. You are correct that `getSizeInBytes` is wrong in `DictionaryBlock`. But we did it consciously because the alternative would be the code you presented above, which is too costly in our opinion. We should probably add a comment.
2. We believe we can fix your issue by fixing two bugs:
 * `PageSplitterUtil.splitPage` should call `copyRegion` inste

[2015-12-14 21:48] haozhun commented on #4160
@stagraqubole You are welcome to submit a pull request for this. Otherwise, @nileema will fix this when she becomes less busy.

[2015-12-15 00:59] electrum opened #4170 "Raptor table and view names can overlap"
They should be in the same namespace and not overlap.

[2015-12-15 02:59] dain opened #4171 "Count distinct of a varchar is much slower than bigint"
This query finishes in tpch.sf1 finishes in about 2 seconds using 10 cpu seconds on my laptop:
[code]
whereas, this query takes 9 minutes and takes 3300 cpu seconds:
[code]

[2015-12-15 03:01] dvryaboy commented on #2508
Thanks, @zhenxiao . @dain , after spending some time today looking at the codebase, I'm getting the impression that this is not a parquet-specific issue; HiveColumnHandle does not have a notion of nesting, and identifies the datum needed via a column index, which doesn't let one address a sub-struct. So if we change the planner to push projection down, it does not currently have a way, that I see,

[2015-12-15 03:33] dain commented on #4171
This is a regression since 0.128.

[2015-12-15 05:16] dain opened #4172 "Add rand(BIGINT) function"
This function should just call `ThreadLocalRandom.current().nextLong(value)`

[2015-12-15 07:39] electrum commented on #4172
How would this be different than rand()?

[2015-12-15 07:41] electrum commented on #4172
The function returns a number between 0 and N (exclusive).

[2015-12-15 13:21] stagraqubole commented on #4160
Thanks @haozhun, few questions:
1. Keeping getSizeInBytes same and doing copyRegion to compact Dictionary would still divide the page into two even when one page could have been transferred. This might not be a big issue, two pages rather than 1000 is still better.
2. Wouldn't changing splitPage to use copyRegion have performance impact?

[2015-12-15 19:27] soulmachine commented on #4136
My query is:

    select smsdelivery_countrycode,smsdelivery_phoneType from app_logs where year=2015 and month=12 and day=9 and smsdelivery_countrycode='US' limit 10;

My table schema is:

    CREATE EXTERNAL TABLE IF NOT EXISTS app_logs(
    class STRING,
    exception_class STRING,
    flume_node STRING,
    host STRING,
    loglevel STRING,
    microseconds BIGINT,
    parser STRING,
    path S

[2015-12-15 20:12] dain commented on #4171
Fixed with https://github.com/airlift/slice/pull/48

[2015-12-15 20:12] #4171 closed

[2015-12-15 20:16] dain opened #4176 "Non-deterministic functions executed multiple times with precomputed hash optimization"
The `rand()` call in the following query is executed an extra time for the `$hashvalue` symbol:
[code]

[2015-12-15 21:15] dain commented on #4136
Can you run `EXPLAIN` on this query and post the result?

[2015-12-15 21:17] dain commented on #4136
BTW I think you can workaround this by flipping the equals in the SQL `'US'=smsdelivery_countrycode`

[2015-12-15 21:23] dain commented on #4136
My guess is there is a disagreement between the `isNull` check and `getSlice`:

https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetHiveRecordCursor.java#L322
https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetHiveRecordCursor.java#L306

@nezihyigitbasi of @zhenxiao and ideas

[2015-12-15 21:55] nezihyigitbasi commented on #4136
It may help if @soulmachine can provide the output of the `parquet-meta` and `parquet-schema` commands for the specific parquet file that's throwing the NPE. It may be a hive table / parquet file schema mismatch causing the field indices to offset.

[2015-12-15 21:58] zhenxiao commented on #4172
May I try this one?

[2015-12-15 22:40] zhenxiao commented on #4136
Hi @soulmachine did you do any alter table add column or rename column? It could be either parquet schema mismatch, or some null checking in ParquetHiveRecordCursor. We have been using ParquetHiveRecordCursor for some time(1 year?), did not see similar problem. Just upgraded to Presto 0.125, there is one commit recently:
https://github.com/facebook/presto/commit/6247be0f18d3a0a8887a99780b1f7b18991

[2015-12-15 23:33] soulmachine commented on #4136
The following is the output of command `yarn jar parquet-tools-1.8.1.jar schema part-r-00000-8a78121b-8947-4f85-a2a9-d03428b5bf0f.gz.parquet`"

    message root {
      optional binary class (UTF8);
      optional binary exception_class (UTF8);
      optional binary flume_node (UTF8);
      optional binary host (UTF8);
      optional binary loglevel (UTF8);
      optional int64 microseconds;

[2015-12-15 23:35] soulmachine commented on #4136
@zhenxiao My never altered my table, the schema is not changed since the table was created

[2015-12-15 23:42] soulmachine commented on #4136
@dain Flipping the condition doesn't work, looks like syntax error:

    select smsdelivery_countrycode,smsdelivery_phoneType from app_logs where year=2015 and month=12 and day=9 and 'US'= smsdelivery_countrycodelimit 10;

    Query 20151215_233923_00006_2pj8t failed: line 1:146: extraneous input '10' expecting {<EOF>, '.', '[', 'GROUP', 'ORDER', 'HAVING', 'LIMIT', 'APPROXIMATE', 'AT', 'OR', 'AND'

[2015-12-15 23:43] martint commented on #4136
You're missing a space between `smsdelivery_countrycode` and `limit`

[2015-12-15 23:44] soulmachine commented on #4136
@martint Good catch

[2015-12-16 00:21] nezihyigitbasi commented on #4136
@soulmachine Parquet file schema and hive table schema mismatch, I see that smsdelivery_CallDuration/smsdelivery_callDuration, smsdelivery_CallStatus/smsdelivery_callStatus, and smsdelivery_MCCMNC/smsdelivery_mccmnc fields exist with different cases in the parquet schema. Did you try setting `hive.parquet.use-column-names` to true?

[2015-12-16 00:24] soulmachine commented on #4136
@nezihyigitbasi In my `etc/catalog/hive.properties`, I don't have `hive.parquet.use-column-names`, perhaps its default value is true? Let me add a line of `hive.parquet.use-column-names=false` and restart my Presto cluster

[2015-12-16 00:34] nezihyigitbasi commented on #4136
@soulmachine its default is false, please see the [code](https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java#L97).

[2015-12-16 00:51] soulmachine commented on #4136
Guys, the `NullPointerException` is gone after I set `hive.parquet.use-column-names=true`. However, the query returns 0 rows, while I can get some rows with the same query in SparkSQL. The following is my query in Spark Shell:

[code]

[2015-12-16 01:02] soulmachine commented on #4136
It seems Hive will convert all uppercase letters in column names into lowercase letters, for example, create a table with upper cases in column names, then run `describe my_table;` it will show all field names in  lower cases.

while my Parquet schema contains many columns with uppercases, is it a problem?

[2015-12-16 01:27] nezihyigitbasi commented on #4136
@soulmachine with `hive.parquet.use-column-names=true` case sensitivity should matter when looking up columns with name.

Like I said above there are columns that exist in the parquet schema with different cases. Either you will get rid of one of those fields that repeat (and make sure that fields in the hive schema map to the fields in the parquet schema index-wise) and  `hive.parquet.use-column-

[2015-12-16 01:32] soulmachine commented on #4136
@nezihyigitbasi Got it, I'll re-generate my Parquet files and try both ways. I'll let you know when I have results.

[2015-12-16 02:11] zhenxiao opened #4182 "Get PageTransportTimeoutException, while the worker does not crash"
We recently upgraded to Presto 0.125, with another 2 commits in Presto 0.126:
https://github.com/facebook/presto/commit/9d0f89446f62146337137c5954b5739edd6a5799
https://github.com/facebook/presto/commit/633dc4a675df376e23f497dac4312540b5a336a5

Some of our queries(mostly joins) kept getting the following error:

These errors used to be worker JVM crash or transient issue. But this time, the worker

[2015-12-16 02:30] zhenxiao commented on #4182
we already set:
http-server.threads.max=500
are there other configurations related?

[2015-12-16 06:40] nezihyigitbasi commented on #4182
Related issues #4004 #3876

[2015-12-16 08:30] martint opened #4185 "Add server version to web UI"
We could display it somewhere in the header of the main page.

[2015-12-16 09:33] dain opened #4186 "Query fails with "Position tracker is closed""
java.lang.IllegalStateException: Position tracker is closed
	at com.google.common.base.Preconditions.checkState(Preconditions.java:173)
	at com.facebook.presto.operator.LookupOuterOperator$OuterPositionTracker.visit(LookupOuterOperator.java:394)
	at com.facebook.presto.operator.LookupOuterOperator$OuterLookupSource.appendTo(LookupOuterOperator.java:329)
	at com.facebook.presto.operator.LookupJoinO

[2015-12-16 16:35] albertocsm commented on #1195
+1

[2015-12-16 17:04] nezihyigitbasi commented on #4182
Checked the gc logs around the time tasks failed and there is no full GC happening.

[2015-12-16 17:14] cberner commented on #3979
It has always been like that. In fact, I'd say my change made it better :)

What it used to say is:

[code]

[2015-12-16 17:16] cberner commented on #3979
@martint can you comment with the message you'd like to see? Then this will be a good beginner task

[2015-12-16 17:55] martint commented on #3979
It should actually work, I think. This should be equivalent to:

[code]

[2015-12-16 18:44] cberner commented on #3979
Looked through the spec, and I think it specifically forbids that:

Section 7.10
"<having clause> ::=
HAVING <search condition>"

Section 7.10.5
"The <search condition> shall not contain a <window function> without an intervening <query expression>."

[2015-12-16 18:47] mattsfuller commented on #3380
@JeffSaxe
We here are Teradata plan to do more with Kerberos and can take this on starting January 1.

[2015-12-16 20:29] electrum opened #4190 "Require at least one non-partition column for Hive tables"

[2015-12-16 20:37] zhenxiao commented on #4182
try playing with it, by setting:
task.max-worker-threads=32
in the worker does not solve the problem

[2015-12-16 21:28] nileema commented on #4160
We decided to go with the approach of fixing getSizeInBytes for dictionary blocks. The sizeInBytes is actually the sum of lengths of all referenced elements of the dictionary, rather than the unrolled dictionary.

Also, It is ok for the pageSplitter to call ``getRegion`` because the ``DictionaryBlockEncoding`` always calls compact before it sends the data.

PR: #4191

[2015-12-16 22:49] martint commented on #3979
I don't understand what that means. There's no `query expression` involved in a `having clause` or `table expression` (which is what the having clause is attached to). Maybe it's referring to whether that `having clause` is contained in a `query expression`? This would be the case for the common `SELECT` syntax we support, but not for `<select statement: single row>`, which is defined as:

[code]

[2015-12-16 23:00] haozhun opened #4194 "Optimize PushTableWriteThroughUnion to pre-union for local unions"

[2015-12-16 23:41] toyama0919 commented on #1195
+1

[2015-12-17 11:38] zinking commented on #4148
@dain default value could easily be achieved by combining `coerce` or `case when`

[2015-12-17 12:52] stagraqubole commented on #4160
Great, I will pull that in. Thanks.

[2015-12-17 19:51] soulmachine commented on #4136
@nezihyigitbasi Finally it works! I checked my parquet schema very carefully and found out some duplicated field names:

    smsdelivery_MCCMNC, smsdelivery_mccmnc
    smsdelivery_CallDuration,smsdelivery_callDuration
    smsdelivery_CallStatus,smsdelivery_callStatus

They're almost identical but just in different lower or upper cases. For parquet, it's not a problem, but for Hive it is a problem

[2015-12-17 19:51] #4136 closed

[2015-12-17 19:53] electrum opened #4201 "ABS returns the wrong value for Long.MIN_VALUE"
ISO 9075-2 Section 2.28 (8)(c):

We should add a new user error `NUMERIC_VALUE_OUT_OF_RANGE`

[2015-12-17 19:56] electrum commented on #4201
Reproduction from @dain: `select abs(-9223372036854775807 - if(rand() < 10, 1, 1));`

[2015-12-17 20:06] soulmachine opened #4203 "Query failed at an unused column"
I have a field in my parquet schema:

[code]

But I don't use this field in my table at all, the following is my table's schema, there is no `tags` field:

[code]

My query is:

[code]

The stacktrace is:

    2015-12-17T19:55:18.746Z        ERROR   query-execution-77      com.facebook.presto.execution.QueryStateMachine Query 20151217_195517_00085_ruqhq failed
    java.lang.IllegalArgumentExceptio

[2015-12-17 22:27] electrum commented on #4203
Can you post reproduction steps for how to create such a file and corresponding table in Hive that causes the Presto error? Having this will make it much easier to debug.

[2015-12-17 22:31] dain commented on #4160
This was fixed by #4191

[2015-12-17 22:31] #4160 closed

[2015-12-17 22:44] nezihyigitbasi commented on #4203
@soulmachine as we discussed in #4136 , the indices of the columns in the hive table schema and the parquet file schema should match (unless you set `hive.parquet.use-column-names=true` then the names should match) otherwise a column index in the hive table schema may map to some other column in the parquet schema. If the rest of the parquet schema matches the hive table schema then using name-bas

[2015-12-17 23:58] soulmachine commented on #4203
@nezihyigitbasi I'm using name-based access. I've set `hive.parquet.use-column-names=true` in Presto

[2015-12-18 00:02] nezihyigitbasi commented on #4203
@soulmachine aha I just saw that you are doing `select *`, so it won't matter whether you use name-based access or not since schemas won't match in either case. I can't think of any other solution than re-writing your parquet files (to sync their schemas with the hive table schema) if you don't want to specify columns as you point out above.

[2015-12-18 00:47] soulmachine commented on #4203
@nezihyigitbasi Thank you. This problem disappears after I restart my Presto cluster a few times, weird. I'll close this issue.

[2015-12-18 00:47] #4203 closed

[2015-12-18 01:44] xerial opened #4206 "Method code too large error in Presto 0.130"
We found a query compilation error in 0.130 that didn't happen in presto 0.129 when processing this kind of query:
```SELECT time, * FROM tbl WHERE time between ... and  ... AND user_id = ... order by time```
where tbl contains many columns.

I'll try to create a query example to reproduce the problem. Let me know related change made in 0.130.

Here is the stack trace:
[code]

[2015-12-18 01:51] xerial commented on #4206
This one is the fix?
https://github.com/facebook/presto/commit/a382b3f8e8005ff4f79a68fba013fea80a148d09

[2015-12-18 03:14] electrum commented on #4206
That should be the fix. Can you try it out?

[2015-12-18 03:32] xerial commented on #4206
ok. I'll try it. Thx.

[2015-12-18 03:46] xerial commented on #4206
Confirmed this is fixed in by a382b3f.
Thanks.

[2015-12-18 03:46] #4206 closed

[2015-12-18 11:38] arnaudbaali commented on #3654
:+1: with mysql query as well

[2015-12-18 17:14] electrum opened #4209 "Exception in SqlQueryScheduler"
This happened when I ran the query while the cluster was starting, probably before any of the workers were online.

[code]

[2015-12-18 22:12] nezihyigitbasi commented on #4182
@dain any settings that we can try tweaking? We started seeing this after we deployed version `0.125`.

[2015-12-18 22:28] nileema commented on #4182
Can you check the http request log on the server to see if the request was received/processed?

[2015-12-18 22:34] nileema commented on #4182
I would look at the http request logs on the server and check how long it takes for the server to process requests from this client. As a break-fix you can bump up the exchange.min-error-duration which will make the client wait for a response longer than 60s (which is the default). Typically requests are processed within few ms so this does seem suspicious.