[2015-04-01 10:34] damiencarol commented on #2624
@cberner very very very interesting features.

* Does memory pools will be configurable ? (number by worker)
* Memory management it strongly bound to JVM instance configuration (GC, size, ...), does memory pools will be implemented in different instances of JVM ?

[2015-04-01 16:17] cberner commented on #2624
Yes, they will be configurable. My thinking is that the administrator won't configure them directly, but would configure them indirectly by setting the maximum distributed memory usage for a query, or in the future by setting the size of resource groups which would get a certain amount of guaranteed resources.

Yep, their size will be determined (in part) by the JVM heap size minus the reserved me

[2015-04-01 22:14] nezihyigitbasi commented on #1596
@martint any plans to fix this? This blocks #1571 (and a bunch of other monitoring stuff I plan to create a new PR for)

[2015-04-02 23:20] linehrr opened #2632 "unnest with join stopped working"
unnest with join after used to work in Presto 0.86 and previous versions.
now we tried 0.97/0.98/0.99/0.100 and they all give syntax error.
```"Error evaluating constant expression: Constant expression cannot contain column references"```

in the release note, it does not mention about any backward incompatibility of unnest.
other queries that does not have unnest all works fine.
so we doubt that

[2015-04-03 03:54] yuananf commented on #2074
Seems not a problem in current release.

[2015-04-03 08:07] soulmachine opened #2635 "Potential bug in config.properties of Presto 0.100"
Today I upgraded my presto cluster to 0.100 and found an annoying problem with the file `etc/config.properties`.

## Configuration 1

    coordinator=true
    http-server.http.port=8080
    task.max-memory=1GB
    #discovery.uri=http://presto-coordinator.mydomain:8080
    #node-scheduler.include-coordinator=false
    discovery-server.enabled=true

First, stop the coordinator, and then delete all l

[2015-04-03 17:01] haozhun commented on #2632
Reproducible with a simpler query

    select a, b, c, d
    from (values (ARRAY [1]), (ARRAY[2, 3]), (ARRAY[0, 4, 5])) t(a)
    cross join unnest(a) u(b)
    left outer join (values (1, 'one'), (2, 'two'), (3, 'thr'), (4, 'fou'), (5, 'fiv'), (0, 'zer')) v(c, d)
        on b = c;

[2015-04-03 17:15] haozhun commented on #2632
The issue here is join precedence. For immediate workaround, please add a parenthesis around your cross join.

    select
            split_part(bh.chunk, '-', 7) as campaignID,
            count(*)
    from (pa cross join unnest(history) AS bh (chunk))
            left outer join brand on (split_part(bh.chunk, '-', 7) = brand.campaignID)
    where dt='2015-01-01'
            and split_part(bh.chu

[2015-04-03 17:36] martint opened #2636 "Add source field to system.runtime.queries table"

[2015-04-03 20:42] linehrr commented on #2632
thank you haozhun!
and also thanks for the quick work around.
however, our company has lots of queries written and deployed.
it's hard for us to make this hot fix everywhere.

hope we can fix this issue and push into the main branch ASAP and get this fixed in the next release.
we will still use 0.86 for now and will upgrade when this issue is fixed.

also we will try to create some regression test

[2015-04-03 22:00] haozhun commented on #2632
Merged. Close

[2015-04-03 22:00] #2632 closed

[2015-04-03 22:27] soulmachine commented on #2635
Sorry for the misreport. It turns out that the NTP of each  nodes of Presto cluster doesn't work right, thus each node has very old time, which causes that Amazon S3 will reject my requests with old timestamp.

[2015-04-03 22:27] #2635 closed

[2015-04-03 23:47] dain opened #2639 "Add wall clock sanity check at startup"
If clock is before some sane point, say before 2015, fail to start server.  This will prevent and catch whole classes of errors in third party libraries.

[2015-04-03 23:57] electrum commented on #2632
We run the Presto before every release on a sample of queries from the previous day. It runs against production and the candidate release. You might be able to have a similar setup with your own queries.

[2015-04-04 01:03] linehrr commented on #2632
yea I think it's a fantastic idea, I will do  the same setup as backward compatibility checks on new release pushing test.

[2015-04-05 23:13] Myrthan commented on #2599
My pull request is not listed, should I create new one?

[2015-04-06 16:22] cberner commented on #2632
We use the presto-verifier project, which might help you. There's some documentation here: https://prestodb.io/docs/current/installation/verifier.html

[2015-04-06 16:45] #1975 closed

[2015-04-06 22:00] linehrr commented on #2632
thanks cberner, I will take a look :+1:

[2015-04-06 23:49] cberner opened #2644 "SliceDictionaryStreamReader creates too much garbage"
Profiling shows that `openRowGroup()` is responsible for about 60% of all object allocation on the workers, at least for highly selective queries. This is likely a side-effect of 9bf232f07f8b2a7eec864e77188e51e94da1b41c

We should add a heuristic when creating these dictionaries to avoid large buffers, but also avoid too much object creation

[2015-04-06 23:50] cberner commented on #2644
Assigning to myself, so that we don't lose track of this, but if someone else wants to write a patch that'd be great!

[2015-04-07 11:36] Myrthan commented on #2644
I want to but I need to have design review or some hints how it should be written.

[2015-04-07 18:40] #2346 closed

[2015-04-07 19:25] electrum opened #2650 "Exception when doing partial cancel"
[code]

[2015-04-07 22:36] haozhun commented on #2513
#2652

[2015-04-08 15:07] #2578 closed

[2015-04-08 15:18] ndsorrowchi opened #2658 "Server rufuse connection error after restarting"
Server refused connection: http://localhost:8080/v1/statement

I have a java server which has to add a new catalog and restart presto server to reload new catalogs. After restarting presto it has to run a create table as query.
I use Runtime.getRuntime.exec(command) to restart it and I put waitfor() there. Yet it doesn't work. I tried and found that it actually takes 8 seconds to be 'really' resta

[2015-04-08 17:38] jcowanpdx opened #2661 "Support OFFSET in SELECT"
LIMIT is supported. Is it possible to add OFFSET as well? I understand I can do that manually but having native support would be nice. The downside of manual paging is more data transmitted over the wire from server to client.

[2015-04-08 17:41] cberner opened #2662 "Reduce memory usage of map_agg"
`map_agg` uses a very large amount of memory. We should write a new class (or modify the interface of `GroupByHash`) that's similar to `GroupByHash`, but operates on a single Block. Then replace `keysHash` in `KeyValuePairs` with that new class

[2015-04-08 19:13] electrum commented on #2661
We can add this, but performing pagination using this method is extremely inefficient, especially for an analytic database like Presto that often has to perform a full table or partition scan. Additionally, the results will not necessarily be consistent between queries, so you can have duplicate or missing results when navigating between pages. It is better for the application to cache the result

[2015-04-08 22:02] jcowanpdx commented on #2661
Thanks. Definitely agree it's a better solution and have dealt this similar solutions on other platforms. We're working behind a legacy interface that allows arbitrary pagination, so that gives us some challenges using the stated approach. We've got some workarounds planned for now until we can rework the interface. Cheers.

[2015-04-09 01:58] cberner commented on #2624
Some initial cleanup here: https://github.com/facebook/presto/pull/2667

[2015-04-09 14:46] 0x4139 opened #2668 "Username and/or password are incorrect"
I have tried all versions from presto 0.80 to 0.100 i can't authenticate against a cassandra db  2.1.4 nor 2.0.14 . If i use no password everything works fine

my presto connector config is

[code]

the error i get is

[code]

[2015-04-09 16:33] dain opened #2669 "Allow mixed case in from base functions"
For example:
[code]

Also invalid input should be classified as `INVALID_FUNCTION_ARGUMENT`

[2015-04-09 17:10] haozhun commented on #2669
@dain

https://github.com/google/guava/issues/1886

A workaround as suggested by the above post is call uppercase on the input. (Or a custom simplified custom uppercase that works on slice and handles only a-z. `StringFunctions.upper` seems to be the exact function I want here if it will never support unicode.)

[2015-04-09 17:21] electrum commented on #2668
Remove the quotes in the properties file. Those are treated as literal quotes.

[2015-04-09 17:37] 0x4139 commented on #2668
I removed them :), my code is the same as in the initial comment code block
...

[2015-04-09 22:18] electrum opened #2671 "Add error codes to QueryError"
`QueryError.errorCode` is currently always set to `0`. It should be set to the correct error code. Additionally, we should add `errorName` (from `ErrorCode.name`) and `errorType`.

[2015-04-10 06:30] yuananf opened #2676 "Is there any document about raptor connector?"
I saw dain's ppt on presto-meetup last month, and it shows that raptor have been used in facebook.

I tested raptor connector with some tpch queries, and it was very very fast.

But I can't see any new document about raptor connector, the only information about raptor is in presto 0.69 release note, how can I config it with metadata in mysql?

[2015-04-10 07:58] electrum commented on #2676
We won't document it until it is ready for external use. We often do things like make backwards incompatible metadata changes that require complex manual steps to migrate. There will be more of these in the near feature as we add storage cleanup (physical storage is currently never reclaimed).

I'll look for MySQL instructions tomorrow.

[2015-04-10 08:11] yuananf commented on #2676
I see, thanks!

[2015-04-10 09:41] yuananf opened #2677 "Antlr4 error"
We met this error in our cluster occasionally.
https://github.com/antlr/antlr4/issues/804
Since parrt said the new release of antlr will be May sometime, is it possible to provide a temporary version of antlr4? Or should I build the antlr master myself?

[2015-04-10 18:47] zhenxiao opened #2678 "Rewrite Single Distinct having other aggregations into GroupBy"
https://github.com/facebook/presto/pull/2085 rewrite Single Distinct without other aggregations into GroupBy, follow the discussion, we could do the following:

SELECT store_code,
       date_key,
       Sum(sale_net_val) Sales_value,
       Sum(sale_tot_qty) Qty,
       Count(DISTINCT customer_code)
FROM   sales
GROUP  BY store_code,
          date_key;

be converted into:

SELECT store_code,

[2015-04-13 00:16] soulmachine opened #2681 "No FileSystem for scheme: s3a"
It seems that Presto doesn't support the `s3a` schema.

I created an external table on Amazon S3 and used the location "s3a://xxx", then I could run all kinds of queries based on this table in Hive, but none of them could run in Presto, all returned the following error message:

    Query 20150413_000647_00004_pnfam failed: No FileSystem for scheme: s3a

According to the Hadoop official document,

[2015-04-13 01:10] zhenxiao commented on #2681
@soulmachine no support for s3a yet. s3 and s3n are supported. We do not have s3a use case yet. Maybe I could simply patch and send you a PR to try?

[2015-04-13 01:24] zhenxiao commented on #2681
@soulmachine I take a try at https://github.com/facebook/presto/pull/2682, maybe you could try building Presto with my PR and see whether it is working. Your comments and suggestions are appreciated.

[2015-04-13 04:23] electrum commented on #2681
I just merged @zhenxiao's patch, so this will be supported in the next release. Thanks for letting us know about this.

You might also be able to make this work with the current release by adding `hive.config.resource=/path/to/config.xml` to your Hive catalog properties file where `config.xml` contains the following:
[code]

[2015-04-13 04:23] #2681 closed

[2015-04-13 05:05] soulmachine commented on #2681
Thanks @zhenxiao @electrum !

[2015-04-13 17:34] heiko-braun commented on #1491
@pgarrison did you actually implement the FunctionFactory to convert timeuuid fields?

[2015-04-14 14:09] damiencarol opened #2687 "Wrong value returned by getTableTypes()"
Currently **PrestoDatabaseMetaData.getTableTypes()** use:

[code]

Which returns:

[code]

This break consistency with major RDBMS (MySQL, SQL Server, other I think). Plus Java doc talk about **TABLE** value and not **BASE TABLE** value.

There are no simple fix as JDBC client should use this values to filter tables in method **getTables**.
The current behavior breaks aggregate detection in Pentah

[2015-04-14 15:07] pgarrison commented on #1491
Nope, sorry, I've stopped working on the project I needed it for.

[2015-04-14 15:50] electrum commented on #2676
The MySQL support can be enabled by setting `metadata.db.type=mysql`, but the MySQL connection actually comes from Discovery, which requires creating a static announcement in Discovery (or having MySQL or another process announce into Discovery). Details in `MySqlDataSource` in Airlift.

We will simplify this before officially releasing Raptor. Supporting different databases for metadata, managing

[2015-04-15 03:07] felipegasparini commented on #2325
I'm having the same problem.

I can create and query the table with Hive but when I try to query using Presto it throws out the error with the missing Snappy class (java.lang.NoClassDefFoundError: Could not initialize class org.xerial.snappy.Snappy).

I'm running Presto on EMR using the bootstrap action from s3://support.elasticmapreduce/bootstrap-actions/presto/install-presto.rb.

[2015-04-15 20:03] atalmadge opened #2694 "API to list queries"
It would be really helpful to have an API to list the queries and get back some basic information such as source, user, query id, sql, basic stats, cancelation url, etc.

This information could then be surfaced in UIs + CLIs to make it easier for users to manage their queries.

Thanks!

[2015-04-15 23:16] electrum opened #2700 "Window function in WHERE clause should fail with analysis error"
When fixing this, we should check other places that window functions could erroneously be used.

[code]

[2015-04-15 23:23] yuananf commented on #2694
select * from system.runtime.queries

[2015-04-16 06:04] lvxin1986 opened #2704 "presto-0.100 could not fetch data from Kafka, error code is '6'"
Hello,Presto:
I'm using Presto-kafka,But when i executed a query,an error occoured:
---------------------------------------------------------------------------------------------------------
presto:default> use kafka_test.default;
presto:default> select * from mytopic;

Query 20150416_055844_00057_ngb8v, FAILED, 2 nodes
Splits: 1 total, 0 done (0.00%)
0:01 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20150

[2015-04-16 06:12] martint opened #2706 "Migrate Hive connector to TableLayout API"

[2015-04-16 06:13] martint opened #2707 "Migrate JDBC connector to TableLayout API"

[2015-04-16 06:13] martint opened #2708 "Migrate Cassandra connector to TableLayout API"

[2015-04-16 06:13] martint opened #2709 "Migrate Example-HTTP connector to TableLayout API"

[2015-04-16 06:14] martint opened #2710 "Migrate Kafka connector to TableLayout API"

[2015-04-16 06:14] martint opened #2711 "Migrate Raptor connector to TableLayout API"

[2015-04-16 06:18] martint commented on #2611
https://github.com/facebook/presto/pull/2685

[2015-04-16 08:04] dain commented on #2704
@hgschmie any idea?

[2015-04-16 15:37] syed72 commented on #1704
Iam facing same issue, how can i solve this issue?
Thanks

[2015-04-16 21:17] ndsorrowchi opened #2722 "Presto create table with bad table name"
I tried to create a table through presto jdbc and got this tablename instad of 'copytest':
tmp_presto_d1df63756ab74e50995e524baef46d2d.

It worked correctly on my virtual machine yet has this problem on a real Amazon AWS server.

[2015-04-16 22:20] zhenxiao commented on #2706
may I take a look at this? @martint

[2015-04-16 23:04] hgschmie commented on #2704
Not really. We saw the error 6 a couple of times. Need to dig into that a bit when I find time.

[2015-04-16 23:26] zhenxiao opened #2725 "hitting error when launch presto from the current master"
./presto-server-0.101-SNAPSHOT/bin/launcher run
fail, in the log:

2015-04-16T16:22:51.100-0700	ERROR	main	com.facebook.presto.server.PrestoServer	Unable to create injector, see the following errors:

1) Explicit bindings are required and io.airlift.log.Logging is not explicitly bound.
  while locating io.airlift.log.Logging
    for parameter 0 at io.airlift.log.LoggingMBean.<init>(LoggingMBean.ja

[2015-04-17 00:45] dain commented on #2725
I think @electrum missed something when he updated to the newest airlift

[2015-04-17 02:36] electrum opened #2728 "Improve error message for corrupt Raptor shards"
Example:

[code]

[2015-04-17 09:04] toxeh commented on #1094
@dain, this issue seems to be closed.

[2015-04-17 09:21] #1094 closed

[2015-04-17 10:30] toxeh commented on #1518
@cberner , this issue seems to be closed.

[2015-04-17 15:49] lucboudreau opened #2732 "presto-jdbc: PrestoResultSet.getInt fails with Boolean values"
Most drivers will support this by returning either 0 or 1.

Caused by: java.lang.ClassCastException: java.lang.Boolean cannot be cast to java.lang.Number
	at com.facebook.presto.jdbc.PrestoResultSet.getInt(PrestoResultSet.java:223)
	at org.apache.commons.dbcp.DelegatingResultSet.getInt(DelegatingResultSet.java:186)
	at mondrian.rolap.SqlStatement$3.get(SqlStatement.java:380)

[2015-04-17 16:15] #1518 closed

[2015-04-17 18:02] #2514 closed

[2015-04-17 20:45] nezihyigitbasi opened #2738 "Handle maps with complex keys properly in fixValue"
With the latest master when I create a map with complex keys I get an exception at the client side.
Both of these queries fail:

[code]

[code]

[2015-04-17 21:02] cberner commented on #2624
Further progress here https://github.com/facebook/presto/pull/2739 and here https://github.com/facebook/presto/pull/2727

[2015-04-17 23:58] electrum commented on #2671
Done in #2743

[2015-04-17 23:58] #2671 closed

[2015-04-17 23:58] electrum commented on #2725
This is fixed now. Please update Airlift `log-manager` to the latest snapshot version.

[2015-04-17 23:58] #2725 closed

[2015-04-18 16:00] dain opened #2748 "ExchangeNode does not have a Graphviz visitor"
[code]

[2015-04-19 23:42] zhenxiao commented on #2706
@martint may I ask a question about the getSplits(ConnectorTableLayoutHandle layout) in ConnectorSplitManager? Is it expected to return all partition splits in the table?

[2015-04-20 17:51] Myrthan commented on #2732
I'm claiming this one.

[2015-04-20 17:57] electrum opened #2754 "JDBC connector does not drop temporary tables on failure"

[2015-04-20 17:57] electrum commented on #2722
When you run a `CREATE TABLE ... AS ...` with the JDBC connector, it creates a temporary table with a random name like the one you see, then INSERTs the data into it, and finally renames the temporary table to the final name that you chose. I don't think we cleanup temporary tables yet if the query fails, so for now you will need to DROP them manually.

I filed #2754 for cleanup of temporary table

[2015-04-20 17:57] #2722 closed

[2015-04-20 18:00] #2594 closed

[2015-04-20 18:14] electrum commented on #2748
Fixed in #2750

[2015-04-20 18:14] #2748 closed

[2015-04-20 18:16] electrum commented on #2694
As @yuananf says, this is provided by the System connector: https://prestodb.io/docs/current/connector/system.html

If you need additional information not present here, please let us know.

[2015-04-20 21:46] cberner opened #2755 "EXPLAIN (FORMAT JSON) fails"
`explain (format JSON) select 1;`

results in
[code]

There also should be tests for `FORMAT JSON`

[2015-04-20 22:08] cberner opened #2756 "Implement partial JSON cast"
`SELECT CAST('{"a": 1, "b": [2, 3]}' AS MAP<VARCHAR, JSON>)` should work

[2015-04-20 22:57] cberner commented on #2263
@martint did you implement this already?

[2015-04-20 23:09] cberner commented on #2559
I don't think we want to implement this at the moment

[2015-04-20 23:09] #2559 closed

[2015-04-20 23:27] #263 closed

[2015-04-20 23:28] #853 closed

[2015-04-20 23:29] martint commented on #2694
That's not sufficient. We need to be able to expose the cancellation URL and other pieces of information not available via that table in a stable and supported way.

[2015-04-20 23:30] #882 closed

[2015-04-20 23:30] #897 closed

[2015-04-20 23:31] #997 closed

[2015-04-20 23:31] #1031 closed

[2015-04-20 23:33] #1057 closed

[2015-04-20 23:33] cberner commented on #1062
We added session parameters a while back

[2015-04-20 23:33] #1062 closed

[2015-04-20 23:34] #1095 closed

[2015-04-20 23:35] #1096 closed

[2015-04-20 23:36] #1033 closed

[2015-04-20 23:36] #1097 closed

[2015-04-20 23:37] #1111 closed

[2015-04-20 23:38] cberner commented on #1113
Could you test with version 0.100 and see if this is still a problem? We fixed a lot of issues that cause crashes in recently releases.

[2015-04-20 23:38] #1113 closed

[2015-04-20 23:42] cberner commented on #1138
This was fixed by upgrading to the latest Jetty

[2015-04-20 23:42] #1138 closed

[2015-04-20 23:43] #1199 closed

[2015-04-20 23:44] #1266 closed

[2015-04-20 23:46] electrum commented on #1283
We should be able to fix this in the JDBC driver by making all threads daemon threads.

[2015-04-20 23:47] #1291 closed

[2015-04-20 23:48] #1307 closed

[2015-04-20 23:48] #1311 closed

[2015-04-20 23:49] #1330 closed

[2015-04-20 23:50] #1331 closed

[2015-04-20 23:52] #1371 closed

[2015-04-20 23:53] #1372 closed

[2015-04-20 23:53] #1382 closed

[2015-04-21 00:03] cberner commented on #1431
I think this should be fixed now. Please re-open if you still see it

[2015-04-21 00:03] #1431 closed

[2015-04-21 00:08] #1462 closed

[2015-04-21 00:09] #1473 closed

[2015-04-21 00:10] #1491 closed

[2015-04-21 00:12] cberner commented on #1508
Just discussed with @dain and @electrum. The problem is that `select nan() is distinct from nan();` should return false

[2015-04-21 00:14] #1551 closed

[2015-04-21 00:14] #1557 closed

[2015-04-21 00:16] #1577 closed

[2015-04-21 00:17] #1594 closed

[2015-04-21 00:23] cberner commented on #1609
It looks like the problem is that we're not wrappering the result of `ClassLoaderSafeConnectorSplitManager.getPartitionSplits()` with a `ThreadContextClassLoader`

[2015-04-21 00:25] #1611 closed

[2015-04-21 00:25] #1612 closed

[2015-04-21 00:26] #1620 closed

[2015-04-21 00:26] #1644 closed

[2015-04-21 00:29] #1809 closed

[2015-04-21 00:30] #2454 closed

[2015-04-21 00:30] #1816 closed

[2015-04-21 00:37] cberner commented on #1833
Please re-open if you can reproduce this. If you can include a test query that reproduces it on the TPCH data that would be great! I tried and wasn't able to though with one like this `select row_number() over (partition by clerk order by orderkey asc, orderdate asc) from orders;`

[2015-04-21 00:37] #1833 closed

[2015-04-21 00:38] #1843 closed

[2015-04-21 00:40] cberner commented on #1863
Please re-open if this is still an issue. We've improved the Parquet reader a lot in recently releases.

[2015-04-21 00:40] #1863 closed

[2015-04-21 00:40] #1866 closed

[2015-04-21 00:41] #1885 closed

[2015-04-21 00:41] #1893 closed

[2015-04-21 00:42] #1907 closed

[2015-04-21 00:45] cberner commented on #1913
https://github.com/facebook/presto/issues/2624

[2015-04-21 00:45] #1913 closed

[2015-04-21 00:45] cberner commented on #1914
This is being implemented in https://github.com/facebook/presto/issues/2624

[2015-04-21 00:45] #1914 closed

[2015-04-21 00:46] #1916 closed

[2015-04-21 00:47] cberner commented on #1920
Please re-open if this is still an issue for you. We completely rewrote the `approx_distinct` code recently

[2015-04-21 00:47] #1920 closed

[2015-04-21 00:47] #1923 closed

[2015-04-21 00:48] #1932 closed

[2015-04-21 00:48] cberner commented on #1940
Did this fix get committed? Please re-open if not.

[2015-04-21 00:48] #1940 closed

[2015-04-21 00:48] #1950 closed

[2015-04-21 00:49] #1957 closed

[2015-04-21 00:50] cberner commented on #1993
This query seems to work fine for me: `select * from (values 1) t("a1a");` Could you provide an example that's not working for you, if this is still an issue?

[2015-04-21 00:50] #1993 closed

[2015-04-21 00:51] #2014 closed

[2015-04-21 00:53] cberner commented on #2233
I think https://github.com/facebook/presto/pull/2244 should fix this. Please re-open, if not

[2015-04-21 00:53] #2233 closed

[2015-04-21 00:53] cberner commented on #2029
I think https://github.com/facebook/presto/pull/2244 should fix this. Please re-open, if not

[2015-04-21 00:53] #2029 closed

[2015-04-21 01:11] electrum commented on #1788
Fixed in #2426

[2015-04-21 01:11] #1788 closed

[2015-04-21 04:02] dain commented on #2704
@hgschmie there is an old issue about this #1940 which claimed to have a fix in progress, but it was never submitted.

[2015-04-21 07:29] Myrthan commented on #2756
I'm claiming this one:)

[2015-04-21 17:43] #2599 closed

[2015-04-22 04:03] Zutai commented on #2253
Anyone working on DynamoDB connector? I searched around, but did not find any such connector. Thus I decide to write one plugin for DynamoDB. Let me know if anyone want to work together.

[2015-04-22 05:10] electrum commented on #1283
This was fixed by e138a630 in release 0.76.

[2015-04-22 05:10] #1283 closed

[2015-04-22 19:52] mvp opened #2773 "Benchmark driver should support enforcing query timeouts"
Currently, it is possible that benchmark driver will execute query for really long time (forever).
There should be a way to specify maximum time allowed for query to run for benchmark driver (e.g. 1 hour).
If timeout occured, it should fail the query and print error message that timeout has happened for that query.

[2015-04-23 08:20] yuananf opened #2776 "Inconsistent plan for kafka connector"
I tested presto kafka connector and find a problem:

I can see the kafka topics in presto, but sometimes query on the table returns nothing, for example

Here are the results of the same query:
presto:s1> select count(*) from t2;
 _col0
-------
  5503
(1 row)

presto:s1> select count(*) from t2;
 _col0
-------
     0
(1 row)

I was quite confused about this, and I tried to explain this query
Why t

[2015-04-23 09:27] lvxin1986 commented on #2776
I have encountered the same problem,anyone could explain why?

[2015-04-23 16:26] dain commented on #2776
My guess is the Kafka broker is reporting that there are no partitions, so the Kafka connector is telling presto there is no data.  When Presto see there is no data it adds a "false" filter, and when the plan is optimized the whole thing folds to a no data node.  The code that is looking for the partitions is here:

  https://github.com/facebook/presto/blob/master/presto-kafka/src/main/java/com/fa

[2015-04-23 20:29] nezihyigitbasi commented on #2013
A new PR is WIP to fix this issue: #2770

[2015-04-24 16:26] cberner opened #2783 "Field reference operator does not work for field names with uppercase letters"
The field reference operator should follow the same resolution rules as all other identifiers. This bug is most likely because `RowParametricType.createFunctions` does not lower case the function name.

[2015-04-25 01:50] cberner opened #2788 "Optimize memory usage of map_agg"
`map_agg` relies on `KeyValuePairs` which always allocates a full `PageBuilder` this is very wasteful, as you may only be aggregating a few values into the map. We need to fix the TODO in `KeyValuePairs` to create an optimized version of `GroupByHash` that uses less memory

[2015-04-27 00:53] andytinycat commented on #2694
Surely what you're looking for is the REST API the current UI uses?

https://raw.githubusercontent.com/facebook/presto/master/presto-docs/src/main/sphinx/rest/query.rst

(Not sure why this section of the docs doesn't appear on the main website - but it's part of this repository)

[2015-04-27 02:40] electrum commented on #2694
We should add a SQL command to kill a query by ID.

[2015-04-27 03:06] yuananf commented on #2694
@electrum actually I implemented this function, but it was a bit hack, may I make a pull request?

[2015-04-27 03:17] yuananf commented on #2776
Oh, it appears that the topic has some weird problem, not a problem anymore.

[2015-04-27 03:18] #2776 closed

[2015-04-27 19:44] cberner commented on #1802
@nezihyigitbasi do you know if this is still an issue, and do you know how to fix it?

[2015-04-27 19:51] cberner commented on #2039
Are you still seeing this issue? We've made some improvements to that code in more recently releases

[2015-04-27 19:51] #2047 closed

[2015-04-27 19:53] cberner commented on #2063
We've fixed a bunch of issues in the coordinator/worker communication code. If this isn't fixed, please re-open

[2015-04-27 19:53] #2063 closed

[2015-04-27 19:58] cberner commented on #2081
That's because those number use double precision math, rather than exact decimals, therefore the results may not be identical.

[2015-04-27 19:58] #2081 closed

[2015-04-27 19:59] cberner opened #2797 "Implement DECIMAL type"

[2015-04-27 20:00] cberner commented on #2081
https://github.com/facebook/presto/issues/2797

[2015-04-27 20:01] cberner commented on #2084
Yes, there's some initial support for this here: https://github.com/facebook/presto/pull/2645

[2015-04-27 20:01] #2084 closed

[2015-04-27 20:02] cberner commented on #2086
We fixed a lot of communication issues in recent releases. Could you re-open this, if it's still an issue?

[2015-04-27 20:02] #2086 closed

[2015-04-27 20:03] cberner commented on #1990
https://github.com/facebook/presto/issues/2797

[2015-04-27 20:05] #2223 closed

[2015-04-27 20:06] cberner commented on #2223
https://github.com/facebook/presto/pull/2227

[2015-04-27 20:08] #2275 closed

[2015-04-27 20:09] cberner commented on #2294
There were a bunch of communication bugs fixed in the last few release. Please re-open, if this is still an issue

[2015-04-27 20:09] #2294 closed

[2015-04-27 20:11] cberner commented on #2050
I think @joy-yao is working on cross join support that should help with this

[2015-04-27 20:12] cberner commented on #2320
We fixed lots of communication bugs in recent release. Please re-open, if you still see this issue.

[2015-04-27 20:12] #2320 closed

[2015-04-27 20:14] #2317 closed

[2015-04-27 20:15] cberner commented on #2314
There's no predicate push down of semi joins to the postgres connector

[2015-04-27 20:15] #2314 closed

[2015-04-27 20:16] cberner commented on #2324
Unfortunately, none of the core developers use Eclipse. Were you able to fix this on your own?

[2015-04-27 20:16] #2324 closed

[2015-04-27 20:21] cberner commented on #2350
I would suggest adding functions for these, instead of operators. We're not planning to introduce non-ANSI sql symbols at this time

[2015-04-27 20:21] #2350 closed

[2015-04-27 20:27] cberner commented on #2400
https://github.com/facebook/presto/pull/2462

[2015-04-27 20:27] cberner commented on #2467
Looks like you were able to fix this on your own?

[2015-04-27 20:27] #2467 closed

[2015-04-27 20:28] #2076 closed

[2015-04-27 20:33] cberner commented on #2471
We're planning to implement this, but first we need to add an API for connectors to supply stats to Presto, so that it can chose the appropriate join order

[2015-04-27 20:33] #2471 closed

[2015-04-27 20:35] electrum commented on #2517
What is the average number of rows per partition? The current implementation is not optimized for small groups (as you have found). Is the performance better for higher cardinality partitions?

[2015-04-27 20:38] #2505 closed

[2015-04-27 20:39] #2286 closed

[2015-04-27 20:40] #2419 closed

[2015-04-27 20:41] #2295 closed

[2015-04-27 20:42] #2513 closed

[2015-04-27 20:44] cberner commented on #2668
Did that fix the issue for you?

[2015-04-27 20:44] #2668 closed

[2015-04-27 20:45] cberner commented on #2658
Yes, there's extra latency starting up. I would run a query selecting from `system.runtime.nodes` and see if the cluster appears to be up

[2015-04-27 20:45] #2658 closed

[2015-04-27 20:46] yaoxin226 commented on #2788
hi @cberner , I can take this issue if no one is working on it right now.

[2015-04-27 20:47] cberner commented on #2788
That would be great! I don't think anyone is working on it

[2015-04-27 21:17] #2636 closed

[2015-04-27 22:53] cberner commented on #2624
Measured the performance of hash distributing to 100 nodes and it seemed negligible, so I'll skip the adaption in M4

[2015-04-27 22:53] cberner commented on #2624
https://github.com/facebook/presto/pull/2787

[2015-04-28 01:07] anywhy commented on #2039
The new version is not

[2015-04-28 01:07] #2039 closed

[2015-04-28 01:28] yaoxin226 commented on #2788
Some typical estimated memory of map_ag(bigint, varchar) right now(commit ab0c12acf).
Seems like keyHash is the bottle neck here.

keyType | bigint
-----------|-------
size  |  1120 Bytes =  keyBlockBuilder.getSizeInBytes()
keyBlockBuilder | FixedWidthBlockBuilder{positionCount=0, fixedSize=8, size=0}

valueType |varchar
-----------|-------
size | 5312 Bytes =  valueBlockBuilder.getSizeInBytes()
v

[2015-04-28 01:31] yaoxin226 opened #2804 "Presto cli supports --timeout"
This will be useful for debugging.  When debug presto step by step for a long time, I always got presto-cli timed out with following error
[code]

[2015-04-28 03:50] nezihyigitbasi opened #2806 "Presto should be upgraded to use Parquet 1.6"
Presto is currently using Parquet 1.3.2, a bit old. It would be nice if Presto is upgraded to use Parquet 1.6, which is recently released.

[2015-04-28 06:08] stagraqubole commented on #2517
~500k rows per group and ~50groups. For most the window queries I had tried, group by counter parts were faster.
Tried same exercise for scale 50 which had ~2m rows per group and had similar difference in performance.

[2015-04-28 08:25] damiencarol commented on #2806
+1 for this one even if ORC is more fast currently.

[2015-04-28 10:06] arun6384 opened #2807 "Presto requires architecture amd64 on Linux (found i386)"
Hello,

Presto server versions tried: 0.92, 0.97, 0.100
We have been able to extract presto in our Red Hat Linux environment.
However, post configuration after we run the launcher the launcher.log displays an error

"ERROR: ld.so: object '/home/hadoop/prestoDB/presto-server-0.100/bin/procname/Linux-x86_64/libprocname.so' from LD_PRELOAD cannot be preloaded: ignored.
Presto requires architecture am

[2015-04-28 19:04] zhenxiao commented on #2806
+1
in Parquet 1.3.2, stats is not available, 1.6.0 opens the oppotunity to use stats to filter out row group and column chunks, just as how the new ORC reader is doing

[2015-04-28 19:18] electrum commented on #2807
Are you running a 32-bit version of Linux? Please post the output of `uname -a`.

[2015-04-28 19:19] electrum commented on #2807
Actually, you might be running a 32-bit version of Java. Please also post the full output of `java -version`.

[2015-04-28 20:10] dain commented on #2806
Can one of you that uses Parquet sent a pull request?

[2015-04-29 00:58] eztzachi commented on #1802
Hey!
This is still an issue with Presto 0.100. and Hive 0.13.1.

I have the same issue here where one of the field names has a capital letter in the Avro schema. In Hive, the field is automatically lowercased (in terms of coulmn name), and there is no problem to run queries on this table, but It looks like Presto tries to verify the column name it gets from Hive using the Avro schema, and it fails

[2015-04-29 01:39] zhenxiao commented on #2806
Shall the shaded jars be updated? I send a PR there:
https://github.com/prestodb/presto-hive-apache/pull/13

[2015-04-29 02:15] nezihyigitbasi commented on #1802
@cberner  I haven't seen this one before but if you check the "Limitations" section of this [page](https://cwiki.apache.org/confluence/display/Hive/Parquet), it mentions a very similar issue that has been fixed with Hive 0.14 (see HIVE-7554).
@eztzachi Can you please provide the full stack trace that you get, and even better steps to reproduce this problem so that we can take a look?

[2015-04-29 03:15] eztzachi commented on #1802
@nezihyigitbasi, since I also use Parquet HIVE-7554 might be relevant in my case as well, but the only thing I don't understand is how it is a non issue in Hive, while in Presto fails on query such a table.

The error message is exactly similar to the one mentioned above (with different field names).
This is the server logs for the command:
2015-04-28T16:33:15.657-0700     INFO   query-execution-1

[2015-04-29 06:42] nezihyigitbasi commented on #1802
@eztzachi I couldn't reproduce this problem with the latest Presto. I followed your steps to create a parquet file with a single field that has an uppercase letter and I have written the data in Parquet format using the kite sdk. When I query the table I get zero rows instead of getting an exception.

Since I couldn't reproduce it can you please start presto cli with --debug and paste here the com

[2015-04-29 09:07] arun6384 commented on #2807
Hi electrum,
The Red Hat Linux version and java versions we have installed are 64-bit.
Please find the requested information below.

Output of "uname -a"
Linux namenode 2.6.32-431.23.3.el6.x86_64 #1 SMP Wed Jul 16 06:12:23 EDT 2014 x86_64 x86_64 x86_64 GNU/Linux

Full output of "java -version"
java version "1.8.0_05"
Java(TM) SE Runtime Environment (build 1.8.0_05-b13)
Java HotSpot(TM) Server VM (

[2015-04-29 13:29] electrum commented on #2807
Thanks. That shows you are running the 32-bit JVM (you would see 64-bit in the output). Presto requires a 64-bit JVM. Please try 8u45.

[2015-04-29 15:08] electrum commented on #2807
The output should look like this:
[code]

[2015-04-29 17:06] electrum commented on #2732
Fixed in 0ad0c84

[2015-04-29 17:06] #2732 closed

[2015-04-29 17:07] electrum commented on #2732
Fixed in 66010b074cf81ce63e94cc43cc7361ad1a3b4e23

[2015-04-29 17:17] lucboudreau commented on #2732
Thanks guys! Great job on presto overall btw.

[2015-04-29 18:59] #1472 closed

[2015-04-29 19:45] #2582 closed

[2015-04-30 03:15] dain opened #2824 "IndexOutOfBoundsException in AddExchanges visitUnion"
[code]

[2015-04-30 04:22] martint commented on #2824
This is possibly the issue @nileema found: https://github.com/nileema/presto/commit/898e6e1687443deb32569554dba4c2168e02efd0

[2015-04-30 06:54] zhenxiao commented on #1732
@martint @dain May I ask a question about this optimization?
In the OutputNode of a join query, there will be 2 outputs for the join key, one from left table and one from right table, say, a.k and b.k, probably symboled like key and key_1
when optimize into an aggregation query, the OutputNode still expects both key and key_1, so the aggregationNode should output both key and key_1, and they are a

[2015-04-30 09:06] arun6384 commented on #2807
Thank You Electrum. Replacing the exisiting JVM with 64-bit works.

[2015-04-30 09:06] #2807 closed

[2015-04-30 15:00] andytinycat opened #2826 "Query with many CASE/WHEN statements fails with java.lang.VerifyError"
Some of our analysts like to use a lot of CASE/WHEN statements for classifying things.

In queries with many CASE/WHEN statements (seems to be about >75, though it varies - I've seen queries with 100+ succeed), the query will consistently fail with an exception like this:

[code]

This happens with Presto versions 0.86, 0.89, 0.92 and 0.96 (which we're currently running). I'm upgrading to 0.101 so

[2015-04-30 20:59] cberner commented on #2677
If you have time to make a fork and release it, that'd be great! We'd love to have access to a version of Antlr4 that's released more frequently

[2015-04-30 20:59] #2677 closed

[2015-04-30 22:39] mstorus opened #2830 "Add single-page release notes / changelog"
It is very difficult to search through https://prestodb.io/docs/current/release.html since each release has its own page.

![10 release notes presto 0 101 documentation-1](https://cloud.githubusercontent.com/assets/1182738/7423834/bed3199e-ef4e-11e4-88bf-5f4b67685060.jpg)

https://github.com/facebook/presto/tree/50081273a9e8c4d7b9d851425211c71bfaf8a34e/presto-docs/src/main/sphinx/release

For exam

[2015-05-01 10:06] guoxiao opened #2837 "Allow building Presto from a non-git checkout"
I downloaded the latest 0.101 tarball from https://github.com/facebook/presto/releases, which is not a git checkout. Then it failed with the following error:

[code]

[2015-05-01 18:15] nezihyigitbasi opened #2840 "hive.max-split-iterator-threads parameter"
In ``HiveClientConfig`` I see that there are two parameters ``hive.max-split-iterator-threads`` and ``hive.max-global-split-iterator-threads``, and as far as I can see ``hive.max-split-iterator-threads`` is not even used. What's the difference? And if it's not used I can create a PR to get rid of it.

[2015-05-01 21:34] #2824 closed

[2015-05-01 21:49] electrum commented on #2837
It looks like you don't have a `.git` directory. Are you building from a clone/checkout of this repository? If not, can you explain the steps to reproduce?

We recently added a plugin which adds Git version information, so it requires building from a Git checkout.

[2015-05-02 02:41] dain opened #2849 "Limit thread creation in Hive split creation"
The thread pool for Hive split creation is unbounded, which creates massive load on the coordinator when processing large partitions.  The thread pool should be capped and `BackgroundHiveSplitLoader.loadSplits` should be limited to create only a fixed number of splits in one run.  This will cause threads to be more fairly shared across queries.

[2015-05-02 05:31] guoxiao commented on #2837
@electrum I downloaded the latest 0.101 tarball from https://github.com/facebook/presto/releases, which is not a git checkout.

[2015-05-02 13:44] komamitsu opened #2852 ""CAST(ARRAY [] AS array<bigint>)" fails"
These queries fail.
[code]

PostgreSQL can cast an empty array.
[code]

I found `com.facebook.presto.spi.PrestoException` occurred in `com.facebook.presto.operator.scalar.ArrayToArrayCast.specialize` but I'm not sure which way is the best to fix this issue...

[2015-05-03 11:08] fmeiser commented on #1990
As a first step presto could use double/long as internal representation for DECIMAL.

[2015-05-04 10:00] krisdwang opened #2855 "prestodb create table syntax error"
I followed presto 0.100 document to try to create a mysql table, sql is under here:

CREATE TABLE orders (
  orderkey bigint,
  orderstatus varchar,
  totalprice double,
  orderdate date
)

but I got error message: 'Query 20150504_095508_00067_t9ru3 failed: line 1:21: mismatched input '(' expecting {'.', 'AS'}'

is it a defect about presto?

[2015-05-04 10:27] yuananf commented on #2855
Currently in presto-0.101, create table is only enabled in hive connector and raptor connector.

[2015-05-04 13:22] electrum commented on #2855
This syntax was added in 0.101.

[2015-05-04 13:22] #2855 closed

[2015-05-04 22:17] cberner commented on #2830
We usually just use site search on Google for that. For example, `orc site:prestodb.io/docs/current/release` does that work for you? Please re-open if not

[2015-05-04 22:19] cberner commented on #2826
Yep, that's a known issue. The only thing you can try right now is enabling the interpreter, which is vastly slower. https://github.com/facebook/presto/issues/2568

[2015-05-04 22:19] #2826 closed

[2015-05-04 22:20] cberner commented on #2417
Superseded by: https://github.com/facebook/presto/issues/2797

[2015-05-04 22:20] #2417 closed

[2015-05-04 22:20] cberner commented on #1990
Superseded by: https://github.com/facebook/presto/issues/2797

[2015-05-04 22:20] #1990 closed

[2015-05-04 22:21] andytinycat commented on #2826
Thanks for confirming. We'll continue to work around it.

[2015-05-04 22:21] #2579 closed

[2015-05-04 22:23] #2170 closed

[2015-05-04 22:23] cberner commented on #2170
This should be fixed now

[2015-05-04 22:26] cberner opened #2860 "Improvements to client protocol"
- [ ] Presto needs to know when clients have finished fetching results for a query
- [ ] Need a way to send binary values to client
- [ ] Fix serialization of structural types in map keys. For example, `map<array<bigint>, varchar>`

[2015-05-04 22:28] cberner opened #2861 "Server-side support for query timeout"
Add session property to limit query run time, and perhaps also a config flag to set a default limit or integrate into the queue/resource management configuration

[2015-05-04 22:31] #2561 closed

[2015-05-04 22:32] #2539 closed

[2015-05-04 22:34] #2503 closed

[2015-05-04 22:35] #2444 closed

[2015-05-04 22:35] #2418 closed

[2015-05-04 22:39] electrum commented on #2826
If this is still problem in 0.101, please reopen and post a stack trace, and possibly a query that reproduces the issue (maybe `VALUES` or the TPCH connector)? This looks like a different issue than the bytecode limit and might be a bug in the code generator.

[2015-05-04 22:40] cberner commented on #2415
The documentation is a bit sparse, but Driver processes a list of Operators and moves pages between them. So TableScanOperator would be the first one in the list of Operators

[2015-05-04 22:40] #2415 closed

[2015-05-04 22:41] #2414 closed

[2015-05-04 22:44] cberner commented on #2370
We just need to add support for this to `TimeZoneKey`

As a test case, add this to `TestTimeZoneKey.testUtc()`
`assertSame(TimeZoneKey.getTimeZoneKey("GMT-00:00"), UTC_KEY);`

[2015-05-04 22:45] cberner commented on #2325
I think this was fixed in a recent release. Please re-open if you're still seeing this

[2015-05-04 22:45] #2325 closed

[2015-05-04 22:47] #2212 closed

[2015-05-04 22:48] #2181 closed

[2015-05-04 22:53] cberner commented on #1898
It's converting the doubles into lexicographically comparable long values. It's just reorganizing the bits in the IEEE754 double

[2015-05-04 22:53] #1898 closed

[2015-05-04 22:55] cberner commented on #1742
Merging with https://github.com/facebook/presto/issues/2050

[2015-05-04 22:55] #1742 closed

[2015-05-04 22:57] electrum opened #2862 "Make FIRST and LAST non-reserved"

[2015-05-04 22:58] cberner opened #2863 "Add support for case sensitive identifiers"
* We need to record the fact that identifiers are quoted/not-quoted in the sql
* We need to extend the SPI, so that connectors can specify whether table/column..etc identifiers are case sensitive
* Rule should be that if either side is case insensitive then the match is done ignoring case

[2015-05-04 22:59] cberner commented on #2783
Depends on https://github.com/facebook/presto/issues/2863

[2015-05-04 22:59] #2783 closed

[2015-05-04 22:59] electrum opened #2864 "Audit list of reserved keywords"
We have reserved keywords that should not be reserved per SQL:2011 (e.g. #2862). There is a hopefully trustworthy list here, though double check with the SQL standard:

http://www.postgresql.org/docs/9.4/interactive/sql-keywords-appendix.html

[2015-05-04 23:00] cberner commented on #1703
See https://github.com/facebook/presto/issues/2863

[2015-05-04 23:00] #1703 closed

[2015-05-04 23:00] cberner commented on #1699
See https://github.com/facebook/presto/issues/2863

[2015-05-04 23:00] #1699 closed

[2015-05-04 23:00] cberner commented on #2583
See https://github.com/facebook/presto/issues/2863

[2015-05-04 23:00] #2583 closed

[2015-05-05 13:22] xuyang198711 opened #2867 "limit condition is very slow"
now, the count of "select * from table where id like ‘%XXX%’ " is 9;
I execute "select * from table where id like ‘%XXX%’ limit 9",it is very fast;
but i execute "select * from table where id like ‘%XXX%’  limit 10",it is very slow,it will query all of the data!
why?  i want the result very fast,What should I do？

I'm sorry, my english is not good!

[2015-05-05 14:07] electrum opened #2868 "Fix NodeScheduler not to schedule on any coordinator"
The `selectRandomNodes()` and `selectCandidateNodes()` functions should use `nodeManger.getCoordinators()` to find and exclude all coordinators (unless `includeCoordinator` is true).

[2015-05-05 16:11] electrum opened #2869 "Sporadic Hive test failures"
This seems suspicious:
[code]

It sometimes has a different message:
[code]

[2015-05-06 00:21] eztzachi commented on #1802
This is the complete stack trace:

    presto:default> select * from presto_debug_mixed;

    Query 20150506_001148_00009_9gi4y, FAILED, 2 nodes
    http://localhost:8080/v1/query/20150506_001148_00009_9gi4y?pretty
    Splits: 21 total, 0 done (0.00%)
    CPU Time: 0.0s total,     0 rows/s,     0B/s, 0% active
    Per Node: 0.0 parallelism,     0 rows/s,     0B/s
    Parallelism: 0.0
    0:01 [0 r

[2015-05-06 17:41] andytinycat opened #2875 "date_format using %w (day of week) returns incorrect values (1-7, not 0-6)"
When using `date_format`, with the %w specifier (for day of week), we get incorrect values:

[code]

According to the documentation:

[code]

2015-05-03 was a Sunday, so we should expect this to return 0, not 7. Also, 7 is out of range of the values expected according to the documentation.

Testing with a date known to be a Monday:

[code]

Is this a documentation bug, or an actual bug?

(Presto v

[2015-05-06 17:45] andytinycat commented on #2875
Looking at the test suite:

[code]

This is a documentation bug. Would you like a PR?

[2015-05-06 18:03] haozhun commented on #2875
Looks like a real bug because we follow mysql's definition of format strings in `date_format`. @dain, do you have any insight on this?

[2015-05-06 18:42] mstorus commented on #2830
It seems non-ideal to rely on a 3rd party search indexer to grep through the changelog

[2015-05-06 21:00] nezihyigitbasi commented on #1802
@eztzachi I was able to reproduce your problem and the problem is fixed with master only if you set ``hive.parquet.use-column-names=false``, which will make Presto access columns by index instead of name. Can you please try and let me know? The relevant commit that fixes this issue is 0457f03bd703258e28f479d4d82cf72e97210d1b

[2015-05-07 00:09] eztzachi commented on #1802
@nezihyigitbasi Thank you! It solved the issue.

[2015-05-07 00:24] cberner commented on #1802
Great! Going to close this then :)

[2015-05-07 00:24] #1802 closed

[2015-05-07 01:53] haozhun commented on #2263
@martint Rebased. But I have a few questions for this.

[2015-05-07 09:20] lvxin1986 opened #2878 "Add support for scalar subqueries"
Scalar sub queries are not supported.  For example:
[code]

[2015-05-07 16:21] electrum commented on #2830
@mstorus thanks for the feedback. We will come up with something. Maybe we should start putting multiple releases per chapter, since the list of releases is growing ever longer.

[2015-05-07 16:39] dain opened #2881 "Investigate long planning time on Hive table with many partitions"
A query like `select * from t limit 10` takes several minutes in planning for Hive tables with > 10k partitions.  This is easy to reproduce.

[2015-05-07 17:36] electrum opened #2882 "Add array and map support to Raptor"

[2015-05-07 20:06] erichwang commented on #2881
This is the stack trace on the coordinator: https://gist.github.com/erichwang/6d180ffa7ef106b79258
It looks like we are blocked on com.facebook.presto.hive.metastore.CachingHiveMetastore.getPartitionsByNames when fetching splits

[2015-05-08 03:11] lvxin1986 opened #2884 "presto-odbc"
Hi,
Presto.Is there any available odbc for prestoc?
I have used the presto-odbc:https://github.com/prestodb/presto-odbc
But I found that the presto-odbc is too poor of basic funtions to be used.eg:It could not read the columns,if the column's type is  Date or Time. It seems there is no people n charge of this project.
So,is there another available odbc for presto ?

[2015-05-08 16:34] cberner commented on #2849
Actually, it is limited. See the `HiveSplitManager` constructor: `new BoundedExecutor(executorService, hiveClientConfig.getMaxGlobalSplitIteratorThreads())`

[2015-05-08 16:34] #2849 closed

[2015-05-08 16:35] cberner commented on #2840
Yep, that was an old config option that no longer does anything. Please send a PR! :)

[2015-05-08 16:43] nezihyigitbasi commented on #2840
@cberner What's the reason that the other parameter has "global" in its name? It's confusing. Should we rename it too? What do you think?

[2015-05-08 16:54] dain opened #2886 "NPE from TupleAnalyzer.visitJoin"
`TupleAnalyzer.visitJoin` throws an NPE while processing a `CAST`. This is likely caused by not reanalyzing the expression after applying implicit coercions.
[code]

[2015-05-08 19:01] cberner commented on #2881
This should help https://github.com/facebook/presto/pull/2887

But we probably need to refactor the way that partition discovery works, so that we don't need to enumerate all partitions during exchange planning to really make this fast

[2015-05-08 22:00] cberner commented on #2840
I think it's because it controls the total number available to all queries, whereas this one probably just controlled the number that each query could use.

Yep, lets rename it (make sure to note that in the release notes). Thanks!

[2015-05-09 07:35] damiencarol commented on #2830
Could sphinx add a search engine interface ?

[2015-05-10 03:07] nicktrav commented on #2869
I'm also running into this error when testing Hive with Spark.

Are you able to replicate the issue?

[2015-05-11 12:00] xuyang198711 commented on #1540
I met the same problem, don't know how to solve！

[2015-05-11 12:04] xuyang198711 opened #2894 "presto cache"
I use the jdbc connection hive.
It happened a exception "Destination table 'hive.default.a' already exists", When I delete the table "a",and create  the table "a" again.

[2015-05-11 14:13] electrum commented on #2840
@nezihyigitbasi Please submit a new PR if you want to rename the current "global" config. I merged the PR to remove the unused config.

[2015-05-11 14:13] #2840 closed

[2015-05-11 17:39] nezihyigitbasi commented on #2884
There is also https://github.com/treasure-data/prestogres for PostgreSQL maintained by Treasure Data, you can take a look at that.

[2015-05-11 19:55] cberner commented on #2894
If you drop it from Presto it should flush the entry from the cache. Alternately, if you're dropping it from Hive, you can change the cache TTL using this config option: `hive.metastore-cache-ttl`

[2015-05-11 19:55] #2894 closed

[2015-05-11 19:57] cberner commented on #2886
@erichwang can you look at this and see if it's fixed by https://github.com/facebook/presto/pull/2631

[2015-05-11 19:58] cberner commented on #2884
That's the only odbc driver that I'm aware of. We would welcome patches, if you find issues with it!

[2015-05-11 19:58] #2884 closed

[2015-05-11 20:02] cberner opened #2898 "Optimize Hive connector to only analyze the first ~1000 partitions during planning"
`MetadataManager.getLayout()` ends up fetching all the partition names from Hive for a table during planning. The Hive connector needs to be upgraded to the new TableLayout API and then made to not fetch all the partition names during planning, if there are a very large number of partitions

[2015-05-11 20:02] #2881 closed

[2015-05-11 20:03] cberner commented on #2875
We should make this work exactly like MySQL

[2015-05-11 20:05] cberner commented on #2867
That's probably because it's easy to find 9 rows that match your regex. However, it may need to scan a lot more data to find a 10th.

[2015-05-11 20:05] #2867 closed

[2015-05-11 21:36] mstorus commented on #2830
Is there a simple way to just concatenate all the `release-x.xx.rst` files together?

[2015-05-11 23:10] electrum opened #2900 "Fix negative caching for Hive metadata"

[2015-05-11 23:24] martint commented on #2900
What's the issue?

[2015-05-12 01:33] electrum commented on #2900
I think fetching metadata for a non existent table keeps the old data cached.

[2015-05-12 05:20] martint commented on #2898
It should already be fetching only the names of partitions that match the parts of the predicate that can be pushed down into the getlayouts call. I'm not sure we can do better than that, since the metastore api doesn't have a way to paginate the results.

[2015-05-12 07:13] electrum commented on #2898
Did it used to fetch partitions during planning if there were no predicates? There clearly seems to be a regression

[2015-05-12 07:22] electrum commented on #2898
If we don't have any predicates for partitions, we shouldn't need to fetch them at all during planning. The get_partition_names call can also take a limit, but we have never used it.

[2015-05-12 13:58] martint commented on #2898
Yes, it used to fetch them regardless of predicate or not. The values were used to derive a predicate to push up the plan and into the other side of joins.

[2015-05-12 15:55] cberner commented on #2898
For queries with no predicate, it shouldn't need to fetch them all though. SELECT * LIMIT 10 queries, spend a minute in planning and a few hundred milliseconds in execution.

[2015-05-12 17:28] jamiemccrindle commented on #2863
+1

[2015-05-12 17:36] dain commented on #2898
The point of this task is to cut off tables with an insane number of partitions.  Pulling in a few thousand partitions isn't a big deal but when people have 100K+ partitions, it can take minutes in planning.  For those cases, I think  we should just say the table covers "all".

[2015-05-12 17:43] martint commented on #2898
@cberner, agreed, but unfortunately there's no way to distinguish between that and a "select * from t join u on ... limit 10"

[2015-05-12 17:44] martint commented on #2898
@dain I don't think there's any way in the metastore app to be able to tell there are a lot of partitions without asking for them. I don't think the call that takes predicates has a limit or pagination mechanism

[2015-05-12 17:57] nezihyigitbasi opened #2903 "array_sort fails with a mix of null and non-null elements"
In addition to fixing this bug, we should determine what the null order should be as it seems like there is no null sort order defined in the standard, see [this](http://dba.stackexchange.com/questions/8504/why-are-nulls-sorted-first). Once we determine this I will be happy to provide a patch.

[code]

[2015-05-12 17:59] dain commented on #2898
@martint https://github.com/apache/hive/blob/0af6cb42725659740a022044c6cc464ef1cf4e6b/metastore/if/hive_metastore.thrift#L942

[2015-05-12 18:02] electrum commented on #2863
I don't think the last one is correct. Case insensitive matching should only happen if the target is the correct case.

You can have multiple identifiers differing only in case. Case insensitive matching should match at most one.

[2015-05-12 18:06] Cidan opened #2904 "Transient Null Pointer Exception"
Every once in a while, we'll get the following error when running a query on presto:

[code]

Re-running the query normally works. I'm not sure what else to include in this issue, so please let me know what else you need from me.

Thanks!

[2015-05-12 18:07] dain commented on #2863
@electrum correct. I updated the description.

[2015-05-12 18:47] erichwang opened #2905 "Enable setting Presto Console history size"
Currently, the Presto console has a default history size of 500. We should make this value settable in some way.

[2015-05-12 19:06] martint commented on #2903
The spec defines the behavior for null ordering for the ORDER BY clause. In particular, it says that if the null ordering is missing, it's implicit and implementation-defined. For array_sort, we should pick a policy consistent with what we're doing for ORDER BY, and, possibly, add a version of array_sort that takes a parameter to control how nulls are handled.

[2015-05-12 20:01] #2905 closed

[2015-05-12 20:02] electrum opened #2907 "Add configuration system for CLI"
Things to configure: default catalog and schema, history size, pager, output format, etc.

[2015-05-13 16:34] damiencarol commented on #1970
@dain I saw more detailed info on the new ORC site: http://orc.apache.org/docs/acid.html

[2015-05-15 00:09] mmax5 opened #2923 "Raptor Storage delete data on DROP TABLE"

[2015-05-15 03:12] electrum commented on #2923
This is coming soon :)

[2015-05-15 17:22] haozhun commented on #2669
Fixed by #2921

[2015-05-15 17:22] #2669 closed

[2015-05-15 19:25] gilbertofp16 opened #2927 "Can't use comparisions = for UUID fields in Cassandra catalog"
I tried to use  WHERE FieldUUID = 'UUID' in Cassandra database, and I got the error 'Error fetching cassandra partitions', I executed this select:

SELECT * FROM useralbum WHERE  iduser =  'afc123d4-0e7b-4c9f-b815-864f520c79c3' limit 1;

Also I tried this:

SELECT * FROM useralbum WHERE NOT iduser <> 'afc798d4-0e7b-4c9f-b714-864f520c79c3' limit 1;

But I have the same error for both, if I use (SEL

[2015-05-15 19:59] electrum commented on #2806
Merged #2926

[2015-05-15 20:00] #2806 closed

[2015-05-15 20:03] haozhun commented on #1854
Fixed by #2772

[2015-05-15 20:03] #1854 closed

[2015-05-17 17:09] AshwinJay opened #2934 ""Connection already closed" error in JdbcRecordCursor"
Hi, In the `com.facebook.presto.plugin.jdbc.JdbcRecordCursor`'s `close()` method the resources are listed in incorrect order. This results in the connection getting closed even before statement or the resultSet.

Some Drivers may be forgiving, but I was trying to use SQLite and it throws an exception if the connection is closed before the statement/resultSet.

On [master](https://github.com/facebo

[2015-05-18 05:15] AshwinJay commented on #2934
Also, I noticed that the `connection.close()` method gets called twice. Once at the end of the page iteration and then again at `finish()`.

I'm pretty sure many JDBC drivers are OK with this but some are more strict. See my attached screenshots that show the 2 times the DB connection close was called for the same user query.

(1)
![screen shot 2015-05-17 at 2 22 04 pm](https://cloud.githubusercon

[2015-05-18 16:47] martint commented on #2934
Good catch! Would you like to submit a pull request to fix it?

[2015-05-18 20:04] cberner commented on #2904
That looks like a bug in the Hive file format you're using. What file format is this data?

[2015-05-19 13:01] pandeyp opened #2945 "Decryption problem running presto queries with AWS client side encryption using KMS"
I have used your latest script that successfully installs presto server(version 0.99) and java 8 on Amazon EMR instance (3.7.0). My data files are located in a s3 bucket encrypted with client-side customer managed key that were encrypted . When I create a hive table that references those encrypted data files in s3, hive can successfully decrypt the records and display it in console. However, when

[2015-05-19 16:10] electrum commented on #2945
When you say that Hive can read them, is that using Amazon's custom S3 FileSystem for Hadoop? Do you know where the client side key is stored?

[2015-05-20 08:13] pandeyp commented on #2945
Thanks for your prompt reply. Yes, the files for our Hive tables are located in Amazon's S3 filesystem. We have encrypted files in S3 using S3 client side encryption with AWS Key Management Service (KMS) using AWS SDK for Java as outlined in http://docs.aws.amazon.com/AmazonS3/latest/dev/client-side-using-kms-java.html.

It encrypts the files using AWS KMS customer master key ID and places them in

[2015-05-20 17:19] guoxiao commented on #2837
Is there any progress about this issue? The release 0.103 still fails while building.

[2015-05-20 17:54] electrum commented on #2869
@nicktrav we see this sporadically from our unit tests in Jenkins, but I haven't had time to track it down.

[2015-05-20 18:07] electrum commented on #2869
This seems to be due to HIVE-10023.

[2015-05-20 20:41] Downchuck opened #2957 "Connect to Hive with specified user name"
Allow the Hive user name to be set in Presto config.

Per this discussion:
https://groups.google.com/forum/#!topic/presto-users/88IO51gIkk0

[2015-05-20 22:09] electrum opened #2960 "Enable streaming results for JDBC connector"
In `JdbcRecordCursor`:

For PostgreSQL, we need to call `setAutoCommit(false)` on the `Connection`: https://jdbc.postgresql.org/documentation/head/query.html

For MySQL, we need to call `enableStreamingResults()` on the MySQL `Statement` (see `ShardIterator` for an example).

Since we need specific logic for different databases, we should add a `getStatement(connection)` method to `JdbcClient` tha

[2015-05-21 02:34] riomario1 opened #2964 "Presto as an Apache project"
Can we submit Presto as an Apache - ASF project? Being an ASF project it will get more attention and resources.

[2015-05-22 03:54] yuananf commented on #2957
I think using hadoop superuser to start presto cluster will avoid this problem.

[2015-05-22 09:32] yuananf opened #2975 "Query blocked frequently"
I'm using the presto master version, and one of my query blocked frequently on this version.

Query is
[code]
The query looks like this and never finish.
[code]

The blocked node looks like this
[code]
I catched some http log in the blocked node:
[code]

Any suggestions?

[2015-05-22 10:02] xerial commented on #2975
We also observed several query stalls (without using ClusterResourceManager). Need to find how to reproduce this issue.

[2015-05-22 18:55] AshwinJay commented on #2934
@martint  I have submitted a PR but the build broke. Not sure if it is because of my patch. Is there anything I have to do like retrigger it?

[2015-05-22 19:22] martint commented on #2934
Thanks! We'll look at it soon.

The build failure seems unrelated. Don't worry, we'll take care of it.

[2015-05-22 22:37] #2934 closed

[2015-05-23 18:05] nicktrav commented on #2869
Thanks for the follow up @electrum. I dug a little deeper and noticed that the issue was only with certain types of HIVE tables that were written using the `org.apache.hadoop.hive.serde2` serde. Hopefully it's fixed in an upcoming Spark release.

[2015-05-23 22:01] Downchuck opened #2978 "Expose metaphone and soundex methods"
They may already be shaded in some of the Hive libs, though I'm not sure that helps all data sources.

[2015-05-23 22:32] Myrthan commented on #2756
In this particular case we want to pick "1" as JSON?
'{"a": 1, "b": [2, 3]}'
We are extracting from that VARCHAR which we supposed is properly JSON  keys. For every keys we arranged VARCHAR not JSON I think? Should this be changed to:
SELECT CAST('{"a": 1, "b": [2, 3]}' AS MAP<VARCHAR, VARCHAR>) ?
Query like this is working:
SELECT CAST(CAST('{"foo":"bar", "foo2":"foo3"}' AS json) AS map<varchar,

[2015-05-24 17:21] Myrthan commented on #2960
I'm claiming this:)

[2015-05-25 01:32] yuananf commented on #2676
Thanks for explaining!

[2015-05-25 01:32] #2676 closed

[2015-05-25 04:05] yuananf commented on #2975
I think the problem is caused by airlift.

When I revert presto to
[code]
The problem still exists.
But when I revert to one commit before
[code]
There is no problem anymore.
@dain @cberner

[2015-05-25 09:20] pandeyp commented on #2681
@soulmachine, I am trying to create an external table on Amazon EMR AMI Version (3.7.0) that uses Hadoop 2.4.0 and Hive 0.13.1 using Amazon S3 bucket and s3a scheme. But I am getting error below:-

<code>
FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. MetaException(message:Got exception: java.io.IOException No FileSystem for scheme: s3a)
</code>

Can you please

[2015-05-25 20:04] PPrabhaakaran opened #2980 "SqlBaseParser class is missing in latest build/commit"
I downloaded the latest from github, but unable to compile because the following file have reference s to "SqlBaseParser" class. But I do not see the SqlBaseParser file/class anywhere in the package in the github.

Please help.

presto/presto-parser/src/main/java/com/facebook/presto/sql/parser/SqlParser.java

Error:(74, 65) java: cannot find symbol
  symbol:   class SqlBaseParser
  location: class

[2015-05-25 21:09] electrum commented on #2980
Please see Building section in the README for the repository. You have to run a command line Maven build first to generate the parser from the ANTLR grammar.

Reopen the issue if this doesn't fix it.

[2015-05-25 21:09] #2980 closed

[2015-05-26 16:44] cberner commented on #2975
@yuananf can you reproduce this with the TPCH connector, or another public dataset? I don't think we're seeing this. Alternately, could you bisect the airlift commits to see which one in 0.110 is causing the problem?

[2015-05-26 18:51] martint opened #2982 "ConcurrentModificationException in ClusterMemoryManager"
[code]

[2015-05-26 19:05] martint commented on #2975
This is due to a bug introduced by https://github.com/facebook/presto/commit/4b290a776aa8e8e4f81273125bb2f0f479370842 that causes operators that write to a partitioned output buffer to block when the buffer is full and never unblock due a missing notification.

@nileema is working on a fix now.

[2015-05-26 19:31] cberner commented on #2982
Fixed by https://github.com/facebook/presto/pull/2984

[2015-05-26 19:31] #2982 closed

[2015-05-26 20:06] #2975 closed

[2015-05-27 00:32] yuananf commented on #2975
Thanks for the fix!

[2015-05-27 05:11] fernando-goncalves-movile commented on #2927
I have the same issue. It would be great if we find the solution!

[2015-05-27 08:36] yuananf commented on #2875
It seems joda is using Monday as the first day of week.

Should day_of_week function also change the behavior?
MySQL's result is 1 for'2015-05-03'
[code]
while presto's result is 7
[code]

[2015-05-27 20:39] cberner commented on #2756
After the cast. Lets assume the column is named "my_map". You should be able to do the following:
[code]
and
[code]

[2015-05-28 03:48] yuananf commented on #2960
@Myrthan Are you still working at this?

[2015-05-28 08:06] Myrthan commented on #2960
Yes but I met some problems in customising statement. Every database need different "things" to prepare statement so this is not simply launch few methods depends on kind of database.

[2015-06-02 10:44] arthurhsk opened #3005 "Query failed: Too large ..... expected elements with load factor 0.75"
Hi,

Please help!! I have a 3-node cluster, my version is 0.100, I got the following issue:

Query 20150602_051618_00003_z8uug, FAILED, 3 nodes
Splits: 2,543 total, 2,007 done (78.92%)
9:08 [5.76B rows, 281GB] [10.5M rows/s, 526MB/s]
Query 20150602_051618_00003_z8uug failed: Too large (960017389 expected elements with load factor 0.75)

Please advise how to resolve it.

Reagrds

[2015-06-02 15:57] cberner commented on #3005
Could you include the query you ran, and also the full stacktrace? (you can get the stacktrace by running the CLI with the --debug flag)

[2015-06-02 16:22] cberner opened #3006 "IndexOutOfBounds in utf8 toLowerCase"
java.lang.ArrayIndexOutOfBoundsException: 1114111
	at io.airlift.slice.SliceUtf8.translateCodePoints(SliceUtf8.java:239)
	at io.airlift.slice.SliceUtf8.toLowerCase(SliceUtf8.java:226)
	at com.facebook.presto.operator.scalar.StringFunctions.lower(StringFunctions.java:391)
	at com_facebook_presto_$gen_PageProcessor_40224.project_0(Unknown Source)
	at com_facebook_presto_$gen_PageProcessor_40224.proc

[2015-06-02 19:27] martint opened #3009 "Incorrect grouping for doubles in GROUP BY"
0.0 and -0.0 should be considered not distinct from each other for the purpose of grouping. Currently:

[code]

This behavior is inconsistent with `IS DISTINCT FROM`, too:

[code]

[2015-06-02 22:21] dain commented on #3009
This is the same as #1508

[2015-06-02 22:27] arthurhsk commented on #3005
my query: select l_shipmode, o_shippriority, sum(l_quantity * l_extendedprice) as amount from orders, lineitem where o_orderkey = l_orderkey group by l_shipmode, o_shippriority;

Query 20150602_221759_00008_3rm95 failed: Too large (960017389 expected elements with load factor 0.75)
java.lang.IllegalArgumentException: Too large (960017389 expected elements with load factor 0.75)
	at it.unimi.dsi.fa

[2015-06-02 23:27] electrum opened #3015 "CLI should not print row count on failure"
`OutputHandler` needs a `fail()` method that gets called on an exception before `close()`.

[2015-06-02 23:57] cberner commented on #3005
Ah, I believe that's because JOINs are limited to 2^31 elements per task. As a workaround, you could try enabling "node-scheduler.multiple-tasks-per-node-enabled" and then increase "query.initial-hash-partitions"

[2015-06-03 07:03] arthurhsk commented on #3005
Hi,

I added the following to config properties:
node-scheduler.multiple-tasks-per-node-enabled=true
query.initial-hash-partitions=80

Still got the same error, please advise if above are two are correct?

Log:
Query 20150603_064623_00003_4z6ku failed: Too large (960017389 expected elements with load factor 0.75)
java.lang.IllegalArgumentException: Too large (960017389 expected elements with load

[2015-06-03 13:53] manvendratomar commented on #2837
Any updates about how to resolve this issue, i am still unable to build release version 0.106. It is failing with same error message.

[2015-06-03 14:05] electrum commented on #2837
For now, can you clone the repository and checkout the tag? We don't produce these tarballs -- GitHub does it automatically (and doesn't have an option to turn them off).

[2015-06-03 15:20] martint opened #3019 "Inconsistent support for non-equi joins"
This works:

[code]

but this doesn't:

[code]

It fails with "Non-equi joins not supported: (NOT ("t"."a" = "u"."a"))"

[2015-06-03 16:15] cberner commented on #3005
What's the cardinality of l_shipmode and l_shippriority?

[2015-06-03 16:35] cberner commented on #2624
https://github.com/facebook/presto/pull/3021

[2015-06-03 17:58] hgschmie opened #3022 "[ERROR] [...] The package com.facebook.presto.sql.planner.plan collides with a type"
[code]

This is legal but it seems that the new eclipse compiler in Eclipse Mars is broken in that respect. Bug against the eclipse compiler filed at https://bugs.eclipse.org/bugs/show_bug.cgi?id=469317

[2015-06-03 21:03] Downchuck opened #3023 "Poor optimization of IN and OR with ORC adapter"
This one came up while working with S3 remotely:
Values have XXXs though the data is publicly available. They are ints.

Running the three values independently:

[code]

Running the three values in an IN query:

[code]

Note that nearly the entire file is scanned when using the in query.

[2015-06-03 21:05] Downchuck commented on #3023
Simplified case:

Bad:
[code]

Good:
[code]

[2015-06-03 21:14] Downchuck commented on #3023
Workaround:
[code]

[2015-06-03 21:14] nezihyigitbasi commented on #3023
Not sure this is only an issue with the orc adapter. We are using parquet and I have also observed some  performance degradation with `in` vs. `=`. Basically in my case when I unrolled the `in` part into a series of `=` checks the performance increased noticeably.

[2015-06-03 21:15] Downchuck commented on #3023
@nezihyigitbasi OR checks are falling apart in ORC as well. Unrolled to union to workaround.

[2015-06-04 05:40] snarayananqubole commented on #3023
@Downchuck you might want to see this thread https://groups.google.com/forum/#!searchin/presto-users/tupledomain/presto-users/LgeSPdUXztU/J6LPHTROyIkJ

[2015-06-04 10:06] sumanth232 opened #3029 "No plugin found for prefix 'presto-docs' in the current project - Build failure"
This is the error I am getting while doing 'mvn clean install' .

No plugin found for prefix 'presto-docs' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories [local (/var/root/.m2/repository), sonatype-nexus-snapshots (https://oss.sonatype.org/content/repositories/snapshots), central (https://repo.maven.apache.org/maven2)]

[2015-06-04 16:21] Downchuck commented on #3023
@snarayananqubole Thank you very much.

I'm seeing this one: "As a short term fix, we could be smarter about the compaction, and only compact large domain objects."

And I'm thinking, as a near-term fix, we can have a session setting:
https://prestodb.io/docs/current/sql/set-session.html

Something like hive.disable_compact_domains = true;
That'd be a big help, in short time.

-Charles

[2015-06-04 16:24] Downchuck opened #3030 "Distribute modules separately"
Currently, all modules are built and distributed with each presto release. That's working fine for the current fast-pace development of Presto.

I'd like to see the plugin modules (e.g. Kafka, PostgreSQL) built and distributed independently, to reduce build times and download times.

[2015-06-04 18:03] Downchuck commented on #3023
Well, harder than it looked. I spent some time but could not figure out how to get the session object over to the SplitManager. So given that, I will just use the other hack, of checking length.

Here's where I got on trying to set a session property.

[code]

[2015-06-04 18:15] dain commented on #3030
This has been in the plans for a long time, and with 2-3 new connectors pending code review, we may need to finally implement

[2015-06-04 18:19] dain commented on #3023
Compact domains was put in place because we were seeing multi megabyte domains after the predicate push down optimizer runs (this optimizer combines predicates with extra information like which partitions are available).  When this happens, all request start to fail as the domains become bigger than the buffers allow.  A solution to this problem would be to estimate the size of the domain (say cou

[2015-06-04 18:30] martint commented on #3030
One reason we haven't yet done it is that since the SPI hasn't settled enough to be able to guarantee backward compatibility, it's easier for us to maintain if they are in the same codebase.

[2015-06-04 19:35] Downchuck commented on #3023
@dain That is a good plan... Does that simply mean running an if statement checking count in that toCompactDomain method?

[2015-06-04 21:51] dain commented on #3023
That is what I was thinking

[2015-06-05 04:32] Downchuck commented on #3023
My understanding of the data structures on this project is still weak.

Are we inside of the range loop, or is it even simpler, effectivePredicate.getDomains().length() kind of check?

[code]

[2015-06-05 05:08] electrum opened #3035 "Allow Hive partition type mismatch for same Presto types"
We should allow reading from partitions that have different Hive types (such as `SMALLINT` and `INT`) that are implicitly coercible to the declared table type. For example, a table might have been created with type `SMALLINT` and have old partitions with that type, but the table type was later changed to `INT`.

[2015-06-05 05:43] snarayananqubole commented on #3023
Yup - that's the hack we've used in our internal deployment. We've tested out up to 100 values in the IN list and seems to work well.

[2015-06-05 05:50] Downchuck commented on #3023
Do you run a value sort?
Seems like good hygiene.

On Thursday, June 4, 2015, Siva Narayanan <notifications@github.com> wrote:

[2015-06-05 06:26] yuananf opened #3036 "Any plan to release sharded mysql connector?"
I saw a lot of talk about Facebook's internal sharded mysql connector, says that it supports index joins and multiple physical organizations, which is very fast.
Very interested in it.

[2015-06-05 12:14] sumanth232 opened #3038 "Not able to connect Mysql database to presto - No factory for connector mysql"
I always get this error when trying to start the Presto server in Intellij.
2015-06-05T19:30:32.293+0530	ERROR	main	com.facebook.presto.server.PrestoServer	No factory for connector mysql
java.lang.IllegalArgumentException: No factory for connector mysql
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:145)
	at com.facebook.presto.connector.ConnectorManager.createConnection

[2015-06-05 14:17] sumanth232 commented on #3029
This is locale setting problem in Mac OS X

This is solved by setting it to correct locale
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

http://stackoverflow.com/questions/19961239/pelican-3-3-pelican-quickstart-error-valueerror-unknown-locale-utf-8

[2015-06-05 14:17] #3029 closed

[2015-06-05 17:27] Downchuck commented on #3023
Is there anything additional that needs to be done on this? I'd like to get it into an upcoming Presto release.

[2015-06-05 19:08] zhenxiao commented on #3019
@martint may I claim it?

[2015-06-05 19:13] #3006 closed

[2015-06-05 19:47] martint opened #3044 "Add mechanism to select which plugins are enabled at runtime"
Currently, any plugin that's bundled in the presto package is automatically enabled at runtime. Only connectors can be mounted selectively, but every type and function provider is registered automatically.

[2015-06-05 19:57] nezihyigitbasi commented on #3015
@electrum claiming this one unless someone is already working on it

[2015-06-05 21:42] dain commented on #3044
I think the problem is not with plugins but with functions and types.  We should split the registration of types and functions, from enabling the use of the types and functions.  So we would end up with a function/type library and then users would select which items to enable from the library.

[2015-06-08 00:57] hlsc opened #3051 "Does Presto support fault tolerance now ?"
Does Presto support fault tolerance now ?I just tried to kill some nodes when a query is running,the query is also finished,does Presto has been Integrated the fault tolerance?

[2015-06-08 02:26] yuananf commented on #3038
What is your presto version? The latest version is 0.107.
Besides, the connection-url should not use localhost, better to use hostname or IP.

[2015-06-08 06:23] sumanth232 commented on #3038
I am using the lastest version 0.107.

Pls give an example on how to to write the connection-url

[2015-06-08 06:54] vamsivinjam commented on #3038
String driverName = "com.facebook.presto.jdbc.PrestoDriver";
Connection con = DriverManager.getConnection("jdbc:presto://ip:8082/", "username", "pawd");

[2015-06-08 06:59] sumanth232 commented on #3038
@yuananf , I have tried all the permutations and combinations for the connection-url, but getting the same error. Pls help.

[2015-06-08 07:01] sumanth232 commented on #3038
@vamsivinjam , I didn't get what you are trying to say.
I have to set the connection-uel in the etc/catalog/mysql.properties file.
Mysql is running on the port 3306

[2015-06-08 07:03] yuananf commented on #3038
Can you list your plugin directory? And can you show more information about your cluster? Like how many nodes is in your cluster, did you synchronize the plugin and config?

[2015-06-08 07:07] sumanth232 commented on #3038
I am a beginner who is trying to use presto based on the instructions provided on the github page.
I just want to see , how the Mysql connector works in presto. I am planning to write a ElasticSearch connector for Presto.

[2015-06-08 07:08] vamsivinjam commented on #3038
u have to give this url in ur code (eg:java) and what ever your sql port u have to give that port number.....im working on single node

[2015-06-08 07:26] sumanth232 commented on #3038
@vamsivinjam , do you mean, I need to edit the code of presto ?

[2015-06-08 07:32] sumanth232 commented on #3038
@yuananf , I could start the presto server without the mysql.properties file.

presto:default> SELECT * FROM system.runtime.nodes;
               node_id                |         http_uri          | node_version | coordinator | active
--------------------------------------+---------------------------+--------------+-------------+--------
 ffffffff-ffff-ffff-ffff-ffffffffffff | http://172.16.11.209

[2015-06-08 08:02] yuananf commented on #3038
You run presto on a single-node?

[2015-06-08 08:13] sumanth232 commented on #3038
@yuananf , yes I am running it on a single node.

$ cat etc/catalog/config.properties

# sample nodeId to provide consistency across test runs
node.id=ffffffff-ffff-ffff-ffff-ffffffffffff
node.environment=test
http-server.http.port=8080

discovery-server.enabled=true
discovery.uri=http://localhost:8080

exchange.http-client.max-connections=1000
exchange.http-client.max-connections-per-server=1000

[2015-06-08 08:27] yuananf commented on #3038
for plugin.bundles, why don't you add mysql here

[2015-06-08 09:56] sumanth232 commented on #3038
@yuananf , Thank you so much for your time, bro. The presto server started in Intellij after adding in the plugin.bundles.

But, the queries on mysql database are throwing errors.

$ presto-cli/target/presto.jar

presto:default> SHOW SCHEMAS FROM mysql;

Query 20150608_094513_00003_a6qne, FAILED, 1 node
Splits: 2 total, 0 done (0.00%)
0:00 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20150608_094513_00003

[2015-06-08 14:16] sumanth232 opened #3054 "Query Fail using a presto-mysql connector."
I am not able to do any query successfully on Mysql database using the presto-mysql connector.

[code]

Here is the failure error in the console.

[code]

The error stacktrace in IntelliJ

![screenshot 2015-06-08 15 25 41](https://cloud.githubusercontent.com/assets/4672368/8032322/c4f0606c-0df2-11e5-9877-2e253d3c5a05.png)

[2015-06-08 14:19] sumanth232 commented on #3054
[code]

[2015-06-08 14:20] sumanth232 commented on #3038
@yuananf

[code]

[2015-06-08 23:48] electrum opened #3056 "Replace tabs with spaces when showing query text in UI"

[2015-06-09 07:32] yuananf commented on #3054
Can you connect to your mysql database using mysql client?
If so, can you connect to your mysql database using jdbc? You can write a simple java programe to confirm it.
In my opinion, 'localhost' is a bad choice for connection-url better be mysql database ip address, like '192.168.0.100'.

[2015-06-09 09:35] sumanth232 commented on #3054
@yuananf , I can connect to mysql database using mysql client. I also wrote a java program to access the database using jdbc , and it works fine with all the below urls :
connection-url=jdbc:mysql:localhost:3306/
connection-url=jdbc:mysql:localhost/
connection-url=jdbc:mysql:127.0.0.1:3306/
connection-url=jdbc:mysql:127.0.0.1/

I also added the mysql-connector-java-5.1.18-bin.jar file in presto In

[2015-06-09 10:01] #3054 closed

[2015-06-09 10:03] #3038 closed

[2015-06-09 13:14] sumanth232 opened #3057 "Any Tutorial / Example for writing a Presto-ElasticSearch connector ?"
I want to write an ElasticSearch connector to perform JOINS in ElasticSearch using Presto.
Can anyone pls suggest on how to start. Any guidance will be of lot of help.

[2015-06-09 20:03] Downchuck commented on #3057
ElasticSearch has several Java clients available -- use the scroll method for large result sets:
https://www.elastic.co/guide/en/elasticsearch/guide/master/scan-scroll.html

Crate.io has an SQL adapter on top of the ElasticSearch code base, which could be of some help.

[2015-06-10 06:29] pandeyp commented on #2945
Any updates on this?

[2015-06-10 09:41] sumanth232 commented on #3057
Crate does not support JOINs.
Its mentioned in the FAQ -  https://crate.io/docs/faq/

[code]

[2015-06-10 16:12] dain commented on #3057
I would start by forking the https://github.com/facebook/presto/tree/master/presto-example-http plugin, and adapting it to be able to read from elastic search.  Last time I used elastic search the apis were all REST based so the presto-example-http plugin should be pretty close to what you need.  Once you get that working, you’ll want to work on getting predicate push down working, but I’d start b

[2015-06-10 18:31] haozhun commented on #2644
@cberner

I was about to start writing code on this one. But I realized a flaw with the solution we discussed.

In case I didn't remember the solution we discussed correctly. Let me summarize our discussion first.

The flaw here is:
* In order to copy the data, a Slice object needs to be allocated for each row. In alternative 1, a byte array and a Slice object is allocated for each item in the dic

[2015-06-10 23:27] Downchuck opened #3067 "Add max size setting for Hive over S3"
PrestoDB notes how much data is being read to execute a query, the Hive adapter can read data from a remote source, such as Amazon S3. Presto could cancel a query if the total size read reaches a configurable limit, avoiding unwanted costs for complex or poorly optimized queries.

[2015-06-11 01:08] electrum opened #3068 "TopNRowNumber should support equality"
The following queries should both optimize to use `TopNRowNumber`:
[code]
Currently, only the `<=` version works. There are actually two cases to support:

* Convert `= 1` to `<= 1`, as they are equivalent (only works for `1`, not other values).
* Convert `= x` to `TopNRowNumber` and add a `= x` filter on top.

[2015-06-11 01:56] electrum opened #3070 "Support DATE and TIMESTAMP pushdown for Hive connector"

[2015-06-11 01:58] yaoxin226 commented on #2532
Hi @haozhun , are you working on this issue? Can I claim it?

[2015-06-11 02:00] electrum opened #3071 "Support bloom filters for ORC"
Hive 1.2.0 has bloom filters for ORC. This could be useful both for Hive and Raptor.

[2015-06-11 02:52] yuananf commented on #3068
May I try this one?

[2015-06-11 04:18] cberner commented on #2644
You don't need one slice per row, you can have one slice per block. You can use a variable width block builder which creates a single slice for the whole block and an array of offsets. Just make sure to size it correctly, so that it doesn't have to reallocate the underlying slice

[2015-06-11 05:31] nhuber commented on #1975
why does my presto say function not registered?

[2015-06-11 07:07] yuananf commented on #3068
I have a question here:
Should the following query be optimized?
[code]

[2015-06-11 13:13] lucboudreau opened #3074 "Jdbc Driver: java.sql.Statement.setMaxRows not implemented"
This method doesn't do anything in terms of limiting the number of rows returned.

The implementation should be the same as using the LIMIT clause in SQL.

Implementing this method is important for GUI tools. Many client tools will use a separate text box where users define the maximum number of rows to 'preview'. Since there is no ANSI SQL way to limit rows from SQL (yes, there is LIMIT, but that

[2015-06-11 13:38] lucboudreau opened #3075 "JDBC Driver: Method java.sql.DatabaseMetaData.getTables is not implemented"
Calling this method should return a ResultSet of the available tables.

http://docs.oracle.com/javase/7/docs/api/java/sql/DatabaseMetaData.html#getTables(java.lang.String,%20java.lang.String,%20java.lang.String,%20java.lang.String[])

As of now it returns no rows.

[2015-06-11 13:44] lucboudreau opened #3076 "JDBC Driver: Column type are flipped from Integer from BigInt"
This was observed with the MySQL connector.

A column defined as an int(11), once read through Presto, comes back as JDBC Type -5 (BigInt).

[2015-06-11 13:50] lucboudreau opened #3077 "Jdbc Driver hardly usable w/ Apache DBCP"
When using Presto JDBC connections with Apache DBCP, some of the settings of DBCP will call into unimplemented methods which throw an error.

This is a deviation from the usual implementation guidelines. ie. setReadOnly can be called by the pool, but it is assumed that the driver will only throw an exception if there is a server error, *not* because it is not supported. See the API details here.

[2015-06-11 14:37] electrum commented on #3076
This is expected, since the only integer type currently supported is bigint, so all integer types will be converted to that.

[2015-06-11 17:08] haozhun commented on #1975
@nhuber  You need presto version 0.101 or up to use this function. Does this query for you?

    select array_agg(x) from (values 1, 2, 3) t(x);

[2015-06-11 17:27] haozhun commented on #2644
This is more like a code structure issue.

`OrcRecordReader.readVector`, `SliceStreamReader.readBatch`, `SliceXXXStreamReader.readBatch` all use an `ObjectVector` in the argument to pass to its caller the result. And like every other `LazyBlockLoader`s in `OrcPageSource`, `OrcPageSource$LazySliceBlockLoader` depends on such an API.

I'll talk to Dain and see why `LazyVariableWidthBlock` doesn't ex

[2015-06-11 20:17] dain commented on #2644
@cberner basically, we're going to try the simpler approach and see if the problem is resolved.  If not, we can do the more complex approach.

[2015-06-11 20:20] haozhun commented on #2644
In addition, I was wrong in saying that a Slice object needs to be allocated for each row. Instead, a Slice object is only needed for each dictionary entry.

[2015-06-12 02:08] #2059 closed

[2015-06-12 02:09] #2050 closed

[2015-06-12 05:59] dilipkasana commented on #2050
Is it resolved or planned or will be plan later.

[2015-06-12 16:04] losipiuk opened #3079 "Make presto JDBC driver work with Java 6"
Currently Presto JDBC requires Java 8 on the client side.
It is common that client applications use older version of Java (6 is still quite popular).
It would be nice to have version of JDBC driver which work with Java 6.

One option is to create another project - presto-jdbc-java6 - totally separate from Presto codebase.
Such project would not share any code with driver in Java 8 driver in presto

[2015-06-12 16:51] martint commented on #2964
Presto already has a healthy community, and we believe the current model allows us to move much faster. We don't have plans to make it an Apache project at this time, but we may revisit this in the future.

[2015-06-12 16:51] #2964 closed

[2015-06-12 17:21] Downchuck opened #3080 "Provide optimized array_intersect flags"
An optimized array_intersect method could be provided a flag which indicates that the arrays being used are sorted sets, and can be traversed as a sorted intersection.

[2015-06-12 18:58] zhenxiao opened #3081 "Add Teradata's nPath to Presto?"
where Teradata already have the nPath:
http://developer.teradata.com/aster/articles/aster-npath-guide

could be useful to add it into Presto

[2015-06-12 19:17] damiencarol commented on #3081
IMHO SQL:2003 define it more well.
Analytic Functions are present in many RDBMS. Why define another syntax not in SQL standard?

[2015-06-13 01:02] martint commented on #3079
One challenge for moving the java8 implementation out of the presto repository is that it'd be impossible to do it without breaking up the repo into multiple projects. The verifier and benchmark driver have a dependency on the driver, which would result in circular dependencies between the two projects.

[2015-06-13 14:42] monkey-mas commented on #2544
Hi @cberner , I'd be interested in working on it! Which class do you think the function could be added to?

[2015-06-13 22:56] #2370 closed

[2015-06-13 22:56] dain commented on #2370
Merged. Thanks!

[2015-06-15 03:19] yuananf opened #3088 "The web UI shows the wrong number of Splits done"
Hi,Presto
I found the number of Splits done in the Web page equals with the number of Sub Stages.
But I found the number of splits handled by a task equals with  the number of tasks in the sub stages

[code]

I confused me.
Is it a bug?Or did I misunderstand it？

[2015-06-15 11:15] cberner commented on #3080
I think the right way to do this would be to implement the multiset type, which is part of the SQL standard

[2015-06-15 15:54] ilfrin opened #3098 "TimestampOperators.castFromSlice doesn't allow to specify a timezone"
I get the following error
[code]
while when I express this in a different way I get
[code]
(the latter outputs a timestamp with time zone, but that's an irrelevant difference here)

the code responsible for this is the `TimestampOperators.castFromSlice()` method which calls `DateTimeUtils.parseTimestampWithoutTimeZone()` method.

So the question is whether this is intentional or just the way it is

[2015-06-15 16:14] haozhun commented on #3098
Does `parse_datetime` or `from_iso8601_timestamp` work for you?

By the way, a cast to timestamp with timezone should look like `select cast ('2015-01-01 03:15:16 UTC' as timestamp with time zone);`. Unfortunately such a cast doesn't exist today.

[2015-06-15 16:40] ilfrin commented on #3098
I'd rather use more or less standard SQL casting. Anyway it's just a workaround.

also I don't want to cast to a type timestamp with timezone, I want the string to be interpreted in an arbitrary timezone, not the client timezone as it is now.

My question remains whether that is intended behavior or not, if not I can fix it, like I said I don't see a reason why this shouldn't work for both cases b

[2015-06-15 17:12] ilfrin commented on #3079
I see the problem you mention. I don't see any easy way around it.
But that doesn't make the motivation for the change to be less important ;) Lets hope there's a way to get there.

In the long run I think it would be desirable to be able to allow different subprojects to allow connect to Presto. Breaking this up into separated modules with defined and separated responsibilities would be a way to

[2015-06-15 17:18] haozhun commented on #3098
I'm not sure if it is intended that `select cast ('2015-01-01 03:15:16 UTC' as timestamp with time zone)` doesn't work today. I will ask my teammate. In the mean time, you can try the workaround.

For your question about`cast (... as timezone)`, `timestamp` type does not have time zone. Putting date, time and timezone in `timestamp` is equivalent to putting date and time in a date type. I agree th

[2015-06-15 17:26] joy-yao opened #3099 "Unknown field t1.c1:array<bigint>"
After renaming a column in Hive:
[code]
This throws an exception:
[code]

[2015-06-15 17:30] electrum commented on #3079
The client protocol is rather simple and stable. It has to be, since there are implementations in many languages. We don't worry about duplicate model definitions in other languages, so I don't think it is a big deal for the Java 6 JDBC driver.

One advantage of a separate driver is that it can be smaller by using the JDK HTTP client, etc., rather than all the dependencies that the one in Presto u

[2015-06-15 18:04] electrum commented on #3081
nPath allows pattern matching, which is difficult or impossible (at least without the latest `VALUE_OF` which we have yet to implement).

Oracle 12 adds `MATCH_RECOGNIZE`, which was proposed for the SQL standard though it was not (yet?) added. The Oracle version seems to be more complete than nPath, so the Oracle version would seem to be the better one to add, but if there a good reasons and suffi

[2015-06-15 18:08] KBP-TDC commented on #3081
Aster nPath is patented and that's an issue. If there is an alternative algorithm that we can legally use, that would be great.

[2015-06-15 18:09] electrum opened #3100 "Properly support setReadOnly in JDBC Connection"
The specification does not mention this method, and the Javadoc simply says that this is "a hint to the driver to enable database optimizations". However, it seems that the proper (and expected) behavior is for the driver to reject any DDL or DML commands if the connection is in read-only mode.

[2015-06-15 18:11] electrum commented on #3077
Is the issue calling it with `false`? If set to `false`, the driver throws `SQLFeatureNotSupportedException("Disabling read-only mode not supported")`. When the driver was originally written, Presto only supported `SELECT`, so this was correct, but it never got updated.

I filed https://github.com/facebook/presto/issues/3100 for this.

[2015-06-15 18:46] electrum commented on #3077
I created #3101 to fix the `setReadOnly()` issue by always ignoring the call. I don't think we can ignore other methods. For example, ignoring `setAutoCommit(false)` would be wrong, since an `INSERT` statement or similar would still commit at the end of the statement.

If there are other methods causing a problem with DBCP, please file a new issue for each one along with the parameter values, allo

[2015-06-15 18:46] #3077 closed

[2015-06-15 18:51] electrum commented on #3076
I'm going to close this for now since it is actually a Presto problem, not an issue with the JDBC driver. We have discussed adding smaller integer types and will likely do so in the future, at which we point we can support this in the MySQL connector (and then the JDBC driver will return the expected original type).

[2015-06-15 18:51] #3076 closed

[2015-06-15 18:56] electrum commented on #3074
The simple fix is to implement this entirely in the `ResultSet`, though it would be preferable to pass this to the server so it can stop processing as soon as possible (even if the driver hasn't read all the results). We need to figure out a good way to do that (preferably without something hacky like rewriting the SQL in the driver).

[2015-06-15 19:00] dain commented on #3098
There is no operator registered to cast from `VARCHAR` to `TIMESTAMP WITH TIME ZONE`

[2015-06-15 19:02] electrum commented on #3075
This method is implemented and has a bunch of tests: https://github.com/facebook/presto/blob/master/presto-jdbc/src/test/java/com/facebook/presto/jdbc/TestDriver.java#L317

Can you provide more info on what is failing? Even better, can you reproduce it by adding a failing test?

[2015-06-15 19:04] electrum commented on #3074
We should add a new header `X-Presto-Max-Rows` rather than modifying the SQL.

[2015-06-15 19:04] lucboudreau commented on #3075
Will do.

[2015-06-15 19:28] haozhun commented on #3098
@dain According to spec 6.13 General Rules 17 a ii,

[2015-06-15 21:56] electrum opened #3105 "Hive connector does not handle uppercase columns returned from metastore"

[2015-06-15 21:57] electrum commented on #3099
This is caused by #3105

[2015-06-15 21:57] #3099 closed

[2015-06-16 01:24] fengshihua opened #3110 "About the settings"
hi,

I just found that the parameter "node.environment" of  node.properties file. The value can't be capital letter. I'm not sure whether it is a bug.

FYI.
node.environment=ABC
The server.log as below.
"2015-06-15T17:42:37.385-0700    ERROR   main    com.facebook.presto.server.PrestoServer Unable to create injector, see the following errors:

1) Error: Constraint violation with property prefix ''

[2015-06-16 03:39] damiencarol commented on #3075
It's related to #2687

[2015-06-16 03:41] damiencarol commented on #3075
If we call Method java.sql.DatabaseMetaData.getTables() with table type filter at value "TABLE" (as Pentaho tools do) no rows are returned. Because Presto use value "BASE TABLE" which is wrong.

[2015-06-16 05:39] #3098 closed

[2015-06-16 05:40] dain commented on #3098
@ilfrin the cast should work as you expected.  This will go out with the next release.

[2015-06-16 10:16] ilfrin commented on #3098
@dain thanks for the quick response, I found this while running the product tests we wrote in different than standard server/client timezone configurations.

This change together with the other pull requests in flight (INSERT INTO, execUpdate(), etc) are a prerequisite before I can rebase and run the product tests against the latest presto codebase.

[2015-06-16 16:38] ilfrin commented on #3079
The client data structures is pretty stable at this point. Maybe that's the reason for it being stable that there was not too much of development that mandated changes to the interface. Hopefully there will be few changes to it during the implementation of new jdbc features and we'll live with it. Like I said we will start with a separate project copy-pasting things.

Not setting things in stone,

[2015-06-17 21:56] joel-bernstein opened #3126 "Invalid SHA1 during Ivy retrieve"
I noticed the following warnings while retrieving the 0.107 Presto Parser:

ivy:retrieve] :::: WARNINGS
[ivy:retrieve] problem while downloading module descriptor: http://repo1.maven.org/maven2/com/facebook/presto/presto-parser/0.107/presto-parser-0.107.pom: invalid sha1: expected=7f2f854a24db4cc9b5c26c3e9c6e46da37abbed1 computed=661fee4927f5b356f91880c308e5bf586568ff3c (180ms)
[ivy:retrieve] prob

[2015-06-17 22:42] electrum commented on #3126
@jvanzyl any ideas how this could happen? They definitely do not match:

[code]

[2015-06-17 22:59] jvanzyl commented on #3126
Without checking anything yet, did you try to release this a couple times and try to drop the staging repository in Nexus? I'll look at some other releases but if this is generally the case that's bad because it's probably the Maven Release Plugin. If you had to release/drop/release with Nexus it would not surprise me if it just left the old bits around.

[2015-06-17 23:11] dain commented on #3126
Isn't this something that is checked for when closing a staging repository?

[2015-06-17 23:20] jvanzyl commented on #3126
It is, but if there were multiple attempts to release and a repo was dropped it's possible a file got picked up from a dropped repo. I'm running a check on all of central now.

[2015-06-18 18:35] wesleychowadroll commented on #2650
One of our clusters started getting this out of the blue. It's been running the same query every hour for weeks, then last night it started logging this and queries would return pretty much immediately with no data. Any insights into what's causing this and how to address it? Restarting the cluster doesn't seem to help. We're currently running 0.105

[2015-06-18 18:40] dain commented on #2650
I have a pending pull request that completely rewrites the SqlStageExecution and generally the query scheduler.  This should not be possible in the new code.

[2015-06-18 18:41] wesleychowadroll commented on #2650
Excellent. I'm just spinning up a new cluster in the meantime, so I'll just update to the latest version when that comes out.

Thanks for the quick response!

[2015-06-19 00:46] electrum commented on #3068
I forgot for the `ORDER BY` in the description which is necessary for `TopNRowNumber`. Without an ordering, it always uses the `RowNumber` operator, regardless of the filter. I will update the description.

[2015-06-19 00:49] electrum commented on #3068
@yuananf You are correct, there is a more general case that can be supported. In that example, we could use a `TopNRowNumber` with a limit of `20` and add a filter on top. I don't know how difficult that would be to do in the optimizer, or if we have any code to help pull out the range. @martint might know

[2015-06-19 02:00] yuananf commented on #3071
Good feature! This can improve the predicate efficiency for this kind of query
[code]
Is Dain working on this new feature?

[2015-06-19 07:09] dain commented on #3071
Nope.

[2015-06-19 13:38] damiencarol opened #3133 "Include views in SHOW TABLES list"

[2015-06-19 14:33] WIgor opened #3134 "JDBC: return all catalogs when catalogs name is skipped, like jdbc:presto://<host>:8080/"
Hi

In case of usage jdbc url without setting a catalogs name and calling DatabaseMetadata.getCatalogs()
it throws an exception "Catalog default does not exist".

Because in constructor of PrestoConnection you set such default values:
        catalog.set("default");
        schema.set("default");

I would propose to make special processing of such default case and return all catalogs, and same for

[2015-06-19 17:41] vainfucker commented on #3133
I would like to take this one

[2015-06-19 21:19] vainfucker commented on #3133
I'm planning to add additional column `view_definition` to `SHOW VIEWS` output.
Does it makes sense?
Cons that output might be a bit overwhelmed.

[2015-06-19 22:35] electrum commented on #3133
We should actually include views in the output of `SHOW TABLES`, since they are the same from a user's perspective (it is a queryable relation). For comparison, MySQL, PostgreSQL and JDBC `DatabaseMetaData.getTables()` all return views when listing tables.

[2015-06-19 22:36] electrum commented on #3133
We also need an easy way to see the view text without querying `information_schema`. Perhaps `SHOW CREATE VIEW`?

[2015-06-19 22:39] electrum commented on #3134
The "default" stuff is old and needs to be removed. I think the right approach is to make catalog and schema optional in `StatementResource`, allowing running queries like "SHOW CATALOGS" or fully qualified queries.

[2015-06-19 22:42] electrum commented on #3067
This is an interesting idea, and I definitely understand the usefulness, but it will be difficult to implement with the current connector API, since workers reading from S3 only know about the small split that they are processing.

[2015-06-19 22:57] damiencarol commented on #3133
Yes, `SHOW CREATE VIEW` is a good candidate.
I agree that instead of using `SHOW VIEWS`, we could use `SHOW TABLES`.
@electrum what do you think of the syntax of MySQL ? http://dev.mysql.com/doc/refman/5.0/en/show-tables.html
Should we add the `FULL` feature?

[2015-06-19 23:18] vainfucker commented on #3133
Actually SHOW TABLES already returns views among tables.
I was also thinking about SHOW CREATE VIEW statement. I might be useful.
And the FULL feature also make sense for me.
If you agree with adding that futures i would like to do that.

[2015-06-19 23:28] Downchuck commented on #3067
The cli appears to get some kind of live metrics: they may delayed, they
may be loose, but it's sufficient for the use case, exiting early.
I don't think there's a reasonable way to write in code to exactly limit
the bytes read, given the distributed nature of the workers. Doesn't seem
necessary to be exact. Just near-enough.

On Fri, Jun 19, 2015 at 3:42 PM, David Phillips <notifications@github.c

[2015-06-20 00:17] pberling8 opened #3138 "documentation error for Presto 0.107"
On page https://prestodb.io/docs/current/functions/comparison.html, the header of the table below shows "a = a" when it should be "a = b".

a 	b 	a = a 	a <> b 	a DISTINCT b 	a NOT DISTINCT b
1 	1 	TRUE 	FALSE 	FALSE 	TRUE
1 	2 	FALSE 	TRUE 	TRUE 	FALSE
1 	NULL 	NULL 	NULL 	TRUE 	FALSE
NULL 	NULL 	NULL 	NULL 	FALSE 	TRUE

[2015-06-20 08:12] yaoxin226 commented on #3138
Thanks @pberling8 , it should be fixed by #3139

[2015-06-20 11:47] vainfucker commented on #3133
Should i add `FULL` keyword as well?

[2015-06-20 11:48] vainfucker commented on #3133
Should i add the `FULL` keyword as well?

[2015-06-20 18:51] martint commented on #3133
SHOW CREATE VIEW is weird syntax in my opinion. I would rather go with SHOW VIEW or DESCRIBE VIEW

[2015-06-20 19:07] dain commented on #3133
SHOW CREATE x renders the command to recreate the object.  DESCRIBE x shows
the schema.

On Jun 20, 2015, at 11:51 AM, Martin Traverso <notifications@github.com>
wrote:

SHOW CREATE VIEW is weird syntax in my opinion. I would rather go with SHOW
VIEW or DESCRIBE VIEW

—
Reply to this email directly or view it on GitHub
<https://github.com/facebook/presto/issues/3133#issuecomment-113804147>.

[2015-06-20 19:07] electrum commented on #3133
It is analogous to SHOW CREATE TABLE which shows the SQL to create the table. I've found this to be very useful in MySQL (and wrote a similar one for Oracle).

[2015-06-22 04:06] snarayananqubole commented on #3067
We're discussing doing something very similar. Have the client cancel queries if certain limits are hit based on live metrics.

[2015-06-22 16:04] arhimondr opened #3145 "Add CREATE TABLE AS SELECT WITH NO DATA statement"

[2015-06-22 16:08] arhimondr opened #3146 "Optimize CREATE TABLE AS SELECT"
1. Plans for the queries, which have static "false" predicate (e.g. `CREATE TABLE nation_copy AS SELECT * FROM nation WHERE 0=1`), should be rewritten in a way that they will not produce any TableWriterNode's.
2. In TableWriterOperator we should create page sink only when at least one row arrived. Now page sink is created in constructor. It causes empty files creation for Hive tables. It will prev

[2015-06-22 16:09] electrum commented on #3145
We can add that. Work around for now: LIMIT 0

[2015-06-22 16:21] arhimondr commented on #3145
We are using "WHERE 0=1" for now, which is similar. But it still does the TableWrite tasks distributions, and creates empty files in hdfs. So, we should either optimize it #3146 , or add WITH NO DATA keyword, or do both.

[2015-06-22 19:42] electrum opened #3147 "TopNRowNumber optimizer should support composite expressions"
The following optimizes correctly:
[code]
But these do not:
[code]

[2015-06-23 18:11] losipiuk commented on #2797
We were thinking about initial implementation of standard DECIMAL data type in Presto.
If I understand correctly Presto currently does not support data types with explicit length limit, so we would like to start implementing unparametrized version - like current VARCHAR data type in presto.

As for implementation we wanted to do this in similar way VARCHAR and JSON data types is implemented. If we

[2015-06-23 18:36] dain commented on #2797
I have a pending PR, https://github.com/facebook/presto/pull/2478, which adds support for Types with constant parameters (e.g., VARCHAR(LENGTH)).  I suggest you start with that, and implement a DECIMAL type with two physical implementations, 64bit and 128bit, choses based on the precision.

For the 128bit version, the stack representation would have to be a Slice until @haozhun finishes adding sup

[2015-06-23 18:52] jeffreybreen opened #3152 "spurious "Catalog default does not exist" messages in UI when performing operations which don't require such a context"
I wouldn't think commands like "SHOW FUNCTIONS" would require a valid catalog or schema to be selected, but sure enough -- they all fail for me unless one is specified via `use`.

[code]

[2015-06-23 19:20] losipiuk commented on #2797
Great to hear about #2478.
Are you planning to merge it in some time soon? Is that finished and we can base on that assuming that code works - or is there some missing stuff still?

As for two implementations I would rather start with one. Just to make something working. And optimize in next step.

You suggest that just one long for 64 bit decimal and two longs for 128 bit would be enough. But we

[2015-06-23 20:07] dain commented on #2797
I believe it is finished.  I am waiting on a code review from @martint, and he has been very busy lately.

As for unparametrized DECIMAL, is that legal in SQL?  If not, I don't think it is something we should support as it would mean that every value could have a different scale.

[2015-06-23 20:34] losipiuk commented on #2797
Cool - we will base our work on top of you patch.

As for parametrization, I do not know what actual standard says. It seems like most of the databases treat decimal parameters as obligatory or just assumes some default parameter values if skipped.

So probably we may safely assume that unparameterized version is not supported.

[2015-06-23 22:15] #2927 closed

[2015-06-23 22:20] #2678 closed

[2015-06-23 22:29] #1323 closed

[2015-06-24 00:12] electrum opened #3157 "Fix fragment numbers in EXPLAIN (TYPE DISTRIBUTED)"
The fragment numbers do not match the stage numbers (for trivial queries they are in the opposite order). Fixing this is a bit more complicated than just munging the numbers because the plan is a tree.

[2015-06-24 00:15] electrum commented on #3138
Fix merged

[2015-06-24 00:15] #3138 closed

[2015-06-24 00:16] electrum commented on #3145
I agree, we should support both, and the optimization should apply in either case.

[2015-06-24 00:19] electrum commented on #3152
This is part of the same problem as #3134.

[2015-06-24 01:13] akshatnair opened #3158 "Support Limit All"
In some database like PostsgreSQL, MySQL "Limit All" has the same effect as eliminating the LIMIT clause from a query; it returns all the rows. Currently it gives error in Presto that the argument of Limit clause must be an integer.

[2015-06-24 15:04] sumanth232 commented on #3057
@dain , Can you please give me a brief on what exactly is a ConnectorSplitManager, split and a partition? I have gone through the ExampleSplitManager but could not get what exactly is it used for.

[2015-06-24 16:43] electrum opened #3163 "Remove boxing for IN lists of primitives"
https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/gen/InCodeGenerator.java#L129

[2015-06-24 16:48] electrum opened #3164 "Use direct switch for small IN lists of small primitives"
If all of the constants fit in an `int` (less than `2^32`), we can switch on the values directly, rather than on the hash code. This removes both the hash computation of the lookup value and the extra comparison when the hash matches.

https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/gen/InCodeGenerator.java#L102

[2015-06-24 17:46] dain commented on #3057
In the legacy SPI that the example connector implements, a table is logically divided in partitions and partitions are divided into splits.  A partition can provide a `TupleDomain` which describes the bounds of the values present in the partition which Presto can use to skip sections of the table that can not match the filter predicate.  A split is simply a part of a partition.

Presto will enumer

[2015-06-24 18:18] martint opened #3165 "Bug in property derivations for UNNEST"
[code]

fails with the following exception (run with TestTpchDistributedQueries)

[code]

[2015-06-24 18:20] martint commented on #3165
You can add this test case to AbstractTestQueries:

[code]

[2015-06-24 19:17] electrum commented on #3158
I tried in MySQL 5.6 and it seems not to be supported, so this might be only be in PostgreSQL. I'm curious, is this a compatibility issue for you, such as a tool that generate queries?

It is not an unreasonable feature (especially for PostgreSQL compatibility), but it is strange (if you don't want limit, leave it out).

[2015-06-24 19:24] Downchuck commented on #3023
@dain How can I get this patch applied? I don't have CLA authority on this end, it's a lot to ask of our attorney for a basic patch.

[2015-06-24 19:29] #3165 closed

[2015-06-24 19:48] akshatnair commented on #3158
Yes MySQl does not support it, my mistake, I misread one of the document. And yes users can always leave out the limit clause but I think some tools might generate limit clause by default and use All there to fetch all rows. This is needed for PostgreSQL compatibility and an easy enhancement.

Other products that supports ALL in Limit clause are Vertica and Apache Drill

[2015-06-24 20:27] cawallin commented on #2639
@dain -- if it's still relevant, I can take this one.

[2015-06-24 20:38] dain commented on #2639
Yep this is still relevant, so go for it.

[2015-06-25 13:47] sumanth232 commented on #3057
I wrote a basic connector with the necessary classes implemented. I also added a .properties file in 'etc/catalog'

but I get this error :
'''
2015-06-25T19:16:22.214+0530	INFO	main	com.facebook.presto.metadata.CatalogManager	-- Loading catalog etc/catalog/elasticsearch.properties --
2015-06-25T19:16:22.215+0530	ERROR	main	com.facebook.presto.server.PrestoServer	No factory for connector elasticsea

[2015-06-25 15:08] sumanth232 commented on #3057
The above problem solved after I added a file with the name 'com.facebook.presto.spi.Plugin' in the 'META-INF/services' directory :
[code]

But, I observed that for the other connectors (except tpch), the same file is present in a different directory :
[code]

[2015-06-25 16:28] martint opened #3171 "Bad error message when casting to parametric type without type parameters"
[code]

Fails with:

[code]

[2015-06-25 18:50] martint opened #3173 "Analyzer error when row field reference is used in aggregation query"
The following query (add it to AbstractTestQueries)

[code]

fails with an exception instead of "a.col0 not in GROUP BY clause":

[code]

[2015-06-25 21:38] haozhun commented on #2532
@yaoxin226 Sorry for the late reply. I'm working on it.

[2015-06-25 22:53] electrum opened #3178 "Add more failure info to QueryCompletionEvent"
We need to know the task ID and the machine on which the failure occurred. This helps with finding logs related to a failure, correlating machines with higher than average failure counts, etc.

[2015-06-26 15:27] danoyoung commented on #2704
Has any progress been made on this?  We're seeing the same issue with presto 0.108.....

presto:prod> select _message from clickstream limit 200;

Query 20150626_152255_00002_ka34h, FAILED, 1 node
Splits: 41 total, 24 done (58.54%)
0:02 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20150626_152255_00002_ka34h failed: could not fetch data from Kafka, error code is '6'

[2015-06-26 15:39] cawallin commented on #3110
I'm not sure the reasoning behind it, but it is intentional that the environment be only lower case. See https://github.com/airlift/airlift/blob/master/node/src/main/java/io/airlift/node/NodeConfig.java, and https://github.com/airlift/airlift/blob/master/node/src/test/java/io/airlift/node/TestNodeConfig.java for a test that verifies that the environment is not upper case.

@electrum, can you confi

[2015-06-26 20:07] haozhun opened #3184 "UNION query fails for UnknownType"
With configuration

    optimizer.optimize-hash-generation=true

This query fails

    (VALUES NULL) UNION (VALUES NULL)

Stack trace

    com.facebook.presto.spi.PrestoException: Compiler failed and interpreter is disabled
    	at com.facebook.presto.sql.planner.LocalExecutionPlanner$Visitor.visitScanFilterAndProject(LocalExecutionPlanner.java:909)
    	at com.facebook.presto.sql.planner.LocalExe

[2015-06-26 21:09] martint opened #3186 "Type inference broken for overloaded functions that produce null if any arg is null"
For example:

[code]

There are two valid bindings for the call to `mod`: `mod(BIGINT, BIGINT):BIGINT` and `mod(DOUBLE, DOUBLE):DOUBLE`. In this case, the binding is ambiguous, but the result is deterministic (`null`). Therefore the type of the result can be considered as both `BIGINT` and `DOUBLE`, but we don't know which, so it should be reported as unknown.

[2015-06-29 03:58] yuananf commented on #3147
I will try this one.

[2015-06-29 06:56] xerial opened #3191 "Query stalls in Presto 0.108"
Although I couldn't find the exact cause, but some queries started to stall in Presto 0.108. For example, the following queries stalled:
[code]

This is not specific to TABLESAMPLE operation, since the other type of queries (e.g., joins) also stalls.

This bug might be related to our connector implementation, but it looks like when skipping entries this stall happens. Please let me if you know any

[2015-06-29 09:53] wyukawa commented on #3191
I also encountered the similar problem.

https://groups.google.com/forum/#!topic/presto-users/Aw3XOhl5j7w

I try to use presto 0.108 + jdk1.8.0_45 + HDP 2.1 + CentOS 6.5.

I use hive connector.

Some queries don't return at presto 0.108, but return at presto 0.107.

Thanks.

[2015-06-29 16:09] cberner commented on #3191
Could you look in the web ui and tell me what the status of the query is? In particular, it would be helpful to know:
* does the UI report it as BLOCKED?
* what state are the different stages in?
* for stages that are still running, what state are the tasks in?

[2015-06-29 16:13] cberner commented on #3191
Also, when you say "stall" do you mean that it never finishes, or does it just take a long time?

[2015-06-29 17:39] xerial commented on #3191
@cberner
- Yes. It shows BLOCKED at the root stage, and the child stages are in RUNNING state.
- By `stall`, I mean it never finishes and without any progress in `outputPositions` count.

[2015-06-29 23:29] cberner commented on #3191
I see. What state are the tasks in the child stage in?

[2015-06-30 00:47] haozhun opened #3197 "Fix cast between JSON and VARCHAR"
#### What

Provide a way to convert between JSON values and other SQL types. e.g. JSON number and `BIGINT`,  JSON string and `VARCHAR`,  JSON array of numbers and `ARRAY<BIGINT>`,  JSON object of numbers and `MAP<VARCHAR, BIGINT>`, etc.

Today, we allow casts between JSON and VARCHAR. It returns JSON text when casting to VARCHAR. And it treats VARCHAR as JSON text when casting to JSON. This is not

[2015-06-30 02:01] xerial commented on #3191
All of the child tasks are in RUNNING state.

I'm going to check the heap dump or thread stacks (/v1/thread) to see where the query is blocked.

[2015-06-30 02:48] electrum commented on #3191
I'm seeing an issue where stages never get any tasks scheduled. Might be the same problem. Did not happen with 0.107.

It occurred twice after restart where we sent ~10 queries at all once. All were stuck the same way and never recovered. No other queries running. Subsequent queries were fine.

[2015-06-30 03:39] haozhun opened #3198 "Rename query.initial-hash-partitions"
`query.initial-hash-partitions` now controls the number of partitions for arbitrary partitioning (which is implemented for table writing). We should probably rename it. What is a good name?

[2015-06-30 05:41] cberner commented on #3191
@xerial also take a look at the task info (json document) which you can find by clicking on the link from the task, on the query page. If you don't mind sharing the info in there, it would be helpful to debugging too.

[2015-06-30 06:02] yuananf commented on #3191
Is this helpful?
When restarting a presto cluster, execute ```show tables```, it also never finished, and the web page looks like below:

![timline 20150630140035](https://cloud.githubusercontent.com/assets/4101738/8424711/6f706b92-1f30-11e5-912c-6d9499d6a77c.png)

[2015-06-30 06:16] wyukawa commented on #3191
My case is the following.

http://gyazo.com/83a8c1e2b52b2a3e28821cf954fd5f34

presto query is the following
[code]

[2015-06-30 07:10] xerial commented on #3191
@cberner
Sure. After excluding some private information, I'll share it.

[2015-06-30 07:41] xerial commented on #3191
Here is the json data of the tasks of a stalled query:
https://gist.github.com/xerial/b14041846ff246849275

![20150630_071237_06262_zieat](https://cloud.githubusercontent.com/assets/57538/8425933/1cecf294-1f46-11e5-939e-296c4ed2b3a7.png)

It looks like the child tasks already finished processing the data, but the parent task is still waiting the result.

[2015-06-30 08:30] yuananf commented on #2704
@danoyoung you can try #3000 , we also met this problem and the patch fixed this problem in my case.

[2015-06-30 16:20] cberner commented on #3191
@xerial it looks like the problem is that the TableScan is hung/slow. In your screen shot it shows that none of the splits have finished running, and from the json stats it looks like none of the tasks have produced output. For example `20150630_071237_06262_zieat.1.0` shows 0 `outputPositions`. Can you try running jstack on one of your workers to see if the TableScan thread is stuck?

[2015-06-30 16:50] cberner commented on #3198
Maybe `query.target-partitions` or `query.default-partitions`? @electrum or @martint thoughts?

[2015-06-30 17:38] dain commented on #3191
@yuananf we have seen that one internally.  There is some bug where a stage fails immediately during setup, but the query misses the notification.

@xerial If you open the info for one of the table scan tasks (click the task id in the table). Then look for "getOutputCalls", wait a minute and check it again.  The number should increment each time the output method on the operator is called.  There

[2015-06-30 18:30] electrum commented on #3198
Max partitions? Since it will be at most this (limited if fewer nodes and not multi scheduling). Right?

[2015-06-30 18:35] martint opened #3201 "EXPLAIN fails when partition keys are of date/time type"
This seems to happen when the domain of the partition is converted to a string because the coercion for those types requires a `ConnectorSession` to be provided.

[code]

[2015-06-30 19:45] haozhun commented on #3198
If source partitioned, I suppose it can go over this number?

[2015-06-30 20:38] #2040 closed

[2015-06-30 20:46] #1663 closed

[2015-06-30 21:04] martint commented on #3051
If a Presto node dies, any running queries with tasks assigned to that node will fail.

There are some forms for fault tolerance built into Presto, though. For instance, requests between nodes will retry if there are any communication failures. Some connectors, such as the one for Hive, will also retry calls to the metastore or hdfs in case of errors.

[2015-06-30 21:04] #3051 closed

[2015-06-30 21:23] yaoxin226 commented on #2869
This shows up frequently in our cluster there days. We are running presto 103.

[2015-06-30 21:49] Myrthan commented on #3184
https://gist.github.com/Myrthan/44e5df378d6b9631f450

[2015-06-30 23:24] Myrthan commented on #3145
Okay I can try this one for next two days.

[2015-06-30 23:36] cberner opened #3203 "Include error location information for unresolved functions"
Queries like `SELECT 1 = '1'` fail with "Operator EQUAL(bigint, varchar) not registered". However, the json returned from `/v1/query/` doesn't include the line number. Also, the error messages should include the line number

[2015-07-01 00:06] martint commented on #3203
A couple of comments:
- That's a semantic error. SemanticExceptions hold on to the corresponding AST node, so we should be able to add and report position information easily. We'll need to extend the AST nodes to hold on to the offset/length covered by each node.
- The message should really say something like `'=' not allowed between BIGINT and VARCHAR`

[2015-07-01 02:21] wyukawa commented on #3191
Here is the jstack result of presto 0.108 worker in my case

https://gist.github.com/wyukawa/2f8d09a03aef8b844370

[2015-07-01 04:25] cberner commented on #3191
@dain I think this will fix the issue with stages that fail during setup not failing the query: https://github.com/facebook/presto/pull/3204

It doesn't explain some of the other hangs though

[2015-07-01 15:41] danoyoung commented on #2704
@yuananf BTW this worked, thank you!  Does anyone know if this issue is going to be resolved in 108 or 109?

[2015-07-01 15:51] cawallin commented on #1434
I'm going to take this up.

[2015-07-01 16:09] electrum commented on #1434
We actually support this today with `DiscoveryLocatedHiveCluster`. It has code for connecting to multiple metastore services. The discovery version has the advantage of being dynamic, since you can add/remove services at runtime via the discovery API. Though I've considered removing it since no one uses it...

[2015-07-01 17:29] nezihyigitbasi commented on #1434
@electrum This would be a useful feature if Presto was able to connect to multiple metastore services, and fallback to the other one when one fails. Is it currently possible to create such a configuration with Presto?

[2015-07-01 18:06] cawallin commented on #1434
From what I can see, Presto shuffles all of the metastores it has descriptors for and goes through sequentially trying them.  So, there is fallback.  This does not quite match the behavior that Hive uses, though, which is to default to using the first metastore URI specified in the list, and then to fail over to a random URI in the list if it can't connect to the first metastore, continuing to try

[2015-07-01 18:34] nezihyigitbasi commented on #1434
@cawallin What I mean by fallback is a fallback mechanism among multiple Hive metastores for the same catalog, is it really possible? I though it isn't now. If it is, how can I specify it in the catalog properties file?

[2015-07-01 18:38] cawallin commented on #1434
@nezihyigitbasi I don't think you can specify it in the catalog properties file -- you have to set your hive.metastore.uri to something with the schema discovery, and then set up your metastores via the discovery server. I'm still looking into how that works, though.

[2015-07-01 23:05] cberner commented on #3191
We found this bug https://github.com/facebook/presto/pull/3212 which would cause stalls for JOINs. Not sure about the table sample ones though

[2015-07-02 02:08] yuananf commented on #3147
I'm almost finishing it, but the cases below should be discussed:

[code]

[code]

My thought is as follows:
For the first case
* rewrite it to ```rn >= 10 and rn <= 14```

For the second case we have two choices
* rewrite the second one according to the range of ```rn```, and generate a new range of ```rn```
* add a ```LimitNode``` on top of TopNRowNumber

@electrum any suggestions?

[2015-07-02 02:25] yuananf commented on #3147
And another question here, for the case below
[code]
What should the ```limit 5``` behave?
Limit each partition of  ```y``` or limit the whole result?

[2015-07-02 07:59] yuananf commented on #2704
@danoyoung
@hgschmie is reviewing it, but I think he may be busy recently.

[2015-07-02 20:01] cberner opened #3215 "Improve performance for JOINs where build side is empty"

[2015-07-02 20:01] cberner commented on #3215
Creating a new issue because I reverted https://github.com/facebook/presto/pull/3141

[2015-07-02 20:09] mattsfuller opened #3216 "predicate incorrectly pushed below aggregate in subquery may result in wrong answers"
When there is an aggregate function in a subquery, it is not always semantically equivalent to push a predicate from the outer query below the aggregate within the subquery. This can cause wrong results.

For example:
SELECT * FROM (SELECT count(*) as c FROM nation) as some_table WHERE 0 IS NULL;

This query should return an empty result set. However, it returns a single column, single row with va

[2015-07-02 20:15] mattsfuller opened #3218 "Order By Desc on a column containing nulls values returns wrong results"
The default null ordering for desc should be nulls first. But it is doing nulls last.

Postgres:
[code]

Presto:
[code]

[2015-07-02 20:21] mattsfuller commented on #3218
I just saw in another bug that null ordering may be implementation-defined if it's not specified.
If that is the case and this is intentional, I can close. But it might be nice to match behavior of other DBs is there is some consistency that is implemented.

[2015-07-02 20:27] martint commented on #3216
This should be fixed in 0.108 (https://github.com/facebook/presto/pull/3132). What version did you test?

[2015-07-02 20:29] mattsfuller commented on #3216
oh. I did not test the latest. We are on 0.101. I'll close.
This one was also failing which I suspect was related:
[code]

[2015-07-02 20:29] #3216 closed

[2015-07-02 21:03] Downchuck commented on #3023
@electrum saw you were working in some ORC code. Any chance you could apply this fix?

[2015-07-03 04:26] electrum commented on #3216
That linked PR is empty. Commit is e370c89bd4e0859a23dcb3ff9d8bd22030c5eb07

[2015-07-03 04:28] electrum commented on #3216
@mattsfuller How did you find this one?

[2015-07-03 04:58] electrum commented on #3218
This is actually intentional. It is legal per the SQL specification for `<sort specification list>`:

We always default to `NULLS LAST` because users generally do not want to see nulls. The most common use of `ORDER BY` in Presto is with `LIMIT`, so having nulls first would often result in a result set with all nulls, which is almost never what the user wants.

But we definitely should document th

[2015-07-03 05:08] electrum commented on #3218
The `<null ordering>` specification only arrived in SQL:2003, and like many things in the SQL specification, I'm guessing different existing implementations had varying behavior. Though it appears MySQL, PostgreSQL and Oracle all share the same default. SQL Server appears to always do nulls first and does not support explicit null ordering. Thus it seems we are the opposite of Microsoft :)

[2015-07-03 05:40] yuananf commented on #3201
Which kind of SQL can reproduce this exception?

[2015-07-03 11:11] sumanth232 commented on #3057
Pls tell me how to accurately implement these 3 function in the 'RecordCursor' interface while writing a connector
[code]

Please help ... pls..pls..pls..

[2015-07-03 16:23] electrum commented on #3057
Those functions are only for stats. If they don't mean anything for your connector or that info is not available just return 0.

[2015-07-06 10:41] sumanth232 commented on #3057
Does Presto support dynamic coulmns, for datastores which contain JSON documents.
In the Example connector, all the columns are hardcoded in 'example-metadata.json', where as new columns can be added in the csv doc. How to handle newly added columns in the csv (or new properties in JSON docs in elasticsearch indices) ? Any suggestions will be of great help.
Thanks.

[2015-07-06 13:13] sumanth232 opened #3221 "Can columns of a table be dynamic in Presto ?"
Does Presto support dynamic columns in Tables, (for example, data stores which contain JSON documents, where new properties can be added in a JSON doc residing in an index/type) ?
In the Example connector, all the columns are hardcoded in 'example-metadata.json'. what if new columns are added in the csv doc ? How to handle these newly added columns in the csv (or new properties in JSON docs in ela

[2015-07-06 14:11] sumanth232 opened #3222 "Writing a connector for a non-relational data store in presto"
How to write a connector for a non-relational data store without hard coding the columns of a table (like in example-http connector) as new columns can be added into a table in a non-relational database ?

[2015-07-06 15:14] monkey-mas commented on #3178
Let me try this one.

@electrum
Can you be more specific about _machine_ information? I'm not sure what kind of information you have in mind. If you referred to `nodeInstanceId`[1] in TaskInfo as _machine_, it should be easy to add it to QueryCompletionEvent.

[1] https://github.com/facebook/presto/blob/c244ebaa629638fc0035f38ddc1c07948dba5100/presto-main/src/main/java/com/facebook/presto/executio

[2015-07-07 00:05] danoyoung opened #3227 "Expected LIST column ... entry field 0 to be named 'array_element', but is named array"
Hello,

I have Hive 0.13 (EMR) with Presto 0.109 running where I'm trying to query some Parquet files in HDFS.   The Hive query seems to work, but when I try to query the same data via Presto, I get an error.  It seems to have something to do with NULL Array elements in one of the Parquet columns.  If I run non "select *" type queries that do not include the ARRAY column, the queries work.  If I t

[2015-07-07 00:27] nezihyigitbasi commented on #3227
@danoyoung I guess the problem is Presto uses the convention Parquet uses to name array elements [here](https://github.com/apache/parquet-mr/blob/parquet-1.6.0rc3/parquet-hive/parquet-hive-storage-handler/src/main/java/org/apache/hadoop/hive/ql/io/parquet/convert/HiveSchemaConverter.java#L104) while the data you are querying is probably written by Spark which uses a different convention, see [this

[2015-07-07 00:45] xerial commented on #3191
This might be related to our connector implementation. Let me close this ticket for now.
If we can find another cause, we will open a new ticket.

Thanks!

[2015-07-07 00:45] #3191 closed

[2015-07-07 02:10] danoyoung commented on #3227
@nezihyigitbasi that seems to be the case, using spark 1.4 and the HiveContext to convert a JsonRDD to a Parquet file (via SparkSQL).  Is there a workaround on the Presto side?

MBP-200729:parquet-tools dan.young$ ~/local/bin/parquet-tools schema -d ~/temp/part-r-00001.gz.parquet
message root {
  optional group actionables (LIST) {
    repeated group bag {
      optional binary array (UTF8);
    }

[2015-07-07 02:13] danoyoung commented on #3227
or a work around on the spark side....

[2015-07-07 05:09] sumanth232 commented on #3221
What is the efficient way to return the current set of columns ?
 For eg: if the data store contains JSON documents, and each JSON property is a column in the table, is it not very time consuming, to search all the docs for finding all the properties (columns) ?

As this method 'ConnectorMetadata.listTableColumns()' is called for every query, can this time consuming search be done to return the se

[2015-07-07 05:10] sumanth232 commented on #3222
What is the efficient way to return the current set of columns ?
 For eg: if the data store contains JSON documents, and each JSON property is a column in the table, is it not very time consuming, to search all the docs for finding all the properties (columns) ?

As this method 'ConnectorMetadata.listTableColumns()' is called for every query, can this time consuming search be done to return the se

[2015-07-07 12:34] sopel39 commented on #3163
I would like to try this one

[2015-07-07 17:25] nezihyigitbasi commented on #3227
@danoyoung AFAIK there is currently no workaround for this at Presto side (and same for Spark as far as I can see from the related jira tickets which are still open). Looking at the [Parquet compatibility rules](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#backward-compatibility-rules) Presto should be able to read your files according to rule 4.

@dain What do you think?

[2015-07-07 17:50] igorbarinov commented on #3133
:+1: for view in mysql

[2015-07-07 19:01] cberner opened #3230 "Optimize CASE expressions on a constant"
CASE expressions on a constant should optimize away the CASE, even if the THEN clause is dynamic. For example:
[code]
should optimize into:
[code]
The code for this is in `ExpressionInterpreter` with tests in `TestExpressionInterpreter`. See the `visit*CaseExpression` methods.

[2015-07-08 01:30] erichwang opened #3232 "Presto should not move predicates that can throw on input"
SAMPLE QUERY:

WITH table1 AS (
  SELECT CAST(orderkey AS VARCHAR) orderkey FROM orders
),
table2 AS (
  SELECT CASE WHEN orderkey % 2 = 0 THEN CAST(orderkey AS VARCHAR) || 'x' ELSE CAST(orderkey AS VARCHAR) END orderkey FROM orders
)
SELECT * FROM (SELECT *, CAST(orderkey AS BIGINT) FROM table1) a JOIN table2 b ON a.orderkey = b.orderkey;

presto:tiny> explain WITH table1 AS ( SELECT CAST(orderke

[2015-07-08 16:55] losipiuk commented on #2797
@dain: A Question.

Most databases (i think it is dictated by ANSI standard) treat literals like '123.34' as DECIMALS.
Presto treats such literals are interpreted as DOUBLE PRECISION.

Ultimatelly we should probably change semantics here, so casting is done from DECIMAL to DOUBLE and not vice versa. DOUBLE is inaccurate by design and you want accurate value if you want to compare values from DECIM

[2015-07-09 12:20] sopel39 commented on #3070
Is anybody working on this? Otherwise I will take this one.

[2015-07-09 12:22] sopel39 commented on #2860
Is this issue still valid? Those point seem very specific. Are they related to some other issues/requirements? Could you elaborate a bit?

[2015-07-09 13:02] sumanth232 opened #3239 "SELECT COUNT(*) FROM table_name is very slow for elasticsearch connector"
I have written an elasticsearch connector and used it to fetch around 1.2 million rows from an index.
The time taken to run this query is varying from 13 seconds to around 120 seconds.
I have ran it on my Mac laptop (1 node)
[code]

I have used scan and scroll to retrieve the rows but still, it is very slow.
What are the ways to make it faster ?

[2015-07-09 15:16] sopel39 commented on #3070
@electrum Does this ticket mean pushing down date and timestamp predicates?

[2015-07-09 15:39] cberner commented on #3239
Please keep questions to a single thread. You asked this same one on the mailing list.

[2015-07-09 15:39] #3239 closed

[2015-07-09 15:45] electrum commented on #3070
Yes. The Raptor connector supports this.

[2015-07-09 15:52] sopel39 commented on #3070
I have browsed through the code and I've noticed that predicates are described by ToupleDomain object. The ToupleDomain 'effectivePredicate' instance is pushed down to HivePageSourceFactory level. However, only OrcPageSourceFactory makes use of this object. Should filtering mechanism be implemented for other types of PageSource? Is there some other pushdown mechanism that I haven't noticed?

[2015-07-09 16:08] cawallin commented on #1434
Made a PR for adding multiple metastore support to the catalog properties file; I tried for a while to get the discovery-based Hive to work, but couldn't get the static announcements to work to tell the discovery server about your metastores. I might look into it more later though.

[2015-07-09 16:25] cberner commented on #2860
Yep, it's still valid. The first point is so that the server can clean up old queries that the client has finished reading, the second and third are cleanups/fixes for the way values are transported

[2015-07-09 16:30] haozhun opened #3242 "Add topn and topn_by"
1. Implement a custom block-based heap-like data structure.
2. With the above data structure, topn and topn_by can be implemented without too much work.

Alternative route: implement both with single-value block if it is immediately needed.

[2015-07-09 18:29] electrum commented on #3070
No other file formats support push down, so it is only used for partition pruning.

[2015-07-09 18:41] sopel39 commented on #3070
From the code I see that date is supported for ORC: https://github.com/facebook/presto/blob/master/presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainOrcPredicate.java#L107

Parquet also stores min/max statistics for each data page, so maybe it's also worth adding pruning for parquet and possibly other file formats too? Did you consider some kind of lazily computed page statistics (e.g. g

[2015-07-10 13:31] sopel39 commented on #3070
It looks that there is support for TIMESTAMP predicates in ORC too, am I right? TIMESTAMP column has stats represented by IntegerColumnStatistics, which store min/max long values for the column.

[2015-07-10 13:34] sopel39 opened #3246 "Support for concat that accepts more than 2 input arguments."
Presto supports only concat(str1, str2) -> str3 while other database systems allow more than 2 arguments. Important for TPC-DS. Also concat() is part of ODBC standard.

[2015-07-10 13:34] sopel39 commented on #3246
I would like to work on this one. Do you guys have any comments/hints?

[2015-07-10 16:15] cberner commented on #3246
Yep, take a look at the way `Greatest.java` works. You'll need to make `concat` into a var args function

[2015-07-10 16:17] haozhun commented on #3246
Take a look at `ArrayConstructor` class. Be aware that presto execution engine does not really provide vararg support. At plan time, vararg is implemented by calling `specialize` with a list of types (at which time number of arguments is known) and generating the appropriate implementation with the given number of arguments.

[2015-07-10 17:49] dain commented on #3070
@zhenxiao is working on predicate push down for parquet #3027 and that should be able to take advantage of this also when it lands.

For ORC statistics, the important thing is to test the stats ORC produces.  ORC had/has a bunch of bugs with collecting and rolling up statistics, so any code using them needs to adapt around these bugs.  For example the date statistics are rolled up wrong (https://g

[2015-07-10 17:59] sopel39 commented on #3070
What about TIMESTAMP statistics? I believe timestamp domain is created at https://github.com/facebook/presto/blob/master/presto-orc/src/main/java/com/facebook/presto/orc/TupleDomainOrcPredicate.java#L110, but https://github.com/facebook/presto/blob/master/presto-orc/src/main/java/com/facebook/presto/orc/metadata/OrcMetadataReader.java#L188 does not check if isRowGroup is false. Shouldn't code path

[2015-07-10 18:00] KBP-TDC commented on #3070
Well, maybe we can contribute to ORC and fix the bugs as well :)
One challenge might be with already existing ORC files. If they contain unreliable stats and we want to use to filter things out, that might be an issue.

[2015-07-10 18:03] sopel39 commented on #3246
Thanks, I will base the patch on ParametricScalar interface as you noted.

[2015-07-10 20:07] dain commented on #3070
They already fixed the ones I found.  For old files, they added the version of the writer to the file footer, so if you know which writers are broken, you can work around old data.  We have not updated our code to deal with this yet.

[2015-07-10 20:24] electrum commented on #3070
There are two parts to this: supporting for partition pruning, and supporting pushdown for ORC. These are independent changes. I would start with partitions, since that should be easier. Though for both changes, you need to deal with Hive's craziness around timezones for timestamps.

[2015-07-10 20:35] electrum commented on #3201
@yuananf I'm guessing this can be reproduced by having a Hive table with a `DATE` partition key, then doing a query like `EXPLAIN SELECT * FROM table`

[2015-07-10 22:22] petroav commented on #3221
Sumanth -- I believe this was discussed on the mailing list so if you're satisfied with the suggestions given from the other other members could you go ahead and close this?

[2015-07-10 22:24] petroav commented on #3222
I believe this is a duplicate of #3221 and was also discussed on the presto user mailing list.

[2015-07-10 22:26] #3222 closed

[2015-07-10 22:29] #3221 closed

[2015-07-11 01:17] zhenxiao commented on #3070
Thanks @dain Yes, I am doing predicate pushdown for parquet, using parquet's min/max stats. It is in https://github.com/facebook/presto/pull/3027. It would be nice if this is done, parquet side could make use of it.

[2015-07-12 17:43] mombergm commented on #2945
My understanding of the Presto S3 library at the moment is that only S3 server side encryption is supported and not S3 client side encryption. We will need to expand on the PrestoS3FS in order to support client side / KMS encryption. @electrum, what do you think?

[2015-07-13 03:00] yuananf opened #3249 "NullPointerException when using APPROXIMATE AT"
I tried to use APPROXIMATE query but it throws NullPointerException.

Query is
`select count(*) from lineitem APPROXIMATE AT 95.0 CONFIDENCE`

Error message is

[code]

[2015-07-13 03:28] yuananf opened #3250 "Duplicate analyzeOrderBy in StatementAnalyzer and TupleAnalyzer?"
I found ```visitQuery()``` in ```StatementAnalyzer``` was using ```TupleAnalyzer``` to analyze ```QueryBody```, and then call ```analyzeOrderBy``` function.

It confused me, because ```TupleAnalyzer``` also has a function ```analyzeOrderBy``` and it seem this one contains the process code in ```StatementAnalyzer.analyzeOrderBy```.

Correct me if I had any misunderstanding.
@cberner

[2015-07-13 04:09] electrum commented on #2945
Do you know what changes are required to make this work?

[2015-07-13 08:48] yuananf commented on #3201
I can't reproduce the exception with the condition you said.
I'm using the master version.

[2015-07-13 10:14] mombergm commented on #2945
I haven't done this in Java myself yet, but my understanding would be that you would invoke a new AmazonS3EncryptionClient instead of the normal AmazonS3Client. [doc ref](http://docs.aws.amazon.com/AmazonS3/latest/dev/client-side-using-kms-java.html)

It might be as simple as adding a few new config params and then based on those invoke the correct client during createAmazonS3Client() in the Prest

[2015-07-13 14:06] sopel39 commented on #3070
@electrum Isn't partition prunning for DATE and TIMESTAMPS already implemented in https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveSplitManager.java#L205 and https://github.com/facebook/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveUtil.java#L374?

Also, by looking at ORC code I thought that DATA and TIMESTAMP predica

[2015-07-13 18:28] cberner opened #3251 "cpu-time limits for queries"
we should support cpu-time based limits on queries, similarly to how memory limits work.

This should go in `ClusterMemoryManager.process()` and work similarly to how the memory limit is enforced. You can get the total CPU time for the query from `QueryExecution.getQueryInfo().getQueryStats()`, but you may want to add a method to get it directly from a `QueryExecution` similar to `getTotalMemoryRe

[2015-07-13 18:29] martint opened #3252 "Improve error message for out-of-bounds access to array"
A query like:

[code]

fails with the following error: ```Query 20150713_182318_17537_zasxq failed: Index out of bounds```

We should improve the error message. Some ideas:
* If the index is 0, explain that in SQL arrays start at index 1
* Mention "array subscript" out of bounds
* If the subscript is a constant and is invalid, fail during analysis and highlight the location of the problem (once we

[2015-07-13 18:30] cberner opened #3253 "Support more flexible resource groups"
Currently all queries draw their memory from the same pools. We should implement something similar to the queuing system which allows different groups to be configured

[2015-07-13 18:32] cberner opened #3254 "Predict upper limit on memory usage for queries"
All queries are given the default maximum for distributed memory usage. We should analyze the query plan to determine if they will actually use this much (a scan-filter-project query will never hit it for example), and reduce the limit for that query. This will make it easier to predict when the cluster will run out of memory

[2015-07-13 18:33] cberner opened #3255 "Track "system" memory usage"
Track all memory used by internally by the Presto engine when running a user's query. For example, buffers in `Exchange` s and `SharedBuffer` s. This can then be used to dynamically adjust the number of tasks running on a worker, or the size of buffers. It will also allow us to reduce the default size of `resources.reserved-system-memory`

[2015-07-13 18:34] cberner commented on #3255
@jacobgao is working on this

[2015-07-13 18:34] cberner commented on #2624
Closing this since all the main work is done. Follow-up tasks are:
https://github.com/facebook/presto/issues/3251
https://github.com/facebook/presto/issues/3253
https://github.com/facebook/presto/issues/3254
https://github.com/facebook/presto/issues/3255

[2015-07-13 18:34] #2624 closed

[2015-07-13 22:04] rogersmarin opened #3257 "Hive columns with varchar(x) or char(x) data types are ignored"
Apologies if this is a known issue, I was unable to find out if this was previously reported or not.

I have an external hive table with columns defined as varchar(255) and char(1) and presto seems to be ignoring them. Presto is not able to find these columns when included in a query, similarly when doing a DESCRIBE on the table all other columns are shown except these.

I am running hive 0.13.1 a

[2015-07-13 22:24] cawallin commented on #3257
Presto does not currently support types with integer parameters (see pending PR #2478, which adds support for VARCHAR(x)). The behavior you see is expected: DESCRIBE does not return columns of types that Presto does not support.  The list of supported types is here: https://prestodb.io/docs/current/language/types.html.

[2015-07-13 23:00] rogersmarin commented on #3257
Thanks for the update, now this is just a thought as I'm not sure if this is feasible or not but we have quite a few hive tables with varchar and char columns using integer parameters.

In the case of VARCHAR(X) and CHAR(X) would it be worthwhile/ feasible to treat them as VARCHARs?.

Similarly I'm assuming hive decimal data types with integer parameters are not supported, could these be treated a

[2015-07-14 16:05] stagraqubole opened #3265 "PagesIndex might be counting extra positions in case of addPage using partitionID"
While going through the Join code, saw this code in PagesIndex:
[code]

Since we are adding positions by partitionId, the line "positionCount += page.getPositionCount();" seems wrong. Is that the case or am I reading the code wrong?

P.S. This value isnt used to create lookUpSource, so we are safe in any case.

[2015-07-14 19:56] #3230 closed

[2015-07-14 20:40] #3218 closed

[2015-07-14 20:58] yaoxin226 opened #3269 "Optimize SimpleCaseExpression"
Optimize operand and WhenClauses if possible.
- Optimize operand if it's Expression
  - https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/ExpressionInterpreter.java#L287
- Optimize operand and result of WhenClause if they are Expression
  - https://github.com/facebook/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner

[2015-07-14 21:21] electrum opened #3270 "Add shard checksums to Raptor"
Need to decide what checksums to use, possibly multiple: xxhash64, sha256, etc. Using both could allow more frequent verification using the fast one, but still have the larger checksum for less frequent or manual verification when a problem occurs.

[2015-07-14 21:32] electrum opened #3271 "Copy Raptor shards to backup in background thread"
Shards should be copied to the backup store in the background, allowing the writers to continue with new shards, but allowing the backup writes to be spread throughout the entire write operation. The `PageSink.commit()` should wait for the backup copies to succeed before returning.

[2015-07-14 21:32] electrum opened #3272 "Support complex types in Raptor"

[2015-07-14 22:18] #2532 closed

[2015-07-14 22:19] haozhun commented on #2532
@yaoxin226 You can take a look at the fix if you interested.

[2015-07-14 22:21] #2756 closed

[2015-07-14 22:45] yaoxin226 commented on #2532
thanks @haozhun , I will take look at it.

[2015-07-14 23:45] #2639 closed

[2015-07-14 23:55] #3252 closed

[2015-07-15 00:20] martint opened #3273 "Fail array access with constant invalid index during analysis"
If it can be determined that an array index is invalid (e.g., it's constant and it's <= 0) at analysis time, the query should fail with a semantic error.

This is a follow up to #3252

[2015-07-15 00:28] cberner opened #3274 "date_parse handles "%k" incorrectly"
"%k" is treated as 1-24 (24 being midnight), but should be 0-23 (0 being midnight)

[2015-07-15 17:26] ronakshah94 commented on #2241
Hi, I want to have a look at this issue but the link appears to be broken. Any updates on this?

[2015-07-15 17:57] cawallin commented on #2241
The current docs as listed on the website are here: https://prestodb.io/docs/current/functions/regexp.html.

And the source code is here: https://raw.githubusercontent.com/facebook/presto/c244ebaa629638fc0035f38ddc1c07948dba5100/presto-docs/src/main/sphinx/functions/regexp.rst.

[2015-07-16 20:24] losipiuk commented on #2797
The work-in-progress branch for this feature is here https://github.com/TeradataCenterForHadoop/presto/tree/decimal.

Initial implementation is limited to 64 bit as value is stored as long internally.
I want to add another (Slice based) implementation which would support 128 bit numbers.

After discussion with @sopel39 we think that it would nice to be able to define scalar functions operating on

[2015-07-17 08:54] snarayanank2 opened #3297 "Explain on queries with timestamp literal fails"
This is on v 0.105. Connected with redshift via Presto using the postgresql connector. Ran this explain query and it failed.

[code]
PlanPrinter::formatDomain tries to convert domain to a printable string. The function to do this for timestamp is:
[code]

This guy needs ConnectorSession instance which isn't available in PlanPrinter.

Please close it if it is already fixed in trunk.

[2015-07-17 09:09] yuananf commented on #3297
This is the same as #3201

[2015-07-17 21:07] ntelang opened #3300 "Window frame should support bounded preceding"
Hi,

PrestoQueryFailedException: Window frame RANGE PRECEDING is only supported with UNBOUNDED

Is coming up pretty often for me in queries that ought to be done in window functions but end up having to be done via joins.

Is this something easily added?

[2015-07-17 21:09] nimish opened #3301 "Window frame should support bounded preceding"
Hi,

PrestoQueryFailedException: Window frame RANGE {PRECEDING, FOLLOWING} is only supported with UNBOUNDED

Is coming up pretty often for me in queries that ought to be done in window functions but end up having to be done via joins.

Is this something easily added?

[2015-07-17 21:09] #3300 closed

[2015-07-18 00:22] electrum commented on #3301
Can you use ROWS instead of RANGE? It is supported for that.

[2015-07-18 13:43] ntelang commented on #3301
Possibly--I will check whether duplication is an issue

[2015-07-18 15:58] AshwinJay opened #3304 "Limit clause ignored when Window function is used"
Hello, it looks like the LIMIT clause gets completely ignored when the PARTITION clause is used:
[code]
Thanks.

[2015-07-18 17:33] AshwinJay commented on #3304
Ok, the `LIMIT` is being applied for each partition which is not obvious unless you look at the plan:
[code]

[2015-07-19 18:11] electrum commented on #3304
Thanks for finding this. It is definitely a bug. Looks like the optimization is dropping the limit node. We will get this fixed in the next release.

[2015-07-19 20:09] nimish opened #3305 "WINDOW clauses for common window frames"
In queries with multiple common window frames, presto should support the window clause.

    SELECT sum(salary) OVER w, avg(salary) OVER w
      FROM empsalary
      WINDOW w AS (PARTITION BY depname ORDER BY salary DESC);

[2015-07-20 15:32] electrum commented on #3304
Note that this only affects `row_number()` which has a special optimized implementation. Other window functions are not affected.

[2015-07-20 16:32] electrum commented on #3304
Fixed in #3306

[2015-07-20 16:32] #3304 closed

[2015-07-20 19:38] cberner commented on #3301
Duplicate of #2433

[2015-07-20 19:38] #3301 closed

[2015-07-20 19:42] #3273 closed

[2015-07-20 19:45] #3178 closed

[2015-07-21 00:44] haozhun commented on #3184
Issue seems to be in `HashGenerationOptimizer.getHashProjectNode`. The generated expression was never analyzed, and a cast from unknown to boolean should have been inserted. @cberner what can be done here?

[2015-07-21 09:40] yuananf commented on #3304
What about the following SQL
[code]
Should it limit each partition or limit the entire result?

[2015-07-21 10:11] yaoxin226 commented on #3304
@yuananf That is a nice catch! I have made PR #3313 to fix it.

[2015-07-21 13:03] sopel39 commented on #2797
We further thought about how to simplify definition of operators and scalars for more advanced types like DECIMAL (which can be represented by either long or `Slice` depending on precision). We propose following convention:
[code]

By using such convention we don't have to deal with low level `MethodHandlers` and create `ParametricOperator` classes with multiple if branches. This in our opinion ma

[2015-07-21 16:36] martint opened #3315 "Add geometric mean aggregation function"

[2015-07-21 18:10] cberner commented on #2797
I don't think that's the right approach. Currently `Type`s can only have one native container type, so `decimal` can't use both `long` and `Slice`. If we want to change that it would be a pretty major change that should be considered separately from implementing the `decimal` type.

[2015-07-21 19:24] dain commented on #3315
In SQL you can get geometric mean with `exp(avg(ln(x)))`

[2015-07-21 20:35] sopel39 commented on #2797
@cberner Could you give some example? Do you mean something like:
[code]
wouldn't additional parameters bloat `SqlType`? I think in such case we should use another annotation class, maybe: `SqlConditionalType`?

[2015-07-21 22:01] cberner commented on #2797
I haven't thought it through in detail. However, it needs to end up as a `TypeSignature`, so it should probably just be part of the `String`. I think we should start with something simpler, like making it possible to write `ArrayCardinalityFunction` and `ArraySubscriptOperator` before we add support for literal parameters.

[2015-07-21 23:29] electrum opened #3322 "Window function error using a date"
[code]

[2015-07-22 12:34] losipiuk commented on #2797
This is true that filter condition based on which method is selected is part of the signature. But IMO it should not be passed as part of `@SqlType` annotation.

It is possible (and that is true even in beforementioned example of adding of decimals) that condition expression contains argument variables from types of multiple arguments.

For example we can have function with following signature:
[c

[2015-07-22 15:26] electrum commented on #2900
I have a nearly complete patch for this.

[2015-07-22 15:26] #2400 closed

[2015-07-22 16:06] electrum commented on #3023
Fixed in #3326. @Downchuck I added a config property to this which defaults to `100`

[2015-07-22 16:06] #3023 closed

[2015-07-22 21:39] zhenxiao opened #3328 "Arrays with only one null value will throw exception when doing arrayContains"
We have an Array<Bigint> column in a table, one of the rows having [null] for this column, when doing:
contains(array_column, value)
the following exception will throw:
[code]
It is because the slice for this value [null] has lengh 0 and size 0, but when ArrayContains trying to do a:
type.equalTo(arrayBlock, i, valueBlock, 0)
Slice will trigger this exception.

@cberner @haozhun
Do you think we co

[2015-07-23 00:14] martint opened #3333 "CLI doesn't render double-wide characters properly"
[code]

[2015-07-23 03:18] yuananf commented on #3333
I'm trying to fix it, and I want to use ```Slices.utf8Slice``` to solve it.
But I face a problem, '网' has 3 bytes when encoded to UTF8. But it was rendered to 2 bytes.
Any other way to get the real byte length of the String.

[2015-07-23 18:35] cberner commented on #2797
I agree that `@SqlType` isn't the ideal place. Thinking about this more I'm not sure we need the predicate at all though. The only reason it's needed is to resolve the method with the right native container type, correct? The registry should be able to do that without an annotation, just by looking at the Java method signature

[2015-07-23 19:15] electrum commented on #3333
I would love if someone could find some documentation about how terminals work regarding wide characters.

[2015-07-23 20:22] electrum commented on #3333
https://en.m.wikipedia.org/wiki/Halfwidth_and_fullwidth_forms

[2015-07-23 20:43] sopel39 commented on #2797
Indeed we thought about removing filters altogether. This would probably work for decimal where we use `long` for short decimals and `Slice` for long decimals. However for other types just matching by function java signature is not enough since the signature might be the same for multiple variants of the same type. For example we could add another decimal implementation with even more accuracy (e.

[2015-07-23 22:14] #3184 closed

[2015-07-24 00:08] dain commented on #2797
For the first one, I'm not that concerned; if it does happen we can implement some kind of filter mechanism then, but for now the Java type matching will make it easy to write these functions.

As for the second one, I'll let @cberner reply.

[2015-07-24 00:59] cberner commented on #2797
Yep, I can see the problem there, but I agree with @dain that we should put that off until we actually need it.

As for the second issue, I was thinking there would be a compiler that would collect all instances of the decimal add method (the 6? MethodHandles). Then it would generate a new instance of ParametricFunction with a specialize method that switched on the concrete types to choose the cor

[2015-07-24 10:35] christophsturm opened #3343 "master does not build"
mvn clean install gives me this:

<pre>
[INFO] 4 warnings
[INFO] -------------------------------------------------------------
[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/christoph/Projects/collmedia/presto/presto-main/src/main/java/com/facebook/presto/operator/W

[2015-07-24 14:08] cawallin commented on #3343
@christophsturm -- I tried this on master, and the build passed. What compiler are you using? And what's your Java version?

[2015-07-24 14:15] christophsturm commented on #3343
<pre>
~/Projects/collmedia/presto% mvn -version
Apache Maven 3.3.3 (7994120775791599e205a5524ec3e0dfe41d4a06; 2015-04-22T13:57:37+02:00)
Maven home: /usr/local/Cellar/maven/3.3.3/libexec
Java version: 1.8.0_11, vendor: Oracle Corporation
Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_11.jdk/Contents/Home/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "mac os x", version: "10.1

[2015-07-24 14:25] cawallin commented on #3343
It's recommended that you use Java 1.8.0_40 or higher for Presto, since it has some necessary bug fixes.

[2015-07-24 14:29] christophsturm commented on #3343
thanks. it does indeed work with _45. maybe something to put in the readme, which only says java8

[2015-07-24 14:30] cawallin commented on #3343
will do, glad that fixed your problem!

[2015-07-24 16:54] losipiuk commented on #2797
That makes sense. If we base the matching on concrete java types it will be simpler and should solve our current problems.
There is just one issue we have to address, though. Different method instances may take different extra parameters.

E.g for ADD operator on decimal we have two groups of methods.
 - 1st group: when aRescale and bRescale is passed as `long`
 - 2nd group: when aRescale and bRes

[2015-07-25 23:07] dain opened #3351 "Outer join return incorrect results when optimize-hash-generation is disabled"
This can be reproduced using `TestTpchDistributedQueries.testSimpleFullJoinWithLeftConstantEquality` or `TestTpchDistributedQueries.testSimpleFullJoinWithRightConstantEquality` when this diff is applied to disable optimized hash generation.
[code]

[2015-07-26 05:30] electrum commented on #3343
I created #3353 to use the Maven Enforcer plugin to enforce the required update version.

[2015-07-26 05:30] #3343 closed

[2015-07-26 06:06] #2569 closed

[2015-07-27 07:10] yuananf opened #3355 "Any possible to connect to Hbase?"
We really need one.
@electrum

[2015-07-27 09:08] lvxin1986 opened #3356 "Bug!!! Hive metastore cache"
Hello:
Presto,I found a bug in the presto when using hive connector,as follows:
### Step1:I create table in hive
hive> use orc;
OK
Time taken: 0.372 seconds
hive> create table testt1 (c1 int, c2 String);
OK
Time taken: 2.426 seconds
hive> show tables;
OK
customer
lineitem
lineitem2
nation
orders
part
partsupp
region
supplier
testt1
Time taken: 0.014 seconds, Fetched: 10 row(s)
### Step2:I can see

[2015-07-27 09:30] XiLongZheng commented on #2863
Is there any plan to get this fixed so I could use Upper case in table name?

[2015-07-27 10:47] yaoxin226 opened #3357 "Can't concat an Array with an empty Array."
Concat an Array with an empty Array will failed because we can't cast the empty Array to the type of the non-empty array.
[code]

[2015-07-27 10:58] komamitsu commented on #3357
This issue seems to have the same cause as https://github.com/facebook/presto/issues/2852

[2015-07-27 12:08] losipiuk commented on #2797
Kind ping on this one @cberner  :)

[2015-07-27 14:29] cberner commented on #2797
I'm on vacation for a week, and then have a lot of other code reviews to do, so it'll probably be a bit before I get to this

[2015-07-27 14:37] losipiuk commented on #2797
Sure - have a nice time :)

[2015-07-27 14:42] electrum commented on #2900
Duplicate of #1540

[2015-07-27 14:42] #2900 closed

[2015-07-27 14:45] electrum commented on #3356
Thanks for reporting this. The problem is that the background refresh does not work when a table has been dropped (negative responses are not cached). For now, you can lower the cache time by setting `hive.metastore-cache-ttl=1m` which will cause the entry to expire in one minute. See issue #1540.

[2015-07-27 14:45] #3356 closed

[2015-07-27 14:47] electrum commented on #1182
Related #1540

[2015-07-27 15:16] zinking commented on #3315
@dain , isn't that going to cost much more computation effort ?

[2015-07-27 16:00] #1540 closed

[2015-07-27 18:40] dain commented on #2863
I took a look at this a few weeks back.  The problem is the change is spread throughout the codebase and in parts that are actively being changed.  After @martint's planner changes are in and @haozhun's changes to field dereferencing, the change should be doable.

[2015-07-27 20:27] haozhun commented on #3351
To reproduce this locally, these two options need to be set:

* -Doptimizer.optimize-hash-generation=false
* -Dnode-scheduler.multiple-tasks-per-node-enabled=true

[2015-07-28 08:54] zinking commented on #3315
@martint, I took a try, the problem I found is I cannot set the initial state of the accumulator, which is currently 0 all the time. current thoughts is to create some special accumulator state for the aggregation but that seems make this issue much more complicated.

any hints on implementing using a shortcut?

[2015-07-28 17:40] cawallin commented on #1401
@khaledammar -- sorry for the delay in response. Is this still an issue for you? I'm pretty sure that \N is the default null format for Hive, so you shouldn't have to specify it.  It's hard to tell the exact issue without seeing your data, can you share a gist with the table if it isn't too big?

[2015-07-28 20:02] cawallin commented on #1085
@dain: looks like the fix for this went in, this can probably be closed

[2015-07-28 23:16] yuananf opened #3364 "Adjust join order"
We got a problem recently, there are queries like below (these queries are generated by some BI tools and can hardly be changed):
[code]
And they run very slowly (we enable distributed join), I think that they are equivalent to this query:
[code]
And this one finished quickly.

My question is, is it possible to change the join order so that it can run quickly?

[2015-07-29 02:13] electrum commented on #3364
Ideally, the optimizer would be able to do that automatically based on statistics, but none of that infrastructure exists today. Hints are another approach, but that might not work here given that the query is generated. External hints for specific query shapes are another idea (Oracle has a feature like this).

One thing you can try now is creating a Presto view that does the join in the correct

[2015-07-29 02:26] cawallin commented on #1127
@electrum I think that your recent CachingHiveMetastore commit fixed this

[2015-07-29 02:50] cawallin commented on #1812
duplicate of #1589

[2015-07-29 02:53] cawallin commented on #1264
superceded by #1998

[2015-07-29 03:02] cawallin commented on #2180
That query works now:
presto:default> create table foo as select ARRAY[1,2] x;
CREATE TABLE: 1 row

Query 20150729_030057_00020_knw79, FINISHED, 3 nodes
Splits: 8 total, 8 done (100.00%)
0:01 [0 rows, 0B] [0 rows/s, 0B/s]

presto:default> select * from foo;
   x
--------
 [1, 2]
(1 row)

Query 20150729_030103_00021_knw79, FINISHED, 3 nodes
Splits: 4 total, 4 done (100.00%)
0:00 [1 rows, 77B] [4 ro

[2015-07-29 03:09] cawallin commented on #2224
@electrum looks like you updated Presto's shaded Hive version to 1.2.0, so we can close this

[2015-07-29 03:18] cawallin commented on #2108
Fixed with #3090, can be closed. @electrum

[2015-07-29 03:28] cawallin commented on #2556
Fixed with #2625, which disallows comparisons with arrays with null elements

[2015-07-29 03:37] cawallin commented on #2074
@electrum confirming that what @yuananf was the case, not a problem in the current release.

[2015-07-29 03:38] cberner commented on #2180
Thanks for going through all these @cawallin !

[2015-07-29 03:38] #2180 closed

[2015-07-29 03:39] #2108 closed

[2015-07-29 03:39] cberner commented on #2108
Thanks @cawallin!

[2015-07-29 03:41] cawallin commented on #2662
@cberner merged with PR #2825, can you close this issue?

[2015-07-29 03:41] yuananf commented on #3364
Thanks.
My understanding is this work should be done in cost-based-optimizer, which is not available,  for now.

Unfortunately,

[2015-07-29 03:45] cawallin commented on #2788
@cberner -- duplicate of #2662 and complete :)

[2015-07-29 13:57] cawallin commented on #2125
@sogorkis -- can you take a look at this one? I know you wrote up nice documentation on our (Teradata's) internal wiki, which you can probably pretty easily transfer to the Presto docs.

[2015-07-29 14:31] cberner commented on #2662
Yep, thanks!

[2015-07-29 14:31] #2662 closed

[2015-07-29 14:31] #2788 closed

[2015-07-29 18:33] #3351 closed

[2015-07-29 18:49] #3322 closed

[2015-07-29 18:50] electrum commented on #3271
This feature will fix large `DELETE` queries that currently fail because every work is writing (rather than being limited to the number of writers).

[2015-07-29 19:28] dain opened #3371 "Dereference of array in row throws exception in LocalExecutionPlanner"
[code]

[code]

[2015-07-29 21:38] nataliya-aio opened #3374 "Cassandra connector make describe statement more verbose"
It would be very helpful if describe statement returned information on columns that are parts of rowkeys of a table and their order and columns that are indexed in Cassandra.

[2015-07-30 01:24] electrum opened #3376 "Use shard size from database in ShardRecoveryManager"
The `shardNeedsRecovery` method gets the size from the backup store which results in a huge number of operations. We should instead get the size from the database. This would also allow us to verify the reported size from the backup store rather than assuming it is correct.

[2015-07-30 07:25] chey-jp opened #3380 "kerberos authentification"
We are trying to use presto with hadoop and hive, using kerberos authenticaion.
There are several options, but we are unclear as to what they are currently controlling

[for example]
- presto_cli has these options:
  --krb5-config-path, --krb5-keytab-path, --krb5-principal
- ${presto_dir}/etc/jvm.config:
  -Dhttp.authentication.krb5.config=/${krb5.conf.dir}
  -Dhttp.authentication.krb5.credential-

[2015-07-30 20:59] electrum opened #3381 "ClusterMemoryManager makes requests while server is still starting"
[code]

[2015-07-30 23:12] tonywutao opened #3382 "presto job not working in cluster mode, just on coordinator"
hi, guys
i deployed a presto cluster like this:

node01 for coordinator:
node02-node10 for worker.

## the configuration files for coordinator
node.properties
[code]
config.properties
[code]

## the configuration files for worker:
node.properties
[code]
config.properties
[code]
-----------

## presto job not working in cluster mode, just on coordinator
after all start, i can check the netstat -ant

[2015-07-31 05:49] wanghaisheng opened #3384 "Running Presto in IDEA with postgresql"
my config.properties
[code]
add the following postgresql.properties
[code]
the server did not start
[code]

[2015-07-31 14:57] cawallin commented on #3382
A couple of notes:
The presto-admin project provides a simple way to install Presto, and includes a status command: https://github.com/prestodb/presto-admin/. Unfortunately, you'll have to reinstall your Presto cluster, since at the moment presto-admin only works with RPM installs (but you can grab the most recent RPM from Maven central from the presto-server-rpm artifact).

Aside from that, if yo

[2015-07-31 14:59] cawallin commented on #3382
Oh also, do you have unique node ids for each of the workers and coordinators? If you do not, the discovery mechanism in Presto will not work properly.

[2015-07-31 17:58] electrum commented on #3382
It looks like you based your configuration on the config files in the Presto source tree. Those files are for development (running Presto in your IDE) and not at all suitable for a real deployment. In particular, the `presto.version=testversion` line will set a fake version for the coordinator which won't match workers, so the workers won't be included in queries. You can see this by querying the

[2015-07-31 18:06] electrum commented on #3382
@cawallin Are the generated docs for presto-admin published anywhere? From following that link to the repo, I only see the development README, but nothing about how to use it as an end user. Ping me on IRC if you want to discuss.

[2015-07-31 18:10] electrum commented on #3374
Currently, `DESCRIBE` is an alias for `SHOW COLUMNS` which is effectively a query that returns a list of columns. It is similar to running a query like `SELECT name, type, ... FROM ...`, so there isn't a good way to have it return connector specific information. But this would be useful, so we should think about how to make `DESCRIBE` or a variant of it allow that.

[2015-07-31 18:16] tonywutao commented on #3382
thanks, guys, resolved this problem by your help.

the reason is the presto.version=testversion in config.properties.

before
[code]
after remove the config presto.version=testversion
[code]

[2015-07-31 18:22] electrum commented on #3384
These errors reference classes `JdbcCacheConfig` and `JdbcSubTableConfig` which don't exist in the main Presto source tree. Are you running a version that you modified yourself? Feel free to join our IRC channel for live help.

[2015-07-31 18:30] dain commented on #3380
The kerberos code in Presto currently only does authentication of users when the request is over HTTPS, and if authentication fails, the user gets an error.  The server currently does not perform any authorization checks.

The next step of our security work is to enable authorization checks for the tables, databases, views, etc. accessed in queries.  This will likely be performed using the Hive me

[2015-07-31 21:54] nataliya-aio commented on #3374
Thank you. Otherwise, it could maybe be returned as a result of select statement?

[2015-07-31 21:59] electrum commented on #3382
Glad to hear you got it working.

[2015-07-31 21:59] #3382 closed

[2015-08-01 00:41] tonywutao opened #3390 "presto job hang when large data on csv hive table."
hi, guys

I am testing presto for PRD usage. I encountered a presto job hang problem.

environment
* Centos 6.5
* Oracle jdk1.8_51
* prest0 0.112
* CDH5.4.0 (Hadoop-2.6.0-cdh, Hive-1.1-cdh)
* 1 node as coordinator, and other 15 as worker. 16GB Heapsize for both coordinator and worker

we have a hive (CTRL A split  File) table 40+GB  per day with partition
[code]
case1: this sql on one day partitio

[2015-08-01 18:38] tonywutao commented on #3390
fixed by this setting for worker
task.max-memory=4GB

[2015-08-03 02:07] zinking commented on #3297
works for TPCH
presto:sf1> explain select * from orders where orderdate < date '2015-01-01';
                                                                                                                                      Query Plan
------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2015-08-03 07:46] yuananf commented on #3364
@electrum
Is it possible to write an optimizer to optimize this kind of query?
This kind of adjustment does not need table statistics, it just put the join criteria on the right place.
Any advice will be great help.

[2015-08-03 12:10] sogorkis commented on #3274
I have fixed this issue, please review PR.

[2015-08-03 16:56] cawallin commented on #1085
@cberner would you mind closing this, if applicable?

[2015-08-03 16:56] cawallin commented on #1127
@cberner can you close this one too?

[2015-08-03 16:57] cawallin commented on #1812
@cberner can you close this one please?

[2015-08-03 16:57] cawallin commented on #1264
@cberner could you close this please?

[2015-08-03 16:57] cawallin commented on #2556
@cberner can you close this please?

[2015-08-03 16:58] cawallin commented on #2074
@cberner can you close this please?

[2015-08-03 17:32] #1812 closed

[2015-08-03 17:39] #1085 closed

[2015-08-03 17:48] joy-yao commented on #1851
The link above is gone.

[2015-08-03 19:56] cberner commented on #2074
Yep, sorry about the delay been on vacation for the last week

[2015-08-03 19:56] #2074 closed

[2015-08-03 19:57] cberner commented on #2556
Yep, sorry about the delay been on vacation for the last week

[2015-08-03 19:57] #2556 closed

[2015-08-03 19:57] #1264 closed

[2015-08-03 19:57] #1127 closed

[2015-08-03 20:00] #2224 closed

[2015-08-03 20:00] cberner commented on #3371
@haozhun is going to look into this when he has time

[2015-08-03 20:09] cawallin commented on #2074
@cberner no worries! I just wanted to make these easier to find.

[2015-08-04 02:04] erichwang opened #3397 "HostAddress may not test equal after Jackson serialization roundtrip"
Presto's HostAddress implementation does not round-trip properly when getting converted to and from String representation.

[code]

This poses a problem because passing a HostAddress through Jackson serialization (which uses the string representation) can produce a HostAddress that will not test equal to the original.

[2015-08-04 05:14] chey-jp commented on #3380
Thank you for your answer!

Yes, as you said we got the error from kerberos when we accessed via http.
So we will change it to https and I hope we can connect successfully.

By the way, when do you think the next step of your security work will be pushed to git?

Thanks in advance.

[2015-08-04 05:55] #3250 closed

[2015-08-04 13:18] sogorkis commented on #3397
I think the problem is with `equals/hashCode` methods which takes into account _hostname_, _port_ and _hasBracketlessColons_ flag.

`toString` method always prints brackets around IPv6 hostnames ("[1111:2222:3333:4444:5555:6666:7777:8888]:1234" in this case) and `getHostText()` returns hostname without those brackets ("1111:2222:3333:4444:5555:6666:7777:8888"). In example which you provided, both

[2015-08-04 17:35] #3157 closed

[2015-08-04 19:11] erichwang commented on #3397
yup, that's spot on @sogorkis, thanks for offering, but we already have a fix ready to go here =)

[2015-08-04 19:25] petroav commented on #3390
@tonywutao glad you fixed the problem. Do you mind closing the issue if it's been resolved?

[2015-08-04 19:54] #3390 closed

[2015-08-05 06:51] #3364 closed

[2015-08-05 18:17] electrum opened #3406 "Add start_time to system.runtime.nodes"
This should be a `timestamp` of when the node started. It can be added to the announcement as a property like `node_version` in `ServerMainModule`, then pulled out in `DiscoveryNodeManager` and added to `PrestoNode`.

[2015-08-05 18:23] electrum opened #3407 "Add pause information to system.runtime.nodes"
Related to #3406, it is useful to know what caused a query to die. We would like to know about anything that causes the JVM to pause (i.e. stop running Java code). One way to accomplish this is a thread that sleeps in a loop for `100ms` and measures the `System.nanoTime()` delta. If this delta is longer than configurable threshold, say `5s` by default, it assumes the JVM was paused.

These can be

[2015-08-05 18:39] electrum commented on #3407
We actually don't care specifically about GC time. More generally, we want to know the last time and duration that the VM was paused longer than some threshold. There might be some HotSpot specific metrics for this.

[2015-08-06 09:26] yuananf commented on #2471
@cberner is this on the todo list now?

[2015-08-06 10:38] #3355 closed

[2015-08-06 15:19] ricdong opened #3416 "when the Presto will supports SQLServer connector?"
is there any plan to add a plugin for Sqlserver connector in Presto?

[2015-08-06 15:48] cberner commented on #2471
It's on the *very* long term to do list. I don't think it will land any time soon. The issue is that we don't have any system for stats or cost based analysis, so it's a lot of work

[2015-08-06 16:42] haozhun commented on #3416
https://groups.google.com/forum/#!searchin/presto-users/sqlserver/presto-users/RG5Cvi-b7n0/3trCM1cDZCUJ

[2015-08-06 17:21] phoenixhadoop opened #3417 "How presto can show Chinese in the query results support ?"
Hi,friends
    I eagerly want to know how presto can support in the query results show Chinese, thank you very much.

[2015-08-06 17:25] haozhun commented on #3417
Are you referring to presto CLI? Presto works with Unicode data.

[2015-08-06 17:35] phoenixhadoop commented on #3417
Thank you for your quick answer.Yes,I use CLI.How to support Chinese ?

[2015-08-06 17:44] haozhun commented on #3417
Do you want Chinese in query output? We already have that.
Do you want Chinese in error message, etc? This is not on our road map.

[2015-08-06 17:46] phoenixhadoop commented on #3417
I want Chinese in query output,thanks.How to configure presto?

[2015-08-06 17:49] phoenixhadoop commented on #3417
I am using presto-0.86.

[2015-08-06 18:01] haozhun commented on #3417
Presto always supports Chinese output in query output. No configuration is required if you terminal can otherwise display Chinese (UTF8-encoded) properly. We do have a known issue with not aligning double-wdith characters properly. But this inconvenience does not stop you from using it.

[code]

[2015-08-06 18:04] phoenixhadoop commented on #3417
OK,Tomorrow  will try it.Thank you very much.I go to sleep now.good night.

[2015-08-06 18:35] ricdong commented on #3416
thanks, I have a try on JD-Presto, but it was compiled with presto 0.107 since we use high version. https://github.com/CHINA-JD/presto/issues/1

[2015-08-07 05:23] nileema opened #3420 "Explain alter table fails with NPE"
`EXPLAIN ALTER TABLE foo RENAME TO foo1` fails with
https://gist.github.com/nileema/9346f484359e39a52c21

[2015-08-07 07:55] yuananf commented on #1292
I can take this.
Should it fail with an error ```type mismatch for In value and valuelist```, or should it success and add coercion?

[2015-08-07 11:01] sogorkis commented on #3420
We are getting NPE for `EXPLAIN CREATE TABLE...` (without as `AS SELECT`) as well.

[2015-08-07 12:21] gavelino opened #3421 "Presto Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-07 13:04] cberner opened #3422 "Allow creating queues with concurrency > 0, but queue space = 0"
Attempting to do so currently throws an exception saying that maxQueued must be positive

[2015-08-07 13:10] cberner opened #3423 "Queued query fails with "secondary queue failed" error"
Creating a these queues and rules

[code]

[code]

and then submitting 3 queries from the same user and with source "dashboard" results in 1 running, 2 queued and one of the queued queries failed immediately with an exception when the first one finishes

[code]

[2015-08-07 13:45] cawallin commented on #3420
Duplicate of #1589

[2015-08-07 14:01] #3397 closed

[2015-08-07 14:22] #3420 closed

[2015-08-07 14:23] electrum commented on #856
This will be fixed soon with the new native LZO implementation in https://github.com/airlift/aircompressor

[2015-08-07 15:12] danoyoung commented on #3227
@dain can you provide any insight on how to resolve this?

[2015-08-07 15:53] danoyoung commented on #3227
I can run queries against the Parquet data in Hive:

hive> select thing_id,thing_type,min_strikeout_price_usd from conversion_event_2 where dt='2015-08-02' limit 5;
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1438957985586_0007, Tracking URL = http://foo:9046/proxy/application_1438957985586_0007/
Kill Command = /hom

[2015-08-07 17:59] kbajda opened #3424 "Support TRUNCATE table"
Having something like TRUNCATE to quickly empty an existing table seems desirable (e.g., http://www.postgresql.org/docs/9.4/static/sql-truncate.html).

Note that "TRUNCATE table_name" works similarly to "DELETE FROM table_name" but particular connector may have a more efficient method to wipe out all data from a given table than running a generic DELETE operation that may accept predicates via WHE

[2015-08-07 18:13] electrum commented on #3227
Is there some way to tell by looking at the file metadata or Hive metastore metadata to know which is the correct way to read the table? If not, maybe we could add a Hive table property?

[2015-08-07 18:13] electrum commented on #3227
Oh, if this is queryable in Hive, then we need to figure out what rules Hive is using and follow them.

[2015-08-07 18:14] dain commented on #3227
@nezihyigitbasi I don't really know enough about Parquet to make a call.  If you think we should make a change, send a PR and @cberner or I will merge it.

[2015-08-07 18:16] dain commented on #3227
@nezihyigitbasi to further clarify, I think we should have same defaults as Hive, so users aren't surprised/confused when switching Presto.  Also, we should support any behavioral Parquet flags Hive has so users can read and write data that is compatible with Hive.

[2015-08-07 19:47] nezihyigitbasi commented on #3227
@dain Alright I can reproduce it and working on a fix now.

[2015-08-07 20:39] martint commented on #3424
It's probably ok to have an efficient way in the connector API to do this, but I would prefer not adding specialized syntax. According to the ANS SQL spec: "Delete all rows of a base table without causing any triggered action", so given that we don't support triggers or side-effects yet we probably don't need it for now.

[2015-08-07 21:27] electrum commented on #3424
There an interesting question regarding the semantics for connectors. For example, when running against the PostgreSQL connector, a `DELETE FROM` and `TRUNCATE TABLE` might have different semantics on the PostgreSQL side.

[2015-08-07 21:27] danoyoung commented on #3227
@nezihyigitbasi awesome!  thank you!!!!

[2015-08-08 05:13] ricdong opened #3428 "Discovery server could not start while running Presto server in IDEA"
I follow the README building steps and load the project into IDEA,  while running the main class PrestoServer with run configurations, the error met:

with the config.properties as below by default:

---

[code]

[2015-08-08 06:44] phoenixhadoop commented on #3417
My presto-0.86 do not have the function from_utf8 and the sql:select * from (values '金'); could not execute.Help please.

[2015-08-08 07:33] ricdong commented on #3428
but it can load plugins normally and execute the SQL query normally even though the exception throwed

[2015-08-08 17:32] yaoxin226 opened #3429 "Support adding new partitions into existing Hive table"
It would be really helpful for periodically generated data like daily aggregate reports data. We can use Presto to generate daily reports and add it into existing Hive table.

[2015-08-08 17:34] dain commented on #3417
Please upgrade to the latest release.

[2015-08-08 18:50] dain commented on #3429
This feature has been implemented and is awaiting review: https://github.com/facebook/presto/pull/3377

[2015-08-08 18:50] #3429 closed

[2015-08-10 17:20] liusztc09 opened #3430 "Question about Presto non-interactive mode job submission/remote job submission"
Hi Presto experts,

Is there a way to submit Presto query remotely via HTTP instead of using interactive mode. What format should I follow or commands I should use? Thanks a lot!

Best,
David

[2015-08-10 17:24] KBP-TDC commented on #3430
How about using JDBC driver?

[2015-08-10 17:31] liusztc09 commented on #3430
Hi @KBP-TDC , thanks for the reply! I've succeeded in both JDBC and ODBC, but I was wondering whether there is a way to submit a script as a file or via http request? Does presto provide these features or I need to build my own?

[2015-08-10 17:35] nezihyigitbasi commented on #3430
JDBC driver uses Presto's REST interface and does an HTTP POST with the sql query and then a bunch of GETs to get each page of the result set. You can start with [this](https://gist.github.com/electrum/7710544).

[2015-08-10 17:40] liusztc09 commented on #3430
@nezihyigitbasi Thanks a lot for the advice!

[2015-08-10 17:54] RobinUS2 opened #3431 "Common table expression (WITH) executed multiple times"
We we're trying to optimize a few queries which basically have the issue that there is one (or multiple) results of a WITH-statement that can be reused to speedup the results of other subqueries and the final result.

I wrote an example query (see below) where the `expensive_input_data` would take the majority of the time of the query (time & resources like CPU). The top_a, top_b and top_c are onl

[2015-08-10 18:29] KBP-TDC commented on #3431
Can you try a brute-force approach to save the common subquery output into a new (temporary) table and then reuse it x3? I don't know of any better way today in Presto.

[2015-08-10 18:45] electrum commented on #3430
There are drivers / client libraries for many languages: https://prestodb.io/resources.html

I recommend using one of them and if it doesn't fit your needs, please send feedback or a patch to the author of the library.

[2015-08-10 18:58] RobinUS2 commented on #3431
Thanks @KBP-TDC for your reply. We have tested that, and yes it does work, but it is not very flexible as it will cause a lot of overhead and unnecessary pressure on the metastores (from Hive).

It feels to me that this shouldn't be too hard to accomplish looking at the streaming data that is already in place.

[2015-08-11 07:55] yuananf commented on #2471
I see.

[2015-08-11 08:00] zhuqunzhou opened #3433 "presto db uses hive table index?"
I have hive table with RC file format and index is created on one the column of the table to improve performance of the query with WHERE clause.
        My question is that whether presto engine will use hive table’s index if column in WHERE clause is indexed column?

[2015-08-11 08:36] RobinUS2 opened #3434 "Queries with complex and many stages result in "unable to create new native thread""
It looks like that there's too much of new threads spawned instantly once a very complex query is started. It feels to me that Presto shouldn't crash under whatever query, so we can make it reliable and robust to whatever someone inputs.

The cluster become unresponsive after such a query, with new queries hanging in QUEUED state. We haven't seen it recover from this automatically.

Possible solut

[2015-08-11 08:48] RobinUS2 commented on #3428
It seems to me that this is #3381 looking at the "Error fetching memory" which makes this issue a duplicate.

[2015-08-11 09:44] wyukawa opened #3435 "function to parse user agent"
Hi

Now, there is no function to parse an user agent at presto.

For example, Treasure Data has the function.

http://docs.treasuredata.com/articles/presto-udfs#tdparseuseragent

I think that the function is useful to analyze an access log.

Does presto team have a plan to implement the function?

If no, Does presto team accept pull request?

I have an idea to use the woothee.

https://github.com/

[2015-08-11 13:04] sopel39 commented on #3423
Hi, I think I have found the bug. In `QueryQueue.reserve(...)` `getAndDecrement` was used instead of `decrementAndGet`. This caused more permits to be given than `maxQueuedQueries + maxConcurrentQueries`.

I also looked at the code to see if there can be other issues with: `Entering secondary queue failed`.
What if there are two queues:
[code]
and we start two queries at the same time. It can be t

[2015-08-11 13:19] sopel39 commented on #3423
@cberner Do you think it's worth adding more tests for resource queues and perhaps some integration test?

[2015-08-11 16:59] nezihyigitbasi commented on #3406
claiming this one if no one is working on it.

[2015-08-11 17:23] cberner commented on #3423
Yes, although last time I looked it wasn't easy to test. However, it might be easier with the resource manager now. Take a look at the cluster memory manager tests

[2015-08-11 17:24] cberner commented on #3434
Do you have an example query that reproduces this on, say tpch data? I've never seen this

[2015-08-11 18:00] #3423 closed

[2015-08-11 18:01] nezihyigitbasi commented on #3406
apparently someone is working on it, so not claiming it.