[2016-04-11 20:27] petroav commented on #4983
@darkrwe this should have been fixed in https://github.com/prestodb/presto/commit/dbd9288433cee809c823a0bfd1f2744da713400f so I don't know why you're running into this.

@kokosing when you get a chance, can you take a look since you have the most context?

[2016-04-11 20:27] brianseo517 opened #4992 "values column calculated by rand() in subquery are regenerated every time the column is referenced"
presto:default> with test1 as (select rand() as test_value)
                        select 1 + test_value, 0+test_value, test_value from test1;

       _col0        |        _col1        |     test_value
--------------------+---------------------+--------------------
 1.064817        | 0.422031069  | 0.438340512

I'm not sure if this is the intended behavior, but i'm noticing that if i use the ran

[2016-04-11 20:35] martint commented on #4992
This is a duplicate of https://github.com/prestodb/presto/issues/3779

[2016-04-11 20:35] #4992 closed

[2016-04-11 20:47] dain commented on #4991
I think @haozhun's latest code fixes this

[2016-04-11 20:55] kadaan commented on #4991
How recent was this change done?

[2016-04-11 21:02] haozhun commented on #4991
I don't think I did anything with this. But I believe I definitely need to double check this for the correctness of bucket writer.

[2016-04-11 21:03] kadaan commented on #4991
I have the fix for this.  It is small and I will submit it after testing.

[2016-04-11 21:10] ebd2 commented on #4797
I've also been in touch with Simba about the VARCHAR vs LONGNVARCHAR questions. They went with VARCHAR because historically, there hasn't been a consistent SQL mapping to LONGNVARCHAR.  Their postgresql driver does the same, for example. According to them, applications generally understand this mapping and they haven't run into i18n issues resulting from this choice.

[2016-04-12 01:09] #4457 closed

[2016-04-12 01:22] zhuqunzhou commented on #4967
@electrum , @RobinUS2 , which files are splittable?Now,i want to speed up the search of big files,how i should to do??

Thank you!

[2016-04-12 02:34] electrum commented on #4967
We recommend using ORC or RCFile with the binary serde.

[2016-04-12 04:14] zhuqunzhou commented on #4967
@electrum ,My data are all from flume,but flume not recommended for use hive-sink in production,so i should store the data into hdfs,and create a external table.
If i change the data type to ORC type,i need to create a job,and the job's task is to use sql like 'insert into table(orc table) select * from old table' to change the file type.But my change type job's speed is slower than data into hdfs

[2016-04-12 05:31] kokosing commented on #4983
I reproduced that. Which is strange as `https://github.com/prestodb/presto/commit/dbd9288433cee809c823a0bfd1f2744da713400f` have tests for that case and it is passing. I need to investigate this.

@martint Can you please assign me to this issue, I will fix it.

[2016-04-12 06:06] kokosing commented on #4983
Somehow it is related with capital letters:
mysql:
[code]
presto:
[code]

[2016-04-12 10:51] kokosing commented on #4983
For sure it is related with capital letters in mysql database name. Here is a test to reproduce the problem: https://github.com/kokosing/presto/commit/c94675fd45705f45a4c3a59872c8210bd94689ee

@martint Currently presto converts all the schema (database) names to lower case. Therefore when source database have different name casing (? I am not sure this word) presto is losing mapping between its sc

[2016-04-12 14:37] losipiuk commented on #4600
@martint can we go with implementation following @sopel39 proposal? Decimal performance is important to us as we want to make it default type ultimately.
On the other hand we do not want to rework everything if you decide whole approach is wrong.

Sorry for being pain in the ass but this very important for us.

cc: @ilfrin

[2016-04-12 16:00] cberner commented on #4983
Yep, it's a known issue that Presto only supports lowercase identifiers: https://github.com/prestodb/presto/issues/2863

[2016-04-12 21:08] fiedukow commented on #4133
It is resolved by #4960.

[2016-04-12 21:17] cberner opened #5003 "Quadratic coordinator memory usage of exchanges"
We store a list of `BufferInfo` objects for every exchange which means that memory usage scales quadratically with `query.initial-hash-partitions`. Unfortunately we can't just remove this from the protocol, because `StatementResource.updateExchangeClient` uses them

[2016-04-12 21:47] nezihyigitbasi opened #5005 "[presto-cli] shutdown hook cannot cancel the running query occasionally"
The shutdown hook added in #3521 sometimes cannot cancel the query properly. I have tracked down the problem to the following two issues:
- In `StatementClien.advance()` loop, if an interrupt is received in the `httpClient.execute()` call  in the exception handler I see that we correctly receive an `InterruptedIOException`, but the interrupt flag is somehow not set (a bug somewhere else?), so the

[2016-04-12 22:29] electrum commented on #5005
`InterruptedIOException` is weird: most of the time it's just a normal `IOException`, but sometimes it needs to be treated as `InterruptedException`. So that could be why the flag isn't set.

Those fixes sound reasonable, though we want a reasonable timeout (like 2-5 seconds) if the server is unreachable, so either use `executeAsync` with a timeout waiting for the response future, or set request t

[2016-04-12 22:35] electrum commented on #5005
I just set the connect and request timeout to 5 seconds in #5007 (the default request timeout is 5 minutes which is way too long for the CLI).

[2016-04-12 22:35] electrum commented on #5005
So using a regular `execute()` should be fine here.

[2016-04-12 22:37] nezihyigitbasi commented on #5005
@electrum awesome, thanks. Will create a PR shortly.

[2016-04-12 22:39] #4133 closed

[2016-04-12 22:39] cberner commented on #4133
Awesome, thanks!

[2016-04-13 00:07] martint commented on #4600
I finally had time to review and think about this more (sorry for the delay). Here's my take on it:

For an expression like: `(a + b) * (c + d)`

The "out variable" approach would be expressed as:

[code]

The "instance methods" approach would be expressed as:

[code]

Both approaches are very similar. The main difference boils down to clarity of who "owns" the lifecycle of the accumulators. The o

[2016-04-13 00:16] kadaan opened #5009 "Presto not able to query Hive Avro tables when avro schema is not stored with table"
Presto is not able query Hive Avro tables when avro schema is not stored with table.  The issue seems to be that the shaded version of `org.apache.hadoop.hive.serde2.avro.AvroSerde` from [presto-hive-apache](https://github.com/prestodb/presto-hive-apache) tries to pass the shaded version of `com.facebook.presto.hive.$internal.org.codehaus.jackson.JsonNode` to an unshaded version of `org.apache.avr

[2016-04-13 01:00] martint opened #5010 "Record Presto version when writing tables/partitions"
This can be useful to track down potentially incorrect data due to bugs in specific Presto versions.

For Hive, it could be stored in a table property.

[2016-04-13 01:33] electrum commented on #5010
We can also write this in ORC files as a user metadata item.

[2016-04-13 04:28] kokosing commented on #4983
@cberner We could close this as a duplicate.

[2016-04-13 04:28] #4983 closed

[2016-04-13 14:02] sopel39 commented on #4600
Thanks for comment @martint. You mentioned that:

After discussion with @losipiuk and @arhimondr we argue that accumulators shouldn't be fields in `Processor`, but rather local variables in generated `process()` method. This is because JVM will optimize code and use stack for locally allocated accumulator. See: https://github.com/Teradata/presto/blob/fast_decimal/presto-main/src/test/java/com/face

[2016-04-13 15:49] arhimondr opened #5013 "Generalize BIGINT with DOUBLE comparison translation in DomainTranslator"
`DomainTranslator` extracts the `TupleDomain` for the simple comparisons (>=, <=, =, <>, etc.). `TupleDomain` is further used by connectors to implement the partition pruning based on the query predicates.

If the column is compared with the value of narrower type `(column_double >= BIGINT '1')`, the value can be easily coerced to the wider type `(column_double >= DOUBLE '1.0')`, and no workaround

[2016-04-13 15:58] arhimondr commented on #5013
@dain @martint Could you please review and tell what do you think about this approach?

Particularly i want to know your opinion about next questions:

- Does it make any sense to create separate registry for that kind of operators? So the registering of the artificial hidden operator in FunctionRegistry can be avoided.
- Will it be better to return some special markers, like `UPPER_BOUND_REACHED`

[2016-04-13 16:42] martint commented on #4600
That's even better, yes (as long as they are kept outside the loop).

[2016-04-13 20:02] ejono opened #5017 "PrestoS3FileSystem fails when creating staging directory if staging directory is a symlink"
A FileAlreadyExistsException will be thrown from Files.createDirectories() when creating the S3 staging directory if the configured staging directory does already exist but is a symlink to another directory. Wrapping the call to Files.createDirectories() with a check for existence prevents this.

[2016-04-14 02:26] raghavsethi opened #5019 "testSelectPartitionedHiveTableDifferentFormats is flaky"
Just ran this test on my box 200 times, and saw no failures. However, Travis keeps randomly failing on this test. I'm also not sure what it's really meant to test.

[2016-04-14 02:27] raghavsethi commented on #5019
cc @arhimondr

[2016-04-14 04:30] cberner commented on #4742
A bit more progress here: https://github.com/prestodb/presto/pull/5021

[2016-04-14 08:44] kokosing commented on #5019
@raghavsethi This https://github.com/prestodb/presto/pull/4981 addresses your issue.

Here is an explanation of what this test does (copied from my discussion with @nileema):
[code]

[2016-04-14 09:03] arhimondr commented on #5013
As we discussed with @losipiuk it is better to implement 2 operators `FLOOR_CAST` and `CEILING_CAST`.

[2016-04-14 16:37] akshatnair opened #5025 "Support "source <file path>" command in Presto CLI"
Currently some systems like Hive have an option where you can execute a SQL script from within the CLI. Currently the option we have in Presto CLI is to use -f and restart CLI for every script.
A command like `source <file path>` or `execute <file path>` is desirable,

[2016-04-14 16:59] martint opened #5026 "Sequence function to generate synthetic arrays"
Something like:

[code]

[code]

[2016-04-14 17:37] zhenxiao commented on #5026
May I try this one?

[2016-04-14 17:45] akshatnair opened #5027 "Allow support for USE statements when using -f option for Presto CLI"
If you try to run a SQL script with Presto CLI using -f option and the script contains USE statement to connect to a different catalog/schema then you get an error.

`com.facebook.presto.sql.analyzer.SemanticException: line 1:1: USE statement is not supported
    at com.facebook.presto.sql.analyzer.StatementAnalyzer.visitUse(StatementAnalyzer.java:468)
    at com.facebook.presto.sql.analyzer.State

[2016-04-14 19:22] harunurhan commented on #5025
I am claiming this one, if nobody is working on it.

[2016-04-14 19:23] petroav commented on #4805
I'd like to start work on this if no one else is looking into it.

[2016-04-14 20:29] electrum opened #5028 "Make StatementResource async when polling exchange client"

[2016-04-15 01:35] martint opened #5035 "testVerticalWideCharacterValue fails with LANG or file.encoding set to non-UTF-8"
Setting the LANG env variable or file.encoding to anything other than UTF-8 causes this test to fail:

[code]

[2016-04-15 06:31] xubo245 commented on #4732
there are warnings :2016-4-15 14:24:31 WARNING: org.apache.parquet.CorruptStatistics: Ignoring statistics because created_by could not be parsed (see PARQUET-251): parquet-mr
org.apache.parquet.VersionParser$VersionParseException: Could not parse created_by: parquet-mr using format: (.+) version ((.*) )?\(build ?(.*)\)    in adam 0.18.3
How to solve it please?

[2016-04-15 14:50] zhenxiao commented on #4732
@xubo245 are u using the new Parquet Reader or the old Parquet Reader in Presto? The stack trace u sent seems from a Parquet bug, which the old Parquet reader is depending on. For the new Parquet Reader, we bypass the messy Parquet-MR code, and do all the reading in Presto, with lots of optimizations. You could enable it by setting session properties:
set session parquet_optimized_reader_enabled=t

[2016-04-15 16:08] xubo245 commented on #4732
@zhenxiao sorry, I don't use Presto.  I use adam system:https://github.com/bigdatagenomics/adam
I don't know the version of Parquet.  In adam :   ` <parquet.version>1.4.3</parquet.version>`

[2016-04-15 16:14] electrum opened #5036 "Use proper error code for bucketing errors"
We should use a new error code in `BackgroundHiveSplitLoader.listAndSortBucketFiles()`. Something like `HIVE_INVALID_BUCKET_FILES`.

[2016-04-15 20:25] #4226 closed

[2016-04-15 20:25] cberner commented on #4742
Initial refactoring: https://github.com/prestodb/presto/pull/5037

[2016-04-18 18:12] geraint0923 commented on #5036
#5050 is submitted for this issue.

[2016-04-18 18:15] #5036 closed

[2016-04-18 20:33] theckang opened #5052 "nextURI does not include port for request"
When a statement is issued via POST, the response includes infoURI and nextURI.  These URIs do not contain the port number, so subsequent queries to those URIs fail.  This was run with Presto on the default port 8080.

Example POST request
[code]

Example Response
[code]

[2016-04-19 00:28] martint commented on #3232
Technically, it's not legal to merge or reorder filters from subqueries unless it can be proven they are equivalent.

From the ANSI spec:

[2016-04-19 16:13] RobinUS2 commented on #4742
Very interesting stuff. For our use case we need to have more granular controls which miss today. The updating of these queues through API will also help reduce the amount of presto restarts, which now need to occur fairly frequently.

[2016-04-19 23:20] electrum opened #5057 "Date constructor should handle year 0 correctly"
Year zero is converted to January 2nd of 1 AD:

[code]

It should be rejected, similar to other invalid dates:
[code]

[2016-04-20 09:28] nazgul33 commented on #5057
I didn't see you assigned yourself @geraint0923.
sorry about that and I'll cancel my PR if you want.

[2016-04-20 16:42] martint commented on #5057
0000 is a valid year. ANSI SQL uses the ISO 8601 notion of year, which allows anything between 0000 and 9999. 0000 is supposed to be 1 BC.

[2016-04-20 17:22] geraint0923 commented on #5057
@nazgul33 You don't need to cancel your PR, you could continue to work on this. Thank you very much!

[2016-04-20 17:38] nazgul33 commented on #5057
@martint then this is a totally different story. I think I need to find out what's wrong with joda time's iso dat formatter/parser logic.

[2016-04-20 18:30] dain commented on #5057
In my experience, Joda is always correct and my understanding of Date/Timestamps is wrong.

[2016-04-20 18:34] cpcloud opened #5065 "Map type literal syntax"
When writing literal `MAP`s with more than a few fields, my queries become very difficult to read, especially if the values of the map are complex.

[code]

Even if I break up the keys and values into separate lines, when reading the query I have to manually associate which key maps to which value.

Is there room for a literal syntax for `MAP`s in Presto?

After perusing the SQL standard, I can't

[2016-04-20 18:50] martint commented on #5065
We've talked about it in the past, and we're not against adding new syntax as long as:
- it doesn't conflict with anything else in the SQL language
- has a similar syntactic "feel" to other constructs
- has consistent semantics with other constructs

We haven't done a thorough analysis of alternatives or settled on a specific syntax, though.

(FWIW, we'll add lambda expression syntax in the near f

[2016-04-20 20:40] #4901 closed

[2016-04-20 22:45] #4964 closed

[2016-04-20 22:45] #5019 closed

[2016-04-21 01:19] cberner commented on #4742
Note to address from code review comments: should have a flag to enable JMX export for a group or groups

[2016-04-21 01:28] cberner commented on #4742
Also, we should log the resource group in the completion event, and provide it in the query info

[2016-04-21 01:53] geraint0923 commented on #5057
@nazgul33 I figured out that the problem is that we use joda which follows ISO standard and ignore the Julian calendar to parse but use the formatter in java.util which use both Julian calendar and Gregorian calendar to format the output string. I submitted a pull request #5073 in which we use Java 8 time API to format the output string only with Gregorian calendar. Thank you so much for your cont

[2016-04-21 02:18] nazgul33 commented on #5057
hehehehehe everything finished while I was sleeping. :+1:

[2016-04-21 03:55] dain opened #5075 "Explain plan for windows shows wrong output types"
Window functions are showing the wrong output types.  I'm not sure if this is a bigger issue but I think it could result in incorrect results if any code is depending on this.

Here is the new explain plain:
[code]

Here is an explain plan from the last release:
[code]

[2016-04-21 03:56] dain commented on #5075
@raghavsethi and @martint, I'm going to mark this as a release blocker until we fix it or prove it isn't a problem.

[2016-04-21 03:57] dain commented on #5075
I found this when rebaseing a PR (https://github.com/prestodb/presto/pull/4699) that depends on this being correct.

[2016-04-21 04:31] raghavsethi commented on #5075
@martint this is almost certainly a consequence of changing to `analysis.getTypeWithCoercion()`. Let me figure out if reverting that callsite to `analysis.getType()` is the right way to go.

[2016-04-21 04:40] raghavsethi commented on #5075
Yeah changing it back in window function planning fixes this. Now that I think about it more, I realize what the issue was. Only calls to `analysis.getType()` that stem from requirements to pre-project inputs should use the `getTypeWithCoercion` function.

[2016-04-21 04:40] martint commented on #5075
Yes, it's due to https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/planner/QueryPlanner.java#L570

It records the type of that allocated symbol as "double" (because that's the type with coercions applied)

[2016-04-21 04:41] raghavsethi commented on #5075
Should L391 also be changed back? I think that one is also problematic.

[2016-04-21 04:42] martint commented on #5075
I think that's not needed because that code explicitly deals with the coercions (it unpeels the cast from the expression, then adds one later if necessary)

[2016-04-21 04:42] martint commented on #5075
Yeah, L391 does the same thing.

[2016-04-21 04:44] raghavsethi commented on #5075
Cool, so will revert changes to those two lines and put up a diff. IMO the other callsites are all correct but it would be great if you could take a look also.

[2016-04-21 04:48] raghavsethi opened #5076 "Add better type checks to PlanSanityChecker"
We need to make sure the types of inputs and outputs match each other and what the user typed in. This will prevent issues like #5075

[2016-04-21 04:56] raghavsethi commented on #5075
Merged #5077

[2016-04-21 04:56] #5075 closed

[2016-04-21 05:25] harunurhan commented on #5027
I will do this after #5038 is merged.

[2016-04-21 17:47] rootcss opened #5082 "Showing only few rows of just one table"
I am using presto with cassandra catalog. Everything was working fine until for one of the table it was showing only 1,270 out of 1,29,342 rows in the table. I tried restarting the server, but didn't work. Surprisingly, for all the other tables, it's working just perfectly.

[2016-04-21 19:01] nezihyigitbasi commented on #4778
@dain @martint Can you please take a look when you have time as this is a correctness issue?

[2016-04-22 01:09] martint opened #5085 "Add support for filtered aggregation syntax"
From the SQL spec:

[code]

The following query:

[code]

is semantically equivalent to this query if the aggregation ignores nulls:

[code]

If the aggregation is sensitive to nulls, the filter need to be applied before the values are fed into the aggregation function. This could be achieved via the "masking" mechanism supported by aggregation operators.

[2016-04-22 01:36] martint opened #5086 "Optimize union all of similar aggregations"
Queries of the following shape:

[code]

(a1, ..., an, b1, ..., bn are constants)

can be optimized to process all the data in a single pass to reduce the number of stages in the query execution.

One possible rewrite could be:

[code]

[2016-04-22 02:25] zhenxiao commented on #5086
may I take a try?

[2016-04-22 09:54] #4984 closed

[2016-04-22 15:45] anusudarsan commented on #4838
https://github.com/prestodb/presto/pull/4949 fixed this issue and was included in release 0.144

[2016-04-22 15:49] anusudarsan commented on #4838
@raghavsethi Can you close this issue?

[2016-04-22 15:54] raghavsethi commented on #4838
Yes, thank you!

[2016-04-22 15:54] #4838 closed

[2016-04-22 18:29] erwa opened #5092 "Feature request: SHOW SCHEMAS [ LIKE pattern ]"
Hive supports [`SHOW DATABASES LIKE 'PATTERN';`](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-ShowDatabases). It would be nice if Presto supported something similar: `SHOW SCHEMAS LIKE 'PATTERN';`. I see that [SHOW TABLES](https://prestodb.io/docs/current/sql/show-tables.html) already supports a `[ LIKE pattern ]` clause, so hopefully it won't be too hard t

[2016-04-22 19:03] martint commented on #4364
This is done.

[2016-04-22 19:03] #4364 closed

[2016-04-22 20:48] ejono commented on #5017
Resolved by https://github.com/prestodb/presto/pull/5018

[2016-04-22 20:48] #5017 closed

[2016-04-22 21:22] harunurhan commented on #5092
I will try this, also it is not mentioned here but I suppose we wouldn't need `SHOW CATALOGS LIKE 'PATTERN'` since it is unlikely to have as many catalogs as schemas.

[2016-04-22 21:37] #4546 closed

[2016-04-22 21:38] #4502 closed

[2016-04-22 21:38] #4448 closed

[2016-04-22 21:38] #4406 closed

[2016-04-22 21:45] martint commented on #4801
@harunurhan I took a look. The analyzer should not rewrite queries. What it should do, instead, is record the name of the columns associated with the "named query" (in the analysis object) and resolve names against that when processing clauses that refer to those columns. The planner should also use that information to resolve the names of the fields as it produces the relational plan.

[2016-04-22 22:47] electrum commented on #5092
It's fine to have it for both (and makes it more consistent).

[2016-04-22 23:54] #4991 closed

[2016-04-23 21:35] Cidan opened #5100 ""java.lang.NullPointerException: maxSize is null" transient issue."
Hi all.

We're seeing a very weird issue that only happens in newer versions of presto. Here's the setup:
- ~50 worker nodes
- 1 master node
- We are using Hive connector as follows:

[code]
- We are using external tables in Hive, with data stored in S3
- The data format is Parquet
- We did not experience the problem on Presto 128
- We are on 144.1 and we do experience this problem
- This error do

[2016-04-23 22:36] #4821 closed

[2016-04-25 07:04] fudanwjj opened #5102 "tinyint(1) treated as bool but the actual value is int"
run sql return "Operator EQUAL(boolean, bigint) not registered"

[2016-04-25 16:43] martint commented on #5102
Can you provide the query and table schema that reproduces the issue?

[2016-04-25 17:57] dain commented on #5100
Looking at the code for [`TaskResource`](https://github.com/prestodb/presto/blob/0.144.1/presto-main/src/main/java/com/facebook/presto/server/TaskResource.java#L209), the root problem is that the client did not pass the `PRESTO_MAX_SIZE` header.  Looking at the code for [`HttpPageBufferClient`](https://github.com/prestodb/presto/blob/0.144.1/presto-main/src/main/java/com/facebook/presto/operator/H

[2016-04-25 18:37] martint opened #5110 "Race condition in array_concat"
A query like:

[code]

where `a` and `b` are of type `array(map(string, double))`, fails non-deterministically with various exceptions (Presto version 0.144.2):

[code]

[code]

[code]

[2016-04-25 19:43] Cidan commented on #5100
No plugins and no HTTP proxy.

Rolling back to 128 fixes this issue.

[2016-04-25 23:32] cberner opened #5116 "Race in TestTaskExecutor.testTaskHandle"
This test fails non-deterministically with:
[code]

It's pretty easy to repro if you set the invocation count to 10k

[2016-04-26 09:53] boylook commented on #2661
Hi @jcowanpdx ，
would you please share your workaround approach,
thanks very much:)
we're facing such problem like you;

[2016-04-26 10:56] fudanwjj commented on #5102
mysql table schema:
CREATE TABLE `test` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `type` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

sql:
select * from test.test.test where type=2;

result:
Operator EQUAL(boolean, bigint) not registered

[2016-04-26 16:03] martint commented on #2661
For the record, the standard syntax is:

[code]

[2016-04-26 20:26] syepes opened #5124 "NoClassDefFoundError: SubnetUtils"
I am getting the following error when trying to query a Hive table using ether 0.145 or 0.141t
Is anyone else also facing this issue?

JDK v1.8.0_72-b15
[code]

[2016-04-26 21:40] martint commented on #5124
We probably just need to fix the shading rules in presto-hadoop-* to not exclude that class.

@syepes , which of the hive connectors are you using?

[2016-04-27 05:58] syepes commented on #5124
@martint I am using the connector.name=hive-hadoop2

[2016-04-27 16:38] raghavsethi opened #5129 "Split timeline view is broken"
At some point in the recent past the split timeline view stopped rendering properly. One change was the structure of the TaskInfo JSON document, which I was able to fix myself. The other is weird, though - multiple tasks report null timings even they have completed, and if I simply skip adding them to the visualization, we end up with a blank screen.

[2016-04-27 17:11] #5110 closed

[2016-04-27 18:28] jofusa opened #5130 "Kafka 0.9 Support"
The kafka connector currently does not support the new 0.9 protocol. Is there are plans to support newer versions of kafka?

[2016-04-27 19:13] petroav opened #5131 "Create a TPC-DS connector"
As a prerequisite we're going to implement the TPC-DS data generator in Java.

[2016-04-27 19:22] hongbozeng opened #5132 "non-deteriministic query results"
The query below produces different results across different runs. The Presto version we are using is 0.132. I know the query can't be run on your side, but would you shed some light here? Thanks.

[code]

[2016-04-27 23:19] BigDataDaddy commented on #3257
Is this issue resolved?  The current doc for Presto 0.146 here: https://prestodb.io/docs/current/language/types.html seems to indicate that VARCHAR now supports an  optional integer length parameter, like VARCHAR(256).

[2016-04-28 00:57] martint commented on #5065
One additional option that doesn't require special syntax (introducing a function `map` that takes a variable number of arguments of type ROW(K,V) and returns a MAP(K,V))

`map(('a', 1), ('b', 2), ('c', 3))`

[2016-04-28 02:53] cpcloud commented on #5026
I think this can be closed.

[2016-04-28 02:57] #5026 closed

[2016-04-28 06:58] Huangsir opened #5140 "Redshift support"
Does presto will support redshift?

[2016-04-28 08:15] harunurhan commented on #5140
I have never tried but you can connect to redshift via postgresql connector. However you may face performance issues and problems.

https://groups.google.com/forum/?hl=en#!searchin/presto-users/redshift/presto-users/Pj-ta_FO0OQ/hLZw8Bs0aMQJ

[2016-04-28 12:56] pnowojski opened #5144 "Spill to disk"
We want presto to handle larger (or skewed) queries instead of failing with out of memory error. Generally speaking mechanism should be constructed in such way that it is possible to implement spillers to disks, HDFS and/or to compressed memory and use those spillers in all relevant operators.

Currently we want to focus on spilling to disk for aggregation operator for which we have created PoC/sp

[2016-04-28 13:06] ilfrin commented on #5144
Next in line would be handling large datasets in joins and windowing functions.

[2016-04-28 15:09] brian-rickman commented on #5065
I like this option.  Much easier to read.

[2016-04-28 16:04] cpcloud commented on #5065
@brian-rickman

Check out the other proposed syntaxes in #5133. I'll post those options here too.

[2016-04-28 17:08] cpcloud commented on #4666
Looks like this was already done in https://github.com/prestodb/presto/pull/4956.

[2016-04-28 17:15] brian-rickman commented on #5065
Thanks.  I'd be OK with anything that puts each key/value pair together, i.e. key:value, (key,value),  key=>value, key->value, key=value.  I find the  current system of parallel arrays difficult.  Among the choices listed in #5133, I'd be inclined to go with whatever was easiest to implement.

[2016-04-28 17:32] #4666 closed

[2016-04-28 17:40] cpcloud commented on #5065
Most of them are easy to implement. I think the decision will boil down to core devs + community desires.

[2016-04-28 17:45] cberner commented on #5065
I would be in favor of map(('key', 1), ('key2', 2)). That seems the most
standard as it doesn't involve special syntax

On Thu, Apr 28, 2016 at 10:41 AM Phillip Cloud <notifications@github.com>
wrote:

[2016-04-28 17:47] cpcloud commented on #5065
Are there any examples of variadic functions that use the new UDF framework?

[2016-04-28 17:49] cberner commented on #5065
Variadic functions can't be implemented purely using annotations at the
moment. They have to be implemented using byte code generation, like
ArrayConstructor

On Thu, Apr 28, 2016 at 10:47 AM Phillip Cloud <notifications@github.com>
wrote:

[2016-04-28 18:02] cpcloud commented on #4674
I think this can be closed.

[2016-04-28 19:03] cawallin commented on #3257
VARCHAR(X) is fixed now for Hive and will be available in 0.147. We're working on support for VARCHAR for all of the connectors, I believe that VARCHAR(X) will also be available in 0.147 for the Redis and Kafka connectors.

[2016-04-28 19:53] electrum commented on #5124
Fixed in 0.147

[2016-04-28 19:53] #5124 closed

[2016-04-28 20:38] cpcloud commented on #4757
Looks like this has already been done.

[2016-04-28 20:48] cpcloud commented on #5065
@cberner Would it be worth it and feasible to add the ability to implement variadic functions using annotations?

[2016-04-28 20:48] #4757 closed

[2016-04-28 21:09] nezihyigitbasi opened #5147 "Getting different plans for the same join query"
For the same query that involves multiple joins I get two different plans. [Here](https://gist.github.com/nezihyigitbasi/a082fed4e65b8149a7e375c93547bac6) is the first plan, and [here](https://gist.github.com/nezihyigitbasi/0243875115b58fb49716d1b25901875a) is the second plan. In the first plan two fragments do the join while in the second plan only a single fragment does the join.

[2016-04-28 22:36] dain opened #5150 "Prevent running Presto on Java versions prior to 1.8u60"
Modify `com.facebook.presto.server.PrestoSystemRequirements#verifyJvmRequirements` to fail if the JVM is not 1.8u60

[2016-04-28 22:36] cberner commented on #5065
If we can find a performant way to do it, definitely! However, making it perform well it non-trivial. If we went the Java route of allowing things like:
[code]
It would result in the arguments being packed into an array which would have major performance implications, especially when the number of arguments is small

[2016-04-28 22:59] electrum opened #5151 "Escape identifiers in SQL formatter"
Identifiers that contain spaces, dots, etc., need to be escaped properly with double quotes in the SQL formatter. We should have tests for every statement that has an identifier.

[2016-04-28 23:57] electrum opened #5152 "Do not allow Raptor tables and views names to conflict"
Raptor currently allows creating a view and table with the same name.

[2016-04-29 01:40] #5116 closed

[2016-04-29 01:42] #5057 closed

[2016-04-29 01:58] #4848 closed

[2016-04-29 03:23] #3677 closed

[2016-04-29 04:14] #3036 closed

[2016-04-29 05:05] raghavsethi opened #5156 "Typo in extract call crashes CLI"
[code]
[code]

[2016-04-29 05:17] raghavsethi opened #5157 "Inconsistent error messages for invalid queries with distinct"
[code]
but
[code]

[2016-04-29 06:36] martint commented on #5157
That's because `distinct` can only appear right after `select` or as the first thing in the argument list to a function. It's a set quantifier, not a function, so the first query would be equivalent to writing:

```select count(query), distinct query from presto_queries```

And the second query:

```select distinct query, count(*) from presto_queries```

So, the first query is syntactically illega

[2016-04-29 14:24] #5157 closed

[2016-04-29 16:00] dain commented on #5132
Can you post `EXPLAIN (type distributed)` of this?

[2016-04-29 16:19] martint commented on #5132
Did you start seeing this issue in 0.132? Have you tried the latest version?

What's the type of `amount_micros`? Is it DOUBLE?

[2016-04-29 18:55] nezihyigitbasi commented on #2704
A fix has just been merged [79198697cc1847c2144aaee85f99ee8325069d6d] and this issue should be resolved now.

[2016-04-29 19:19] #2704 closed

[2016-04-29 19:52] geraint0923 opened #5162 "Add functions which convert time/timestamp to different timezone"
Currently Presto has `AT TIME ZONE` syntax take a time/timestamp and a string or time interval **literal** to convert the time/timestamp. We don't need to change the semantics of `AT TIME ZONE`.

Instead, we only need to rename the existing functions. make them public, and update DesugaringOptimzer to rewrite `AT TIME ZONE` as renamed functions.

[2016-04-29 22:53] hongbozeng commented on #5132
We didn't try other versions of Presto, not sure how it works for newer or older versions.

`amount_micros` is `bigint`, `currency_rate` is a double. ~70% time the query produces one value, the rest of the time it produces another, there is 13% difference between the two values.

`explain (type distributed)` result is as below
[code]

[2016-04-30 16:29] #4405 closed

[2016-05-01 10:58] buremba opened #5169 "Proper parsing of session properties"
Currently, Presto parses session headers via [Splitter.on(",") ](https://github.com/prestodb/presto/blob/c7bf63a2138c2e61f0edb307cefbf6b35fba25c2/presto-main/src/main/java/com/facebook/presto/server/ResourceUtil.java#L144) but it causes a bug when comma used in session header. Since comma is required when defining an ARRAY or MAP types (ARRAY[1,2,3] etc.) it's not possible to use them in session p

[2016-05-02 09:27] mgalushka commented on #3433
Hi,

Are there any plans in roadmap to support Hive indexes or any other indexing plans to speedup queries?

[2016-05-02 10:03] albertoRamon commented on #3433
I think no, see [this](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/orc/OrcPageSource.java):

only check if is a partition column,
` for (int columnIndex = 0; columnIndex < columns.size(); columnIndex++) {`
`if (column.isPartitionKey()) {`

(currently I'm not using PrestoDB, I'm following changes for future application uses)

[2016-05-02 15:56] brian-rickman commented on #5005
I've noticed that it is impossible to cancel a query once it starts returning data to the client.  This is easy to reproduce in the cli with a query like "select * from tpch.sf1000.lineitem".  If I press CTRL-C immediately after submitting the query, it is canceled properly.  If I wait until the query starts returning data and then hit CTRL-C, the client acts as if the query was canceled, but I ca

[2016-05-02 16:30] martint commented on #4616
Fixed by https://github.com/prestodb/presto/pull/4734

[2016-05-02 16:30] #4616 closed

[2016-05-02 21:58] yinghai commented on #4911
Hi, @cberner, I started working on this and I'm pretty new. Just to clarify, CPU comparison is to compare the CPU time between control and test?

[2016-05-02 22:46] cberner commented on #4911
yep

[2016-05-03 00:30] 0x0ece opened #5177 "Kafka order by _partition_offset"
In the Kafka connector it would be nice if the order by _partition_offset desc could be "pushed down", relying on the fact that Kafka partitions are ordered.

Example use case, reading the latest 10 messages in Kafka:

[code]

Any plan to support that? Thank you! E.

[2016-05-03 19:21] cberner opened #5181 "Improve error message to include the host that caused the query to fail"

[2016-05-03 23:59] #5156 closed

[2016-05-04 00:02] #4965 closed

[2016-05-04 00:27] #2754 closed

[2016-05-04 02:07] cpcloud commented on #4664
This can be closed.

[2016-05-04 02:16] #4664 closed

[2016-05-04 02:55] zhenxiao opened #5188 "Planning time has increased sharply since 0.144"
See Presto's planning time increased a lot since 0.144, especially for tables with large number of partitions, used to have only a few seconds planning time, now comes to minutes.

[2016-05-04 03:23] electrum commented on #5188
Can you grab a stack trace or use a profiler to help determine where the time is being spent? If it's several minutes, even jstack should catch it.

[2016-05-04 09:54] mhartwig22 commented on #3994
Any update on this guys?
I experience the same problem and it is starting to give us headaches.

[2016-05-04 10:31] vitillo commented on #3994
Updating the Hive metastore to 1.2 seemed to help in my case.

[2016-05-04 16:09] cberner opened #5193 "Remove TestingRowConstructor.java"
This is dependent on https://github.com/prestodb/presto/pull/5044 being merged. After that we should remove `TestingRowConstructor.java` and all usages of `test_row` should be replaced with `cast(row(...) as ...)` in the tests

[2016-05-04 16:32] cberner commented on #5188
Praveen on the mailing list tracked this down to the `DesugaringOptimizer`

[2016-05-04 17:40] phobos182 commented on #5100
Also ran into this issue today as well. Running latest

java.lang.NullPointerException: maxSize is null
	at java.util.Objects.requireNonNull(Objects.java:228)
	at com.facebook.presto.execution.SqlTaskManager.getTaskResults(SqlTaskManager.java:306)
	at com.facebook.presto.server.TaskResource.getResults(TaskResource.java:240)
	at sun.reflect.GeneratedMethodAccessor381.invoke(Unknown Source)
	at sun.

[2016-05-04 20:23] cberner opened #5194 "Integrate resource groups into web UI & provide an API"
Follow up from https://github.com/prestodb/presto/issues/4742

[2016-05-04 20:24] cberner opened #5195 "Implement CPU limits for resource groups"
Follow up from https://github.com/prestodb/presto/issues/4742

[2016-05-04 20:24] zhenxiao commented on #5188
Found most of the time Coordinator is busy with this:

`"Query-20160504_201841_00012_qm23i-33805" #33805 prio=5 os_prio=0 tid=0x00007fb550257800 nid=0x6144 runnable [0x00007fb3b4273000]
   java.lang.Thread.State: RUNNABLE
	at java.util.Formatter$FormatSpecifier.conversion(Formatter.java:2695)
	at java.util.Formatter$FormatSpecifier.<init>(Formatter.java:2720)
	at java.util.Formatter.parse(Formatte

[2016-05-04 20:24] cberner commented on #4742
This is mostly done now, and I've filed separate tasks for the two pieces which still need work

[2016-05-04 20:24] #4742 closed

[2016-05-04 20:43] zhenxiao commented on #5188
seems nothing to do with partitions, it is the invoking function call has overhead in TypeSignatureParameter

[2016-05-04 20:55] damiencarol commented on #5188
Same pb here with heavy memory consumption. :/

[2016-05-04 21:29] #4918 closed

[2016-05-04 21:45] zhenxiao commented on #5188
@electrum @martint @cberner
How do you think:
https://github.com/prestodb/presto/pull/5196

I tested out in our staging cluster. The problem seems fixed with it

[2016-05-04 21:47] zhenxiao commented on #5188
oh, @geraint0923 did not see you get assigned. Your comments are appreciated

[2016-05-04 21:53] geraint0923 commented on #5188
@zhenxiao That's fine. Let's work on it.

[2016-05-04 22:00] martint commented on #5188
I merged @zhenxiao's change, but it might not be the only issue (especially, given what @damiencarol reported). @geraint0923 is going to continue investigating.

@damiencarol, if you have additional info (query, schema, number of partitions, etc) that you can share, please let us know.

[2016-05-04 22:19] martint commented on #5100
This is a really strange issue. It could be related to changes in the http client (we upgraded to a new version of Jetty recently), but otherwise, I can't think of anything else that could cause it.

@Cidan, have you been able to reproduce it on any other version between 0.128 and 0.144.1?

@phobos182, what version are you running?

[2016-05-05 06:14] yinghai commented on #4817
Fixed in https://github.com/prestodb/presto/pull/5184

[2016-05-06 01:30] dain opened #5213 "Add Raptor shard uuid to orc file footer"

[2016-05-06 05:51] balajeeu opened #5215 "Error in year part of date_parse"
`select date_parse('28-JAN-16 11.45.46.421000 PM','%d-%b-%y %l.%i.%s.%f %p');`
         _col0
-------------------------
 1916-01-28 23:45:46.421
(1 row)

Year which has to be 2016 is parsed as 1916.

[2016-05-06 08:23] darkrwe opened #5216 "Method code too large error in Presto 0.139"
Hello, I figured out that (NOT IN) queries with large of inputs are failed due to "method code too large exception".

Here is the detailed exception and Sample Query.
[query.docx](https://github.com/prestodb/presto/files/251771/query.docx)

com.facebook.presto.spi.PrestoException: Compiler failed and interpreter is disabled
	at com.facebook.presto.sql.planner.LocalExecutionPlanner$Visitor.visitSca

[2016-05-06 19:52] #4911 closed

[2016-05-06 19:54] #4817 closed

[2016-05-06 21:22] lacbs opened #5219 "Coercions between row types"
The following test fails (throws exception) because we can not apply = / != operator (or any function that expects equal types for both arguments) if the field names are not the same and in the same order.

[code]

btw, ROW(1, 2) create fields with name `fieldX`, see `createNamedTypeParameters` in [TypeSignature.java](https://github.com/prestodb/presto/blob/d42609edeb12d04a440297a277ed350991fbf230

[2016-05-07 00:14] #5013 closed

[2016-05-07 07:28] Huangsir commented on #5140
thanks~

[2016-05-07 07:28] #5140 closed

[2016-05-09 17:51] electrum opened #5227 "Investigate recursive usage of Guava Cache"
As mentioned in #4980, some usages of Guava Cache such as in `FunctionRegistry` are recursive and may cause problems.

[2016-05-09 18:43] nileema opened #5228 "Duplicate key when writing tables in hive"
[code]

[2016-05-09 22:49] lacbs opened #5233 "Auto casting Row fields to supertypes doesn't work"
On [TestExpressionInterpreter](https://github.com/lacbs/presto/blob/row-constructor/presto-main/src/test/java/com/facebook/presto/sql/TestExpressionInterpreter.java) (where `unbound_string` and `bound_string` are defined), the following tests does not compile:

[code]

`NULL` can not be auto cast to ROW type either. This time, because autocasting from null generates the fields with uppercase lette

[2016-05-09 23:12] cberner commented on #1853
Seems to work now. Please re-open, if you're still seeing this!

[2016-05-09 23:12] #1853 closed

[2016-05-09 23:16] #2904 closed

[2016-05-09 23:16] #3005 closed

[2016-05-09 23:18] cberner commented on #3357
Fixed

[2016-05-09 23:18] #3357 closed

[2016-05-09 23:19] #3253 closed

[2016-05-09 23:22] cberner commented on #3715
Fixed. This now shows `com.facebook.presto.sql.analyzer.SemanticException: Result types for IF must be the same: row<bigint,bigint>('field0','field1') vs row<bigint,bigint>('FIELD0','FIELD1')`

[2016-05-09 23:22] #3715 closed

[2016-05-09 23:25] cberner commented on #3858
These are harmless if they occur transiently. There was also a bug fixed related to these though. If you're seeing them frequently with version 0.147 please re-open.

[2016-05-09 23:25] #3858 closed

[2016-05-09 23:28] #4004 closed

[2016-05-09 23:28] #4002 closed

[2016-05-09 23:30] cberner commented on #4073
This has been implemented in 0.148

[2016-05-09 23:30] #4073 closed

[2016-05-09 23:32] cberner commented on #3808
It seems to work fine to me. Could you provide the steps to followed to reproduce this, if you're still seeing it?

[2016-05-09 23:32] #3808 closed

[2016-05-09 23:32] #4494 closed

[2016-05-09 23:34] #3171 closed

[2016-05-09 23:34] #4528 closed

[2016-05-09 23:35] #4665 closed

[2016-05-09 23:35] #4667 closed

[2016-05-10 00:00] #4607 closed

[2016-05-10 00:49] cberner opened #5234 "TestHiveDistributedQueries.testView() is broken"
I bisected this to commit `b162ee98ac6e89d11b1d6b06ab8ddd473f11175c`

[2016-05-10 00:50] #4051 closed

[2016-05-10 01:55] #5234 closed

[2016-05-10 06:00] damiencarol commented on #1853
ok

[2016-05-10 19:11] haozhun commented on #5228
In this case, the user wrote a `CREATE TABLE ... AS` with two columns that has the same name (which differs only in case).

[code]

[2016-05-11 02:34] youngwookim opened #5248 "Convert JDBC type BLOB to Presto type VARBINARY in JDBC connector"
As of now, Presto skip the columns which are BLOB in JDBC connector with Oracle database. If Presto convert the BLOB to VARBINARY, It would be useful to handle database's binary types.

[2016-05-11 06:06] martint opened #5254 "Support pluggable query event listeners"

[2016-05-11 18:35] electrum opened #5259 "Document Hive table properties"
We should document how to create tables with partitioning, bucketing, etc., and include some examples.

[2016-05-12 03:10] yuananf commented on #1970
Any update on this issue?

[2016-05-12 13:24] toru-takahashi opened #5267 "Presto doesn't correctly deal with complex aggregations when arguments are also group by columns"
Hi,

I might found a bug related to ROLLUP function.
Could you look into this issue?

### Problem
ROLLUP function return 0 as total count if `COUNT(column)` is used.
If `COUNT(*)` is used, Presto returns a correct result.

#### PostgreSQL 9.5.2

[code]

[code]

### Presto 0.146

[code]

*The following SQL show this problem*.
`null` returns `0`

[code]

[2016-05-12 17:20] maciejgrzybek commented on #4359
@electrum: Let me think aloud:
Should we compute ranges (parts of frames) of functions operating on the same partitioning and order and pass them to `WindowOperator`?
E.g. in the query you provided (BTW I think:
[code]
makes more sense), we should pass 3 ranges: 4-3 _preceding_ (part of second function), 3-2 _preceding_ (both functions), 2-1 _preceding_ (part of first only).
So in `QueryPlanner` w

[2016-05-12 17:29] mattsfuller commented on #4359
I don't think you need to do something that complex.
Can the WindowOperator simply track the beginning and end for each frame on the same data?

[2016-05-12 17:43] raghavsethi commented on #5267
Thanks for the report, this is indeed a (subtle) bug.

[2016-05-12 17:57] geraint0923 opened #5268 "No Implicit Coercion in SemiJoin"
[code]

[code]

[2016-05-12 18:55] maciejgrzybek commented on #4359
Right, this would be simpler to keep just `Collection<Range>` without differentiating intersections.
So, we would pass to the operator something like `Map<Range, FunctionCall>` (high-level speaking) for all `Windows` with the same _partition_ and _order_.

@electrum: I'd like to work on that, could you please assign me to this ticket?

[2016-05-12 19:19] martint commented on #5268
This is a duplicate of https://github.com/prestodb/presto/issues/4715

[2016-05-12 19:19] #5268 closed

[2016-05-12 19:40] maciejgrzybek commented on #2178
Isn't it a duplicate of #4359? I know this one was here earlier but since in the other one we have some discussion and example already, maybe #2178 should be closed?

[2016-05-13 15:50] #2544 closed

[2016-05-13 16:20] Cidan commented on #5100
@martint I at one point tried 139 and had the same issue.

[2016-05-13 20:15] dain opened #5276 "Document GRANT and REVOKE syntax"

[2016-05-13 20:34] cpcloud commented on #3961
Both oracle and postgres have `COMMENT ON COLUMN <relation>.<field> IS 'The comment'`.

[2016-05-13 20:38] cpcloud commented on #3961
There's no way to add these at the `CREATE` stage and there's nothing in the SQL standard that specifies what the syntax should be.

[2016-05-13 22:06] dain opened #5278 "ROW type hash implementation throws misleading message"
Message should say `hash` is not supported for...

[code]

[2016-05-13 22:23] daniellechou90 commented on #3994
@vitillo how did you update the metastore?

[2016-05-13 23:11] martint commented on #5150
Done

[2016-05-13 23:11] #5150 closed

[2016-05-14 02:18] geraint0923 opened #5279 "Query failed when using MAP in IN expression"
[code]

[2016-05-15 02:11] tesseract2048 opened #5280 "MultiChannelGroupByHash does not support >1B entries"
MultiChannelGroupByHash currently support up to approximately 1B entries.
While using `LongBigArray`,  is it possible to store more entires theoretically?
( I see that `LongBigArray#capacity` field is store as `int`, maybe practically we need change its type to `long` )

[2016-05-15 02:25] tesseract2048 opened #5281 "Count distinct on multiple columns"
Hi there,

In our system, queries like:
`SELECT COUNT(DISTINCT _col0, _col1, _col2) .....`
are commonly used.

Surely we can rewrite these to CONCAT etc., before submitting to presto.
Is there any plan to support these kind of queries, or any other suggestions?
Thanks.

[2016-05-15 05:30] electrum commented on #5281
The next version (0.148) will have this using the `row` constructor:
[code]

[2016-05-15 05:30] #5281 closed

[2016-05-15 05:35] electrum commented on #5281
This is currently in the `master` branch. You can try it out now:
[code]

[2016-05-16 10:46] youngwookim commented on #5188
I've ran into the same problem on 0.147. I did upgrade Presto from 142 to 147 after that, the problem popped up. There are high cpu usage on coordinator node and planning time for queries are increased.

[2016-05-16 17:22] geraint0923 commented on #5188
@youngwookim Could you please provide the example schemas and queries which have the long planning time so that we could investigate? Thanks a lot!

[2016-05-16 18:23] electrum commented on #4482
Fixed in #5246

[2016-05-16 18:23] #4482 closed

[2016-05-16 21:18] geraint0923 commented on #5279
`MapEqualOperator` returns `Boolean` while `InCodeGenerator` always assume the result is a `boolean`, and then operate `Boolean` as `boolean`.

[2016-05-17 00:46] martint opened #5287 "Support quantified comparison predicates"
From the spec:

[code]

[2016-05-17 02:38] youngwookim commented on #5188
@geraint0923 I'm running Presto 0.147 with Hadoop 2.7.1 and Hive 1.2.1 The schema looks like this:
[code]
The table has 56000+ partitions and the most of my queries look like following:
[code]
Please let me know if you need details. Thanks!

[2016-05-17 03:59] cosinequanon opened #5290 "Allow empty string as delimiter for `split`"
Currently you cannot provide an empty string as a delimiter for the `split` function. The error is

[code]

The expected behavior is that each character in the string will be it's own value in the array, so

[code]

Which would be equivalent to `ARRAY['a', 'b', 'c']`

[2016-05-17 04:43] martint commented on #5290
Interestingly, `regex_split` returns `['', 'a', 'b', 'c', '']`. We should probably fix that one, too, and make them consistent.

[2016-05-17 12:11] vitillo commented on #3994
@daniellechou90 have a look at this [script](https://github.com/vitillo/emr-bootstrap-presto/blob/master/ansible/files/telemetry.sh#L70).

[2016-05-17 14:00] sumitkulkarni opened #5292 "Secure JDBC connection with Presto"
Hi, I want to create secure JDBC connection with presto. Please help me out on this.
Where should I put code to authenticate user and password which is coming from presto-jdbc driver?
Which is the better way to do this?

[2016-05-17 14:08] electrum commented on #5292
The JDBC driver does not yet support security.

[2016-05-17 19:31] BigDataDaddy commented on #3992
Is there any progess or direction on this issue or an HBase connector in general?

[2016-05-17 21:17] akshatnair commented on #5292
For now you can use the free JDBC drivers that are available on http://teradata.com/presto. Until security options are added to the open source JDBC version you can get it with these new drivers.
These drivers are free but not open sourced.

[2016-05-17 22:04] xerial commented on #1195
Now that #4412 is merged, I think it's a good timing to revisit this issue for supporting Prepared Statements in JDBC.

[2016-05-17 23:09] DerrickRice opened #5298 "row_number() is slower than equivalent rank()"
Using a query similar to this:

`select * from (select x, y, rank() over (partition by x order by y) as rnk) as iq where iq.rnk = 1`

is much faster than

`select * from (select x, y, row_number() over (partition by x order by y) as rnum) as iq where iq.rnum = 1`

To the extent that this is a preferred workaround, with a small margin of possible error if `random()` returns the same value for rows

[2016-05-18 00:30] martint commented on #5298
Here's an example that reproduces the issue:

[code]

CPU time: 273.1s

[code]

CPU time: 4614.6s

[2016-05-18 02:00] martint commented on #5298
According to yourkit:

[code]

[2016-05-18 02:08] mattsfuller commented on #5298
@ebd2 @maciejgrzybek -- are looking into window function performance.

[2016-05-18 03:50] zhuqunzhou opened #5301 "How to solve protocol message was too large?"
I use `presto` to search data(`orc` format) from `hdfs`.But i get an exception:

    com.facebook.presto.spi.PrestoException:
    Error opening Hive split hdfs://xxx.snappy (offset=22717665, length=4543533):
    Protocol message was too large.  May be malicious.
    Use CodedInputStream.setSizeLimit() to increase the size limit.

And how i to change the size limit.Rebuild the presto source and add

[2016-05-18 06:14] kokosing commented on #4698
Strange thing. I checked the PSQL and it looks they have the same bug. I have run the following query:
[code]
and it returned `-1, 2`. Which means that multiplication by ` -1` was applied only once on original column `t.a`.

Did I (we?) miss something, or PSQL has a bug which seems unrealistic to me.

[2016-05-18 06:31] kokosing commented on #4698
I am getting lost.

I have checked following queries in PSQL:
[code]
returns `-1, -2`, while query

[code]
returns `1, 4`.

I checked the explain and it looks like when expression in ORDER BY contains only output column alias (`a`) then output column is used, but when `a` is used in an expression then table column is used. I will check that in MYSQL.

I am not a native English speaker so I could m

[2016-05-18 06:43] kokosing commented on #4698
@martint The same thing with MYSQL. So it looks like your query was processed properly (at least according to MYSQL and PSQL), that would mean that is not a bug, that is a feature ;)

[2016-05-18 07:04] kokosing commented on #4698
In case I name output column uniquely then:
 - MYSQL works as I would expect. It is using output column reference in all the ORDER BY expressions
 - PGSQL is able to run ORDER BY when there is only a reference to output column. When output column is used in expression (like `c * -1`) then it raises that column `c` is unrecognized.

In regards what can do MYSQL and PGSQL they are consistent to each

[2016-05-18 15:30] sobhagya33 commented on #3470
Exactly same thing is happening with me. Is this issue resolved now. Or there is some workaround for this.

[2016-05-18 18:16] petroav commented on #3992
It's not on the [roadmap wiki](https://github.com/prestodb/presto/wiki/Roadmap) and I haven't seen any mentions of such work on the mailing list so I don't think anyone is working on such a connector at the moment.

[2016-05-18 21:01] #4344 closed

[2016-05-18 23:43] electrum opened #5310 "Remove presto-hive-hadoop2/conf/files/words"
The Hive `create-test.sql` script first needs to create a table with 100 rows, which is then used to create the other test tables. The only way to do this in Hive (that I know of) is to load an existing file from disk. The file `/usr/share/dict/words` was chosen rather arbitrarily as something that existed by default in a known location on most Linux distributions and had a sufficient number of li

[2016-05-19 01:36] electrum opened #5314 "Fix Redis hash for dates"
The schema for the hash tests (`TestRedisDistributedHash`) were changed to use `date` instead of `varchar` in 31118ab8479707aab098db2fe066931c8c2cd868, but the tests fail with that change. I reverted it in #5313, but we should fix the Redis connector so it actually works with date.

Note that those tests are disabled by default and need to be run in the IDE or with the Maven `ci` profile. They're

[2016-05-19 03:16] zhuqunzhou opened #5315 "Orc file error or presto search bug?"
Here are my create orc file code.
`

[code]

`

Then presto can search data correctly.

But,if i update the code,and delete one row
`writer.addRow("asdasdasdasdasdasd".split(","));`

Then presto can't search the data,and throw an exception.

`Error opening Hive split hdfs://skynet/testsize/size2 (offset=0, length=8613586): Protocol message was too large.  May be malicious.  Use CodedInputStream.se

[2016-05-19 03:37] cleaton opened #5316 "Incorrect parsing for 'repeated group' in parquet format"
We are using parquet-protobuf to generate parquet files. Parquet-protobuf will use 'repeated group TypeName' to represent a list of structs.

Reading such file in presto will cause error:
'_Expected LIST column 'xxx.yyy' to only have one field, but has 5 fields_'

https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/parquet/ParquetHiveRecordCursor.java#

[2016-05-19 03:57] cberner commented on #5316
CC: @nezihyigitbasi

[2016-05-19 03:57] darionyaphet commented on #2837
presto-0.147 still have this problem while building from source code

[2016-05-19 05:02] electrum opened #5317 "PREPARE should overwrite existing name"
I was looking at the spec under `20.6 <prepare statement>` and found this:
[code]

[2016-05-19 06:08] electrum commented on #2837
Please clone the repository and checkout the tag.

[2016-05-19 06:35] zchen-aa commented on #4360
Same here, have you solved your problem?

[2016-05-19 10:10] darionyaphet commented on #2837
hi @electrum I checkout 0.147 `git checkout 0.147` and build with it found a exception

[code]

[2016-05-19 10:12] yuananf commented on #2837
@darionyaphet there are some limit when build presto
1. Java 8 Update 60 or higher (8u60+), 64-bit
2. Maven 3.3.9+

[2016-05-19 10:16] darionyaphet commented on #2837
@yuananf thanks it's need update maven :)

[2016-05-19 13:57] sopel39 opened #5320 "Support for char type in Presto"

[2016-05-19 15:51] sopel39 commented on #5320
FYI: @martint @ilfrin @arhimondr

We plan to add support for `CHAR(x)` type to Presto. There are some implementation choices and proposed roadmap.

How we should represent char types internally? Should char be fixed length or variable length as `VARCHAR`?
We opt for variable length like varchar. Otherwise fixed length `CHAR` would have to account for non-ASCII characters. Therefore `CHAR(x)` would

[2016-05-19 17:58] maciejgrzybek commented on #5320
I suggest implementing operators after coercion because when coercion is done you can parallelize other tasks.
Char with coercion will be a fully usable type (not best performing but usable) and could be harmlessly added to connectors even without native operators.

[2016-05-19 18:01] ebd2 opened #5322 "OVER ... ROWS between UNBOUNDED PRECEDING AND n PRECEDING returns incorrect results"
The same issue applies to OVER(... ROWS BETWEEN n FOLLOWING AND UNBOUNDED FOLLOWING).

The actual behavior is:
[code]
 nationkey | _col1
-----------|-------
         0 |     0
         1 |     0
         2 |     0
         3 |     1
         4 |     2

The expected behavior is that this matches the behavior of the following:
[code]
 nationkey | _col1
-----------|-------
         0 | NULL

[2016-05-19 22:46] fmeiser commented on #3074
As far as I unterstand, we simply enable `StatementResource.createQuery` to read new header and pass the limit to method `QueryManager.createQuery`.
In method `QueryManager.createQuery`, before executing the statement, we set the limit in a copy of the statement

[code]
@electrum Do you agree with the solution?

[2016-05-19 22:52] #5267 closed

[2016-05-19 22:55] #5193 closed

[2016-05-20 04:41] electrum commented on #5310
@sopel39 if you want to take this, it will balance out the added / deleted lines stats :)

[2016-05-20 04:45] sumitkulkarni commented on #5292
Ok thank you.

[2016-05-20 05:10] electrum commented on #3074
@fmeiser I think it's more complicated than that. There are other types of queries like `SHOW TABLES` that should also work for. The query modification probably needs to happen after analysis, otherwise we might return the wrong type of error for certain invalid queries.

@martint Where would you put this?

Start with the simple fix of implementing this in the driver's `ResultSet`. We'll want this

[2016-05-20 06:22] sopel39 commented on #5310
https://github.com/prestodb/presto/pull/5326
Damn, I thought I will be 3rd largest contributor. It wasn't intentional though :)

[2016-05-20 14:47] maciejgrzybek commented on #5320
I see description was changed and became aligned with my comment (https://github.com/prestodb/presto/issues/5320#issuecomment-220403502) which made it outdated.

[2016-05-20 15:48] VIPchengcheng opened #5330 "suspicious output_data_size and raw_input_data_size of presto 0.145 ,it may be a bug?"
I have run the same sql in presto 0.118 and 0.145 respectively. to our surprise , the performance of 0.145 is much worse than 0.118 for this SQL. I checked details of SQL execution carefully, found two suspicious points in 0.145.  pls check the attachment "difference-0.118-0.145.jpg" for details.
1.  output_data_size of 0.145 is so bigger than raw_input_data_size of 0.145 , also is so bigger than

[2016-05-20 19:01] jdmaturen opened #5332 "Cannot chain `AT TIME ZONE`"
Chaining `AT TIME ZONE` together results in the error `null`:

[code]

Can work around this with e.g.:

[code]

This is on Presto 0.146. I believe this worked before but I could be mistaken and I haven't had time to bisect. I'll follow up if I find more info there.

[2016-05-20 19:23] jdmaturen commented on #5332
Yea this worked on 0.136:

[code]

[2016-05-20 19:45] electrum commented on #5322
Fixed by 8ee399d66887f2980a55dc3d043972983dfbd091

[2016-05-20 19:45] #5322 closed

[2016-05-20 21:25] #5310 closed

[2016-05-20 22:23] #4513 closed

[2016-05-20 22:24] #5332 closed

[2016-05-21 11:37] losipiuk commented on #5320
@martint please give this a read and let us know what you think. We can chat over hangout/slack/... to discuss details.

[2016-05-23 06:00] sql2 opened #5337 "Presto Verifier - incorrect manual"
Presto Verifier
https://prestodb.io/docs/current/installation/verifier.html

[code]

Unknown column session_properties_json ?! Not found.

[code]

https://github.com/prestodb/presto/search?utf8=%E2%9C%93&q=session_properties_json

[code]

Change schema.

[code]

[2016-05-23 15:12] sopel39 commented on #5320
Here are more details about proposed `CHAR` type (based on https://mariadb.com/kb/en/sql-99/07-character-strings/):

Unbounded char:
`CHAR = CHAR(1)`

There should be some maximum char length. It shouldn’t be too long because it will be impossible to process such rows in JDBC client or CLI.

Example expressions:
[code]
[code]
[code]
[code]
[code]

@martint could you review this issue?

[2016-05-23 18:09] martint commented on #5320
The proposal looks good in general.

One question:

Is this even necessary? Why not skip it and add proper support for CHAR once the engine understands that type (i.e., the item "Return CHAR columns from HIVE connector as Presto CHAR type.")

To clarify, CHAR without length is not *unbounded*. It's syntactic sugar for length = 1 (unlike how `varchar` vs `varchar(n)` are really different types).

F

[2016-05-23 21:44] losipiuk commented on #5320
Yeah. We might skip that. Depending on how fast development will go. And even if we decide to do that step we may not put it in master and just keep it on our temporary release fork.

[2016-05-24 15:02] #4224 closed

[2016-05-24 19:05] martint opened #5342 "Bad error message when rows in VALUES have different number of fields"
[code]

fails with:

[code]

[2016-05-24 19:37] maciejgrzybek opened #5343 "Round(0.49999999999999994) gives wrong result"
Presto uses floor(value + 0.5) concept to round values, which causes problem when it comes to
value 0.49999999999999994 (0x1.fffffffffffffp-2).

E.g.
[code]

[2016-05-24 19:42] martint commented on #5317
Fixed

[2016-05-24 19:42] #5317 closed

[2016-05-24 20:45] martint opened #5346 "Planning error when same subquery appears in SELECT and WHERE clause"
[code]

fails with

[code]

We've bisected it to this commit b5d8bf55da276e55a7be4b43e5c275ea2eb21193

[2016-05-24 20:45] martint commented on #5346
@kokosing, can you take a look?

[2016-05-24 21:24] MariaPetropoulou commented on #5290
Hi! I am an undergaduate student and I have to solve an issue for a group project of mine. I saw the requirements above and I would like to try to solve this issue. Please inform me as soon as possible.

[2016-05-24 21:58] martint commented on #5290
@MariaPetropoulou, go for it!

[2016-05-24 22:05] electrum opened #5348 "Consider adding array contains for multiple items"
It can be useful to check if an array contains multiple items. We could have separate versions of `contains` that handle any and all:

[code]

[2016-05-24 22:07] MariaPetropoulou commented on #5290
Thanks! Is there any tip you could give me concernig this issue?

[2016-05-24 23:48] martint commented on #5290
Here's the implementation of that function: https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/operator/scalar/StringFunctions.java#L280

[2016-05-25 01:54] zhuqunzhou opened #5350 "Remote page is too large?"
I got an exception:

[code]

what's the meaning of the exception? My file's type is ORC.

[2016-05-25 08:40] kokosing commented on #4698
@martint ping. Can you please comment what you think is expected behavior for presto in regards of this bug, considering MYSQL and PSQL behavior?

[2016-05-25 09:41] wyukawa opened #5353 "Query stuck in Presto 0.147"
Hi

I use presto 0.147 + jdk1.8.0_45 + HDP 2.1 + hive connector + CentOS 6.5.

If I execute the following query, it does't return.

One task's state is alway RUNNING.

[code]

"aaa" table has more than 400 partitions.

jstack is the following.

https://gist.github.com/wyukawa/83f75b457870911cfed245a5991671b5

I check jstack result many times, but the following is the same.

It seems that query stu

[2016-05-25 11:15] balajeeu opened #5354 "Parsing time-stamp"
Is it possible parse time stamp '28-JAN-16 11.45.46.421000000 PM' in presto.
I tried it with following query
`select date_parse('28-JAN-16 11.45.46.421000000 PM','%d-%b-%Y %l.%i.%s.%f %p');`
Error
`Invalid format: "28-JAN-16 11.45.46.421000000 PM" is malformed at "000 PM"`
I get this time stamp format from oracle db.

[2016-05-25 11:17] christingh commented on #5354
have comparable performance to benchmarkAddExactSliceSmallDecimalWithCondition and benchmarkAddExactSliceSmallDecimal. This confirms that it is possible to have fast dual (as long or four integers) representation of decimals in Slice.
benchmarkAddExactSliceSmallDecimal is about twice as fast as benchmarkAddExactSliceSmallDecimalNoAccumulator. This ,!

[2016-05-25 11:38] kokosing commented on #5346
Sure... I am sorry for introducing this bug. I am going to fix this immediately.

[2016-05-25 11:55] christingh commented on #5346
visitProject(ValidateDependenciesChecker.java:248)
    at com.facebook.presto.sql.planner.sanity.ValidateDependenciesChecker$Visitor.visitProject(ValidateDependenciesChecker.java:80)
    at com.facebook.presto.sql.planner.plan.ProjectNode.accept(ProjectNode.java:81)
    at com.facebook.presto.sql.planner.sanity.ValidateDependenciesChecker$Visitor.visitOutput(ValidateDependenciesChecker.java:291)

[2016-05-25 13:16] maciejgrzybek commented on #5354
@balajeeu We don't support submicrosecond precision, nor MySQL and PostgreSQL do.
Frankly, we only process up to milliseconds parsed from the string, everything beyond them is truncated.

@martint: Should we extend parsing to at least not error out for nanoseconds (behave the same way we behave currently for microseconds - truncate them but allow as an input)?

[2016-05-25 15:10] maciejgrzybek commented on #5350
Can you provide more details: how big is your data, whether it's partitioned, what ORC writer did you use to store the file?

[2016-05-25 17:34] #5346 closed

[2016-05-25 18:15] martint commented on #4698
I'm re-reading that part of the spec. I could've have misinterpreted or missed something.

Also, I'm looking at the relevant parts in the "SQL:1999 - Understanding Relational Language Components" book. In the section about ORDER BY (in the context of cursors) it says:

which would seem to imply that names should be resolved against the SELECT list, not the source table.

[2016-05-25 18:21] Huangsir opened #5361 "Full table scan problem"
I use presto to query Redshift via postgre connector. But when I look at the sql on the Redshift dashboard, all the where sub querys are gone, and the sql become a full table scan sql and it's very slow..

[2016-05-25 18:36] electrum opened #5362 "Support WINDOW clause"
The standard `WINDOW` clause allows defining named windows which window functions can reference:

[code]

Additionally, a window specification can reference and modify a named window:

[code]

See the SQL standard for full details.

[2016-05-25 18:38] harunurhan commented on #5361
I am not sure If I understand you correctly correctly but Presto works like this. It reads all data from data source in that case is Redshift then processes data according to your query (where conditions, aggregations etc.).

About the speed, it is probably because you use Postgres connector which is a JDBC based connector and it is limited to a single connection.

[2016-05-25 18:50] MariaPetropoulou commented on #5290
Thank you very much!

[2016-05-25 19:38] maciejgrzybek commented on #5362
Isn't it a duplicate of https://github.com/prestodb/presto/issues/3305 (better described though)?

[2016-05-25 19:52] maciejgrzybek commented on #5361
This should be a question for mailing list, not issue on Github.
If you believe your particular problem is a bug / regression, please provide details and steps to reproduce the problem.

[2016-05-25 20:33] maciejgrzybek commented on #5301
This should be posted on mailing list, not as an issue on Github.

[2016-05-25 20:33] #5301 closed

[2016-05-25 23:22] Cidan commented on #5100
Any ideas? Would love to upgrade to newest version of Presto, but this bug is a show stopper.

[2016-05-26 08:11] balajeeu commented on #5354
@maciejgrzybek  It would be great if you allow the input and truncate the nanoseconds

[2016-05-26 12:30] Huangsir commented on #5361
ok~

[2016-05-26 12:30] #5361 closed

[2016-05-26 13:25] maciejgrzybek commented on #5354
I think the only way to achieve this currently is to change parsing dates. It's simple change but let's @martint speak about it. If he agrees, I can prepare patch momentarily.

[2016-05-26 22:29] geraint0923 opened #5367 "Incorrect row construct result"
The latest 0.148-snapshot
[code]
However, if there is no `NULL` cast, the result is correct:
[code]

[2016-05-26 22:36] geraint0923 commented on #5367
It seems that `NULL` will mess up the following row values:
[code]

[2016-05-26 23:17] lacbs commented on #5367
Thanks for find this, I will look into it and add these test cases.

[2016-05-26 23:57] lacbs commented on #5367
Have a fix.

[2016-05-27 00:09] lacbs commented on #5367
Still running all the tests, but it should be good.
To fix it, I set `wasNull` to `false` before generating the values.

This test case helped me a lot :D
Thanks @geraint0923

[2016-05-27 04:23] martint commented on #5367
Fixed

[2016-05-27 04:23] #5367 closed

[2016-05-27 12:19] #5343 closed

[2016-05-27 17:06] MariaPetropoulou commented on #5290
Can you check this?

 public static Block split(@SqlType("varchar(x)") Slice string, @SqlType(StandardTypes.VARCHAR) Slice delimiter, @SqlType(StandardTypes.BIGINT) long limit)
    {
        checkCondition(limit > 0, INVALID_FUNCTION_ARGUMENT, "Limit must be positive");
        checkCondition(limit <= Integer.MAX_VALUE, INVALID_FUNCTION_ARGUMENT, "Limit is too large");

        //We removed the Ch

[2016-05-27 17:12] ebd2 commented on #5290
The proper way to do this would be by opening a Pull Request. Github has tools that let people comment on specific lines of your code.

Before you do that though, have you built the code with maven? This doesn't look like it conforms to Presto's checkstyle guidelines.

Once you have cloned the repository and applied your change, you can build the code by running `./mvnw clean install` from the roo

[2016-05-27 17:14] ebd2 commented on #5290
Building the code with maven is covered on the Presto project's README.md, by the way. If you find that you have bugs, you can run Presto under your IDE (typically Intellij) and debug it following the instructions on the README too.

[2016-05-27 17:19] MariaPetropoulou commented on #5290
Could you please tell me where is the implementation of regex_split(function)??
Ok, thanks for your help, I will build the code with maven
Thank you very much and sorry for the trouble.

[2016-05-27 19:28] cpcloud opened #5370 "Support ORDER BY in ARRAY_AGG"
[code]

PostgreSQL has this as well: https://www.postgresql.org/docs/9.4/static/sql-expressions.html#SYNTAX-AGGREGATES

[2016-05-27 19:32] martint commented on #5370
Duplicate of https://github.com/prestodb/presto/issues/3890

[2016-05-27 19:32] #5370 closed

[2016-05-27 19:36] raghavsethi opened #5371 "Change reserved memory graph in Web UI to free memory"
Instead of displaying total "user" memory on the cluster in the new Web UI, it is more useful to display free distributed memory in the general pool & system pool, along with min local memory on a node for general & system.

[2016-05-27 19:55] cpcloud commented on #5370
whoops! sorry for the dupe.

[2016-05-27 20:30] electrum opened #5373 "Add queued flag to StatementStats"
This flag should be added before the `scheduled` flag. It provides a proper way for clients to know if the query is waiting in the queue. (clients should not be programmatically using the `state` field)

[2016-05-27 22:10] rajitsaha opened #5375 "Presto Queries are not working with Hive Table data at S3"
Hi

I have created Hortonworks 2.4 cluster with AWS EC2 nodes with Ambaru 2.2.2. Then deployed
Teradata Presto "presto-server-rpm-0.141t-1.x86_64". I have created data with TPCDS . And same data is copied both in HDFS and S3. I have two Hive external tables one pointing to HDFS data ( Hive table : tpcds_bin_partitioned_orc_10.web_sales )  and one pointing to S3 data ( Hive Table : s3_tpcds_bin_par

[2016-05-27 22:13] rajitsaha commented on #5375
I have
**JVM config**

`-server
-Xmx28G
-XX:+UseG1GC
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:OnOutOfMemoryError=kill -9 %p`

**Hive connector config**

`{'hive':[
'connector.name=hive-hadoop2',
'hive.force-local-scheduling=true',
'hive.metastore.uri=thrift://<Hive Metastore Hostname>:9083',
'hive.config.resources=/etc/hadoop/conf/core-site.xml,/

[2016-05-28 16:17] VIPchengcheng opened #5376 "why data size between 0.118 and 0.143 is so different?"
[code]

details:
version         |   0.143        |     0.118
Query State |  FINISHED  |   FINISHED
Source         | presto-jdbc |   presto-jdbc
Elapsed        |   7.36 m      |    12.55 m
CPU Time     |   24.67 m    |    9.39 h
Rows             |    634M       |    329B
Data Size       |    1.78G      |     18.02TB

[2016-05-30 11:37] kokosing commented on #4698
Ok. Sounds good to me. However we need to be aware of that Presto will behave differently than MYSQL and PSQL. I am going to fix this on top of #5302 .

[2016-05-31 14:59] raghuvineel commented on #959
@rishidwivedi
Did you happen to work on that and open sourced it? I am in need of presto-hbase connector. Any help would be great.

[2016-05-31 20:18] maciejgrzybek commented on #5375
@rajitsaha this should be posted to mailing list instead. Here we should post only well defined (on low level) issues, e.g. "Presto fails planning when there are two identical window functions".
Your problem does not necessary be a bug. It could be some misconfiguration (to be investigated though). But such a problem should be posted on mailing list. If identified as a bug, it should be posted her

[2016-05-31 20:37] rschlussel commented on #5375
I believe your issue is with `hive.force-local-scheduling=true`
`hive.force-local-scheduling` requires that you have presto on every node where your that your data is located.  Since you do not have presto on the s3 nodes, there are no nodes that can run those queries.

You can use `node-scheduler.network-topology=flat` for a less strict version of hive.force-local-scheduling. It will reserve 50%

[2016-05-31 20:54] go2starr commented on #5194
Suggestions:

1. Filter the main presto landing page (active queries) to only those queries running in a given resource group
2. Resource group stats (active/queued queries, capacity, etc.)
3. Resource group (recent) history; queries run w/ start/end/usage info

[2016-06-01 21:26] csliu commented on #5100
I encountered a similar issue at version 0.143. But I had a theory to explain why "java.lang.NullPointerException: maxSize is null" might happen, it looks so strange:
- basically, this is NOT the original errors, this is the error you will see if you access the worker URI logged in the final query error message. At this time, the max pay load length is not set in the header because you are accessi

[2016-06-01 21:36] csliu commented on #5100
@martint @dain ^

[2016-06-02 02:18] wyukawa commented on #5353
I upgrade to jdk1.8.0_92, and then this problem doesn't occur.

[2016-06-02 02:18] #5353 closed

[2016-06-02 04:57] raghuvineel commented on #3992
@akshatnair @cawallin

Hi,
I am having a similar requirement of connecting presto to hbase using phoenix. But I am having hard time because of dependency issues. I could somehow build the source provided in guthub for presto-phoenix plugin, but I am facing missing classes etc during making connection. Could you please provide some pointers on it? Any help would be great!

regards,
Vineel.

[2016-06-02 10:39] sevenseablue commented on #1975
think there is a bug ！

Memory Pool general
Total Memory 1.27TB
CPU Time 4.22h
Rows213M
Data Size 42.70GB
Cumulative Memory
631,428.73GB seconds

create table flight_userinfo_jiguan_tmp_1 as select user_name, array_agg(reg_name1)[1] as reg_name1，followed by forty more same array_agg(col)[1] as new_col,
from a left join b on (a.xx=b.xx) group by a.xxx
b is distinct by b.xx, therefore, the num of re

[2016-06-02 13:45] cawallin commented on #3992
Vineel -- what branch are you using? @akshatnair put together a prototype about a year ago, but Presto has changed so much since then that it would require a lot of effort to rebase it on the current Presto master.

[2016-06-02 15:57] miniway commented on #3510
This seems to be addressed now

[2016-06-02 15:57] #3510 closed

[2016-06-02 16:31] cberner opened #5394 "LEFT JOIN against empty relation produces no rows"
This can be reproduced with the following test case:
[code]

[2016-06-02 16:32] cberner commented on #5394
@martint or @losipiuk could you take a look? I assume this is related to the recent non-equality outer join changes

[2016-06-02 16:40] cberner commented on #1975
Yes, the current implementation has a high fixed cost. It should be fixed in 0.148 (yet to be released)

[2016-06-02 16:57] losipiuk commented on #5394
I will be able to look into that in 2-3 hiurs.

[2016-06-02 17:21] lacbs commented on #5278
It seems that this was intentional: https://github.com/prestodb/presto/commit/43c6fa7ef6d8f6994f650df00628401bb5d44dee

Any reason why not compare row with null elements?

[2016-06-02 17:33] geraint0923 commented on #5278
I think the problem might be that
[code]
However for now `type.equalTo` only return `boolean` which is not a object and could not express `null`.

[2016-06-02 18:02] geraint0923 opened #5397 "Type mismatch in plan"
Latest master
[code]
`extendedprice` is `double`, `avg_4 := "avg"("extendedprice")` should be `double` too, however it is `varchar`.

I found this when looking into the travis failure of #5393

[2016-06-02 18:10] losipiuk commented on #5394
Hmm.. for some reason it gets rewritten into INNER join.

[2016-06-02 18:10] losipiuk commented on #5394
[code]

[2016-06-02 18:13] geraint0923 commented on #5397
It is intermediate representation for aggregation functions.

[2016-06-02 18:13] #5397 closed

[2016-06-02 18:15] martint commented on #5394
I believe the bug is in PredicatePushdown.visitJoin

[2016-06-02 18:25] martint commented on #5394
Hmm... the initial plan (before pushdown may be wrong, too)

[2016-06-02 18:30] losipiuk commented on #5394
Yeah - I tried to just remove original node in case when filterFunction is present from PP.visitJoin

[2016-06-02 18:38] losipiuk commented on #5394
`SELECT * FROM lineitem a LEFT JOIN (SELECT * FROM orders WHERE orderkey = rand()) b ON 1 = 1` fails. As this one actually does not have filter function. As 1=1 is resolvable using just inner side and pushed down by the JoinPlanner. And then something wrong is happening in `PredicatePushdown` I believe.

As I said I will back on it ASAP.

[2016-06-02 18:42] martint commented on #5394
Another observation... in PredicatePushdown.visitJoin, `newJoinPredicate` does not take into account the non-equi predicate, so that would appear to be why it ends up converting it into an inner join.

[2016-06-02 21:12] losipiuk commented on #5394
I understand the problem.

The proper solution is to move all the pushdown logic from `RelationPlanner` to happen in `PredicatePushDown` optimizer.
Otherwise `PPD` has no knowledge that `FilterNode` on inner source of `JoinNode` was actually coming from join condition. And therefore OUTER join cannot be converted to INNER.

This is not super trivial change. I think I can do it tomorrow Europe time

[2016-06-02 21:30] haozhun opened #5399 "Using getSizeInBytes to detect compactibility is wrong"
`PagesIndex.compact` and `Page.compact` check whether `Block.getSizeInBytes` and `Block.getRetainedSizeInBytes` are the same, and use that as a signal of whether compacting is worthwhile.

This creative use of `getSizeInBytes` and `getRetainedSizeInBytes` is wrong in at least 2 ways:
* For most blocks, even if the block is not compactable at all, the `getRetainedSizeInBytes` will be a bytes larger

[2016-06-02 21:43] martint commented on #5394
Let's fix it the right way.

[2016-06-03 00:45] losipiuk commented on #5394
I have just noticed that putting this in `PPD` has similar problem to what we have now.
Within `PPD` we can have context. And not convert `OUTER` join to `INNER` after all the predicates from `JoinNode.filter` got pushed down to to inner side.

But we run `PPD` two times. And second run is lacking the context. In similar way like currently `PPD` is lacking context after pushdown from `RelationPlan

[2016-06-03 02:07] lacbs commented on #5278
imo, `row(null,2) = row(1,2)` should be `false`, not null. The row itself is not null.
`row(null,2) = row(1,2)` being `null` seems a weird behavior.
Complex one too, since `row(null,2) = row(1,3)` is `false`, why `false` precedes `null` anyway?

I agree in `row(...) = null` returning null (like `array[1] = CAST(null as array(bigint))` does).

btw, this same problem also happens to array: `select a

[2016-06-03 03:18] martint commented on #5278
Row comparison semantics are equivalent to doing a pairwise comparison of the elements and joining them with AND. So:

Row(a, b) = Row(c, d)

Is equivalent to:

a = c AND b = d

Then, standard semantics apply for how nulls are treated:

null AND true => null
null AND false => false

The way to think about it is "null means the actual value is unknown". Given that notion, if any pair of fields don'

[2016-06-03 05:37] lacbs commented on #5278
Got it, that's a really good explanation, thanks a lot :)

[2016-06-03 07:51] gogs21 commented on #5373
Hello @electrum i am interested in trying to figure this out but could you please be more specific?

[2016-06-03 13:43] losipiuk commented on #5394
@martint, @cberner
As to my understanding this PR fixes issue we had.
https://github.com/prestodb/presto/pull/5403
See my comments in of the commits.

[2016-06-03 15:03] svstanev commented on #2445
@yuananf I'm looking for a way to add catalogs at runtime as well and your solution with monitoring the file system for changes is great.

Do you think that a REST endpoint for managing catalogs makes sense? In my particular use case I'm interacting with presto through the REST API so having a way to add/remove/update catalogs with HTTP requests would be great.

[2016-06-03 15:41] yuananf commented on #2445
@svstanev actually your idea is another good approach, I have hacked my presto code with something similar(to load local jar at runtime).

Here are possible steps:
1. Add command LOAD\ADD CATALOG 'name' in parser
2. Bind AddCatalog to AddCatalogTask(which implement DataDefinitionTask) in CoordinatorModule.
3. In AddCatalogTask, send REST request to every endpoint in the cluster, ask everyone to ad

[2016-06-04 04:14] raghuvineel commented on #3992
Hi Christina,

Thanks for the response. I somehow managed to connect the same. There were so many dependency problems I had to resolve. And in my environment HBase is based on 1.1.2 and presto 0.133. Presto is using guava-18.0. HBase is trying to access a class from guava, Stopwatch() which became protected from guava-13.0. Hence it was failing. HBase 1.3.0 has no such code, but HBase 1.3.0 jars a

[2016-06-06 08:31] yuananf commented on #1515
This is fixed by #4124.
Example:
```CALL system.runtime.kill_query('20151207_215727_00146_tx3nr');```

[2016-06-06 08:31] #1515 closed

[2016-06-06 09:06] svstanev commented on #2445
@yuananf actually having a statement for creating catalogs would be awesome and is definitely better than a REST API that is plain workaround for the missing functionality.

It may even worth to consider providing the complete set of CREATE/ALTER/DROP CATALOG statements similar to way we define and manipulate databases (non-standard), tables, views, etc..

The question is whether these statements

[2016-06-06 10:57] kokosing commented on #4698
@martint I think I know why PSQL and MYSQL do not support this. I spent on this a week and this exploded in my hands. Here is my WIP code: https://github.com/Teradata/presto/tree/feature_gko_scopes_fix_order_by_bug

To fix the bug I wanted ORDER BY to use query output relation. This did not work as ORDER BY can access source relation columns as well. So I added source relation columns (which were

[2016-06-06 13:01] javainthinking commented on #5342
Hi @martint , I changed some code for this issue at pull request: https://github.com/prestodb/presto/pull/5409
Does it make sense?

[2016-06-06 14:53] martint commented on #2445
The way we envision something like this working is via special commands. It's still unclear whether we need custom grammar or whether implementing it as callable procedures would be sufficient. But, this is the easiest part to figure out.

The complexity is in how plugins and connectors are managed across the cluster. The changes need to be transactional and can't affect running queries. At a mini

[2016-06-06 17:39] nezihyigitbasi commented on #5147
I still see this issue with the latest master, any plans to address this? /cc @martint @cberner

[2016-06-06 17:50] cberner commented on #5147
I don't think anyone at Facebook is actively working on this. We've seen various cases where the planner is non-deterministic, mainly due to things like relying on iteration order of collections

[2016-06-07 10:44] fmeiser commented on #3074
@electrum As a simple fix I implemented `setMaxRows` and `setLargeMaxRows` in `PrestoResultSet`

[2016-06-07 15:28] KBP-TDC commented on #5375
@rajitsaha : could you please tell us whether @rschlussel's suggestion worked for you? If so, please close this issue. Thanks!

[2016-06-07 19:07] #2797 closed

[2016-06-09 16:45] svstanev commented on #2445
@martint you're right that the interface is the easiest part and it can be anything (a command, a proc, REST API, etc).

I'm pretty new to Presto and still lack any deep understanding on the its architecture and internals so thank you for the explanations.

From what I've seen so far the connectors are instantiated on node startup and later on referenced by a `connectorId`.  If I've understood cor

[2016-06-09 18:34] haozhun opened #5425 "Query not "fail"ed when it doesn't match any selection rule"
The failure isn't properly propagated. And the query continues to show "QUEUED" state until it gets expired after 5 minutes.

[code]

[2016-06-09 22:31] kajibutest opened #5427 "Question about lazy loading"
Sorry if this is the wrong place to ask questions. I'm a newbie to ORC file format and I'm familiarizing myself with the lazy loading feature provided by Presto.

If I'm reading the code right, it comes down to the following: With lazy loading I can load the entire column where the query key is, examine its values, and only load the other columns if there is a hit for the query within the current

[2016-06-10 02:27] cberner opened #5429 "round(nan(), 2) returns 0.0"
`SELECT round(nan(), 2)` results in `0.0`, but should be `NaN`. This is a regression since 0.144.5.

[2016-06-10 03:11] cberner commented on #5425
This is already fixed by https://github.com/prestodb/presto/pull/5398 which is accepted, but not merged. I will merge it after the release is done

[2016-06-10 03:14] martint commented on #5429
Interesting. This is because Java's Math.round() returns 0.0 if the input value is NaN. From the javadocs:

[code]

[2016-06-10 03:26] #5429 closed

[2016-06-10 13:47] ebd2 commented on #5427
Hi! There's a Google group for presto here: https://groups.google.com/forum/#!forum/presto-users. That's a great starting point for questions, including technical ones. I'd suggest posting this question there. Both developers and users will see it there.

This is a great question, by the way. I don't know the answer, but somebody on the group probably does and might have a different approach that

[2016-06-10 13:47] #5427 closed

[2016-06-10 19:51] electrum opened #5432 "Add release notes for 0.144.4 and 0.144.5"

[2016-06-10 20:04] dain opened #5434 "Interval year month should be a 32 bit type"
Interval year month is currently a 64 bit number of months, but only 32 bits are needed for anything reasonable.

[2016-06-10 20:19] electrum commented on #5432
I'll add these when I release 0.144.6

[2016-06-10 20:19] #5432 closed

[2016-06-12 00:08] renxiawang opened #5436 "PrestoS3FileSystem presto.s3.encryption-materials-provider cannot accept StaticEncryptionMaterialsProvider"
I am running Presto on EMR and trying to use the EMR default KMS encryption provider in Presto but ran into issues.

The EMR default one is ```com.amazon.ws.emr.hadoop.fs.cse.KMSEncryptionMaterialsProvider```, which extends ```com.amazonaws.services.s3.model.StaticEncryptionMaterialsProvider```.

I set ```presto.s3.encryption-materials-provider=com.amazon.ws.emr.hadoop.fs.cse.KMSEncryptionMaterial

[2016-06-12 18:01] dain opened #5437 "Client gets hard fail when query had a normal max memory error"
Verifier log
[code]

Coordinator log:
[code]

[2016-06-12 18:06] dain commented on #5437
Here is another one which has the ERROR message `taskStatus done but taskInfo is not`:

verifier log:
[code]

coordinator log:
[code]

[2016-06-13 09:57] yuananf opened #5439 "NoSuchElementException in AddExchanges"
When running tpcds queries 5, 77, 80, I get the following error:
[code]

Sample query 80:
[code]

[2016-06-13 10:33] yuananf commented on #5439
And I was using the current master

[2016-06-13 11:02] #5292 closed

[2016-06-13 16:20] martint commented on #5394
Fixed

[2016-06-13 16:20] #5394 closed

[2016-06-13 17:34] nezihyigitbasi commented on #5436
I see that in the aws sdk version Presto currently depends on (v 1.9.40) the fully classified class name for `KMSEncryptionMaterialsProvider` is  `com.amazonaws.services.s3.model.KMSEncryptionMaterialsProvider`. Can you try setting this name in your config?

[2016-06-13 21:10] renxiawang commented on #5436
Thanks @nezihyigitbasi, but it is not working with com.amazonaws.services.s3.model.KMSEncryptionMaterialsProvider.

[code]

[2016-06-13 23:18] electrum opened #5443 "Do not use external tables for inserts in product tests"
External tables should be treated as readonly. We need to fix this before #5416 is landed.

[2016-06-14 08:54] kokosing commented on #5443
@electrum do you need someone from Teradata to help you with it?

[2016-06-14 14:22] electrum commented on #5443
@kokosing yes, please

[2016-06-14 16:36] ilfrin commented on #5443
@electrum @martint @dain is this blocking the release?

[2016-06-14 17:19] nezihyigitbasi commented on #5436
I see that some of the encryption materials provider classes take an `EncryptionMaterials` to their constructors, and Presto doesn't pass that and simply tries to use the default constructors, which don't exist for many of these providers. So properly supporting `KMSEncryptionMaterialsProvider` seems to require code change.

[2016-06-14 17:34] martint commented on #5443
No, we'll merge this change after 0.148 goes out.

[2016-06-14 19:44] electrum opened #5448 "Negative intervals are formatted incorrectly"
This prevents the client from being able to parse negative intervals.

[2016-06-14 21:09] ilfrin commented on #5443
Good, thanks @martint I wanted to be sure we're not blocking anything. Btw is there anything we can do to help the release?

[2016-06-14 21:26] martint opened #5449 "array_agg should not ignore nulls"
[code]

The expected result is `[1, 2, 3, null]`.

From the spec:

[2016-06-14 21:34] erichwang commented on #4578
UPDATE: this is not easy to do without major modifications to aggregations or the distinct limit operator due to null handling. We should resume this work when we can infer that the streams are non-null.

[2016-06-14 23:19] #5439 closed

[2016-06-15 00:31] electrum opened #5451 "MongoPageSink should not use Type.getObjectValue"
`getObjectValue()` is for use by engine to get a JSON serializable object to send over the REST API. Connectors should read values by methods such as `Type.getLong`.

Ideally, no type implementations would be in the SPI: instead, connectors would ask for types using `TypeManager` (as they must do today for parametric types like `array`).

[2016-06-15 00:32] electrum commented on #5451
cc @miniway

[2016-06-15 01:44] electrum commented on #5439
Thanks for finding this. Fixed now.

[2016-06-15 02:40] dain commented on #5437
@nileema fixed this

[2016-06-15 02:40] #5437 closed

[2016-06-15 04:55] #5436 closed

[2016-06-15 06:27] tglstory commented on #5162
I will attempt this.

[2016-06-15 06:34] tglstory commented on #5162
So as of right now, `AT TIME ZONE` converts a time/timestamp which is in zone `A` to the same time, but in a different zone `B`. Isn't this already converting time/timestamp to a different timezone? what exactly needs to be achieved for this issue?

[2016-06-15 07:44] vishnudxb opened #5454 "Support for ANSI 2011 ?"
Hi

Does Presto support ANSI 2011 ?

[2016-06-15 10:26] kokosing commented on #5443
@electrum Once I finish my current work, I will take care of this issue. Hope it will happen this week.

[2016-06-15 12:07] damiencarol commented on #5454
@vishnudxb what feature ?

[2016-06-15 12:19] vishnudxb commented on #5454
@damiencarol  I haven't get a chance to tried it, It's a general question, whether it's support ANSI 2011?

[2016-06-15 14:13] KBP-TDC commented on #5454
Presto supports many features from 2011 spec but not all of them.
Please check out our docs at https://prestodb.io/docs/current/
Also, in the future, please use our mailing list (https://groups.google.com/forum/#!forum/presto-users) rather than GitHub issues to ask questions. Thanks!

[2016-06-15 14:55] #5454 closed

[2016-06-15 14:55] vishnudxb commented on #5454
Thanks for the info!

[2016-06-15 16:23] electrum commented on #5443
@ilfrin The last release blocker should be #5452. As part of fixing the other interval stuff, I found that negative interval literals are not parsed correctly (thus a correctness issue).

[2016-06-15 17:11] geraint0923 commented on #5162
Yeah, `AT TIME ZONE` has already worked, and it is translated into internal functions `at_timezone` in
https://github.com/prestodb/presto/blob/c7bf63a2138c2e61f0edb307cefbf6b35fba25c2/presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java#L217, but it is hidden, and only used internally.

What needs to be done is to rename these functions and open these functions to a

[2016-06-15 17:39] stagraqubole opened #5456 "Insert into Hive partitioned table query failure"
Insert into fails in following scenario:
1. Insert into a non-existing partition P of table X, this works fine
2. Insert again into partition P of table X, this fails with exception:

[code]

This happens because with query1 worker node does negative caching of partition P. When query2 comes, it fetches stale data for P and returns P as new partition in partition update.

Simple workaround is to d

[2016-06-15 21:15] tglstory commented on #5162
got it. I'll get to work when the new names are suggested.

[2016-06-16 06:52] csliu opened #5458 "org.eclipse.jetty.http.BadMessageException: 500: No version"
I am on Presto 0.143, from time to time, I see some (random) network errors like the following (on worker nodes), anyone has some insight on this issue?

2016-06-16T06:01:22.542Z        ERROR   async-http-response-55  org.glassfish.jersey.server.ServerRuntime$Responder     An I/O error has occurred while writing a response message entity to the container output stream.
org.glassfish.jersey.server.

[2016-06-16 07:31] youngwookim commented on #5188
@geraint0923 I found an unexpected performance difference when I change the 'optimize_metadata_queries' session property. if I set 'optimize_metadata_queries' to true which is default, planning time for my query is about 25 seconds but if the property is false, then planning time is 1 second.

[2016-06-16 15:49] Vialentino commented on #3992
Hi Vineel, I'm approaching the same problem as yours: do you have some pronto code to use?

[2016-06-16 16:27] electrum commented on #3992
The Presto SPI doesn't require Guava. Plugins have a separate class loader. It was designed this way for exactly this sort of problem, where connectors need incompatible versions of libraries than the Presto core.

[2016-06-16 17:16] geraint0923 commented on #5188
@youngwookim Thank you for reporting. I am looking into it to see how it affects the planning.

[2016-06-17 17:37] itismewxg commented on #2329
but even in spark sql 1.6.1 still have this issue

[2016-06-17 19:01] petroav commented on #4805
I spent some time trying to understand the 4.16.2 section of the spec quoted by Martin above and I'd like to share my findings for the benefit of others who might want to verify that my implementation of `GROUPING()` conforms to the spec.

The phrase "aggregation over that `<column reference>`" means that that column is NOT included in the grouping columns and is instead part of the "grouping wind

[2016-06-17 20:59] xerial opened #5466 "SplitConcurrencyController creates too many splits in a worker node"
We have observed sudden spikes of the number of blocked splits in worker nodes. This is because SplitConcurrencyController takes care about only the shared buffer utilization regardless of the number of already blocked splits or CPU usage:
https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/execution/SqlTaskExecution.java#L192

![image](https://cloud.github

[2016-06-20 03:25] yuananf opened #5470 "Expression value should be calculated after adding coercion"
This seems to be a bug, which causes tpcds query 21 to get wrong result.

Here are some examples:
[code]

[2016-06-20 03:31] martint commented on #5470
This is expected behavior. `2 / 3` is performed as integer division, so it returns 0. To get the result you expect, try `2.0 / 3` or `2 / 3.0` or `2.0 / 3.0`

[2016-06-20 03:57] yuananf commented on #5470
I'm not sure. Is there any standard about this kind of query?

I just tested them in mysql, and the results are quite different:
[code]

Besides, the following two queries generated different results:
[code]

[2016-06-20 04:09] martint commented on #5470
ANSI SQL leaves the scale for division up to the implementor.

This evaluates as `((3 / 4)  * 1.0) > 0.5` => `(0 * 1.0) > 0.5` => `0.0 > 0.5`

This evaluates as `((1.0 * 3) / 4) > 0.5` => `(3.0 / 4) > 0.5` => `0.75 > 0.5`

[2016-06-20 10:20] yuananf commented on #5470
Oh, I checked the standard, you are right.

  a) When the declared type of both operands of the addition, subtraction, multiplication, or division
operator is exact numeric, the declared type of the result is an implementation-defined exact numeric type.
  b) When the declared type of both operands of the division operator is exact numeric, the scale of the result is implementation-defined.
  c) W

[2016-06-20 10:27] #5470 closed

[2016-06-20 10:58] liyanjie918 opened #5473 "presto job working in cluster mode, one sql query just on a worker node ,why?"
I had deployed a presto cluster environment,a coordinator  node, two worker nodes,the config file follow:

coordinator config
 coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=8080
query.max-memory=50GB
query.max-memory-per-node=1GB
query.initial-hash-partitions=16
discovery-server.enabled=true
discovery.uri=http://192.168.1.170:8080

worker config:
coordinator=false

[2016-06-20 14:47] #5425 closed

[2016-06-20 15:15] cberner commented on #5466
Including blocked splits in the utilization metric sounds like the right thing to do here

[2016-06-20 17:33] #5373 closed

[2016-06-20 19:34] electrum commented on #4571
There are only ~12 callers of `LongLiteral.getValue()`. It might be easy enough to fix this by changing `LongLiteral` to store a `BigInteger`. That is probably needed eventually for the decimal changes, anyway.

[2016-06-20 19:40] electrum commented on #4571
Actually, it's harder than that. You would then have a value that is larger than a `long` and need to perform negation on it.

[2016-06-20 22:48] #5215 closed

[2016-06-21 00:40] martint opened #5482 "Map subscript operator fails with keys of complex type"
[code]

fails with:

[code]

The following call in `MapSubscriptOperator.subscript()` for the default (Object) specialization should probably needs to be changed to use `invoke` instead of `invokeExact`:

[code]

[2016-06-21 03:39] csliu commented on #5458
@martint @dain I reported this to Jetty community (https://github.com/eclipse/jetty.project/issues/650), they said it's a known issue to Presto/Jetty integration and there is not final fix yet. Does facebook have this issue and how this error is handled? We are running a 100+ node cluster and this issue happens randomly but pretty often, greatly affect query success ratio. Any clue to fix it is ap

[2016-06-21 04:30] dain opened #5486 "Add hidden INPUT__FILE__NAME column to Hive connector"
This is likely a lot of work as this would need to be added to every reader.  The implementation should work like partition keys, and it may be possible to leverage that code.

[2016-06-21 05:21] csliu commented on #5458
cc: @cberner thanks.

[2016-06-21 05:54] mikec212 commented on #5486
+1 would be awesome!

[2016-06-21 17:13] #5449 closed

[2016-06-21 21:39] martint commented on #5354
`date_parse` is meant to be compatible with MySQL. If that's how it behaves, then I think it's a reasonable change.

[2016-06-21 23:05] geraint0923 opened #5496 "Query failed when casting NULL to ROW"
[code]

[2016-06-22 01:33] cberner opened #5498 "GROUPING SETS over UNION fails"
The following query:
[code]

fails with:
[code]

[2016-06-22 01:53] raghavsethi commented on #5498
Might be related to #5439. I'm investigating.

[2016-06-22 10:27] arhimondr opened #5500 "Non-blocking API in ConnectorPageSource"
It makes possible to use asynchronous data fetch in connectors.

By analogy to the `ConnectorPageSink#appendPage` method, `ConnectorPageSource#getNextPage` should return `CompletableFuture<Page>` instead of `Page`. All of the connectors initially should be migrated to return `CompletableFuture.completedFuture(page)`. Supposed that wrapping the result into `completedFuture` won't do any harm to per

[2016-06-22 16:22] raghavsethi commented on #5498
This was unearthed by the unholy interaction of SingleDistinctOptimizer, the recent union partitioning changes, AddLocalExchanges, and the passthrough changes to GroupId made as a result of the grouping on aggregation arguments bug. Still trying to figure out how to fix it.

[2016-06-22 17:53] #5496 closed

[2016-06-22 17:58] #5482 closed

[2016-06-22 19:58] #5076 closed

[2016-06-22 20:20] electrum opened #5505 "Add connection properties for JDBC"
After #6078 is merged, add properties for time zone, local, source, etc.

[2016-06-22 22:16] #5498 closed

[2016-06-22 23:22] cberner commented on #5458
I believe we've tracked this down to a bug in Jetty which is fixed in the latest milestone release

[2016-06-23 07:41] johnnyaug commented on #4973
Until that's fixed, is there a way to insert into Hive bucketed tables in Presto? Or should I just insert using Hive? Would very much like to see that fixed.

[2016-06-23 08:26] niyue opened #5514 "Tableau web connector hard coded "hive" catalog in it"
I found Presto Tableau web connector hard coded "hive" catalog in it (tableau/presto-connector.html):
[code]
This makes the Tableau web connector failed to work when the Presto is deployed without 'hive' connector configured, and Tableau web connector will always report error "Catalog hive does not exist" while users doesn't have hive configured at all. Probably using the 'system' catalog as defau

[2016-06-23 16:23] #5448 closed

[2016-06-23 16:34] martint opened #5516 "Division by zero error with empty interleaved block"
This change 373c745b30b2db1e96eef844096b3620a11a84c7 added this bit to `InterleavedBlockEncoding.readBlock`:

[code]

InterleavedBlock performs divisions using the length of that array (columns), which result in division by zero errors:

[code]

[code]

This reproduces the issue:

[code]

(is that call to copyRegion even valid? If not, there might be another bug further up the stack, too)

Also, t

[2016-06-23 20:18] #5516 closed

[2016-06-23 21:19] maciejgrzybek commented on #5102
@martint: I checked this and looks like MySQL JDBC driver is returning `Type.BIT` for `TINYINT(1)` despite the fact you can store more than 1 bit of information in such a column.

[code]

We could add BOOL -> TINYINT/SMALLINT/INTEGER/BIGINT coercion but it looks smelly given the fact all logical expressions are evaluated to boolean.

[2016-06-23 21:49] electrum commented on #5102
Are you saying the MySQL connector is returning a MySQL tinyint as a boolean to Presto? If so, that should be fixed.

[2016-06-23 21:49] raghavsethi commented on #5102
Wow that's pretty bad. Adding implicit coercions from bool to integral types would also be a bad idea.

[2016-06-24 03:42] schon opened #5521 "symlink path error in hive connector"
Hi all,

After I upgraded presto from 0.104 to 0.115, I tried to execute a simple query via presto-cli but I got a error as below.
The query I tested was `select count(1) from analytics_billing_event_api_sandbox`
### error

[code]
### symlink problems?

We have a symlink on hdfs as below

[code]

From presto v0.115 later, presto doesn't aware of the link as file on hdfs.

Additionally, presto befo

[2016-06-24 05:25] yugandha opened #5522 "maven-surefire plugin is not loading during presto-redis build on ppc64le RHEL-7.2 and thus tests are failing"
[log.txt](https://github.com/prestodb/presto/files/331243/log.txt)

[2016-06-24 14:37] fmeiser commented on #3074
PR #5413 merged to master and released with 0.149

[2016-06-24 15:37] #3074 closed

[2016-06-24 17:04] rschlussel commented on #5375
Also should be addressed by https://github.com/prestodb/presto/pull/5417/files for the next release.
I'm closing this issue.  You can post to the mailing list if you have more questions.

[2016-06-24 17:04] #5375 closed

[2016-06-24 19:23] zaynoon opened #5523 "Client not correctly reporting server error"
Presto client returns "Error reading response from server" instead of reporting server error message.

[code]

[2016-06-24 22:33] haozhun opened #5525 "Add Hive table property that disables bucketed execution in Presto"
Add a table property for Hive tables so that it is possible to temporarily disable bucket execution on known bad tables (corrupted bucketing).

Follow up for #5396

[2016-06-24 23:06] haozhun opened #5526 "Turn `PushTableWriteThroughUnion` into `PushTableWriteThroughGather`"
`PushTableWriteThroughUnion` is not the best way to implement the particular optimizer. `PushTableWriteThroughGather` would be better.

As a follow up for #4184:
- When there are multiple local unions, the plan should union the local ones together and have them share one table writer. As a result, `PushTableWriteThroughUnion` can only happen after `AddExchanges` and not before.
- This would natura

[2016-06-27 01:33] csliu commented on #5458
@cberner great! so the Presto 0.149 release should have fixed this issue?

[2016-06-27 02:51] electrum commented on #5458
It will be in 0.150

[2016-06-27 05:25] wyukawa opened #5531 "ExceededMemoryLimitException at presto 0.148, 0.149"
Hi

I use presto 0.149 + jdk1.8.0_92 + HDP 2.1 + hive connector + CentOS 6.5.

If I execute the following query, ```Query exceeded max memory size of 70GB``` error occurs.
[code]

test.hogeview is presto view and has many ```left outer join``` clause and one ```group by``` clause.

![](https://gyazo.com/d58bc564359ba4f248b85d755c425344.png)

Although same error occurs at presto 0.148, there is no

[2016-06-27 07:20] csliu commented on #5458
Got it, thanks a lot!

[2016-06-27 10:09] woshidagouxiong commented on #1372
Hi
have you fixed that problem about java.io.EOFException?

[2016-06-27 12:04] ArchaB opened #5532 "Compilation error for presto-main"
When I try to build presto-main using the command 'mvn test', the package fails with the following compilation error

**[ERROR] /prestodb/presto/presto-main/src/main/java/com/facebook/presto/sql/analyzer/ExpressionAnalyzer.java:[106,43] cannot find symbol
  symbol:   class IntervalDayTimeType
  location: package com.facebook.presto.spi.type
[ERROR] /prestodb/presto/presto-main/src/main/java/com/fa

[2016-06-27 15:16] maciejgrzybek commented on #5102
@electrum yes but it comes from the fact that MySQL connector relies on JDBC type returned by MySQL JDBC lib which returns JDBC BOOL type for `tinyint(1)`.
@raghavsethi I agree, coercion from bool to int seems smelly.

[2016-06-27 19:38] maciejgrzybek commented on #5354
@martint:
[code]

I'll prepare patch.

[2016-06-27 22:19] electrum commented on #5532
Can you show the full Maven command you used? You usually need to install the entire project as a first step: `mvn clean install -DskipTests`

After that, you will be able to build individual modules. If you don't build the project first, you are likely to either be missing the dependencies or will pull some random snapshot (which can have an error like the one you encountered).

[2016-06-27 22:21] electrum opened #5535 "Support multiple tables or schemas for Raptor system.shards table"
Predicate pushdown should support multiple filter items. The code is in the `getTableIds` method in `ShardMetadataRecordCursor`.

[2016-06-27 22:34] martint commented on #5514
I think @chrisunder is working on this.

[2016-06-27 22:37] electrum commented on #5354
MySQL parses this but it issues a warning:
[code]

[2016-06-27 23:50] versemonger commented on #975
@damiencarol Do you mean adding connector.name=hive-cdh5 in hive.properties? I tried this but I got the error message: com.facebook.presto.server.PrestoServer	No factory for connector hive-cdh5
java.lang.IllegalArgumentException: No factory for connector hive-cdh5
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:145)
	at com.facebook.presto.connector.ConnectorManager.creat

[2016-06-28 00:00] electrum commented on #975
Did you build Presto on the command line first? Do this: `mvn clean install -DskipTests`

[2016-06-28 00:12] versemonger commented on #975
@electrum Thanks for your timely reply. Yes I did that. In fact I used `mvn clean install` without `-DskipTest`

[2016-06-28 00:24] versemonger commented on #975
@electrum
This is the log of building it successfully.
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] presto-root ........................................ SUCCESS [  2.984 s]
[INFO] presto-spi ......................................... SUCCESS [  7.936 s]
[INFO] presto-client ...................................... SUCCESS [  2.3

[2016-06-28 00:30] versemonger commented on #975
@electrum When I was poking around, I also found that the factory for connector seems to contains only one version of connector for each kind of platform(for example, hive, jmx, kafka and so on), in which the connector for hive looks hard-coded as hive-cdh4.

[2016-06-28 03:00] chrisunder commented on #5514
Please see https://github.com/prestodb/presto/pull/5538 for my work on this issue.

[2016-06-28 03:27] niyue commented on #5514
@electrum I did fix this locally but don't send a PR because at that time I found the latest revision's web UI is changed heavily from 0.148 to 0.149  and I am not sure if someone is planning to revamp this completely.

@chrisunder Thanks.

[2016-06-28 03:37] chrisunder commented on #5514
I also have https://github.com/prestodb/presto/pull/5537 which is related to the UI changes

[2016-06-28 13:23] maciejgrzybek commented on #5354
@electrum Then you claim we shouldn't support it or maybe just log a warning as well?
I think is better to allow nano-seconds, especially it we allow microseconds which we truncate anyway.
I believe we should trigger a warning anytime we truncate time.

So, my takeaway is:
1. warning when precision > milliseconds is given (resulting in truncation)
2. allow nanoseconds

Thoughts?

[2016-06-28 19:00] maciejgrzybek commented on #5354
Assigning @electrum for above questions.

[2016-06-29 04:45] ArchaB commented on #5532
Thanks a lot. That helped to resolve the issue faced.
presto-main now fails in test execution though.

Failure seen:
**[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.14:test (default-test) on project presto-main: Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.14:test failed: The forked VM terminated without saying properly goodbye.

[2016-06-29 10:38] shardnit commented on #4732
@zhenxiao are those parquet session properties removed in newer version of presto/presto-cli? I am running 0.149 and both properties are not found.
`Unknown session property parquet_optimized_reader_enabled`
`Unknown session property parquet_predicate_pushdown_enabled`

[2016-06-29 16:17] cberner opened #5544 "Move static aggregation fields out of aggregation implementations"
Many aggregation functions declare a public static field, which is an instance of the implementation. For example: https://github.com/prestodb/presto/blob/c7bf63a2138c2e61f0edb307cefbf6b35fba25c2/presto-main/src/main/java/com/facebook/presto/operator/aggregation/ApproximateCountDistinctAggregations.java#L35

This involves calling a function which creates a `new TypeRegistry()`. This is not a good

[2016-06-29 16:48] zhenxiao commented on #4732
@shardnit these are session properties for hive connector. Here is from the latest branch:

`presto:luoz> show session;
                  Name                   |     Value      |    Default     |  Type   |                                    Description
-----------------------------------------+----------------+----------------+---------+-------------------------------------------------------
 col

[2016-06-29 16:56] electrum commented on #4732
The Adam project is not related to Presto. Please file an issue with that project.

[2016-06-29 18:19] haowu-alation commented on #5254
Hi, I have a few questions:
1. When is this ticket going to be done approximately? Or totally no idea?
2. After this feature is added, to log all presto queries, the Presto users need to write a pluggable query event processor (logger) by theirselves and rebuild the Presto from source code?
3. If 2 is true, is there any default built-in all-query logger to use without rebuild the Presto from sourc

[2016-06-29 19:14] raghavsethi commented on #5254
Working on it here: https://github.com/prestodb/presto/pull/5372
When it is done, you will be able to drop in your own logging stuff without having to rebuild Presto.

[2016-06-29 19:15] amrutagokhale commented on #5276
#5545

[2016-06-29 21:18] #5195 closed

[2016-06-30 06:29] raghuvineel commented on #3992
@Vialentino

HI. Sorry for the delayed response. I had downloaded the source code from github and built using maven. All you need is configure pom.xml properly with all dependencies. Below is the pom.xml file I have used. You can download the source code for presto-phoenix plugin from this link. https://github.com/PayWithMyBank/presto-phoenix.

Just replace the pom.xml with the one below and build

[2016-06-30 11:16] ArchaB opened #5548 "Test fails for presto-redis"
When i try to build presto-redis, the testcases fail with a Connection refused exception.

Forking command line:

[code]

Failure seen on console.

[code]

Any pointer will be really helpful.

[2016-06-30 14:32] laoyang945 commented on #975
same here. using 0.149 presto
it seems that the only loaded plugin is the hive-cdh4. even if I removed the hive-cdh4 folder from the plugin folder, it still throws error saying no factory for connector hive-cdh5
besides, there is a warning in loading hive-cdh5

2016-06-30T14:30:34.508Z	INFO	main	com.facebook.presto.server.PluginManager	-- Loading plugin /var/presto/data/plugin/hive-cdh5 --
2016-06

[2016-06-30 16:59] versemonger commented on #975
@laoyang945 Later I found there is an option named plugin.bundles in config.properties Change presto-hive-cdh4/pom.xml into presto-hive-cdh5/pom.xml and this problem should be solved. However now I still have other problems running presto.

[2016-06-30 19:07] versemonger commented on #2467
@burakisikli  I got the same error. How did you fix it?

[2016-06-30 19:09] versemonger commented on #2467
@electrum Do you mean that hdfs or hadoop must be also be installed where presto runs?

[2016-07-01 01:49] laoyang945 commented on #975
@versemonger but this option is not mentioned in the document right? I compile the 150 version hive-cdh5 and it worked. magic

[2016-07-01 06:10] versemonger commented on #975
@laoyang945 Finally I installed a stand-alone hive and hadoop in the same machine as presto server and it worked. I guess presto server working outside a hadoop cluster easily gets this problem when the cluster are installed in VMs according some other discussions I saw.

[2016-07-01 16:16] electrum opened #5555 "Validate object names in Hive connector"
We should validate the object names before creating the table:

[code]

[2016-07-01 16:26] electrum commented on #5548
The `embedded-redis` that is used for testing doesn't have a Redis binary for PPC64LE. We should switch to https://github.com/kstyrc/embedded-redis and ask them to add a binary for that version.

[2016-07-01 17:25] dain commented on #975
Presto ships with the following plugins for Hive:
* hive-cdh4
* hive-cdh5
* hive-hadoop1
* hive-hadoop2

[2016-07-02 00:56] electrum opened #5557 "Use succinct size in Raptor log message for shard copy"
Message:

[code]

`13898959B` would be easier to read in MB

[2016-07-02 01:10] #5557 closed

[2016-07-02 16:41] electrum opened #5560 "Make UI textbox filter more responsive"
The UI should either update live while typing, or update after you stop typing for a short period (say 100ms). For the latter, a timer can be started on the first keypress that is reset on any subsequent keypress.

[2016-07-02 16:43] electrum opened #5561 "Use different color for planning vs running queries"
Queries that are in planning state are technically running, but they normally shouldn't be in planning long enough to see them in the UI, so it's useful to make them stand out.

[2016-07-02 16:54] electrum opened #5562 "Whitespace handling for queries in UI"
Trim leading and trailing whitespace and replace any consecutive newlines with a single newline (i.e. remove blank lines).

[2016-07-04 10:22] ilfrin opened #5566 "Blackhole connector does not support schemas"
Currently schemas are not supported in blackhole.

this is confusing:

[code]

We should either document this or implement, whichever is simpler, @kokosing claims implementing it should be as trivial as documenting.

[2016-07-05 06:06] wyukawa commented on #5531
at presto 0.147, query returns in 5 seconds and Total Memory is 46.51MB
![](https://gyazo.com/bcc7a381d0457013df5b156839f4c680.png)

but at presto 0.148, Total Memory is 68.07GB and ExceededMemoryLimitException occurs
![](https://gyazo.com/adf2b3a05d17d0a4fc8081a1afa56563.png)

[2016-07-05 10:13] kokosing opened #5568 "Query with scalar subquery fails when scalar subquery symbols are not used"
For query:
[code]
presto returns:
[code]

[2016-07-05 10:41] kokosing commented on #5568
Should be fixed by https://github.com/prestodb/presto/pull/5369

[2016-07-05 11:41] tesseract2048 opened #5570 "REMOTE_TASK_MISMATCH on a simple query"
I've encountered this issue during tests on 0.149:

SQL:

[code]

Error Information
Error Type  INTERNAL_ERROR
Error Code  REMOTE_TASK_MISMATCH (65544)
Stack Trace

[code]

Any idea? Thanks.

[2016-07-05 16:01] raghavsethi commented on #5562
Is this only for the list page or for the detail page also?

[2016-07-05 23:32] martint opened #5574 "Log error type explicitly in QueryCompletionEvent"
Now that error category is decoupled from the error code, we can't infer the category from the range the error code falls in. We need to log the category explicitly.

[2016-07-05 23:45] akshatnair opened #5575 "Queries with functions returning Color type fail"
SQL

[code]

Stack Trace

[code]

[2016-07-05 23:46] akshatnair commented on #5575
As a short term solution it might be better to print the Color String code like #000000 for Color datatype output.

[2016-07-06 00:57] electrum opened #5576 "Update Hive connector docs to use hive-hadoop2 instead of hive-cdh4"
Use `hive-hadoop2` as the default since that is the most common implementation now (and is actually the same as CDH 5).

[2016-07-06 04:25] junming4 opened #5579 "presto can't insert data"
presto can't insert data,but presto doc say can insert ,why?
![qq 20160706122501](https://cloud.githubusercontent.com/assets/7088615/16607532/940518f4-4374-11e6-805f-4ffbf0693bea.png)

[2016-07-06 05:19] electrum commented on #5579
Insert isn't supported yet for that connector. Unfortunately, the error message is bad.

For now, you can use CREATE TABLE AS with that connector to write data.

[2016-07-06 05:42] junming4 commented on #5579
OK，I would like to know if the "insert" feature is included in the development plan.

[2016-07-06 06:46] javainthinking opened #5582 "GROUP BY alias does not work."
presto:default> select count(cname), cid as id from ss_dev.course_rt group by id;
Query 20160705_122534_00018_ej4np failed: line 1:63: Column '"id"' cannot be resolved
select count(cname), cid as id from ss_dev.course_rt group by id

[2016-07-06 06:46] javainthinking commented on #5582
Change the code for this issue:
https://github.com/prestodb/presto/pull/5581

[2016-07-06 11:07] wxiang7 opened #5584 "Migration doc for Hive is outdated about outer join"
In [latest presto doc](https://prestodb.io/docs/current/migration/from-hive.html), it says Hive is not following ANSI SQL when doing outer join.

More specifically, migration doc says

This is a bug for Hive, however it was already fixed in [HIVE-1534](https://issues.apache.org/jira/browse/HIVE-1534), [HIVE-3381](https://issues.apache.org/jira/browse/HIVE-3381), [HIVE-9743](https://issues.apache.o

[2016-07-06 15:13] mcuelenaere commented on #3221
For reference, the discussion being referred to is https://groups.google.com/forum/#!searchin/presto-users/dynamic$20columns/presto-users/8jJwgAEJ5U0/TBu7JfDUHpEJ

[2016-07-06 17:07] petroav commented on #5579
@junming4 Looking at the roadmap wiki (https://github.com/prestodb/presto/wiki/Roadmap), I can see a couple of items related to INSERT.

[2016-07-06 18:37] electrum commented on #5579
There is a PR for this: https://github.com/prestodb/presto/pull/4235

[2016-07-06 18:46] electrum commented on #5582
See discussion in #5581

[2016-07-06 18:46] #5582 closed

[2016-07-06 18:47] electrum commented on #5582
Closing this so that we can keep the discussion in one place.

[2016-07-06 19:00] electrum commented on #5562
I was only concerned with the summary. It's probably best to display the exact original query on the detail page (or maybe have a toggle?)

[2016-07-06 19:02] electrum commented on #5575
I think we need to update the protocol (and probably the `Type` API) to return a flag indicating if a value is text or binary. The `ObjectId` type in the MongoDB connector has the same problem.

[2016-07-06 20:20] electrum opened #5588 "Improve formatting for session properties in query details"
Maybe use a table like the stage properties.

[2016-07-06 22:31] #5562 closed

[2016-07-07 00:45] raghavsethi commented on #5561
Merged #5587

[2016-07-07 00:45] #5561 closed

[2016-07-07 00:46] raghavsethi commented on #5560
Merged #5587

[2016-07-07 00:46] #5560 closed

[2016-07-07 01:52] junming4 commented on #5579
THINKS

[2016-07-07 03:49] wyukawa commented on #5531
Driver count is very different even if same query.

|presto ver|totaldrivers|completeddrivers|queueddrivers|runningdrivers|
|---|---|---|---|---|---|
|0.147|245|227|0|18|
|0.148|9747|7487|129|2131|

[2016-07-07 03:52] dain commented on #5531
Maybe predicate pushdown stopped working for your query. Can you post the explain plan from the two different systems?

-dain

[2016-07-07 05:22] wyukawa commented on #5531
Thank you for comment!

I check query exlain, I confirmed that predicate pushdown stopped working and caused full partition scan.

I can reproduce this problem even if relative simple query.

query
[code]

presto view ddl
[code]

explain at presto 0.147
[code]

explain at presto 0.148
[code]

[2016-07-07 07:03] Shubhamjain6197 opened #5592 "how to hit presto console using putty"

[2016-07-07 12:44] maciejgrzybek opened #5593 "Floating points should be formatted using scientific notation"
Following specs:

[2016-07-07 14:25] petroav commented on #5592
I'm not sure what you mean. I thought PuTTY was an SSH client so once you're connected to the machine that has the Presto CLI you can just start it. Here is the relevant documentation https://prestodb.io/docs/current/installation/cli.html

[2016-07-07 15:40] cberner commented on #5458
I think this is fixed in 0.150. If not, please reopen

[2016-07-07 15:40] #5458 closed

[2016-07-07 16:10] raghavsethi commented on #5216
Fixed by #4572

[2016-07-07 16:10] #5216 closed

[2016-07-07 16:13] raghavsethi commented on #4310
Don't have the time to work on this in the near future, un-assigning so that the community can step in.

[2016-07-07 16:14] raghavsethi commented on #3755
Closing this, as we will need to have a larger discussion about breaking API changes in the future.

[2016-07-07 16:14] #3755 closed

[2016-07-07 16:15] raghavsethi commented on #5102
@electrum: what's the right move given this new information?

[2016-07-07 16:30] cberner commented on #4310
The queueing system is going to be removed in the vaguely near future, so instead of the permits we should show the resource group which the query is in

[2016-07-07 19:23] electrum opened #5596 "Uncategorized error for too many dots"
[code]

[2016-07-07 19:36] JackMc commented on #5596
This has impacted a couple of our users trying to run queries where the table name is non-existent and 4 layers deep.

[2016-07-07 20:03] electrum commented on #5596
@JackMc This shouldn't happen if table does not exist. Do have an example query?

[2016-07-07 20:06] JackMc commented on #5596
Our query was `select * from hive.myschema.tablethatdoesntexist.something`. (with names replaced with non-internal names)

[2016-07-07 21:27] electrum opened #5599 "Use contains instead of regex for UI search"

[2016-07-07 21:54] electrum opened #5600 "Handle large split counts in CLI"
The alignment of columns is wrong when there are 100,000+ splits:

Example:

[code]

[2016-07-07 21:57] electrum commented on #5600
The split columns QUEUED, RUN and DONE should adjust width dynamically based on the maximum value width.

We could also do suffixes like K, M, but those are problematic as this is a count and not a data size, and thus has confusion about being 2-based vs 10-based.

[2016-07-07 22:24] zhenxiao opened #5601 "Make RowType fields available in SPI?"
Currently, RowType is in presto-main, not in presto-spi
To better handle nested fields in Parquet(or ORC), need to get fields for a RowType, and RowField. Is it possible to put RowType in presto-spi? Or, is there other ways to make Parquet or ORC aware of RowType and RowFields?
@martint @dain @cberner @electrum @erichwang

[2016-07-07 23:11] cberner opened #5602 "hive.bucket-execution forces bucketed execution even when not needed"
JOIN'ing a bucketed table on a key other than the bucketing key still results in a bucketed execution plan, which forces all splits for a bucket to be read by a single worker. This makes stragglers a much bigger problem and skew'ing buckets will execute much more slowly. Instead, we should only take advantage of bucketing when it will help the query (JOIN'ing/GROUP'ing on the bucket key)

[2016-07-07 23:23] cberner commented on #5602
Discussed this with @erichwang, and he's going to fix it by implementing multiple table layouts for the Hive connector and having the exchanges optimizer only pick the bucketed layout when it will help the plan

[2016-07-07 23:34] martint commented on #5602
I'm not sure that's the best way to model it. There aren't multiple physical layouts for Hive tables (which is what that feature is meant to capture). Instead, the layout should describe the bucketing properties and the exchanges optimizer should ignore them if they don't help.

[2016-07-07 23:36] cberner commented on #5601
Could you provide more details about why it's needed? The current implementation doesn't need it, and it can support reading and writing them

[2016-07-07 23:39] cberner commented on #5602
That sounds reasonable. I'll leave it to the two of you to decide how best to model it, since I'm not very familiar with the table layout code

[2016-07-07 23:42] zhenxiao commented on #5601
When we are trying to implement Nested Schema Evolution, and Nested Column Pruning in https://github.com/prestodb/presto/pull/5547, we need to get RowFields of a RowType, and use each RowField name to look up the corresponding parquet type in parquet file schema. There is no RowType information in SPI, then Parquet files could not get RowFields.

[2016-07-07 23:44] cberner commented on #5601
You should be able to get that information by calling `getTypeSignature().getParameters()` which is on `Type` in the SPI

[2016-07-07 23:50] zhenxiao commented on #5601
Thank you, @cberner Correct me if I get misunderstanding. if I have a RowType struct:
RowType<Integer ColumnA, Double ColumnB>

My understanding is getTypeSignature().getParameters() will return <Integer, Double>, will it return ColumnA and ColumnB?

[2016-07-08 00:01] cberner commented on #5601
yes, it should return a list of the fields which can be accessed as `NamedTypeSignature` I believe

[2016-07-08 00:06] zhenxiao commented on #5601
oh, get it. Thank you

[2016-07-08 00:09] cberner commented on #5601
Np. Please re-open if you end up needing this

[2016-07-08 00:09] #5601 closed

[2016-07-08 05:10] Shubhamjain6197 commented on #5592
hi,
thanks for reply, i am saying i want to open presto cli using putty..

Warm Regards
*Shubham Jain*

On Thu, Jul 7, 2016 at 7:56 PM, Anton Petrov <notifications@github.com>
wrote:

[2016-07-08 08:35] wyukawa commented on #5531
Hi

I can simplify query more.

for example, aaa and bbb table have partition column dt.

the following query scan full bbb table at presto 0.148. but at presto 0.147, full scan doesn't occur.
[code]

[2016-07-08 16:18] martint commented on #5531
@geraint0923, can you investigate this?

[2016-07-08 16:19] martint commented on #5531
@losipiuk, this may be related to the outer join changes

[2016-07-08 16:19] cberner commented on #5531
Thanks for narrowing this down! I suspect this is related to this item in the 0.148 release: `Improve outer join predicate push down.` CC: @losipiuk

[2016-07-08 16:51] dain commented on #5602
@martint, IIRC for Raptor if you have bucketing, the engine must use it

[2016-07-08 16:52] cawallin commented on #5531
@losipiuk is out for the next few weeks, but I'll see if anyone else has enough context on the code to take a look

[2016-07-08 17:05] geraint0923 commented on #5531
@martint I am looking into it.

[2016-07-08 18:16] kokosing commented on #5531
@geraint0923 I have some (not much though ;/) context about this in case you need some help

[2016-07-08 23:20] geraint0923 commented on #5531
After investigation, it seems that `processLimitedOuterJoin ` (https://github.com/prestodb/presto/blob/ddfeb541dcf8be8cad3ec64be37c7406d2de366b/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/PredicatePushDown.java#L409) doesn't add `b.dt='20160701'` which is a equality combining join predicate and inherited predicate into `innerPushdownConjuncts`.

I am working on a fix no

[2016-07-09 15:49] losipiuk commented on #5531
@geraint0923, thanks for looking into it. I have somewhat limited internet access here, but I can take a look at this now if you do not have a fix yet.

[2016-07-09 18:00] losipiuk commented on #5531
Just in case you did not have time to work on this one.
Here is the PR which fixes issue and hopefully does not brake anything:
https://github.com/Teradata/presto/pull/250

This code actually was originally in `PredicatePushDown.java` before refactor. And seems to be there to exactly handle cases like the one from this issue.

I do not see a reason why it would break something - but this is possib

[2016-07-10 10:37] tzach commented on #4894
@ChrisFeldmeier please reopen
Look like Presto do use Thrift on some cases (not all!)
See https://github.com/scylladb/scylla/issues/1139#issuecomment-231578297 for more details

[2016-07-10 18:19] dain commented on #4894
All connectors are optional.  If you don't want one, you can just delete it from the distribution.

[2016-07-11 05:15] electrum commented on #5602
@dain, I think that's only true for writing (which I assume is true for Hive as well)

[2016-07-11 10:59] wyukawa opened #5617 "presto worker node crashed"
Hi

I use presto 0.147 + jdk1.8.0_92 + HDP 2.1 + hive connector + CentOS 6.5.

Suddenly, presto worker node crashed.
It's difficult to reproduce the problem.

hs_err_pid.log
https://gist.github.com/wyukawa/23973dbc39b8be109cfb3bd57ff9010c

jvm.config

[code]

[2016-07-11 11:06] kokosing commented on #5531
I added a test to the fix proposed by @losipiuk, so actual PR with a fix is here: #5618

[2016-07-11 18:00] cberner opened #5622 "Add flag to restore legacy array_agg behavior"
We should add an experimental flag, like `experimental.legacy-array-agg` which has the pre-`0.149` behavior (NULLs are skipped) for `array_agg`, to ease the transition from `0.148` to `0.149`

[2016-07-11 18:51] geraint0923 commented on #5531
@losipiuk @kokosing Thank you for your help! The PR seems reasonable and I tested it with my test case and it now has the correct pushdown.

[2016-07-11 22:37] cberner opened #5628 "task.writer-count only works with powers of 2"
This appears to be a regression in a recent release. Maybe `0.148`?

[code]

[2016-07-12 01:32] erichwang commented on #5602
After chatting with @haozhun, I think this is actually a scheduling problem, not a layout handling problem. How we choose to schedule our splits should be based on plan, not the layout. @haozhun will be working on this.

[2016-07-12 14:31] blankroom commented on #5473
I have the same problem that my presto cluster contains 7 worker nodes but when I execute query, there are only 4 nodes working.

[2016-07-12 16:12] cberner opened #5630 "Some queries with varchar(n) fail"
Unfortunately, I don't have a good repro that I can share publically. @geraint0923  please see the internal task I filed

[code]

[2016-07-12 16:39] scorta-d opened #5631 "Java version requirements controversy"
The preinstall script in rpm return incorrect java version for OpenJdk.

[code]

Correct version check should be like this:

[code]

Documentation for Presto does not mention Oracle Java at all.

If Oracle Java is a critical requirements, then Presto should not start on OpenJdk. Like it does not start on IBM Java because of `java.vendor`
Also If Oracle Java is a critical requirement it should be e

[2016-07-12 16:42] cawallin commented on #5631
See this PR and discussion: https://github.com/prestodb/presto/pull/5541

[2016-07-12 17:09] akshatnair commented on #5473
Do you see all the nodes listed when you execute select * from system.runtime.nodes?

[2016-07-12 17:14] sayap commented on #5456
I got the same error in the exact scenario. For the workaround (thanks!), does the following equal to disabling metastore caching?

    hive.metastore-cache-ttl=1s
    hive.metastore-refresh-interval=1s

The worker nodes can't start if I set them to `0s`, with error `duration must be positive: 0 MILLISECONDS`. Setting them to `1s` works for me.

[2016-07-12 18:07] amrutagokhale opened #5632 "Wrong error message when view creation fails because of lack of grant privilege"
When access control checks are turned on in Presto, as per SQL standard, `CREATE VIEW AS SELECT` requires the user to have `SELECT` privilege on the table as well as `GRANT OPTION` for the `SELECT` privilege. If the user has `SELECT` privilege but doesn't have the corresponding `GRANT OPTION`, Presto gives wrong error message, complaining that user cannot select from the table, even if they indeed

[2016-07-12 19:17] haozhun opened #5634 "All leaf node in LocalExecutionPlanner should setDriverInstanceCount"
And the default of 1 should become an assertion that driver instance count has been explicitly set.

Follow up for #5633.

[2016-07-12 19:19] geraint0923 commented on #5630
Seems like a planner bug, after temporarily disabling all the optimizers:
[code]

I am finding the problematic place.

[2016-07-12 20:02] electrum opened #5635 "Fix ridiculously long errors from parser"
Spitting out every possible keyword isn't helpful.

[code]

[2016-07-12 20:14] heratgandhi-fb opened #5636 "Please add a way to reverse sort an array"
Right now presto only supports array_sort which sorts array in ascending order, it would be really helpful for users to have ability to sort array in descending order. It can be an argument within array_sort or array_reverse function call.

[2016-07-12 22:06] geraint0923 commented on #5630
I disabled all the optimizers and plan sanity checkers, and finally simplified the problematic query:
[code]
This is caused by:
1. https://github.com/prestodb/presto/blob/344b24653dff58c6986ec13ba6a6623d698a00dd/presto-main/src/main/java/com/facebook/presto/sql/planner/RelationPlanner.java#L531
and
2. https://github.com/prestodb/presto/blob/dfa16d9b104ae8f117e6a2335dae4da5ef83e913/presto-main/src/

[2016-07-12 22:18] #5544 closed

[2016-07-12 22:20] #5622 closed

[2016-07-13 03:21] blankroom commented on #5473
@akshatnair  No, I can't see all the nodes and that exactly confused me because all the worker nodes have the same configurations. I once thought the problem may be that I didn't use uuid as node.id, but after I change it to uuid, it still doesn't work. Now I have no idea what is wrong.

[2016-07-13 03:31] stagraqubole commented on #5456
This much is enough to disable the cache:
[code]

Leave `hive.metastore-refresh-interval` to be non-zero.
The config you mentioned should also work, it wouldnt disable the cache but it reduces the chances of hitting this issue by invalidating cache much faster.

[2016-07-13 04:59] wanghan518518 opened #5640 "why presto query hive map by key is so slow"

[2016-07-13 07:13] blankroom commented on #5473
@akshatnair @liyanjie918  Oh, I have just solved my problem. I didn't stop service iptables. After I stop service iptables and ip6tables, the cluster can run correctly.

[2016-07-13 10:33] dzakarov opened #5642 "HTTPS port is hardcoded"
Currently HTTPS port is hard coded and value 443 does not allowed for ordinary user,
What about introducing jdbc url parameter say jdbc:presto://host:8443/catalog/schema?protocol=https
.src/main/java/com/facebook/presto/jdbc/PrestoConnection.java
[code]

[2016-07-13 10:38] fmeiser commented on #5642
Hi,

there exists already a PR #5411 for additional properties for connections.

[2016-07-13 11:17] scorta-d opened #5643 "Add Apache KNOX gateway filter"
Apache KNOX gateway https://knox.apache.org/ may be used in order to authenticate users, and create perimeter protection of hadoop cluster. The implementation should be as simple as create  user agent header in UserAgentRequestFilter.

The suggested solution is to add Basic Authorization header as required for KNOX, and
KNOX Gateway http path replacement from /v1/statement to /gateway/default/pres

[2016-07-13 14:12] sopel39 opened #5645 "hash value in DoubleType and DoubleOperators is computed incorrectly."
It is possible to have both positive zero (`0.0`) and negative zero (`-0.0`) that are represented by bits:

[code]

`0.0` is equal to `-0.0`. However in Presto hash for `-0.0` is different than for `0.0`.

Query example:

[code]

[2016-07-13 18:03] #5568 closed

[2016-07-13 18:59] dain opened #5649 "Add support for Postgres JSON type"
This could be exposed to Presto as an unbounded VARCHAR or a presto JSON type.

[2016-07-13 20:26] xerial commented on #4040
@cberner
A problem related this is `SELECT rank() OVER(PARTITION_BY id)` creates inaccurate windows if combine_hash(id) has collisions in 32-bit `int` space.

[2016-07-13 20:43] martint commented on #4040
The issue with hash sizes should already be fixed since we moved them to 64 bits.

@xerial, that would be a correctness issue. Computing the partitions shouldn't be sensitive to whether there are collisions, since it should do equality comparisons for the partition column. That should only affect performance, but not the results.

[2016-07-13 21:26] xerial commented on #4040
@martint We found this problem `PARTITION BY (large string column)` in Presto 0.146, and suspect WindowOperator.findGroupEnd might have problem: https://github.com/prestodb/presto/blob/688a8ff0128169d8e0c4b28094ab29457bd1269b/presto-main/src/main/java/com/facebook/presto/operator/WindowOperator.java#L469

[2016-07-13 21:41] nezihyigitbasi commented on #5436
@natesammons-nasdaq can you think of a simple workaround for this one?

[2016-07-13 21:51] martint commented on #4040
That code compares positions with `positionEqualsPosition`, so it should be insensitive to hash collisions. The shortcut just checks whether the first position matches the last one to avoid having to do the linear scan.

So, I suspect that is some other issue (or the implementation of those functions is broken).

[2016-07-13 22:04] natesammons-nasdaq commented on #5436
I will look into this.  If they just want to use the AWS KMS, probably the easiest thing to do would be to make a new EMP implementation that reads a KMS key ID from the hadoop properties system and then creates an EMP instance.  I can easily make these changes if you'd like.

[2016-07-13 22:30] xerial commented on #4040
I have been failing to reproduce this issue when using only a window function. The problem occurs when complex sub queries are involved. I'll find our the exact condition to reproduce the issue.

[2016-07-13 22:54] wenleix opened #5654 "Add TaskMonitor class for Task-level performance monitoring"
As we are working on Presto capacity planning, we would like to logging both query level events and task level events to monitoring the performance.

While there is `QueryMonitor` class in Presto that can easily export query related information (`QueryInfo`), currently there is no simple way to export task related information.

We plan to follow the current design of `QueryMonitor`, and to add the

[2016-07-13 23:21] petroav commented on #3955
Closing since fix was merged.

[2016-07-13 23:21] #3955 closed

[2016-07-13 23:22] xerial commented on #4040
I found some clue by tweaking queries. Here is a simplified version of the original query:

[code]

[code]

The above query should produce almost same query plan, but the exchange step is missing in the bad query.

[code]

[2016-07-13 23:23] petroav commented on #3599
Closing since fix was merged.

[2016-07-13 23:23] #3599 closed

[2016-07-13 23:25] martint commented on #4040
That's not good. Can you file a separate issue for that?

Also, your first query is missing something in the `partition by ???? order by time` clause.

[2016-07-13 23:26] xerial commented on #4040
OK. I'll create another ticket.

[2016-07-13 23:27] martint commented on #4040
Closing this one, since hashes are now 64-bit wide.

[2016-07-13 23:27] #4040 closed

[2016-07-13 23:35] petroav commented on #4773
Looks like this was fixed. Closing.

[2016-07-13 23:35] #4773 closed

[2016-07-13 23:54] xerial opened #5659 "Missing repartitioning step breaks window function results."
We found a weird window function behavior when a query involves multiple window functions and self join. Here is how to reproduce this problem (in Presto 0.146):

[code]

The only difference between two queries is using `a.id` or `b.id` to extract the self join result, but these ids values should be the same because of `a.id = b.id` join condition.

[2016-07-13 23:56] xerial commented on #4040
Filed the issue to https://github.com/prestodb/presto/issues/5659

[2016-07-14 00:01] martint commented on #5659
@erichwang, can you take a look at this?

[2016-07-14 00:31] martint commented on #5659
The missing repartition is actually not an issue from a semantic point of view. It happens because the AddExchanges optimizer doesn't understand a.id = b.id due to the join, so it blindly adds a repartition in one case.

The only other difference between the plans is that one executes the window operator in streaming mode.

Both queries should return the same result. Are you not seeing that?

[2016-07-14 00:43] xerial commented on #5659
@martint The above query is a simplified one. The actual query uses large string values for `id`, and produces wrong rank() results randomly. I guess hash collision handling, which should be resolved by checking the actual id values (happens in repartitioning step?), is not performed in the latter query.

[2016-07-14 01:18] erichwang commented on #5659
@xerial, do you think you could provide us with a query over some of the TPCH data which might be able to produce this problem?

[2016-07-14 01:26] xerial commented on #5659
@erichwang Producing these different query plans using tpch dataset will not be so difficult. Producing weird query results may take some time because it apparently happens only when there is some hash value collision. Anyway I'll work on that.

[2016-07-14 01:28] erichwang commented on #5659
@xerial, just curious, how do you know hash collisions are responsible here?

[2016-07-14 06:19] martint opened #5662 "Ambiguous declarations for concat() function"
The concat function allows the following forms:

[code]

This causes problems when one of the arguments is `array[]`.

If `T` is `array(U)` in the second form, the invocation looks like `concat(array(U), array(array(U))`. A call like `concat(array[1,2], array[])` is ambiguous, since `array[]` is a valid value for `array(T)` and `array(array(U))`. A similar issue happens for the third form.

We sho

[2016-07-14 09:42] aaronshan commented on #5662
It not only happen for a literal (i.e. the query contains exactly ARRAY[]), If you use array_remove and array_intersect, maybe you will get ARRAY[]
[code]

And when you use concat(arr1, arr2), if arr1 or arr2 is null, it will also get error result.
[code]

[2016-07-14 10:14] zhuqunzhou opened #5663 "No nodes available to run query.Union all Bug?"
I added a config item `hive.force-local-scheduling=true` in `hive.properties`.

I find sometimes throw the exception `com.facebook.presto.spi.PrestoException: No nodes available to run query`..Normal sql(like `select * from table where ...`) `presto` works ok,but if i have `union all` in the sql,it will throw the Exception.

Here is my exception sql:`with t as (select  row_number() over(order by l

[2016-07-14 10:31] tesseract2048 opened #5664 "Worker instance randomly exit during queries"
Hi there. After updated to 0.150, I experienced a strange issue that worker randomly exit during queries (especially when multiple queries are running concurrently).

The following is last logs from a exited work:

[code]

I've also examined other logs (http-request.log, for example), and there was nothing.

Any thoughts? Thanks.

[2016-07-14 14:28] martint commented on #5662
Yes, `NULL` has the same issue, since it's a valid "value" for any type.

[2016-07-14 16:11] cpcloud opened #5665 "Add Hive system table for partitions"
The use case for this was to be able to look at a set of tables' partitions and identify the earliest common partition among them.

[2016-07-14 17:20] xerial commented on #5659
@erichwang These two query plans produce the same query result if we use small partition keys. One of our customers used relatively large string values as the partition key and we found this issue.

[2016-07-14 19:15] maciejgrzybek commented on #5593
@martint Should we always return approximate numbers using scientific notation as described above?
Java's Float/Double `toString()` method formats number in scientific notation when the value is less than 10^-3 or is greater than 10^7.
Postgres does something similar, e.g.:
[code]
but
[code]

MySQL, on the other hand is rounding numbers and seems to never use scientific notation, e.g:
for number `

[2016-07-14 22:21] electrum opened #5668 "Add "See Also" sections to SQL documentation"
See the PostgreSQL documentation. For example, the `CREATE SCHEMA` section links to `DROP SCHEMA` and vice versa: https://www.postgresql.org/docs/9.5/static/sql-createschema.html

[2016-07-14 22:24] #5531 closed

[2016-07-14 22:59] xerial commented on #5659
I checked the optimization processes using the following query:
[code]

And it seems AddExchange failed to add an exchange(remote, repartition) step:
[code]

If we rewrite the query `a.id` -> `b.id`, `RemoteExchange[REPARTITION]` step will be added.

[2016-07-14 23:12] cberner opened #5670 "Partial aggregation memory is untracked during flushes"
When `HashAggregationOperator.getOutput()` is called in a partial aggregation, the `aggregationBuilder` builder is reset. However, `aggregationBuilder` is responsible for the memory tracking, and so the memory retained by `outputIterator` is untracked. This should be fixed, by including the memory used by `outputIterator` in the tracking done by `operatorContext`

[2016-07-15 00:15] xerial commented on #5659
When setting `set session task_join_concurrency=1`, the query produces the correct results.

[2016-07-15 01:28] haozhun commented on #5659
We are able to reproduce this with the below query in 0.146. The query should produce no rows. In 0.146, this query produces many rows.
[code]
We believe it has been fixed in trunk. The same query produces no rows in trunk. Note: Since 0.147,  use `SET SESSION task_concurrency=4` instead of `SET SESSION task_join_concurrency=4`.

Local-parallel implementation was rewritten in 0.147. Prior to 0.147

[2016-07-15 01:28] #5659 closed

[2016-07-15 01:42] haozhun opened #5671 "VARCHAR(n) and var-args functions"
The following queries fails.

[code]

[code]

[code]

[code]

Stacktrace:
[code]

[2016-07-15 01:42] haozhun commented on #5671
https://github.com/prestodb/presto/pull/5387 fixes the `concat` case and presumably paves the way to fix the others.

[2016-07-15 01:47] electrum commented on #5665
The tricky part here is that each Hive table has a different set of partition columns and types. It might make sense to have a separate partition table per table. For example, table `foo` would have a partition table `"foo.$partitions"`.

[2016-07-15 15:03] pnowojski commented on #5670
Hmmm I think you are wrong. First of all, memory is being tracked/updated only in `aggrgationBuilder.isFull()` method. Relevant code from `HashAggregationOperator`:

[code]

Once `isFull` is called, memory reservation is set to correct value. Then `outputIterator` is assigned and `aggrgationBuilder` is being reseted but memory reservation is still correctly set and it won't be updated/changed unti

[2016-07-15 16:46] cberner commented on #5670
Looking at the code more closely, you're correct. However, it looks like that's mostly by chance. `needsInput()` uses `&& outputIterator == null`, but that doesn't actually look required. In general, operators can both receive input and produce output at the same time

[2016-07-15 17:14] cpcloud commented on #5665
So, I actually just want a quick way to get the retention property. I can get partitions with `SHOW PARTITIONS`, which works well already AFAICT. If I know the retention, I can quickly calculate the earliest partition using date arithmetic.

[2016-07-15 20:50] natesammons-nasdaq commented on #5436
Thoughts?  AWS KMS is now widely used and I think it makes sense to have additional config for it.  Instead of setting presto.s3.encryption-materials-provider, I think we should add presto.s3.kms-key-id and if that's set, don't use a custom encryption materials provider and instead setup the KMS provider.  This would be a special case but since KMS is so widely used I think it makes sense.

[2016-07-15 20:57] electrum commented on #5665
The concept of retention is specific to Facebook's Hive installation. (The open source Thrift metastore has a `retention` field for `Table` but it's not used by anything.)

[2016-07-15 21:27] cpcloud commented on #5665
Oh, I didn't know that. What about being able to access the information that's specified inside the `WITH` clause?

[2016-07-15 21:28] cpcloud commented on #5665
Even though retention is specific to Facebook, I think accessing properties that are set in the `WITH` clause is generally useful, no?

[2016-07-15 22:27] dain opened #5675 "Add copy query button to the Query Details page"
It would be helpful to be able to quickly copy the query text to the clipboard.

[2016-07-15 23:38] #5630 closed

[2016-07-16 00:46] electrum commented on #5665
I agree it's useful. We need to decide on exactly how.

[2016-07-16 03:56] yorkart opened #5681 "alert partition location , Partition location does not exist"
hive table : `extral table`
table localtion : `/db/log/systemlog/`
add partition every day : `alert table systemlog add if not exists partition(dt='20160716',hour='00',minute='00'`

now, I want to modify partition
from original location: `/db/log/systemlog/dt=20160716/hour=00/minute=00`
to target location :   `/db1/log/systemlog/dt=20160716/hour=00/minute=00`

1. `alter table systemlog partition (

[2016-07-16 05:01] yorkart commented on #5681
use  uri  is ok
`hdfs://hacluster//db1/log/systemlog/dt=20160716/hour=00/minute=00`

[2016-07-17 03:09] #5681 closed

[2016-07-17 21:38] fmeiser opened #5684 "Additional CPU cycles introduced by ShortArrayBlock, IntArrayBlock and LongArrayBlock in exchange"
With the introduction of `ByteArrayBlock`, `ShortArrayBlock`, `IntArrayBlock `and `LongArrayBlock ` @dain also changed the encoding of theses blocks.
Earlier the data is written directly as a package to the `SliceOutput`. After the changes, each nonnull value is transmitted individually.
In exchanges the `OutputStreamSliceOutput` is used and the implementation of `OutputStreamSliceOutput` uses `Li

[2016-07-18 03:39] electrum commented on #5684
Thanks for investigating this! Can share how you measured this? Linux Perf?

[2016-07-18 06:28] Jimexist opened #5685 "Drop table in Hive leaves the empty folder to exist"
Hi, I wonder why the HDFS folder is still left to exist after I drop the table from presto-cli, e.g. `drop table users` will truncate all data in `hdfs://user/hive/warehouse/users` but the folder itself will be left to exist, which means I can not re-create the table because of the existing folder.

[2016-07-18 07:44] fmeiser commented on #5684
With JMH I tested two versions of writing and encoding a `LongArrayBlock` with 10.000 longs.

Version with `OutputStreamSliceOutput`

[code]

Version with `BasicSliceOutput`

[code]

The current overhead is lower because I have `ByteArrayOutputStream` replaced by `FastByteArrayOutputStream`. The final overhead is doubled for decoding the values.

[2016-07-18 10:01] tesseract2048 commented on #5100
I am experiencing the same issue on 0.150. And i found that, once a worker started to fail tasks, all other task allocated on the same worker from following queries would also fail.
Also, there is no error in {{http-request.log}}. Looks like the query never reached presto server code path.

[2016-07-18 10:03] tesseract2048 opened #5688 "java.lang.IllegalArgumentException: tried to free more memory than is reserved"
I've got the following error on 0.150 today:

[code]

[2016-07-18 10:06] tesseract2048 commented on #5100
And there is a related message:
[code]

[2016-07-18 10:33] pnowojski commented on #5670
In general yes, but I think that in this particular case it was author's intention to accept new pages only once all result pages have been returned. Otherwise we effectively double memory consumption or we complicate implementation.

After thinking a little bit more about it, it doesn't make sense to allow receiving input and producing output here. Such situation can only happen in partial aggreg

[2016-07-18 11:52] tesseract2048 commented on #5100
FYI, I downgraded jetty to `9.3.10.v20160621` and everything is fine by now.

[2016-07-18 16:47] maciejgrzybek commented on #5592
@Shubhamjain6197 Did @petroav's answer work for you? If yes, please close the issue. Otherwise, could you describe more what's the problem?

[2016-07-18 16:56] haozhun commented on #5685
For Hive connector, when you request that Presto drop a table, Presto simply tells Hive metastore to drop the table. Presto is not responsible for deleting the data. Instead, metastore will delete the data. In your case, metastore somehow decided that it’s going to leave the top-level directory alone. I’m not sure why this is the case. But I’m suspecting there are hidden files in the directory tha

[2016-07-18 18:20] scorta-d opened #5691 "Impossible to query data from kerberized hadoop cluster and non-kerberized hive."
## Steps to reproduce
- Create hive connector to kerberized cluster
- Create hive connector to non-kerberized cluster
- Run SQL against kerberized cluster
- Run SQL against non-kerberized cluster
## Expected result
- Both queries return data
## Actual result
- Non-kerberized query fails with exception

This happens because of this code:

[code]

After loading of this class no data read is possible

[2016-07-18 21:21] natesammons-nasdaq commented on #5436
I've made these changes on a local branch, it's very simple:

https://github.com/prestodb/presto/commit/6acb12bdc4e4c08978aed5c5220681a65faa272e

[2016-07-19 08:47] fudanwjj commented on #5102
I think I find a solution by configuring the mysql connector as "connection-url=jdbc:mysql://example.net:3306?tinyInt1isBit=false", according to mysql driver document.
Mysql driver returns tinyint type rather then boolean type.

[2016-07-19 09:45] liyanjie918 commented on #5473
I have already found a solution to this problem, thank you

yj_li（李彦杰）
北京迈迪生科技有限公司
BeiJing MyDC Technology Co., Ltd
北京市海淀区马连洼北路59号亿城国际中心3F0312
Mobile: 86-15810932095
Email:li_yj@mydc365.com
http://www.mydc365.com

From: Akshat Nair
Date: 2016-07-13 01:10
To: prestodb/presto
CC: liyanjie918; Author
Subject: Re: [prestodb/presto] presto job working in cluster mode, one sql query just on a worker nod

[2016-07-19 12:03] kstyrc commented on #5548
Could somebody confirm that I can use the following RPMs for all Linux distros on PPC64 and PPC64LE?

[code]

I only need /usr/bin/redis-server binary

[2016-07-19 12:21] maciejgrzybek commented on #5102
@fudanwjj great! Thanks for finding a solution!
Now solution seems pretty easy: add appropriate connection property in `MySqlClient`

[2016-07-19 12:33] miniway opened #5699 "An ability to control catalog access"
We faced a use case that multiple users need to access catalogs with different access rights. For example, two mysql catalogs, `mysql-admin` and `mysql-normal`. User A can access both catalogs but user B should be able to access `mysql-normal` only. User B even should not know the existence of `mysql-admin`

Using multiple coordinators would be an option, but it would possibly have more and more c

[2016-07-19 15:34] natesammons-nasdaq commented on #5436
I created a PR for this:  https://github.com/prestodb/presto/pull/5701

[2016-07-19 15:46] natesammons-nasdaq commented on #5436
As a side note, I think some docs on the S3 integration would be good.  I'm happy to contribute, is there a suggested place?  I almost think it belongs in the hive-security.rst file?

[2016-07-19 16:02] electrum commented on #5436
That seems fine. We can reorganize the content later if needed.

[2016-07-19 16:55] haozhun commented on #4499
Fixed by #4518

[2016-07-19 16:55] #4499 closed

[2016-07-19 17:30] Cidan commented on #5100
@martint I can also confirm that downgrading Jetty to 9.3.10.v20160621 fixes this issue.

[2016-07-19 19:03] #5636 closed

[2016-07-19 19:44] #5632 closed

[2016-07-19 19:49] Cidan commented on #5100
Sorry, I spoke too soon. Downgrading to the above version did not fix our issue.

[2016-07-19 19:58] maciejgrzybek commented on #5102
Made a PR (#5702) based on @fudanwjj's suggestion.

[2016-07-19 20:31] maciejgrzybek commented on #5691
@arhimondr would you have a look on that?

[2016-07-19 21:18] arhimondr commented on #5691
Hadoop libraries use statically defined settings when connecting to HDFS. As an another workaround different hadoop connectors can be used (`presto-hive-cdh5` and `presto-hive-hadoop2`), so they are loded in a separate class loaders. But when the same connector is used for multiple catlogs the static context of a hadoop libraries is shared. @dzakarov the setting you suggested(`IPC_CLIENT_FALLBACK_

[2016-07-19 21:20] arhimondr commented on #5691
@dzakarov Thanks for investigating the problem and opening so descriptive issue

[2016-07-19 21:53] natesammons-nasdaq commented on #5436
OK, cool.  I updated the hive docs to add notes about each S3 config and some commentary about encryption settings, etc.  Updated the above PR

[2016-07-19 23:00] cberner commented on #5671
CC: @losipiuk or @fiedukow could you take a look? I've been investigating this, but am not too familiar with the code and it's blocking us from pushing the new release to our clusters.

[2016-07-19 23:54] electrum opened #5703 "Document S3 custom credentials providers"
We should add documentation for #5667. Maybe add a section to the Hive connector docs about S3 and add a sub-section for this.

[2016-07-20 01:31] cpcloud opened #5706 "Allow expressions in simple CASE statements"
Currently Presto fails to parse the following query:

[code]

because more complex expressions are not allowed in the parser. Should we allow them through? You can get around this by wrapping parentheses around the `TRUE OR FALSE` in this case, but I think we should allow an expression here.

[2016-07-20 01:32] cpcloud commented on #5706
I've implemented this, and no tests break. I've also added a small test that fails on master and passes with my change. Should I submit a PR?

[2016-07-20 05:15] kokosing commented on #5706
Yes, please submit PR.

[2016-07-20 07:38] fiedukow commented on #5671
I'll take a look.

[2016-07-20 09:12] mouendless opened #5709 "GSS initiate failed"
I encountered an error when query on a 300m large table in parquet. It's an occasionally  error, I paste the failed and success console both bellow.

BTW, when I use hive for the same query on the same table, the error never occurred, which makes I believe the table has no problem.
## Failed output

[code]
## Success output

[code]

[2016-07-20 09:45] ArchaB opened #5710 "Testcase failure for presto-postgresql on Power Systems"
Tried building presto-postgresql on Power Systems.
To support the same, modified the testing-postgresql-server-0.3.jar to include jars compatible for Power Systems.

Testcases still fail with the following exception:

**Caused by: io.airlift.command.CommandFailedException: [/tmp/testing-postgresql-server7462338320829989884/bin/initdb, -A, trust, -U, postgres, -D, /tmp/testing-postgresql-server7462

[2016-07-20 16:44] maciejgrzybek commented on #2178
Closing duplicate.

[2016-07-20 16:44] #2178 closed

[2016-07-20 16:51] maciejgrzybek commented on #3626
E.g.
[code]

[2016-07-20 16:58] maciejgrzybek commented on #3305
Closing duplicate (#5362).

[2016-07-20 16:58] #3305 closed

[2016-07-20 16:59] maciejgrzybek commented on #5276
Closing since #5550 got merged.

[2016-07-20 16:59] #5276 closed

[2016-07-20 17:01] maciejgrzybek commented on #5354
Closing since #5534 is merged.

[2016-07-20 17:01] #5354 closed

[2016-07-20 17:23] maciejgrzybek commented on #5130
Closing since I've confirmed that Kafka connector works perfectly fine with Kafka 0.10.

[2016-07-20 17:23] #5130 closed

[2016-07-20 17:30] maciejgrzybek commented on #4801
Closing since #5104 is merged.

[2016-07-20 17:30] #4801 closed

[2016-07-20 17:32] #4769 closed

[2016-07-20 17:38] electrum commented on #5709
Can you show the full stack trace for the failure? You can get that from the CLI by running with `--debug` or in the web UI.

[2016-07-20 17:40] electrum commented on #5703
Looks like the documentation is covered (at least partially) by #5701

[2016-07-20 20:42] cberner commented on #5671
@fiedukow how is a "type only" coercion suppose to work? I came up with https://github.com/prestodb/presto/pull/5717 which seems to fix this issue, but it seems very hacky

[2016-07-21 00:50] mouendless commented on #5709
@electrum here are the full stacks

$presto:dt_general_statistics> select count(*) from events_parquet_300m;

Query 20160721_004959_00002_hmv34, FAILED, 7 nodes
http://192.168.19.107:38080/query.html?20160721_004959_00002_hmv34
Splits: 487 total, 0 done (0.00%)
CPU Time: 0.0s total,     0 rows/s,     0B/s, 1% active
Per Node: 0.0 parallelism,     0 rows/s,     0B/s
Parallelism: 0.0
0:00 [0 rows, 0

[2016-07-21 03:14] xwinie opened #5721 "presto mongodb fails when table names contain underscores"
环境 presto 147版本：
select \* from mtest 这样查询是正常的，但是select \* from sys_dict这样查询会报Error: Query failed (#20160721_041203_00017_wsust): null
SQLState:  null
ErrorCode: 65536  错误

4.13ms
End Time
2016-07-21 12:12:03 +0800
Memory Pool
general
Total Memory
0B
CPU Time
0.00ns
Rows
0
Data Size
0B
Cumulative Memory
0GB seconds
Raw
/v1/query/20160721_041203_00017_wsust?pretty
Plan
/ui/plan?20160721_041203_0001

[2016-07-21 03:19] miniway commented on #5721
I think a document contains `null` value but there seems to be a bug at handling null value.

[2016-07-21 07:14] xwinie commented on #5721
我的collection name: sys_dict  不带下划线的collection 都是正常的，带了就是错误的！

[2016-07-21 07:16] xwinie commented on #5721
![image](https://cloud.githubusercontent.com/assets/3609288/17014237/151c4088-4f56-11e6-9816-c6012d3d018c.png)
![image](https://cloud.githubusercontent.com/assets/3609288/17014240/1bf8677e-4f56-11e6-8998-c2a36921a323.png)

[2016-07-21 07:26] xwinie commented on #5721
![image](https://cloud.githubusercontent.com/assets/3609288/17014470/585869fc-4f57-11e6-9370-c147d6b53102.png)

![image](https://cloud.githubusercontent.com/assets/3609288/17014507/7e73629a-4f57-11e6-88f6-3d473f38188c.png)

[2016-07-21 08:37] mkolplk321 opened #5722 "Presto install error"
I have checkout the presto and try to build it. When I test to execute "mvn clean install" , the error was occured.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:
2.16:check (default) on project presto-spi: You have 26960 Checkstyle violations
. -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e swit
ch.
[ERROR] Re-run

[2016-07-21 13:41] maciejgrzybek opened #5726 "Add more data types tests for JDBC connectors"
As of discussion on https://github.com/prestodb/presto/pull/5702 and as suggested by @akshatnair (here: https://github.com/prestodb/presto/pull/5702#issuecomment-234168477 + @raghavsethi's comment here: https://github.com/prestodb/presto/pull/5702#issuecomment-233751088), we should work on at least SOME coverage of data types in testing of JDBC connectors.

[2016-07-21 14:49] maciejgrzybek opened #5727 "Change all additions/subtractions to do overflow checks"
In many places, e.g. aggregation functions, scalar functions, type operators there should be over/under-flow check performed whenever applicable.
E.g. instead of:

[code]

we could do:

[code]

Maybe it would be appropriate to write a wrapper around `Math's` functions which rethrows `PrestoException` instead of `ArithmeticException` as suggested by @cberner here: https://github.com/prestodb/presto

[2016-07-21 14:50] cawallin commented on #4054
Fixed in https://github.com/prestodb/presto/pull/4074

[2016-07-21 14:50] #4054 closed

[2016-07-21 14:58] electrum commented on #5722
Does "git status" show any changes? Can you show the full output from the build?

[2016-07-21 16:46] fiedukow commented on #5671
Workaround is here:
https://github.com/prestodb/presto/pull/5729

As for real solution it seems like predicate pushdown should care about type consistency OR we should always ensure that there are no functions accepting unparametrized varchar. I think first one is better as it will allow to avoid such problem in future.

[2016-07-21 17:54] nezihyigitbasi commented on #5703
Created a PR. I think some of the s3 filesystem properties documented in #5701 (which are all in hive security docs)  can be moved to the new section that this PR adds. /cc @electrum

[2016-07-21 17:55] cberner commented on #5671
@erichwang can you take a look? @fiedukow believes this is an issue introduced by 8c43eb4. See discussion in https://github.com/prestodb/presto/pull/5717

[2016-07-21 17:59] fiedukow commented on #5671
Just to clarify: Not really introduced by 8c43eb4, but the `PredicatePushDown` and `UnaliasSymbolReferences` together are causing troubles AFAIU.

[2016-07-21 18:00] cawallin commented on #4894
The Cassandra connector for Presto uses CQL if you are selecting less than cassandra.limit-for-partition-key-select partition keys (by default 200), but if you are selecting more than that, it uses Thrift to figure out how data is partitioned on Cassandra.

I'm going to close this issue.

[2016-07-21 18:00] #4894 closed

[2016-07-21 18:52] tzach commented on #4894
@cawallin Thanks for clarifying this

[2016-07-21 20:20] cberner opened #5732 "SignatureBinder does not handle literal parameters correctly when coercions are allowed"
Changing `EQUAL(varchar(x),varchar(y))` to `EQUAL(varchar(x),varchar(x))` should not break any tests as there's a coercion from `varchar(x) -> varchar(y)` for x < y. However, it causes many things to break because `SignatureBinder` has a special code path for types where the base name matches, which does not handle coercions:

[code]

[2016-07-21 20:23] cberner commented on #5671
I attempted another fix by changing `EQUAL(varchar(x), varchar(y))` to `EQUAL(varchar(x), varchar(x))`, however this did not work due to https://github.com/prestodb/presto/issues/5732.

I think this leaves us with the only option being to fix the constant folding to account for types, or a more extensive fix of the type system

[2016-07-21 20:28] fiedukow commented on #5671
You can change it to `EQUAL(varchar, varchar)`, it's step back, but should work.
Also I think `EQUAL(varchar(x), varchar(x))` wouldn't fix this issue anyway, it will just change breaking cases I believe.

[2016-07-21 20:30] fiedukow commented on #5732
I will fix that tomorrow.

[2016-07-21 20:30] cberner commented on #5671
I see. I can try that. I had expected `EQUAL(varchar(x), varchar(x))` to fix it as that should have forced a coercion to be added, so that `x = 'a'` (with x is a `varchar`) should become `EQUAL(x, CAST('a' as varchar))` and it would preserve the assumption that the optimizer is making (that equality is only defined for arguments which are the same type)

[2016-07-21 20:38] fiedukow commented on #5671
Oh yes, you're right `EQUAL(varchar(x), varchar(x))` should work, there was a flaw in my thinking.

[2016-07-22 03:17] linqerli opened #5734 "“delete” will failed “select”"
https://groups.google.com/forum/#!topic/presto-users/V5oB6CXVB7A

I see Even if hive deletes the hdfs files a day later, “Select” will still failed in presto . because presto will call hive metastore many times to get partitions name or object during the process of execution and analysis of a "select" sql;
1. SQL1: "Select \* from A " start running , and get all partition names (p1,p2,p3...p10) fr

[2016-07-22 07:34] pnowojski opened #5735 "OperatorContext is not ThreadSafe"
Contrary to the misleading `@ThreadSafe` annotation and usage of `AtomicLong` everywhere in it `OperatorContext` is not ThreadSafe. I have stumbled on it while implementing some things related to spilling https://github.com/prestodb/presto/pull/5142 and revocable memory https://github.com/prestodb/presto/pull/5711

There is at least problem with `setMemoryReservation`, `trySetMemoryReservation` me

[2016-07-22 07:45] lijunyong commented on #5353
Do you know the reason for this problem

[2016-07-22 08:06] wyukawa commented on #5353
I don't know

[2016-07-22 19:32] rschlussel commented on #4908
I'm planning to work on this.  I'll do something similar to how intersect.

[2016-07-22 20:08] petroav commented on #4908
Don't forget to update the roadmap wiki.

[2016-07-23 13:02] miniway commented on #5721
please try creating special collection `_schema` and setting table definition based on https://prestodb.io/docs/current/connector/mongodb.html#table-definition-label

[2016-07-23 13:33] miniway commented on #5451
I see, I'll take care of it.

[2016-07-23 17:19] flolas opened #5742 "How to create custom connector?"
Hi,

I was wondering how can I register new connectors to presto(need support for greenplum)

Thanks

[2016-07-23 17:23] #5742 closed

[2016-07-25 18:08] cawallin commented on #4778
Fixed in https://github.com/prestodb/presto/pull/4779

[2016-07-25 18:08] #4778 closed

[2016-07-25 18:15] cawallin commented on #4246
Closing this, it's not an issue.

[2016-07-25 18:15] #4246 closed

[2016-07-25 18:30] rschlussel commented on #3859
Fixed by https://github.com/prestodb/presto/pull/5319

[2016-07-25 18:30] #3859 closed

[2016-07-25 20:20] cawallin commented on #5579
This issue is a duplicate of https://github.com/prestodb/presto/issues/4218

[2016-07-25 20:20] #5579 closed

[2016-07-25 20:43] rschlussel commented on #4908
It's on the wiki, but I'll mark it done once it's complete.  Thanks for the reminder!

[2016-07-26 11:44] ArturGajowy opened #5752 "PostgreSQL connector: ERROR: stack depth limit exceeded"
The `TestPostgreSqlDistributedQueries#testLargeIn` test for PostgreSQL connector is failing,  since 0.149 or ealier.

The error was not caught by the CI build because of `TestPostgreSqlDistributedQueries.java` being excluded in postgresql connector pom (which maybe is another issue?).

I am going to disable this test with a link to this issue, so that people don't need to re-verify this failure ag

[2016-07-26 18:36] electrum commented on #5752
What platform does this fail on?

[2016-07-26 20:08] ArturGajowy commented on #5752
OS X and Ubuntu

[2016-07-26 21:26] electrum commented on #5752
That's weird, because it works on our CI.

[2016-07-26 22:13] ArturGajowy commented on #5752
You mean travis? Or FB internal? Does the CI somehow override the following lines in the connector's pom?

[code]

[2016-07-27 02:41] linqerli commented on #5734
is there any one deal with this bug

[2016-07-27 10:02] sd4324530 opened #5757 "how use presto-parser"
I want to know how many tables in sql
or how many columns in query sql

[2016-07-27 15:04] cawallin commented on #5757
It's a little unclear what your issue is. Are you trying to run a SQL query? Or are you writing a custom plugin and want to use the presto-parser module?

[2016-07-27 15:49] KBP-TDC commented on #5663
@zhuqunzhou Is it possible that your cluster has few nodes / resources and when time comes to schedule a split, there are no nodes available that have it locally?
CC: @cberner @dain

[2016-07-27 18:05] dain commented on #5757
The presto parser can not tell you the number of tables and columns in a query, since it only validates the syntax.  For example,  in `SELECT * FROM T` you don't know the columns, and then you have more complex stuff like `SELECT foo FROM (SELECT * FROM T)`.  The easiest and best way to determine this information is to run the full analyzer and planner.  For an example of this take a look at this

[2016-07-27 18:05] #5757 closed

[2016-07-27 18:06] dain commented on #5663
This exception is thrown from a few different code paths.  Can you post a stack trace?

[2016-07-27 18:32] nezihyigitbasi commented on #4914
I don't think we need this anymore (since we got #5667 in), so closing.

[2016-07-27 18:32] #4914 closed

[2016-07-27 19:36] cawallin opened #5759 "Prepared statements and session properties run into HTTP request buffer size limits"
Prepared statement variables/replacements and session properties, among other things, are sent in the HTTP request headers. However, the default Jetty HTTP request buffer size is 4096 bytes, so you can easily run into issues if you are substituting long varchars into prepared statements, or if you set a particularly long session property.

I can see a couple of options:
1. Configure the request bu

[2016-07-27 20:06] ArturGajowy commented on #2342
I think the latter (.gitattributes) would be a better solution. @electrum WDYT?

[2016-07-27 20:43] dain commented on #5759
For session properties, I think 4kB is a reasonable limit, but for prepared statements, I would expect that even 64kB is way to small.  As for the specific changes:

1) I'm not sure what the impact would be on Jetty.
2) Most likely the right approach for prepared statements.
3) I don't think that making the Presto server stateful is a good idea.

[2016-07-28 02:32] miniway commented on #5699
It seems to be duplicated with #5740

[2016-07-28 17:15] jefimm opened #5762 "Raptor - connection leak"
When using MySQL as backend there is a connection leak:

[code]
I guess that the following code from ShardIterator.java should be catching Exception not SqlException
[code]

[2016-07-28 19:13] raghavsethi commented on #3232
Unassigning since it's not clear when and how we will do this, given that a ton of projections can throw.

[2016-07-28 19:47] adamjshook opened #5764 "Support predicate pushdown for array intersection"
The Accumulo connector heavily relies on predicate pushdowns to provide fast query times.  I have a new use case with a predicate that is essentially 'are any of these given values in this array-type column'.  While `WHERE cardinality(array_intersect(ARRAY ['a','b','c'], my_array)) > 0` works, I'd like to investigate adding an operator to Presto that can push the predicate values down to the conne

[2016-07-29 15:34] rschlussel commented on #3922
I'm looking into this.

[2016-07-29 16:01] martint commented on #3922
This has already ven fixed: https://github.com/prestodb/presto/pull/4998

[2016-07-29 16:12] rschlussel commented on #3922
didn't realize.  Closing this then.

[2016-07-29 16:12] #3922 closed

[2016-07-29 17:13] maciejgrzybek commented on #5722
Are you trying to build on Windows maybe? If yes, this could be a known issue. Some similar discussion from a few days ago: https://github.com/prestodb/presto-jdbc-java6/issues/15

[2016-07-29 18:14] maciejgrzybek commented on #1848
`skip.header.line.count` is available from metastore. Record cursor will have to skip lines according to that property. Some changes in `BackgroundHiveSplitLoader` and `ColumnarTextHiveRecordCursor` will be necessary.

[2016-07-29 18:42] #3621 closed

[2016-07-31 00:08] dain opened #5774 "Add support for EXPLAIN CREATE TABLE"
The explain plan for create table simply prints `CREATE TABLE foo`

[2016-07-31 00:19] #5774 closed

[2016-07-31 00:27] dain commented on #5774
This actually works correctly.  I was thinking about a `CREATE TABLE AS` instead.

[2016-08-01 11:27] pnowojski opened #5775 "Integer to Decimal casts fails with large scale"
[code]

Issue is caused by this code:

[code]

when `pow(10, i)` exceeds `Long.MAX_VALUE`

CC @sopel39

[2016-08-01 13:59] surendraGaddam99 opened #5777 "Queries taking more time to execute in Airpal"
Hi,

I am trying to run sql queries in Airpal editor connecting to Presto Server 0.77  using oracle connector .
Here sql queries are getting executed and able to see the results .But issue is it is taking more time to execute the queries  upto 40 secs to 1 minute . After debugging found that presto taking more time in planning stage . How to overcome this issue so that queries executes faster for

[2016-08-01 14:08] cawallin commented on #5777
Presto is now at version 0.151, 0.77 was released ages ago. I'd suggest upgrading to a more recent version of Presto for better performance.

[2016-08-01 20:13] nezihyigitbasi opened #5779 "Performance degradation for a specific query from 0.139 to 0.149"
I am seeing a performance degradation of 10-15% for a limit query when I test `0.149` against  `0.139`. There are a few differences in the plans produced by these versions. I see that the plan in `0.149` has two additional project operators in stage 0 and 1 applying the same projection while `0.139` don't have those. Also I see that the filter expressions differ quite a bit, but not sure whether t

[2016-08-02 07:25] surendraGaddam99 commented on #5777
My Airpal source code is using 0.77 versions of presto  i.e presto-client-0.77.jar , presto-main-0.77.jar ,presto-parser-0.77.jar,presto-spi-0.77.jar  for Airpal to build .
So if i try to use latest version of presto 0.150 to build Airpal source code then i am getting compilation errors.
As Airpal code is tested on Presto versions 0.77 and 0.87 i am using presto-server-0.77 .

[2016-08-02 12:56] bigdatasunil commented on #4209
can anyone tell me how to fix this issue?

[2016-08-02 13:53] cawallin commented on #5777
Do you need to use Airpal? I'd suggest using some other tool to run queries, either the CLI or some thing else (e.g. SQuirreL is free and uses the jdbc driver), it's better to use a more recent version of Presto.

[2016-08-02 14:16] surendraGaddam99 commented on #5777
Thanks cawallin for reply.

I am doing poc on Airpal tool . Queries executing faster for mysql connector with presto version 0.77 ,0.87  .But only problem is for oracle connector i am facing slowness issue for query execution taking 60 sec to execute single query.So just want to know whether its problem with oracle connector not supported for lower versions of pretso ?

[2016-08-02 14:49] petroav commented on #4209
@bigdatasunil it looks like this bug was fixed a while back so if you're running the latest Presto version you shouldn't see it. If you are running into it then open a new issue with a simple reproducible case.

[2016-08-02 18:06] surendraGaddam99 commented on #5777
Presto CLI for oracle connector also taking more time to execute queries i.e 40 to 60 secs. From server logs i can see that presto server taking more time during planning stage.

[2016-08-03 07:19] miniway commented on #5699
#5740 doesn't seem to support hiding restricted catalogs. So this change could add one cent on the top of catalog access control

[2016-08-04 06:19] stagraqubole commented on #2678
Following the existing logic, queries will convert from
[code]
to
[code]

But this wont work for functions like avg
[code]
to
[code]

Supporting this would require adding ability in AggregationOperators to handle some aggregations in Intermedite state and some in partial state in same operator.

Instead, following this kind of converion (inspired by sparkSQL plan):
[code]
to
[code]

This does requ

[2016-08-04 12:01] surendraGaddam99 opened #5790 "Presto is slower for oracle connector"
Hi,

I tried to  execute sql queries on presto server using oracle connector but they are taking more time i.e 40 to 50 secs for query execution.

My observations on presto-cli 0.77 using presto server 0.77 with oracle connector
Query execution time observed on Presto CLI is 40 to 50 secs.

My observations on presto-cli 0.147 using presto server 0.147 with oracle connector
Query execution time obs

[2016-08-04 12:07] surendraGaddam99 commented on #5777
Hi cawallin,

As per below observations its the problem with presto server not with Airpal tool.
I tried to compare time for query execution on presto CLI connected to oracle connector.

My observations on presto-cli 0.77 using presto server 0.77 with oracle connector
Query execution time observed on Presto CLI is 40 to 50 secs.

My observations on presto-cli 0.147 using presto server 0.147 with o

[2016-08-04 15:17] cawallin commented on #5777
You need to file an issue with the oracle connector, it's a separate github project (https://github.com/marcelopaesrech/presto-oracle)

[2016-08-04 15:17] #5777 closed

[2016-08-04 15:17] cawallin commented on #5790
You need to file an issue with that github project, then. I'm going to close this issue.

[2016-08-04 15:17] #5790 closed

[2016-08-04 18:30] martint opened #5792 "Java 9 support"
This is an umbrella issue to track the changes needed to be able to run Presto on Java 9:

- [x] https://github.com/prestodb/presto/pull/5789
- [x] https://github.com/airlift/airlift/pull/438
- [x] https://github.com/airlift/airlift/pull/437
- [x] https://github.com/dain/leveldb/pull/70
- [x] https://github.com/airlift/airlift/pull/439
- [x] https://github.com/airlift/discovery/pull/39
- [x] Updat

[2016-08-04 22:12] maciejgrzybek commented on #1195
Since #4412 is merged and #5414 is pending, I think this issue can be closed because discussion starting 1.5 year back may be outdated and partially irrelevant. Feel free to start a new issue if something's wrong or is missing in current implementation.

[2016-08-04 22:30] #5671 closed

[2016-08-05 01:03] martint commented on #5792
Presto master now can run on Java 9. Closing.

[2016-08-05 01:03] #5792 closed

[2016-08-05 05:31] electrum opened #5797 "Fix SHOW CREATE TABLE for Raptor"
`RaptorMetadata.getTableMetadata()` does not include table properties, so`SHOW CREATE TABLE` does not include them.

We want to make as few database calls as possible. These are the properties we need:

* `ordering`: could be added to `TableColumn`
* `temporal_column`: could be added to `TableColumn`
* `bucket_count`: already in `RaptorTableHandle`
* `bucketed_on`: could be added to `TableColumn`

[2016-08-05 05:34] electrum commented on #5797
This change should include tests in `TestRaptorIntegrationSmokeTest`. See `TestHiveIntegrationSmokeTest.testShowCreateTable()` for an example.

[2016-08-05 08:25] kokosing opened #5798 "Aggregation on double column may return nondeterministic results"
Let:

[code]
then the below query returns 0 or 1 depending on internal query tasks execution order. While `0` is an incorrect result for below query.

[code]

IMO it could be acceptable that aggregation on double can have slight result error, but non deterministic error for the same query on the same input is unacceptable.

Solving this issue will make TPC-H query 15 to pass.

My intuition tells t

[2016-08-05 08:27] kokosing commented on #5798
Here is a reproduction test:
https://github.com/Teradata/presto/commits/feature_double_aggregation_bug ,
https://github.com/Teradata/presto/commit/17c6cd82ea52539a994e810046e65f477ec71b7c

[2016-08-05 09:31] anupash147 commented on #974
Can someone help me resolve this issue

java.lang.IllegalArgumentException: java.net.UnknownHostException: nameservice1
	at org.apache.hadoop.security.SecurityUtil.buildTokenService(SecurityUtil.java:378)
	at org.apache.hadoop.hdfs.NameNodeProxies.createNonHAProxy(NameNodeProxies.java:310)
	at org.apache.hadoop.hdfs.NameNodeProxies.createProxy(NameNodeProxies.java:176)
	at org.apache.hadoop.hdfs.D

[2016-08-05 16:05] cberner opened #5800 "Comparison operators should operate only on a single type T"
Currently you can define comparison operators like: `EQUAL(T,U)` for example, `EQUAL(bigint, double`. This creates a number of problems, such as it breaks constant folding, since "equals" is no longer the same as "interchangable". Also, it doesn't really make sense from a type theory perspective, where there should be a "equatable" type class that defines a `EQUAL(T,T)` method.
1) we should change

[2016-08-05 17:19] maciejgrzybek opened #5801 "first_value and last_value do not support ignore nulls and respect nulls"
[code]

Should return two rows with value `2` but fails on parsing instead:

[code]

If removed `ignore nulls` it falls to default of `respect nulls`.

Standard says (4.16.3 of ISO/IEC 9075-2:2011(E)):

[code]

Additionally, section 6.10 of the same document specifies syntax as follows:

[code]

[2016-08-05 17:35] dain commented on #5798
The Presto engine can decide to divide up the rows into an arbitrary number of segments, independently aggregate these and then independently aggregate the results.  This is for a number of reasons, like increasing parallelism for a query to reduce wall time, or reducing parallelism to reduce resource usage by a query (a.k.a., to prioritize another query).  Additionally, we may add additional leve

[2016-08-05 17:38] nezihyigitbasi opened #5802 "java.lang.VerifyError with a query"
Below query fails with a `java.lang.VerifyError: Bad type on operand stack` with master build (9db10aa)
[code]

[2016-08-05 18:01] maciejgrzybek commented on #5593
@martint: gently reminder

[2016-08-05 22:44] nezihyigitbasi commented on #5514
This can be closed as both #5538 and #5537 are merged.

[2016-08-05 22:44] #5514 closed

[2016-08-05 22:53] nezihyigitbasi opened #5807 "Exception inserting a record of type row(integer)"
[code]

[This](https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/sql/analyzer/StatementAnalyzer.java#L904-L906) part of the analyzer code smells bad to me, @martint any ideas?

[2016-08-06 00:56] geraint0923 commented on #5807
I think the problem is that in `(row(2))` the outer parentheses is considered to change the evaluate priority and ignored when evaluating type. So your query is actually like:
``insert into row_test values row(2)``
and `row(2)` will seem as `(2)` which represents a row of data but a data type row just like
`insert into some_table values (1,2,3)`  where `some_table(a integer, b integer, c integer)`

[2016-08-06 19:34] dabaitu commented on #1704
hi @cberner - I'm running 0.151 and have configured G1 collector but I'm still seeing this error.

[2016-08-08 03:16] linqerli commented on #4413
do you have a plan to develop this feature

[2016-08-08 04:35] martint commented on #4413
Yes, we're currently working on it.

[2016-08-08 10:05] kokosing commented on #5798
Ok, sounds good to me.

@dain Thanks for such detailed explanation.

[2016-08-08 10:05] #5798 closed

[2016-08-08 14:47] sopel39 commented on #5800
I think that the `CHAR` type case shows that `op(char(x), char(x))` operators are not enough. If we want to account for char lengths, then `op(char(x), char(y))` are required. Maybe we should separate meaning of "equal" and "interchangeable". Two values might be logically equal but not strictly equal (e.g: not interchangeable).

Maybe we should add `isEquivalent(Type A, Type B)` method to `TypeReg

[2016-08-08 14:55] sopel39 commented on #5800
Another issue is: https://github.com/prestodb/presto/pull/5501/files/88ccad2c435599edf5b35542f89a88c7da11d4d5#r73861850. I think that `equalTo` from `Type` class is misused in JOIN case. I think that ideally type comparison semantic should be pluggable in `TypeRegistry` and moved out of SPI. However I think it might be extremely difficult to do. However, block versions of `equalTo` and `compareTo`

[2016-08-08 15:04] maciejgrzybek opened #5812 "[product tests] Default configuration for IntelliJ does not start Presto"
Run configuration for Presto in IntelliJ described here: https://github.com/prestodb/presto/blob/master/presto-product-tests/README.md does not start Presto correctly:
[code]

[2016-08-08 15:56] cberner commented on #1704
There are many reasons that might happen. Could you provide more details about your setup? Like available network bandwidth, amount of memory on workers, heap size on workers, setting for `query.max-memory` and `query.max-memory-per-node`? Also, if you enable GC logging, do you see any full GCs happening on the workers?

[2016-08-08 16:38] cberner commented on #5800
One issue with introducing an "interchangable" operator is deciding when to use it. For example, given x is `varchar(1)`, y is `varchar(2)` and `x = y`. Should it resolve to `EQUAL(x, y)` or `INTERCHANGABLE(CAST(x as varchar(2)), y)`.

I'm going to look through the SQL spec to see if it addresses this issue of comparison. If one of you could as well, that would be great!

[2016-08-08 16:50] nezihyigitbasi commented on #5807
@geraint0923 thanks for the explanation. The double row call works with a cast `insert into row_test values row(cast(row(2) as row(A integer)));`.

But, is it just a confusion or is it a bug? `row` is interpreted differently within a `values`:

[code]

[2016-08-08 16:50] nezihyigitbasi commented on #5779
@dain @martint any ideas?

[2016-08-08 18:24] sopel39 commented on #5800
From my understanding of CHAR case, `EQUAL(x, y)` should be used. Otherwise you loose length information and cannot between distinguish `CHARs` with different lengths.

So do you think that introducing such `strictEquals(x,y)/INTERCHANGABLE(x,y)` is a good way forward? We would be happy to work on that since this involves a lot of our code base.

[2016-08-08 19:02] maciejgrzybek commented on #1457
Closing since a lot has changed in terms of Kerberos support since then.
More details on Kerberos configuration for Hive connector: https://prestodb.io/docs/current/connector/hive-security.html in _Kerberos Support_ section.

[2016-08-08 19:02] #1457 closed

[2016-08-08 19:07] maciejgrzybek opened #5815 "Add an alias for DOUBLE PRECISION"
`DOUBLE PRECISION` should be an alias for `DOUBLE` since SQL spec defines `DOUBLE PRECISION` type, not `DOUBLE` solely.

[2016-08-08 19:39] geraint0923 commented on #5807
@nezihyigitbasi I agree with you that it is a little confusing. But I think it is intentional. When we are using `values`, we are actually trying to create an inline table which might has more than one columns. So we need to have a way to specify a row with multiple columns in a table, here we choose to use `row`.so in `values`, non-`row` and outer `row` will be regarded as a row of data in a tabl

[2016-08-08 20:46] cberner commented on #5320
@sopel39 I spent a while discussing this with @martint, @dain, and @electrum. There seem to be a variety of issues that make this hard to implement the semantics around padding and coercions. Could you schedule a meeting with us to discuss how this will work?

[2016-08-08 20:51] sopel39 commented on #5320
What earliest time tomorrow suites you? I would also like @fiedukow to join.

[2016-08-08 21:26] electrum opened #5817 "Implement CREATE / DROP / RENAME SCHEMA"
I have this mostly complete. I'm creating this issue so no one else duplicates the work.

[2016-08-08 22:17] sunchao commented on #2050
Just asking: what is the status for this issue? Is there a PR we can look at? cc @dilipkasana @cberner

[2016-08-08 22:33] dain commented on #5779
Looking at the query plans I would expect the plans to be the sam speed.  The 149 plan has a better filter clause (eliminating the duplicate expressions on application_type), but it has extra 2 projections.  In both cases, I would expect the extra work to account for near zero CPU usage.  In 149 you can run EXPLAIN ANALYZE, and that should show the CPU usage for the extra projections.  If the usag

[2016-08-09 00:48] electrum opened #5819 "Document date function which is the same as casting to a date"
`date(x)` = `CAST(x AS date)`

[2016-08-09 00:55] erichwang opened #5820 "AbstractTypedJacksonModule does not correctly serialize handles with Collections of any interface"
For example, if you create a ConnectorTableLayoutHandle with a List<LocalProperty> in the handle, Jackson fails to include the "@type" field during serialization.

However, if you create another class to wrapper the List<LocalProperty> in the handle, then the serialization works perfectly.

Sample exception in Presto from the above example:
java.lang.IllegalArgumentException: Unable to create clas

[2016-08-09 00:58] haozhun opened #5821 "Transaction-ish delete/insert in S3"
On S3, Presto can insert into Hive table/partition without moving files around. #5818 introduces support for transaction-ish delete followed by insert. I want to understand 2 things:
- How Hive does INSERT INTO or INSERT OVERWRITE on S3?
  - I tried to read about how Hive does it. It appears like Hive always create temporary directories on S3. But I could very well understood it wrong. I believe y

[2016-08-09 10:53] sopel39 commented on #5320
@cberner @martint How about meeting at 8AM tomorrow (10th August)? Would that suite you?