[2019-10-16 18:48] hellium01 commented on #13360
#13499 merged, we should expand only if sequence produces small blocks:
[code]

[2019-10-16 19:04] bhhari opened #13559 "Fix testBytes in TupleDomainFilter"
the current comparison for testBytes in ByteRange is not right, if its single value it returns true if it just matches the length and the first char. The return should be moved out of the forloop

[2019-10-16 19:51] rongrong commented on #8200
I agree. But again, supporting more join types is a separate topic from the example you gave, which is more related to improving UNNEST performance. Both are valid issues. Do you want to work on these?

[2019-10-16 20:34] thammuio opened #13563 "Company or Vendor that provide Enterprise Support for Presto?"
Is there any Vendor or Company that provides enterprise support for Presto?

[2019-10-16 21:21] bhhari opened #13564 "Fix compareRanges in ByteArrayUtils"
compareRanges method incorrectly uses long comparison when there are not enough bytes (< 8 bytes)
if the size of a byte array is 10, the comparison can be optimized by comparing a long and 2 byte comparisons, but the current logic tires to use 2 long comparisons which results in incorrect value.

[2019-10-16 21:55] findepi commented on #13563
The information about available Enterprise support options was obliterated from project website in https://github.com/prestodb/prestodb.github.io/pull/39/files.
So I recommend you check out the prestosql website for enterprise support options: https://prestosql.io/resources.html#support

[2019-10-16 21:55] #13563 closed

[2019-10-17 00:05] cemcayiroglu commented on #13553
https://github.com/prestodb/presto/pull/13567

[2019-10-17 02:37] JooyoungJeong opened #13568 "hive connector UnknownHostException - (remote hive and hdfs)"
Hi.

I used hive connector sucess
I have successfully connected to the hive on the remote using the hive connector.
I get a table using presto query.
But when I select the table it turns out that I can't find hdfs like this

[code]

[code]
[code]

I think hive-metastore is set to the url to get the table information, but hdfs-namenode-proxy is the service address in the cluster.
Is there a way to

[2019-10-17 06:16] cemcayiroglu commented on #13383
could you more details about your use case? CPU usage is very general term.

[2019-10-17 06:43] cemcayiroglu commented on #13390
Could you provide some samples?

[2019-10-17 06:46] cemcayiroglu commented on #13316
Fix: https://github.com/prestodb/presto/pull/13570

[2019-10-17 12:16] rajeshd3v commented on #13547
i had mongodb version 4+ and then after scratching my head for the two days i downgraded mongodb version to 3.4. Eureka ! now i'm leaving early from my office.

[2019-10-17 16:52] vijaymann commented on #13563
[That page ](https://prestosql.io/resources.html#support) needs editing/overhaul - [Qubole ](https://www.qubole.com/developers/presto-on-qubole/) offers enterprise support for a managed Presto offering across AWS, Azure and GCP.

[2019-10-18 03:22] kirachen1991 opened #13572 "how can I connect to elasticsearch with searchguard"
I had already set the configuration of presto and elasticsearch.
but when I use presto to search，it show me this warning
【java.lang.RuntimeException: ElasticsearchSecurityException[No user found for indices:admin/shards/search_shards]】

[2019-10-18 20:53] wenleix commented on #12835
Resolved by https://github.com/prestodb/presto/pull/13558

[2019-10-18 20:53] #12835 closed

[2019-10-18 21:38] DennisRutjes commented on #12955
even the standalone hive metastore needs Hadoop specific environment variables/jars, maybe implement the Presto Thrift connector to communicate to S3? I will give it a go :-)

[2019-10-19 00:27] y1275963 commented on #13383
would like to get assigned. can you assign to me

[2019-10-19 05:36] ebyhr opened #13576 "CLI version >= 321 failed to get result from old cluster"
Sorry... I posted in wrong place..

[2019-10-19 05:37] #13576 closed

[2019-10-19 06:23] jlfsdtc commented on #13383
@cemcayiroglu For example:  CPU cores number,and CPU usage

[2019-10-20 06:12] highker commented on #12828
- Move `TranslateExpression` to above addExchange (PR #13521)

[2019-10-20 07:07] #13400 closed

[2019-10-20 07:08] highker commented on #12745
resolved

[2019-10-20 07:08] #12745 closed

[2019-10-20 07:12] highker commented on #12829
The method now got moved to `RowExpressionInterpreter::tryHandleCast`. But still needs clean up.

[2019-10-20 07:14] highker commented on #9859
This is using old hive writer. Use optimized ORC writer instead.

[2019-10-20 07:14] #9859 closed

[2019-10-20 09:14] #12279 closed

[2019-10-20 09:39] Xwanchai commented on #13355
- [0]

[2019-10-21 03:39] wangyeweikuer opened #13577 "Can we get the statistical information of total splits processed of a query from the class 'QueryInfo'"
Hi:

We have run lots of queries on Presto, and in our scenario, we realized that reading numerous splits from HDFS or OSS(provided by Alibaba Cloud) was the most important part of performance, so we would like to trace and record the number of splits of the queries for following optimization.

But so far, I haven't found any available methods to fetch the number of splits in the class of 'QueryIn

[2019-10-21 13:08] tooptoop4 opened #13580 "VerifyException when running ANALYZE"
analyze  hive.a.b

ui log:
com.google.common.base.VerifyException: All computed statistics must be used
	at com.google.common.base.Verify.verify(Verify.java:123)
	at com.facebook.presto.hive.HiveMetadata.finishStatisticsCollection(HiveMetadata.java:1075)
	at com.facebook.presto.spi.connector.classloader.ClassLoaderSafeConnectorMetadata.finishStatisticsCollection(ClassLoaderSafeConnectorMetadata.ja

[2019-10-21 19:07] #9179 closed

[2019-10-21 19:20] tooptoop4 commented on #13580
@jessesleeping do you know if analyze was tested when one of partition columns is timestamp data type?

[2019-10-22 00:36] j-calvert opened #13583 "Add a Longest Common Prefix method"
I'm looking for a method
LONGEST_COMMON_PREFIX: ARRAY<STRING> --> STRING
that takes an array of strings and returns a single string such that every string in the array starts with the returned string and it's the longest such string.

My use case:  I have records that contain a field "file_paths" of type "Array<String>", which I want to use to find the deepest common parent directory.

I'd like th

[2019-10-22 05:47] highker opened #13585 "Remove NullableValue class"
`RowExpression` now is in SPI. It's time to replace `NullableValue` with `ConstantExpression`.

https://github.com/prestodb/presto/blob/3060c65a1812c6c8b0c2ab725b0184dbad67f0ed/presto-spi/src/main/java/com/facebook/presto/spi/predicate/NullableValue.java#L25

Need to evaluate the hash function difference
[code]

[2019-10-22 19:53] rongrong opened #13586 "Add warning about reserved words that should be introduced related SQL function"
#13581 removed some reserved words cause these could be backwards incompatible. We should introducing warning on this so we can change these to be reserved words in the future.

[2019-10-22 23:41] j-calvert commented on #13583
Never mind.  I found a SQL-based, inline solution that is close enough to exactly what I want (and can easily, with a subsequent select, yield exactly what I want).

[code]

[2019-10-22 23:41] #13583 closed

[2019-10-23 08:07] 2012215434 opened #13588 "The estimatedSize of PagesIndex may far away from the exactly size of PagesIndex"
Here is how the estimatedSize calculated in presto
[code]
[code]
But I find the value of Unsafe.ARRAY_OBJECT_INDEX_SCALE is always 4, so when we put objects in channels elements, it will be estimated 4 bytes no matter what it is.

So I am curious how presto take this way to estimate the data size and it works.

[2019-10-23 10:57] eLvErDe opened #13589 "Elasticsearch: java.lang.Long cannot be cast to java.lang.CharSequence when converting Timestamp"
Hello,

I'm getting this error on a fresh installation when trying to request most of ours Elasticsearch indexes.
The stack is:

[code]

Thanks in advance,

Regards,

[2019-10-23 13:40] findepi commented on #13589
@eLvErDe you're using Presto 322.
Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/community.html)

[2019-10-23 13:40] #13589 closed

[2019-10-23 16:20] #9158 closed

[2019-10-23 18:52] shixuan-fan commented on #12109
Closed via #12122

[2019-10-23 18:52] #12109 closed

[2019-10-23 18:53] #13212 closed

[2019-10-24 00:03] cemcayiroglu commented on #13585
https://github.com/prestodb/presto/pull/13596

[2019-10-24 00:12] #13316 closed

[2019-10-24 00:24] rongrong commented on #13585
Should we add a `@deprecated` first and wait for a few releases before actually removing this?

[2019-10-24 06:57] rdettai opened #13599 "Parquet metadata length in in hive catalog could increase HDFS/S3 read speed"
When reading a parquet file, you first need to read the footer and for this you need to read its length, that are the 4 bytes just before the final PAR1 magic number. This is done like this:

https://github.com/prestodb/presto/blob/947b5b90bbf8c4d66dcff5432cd9625c115e6918/presto-parquet/src/main/java/com/facebook/presto/parquet/reader/MetadataReader.java#L92

This incurs an extra network call to h

[2019-10-24 07:00] #13599 closed

[2019-10-24 16:38] #13327 closed

[2019-10-25 07:20] #9360 closed

[2019-10-25 09:05] highker opened #13605 "Migrate Expression to RowExpression above AddExchange"
This is a refactoring work from #12828. #13102 does not need `RowExpression` to be present for optimizers above `AddExchange`. So this is a good-to-have work.

[2019-10-25 09:06] #12828 closed

[2019-10-25 09:07] highker commented on #13102
The interface will be stable after #13504 gets merged. Connector now can optimize query plans by writing its own optimizer.

[2019-10-25 09:09] highker commented on #13102
Feature will be completely available since version 0.229

[2019-10-25 19:01] wenleix commented on #13605
Let's do this after https://github.com/prestodb/presto/pull/13441 get merged so we don't have painful rebase 😃

[2019-10-25 19:27] #8152 closed

[2019-10-25 19:41] wenleix commented on #12271
See discussions in https://github.com/prestodb/presto/pull/13597#pullrequestreview-307413463

[2019-10-27 22:22] #9192 closed

[2019-10-28 06:40] Yogaflre commented on #13456
**I have the same experience.**
Why not use "=" ?

[2019-10-29 08:29] bohyn commented on #13456
I guess "=" is nut used, because in Java SQL DatabaseMetaData, the getColumns method is defined in a way, that schema, table and column can be specified using "patterns": https://docs.oracle.com/javase/7/docs/api/java/sql/DatabaseMetaData.html#getColumns(java.lang.String,%20java.lang.String,%20java.lang.String,%20java.lang.String)

That means, partial match should be supported.

[2019-10-29 09:03] Yogaflre commented on #13456
Thanks for your explanation.
Do you have any ideas to solve the current problem?

[2019-10-29 10:10] fengfengaaa opened #13621 "i have some question for hive bucket table"
![image](https://user-images.githubusercontent.com/29369246/67757726-507e0880-fa77-11e9-8359-d60ff3f8bd41.png)
i want to read multi file per bucket and merge it

[2019-10-29 16:13] datavisorfrankhe opened #13622 "Questions for more nodes vs. single node"
Hello,
I am using EC2 to test presto and I really hope to see the difference between more nodes and one node, please see below output:

Query 20191029_160545_00014_bi7xd, FINISHED, 1 node
Splits: 49 total, 49 done (100.00%)
0:02 [1.62M rows, 0B] [688K rows/s, 0B/s]

Query 20191029_160842_00017_bi7xd, FINISHED, 2 nodes
Splits: 81 total, 81 done (100.00%)
0:02 [1.62M rows, 0B] [666K rows/s, 0B/s]

I

[2019-10-29 22:32] rongrong commented on #13622
Depending on the query shape you might or might not be able to benefit from more nodes. Without knowing your query shape and data pattern it's hard to say why you don't benefit from adding another machine.

[2019-10-30 04:15] datavisorfrankhe commented on #13622
select FLOOR(score*10), count(*) from mysql.data.detectedusers group by FLOOR(score*10);

Do you think group count can benefit from multi nodes?

[2019-10-30 04:41] highker opened #13624 "Raptor file descriptor leak between 0.220 and 0.224"
It is NOT introduced by these commits
[code]

[2019-10-30 07:07] highker opened #13626 "Open source row-level security filtering"
Row-level security has been running in Facebook for almost half a year based on framework in #13102. It is time to move it out to open source.

[2019-10-30 09:35] OmerJog commented on #11484
Any idea when it's planned to be fixed?

[2019-10-30 17:36] shixuan-fan commented on #13621
What do you mean by "merge it"?

Bucket number is a hive table property, and iirc each bucket would be one file in its partition directory. So I'm not sure I understand what you want to achieve.

[2019-10-30 17:51] wenleix commented on #13511
This is probably off-topic, but in a long term do we want to have `HudiConnector`  since I imagine its long term vision is to evolve as something similar to IceBerg to support better metadata management? Thanks!

[2019-10-30 17:56] davidrabinowitz opened #13628 "Time zone not supported: Asia/Qostanay"
When trying to compile the latest version I get the following error in presto-main:

[code]

Looking at presto-spi/src/main/resources/com/facebook/presto/spi/type/zone-index.properties I see that Asia/Qostanay is missing.

How can I add it?

[2019-10-30 18:03] mbasmanova commented on #13304
#13485 introduced config property `hive.nested-columns-filter-enabled` and session property `hive.nested-columns-filter-enabled`.

[2019-10-30 18:03] #13304 closed

[2019-10-30 18:05] mbasmanova commented on #13564
Fixed in #13565

[2019-10-30 18:05] #13564 closed

[2019-10-30 18:08] mbasmanova commented on #13529
This appears to be a duplicate of #13534

[2019-10-30 18:12] hellium01 opened #13629 "Add AuthenticationFilter to check principal of internal communications"
Today, we apply same `AuthenticationFilter` to internal/external communication. However, we don't check who is allowed to access the server. For external communications, this is controlled later by `AccessControlManager`.  However, it is very easy if someone obtained a valid certificate to send HTTPS request to internal communication end points and get sensitive informations.

We should use separa

[2019-10-30 18:13] hellium01 commented on #13629
Hi, @mayankgarg1990 , assign it to you first to find out who will be working on this item.

[2019-10-30 18:37] bhasudha commented on #13511
Thanks for the tip! Dint know about it.

[2019-10-30 18:38] bhasudha commented on #13511
@wenleix. Hudi already has a TimelineService that has features similar to Iceberg for better metadata management. We might have to support a seperate Presto Hudi connector down the line leveraging that and also supporting real time views. I am happy to create a seperate thread on this.

[2019-10-30 20:22] mbasmanova commented on #13559
Fixed in #13557

[2019-10-30 20:22] #13559 closed

[2019-10-30 20:41] #13533 closed

[2019-10-30 20:42] #13534 closed

[2019-10-30 20:43] #13539 closed

[2019-10-30 20:45] #13548 closed

[2019-10-30 20:47] #13520 closed

[2019-10-30 20:49] #13522 closed

[2019-10-30 20:52] #13510 closed

[2019-10-30 20:53] #13515 closed

[2019-10-30 20:54] #13514 closed

[2019-10-31 01:16] fengfengaaa commented on #13621
now multi file per bucket ,i want to query it. and query result is merged

[2019-10-31 01:24] shixuan-fan commented on #13621
I'm not entirely sure what you are trying to achieve. You might want to provide a high level goal and more context.

Could you provide the `SHOW CREATE TABLE` result for your table?

Right not per my understanding, your "bucket" is actually across multiple partitions given the layout of the screen shot. So they are actually different buckets: bucket 1 in partition 0606, bucket0 in partition 0609 a

[2019-10-31 01:36] fengfengaaa commented on #13621
this is presto show create table
![image](https://user-images.githubusercontent.com/29369246/67911524-ddcd7400-fbc1-11e9-997a-20aa0e990ec7.png)

[2019-10-31 15:53] #9211 closed

[2019-10-31 19:53] bharath0208 commented on #13380
@play-io What do you mean by keyspace is it the schema.

Also any idea on how we can implement our presto JDBC driver in the superset. We have modified the JDBC code and created our own presto driver.   I wanted to use this driver instead of the default one

[2019-10-31 20:59] shixuan-fan commented on #13628
This timezone is introduced in tzdata2018h according to https://www.oracle.com/technetwork/java/javase/tzdata-versions-138805.html. I'm not entirely sure  how it works though.

@rongrong Do you have some idea?

[2019-10-31 21:05] shixuan-fan commented on #13621
Ah interesting so your table is actually not partitioned, then I'm not sure why they are writing to different directories, but I guess it might be by intention. Why is there only 3 files when the table should have 4 buckets? Is the table written by Presto as well?

Also, you could just do copy paste and use markdown, it would be easier to check than a screenshot :)

[2019-10-31 23:49] #13254 closed

[2019-11-01 01:35] fengfengaaa commented on #13621
the table create by hive, We have our own design for the hive table，your means only create table by presto the multi file per bucket is Effective

[2019-11-01 03:38] highker commented on #13624
dup

[2019-11-01 03:38] #13624 closed

[2019-11-01 10:03] #4132 closed

[2019-11-01 16:59] shixuan-fan commented on #13621
Oh okay. I'm not sure I understand your statement but I'm only familiar with the settings where each bucket contains one file =/

[2019-11-01 19:40] DRavikanth commented on #7747
Hi, Do we have a resolution for this? We are evaluating Presto for some of our Analytics workloads and hitting this problem when inserting into postgres. Looks like there is no update on this for a long time now(~2 years). Supporting timestamp type is the most basic thing and I wonder why there was no fix till date for this.

[2019-11-01 20:55] jagill opened #13639 "GeometryToBingTiles fails on certain degenerate geometries"
It fails on geometries whose max longitude is -180 (or min latitude is MAX_LAT).  Example geom is `'LINESTRING (-180 -79.19245, -180 -79.17133464081945)'`.  It dies in getTileCoveringLowerRightCorner, because it tries to construct a bing tile with x=-1.

[2019-11-01 23:03] #9212 closed

[2019-11-02 06:19] #9216 closed

[2019-11-02 13:24] johnwhumphreys commented on #13287
Given that the presto project isn’t trying to solve supporting hive views within presto due to similar difficulties, it would be nice if this alternative was open sourced as a best-effort solution.  It wouldn’t be tied into presto and it would allow us to “try” to automatically convert most views into presto views for those of us in large companies with too much to manually migrate.  E.g. probably

[2019-11-03 06:55] #9228 closed

[2019-11-03 16:53] th3333 opened #13640 "why presto CLI requries keystore and password"
According to https://prestodb.github.io/docs/current/security/cli.html, when using presto CLI, it requires:

  --keystore-path /tmp/presto.jks \
  --keystore-password password \

The question is why a client needs to have the jks and password (which should be a secret on the presto server side, right?)

[2019-11-04 02:34] duyquangnguyenhac commented on #13355
Hi,
I'm backporting the commits but there's a lot of missing methods, and conflicts. I need some help, if it's not possible for someone to assist me, then it'd be better for this issue be assigned to someone else.

[2019-11-04 05:19] anuhewa opened #13641 "presto kerberos configuration"
Hi All ,

I am trying to config kerberos on presto cordinator
i am using company Active directory as kdc and not MIT kdc

My configuration as below
I have below user configured on KDC

I am getting below error
Kindly help

my presto config

[root@host1 etc]# cat config.properties
coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port=808x
query.max-memory=400GB
query.max-me

[2019-11-04 08:20] LiClass opened #13642 "presto ：Error fetching results"
Caused by: java.sql.SQLException: Error fetching results
at com.facebook.presto.jdbc.PrestoResultSet.next(PrestoResultSet.java:155)
at com.alibaba.druid.pool.DruidPooledResultSet.next(DruidPooledResultSet.java:69)
at org.springframework.jdbc.core.RowMapperResultSetExtractor.extractData(RowMapperResultSetExtractor.java:92)
at org.springframework.jdbc.core.RowMapperResultSetExtractor.extractData(Row

[2019-11-04 08:40] LiClass commented on #13642
#presto.version=presto-main:0.203
coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=9090
query.max-memory=500GB
discovery-server.enabled=true
discovery.uri=http://xxxxx:9090
exchange.http-client.request-timeout=50s
exchange.http-client.idle-timeout=2m
exchange.http-client.max-connections=1000
exchange.http-client.max-connections-per-server=1000
query.max-memory-per-no

[2019-11-04 09:25] LiClass commented on #13642
catalog is hive,coordinator=1,works=49

CPU: | 64
-- | --
memory: | 128 GB

[2019-11-04 10:01] ufoe opened #13643 "different between count(1) and count(*)"
what's the different between count(1) and count(*)

[2019-11-04 19:18] bendemott commented on #12911
@tooptoop4
Update - I've updated the oracle connector to Presto 0.225 and updated maven to build the extension as a stand-alone JAR for testing.
We're currently using 0.225 for testing at my organization - I'll update to the Presto latest soon, and then keep it updated from then on.
I'll create an "official" repo once it's stable.  My plan is to build tests and test automation next.
I'm actively w

[2019-11-04 19:23] rongrong commented on #13355
@duyquangnguyenhac I believe this is the commit you need to backport: https://github.com/prestosql/presto/pull/1124/commits/17d597660ad1eca49155ad6b2aebd5175d225965

Which methods are missing?

[2019-11-04 23:48] hellium01 opened #13648 "Lambda body is not optimized after RowExpression refactor"
Previously, we will run `ExpressionOptimizer` on `RowExpression`, which will do constant folding on in lambda body:
[code]
Commit: https://github.com/prestodb/presto/pull/13389/commits/98f05bfc12771b3ec2f59ca413f6497c456d28f3 has removed it.

As a result, queries like following become slower (since we now have to do the calculation every row):

[code]

[2019-11-05 19:36] duyquangnguyenhac commented on #13355
In general, there are slightly different implementations across prestosql and prestodb. I don't fully comprehend the usage of each method, so I'm not sure if I can make my own changes. I've been backporting the last three commits, since "Allow user and password passthrough in jdbc connector".  Particularly methods like "getConnectionUrl" or "setCaseInsenitiveNameMatchingCacheTtl" shown in the pict

[2019-11-05 21:27] #13639 closed

[2019-11-06 17:05] TheRevenantStar opened #13657 "Unable to query views in SQL Server"
When attempting to query the view dbo.Agent (typed as agent due to lowercasing), presto says the table does not exist. When asking presto to show all the tables, the table does exist.

Does presto not support views in MSSQL server?

[code]

[2019-11-06 17:11] TheRevenantStar commented on #13643
COUNT(1) is simply a scalar count expression, much like COUNT(TRUE), COUNT(1+1), etc...
COUNT(*) asks the aggregate to count all rows, regardless of values or columns.

There should not be a difference, but using COUNT(*) should be preferred as a handful of DB engines plan them differently and COUNT(*) is generally more optimized in some engines.

[2019-11-07 02:01] jiemar commented on #12905
hi, mbasmanova.
can your team provide instructions about  analyzing the statistics on the ui on the official documentation.
it could help developers a lot

[2019-11-07 06:50] Sahilthb opened #13663 "Not Concat the ISNULL"

[2019-11-07 10:11] imperio-wxm commented on #12905
hi @mbasmanova

I think the @jiemar  suggestion is very good.
It's best to have a metrics note that is useful for tuning in the presto process.
Some parameters we don't know the meaning.

[2019-11-07 11:00] shiyuneau opened #13664 "hive with kerberos error : Failed to list directory"
i'm new to presto , and presto version is 0.167 .
now i'm using presto to connect to hive with kerberos.
i can connect to hive ,use show tables and show schemas commands ,but when i use select command,it showd error :
**Failed to list directory: hdfs://nameservice1/user/hive/warehouse/ipall_iie.db/ip_core_library.**
but the user i used has the authorization to read the path of hdfs.
how can i solv

[2019-11-07 16:26] asantoz opened #13665 "Kafka Catalog - SSL connection"
Hi guys!

There is no SSL configuration for the available Kafka catalog plugin.
Digging the code I found that we are currently using a deprecated SimpleConsumer that seems doesn't support SSL credentials.

Does someone already have plans to make an upgrade on this?
Let me know what is your opinion about change this deprecated consumer to recent KafkaConsumer and any constraints are previously dete

[2019-11-07 17:15] ptkool opened #13667 "IS DISTINCT FROM returns incorrect result for decimal values with precision > 18"
The `IS DISTINCT FROM` predicate returns an incorrect result when comparing decimal values with precisions > 19.

[code]
Should return
[code]

[2019-11-07 22:49] jiegzhan commented on #8557
With EMR 5-21 (Presto 0.215), still got this issue: Query 20191107_222140_00006_rf89j failed: Hive table 'dev.wifi_logs' is corrupt. The number of files in the directory (256) does not match the declared bucket count (64) for partition: date_key=2019-11-05

Are there any configurations to ignore this check?

[2019-11-07 22:53] jiegzhan commented on #10301
With EMR 5-21 (Presto 0.215), still got this issue: Query 20191107_222140_00006_rf89j failed: Hive table 'dev.wifi_logs' is corrupt. The number of files in the directory (256) does not match the declared bucket count (64) for partition: date_key=2019-11-05

Are there any configurations to ignore this check?

[2019-11-07 23:01] jiegzhan opened #13669 "Hive connector: The number of files in the directory (256) does not match the declared bucket count (64) for partition: date_key=2019-11-05"
With EMR 5-21 (Presto 0.215), still got this issue: Query 20191107_222140_00006_rf89j failed: Hive table 'dev.wifi_logs' is corrupt. The number of files in the directory (256) does not match the declared bucket count (64) for partition: date_key=2019-11-05

Are there any configurations to ignore this check?

[2019-11-08 20:45] SwapnaRavi21 opened #13677 "Presto queries takes longer while running concurrently"
Running a large query as is takes 117 sec, when run concurrently  with other large reports it takes around 24 mins.

The more time it takes is stage 8 scheduling splits. what does this mean?

I am using Presto c5.9xlarge 10 cores, 10 task nodes
Attached my presto configs.

<img width="1054" alt="Screen+Shot+2019-11-07+at+4 47 40+PM" src="https://user-images.githubusercontent.com/57544011/68509354-

[2019-11-10 01:31] kant111 opened #13679 "unable to start prestodb with ES connector."
I followed the doc on setting up the prestodb with ES connector. I am unable to start. I get the following error

[code]

Here are my configs

`presto-server-0.228/etc/elasticsearch/es.json`

[code]
and

`presto-server-0.228/etc/catalog/elasticsearch.properties`

[code]

What is the default-schema? what does it mean in elasticsearch terms?

Also `"type"` field in the table definitions should be op

[2019-11-10 02:27] kant111 commented on #13679
Looks to me there are bunch of issues going on here.

1) If I remove `elasticsearch.default-schema=default` from `elasticsearch.properties` and add  `"schemaName": "default"` in `presto-server-0.228/etc/elasticsearch/es.json` although documentation says its optional it works. otherwise, it fails.
2) the columns list in `es.json` looks like it must be specified although documentation says it is opt

[2019-11-10 10:33] #9274 closed

[2019-11-11 02:49] kant111 commented on #13679
upgraded to presto-324. that fixed all my issues.

[2019-11-11 02:49] #13679 closed

[2019-11-11 13:34] shekarrreddy568 commented on #8980
Did anyone successfully make it working?? Can you share the code please.

[2019-11-11 20:25] duyquangnguyenhac commented on #13355
<img width="793" alt="Screen Shot 2019-11-11 at 3 09 53 PM" src="https://user-images.githubusercontent.com/52845974/68617575-8d91c400-0495-11ea-9be4-57b68a69a337.png">
<img width="924" alt="Screen Shot 2019-11-11 at 3 10 14 PM" src="https://user-images.githubusercontent.com/52845974/68617576-8d91c400-0495-11ea-89f8-3758028f6bee.png">

As you can see, in the MySQLClient, i'm having trouble implemen

[2019-11-12 09:24] youngyyy commented on #4360
@soulmachine do you solve the problem? I encountered the same problem recently

[2019-11-13 18:22] tooptoop4 opened #13693 "presto v1/jmx url can't be loaded on chrome due to jquery http:// reference"
https://github.com/airlift/airlift/blob/master/jmx-http/src/main/resources/io/airlift/jmx/mbeans.html#L57 refers to http url of jquery (http://code.jquery.com/jquery-1.5.2.js).

Using Chrome Version 77.0.3865.90 (Official Build) (32-bit)

See attachment
![presto_jquery_http](https://user-images.githubusercontent.com/33283496/68791972-5a406800-0642-11ea-9d5d-e18ed4be5ad7.png)

Blocked mixed content

[2019-11-13 19:38] gsarode39 opened #13694 "Cast conversion"
Does presto support array<array<string>>

I am constantly getting this error:

`class org.apache.parquet.io.PrimitiveColumnIO cannot be cast to class org.apache.parquet.io.GroupColumnIO (org.apache.parquet.io.PrimitiveColumnIO and org.apache.parquet.io.GroupColumnIO are in unnamed module of loader io.prestosql.server.PluginClassLoader`

This error does not specify which column the error is thrown

[2019-11-13 20:34] #9293 closed

[2019-11-13 23:42] rongrong commented on #13694
Presto supports array of array in general. The error seems to be from Parquet. @zhenxiao do you have some insights?

[2019-11-13 23:50] zhenxiao commented on #13694
Yep, this is from Parquet stack. Presto should be able to support array<array> for Parquet.
could you please share ur table definition, including the schema? And ur query? A full stack trace would also be helpful.
BTW, seems you are using prestosql. which might have some difference from prestodb. anyway, stacktrace from prestosql is also helpful.

[2019-11-14 02:43] SunHao1234 commented on #10550
Have you solved the problem?

[2019-11-14 02:56] SunHao1234 commented on #10644
When I use version 230, there is still a null pointer exception when connecting to MySQL

[2019-11-14 03:11] SunHao1234 commented on #10644
****

Have you solved the problem?

[2019-11-14 03:12] SunHao1234 opened #13701 "I am getting this in v0.220:"
I am getting this in v0.220:
2019-06-17T13:57:33.645Z        ERROR   20190617_135733_00068_wehgw.1.0-0-101   com.facebook.presto.operator.Driver     Error closing operator 0 for task 20190617_135733_00068_wehgw.1.0
java.lang.NullPointerException
        at com.mysql.jdbc.MysqlIO.clearInputStream(MysqlIO.java:899)
        at com.mysql.jdbc.RowDataDynamic.close(RowDataDynamic.java:172)
        at co

[2019-11-14 08:42] findepi commented on #13694
@gsarode39
Presto SQL releases are maintained at https://github.com/prestosql/presto. You should report an issue at https://github.com/prestosql/presto/issues/
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/community.html)

[2019-11-15 04:08] gaveezy opened #13707 "Adding support for MemSQL geography and related data type"
I have a memsql table with column like this

[code]

and presto can't regconize it. Should we support to get column values at least as string

[code]

[2019-11-15 17:33] sib19 opened #13708 "Presto uncompressed_page_size! Error"
I am using presto 0.223 version using hive connector to access underlying table stored in parquet format giving as below error. Please help and I tried hive.parquet.fail-on-corrupted-statistics =false in hive.properties but still select query gives as below error
failed: can not read class org.apache.parquet.format.PageHeader: Required field 'uncompressed_page_size' was not found in serialized dat

[2019-11-17 08:28] fornaix opened #13712 "Allow multiple type variables in window function"
I don't know why only one type variable is allowed in window function.
Sometimes it is really necessary to use more than one type variable.
So, I think it's better to let go of the restrictions.

[2019-11-17 08:41] fornaix commented on #13712
#13713

[2019-11-17 08:53] fornaix commented on #13712
I sent a PR towards this. #13713

[2019-11-17 13:29] #9325 closed

[2019-11-18 03:13] #9328 closed

[2019-11-18 10:23] JonNorman commented on #8200
Hi @rongrong - apologies for dropping this one. I would like to contribute, but am not able to do so at the moment. I'm keeping this on my list though so hope to be able to at some point.

Whilst I agree that they are two different issues, I think that they are closely related, and so I'd be most interested in expanding join support semantics. This is because I expect (perhaps naively!) that by al

[2019-11-19 00:50] wwyzxb commented on #13097
Add the params 'http-server.max-request-header-size=5MB' in config.properties on coordinator  solved my problem!

[2019-11-19 03:27] sudhanshuptl commented on #13308
Hey,
I have the same issue, does someone have any solution for this ?

[2019-11-19 16:07] #9332 closed

[2019-11-19 21:53] davidrabinowitz commented on #13628
The problem is that this time zone is missing from presto-spi/src/main/resources/com/facebook/presto/spi/type/zone-index.properties. The presto-spi/src/test/java/com/facebook/presto/spi/type/TestTimeZoneKey.java test should be fixed as well - fixing the hash at line https://github.com/prestodb/presto/blob/8ac4b8466a7db96d9941e27cecf7aaf64c85bfaf/presto-spi/src/test/java/com/facebook/presto/spi/typ

[2019-11-19 22:49] yingsu00 opened #13722 "Unnest generates large DictionaryBlock when converting ColumnarArray"
UnnestOperator converts the unnest column to ColumnarXXX objects. When the input of the unnest Block is a DictionaryBlock made of ArrayBlock, and each array has a lot of rows, and there are lots of repeating ids, toColumnarArray would generate large DictionaryBlock with ids array over millions of values. E.g. Input block is
DictionaryBlock of 300 rows:
ids: 300 rows: [0,0,2,62,62,62,...62,64,64,..

[2019-11-19 22:56] #13015 closed

[2019-11-19 22:58] mbasmanova commented on #13015
The new optimized repartitioning operator is available starting with 0.227 release of Presto. Use `optimized_repartitioning` session property or the `experimental.optimized-repartitioning` configuration property to opt-in.

https://prestodb.io/docs/current/release/release-0.227.html

[2019-11-20 01:25] mbasmanova commented on #13722
CC: @prestodb/aria

[2019-11-20 02:59] sunny19930321 opened #13724 "Add apache pinot catalog, presto unable to start"
I according to the document at the time of adding pinot connector, unable to start the presto (https://prestodb.io/docs/current/connector/pinot.html), because of less a configuration(pinot.controller-rest-service).
pinot.properties:
connector.name=pinot
pinot.controller-urls=pinot-controller:9000
pinot.controller-rest-service=pinot-controller:9000

[2019-11-20 05:27] #9250 closed

[2019-11-20 18:19] tooptoop4 commented on #11908
@rockxsj how do you pass the targetResultSize argument when using Presto JDBC or CLI ?

[2019-11-20 19:31] dinal opened #13728 "java.net.SocketTimeoutException: Read timed out when querying hive"
i'm using presto 0206 and i get read timeout when trying to query hive table, querying the same from hive cli works

presto:default> select hour from hive.default.passenger_demand limit 5;
Query 20191120_183710_00036_a5shx failed: 10.80.1.91: java.net.SocketTimeoutException: Read timed out
com.facebook.presto.spi.PrestoException: 10.80.1.91: java.net.SocketTimeoutException: Read timed out
	at com.

[2019-11-21 11:50] engomar2003 commented on #6666
I have tested it with partitioned and bucketed table, it works fine on condition that all buckets in each partition are filled

[2019-11-21 11:53] engomar2003 commented on #6666
create table employee(
id int,
name varchar(64),
age int
) PARTITIONED BY (country String)
clustered by (id) into 2 buckets stored as orc tblproperties('transactional'='true');

insert into employee partition(country='eg') values(1,'hfs',29),(2,'hive',28);

till now this works fine
but if I added one bucket in another partition. 'sa'
insert into employee partition(country='sa') values(3,'avro',32)

[2019-11-21 18:59] shixuan-fan commented on #13724
@agrawaldevesh (optional: @highker) Do you want to take a look?

[2019-11-21 19:01] shixuan-fan commented on #13728
Seems to be related to column stats. @arhimondr Do you want to take a look?

[2019-11-21 19:02] shixuan-fan commented on #13712
Would you mind sharing your use case?

[2019-11-21 19:35] agrawaldevesh commented on #13724
I will fix this.

[2019-11-21 20:07] agrawaldevesh commented on #13724
@sunny19930321

I think the official document https://prestodb.io/docs/current/connector/pinot.html does not make any reference to pinot.controller-rest-service. Please remove it from your pinot.properties file and retry.

(This is needed only in Uber's internal environment and that's why we haven't widely publicized it in the document)

[2019-11-22 00:03] allenexc commented on #12653
SELECT DISTINCT ON in Postgres lets you select entire rows, whereas max_by/min_by returns one result. I couldn't find a way to do this in Presto without creating a CTE.

See:
https://stackoverflow.com/questions/3800551/select-first-row-in-each-group-by-group/7630564#7630564
https://www.postgresql.org/docs/9.5/sql-select.html#SQL-DISTINCT

[2019-11-22 03:49] sunny19930321 commented on #13724
yes,  at first I did not configure pinot.controller-rest-service=pinot-controller:9000，launch presto server failed, and the log reported no  pinot.controller-rest-service. @agrawaldevesh
![image](https://user-images.githubusercontent.com/20608540/69396695-1d4d3300-0d1e-11ea-8e84-8e81b089060b.png)

[2019-11-22 03:52] sunny19930321 commented on #13724
I would like to ask presto connector pinot. When querying, will presto do a secondary merge after pinot aggregation querying?

[2019-11-22 04:07] agrawaldevesh commented on #13724
HI @sunny19930321 ... I am sorry about the issues you are facing. The attached PR would help. You can either apply it eagerly yourself or wait for it to be merged shortly.

As for your question on the aggregation question: The aggregation is pushed into the pinot broker and in effect this becomes a single split query: the split doing the entire aggregation, that is pushed into the broker. The brok

[2019-11-22 04:29] #9307 closed

[2019-11-22 04:34] sunny19930321 commented on #13724
yes,  I found that the following aggregation query 1 was converted to no-aggregation query 2,
the process is time-consuming.
query 1：
`SELECT
    SUM(netflow) /1024 /1024 /1024 /300 AS netflow,
    fdate AS timeBucket
FROM
    "cdn-all_cdn_staging"
WHERE
     fdate > 1573747200000
GROUP BY
	 fdate
ORDER BY
     timeBucket ASC`

`SELECT
       fdate AS timeBucket,
       SUM(CASE WHEN (hitinfo='Mis

[2019-11-22 04:45] agrawaldevesh commented on #13724
Yeah I think you have hit the Achilles heel of the presto-pinot connector:

In plain english: It will try to push down the computation into Pinot broker. But Pinot does not handle things like Case statements, multiple divisions etc. So the functions "SUM(netflow) /1024 /1024 /1024 /300" and "SUM(CASE WHEN hitinfo='Miss' THEN request_num ELSE 0 END) * 1.000000 / SUM(request_num)" are not being able

[2019-11-22 05:33] sunny19930321 commented on #13724
yes，thank you for your answer. I got it .@agrawaldevesh

[2019-11-22 05:57] #13724 closed

[2019-11-22 07:48] rongrong opened #13737 "SQL function compilation failed when input parameter not referenced"
[code]
Fails with `Compiler failed`.
[code]

[2019-11-22 10:29] PowerToThePeople111 commented on #5934
I stumbled upon the same problem with Athena: when I do a CTAS query there that has empty arrays in the result set, I get this error.

[2019-11-22 13:29] #9348 closed

[2019-11-22 18:18] arhimondr commented on #13728
It looks like you are trying to query too many partitions at the same time.

There are 2 solutions that you can try:

1. Try to decrease the partition sample size by setting the `partition_statistics_sample_size` session property to something lower than 100, that is set by default.
2. Try to increase the metastore request timeout by setting the `hive.metastore-timeout` configuration property in th

[2019-11-25 08:35] #9371 closed

[2019-11-26 00:26] #13737 closed

[2019-11-26 01:08] mbasmanova opened #13750 "Relax struct coercion policy in Hive connector"
Allow for name changes of fields as long as their types match. E.g. change the rule from

[code]

to

[code]

See com.facebook.presto.hive.HiveCoercionPolicy#canCoerceForStruct

CC: @rongrong @highker @wenleix @rschlussel @arhimondr

[2019-11-26 01:10] mbasmanova commented on #13750
CC: @kaikalur

[2019-11-26 02:10] mbasmanova commented on #13750
from @rongrong

---
field name should be an identifier which should not be case sensitive. So that should be a bug. As for coercion, according to SQL spec:

[code]

Seems like the current coercion behavior is correct (minus the case sensitivity).

[2019-11-26 05:34] yingsu00 commented on #13701
@SunHao1234 Do you still have the same error in latest build 0.229? How to reproduce the error?

[2019-11-26 05:42] mbasmanova commented on #13303
Not needed anymore.

[2019-11-26 05:42] #13303 closed

[2019-11-26 05:43] mbasmanova commented on #12916
Fixed in #13700 13700

[2019-11-26 05:43] #12916 closed

[2019-11-26 05:59] yingsu00 opened #13751 "Unnest Optimizations"
UnnestOperator is the top 5 operator in terms of CPU consumption in Facebook workload. A recent optimization on UnnestOperator uses DictionaryBlock instead of copying the blocks and tremendously improved the performance. However there’re still optimization opportunities. In this issue we discuss the two improvements on unnest, namely vectorized execution and bulk copy of the Blocks.

### Vectorize

[2019-11-26 06:00] yingsu00 commented on #13751
https://github.com/prestodb/presto/pull/13746

[2019-11-26 10:44] #9364 closed

[2019-11-26 12:21] pomykalamichal commented on #10918
Hi, one additional hint. We define almost each field as a varchar. Then we start to use presto json parse function to read the data. https://prestodb.io/docs/current/functions/json.html
json_parse(string) → json
json_extract_scalar(json, json_path) → varchar
json_extract(json, json_path) → json

Exemplary query:
json_extract_scalar(json_parse(testdb.steps), '$["step-xyz"].details.stepId') = '1033'

[2019-11-26 12:33] pomykalamichal opened #13753 "MongoCommandException: Command failed with error 166: 'Namespace ... is a view, not a collection'"
Hi,
we would like to simplify queries run via Presto as most of the data in our Mongo are nested json objects.
To avoid using json function operations (https://prestodb.io/docs/current/functions/json.html) we would like to use dedicated views created in MongoDB.

After creation of the dedicated views by using https://docs.mongodb.com/manual/reference/method/db.createView/  and adding view definiti

[2019-11-26 15:16] tooptoop4 opened #13755 "Query overall state is FINISHED but query still has tasks running!"
[json1_redact.txt](https://github.com/prestodb/presto/files/3892510/json1_redact.txt)
[json2_redact.txt](https://github.com/prestodb/presto/files/3892511/json2_redact.txt)

prestodb v0.220 - Query overall state is FINISHED but query still has tasks running and not all data received by client!

2 JSON OUTPUTs of the query captured (one when the run2.csv only had 9999978 rows (but state in UI was al

[2019-11-26 21:18] nealvs opened #13759 "Hyphens in column names fail in where clause"
Using column names with hyphens in them in the where clause works in release 0.220.  In releases 0.224 and 0.227, I can no longer use column names with hyphens in them in the where clause.  Other field names with no hyphens work fine in the where clause.  Putting columns with hyphen names in the select clause still works fine.

This query works:
[code]

This query fails:
[code]

Error:
[code]

Ful

[2019-11-26 23:57] rongrong opened #13761 "SQL function does not respect NULL convention"
SQL function execution does not respect NULL convention. For example:

For function
[code]

It returns 2 rather than null for null input.
[code]

[2019-11-27 00:13] manavkapoor opened #13762 "LDAP not starting despite identical configuration to instructions"
I've configured LDAP exactly how it is specified in the directions. However, when I query presto through the Presto CLI, it skips LDAP and still queries the cluster. Any insight why this is occurring? I've set up the certs as well and the debug logs don't tell me anything.

Here is my config:

[code]

It goes from loading the ldap authenticator straight to a query:
[code]

[2019-11-27 01:21] yingsu00 commented on #13759
cc @mbasmanova Masha do you know anything about it? The error was thrown in SubfieldTokenizer

[2019-11-27 01:56] yingsu00 commented on #13753
@pomykalamichal How did you create the view? Was it through presto-mongodb connector?

[2019-11-27 02:04] mbasmanova opened #13763 "Expand bucket pruning to predicates with fixed number of matching values"
When table is bucketed, an equality filter on bucketed-by column(s) will trigger bucket pruning and allow Presto to scan only matching files. E.g. the following query will scan only one file.

`SELECT * FROM t WHERE x = 5`

This optimization can be expanded to more sophisticated predicates, e.g. `x IN (5, 7, 10)` or `x = 5 OR x = 6 or x = 10`, e.g. any predicate for which only fixed number of valu

[2019-11-27 02:25] mbasmanova commented on #13759
I see. Looks like we need to update `SubfieldTokenizer` to allow for hyphens in column names. @nealvs Is this something you would like to fix yourself?

[code]

[2019-11-27 04:11] mbasmanova commented on #13759
CC: @bhhari

[2019-11-27 07:29] pomykalamichal commented on #13753
View was created via robo 3T and mentioned command in previous post. Additionally I can read the data with no errors.

[2019-11-27 16:16] mbasmanova commented on #13759
Fix is out for review: #13766

[2019-11-27 18:14] #9265 closed

[2019-11-28 01:45] #13648 closed

[2019-11-28 02:20] #13761 closed

[2019-11-28 02:21] #13586 closed

[2019-11-28 12:02] ishaan1995 opened #13770 "Change default s3 storage class for hive connector"
https://prestodb.io/docs/current/connector/hive.html#hive-configuration-properties

Referring to this documentation, could not find a way to configure storage class for s3 paths.

AWS recently added Amazon S3 Intelligent-Tiering (https://aws.amazon.com/s3/storage-classes/) which is optimized for cost.

Is this currently supported?

I am using presto with hive as metastore.

[2019-11-28 13:38] bgruszka opened #13771 "Querying PostgreSQL view"
Hi,

I'd like to query postgresql view via presto. I've found some old links/notes that it should be possible. Unfortunately I don't have any views listed in `SHOW TABLES` command and when I tried to query data  `select cnt from umcount` I got `Table 'public.umcount' not found`. How to query views then? I'm using Presto 0.205

[2019-11-28 23:29] #9089 closed

[2019-11-29 08:05] highker opened #13772 "Raptor metadata failure due to delta delete"
[code]

[2019-11-29 09:14] WangHaoCN commented on #3239
Is the problem solved now? We are faced with the same problem now.
we have 4 nodes and eache node has a hardware with 24 core CPU and  128G memory;
when we try to query the data (about 25 million / 3G) , it took 150 seconds.

[2019-11-29 10:22] Aniruddd commented on #13641
I am also facing the same issue.

[2019-11-29 10:29] #9390 closed

[2019-11-29 10:29] rockxsj commented on #11908
@tooptoop4 I have no idea, now it's not a problem, because we insert the big-result into a temp table as csv format, and then download these csv.

[2019-11-29 17:29] #6299 closed

[2019-11-29 18:29] #6608 closed

[2019-11-29 18:29] #4399 closed

[2019-11-30 08:40] #9403 closed

[2019-11-30 13:53] D4eho commented on #13759
Not only hyphens but I have struggled the same error with a slash, for example, "lineitem/lineitemtype" in aws CUR data types. I don't think the above will resolve my case.

[2019-11-30 23:49] #9239 closed

[2019-11-30 23:49] #9058 closed

[2019-11-30 23:49] #9275 closed

[2019-12-01 00:49] #7790 closed

[2019-12-01 20:00] mbasmanova commented on #13759
Reopening to address `the same error with a slash, for example, "lineitem/lineitemtype" in aws CUR data types`

[2019-12-01 23:28] D4eho commented on #13759
I forgot to mention that there was also colons included columns, e.g. "resourcetag/user:abc"

[2019-12-02 00:13] heyfly0 commented on #13161
hello i have same situation.
is there any solutions?

[2019-12-02 07:38] WangHaoCN opened #13775 "SELECT COUNT(*) ... from elasticsearch is too slow"
We have 4 nodes and each node has a hardware with 24 core CPU and  128G memory;
when we try to query the data (about 25 million / 3G) , it took 150 seconds？

Which is faster, Presto elasticsearch connector versus native elasticsearch API?

![image](https://user-images.githubusercontent.com/20611016/69938781-25288680-1519-11ea-9c7f-04d0e10bca45.png)

[2019-12-02 11:48] parisni opened #13778 "Delta Lake support open source connector"
Hi
delta lake provides ACID transformation to parquet files.

AWS provides a delta-lake connector for its commercial presto.
Starbust blogged recently that they are in this process.

Is there any chance such connector will be accessible soon in presto ?

Thanks

[2019-12-02 15:43] mbasmanova commented on #13759
@D4eho Fix is out for review: #13779

[2019-12-02 21:14] #13759 closed

[2019-12-02 23:25] #12577 closed

[2019-12-02 23:26] #9772 closed

[2019-12-03 01:02] rongrong opened #13786 "SQL function with constants mignt not work"
The following SQL function throws exception "Compiler failed":
[code]

The reason is that 10 is a `LongLiteral` and x is a double. Function resolution would pick `divide(double, double)` but we cannot assign `long` to `double`. The expression needs to be coerced properly to `x / (cast 10 as double)`.

[2019-12-03 05:44] #13786 closed

[2019-12-03 06:49] rongrong commented on #13775
I don't know much about elastic search connector implementation nor about elastic search itself, but assuming it can only do `count(*)` by reading the actual data (if this can be done with metadata only then it won't take 150s so I think it's a safe assumption), then the questions are:
1) can elastic search do count(*) without having to read all actual data? If yes, then elastic search will defini

[2019-12-03 07:43] armsword commented on #13216
The solution was to add the flag -Djdk.attach.allowAttachSelf=true to ${presto-home}/etc/jvm.config

[2019-12-03 15:55] mbasmanova commented on #13751
@yingsu00 Thanks for the detailed write up. CC: @prestodb/aria

[2019-12-04 00:21] rongrong opened #13795 "SQL function does not work when input expression contains lambda function"
Following call would throw:
[code]

[2019-12-04 02:24] #13415 closed

[2019-12-04 02:54] Brideau opened #13800 "What is the definition of the different time measures?"
I find the following throughout the UI and the JSON that results from a query:

- `addInputWall`
- `addInputCpu`
- `getOutputWall`
- `getOutputCpu`
- `finishWall`
- `finishCpu`

While I understand the difference between CPU and Wall time, what do the prefixes mean?

[2019-12-04 11:45] WangHaoCN commented on #13775
Thanks.This method is to completely transfer the data to woker node for calculation, which is too slow.
Can I use the computing power of elasticsearch in presto elasticsearch connector?By the way,will this capability be provided for future elasticsearch-connector?

[2019-12-04 19:24] arhimondr commented on #13750
e.g: `field_name` is equivalent to `'FIELD_NAME'`. I remember that from the SQL spec.

[2019-12-04 19:27] #13795 closed

[2019-12-04 23:29] rongrong commented on #13775
I'm not aware of any active development on elastic search connector. To use the compute power in elasticsearch cluster, the elasticsearch connector needs to implement connector pushdown optimizations. @zhenxiao @agrawaldevesh do you guys know about any work on this topic?

[2019-12-05 01:35] bhhari opened #13807 "Incorrect results for not (NaN between A and B)"
Consider a table with a double column with some NaN values.The following queries return inconsistent results. `not (val between 1 and 3)` when used as a filter excludes NaN rows, but when used as a projection returns `true`.

[code]

[2019-12-05 01:35] bhhari commented on #13807
cc : @mbasmanova  @rongrong  @kaikalur

[2019-12-05 01:37] mbasmanova commented on #13807
CC: @highker @wenleix @arhimondr

[2019-12-05 01:48] zhenxiao commented on #13775
Hi @WangHaoCN @rongrong current elasticsearch connector does not implement aggregation pushdown(it has some predicate pushdown) This was on my to-do list before leaving Uber. @vkorukanti are you willing to implement it?

[2019-12-05 01:54] kaikalur commented on #13807
OK. To simplify, I just made it a < and I see a somewhat related issue. Evaluating using NaN seems to be messed up:

select not(x < 2), x < 2 from test_sreeni_temp;
 _col0 | _col1
-------+-------
 false | false

[2019-12-05 01:58] mbasmanova commented on #13807
@kaikalur Sreeni, do you happen to know what would be the right behavior?

[2019-12-05 02:17] #3499 closed

[2019-12-05 02:20] kaikalur commented on #13807
Quick check in the spec doesn't find NaN at all. That's why I thought it would be just like NULL. I will read the spec more carefully and update it. We can look at Java semantics I suppose.

[2019-12-05 12:36] #9408 closed

[2019-12-05 16:36] mbasmanova opened #13809 "Verifier: improve column mismatch error for arrays, maps and structs"
It would be helpful to provide a bit more information when there a column mismatch on a complex type column (array/map/struct).

For arrays,
- total number of elements (`sum(cardinality(a))`) (e.g. row count check at the column level)

For maps,
- total number of elements (e.g. row count check at the column level)
- checksum of keys
- checksum of values

For structs,
- checksums of individual subf

[2019-12-05 17:05] oerling commented on #13809
Also, maps/arrays of doubles/floats should be compared with the same semantic as top level floats/doubles.  It happens repeatedly that results of aggregations are returned inside maps/arrays and that these have a couple of trailing bits that are noisy due to nondeterministic order of aggregation.

From: Maria Basmanova <notifications@github.com>
Sent: Thursday, December 5, 2019 8:36 AM
To: prestod

[2019-12-05 19:56] rushidmarne commented on #12989
I have PrestoSQL-326 to configure it with Ranger and following these steps: https://cwiki.apache.org/confluence/display/RANGER/Presto+Plugin

But I am getting error  below error:
[code]

Can someone help me through this issue?

[2019-12-05 21:34] tooptoop4 commented on #12989
@rushidmarne echo ranger > etc/access-control.properties

[2019-12-05 21:44] caithagoras commented on #13809
@mbasmanova @oerling Those are great proposals. Will look into those but cannot promise a deliver date as of now.

[2019-12-05 22:47] findepi commented on #12989
Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2019-12-05 23:48] pdpark opened #13811 "Upgrading presto"
After upgrading presto, getting "Access Denied: View owner '...' cannot create view that selects from <table>"

[2019-12-05 23:48] pdpark opened #13812 "Upgrading presto"
After upgrading presto, getting "Access Denied: View owner '...' cannot create view that selects from {table}". Appears to be related to this change: [Use correct AccessControl implementation when checking column access](https://github.com/prestodb/presto/commit/76b04ae1e1bc18d1243b19f9619c395669ed6f73). The table is in a hive catalog, data is in S3. We are using File Based Access Control.

[2019-12-06 11:14] tooptoop4 commented on #11623
https://github.com/prestodb/presto/issues/13216 says  add the flag -Djdk.attach.allowAttachSelf=true to ${presto-home}/etc/jvm.config. . note prestosql already deprecated java8

[2019-12-06 11:32] tooptoop4 commented on #11298
https://github.com/prestodb/presto/issues/13301

[2019-12-06 11:33] tooptoop4 commented on #13301
@y1275963 u can raise pr

[2019-12-06 11:35] tooptoop4 commented on #13263
how about ancoption to provide underyling metastore db creds to speed up?

[2019-12-06 11:37] tooptoop4 commented on #11494
https://github.com/prestosql/presto/pull/1124

[2019-12-06 17:25] rushidmarne commented on #12989
The moment I put file /usr/lib/presto/etc/**access-control.properties** presto breaks and fails to connect catalogs.

access-control.properties
`access-control.name=ranger
ranger.username=admin
ranger.password=admin
ranger.hive.security-config-xml=/usr/lib/presto/etc/hive_ranger.xml`

hive_ranger.xml
`<configuration>
    <property>
        <name>ranger.plugin.hive.service.name</name>
        <valu

[2019-12-06 18:31] tooptoop4 commented on #12989
error msg? access-control.properties should just have access-control.name=ranger

[2019-12-06 18:44] cemcayiroglu opened #13814 "Scaling The Presto Coordinator"
### Motivation

Currently, each Presto cluster is managed by a single coordinator that becomes the bottleneck for Presto cluster to scale up. Coordinators can barely scale to around 800 to 1000 workers on a Hardware with 40 core CPU and 256GB RAM.  This creates many challenges:

- **Efficiency/Reliability:** We occasionally observe coordinator CPU utilization to be around 75%. Certain workloads ca

[2019-12-06 19:17] #13811 closed

[2019-12-06 19:28] rushidmarne commented on #12989
@tooptoop4
This is the error I am getting:
io.prestosql.server.PrestoServer        Access control 'ranger' is not registered
java.lang.IllegalStateException: Access control 'ranger' is not registered
        at com.google.common.base.Preconditions.checkState(Preconditions.java:588)
        at io.prestosql.security.AccessControlManager.setSystemAccessControl(AccessControlManager.java:148)
        a

[2019-12-06 20:01] rushidmarne commented on #12989
@tooptoop4 :
Thanks, it went ahead when I removed username and password from access-control.properties file.

And now getting other error:
`Error injecting constructor, java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
  at org.apache.ranger.authorization.presto.authorizer.RangerSystemAccessControl.<init>(RangerSystemAccessControl.java:40)
  at org.apache.ranger.authorization

[2019-12-06 20:44] rushidmarne commented on #12989
Yeeahhhh....!!! Now I can see the presto plugin in the Ranger.
Thanks @tooptoop4 , @findepi

I had to add below few additional jars to : ranger-presto-plugin
commons-codec commons-codec-1.12
com.kstruct gethostname4j-0.0.3
com.sun jna-3.0.9.jar

[2019-12-06 22:12] #9421 closed

[2019-12-08 16:06] duyquangnguyenhac commented on #13355
Hello, at this point I think it is best if you reassigned this subject? I haven't been getting any replies.

[2019-12-09 01:02] visualage commented on #9521
Resolved already

[2019-12-09 01:02] #9521 closed

[2019-12-09 07:30] imperio-wxm opened #13822 "v0.229 web ui errors"
I download tar in this web page.

![image](https://user-images.githubusercontent.com/8111349/70415702-3aad2b80-1a98-11ea-8d44-47c39be645db.png)

When I deployed, I found many problems with the web page.

1.Can't see task information.
![image](https://user-images.githubusercontent.com/8111349/70415760-5d3f4480-1a98-11ea-9cea-ac3d9011617e.png)

2.Live Plan is empty
![image](https://user-images.githu

[2019-12-09 21:11] manvishan commented on #11071
yet there is no direct solution from Presto.

[2019-12-10 01:53] mbasmanova opened #13828 "BooleanInputStream#getSetBits returns incorrect result"
com.facebook.presto.orc.stream.BooleanInputStream#getSetBits(int, boolean[]) sometimes returns a value larger than nextBatchSize parameter. This happens, when `data` below is -2,  batchSize is 2 and bitsInData is 7.

`countBitsSet += Integer.bitCount(value);` adds 7 which is > 2

[code]

This seems to be a regression from #13602 (CC: @martint)

[2019-12-10 07:25] l1x commented on #13216
Thanks, I will try.

[2019-12-10 07:25] #13216 closed

[2019-12-10 08:25] imperio-wxm opened #13832 "Disable swap is better for presto memory?"
I didn't find similar instructions in the official documentation, but elasticsearch recommends turning off swap, will swap affect the memory usage of presto?

[2019-12-10 17:02] #13828 closed

[2019-12-10 18:37] wenleix opened #13833 "The materialized temporary table name should contain the stage name that materialize it"
This makes debug easier to trace back

[2019-12-11 09:23] #7843 closed

[2019-12-11 09:55] mbasmanova commented on #13253
Haven't seen this recently.

[2019-12-11 09:55] #13253 closed

[2019-12-11 09:57] mbasmanova commented on #12585
The new scan is largely complete. Use session properties to enable:

[code]

[2019-12-11 09:57] #12585 closed

[2019-12-11 10:05] mbasmanova opened #13843 "Optimize TupleDomainFilter for NOT IN"
TupleDomainFilters for IN predicates are optimized to use hash tables for lookups and offer O(1) performance, but NOT IN filters are not optimized and give O(n) performance. Yet, there is no reason why IN predicate optimization couldn't apply to NOT IN. We could extend BytesValues and BigintValues to add a flag indicating that this is a NOT filter and add logic to com.facebook.presto.orc.TupleDoma

[2019-12-11 10:14] mbasmanova opened #13844 "Optimize reading single column from a struct"
We are seeing 2x CPU time difference between reading a top-level column and a subfield in a struct 2 levels deep.

[code]

There are 2 sources of inefficiency:

- com.facebook.presto.orc.StripeReader#readColumnIndexes extracts statistics for all columns in a struct, not just the ones used by the query
- Dereference projection is using as much CPU as scan because is it going row-by-row and using Bl

[2019-12-11 10:19] mbasmanova opened #13845 "Use LazyBlock for filter function inputs"
Filters like `if(f(a), f(b), f(c))` may benefit from using LazyBlocks for inputs. If `f(a)` evaluates to true most of the time, column c may not need to be read for most of the pages. When c is of complex type (array/map/struct), not reading it offers substantial CPU savings. Hence, we suggest to use LazyBlock for all filter functions with two or more inputs.

See com.facebook.presto.orc.OrcSelect

[2019-12-11 10:25] tooptoop4 opened #13846 "Why does 'order by' need more memory than entire dataset size?"
Got below error after running 'select * from hive.redact order by time_stamp desc'
Data is parquet (hive) on  s3.

But entire dataset is only 3.5GB, why does OrderByOperator need > 26GB ??

com.facebook.presto.ExceededMemoryLimitException: Query exceeded per-node user memory limit of 27GB [Allocated: 27.00GB, Delta: 1.22MB, Top Consumers: {OrderByOperator=26.98GB, MergeSortedPages=17.09MB, ScanFil

[2019-12-11 11:58] mbasmanova opened #13847 "Implement range filter pushdown for subfields of array and maps"
Range filters, e.g. `a = 5`, on primitive types are evaluated efficiently while reading data from an ORC stream and if columns are used only for filtering corresponding Blocks are never created. This optimization applies to subfields of structs as well, e.g. `a.b.c = 5`. Let's extend this optimization to elements of the arrays or maps, e.g. `a[1] = 5` or `c["cat"] > 10`.

Filter pushdown on array

[2019-12-11 12:03] #9357 closed

[2019-12-11 12:12] tooptoop4 commented on #8152
@onealcenter did u resolve?

[2019-12-11 16:02] antonymayi commented on #12942
I wonder why has this been closed by the author while the discussion doesn't explicitly reject the idea? I find the `ST_GeomFromGeoJSON` and `ST_AsGeoJSON` extremely useful. My usecase is:

* primary backend being MongoDB which stores all geospatial values natively in GeoJSON so that spatial queries using Mongo API directly work
* I also access this Mongo collection using PrestoDB to join the data

[2019-12-11 16:07] antonymayi commented on #12942
ok, I guess it is tracked under #12478...

[2019-12-11 16:32] mbasmanova commented on #12942
CC: @jagill

[2019-12-11 17:27] yingsu00 opened #13848 "Optimize ORC readers for no-filter no-null case for all types"
For no-filter no-null columns, we can do additional optimization to read them in bulk mode. An example can be seen for the Byte type: #13603

[2019-12-11 19:11] jm7647 opened #13850 "Elasticsearch aliases"
I can't find way to query Elasticsearch aliases, presto lists only indexes.
Is there some way to do it?

[2019-12-11 20:32] rongrong commented on #13850
@zhenxiao

[2019-12-11 23:04] jagill commented on #12942
This issue was closed because the OP ended up not needing the functionality, so we didn't have a good use case for it.  Interoperability with Mongo is a compelling case.  We can definitely put this in the queue.

[2019-12-12 18:26] aweisberg opened #13855 "Reading timestamp with type INT64 in Parquet file fails"
This was misfiled against PrestoSQL https://github.com/prestosql/presto/issues/2220

@ryanrupp found that this was caused by stricter schema validation introduced [here](https://github.com/prestodb/presto/commit/5d18a1c01d048bec435e587887bf20ffbe9794f8#diff-fba2eb40e1dce377dfe805d8d45f4af0R373).

Might be as simple as allowing INT64 to also be a timestamp. Parquet doesn't have a timestamp type?

[2019-12-12 18:31] wenleix opened #13856 "[Design] Presto-on-Spark"
See a detailed designed doc at https://docs.google.com/document/d/1aURQWDY1NJZ7xPS6jnsFcQY7pOIqHGkHzJrcPu-42Tk/

-------------------------------

Presto was originally designed for interactive queries but has evolved into a unified engine for both interactive and batch use cases. AdaptingScaling an MPP architecture database to batch data processing over Internet-scale datasets is known to be an ex

[2019-12-12 20:04] #13855 closed

[2019-12-12 21:08] #9260 closed

[2019-12-12 21:18] caithagoras opened #13859 "Investigate often stuck test TestDistributedSpilledQueries::testLimitWithJoin"

[2019-12-12 22:31] rongrong opened #13861 "Extend array_position function with instance number"
Currently `array_position` only returns the first occurrence of the given element. We want to extend `array_position` to take an additional parameter `instance` similar to `strpos`.
[code]

For example, for array `x: [1, 3, 2, 1, 4, 3, 2, 5, 4, 1]`:
[code]

[2019-12-12 22:40] aweisberg commented on #13859
Similar to https://github.com/prestosql/presto/issues/1337 (great issue number!) and https://github.com/prestosql/presto/issues/1951.

Apparently not resolved there yet either.

[2019-12-12 23:01] kaikalur commented on #13861
I wonder if offset is better than instance - especially when going backwards. But I see we already have strpos and strrpos with instance as a param so I'm not sure if we want a different style for arrays.

[2019-12-12 23:02] kaikalur commented on #13861
BTW, this is more about function signature than syntax?

[2019-12-12 23:19] rongrong commented on #13861
`offset` sounds more like the return value (index) to me. But I picked `instance` just because that's what it's called in `strpos`. Don't feel any strong motivation to change it but I'm open to ideas.

[2019-12-12 23:25] kaikalur commented on #13861
Only concern is the negative instance. strrpos did not have that problem. May be we do array_reverse_position instead and be consistent with the strrpos?

[2019-12-12 23:34] kaikalur commented on #13861
Or array_rposition?

[2019-12-12 23:34] adaco commented on #13861
I'd love to take a shot at implementing this.

[2019-12-13 00:45] rongrong commented on #13861
You mean that negative instance doesn't make sense?

Between `array_reverse_position` and `array_rposition` I prefer the former. Though I still like the negative number idea better. So it's nicer if we can get a better name.

[2019-12-13 07:26] ayush-san commented on #7879
Why does java home need to be set for running launcher.py file?

[2019-12-13 08:54] mahengyang commented on #13856
excellent job! A unify entry for `batch data processing` and `ad-hoc` is very import for user. `spark`,`hive`,`flink`,`mysql`,`elasticsearch`,`mongodb` and so on, some is for calculate, and other is for store data, but user could connect them through `Presto`!

[2019-12-13 09:20] mahengyang commented on #13778
I was use `Delta Lake`, but cannot join tables in hive and delta lake with `spark sql`, hop presto could support delta lake

[2019-12-13 11:19] parisni commented on #13778
@mahengyang : it is possible to create table in hive from delta. See https://github.com/delta-io/delta/issues/85#issuecomment-542111087

[2019-12-13 17:54] #13772 closed

[2019-12-13 19:32] jm7647 opened #13863 "Very slow query to Elasticsearch 7.x"
I ran simple query to get single record from 2 millions of records by _id ( Elasticsearch 7.x):
    **it took 1 minute**

when Elasticsearch itself does it within a fraction of second.

Why is presto so slow? It reads all 2 mil records:

presto> select _id from default.eventslist where _id = 'gLFqAG8BybG5oVwT1aar';
         _id
----------------------
 gLFqAG8BybG5oVwT1aar
(1 row)

Query 20191213_1

[2019-12-13 21:05] rongrong opened #13864 "Make list non-builtin functions a session property"
It's more convenient to use from users' perspective to have this as a session property.

[2019-12-13 21:05] mbasmanova opened #13865 "Optimize IN filter for integers"
Currently, in Aria scan, IN filter is implemented as com.facebook.presto.orc.TupleDomainFilter.BigintValues TupleDomainFilter which builds a hash table of the IN values and performs a lookup. In case when IN list is large, but the values are relatively small, a better implementation could be to use a min, max and a bitmask. It works as follows.

- compute min and max of the values in the IN list;

[2019-12-13 21:06] mbasmanova commented on #13865
CC: @highker @kaikalur

[2019-12-16 06:21] FernandaCG commented on #13763
Hi! Can I work on this?

[2019-12-16 11:54] xumingming opened #13868 "Hive query fails when hive file name contains "_" & ":" in the url"
The stack trace:

[code]

The reason is that: while `hel_o:world.parquet` is a totally valid file name, but it is not a valid param to `URI.create()`.

[2019-12-16 12:54] mbasmanova commented on #13763
@FernandaCG This improvement has just landed: #13804

If you are interested in working on table scan optimizations, consider one of these: #13848, #13431, #13351

CC: @prestodb/aria

[2019-12-16 12:56] mbasmanova commented on #13763
Fixed in #13804

[2019-12-16 12:56] #13763 closed

[2019-12-16 18:08] shixuan-fan commented on #13868
@rschlussel Looks like you recently touched this piece of code. Would you mind taking a look?

[2019-12-16 18:09] shixuan-fan commented on #13863
@zhenxiao Maybe you could take a look? Feel free to redirect to others if you are not the best person on this.

[2019-12-16 20:23] arpit1997 commented on #13770
@ishaan1995 No its not currently supported.Since this is a good feature to support as per your conversation with @aweisberg on slack channel, I am picking this up. Have a working version ready. Will try sending a PR this week.

[2019-12-17 14:44] #13865 closed

[2019-12-18 06:56] wenleix opened #13875 "Report start and end execution time for each query section when materialized shuffle is enabled"

[2019-12-18 15:04] fengyun2066 commented on #13205
Can you send out specific test models and use cases

[2019-12-18 16:17] aweisberg commented on #13770
Feel free to add me as a reviewer.

[2019-12-18 16:24] arhimondr commented on #13846
@tooptoop4 Could you please share the entire `EXPLAIN ANALYZE` output (including the Fragment 0)?

[2019-12-18 17:25] #7826 closed

[2019-12-18 22:58] wenleix commented on #13856
TODOs (for tracking purpose):

- Memory related config refactor: https://github.com/prestodb/presto/pull/13760#discussion_r354600526

[2019-12-19 03:56] xumingming opened #13880 "JdbcPageSink lack the support for timestamp data type:"
The stack trace:
[code]

Related code:

https://github.com/prestodb/presto/blob/8d5d5e67e1e2276e9e2a1fc02f471e6d0a020c89/presto-base-jdbc/src/main/java/com/facebook/presto/plugin/jdbc/JdbcPageSink.java#L118

[2019-12-19 04:08] xumingming commented on #13880
And also `time` type is not supported.

[2019-12-19 08:21] xiuyuanliu opened #13882 "table or field chinese comment converted to unicode"
hi ，i want to show table's info , but got unicode comment , have a config convert to chinese in presto ? or i need do convert myself ?

[code]
appreciate

[2019-12-19 18:36] flyfy1 opened #13883 "presto-parser error when create-statement under JOIN query"
The following simple code is raising error

[code]

Here's the sample code:

[code]

[2019-12-19 19:26] #8553 closed

[2019-12-19 22:26] #9538 closed

[2019-12-20 04:51] #9365 closed

[2019-12-20 07:43] #11071 closed

[2019-12-20 08:58] minhnguyenvan95 opened #13885 "Oracle catalog license error"
presto version presto:302-e.7

my catalog properties
[code]

presto server error log
[code]

[2019-12-20 12:47] findepi commented on #13885
In general, Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

I see you're using Starburst. For license questions should contact Starburst directly @ https://www.starburstdata.com/contact/

[2019-12-20 12:47] #13885 closed

[2019-12-20 20:17] mbasmanova opened #13886 "Enhance subfield pruning to unnest over constant keys"
Make subfield pruning work for queries of the following shape:

[code]

CC: @kaikalur @prestodb/aria

[2019-12-20 20:51] #9069 closed

[2019-12-20 22:50] arhimondr commented on #13856
As per earlier discussion, we decided to go with this name explicitly to emphasize that this module is only needed for the classloader isolation, and not for anything fundamental. Once Spark supports classloader isolation internally (or once it is migrated to Java 9+ that supports Java modules), this artificial module should be removed.

[2019-12-21 02:51] #8578 closed

[2019-12-22 13:15] SolidBrave commented on #13640
I don't get it either, it would have to be the Truststore, on the client side.

The KeyStore belongs to the server and contains the server certificate and the private key. As a client, the server presents its certificate to me and I compare it with the certificates in my Truststore.

[2019-12-22 16:31] #9560 closed

[2019-12-23 06:59] tooptoop4 commented on #13846
@arhimondr  that is the entire EXPLAIN ANALYZE output, there is no Fragment 0!

[2019-12-23 07:07] tooptoop4 commented on #13846
@bhasudha are u aware of hudi needing loads of memory?

[2019-12-23 22:51] highker commented on #13205
@fengyun2066 we use prod workload to test the performance. In case you are interested in the performance
![Screen Shot 2019-12-23 at 2 50 24 PM](https://user-images.githubusercontent.com/2192913/71383991-a82a8300-2593-11ea-8a41-187adc51d462.png)

[2019-12-24 02:45] nbeeee opened #13893 "Specified key was too long; max key length is 3072 bytes"
when i use db resource manager
etc/resource-groups.properties
resource-groups.configuration-manager=db
#resource-groups.config-file=etc/resource_groups.json
resource-groups.config-db-url=jdbc:mysql://localhost:3306/presto_config?user=root&password=123456&useSSL=false
resource-groups.max-refresh-interval=1m
resource-groups.exact-match-selector-enabled=true

and mysql version=5.7.22

error log:
1) E

[2019-12-24 08:19] wenleix commented on #13856
@arhimondr :

See for example
https://github.com/prestodb/presto/pull/13760#discussion_r359634645 , always use serialized byte array makes code more difficult to understand

[2019-12-24 16:29] nugend commented on #12201
As Apache Arrow is coming up on a 1.0 release and their IPC format will ostensibly stabilize with a canonical on-disk representation (this is my current understanding, though 1.0 is not out yet and this has not been 100% confirmed), could the viability of this issue be revisited?

The advantage of the Arrow format for storage, as I see it, is that it is directly mappable from disk and fairly perfo

[2019-12-24 19:15] kewang1024 commented on #13843
Do we want to create new class that extends BytesValues/BigintValues or we just add the flag to BytesValues/BigintValues class @mbasmanova

[2019-12-24 19:22] kewang1024 commented on #13843
Also for BigintValues, now we have BigintValuesUsingHashTable and BigintValuesUsingBitmask, do we only extend the function to BigintValuesUsingHashTable?

[2019-12-25 18:18] tooptoop4 commented on #10996
https://github.com/prestosql/presto/issues/1480

[2019-12-25 18:28] tooptoop4 opened #13896 "union all of many literals very slow (separate stage) for each"
with lkp as (select 'de' c , 'germany' d union all select 'it' c, 'italy' d union all select 'ca' c, 'canada' d) select * from lkp

if i include +200 selects in that with block to get all countries the query is very slow. looks like a new stage/task gets run for each row!  i think this could be optimised to combine into single stage since they are all literals

[2019-12-26 00:44] #9574 closed

[2019-12-26 07:42] #9262 closed

[2019-12-26 09:19] hustnn commented on #13205
@highker
From the above table, the disagg performs better. However, from the above Figures, it seems the collocated performs better. Is my understanding right?

[2019-12-26 18:57] highker commented on #13205
@hustnn, the above figures are out of date; I will update the desc to make sure they are not misleading future users. The table shows the results having local data cache on SSD (https://github.com/prestodb/presto/pull/13644). That is a key feature to enable disagg storage.

[2019-12-26 19:56] tooptoop4 commented on #13427
Apache Drill supports this: https://github.com/apache/drill/pull/1879/files    https://issues.apache.org/jira/browse/DRILL-5674
it makes use of:
import java.util.zip.ZipEntry;
 import java.util.zip.ZipInputStream;
 import java.util.zip.ZipOutputStream;

[2019-12-27 01:42] #9341 closed

[2019-12-27 03:50] linuxfshacker commented on #12142
Fixed by PR #13899

[2019-12-27 11:17] #8139 closed

[2019-12-27 17:19] rschlussel commented on #10694
There is a similar issue for
[code]

The query fails with "Query 20191227_170043_00012_nihq2 failed: line 19:9: Column 'col1' cannot be resolved"

Stack trace:
[code]

The issue is with the duplicate expressions in the if condition.  The lambdaDeclarationToVariableMap maps each lambda declaration based on identity (it uses NodeRef), but as far as object equality the two expressions are the same, w

[2019-12-29 20:24] #9600 closed

[2019-12-30 02:24] #9073 closed

[2019-12-30 04:41] wnnlyf opened #13900 "Invalid position 0 in block with 0 positions"
presto/0.217

the ts field is a string in my table

[code]

when I get the maximum (ts)time through the aggregate function

Splits: 80 total, 0 done (0.00%)

why it is zero done???

[code]

[2019-12-30 06:51] kaikalur commented on #13900
may be you have some invalid entries? Use TRY(CAST(..))

[2019-12-30 14:51] hugess commented on #13900
But sometimes it works！
It can return results

[2019-12-30 16:09] rschlussel commented on #10694
I put up a fix for the second issue.  The first issue is not actually related to order by, as the following query also fails:
[code]
The cause is that the output expressions are different from the grouping expressions when converted to symbols (again due to the lambda map issue), and aren't being added to the translation map.  The issue occurs when we try to create a projection using the outputs

[2019-12-31 09:50] wubiaoi commented on #13856
What's the difference between doing this and sparksql?

[2019-12-31 15:27] mizunno commented on #2863
Any update on this? Thanks in advance.

[2019-12-31 19:23] wenleix commented on #13856
@wubiaoi :  From user experience perspective, Presto-on-Spark  will first provide the exact language and semantic between interactive and batch. While both PrestoSQL and SparkSQL is ANSI-SQL compatible, note there is no “ANSI SQL” as a language: ANSI SQL is an (in some way loose) specification. Many SQL dialects are claimed to be ANSI SQL compatible (notably, Oracle, SQL Server and DB2), yet they

[2019-12-31 20:20] wenleix commented on #13856
@wubiaoi : From technical perspective, SparkSQL execution model is row-oriented + whole stage codegen[1], while Presto execution  model is columnar processing + vectorization.  So architecture-wise Presto-on-Spark will be more similar to the early research prototype Shark [2].

The design trade-offs between row-oriented + whole stage codegen vs. columnar processing + vectorization deserves a very

[2020-01-02 03:43] wubiaoi commented on #13856
@wenleix 👍  Thank you very much for the explanation.
Is it better to run only the costly stage on spark?
![image](https://user-images.githubusercontent.com/6115258/71650965-f76f7100-2d54-11ea-99db-002cabd76341.png)

[2020-01-02 09:25] rahulsingh978 opened #13908 "Presto sql not able to infer schema for tiny int."
Presto MySQL not able to infer the schema for tinyint and inferring it as smallint.

[2020-01-02 10:24] phani538 opened #13909 "Pivot functionality not available"
Team,

We are using Athena with glue metadata (which internally uses presto) to query parquet data in S3.
We are facing issues to use PIVOT , as presto does not offer this functionality.

**Actual result set:**

**Tenant** | **YearMonth** | **LoanAmount**
-- | -- | --
100 | 2019-09 | 50,000
200 | 2019-09 | 60,000
100 | 2019-10 | 70,000
200 | 2019-10 | 80,000

**Required(pivoted result set):**

**T

[2020-01-02 14:36] elukey opened #13910 "PyHive + Apache Superset not working with Presto and Kerberos"
Hi!

The PyHive package (https://github.com/dropbox/PyHive) is a very convenient way to use Hive and Presto from Python. It is used in Apache Superset, and at Wikimedia Foundation we are currently exploring the use of Presto as backend for Superset dashboards. The main issue is that PyHive seems abandoned, and the original authors didn't create a PyPi release for version 0.6.2, to allows Kerberos

[2020-01-02 14:47] mbasmanova commented on #13843
@kewang1024 Ke, I'd start by adding a flat to BytesValues and BigintValuesXxx classes.

[2020-01-02 15:13] #13667 closed

[2020-01-02 16:28] mizunno opened #13912 "Presto does not find tables with camelCase"
Hi everyone!

I am trying to select data from a table with its name written in camelCase format, something like:

`SELECT * FROM catalog.schema.tableName`

But Presto returns:

`Table catalog.schema.tableName does not exist`

If I run `SHOW TABLES FROM catalog.schema` Presto returns all the tables in lowercase. I've tried to put the table name between quotation marks ("") but the problem still rem

[2020-01-02 18:00] #12142 closed

[2020-01-03 01:45] ajaygeorge opened #13918 "GcStatusMonitor prints Header row even if there is no data."
GcStatusMonitor prints Header row even if there is no data.

See https://api.travis-ci.org/v3/job/631973774/log.txt for an example

[code]

[2020-01-03 03:26] ryanrupp commented on #13599
I was probably going to log an enhancement issue to cache Parquet metadata as a change was recently done to support this for ORC metadata see https://github.com/prestodb/presto/pull/13501

[2020-01-03 06:43] ryanrupp opened #13921 "Provide optional cache for Parquet file metadata"
Similar to the ORC changes that introduce metadata caching in https://github.com/prestodb/presto/pull/13501 and https://github.com/prestodb/presto/pull/13575 it would be beneficial to provide this mechanism for Parquet files as well to potentially avoid 2 extra reads per file (tail read for metadata length + actual metadata read) and avoid remote reads completely in subsequent executions where min

[2020-01-03 06:47] ryanrupp commented on #13599
Logged #13921

[2020-01-03 07:26] shanenleen commented on #12537
kinit didn't work for me. Can you elaborate more on these steps.

[2020-01-03 10:33] mahengyang commented on #13908
what do you mean?

In `com.facebook.presto.plugin.jdbc.StandardReadMappings`, following code show mysql type to java type mapping:

[code]

[2020-01-03 10:33] #13918 closed

[2020-01-03 10:54] rahulsingh978 commented on #13908
I am using mysql connector in poresto an d trying to run the query in which one of the column is tinyint in mysql table but when i run "describe table <table-name>" in presto console it reads that column as small int.

[2020-01-03 11:03] rahulsingh978 commented on #13908
i beg your pardon, the question is different.
there is one collumn in mysql table "inventory" of the type smallint(5) unsigned
so when i run a query like "select sum(inventory) as t from table1;" iw works fine
but when i run the same query in presto
"select sum(inventory) as t from table1;" or "select inventory as t from table1;" it gives this error ->
Query 20200103_110045_00012_9sbb5, FAILED, 2

[2020-01-03 11:50] zsaltys commented on #11952
We are observing same issues .. Over time presto performance degrades. We don't use S3. We run on EMR with HDFS. Version 0.229. I went over ganglia. We did a restart thursday evening and some things definitely changed.

![Screenshot 2020-01-03 at 11 37 06](https://user-images.githubusercontent.com/1583403/71721942-04589700-2e1f-11ea-93c3-c62a52c50d93.png)
![Screenshot 2020-01-03 at 11 38 06](https

[2020-01-03 11:51] zsaltys commented on #11952
@dain could you take a look at these screenshots. Could you provide any tips / clues what I could look into next time this happens?

[2020-01-03 12:25] HarvinderBhullar commented on #8569
I was facing similar issue, It worked for me when I added CERTIFICATE after password (Check your certificate as mentioned above before trying this)
http-server.authentication.type=PASSWORD,

[2020-01-03 12:41] findepi commented on #11952
@zsaltys for your information, @dain now works on https://github.com/prestosql/presto/ repo, you can find him there.
You can also reach him on [Presto Community slack](https://prestosql.io/slack.html).

[2020-01-03 23:56] swapsmagic opened #13926 "Make Database resource group configuration reload configurable"
Currently, DBResourceGroupConfigurationManager reloads resource group config from database every seconds since the coordinator starts. The refresh rate of 1 second is hard coded. We don't make changes to resource groups so often and also it make sense to make this field config driven so we can adjust the refresh rate.

[2020-01-04 06:30] mahengyang commented on #13908
the problem is `unsigned` not `smallint(5)`, presto deal `int`, `smallint`, `tinyint` as `signed`, leads to `outside valid range`, I will make a PR later for `unsigned` bug.

you have to change your column type to `smallint` for now

[2020-01-05 00:53] #9639 closed

[2020-01-07 01:45] viczhang861 opened #13935 "Make error codes accurate and informative"
1. Error type or error code is wrong
2. Error type is generic without useful details

[2020-01-07 19:21] dharakk opened #13937 "Using Presto for low latency realtime-analytics use case"
We are using Presto on top of realtime storages for low latency realtime-analytics use-cases. For this, queries are aggressively and completely pushed down to underlying storages (pinot/ares/cassandra) and changes were required to get the time spent in presto down to 10-100 ms. This issue represents those changes in a manner that is generic and useful to the community.
(More details on the realtim

[2020-01-07 20:44] mbasmanova commented on #13937
CC: @highker @shixuan-fan @sachdevs @oerling

[2020-01-08 00:36] shreyasjoshis commented on #10941
Closing as this is fixed.

[2020-01-08 00:36] #10941 closed

[2020-01-08 11:17] Raghuvar opened #13939 "Not able to query nested json data"
I'm facing difficulties while extracting data from table having values as nested json.
Below is the sample 2 rows of the table. First row are column names.

"_id","column1"
"4002-101510","{demo=[{to=1211, by=1211, time=2000-10-23T16:00:55+05:30, type=lead}, {to=1211, by=1211, time=2019-10-23T16:05:36+05:30, type=application}, {to=3211, by=3211, time=2000-10-24T06:16:09+00:00, type=pd}, {to=3211, b

[2020-01-08 17:49] atronchi commented on #10192
When setting the port to either 0 OR different ports per worker on the same host, and starting with `bin/launcher start`, any workers started after the first on the same host simply return 'Already running on <pid of first worker>', even though each worker is configured with its own data directory.  Is there some additional setting to indicate that we want multiple workers per host?

[2020-01-08 19:24] wenleix commented on #13856
@wubiaoi : While this is certainly possible, this complicates the execution a lot as it requires coordination between two (heterogeneous) execution engine. Also, why not use [Presto Unlimited](https://prestodb.io/blog/2019/08/05/presto-unlimited-mpp-database-at-scale) in this case? :)

[2020-01-08 21:15] shixuan-fan commented on #11952
Random thought: JStack might be something interesting to look at just to see what the threads are busy with.

[2020-01-09 11:56] #9356 closed

[2020-01-09 15:58] vinothchandar commented on #13846
Presto/Hudi queries perform just any a plain parquet table.. Hudi just plugs during planning phase and helps decide what files to scan.. Other than that, what you see must be a pure presto issue..

[2020-01-09 19:16] dima-vm opened #13942 "Connector doesn't receive filters for columns over Map types"
When implementing a connector, I found out that it's impossible to handle any WHERE filters over columns of type Map[VARCHAR, VARCHAR].

Example:
[code]

**Expected**: `columnDomains` has some domain for testcolumn['foo']
**Observed**: `columnDomains` is empty.

[code]

[2020-01-09 19:18] dima-vm opened #13943 "Connector predicate pushdown throws exception on any unenforced constraint"
When using predicate pushdown presto-main throws exception on any unenforced constraint except for TRUE_CONSTANT.

Exception is thrown at line [157 in WindowFilterPushDown](https://github.com/prestodb/presto/blob/release-0.229/presto-main/src/main/java/com/facebook/presto/sql/planner/optimizations/WindowFilterPushDown.java#L157
), at castToExpression() call -- it expects an OriginalExpression, whi

[2020-01-09 19:20] dima-vm commented on #13943
CC: Hi @highker I see you worked on that lines, do you have any ideas?

[2020-01-09 19:21] dima-vm commented on #13942
We also tried to use predicate pushdown, but that's blocked by https://github.com/prestodb/presto/issues/13943

[2020-01-09 19:24] highker commented on #13943
@dima-vm, `pushdownFilter` will be deprecated, please use `ConnectorPlanOptimizerProvider` and `ConnectorPlanOptimizer` interfaces. There are existing examples in the repo like jdbc or pinot connectors.

[2020-01-09 19:56] #9321 closed

[2020-01-09 20:28] hihouhou opened #13944 "github notifications doesn't work about releases"
Hello,

Notification enabled for prestodb/presto about release (see joined file) but nothing received...
![github com_prestodb_presto](https://user-images.githubusercontent.com/10907233/72102265-d4315c80-3326-11ea-9d11-0be9c02c9882.png)

others notifications about releases work, what's wrong with prestodb/presto ?
![github com_notifications_filter=read](https://user-images.githubusercontent.com/10

[2020-01-09 23:09] #9657 closed

[2020-01-10 02:04] caithagoras commented on #13859
Do we have any clue yet?

[2020-01-10 02:37] #13024 closed

[2020-01-10 10:42] mbasmanova opened #13952 "test-hive-pushdown-filter-queries-basic Travis job fails sporadically"
@aweisberg noticed that test-hive-pushdown-filter-queries-basic https://github.com/prestodb/presto/blob/master/presto-hive/pom.xml#L504 is unreliable in Travis?

[code]

CC: @rschlussel @prestodb/aria

[2020-01-10 10:43] mbasmanova commented on #13952
@bhhari Bhavani, would you take a look?

[2020-01-10 11:23] #9661 closed

[2020-01-10 15:47] aweisberg commented on #13952
I split them and increased the memory limit to 5gb and they got fast. https://travis-ci.org/prestodb/presto/builds/634968801?utm_source=github_status&utm_medium=notification

Seems like maybe all our tests could be going faster if we used the memory available?

[2020-01-10 15:49] aweisberg commented on #13952
To be precise, splitting them made them fast and reliable. That run didn't have the increased memory limit due to my error. Testing that now.

[2020-01-10 17:23] #9665 closed

[2020-01-10 18:15] arhimondr commented on #13846
@tooptoop4 Looks like the Fragment 0 is missing, as it is the fragment that the query failed on. I think this is a bug that was introduced recently (failed fragment is not included in the plan).

The other weird thing (I assume) that for some reason after N way marge the order by operator is applied. It should be either - either, but not both.

[2020-01-10 22:00] rongrong commented on #8038
Seems like the documentation was never merged. I'll bring it up-to-date.

[2020-01-10 22:10] rongrong commented on #13861
@achao Are you still planning to work on this? Any updates?

[2020-01-10 22:22] adaco commented on #13861
@rongrong yeah. Struggling a bit ATM to build the project ([following the steps here](https://github.com/prestodb/presto)).
[code]
Any ideas?
[code]

[2020-01-10 22:36] rongrong commented on #13861
I use java 1.8. Try `export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)` and see whether it works.

[2020-01-10 23:46] adaco commented on #13861
@rongrong thanks! That does the trick.

[2020-01-11 16:34] SolidBrave commented on #13641
i fixed this problem on my side:

http.server.authentication.krb5.principal-hostname

ist not the real property. If you go trough the debug you find the emtpy property:

http.authentication.krb5.principal-hostname

the documentation seems to have a mistake here.

[2020-01-12 14:14] theesen commented on #11917
Hello,

we had the same issue on our side and started to implement a solution that works for us. But I would love to contribute this back to the project.
It would be great to get some feedback on the implementation before doing a PR (especially since I have not done this a lot yet).
My fork is still WIP and I have not applied all the implementation ideas yet. But since this is open for a long time

[2020-01-13 10:59] Hammond95 commented on #13910
I don't think this is an issue for this repo, but I am also facing some problems with pyHive for newer versions of Hive and Presto.

[2020-01-13 11:29] elukey commented on #13910
It would be great to find an alternative, this is why I was asking in here if anybody could help..

[2020-01-13 17:59] thaibui commented on #7338
This is still an issue 2 years later so I would like to reiterate the important of this compatibility.

Providing compatibility at the basic level should really help users to port their existing Hive views to Presto views for one main reason:

This is a starting point. Perhaps most of the views from Hive would work and some don't, those that work could give a different results (with regards to nul

[2020-01-13 19:16] Hubbitus commented on #10450
It works only like (by https://groups.google.com/forum/#!topic/presto-users/C3xhdOguqRc):
[code]

[2020-01-14 00:55] #13864 closed

[2020-01-14 03:33] xzhongyu commented on #10644
Me too. When I use version 230, there is a null pointer exception when connecting to MySQL

[2020-01-14 03:34] xzhongyu commented on #10644
ERROR	20200114_031948_00000_e7w4s.1.0.0-0-98	com.facebook.presto.operator.Driver	Error closing operator 0 for task 20200114_031948_00000_e7w4s.1.0.0
java.lang.NullPointerException
	at com.mysql.jdbc.MysqlIO.clearInputStream(MysqlIO.java:892)
	at com.mysql.jdbc.RowDataDynamic.close(RowDataDynamic.java:171)
	at com.mysql.jdbc.ResultSetImpl.realClose(ResultSetImpl.java:6644)
	at com.mysql.jdbc.Result

[2020-01-14 09:20] wangwei216 opened #13958 "how to determine whether the PrepareStatement precompilation in Presto is actually executed？"
1. Hello, first of all, my purpose is to encapsulate a set of Client APIs that can support PHP, but Presto does not officially support the corresponding functions, so here we can only try to do it ourselves, I used https://github.com/360d-io-labs/PhpPrestoClient

2. When I did not execute the PREPARE statementXXX FROM request "my own SQL", I directly added the [X-Presto-Prepared-Statement] field t

[2020-01-14 14:28] ottomata commented on #13910
[Impyla](https://github.com/cloudera/impyla) seems to be fairly active, and IIRC (once connected), the interface isn't that different than PyHive.  Perhaps they could be swapped out?

[2020-01-14 15:32] dprophet opened #13959 "Whats the process to include presto-oracle?"
Whats the process to include
https://github.com/marcelopaesrech/presto-oracle

Within this org's standard presto? Oracle is a big use case for us and, IMO, its better to have upstream.

[2020-01-14 19:05] jiegzhan opened #13960 "Document query.max-history, query.min-expire-age, query.max-age"
Shall we document ```query.max-history, query.min-expire-age, query.max-age``` at https://prestodb.io/docs/current/admin/properties.html?

[2020-01-14 19:50] rongrong commented on #13958
I think populate `X-Presto-Prepared-Statement` and run `PREPARE` has the same effect. They both record the prepare statement for later use. The statement in head `X-Presto-Prepared-Statement` will be recorded in session. The execution of `PREPARE` statement will also record the value in session according to https://prestodb.io/docs/current/sql/prepare.html

[2020-01-14 19:50] #13958 closed

[2020-01-14 20:02] rushidmarne commented on #12989
Presto-Ranger integration is done, I am seeing Presto plugin in Ranger but whenever I am trying to access hive schema I am getting error : "Access Denied: Cannot access catalog hive".

I tried configuring Ranger service with Hive driver: 'org.apache.hive.jdbc.HiveDriver' and also with Presto driver 'io.prestosql.jdbc.PrestoDriver' but still getting access denied error.

Any idea what I am missing?

[2020-01-14 20:07] rongrong commented on #10644
@SunHao1234  can you post your 0.230 stack trace? Thanks!

[2020-01-14 21:23] ajaygeorge opened #13965 "test-hive-pushdown-filter-queries-basic tests failure"
`presto-hive -P test-hive-pushdown-filter-queries-basic`
has been failing due to continuous Full GCs for the last few master builds.

![PrestoBuildFailure2](https://user-images.githubusercontent.com/236188/72384465-62fcfb00-36d2-11ea-9343-4e807c805aab.png)
![PrestoBuildFailure](https://user-images.githubusercontent.com/236188/72384466-63959180-36d2-11ea-916b-d77607e8e4a5.png)

Logs from : https://

[2020-01-14 22:29] aweisberg commented on #13959
Someone would have to open up a PR adding the connector. I think it's a useful addition since Oracle is commonly used.

There is also https://github.com/prestosql/presto/pull/1959 to consider instead.

It looks like even if we had this it couldn't ship in the regular build due to licensing issues? The code would just be there for other people to build?

[2020-01-14 22:45] swapsmagic commented on #13926
We increased the frequency of the resource group loading from 1 second to 10 second for now. In future if need arises we will introduce configuration based loading time.

[2020-01-14 22:45] #13926 closed

[2020-01-15 00:14] #13965 closed

[2020-01-15 00:15] mbasmanova commented on #13952
Duplicate of #13965

[2020-01-15 00:15] #13952 closed

[2020-01-15 06:20] wangwei216 commented on #13958
1. How can I use preparestatement in Presto in PHP? I used to refer to [https://github.com/360d-io-labs/phpprestoclient]

2. At present, Presto does not support precompiling of PHP queries

[2020-01-15 11:40] findepi commented on #12989
@rushidmarne
If you're using prestosql, you should report bugs at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-01-15 14:57] SolidBrave commented on #9216
I am working right now on a Cluster and my KDC is configured to have a REALM != Hostname. If i try to querry something i get the error Invalid credentials, because the @hostname is just the wrong autocomplete. In all together @HariSekhon problem is my problem aswell.

[2020-01-15 23:07] caithagoras opened #13970 "Open source release tooling"
Facebook internal scripts have been use to perform releases. It is time improve and open source those tools. Features needed for perform releases.
- Cut release
- Finalize release
- Collect and generate release notes
- Update website prestodb.github.io

cc @aweisberg @mayankgarg1990

[2020-01-15 23:13] l1x commented on #11059
@ddrinka Could you elaborate on this please?

Is there a way to make the following work? I get max memory exceeded (20G) for the following query:

[code]
The numbers are the distinct counts for each field respectively. The size difference of the sorted vs unsorted data set is 50%. Sorting data is a single most important space reduction feature of any columnar data store that has RLE.  Unfortunatel

[2020-01-16 02:41] ddrinka commented on #11059
@l1x We ran into enough issues with Presto sorting that we began running Spark exclusively for ordering ORC data for faster queries (and smaller datasets) on Presto.

That said, I believe modern Presto versions (we’ve adopted PrestoSQL) handle global sort through `ORDER BY` much better than when this card was opened. We have an upcoming project to reconsider using Presto for this portion of ETL.

[2020-01-16 03:49] liyubin117 commented on #12537
I have resolved the problem, make some simple configuration to achieve kerberos authentication automatelly at a long run time
please see at follows:
https://github.com/prestodb/presto/pull/13968

[2020-01-16 08:28] l1x commented on #11059
@ddrinka thanks a million! Yeah newer versions of PrestoSQL has spilling and you can spill to disk. I do not have a cluster that has this feature enabled though. One question about your Spark setup, can you control how many files your Spark job is creating? You can ignore this question, because it is totally out of context here.

[2020-01-16 20:22] ddrinka commented on #11059
Yes, here's a snippet of what I use:
[code]

This writes a single sorted file, and scales to any data size I've thrown at it.  The final merge portion of the distributed sort takes place on a single node, but should be streaming, so performance is impacted but there isn't a single-node memory availability requirement.

We use Databricks, which handles all the scheduling and offers really a fantast

[2020-01-16 20:29] rongrong commented on #13958
I'm not familiar with https://github.com/360d-io-labs/phpprestoclient. It's probably easier to get answers from that repo.

[2020-01-16 21:32] caithagoras opened #13976 "Support SHOW CREATE FUNCTION"
Currently, user do not have the ability to see the definition of the SQL functions after they created them. Similar to `SHOW CREATE TABLE` and `SHOW CREATE VIEW`, we should also support a similar (though not specified in SQL-standard) syntax for this functionality.

# Syntax
For `SHOW CREATE TABLE/VIEW`, given a fully-qualified name of a table/view, the object is always unique. However, this is no

[2020-01-16 21:35] #13200 closed

[2020-01-16 21:35] caithagoras commented on #10417
No longer related

[2020-01-16 21:35] #10417 closed

[2020-01-16 22:09] rongrong commented on #13976
What is `<drop behavior>`? Copy-paste error?

[2020-01-16 22:13] rongrong commented on #13976
What does SQL spec say about this? From a user's perspective, it's quite cumbersome to spell out the parameter list. I'd rather have a `SHOW CREATE FUNCTION function_name` and have all functions matching that name listed.

[2020-01-16 22:56] caithagoras commented on #13976
@rongrong Removed `<drop behavior>` - it is a copy-paste error.

[2020-01-16 23:00] caithagoras commented on #13976
@rongrong
I cannot find any `SHOW CREATE` statements being part of SQL-standard, so I believe they're not.

The parameter list optional in case user want's to show a function with the specific signature (for example, might be useful in some automated scripts / pipelines). That being said, `SHOW CREATE FUNCTION function_name` is a perfectly valid syntax.

[2020-01-16 23:38] rongrong commented on #13976
@kaikalur what do you think about the proposed syntax?

[2020-01-17 01:40] xzhongyu opened #13978 "com.mongodb.MongoSocketReadException: Prematurely reached end of stream"
Use Presto to connect to enable mongodb of SSL / TLS. Error is reported. I can connect with studio3t or command line. How can I solve this problem???

[2020-01-17 01:58] xzhongyu commented on #13978
MongoDB version is 4.2.2

[2020-01-17 15:56] l1x commented on #11059
Excellent insight! Thank you @ddrinka! I am going to experiment with spilling to disk in the upcoming weeks and see if we can get Presto do it or we have to switch to Spark. Much appreciated!

[2020-01-17 17:59] #7718 closed

[2020-01-19 14:19] #7189 closed

[2020-01-20 02:35] loversInJapan opened #13988 "Support for ordering pushdown."
I run <select * from (select * from oracle1.tdr.my_table union all select * from oracle2.tdr.my_table) order by id;> to do distribution sort. And I found out that on oracle1 instance and oracle2 instance the running SQL is: <select * from tdr.my_table>, which seems that presto fetch all my_table’s data in to presto’s memory and process sorting. According to David's explain Presto currently don't s

[2020-01-21 06:57] yingsu00 opened #13989 "Optimize SelectiveStreamReaders for columns with filter rate close to 1"
In previous PRs
https://github.com/prestodb/presto/pull/13603 and https://github.com/prestodb/presto/pull/13924 we optimized the reader for cases where the filter rate = 1 for columns without filters (meaning no reduction so far). This optimization can be extended when
1) filter rate > threshold and <= 1 where threshold is within rage (0, 1)
2) for columns with filters on the current column but lo

[2020-01-21 06:58] yingsu00 commented on #13989
cc @mbasmanova

[2020-01-21 07:06] yingsu00 opened #13990 "Optimize string truncation for SliceXXXSelectiveStreamReader"
The truncation in SliceXXXSelectiveStreamReader is quite expensive. This can be optimized in a few efforts:
1) For some types the truncation can be avoided. For example if all chars are ascii we don't need to calculate the truncated length because the maxCodePoint is already the longest length possible in the file.
2) We can try to calculate the truncated length more efficiently by doing batch cal

[2020-01-21 07:06] yingsu00 commented on #13990
cc @mbasmanova

[2020-01-21 07:07] highker opened #13991 "like_pattern row expression interpretation errors out on SERIALIZABLE optimization level"
Can be reproduced with tpch query. It was not an issue in 0.228
[code]

Stacktrace
[code]

[2020-01-21 09:29] tooptoop4 commented on #13457
do u face the issue too @iceted ?

[2020-01-21 09:47] mbasmanova commented on #13990
CC: @prestodb/aria

[2020-01-21 09:49] mbasmanova commented on #13989
CC: @prestodb/aria @biswapesh

[2020-01-21 09:49] mbasmanova commented on #13990
CC: @biswapesh

[2020-01-21 15:46] mbasmanova opened #13992 "Aria scan fails with "filter must be present if outputRequired is false""
An error occurs if filter pushdown is enabled and filter expression can be optimized in a way that reduces the set of inputs:

[code]

CC: @prestodb/aria

[2020-01-21 20:39] mbasmanova opened #13993 "Evaluate filter only once per dictionary value in LongDictionarySelectiveStreamReader"
LongDictionarySelectiveStreamReader can be optimized to evaluate filters only one per dictionary value. Currently it evaluates filter on each value.

[2020-01-21 20:39] mbasmanova commented on #13993
CC: @prestodb/aria

[2020-01-22 13:09] #13992 closed

[2020-01-22 13:33] alvaropalmeirao opened #13994 "Error when connecting to Cassandra"
Hello,
 I have a cassandra cluster running on port 9042 (SSL) and 9142 (non-SSL). I've configured the PrestoDB catalog to connect via PrestoDB:
[code]
And when i am connecting to my cluster via presto-cli i'm getting this error:
[code]

The table exists in my schema and the user has permissions to access it.

[2020-01-22 23:12] #9602 closed

[2020-01-23 02:40] #13993 closed

[2020-01-23 08:59] jeromeof commented on #12955
I would be very interested in this connector also - I believe (though obviously I haven't tried) that it will be significantly more efficient to query large data from Parquet files directly without requiring the data to be between hive and presto over thrift

[2020-01-23 16:38] #13994 closed

[2020-01-23 17:28] tooptoop4 commented on #13846
prestoSQL v328 also has the issue: Query exceeded per-node user memory limit of 26GB [Allocated: 26.00GB, Delta: 53.54MB, Top Consumers: {OrderByOperator=20.97GB, MergeSortedPages=5.02GB, GenericSpiller=620kB}]

[2020-01-24 09:41] highker opened #14011 "Replace FileSystemContext with HdfsContext"
`FileSystemContext` in presto-raptor can now be replaced by `HdfsContext` given `presto-hive-metastore` has been separated into a standalone module.

[2020-01-24 18:22] kdonavin commented on #3499
Seconding @aromero-pm years later. I still think this is a good idea. Any chance this will get done in the future, @anusudarsan?

[2020-01-24 20:04] mbasmanova opened #14013 "Allow the client to receive query results in a binary format"
Currently, Presto sends the result to the client as a JSON (or via JDBC). This is inefficient and limits the total amount of data that a query can produce. We'd like to add an option for Presto to send data in a binary format. It could be an Arrow or some extension to it that adds RunLengthEncoding.

CC: @highker @kaikalur @biswapesh

[2020-01-24 21:34] oaustegard commented on #1198
It's been 2.5 years plus and no movement on documenting LIKE and the wildcards it uses...

[2020-01-24 21:55] findepi commented on #3499
@kdonavin for your information, @anusudarsan now works on https://github.com/prestosql/presto/ repo, you can find her there.
You can also reach her on [Presto Community slack](https://prestosql.io/slack.html).

[2020-01-24 22:07] rongrong commented on #1198
@oaustegard do you want to submit a PR?

[2020-01-24 22:59] oaustegard commented on #1198
Might have to - meanwhile found the Test cases for the LIKE syntax - so that helps: https://github.com/prestodb/presto/blob/9aa8f80edf946d26760012d9da4c1b34cff25eb7/presto-main/src/test/java/com/facebook/presto/sql/TestExpressionInterpreter.java#L1223

[2020-01-27 12:16] pomykalamichal commented on #13753
Hi, does any one can help with above problem?

[2020-01-28 09:47] fpompermaier commented on #2445
Any progress on this? It would be VERY useful to be able to add catalogs without restarting Presto every time

[2020-01-28 22:26] rongrong opened #14021 "Extend `SHOW FUNCTIONS` with pattern matching"
Once we have user defined sql functions, the number of functions in the system could explode. It would be useful to extend `SHOW FUNCTIONS` with pattern matching so we don't list out all functions. I propose the following syntax:

[code]

[2020-01-29 11:21] vthorwat opened #14027 "Connecting Presto to Secured SASL Kafka is it possibe?"
Hello ,

is it supportable?

Please let us know if possible .

Thanks,

[2020-01-29 12:13] vekselman opened #14028 "hive connection failure"
Hello everyone,
Presto server failing to start with hive catalog.
hive.properties:
`connector.name=hive-hadoop2
hive.config.resources=/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml
hive.security=read-olny
hive.metastore.uri=thrift://XXX:9083
hive.metastore.authentication.type=KERBEROS
hive.metastore.username=presto
hive.metastore.client.keytab=/etc/security/keytabs/presto.keytab
hiv

[2020-01-29 13:15] #14028 closed

[2020-01-29 19:47] jessicashelton-wk opened #14029 "PreparedStatement getMetaData method implementation"
I am looking for a way to parse column data from an executed EXPLAIN statement resultSet.

There is support for the preparedStatement, implemented after this issue was posted: https://github.com/prestodb/presto/issues/4566. However, support was never added for the getMetaData method in order to actually retrieve the column data. It would be great if this could be implemented.

As an alternative, i

[2020-01-29 22:46] bhhari opened #14031 "Improve geometrical operations efficiency by using JTS instead of Esri"
Improve many geometrical operations  efficiency by using JTS instead of Esri.

- fix incorrect calculation of extreme points in certain cases.
- Polygon WKTs are now required to have closed loops, whereas previously Esri would close the loops for you.
- Certain other invalid geometries will also fail to be created from WKTs, such as ``LINESTRING(0 0, 0 0, 0 0)``.

[2020-01-29 22:51] #14031 closed

[2020-01-30 12:36] kaan-aytekin opened #14033 "Cumulative Sum Wrong Result"
Hi,
I'm trying to find the cumulative sum of some values using the query below
[code]
The expected result is:
number cumsum
100 100
50 150
50 200
1 201
1 202
1 203

Presto Output is:
number cumsum
100 100
50 200
50 200
1 203
1 203
1 203

Presto calculates and writes the same cumulative sum value for the same numbers. I've searched through the issues and internet but couldn't find a similar issue.

[2020-01-30 12:45] kaan-aytekin commented on #14033
Presto documentation (https://prestodb.io/docs/current/functions/window.html) states that if not given, over clause defaults to `RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW` which is different than ` ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW`
[code]
gives the expected result

[2020-01-30 12:45] #14033 closed

[2020-01-30 14:30] wfaria commented on #7747
Hello, any news about this? I am using Presto 0.227 and PostgreSQL 10.6 and still getting the same issue reported by others here.

Thanks!

[2020-01-30 14:32] wfaria commented on #11422
Any news about this fix? I still getting this one on Presto 0.227.

Thanks!

[2020-01-30 14:45] wfaria opened #14034 "PostgreSQL connector insert support to columns with SERIAL type"
Hello guys, consider the following table created on PostgreSQL (v10.6):

`CREATE TABLE fruits(
   name VARCHAR NOT NULL,
   id SERIAL PRIMARY KEY
);`

Then on Presto (v0.227) if I do:

`INSERT INTO fruits(name)
SELECT 'Orange';`

I'll get an error message like:

`com.facebook.presto.spi.PrestoException: Batch entry 0 INSERT INTO ..."tmp_presto_a459c30d402c463999ac305a9bf6851e" VALUES ('Orange',NUL

[2020-01-30 23:03] mcorreaiz opened #14035 "New UDF and type proposal: KHyperLogLog"
Hello, I want to implement KHyperLogLog algorithm and data type as a UDF.

## Motivation

Maintaining user’s data private and anonymized is not always trivial when databases scale too much. With new columns added to each table and new tables added to the database by many engineers in a growing organization, it is likely that sooner or later, user’s sensitive data becomes de-anonymized/re-identifie

[2020-01-31 16:26] mrbrahman opened #14037 "array reduce: allow for more complex / using multi elements operations"
At the moment, array `reduce` function does not give the ability to do certain complex reductions using access to other elements in the array.

It would be nice if we could do something like what JavaScript allows. For e.g.

[code]

[2020-02-01 01:50] jangorecki commented on #3541
I don't use presto anymore but I think this feature is highly valuable.

[2020-02-01 18:49] #9822 closed

[2020-02-02 08:05] #8318 closed

[2020-02-02 10:05] #9828 closed

[2020-02-03 12:39] alrolorojas opened #14049 "Presto fails to write 0.0 to ORC/Parquet backed tables"
When I try to write `0.0` decimal to an ORC/Parquet backed dataset it fails with the following error. ORC

[code]

Parquet:

[code]

Example query:

[code]

I'm using Presto 0.212

[2020-02-03 17:04] jagill opened #14050 "Bug in ST_AREA for a spherical geometry"
[code]
yields
`255033036273280`

which is crazy.  Maybe a numerical stability issue?

[2020-02-03 20:22] aywanga opened #14051 "Presto parquet 1.10 upgrade can't match unsigned int types"
In presto 0.219 upgrade and later parquet was upgraded to 1.10. Since this upgrade, the where = operator does not match unsigned integer columns.

The issue occurred when we used the Presto0.215 + the commit e313922f234948bfba27f9334905a750580d824f

Step1: Create CSV file with 2 columns ID, NUM.
[code]

Step2: Read CSV then cast to specific type, int16 and unsigned int16.
[code]

Step3: Write the

[2020-02-03 20:30] zhenxiao opened #14052 "Testcase Failures when trying to upgrade to hive-apache 3.0.0"
[ERROR] testDoubleSequence(com.facebook.presto.orc.TestOrcReader)  Time elapsed: 0.124 s  <<< FAILURE!
java.lang.AssertionError: match not found for middle section
	at org.testng.Assert.fail(Assert.java:94)
	at com.facebook.presto.orc.TestingOrcPredicate$BasicOrcPredicate.matchMiddleSection(TestingOrcPredicate.java:226)
	at com.facebook.presto.orc.TestingOrcPredicate$BasicOrcPredicate.matches(Test

[2020-02-03 20:31] zhenxiao commented on #14052
the upgrade effort:
https://github.com/prestodb/presto/pull/14044

[2020-02-03 20:31] zhenxiao commented on #14052
@aweisberg

[2020-02-03 20:55] rongrong opened #14053 "Remote UDF execution"
# The Challenge
Over the years, users have been asking for a more flexible way of running complex business logic in the form of user defined functions (UDF). However, due to system constraints of Presto (lack of isolation, high requirement of performance, etc), it is unsafe to allow arbitrary UDFs running within the same JVM. As a result, we only allow users to write Presto builtin Java functions

[2020-02-03 21:39] mbasmanova commented on #14052
CC: @prestodb/aria

[2020-02-04 06:07] elukey commented on #9403
@mouendless did you find a solution to your problem by any chance? I am facing the same issue :(

[2020-02-04 09:45] cfga commented on #13547
Hitting this problem right now. Don't have the option of downgrading mongo, though. Is there any workaround or plan to fix this? Happens only on one of the three collections I have.

[2020-02-04 09:46] cfga commented on #13547
Might try to debug this soon, but maybe it is a problem already known to someone

[2020-02-04 19:03] tdcmeehan opened #14058 "Add a scale_qdigest function"
It would be useful to add a function which scales quantile digests according to a new weight.  One example use case would be to add a decaying weight to daily summary values, which are then merged into a single digest.

The proposed scalar function signature is as follows

`scale_qdigest(qdigest, w) -> qdigest`

We can also consider a similar function for t-digest.  We may need to add support for

[2020-02-04 22:11] TrongDucNguyen commented on #14058
Should the compression parameter k be affected by w.
Say k = k * w, then the new digest is valid. However, as k changes, it can't me merged into other digest anymore, which is against what we want.
If we keep k as it was, then the digest may be come invalid, that is the error bound is not guarantee anymore.

[2020-02-04 22:54] #13274 closed

[2020-02-04 22:56] rongrong opened #14061 "Introduce new IPADDRESS / IPPREFIX functions"
We can introduce the following functions related to IP address:
* `IP_SUBNET_RANGE(IPPREFIX) -> ARRAY<IPADDRESS>`: return an array of [min, max] of the ip prefix's range
* `IS_SUBNET_OF(IPPREFIX, IPPREFIX) -> boolean`: returns true if second `IPPREFIX` is a subnet of first `IPPREFIX`
* `IS_SUBNET_OF(IPPREFIX, IPADDRESS) -> boolean`: returns true if `IPADDRESS` is in `IPPREFIX`

We can introduce th

[2020-02-05 01:10] rongrong commented on #14061
We can potentially change `IP_SUBNET_MIN` and `IP_SUBNET_MAX` to SQL functions once we have static SQL function support.

[2020-02-05 07:52] rahulsingh978 commented on #13908
I there no work around without changing it  smallint ? since it would be difficult to change the existing datatype as its in production environment.

[2020-02-05 14:50] tomSmida commented on #11917
Hello,

are there any plans to review/feedback the prePR? Or maybe @theesen would you mind to open the PR, so the momentum would take off a bit? We would appreciate to have this in upstream, since we are facing these exact issues and this would solve it completely. 🙏

[2020-02-05 20:44] #9513 closed

[2020-02-06 00:16] mbasmanova opened #14065 "Array subscript out of bounds failure with Aria enabled"
The following query fails with Aria enabled:

[code]

CC: @prestodb/aria

[2020-02-06 08:53] dusanvukic opened #14066 "REDUCE does not work when elements of array are DOUBLE"
`SELECT REDUCE(ARRAY [1.0,2.0,3.0], 0, (s, x) -> s + x, s -> s);`
_Query 20200206_083548_02600_ms79w failed: SignatureBinder.iterativeSolve does not converge after 4 iterations._

All is fine when elements are INTEGER:
`SELECT REDUCE(ARRAY [1,2,3], 0, (s, x) -> s + x, s -> s);`
_6_

(version 0.222)

[2020-02-06 18:27] #14065 closed

[2020-02-06 18:50] rongrong commented on #14066
The default parsing option for strings with decimal point is decimal. If you want the array to be parsed as double, use `set session parse_decimal_literals_as_double = true`.

[2020-02-06 18:51] #14066 closed

[2020-02-07 02:59] #9860 closed

[2020-02-07 17:49] viczhang861 opened #14071 "PAGE_TRANSPORT_TIMEOUT error when jetty thread pool is full"
# Reliability issue due to saturation of jetty threads

Under a high workload, Jetty Http Servlet server could run out of jetty threads, which is configured by property “_http-server.threads.max_”. When http request is waiting for too long, worker to worker communication such as page transport will timeout. Eventually, queries with task scheduled on that worker will fail with error code **PAGE_TRA

[2020-02-08 00:28] #9870 closed

[2020-02-08 09:04] #9861 closed

[2020-02-08 09:41] himanshukhantwal commented on #7428
@maciejgrzybek @arhimondr Do we know if anyone working on this feature? Thanks!

[2020-02-08 20:04] #9878 closed

[2020-02-09 09:00] #9885 closed

[2020-02-10 09:50] moizmuhammad commented on #12911
@bendemott Is pre-built JAR available?

[2020-02-10 15:54] mactaggart commented on #13880
running into this as well with CTAS into Postgres

[2020-02-10 19:05] denkoRa commented on #10162
@rfcarter  Do you recall how you solved the first problem here? I am facing the same issue.

[2020-02-10 19:29] rongrong commented on #13991
Can you refer to the PR / commit that introduced this regression? Thanks!

[2020-02-10 20:38] avirtuos commented on #14053
Happy to see this proposal, thanks for working on it. I'm interested and have a few questions that I couldn't readily understand from the above. Some of these might just be a level of detail that has yet to have been mapped out so don't hesitate to call that out.

1. What exactly is meany by FunctionImplementationType.THRIFT? is this referring to the serialization used to communicate with that fun

[2020-02-10 22:55] rongrong commented on #14053
1. From Presto engine's perspective, if a function is remote, the only concern regarding implementation is how to transport the data out and get the result back. So the implementation is only about serde and where to send the data to / get results from. `FunctionImplementationType` is the enum that currently defines the different implementations Presto engine support. Currently the supported value

[2020-02-10 23:03] avirtuos commented on #14053
Thanks for the quick reply

Regarding #1, if I am understanding you correctly ... have you considered something other than THRIFT? Like Apache Arrow? Arrow seems to be gaining popularity as an interchange format.

For #2, I was wondering if it might be useful for Presto's coordinator to change the rate at which it schedules work if a query is constrained by UDF throughput.  Tying up resources to j

[2020-02-10 23:35] rongrong commented on #14053
We have talks internally at Facebook in potentially converge different query engines to use the same format, which could potentially be an extended version of Arrow. If that happens, we might potentially add support for Arrow. Currently there's no use case for us. That's said, this is open source. We'd very much appreciate it if you want to contribute a Arrow implementation!

Regarding smarter sch

[2020-02-10 23:42] avirtuos commented on #14053
Thanks for the info.

[2020-02-11 02:22] bhhari commented on #14052
The issue is happening because of the bloom filter that is written is not passing the predicate. For example, it fails to find some values (0.4) which results in failing the predicate. As a workaround
commenting the following lin OrcTester.java L 2033
`orderTableProperties.setProperty("orc.bloom.filter.write.version", "original");` works.
 I'm going to verify what changed in the BloomFilter read/w

[2020-02-11 06:36] highker commented on #13991
@rongrong confirmed, this is not a regression but a bug that has been there always. The following tests can reveal it even before 0.228
[code]

[2020-02-12 00:39] zhenxiao commented on #14052
thank you, @bhhari

[2020-02-12 01:40] longtran84 opened #14089 "How to integrate spring JPA using presto-jdbc?"
Please can someone help me

[2020-02-12 13:56] #9809 closed

[2020-02-12 18:42] tdcmeehan commented on #14089
Hello--I would recommend asking in our Slack group or mailing list.  The links are here:

https://prestodb.io/community.html

Closing this for now.

[2020-02-12 18:42] #14089 closed

[2020-02-12 19:48] rongrong commented on #13991
Maybe you want to update the title then ;)

[2020-02-12 21:01] #13991 closed

[2020-02-12 22:43] bhhari opened #14092 "Tests timing out because of GC pauses"
The following tests are failing due to timeouts
because of the GC pauses.
com.facebook.presto.memory.TestMemoryManager.testQueryMemoryPerNodeLimit
com.facebook.presto.tests.TestQueryManager.testQueryCpuLimit

[2020-02-13 09:51] hqisog commented on #13679
can you give me  you operate documentation ?

[2020-02-13 10:08] findepi commented on #13679
@hqisog Presto 3xx releases, @kant111 mentioned here, are maintained at https://github.com/prestosql/presto.
You can download the release build from https://prestosql.io/download.html and you can find documentation at https://prestosql.io/docs/current/
Ask on the Presto Community Slack (https://prestosql.io/slack.html) if you want to learn more.

[2020-02-13 10:22] hqisog commented on #13679
@findepi  i want use presto-elasticsearch ,but has erros;

Schema 'my_schema' does not exist

Here are my configs

userdemo.json

{
  "tableName": "userdemo",
  "schemaName": "my_schema",
  "host": "**.*.*.***",
  "port": 9300,
  "clusterName": "leno",
  "index": "userdemo",
  "type": "doc",
  "columns": [
      {
          "name": "key",
          "type": "varchar",
          "jsonPath": "key",

[2020-02-13 18:24] rongrong commented on #13679
cc @zhenxiao

[2020-02-13 23:59] zhenxiao commented on #13679
@hqisog could you please share which version you are using, and full error stack?

[2020-02-14 01:00] hqisog commented on #13679
@zhenxiao  　presto download from   https://repo1.maven.org/maven2/com/facebook/presto/presto-server/0.228/presto-server-0.228.tar.gz  　

i coulden't find any error from  server.log or launcher.log or http-request.log,
but when i query sql like  select * from leno.stu2,  Errors found are as follows.

[leno@wh-8-148 presto-server-0.231.1]$ bin/presto-cli --server 10.1.8.148:8080 --catalog elasticsea

[2020-02-14 05:24] wsjz commented on #12561
so how to solve the problem?

[2020-02-14 05:55] zhenxiao commented on #13679
Hi @hqisog

could you please try:
userdemo.json -> my_schema.userdemo.json

[2020-02-14 06:10] hqisog commented on #13679
I already tried that,same error.

[2020-02-14 19:57] zhenxiao commented on #13679
could you please share elasticsearch.properties
and run a
show schemas from elasticsearch;
share the result?

[2020-02-14 23:44] rongrong commented on #12500
@codope It's been a while, do you want to finish this off?

[2020-02-15 05:09] #6397 closed

[2020-02-15 17:31] tooptoop4 commented on #12201
https://www.snowflake.com/blog/fetching-query-results-from-snowflake-just-got-a-lot-faster-with-apache-arrow/

[2020-02-16 02:56] hqisog commented on #13679
can you give me a document about this operation？ I follow official document, it’s doesn't work.&nbsp;

---Original---
From: "Zhenxiao Luo"<notifications@github.com&gt;
Date: Sat, Feb 15, 2020 03:57 AM
To: "prestodb/presto"<presto@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"Leno.Han"<1286649430@qq.com&gt;;
Subject: Re: [prestodb/presto] unable to start prestodb with ES con

[2020-02-16 07:01] zhenxiao commented on #13679
wired. Follow the official document should work:
https://prestodb.io/docs/current/connector/elasticsearch.html

[2020-02-17 03:27] hustnn commented on #13205
@highker
In the cache to-Do part, you mentioned "In-memory file handle (this should be implemented inside FS implementation)", may I know the file handle can be reused here stands for the fd of the opening parquet file?

[2020-02-17 04:36] highker commented on #13205
@hustnn, the file handle/descriptor is an FS-specific concept. It various from FS to FS. Distributed FS like Google's Colossus or [Facebook's Warm Storage](https://www.usenix.org/system/files/conference/osdi14/osdi14-paper-muralidhar.pdf) are similar in design that chops files into chunks and saves them on different chunk servers. File format on the other hand is orthogonal from from file handle.

[2020-02-17 05:42] hustnn commented on #13205
@highker I see, Thanks. Is the chunk information of a file in Facebook Warm Storage similar to the blocks of a file in HDFS? If yes, does the cached information indicate the block locations in HDFS?

[2020-02-17 05:43] highker commented on #13205
@hustnn, that is correct. It's the block metadata for a file

[2020-02-17 06:01] hustnn commented on #13205
@highker Thanks!

[2020-02-17 06:26] swapna-subramani commented on #2326
yes,it works...thank u

[2020-02-17 14:20] pomykalamichal commented on #13753
resolved by : https://github.com/prestosql/presto/issues/2156

[2020-02-17 14:20] #13753 closed

[2020-02-17 16:10] patrickofriel-wk commented on #11189
This would be extraordinarily useful

[2020-02-18 07:27] #9626 closed

[2020-02-18 09:27] #9930 closed

[2020-02-18 10:50] yingsu00 opened #14111 "Development of Java based benchmark runner"
Previously, the existing Presto benchmark runner can only run the queries in a suite one by one.  Many benchmarks requires different run modes, for example, TPC benchmarks includes “Power” phase where queries were ran in specified order one by one (stream 0), and “Throughput” phase where queries are ran in pre-defined number of streams, and queries order within each stream is also pre-defined. For

[2020-02-18 10:52] yingsu00 commented on #14111
CC: @biswapesh @nezihyigitbasi @baldeephira

[2020-02-18 13:04] jondeandres commented on #9620
Any update on this?

[2020-02-18 13:06] spaghettifunk commented on #9620
I'm sorry but we decided to not use Presto in our company. Unfortunately I could not work on this anymore.

[2020-02-19 01:17] bhhari opened #14118 "Reading Struct field fails if there is a schema mismatch with pushdown filter enabled"
If there is schema evolution with struct field the scan fails with pushdown enabled as we are not populating the required field.

For example a struct schema is modified to add a new field c to be -> row ( a, b, c)
the streamreaders for this schema are only 2 for a, b but when we return the field blocks it fails as we did not create a reader for "c" field.

[code]

[2020-02-19 21:28] bhhari commented on #14118
CC : @prestodb/aria

[2020-02-20 22:23] highker opened #14129 "exceeding max-task-update-size can hang queries"
Regression introduced in #13584. The exception is thrown in a executor. Throwing an error will hang the query rather than failing it. Stacktrace:

[code]

The executor needs to handle exceptions properly

[2020-02-21 16:59] aweisberg commented on #13859
Sorry for the delay on this. I have tried to reproduce it locally a couple of times by running it in a loop. I just started it in Travis to see if it reproduces there. If it does I will see if I can debug the container. We'll need to ask Travis to enable debug mode for the repository.

[2020-02-21 17:54] #7035 closed

[2020-02-22 00:59] NikhilCollooru commented on #14061
Fixed as part of #14090

[2020-02-22 01:01] #14061 closed

[2020-02-23 07:09] #14129 closed

[2020-02-23 19:13] #12987 closed

[2020-02-23 21:48] bhhari commented on #14118
Fixed by #14116

[2020-02-23 21:48] #14118 closed

[2020-02-24 14:47] kevin-lester commented on #2433
Just adding my vote to this feature request.

[2020-02-25 06:48] qwalker opened #14156 "Jackson InvalidDefinitionException in Druid connector"
I compiled master code at commit 1e7780e7a151f43b3107267b0bdedde0686ce511, prepared a local druid 0.17 instance and loaded its sample dataset (wikiticker-2015-09-12-sampled.json.gz), then I tested the druid connector with some statements:

1) "`SHOW TABLES`": worked
2) "`DESC wikiticker`": worked
3) "`SELECT * FROM wikiticker LIMIT 10`": didn't work.

The druid datasource "wikiticker" was loaded v

[2020-02-25 06:50] qwalker commented on #14156
@zhenxiao Really appreciate your work, hop you can help on this issue.

[2020-02-25 13:19] gaojun2048 opened #14157 "A lot of Major GC block the query on presto cluster"
Hi All , There are a lot of major GC in our presto, which makes the query slow. This is the configuration of our jvm.config
[code]

Some other parameters that may be relevant:
[code]

We set experimental.reserved-pool-enabled=false to close the reserved pool. so the General Pool have 28G memory.

![image](https://user-images.githubusercontent.com/32193458/75160623-51892300-5755-11ea-9640-5c97105d5

[2020-02-25 16:50] rschlussel commented on #14156
I didn't think we had a druid connector. Is that a private connector you wrote?  Basically the task update request is trying to send something in the update that uses the Interval type from joda time.  It doesn't know how to serialize that type, so the update fails. I suspect it would be something in the ConnectorTransactionHandle or ConnectorSplit for that connector.

[2020-02-25 21:02] #9926 closed

[2020-02-26 01:07] qwalker commented on #14156
@rschlussel The druid connector is from @zhenxiao and it's already in current master branch.

[2020-02-26 01:46] gaojun2048 commented on #14157
I upgrade the jdk to jdk11 , it`s ok.

[2020-02-26 01:47] #14157 closed

[2020-02-26 04:31] yingsu00 opened #14162 "OptimizedPartitionedOutputOperator uses too much memory"
Recently we observed OptimizedPartitionedOutputOperator is using more memory than the legacy PartitionedOutputOperator. There're a few facts that contributed to this increased memory usage:

1. OptimizedPartitionedOutputOperator persists one or several BlockEncodingBuffers for each column for each partition. These buffers won't shrink during the query life time.
2. For nested  BlockEncodingBuffer,

[2020-02-26 04:33] yingsu00 commented on #14162
cc @mbasmanova @oerling @bhhari @cemcayiroglu @tdcmeehan @wenleix @swapsmagic

[2020-02-26 07:30] zhenxiao commented on #14156
yep, thanks for trying it, @qwalker
am on a business trip right now. Will look at it in a few days
could you please share ur `describe table` result?

[2020-02-26 11:25] qwalker commented on #14156
@zhenxiao I'd love to help test since I was expecting druid connector for long time:)

Here is the table description:

[code]

[2020-02-26 18:19] rschlussel commented on #14156
Ah sorry, there was an issue with my intellij project and couldn't see the presto-druid module.  I think the problem is with the Interval field in DruidSegmentInfo.  There's no jackson serialization defined for the interval type.

[2020-02-26 19:16] btsperes commented on #13139
hey @silverguo, I'm facing the same issue on Presto. Could you please guide me to upgrade joda time package? Many thanks

[2020-02-26 19:36] #9987 closed

[2020-02-26 20:25] zhenxiao commented on #14156
Hi @qwalker how about trying selecting NOT __time columns?

BTW, did you have a chance to try; https://github.com/prestodb/presto/pull/14155
I fixed the support for timestamp and added predicate pushdown.

[2020-02-26 20:47] patrickofriel-wk opened #14166 "Describe output with colons in alias"
When doing the following:

[code]

The "Column Name" returned in the output replaces the colon with the string literal null. So it looks like `header null thisguy` instead of `header : thisguy`. When running the same query, I do not have the same issue as the DESCRIBE OUTPUT.

Any idea what's causing this?

[2020-02-26 22:40] rongrong opened #14168 "encode parameter types for sql function signatures stored in MySqlFunctionNamespace"
There's a length restriction for sql function parameter types. Encode the parameter to accommodate complex types.

[2020-02-27 03:17] kewang1024 opened #14170 "'Enable failure detector in tests' is causing flaky tests"
It seems that commit '3eef1b02da Enable failure detector in tests' is causing tests like `TestMemoryWorkerCrash` to be flaky.
After reverting this change, trunk goes back to normal. I think it may be related to this change.
@rschlussel Can you help take a look?  Thanks!

[2020-02-27 03:57] qwalker commented on #14156
@zhenxiao I saw your pushdown PR was merged into master, so I tested with latest master code, but now the server can't start. The error is :

[code]

[2020-02-27 04:24] skyahead commented on #14156
I was trying the run the latest code this afternoon and got the same error, adding
`
binder.bind(DeterminismEvaluator.class).toInstance(context.getRowExpressionService().getDeterminismEvaluator());                    });
`
in /presto-druid/src/main/java/com/facebook/presto/druid/DruidConnectorFactory.java can fix it.

[2020-02-27 05:23] qwalker commented on #14156
@skyahead I added that line and it worked too. Now I can run `select * from table limit 10` successfully, but `select count(*) from table` still fails with that jackson serialization error. Does that work for you?

[2020-02-27 05:51] skyahead commented on #14156
@qwalker I could not run any queries as I got another error: `Unable to create class com.facebook.presto.druid.metadata.DruidSegmentInfo from JSON response:`. I run against S3, and I am not sure if that is the reason.

BTW, I do not think `limit` and `aggregation` are pushdown yet. I was thinking to try filters only.

[2020-02-27 06:04] zhenxiao commented on #14156
Hi @skyahead @qwalker sorry for the problem
am working on a fix: https://github.com/prestodb/presto/pull/14171
limit pushdown, aggregation pushdown, and topN pushdown will be implemented in following PRs
Will debug more issues, give me a few days

[2020-02-27 09:30] silverguo commented on #13139
Hi @btsperes , something similar like,
https://github.com/prestodb/presto/blob/816efa9cec39c7f8ca68808dc23f1bef3a289193/pom.xml#L56
Depends on your build tool.

But if you use the latest version of presto, you might not have this issue.

[2020-02-27 09:38] dipanjanmukherjee83 commented on #11298
Do we have any update how we can stop seeing each other quires from Presto-ui.
Because of this we have got couple of security incidents in our environments.

[2020-02-27 22:42] rschlussel commented on #14170
Can you share the stack trace from a failed run.  I can easily turn off the failure detector for that test, but I'm curious where specifically it was failing.

[2020-02-28 07:05] zllclang commented on #14156
Hi @zhenxiao
I have tried the new code and got the same error when running "select * from wikipedia limit 10"

2020-02-28T14:28:43.211+0800	ERROR	remote-task-callback-14	com.facebook.airlift.concurrent.BoundedExecutor	Task failed
java.lang.IllegalArgumentException: com.facebook.presto.server.TaskUpdateRequest could not be converted to JSON
	at com.facebook.airlift.json.JsonCodec.toJsonBytes(JsonCo

[2020-02-28 08:11] zllclang commented on #14156
@zhenxiao  Really appreciate your work, I hope the feature can release as soon as possiable.

[2020-02-28 09:09] bhhari opened #14179 "Classify ORC bad format as an External Error"
If there is a mismatch between the table schema (double) and stream descriptor type (long) we and the select has no filters, we return a LazyBlock which on loading results in "unsupported type double" as the StreamReader that is created is Long but the outputtype is double.
Since this is a unchecked exception we classify this an INTERNAL_ERROR, but this should be of a EXTERNAL error caused due to

[2020-02-28 14:55] #14170 closed

[2020-02-28 20:01] viczhang861 commented on #14179
Part of https://github.com/prestodb/presto/issues/13935

[2020-02-28 23:27] #12500 closed

[2020-02-29 05:34] #4182 closed

[2020-03-01 05:14] #10010 closed

[2020-03-01 15:12] kaifeng-h opened #14183 "Inconsistent library versions reminder."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 2 inconsistent libraries.

Take org.postgresql:postgresql for example, this library is declared as version 42.2.5 in presto-postgresql, 9.3-1102-jdbc41 in presto-redshift and etc... Such version inconsistencies may cause unnecessary maintenance effort in the long run. For example, if two modules become inter

[2020-03-01 15:37] tooptoop4 commented on #11952
on 'Performance boost - timeline' slide of https://www.starburstdata.com/wp-content/uploads/2019/06/Lyft-Dynamic-Presto-Scaling.pdf Lyft mentions daily recycling of nodes

[2020-03-01 15:41] tooptoop4 commented on #13896
similar to https://github.com/prestodb/presto/issues/3876 and https://github.com/prestosql/presto/issues/14

[2020-03-02 07:33] #9888 closed

[2020-03-02 08:35] zllclang commented on #14156
I tried the latest code in the master and still get the same error.  Does that work for you? @qwalker

[2020-03-02 18:52] areiche2 opened #14185 "New"

[2020-03-02 19:09] areiche2 commented on #14185
Accidentally opened.

[2020-03-02 19:09] #14185 closed

[2020-03-03 04:30] qwalker commented on #14156
@zllclang I didn't test after that. I will wait for couple weeks and I believe it will be all good then.

[2020-03-03 04:33] skyahead commented on #14156
@zllclang The latest code works for me.

[2020-03-03 04:55] #13511 closed

[2020-03-03 13:39] rocar commented on #14156
@zllclang Really appreciate too. Just need this recently in my project, also experiencing the same interval serializer issue on select * , select count(*) or select without __time.

[2020-03-04 00:57] zhenxiao commented on #14156
hi @rocar @zllclang @qwalker sorry for the late reply.
Give me some time to fix it. Just add support for limit pushdown.

The select * issue seems: there is a `count` column in `wikipedia` table, where when we translate into Druid queries, Druid will complain `count` is a reserved word. Let me think more how to fix it.

does selecting without `count` have problem?

[2020-03-04 01:07] mbasmanova opened #14202 "Optimize SHOW STATS for wide tables"
SHOW STATS always shows statistics for all columns in a table. This makes it difficult to lookup statistics for specific columns in a wide table, e.g. a table with large number of columns (> 100). It would be helpful to modify SHOW STATS to allow user to specify the list of columns that are of interest, e.g.

`SHOW STATS FOR (SELECT foo, bar FROM t)`

CC: @viczhang861 @aweisberg @arhimondr @wenlei

[2020-03-04 08:01] wangshengQAQ opened #14206 "Select in ORC.Error message:Malformed ORC file"
Create ORC table in presto and insert a record.
[code]

When I first queryed this table with beeline.
[code]
when I second queryed this table with beeline.
[code]

Now I insert a record in presto once again.
[code]
Queryed this table with beeline.
[code]
Anybody tell me why? ths!

[2020-03-04 11:57] rocar commented on #14156
@zllclang I have tested with the following combinations:
select count(user) from wikipedia;
select user from wikipedia;
select namespace from wikipedia;
select * from wikipedia;
select count(*) from wikipedia;
select 1 from wikipedia;

All above SQL gave the same error.
Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class org.joda.time.Interval an

[2020-03-04 18:56] 9833y opened #14208 "View is stale, must be recreated"
Whenever I want to create a view by using terraform, it gives me this error
view is stale, mush be recreated.

Even query like this

CREATE OR REPLACE VIEW a AS

select *
from table_a

Does anyone know why? Thanks a lot

[2020-03-04 22:05] #14202 closed

[2020-03-05 00:47] #14179 closed

[2020-03-05 14:23] #6693 closed

[2020-03-05 20:08] viczhang861 commented on #4182
Can be related to https://github.com/prestodb/presto/issues/14071

[2020-03-05 22:13] rongrong opened #14218 "Extend `CREATE FUNCTION` syntax to support external function"
## Syntax
On top of syntax proposed in #13254, Add `<external body reference>` to `<routine body>`
[code]

Add `JAVA` to `<language name>`
[code]

Related to #14053

[2020-03-06 07:30] #10045 closed

[2020-03-06 08:17] huynhphuong10284 commented on #12440
Please share for this friend.

[2020-03-06 14:06] brucemen711 commented on #8980
Hi all, Is this thread still active ?

[2020-03-06 14:09] bolkedebruin commented on #8980
No?

[2020-03-06 16:39] theesen commented on #11917
Sure @tomSmida I will put some time aside next week to prepare the PullRequest.
Had my notification messed up in github so I saw the message quite late. I did not put any further effort into it because there was no reaction here :) But since I am not the only one looking for that feature I will invest more time in it.

[2020-03-07 02:30] #10055 closed

[2020-03-07 05:18] #9494 closed

[2020-03-07 08:48] #10002 closed

[2020-03-08 07:11] chyikwei commented on #11189
Is anyone working on this? I would like to claim this issue if possible.

[2020-03-08 09:33] tooptoop4 commented on #11952
@zsaltys can u do heap dump on fresh cluster and week later?

[2020-03-08 13:56] #10058 closed

[2020-03-08 21:36] rongrong commented on #11189
Currently we only support JSON format for `EXPLAIN (TYPE IO, FORMAT JSON)`. It would be great if you can help us to extend it to other types!

[2020-03-09 00:53] quietgopher opened #14226 "How does https://prestosql.io/ docs compare to https://prestodb.io/ ?"
I see prestodb.io linked to from the github page.  I've been using prestosql.io.  I wanted to make sure it's not a scam page.

[2020-03-09 01:12] quietgopher commented on #14226
Lol, so I found this.
https://blog.openbridge.com/what-is-facebook-presto-presto-database-or-prestodb-a-powerful-sql-query-engine-77d4c4a66d4

[2020-03-09 01:12] #14226 closed

[2020-03-09 06:40] gravitys169 commented on #14053
This remote function looks very useful for customer's exsited udf! I wonder what's the milestone about this issue?

[2020-03-09 16:11] chyikwei commented on #11189
@rongrong thanks! Will check the reference commit you share.

[2020-03-09 17:41] rongrong commented on #2445
@fpompermaier Could you elaborate your use case? Thanks!

[2020-03-09 19:20] rongrong commented on #14053
I'm actively working on this. The presto engine change should be ready in a couple of months. We want to eventually open source a remote udf server implementation as well but there's no concrete timeline about that yet. We want to first launch this in production in Facebook and see what kind of scaling problems we would see and how to manage it better. However, you will be able to implement a simp

[2020-03-10 03:03] #10081 closed

[2020-03-10 05:03] #7521 closed

[2020-03-10 07:35] Doslin opened #14231 "how can I use druid connector"

[2020-03-10 08:23] bhhari opened #14232 "Fix reading Map<int,int> column with negative keys"
Currently the SubfieldTokenizer throws parse exception when we try to access a map with negative key.

`Select map_col[-1] from map_table`
[code]
cc: @mbasmanova

[2020-03-10 08:56] fpompermaier commented on #2445
It would be great if I can dynamically add/remove catalogs without restarting Presto

[2020-03-10 09:35] ramveer93 commented on #2445
I have raise the PR for this , You can find it here: https://github.com/prestodb/presto/pull/12605

[2020-03-10 10:02] mbasmanova commented on #14232
CC: @prestodb/aria

[2020-03-10 10:32] fpompermaier commented on #2445
Indeed...why not merging it?

[2020-03-10 14:07] #14232 closed

[2020-03-10 14:10] mbasmanova opened #14236 "Aria scan: batch size calculation doesn't include the size of variable width lazy blocks"
OrcSelectiveRecordReader doesn't call updateMaxCombinedBytesPerRow for lazy blocks. The fix might be to add this call to OrcSelectiveRecordReader.OrcBlockLoader. Unit test might go into TestOrcReaderPositions.

CC: @prestodb/aria

[2020-03-11 08:07] gravitys169 commented on #14053
thanks for your answer! I wonder is the UDF server a separate JVM process from presto server? and How does it support the exsited hive udf, by adding the hvie udf to the UDF server's classpath?

[2020-03-11 09:30] #10087 closed

[2020-03-11 20:30] #9554 closed

[2020-03-11 21:09] caithagoras opened #14239 "Update connector documentation to reflect features about affinity scheduling"

[2020-03-11 22:10] kewang1024 commented on #14239
PR: https://github.com/prestodb/presto/pull/14240

[2020-03-11 23:04] rongrong commented on #14053
Currently our plan is that UDF server is a separate set of machines running separate JVMs from Presto server. You could potentially have the UDF server running on the same machines as presto server (colocated) as well if you have beefy machines with extra resources. We want to have separate JVMs because these UDFs could potentially use a lot of resource, calling external services, doing other expe

[2020-03-12 06:37] gravitys169 commented on #14053
@rongrong ,thanks for you sharing! It seems your implementation is close to the Flink's way(am I right?). And we do some very naive research using reflection  to invoke Hive function just as you have said.

[2020-03-12 08:41] #10097 closed

[2020-03-12 19:07] rongrong commented on #14053
@gravitys169 I'm not familiar with Flink. If you can point me to the code I can take a look.

I'm not sure that I understand your "two levels of invoking hive function" `@ScalarFunction` and `@SqlScalarFunction` are Presto builtin function concepts. How are they related to Hive functions?

[2020-03-12 21:41] #8771 closed

[2020-03-13 03:10] rvazquezglez opened #14243 "Not reading fields that start with `$` of a MongoDB collection"
As mentioned in #10918 some fields (columns) are not added, thanks to [this StackOverflow question](https://stackoverflow.com/questions/58846447/how-to-query-nested-fields-in-mongodb-using-presto)  I was able to add some fields and query over them.

However, there is one field that has the next structure:
[code]
I am only interested on the `$id`, so I modified the `_schema` to add that manually li

[2020-03-13 03:46] gravitys169 commented on #14053
If you use reflection to invoke hive function in presto you may need these two function concepts. And the Remote UDF Server is different from presto, so  maybe don't need them.

[2020-03-13 05:44] mpontillo commented on #9069
I just hit this issue today with the MySQL connector:

[code]

[2020-03-13 12:05] #10111 closed

[2020-03-13 18:37] rongrong commented on #14053
@gravitys169  Currently, in the thrift remote UDF server, we plan to use [ThriftFunctionId](https://github.com/prestodb/presto/pull/14012/files#diff-65c108dd1d8e85ce8e9f8893864195fd). Function name and input types would give you enough information to invoke the Hive function, and return type is used to serialize results.

[2020-03-13 20:04] tooptoop4 commented on #12911
u there @bendemott  ?

[2020-03-14 09:52] #10107 closed

[2020-03-14 09:52] #10100 closed

[2020-03-15 13:41] KentonParton commented on #2445
@ramveer93  Do you think it would be a good idea, as mentioned by @aweisberg [here](https://github.com/prestodb/presto/pull/12605#issuecomment-510595949), to get the functionality for adding catalogs approved then work on removing catalogs in a separate PR? Personally, I would love to see this PR go through.

[2020-03-16 04:15] pengbomuzzy opened #14250 "Failed connecting to Hive metastore: [localhost:9083]"
I followed the README.md and went into hive and ran -
`SHOW TABLES FROM hive.default;` but got
`Query 20200316_041146_00013_r6g3w failed: Failed connecting to Hive metastore: [localhost:9083]`.

I don't have my own hive metastore so I used
`-Dhive.metastore.uri=thrift://localhost:9083`, is there anything I'm missing?

BTW, ` SELECT * FROM system.runtime.nodes;` works, which means presto runs corre

[2020-03-16 06:49] nikitajaiswal9299 commented on #7338
@thaibui can you please explain more about that feature flag you are talking about ?? Please mention that property too.

[2020-03-16 07:54] beepupa opened #14251 "broker Druid query should return Json Array"
当我使用Druid连接器的时候。执行 select * from test limit 10，报错。请问我该怎么解决？
presto:druid> select * from test limit 10;

Query 20200316_075245_00017_54mhe, FAILED, 1 node
Splits: 17 total, 0 done (0.00%)
0:01 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20200316_075245_00017_54mhe failed: broker Druid query should return Json Array

[2020-03-16 08:30] beepupa commented on #14231
connector.name=druid

druid.broker-url=http://ip:port
druid.coordinator-url=http://ip:port
druid.schema-name=druid

[2020-03-16 08:43] bhhari opened #14253 "Subscript expression optmization results in an NPE during subfield pushdown"
The latest code in the PushdownSubFields optimizes the subscript expression before creating the subfields. Therefore there are some cases where the optimization results in null in case of maps.
So when we try to extract the subfield with null it results in an NPE. Adding a null check to the index optimized expression resolves the issue.

[code]

[2020-03-16 11:11] yoctottaops commented on #12201
Any new development?

[2020-03-16 18:31] yingsu00 commented on #14162
@mbasmanova hi Masha thanks for merging https://github.com/prestodb/presto/pull/14222. But this issue is not closed yet. I still have a series of PRs coming to address different aspects of the problem.

[2020-03-16 21:08] pengbomuzzy commented on #14250
I set up a hive metastore by installing hive on my machine and tried -
`hive --service metastore -p 9083`
(you need `sudo` sometimes) and it works.

[2020-03-16 21:08] #14250 closed

[2020-03-16 22:08] yingsu00 opened #14257 "Wrong results for queries with join over unnest."
We recently observed some query returns wrong results for queries that have joins over unnest, and unnest produces multiple level of nested DictionaryBlocks and some of them is a view (i.e. the idsOffset is non-zero). For such blocks, the BlockFlattener would calculate the mappings wrong, such that the OptimizedPartitionedOutputOperator would shuffle wrong rows. For more details please see the fix

[2020-03-16 22:08] yingsu00 commented on #14257
Closed by #14245

[2020-03-16 22:08] #14257 closed

[2020-03-16 22:12] mbasmanova commented on #14257
CC: @prestodb/aria

[2020-03-17 08:30] prakharjain-vogo opened #14258 "com.facebook.presto.spi.PrestoException: <internal-ip>:9083: java.net.SocketTimeoutException: Read timed out"
Hello.
I have Presto EMR 5.29.0 cluster.

I was able to create hive schema like this:
`CREATE SCHEMA hive.bigdata WITH (location = 's3://vogo-big-data-lake/');`
and also able to create one table in it.

But when I was creating another table which has lot of files in s3, I was getting this error in client side:

`com.facebook.presto.spi.PrestoException: <private-ip>:9083: java.net.SocketTimeoutExce

[2020-03-17 11:08] prakharjain-vogo commented on #12748
@rmgpinto  can you tell me where did you add `transaction.idle-timeout` parameter?

[2020-03-17 11:11] rmgpinto commented on #12748
Hi, I've decided not to use transactions.

[2020-03-17 11:14] prakharjain-vogo commented on #12748
any idea where to set this parameter, I have tried config.properties, but it doesn't seems to work.
I am using Presto EMR 5.29.0

And my config.properties looks like this:

coordinator=true
node-scheduler.include-coordinator=false
discovery.uri=http://ip-172-31-36-35.ap-south-1.compute.internal:8889
http-server.threads.max=500
discovery-server.enabled=true
sink.max-buffer-size=1GB
query.max-memory

[2020-03-17 21:49] #14253 closed

[2020-03-18 03:47] #13707 closed

[2020-03-18 04:05] #10143 closed

[2020-03-18 08:03] btsken opened #14263 "How to enable jwt for authentication"
hi

I want to enable JWT for authentication, but I can't find any document.

Right now, I only know I can add "http-server.authentication.type=JWT"

below code maybe needed, but I don't know where to put it.
[code]

Finally, what should I do to set the token access control

thanks~

[2020-03-18 14:50] rschlussel opened #14265 "Refactored scheduler causes high coordinator CPU usage"
The refactored scheduler (use-legacy-scheduler=false) can cause high cpu usage in the coordinator.  It looks like some issue of runaway threads, as turning off the legacy scheduler for all future queries did not mitigate the issue, and the cluster needed to be restarted.

Based on a flamegraph from an affected cluster, 55% of cpu time was spent in  com/facebook/presto/execution/scheduler/SqlQueryS

[2020-03-20 01:57] KentonParton commented on #8980
@shekarrreddy568 would you mind sharing the environment you used to test the ranger integration?

[2020-03-20 19:11] BenAnstey opened #14269 "Prepared statement parse error with limit ?"
Using presto 0.214. Trying to create a prepared statement with limit ? and I get the following:

[code]

[code]

[2020-03-21 01:05] pengbomuzzy commented on #12972
#14270

[2020-03-21 05:59] shekarrreddy568 commented on #8980
hey ,

Currently i am on vacation, can be able to help after 10 days.

On Fri, Mar 20, 2020, 7:28 AM Kenton Parton <notifications@github.com>
wrote:

[2020-03-21 07:57] #1112 closed

[2020-03-21 16:29] 15astro opened #14271 "Cassandra Connector: java.lang.NoClassDefFoundError: io/netty/util/Timer"
The presto-cli fails with `Query is gone (server restarted?)` when trying to describe a table from Cassandra.

Error at presto server side:
[code]
How to solve this dependency issue?

[2020-03-21 17:57] #4732 closed

[2020-03-22 00:09] danbosnichill opened #14272 "Cryptic error message when joining tables where not all of the group by columns are used in the join"
The following query works.

[code]

But this query fails.

[code]

The difference is the ON statement.

The Presto client receives the following:

[code]

The Presto server logs contains

[code]

[2020-03-22 01:23] prabakarankrishnan commented on #12025
I also facing same problem. MSCK repair I did. I am able to query in Hive. But still presto not able to access...

[2020-03-22 04:18] yingsu00 opened #14274 "Reuse auxiliary buffers among BlockEncodingBuffers within the same partition in OptimizedPartitionedOutputOperator"
https://github.com/prestodb/presto/pull/14234 reuses positions (for nested level), offsets and mappedPositions between partitions. Ie. these buffers can be reused by the next partition if the current page can be consumed totally for the current partition. This can be improved to be reused between different BlockEncodingBuffers within the same partition, if we can move the calculation of row sizes

[2020-03-22 04:21] yingsu00 commented on #14274
cc @mbasmanova @bhhari @oerling

[2020-03-22 07:08] #10175 closed

[2020-03-22 20:42] danbosnichill opened #14277 "Cryptic error message when I query Pinot and sum more than one metric"
If I run the following query, it fails.  The error code is at the bottom.  If I remove any reference to cost, it works fine.

[code]

Query 20200322_051636_00065_p75wc failed: Unexpected response status: 500 for request  to url http://192.168.0.29:8000/debug/routingTable/events, with headers {Accept=[application/json]}, full response

The console logs from the PrestoServer are pretty useless.  No

[2020-03-22 20:43] quietgopher commented on #14277
If I remove either cost or clicks, it works fine.  It still fails if I add cost sorting to the stats ORDER BY clause.

[2020-03-22 20:52] quietgopher commented on #14277
Debugging more, this seems to be an integration issue with Presto.  It's just the stat query part that is failing.  The query works when run against Pinot directly.  The following query fails when I execute it against Pinot.

[code]

[2020-03-22 21:01] quietgopher commented on #14277
Ah, I'm told this is a connector issue and the Pinot team has a different one.
https://apache-pinot.gitbook.io/apache-pinot-cookbook/integrations/presto

[2020-03-22 21:17] quietgopher commented on #14277
I added `pinot.allow-multiple-aggregations=true` to my pinot config and it worked.

It might be worth updating the docs and error message.
https://prestodb.io/docs/current/connector/pinot.html

[2020-03-22 22:27] RugratsJ opened #14278 "Generic JDBC connector for any back-end data source that's currently not supported by presto"
Is it possible to create a generic JDBC connector for any back-end data source that's currently not supported by Presto? For example, for netezza, we could drop the Netezza jar file to the generic-jdbc catalog folder after the installation. Currently, Starburst Presto has the generice-jdbc connector in place. For the open source Presto, it will be nice to have this connector to support any other J

[2020-03-22 22:53] RugratsJ opened #14279 "Capability of pushing down the query and only return the final result set from data source by session"
Currently many Presto (JDBC based) connectors such as mysql, postgres, Oracle are single threaded. When doing aggregation calculation, Presto will do a full table scan, then do the aggregation on all records returned from the data source, which is very slow in some case. For example, for TPCH 100G orders 150M records table stored in Postgresql, if we do the following count aggregation query on pre

[2020-03-23 01:44] KentonParton commented on #8980
@shekarrreddy568 That would be great, thank you!

[2020-03-23 08:22] yingsu00 opened #14280 "Create a new ArrayAllocator that can arrange buffers according to their sizes"
Currently we have a SimpleArrayAllocator that borrow/return arrays in a stack mode. This could borrow arrays that are much larger than the requested size, causing later requests fail and allocate new arrays. E.g. Suppose SimpleArrayAllocator has 2 arrays of size 100000(stack top) and 8, but the next requests are 8 and 100000, then the first request of size 8 would get array of size 100000, while t

[2020-03-23 08:29] yingsu00 commented on #14280
cc @prestodb/aria

[2020-03-23 15:28] mbasmanova commented on #14274
@yingsu00 Is this part of #14162 ? If so, let's close this issue and move this discussion to #14162 . I find it difficult to keep track of the big picture when pieces are scattered.

[2020-03-23 19:14] tooptoop4 commented on #14278
https://github.com/prestosql/presto/pull/3105 would be trivial to port

[2020-03-23 21:11] aidan-melen commented on #12338
What is the parquet_fail_with_corrupted_statistics` session property?

[2020-03-23 23:25] #10186 closed

[2020-03-23 23:25] #9884 closed

[2020-03-24 04:47] highker opened #14284 "Make presto-orc a common library"
`presto-orc` as a common library can serve for other compute engines to reader/write ORC files. Making the module a common library, which has "almost no" dependency to presto codebase, can benefit larger community.

### ~~Phase 1: Drop dependency on `presto-memory-context` and `presto-hive-common` (done)~~
This can be done very common abstraction. Both memory tracking and hive common are generic e

[2020-03-24 07:35] ertanyildiz opened #14285 "Get query string by QueryId"
Hey! I am developing a connector using `PRESTO SPI`. I just need to get the query string that user executes on Presto. I can get `queryId` but no query string supplied from SPI.

[2020-03-24 17:59] bhhari opened #14287 "Explain (Type IO) fails when Aria is enabled"
[code]

[2020-03-24 19:26] mbasmanova commented on #14287
CC: @prestodb/aria

[2020-03-24 22:35] drnextgis commented on #9890
Hi there @mbasmanova. I'm relatively new to PrestoDB thus I have couple of silly questions. Could you please explain what "Pushing Down WKT Parsing" means in the context you mentioned above? I've read a bit about pushdown predicates and as far as I understood it is functionality allowing connectors to perform filtering at the underlying data source. But in your example above you just create table

[2020-03-24 23:08] mbasmanova commented on #9890
@drnextgis

Consider the following query:

[code]

Originally, it was executed as a cross join with a filter on top. First all possible combinations of points rows and polygons rows are generated, then `ST_Contains(ST_GeometryFromText(wkt), ST_Point(lon, lat))` expression is evaluated for each pair of rows. This means that `ST_GeometryFromText(wkt)` (WKR parsing) expression is evaluated multiple t

[2020-03-24 23:10] mbasmanova commented on #9890
@drnextgis Diagram in https://github.com/prestodb/presto/pull/9474 might help understand this further.

<img width="858" alt="screen shot 2018-02-28 at 9 30 36 am" src="https://user-images.githubusercontent.com/27965151/36798305-3d544802-1c78-11e8-9526-7d1c73cffff6.png">

[2020-03-25 14:10] suryadevarauday opened #14293 "EMR Ranger Presto Plugin issues 2.1.0-SNAPSHOT"
We have Ranger 2.1.0-SNAPSHOT installed on EMR 5.29 and the presto Plugin is working if we create a ranger policy with schema = * and Presto Catalog = * (or) hive but if i have the schema's added seperatly like default / inter* / schemaname* it' throwing an error like below.

$ presto-cli --catalog hive
presto> SHOW SCHEMAS;
Query 20200325_135650_00001_d8mxn failed: Access Denied: Cannot access ca

[2020-03-25 20:52] BlueStalker opened #14294 "Support TVF in Presto"
TVF, aka Table-Valued Function is widely used by various analytics engines, across RDMS, warehouse, etc. This issue was opened for discussion on how to support TVF in presto. Some significant working items are:
1. Parser/Planner Changes, we need to make some extension on [CREATE FUNCTION](https://github.com/prestodb/presto/issues/13254) to be able to return TABLE.
2. Runtime execution support of t

[2020-03-25 23:41] #9024 closed

[2020-03-26 07:45] pigxuyu commented on #14285
presto connector can not get  query string, but you can get the scan columns for the connector.

Maybe there's a temporary solution, you can get the full query string and queryId from AST, then write to external storage, connector get from external storage.

[2020-03-26 11:21] beepupa opened #14298 "Druid connector join mysql come to nothing"
2020-03-26T19:12:39.002+0800    ERROR   remote-task-callback-160        com.facebook.airlift.concurrent.BoundedExecutor Task failed
java.lang.IllegalArgumentException: com.facebook.presto.server.TaskUpdateRequest could not be converted to JSON
        at com.facebook.airlift.json.JsonCodec.toJsonBytes(JsonCodec.java:214)
        at com.facebook.presto.server.smile.JsonCodecWrapper.toBytes(JsonCode

[2020-03-26 11:22] beepupa commented on #14298
What should I do

[2020-03-26 11:25] beepupa commented on #14298
![image](https://user-images.githubusercontent.com/36186038/77641717-79a7b400-6f97-11ea-844f-117597c2b791.png)

[2020-03-26 15:05] #10211 closed

[2020-03-26 15:11] sshirazi commented on #9890
HiThis is all a mute point if you are not using a spatial index.  Cross joins in spatial data take too long.  Maria I believe you worked on this.  Does the push down still apply when using a spatial index?

Sent from Yahoo Mail on Android

  On Tue., 24 Mar. 2020 at 7:09 p.m., Maria Basmanova<notifications@github.com> wrote:

@drnextgis

what "Pushing Down WKT Parsing" means in the context you men

[2020-03-26 15:37] mbasmanova commented on #9890
@sshirazi This particular investigation was useful when I was exploring the benefits of introducing spatial join to Presto. Currently, we have both broadcast and distributed spatial joins and the pushdown of WKT parsing happens automatically behind the scene.

[2020-03-26 15:37] mbasmanova commented on #9890
@sshirazi Have you had a chance to use spatial joins capabilities of Presto? Do you have any feedback?

[2020-03-26 17:05] #5643 closed

[2020-03-26 19:24] rongrong commented on #14294
The [CREATE FUNCTION](https://github.com/prestodb/presto/issues/13254) syntax is primarily useful for SQL functions, i.e., functions defined in SQL. SQL table function is only one type of TVF. A generic framework to execute TVF is a way bigger undertake than supporting a restricted subset of TVF written in SQL. We can potentially inline SQL TVF, thus not changing the Presto runtime. But supporting

[2020-03-26 19:31] tooptoop4 commented on #14298
share more details so others can replicate the issue. ie your query, presto version, druid setup. does plain druid sql without joining mysql work?

[2020-03-27 05:58] beepupa commented on #14298
Version: 0.233.1  ，Use alone is normal work，
my druid seting:
druid.broker-url=http://myip:8082
druid.coordinator-url=http://myip:8081
druid.schema-name=druid
my request :
presto:druid> select user from test a join mysql.test.ab b on a.sum_added=b.sum_added;

Query 20200327_055710_00006_f9pwa, RUNNING, 1 node, 65 splits
0:12 [    3 rows,     0B] [    0 rows/s,     0B/s] [===========>>>>>>>>>>>>>>>

[2020-03-27 06:12] beepupa commented on #14298
I'm trying to use
 select user from test a join mysql.test.ab b on a.sum_added=b.sum_added limit 2;
Is the same

[2020-03-27 09:46] LatticeToKnow opened #14301 "How to connect elasticsearch"
Connect elasticsearch, how to configure the json file under elasticsearch, and the corresponding index cannot be read after installing the configuration on the official website

[2020-03-27 10:01] #9988 closed

[2020-03-27 22:11] sshirazi commented on #9890
So sorry I wish but no cycles to explore that.

Sent from Yahoo Mail on Android

  On Thu., 26 Mar. 2020 at 11:38 a.m., Maria Basmanova<notifications@github.com> wrote:

@sshirazi Have you had a chance to use spatial joins capabilities of Presto? Do you have any feedback?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-28 13:29] watenuo4428 opened #14304 "An exception occurred while connecting to elasticsearch 7.6.1"
only try to connect to elasticsearch 7.6.1, table config info:
[code]

an exception occurred:
[code]

[2020-03-28 13:49] watenuo4428 commented on #14304
I guess this is because of a netty version conflict, but how should I fix it

[2020-03-28 18:34] #14239 closed

[2020-03-28 19:50] #10225 closed

[2020-03-28 23:50] #9011 closed

[2020-03-29 01:18] caithagoras opened #14306 "Add documentation for KHyperLogLog functions"
Documentations needs to be added in `presto-docs/src/sphinx/functions`.

cc @mcorreaiz @tdcmeehan @shixuan-fan

[2020-03-29 08:05] wang4428 commented on #14304
This problem has been solved：the netty libraries missing 4.1.13 in the 0.233.1 package

So I just need to add the appropriate class libraries to the presto-elasticsearch folder
[code]

As the same time, I upgraded dep.elasticsearch.version from 6.0.0 to 6.0.1

It works now。

[2020-03-29 08:26] elukey commented on #13910
This was fixed in PyHive 0.6.2 :)

[2020-03-29 08:26] #13910 closed

[2020-03-30 06:36] zhenxiao commented on #14156
hi @rocar @zllclang @qwalker
aggregation pushdown and limit pushdown is merged. Could you please test latest master and keep me posted if you still see errors?

[2020-03-30 08:48] rocar commented on #14156
hi @zhenxiao
Thanks for the updates. Tested the latest master, still hv the same error. I cant found any SQL that runs without this error yet.
It seems related to unable to serialize the interval in DruidSegmentInfo.java.

[2020-03-30 11:49] suryadevarauday commented on #14293
https://github.com/prestosql/presto/issues/1076

[2020-03-30 12:48] GuoPhilipse commented on #5965
@naveenmahadevuni  have u found any PR for solving the same location issue?

[2020-03-31 00:02] manoveg commented on #14231
Hi,
I recently experimented with using druid connector and get following error message:
`INFO	main	com.facebook.presto.metadata.StaticCatalogStore	-- Loading catalog properties etc/catalog/druid.properties --
2020-03-30T23:57:06.298Z	INFO	main	com.facebook.presto.metadata.StaticCatalogStore	-- Loading catalog druid --
2020-03-30T23:57:06.298Z	ERROR	main	com.facebook.presto.server.PrestoServer	No f

[2020-03-31 01:04] wlgclrh opened #14311 "how to run on linux with no intellij"
I try to compile on the linux, but i didn't use intellij to run the server,  how i can run the server with jar file.  i know you run the server by bin/launcher.py,  but when i building the project, there is no laucher.py on the bin directory but only check_webui.sh. so how can i start the server with no intellij. i just only want to run with command jar -cp or jar -jar.
look forward your reply. th

[2020-03-31 05:19] tdcmeehan commented on #14306
See: #14312

[2020-03-31 07:23] naveenmahadevuni commented on #5965
@Guo

There is no solution for this. We should not create two tables at the same location.

[2020-03-31 10:01] mqiang commented on #14156
hi @zhenxiao
Thanks for your wok.I still found err, when I executed "select count(*) from wikipedia;", log shows:
Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class org.joda.time.Interval and no properties discovered to create BeanSerializer (to avoid exception, disable SerializationFeature.FAIL_ON_EMPTY_BEANS) (through reference chain: com.face

[2020-03-31 21:28] bhhari opened #14318 "SimpleArrayAllocator should be able to allocate max arrays"
checkState(getBorrowedArrayCount() < maxOutstandingArrays, "Requested too many arrays: %s", getBorrowedArrayCount());

This should be <=

cc : @mbasmanova  @yingsu00

[2020-03-31 22:08] mbasmanova commented on #14318
This doesn't seem to be right. Closing.

[2020-03-31 22:08] #14318 closed

[2020-04-01 01:34] JK-Rubi commented on #13628
Running into the same error.  Can we look into getting this addressed?

[2020-04-01 09:15] mqiang commented on #14156
@zhenxiao
I did some tests and found the following issuses

(1)exec "select count(*) from table" fail,but exec "select count(*) from table limit 1" success.
at com.facebook.presto.druid.DruidQueryGeneratorContext.toQuery()
when execute "select count(*) from table" ,variable "pushdown" will be still false,and then execute failed。
I change  variable "pushdown" to true,it will be success.

(2)exec "s

[2020-04-02 01:08] zhenxiao commented on #14156
thank you, @mqiang @rocar
am working on a fix for aggregation pushdown:
https://github.com/prestodb/presto/pull/14325

[2020-04-02 06:20] #9404 closed

[2020-04-03 08:50] #10270 closed

[2020-04-03 09:54] Ennosigaeon commented on #14271
We encountered the same issue with presto-233.1 while in version presto-228 everything works as intended. I assume this issue is caused by missing netty jars in  _plugin/cassandra_, namely

[code]

Checking the commit history, 4b944705a8babd518e67b23507e74e85e3974341 removed the netty jars and I assume these jars should be substituted by _lib/netty-all-4.1.29.Final.jar_. Furthermore, we noticed th

[2020-04-03 11:50] #10281 closed

[2020-04-03 11:50] #10183 closed

[2020-04-03 22:45] rongrong opened #14333 "VerifyException when using named query with TABLE reference"
When the named query is a TABLE, as in
[code]
Presto throws VerifyException in `RelationPlanner.addCoercions` if table has invisible fields.

[2020-04-04 01:34] KentonParton commented on #8980
Is this documentation still up to date? [https://cwiki.apache.org/confluence/display/RANGER/Presto+Plugin](https://cwiki.apache.org/confluence/display/RANGER/Presto+Plugin)

If not, would someone mind providing a link please. Thank you!

[2020-04-04 06:30] alecbw commented on #5934
Not really a solution to the actual issue here but re: @PowerToThePeople111's problem, you can work around the write-to-Parquet error by writing the Athena CTAS query to JSON instead.

There are performance/compression tradeoffs, but they may be preferable to the hours I spent fruitlessly trying to coalse my nulls into compliance

[2020-04-04 16:41] blcksrx opened #14338 "Cast MongoDB ObjectID as VARCHAR"

[2020-04-05 13:55] pigxuyu commented on #14251
you need show more detail，like exception

[2020-04-05 15:15] pigxuyu opened #14343 "druid connector '__time' equal express bugs"
![image](https://user-images.githubusercontent.com/14072245/78502224-92cc1400-7792-11ea-828b-4d61f29a47f0.png)

The exception like this :
`2020-04-05T23:04:43.173+0800	ERROR	remote-task-callback-1	com.facebook.presto.execution.StageExecutionStateMachine	Stage execution 20200405_150427_00003_ygcmk.1.0 failed
java.lang.IllegalArgumentException: broker Druid query should return Json Array
	at com.goo

[2020-04-05 15:16] pigxuyu commented on #14343
#14342

[2020-04-05 17:24] pigxuyu commented on #14298
your sql will cause scan the whole druid table, it maybe have a bug about serializer.
you may try add some filter, such as __time >= xx. it will not scan the whole druid table.

[2020-04-05 18:00] skyahead commented on #14231
you want to create a directory called 'presto-druid' under plugin/, inside 'presto-druid' put the all the jars in presto-druid-version.zip. The latest zip file is here: https://repo1.maven.org/maven2/com/facebook/presto/presto-druid/0.233.1/presto-druid-0.233.1.zip

[2020-04-05 18:03] skyahead commented on #14298
Scanning a whole druid table takes the SEGMENT path, which has the same bug as reported here: https://github.com/prestodb/presto/issues/14156#issuecomment-606524582.

@zhenxiao After your latest aggregation pushdown, I still face the same `Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class org.joda.time.Interval` issue and could not resolve it.

[2020-04-06 06:05] miraj-godha-guavus commented on #7879
This error comes, when java is not installed or its path is not correctly setup

[2020-04-06 06:12] miraj-godha-guavus opened #14346 "Presto connection to kerberized Hive and HDFS on CentOS 8"
When we try to connect the presto to kerberized Hive and HDFS on CentOS 8 it gives below error. Probably issue looks to be Kerberos encryption issue, but not sure. However, the same thing runs perfectly fine on CentOS 7.

To enable Kerberos, debug logging.. chang the etc/jvm.config file,

-server
-Xmx16G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent

[2020-04-06 22:57] #14306 closed

[2020-04-07 03:14] mqiang opened #14357 "druid query "select count(distinct column) from table""
I used a local druid 0.17.0 version, and loaded its sample dataset.Then i found a issue.
when I executed "select count(distinct cityName) from wikipedia",
I found it executed "select count(cityName) from wikipedia", rather than "count(distinct)"

@zhenxiao
Really appreciate your work, wish you can help on this issue.

[2020-04-07 07:28] bhhari opened #14358 "NPE when reading structs with a newly added subfield"
In case of a schema change where a new field is added to a struct there will be a missing stream when reading from older files. We need to create a MissingFieldsStreamReader to return an empty block.
This was handled for the case where the field was in the output. The same should be added when its pruned.

[code]

cc: @mbasmanova  @sujay-jain  @jbroll  @oerling

[2020-04-07 19:08] highker commented on #14271
We will need to relocate netty library in the following files
[code]

[2020-04-07 19:24] ajayMaletira commented on #12016
hey guys, i still see the issue? i am able to query from hive but presto keeps complaining about double.

[2020-04-07 23:19] yingsu00 opened #14364 "Calculate the number of required buffers for OptimizedPartitionedOutputOperator"
In OptimizedPartitionedOutputOperator, we added a config property `driver.max-page-partitioning-buffer-count`, to limit the total number of buffers per optimized repartitioning operator (https://github.com/prestodb/presto/pull/14320). The default value is 1,000,000. But we can calculate this number based on the sourceTypes by using the visitor pattern to traverse the type hierarchy and introduce a

[2020-04-07 23:20] yingsu00 commented on #14364
cc @mbasmanova @bhhari

[2020-04-08 00:40] yingsu00 commented on #14274
Merging with https://github.com/prestodb/presto/issues/14162

[2020-04-08 00:40] #14274 closed

[2020-04-09 09:31] pigxuyu opened #14369 "PruneUnreferencedOutputs filter no output column, druid source still read the column cause exception"
sql:
select b.name from druid.druid.url_insight a join mysql.ifly_cpcc_ad_basic.t_other_plat b on cast(a.plat_id as int) = b.id where __time >= '2020-04-08 00:00' and __time < '2020-04-08 00:01' limit 10;

PruneUnreferencedOutputs filter the column of __time, druid DruidBrokerPageSource still parse json to search the column of  __time

@zhenxiao

[2020-04-09 09:31] pigxuyu commented on #14369
#14368

[2020-04-09 20:49] #14358 closed

[2020-04-09 21:47] zhenxiao commented on #14369
seems __time should be part of druid query, right? druid connector needs to keep the time range.

[2020-04-10 00:06] GuoPhilipse commented on #5965
Thanks naveenmahadevuni !

在 2020-03-31 15:23:59，"naveenmahadevuni" <notifications@github.com> 写道：

@guo

@naveenmahadevuni have u found any PR for solving the same location issue?

There is no solution for this. We should not create two tables at the same location.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-10 13:08] KannarFr opened #14373 "Forward auth to catalog's auth"
Create an auth plugin that just forward auth data to catalog's auth. WDYT?

[2020-04-10 14:18] KannarFr commented on #14373
@zhenxiao WDYT? So Connector must be able to have the authdata.

[2020-04-10 23:34] carlshan commented on #5918
Hi, I'd like to check in on what the current process/consensus by the Presto team is on including variables is. Is there a thread I could follow?

I would love to see variables in Presto. This would save me a lot of headache.

[2020-04-10 23:55] rongrong commented on #5918
@kaikalur Any thoughts on the syntax? @carlshan are you interested in working on this?

[2020-04-11 04:00] pigxuyu commented on #14369
@zhenxiao
Sorry, I didn't give you enough information.

druid table:
![image](https://user-images.githubusercontent.com/14072245/79034802-780efa80-7beb-11ea-8d19-b837cc77cae5.png)

mysql table:
![image](https://user-images.githubusercontent.com/14072245/79034862-c3c1a400-7beb-11ea-8596-a806523fe2b6.png)

exception:
`com.facebook.presto.spi.PrestoException: Cannot cast '2020-04-08T00:00:00.000+08:0

[2020-04-11 04:17] #14357 closed

[2020-04-11 07:27] #10325 closed

[2020-04-11 14:46] talgalili commented on #5918
@rongrong just to say, I still hope this feature can be introduced.
I come across the need for it at least once a month (I just wrote a bunch of code that I shared with others that needed to be run regularly with different dates (DS) manually, and having this feature would have made the process more robust (since DS was used in several places in the query).

So I do hope someone can take over deve

[2020-04-12 04:31] datapa123 opened #14377 "presto returning 0 results on hive table pointing to aws s3"
Environment is AWS S3, aws emr 5.24.1, Presto : 0.219, GLUE as hive metadata store, hive and presto.
1) Created an non-partitioned external hive table  that points data to s3 directory in parquet format.A pyspark utility loads the data in to s3 bucket runs on emr cluster
when a select * from table is done in presto it returns zero results. Any suggestions ?

2) If the s3 bucket has a folder struct

[2020-04-12 05:23] Ravion commented on #14377
Enable Hive bucketing to be true and retry.

Best, Ravi

On Sun, Apr 12, 2020, 12:31 AM datapa123 <notifications@github.com> wrote:

[2020-04-12 13:09] luckyskg opened #14378 "Not able to start presto server"
I am trying to setup a presto server with minio s3 gateway

Getting the below error
[code]

*config.properties* :
[code]

*catalog properties*
[code]

*node.properties*:
[code]

*java version*:
[code]

Please let me know the fix for this issue. I am new to to Java. Just trying to setup presto server with minio connector and use it as my ML datastore

[2020-04-12 16:12] tooptoop4 commented on #13457
maybe related to https://issues.apache.org/jira/browse/HUDI-409, https://github.com/apache/incubator-hudi/issues/1384#issuecomment-597750294 mentions "Can this have some relation with https://issues.apache.org/jira/browse/HUDI-409 , as we recently encountered parquet corruption errors (magic numbers mismatch) while reading from presto on a fresh hudi table, and there were no errors/warn reported b

[2020-04-13 03:47] eagoo opened #14379 "hive orc table count(*) fetch data but presto fetch 0 data rows"
presto> explain SELECT count(1) as cnt FROM hive.pcg_txkd_shared_data_app.fcc_share_user_behavior_d;
                                    Query Plan
-----------------------------------------------------------------------------------
 - Output[cnt] => [count:bigint]
         Estimates: {rows: 0 (0B), cpu: 0.00, memory: 0.00, network: 0.00}
         cnt := count
     - Aggregate => [count:bigint]

[2020-04-13 03:47] eagoo opened #14380 "hive orc table count(*) fetch data but presto fetch 0 data rows"
hive orc table count(*) fetch data but presto fetch 0 data rows
while hive table exist data file
but presto query plan no tablescan node but values node []
why?

presto> explain SELECT count(1) as cnt FROM hive.pcg_txkd_shared_data_app.fcc_share_user_behavior_d;
                                    Query Plan
-----------------------------------------------------------------------------------
 - Out

[2020-04-13 09:22] mirajgodha commented on #9505
@ebyhr Here are the exact steps to reproduce the issue:

hive> show create table t9595;
OK
CREATE TABLE `t9595`(
  `c1` int)
PARTITIONED BY (
  `p1` varchar(8),
  `p2` varchar(8))
 ROW FORMAT SERDE
   'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
 STORED AS INPUTFORMAT
   'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'
 OUTPUTFORMAT
   'org.apache.hadoop.hive.ql.io.

[2020-04-13 14:39] rschlussel commented on #13457
It could be due to a bug that was just fixed by https://github.com/prestodb/presto/pull/14355.  should be in the next Presto release.

[2020-04-13 15:40] #14162 closed

[2020-04-13 18:21] tooptoop4 commented on #13457
that must be it, https://github.com/prestodb/presto/pull/12780 went in 221 release causing it!

[2020-04-13 18:33] zhenxiao commented on #13457
nice catch, thank you @rschlussel

[2020-04-14 04:22] #14379 closed

[2020-04-14 20:48] zhenxiao commented on #14298
hi @skyahead @beepupa @tooptoop4
I fixed some druid bugs in recent commits. Could you please take a try of latest master branch? Or, we might have to wait till 235 release

[2020-04-14 20:49] zhenxiao commented on #14357
hi @mqiang
I fixed some druid bugs in recent commits. Could you please take a try of latest master branch? Or, we might have to wait till 235 release

[2020-04-15 10:44] #10346 closed

[2020-04-16 02:06] andy12383 commented on #13287
@rongrong @mnikogit
I am looking for this automatically convert function too. Is there any code can you share ? thank you very much.

[2020-04-16 05:54] #10355 closed

[2020-04-16 07:03] hey-jude commented on #14251
I saw same error.
Here is stack trace.

[code]

[2020-04-16 13:39] KannarFr commented on #14373
The goal is to delegate auth.

[2020-04-16 17:40] bbrewer-forge opened #14400 "Presto with hive query fails when column name with spaces in it used in where clause"
### Summary
Given a simple table in Hive with a column name that has spaces in it, that column name cannot successfully be used in a where clause on a select. The stack trace for the failed query shows a message of `Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Cannot construct instance of `com.facebook.presto.spi.Subfield`, problem: Invalid subfield path: 'spaces‸ here

[2020-04-16 21:16] jainxrohit opened #14401 "JSON Format reader does not fetch compression from source system"
While adding the support for ZSTD write(https://github.com/prestodb/presto/pull/14396), we removed compression usage for zero row file creation.
However with this change, JSON format sources started failing, as it seems JSON reader can not fetch encoding information from the source system, hence it uses it from the configuration.
So when we change the encoding configuration at run time, reading JS

[2020-04-16 21:16] jainxrohit commented on #14401
cc: @mbasmanova @bhhari

[2020-04-16 21:18] mbasmanova commented on #14401
CC: @prestodb/aria @jbroll @sujay-jain

[2020-04-17 03:35] beepupa commented on #14298
Thanks,I've solved it

[2020-04-17 13:36] wfaria opened #14405 "Missing function to apply a custom number format"
Hello folks, I noticed that PrestoDB doesn't have any function that accepts as input a number field and outputs a string representing that number with a specific format.

For example, in PostgreSQL we have the [TO_CHAR](https://www.postgresql.org/docs/9.6/functions-formatting.html) function which accepts multiple variable types as input:

`SELECT to_char('%,.2f', 1234567.89) -- Output = '1,234,567

[2020-04-17 21:37] tooptoop4 commented on #10209
did u solve @hustnn ?

[2020-04-18 09:08] tooptoop4 commented on #9703
https://github.com/prestosql/presto/pull/3105

[2020-04-19 02:34] viczhang861 opened #14410 "UNNEST doesn't for duplicated arrays"
In v0.233, below query triggers an internal error
`SELECT
    *
FROM (
    VALUES
        'v0.233'
) t1
CROSS JOIN UNNEST(ARRAY['A', 'B', 'C'], ARRAY['A', 'B', 'C']) t2 (c1, c2)`

(GENERIC_INTERNAL_ERROR) Multiple entries with same key: expr_4=[field_2] and expr_4=[field_1]

[2020-04-20 11:41] gaohaoning opened #14413 "using presto to query druid could not return successfully"
I have configured presto to use druid catalog:

------------------------------------------------------
connector.name=druid
druid.coordinator-url=http://XXXX:8081
druid.broker-url=http://XXXX:8082
druid.schema-name=druid
------------------------------------------------------

**and when I started the presto-cli it seems to be alright, but whatever I run queries, the results are as follow:**

root@

[2020-04-20 11:53] gaohaoning commented on #14413
My Server:

**root@:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic**

[2020-04-20 13:25] imrelori opened #14414 "hive.recursive-directories is not working in Presto 0.208"
This property is working with version 0.180 Presto.
When I set the hive.recursive-directories property **true** for a presto 0.208 cluster, then we can see its value is true in the /usr/lib/presto/etc/catalog/hive.properties, but in the server.log its runtime value is false.
Unfortunately, it isn't working properly, we're still getting a different result (than with Hive query or with Presto 0.180)

[2020-04-20 14:37] #13751 closed

[2020-04-21 00:02] yingsu00 opened #14417 "Optimize DictionaryBlock#getLogicalSizeInBytes()"
DictionaryBlock#getLogicalSizeInBytes() calls `dictionary.getRegionSizeInBytes(position, 1);` for each position. This is very slow when the dictionary is also a DictionaryBlock. Optimize this will help the OrcWriter, Unnest, and Repartitioning who uses it.

[2020-04-21 00:05] yingsu00 commented on #14417
cc @prestodb/aria @biswapesh

[2020-04-21 00:16] yingsu00 opened #14419 "Create a fast arrayAllocator"
We used SimpleArrayAllocator in OptimizedPartitionedOutputOperator. But the borrowXXXArray() is very costly. In repartitioning, it takes over 8.5% of total CPU for a single bigint column with no nulls. We need a faster allocator.
Related Issue: https://github.com/prestodb/presto/issues/14280
![Screen Shot 2020-04-20 at 5 13 40 PM](https://user-images.githubusercontent.com/33299678/79811363-85825e0

[2020-04-21 00:18] yingsu00 commented on #14419
cc @prestodb/aria @biswapesh

[2020-04-21 00:37] yingsu00 commented on #14284
As a separate but related work item, how do we make our dependency on Airlift, specifically Slice/SliceInput/SliceOutput? They're essential to writer performance and also a lot of other operators. We need to fork it to allow some optimization work to happen. Can we make it covered by this issue?
cc @prestodb/aria @biswapesh

[2020-04-21 14:28] NicolasGuary commented on #12653
Found a solution from https://redshift-support.matillion.com/s/article/2822021

`ROW_NUMBER() OVER (
PARTITION BY <<unique columns>>
ORDER BY <<sort columns>>) as counts`

And then select where counts=1 only.

Hope this can help

[2020-04-21 17:39] tdcmeehan opened #14423 "Create quantile_at_value for QDigest type"
We have a `value_at_quantile` function for QDigest types.  Occasionally, it's useful to also retrieve a quantile given a value (say, for X, which percentile in the QDigest does it fall under).

The signature would look like the following:

`quantile_at_value(qdigest(T), DOUBLE) -> T`

Where T is one of `DOUBLE`, `REAL` or `BIGINT`.

[2020-04-21 19:17] allenexc commented on #12653
That's similar to what I ended up leaving it as, but I think it's still rather lengthy and inefficient compared to postgres' select distinct on for something that's used quite frequently.

On Apr 21, 2020, at 7:29 AM, Nicolas Guary <notifications@github.com> wrote:

﻿

Found a solution from https://redshift-support.matillion.com/s/article/2822021<https://urldefense.proofpoint.com/v2/url?u=https-3A

[2020-04-21 22:16] benrifkind commented on #8939
In case anyone else comes across this I had a similar but slightly different error
[code]

The `bi_temp` database pointed to an s3 key which actually did have files in it so should have been recognized as a directory.

I think it may be related to the fact that there was an expiration date set up on the directory which may have change the 'Content-Type' metadata associated with the s3 key.

This l

[2020-04-22 06:51] gaohaoning commented on #14413
@zhenxiao Can you plesase help me on this?

[2020-04-22 08:28] JivanRoquet commented on #12653
@NicolasGuary if you read my original post

Plus, I'm not sure why quote a post about Redshit to demonstrate how Presto is working.

[2020-04-22 11:32] wangwei216 opened #14427 "java.lang.IllegalArgumentException: Unable to create class com.facebook.presto.execution.TaskInfo from JSON response"
** Problem **
When I use multiple threads to request my Presto cluster, an error is reported, and at the same time I have three presto nodes, one of which will be directly down

**Query SQL**
`PREPARE statement1 FROM  Select  u.os , sum(e.charge_amount) AS  payAmountNew
                                from  kudu_71cj3cm8ts3zfscj_events AS e
                                join (select * from kudu_

[2020-04-22 13:02] Kligerr commented on #12653
@JivanRoquet The solution from here work for me on Athena:
https://stackoverflow.com/a/6792357/9225626

[2020-04-22 14:04] JivanRoquet commented on #12653
@Kligerr that wasn't probably clear enough in my original message, but the issue with this is that you need the `Name` field to be included in your column selection as well. For instance, the following wouldn't work in Presto:

[code]

To achieve that you would need to encapsulate your query into a wrapper like:

[code]

Which is, again, much more cumbersome and complex than the Postgres way:

[co

[2020-04-22 15:54] KannarFr commented on #14373
Or maybe you have another suggestion I see some stuff related to forwarding but not really used/impl.

[2020-04-23 03:46] #10398 closed

[2020-04-23 03:50] JWenBin commented on #11414
Your issue is the same with mine. But my hive works well, and I can select successfully in  hive.  Still confusing.......

[2020-04-23 06:36] JWenBin commented on #10535
I have the same error with you @chafidz0000000 , but I cannot select data from tables on hdfs too. I'm sure my hive works well with S3 and hdfs.

[2020-04-23 06:45] #4130 closed

[2020-04-23 12:09] mqiang commented on #14357
@zhenxiao

[2020-04-23 12:09] mqiang commented on #14357
Thanks for your work.
After my trying, I found some issues and fixed some of it by myself, and i will show you all what I changed, maybe some are not the best code.

1.issues: if table filed name is 'count',then exec 'select * from table' will be failed

/presto-druid/src/main/java/com/facebook/presto/druid/DruidQueryGenerator.java
@@ -257,7 +263,7 @@ public class DruidQueryGenerator

[2020-04-23 12:13] mqiang commented on #14357
[code]

[2020-04-23 15:51] JuanSuarezMino commented on #5918
Is there an ETA for this to be available?

[2020-04-23 16:59] patrickofriel-wk opened #14430 "Airlift library updates"
Is it possible to update Airlift to the latest version (0.195)? Looks like that would include updates to some of the jackson libraries that have vulnerabilities (such as https://nvd.nist.gov/vuln/detail/CVE-2019-10241)

[2020-04-23 16:59] #14430 closed

[2020-04-23 17:40] abhishekupadhyaya commented on #5934
Had anyone come across ways to create Athena CTAS query by checking cardinality of nested structure? In my case, I have a `struct` that could have empty `arrays`.

[2020-04-23 17:40] rongrong commented on #5918
Nobody is actively working on this. Contribution is much appreciated!

[2020-04-24 00:07] zhenxiao commented on #14357
nice. thank you @mqiang could you please submit your changes as 3 commits and 1 Pull request to Presto? I'd love to review and work with you to merge them

[2020-04-24 00:08] zhenxiao commented on #14413
sure. @gaohaoning we found a similar problem
@beinan is working on it.

[2020-04-24 00:53] HY-Stars commented on #14029
Has the getMetadata Method support been implemented ?

[2020-04-24 07:37] mqiang commented on #14357
I have submit my change in https://github.com/prestodb/presto/pull/14432 .
pease help to review it

[2020-04-24 08:58] yingsu00 opened #14433 "Reduce positions array size for nested BlockEncodingBuffer"
We recently observed that the positions array in the nested LongArrayBlockEncodingBuffer was about 14M positions and over 50MB each while the positionCount was just 5M. When populating the nested positions, we grow the buffers by expansion factor 2  which would cause the final positions array too big. Reduce the size of this array by giving it a more accurate estimation.

[2020-04-24 08:59] yingsu00 commented on #14433
cc @prestodb/aria

[2020-04-24 16:08] cgsmaslam commented on #14271
Thankyou @Ennosigaeon been trying to figure out why I couldn't get Presto to connect to Cassandra.. downgrading it worked!! Thank you :)

[2020-04-25 03:48] #10439 closed

[2020-04-25 03:48] #10425 closed

[2020-04-25 05:48] #8118 closed