[2020-09-01 12:32] KannarFr commented on #13856
@wenleix Hi, there is doc/markdown to run this without command lines? I see PrestoSparkRunner.run prints results, there is way to run and get results?

[2020-09-01 12:40] KannarFr commented on #13856
(Using a Spark cluster)

[2020-09-01 13:33] Waseemanjumnxb commented on #11285
I am having same issue with sequence as I need to generate sequence of over one million elements but there is a limit of 10k. Any specific reason for that?

[2020-09-01 13:42] waseem-anjum opened #15103 "Sequence function limitation of 10,000"
Is there any way to remove this limitation in sequence function? I need to create sequence of over million entries.

https://github.com/prestodb/presto/blob/731eb9a97caca13913543fb194f093a35275b041/presto-main/src/main/java/com/facebook/presto/operator/scalar/SequenceFunction.java#L173

If there is any other way to generate sequence then please mention. Thanks

[2020-09-01 13:42] waseem-anjum commented on #15103
There is another issue with same problem but that was never addressed.

https://github.com/prestodb/presto/issues/11285

[2020-09-01 13:49] arhimondr commented on #13856
@KannarFr Currently it is not supported. But it is supported by the https://github.com/prestodb/presto/blob/master/presto-spark-launcher/src/main/java/com/facebook/presto/spark/launcher/PrestoSparkRunner.java#L81. It allows you to specify the output file where to store the query results in Json format (`queryDataOutputPath `). We should expose this parameter as a CLI argument: https://github.com/p

[2020-09-01 14:53] KannarFr commented on #13856
@arhimondr Ok, can I help to work on a streaming way to output this as http chunks? WDYT?

[2020-09-01 18:28] rongrong commented on #15102
Seems like you are using a different Presto. Sorry about this confusion. You can open an issue at https://github.com/prestosql/presto for PrestoSQL related questions, or give PrestoDB a try ;) Thanks!

[2020-09-01 18:33] kaikalur opened #15105 "Warn on logical operators AND and OR expressions without explicit parenthesization"
When there are complex queries - especially those generated by tools/scripts, mixing AND and OR freely without explicit parenthesization can have surprising results as the operator precedence may not be what the user expected/wanted.

For example:
[code]
So if during the AST building phase, if we see that an AND (OR) expression node is being built with OR(AND) expression on the left or right witho

[2020-09-01 18:38] kaikalur opened #15106 "Enable warnings from the parser and ASTBuilder"
Currently, there is no way to surface warnings detected in the parser to the user. Extend the parser module API/SPI to allow warning handling.

[2020-09-01 18:39] kaikalur commented on #15105
Depends on: #15106

[2020-09-01 20:11] #14058 closed

[2020-09-01 20:49] kaikalur opened #15107 "IS DISTINCT FROM NULL gives wrong result when applied to columns with null values"
Bug:
[code]

Works fine for literals though.
[code]

[2020-09-02 00:42] caithagoras opened #15109 "Support Explain verification"
Verifier need to run explain test to figure out queries with plan changes, so that they can be further tested. This allows us to address the short-coming of randomly sampled test queries, improving our confidence in release quality.

We need to:
- Support running explain verification in Verifier.
- Support multiple control and test clusters for Verifier, to speed up verification.
- Run a Presto qu

[2020-09-02 00:44] caithagoras opened #15110 "Support verifying CREATE AND REPLACE VIEW"
Add support in Verifier to verify queries in shape of CREATE AND REPLACE VIEW.

[2020-09-02 11:46] findepi commented on #15062
@sido420  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

thanks @mbasmanova for heads up!

[2020-09-02 11:46] #15062 closed

[2020-09-02 11:52] findepi commented on #15102
@mana6666  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-09-02 11:52] #15102 closed

[2020-09-02 15:28] arhimondr commented on #13856
@KannarFr Could you please elaborate a little bit more on that?

[2020-09-02 16:51] KannarFr commented on #13856
Currently the way it's implemented outputs results in files. I wonder if we can expose results as a stream.

After checking the code it seems that we need the query to end and accumulate results in RAM before write it in a file, correct? So I would like to know if we can imagine to directly expose results to stream as we get them.

[2020-09-03 05:26] mana6666 opened #15118 "how to return chinese ?"
verson 310.
hive+presto.
using the same sql,
i can get correct form chinese in hive sql and hive terminal.

but i can't get correct form in presto terminal.

my catalog/hive.properties is like this:

connector.name=hive-hadoop2
hive.metastore.uri=thrift://localhost:9083
hive.config.resources=/opt/hive/conf/hive-site.xml

hive-site.xml is :
<configuration>
    <property>
        <name>system:java.i

[2020-09-03 06:06] wangfeigithub commented on #13882
Hello, have you solved it after?

[2020-09-03 08:32] beepupa commented on #15098
Thank you for your reply. I found that many statements can be executed in Druid but not in Presto. Looking forward to the optimized version

[2020-09-03 13:19] selyramit opened #15119 "HADOOP_DEFAULT and loading of a Custom S3 Credentials Provider"
Im trying to use hive.s3-file-system-type=HADOOP_DEFAULT (loading configuration from Hadoop 3 core-site.xml) alongside using the hadoop setting: presto.s3.credentials-provider, as specified in the "Custom S3 Credentials Provider" section [here](https://prestodb.io/docs/current/connector/hive.html).

This seems to be picked up by Presto, as output is: _Using AWS credential provider com.test.CustomA

[2020-09-03 18:48] liuzhen1984 opened #15120 "It's just issues of the Elasticsearch connector documentation"
webpage: https://prestodb.io/docs/current/connector/elasticsearch.html#tls-security

1. Default schema property name is wrong,  it should be _elasticsearch.default-schema-name_

2. When using https to access the es server, the _elasticsearch.ignore-publish-address_ property is very important for me. so I think the item may be added to the document

3. Full Text Queries
The example query:
    _SELE

[2020-09-03 20:48] chalmagr opened #15121 "Cannot access worker page from Query Details Page"
The Stages section of the Query Details page (corresponding to "execute statement1") shows the stages of the execution and for each it shows how the work was allocated throughout several workers.
These workers are currently showing their IP under the Host column (not their IDs). When I click on the IP it is sending me to an invalid URL: /ui/worker.html?undefined

If I replace the 'undefined' above

[2020-09-04 01:10] beinan commented on #15098
Hey @beepupa many thanks for reporting these to us!  I would keep this issue updated once we made any progress.

I really appreciate if you can post the problematic queries statements you found under this issue.    It would be very helpful, thanks!

[2020-09-04 05:55] beinan commented on #15060
Thanks @mbasmanova for the hint!

The original query is too complicated and might contain sensitive data,  so I debugged it as you suggested and then I found it just happened when applying the PruneProjectColumns rule on some projectNode on top of another projectNode.

Then I made a simple query as below which can reproduce this error more easily.

`SELECT table_name, column_name, data_type FROM (

[2020-09-04 05:57] mbasmanova commented on #15060
@rongrong @kaikalur Rongrong, Sreeni, is this something you may know about?

[2020-09-04 10:14] findepi commented on #15118
@mana6666  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-09-04 10:14] #15118 closed

[2020-09-04 11:55] #11335 closed

[2020-09-04 11:55] #11109 closed

[2020-09-05 00:51] zellski opened #15127 "Compiler runtime error at LambdaBytecodeGenerator.java:386"
Hi Presto peeps – I have a quirky bug with, luckily, a simple reproduce.

After setting up a test table:
`    CREATE TABLE tmp_s AS (SELECT 1 AS s)`

this straightforward SQL causes a compiler error:
`    SELECT s, ARRAY_AVERAGE(ARRAY[1]) FROM tmp_s`

The column name 's' matters. If we call it 'p' all is well. A hypothesis is that since ARRAY_AVERAGE is an SQL function defined as:
`    reduce(inpu

[2020-09-05 09:14] mysticaltech commented on #14231
Thank you @skyahead!

[2020-09-05 15:02] #11390 closed

[2020-09-05 15:02] #3992 closed

[2020-09-05 15:02] #11383 closed

[2020-09-05 15:47] agrawalreetika commented on #14930
I tried with presto latest version. It seems to be working fine.
This is how I have tables in my mysql instance-
![image](https://user-images.githubusercontent.com/7887476/92308678-05991f80-efbd-11ea-8ef5-164482921bb9.png)

Here is table list from presto cli-
![image](https://user-images.githubusercontent.com/7887476/92308684-22355780-efbd-11ea-997d-ad8e0bb00b8c.png)

[2020-09-05 15:50] agrawalreetika commented on #15015
I tried accessing mysql partitioned table from presto-cli.

I had created one HASH partition table in my mysql instance-
![image](https://user-images.githubusercontent.com/7887476/92308702-6163a880-efbd-11ea-94ca-72ea9f618c30.png)

I am able to access it from presto-cli-
![image](https://user-images.githubusercontent.com/7887476/92308726-8a843900-efbd-11ea-9022-cf4f9e1da64f.png)

[2020-09-05 19:44] #9200 closed

[2020-09-06 13:10] ankitdixit commented on #13896
@rongrong @rschlussel https://github.com/prestodb/presto/pull/15097

[2020-09-07 22:23] ssaumitra commented on #13861
@adaco I am assigning this to myself.

[2020-09-08 05:42] beepupa opened #15134 "Kafka Connector end offset 8 for column 'kafka_key' must be less that or equal to value length 0"
presto version ：0.240
kafka version :2.4.1
conf:
![image](https://user-images.githubusercontent.com/36186038/92437095-bf200c80-f1d8-11ea-9dc5-923495288563.png)
![image](https://user-images.githubusercontent.com/36186038/92437141-d7902700-f1d8-11ea-87cc-f2d40bebb6ca.png)
![image](https://user-images.githubusercontent.com/36186038/92437160-e1198f00-f1d8-11ea-8f9f-fc10369ff39e.png)
![image](https://u

[2020-09-08 05:44] beepupa commented on #15134
@zhenxiao  @beinan

[2020-09-08 10:44] justwinky opened #15137 "Use the client to access the server executed by idea report error like "Query 20200908_101738_00003_bv8z7 failed: Unexpected response from""
Hello, I follow the instructions on the official website to run presto in IntelliJ IDEA, but an error occurred as follows:

    Query 20200908_101738_00003_bv8z7 failed: Unexpected response from
    http://192.168.18.128:8080/v1/task/20200908_101738_00003_bv8z7.0.0.0?summarize

**## My steps are as follows:**

###1. Configure the environment in Linux, run mvn clean install in the presto root direc

[2020-09-08 13:48] LeonBein opened #15138 "Join on large data set throws: "IllegalArgumentException: Too large""
Hi,
we are running the TPCH Benchmark with 1TB (scale factor 1000) of input data.
Most of the queries run, but [query07](https://github.com/prestodb/presto/files/5188605/query07.txt) throws an `IllegalArgumentException` with message `Too large (971509754 expected elements with load factor 0.75)`.

Presto runs on an EMR cluster with four 4.8xlarge child nodes (244GiB RAM and 32 Cores each).

Issues

[2020-09-08 18:57] beinan commented on #15134
Looks like the key is empty, is it possible for you to put a breakpoint or print some logs on the lines below

https://github.com/prestodb/presto/blob/29acdbaff128fff2de185c28fb26031be1d88019/presto-kafka/src/main/java/com/facebook/presto/kafka/KafkaRecordSet.java#L183-L188

I guess key is null or key.remaining() returns zero.

[2020-09-09 00:21] tdcmeehan opened #15142 "Allow custom behavior to JDBC Driver"
The current JDBC driver is fixed in behavior.  We would like to allow customization of the driver so users can introduce custom behavior.

Examples of desirable custom behavior include:

* Add client side logging to Splunk
* Add performance information to a metrics database
* Add custom macro specialization that is unknown to the Presto engine but is known to the local deployment

MySQL allows for

[2020-09-09 12:20] jasonf20 opened #15149 "Unable to execute rollback to end failed transaction if custom session properties are set"
If you have a custom connector with custom session properties set then there is an issue cancelling failed transactions.

If you try to execute "ROLLBACK" when a custom session property is set you end up getting the message: "Current transaction is aborted, commands ignored until end of transaction block"

I have traced the issue down to this code: https://github.com/prestodb/presto/blob/master/pr

[2020-09-09 13:47] spachari opened #15150 "Presto cannot read parquet files"
I am getting the following error:

Error opening Hive split s3a://prod/etl/db/table_name/part-00005-0b412c25-813f-4309-91e3-9aeaf805e68e-c000.snappy.parquet (offset=0, length=268435456) using org.apache.hadoop.mapred.SequenceFileInputFormat: s3a://prod/etl/db/table_name/part-00005-0b412c25-813f-4309-91e3-9aeaf805e68e-c000.snappy.parquet not a SequenceFile

I have not seen this type of error before

[2020-09-09 19:03] beinan commented on #15060
We also found this issue affected a couple of BI tools, which were just generating the SQLs like the one I posted above.
@rongrong @kaikalur @mbasmanova anything found on your side?

[2020-09-09 21:29] zhenxiao commented on #15150
hi, Presto could query parquet files.
From the error message, it seems the metastore stores the table using SequenceFile, so it is expecting SequenceFileInputFormat. But encountered parquet files.
This is probably a metastore incompatibility issue. Could you please update file inputformat to be Parquet?

[2020-09-10 07:58] zhenxiao opened #15157 "partial aggregation pushdown fails in TestHivePushdownFilterQueries and TestHivePushdownDistributedQueries"
If enable partial aggregation in TestHivePushdownFilterQueries and TestHivePushdownIntegrationSmokeTest:
[code]

                    ImmutableList.of(ORDERS, CUSTOMER, LINE_ITEM, PART_SUPPLIER),
                    ImmutableMap.of("experimental.pushdown-subfields-enabled", "true", "experimental.pushdown-dereference-enabled", "true"),
                    "sql-standard",
                    Immutabl

[2020-09-10 07:59] zhenxiao commented on #15157
CC @ClarenceThreepwood @shixuan-fan

[2020-09-10 09:13] dborkar opened #15158 "support S3 credentials with IAM role"
We are seeing users request IAM roles with S3 access different from the role attached to EC2 instance.

[2020-09-10 15:48] ClarenceThreepwood commented on #15157
Please assign to me - I'll look into it

[2020-09-11 01:55] rongrong opened #15159 "GROUP BY lambda functions would throw exception in plan validation"
[code]
Would throw exception.

[2020-09-11 07:22] wkqchen20 commented on #13882
i convert unicode to chinese by myself

[2020-09-11 07:28] wangfeigithub commented on #13882
Did you change the PrestoDB code? Can you tell me to change that? thinks!

[2020-09-11 07:49] wkqchen20 commented on #13882
just my business code

[code]

[2020-09-11 07:55] wangfeigithub commented on #13882
thinks

[2020-09-11 08:01] wangfeigithub commented on #13882
presto-parser/src/main/java/com/facebook/presto/sql/ExpressionFormatter.java#L709L710

[2020-09-11 12:33] #9855 closed

[2020-09-11 21:25] liyuanz commented on #11988
Any updates ?

[2020-09-12 06:59] knoguchi commented on #9620
Click house implemented the PostgreSQL wire protocol in July 2020.   Presto should work with CH out of the box using the Postgres driver.  I will test and report back.

[2020-09-12 09:03] #11356 closed

[2020-09-12 22:03] #10438 closed

[2020-09-12 23:36] knoguchi commented on #9620
I tried but it didn't work.  I created etc/catalog/clickhouse.properties

[code]

Then run the cli `./bin/presto-cli --catalog clickhouse --schema default`

[code]

[2020-09-13 02:03] #11438 closed

[2020-09-13 06:43] spachari commented on #15150
Thanks, it works fine. Please close this issue.

[2020-09-13 06:43] #15150 closed

[2020-09-13 17:22] #11432 closed

[2020-09-13 23:46] Tenny2016 opened #15166 "After downloading the source code, the compilation failed"
Hi:
I'm a new Presto user. I tried to download the source code, but it failed several times. Can you tell me how to download the following dependency packages? Is there a maven repository address that can be used. By the way, if I want to optimize the execution plan, what needs to be transformed. thanks!
![微信图片_20200914074240](https://user-images.githubusercontent.com/17572809/93031532-2c5ef200-f6

[2020-09-14 04:22] #9068 closed

[2020-09-14 06:30] #12734 closed

[2020-09-14 06:32] #13642 closed

[2020-09-14 07:15] huanchuanjian commented on #14672
@mbasmanova Thanks for your reply

This problem will be encountered when the application runs for a period of time.

By capturing network packet, I found that the request (create statement) has been received in the NIC,  however the request is not recorded in the http request log (I add the trace token).

As a temporary solution, add a retry mechanism when submitting the query to presto, but the r

[2020-09-14 20:00] carlshan opened #15169 "Support for RANGE BETWEEN in window functions"
**Background:**
Currently, Presto supports `ROWS BETWEEN` in doing window function aggregations. I.e. `SUM() OVER(ORDER BY date ROWS BETWEEN 6 PRECEDING AND CURRENT ROW)`.

This allows aggregations via direct reference to the row number. That is very useful.

However, Presto does not yet support aggregations via direct reference to the row value.

**Request:**
I often want to aggregate by a refere

[2020-09-15 12:37] AlanChamberlain opened #15172 "We observe Presto0.234.4 performance declines 3x than 0.229 on big hive tables"
Describe the environment firstly. We have a presto cluster with 135-nodes and run presto0.229 for about one year. The presto cluster configures some catalogs for one hive cluster and each catalog for a different application. Some applications need to query big hive tables with many partitions and many small HDFS blocks(ex. 400 partitions and 300 file blocks on each partition, 2 billion rows in all

[2020-09-15 17:19] palashgoel7 opened #15175 "Add option to override source in presto-verifier"
- Currently, presto-verifier has a fixed source: verifier-test
- We have resource groups to control which sources are allowed to query presto
- Need a way to override this config

[2020-09-15 19:15] rongrong commented on #15172
Can you
1) check whether the query plan changed between the 2 versions (by running `EXPLAIN (TYPE DISTRIBUTED) QUERY`)?
2) if the plan didn't change, run `EXPLAIN ANALYZE QUERY` to see which stage / operator performance changed?

If you can share the results that would be very helpful. Thanks!

[2020-09-15 19:25] rongrong commented on #15175
@palashgoel7 do you want to add support for this? Thanks! cc @caithagoras

[2020-09-15 19:39] #14053 closed

[2020-09-15 19:49] palashgoel7 commented on #15175
Sure, I'll pick this

On Wed, 16 Sep, 2020, 00:55 Rongrong Zhong, <notifications@github.com>
wrote:

[2020-09-15 20:01] fgwang7w opened #15176 "add support for prometheus connector"
add support for prometheus connector

[2020-09-16 00:16] yingsu00 opened #15177 "Flaky Test TestElasticsearchIntegrationSmokeTest.testMultiIndexAlias"
This happened 3 times outof 87 builds. Call stack is as follows:

[code]

[2020-09-16 00:17] yingsu00 commented on #15177
@zhenxiao I saw you were the creator of this test. Could you help investigate why it is failing?

[2020-09-16 00:54] caithagoras commented on #15175
@palashgoel7 Thank you proposing and working on this. Feel free to send it to me for review. Thanks!

[2020-09-16 09:50] shenh062326 opened #15178 "Support config TableWriter task size"
The current CTAS and Insert type sql will generate query.hash-partition-count (default 100) tasks and 100 files. However, in our production environment, some users hope to reduce the number of files because some SQL final output data is very small, resulting in a lot of small files generated. I have made some changes, I will submit a Merge request if needed.

[2020-09-16 20:19] zhenxiao commented on #15177
let me take a look. Was seeing this some time ago, could not reproduce locally.
maybe we disable the test for now?

[2020-09-16 21:15] yingsu00 commented on #15177
cc @caithagoras

[2020-09-17 05:54] louiseightsix commented on #12955
You can indeed [ab]use hive.metastore=file to avoid setting up a real Hive metastore. You can then run MinIO to serve your local files over "S3".

I put together a docker container with the above setup; it seems to work well for ad-hoc analysis of local files, though I've not used extensively yet so YMMV.

docker run -it --mount source=/<data-dir>/,destination=/parquet,type=bind floatingwindow/pre

[2020-09-17 09:02] yingsu00 opened #15186 "outputPages memory is not tracked in HashAggregationOperator"
HashAggregationOperator only tracks aggregationBuilder's memory but not outputPages. The latter could be pretty large.
<img width="1472" alt="Screen Shot 2020-09-17 at 2 01 04 AM" src="https://user-images.githubusercontent.com/33299678/93449556-bf2fa480-f889-11ea-8ce4-fb50f8bbba76.png">

[2020-09-17 09:03] yingsu00 commented on #15186
cc @bhhari @sujay-jain @mbasmanova

[2020-09-17 18:16] #15107 closed

[2020-09-17 19:12] evgenia82 commented on #5801
Ignore nulls still doesn't work and gives me the following error:
![ignore-error](https://user-images.githubusercontent.com/44412656/93516446-a954ca80-f8ef-11ea-824e-61ab870103c5.png)
I wish someone correct the error.

[2020-09-17 22:10] rongrong commented on #5801
Can you share your query?

[2020-09-17 22:16] rongrong commented on #5801
Fixed by https://github.com/prestodb/presto/pull/10568

[2020-09-17 22:16] #5801 closed

[2020-09-18 04:18] yanqingfu commented on #12197
any solution for this, I encountered the same issue:
Error in .jcall(rp, "I", "fetch", stride, block) :
  java.sql.SQLException: Value is not a number: java.lang.String

access to a Presto database, one column datatype is decimal(38,12)

driver downloaded from https://prestodb.io/docs/current/installation/jdbc.html
drv <-  JDBC("io.prestosql.jdbc.PrestoDriver",classPath="Documents/presto-jdbc-0.24

[2020-09-18 05:31] yanqingfu commented on #12197
I have another oracle database , and when using driver = JDBC("oracle.jdbc.OracleDriver",classPath="/Users/670951/Desktop/ojdbc6.jar") to do select *, no such java error

which means the problem might in PrestoDriver

[2020-09-18 13:50] MichaelChirico commented on #12197
ultimately I switched to using the REST API for retrieving Presto queries
instead of JDBC, FWIW.

On Fri, Sep 18, 2020, 1:31 AM Yanqing Fu <notifications@github.com> wrote:

[2020-09-18 14:08] evgenia82 commented on #5801
Please take a look at my query. I run it in AWS Athena that has Presto underneath.

![athena-error](https://user-images.githubusercontent.com/44412656/93606847-30f11680-f98e-11ea-920d-3d4ded0413fa.png)

Please let me know if my issue comes from something else except `IGNORE NULLS`, which is highly unlikely because when I replace `LAST_VALUE()` with `LAG()` the query runs fine.

[2020-09-18 16:02] MichaelChirico commented on #12197
I'm afraid I'm no longer at that company. but it was basically a matter of
using the presto REST API as documented via httr. talk with your
engineering/dbops folks about where the endpoint is / what port is
listening.

On Fri, Sep 18, 2020, 11:48 AM Yanqing Fu <notifications@github.com> wrote:

[2020-09-18 16:58] yanqingfu commented on #12197
@MichaelChirico thanks, finally figure it out with RPresto

library(DBI)
library(RPresto)
con <- dbConnect(
  RPresto::Presto(),
  host = "<hostname> with http://",
  port = portnumber,
  user = 'username',
  catalog = 'name1',
  schema = 'name2'
)
dbGetQuery(con, 'SELECT column FROM name1.name2.table LIMIT 10')

[2020-09-18 18:02] #11429 closed, assigned to nobody

[2020-09-18 18:02] #11371 closed

[2020-09-18 18:02] #11221 closed

[2020-09-18 18:05] rongrong commented on #5801
The format is `last_value(x) IGNORE NULLS`. `IGNORE NULLS` should be after the parenthesis.

[2020-09-18 18:21] zhenxiao commented on #11512
the problem is resolved

[2020-09-18 18:21] #11512 closed

[2020-09-18 18:22] zhenxiao commented on #11525
dereference pushdown code is merged. problem resolved

[2020-09-18 18:22] #11525 closed

[2020-09-18 19:59] evgenia82 commented on #5801
I put `IGNORE NULLS` outside of parenthesis but the query still doesn't work.

![ignore-nulls-parenth](https://user-images.githubusercontent.com/44412656/93640007-81cd3300-f9bf-11ea-9ca5-036268011131.png)

[2020-09-18 21:29] tdcmeehan opened #15192 "Add a proxy endpoint for tasks"
In some setups, the coordinator may be configured with particular egress rules which allow it to be queried, but the workers may have more stringent restrictions.  In these cases, querying the worker endpoints for task information is not possible.

It would be good to have an endpoint on the coordinator, which only supports `GET`s on task information, which proxies this information back from the w

[2020-09-19 00:36] rongrong commented on #11429
cc @kaikalur

[2020-09-19 14:26] findepi commented on #12197
@yanqingfu you are using PrestoSQL driver
PrestoSQL releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-09-19 14:40] yanqingfu commented on #12197
@findepi  thanks for the info

[2020-09-19 14:58] #11458 closed

[2020-09-19 14:58] #11468 closed

[2020-09-19 18:38] #11165 closed

[2020-09-20 09:50] #11467 closed

[2020-09-20 15:45] wenleix commented on #15073
See the discussion in https://github.com/prestodb/presto/pull/13069#discussion_r302166096 .  We discussed whether we should treat table as unbucketed or only disable grouped execution (i.e. make the table bucketed, but connector doesn't support per-bucket split enumeration).

At that time we thought the future direction will be to unify grouped execution into normal scheduler to simplify the code

[2020-09-20 16:01] duynguyenhoang commented on #15134
I had the same problem, I encounter it is issue with topic description file.
Because I don't add key to kafka, but the topic description file contains it.
@beepupa Could you try to remove below block in your topic description?

[code]

[2020-09-20 22:50] #11492 closed

[2020-09-21 00:52] beepupa commented on #15134
Thank you. That would be great，

[2020-09-21 06:41] #15157 closed

[2020-09-21 17:09] evgenia82 commented on #5801
@rongrong Can you please take a look at the query - I put `IGNORE NULLS` outside of parenthesis and it still doesn't work? Thanks!

[2020-09-22 01:08] paulllb opened #15202 "when I build the code it comes error"
![image](https://user-images.githubusercontent.com/36190147/93835809-0adfb500-fcb3-11ea-86b2-69bac7e9d4c0.png)

[2020-09-22 01:36] jiemar opened #15203 "presto on druid error"
i integrate druid connector to prestodb 0.227

it shows error like below, what's wrong?
presto:druid> select * from app_auto_xun_qh;
Query 20200922_012536_00001_47a6n failed: No value present

presto:druid> select * from app_auto_xun_qh limit 1;
Query 20200922_012547_00002_47a6n failed: Druid query generator cannot handle partial limit

[2020-09-22 01:58] jiemar commented on #15203
presto:druid> select * from app_auto_xun_qh;
Query 20200922_014901_00008_47a6n failed: No value present
java.util.NoSuchElementException: No value present
        at java.util.Optional.get(Optional.java:135)
        at com.facebook.presto.druid.DruidSplitManager.getSplits(DruidSplitManager.java:56)
        at com.facebook.presto.split.SplitManager.getSplits(SplitManager.java:87)
        at com.fac

[2020-09-22 02:35] #15202 closed

[2020-09-22 02:36] paulllb commented on #15202
my fault

[2020-09-22 06:41] #15120 closed

[2020-09-22 12:13] arhimondr commented on #13856
@KannarFr Usually the technique is to pipe the results to system out. We just have to make sure the system out is not spoiled with any logging messages.

[2020-09-22 12:18] KannarFr commented on #13856
In a CLI context, I understand this POV @arhimondr.

If we want to extend the usage and provide a service that receives queries and answers through HTTP (for example), we can't in a clean way yet.

So If you agree, I would like to write this behavior.

[2020-09-22 12:59] elukey opened #15207 "Presto and keystores in PKCS12 format"
Hi everybody,

I am running a little Presto cluster with 5 worker nodes and one coordinator, version 0.266. So far I have been using https for intra-worker communications and worker-coordinator communications, via self signed CA and jks keystores. I am trying to migrate this setting to another one that uses PKCS12 keystores, but for some reason it doesn't work. I don't see any error logs when coor

[2020-09-22 13:37] elukey commented on #15207
The only suspicion that I have is related to the password protecting the PEM key of the pkcs12 keystore. I used the same settings for Hadoop and the format is recognized, but there is a specific option for the keypassword that I don't see among the https configs for Presto. Is the keystore expected to contain an unencrypted key?

[2020-09-22 14:02] arhimondr commented on #13856
Could you please elaborate more on how you are going to implement this feature? (If you think it is easy to implement a prototype that will also do)

[2020-09-22 23:47] rongrong commented on #5801
Which version of Presto Athena is on? You probably want to ask Athena not here why your query doesn't work.

[2020-09-23 02:41] tdcmeehan commented on #15121
Thanks for reporting this bug @chalmagr.  Looks like it was introduced in 67114fb606ce535151c492b05a4bdda91f3cd4be by removing `nodeId` from `TaskStatus`.  A reasonable fix can be to simply re-introduce it, but back into `TaskInfo` (since it is cheaper to maintain there than in `TaskStatus`).  This is a simple fix and it is free for anyone to pick up.

[2020-09-23 09:16] AvianshKumar commented on #14293
can you please elaborate?

[2020-09-23 18:04] rschlussel opened #15215 "Flaky test TestQueryManager.testFailQueryPrerun"
Example failure log from travis

[code]

[2020-09-23 18:07] rschlussel commented on #15215
@jeremy-degroot it looks like you wrote this test in https://github.com/prestodb/presto/pull/14716.  Can you work on improving it to be less flaky?

cc: @viczhang861  and @tdcmeehan since you guys reviewed the PR and may have context.

[2020-09-23 18:11] tdcmeehan commented on #15215
This was probably made to be flaky by #14833.  I can pick it up.

[2020-09-23 19:40] jeremy-degroot commented on #15215
@tdcmeehan I'm happy to pick this up since I originally wrote it

[2020-09-23 19:59] tdcmeehan commented on #15215
@jeremy-degroot thanks for offering to pick this up.  I had already submitted a PR (#15217) because I am fairly confident the root cause of the flakiness is the PR I introduced above (#14833).

[2020-09-23 20:08] jeremy-degroot commented on #15215
@tdcmeehan Yeah, I saw that after I commented. Just reviewed it 👍

[2020-09-24 13:26] KannarFr commented on #13856
@arhimondr Let's say Presto receives an HTTP query, we run this query and answer results as HTTP chunks. We need a way to stream results. This will reduce the RAM usage as each resulting part should be sent as an HTTP chunk.

I wrote https://github.com/CleverCloud/presto/pull/1/files, but I'm not familiar with Java stream. I think it waits for all parts to be run before returning stream :/.

Is it

[2020-09-24 13:37] arhimondr commented on #13856
In Presto on Spark there's no HTTP server in the picture. The query is submitted via the spark-submit, which is a CLI tool

Left a comment: https://github.com/CleverCloud/presto/pull/1/files#r494322290

[2020-09-24 14:02] KannarFr commented on #13856
As I'm looking for HTTP service instead of spark-submit I can work on it. But now you get what I want to do, right? WDYT about it?

[2020-09-24 14:07] arhimondr commented on #13856
Classic presto acts like a service, with an HTTP endpoint to fetch the results. Are you hitting the scalability wall with the classic presto?

I'm not sure if Spark even supports gradual fetching of the results. You can investigate it. But currently we are collecting results via the `collect` call, that returns all the results all at once.

As a middle ground you can change your workload to slight

[2020-09-24 14:33] KannarFr commented on #13856
Presto on Spark allows changing the catalog for each query by creating Presto runner for each query, correct? Classic Presto does not support to load/unload catalogs: https://github.com/prestodb/presto/pull/12605.

My main goal is to provide context (presto catalog) for classic Presto for each query. But in fact, we need to support a very high scale. And I found this project that seems to match my

[2020-09-24 14:36] arhimondr commented on #13856
Could you please describe your usecase a little bit more? Maybe there's a better way to achieve this dynamic catalog behaviour?

[2020-09-24 14:48] KannarFr commented on #13856
Considering millions of catalogs of different types (mysql, psql, ...).

A client comes with its catalog and query on an HTTP service.

This service sends to Presto/Presto-on-Spark (let's call it system) catalog list and query to run.

Then the system should run the query and stream results through HTTP chunks to limit RAM usage if possible to answer to the client.

This is the use case, it seems

[2020-09-24 19:00] #10844 closed

[2020-09-24 19:39] teejteej opened #15221 "Raptor Metadata: Row size too large (> 8126)"
When creating a table in Raptor with many VARCHAR columns, it can hit a row size limitation for the Raptor metadata database, where MySQL errors with "Row size too large (> 8126)".

VARCHAR is stored in the shard metadata tables as MySQL VARBINARY(100), which count towards a fixed row size. Wouldn't it be better to use the MySQL TEXT type instead, so that text columns will be stored off-row, and t

[2020-09-25 02:56] rookeyframe opened #15224 "When can elasticsearch support index creation and data insertion"
When can elasticsearch support index creation and data insertion

[2020-09-25 16:38] aweisberg commented on #8980
@shekarrreddy568-zz @shekarreddy568 taking a gamble here on whether you are reachable? Still wondering if you can share your experience with using Ranger.

[2020-09-25 18:55] yingsu00 opened #15225 "Optimize MapFlatSelectiveStreamReader"
Also improve readVarInt
![Screen Shot 2020-09-25 at 11 53 47 AM](https://user-images.githubusercontent.com/33299678/94305397-efc8ab80-ff25-11ea-8666-826970a9c0cc.png)

[2020-09-25 21:18] wenleix commented on #13856
@KannarFr : From operation/service perspective, Presto-on-Spark is more like Spark. Thus in my opinion we should leverage what Spark provides for such service (instead of thinking it in the Presto coordinator way).

[2020-09-26 03:36] #11510 closed

[2020-09-26 03:36] #11500 closed

[2020-09-26 03:36] #11499 closed

[2020-09-26 04:48] agrawalreetika commented on #15121
I think there is a bug, I don't see the Tasks section on the Query Details page for any query.

[2020-09-26 10:53] #11530 closed

[2020-09-26 18:30] palashgoel7 commented on #15051
Hi,
1. Please mask all secrets when you post an issue.
2. Oracle connector was added in v0.241: https://github.com/prestodb/presto/pull/15014

[2020-09-26 18:48] palashgoel7 commented on #12911
https://github.com/prestodb/presto/pull/15014 has already added this

[2020-09-28 02:24] beepupa commented on #15098
![image](https://user-images.githubusercontent.com/36186038/94384275-be91ea80-0174-11eb-9f21-da0b9d88b66f.png)

[2020-09-28 08:31] shigechuanqi opened #15232 "v0.241 Oracle Connector logon denied"
After installing and configuring Oracle Connector, the execution query shows "ORA-01017: invalid username/password; logon denied"

https://github.com/prestodb/presto/blob/715704fd0c09f354cb518d6c24ebc30a3f49d6a9/presto-oracle/src/main/java/com/facebook/presto/plugin/oracle/OracleClientModule.java#L47

It seems that ORACLE parameters are not processed?

[2020-09-28 10:08] elukey commented on #15207
Any idea about how to debug etc??

[2020-09-28 17:26] zilti opened #15233 "Is there anything preventing Presto from running on FreeBSD?"
There is an explicit check that only allows (for whatever reason) macOS and Linux. Is there anything preventing Presto from running on FreeBSD?

[2020-09-28 18:01] leonpanokarren opened #15234 "Add a scale_tdigest function"
Similar to `scale_qdigest`, this function would allow clients to `scale` existing t-digests using `weights` that facilitate - `apportioning`, `decaying` etc

The proposed scalar function signature is as follows
[code]

cc: @tdcmeehan

[2020-09-28 23:12] #15215 closed

[2020-09-29 11:06] fornaix opened #15239 "Error with JDK12+ "java.lang.NoSuchFieldException: modifiers""
[code]

Starting from JDK12, some `Field` will be filtered in `Reflection.filterFields` when invoking `Class.getDeclaredField`.

So we can't modify static final fields with the current code.

[2020-09-29 14:36] tedyu opened #15241 "Presto server wouldn't start when there is Error parsing schema"
I configured Presto server to connect to Cassandra backend (using https://repo1.maven.org/maven2/io/prestosql/presto-server/309/presto-server-309.tar.gz).

The server didn't start, due to:
[code]
It seems Presto should bypass the schema which it cannot analyze.

[2020-09-29 16:27] tedyu commented on #15241
Transferring to https://github.com/prestosql/presto/issues/5346

[2020-09-29 16:27] #15241 closed

[2020-09-29 19:00] pratikSethi commented on #15192
@tdcmeehan Hi, can I give this a shot?

[2020-09-29 19:02] tdcmeehan commented on #15192
@pratikSethi please do.  Thank you.

[2020-09-29 19:06] pratikSethi commented on #15192
Awesome, thanks!

[2020-09-29 19:31] joeledwards opened #15245 "The EventListener plugin does not receive events on abandoned queries"
Version: Starburst Presto 338-E.0 (not sure how this maps to the OS version)

Most events which result in a terminal state of `FAILED` for a query are also reported to the EventListener plugin. However, there are cases where a query fails and the EventListener never receives a notification.

My most recent observation involved four different queries, all of which ended up in `FAILED` state due to

[2020-09-29 20:25] findepi commented on #15245
@joeledwards  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
There is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)
Incidentally, there is also `#starburst` channel there where you can ask any Starburst-specific questions.

[2020-09-29 20:25] #15245 closed

[2020-09-29 21:18] joeledwards commented on #15245
I suspect this may still be an issue with the mainline.

[2020-09-30 03:28] krinart opened #15249 "Geospatial query behaves in a weird way"
I have this query:
[code]

Which fails with the following error:
[code]

It's hard to tell what exactly is happening as the error is pretty vague, but what I noticed is:

- Removing any single point from either polygon results in a successful execution of the query;
- Removing call to `simplify_geometry` function results in a successful execution as well;
- The error shows 2 polygons separated by

[2020-09-30 03:44] krinart commented on #15249
Using `geometry_invalid_reason` instead of `ST_AsText` shows:
[code]

[2020-09-30 03:56] krinart commented on #15249
Using shapely I managed to find that:

1. It is possible to do union of those 2 polygons:
<img width="1111" alt="Screen Shot 2020-09-29 at 8 55 54 PM" src="https://user-images.githubusercontent.com/457589/94641441-2be96c80-0296-11eb-8e12-072370eecd5f.png">

2. Polygon returned by `simplify_geometry` is in fact invalid:
<img width="1116" alt="Screen Shot 2020-09-29 at 8 56 26 PM" src="https://user-

[2020-09-30 12:08] palashgoel7 opened #15251 "[Benchmark-driver] Add support to override source when using benchmark driver"
Currently, presto-benchmark-driver passes a fixed source in presto connection: presto-benchmark.

We have not whitelisted this source is our resource-group configuration, which causes all queries from benchmark-driver to fail.

Let's make this configurable.

I can pick this

[2020-09-30 12:11] palashgoel7 opened #15252 "[Benchmark-driver] Add support to format output"
The benchmark driver outputs the results of the benchmark in TSV format. This is difficult to parse and use with other Unix tools.

We should add an option to format output, maybe to CSV.

We could also go the docker-format way: https://docs.docker.com/config/formatting/

[2020-09-30 20:18] krinart commented on #15249
I reduced the problem to the following query:

[code]

The result is: `Self-tangency at or near (14.6 1.1) and (14.6 1.1)`

[2020-09-30 20:55] ajaygeorge opened #15254 "ParsingException double counts charPositionInLine"
`ParsingException` when constructed through the   `NodeLocation` constructor ends up double counting the column number.

Details :

[code]
 The `NodeLocation` constructor takes in a `charPositionInLine` value :  `public NodeLocation(int line, int charPositionInLine)`
and `nodeLocation.getColumnNumber()` increments the value set in charPositionInLine by 1 and returns it .

However we do the increme

[2020-09-30 21:33] krinart commented on #15249
Here's what seems to be happening:
1. `ST_Union` returns invalid geometry, calling `geometry_invalid_reason` on this geometry returns: `Self-tangency at or near (-71.318544 42.614724) and (-71.318544 42.614724)`
2. `simplify_geometry` returns 2 Polygons
3. `ST_AsText` tries to parse input, but call to `Iterables.getOnlyElement` throws `IllegalArgumentException` here https://github.com/prestodb/pre

[2020-09-30 23:25] matthewlorimor-wf commented on #14984
@patrickofriel-wk - It looks like https://github.com/prestodb/airbase/pull/10 was merged. So, once a new release of `airbase` is cut, https://github.com/prestodb/presto/blob/master/pom.xml#L7 can be updated to consume the new release.

[2020-10-01 06:35] #9291 closed

[2020-10-01 06:35] #11567 closed

[2020-10-01 06:35] #11563 closed

[2020-10-01 11:49] ashishtadose commented on #8980
@aweisberg
I'm working on the connector access control implementation for ranger authorization.
Here is the [proposed design](https://docs.google.com/document/d/1Y8Ev9Y9cfUYAVkNHPswGoEqStkL-2dwR4cI2mhd82Pg).

[2020-10-01 13:06] patrickofriel-wk commented on #14984
Great thanks!

[2020-10-01 21:28] yingsu00 opened #15259 "Optimize Projections"
Projections was one of the top contributor to memory allocations that causes full GCs and OOMs. It also has space to improve in terms of CPU usage. We propose the following changes to optimize projections:

Pre-allocate enough memory

  - Part one was implemented in https://github.com/prestodb/presto/pull/15205 which brings 33% improvement in projection's throughput (higher is better) and 4x reduc

[2020-10-01 21:34] yingsu00 commented on #15259
cc @bhhari @mbasmanova @sujay-jain @biswapesh

[2020-10-02 22:33] jinyangli34 opened #15264 "Memory connector low performance with joining tables"
I recently found that the performance of memory connector is even slower than the Hive connector reading from S3, when running a query joining multiple tables.

It's a join query with 3 tables:
[code]

Memory connector returns in 10.09s, while Hive connector returns in 8.4s

For run with memory connector, a lot of time spent between first split started and last split started (stage 7 is the large

[2020-10-02 23:33] samhitha-kandi commented on #6614
We are eagerly waiting for this feature. Any idea on when will it be released?

[2020-10-03 01:26] jinyangli34 commented on #15264
Tested a possible solution (https://github.com/prestodb/presto/pull/15265)

![image](https://user-images.githubusercontent.com/36971524/94980221-79efb180-04dc-11eb-840c-3783d87efd1c.png)

Only a few splits launched for small tables. More resource working on the large table.
Same query latency reduced from 10s to 3s.

[2020-10-03 01:50] rongrong commented on #6614
Presto is an open source project. Do you want to help contribute this feature? Thanks!

[2020-10-03 04:51] #5248 closed

[2020-10-03 13:48] bithavoc commented on #6614
Relax, hacktoberfest contributors are coming to the rescue 😄

[2020-10-03 19:00] elonazoulay commented on #6614
Hi, looks like this was fixed in a recent version of presto: https://prestosql.io. It's been working for us.

[2020-10-04 09:44] yingsu00 commented on #15259
Add identity projection with partial filter failure rate to BenchmarkPageProcessor https://github.com/prestodb/presto/pull/15266

[2020-10-05 12:57] prestorocks opened #15268 "hive.parquet.use-column-names no longer being honored on Presto 0.238.3"
Hi team!

I have been using Presto 0.232 with "hive.parquet.use-column-names" set to true for a while.

I wanted to upgrade to Presto 0.238.3 but "hive.parquet.use-column-names" is no longer honored and after a schema change I am unable to get the correct column.

Was there a change on this property?

Thank you!

[2020-10-05 16:17] #10905 closed

[2020-10-06 09:17] yingsu00 commented on #15259
https://github.com/prestodb/presto/pull/15272 is out: Identity projection improvement when the selectedPositions is a list
BenchmarkPageProcessor shows 21x improvment in throughput and 10x reduction in memory allocation and GC

[2020-10-06 13:45] mhlaskar1991 commented on #6094
Is there any way to execute CALL system.runtime.kill_query('id') from application code using JDBC? I tried but faced the following exception :
Exception in thread "main" java.sql.SQLException: SQL statement is not a query: CALL system.sync_partition_metadata('re_ods','vw_ods_dim_servicechannel_workorder','FULL')
	at io.prestosql.jdbc.PrestoStatement.executeQuery(PrestoStatement.java:77)
	at App.ma

[2020-10-06 18:05] kaikalur opened #15273 "Integreate SQL Logic Tests from sqlite"
sqlite has an open source test suite for automated testing of sql queries. It will be good to add that to Presto so it's easy to test conformance.

https://www.sqlite.org/sqllogictest/doc/trunk/about.wiki

[2020-10-06 23:55] jinqishen0725 commented on #11968
What a terrible solution here. Is it uniform distributed? What is the range of from_big_endian_64? Not to say it is very ugly.

[2020-10-07 09:33] AlanChamberlain commented on #15172
Sorry for be late. The explain results attached as below:
[229explain.txt](https://github.com/prestodb/presto/files/5339538/229explain.txt)
[234explain.txt](https://github.com/prestodb/presto/files/5339539/234explain.txt)

[2020-10-07 09:37] AlanChamberlain commented on #15172
the performance logs created by  asyncprofiler are also attached.
[syncprofiler_performance_comparision.zip](https://github.com/prestodb/presto/files/5339568/syncprofiler_performance_comparision.zip)

[2020-10-07 11:24] findepi commented on #6094
@mhlaskar1991 you're using the PrestSQL driver
PrestSQL releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-10-07 15:40] rschlussel opened #15280 "Optimize union over empty values node"
Sometimes we see a union of a table scan and an empty values node when one side of the union has a partition filter for a partition that does not exist.  This can lead to an inefficient plan, as in some circumstances it can cause the whole union stage to be executed on a single node.  The empty values node is not really needed, as it's not meaningful to union something to an empty values node (or

[2020-10-07 19:39] kaikalur opened #15282 "Optimizing nulls in join should be the last optimizer rule"
We adde an optimization to filter out nulls in:

https://github.com/prestodb/presto/pull/14578

But that cause issues when the subsequent optimization rules push it down further. So we should make the (one of the) file optimization rules so no further pushdowns will happen.

[2020-10-07 20:23] rongrong commented on #15172
@mbasmanova Could you guys take a look at this? From the explain it seems like the CPU time didn't regress but somehow the wall time did.

@AlanChamberlain  can you also double check whether there's any config changes between the two releases? Thanks!

Also cc @kaikalur are you interested in figuring out this mistery?

[2020-10-07 21:45] mbasmanova commented on #15172
@AlanChamberlain How difficult would it be for you to bisect and determine a specific release where regression occurred?

CC: @yingsu00

[2020-10-08 03:22] highker opened #15285 "Change warning to ignore unreadable partitions to be a digest"
`PARTITION_NOT_READABLE` warning created in `HiveSplitManager` is to warn each unreadable partition. This is too excessive. For example:
[code]

Ideally, in the partition batch loop, we collect what partitions are unreadable and summarize them in a single warning at the end. Something like
[code]

[2020-10-08 14:35] brokenjacobs commented on #15232
Seeing the same thing here. Our custom oracle connector from previous versions worked.

[2020-10-08 14:48] brokenjacobs commented on #15232
As a workaround... this worked for me. Change your jdbc uri to this format:
 jdbc:oracle:thin:[<user>/<password>]@//<host>[:<port>]/<service>

[2020-10-08 21:38] dwootton commented on #11484
+1 on this, still seeing this too!

[2020-10-09 01:57] shigechuanqi commented on #15232
Thank you very much.

At present, it is also used in this way

[2020-10-09 01:57] #15232 closed

[2020-10-09 08:31] jaceksan commented on #2445
Our BI/analytics platform provides a capability to register, update and delete data sources.
Our customers need to manipulate their data sources without downtime.
Missing support in Presto forces me to stop evaluating it and moving to other engines like Drill.
The update is also important and not so rare use case - customers may need to modify e.g. user/password due to security reasons.
They can c

[2020-10-09 19:11] rschlussel opened #15297 "Prepared Statements allow some non-constant expressions as parameters"
ConstantExpressionVerifier is used mainly to check that the parameters passed to execute a prepared statement are constants, meaning that they don't select from any tables.  However, it right now only just checks for column references, which means it misses a few cases

1. `SELECT * FROM table` -- it doesn't recognize the 'AllColumns' Expression as being non-constant, so this expression is allowed

[2020-10-09 20:16] sfranzini opened #15298 "Connections to SQL Server are not terminated when the Presto session timeout elapses"
We are seeing an issue with connections to SQL Server not being terminated when the Presto timeout elapses. We are currently running Presto 0.227.

Here are some example logs of this happening:
{code}
2020-10-09T20:02:59.744Z        DEBUG   20201009_200259_00006_8duaj.1.0-0-108   com.microsoft.sqlserver.jdbc.internals.SQLServerStatement       SQLServerPreparedStatement:10: calling sp_executesql: S

[2020-10-10 02:49] UpAndDowns commented on #10888
我也遇到了相同的问题，希望各位大佬给出解决的方案，非常感谢

[2020-10-10 08:05] #11569 closed

[2020-10-10 08:05] #11607 closed

[2020-10-10 11:01] AlanChamberlain commented on #15172
@rongrong ， We didn't change any configuration , each configuration is the default value.

@mbasmanova There is a difficult to evaluate the difference. We find an obvious different running time by eyes in porduciton environment(134 nodes). But After loading the same table data to testing environment(30 nodes), the difference cann't be recognized by eyes. So we need a tool and some perfromance metr

[2020-10-11 09:06] yingsu00 opened #15299 "Optimize MapFlatSelectiveStreamReader.assembleMapBlock()"
[ftw2_batch1_worker_cpu_20201011_015204_360s.svg.zip](https://github.com/prestodb/presto/files/5360811/ftw2_batch1_worker_cpu_20201011_015204_360s.svg.zip)

[2020-10-11 09:15] jasonf20 commented on #15149
Anyone have a chance to check this out. If a contributor could suggest a solution I don't mind implementing it and making a PR.

[2020-10-11 09:18] yingsu00 commented on #15259
[pnb1_batch1_worker_cpu_20201011_012349_60s.svg.zip](https://github.com/prestodb/presto/files/5360823/pnb1_batch1_worker_cpu_20201011_012349_60s.svg.zip)
Profile shows some functions e.g. mapConact is the major CPU consumer for projections. These functions use TypedSet and were very inefficient in using PageBUilder and BlockBuilders. So it seems optimize PageBuilder and BlockBuilders has a very wi

[2020-10-11 23:12] #11647 closed

[2020-10-12 07:25] yingsu00 commented on #15299
Merging with #15225

[2020-10-12 07:25] #15299 closed

[2020-10-12 07:28] yingsu00 commented on #15259
https://github.com/prestodb/presto/pull/15301 is out: Disable MergingPageOutput for ScanFilterAndProjectOperator before repartitioning. Simple query on TPCH 100GB shows 22% CPU reduction:
[code]

Baseline CPU: 49.94s
After CPU:  39.18s

[2020-10-12 20:16] #15158 closed

[2020-10-13 00:52] carlosfvp commented on #11948
+1

[2020-10-14 00:55] #13921 closed

[2020-10-14 16:27] jmesney opened #15308 "DROP TABLE not deleting data in S3"
If user creates a table and populates it with 1 or more rows, and then drops the table, the table's file and folder structure remains in S3.  The table definition is correctly removed from the metastore however. This means any attempt to create a table of the same name will fail with a "Target directory for table x already exists' because the folder is still present in S3.  This happens consistent

[2020-10-14 21:46] BlueStalker commented on #13814
hi, @cemcayiroglu do we have any updates on this? We also have some thoughts on scaling the coordinator, want to align what the community already did.

[2020-10-15 03:05] ashishtadose commented on #15308
I could reproduce it in my local env, looks like ThriftHiveMetastore leaving couldn't delete data files while deleting S3 backed hive managed tables.

WIll debug some more to identify the fix.

[2020-10-15 05:32] sdruzkin commented on #13063
We are also interested in the nanosecond precision for timestamps to fully support timestamps in the ORC file format.

[2020-10-15 19:15] inselbuch commented on #12778
time-weighted average is sorely lacking in many databases... and desperately important

[2020-10-16 00:29] yingsu00 commented on #15225
This function is high on both CPU and alloc profiles. See attached zip
[Archive.zip](https://github.com/prestodb/presto/files/5388520/Archive.zip)

[2020-10-16 00:30] yingsu00 commented on #15225
cc @mbasmanova @bhhari @biswapesh

[2020-10-16 00:43] yingsu00 opened #15318 "Investigate if the allocation can be reduced in DwrfMetadataReader.readRowIndexes"
--- 947706406128 bytes (1.40%), 197307 samples
  [ 0] byte[]
  [ 1] com.facebook.presto.orc.metadata.DwrfMetadataReader.readRowIndexes
  [ 2] com.facebook.presto.orc.metadata.ExceptionWrappingMetadataReader.readRowIndexes
  [ 3] com.facebook.presto.orc.StripeReader.readStripe
  [ 4] com.facebook.presto.orc.AbstractOrcRecordReader.advanceToNextStripe
  [ 5] com.facebook.presto.orc.AbstractOrcRecord

[2020-10-16 02:12] Moe82 commented on #15285
Hi, highker. Can I give this issue a shot?

[2020-10-16 02:13] highker commented on #15285
@Moe82, yes please.

[2020-10-16 03:56] Moe82 commented on #15285
@highker Sorry is this is a dumb question, but how can I test the changes I made?

[2020-10-16 16:06] kaikalur opened #15320 "Crash with dupe expression error"
The following query gives error with dupe expression.

  SELECT
      CAST(
          ARRAY_AGG(
              method_rank --prediction_method_id
              ORDER BY
                  method_rank ASC,
                  conf_score DESC,
                  method_subrank ASC
          )
          AS ARRAY<BIGINT>
      ) AS all_predictions_with_method_rank
      FROM (select 1 ) cross join
( SELEC

[2020-10-16 20:32] rschlussel commented on #15297
Allowing only literals turned out to be a bit tricky because we express some literals as non-Literal expressions.  For example, -100 is an ArithmeticUnaryExpression.  I'm sure we could restrict to only literals if we put some more effort into defining what kind of expressions qualify, but to at least quickly close up the hole, i created #15322 to make constant verification more robust.

[2020-10-17 11:01] njanakiev opened #15326 "Add WKB Support for PostGIS Geometry Columns"
Hello, thanks for the great project!

While trying to access geometry columns with the PostgreSQL connector, I wasn't able to access the PostGIS geometry column inside a table:

[code]

[code]
The same query works with Python together Pandas and SQLAlchemy:

[code]

[code]

As far as I understand PostGIS stores geometries in the WKB format including more metadata like SRID:
[code]

I think this wo

[2020-10-17 20:09] #11655 closed

[2020-10-17 20:09] #11253 closed

[2020-10-17 20:09] #11669 closed

[2020-10-17 20:09] #11659 closed

[2020-10-17 20:09] #10925 closed

[2020-10-17 20:09] #11664 closed

[2020-10-17 20:09] #11666 closed

[2020-10-17 20:09] #11615 closed

[2020-10-19 05:40] davidmason commented on #10567
@avanibhatnagar I am having the same problem where I have a time zone specified but can't parse it. Did you learn anything about getting that working?

[2020-10-19 11:09] jmesney opened #15331 "Documentation omits several Metastore and Thrift Configuration Properties ?"
The Hive metastore can be configured with a number of properties, like `hive.metastore-cache-ttl` and `hive.metastore-refresh-interval` - a good deal of these seem to be missing from the documentation.

Other omissions may or may not include `hive.metastore-cache-maximum-size` and `hive.metastore-refresh-max-threads` and some thrift related properties.

[2020-10-20 01:02] szsuyuji opened #15337 "kudu schema emulation error when Hive Metastore integration is enabled"
kudu  integrate with hive metadata, emulation  will failed because hive do not support special character.  how to change the mapping table name "$schema"

[2020-10-20 01:44] Moe82 commented on #15285
@highker, quick question- do all partitions in partitionBatch that are not readable have the same value for partitionNotReadable (the reason)? Or could there be more than 1 reason?

In other words, could the output be:

Table my_table has 3 out of 50 partitions: 'part1', 'part2', 'part5' not readable: <REASON1>
Table my_table has 2 out of 50 partitions: 'part6', 'part7',  not readable: <REASON2>

[2020-10-20 01:52] highker commented on #15285
@Moe82, that is a good observation. In theory, it could be. Likely we could show something like
[code]

Note that
- We don't need to enumerate all partitions for the same reason to be completely due to readability and memory concern on large number of unreadable partitions. Maybe two would be good enough. The extra ones could just use "..."
- Same for the number of reasons. Maybe we only need 2. T

[2020-10-20 10:19] elukey commented on #15207
I added `-Djavax.net.debug=all` to the presto worker and found that the error is:

[code]

One thing that I didn't mention before is that the pkcs12 certificate is signed by a CA that is contained in the default jvm truststore, that seems not picked up by Presto. I see that prestosql solved the problem adding an option to set the trustore (that is null in my logs above), can prestodb do something

[2020-10-20 12:48] elukey commented on #15207
Ok I finally found the main reason, namely that the default Java truststore is not picked up by launcher.py. If I add the following bits to the presto's jvm config I see from debug logging that the CA certs are picked up:
[code]

I think that there are two improvements for Presto that could be considered:
1) Add support for custom truststores like https://github.com/prestosql/presto/pull/785/files

[2020-10-22 00:59] yingsu00 opened #15343 "Design a test to reproduce the bug in #15130"
the bug happens in f0616e4b9 "Introduce large dictionary mode" where in getBlock() I had a condition saying
[code]

I kept a variable nullsCount and increase it in the readXXX() methods. However, the outputPositionCount could be decreased after a filter function was called after readXX() where the outputPositionCount happens to be the same as nullCount when getBlock() is finally called.

@mbasmano

[2020-10-22 01:05] #15337 closed

[2020-10-22 04:10] #11637 closed

[2020-10-22 04:10] #11696 closed

[2020-10-22 04:10] #11712 closed

[2020-10-22 04:10] #11711 closed

[2020-10-22 20:12] dain commented on #15207
Presto uses separate configuration properties for keystores.  It looks like you are trying to secure Presto to Presto communications and that is documented here: https://prestosql.io/docs/current/security/internal-communication.html. I also did a training on securing Presto a few weeks back: https://prestosql.io/blog/2020/08/13/training-security.html. This covers this topic also.

BTW, Presto also

[2020-10-23 18:47] adamelmore commented on #5801
@evgenia82 reviving this to point out that there's a forum topic related to `IGNORE NULLS` not working in Athena; would appreciate any upvotes on that thread!
https://forums.aws.amazon.com/thread.jspa?threadID=306856&tstart=0

[2020-10-26 20:02] prithvip commented on #15023
Fixed by https://github.com/prestodb/presto/pull/15269

[2020-10-26 20:02] #15023 closed

[2020-10-26 23:05] Nithanaroy commented on #2433
The main thing that is stopping me from completely switching to super fast Presto engine from Spark SQL. My +1 too for this feature.

[2020-10-27 08:10] yingsu00 opened #15361 "Optimize aggregation functions"
Aggregation functions is a big part of projection. In hour-long profiles I collected on FB clusters, I often saw high CPU percentage in map_concat or other map aggregation functions. This issue tries to optimize these functions in multiple directions and is part of the larger effort "Optimize Projections" https://github.com/prestodb/presto/issues/15259

### Optimize the usage of TypedSet
Some map/

[2020-10-27 08:15] yingsu00 commented on #15361
cc @mbasmanova @bhhari @sujay-jain @biswapesh @kaikalur @rongrong

[2020-10-27 08:44] yingsu00 commented on #15361
https://github.com/prestodb/presto/pull/15362 for "Avoid block building inside"

[2020-10-27 09:19] ravasan opened #15363 "Build fails"
Running `./mvnw clean install` gives:

[code]
Says it is a spotbugs plugin problem.

[2020-10-27 09:27] ravasan commented on #15273
If this is still open, I'd like to give this a try. Where exactly do I put the test-suite?

[2020-10-28 17:43] #15254 closed

[2020-10-28 22:19] #11684 closed

[2020-10-28 22:56] gtangthousandeyes commented on #15176
hello @fgwang7w , just curious question. Is the prometheus plug-in ready to roll out? I see these in the presto documentation https://prestosql.io/docs/current/connector/prometheus.html but I do not see a prometheus-plugin in the master branch

[2020-10-28 23:40] suwei111333 opened #15370 "For Presto-JDBC driver, did Presot-JDBC driver support the system key-store/trust-store on Mac with Java11?"
Hi Presto team:

I spend some time working on make SSL connection works on Mac with system key-store/trust-store,
here is my sample code before do the SSL connection:
            TrustManager[] trustManagers = new TrustManager[] { new CompositeX509TrustManager(keyStore) };
            SSLContext sslContext = SSLContext.getInstance("TLS");
            sslContext.init(null, trustManagers, null);

[2020-10-30 06:35] tanero commented on #9757
json file support would be great, without hadoop,  worker and coordinators access the files on shared network storage.

[2020-10-31 03:20] lyzGithub opened #15382 "Failing when using the Function Namespace Managers"
Failing when using the Function Namespace Managers.
`2020-10-31T11:18:50.900+0800    ERROR   main    com.facebook.presto.server.PrestoServer No factory for function namespace manager mysql
java.lang.IllegalStateException: No factory for function namespace manager mysql
        at com.google.common.base.Preconditions.checkState(Preconditions.java:588)
        at com.facebook.presto.metadata.Functio

[2020-11-01 07:45] #11786 closed

[2020-11-01 07:45] #6212 closed

[2020-11-01 07:46] #11766 closed

[2020-11-01 07:46] #10332 closed

[2020-11-01 07:46] #11758 closed

[2020-11-01 07:46] #11747 closed

[2020-11-01 16:28] #11790 closed

[2020-11-03 09:10] shenh062326 opened #15385 "Fix bug in HiveNodePartitioningProvider.getBucketNodeMap"
When I test exchange materialization and grouped execution, some query will hold forever. The jstack is
![image](https://user-images.githubusercontent.com/9527867/97966282-97bf7780-1df6-11eb-94e8-5e1e69df5683.png)

The reason is LocalExchange.createPartitionFunction call HiveNodePartitioningProvider.getBucketNodeMap, the sortedNodes is ImmutableList.of(), it will cause Stream.generate(() -> sorted

[2020-11-03 09:12] lijun4017 opened #15386 "upgrade hive 0.13 to hive 3.1,presto0.221 query partition table get slower"
my older env, apache hadoop2.6,hive0.13;my new env hdp hadoop 3.1,hive 3.1.

a small table with about 700 partition and total 160000 rows ,select count(1) from tablename.
on older env ,it was cost less than 0.5s,but on new env it was cost 3s.

now I cannot find the reason why presto get slower.
the presto version is 0.221

[2020-11-04 01:50] besturn20at opened #15395 "Got error when query ES. (The number of hits for the query (4675) exceeds the configured max hits (1000))"
I am trying to query ES data, but when I select from ES, I got following errors,
The number of hits for the query (4675) exceeds the configured max hits (1000),
my configuration is
connector.name=elasticsearch
elasticsearch.default-schema-name=default
elasticsearch.scroll-size=10000
elasticsearch.scroll-timeout=10m
elasticsearch.request-timeout=2000s
elasticsearch.max-request-retries=5
elasticsear

[2020-11-04 17:43] #14693 closed

[2020-11-04 19:09] dbkegley opened #15396 "Writing to local staging directory before moving to target path in s3"
I would like simulate an `insert-overwrite` of a hive partition by executing a `delete-insert` inside of a presto transaction.

This was described as an alternative here: https://groups.google.com/g/presto-users/c/g66hvVjYv0g

The following demonstrates the error:

[code]

Error:

`Query 20201104_185211_00200_wht3h failed: Cannot insert into a table with a partition that has been modified in the s

[2020-11-05 00:28] beinan commented on #15370
Have you tried to add jvm arguments to your java applications as below?
-Djavax.net.ssl.trustStore
-Djavax.net.ssl.trustStorePassword

[2020-11-05 00:47] suwei111333 commented on #15370
thanks Beinan,
these jvm arguments are for user trustStore,  but if I want to use the certificate in the Mac's system Keychain, these arguments do not work.

[2020-11-05 00:52] beinan commented on #15382
Looks like the plugin/function-namespace-managers has not been loaded.  How did you start presto?

[2020-11-05 01:11] beinan commented on #15370
Not sure if this one works if you want to use keychain as the trustStore.  -Djavax.net.ssl.trustStoreType=KeychainStore

Here is the code of how presto client (which is also used by presto-jdbc driver) initialize the SSLContext

https://github.com/prestodb/presto/blob/24ac335a4da1c2de3f02d9d2dd61fc949bce45ba/presto-client/src/main/java/com/facebook/presto/client/OkHttpUtil.java#L184

[2020-11-05 11:40] omaraa12 opened #15399 "Hak"

[2020-11-05 12:48] BellzeBlast opened #15400 "Jsjsjskksk"

[2020-11-05 18:54] noahkawasakigoogle commented on #7747
+1 Presto 0.231, 0.240, 0.243, basically all

[2020-11-05 19:11] suwei111333 commented on #15370
thanks beinan, I will do more test after our environment is ready. update later.

[2020-11-06 02:56] yingsu00 opened #15407 "Excessive Slice object created when building hashtables in MapBlockBuilder"
From our KDS pipeline, creating Slice is among the top ones on both CPu and Alloc profiles:

--- 237778528 bytes (0.20%), 137 samples
  [ 0] io.airlift.slice.Slice
  [ 1] io.airlift.slice.Slice.slice
  [ 2] com.facebook.presto.common.block.AbstractVariableWidthBlock.getSlice
  [ 3] com.facebook.presto.common.type.AbstractVarcharType.getSlice
  [ 4] java.lang.invoke.LambdaForm$DMH.1110157751.invoke

[2020-11-06 03:33] lyzGithub commented on #15382
Thanks for reply. Presto ran in a single node. I used the presto-server-0.242.1.tar.gz package downloaded from prestodb.io and also built package on the branch release-0.242. And I have found that there is no `plugin/function-namespace-managers` dir  in the installation package. So Is the feature [Function Namespace Managers](https://prestodb.io/docs/current/admin/function-namespace-managers.html)

[2020-11-06 04:01] iceted commented on #7747
works for me

presto:default> create table some_table (ts) as select current_timestamp;
CREATE TABLE: 1 row

Query 20201106_035558_00024_nd6xn, FINISHED, 3 nodes
Splits: 25 total, 25 done (100.00%)
0.21 [0 rows, 0B] [0 rows/s, 0B/s]

presto:default> select * from some_table;
             ts
-----------------------------
 2020-11-06 03:55:59.051 UTC
(1 row)

Query 20201106_035603_00025_nd6xn, FINIS

[2020-11-06 07:16] lyzGithub commented on #15382
Or is there any wrong action I made when I wrote the configuration file or start the presto? And do anyone have a more detailed configuration guide to set up the Function Namespace Managers ?

[2020-11-06 13:44] pradeepagrawal8184 opened #15409 "Insert query to partitioned table fails when there are 1000 partitions even though the number of records are very less."
Problem Statement: Insertion to partition table is failing in limited memory environment even with a small dataset. For large no. of partitions (1000 partitions) lot of memory (more than 4GB) is required even for small datasets of few MB.
If a table has partition on columns where partition columns contains around 1000 distinct values then insert operation to partitioned column fails with error mes

[2020-11-06 15:23] findepi commented on #15409
@pradeepagrawal8184  PrestoSQL releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#troubleshooting` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-11-06 15:23] #15409 closed

[2020-11-06 16:16] noahkawasakigoogle commented on #7747
Probably because you explicitly define the (ts) column, other queries without that fail:

[code]

Assume that users has a timestamp column

[2020-11-06 16:35] iceted commented on #7747
presto> describe some_table;
 Column |            Type             | Extra | Comment
--------+-----------------------------+-------+---------
 ts     | timestamp(3) with time zone |       |

presto> create table another_table as select * from some_table;
CREATE TABLE: 1 row

Query 20201106_163325_00011_jmxz6, FINISHED, 3 nodes
Splits: 21 total, 21 done (100.00%)
0.21 [1 rows, 0B] [4 rows/s, 0B/s]

[2020-11-06 16:40] noahkawasakigoogle commented on #7747
hm, interesting. What version of presto and postgres are you using?

[2020-11-06 16:47] iceted commented on #7747
presto 345 and postgres 9.5

[2020-11-06 16:53] noahkawasakigoogle commented on #7747
Then you must be using PrestoSQL, not PrestoDB?

[2020-11-07 05:59] #4655 closed

[2020-11-07 05:59] #4125 closed

[2020-11-07 05:59] #11822 closed

[2020-11-07 05:59] #5162 closed

[2020-11-07 05:59] #11795 closed

[2020-11-07 05:59] #11809 closed

[2020-11-07 19:25] zshit opened #15411 "error while running hive queries 'alter table concatenate'"
first I create table in presto
`CREATE TABLE  hive.db.ods_test (
tid bigint,
msg varchar,
pt varchar
) with(partitioned_by = array['pt']);`
then insert rows to different orcfiles
`insert into hive.db.ods_test values(1,'empty msg' ,'202011');`
` insert into hive.db.ods_test values(2,null,'202011');`

 I try to merge orcfiles but error happens while running hive queries 'alter table hive.ods_test pa

[2020-11-07 19:34] kaikalur opened #15412 "Prune empty values nodes from the plan"
Currently when we do partition elimination if no partition is selected, we create a values node with no rows and that distorts plan in all sorts of ways causing occasional issues. So we should add an iterative optimizer rule to prune these. The algo is simple, when you have a values node with 0 rows

1. if it's the inner relation of a join, replace that join node with the empty values
2. if it's t

[2020-11-09 06:37] #11844 closed

[2020-11-09 10:58] besturn20at commented on #15395
finally I fixed the problem, simple add a new line to properties file
elasticsearch.max-hits=10000

[2020-11-09 10:58] #15395 closed

[2020-11-10 06:16] jagan985 opened #15416 "Presto CLI --password gets displayed when using grep to find the process in Unix"
Dear All,
Currently i'm executing the view query using presto CLI command by constructing the string with username and password as well, and execute it from a JAVA JAR as bash command to LINUX server.

Code Snipet:-

String Password = enigma.decrypt(propFile.getProperty("Password"));
String ptr_sec = presto_cli_path + "/presto --server " + presto_https_server + " --keystore-path " + keystore_path

[2020-11-10 16:41] miguelknb commented on #15280
I would like to work on this issue, can I give it a shot?

[2020-11-10 16:42] miguelknb commented on #15412
I would like to work on this issue, but I think it's already been issued before:

https://github.com/prestodb/presto/issues/15280

[2020-11-10 20:10] ckdarby commented on #12201
Yes. My two cents in my scenario that would make sense as the standard pipeline tools like Flink or Spark can write in their IPC format directly to disk and having Presto through the hive connector be able to read this directly mappable to memory would see some great improvements.

This is actually something we've been hoping to see from the Presto community as there is more and more adoption of o

[2020-11-10 20:49] tooptoop4 commented on #12201
@ckdarby https://github.com/Praveen2112/presto/tree/arrow_connector/presto-arrow-flight/src/main/java/io/prestosql/plugin/arrow

[2020-11-11 00:55] kaikalur commented on #15412
That's great! Note that this issue is more general than the other one - here I want to do the right thing for all different contexts.

[2020-11-11 01:32] johnwhumphreys commented on #9990
FYI, we found that the values solution make our query run quite a bit slower even though it reduced planning time.

In our case had a large range of values with some missing, so we tried BETWEEN (big range) and NOT IN (small set of values) and got similar reduction in planning time and a far faster query for some reason.

[2020-11-11 13:36] liuzx8888 opened #15422 "Cannot query data from kudu schema that is not default"
In kudu, schema is ODS1, but in Presto's information_ schema.tables Display schema default

![image](https://user-images.githubusercontent.com/10862577/98817449-12c30680-2465-11eb-85b6-28d2fc075c22.png)
![image](https://user-images.githubusercontent.com/10862577/98818689-dd1f1d00-2466-11eb-94c6-35d395b247e5.png)
![image](https://user-images.githubusercontent.com/10862577/98816475-b14e6800-2463-11e

[2020-11-11 15:50] rschlussel commented on #15280
Absolutely!

[2020-11-11 17:27] johnwhumphreys commented on #9990
I also just found that, when between is not suitable (e.g. non-consecutive items), switching:

[code]

to:

[code]

Vastly decreased planning time and kept total time much lower (like between).

Using this "everywhere" made things slower, but using it exclusively with our 3 BIG/repeated in clauses was awesome.

[2020-11-11 18:36] tooptoop4 commented on #15386
maybe similar to https://github.com/prestosql/presto/issues/5155#issuecomment-692540048

[2020-11-11 20:51] rongrong opened #15424 "Queries might produce wrong results when there are multiple lambda expressions that are only differ in complex type constants."
Queries matching the following criteria (all) might produce wrong results:
* Running on a Presto version >= 0.238
* There are multiple lambda expressions in the query
* Multiple lambda bodies are the same except array/map/row constants
* The array/map/row constants from different lambda has the same type and length (position count)

Some examples:
[code]
Expected result: `[1, 2]`
Actual result: `[

[2020-11-12 01:22] beinan commented on #15382
If you build and start presto locally, you can append the function-namespace-managers plugin into the plugin.bundles in the config.properties.

`plugin.bundles=\

  ../presto-function-namespace-managers/pom.xml,\
`

The function namespace managers is ready to use, I just happened to use it a few weeks ago.  The key point is making presto server load the plugin, otherwise we would see a failure of

[2020-11-12 12:13] sufism opened #15429 "MongoDB connector filters incorrectly by Timestamp and Date types"
For example
`SELECT * FROM tmp_date WHERE _date = DATE '1980-05-07';`
will always return empty result even if the filter hits some records.

This is because all types except ObjectId are translated to Strings in `MongoSession.translateValue` for building predicate, but Date and Timestamp types are represented as  java Date in Mongodb sdk.

[2020-11-12 21:10] #15424 closed

[2020-11-13 09:17] beepupa opened #15435 "add prometheus connector?"

[2020-11-13 10:17] sopel39 commented on #12201
@ckdarby I don't work on this repo anymore. Please file an issue in https://github.com/prestosql/presto

[2020-11-13 11:06] hqisog commented on #14737
@agrawalreetika  hey， are you start the task ?  Can I come in on the issue ?

[2020-11-13 12:02] jpedrojpedro commented on #8939
thanks, @benrifkind!!! your comment was really helpful to solve this problem \o/

just updating code references:

the constant `S3_DIRECTORY_OBJECT_CONTENT_TYPE` is assigned with value `application/x-directory` [[1]](https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java#L157) and the comparison with S3 metadata happens few line

[2020-11-14 09:35] #11850 closed

[2020-11-14 09:35] #11845 closed

[2020-11-14 09:35] #11774 closed

[2020-11-14 09:35] #11821 closed

[2020-11-14 13:42] agrawalreetika commented on #14737
@hqisog I haven't done much on this. If you want, you can pick it up.

[2020-11-15 09:59] yingsu00 opened #15441 "Improve HiveBucketFunction.getBucket when bucketFunctionType is HIVE_COMPATIBLE"
![image](https://user-images.githubusercontent.com/33299678/99181822-eff35500-26e5-11eb-92fc-63eb20942d50.png)
 HiveBucketFunction.getBucket() took 15% CPU of processInternal when bucketFunctionType is HIVE_COMPATIBLE. See attached image. This is because the expensive HiveType.getPrimitiveType was called when hashing every value. It can be fixed by getting the Presto Type just once when HiveBucket

[2020-11-15 11:45] happyapple668 opened #15442 "support dynamically load the catalog properties?"
when the server started ,I add  an new connector in directory etc/catalog, how can I use the new connector name in the query without restart the server

[2020-11-15 12:34] happyapple668 commented on #15442
ref #2445

[2020-11-15 13:58] #11916 closed

[2020-11-15 18:49] #2661 closed

[2020-11-15 18:49] #11867 closed

[2020-11-16 07:46] #11876 closed

[2020-11-16 07:46] #8901 closed

[2020-11-16 07:46] #11887 closed

[2020-11-16 07:46] #11883 closed

[2020-11-16 17:59] liuzx8888 commented on #15422
Anyone can give me some suggestion?

[2020-11-17 18:47] fgwang7w opened #15446 "DynamicFiltering throws prestoException due to Invalid partition value 'N'"
When using Hive connector to fetch data that has null value in partitioning key, query fails as follows

`com.facebook.presto.spi.PrestoException: Invalid partition value '\N' for BIGINT partition key: ss_sold_date_sk
	at com.facebook.presto.hive.HiveUtil.bigintPartitionKey(HiveUtil.java:710)
	at com.facebook.presto.hive.HiveUtil.parsePartitionValue(HiveUtil.java:596)
	at com.facebook.presto.hive.

[2020-11-17 18:50] fgwang7w commented on #15446
there's glitch in handling partition pruning logic when hive partitioning key contains a null value. I can try to fix it

[2020-11-17 18:52] fgwang7w commented on #15435
there's an ongoing project to enable Prometheus connector. re: #15194

[2020-11-17 19:03] highker commented on #15446
cc: @kewang1024

[2020-11-18 03:20] yingsu00 opened #15451 "compressionBuffer not accounted in OrcInputStream"
`compressedBuffer` is a byte[] in OrcInputStream, however its not accounted in the memory context. The creation is in
private void advance() but the memory context was not updated
{
    ...
     compressedBuffer = ensureCapacity(compressedBuffer, chunkLength);
}

[2020-11-18 03:20] yingsu00 commented on #15451
cc @arhimondr @mbasmanova @bhhari

[2020-11-18 07:08] kewang1024 commented on #15446
Thanks for finding the issue, yeah, it would be great if you can help work on it, you can add me as the reviewer when you have the fix, thanks!

[2020-11-18 09:26] ywww opened #15452 "how to support ranger"
how to support ranger

[2020-11-18 19:04] tdcmeehan opened #15453 "[Design] Disaggregated Presto Coordinators"
# Presto Disaggregated Coordinator
## Motivation
In Facebook, we find that coordinators have become bottlenecks to cluster scalability in a number of ways.

1) Once we scale to some number of nodes in the hundreds, we find that coordinators frequently have a high potential of being slowed down by an excessively high number of tasks.
2) In certain high QPS use cases, we have found that workers can

[2020-11-18 19:13] tdcmeehan commented on #13814
Superseded by #15453

[2020-11-18 19:13] #13814 closed

[2020-11-18 19:14] tdcmeehan commented on #15453
Related to #10174

[2020-11-18 19:21] shangxinli opened #15454 "Skip reading Parquet pages using Column Indexes feature of Parquet 1.11.x"
PARQUET-1201 introduced Column Indexes feature. After the PR https://github.com/prestodb/presto/pull/14960, Presto should be able to use the Column Indexes to skip reading Parquet pages. This would be a significant performance booster. Here(https://blog.cloudera.com/speeding-up-select-queries-with-parquet-page-indexes/) is performance benchmarking data.

[2020-11-19 00:57] kaikalur opened #15458 "Warn if a simple field (or an expression) is aliased to an existing field"
If a table T has 3 columns x, y and z and you see a select like:

SELECT x, y z FROM T

where z (an existing field) is used as an alias to a different field like (y), it may be a case of missing comma and potentially not what the user wanted - especially y and z are the same type. So it's worth giving a warning for that.

Note that:

SELECT x, y, z z FROM T

is ok because z stays z

[2020-11-19 09:18] BlueStalker commented on #15453
@tdcmeehan thanks for the update, from the description above, it looks like Resource Mananger would be new JVM process running separately against the main coordinator process, are you going to design RM as master-slave mode or distributed mode like the coordinators would go to random RM and the RMs will internally exchange the data?

[2020-11-19 12:56] DanielHRio commented on #12233
Hey Team, we have a similar intermittent (but frequent) error when using Presto with Hive.

com.facebook.presto.spi.PrestoException: Unexpected response from https://10-246-71-216.corp.org:8446/v1/task/20201115_140545_55954_qphgn.1.0.29?summarize
	at com.facebook.presto.server.remotetask.SimpleHttpResponseHandler.onSuccess(SimpleHttpResponseHandler.java:69)
	at com.facebook.presto.server.remotetas

[2020-11-19 17:58] alee-r7 opened #15461 "Best way to setup presto/druid connection for presto to download large result sets from druid."
I'm wondering if there are things I can do to setup and look out for to allow presto to pull in large results sets (250 million rows) in a short amount of time. I'm trying to achieve this goal of being able to pull this in low second latency but I get approximately 2 minutes.

[2020-11-20 04:23] AmarkFox commented on #14206
any progress on this issue? Seems presto sql is fixed the issue yet.
 I have the same problem with presto db

[2020-11-20 11:39] dborkar commented on #15461
@zhenxiao @beinan any feedback?

[2020-11-20 16:12] alee-r7 commented on #15461
I should probably fill in some more details about the evironment on AWS which are.

On the presto side its 1 master m5.4xlarge, 16 slaves m5.4xlarge, predicate pushdowns are enabled. The druid side the broker/coordinator nodes 4 c5.4xlarge. Data nodes are i3.4xlarge. In terms of the query, I'm doing a simple select with a limit of 250,000,000. We anticipate this maybe one of the largest type of re

[2020-11-21 07:32] #11885 closed

[2020-11-21 07:32] #11875 closed

[2020-11-21 07:32] #10736 closed

[2020-11-21 07:32] #11785 closed

[2020-11-21 07:32] #10611 closed

[2020-11-21 07:32] #11931 closed

[2020-11-21 08:32] beinan commented on #15461
Hi @alee-r7 , thank you for your interest in druid connector!

Predicate pushdowns are designed for pulling small amount of data from druid.  The purpose of predicate pushdown is pushing down the computing efforts from presto to druid, rather than vice versa.

So it might be better if we could disable the predicate pushdowns, then presto would be able scan the segments files on hdfs or s3 directly

[2020-11-21 11:41] JivanRoquet commented on #12653
@rongrong

one example that I just stumbled upon illustrating the benefit of the `distinct on` syntax. if you take the following:

[code]

instead of this, `distinct on` can allow rewriting the above query in a much simpler manner, avoiding one level of subquery

[code]

[2020-11-21 21:12] alee-r7 commented on #15461
@beinan

Thanks for the tip, unfortunately it still is kind of slow if not slower. I started to take a look at the code in detail and from what I could tell when I don't enable the pushdown it looks like it creates the splits but I believe it grabs all the segments there possibly could be for a datasource (please confirm if I'm wrong here). Below is where I made that assumption.

[code]

Currently

[2020-11-21 22:02] beinan commented on #15461
Yep, it would be a huge performance improve if we can filter the segments by the time range.

Yes, you're right, the original idea of this implementation just came from presto-hive&parquet.  Actually there used to be a simple time range filter here, but we removed it for some reason.  I think it's feasible to pushdown the time range filter via the connector optimizer (which might not be an easy ch

[2020-11-21 22:30] alee-r7 commented on #15461
I have the time to work on this. I'll give it a try. BTW, how do you test the connector? I have done modifications with the ElasticSearch one for our own POC and it is straightforward because the tests are against an embedded ES. (I actually updated ours to the latest ES version and removed the embedded node using test containers instead). But is your workflow just install presto locally, install

[2020-11-22 01:21] beinan commented on #15461
Hmmm, I have a pure local setup of presto and druid -- starting presto in IDE and start druid as a micro instance in cmd line.

I think I've merged the druid config in presto to prestodb's master:
`presto-main/etc/catalog/druid.properties
connector.name=druid
druid.coordinator-url=http://localhost:8081
druid.broker-url=http://localhost:8082`

I don't remember if this approach is able to test the r

[2020-11-22 15:45] alee-r7 commented on #15461
Thanks, I got some of my env going and I see in the code where i need to make the adjustments. One other question, which is that I want to do one further optimization. The optimization is to check that a segment contains a particular string dimension. You see in our druid cluster it is multi-tenant, so most likely there will also be a number of segments that do not contain the tenant id we are loo

[2020-11-22 18:20] djiangc commented on #13856
@arhimondr @wenleix I have two quetions: is it possible to run multiple SQL queries in the query file?

[2020-11-23 00:35] beinan commented on #15461
Sorry, I'm afraid have no idea about the dictionary on the segment.  Druid channel might have a better idea.

[2020-11-23 03:15] alee-r7 commented on #15461
I think I found it. Each column I believe has a dictionary via the StringDictionaryEncodedColumn class. From there you can see if the value has a dictionary entry for it. I think I have enough now to test out if everything goes well I'll put up a PR. Thanks.

[2020-11-23 06:02] ywww commented on #15452
anyone tell how to do

[2020-11-24 07:43] wintercloud opened #15472 "kms 401"

[2020-11-24 07:44] #15472 closed

[2020-11-24 13:31] ervitis opened #15473 "SCRAM Kafka authentication availability"
Hi! Is it possible to connect to Kafka using SCRAM authentication in Presto?

Regards

[2020-11-24 14:06] joelbecker opened #15474 "GROUPING SETS ordinal column documentation mis-documented"
I'm working with `GROUPING SETS` and was hoping to group using an ordinal column. From https://github.com/prestodb/presto/issues/9522 it appears that this isn't supported because it violates the SQL standard. However, the Presto documentation for [complex grouping operations](https://prestodb.io/docs/current/sql/select.html) implies otherwise (emphasis added):

I just wanted to point out the poten

[2020-11-25 05:42] rongrong commented on #15474
Thanks for pointing it out. Do you want to send us a fix as well? ;)

[2020-11-25 13:59] arhimondr commented on #13856
@djiangc Unfortunately no. But that should be an easy feature to add.

[2020-11-25 14:54] sahana-bhat opened #15476 "[Design] Dynamically discovered HiveMetastore"
## Introduction
Currently, Presto only supports a static list of thrift HiveMetastore (HMS) hosts provided.
- This approach has the classic cons of scalability, availability and fault tolerance being affected.
- Also, load balancing, enabled through multiple metastore config, is very rudimentary,

At Uber, we have implemented a HTTP backed discovery mechanism for thrift HMS hosts. This proposal is

[2020-11-25 18:26] alee-r7 commented on #15461
@zhenxiao, @beinan, @dborkar

Here is my PR what we talked about. https://github.com/prestodb/presto/pull/15478

I'm not familiar with the process with contributing code into presto so please forgive me if I didn't do something correctly according to protocol. I will be doing further testing in our production environment to see the real gains but I wanted to get early feedback.

Thanks.

[2020-11-25 19:33] dborkar commented on #15461
@alee-r7 thank you for your contribution! much appreciated 👍   Tagged @beinan for first review on the PR.

[2020-11-26 00:09] tooptoop4 commented on #13488
similar to https://github.com/prestodb/presto/issues/11952

[2020-11-26 00:30] tooptoop4 commented on #11952
did u solve @yangjun616 @mnoumanshahzad @zsaltys @dpat  ? I also face particular older worker processing splits much slower than other workers on v336

[2020-11-26 07:13] Xueei opened #15480 "InputFormat is not present in StorageFormat"
com.facebook.presto.spi.PrestoException: InputFormat is not present in StorageFormat
        at com.facebook.presto.hive.metastore.StorageFormat.getInputFormat(StorageFormat.java:57)
        at com.facebook.presto.hive.BackgroundHiveSplitLoader.loadPartition(BackgroundHiveSplitLoader.java:290)
        at com.facebook.presto.hive.BackgroundHiveSplitLoader.loadSplits(BackgroundHiveSplitLoader.java:2

[2020-11-26 07:14] Xueei commented on #15480
What should I do  fix the error :   InputFormat is not present in StorageFormat

[2020-11-26 07:16] Xueei commented on #15480
Please help me.

[2020-11-26 17:08] j-romano commented on #15458
Hello, can I work on this issue?

[2020-11-26 20:55] djiangc commented on #13856
@arhimondr @wenleix another question. It seems I can't use cluster deploy-mode on spark-submit for presto-spark-launcher, only client is supported. Is this true or am I missing something?

[2020-11-26 21:36] #10929 closed

[2020-11-26 21:36] #11863 closed

[2020-11-26 21:36] #11936 closed

[2020-11-27 19:37] kewang1024 commented on #15446
Can you put the failed example query here and tables definition if they're not tpch tables

[2020-11-28 11:26] rookeyframe opened #15481 "When will hBase be supported like OpenLookeng"
Huawei's open source OpenLookeng is also based on Presto and has good support for HBase, which is an important component in big data computing, and can be ported over

[2020-11-30 14:26] ashishtadose opened #15482 "File Based password authenticator"
Would be good to have support for basic file-based password authentication.

[2020-11-30 14:37] imjalpreet commented on #15482
@ashishtadose I can work on this.

[2020-11-30 16:15] arhimondr commented on #13856
@djiangc Yes, currently only the client mode is supported.

[2020-11-30 18:08] esemeniuc commented on #9505
I'm also running into this. This seems to explain the problem as a race condition: https://translate.google.com/translate?hl=en&sl=zh-CN&u=https://www.dazhuanlan.com/2020/02/03/5e3759b8799d3/&prev=search&pto=aue

[2020-11-30 22:04] khaitranq commented on #13287
There is open source project at LinkedIn to translate HQL (also automatically convert function) to PrestoSQL: https://github.com/linkedin/coral

[2020-12-01 05:21] OmarMorales71 commented on #15458
@kaikalur Hello, can I work on this issue? do you know in what part of the code is the problem?

[2020-12-01 20:53] npfp commented on #2433
My +1 as well :-)

[2020-12-02 03:24] lyzGithub commented on #15382
SO I get the newest code from the master branch and run the presto in the IDE and config an function namespace example file according to the office docs:
![image](https://user-images.githubusercontent.com/9393130/100823990-47d4de80-3490-11eb-8506-8c9e848ab688.png)
The the plugin.bundles  have been added to the config.properties by default. And I got another error:
![image](https://user-images.gith

[2020-12-02 04:06] liuzx8888 commented on #15422
https://www.cnblogs.com/liuzx8888/p/14072998.html

[2020-12-02 04:06] #15422 closed

[2020-12-02 14:26] manjunath-kapu commented on #14208
Do we have any solution to above concern. When I first create te view through Terraform, it's always throws as stale, but view if edit (do not make any changes though) and run query it just works fine with further executions.

[2020-12-02 20:59] Gaurang033 opened #15493 "presto UDF: varchar not found"
hi Guys,

I am trying to develop a custom UDF and getting following error.

**presto version: 0.227**

**Code**
[code]

UdfPlugin.java
[code]
function works with hard coded value, However when I specify column I am getting following error

[code]

**Error**

[code]

[2020-12-02 21:26] rongrong commented on #15493
You need to register your functions here https://github.com/prestodb/presto/blob/release-0.227/presto-main/src/main/java/com/facebook/presto/metadata/BuiltInFunctionNamespaceManager.java#L468

[2020-12-03 09:28] ximengyun opened #15497 "Error opening Hive split hdfs,Can not read SQL type double from ORC stream .commission of type STRING"
`presto> select commission from dby_pro.ods_bi_user_event_ih limit 5;

Query 20201203_081000_00431_49yi4, FAILED, 1 node
Splits: 117 total, 0 done (0.00%)
0:01 [0 rows, 0B] [0 rows/s, 0B/s]

Query 20201203_081000_00431_49yi4 failed: Error opening Hive split hdfs://mycluster/warehouse/tablespace/external/hive/dby_pro.db/ods_bi_user_event_ih/day=20201130/ods_bi_user_event_ih__516fdf2e_af6b_476a_bf46

[2020-12-03 15:12] rschlussel commented on #15473
Not as far as I know.  @zhenxiao  do you know?

[2020-12-03 18:33] Gaurang033 commented on #15493
@rongrong  I have registered function.  I am able to use that with hard coded value, it's just when I provide column name it fails.  Would you please let me know what to do ?

[2020-12-04 01:15] djiangc commented on #13856
@arhimondr thanks for your response. I have another question,  can I do insert overwrite? set session hive.insert_existing_partitions_behavior='OVERWRITE';insert into test3 select *,2 from test

[2020-12-04 03:06] arhimondr commented on #13856
@djiangc Currently the launcher doesn't support setting session properties. You must enable the `OVERWRITE` behaviour with a configuration property: https://github.com/prestodb/presto/blob/master/presto-hive/src/main/java/com/facebook/presto/hive/HiveClientConfig.java#L561

Also it should be pretty easy to add parameter to the launcher that accepts session properties.

[2020-12-04 03:12] zhenxiao commented on #15473
hi @ervitis Kafka connector does not have SCRAM authentication. Are you interested in implementing it? We'd love to review :)

[2020-12-04 07:30] exolab commented on #8980
Is anyone still actively working on this?

[2020-12-04 07:53] ashishtadose commented on #8980
Yes, I have WIP implementation, will share the PR by sometime next week.

[2020-12-04 17:35] djiangc commented on #13856
many thanks for your help and pointer, I got the partition overwrite working with spark-presto-launcher @arhimondr

[2020-12-04 18:20] marcejohnson commented on #14930
@agrawalreetika what do you get when you type
`show tables from mysql.presto.item_test;`
?
For me, that is where it will fail on the case conversion and returns "does not exist".
Should be same failure with a `select * from mysql.presto.item_test;` in your example above.

[2020-12-04 22:21] #3918 closed

[2020-12-04 22:21] #11842 closed

[2020-12-04 22:21] #11989 closed

[2020-12-04 22:21] #11969 closed

[2020-12-04 22:21] #11959 closed

[2020-12-06 13:43] omerbrandis opened #15503 "create table fails with "One or more instances could not be made persistent""
Hello Presto Proficient community.

these are my first steps with prestodb, so please be gentle.

i'm trying to access a csv files stored in amazon aws s3 containers/buckets.
I've tried to follow the instructions at https://prestodb.io/docs/current/installation/deployment.html.

i've managed to install and run the hive metatstore & the presto server (coordinator+worker in same instance ) inside a

[2020-12-07 18:21] wadhahbenaissa commented on #15176
hello @fgwang7w I was wondering if it's ready to rollout as well.

@gtangthousandeyes were you able to have this working with some sort of a workaround?

[2020-12-07 18:28] gtangthousandeyes commented on #15176
@wadhahbenaissa, yep got it working

[2020-12-07 18:29] wadhahbenaissa commented on #15176
@galemccommons I was wondering if you could please share your findings.

[2020-12-07 18:39] fgwang7w commented on #15176
@gtangthousandeyes It's currently under final approval in review process, I will give another push to make it in prestoDB soon

[2020-12-07 18:59] iceted commented on #15176
@gtangthousandeyes @wadhahbenaissa @fgwang7w I see its already available in presto 334: https://prestosql.io/docs/current/release/release-334.html

[2020-12-07 23:14] #11955 closed

[2020-12-08 01:52] arunthirupathi opened #15506 "Abandoning String Dictionary is very slow"
Assume a String dictionary with X millions of keys are abandoned. String dictionary writer, converts in blocks of max 1024 rows at a time. For each of this 1024 rows, it tries to ensure that the size is less than 32 MB.

the logical size calculation, allocates a cache of X million keys, initializes them to -1, populates only 1024 entries. This slows down the abandoning process by 150 times.

![Pre

[2020-12-08 14:26] #15297 closed

[2020-12-08 19:10] wadhahbenaissa commented on #15176
Hello guys again.
I was trying to deploy "presto" alongside "superset" on an AKS using helm charts using accordingly these charts https://github.com/helm/charts/tree/master/stable/presto and https://github.com/helm/charts/tree/master/stable/superset.

Prometheus still not working for me. I was trying as well to make use of elasticsearch connector by adding elasticsearch.properties with the content

[2020-12-08 21:06] #15239 closed

[2020-12-09 04:00] gtangthousandeyes commented on #15176
hey @wadhahbenaissa, for my usecase, I was using PrestSQL 338 on AWS' EMR cluster. To get the prometheus working, you will need to add a `prometheus.properties` file at `/etc/presto/conf/catalog/` https://prestosql.io/docs/current/connector/prometheus.html. All the metrics collected by prometheus are their own tables stored in the `default` schema.
I hope this helps.

[2020-12-09 06:56] ervitis commented on #15473
Hi @zhenxiao I will take a look :)

[2020-12-09 13:06] findepi commented on #15176
@wadhahbenaissa @gtangthousandeyes  Presto 3xx releases are maintained at https://github.com/prestosql/presto.
Also, there is the `#prometheus-connector` channel on Presto Community Slack (https://prestosql.io/slack.html)

[2020-12-09 18:13] Gaurang033 commented on #15493
@rongrong  this is ridiculous. without even checking logs or anyting just closing the issue as you assume something is missing.

could someone please take a second look at the issue, we are stuck at this point.

[2020-12-09 18:51] FreeFreedy opened #15512 "Errors Using Presto Elasticsearch Password Authentication"
When using:

elasticsearch.security=
elasticsearch.auth.user=
elasticsearch.auth.password=

I receive the errors below

![PrestoError](https://user-images.githubusercontent.com/75751990/101672363-c64af680-3a23-11eb-98d1-28986d2ce51b.JPG)

I have tried many variations of elasticsearch.security (uppercase/lowercase/omitting), elasticsearch.auth.user (single quotes/double quotes/no quotes), and elast

[2020-12-09 19:46] rongrong commented on #15493
I reopened the issue for you as you please. But I don't have any obligations to debug your code for you. So please be respectful.

[2020-12-10 04:42] carlosfvp commented on #11948
I got it working but I am having issues to compile the whole project because of some weird dependency check made by mvn

I have only cloned the Oracle connector wich is JDBC based too.

I will send the PR and then post it here so maybe you can help me fixing the dependency issues.

[2020-12-10 12:55] prakash-tech89 opened #15514 "Getting "presto error : Partition no longer exists : " when querying hive external table sometimes and its getting resolved after refreshing table metadata by using "msck repair" command."
Could someone please respond with reason for this issue and permanent fix to resolve it.

[2020-12-10 13:20] carlosfvp commented on #11948
#15513 https://github.com/prestodb/presto/pull/15513

Please help me review the error check:

![imagen](https://user-images.githubusercontent.com/4541969/101777522-97369280-3ac0-11eb-8bb5-7aab949e265f.png)

[2020-12-14 10:59] tdevi-cn commented on #1285
Do we have a session property for this.

[2020-12-14 11:44] pixie79 opened #15518 "arm64 docker images"
Hi,

It would be good to see aarm64 images published to docker hub as multi arch format for Presto.

Regards

Mark

[2020-12-14 13:44] imjalpreet commented on #15514
@prakash-tech89 Can you please let us know how data is being inserted into the respective table?

Usually, this error is seen in case a partition is dropped during the execution of the query.

[2020-12-14 17:08] agrawalreetika commented on #14930
@marcejohnson  **item_test** is itself a table in schema **presto**(In mysql) .
I tried SELECT operation on the table from presto-cli:
![image](https://user-images.githubusercontent.com/7887476/102111970-116a6c80-3e5d-11eb-8df7-1500b9242c8a.png)

[2020-12-14 18:30] marcejohnson commented on #14930
@agrawaldevesh output do you get when you type in **mysql** (not presto) client:
`show variables like 'lower_case_%';`

If latter returns non-zero for `lower_case_table_names` then mysql itself is doing case-**insensitive** compares, and explains why it works for you.  My mysql server setting returns 0, which is a case **sensitive** compare, hence does not work well with presto (which strips the c

[2020-12-16 11:39] ghfengg opened #15528 "ERROR:Function decode not registered"
SQL like this:

[2020-12-16 11:41] #15528 closed

[2020-12-16 11:41] ghfengg commented on #15528
wrong issues

[2020-12-17 01:13] kaikalur opened #15538 "Warn about OR in a join condition"
It's generally bad to have an OR in the join condition as it might turn into a cross join + filter. So we should warn when such a pattern is found.

SELECT .. FROM T1 (LEFT/INNER) JOIN T2 ON T1.x = T2.x OR T1.y = T2.y

Should generate a warning.

[2020-12-17 08:59] ngbusca opened #15540 "can't reference a CTE column when doing a join "using""
The following query fails in presto 0.217 (used by athena aws) but works fine on 0.172:

`
with db0 as (select 1 as key,2 as value),
db1 as (select 1 as key, 3 as value)
select db0.key from db0 join db1 using(key)
Result: SYNTAX_ERROR: line 3:8: Column 'db0.key' cannot be resolved
`

Doing instead:
`
with db0 as (select 1 as key,2 as value),
db1 as (select 1 as key, 3 as value)
select db0.key from

[2020-12-17 16:51] rschlussel opened #15541 "TestQueues.testQueuedQueryInteraction is flaky"
Test timed out in a travis build https://travis-ci.org/github/prestodb/presto/jobs/750228769

[code]

[2020-12-17 17:01] rschlussel opened #15542 "TestDistributedSpilledQueries hanging sometimes causing travis build timeout"
Example build: https://travis-ci.org/github/prestodb/presto/jobs/750107479

From the test logs (see the logs for the full thread dump, which i left out here since it's too long).
[code]

I've also noticed when you run these tests in intellij in debug mode, the initialization takes forever (like 30 minutes) Maybe those issues are related.

cc: @sachdevs

[2020-12-17 18:56] rschlussel commented on #15542
I saw another build hang on that exact same test (testCorrelatedNonAggregationScalarSubqueries), so i suspect it's an issue with spill in that particular test rather than spill tests in general

[2020-12-17 20:51] rschlussel opened #15543 "TestBlockBuilder and TestBlockEncodingBuffer crashing"
I've seen crashes in these tests a few times.

Example error logs:

[code]

[2020-12-17 22:10] rschlussel commented on #11210
I saw this issue again today:

[code]

[2020-12-17 22:10] rschlussel commented on #11210
@arhimondr  it looks like you've touched some code on this test before. Do you have any ideas?

[2020-12-18 17:40] aminmc opened #15545 "Prestodb and mongodb connector missing columns"
Hi All

I have the following mongo document:

[code]

However when perform a query via presto db using:

[code]

I get the following result:

[code]

Some of the columns are missing. I wondered if it was because the fields were camel case but the fields displayed in the SQL are all camelcase.

Any help would be appreciated.

[2020-12-18 20:40] rongrong commented on #15540
It should be
[code]

Please read the details in the "USING" section in https://prestodb.io/docs/current/sql/select.html

[2020-12-18 20:47] rongrong commented on #15540
The previous behavior is not correct and was fixed in 0.196: https://github.com/prestodb/presto/pull/9938

[2020-12-18 21:21] #15540 closed

[2020-12-19 00:27] yingsu00 opened #15546 "Excessive Slice object creation when applying filter functions"
Example allocation profile

--- 694352176 bytes (0.60%), 276 samples
  [ 0] io.airlift.slice.Slice
  [ 1] io.airlift.slice.Slice.slice
  [ 2] com.facebook.presto.common.block.AbstractVariableWidthBlock.getSlice
  [ 3] com.facebook.presto.common.type.AbstractVarcharType.getSlice
  [ 4] com.facebook.presto.$gen.Predicate_20201106_014834_79.evaluate
  [ 5] com.facebook.presto.orc.FilterFunction.filte

[2020-12-19 00:39] yingsu00 opened #15547 "Excessive Slice object creation in SliceDictionaryColumnWriter.writeBlock() and SliceDirectColumnWriter.writeBlock()"
Allocation profile for SliceDictionaryColumnWriter.writeBlock

--- 152209813816 bytes (1.90%), 23544 samples
  [ 0] io.airlift.slice.Slice
  [ 1] io.airlift.slice.Slice.slice
  [ 2] com.facebook.presto.common.block.AbstractVariableWidthBlock.getSlice
  [ 3] com.facebook.presto.common.block.DictionaryBlock.getSlice
  [ 4] com.facebook.presto.common.type.AbstractVarcharType.getSlice
  [ 5] com.faceb

[2020-12-19 05:58] aminmc commented on #15545
Ok I think I've worked it out. My initial document didn't have those fields populated so I'm guessing Prestodb didn't create those columns. So it looks like I need to define the schemas in mongo.

[2020-12-19 07:16] ngbusca commented on #15540
makes sense, thanks!

[2020-12-19 07:53] #12026 closed

[2020-12-19 07:53] #12035 closed

[2020-12-19 07:53] #12030 closed

[2020-12-19 07:53] #11941 closed

[2020-12-19 07:53] #12024 closed

[2020-12-19 07:53] #10774 closed

[2020-12-19 07:53] #11963 closed

[2020-12-19 07:53] #12010 closed

[2020-12-19 07:53] #12018 closed

[2020-12-19 09:40] #15545 closed

[2020-12-19 09:44] aminmc opened #15548 "SQL is null on column not working"
Hello

I have the following table data (using mongo connector)

[code]

When I preform the following query:

[code]

I get the expected results.

When I run the below:

[code]

I don't get any results even though there are records where endtime is null. I have noticed I don't get results when I run a query where I'm expecting the column value to be null.

Anyone seen this issue before?

[2020-12-21 09:54] #15548 closed

[2020-12-21 18:31] SonuSingh200190 commented on #2445
do we have any update on Dynamically Detect New/Deleted Catalogs?
is it possible to manage catalogs only on coordinate node instead of worker node?

[2020-12-21 18:48] wenleix commented on #12033
@yingsu00 : Can you link your latest PR to this issue and close it? :)

[2020-12-22 01:25] kaikalur commented on #15538
So the idea would be to generalize it a bit and after all the massaging, dnf/cnf etc. in the optimizer if the condition has a sequence of AND and and OR before any other operator, give a warning. So for example:

(a = b and c = d) OR (d=f)     // WARNING
(a = (if(c or d, e, f)) // OK

doing it in the parser will catch more common cases, but there are also we can use the same logic.

[2020-12-22 06:56] beepupa opened #15552 "Why are all aggregate query results empty"
version:0.245
![image](https://user-images.githubusercontent.com/36186038/102858584-81808000-4465-11eb-8cb6-1733ffa8c270.png)
conf
![image](https://user-images.githubusercontent.com/36186038/102858853-ed62e880-4465-11eb-8ab4-6a2a9927d29f.png)

[2020-12-22 07:50] beepupa commented on #15552
I solved this problem by changing to PrestosQL,

[2020-12-22 23:09] yingsu00 commented on #15451
Closed by https://github.com/prestodb/presto/pull/15530

[2020-12-22 23:09] #15451 closed

[2020-12-23 22:07] rschlussel commented on #15552
@beinan

[2020-12-23 22:12] rschlussel commented on #15268
@vkorukanti  @zhenxiao Can you look into this?

[2020-12-24 04:04] prakash-tech89 commented on #15514
Hi @imjalpreet :

Adding more details to it
We have an hive external table that built by 4 partition and each partition data get loaded by changing location before using alter command and then load it using spark. we don't see issue happening daily but happens someday. We able to query table after we refresh metatable.

More details about partition :
comp code will consist of 4 and we have 4 spark

[2020-12-24 09:08] zhenxiao commented on #15268
hi @prestorocks as far as I know, we did not change the property. What error do you get?

[2020-12-24 11:28] #11022 closed

[2020-12-24 11:28] #12037 closed

[2020-12-24 11:28] #7957 closed

[2020-12-24 11:28] #11993 closed

[2020-12-24 11:28] #12055 closed

[2020-12-24 11:28] #12046 closed

[2020-12-24 11:28] #11668 closed

[2020-12-24 11:28] #11652 closed

[2020-12-24 11:28] #11546 closed

[2020-12-24 11:28] #10099 closed

[2020-12-24 11:28] #10363 closed

[2020-12-24 11:28] #11330 closed

[2020-12-24 11:28] #9491 closed

[2020-12-25 09:35] #10803 closed

[2020-12-25 09:35] #11939 closed

[2020-12-25 09:35] #11369 closed

[2020-12-25 09:35] #12017 closed

[2020-12-25 09:35] #12075 closed

[2020-12-25 09:35] #10017 closed

[2020-12-25 09:35] #11608 closed

[2020-12-25 09:35] #11675 closed

[2020-12-28 22:03] #14897 closed

[2020-12-29 07:01] xuhang1458 opened #15566 "No nodes available to run query"
My custom IotDB connection plug-in performs a SELECT * ·· An exception appears

com.facebook.presto.spi.PrestoException: No nodes available to run query
	at com.facebook.presto.execution.scheduler.nodeSelection.SimpleNodeSelector.computeAssignments(SimpleNodeSelector.java:155)
	at com.facebook.presto.execution.scheduler.DynamicSplitPlacementPolicy.computeAssignments(DynamicSplitPlacementPolicy.jav

[2020-12-29 10:14] ghfengg opened #15567 "Presto do not suuport select item as Integer?"
SQL demo :   select item_name as 2  from xxxx
Error Message:Query 20201229_100552_00002_7e7z6 failed: line 1:29: mismatched input '2'. Expecting: <identifier>

[2020-12-29 15:17] #12108 closed

[2020-12-29 19:55] kaikalur commented on #15567
This should not be allowed. The error message is correct. You can quote the 2 and it should work.

[2020-12-29 19:58] rongrong commented on #15567
According to SQL spec, the format should be `AS <identifier>`. The number "2" is not a valid identifier. According to the spec
[code]

[2020-12-29 19:58] #15567 closed

[2020-12-29 21:41] kaikalur opened #15570 "Warn about mixing null checks and deref in the same predicate"
Users sometimes write queries like:

SELECT .. WHERE x IS NOT NULL AND x.y = 1

assuming it works like other languages short-circuiting+order of evaluation. But the SQL (and Presto) don't guarantee that. So detect this pattern and issue a warning.

[2020-12-30 15:50] jmaxx37 opened #15573 "Presto connecting to Teradata"
Hi,
I am trying to use open source Presto to connect to Teradata.
Do you know if this is possible?
1. I am not finding connectors on Prestodb.io for Teradata.
2. I do not have Teradata QueryGrid.

There should be a way to be able to use open source presto to connect to Teradata (without QueryGrid), right?
Any assistance on this will be appreciated.
Thanks!

[2020-12-30 16:08] tnatssb commented on #15573
Check out: https://docs.starburstdata.com/latest/connector/starburst-teradata.html

[2020-12-30 16:14] jmaxx37 commented on #15573
@tnatssb Thanks for this. I did see this as well.
"The connectors require a valid Starburst Enterprise Presto license."
I am trying to see if I can connect using the free open source Presto version, without having to pay for licenses.
Are you aware of a way to do this?

[2020-12-30 16:15] tnatssb commented on #15573
Not that I'm aware of, sorry.

[2020-12-30 16:23] jmaxx37 commented on #15573
@tnatssb Thanks for looking into this.
Anyone else tried this before?

[2020-12-30 20:17] fgwang7w opened #15574 "Support to handle type coercion for correlated subquery"
When correlated symbols are in non-direct column reference type, query is failed..

presto:test> select (select count(*) from (values 1) t(a) where t.a=t2.b group by a limit 1) from (values 1.0) t2(b);

`Query 20201230_194256_00000_ydmqh failed: line 1:9: Given correlated subquery is not supported`

[2020-12-30 21:54] rschlussel commented on #15542
https://github.com/prestodb/presto/issues/13168#issuecomment-522651724 has the active threads from an example thread dump

[2020-12-30 21:55] rschlussel commented on #13168
Closing in favor of #15542

[2020-12-30 21:55] #13168 closed

[2020-12-31 01:43] fgwang7w commented on #15446
Bug is fixed. Recreate step added below:

DDL:
CREATE TABLE t3(c2 bigint, c1 bigint)
CREATE TABLE t4(c2 bigint, c1 bigint) with(partitioned_by=array['c1'])
INSERT INTO t3 VALUES(null, 2)", 1)
INSERT INTO t4 VALUES(null, null), (2,2)", 2)

Failing query:
select * from t3, t4 where t3.c1=t4.c2

[2020-12-31 01:43] #15446 closed

[2020-12-31 02:04] #14690 closed

[2020-12-31 08:47] SonuSingh200190 commented on #15566
Please let me know how many workers and coordinator nodes do you have?

I have faced the same issue before and reason could be the following:
1. worker node doesn't have a particular catalog.properties, please add that catalog and restart presto-server on the worker node.
2. if the coordinator node has that catalog.properties then please add below key and value in config.properties
**node-schedule

[2020-12-31 20:03] #12096 closed

[2021-01-04 03:46] fgwang7w opened #15576 "Presto's LEFT JOIN unnecessarily scans a table even if no columns are selected from it"
A Left JOIN query does both table scan operations when the query output only references from the left side of the table scan, resulting in unnecessary table scan of the right-side table scan.

![image](https://user-images.githubusercontent.com/32091981/103499135-e93ab180-4dfb-11eb-8c0a-0f32e5bb5533.png)

In this case, the output variables out of left table `t1` are guaranteed to be unique, therefo

[2021-01-04 05:33] GXM2333 opened #15578 "Sql blocked when using dynamic filter"
Hi, we are using **presto release241**, we deploy one node . we changed sql logical plan. For example :

**from presto cli, sql is:**
`select level, ip,md5 from opd.ycs.ycs where day = 20200702 and ip = '36.46.162.185';`

**after our change ,sql is:**

` WITH
   tmptable5714857148 (ip, md5, level, day) AS (
    SELECT
      ip
    , md5
    , level
    , day
    FROM
      (opd.ycs.ycs
    RIGHT J

[2021-01-04 10:20] GXM2333 commented on #15578
It was because that  our connector drivers were blocked.

[2021-01-04 10:20] #15578 closed

[2021-01-04 11:16] ghfengg opened #15579 "Presto don't support select item’s alias Chinese? #6496"
version:0.244.1

![image](https://user-images.githubusercontent.com/3355129/103529764-36348b80-4ec1-11eb-8946-f42eb86e13a0.png)

[2021-01-04 15:43] #11189 closed

[2021-01-04 17:31] rschlussel opened #15580 "Invalid output for EXPLAIN (FORMAT GRAPHVIZ)"
graphviz explain format is incorrect.

Example:

Query: `EXPLAIN (format graphviz, type distributed) SELECT * from tpch.tiny.nation`
[code]

Error when trying to render says:

`Error: bad label format {TableScan[TableHandle {connectorId='tpch', connectorHandle='nation:sf0.01', layout='Optional[nation:sf0.01]'}]}`

I was able to render successfully the plan for `SELECT 1`, so the issue may only be

[2021-01-04 18:05] rschlussel commented on #15580
It looks like the issue is that TableHandle has curly braces as part of how it's displayed and when we escape special characters, we don't do anything for curly braces https://github.com/prestodb/presto/blob/6f4e4443a21f82e1cd5014f641387dabc1e2623a/presto-main/src/main/java/com/facebook/presto/util/GraphvizPrinter.java#L630-L640

[2021-01-04 20:56] rongrong commented on #15579
You have to quote the identifier if it has unicode characters. so use `AS "ERP_NAME从"` instead.

[2021-01-04 20:56] #15579 closed

[2021-01-05 03:12] wudl5566 opened #15583 "连接客户端出现乱码"
用./presto --server ip:port  --catalog hive --schema default  连接presto 服务店出现乱码
./presto:行1: $'PK\003\004': 未找到命令
./presto:行2:  mÿN: 未找到命令
./presto:行10: 未预期的符号 `)' 附近有语法错误
./presto:行10: `7pѤ3k󿾶p̀CrYz2zĠ泛
                                򽡘񩊍F­"2¯T)3ᶮ¯n򀩵+©G񢗷\¿fT|ÿЮ"|ۭJ»(ܾ|GK
                                                                  F@%bªCBz

[2021-01-05 05:43] highker commented on #15363
Use java 8 with maven 3.5+ to compile

[2021-01-05 05:43] #15363 closed

[2021-01-05 06:12] ghfengg commented on #15579
thanks~

[2021-01-05 07:23] ghfengg commented on #15579
by the way，how can i support alias names without quotes？cutom parser?

[2021-01-05 13:54] jbroll opened #15584 "Update Drift Thrift spec generation to support recursive structures"
Apache Thrift can now support recursive data structures by declaring a member as a reference with "&":

struct ExecutionFailureInfo {
  ...
  3: optional ExecutionFailureInfo & cause;
  ...
}

Update Drift to generate  a spec file with at least all recursive entries as references and perhaps with all non primitives as references.

[2021-01-06 07:39] aniruddhasanyal opened #15587 "Druid connector fails to identify tables with uppercase names."
When trying to query druid tables with uppercase names, the query fails with the error: Table 'TABLE_NAME' does not exist. A similar issue was observed in MySql connector and the attribute option "case-insensitive-name-matching" was added for MySql connector catalogue file. I have tried using the same attribute for Druid catalogue and it doesn't seem to be working.

[2021-01-07 23:40] arhimondr commented on #11210
@rschlussel Not on top of mind mind. I didn't do any significant changes in this codebase.

[2021-01-08 02:50] ghfengg opened #15596 "by the way，how can i support alias names without quotes？cutom parser?"

[2021-01-08 08:15] GXM2333 opened #15597 "Cumulative user memory is 0"
We use presto release 241, we write our own connectors. our ConnectorPageSource has implemented `getCompletedBytes` method ,why the Cumulative user memory from presto admin is still 0. Does it will cause reserved pool memory never be used?
presto admin sql UI:
![sql](https://user-images.githubusercontent.com/24871202/103990480-45228300-51cc-11eb-95e3-4dabe2acbab7.png)

While executing the above sq

[2021-01-08 08:47] one-data-cookie opened #15598 "Incorrect filtering of null values for timestamps"
I was playing around with an attribute `date_joined` which is of _timestamp_ data type and one thing doesn't quite add up.

This works fine:
[code]

This works fine as well:
[code]

What _doesn't work_ is:
[code]

But to my surprise, this works fine:
[code]

Any ideas what might be wrong? This is certainly not an expected behaviour.

Thanks!

P. S. Using Presto 0.217 for Amazon Athena engine versi

[2021-01-10 01:38] wangwalton opened #15601 "Presto doesn't use any indexes when querying MongoDB Embedded documents"
Suppose I have the following documents:
[code]

and I create indexes on every field:
[code]

running this in the mongo shell will use the indexes created
[code]

But for pesto, running this does a full table scan (COLLSCAN):
[code]

Is there any way I can leverage the indexes?

[2021-01-10 04:57] #6384 closed

[2021-01-10 04:57] #12132 closed

[2021-01-10 04:57] #10830 closed

[2021-01-10 04:57] #8510 closed

[2021-01-11 14:33] teejteej commented on #13205
Just pinging to see if there are any updates on RaptorX? Curious to try it out and see how the disaggregated compute/storage will perform on some datasets.

[2021-01-11 20:42] highker commented on #13205
@teejteej, yes the feature is fully available and battled tested. Here are the configs to enable for hive connectors:

Scheduling (/catalog/hive.properties):
[code]

Metastore versioned cache (/catalog/hive.properties):
[code]

List files cache (/catalog/hive.properties):
[code]

Data cache (/catalog/hive.properties):
[code]

Fragment result cache (/config.properties):
[code]

[2021-01-11 22:20] shixuan-fan commented on #13205
Adding to what @highker said, there are also knobs for file/stripe footer cache for ORC and Parquet files as shown below. Note that in Facebook's deployment (we use ORC), we found it would increase GC pressure so it is disabled, but I think it is still worthwhile to point this feature out just for visibility as it might work for different workload.

@ClarenceThreepwood might have a better idea abo

[2021-01-12 00:18] yingsu00 commented on #12187
Fixed with https://github.com/prestodb/presto/pull/12198

[2021-01-12 00:18] #12187 closed

[2021-01-12 15:59] rschlussel commented on #15587
@zhenxiao @beinan can you help?

[2021-01-12 16:00] rschlussel commented on #15596
Can you clarify your question?  You don't need quotes to alias column names unless the name is a reserved key word.

e.g. you can do `SELECT my_col as c1 FROM my_table`

[2021-01-12 16:05] rschlussel commented on #15597
Completed bytes tells how much data has been processed. That's not really related to how much user memory the query is using, since user memory is how much memory is used e.g. for building hash tables for joins.  Your query is a simple select with a filter, so I wouldn't expect it to use any user memory

[2021-01-12 16:13] kaikalur opened #15605 "Warn about disjunction OR operator in a join condition"
OR in a join condition is just inviting trouble and can have severe performance problems. So we should warn on that.

SELECT ... T1 JOIN T2 ON (T1.a = T2.x OR T1.b = T2.y)

[2021-01-12 16:17] rschlussel commented on #15598
I'm not able to reproduce this with a simple values statement, so I wonder if it has to do with filter push down. Can you share the explain plan for your query, what connector you are using, and file format if it's the hive connector?
[code]

[2021-01-12 20:46] ismailsimsek commented on #2433
+1

[2021-01-13 06:24] beinan commented on #15587
We don't have case-insensitive-name-matching implemented in druid connection I think.

Just did some research on the behavior of druid and mysql.

According to Druid-SQL's doc https://druid.apache.org/docs/latest/querying/sql.html

For mysql, as described in https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html

Mysql also has a system variable which can make mysql to compare by

[2021-01-13 09:58] GXM2333 commented on #15597
Thanks a lot. :)

[2021-01-13 09:58] #15597 closed

[2021-01-13 21:21] jamesbontempo opened #15609 "Cannot resolve column names with special characters (i.e., odd key names in mongodb)"
I have a mongodb collection that has documents with key names that are essentially slightly modified URLs; they look like "https://host~domain~com/extension/context". When using the presto CLI to query for documents in the collection using a WHERE clause to filter for values for these keys (which are themselves nested under the "context" and "extension" keys) I receive errors like: "Column 'contex

[2021-01-15 01:06] tdcmeehan commented on #15142
Fixed by #15565

[2021-01-15 01:06] #15142 closed

[2021-01-15 03:37] GXM2333 opened #15612 "How to purge the Presto logs by configuration?"
We reference those issues :

https://stackoverflow.com/questions/55169872/how-to-purge-the-presto-logs-by-configuration

https://github.com/prestodb/presto/issues/4258

we configured at our `config.properties` no matter presto worker or master node,

config.properties
[code]
but  `http-server.log.max-history` and `log.max-history` seems not work.

![](https://user-images.githubusercontent.com/2487

[2021-01-15 05:54] MatejBabjak commented on #14830
Hi guys, I just received this issue via the CodeTriage and am trying to understand the problem.
Are we speaking about this AppValley? https://en.wikipedia.org/wiki/AppValley
If so, I also do not see any possible connection with a BigData SQL engine...
@Kenan069: as the context is unclear and the issue is pretty old - is this still relevant at all?

[2021-01-15 05:55] MatejBabjak commented on #14830
@Kenan069: if no longer relevant, could you please close the issue to clean-up the backlog list? Thank you in advance!

[2021-01-15 08:41] manna018 commented on #7804
any update I am able to do select * in hive but its not working in presto https://github.com/prestodb/presto/issues/7804

[2021-01-15 08:44] manna018 commented on #8840
how did you solve this??

[2021-01-15 11:25] manna018 commented on #11414
same issue

[2021-01-15 16:14] nitrocode opened #15613 "presto-cli: mTLS support via cacert, cert, and key arguments"
It would be nice to use mTLS to be able to connect to presto. We use a zero trust solution in front of all of our endpoints and in order to authenticate this is necessary.

For example, with `curl` we can do something like this for an internally hosted service

[code]

Would like if we could feed in the same arguments into the presto cli as well. This would prevent us from having to setup a localh

[2021-01-15 20:54] iceted commented on #2433
this works in the trino distribution:

trino> select sum(x) over (order by x range 1 preceding) from (values (1), (1), (2), (2)) t(x);
 _col0
-------
     2
     2
     6
     6
(4 rows)

Query 20210115_205405_00002_5bvbz, FINISHED, 1 node
Splits: 18 total, 18 done (100.00%)
2.59 [0 rows, 0B] [0 rows/s, 0B/s]

[2021-01-17 13:22] agrawalreetika opened #15616 "Presto is throwing NullPointerException from ES Connector if Object field has any unsupported datatype"
The query is failing if the table has an Object field with unsupported data type in presto,
I have the Object field '**geoip**', which has the field '**location**' of geo_point datatype.

Which is why any type of query on testtable is failing with below error:

presto> select * from default.testtable;
Query 20210117_124226_00003_4fm44 failed: type is null
java.lang.NullPointerException: type is nu

[2021-01-17 22:03] #11539 closed

[2021-01-17 22:03] #12155 closed

[2021-01-17 22:03] #12185 closed

[2021-01-17 22:03] #12134 closed

[2021-01-17 22:03] #12154 closed

[2021-01-17 22:03] #12165 closed

[2021-01-17 22:03] #12058 closed

[2021-01-17 22:03] #12128 closed

[2021-01-17 22:03] #11940 closed

[2021-01-18 10:53] SessionBest commented on #12989
What is the solution?

`   2021-01-18T18:39:02.459+0800	ERROR	main	com.facebook.presto.server.PrestoServer	Access control ranger is not registered
java.lang.IllegalStateException: Access control ranger is not registered
	at com.google.common.base.Preconditions.checkState(Preconditions.java:588)
	at com.facebook.presto.security.AccessControlManager.setSystemAccessControl(AccessControlManager.java:1

[2021-01-19 05:04] sudipkumarsahoo opened #15618 "How to read csv data with partitions from Aws S3 using presto ."
I have data stored in S3 in form of csv files with partitions. I am trying to read this data using presto. I am able to read data if I give the complete location of csv file.
Below is the query to read data from an "hour":
create table default.test(name varchar, age varchar, section varchar, )
WITH (external_location = 's3://bucket/presto/2021/01/01/00/', format = 'csv');

the above query run succ

[2021-01-19 12:03] parasupreti opened #15619 "Transactions does not work when session properties are set using Session Property Manager"
When session properties are set using Session Property Manager on the server side, transactions does not work and throws below error:
Session properties cannot be overridden once a transaction is active
	at com.facebook.presto.jdbc.PrestoResultSet.resultsException(PrestoResultSet.java:1840)
	at com.facebook.presto.jdbc.PrestoResultSet.getColumns(PrestoResultSet.java:1750)
	at com.facebook.presto.j

[2021-01-19 14:57] fpj opened #15620 "Iceberg support?"
I'm wondering if there is any plan to support Iceberg tables. I see that there is a Presto connector available, but it points to the Trino documentation.

https://iceberg.apache.org/presto/

[2021-01-19 23:24] alexferl opened #15621 "Cannot create a table with an external S3 location when using an IAM role"
I am trying to run the following query:
[code]

and I am getting the following error:

[code]

It seems like my S3 path is being appended to the `roleSessionName` because of [this line](https://github.com/prestodb/presto/blob/a24e7e16847fa81a0570f816e5aec97e633ec9cb/presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java#L804). It seems like it was `presto-session` previously

[2021-01-20 01:03] ashishranjan2404 commented on #6828
facing the same issue, can we re-open this issue ? i can share the Analyze

[2021-01-20 01:05] ashishranjan2404 opened #15622 "Simple Cassandra query so slow in Presto-- its creating 5k splits for one simple query"
A simple query is creating 5k+ splits

presto> EXPLAIN ANALYZE VERBOSE select * from cassy_cassy."csc"."acc_keys";
                                                                                                                             Query Plan
--------------------------------------------------------------------------------------------------------------------------------------------------
 F

[2021-01-20 06:35] mmlaigithub commented on #15583
我之前下了.jar这个文件也是报这个错 后来下了-executable.jar结尾的jar包 就好了

[2021-01-20 14:32] alexferl commented on #15621
Changing the [line](https://github.com/prestodb/presto/blob/a24e7e16847fa81a0570f816e5aec97e633ec9cb/presto-hive/src/main/java/com/facebook/presto/hive/s3/PrestoS3FileSystem.java#L804) the remove the `+ uri` fixes the issue part I cloned the repo and tried it locally. Probably not the _right_ fix though.

[2021-01-21 02:09] SilvesSun opened #15627 "presto can not fetch partitioned table data"
same as [article](http://hadoopdk.blogspot.com/2017/04/hive-partitioned-tables-issue-with.html), after alter column of a partitioned table, only new partition can fetch data, but old partition cause exception: column type mismatch

[2021-01-21 06:50] dborkar commented on #15620
@fpj yes, we have plans to add iceberg. can you share your use case a bit more?

[2021-01-21 08:39] one-data-cookie commented on #15598
Thanks a ton for looking into it @rschlussel! Your reply helped us realise the issue definitely needed to be on the side of our infrastructure.

We managed to pinpoint it and fixed it. 🙂

[2021-01-21 08:39] #15598 closed

[2021-01-21 11:44] ashishtadose commented on #15621
Thanks, @alexferl for reporting this. I just verified Hive connector S3 access with I am role is broken due to this change.

We had added URI in roleSessionName for better auditing in AWS access however considering regex limitation of roleSessionName [here](https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html ) appending URI or even its attributes such as hostname or path will n

[2021-01-21 17:44] fpj commented on #15620
hi @dborkar , I'm looking forward to seeing some activity around it. I don't have a specific use case, I work on storage systems and I have been playing working on connectors for Presto. We will most likely start a conversation with the community soon about our work.

[2021-01-22 01:12] dborkar commented on #15620
That great to hear. once we have an early design we'll post it out for feedback as well @fpj
Interested in hearing on the connectors you are building.

Tagging a few more people here who have done a lot of work on connectors / plugins:  @zhenxiao @beinan @highker  @ashishtadose

[2021-01-22 01:18] dborkar commented on #15620
BTW, @fpj jump on Presto slack http://slack.prestodb.io/ - this is different from TrinoDB.

[2021-01-22 01:20] dborkar commented on #15627
@SilvesSun thanks for pointing out. we'll take a look.

[2021-01-22 07:44] fpj commented on #15620
Ok, will do. I'm wondering about one thing: should I close this issue? My question has been answered, but it might be a good idea perhaps to repurpose the issue or create another issue to track the Iceberg work? How do you do these things in this community?

[2021-01-22 07:50] ashishtadose commented on #15620
@fpj it's fine to keep it open so that community can share further updates here.

[2021-01-22 11:12] mtejagithub opened #15631 "Presto cli Orcale connection - Need help - Error running command: Authentication failed: Unauthorized"
Hi ,

Can presto installed in one instance query data from Oracle installed in another instance ??

Steps executed
*  Had Oracle in windows instance .

* I have installed Presto in a linux server ,
***config.properties**  :
coordinator=true
node-scheduler.include-coordinator=true
http-server.http.port=8080
query.max-memory=10GB
query.max-memory-per-node=1GB
discovery-server.enabled=true
discovery.

[2021-01-24 02:18] bitsondatadev commented on #15620
@fpj [we're getting this switched to be called Trino](https://github.com/apache/iceberg/pull/2003) to avoid any confusion about Presto having this connector yet. It's been merged but the site hasn't been rebuilt yet.

For those looking for [Iceberg support](https://trino.io/docs/current/connector/iceberg.html) now, it exists in what used to be called PrestoSQL, which has recently been renamed to T

[2021-01-24 16:12] fpj commented on #15620
@bitsondatadev Thanks for the input, that was my understanding from the beginning, but from the post, the community has split and diverged. I'm currently working off this repository here, that's why I'm interested in Iceberg support for PrestoDB, not Trino.

[2021-01-24 17:18] bitsondatadev commented on #15620
Understood @fpg we just want that to be clear if anyone is looking for iceberg support.

[2021-01-25 14:07] l1x commented on #15622
Do you have a table definition?

[2021-01-26 01:05] hmanju2k7 opened #15637 "Presto is not releasing the memory"
We are using 0.234.1 version of Presto DB.

The memory utilization of the VM is initially 7% when no queries are running, after we run some queries, thr VM memory utilization goes up to 40%

But then when we are not running any queries, memory is not getting released and stays at 40% instead of coming back to 7%.

The memory becomes free only after we restart the Presto server.

Because of this we

[2021-01-26 01:24] bing0109 commented on #15637
i got the same problem in 0.245.1

[2021-01-26 02:44] TszKitLo40 commented on #15605
I am new here and want to try this issue. But are there any same logic for me to refer?

[2021-01-26 02:47] owinbin opened #15639 "presto druid connector throw exception when a segment do not have any data of a column"
druid segment may not contain a column data which means this column is all null value. In this case , it will not appear in meta.smoosh file .  So when a query contain this column, it will throw exception , and say can not find this column.

[2021-01-26 02:54] owinbin commented on #15587
we have the same problem too, and the way we solved it like #13087 for druid connector

[2021-01-26 04:03] GithubZhitao opened #15640 "Can i add task concurrency limit for every resource group in the resource configuration file."
As far as I know, the resource group configure file only limit the query number, a little Coarse-Grained.  Maybe we can add the task running limit to give more control for the user.  I read the code and found that just add  ResourceGroupSpec a field : taskRunningNumberLimit and let it be configured by the ConfigurationManager ,  and then in the method canRunMore of InternalResourceGroup class , ad

[2021-01-26 08:04] imjalpreet commented on #15627
@SilvesSun The error you are facing is due to the fact that when the table schema was updated the older partitions' schema wasn't updated and due to that presto encounters a schema mismatch for the respective column. Presto currently doesn't support such coercions and therefore throws the related exception.

To resolve this, as a workaround you can update the schema for the older partitions as wel

[2021-01-26 08:46] TszKitLo40 commented on #15580
So should we modify Line636 to `return label
                     .replace("<", "\\<")
                     .replace(">", "\\>")
                     .replace("\"", "\\\"")
                     .replace(""{", "\\"{").
                     .replace(""}", "\\"}");`

[2021-01-26 11:38] nkvuong opened #15641 "Postgresql connector - aggregate columns missing from view"
I'm trying to query a view in Postgres, Presto can only see the count aggregate but not the sum aggregate column

[code]

The same issue happens with a materialized view
[code]

The views definition in Postgres is as follows:

[code]

[2021-01-26 13:18] l1x commented on #15453
Would it be possible to have a setup where every worker is a coordinator as well and the whole cluster load management is solved by a distributed state machine?

- https://blog.bernd-ruecker.com/how-we-built-a-highly-scalable-distributed-state-machine-f2595e3c0422
- https://en.wikipedia.org/wiki/Raft_(algorithm)

[2021-01-26 14:32] ingomueller-net opened #15642 "Document (or improve) how to build with function namespace manager"
I am failing to make the function namespace manager work. It is quite obvious that the [documentation](https://prestodb.io/docs/current/admin/function-namespace-managers.html) is incomplete; it should for the very least say that the official releases do not include that functionality yet.

It would also help if there was a description of how to build a release that includes the function namespace

[2021-01-26 14:47] rschlussel commented on #15580
I think it should be
[code]

[2021-01-26 17:06] kaikalur commented on #15605
Sorry all, looks like this is was a dupe of  15538 (also created by me lol). So closing this one and the other one is take. Sorry about that!

[2021-01-26 17:06] #15605 closed

[2021-01-26 23:30] rongrong commented on #15637
@mbasmanova @bhasudha Is this something you guys can take a look into?

[2021-01-27 02:06] TszKitLo40 commented on #15580
I am pleased to file a PR of this issue.

[2021-01-27 03:27] highker commented on #13205
All merged; fully available in 0.248

[2021-01-27 03:27] #13205 closed

[2021-01-27 06:29] TszKitLo40 commented on #15580
What's more, should we add test of this PR?

[2021-01-27 09:52] agrawalreetika commented on #15641
@nkvuong I tried accessing view with aggregation from master it worked fine for me.

From Postgres-
testdb=# select pg_get_viewdef('test4_view', true);
        pg_get_viewdef
-------------------------------
  SELECT test4.name,          +
     count(test4.id) AS cnt,  +
     sum(test4.salary) AS sum1+
    FROM test4                +
   GROUP BY test4.name;
(1 row)

From presto-
presto> show column

[2021-01-27 11:37] nkvuong commented on #15641
I'm currently using Presto 0.238.3 (running on aws emr 6.2.0 if it helps). Postgres is on 12.5

[2021-01-27 15:03] rschlussel commented on #15580
Amazing thank you.  Yes, a test would be great.

[2021-01-27 16:02] mbasmanova commented on #15543
I'm disabling slow parts of this test in https://github.com/prestodb/presto/pull/15643

[2021-01-27 16:03] mbasmanova commented on #15543
CC: @bhhari @jbroll @sujay-jain @rongrong

[2021-01-28 01:40] beinan commented on #15620
tagging @ChunxuTang
He is working on the iceberg connector, I think

[2021-01-28 01:43] beinan commented on #15587
Really appreciate if you could send a PR for the change on druid connector.

[2021-01-28 01:49] TszKitLo40 commented on #15580
But it seems that there are no unit tests for `GraphvizPrinter` and `PlanPrinter`, I think maybe we should add integration test for it. Where should be the integration test added?

[2021-01-28 01:58] ChunxuTang commented on #15620
Yeah, I'm working with @zhenxiao on the iceberg connector. Will send a PR for a review.

[2021-01-28 02:27] bing0109 commented on #15637
it looks like when  deploy coordinator   and worker in the same node , the problem arise; after i separate them, the problem seems disappear

[2021-01-28 05:08] fgwang7w opened #15647 "Slow query with Intersect"
Query composed of Intersect operation transforms into local hash exchange to conjugate all sources of the intersect. This could be a potential issue because if each select statement is a result of multiple join operations, to intersect these selects, presto would need to scan all data sources. In addition, the dynamic filtering may not work properly resulting in reading more data that could potent

[2021-01-28 05:51] agrawalreetika commented on #15641
It's working fine with Postgres - 12.4 & Presto - 0.238.2

`presto> show columns from public.test44_view;
 Column |   Type   | Extra | Comment
--------+----------+-------+---------
 name   | char(50) |       |
 count  | bigint   |       |
 sum    | bigint   |       |     `

[2021-01-28 06:31] #15647 closed

[2021-01-28 14:39] ashishtadose commented on #15618
@sudipkumarsahoo the directory structure mentioned here doesn't seem to follow partition patterns recognized by presto and hive.
For presto to map these files to respective partitions they need to present in respective partition directories such as **s3://bucket/presto/year=2021/month=01/day=01/hour=00**

For external tables which are in your case partitions need to be explicitly loaded after crea

[2021-01-28 15:47] ingomueller-net commented on #15642
Duplicate of #15382.

[2021-01-28 15:50] ingomueller-net commented on #15382
Does #15501 address this issue?

[2021-01-28 16:41] ingomueller-net commented on #15642
While #15501 may have fixed my issue (still not sure), I do think that the documentation has to be improved after all. Things that should be mentioned [here](https://prestodb.io/docs/current/admin/function-namespace-managers.html), IMO:

* You need to compile Presto yourself (how?).
* Where to provide the database credentionals.
* (I may add questions as I am making progress.)

[2021-01-28 20:12] ingomueller-net commented on #15642
I think I get further with version 0.246, but I am stuck again. Now, I get the following:

[code]

I have configured the [MySQL connector](https://prestodb.io/docs/current/connector/mysql.html) in case that has anything to do. The log shows that this loads fine and (if I remove the function manager) I can actually run queries through that connector. However, the MySQL JDBC driver does not seem to

[2021-01-29 05:47] yechangyao commented on #12989
I have the same problem too. @rushidmarne How did you fix it? just added som jars?

[code]

[2021-01-29 09:33] ingomueller-net commented on #15642
Aha, I made some progress. I found the [documentation on Alluxio](https://prestodb.io/docs/current/connector/hive.html#alluxio-configuration) mentioning adding something to the classpath, so I tried adding the following to `etc/jvm.properties`:

[code]

Now, I get this:

[code]

So back to my earlier question: How do I specify the credentials?

[2021-01-29 09:42] ingomueller-net commented on #15642
OK, I think I found it. The connection string in `etc/function-namespace/example.properties` needs to provide it:

[code]

Note that this also required to create a new database and provide that in the connection string as well...

[2021-01-29 10:42] ingomueller-net commented on #15642
OK, I finally made it work. The final obstacle was that you have to manually create an entry in one of the database tables in order to create a function namespace (and you can't create a function without such a namespace). Otherwise, you get:

[code]

While this is mentioned in the [documentation](https://prestodb.io/docs/current/admin/function-namespace-managers.html), I think (1) it shouldn't be

[2021-01-29 10:44] ingomueller-net commented on #15382
I think that this is a documentation issue. #15642 formulates it that way. With version 0.246, I managed to make UDFs work and the issue mentions a number of things I had to find out because they were not documented.

[2021-01-29 11:10] ashishtadose commented on #15573
@jmaxx37 I had developed jdbc based teradata connector for presto in the past.
This was definitely not as performant as QueryGrid (which required license and complex setup ) but helps to integrate with presto with Teradata with limitations of JDBC connectors.

Let me know if that will help, happy to contribute here to the community.

[2021-01-29 15:22] ingomueller-net commented on #15642
I put together a working Docker image in case someone is curious: https://github.com/ingomueller-net/docker-presto.

[2021-01-29 17:35] elukey commented on #15207
Updated today to 0.246 and the above trick doesn't work anymore :( Anything changed on this side from 0.226?

[2021-01-29 17:59] aweisberg opened #15653 "TestBlockBuilder.testNewBlockBuilderLikeForLargeBlockBuilder is unreliable and OOMs"
It's disabled right now.

[code]

[2021-01-30 08:37] elukey commented on #15207
I still didn't find any clue about what changed, but I see that from 0.229 there is the possibility of defining the trust-store path for the internal https: https://github.com/prestodb/presto/commit/6a7c4c81957cb4a85bc316bacf597c9fbe568f34

I tried it and it doesn't work, since in my use case I also need to set a password (that is mandatory I think for keystores). Any suggestion?

[2021-01-31 06:01] shangxinli commented on #15454
Updates: The task can be divided into 2 parts: reader and writer. The reader part code is working now and will be created PR shortly. The writer code is on the way.

[2021-01-31 22:55] kaikalur opened #15656 "Add SQL functions for dupes in arrays"
Now that we have SQL functions, it will be good to add (SQL) functions:

ARRAY_HAS_DUPES(ARRAY<T>) : boolean - true if any dupe exists
ARRAY_DUPES(ARRAY<T>) : ARRAY<T> - returns the set of elements that have dupes

[2021-02-01 08:26] ghfengg opened #15657 "DIVISION_BY_ZERO ERRO"
How to avoid DIVISION_BY_ZERO error in Presto?

[2021-02-01 08:56] hqbhoho opened #15658 "Presto can't filter Bigint type in tables created by Impala with parquet format"
prestodb 0.246 resloved this bug or not ?  like trino 326 version. And Then this bug was solved.

[2021-02-01 10:48] findepi commented on #15658
Presto 3xx releases (now called Trino) are maintained at https://github.com/trinodb/trino.
Also, there is the `#troubleshooting` channel on Trino Community Slack (https://trino.io/slack.html)

[2021-02-01 11:21] imjalpreet commented on #15587
@beinan in case no one is working on this change, I can work on it for solving this in druid connector.

[2021-02-01 13:00] dyhyao6 opened #15660 "Host name node01 does not match the certificcate subject provided by the peer (CN=instance"
please go to https://github.com/trinodb/trino/issues/6782
@zpao @joshk @jvanzyl @oggy  thanks.

[2021-02-01 13:45] l1x commented on #11554
hi @sbmaggarwal , where did you whitelist the private IPs?

[2021-02-01 18:27] agrawalreetika commented on #15497
`Malformed ORC file. Can not read SQL type double from ORC stream .commission of type STRING`

@ximengyun  Presto has strict column data type binding This error usually comes when data type for a column from your orc schema doesn't match with presto DDL data type.

You can match your Presto DDL with your ORC schema via orcfiledump.

By default, columns in ORC files are accessed by their ordinal po

[2021-02-01 18:34] agrawalreetika commented on #15452
@ywww Have a look at this one - https://github.com/prestodb/presto/pull/15519

[2021-02-01 20:32] jmaxx37 commented on #15573
Hey @ashishtadose
Oh that will be awesome!  I want to try and see how it works.
Will you be able to send the Teradata connector to me to try?

[2021-02-01 23:16] rongrong commented on #15642
Sorry about the rough experience. Engineers are in general not famous for writing good documentations. It would be great if you can help us improve the documentation by sending us a PR! Thanks a lot!

[2021-02-03 00:54] beinan commented on #15587
@imjalpreet feel free to send a PR to us, I can help review.  many thanks!

[2021-02-03 01:34] hqbhoho opened #15668 "Presto Web UI Node information could not be loaded"
Presto 0.246  Web UI   Node information could not be loaded
![image](https://user-images.githubusercontent.com/37388552/106685135-c2da8280-6602-11eb-826f-491ce398520b.png)
![image](https://user-images.githubusercontent.com/37388552/106685215-eac9e600-6602-11eb-8ab2-c6e84e35f6d8.png)

[2021-02-03 01:55] hqbhoho opened #15670 "Presto 0.246 ExceededMemoryLimitException : Query exceeded distributed user memory limit"
when I update Presto version from 0.234.2  to 0.246 ,  config don't change.
same sql (many table join) run well in 0.234.2 but not in 0.246, the plan is same.
0.246 will throw Exception
![image](https://user-images.githubusercontent.com/37388552/106685873-43e64980-6604-11eb-90f6-20d95ebbb110.png)
0.234.2
![image](https://user-images.githubusercontent.com/37388552/106686583-852b2900-6605-11eb-8394-

[2021-02-03 16:02] fpj commented on #15620
Looking forward to the PR, @ChunxuTang.

[2021-02-03 17:04] dborkar commented on #15620
@fpj Thanks for raising the issue. Turned out multiple efforts were underway to integrate Iceberg 😄
Saved duplicate efforts!

[2021-02-03 17:45] fpj commented on #15620
Feels like a decent first community contribution...

[2021-02-04 03:46] tdcmeehan opened #15674 "Add T-Digest function documentation"
We need to add formal documentation for T-Digest, similar to Q-Digest.

* `TDIGEST_AGG`
* `MERGE(TDIGEST)`
* `VALUE_AT_QUANTILE(...)`
* `QUANTILE_AT_VALUE(...)`
* `SCALE_TDIGEST`
* ` DESTRUCTURE_TDIGEST`

[2021-02-04 16:56] ashishtadose commented on #15573
Here you go - https://github.com/prestodb/presto/pull/15675
I didn't get much time to test it though.

You could override the columns mapping for additional type support or behavior.

[2021-02-04 22:41] JituS commented on #13856
@arhimondr I am not able to run insert in overwrite mode by setting above property. Is it not supported with s3?
@djiangc Are you using s3 or hdfs?
Getting bellow exception:
```java.lang.IllegalStateException: Overwriting existing partition doesn't support DIRECT_TO_TARGET_EXISTING_DIRECTORY write mode```

[2021-02-05 03:24] jmaxx37 commented on #15573
Hey Ashish! Thanks a lot! Will you be able to send some instruction as to how and where to install this?

[2021-02-05 05:49] ashishtadose commented on #15573
You will have to configure the catalog with the below configs.
etc/catalog/teradata.properties

`connector.name=teradata
connection-url=jdbc:teradata://terdata/DATABASE=teradatadb,DBS_PORT=1025,tmode=TERA,charset=UTF8,LOGMECH=LDAP
connection-user=
connection-password=
`

[2021-02-05 09:31] elukey commented on #15668
Same problem here, thanks for opening the issue!

[2021-02-05 09:38] elukey opened #15685 "Presto 0.246 returns a division by zero stacktrace"
Hi everybody,

I have upgraded Prestodb from 0.226 to 0.246, and adjusted some config parameters to adapt to the new version. My testing environment is very simple, one query coordinator and one worker node. When I try to execute a query that uses the Hive catalog, I always see the following returned:

[code]

The code that yields the exception seems to be doing a division indeed, but I have no id

[2021-02-05 10:08] elukey commented on #15685
If I add the `hive.node-selection-strategy` config to something like `SOFT_AFFINITY` then the division by zero is not thrown anymore, but the query gets stuck in PLANNING. In my settings the Presto worker is not co-located with HDFS data.

[2021-02-05 10:26] elukey commented on #15685
[code]

[2021-02-06 05:29] #15192 closed

[2021-02-08 01:24] hqbhoho opened #15692 "Kudu connector bug: kudu insert operation update one column"
I use presto update kudu table one column,but other column will be change to null.
![image](https://user-images.githubusercontent.com/37388552/107165896-58a15380-69ef-11eb-9f1b-714ce1fdbac5.png)
upsert can update one column , not affect other column. but now insert not.

[2021-02-08 07:51] zhouxinghua opened #15693 "error when connect to elasticSearch: missing authentication credentials for REST request"
2021-02-08T14:07:49.490+0800	ERROR	NodeRefresher	com.facebook.presto.elasticsearch.client.ElasticsearchClient	Error refreshing nodes
com.facebook.presto.spi.PrestoException: method [GET], host [http://172.16.30.3:9204], URI [/_nodes/http], status line [HTTP/1.1 401 Unauthorized]
{"error":{"root_cause":[{"type":"security_exception","reason":"missing authentication credentials for REST request [/_no

[2021-02-08 14:56] elukey commented on #15685
Any idea/suggestion? :)

[2021-02-08 18:51] elukey commented on #15685
The above stacktrace is returned when I try to query a Hive table with 256 buckets, that works fine with 0.226 thought.

I tried another one without bucketing, but now I get:

[code]
Even if I see an active worker in the Presto UI...

[2021-02-08 19:33] rschlussel commented on #15685
Does this only happen with bucketed tables?

[2021-02-08 19:45] elukey commented on #15685
Hi! Thanks for following up! The division by zero exception yes, it seems happening with a hive bucketed table, but not with a table without buckets. The last stacktrace (no nodes available) happens with the table without buckets.

[2021-02-08 20:41] rschlussel commented on #15685
Okay, so at least that's consistent.  Can you share your configuration? also, does the node show up if you do `SELECT * FROM system.runtime.nodes`?

[2021-02-08 20:42] rschlussel commented on #15685
Basically it sounds like the original error should be improved to instead throw a no nodes available error, but the actual issue, is the scheduler isn't finding any nodes where it can run your hive query.

[2021-02-08 20:58] elukey commented on #15685
Sure!

[code]

* Query coordinator config.properties
[code]
Worker config.properties
[code]

Query coordinator / Worker hive catalog properties
[code]
[code]

[2021-02-08 21:14] rschlussel commented on #15685
I suspect what's happening is that the worker doesn't know about the hive catalog.  Can you double check that the file is there and in the right directory and try restarting the worker (you always need to restart after config changes, since Presto won't pick them up automatically)?  Another thing to try would be to try adding another connector (e.g. add the tpch connector https://prestodb.io/docs/

[2021-02-08 21:58] rongrong opened #15698 "Support `INTERSECT ALL` and `EXCEPT ALL`"
Trino introduced this feature: https://github.com/trinodb/trino/pull/5890

[2021-02-08 22:10] rongrong opened #15699 "Enforce `NOT NULL` constraint when write"
For reference, Trino implemented this: https://github.com/trinodb/trino/pull/4144

[2021-02-08 22:17] rongrong opened #15700 "Implicit coercion for INSERT"
Trino's implementation: https://github.com/trinodb/trino/pull/2061

[2021-02-08 22:19] rongrong opened #15701 "Support RANGE and GROUP based window frame"
Reference to Trino PR: https://github.com/trinodb/trino/pull/5639

[2021-02-08 22:24] elukey commented on #15685
@rschlussel the catalog config file properties had a typo in its filename, you were absolutely right, everything works now :)

[2021-02-09 10:18] yschimke opened #15705 "SocketChannelSocketFactory fails with HTTP/2"
Both JSSE and Conscrypt.

Repro unit test in https://github.com/square/okhttp/pull/6554

https://twitter.com/virus_dave/status/1358266888543997952

[2021-02-09 10:21] yschimke commented on #15705
To be clear, I think this is a bug in one of

a) SocketChannel
b) JSSE and Conscrypt
c) OkHttp

But it's triggering because of the unusual use of SocketChannel from NIO that is used. This appears to be in place because of an unrelated IPv6 issue with multiple network interfaces.

[2021-02-09 10:22] yschimke commented on #15705
cc @virusdave

[2021-02-09 15:19] #15685 closed

[2021-02-09 16:56] dborkar opened #15706 "need simple IO caching for S3 at node level"
For some AWS instances with low network bandwidth, we are seeing IO bottle necks for users.
Multiple users are requesting a light weight node level cache with async prefetch to improve query latency.

Rubix open sourced by Qubole can be integrated with PrestoDB for the Hive connector to help with this.

[2021-02-09 17:54] javrod87 commented on #15706
Hi @dborkar, Presto already has an [Alluxio cache service](https://prestodb.io/docs/current/cache/alluxio.html) which one of my friends use at their company. There was a [blog post](https://prestodb.io/blog/2020/06/16/alluxio-datacaching) about it improving latencies at Facebook. Have you tried that?

@haoyuan I think is the expert on that service.

[2021-02-09 23:12] apc999 commented on #15706
PrestoDB is already integrated with Alluxio data caching ([docs](https://prestodb.io/docs/current/cache/alluxio.html)). Users can refer to many existing use cases like [Facebook](https://prestodb.io/blog/2020/06/16/alluxio-datacaching), [EA](https://www.alluxio.io/blog/building-a-high-performance-platform-on-aws-to-support-real-time-gaming-services-using-presto-and-alluxio/), [Data Sapiens](https:

[2021-02-10 01:03] selwyni opened #15710 "Official documentation HTML has broken formatting"
The official documentation at https://prestodb.io/docs/current/ has broken HTML and an unusable search bar

[2021-02-10 03:58] selwyni commented on #15710
It was fixed with a reversion to 0.246 some time in the last two hours.

[2021-02-10 03:58] #15710 closed

[2021-02-10 07:19] dborkar commented on #15706
@javrod87 Looks like you are a very new user to the Presto community! Welcome to the community. :-)
Thank you for sharing about Alluxio. I am familiar with Alluxio. Alluxio is a very nice distributed cache. Lots of fantastic features. In fact, it is much more than a cache, it provides a lot of other capabilities now like transformation as well - but some of our users are looking for a light weight

[2021-02-10 12:48] agrawalreetika commented on #15693
@zhouxinghua Could you please provide your catalog details? And are you getting the above error while querying from your configured catalog?

[2021-02-10 20:10] nezihyigitbasi commented on #15706
@dborkar Can you please shed some light on why the existing caching support of Presto doesn't help here? If you have specific data around why the current caching support is heavyweight that would be great to see. Maybe there is some way to tune it to make it work for the use case you have in mind. /cc @highker

[2021-02-10 20:30] highker commented on #15706
@dborkar, could you help to refer to this post (https://prestodb.io/blog/2021/02/04/raptorx) on caching. It is a light-weighted cache.

[2021-02-11 07:06] niteeshhegde opened #15713 "Can we have a feature in Presto UI to select multiple queries and perform action(kill for eg) all at once?"
I see in my use case that the client submits multiple queries bombarding PrestoDB. I need to kill them all at once.
Can we have a utility in the UI to select all running queries and kill them at once?

[2021-02-11 08:52] agrawalreetika opened #15714 "Allow configuring read-only access in File Based System Access Control"
Currently, As a part of Global level security authorization with File-Based Access Control, has only 2 roles: allow, none. There isn't a way to enforce a read-only role at a global level with the other two roles.

It will be good to add support for the read-only role with File-Based Access Control as well instead of just relying upon Read-Only System Access Control.

[2021-02-12 02:42] vasantteja commented on #15698
Can you please assign this to me?

[2021-02-12 18:14] soojinj commented on #12467
Hi wanted to follow up on this thread! Was there any update?

[2021-02-13 07:29] yschimke commented on #15705
I suggest removing SocketChannelSocketFactory

https://github.com/square/okhttp/issues/6558

[2021-02-13 09:29] yschimke commented on #15705
Looks like it is already removed in most environments, stay away from ChannelSocket

https://github.com/PennyAndWang/presto/blob/master/presto-client/src/main/java/io/prestosql/client/OkHttpUtil.java#L250

[2021-02-13 09:29] #15705 closed

[2021-02-15 15:25] ashishtadose opened #15722 "Cross catalog S3 access bug"
We come across a bug that causes Presto hive catalog configured with S3 to inherit S3 access from another hive catalog configured with S3 access.

This is caused by cached FileSystem references in JVM, they are identified by the bucket https://github.com/prestodb/presto-hadoop-apache2/blob/d5237d5068d4528c51bad4fbe8eb7bea24e155c6/src/main/java/org/apache/hadoop/fs/PrestoFileSystemCache.java#L109

[2021-02-15 17:49] imjalpreet commented on #15722
I have reviewed the implementation and a fix can be added for s3 similar to the one that has been implemented for GCS.

I can implement the same and raise a PR soon.

[2021-02-18 07:14] Samarth08 opened #15727 "if SSL=true, Connection getting created even with garbage host and user details."
Using com.facebook.presto.jdbc driver .It allows to create a connection.

[2021-02-18 09:35] xumingming opened #15729 "[Cassandra Connector] Reduce the number of splits when the presto cluster is small"
We have a scenario where Presto cluster is only one 16Core machine, and the cassandra table contains only several records, but Presto will calculate 385 splits for this table(it calculate the splits according to the token range), so the query is very slow.

So can we provide a session property to let user reduce the split count so the performance for small presto cluster can be better?

[2021-02-18 17:09] coupcoup commented on #5918
+1 would love to have this functionality!

[2021-02-18 19:19] hadoopstack commented on #11494
i found this to be relevant to this thread.
hope it helps:

Trino release notes: https://trino.io/docs/current/release/release-322.html
Github Code merge: https://github.com/trinodb/trino/pull/1521

[2021-02-18 19:59] #15121 closed

[2021-02-18 20:29] tooptoop4 commented on #11494
yet to try:
Trino release notes: https://trino.io/docs/current/release/release-322.html
Github Code merge: trinodb/trino#1521

[2021-02-19 10:40] xumingming commented on #15729
I have an optimization, for small cassandra table, I calculate the splits manually split the whole token ring: (-2 ^ 63 -> 2 ^ 63 - 1) to very small number of splits(e.g. 1), it optimize the performance from 1min to 1 second. Don't know if the community is interested in this optimization?

[2021-02-21 17:59] laxmanlax commented on #15656
@rongrong @kaikalur
I have added a small change to address this issue : I am new to presto so I might need some help , please let me know if am going to the right direction
https://github.com/prestodb/presto/pull/15733/files

[2021-02-22 01:19] zhouxinghua commented on #15693
this error happened when I start my presto server and try connect to elasticSearch,  catalog is here:
--------------------------------------------------------
connector.name=elasticsearch
elasticsearch.host=xxx
elasticsearch.port=9200
elasticsearch.default-schema-name=xxx
-----------------------------------------------------------

[2021-02-22 02:27] arjenzhou commented on #10435
same issue with Java11 (DataGrip boot version).

[2021-02-22 04:34] agrawalreetika commented on #15668
This has been addressed as a part of this - https://github.com/prestodb/presto/pull/15728

[2021-02-22 18:20] jasondavindev opened #15734 "[Alluxio catalog] Loading alluxio catalog error"
Since 19th day I'm getting an error when running the prestodb container connected to alluxio. When the loading steps starts, I get the error below:

[code]

At first I was thinking that my new presto plugin for event listener was causing the error, but I revert all the changes, clearing the plugin code & dependencies and rebuild the presto docker image, and then the error persists.
When I remove t

[2021-02-23 16:55] nmahadevuni opened #15735 "Code section in docs is incorrectly copied along with '$' prompt"
In docs page https://prestodb.io/docs/current/installation/deployment.html#an-example-deployment-on-laptop-querying-s3 ,
the code section, when we click on copy button, it also copies the '$'. The following is the clipboard content after I clicked on copy.

$ export HIVE_HOME=`pwd`
$ cp conf/hive-default.xml.template conf/hive-site.xml
$ mkdir -p hcatalog/var/log/
  only required for the first tim

[2021-02-23 21:29] aweisberg commented on #15653
This is available to take from Bhavani if he doesn't get to it.

[2021-02-24 10:40] chananelp commented on #2169
Shorter version of "generate series like for example 0,3,5,7......,99?":
(no need the CROSS JOIN..)

`SELECT i1 FROM UNNEST(SEQUENCE(1,100,7)) AS t (i1)
`

[2021-02-24 16:20] #15714 closed

[2021-02-24 21:31] pakming commented on #11429
Same issue - 60+ columns in the exploded table and it's hard to access the unnamed ordinality column.

[2021-02-24 23:09] prajain opened #15740 "Presto-Pinot-ToolKit build issue from release 244 onwards"
presto-pinot-toolkit has been failing from release 244 onwards:

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 18.834 s
[INFO] Finished at: 2021-02-24T14:50:30-08:00
[INFO] Final Memory: 138M/2616M
[INFO] -----------------------------------------

[2021-02-25 07:56] lzwang2 opened #15747 "Run Presto-0.247 in IDEA throws "No suitable driver found for jdbc:mysql" in function namespace manager"
I downloaded Tag 0.247.
Cmd "./mvnw clean install -DskipTests" succeed.
Then I imported the project into IntelliJ IDEA, and everything seems to be fine.
I created  a run configuration according to the docs, as below:

_Main Class: com.facebook.presto.server.PrestoServer
VM Options: -ea -XX:+UseG1GC -XX:G1HeapRegionSize=32M -XX:+UseGCOverheadLimit -XX:+ExplicitGCInvokesConcurrent -Xmx2G -Dconfig=et

[2021-02-25 14:45] imjalpreet commented on #15722
I have raised the PR to fix this https://github.com/prestodb/presto-hadoop-apache2/pull/46

Once the new version of presto-hadoop-apache2 is released, I will raise a PR for presto to bump up the version for the same.

[2021-02-25 15:50] aweisberg opened #15749 "Cassandra product tests not passing"
I am guessing this is a Tempto issue with us passing the wrong type to the cassandra driver for the column https://stackoverflow.com/questions/41480481/codec-not-found-for-requested-operation-date-java-util-date
Could also be a mistake in the test definition
https://travis-ci.com/github/prestodb/presto/builds/218243799
[code]

[2021-02-25 19:05] kaikalur opened #15754 "MAP_UNION accepts ORDER BY syntax but does not do the right thing at execution"
MAP_UNION aggregation accepts the ORDER BY clause but it's not actually respecting it. So either we disallow/warn about the syntax or implement it properly (preferred).

[code]

[2021-02-26 07:35] sohamjadiya1cz commented on #11806
Hello I am also facing same problem, can anyone help us with it?

[2021-02-26 09:57] SilenceJD opened #15758 "Dynamic Filter for Hash Join"
Join is a very time-consuming operation, especially when there is a large amount of data. Currently, Presto 0.241+ supports local dynamic filtering for broadcast inner-joins, but does not have a dynamic filtering for hash inner-joins. In order to fill this gap, we propose dynamic filter for hash inner-joins.

Compared with Presto dynamic filter and dynamic filter for hash join we proposed, the mai

[2021-02-26 10:01] highker commented on #15758
This is interesting. @SilenceJD, could you help to dump the design doc into a google doc? The link above seems to require registration.

[2021-02-26 10:37] SilenceJD commented on #15758
Sorry, I've updated the link to Google Doc now.

[2021-02-26 12:55] zzcclp commented on #13205
@highker , hi, 0.247 includes all the features of RaptorX , or it needs to use 0.248?

[2021-02-26 16:05] iceted commented on #15758
is this similar to https://trino.io/blog/2020/06/14/dynamic-partition-pruning.html ?

[2021-02-26 19:26] Kayron013 commented on #7768
@sbmaggarwal Did you find out how to utilize `etc/hosts`?
@BillLucky ?

[2021-02-26 23:48] highker commented on #15758
Right, this is the same flow in https://trino.io/blog/2020/06/14/dynamic-partition-pruning.html. However, they do have bloom filter to make it more efficient. Partition is a too loose granularity. We actually tried the partition pruning and it was working pretty bad. The queries we have a super fast with seconds or sub seconds latency. The roundtrip can kill the performance. @SilenceJD, wonder in

[2021-02-28 04:38] SilenceJD commented on #15758
In our scenarios, some big queries with elapsed time of 60+ seconds. I think this is benefit for big inner join queries.

[2021-02-28 07:55] highker commented on #15758
@SilenceJD, could you send out a PR for this? I don't see any other approach that can gather build side digest effectively.

[2021-02-28 08:57] BillLucky commented on #7768
In a Java program, when your program reports an error that a host domain name cannot be recognized, you will usually see an error like "java.net.UnknownHostException" in the log.

This means that the program cannot identify the specific IP through DNS, so you can configure /etc/hosts on your local computer or server for mapping to help your program correctly find the IP behind it, and it will work

[2021-02-28 09:49] SilenceJD commented on #15758
Sure, I will migrate the code to the latest version and send out.

[2021-02-28 14:52] #12227 closed

[2021-02-28 22:14] #10455 closed

[2021-02-28 22:14] #9656 closed

[2021-02-28 22:14] #8758 closed

[2021-02-28 22:14] #7948 closed

[2021-02-28 22:14] #7140 closed

[2021-02-28 22:15] #6899 closed

[2021-02-28 22:15] #6874 closed

[2021-02-28 22:15] #3186 closed

[2021-02-28 22:15] #9613 closed

[2021-03-01 09:01] #9342 closed

[2021-03-01 09:01] #9438 closed

[2021-03-01 09:01] #9516 closed

[2021-03-01 09:01] #10003 closed

[2021-03-01 09:01] #10258 closed

[2021-03-01 09:01] #11622 closed

[2021-03-01 09:01] #12044 closed

[2021-03-01 12:39] lzwang2 commented on #15747
Below is my solution.

1. add "mysql-connector-java" dependency to presto-main pom.xml
[code]
2. add "com.mysql.jdbc.Driver" to _SPI_PACKAGES_ in _com.facebook.presto.server.PluginManager_
[code]

3. complement jdbc url in function-namespace/example.properties in presto-main
[code]

----
Below is the cause of the error.

It's related to classloader.

When `java.sql.DriverManager` is first visited,

[2021-03-01 16:56] #15722 closed

[2021-03-01 18:25] #10529 closed

[2021-03-01 18:32] #9803 closed

[2021-03-01 18:32] #9753 closed

[2021-03-01 18:32] #9278 closed

[2021-03-01 18:32] #9231 closed

[2021-03-01 18:32] #9221 closed

[2021-03-01 18:32] #9209 closed

[2021-03-01 18:33] #8977 closed

[2021-03-01 18:33] #7798 closed

[2021-03-01 18:33] #7564 closed

[2021-03-01 18:33] #7562 closed

[2021-03-01 18:33] #7250 closed

[2021-03-01 18:33] #6434 closed

[2021-03-01 18:33] #6416 closed

[2021-03-01 18:33] #6338 closed

[2021-03-01 18:33] #6296 closed

[2021-03-01 18:33] #6050 closed

[2021-03-01 18:33] #6060 closed

[2021-03-01 18:33] #5996 closed

[2021-03-01 18:33] #6011 closed

[2021-03-01 18:33] #5995 closed

[2021-03-01 18:33] #5893 closed

[2021-03-01 18:33] #5600 closed

[2021-03-01 18:33] #5314 closed

[2021-03-01 18:33] #5152 closed

[2021-03-01 18:33] #5151 closed

[2021-03-01 18:33] #4800 closed

[2021-03-01 18:33] #4579 closed

[2021-03-01 18:33] #4500 closed

[2021-03-01 18:33] #4497 closed

[2021-03-01 18:33] #4170 closed

[2021-03-01 18:33] #4147 closed

[2021-03-01 18:33] #3582 closed

[2021-03-01 18:33] #3945 closed

[2021-03-01 18:33] #2700 closed

[2021-03-01 18:33] #2210 closed

[2021-03-03 11:51] #9416 closed

[2021-03-03 11:54] #6385 closed

[2021-03-03 11:54] #8456 closed

[2021-03-03 11:55] #10345 closed

[2021-03-03 11:55] #11014 closed

[2021-03-03 11:55] #11094 closed

[2021-03-04 07:59] oskotsky opened #15771 "presto 504 gateway timeout with Hue using jdbc on aws emr"
I am running aws emr cluster with Presto and Hue. aws configures Hue to use jdbc for Presto.
Presto works great in cli - presto-cli. However, if a query takes longer than 1 min running in Hue fails with "504 gateway timeout". It seems that somehow 1 min is default setting somewhere (presto jdbc driver?). Could you please advise on how to fix this problem?

Thank you

[2021-03-04 08:16] rzj-bigdata opened #15772 "presto timestamp bug"
select timestamp '1946-05-15 00:00:00';
Query 20210304_070605_05374_mzzm9 failed: line 1:8: '1946-05-15 00:00:00' is not a valid timestamp literal

[2021-03-04 22:36] rschlussel commented on #15543
@mbasmanova I'm still seeing this issue

[code]

[2021-03-05 17:38] oskotsky commented on #15771
It was elb (elastic load balancer) timeout setting. Everything works now.

[2021-03-05 17:38] #15771 closed

[2021-03-05 20:35] v-jizhang commented on #15653
@aweisberg , should this be closed? I tried to run the test suite but could not produce a repro:
 `./mvnw test -pl :presto-main -Dtest=com.facebook.presto.block.TestBlockBuilder`
[code]
Also in #15737, the test was enabled again because "The only one that doesn't work is Cassanda".

[2021-03-05 23:01] aweisberg commented on #15653
It seemed like it was passing reliably, but I don't think it is. Yes it frequently passes. I think the entire test suite may have issues.

It just failed here for example https://github.com/prestodb/presto/pull/15774/checks?check_run_id=2035664515

[2021-03-06 00:23] v-jizhang commented on #15653
It's no longer an OOM issue. Looks like it's not a test suite issue and it relates to Surefire. The solution [here ](https://stackoverflow.com/questions/46831762/maven-build-and-maven-failsafe-plugin-the-forked-vm-terminated-without-properl/51099726#51099726) doesn't seem to work because we are using Surefire 2.22.0

[2021-03-06 00:55] aweisberg commented on #15653
That is a generic error message printed when the forked process terminates unexpectedly. Anything can cause it, but it's usually OOM. My recollection is when this reproduces locally (run it in a loop) you can check the log file and it mentions the OOM.

[2021-03-06 22:41] iceted commented on #15772
in my experience timestamps are very broken in Presto. This is the best explanation I found about it: https://github.com/trinodb/trino/issues/37 and it appears it the bug was fixed in recent versions of the Trino distribution of Presto: https://trino.io/docs/current/release/release-341.html. Would you like to backport that change?

[2021-03-08 14:35] #15331 closed

[2021-03-08 18:29] jvjn opened #15785 "Presto Filter Bug - Silent Failure To Apply Filter"
Presto fails to apply filter based on string literal values returned by a case statement in a CTE

This query returns all values without applying filter in final SELECT:

[code]

But this query filters correctly:
[code]

[2021-03-09 16:56] msb236 opened #15793 "[SLICE Array Function] Incomplete error message for length arg"
When running `select slice(array[], 1, -1)`, the `INVALID_FUNCTION_ARGUMENT` message does not mention the name of the function, `SLICE`.

Message received: `(INVALID_FUNCTION_ARGUMENT) length must be greater than or equal to 0`
Message desired: `(INVALID_FUNCTION_ARGUMENT) length argument for SLICE function must be greater than or equal to 0` ... or something to this effect.

In the context of a o

[2021-03-10 08:23] guhanjie opened #15797 "HttpRemoteTask sendUpdate exists concurrent problem"
https://github.com/prestodb/presto/blob/1f1b1d1d0b9f625691617c4d2d5a7ed03011a762/presto-main/src/main/java/com/facebook/presto/server/remotetask/HttpRemoteTask.java#L662

as above code comment，the task should start first, then update it...

but actually, there may be happen that:
the task first called noMoreSplits, then call start...the task will sendUpdate before started.
![image](https://user-im

[2021-03-10 13:08] leepface opened #15798 "Main task for statistical functions in presto hackathon"
A few people are currently doing a hackathon focused on adding some more statistical functionality to presto. This is just a main tracking task, from which we'll reference the various PRs.

## Distributions

| Distribution Function | PR | Peer reviewed | Tests passing | Merged |
|----------------------|----|---------------|---------------|---------|
| Binomial | (#15812) | @leepface  | Yes | Yes |

[2021-03-11 00:25] v-jizhang commented on #15699
I'm working on this.

Jinlin

[2021-03-11 11:03] Donderia commented on #13896
Hi @ankitdixit , @rschlussel  - is this enhancement merged on master branch ?

[2021-03-11 16:04] aweisberg opened #15815 "Improve error message on out of local memory"
There are two potential improvements. First include the fragment IDs of fragments that are running at the node running out of memory, and how much memory each fragment is using if feasible.

The delta terminology is confusing because it's really how much it is attempting to allocate. Maybe update that, but keep in mind we may be pattern matching on this in several places so do a pass to make sure

[2021-03-11 16:10] aweisberg opened #15816 "Docker images are no longer building"
Yes this isn't an issue against this repo, but who is checking issues in "random" Presto repos.

They have fallen so far out of date that they don't build anymore. Even if you fix the initial problem with the package repos not being accessible by updating the configuration for accessing them you will find that the Oracle JDK is no longer available. If you try and use say Zulu the RPM fails because

[2021-03-12 12:01] dixingxing0 commented on #15620
Hi chunxu, how is this work going, we are looking forward this fantastic feature!

[2021-03-13 01:47] ChunxuTang commented on #15620
@dixingxing0 The implementation goes well. Plan to send the PR very soon~

[2021-03-13 20:28] ingomueller-net commented on #14951
Does #15033 not solve this?

[2021-03-14 04:47] xumingming opened #15832 "Query Result Cache"
We want to develop the query result cache feature, don't know if community is interested. We find that when people use Presto with BI software(Tableau, PowerBI etc), the SQL send to Presto is usually repeated, same query get executed again & again, if we have query result cache, the query latency can be reduced to very small especially when the underlying data source is a slow data source.

[2021-03-15 06:25] gggrace14 opened #15833 "Set table type to MATERIALIZED_VIEW for materialized view after a stable Hive 3.0 upgrade"
At the moment, with Hive 2.0, materialized views use TableType.MANAGED_TABLE in metastore.
https://github.com/prestodb/presto/blob/0b1c725441147ef18ea4c48cd9f1ec2d55562e5b/presto-hive-metastore/src/main/java/com/facebook/presto/hive/metastore/thrift/ThriftMetastoreUtil.java#L162

After a stable upgrade to Hive 3.0 which supports TableType.MATERIALIZED_VIEW, we should directly set table type to MAT

[2021-03-15 15:56] v-jizhang commented on #15749
I'll take a look.

[2021-03-15 18:30] nickstanisha commented on #15798
Can confirm tests are passing for linear_interpolate as well

[2021-03-15 21:09] jasondavindev commented on #15734
I solved this problem upgrading openjdk to version 11 (Docker image `openjdk:11-jdk-slim`) and fix JMX configurations to start up the presto.
References links:
https://github.com/Alluxio/alluxio/issues/12882
https://github.com/Alluxio/alluxio/pull/12884

[2021-03-15 21:10] #15734 closed

[2021-03-15 22:39] shixuan-fan commented on #15832
This is an interesting feature :)

Internally, we have a frontend engine that would handle query result cache roughly by keeping (query text cache -> result) mapping, and handles cache invalidation as well. But our internal usage is mostly on Hive so it is a matter of consulting metastore.

How do we plan to handle cache invalidation in the engine? I'm guessing we would need some sort of table ver

[2021-03-15 23:13] v-jizhang commented on #15749
It's a mistake in the test definition in DataTypesTableDefinition.java
There is a discrepancy between table creation and the data.
I'll fix it.

[2021-03-16 12:58] dcharbon opened #15837 "Support Accumulo 2.x"
Attempting to create an internal table using the Accumulo connector fails silently with no log messages and reports that the table was created successfully. Attempting to [create an external table] using the Accumulo connector (https://prestodb.io/docs/current/connector/accumulo.html#external-tables) fails with an exception.

Per [discussion on the community slack](https://prestodb.slack.com/archi

[2021-03-16 21:07] talgalili opened #15839 "Adding the chi square distribution (chisquared_cdf + inverse_chisquared_cdf)"
Adding the chi square distribution, which is central to many statistical procedures (https://en.wikipedia.org/wiki/Chi-square_distribution).

PR: https://github.com/prestodb/presto/pull/15799

The PR follows the diff template of: https://github.com/prestodb/presto/pull/11981/files

Both the function signature (name, input output type and meaning), and the test plan, are available in the PR.

[code

[2021-03-17 11:16] dowi commented on #15798
Tests are passing for my 3 additions :
https://github.com/prestodb/presto/pull/15810
https://github.com/prestodb/presto/pull/15807
https://github.com/prestodb/presto/pull/15813

[2021-03-18 01:37] arunthirupathi commented on #15506
Fixed in, https://github.com/prestodb/presto/pull/15843

[2021-03-18 06:17] yangy0000 opened #15845 "[Design] multiple clusters and dynamic topic discovery support on Kafka Connector"
Today, Presto Kafka connector only supports a single Kafka cluster and the static list of tables/schemas.

This approach enables:

- The ability to query multiple Kafka clusters by using a single connector

- Support the dynamic table/schema discovery without restarting the application

### Background
At Uber, we run Kafka clusters at scale, with over 2 dozen Kafka clusters and tens of thousands o

[2021-03-18 11:32] lokeshkh92 commented on #11721
Getting the exact same issue, in my case too telnet the kdc works, telnet the presto server also works.
Can someone please suggest a possible solution ?

[2021-03-18 19:23] v-jizhang commented on #15793
@msb236, ArraySliceFunction is annotated as ScalarFunction and its sole purpose is to provide a "slice" function. So it's Ok to add detailed message. And please don't make any changes in ErrorCode.
Please submit a PR if you want to.

Thanks

[2021-03-18 22:32] v-jizhang commented on #15772
Yes, it's on our list now. Thanks.

[2021-03-18 23:30] aweisberg commented on #15797
What is the impact of this? I am wondering if you have observed it. Yeah I agree it looks like it can send an update before having called start.

[2021-03-19 03:14] dixingxing0 commented on #15620
Glad to see this PR!

[2021-03-19 04:00] guhanjie commented on #15797
@aweisberg yes, actually I indeed observed it, the tasks of non-leaf stage(which mean Intermediate tasks) would happen this case, the sendUpdate request arrived the worker node before the task been started, and the worker node would starting the driver work at now.
The impact is, the tasks yet not started on coordinator would sendUpdate eagerly to worker nodes, and the nodes will start driver to d

[2021-03-19 04:43] kaustubh77 commented on #8457
@electrum I am facing almost a similar error. This is the error I am getting
```2021-03-18_14:11:08.46818 Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class org.glassfish.jersey.message.internal.MessageBodyFactory and no properties discovered to create BeanSerializer (to avoid exception, disable SerializationFeature.FAIL_ON_EMPTY_BEANS) (through

[2021-03-19 08:52] huahua9427 commented on #15620
@ChunxuTang ,We need Presto iceberg connector very much now. I'm very glad to see that this work is in progress. I don't know when it will be released and where I can track the progress?

[2021-03-19 09:52] findepi commented on #8457
@kaustubh77  You can reach @electrum over https://trino.io/slack.html
or on https://github.com/trinodb/trino/ -- (if you didn't hear about Trino yet, give https://trino.io/blog/2020/12/27/announcing-trino.html a read)

[2021-03-19 15:03] v-jizhang commented on #15772
@rzj-bigdata Seems it has been fixed already. Here is my test:
[code]

[2021-03-19 18:29] #15506 closed

[2021-03-19 18:40] v-jizhang commented on #15785
I could not repro this issue. Here is what I did.
[code]
Both the CTEs produced the same filtered result:
[code]

[code]

@jvjn Which Presto version are you using? Thanks

[2021-03-20 05:13] dandu1008 commented on #3912
Your solution works fine for 'default' schema. But it's unable to drop table from other than 'default' schema.

[2021-03-21 22:51] rohanpednekar commented on #15797
@guhanjie can I assign this issue to you as you already have working PR for this?

[2021-03-21 23:26] rohanpednekar commented on #15785
@jvjn can you please share the presto version and explain plan of the query if you can?  Also,  it would be great if you can share the query results, table DDLs and data source or connectors used if any.

[2021-03-22 02:16] guhanjie commented on #15797
sure

[2021-03-22 02:17] xumingming commented on #15832
@shixuan-fan

* We will use hash of the plan rather than query text as the key of the cache, since the query text might change.
* Cache invalidation will be handled by a CacheInvalidationHandler which allows different implementation, the default implementation might be time based, use need to specify a time duration, the cache will be invalidated after that.
* For data source that has metadata to

[2021-03-22 02:46] xumingming opened #15853 "TableStore Connector"
Alibaba Tablestore is a KV storage service of Alibaba Cloud, we'd like to contribute TableStore Connector to the community.

[2021-03-22 02:52] xumingming opened #15854 "MaxCompute Connector"
MaxCompute(https://www.alibabacloud.com/product/maxcompute?gclid=EAIaIQobChMI1-mFm_LC7wIVQf3jBx1x5Q4CEAAYASAAEgKxr_D_BwE) is large-scale data warehousing solution of Alibaba Cloud. We'd like to contribute MaxCompute Connector to the Community.

[2021-03-22 03:48] GXM2333 opened #15855 "How to solve Memory allocation too fast in G1？"
We use presto241 release version and deploy a cluster of 10 nodes.Our JVM parameters as below:
![jvm params](https://user-images.githubusercontent.com/24871202/111937535-e8fca900-8b02-11eb-9db0-f3751c64195b.png)
When we run large query from our custom connector,the worker memory is used up.After we triggered one full gc  by `jmap -histo:live $pid`,the memory was recovered.We have limited machine r

[2021-03-22 07:12] amal-v commented on #13179
I am also facing the same issue while enabling the https for internal communications. There are no errors in the log but queries returns error with no workers available.

[2021-03-22 07:13] SonuSingh200190 commented on #2445
As of now I created a Presto Agent App which is actually a Spring Boot App and providing Rest APIs to manager catalogs on Presto Server. For example, I can add, edit and delete catalog on Presto Server using my agent app. Also I am restarting presto server using my agent app after adding, editing and deleting catalogs.
                                        This approach is working fine with sing

[2021-03-22 07:26] SonuSingh200190 commented on #14964
As of now, I created a Presto Agent App which is actually a Spring Boot App and providing Rest APIs to manager catalogs on Presto Server. For example, I can add, edit and delete catalog on Presto Server using my agent app. Also, I am restarting the presto server using my agent app after adding, editing and deleting catalogs.

As of now, I am able to add catalogs for the below connectors:

Hive
MyS

[2021-03-22 15:30] v-jizhang commented on #15853
@xumingming You are very welcome to submit a PR and I will find a review for you. Thank you.

[2021-03-22 15:31] v-jizhang commented on #15854
@xumingming You are very welcome to submit a PR and I will find a review for you. Thank you.

[2021-03-22 15:33] rohanpednekar commented on #15855
@GXM2333, can you share your reasoning behind setting XX:InitiatingHeapOccupancyPercent to 40? also, what is THP and swappiness status on these worker nodes?

[2021-03-22 15:50] rohanpednekar commented on #15729
@xumingming, what is the total row count for this Cassandra table? How often you interact with small Cassandra tables?  How many queries per month or week? Also, do you see similar behavior with other connectors?

Thanks!

[2021-03-22 15:53] rohanpednekar commented on #15713
This is a good feature to have as part of instrumentation or tooling. Can you share the average number of queries you try to kill manually in a given time?

[2021-03-22 16:07] rohanpednekar commented on #15727
Hi @Samarth08, can you please share presto version and pastebin log trace.  What is your SSL requirement here and what alternatives you are using to achieve this if this is not working for you?

[2021-03-22 18:33] shixuan-fan commented on #15832
I see, so this would be a step after optimizer. Makes sense, thanks for clarifying :)

[2021-03-22 19:22] richwhitjr opened #15861 "Parquet+Hive Connector query failing to match rows with a where equality check."
We are using Presto `0.238.3-AMZN-0` in Amazon EMR.

We have this single column parquet file,  attached as bad.parquet, that fails to return any results in Presto when directly selecting for a value:

[code]

This returns resultswhere `taskevent` as `3` which you expect to match above:
[code]

parquet-tools show a schema like this for bad:

[code]

If we re-encode the data with another library and

[2021-03-22 19:28] fmendez89 commented on #2445
Very nice, I will probably use this approach.Thanks for sharing. Is it publicly available?

[2021-03-23 00:55] benkrug opened #15862 "druid connector querying simple druid setup gives NPEs"
I have a druid 0.20.0 quickstart installation (on a laptop), and installed presto.  I'll attach my presto configuration files.  If I start a client and try to query druid, every attempt errors out with "internal error", and the presto log has an error like the following:

[code]
I confirmed that I can query druid directly over http using port 8082, as configured for druid, but nothing works throug

[2021-03-23 01:52] benkrug commented on #15862
This was resolved by replacing localhost:8081, localhost:8082 in druid catalog config, with http://127.0.0.1:8081, http://127.0.0.1:8082.  (Thanks Asif Kazi on Presto Slack!)

[2021-03-23 01:52] #15862 closed

[2021-03-23 03:03] benkrug opened #15863 "druid connect balks at null values for strings"
If a query would return a null for any string, it errors out.

I installed presto-server-0.248, presto-cli-0.248-executable.jar, and druid 0.20.0.  In druid, I ingested the wikipedia sample data set.  Some fields are null in some rows.  Apparently, any query that would return a null anywhere errors out.

Here are a few examples (cityName is null in the first row of data):

[code]

[2021-03-23 21:11] bitsondatadev commented on #2445
@SonuSingh200190, it's strange, I don't see MemSQL or BigQuery in Presto. Which version are you on?

[2021-03-24 05:23] SonuSingh200190 commented on #2445
@bitsondatadev Hi Brian, I am using PrestoSQL 348.
Also this connectors are available in Trino 354.
![image](https://user-images.githubusercontent.com/33202006/112259949-21c98900-8c8f-11eb-9368-d5289fa616b7.png)
![image](https://user-images.githubusercontent.com/33202006/112259992-2db54b00-8c8f-11eb-9d45-a7229b0e7633.png)

[2021-03-24 05:28] SonuSingh200190 commented on #2445
@fmendez89
Hi Fran, sorry that agent code is not available publicly as of now.
Let me check if I can share that agent code to you.

[2021-03-24 09:00] GXM2333 commented on #15855
https://www.oracle.com/technical-resources/articles/java/g1gc.html

I read the above article, and thought if I set XX:InitiatingHeapOccupancyPercent lower to 40, it might help to  trigger mixed gc faster cause full gc is hard to happen in G1. I think more mixed gc times  might slower down this case.  But it seems not working from the result.

Our swappiness is setting 1, and THP is setting [always

[2021-03-24 09:06] imjalpreet opened #15869 "Error while accessing CSV tables when using Glue or Hive > 3.0 as metastore"
OpenCSVSerde deserializes columns from csv file into strings only. Currently, the CSV support in Presto relies on the metastore to return all column datatypes as string.

Hive < 3.0 returns all the datatypes as String(when using OpenCSVSerde) to Presto whereas Glue Metastore and Hive > 3.0 return the original schema declared datatype.

Related slack discussion: https://prestodb.slack.com/archives/

[2021-03-24 09:48] xumingming commented on #15729
total row count is 40, the performance issue mainly related to how Presto's Cassandra Connector generating splits, so it has nothing to do with other connectors.

[2021-03-24 10:01] bitsondatadev commented on #2445
I thought that might be the case. To make it clear for folks wanting to use your solution, Trino ([formerly known as PrestoSQL](https://trino.io/blog/2020/12/27/announcing-trino.html)) is a newer form of Presto created by the original founders and majority code contributors of Presto.

The repository for Trino is located here: https://github.com/trinodb/trino

Related issue: https://github.com/tri

[2021-03-24 20:35] aweisberg commented on #15816
I made some more progress on this today because docker hub deleted all our images. Got stuck on being unable to download CDH because they subscription walled everything. https://github.com/prestodb/docker-images/pull/52

[2021-03-25 13:40] rohanpednekar commented on #15637
@hmanju2k7 can you share your JVM flags for presto config?

[2021-03-25 14:09] rohanpednekar commented on #15642
Hi @ingomueller-net This is a great article and very easy to consume for users. Can you please send us PR and I can get this added to community documentation.

[2021-03-25 14:38] himanshpal commented on #15832
@xumingming - where do you plan to store the final cached results, will be it on coordinator or external storage like S3 ?

[2021-03-26 17:17] sankchat commented on #14679
@GaddamAjay Have you found any closure on this? Were you able to connect to Presto?

[2021-03-29 09:32] Samarth08 commented on #15727
Hi Rohan,

I have tried many versions of Presto.None of them are working.

Well I don't have the logs.There is no error because connection is
successful all the times.

Our system fails in Azure Data Factory.We are using it for our debugging.

Thank you
Samarth

On Mon, Mar 22, 2021, 9:37 PM Rohan Pednekar ***@***.***>
wrote:

[2021-03-29 16:29] sriram201 opened #15881 "Adding the hypergeometric distribution (hypergeometricCdf and inverseHypergeometriCdf) #15821"
Adding the [Hypergeometric Distribution](https://en.wikipedia.org/wiki/Hypergeometric_distribution)

PR: [#15821](https://github.com/prestodb/presto/pull/15821)

Both the function signature (name, input output type and meaning), and the test plan, are available in the PR.

[code]

[2021-03-30 08:17] ergouy commented on #15121
where is the worker id?

[2021-03-30 08:19] ergouy commented on #15668
Is it necessary to modify the source code?

[2021-03-31 05:07] benkrug commented on #15863
Turns out this only happens if you set

druid.generic.useDefaultValueForNull=false

which I had in my druid configuration.  Without this, the query returns correctly.

[2021-03-31 16:59] sbansal6 commented on #7433
@tuanvn6467 :- is there a timeline on when this will be implement or supported.

[2021-04-01 07:30] guhanjie opened #15897 "Should DateTimeFunctions be deterministic = false?"
https://github.com/prestodb/presto/blob/1b8d59c2d4f37d1a107993abd35e1bad80a25bc1/presto-main/src/main/java/com/facebook/presto/operator/scalar/DateTimeFunctions.java#L144

 Should some functions(such as currentTimestamp and so on) in DateTimeFunctions be deterministic = false TO
 **do not optimize non-deterministic functions.** ?
since the current_timestamp is always be dependent on the current ti

[2021-04-02 16:44] ankh6 commented on #15815
Hi @aweisberg I'd like to make my first contribution here. However I am not sure where to implement these changes.
Can you drop the path to the relevant module(s) ?

[2021-04-02 17:19] aweisberg commented on #15815
Check out https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/ExceededMemoryLimitException.java and https://github.com/prestodb/presto/blob/master/presto-main/src/main/java/com/facebook/presto/memory/QueryContext.java for how we end up generally getting to creating these exceptions. That will spider out into information about the tasks that make up the quer

[2021-04-03 15:58] ankh6 commented on #15815
Hey @aweisberg
I ran the ./mvnw clean insall before implementing my changes. One build failed (perso-docs) and errors have been detected across multiple files (ReservedIdentifiers, SqlParser, TypeCalculation and UnscaledDecimal128Artithmetic)
I thought that my local branch might need to be updated. After fetching latest changes from presto/master branch, I still have these errors. Do you have any